Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @dimberman, @jedcunningham, @mik-laj, @vikramkoka, @ephraimbuddy, @ryanahamilton, @jhtimmins, @uranusjr, @potiuk

[WIP](plugins): 添加默认数据的插件
  plugins/default_data/__init__.py
  plugins/default_data/create_default_data.py
  plugins/default_data/default_controllers.csv
  plugins/default_data/default_users.csv
Owners: none

Apply suggestions from code review
  airflow/models/baseoperator.py
Owners: @kaxil, @XD-DENG, @ashb, @turbaszek

Enable "Rebase and merge" button on PRs.
  .asf.yaml
Owners: none

Add Python 3.9 support (#15515)
  BREEZE.rst
  CI.rst
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  LOCAL_VIRTUALENV.rst
  PULL_REQUEST_WORKFLOW.rst
  README.md
  airflow/__init__.py
  airflow/provider.yaml.schema.json
  airflow/providers/apache/hive/provider.yaml
  breeze
  breeze-complete
  dev/provider_packages/PROVIDER_README_TEMPLATE.rst.jinja2
  dev/provider_packages/SETUP_TEMPLATE.py.jinja2
  dev/provider_packages/prepare_provider_packages.py
  dev/retag_docker_images.py
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/selective_ci_checks.sh
  scripts/ci/tools/ci_fix_ownership.sh
  scripts/ci/tools/prepare_prod_docker_images.sh
  setup.cfg
  tests/bats/breeze/test_breeze_complete.bats
  tests/plugins/test_plugins_manager.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/providers/apache/hive/transfers/test_hive_to_mysql.py
  tests/providers/apache/hive/transfers/test_hive_to_samba.py
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
  tests/providers/apache/hive/transfers/test_mysql_to_hive.py
  tests/providers/elasticsearch/log/elasticmock/fake_elasticsearch.py
  tests/sensors/test_base.py
  tests/sensors/test_smart_sensor_operator.py
Owners: @potiuk, @ashb, @kaxil

Update constraints for Python 3.9
  constraints-3.9.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.9.txt
Owners: none

Add Apache Drill provider.
  INSTALL
  airflow/providers/apache/drill/CHANGELOG.rst
  airflow/providers/apache/drill/__init__.py
  airflow/providers/apache/drill/hooks/drill.py
  airflow/providers/apache/drill/operators/__init__.py
  airflow/providers/apache/drill/operators/drill.py
  airflow/providers/apache/drill/provider.yaml
  airflow/ui/src/views/Docs.tsx
  airflow/utils/db.py
  docs/apache-airflow/extra-packages-ref.rst
  docs/integration-logos/apache/drill.png
  setup.py
  tests/providers/apache/drill/__init__.py
  tests/providers/apache/drill/hooks/__init__.py
  tests/providers/apache/drill/hooks/test_drill.py
  tests/providers/apache/drill/operators/__init__.py
  tests/providers/apache/drill/operators/test_drill.py
Owners: @ryanahamilton, @ashb, @kaxil, @mik-laj, @vikramkoka

Add Python 3.9 support (#15515) (#16883)
  BREEZE.rst
  CI.rst
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  LOCAL_VIRTUALENV.rst
  PULL_REQUEST_WORKFLOW.rst
  README.md
  airflow/__init__.py
  airflow/provider.yaml.schema.json
  airflow/providers/apache/hive/provider.yaml
  breeze
  breeze-complete
  dev/provider_packages/PROVIDER_README_TEMPLATE.rst.jinja2
  dev/provider_packages/SETUP_TEMPLATE.py.jinja2
  dev/provider_packages/prepare_provider_packages.py
  dev/retag_docker_images.py
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/selective_ci_checks.sh
  scripts/ci/tools/ci_fix_ownership.sh
  scripts/ci/tools/prepare_prod_docker_images.sh
  setup.cfg
  tests/bats/breeze/test_breeze_complete.bats
  tests/plugins/test_plugins_manager.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/providers/apache/hive/transfers/test_hive_to_mysql.py
  tests/providers/apache/hive/transfers/test_hive_to_samba.py
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
  tests/providers/apache/hive/transfers/test_mysql_to_hive.py
  tests/providers/elasticsearch/log/elasticmock/fake_elasticsearch.py
  tests/sensors/test_base.py
  tests/sensors/test_smart_sensor_operator.py
Owners: @potiuk, @ashb, @kaxil

Add docs skeletons.
  docs/apache-airflow-providers-apache-drill/commits.rst
  docs/apache-airflow-providers-apache-drill/index.rst
  docs/conf.py
Owners: @mik-laj, @vikramkoka, @kaxil

Fix bug that log can't be shown when task runs failed
  airflow/dag_processing/processor.py
  tests/dag_processing/test_processor.py
Owners: none

Update airflow/configuration.py
  airflow/configuration.py
Owners: none

Prevent Redis access directly from host
  docs/apache-airflow/start/docker-compose.yaml
Owners: @kaxil

alter ports to expose
  docs/apache-airflow/start/docker-compose.yaml
Owners: @kaxil

Add Python 3.9 support (#15515) (#16883)
  BREEZE.rst
  CI.rst
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  LOCAL_VIRTUALENV.rst
  PULL_REQUEST_WORKFLOW.rst
  README.md
  airflow/__init__.py
  airflow/provider.yaml.schema.json
  airflow/providers/apache/hive/provider.yaml
  breeze
  breeze-complete
  dev/provider_packages/PROVIDER_README_TEMPLATE.rst.jinja2
  dev/provider_packages/SETUP_TEMPLATE.py.jinja2
  dev/provider_packages/prepare_provider_packages.py
  dev/retag_docker_images.py
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/selective_ci_checks.sh
  scripts/ci/tools/ci_fix_ownership.sh
  scripts/ci/tools/prepare_prod_docker_images.sh
  setup.cfg
  tests/bats/breeze/test_breeze_complete.bats
  tests/plugins/test_plugins_manager.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/providers/apache/hive/transfers/test_hive_to_mysql.py
  tests/providers/apache/hive/transfers/test_hive_to_samba.py
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
  tests/providers/apache/hive/transfers/test_mysql_to_hive.py
  tests/providers/elasticsearch/log/elasticmock/fake_elasticsearch.py
  tests/sensors/test_base.py
  tests/sensors/test_smart_sensor_operator.py
Owners: @potiuk, @ashb, @kaxil

Introduce compat shim airflow.compat.functools (#15969)
  airflow/cli/commands/connection_command.py
  airflow/cli/commands/kubernetes_command.py
  airflow/cli/simple_table.py
  airflow/compat/__init__.py
  airflow/compat/functools.py
  airflow/configuration.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/refresh_config.py
  airflow/models/baseoperator.py
  airflow/operators/bash.py
  airflow/operators/sql.py
  airflow/providers_manager.py
  airflow/secrets/local_filesystem.py
  airflow/utils/log/log_reader.py
  airflow/utils/log/secrets_masker.py
  airflow/utils/yaml.py
  airflow/www/views.py
Owners: @dimberman, @kaxil, @XD-DENG, @ashb, @turbaszek, @ryanahamilton

Add recursive flag to glob in FileSensor
  airflow/sensors/filesystem.py
Owners: none

Change the logic of None comparison in model_list template
  airflow/www/templates/airflow/model_list.html
Owners: @ryanahamilton, @ashb

Add test for matching wildcard glob directory
  tests/sensors/test_filesystem.py
Owners: none

Initial commit
  airflow/providers/amazon/aws/transfers/salesforce_to_s3.py
Owners: none

Fixing typos in GlacierToGCSOperator documentation
  docs/apache-airflow-providers-amazon/operators/transfer/glacier_to_gcs.rst
Owners: @mik-laj, @vikramkoka

Fixing static check errors
  CONTRIBUTING.rst
  airflow/providers/amazon/aws/transfers/salesforce_to_s3.py
  airflow/providers/dependencies.json
Owners: none

Adding example DAG for SalesforceToS3Operator use
  airflow/providers/amazon/aws/example_dags/example_salesforce_to_s3.py
Owners: none

Removing S3ToSnowflakeOperator task from example DAG
  airflow/providers/amazon/aws/example_dags/example_salesforce_to_s3.py
Owners: none

Fixing flake8 static check errors in example DAG
  airflow/providers/amazon/aws/example_dags/example_salesforce_to_s3.py
Owners: none

[FEAT](plugins): 将基础数据移动到新的仓库，通过submodule添加到plugin中
  .gitmodules
  airflow/utils/create_default_user.py
  airflow/utils/db.py
  plugins/default_data/create_default_data.py
  plugins/default_data/default_controllers.csv
  plugins/default_data/default_users.csv
  plugins/factory_code/__init__.py
  plugins/factory_code/factory_code.py
Owners: none

add test_backfill_rerun_succeeded_tasks in test_backfill_job.py
  tests/jobs/test_backfill_job.py
Owners: none

Fixed Tableau connection with ssl mode.
  airflow/providers/tableau/hooks/tableau.py
Owners: none

Implemented the possibility to add verify and cert parameters in extra option in Tableau Hook.
  airflow/providers/tableau/hooks/tableau.py
Owners: none

Added conversion from string to bool for verify parameter.
  airflow/providers/tableau/hooks/tableau.py
Owners: none

Updated documentation for Tableau connection.
  docs/apache-airflow-providers-tableau/connections/tableau.rst
Owners: @mik-laj, @vikramkoka

Precommit modifications.
  airflow/providers/tableau/hooks/tableau.py
  tests/providers/tableau/hooks/test_tableau.py
Owners: none

Covered connection test with SSL parameter.
  tests/providers/tableau/hooks/test_tableau.py
Owners: none

Updated test for provider Tableau Hook to adapt them to the new changes.
  tests/providers/tableau/hooks/test_tableau.py
Owners: none

Updated Tableau hook test.
  tests/providers/tableau/hooks/test_tableau.py
Owners: none

Restored site_id field in tableau hook.
  airflow/providers/tableau/hooks/tableau.py
Owners: none

Added the name of the parameter in function call for better code readability.
  airflow/providers/tableau/hooks/tableau.py
Owners: none

Fixed bug for Sqoop Hook, now it generated the connection string to myssql server correctly.
  airflow/providers/apache/sqoop/hooks/sqoop.py
Owners: none

Added schema parameter to Sqoop Operator and Hook.
  airflow/providers/apache/sqoop/hooks/sqoop.py
  airflow/providers/apache/sqoop/operators/sqoop.py
Owners: none

Fixed bug for schema parameter in Sqoop Operator.
  airflow/providers/apache/sqoop/operators/sqoop.py
Owners: none

Removed schema argument from import_query function.
  airflow/providers/apache/sqoop/operators/sqoop.py
Owners: none

Removed schema from import_query function.
  airflow/providers/apache/sqoop/hooks/sqoop.py
Owners: none

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @turbaszek
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb @turbaszek

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# Kubernetes
/airflow/kubernetes/ @dimberman
/airflow/kubernetes_executor_templates/ @dimberman
/airflow/executors/celery_kubernetes_executor.py @dimberman

# Helm Chart
/chart/ @dimberman @ashb @kaxil @jedcunningham


# Docs
/docs/ @mik-laj @vikramkoka

# Docs (without Providers)
/docs/apache-airflow @kaxil
/docs/docker-stack @kaxil
/docs/helm-chart @kaxil @jedcunningham
/docs/*.py @kaxil

# API
/airflow/api/ @mik-laj @kaxil
/airflow/api_connexion/ @mik-laj @kaxil @ephraimbuddy

# UI
/airflow/ui/ @ryanahamilton @ashb

# WWW
/airflow/www/ @ryanahamilton @ashb

# Security/Permissions
/airflow/security/permissions.py @jhtimmins
/airflow/www/security.py @jhtimmins
/airflow/api_connexion/security.py @jhtimmins

# Calendar/Timetables
/airflow/timetables/ @uranusjr

# Providers
/airflow/providers/google/ @turbaszek
/airflow/providers/snowflake/ @turbaszek @potiuk @mik-laj

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @kaxil
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb
