Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @XD-DENG, @ashb, @o-nikolas, @pierrejeambrun, @hussein-awala, @bolkedebruin, @jedcunningham, @ephraimbuddy, @dstandish, @potiuk, @ryanahamilton, @bbovenzi, @jscheffl, @vincbeck, @uranusjr, @eladkal, @josh-fell, @mobuchowski, @mik-laj, @Fokko, @kaxil

Split dag bundle tests into separate files (#46540)
  tests/dag_processing/bundles/test_base.py
  tests/dag_processing/bundles/test_git.py
  tests/dag_processing/bundles/test_local.py
Owners: none

Switched from ObservableGauge to sync Gauge metric export (#46510)
  airflow/metrics/otel_logger.py
  tests/core/test_otel_logger.py
Owners: none

Update system test `test_aws_auth_manager` (#46531)
  providers/tests/amazon/aws/auth_manager/test_aws_auth_manager.py
  providers/tests/system/amazon/aws/tests/test_aws_auth_manager.py
Owners: none

fix(task_sdk): add missing type column to TIRuntimeCheckPayload (#46509)
  airflow/api_fastapi/execution_api/datamodels/taskinstance.py
Owners: @ephraimbuddy, @pierrejeambrun

Fix pre-mature evaluation of tasks in mapped task group (#40460)
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/models/test_mappedoperator.py
Owners: none

add expected_return_code parameter to WinRMOperator (#46534)
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/operators/winrm.py
  providers/microsoft/winrm/tests/provider_tests/microsoft/winrm/operators/test_winrm.py
Owners: none

Fix system test `test_aws_auth_manager` (#46560)
  providers/tests/system/amazon/aws/tests/test_aws_auth_manager.py
Owners: none

Move smtp provider to the new structure (#46556)
  .github/boring-cyborg.yml
  docs/.gitignore
  docs/apache-airflow-providers-smtp/changelog.rst
  providers/smtp/README.rst
  providers/smtp/docs/.latest-doc-only-change.txt
  providers/smtp/docs/changelog.rst
  providers/smtp/docs/commits.rst
  providers/smtp/docs/configurations-ref.rst
  providers/smtp/docs/connections/smtp.rst
  providers/smtp/docs/index.rst
  providers/smtp/docs/installing-providers-from-sources.rst
  providers/smtp/docs/integration-logos/SMTP.png
  providers/smtp/docs/notifications/smtp_notifier_howto_guide.rst
  providers/smtp/docs/security.rst
  providers/smtp/provider.yaml
  providers/smtp/pyproject.toml
  providers/smtp/src/airflow/providers/smtp/LICENSE
  providers/smtp/src/airflow/providers/smtp/__init__.py
  providers/smtp/src/airflow/providers/smtp/get_provider_info.py
  providers/smtp/src/airflow/providers/smtp/hooks/__init__.py
  providers/smtp/src/airflow/providers/smtp/hooks/smtp.py
  providers/smtp/src/airflow/providers/smtp/notifications/__init__.py
  providers/smtp/src/airflow/providers/smtp/notifications/smtp.py
  providers/smtp/src/airflow/providers/smtp/notifications/templates/__init__.py
  providers/smtp/src/airflow/providers/smtp/notifications/templates/email.html
  providers/smtp/src/airflow/providers/smtp/notifications/templates/email_subject.jinja2
  providers/smtp/src/airflow/providers/smtp/operators/__init__.py
  providers/smtp/src/airflow/providers/smtp/operators/smtp.py
  providers/smtp/tests/conftest.py
  providers/smtp/tests/provider_tests/__init__.py
  providers/smtp/tests/provider_tests/smtp/__init__.py
  providers/smtp/tests/provider_tests/smtp/hooks/__init__.py
  providers/smtp/tests/provider_tests/smtp/hooks/test_smtp.py
  providers/smtp/tests/provider_tests/smtp/notifications/__init__.py
  providers/smtp/tests/provider_tests/smtp/notifications/test_smtp.py
  providers/smtp/tests/provider_tests/smtp/operators/__init__.py
  providers/smtp/tests/provider_tests/smtp/operators/test_smtp.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
Owners: @hussein-awala, @potiuk, @ashb

Adapt Asana Provider to Asana Client >=5.0.0 (#46553)
  dev/breeze/tests/test_packages.py
  generated/provider_dependencies.json
  providers/asana/README.rst
  providers/asana/pyproject.toml
  providers/asana/src/airflow/providers/asana/get_provider_info.py
  providers/asana/src/airflow/providers/asana/hooks/asana.py
  providers/asana/tests/provider_tests/asana/hooks/test_asana.py
  providers/asana/tests/provider_tests/asana/operators/test_asana_tasks.py
Owners: @potiuk, @ashb, @jedcunningham

Fix some dag card ux bugs (#46530)
  airflow/ui/src/components/TogglePause.tsx
  airflow/ui/src/pages/DagsList/Schedule.tsx
  airflow/ui/src/utils/query.ts
Owners: @bbovenzi, @pierrejeambrun, @ryanahamilton, @jscheffl

AIP-83 amendment -- update backfill (#46248)
  airflow/models/backfill.py
Owners: @XD-DENG, @ashb

Use factory for dag_file_processor_timeout in DagFileProcessorManager (#46541)
  airflow/cli/commands/local_commands/dag_processor_command.py
Owners: none

refactor(utils/decorators): rewrite remove task decorator to use cst (#43383)
  airflow/utils/decorators.py
  hatch_build.py
  providers/standard/tests/provider_tests/standard/utils/test_python_virtualenv.py
  tests/utils/test_preexisting_python_virtualenv_decorator.py
Owners: none

fix: kpo async kube_config_path (#45571)
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  providers/cncf/kubernetes/tests/provider_tests/cncf/kubernetes/hooks/test_kubernetes.py
Owners: @jedcunningham, @hussein-awala

Add warning message in simple auth manager: dev only auth manager (#46564)
  airflow/auth/managers/simple/ui/src/login/Login.tsx
Owners: none

AIP-38 JWT Flow in the UI (#46558)
  airflow/ui/src/layouts/BaseLayout.test.tsx
  airflow/ui/src/layouts/BaseLayout.tsx
  airflow/ui/src/main.tsx
Owners: @bbovenzi, @pierrejeambrun, @ryanahamilton, @jscheffl

AIP-38 Reword Run Trigger Section (#46559)
  airflow/ui/src/pages/Run/Details.tsx
Owners: @bbovenzi, @pierrejeambrun, @ryanahamilton, @jscheffl

Refactor dag processor for code clarity (#46443)
  airflow/dag_processing/manager.py
  airflow/models/dag.py
  tests/dag_processing/test_manager.py
  tests/models/test_dag.py
Owners: @jedcunningham, @ephraimbuddy, @XD-DENG, @ashb

AIP84- Log user actions for DAGRUN endpoints (#46177)
  airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow/api_fastapi/logging/decorators.py
  tests/api_fastapi/core_api/routes/public/test_dag_run.py
Owners: @ephraimbuddy, @pierrejeambrun

fix: Dataproc operators fail to import without OpenLineage (#46561)
  providers/google/src/airflow/providers/google/cloud/openlineage/facets.py
  providers/google/src/airflow/providers/google/cloud/openlineage/mixins.py
  providers/google/src/airflow/providers/google/cloud/openlineage/utils.py
  providers/google/src/airflow/providers/google/cloud/operators/dataproc.py
  providers/google/tests/provider_tests/google/cloud/openlineage/test_facets.py
  providers/google/tests/provider_tests/google/cloud/openlineage/test_mixins.py
Owners: none

Increase retries in `EmrContainerHook.create_emr_on_eks_cluster` (#46562)
  providers/src/airflow/providers/amazon/aws/hooks/emr.py
Owners: none

Fix `compile-ui-assets` to not exit after generating main UI assets (#46567)
  scripts/ci/pre_commit/compile_ui_assets.py
Owners: @potiuk, @ashb

Allow passing more then one `--bundle-name` to reserialize command (#46571)
  airflow/cli/cli_config.py
  airflow/cli/commands/remote_commands/dag_command.py
  airflow/utils/cli.py
  tests/cli/commands/remote_commands/test_dag_command.py
  tests/conftest.py
  tests/utils/test_cli_util.py
Owners: none

.github/CODEOWNERS:

# Core
/airflow/executors/ @XD-DENG @ashb @o-nikolas @pierrejeambrun @hussein-awala
/airflow/jobs/ @ashb @XD-DENG
/airflow/models/ @XD-DENG @ashb

# DAG Serialization
/airflow/serialization/ @ashb @bolkedebruin

# DAG Parsing
/airflow/dag_processing @jedcunningham @ephraimbuddy

# Kubernetes
/airflow/kubernetes/ @dstandish @jedcunningham
/providers/cncf/kubernetes/ @dstandish @jedcunningham

# Helm Chart
/chart/ @dstandish @jedcunningham @hussein-awala

# Docs (without Providers)
/docs/*.py @potiuk
/docs/apache-airflow @potiuk
/docs/docker-stack @potiuk
/docs/helm-chart @dstandish @jedcunningham

# API
/airflow/api/ @ephraimbuddy @pierrejeambrun
/airflow/api_connexion/ @ephraimbuddy @pierrejeambrun
/airflow/api_fastapi/ @ephraimbuddy @pierrejeambrun

# WWW
/airflow/www/ @ryanahamilton @ashb @bbovenzi @pierrejeambrun @jscheffl

# UI
/airflow/ui/ @bbovenzi @pierrejeambrun @ryanahamilton @jscheffl

# Security/Permissions
/airflow/api_connexion/security.py @vincbeck
/airflow/security/permissions.py @vincbeck
/airflow/www/security.py @vincbeck

# Calendar/Timetables
/airflow/timetables/ @uranusjr
/docs/apache-airflow/concepts/timetable.rst @uranusjr

# Task expansion, scheduling, and rendering
/airflow/models/abstractoperator.py @uranusjr
/airflow/models/baseoperator.py @uranusjr
/airflow/models/expandinput.py @uranusjr
/airflow/models/mappedoperator.py @uranusjr
/airflow/models/operator.py @uranusjr
/airflow/models/xcom_arg.py @uranusjr
/docs/apache-airflow/concepts/dynamic-task-mapping.rst @uranusjr

# Async Operators & Triggerer
/airflow/cli/commands/triggerer_command.py @dstandish @hussein-awala
/airflow/jobs/triggerer_job.py @dstandish @hussein-awala
/airflow/models/trigger.py @dstandish @hussein-awala
/docs/apache-airflow/concepts/deferring.rst @dstandish @hussein-awala

# Secrets Backends
/airflow/secrets  @dstandish @potiuk @ashb

# Providers
/providers/amazon/ @eladkal @o-nikolas
/providers/celery/ @hussein-awala
/providers/cncf/kubernetes @jedcunningham @hussein-awala
/providers/common/sql/ @eladkal
/providers/dbt/cloud/ @josh-fell
/providers/edge @jscheffl
/providers/hashicorp/ @hussein-awala
/providers/openlineage/ @mobuchowski
/providers/slack/ @eladkal
/providers/smtp/ @hussein-awala
/providers/snowflake/ @potiuk @mik-laj
/providers/apache/iceberg/ @Fokko

# Dev tools
/.github/workflows/ @potiuk @ashb
/dev/ @potiuk @ashb @jedcunningham
/docker_tests/ @potiuk @ashb
/scripts/ @potiuk @ashb
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb

# Releasing Guides & Project Guidelines
/dev/PROJECT_GUIDELINES.md  @kaxil
/dev/PROVIDER_PACKAGE_DETAILS.md  @eladkal
/dev/README.md  @kaxil
/dev/README_RELEASE_*.md  @kaxil @pierrejeambrun
/dev/README_RELEASE_PROVIDER_PACKAGES.md  @eladkal
ISSUE_TRIAGE_PROCESS.rst @eladkal

# AIP-52 - Setup and Teardown
/airflow/decorators/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish
/airflow/example_dags/example_setup_teardown*.py @jedcunningham @ephraimbuddy @dstandish
/airflow/utils/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish

# AIP-58 - Object Storage
/airflow/io/ @bolkedebruin
/providers/**/fs/ @bolkedebruin
/providers/common/io/ @bolkedebruin
/docs/apache-airflow/core-concepts/objectstorage.rst @bolkedebruin

# Migrations
/airflow/migrations/ @ephraimbuddy
/providers/fab/migrations/ @ephraimbuddy
