Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @dimberman, @mik-laj, @vikramkoka, @ephraimbuddy, @ryanahamilton, @jhtimmins, @potiuk

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @turbaszek
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb @turbaszek

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# Kubernetes
/airflow/kubernetes/ @dimberman
/airflow/kubernetes_executor_templates/ @dimberman
/airflow/executors/celery_kubernetes_executor.py @dimberman

# Helm Chart
/chart/ @dimberman @ashb @kaxil


# Docs
/docs/ @mik-laj @vikramkoka

# Docs (without Providers)
/docs/apache-airflow @kaxil
/docs/docker-stack @kaxil
/docs/helm-chart @kaxil
/docs/*.py @kaxil

# API
/airflow/api/ @mik-laj @kaxil
/airflow/api_connexion/ @mik-laj @kaxil @ephraimbuddy

# UI
/airflow/ui/ @ryanahamilton @ashb

# WWW
/airflow/www/ @ryanahamilton @ashb

# Security/Permissions
/airflow/security/permissions.py @jhtimmins
/airflow/www/security.py @jhtimmins
/airflow/api_connexion/security.py @jhtimmins

# Providers
/airflow/providers/google/ @turbaszek
/airflow/providers/snowflake/ @turbaszek @potiuk @mik-laj

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @kaxil
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb

sync branch with master
  CONTRIBUTING.rst
  INSTALL
Owners: none

Quote type to avoid triggering typo detection
  airflow/models/dag.py
Owners: @kaxil, @XD-DENG, @ashb, @turbaszek

Change 2.0.1 to 2.0.2 in docs
  BREEZE.rst
  Dockerfile
  README.md
  breeze-complete
  docs/apache-airflow/extra-packages-ref.rst
  docs/apache-airflow/installation.rst
  docs/apache-airflow/start/local.rst
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/build.rst
  docs/docker-stack/docker-examples/customizing/add-build-essential-custom.sh
  docs/docker-stack/docker-examples/customizing/custom-sources.sh
  docs/docker-stack/docker-examples/customizing/pypi-dev-runtime-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-extras-and-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-selected-version.sh
  docs/docker-stack/docker-examples/extending/add-apt-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-build-essential-extend/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/embedding-dags/Dockerfile
  docs/docker-stack/docker-examples/extending/writable-directory/Dockerfile
  docs/docker-stack/docker-examples/restricted/restricted_environments.sh
  docs/docker-stack/recipes.rst
  docs/helm-chart/manage-dags-files.rst
Owners: @potiuk, @ashb, @kaxil

Permission guard templated field rendering
  airflow/security/permissions.py
  airflow/www/security.py
  airflow/www/views.py
Owners: @jhtimmins, @ryanahamilton, @ashb

Fix typo in DataprocCreateClusterOperator
  airflow/providers/google/cloud/operators/dataproc.py
Owners: @turbaszek

Skip DAG perm sync during parsing if possible
  airflow/models/dagbag.py
  airflow/security/permissions.py
  airflow/www/security.py
  tests/models/test_dagbag.py
  tests/test_utils/permissions.py
Owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @jhtimmins

Fix deprecated provider aliases
  setup.py
Owners: none

Update sql.py
  airflow/sensors/sql.py
Owners: none

Make time table a cached property
  airflow/models/dag.py
Owners: @kaxil, @XD-DENG, @ashb, @turbaszek

Move coerce_datetime to airflow.utils.timezone
  airflow/models/dag.py
  airflow/utils/timezone.py
Owners: @kaxil, @XD-DENG, @ashb, @turbaszek

Don't call a module utils :p
  airflow/models/dag.py
  airflow/timetables/base.py
  airflow/timetables/interval.py
  airflow/timetables/schedules.py
  airflow/timetables/simple.py
Owners: @kaxil, @XD-DENG, @ashb, @turbaszek
