Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @dimberman, @mik-laj, @vikramkoka, @ephraimbuddy, @ryanahamilton, @potiuk

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @turbaszek
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb @turbaszek

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# Kubernetes
/airflow/kubernetes/ @dimberman
/airflow/kubernetes_executor_templates/ @dimberman
/airflow/executors/celery_kubernetes_executor.py @dimberman
/chart/ @dimberman @ashb

# Docs
/docs/ @mik-laj @kaxil @vikramkoka

# API
/airflow/api/ @mik-laj @kaxil
/airflow/api_connexion/ @mik-laj @kaxil @ephraimbuddy

# WWW
/airflow/www/ @ryanahamilton @ashb

# Providers
/airflow/providers/google/ @turbaszek @mik-laj
/airflow/providers/snowflake @turbaszek @potiuk

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @kaxil
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb

remove duplicate section Guides from JDBC doc
  docs/apache-airflow-providers-jdbc/index.rst
Owners: @mik-laj, @kaxil, @vikramkoka

correct to do_xcom_push arg in concept page
  docs/apache-airflow/concepts.rst
Owners: @mik-laj, @kaxil, @vikramkoka

correct filepath and some cmds from TESTING.rst unit testings
  TESTING.rst
Owners: none

correct small identent
  TESTING.rst
Owners: none

add init file for example dags
  airflow/providers/airbyte/example_dags/__init__.py
Owners: none

Fix functionality of demo mode, refactor/simplify naming
  airflow/www/extensions/init_jinja_globals.py
  airflow/www/static/css/dag-code.css
  airflow/www/static/css/main.css
  airflow/www/static/js/dag_code.js
  airflow/www/static/js/tree.js
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dag_code.html
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/tree.html
  airflow/www/views.py
  airflow/www/webpack.config.js
Owners: @ryanahamilton, @ashb

Drop third-party lazy proxy.
  Dockerfile.ci
  airflow/models/taskinstance.py
  airflow/operators/python.py
  airflow/utils/proxy.py
  airflow/www/views.py
  docs/apache-airflow/howto/operator/python.rst
  setup.cfg
Owners: @potiuk, @ashb, @kaxil, @XD-DENG, @turbaszek, @ryanahamilton, @mik-laj, @vikramkoka

move mesos_executor under providers
  airflow/executors/mesos_executor.py
Owners: @kaxil, @XD-DENG, @ashb, @turbaszek

remove empty default values
  airflow/config_templates/default_test.cfg
  tests/executors/test_mesos_executor.py
Owners: none

correct example_dag
  airflow/providers/airbyte/example_dags/example_airbyte_trigger_job.py
Owners: none

correct path import DAG
  airflow/providers/airbyte/example_dags/example_airbyte_trigger_job.py
Owners: none

correct misspelled in docs
  docs/apache-airflow-providers-airbyte/connections.rst
Owners: @mik-laj, @kaxil, @vikramkoka

add more info in connections howto
  docs/apache-airflow-providers-airbyte/connections.rst
Owners: @mik-laj, @kaxil, @vikramkoka

fixup! Restore correct terminal with to interactive breeze usage
  breeze
Owners: @potiuk

Restore correct terminal with to interactive breeze usage
  breeze
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
Owners: @potiuk, @ashb

move mesos_executorer to providers
  airflow/providers/apache/mesos/executors/mesos_executor.py
Owners: none

Fixes failing test_views tests.
  tests/www/test_views.py
Owners: none

Remove redundant step in CodeQL GitHub Actions step
  .github/workflows/codeql-analysis.yml
Owners: @potiuk, @ashb, @kaxil

version is .affirm1
  airflow/version.py
Owners: none

Add links to 2.0 Blog post in Changelog
  CHANGELOG.txt
Owners: none

Use built-in `cached_property` on Python 3.8 where possible
  Dockerfile.ci
  airflow/models/baseoperator.py
  airflow/operators/bash.py
  airflow/operators/sql.py
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/glue_crawler.py
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/glue_crawler.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/secrets/systems_manager.py
  airflow/providers/amazon/aws/sensors/athena.py
  airflow/providers/amazon/aws/sensors/s3_keys_unchanged.py
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/facebook/ads/hooks/ads.py
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/cloud/_internal_client/secret_manager_client.py
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/hooks/vision.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/google/cloud/secrets/secret_manager.py
  airflow/providers/hashicorp/_internal_client/vault_client.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/providers/microsoft/azure/secrets/azure_key_vault.py
  airflow/utils/log/log_reader.py
  setup.cfg
Owners: @potiuk, @ashb, @kaxil, @XD-DENG, @turbaszek, @mik-laj

Updating constraints. Build id:621389598
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-no-providers-3.6.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
Owners: none

Fix docstrings for Kubernetes code
  airflow/kubernetes/pod_generator.py
  airflow/utils/db.py
  tests/executors/test_kubernetes_executor.py
Owners: @dimberman

Use libyaml C library when available.
  airflow/cli/commands/connection_command.py
  airflow/cli/commands/kubernetes_command.py
  airflow/cli/simple_table.py
  airflow/configuration.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/refresh_config.py
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/google/cloud/operators/cloud_build.py
  airflow/providers_manager.py
  airflow/secrets/local_filesystem.py
  airflow/utils/yaml.py
  airflow/www/views.py
  dev/provider_packages/copy_provider_package_sources.py
  dev/provider_packages/prepare_provider_packages.py
  docs/conf.py
  docs/exts/docs_build/lint_checks.py
  docs/exts/provider_yaml_utils.py
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names.py
  scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py
Owners: @dimberman, @turbaszek, @mik-laj, @ryanahamilton, @ashb, @potiuk, @kaxil, @vikramkoka

Bump Redoc to resolve vulnerability in sub-dependency
  airflow/www/package.json
  airflow/www/yarn.lock
Owners: @ryanahamilton, @ashb

Remove duplicate dependecies
  airflow/www/package.json
Owners: @ryanahamilton, @ashb

add mesos reconcile
  airflow/providers/apache/mesos/executors/mesos_executor.py
Owners: none

add __init_ file removed by mistake
  airflow/__init__.py
Owners: none

add content of __init__ file
  airflow/__init__.py
Owners: none

correct arg name in docstring
  airflow/providers/airbyte/sensors/airbyte.py
Owners: none

Added test case
  tests/providers/apache/druid/operators/test_druid.py
Owners: none

Update druid tests
  tests/providers/apache/druid/operators/test_druid.py
Owners: none

Default to Celery Task model when backend-configured model does not exist
  airflow/executors/celery_executor.py
Owners: @kaxil, @XD-DENG, @ashb, @turbaszek

Allow function wrappers for @task operator
  airflow/operators/python.py
  docs/apache-airflow/tutorial_taskflow_api.rst
  tests/operators/test_python.py
Owners: @mik-laj, @kaxil, @vikramkoka

chore: remove duplicate words
  tests/jobs/test_scheduler_job.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Owners: none

fix docs
  airflow/operators/python.py
  docs/apache-airflow/tutorial_taskflow_api.rst
Owners: @mik-laj, @kaxil, @vikramkoka

fix no --log-out option in script
  breeze
Owners: @potiuk

fix taskInstance call fails if a task is removed from running DAG
  airflow/api_connexion/openapi/v1.yaml
  airflow/utils/state.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Owners: @mik-laj, @kaxil, @ephraimbuddy

Do not suppress error in airflow plugins cli
  airflow/cli/commands/plugins_command.py
  airflow/plugins_manager.py
  airflow/utils/cli.py
Owners: none

add continue after retry error
  airflow/providers/airbyte/hooks/airbyte.py
Owners: none
