Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @dimberman, @mik-laj, @vikramkoka, @ephraimbuddy, @ryanahamilton, @potiuk

Update CONTRIBUTORS_QUICK_START.rst
  CONTRIBUTORS_QUICK_START.rst
Owners: none

Update UPDATING.md
  UPDATING.md
Owners: none

fix: requested changes
  CONTRIBUTORS_QUICK_START.rst
  README.md
Owners: none

fix: Python
  CHANGELOG.txt
Owners: none

fix: Python
  CI.rst
Owners: none

fix: Python
  IMAGES.rst
Owners: none

Added lastest version of constraints for v2_0_test branch
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-no-providers-3.6.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-source-providers-3.6.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
Owners: none

[IMP] (lint): FIX sonarlint 关于exception没有制定具体类型的问题
  airflow/entities/result_mq.py
  airflow/utils/curve.py
Owners: none

[ADD] (data storage) 增加临港的数据初始化入口
  airflow/utils/db.py
Owners: none

[ADD] (kafka consumer) add kafaka consumer for do consume tightening result
  airflow/entities/__init__.py
  airflow/entities/kafka_consumer.py
  airflow/utils/curve.py
  airflow/utils/db.py
  requirements.txt
  setup.py
Owners: none

fix flower localhost port in Running Airflow in Docker document
  docs/apache-airflow/start/docker.rst
Owners: @mik-laj, @kaxil, @vikramkoka

[FIX] (SPC) 修复SPC 计算cpk时候，传递的第一个结果,参数中最大最小值为空的问题
  airflow/utils/misc.py
  airflow/www_rbac/api/experimental/endpoints.py
Owners: none

docs: pod_mutation_hook sample adjusted to new API
  docs/apache-airflow/kubernetes.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Implements generation of separate constraints for core and providers (#14227)
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  BREEZE.rst
  CONTRIBUTING.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  INSTALL
  breeze
  breeze-complete
  docs/apache-airflow/extra-packages-ref.rst
  docs/apache-airflow/installation.rst
  scripts/ci/docker-compose/_docker.env
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  scripts/ci/pre_commit/pre_commit_check_order_setup.py
  scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  scripts/ci/static_checks/run_basic_static_checks.sh
  scripts/ci/static_checks/run_static_checks.sh
  scripts/docker/compile_www_assets.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_from_latest_master.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_mysql.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_generate_constraints.sh
  setup.py
Owners: @potiuk, @ashb, @kaxil, @mik-laj, @vikramkoka

Easy switching between GitHub Container Registries (#14120)
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  .github/workflows/scheduled_quarantined.yml
  CI.rst
  IMAGES.rst
  scripts/ci/images/ci_wait_for_all_prod_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
Owners: @potiuk, @ashb, @kaxil

Adds --dry-run-docker flag to just print the docker commands (#14468)
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_verbosity.sh
Owners: @potiuk, @ashb

Disable health checks for ad-hoc containers (#14536)
  docs/apache-airflow/production-deployment.rst
  docs/apache-airflow/start/airflow.sh
  scripts/in_container/prod/entrypoint_prod.sh
Owners: @mik-laj, @kaxil, @vikramkoka, @potiuk, @ashb

Log all breeze output to a file automatically (#14470)
  BREEZE.rst
  breeze
Owners: @potiuk

Upgrade slack_sdk to v3 (#13745)
  airflow/providers/slack/ADDITIONAL_INFO.md
  airflow/providers/slack/BACKPORT_PROVIDER_README.md
  airflow/providers/slack/README.md
  airflow/providers/slack/hooks/slack.py
  docs/conf.py
  docs/spelling_wordlist.txt
  scripts/ci/libraries/_verify_image.sh
  setup.py
  tests/providers/slack/hooks/test_slack.py
Owners: @mik-laj, @kaxil, @vikramkoka, @potiuk, @ashb

Fix misleading statement on sqlite (#14317)
  docs/apache-airflow/howto/set-up-database.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Fix caching of python images during builds (#14347)
  CI.rst
  breeze
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/selective_ci_checks.sh
Owners: @potiuk, @ashb

Production image can be run as root (#14226)
  scripts/ci/libraries/_verify_image.sh
  scripts/in_container/prod/entrypoint_prod.sh
Owners: @potiuk, @ashb

Pre-commit cache is tied to a specific python version (#14430)
  .github/workflows/ci.yml
Owners: @potiuk, @ashb, @kaxil

Add Neo4j hook and operator (#13324)
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/neo4j/README.md
  airflow/providers/neo4j/__init__.py
  airflow/providers/neo4j/example_dags/__init__.py
  airflow/providers/neo4j/example_dags/example_neo4j.py
  airflow/providers/neo4j/hooks/__init__.py
  airflow/providers/neo4j/hooks/neo4j.py
  airflow/providers/neo4j/operators/__init__.py
  airflow/providers/neo4j/operators/neo4j.py
  airflow/providers/neo4j/provider.yaml
  docs/apache-airflow-providers-neo4j/commits.rst
  docs/apache-airflow-providers-neo4j/connections/neo4j.rst
  docs/apache-airflow-providers-neo4j/index.rst
  docs/apache-airflow-providers-neo4j/operators/neo4j.rst
  docs/apache-airflow/concepts.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/apache-airflow/start/local.rst
  docs/spelling_wordlist.txt
  scripts/in_container/run_install_and_test_provider_packages.sh
  setup.py
  tests/core/test_providers_manager.py
  tests/providers/neo4j/__init__.py
  tests/providers/neo4j/hooks/__init__.py
  tests/providers/neo4j/hooks/test_neo4j.py
  tests/providers/neo4j/operators/__init__.py
  tests/providers/neo4j/operators/test_neo4j.py
Owners: @mik-laj, @kaxil, @vikramkoka, @potiuk, @ashb

Minor doc fixes (#14547)
  docs/apache-airflow/installation.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Correct PostgreSQL password in doc example code (#14256)
  docs/apache-airflow/howto/set-up-database.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Enable LDAP auth in docker-compose.yaml (#14516)
  docs/apache-airflow/start/airflow.sh
  docs/apache-airflow/start/docker-compose.yaml
Owners: @mik-laj, @kaxil, @vikramkoka

Add PATH to basic_static_checks. (#14451)
  scripts/ci/static_checks/run_basic_static_checks.sh
Owners: @potiuk, @ashb

Updates docs to include docker resource requirements for quickstart (#14464)
  docs/apache-airflow/start/docker.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Fix breeze redirect on macOS (#14506)
  breeze
Owners: @potiuk

Fixes date command in breeze build-image to work on MacOS (#14458)
  scripts/ci/libraries/_build_images.sh
Owners: @potiuk, @ashb

Add Apache Beam operators (#12814)
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/apache/beam/BACKPORT_PROVIDER_README.md
  airflow/providers/apache/beam/CHANGELOG.rst
  airflow/providers/apache/beam/README.md
  airflow/providers/apache/beam/__init__.py
  airflow/providers/apache/beam/example_dags/__init__.py
  airflow/providers/apache/beam/example_dags/example_beam.py
  airflow/providers/apache/beam/hooks/__init__.py
  airflow/providers/apache/beam/hooks/beam.py
  airflow/providers/apache/beam/operators/__init__.py
  airflow/providers/apache/beam/operators/beam.py
  airflow/providers/apache/beam/provider.yaml
  airflow/providers/dependencies.json
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  dev/provider_packages/copy_provider_package_sources.py
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow-providers-apache-beam/index.rst
  docs/apache-airflow-providers-apache-beam/operators.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  scripts/in_container/run_install_and_test_provider_packages.sh
  setup.py
  tests/core/test_providers_manager.py
  tests/providers/apache/beam/__init__.py
  tests/providers/apache/beam/hooks/__init__.py
  tests/providers/apache/beam/hooks/test_beam.py
  tests/providers/apache/beam/operators/__init__.py
  tests/providers/apache/beam/operators/test_beam.py
  tests/providers/apache/beam/operators/test_beam_system.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
  tests/providers/google/cloud/operators/test_mlengine_utils.py
Owners: @turbaszek, @mik-laj, @potiuk, @ashb, @kaxil, @vikramkoka

Add better description and guidance in case of sqlite version mismatch (#14209)
  airflow/configuration.py
  docs/apache-airflow/howto/set-up-database.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Use DAG context manager in examples (#13297)
  airflow/example_dags/example_bash_operator.py
  airflow/example_dags/example_branch_operator.py
  airflow/example_dags/example_branch_python_dop_operator_3.py
  airflow/example_dags/example_latest_only.py
  airflow/example_dags/example_latest_only_with_trigger.py
  airflow/example_dags/example_passing_params_via_test_command.py
  airflow/example_dags/example_python_operator.py
  airflow/example_dags/example_short_circuit_operator.py
  airflow/example_dags/example_skip_dag.py
  airflow/example_dags/example_subdag_operator.py
  airflow/example_dags/example_trigger_controller_dag.py
  airflow/example_dags/example_trigger_target_dag.py
  airflow/example_dags/example_xcom.py
  airflow/example_dags/test_utils.py
  airflow/example_dags/tutorial.py
  airflow/example_dags/tutorial_etl_dag.py
  docs/apache-airflow/executor/kubernetes.rst
  docs/apache-airflow/howto/operator/bash.rst
  docs/apache-airflow/howto/operator/external_task_sensor.rst
  docs/apache-airflow/howto/operator/python.rst
  docs/apache-airflow/tutorial.rst
  docs/apache-airflow/tutorial_taskflow_api.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Add more tips about health checks (#14537)
  docs/apache-airflow/production-deployment.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Fix pylint pre-commit checks when only todo files are changed (#14453)
  .pre-commit-config.yaml
  scripts/ci/static_checks/pylint.sh
Owners: @potiuk, @ashb

Update compatibility with google-cloud-os-login>=2.0.0 (#13126)
  airflow/providers/google/cloud/hooks/os_login.py
  setup.py
  tests/providers/google/cloud/hooks/test_os_login.py
Owners: @turbaszek, @mik-laj

Fix grammar in production-deployment.rst (#14386)
  docs/apache-airflow/production-deployment.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Upgrade to newer dependencies only set when setup changed for PR (#14437)
  scripts/ci/selective_ci_checks.sh
Owners: @potiuk, @ashb

Fix some tests failures after pylint fixes (#14350)
  scripts/ci/libraries/_start_end.sh
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
Owners: @potiuk, @ashb

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @turbaszek
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb @turbaszek

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# Kubernetes
/airflow/kubernetes/ @dimberman
/airflow/kubernetes_executor_templates/ @dimberman
/airflow/executors/celery_kubernetes_executor.py @dimberman
/chart/ @dimberman @ashb

# Docs
/docs/ @mik-laj @kaxil @vikramkoka

# API
/airflow/api/ @mik-laj @kaxil
/airflow/api_connexion/ @mik-laj @kaxil @ephraimbuddy

# WWW
/airflow/www/ @ryanahamilton @ashb

# Providers
/airflow/providers/google/ @turbaszek @mik-laj
/airflow/providers/snowflake @turbaszek @potiuk

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @kaxil
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb
