Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @dimberman, @mik-laj, @vikramkoka, @ephraimbuddy, @ryanahamilton, @potiuk

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @turbaszek
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb @turbaszek

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# Kubernetes
/airflow/kubernetes/ @dimberman
/airflow/kubernetes_executor_templates/ @dimberman
/airflow/executors/celery_kubernetes_executor.py @dimberman
/chart/ @dimberman @ashb

# Docs
/docs/ @mik-laj @kaxil @vikramkoka

# API
/airflow/api/ @mik-laj @kaxil
/airflow/api_connexion/ @mik-laj @kaxil @ephraimbuddy

# WWW
/airflow/www/ @ryanahamilton @ashb

# Providers
/airflow/providers/google/ @turbaszek @mik-laj
/airflow/providers/snowflake @turbaszek @potiuk

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @kaxil
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb

Update compatibility with google-cloud-kms>=2.0 (#13124)
  airflow/providers/google/cloud/hooks/kms.py
  setup.py
  tests/providers/google/cloud/hooks/test_kms.py
Owners: @turbaszek, @mik-laj

Update hadolint from v1.18.0 to v1.22.1 (#14509)
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.ci
  scripts/ci/dockerfiles/krb5-kdc-server/Dockerfile
  scripts/ci/static_checks/lint_dockerfile.sh
Owners: @potiuk, @ashb

Add Google Cloud Workflows Operators (#13366)
  airflow/providers/google/cloud/example_dags/example_workflows.py
  airflow/providers/google/cloud/hooks/workflows.py
  airflow/providers/google/cloud/operators/workflows.py
  airflow/providers/google/cloud/sensors/workflows.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/workflows.rst
  setup.py
  tests/providers/google/cloud/hooks/test_workflows.py
  tests/providers/google/cloud/operators/test_workflows.py
  tests/providers/google/cloud/operators/test_workflows_system.py
  tests/providers/google/cloud/sensors/test_workflows.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Owners: @turbaszek, @mik-laj, @kaxil, @vikramkoka

Fix asset recompilation message (#14532)
  airflow/www/ask_for_recompile_assets_if_needed.sh
  scripts/in_container/entrypoint_ci.sh
Owners: @ryanahamilton, @ashb, @potiuk

Removes the step to upload artifact with documentation (#14510)
  .github/workflows/ci.yml
Owners: @potiuk, @ashb, @kaxil

Support google-cloud-datacatalog>=1.0.0 (#13097)
  airflow/providers/google/cloud/hooks/datacatalog.py
  setup.py
Owners: @turbaszek, @mik-laj

Allow your own Docker production image to be verified by bash script (#14224)
  scripts/ci/images/ci_verify_prod_image.sh
  scripts/ci/libraries/_all_libs.sh
  scripts/ci/libraries/_verify_image.sh
  scripts/ci/tools/verify_docker_image.sh
Owners: @potiuk, @ashb

Fix typo in docker.rst (#14389)
  docs/apache-airflow/start/docker.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Update documents for using MySQL (#14174)
  docs/apache-airflow/howto/set-up-database.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Add timeout option to gcs hook methods. (#13156)
  airflow/providers/google/cloud/hooks/gcs.py
  setup.py
  tests/providers/google/cloud/hooks/test_gcs.py
Owners: @turbaszek, @mik-laj

Support google-cloud-automl >=2.1.0 (#13505)
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/example_dags/example_automl_tables.py
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/operators/automl.py
  setup.py
  tests/providers/google/cloud/hooks/test_automl.py
  tests/providers/google/cloud/operators/test_automl.py
Owners: @turbaszek, @mik-laj

Remove reinstalling azure-storage steps from CI / Breeze (#14102)
  scripts/docker/install_airflow.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/entrypoint_ci.sh
  scripts/in_container/run_ci_tests.sh
  scripts/in_container/run_install_and_test_provider_packages.sh
  scripts/in_container/run_prepare_provider_documentation.sh
  setup.py
Owners: @potiuk, @ashb

Support google-cloud-pubsub>=2.0.0 (#13127)
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/operators/pubsub.py
  airflow/providers/google/cloud/sensors/pubsub.py
  setup.py
  tests/providers/google/cloud/hooks/test_pubsub.py
  tests/providers/google/cloud/operators/test_pubsub.py
  tests/providers/google/cloud/sensors/test_pubsub.py
Owners: @turbaszek, @mik-laj

Support google-cloud-datacatalog>=3.0.0 (#13534)
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/example_dags/example_datacatalog.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/operators/datacatalog.py
  setup.py
  tests/providers/google/cloud/hooks/test_datacatalog.py
  tests/providers/google/cloud/operators/test_datacatalog.py
Owners: @turbaszek, @mik-laj

Support google-cloud-tasks>=2.0.0 (#13347)
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/hooks/tasks.py
  airflow/providers/google/cloud/operators/tasks.py
  setup.py
  tests/providers/google/cloud/hooks/test_tasks.py
  tests/providers/google/cloud/operators/test_tasks.py
Owners: @turbaszek, @mik-laj

Support google-cloud-bigquery-datatransfer>=3.0.0 (#13337)
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/example_dags/example_bigquery_dts.py
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  airflow/providers/google/cloud/operators/bigquery_dts.py
  airflow/providers/google/cloud/sensors/bigquery_dts.py
  setup.py
  tests/providers/google/cloud/hooks/test_bigquery_dts.py
  tests/providers/google/cloud/operators/test_bigquery_dts.py
  tests/providers/google/cloud/sensors/test_bigquery_dts.py
Owners: @turbaszek, @mik-laj

Refactor DataprocOperators to support google-cloud-dataproc 2.0 (#13256)
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/sensors/dataproc.py
  setup.py
  tests/providers/google/cloud/hooks/test_dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/sensors/test_dataproc.py
Owners: @turbaszek, @mik-laj

Support google-cloud-monitoring>=2.0.0 (#13769)
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/example_dags/example_stackdriver.py
  airflow/providers/google/cloud/hooks/stackdriver.py
  airflow/providers/google/cloud/operators/stackdriver.py
  setup.py
  tests/providers/google/cloud/hooks/test_stackdriver.py
  tests/providers/google/cloud/operators/test_stackdriver.py
Owners: @turbaszek, @mik-laj

Add Azure Data Factory hook (#11015)
  airflow/providers/microsoft/azure/hooks/azure_data_factory.py
  airflow/providers/microsoft/azure/provider.yaml
  docs/integration-logos/azure/Azure Data Factory.svg
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
Owners: @mik-laj, @kaxil, @vikramkoka

Limits Sphinx to <3.5.0 (#14238)
  setup.py
Owners: none

Fix failing docs build on Master (#14465)
  docs/apache-airflow-providers-tableau/index.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Remove testfixtures module that is only used once (#14318)
  setup.py
  tests/providers/amazon/aws/hooks/test_glacier.py
Owners: none

Salesforce provider requires tableau (#13593)
  setup.py
Owners: none

Support google-cloud-logging` >=2.0.0 (#13801)
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  setup.py
  tests/providers/google/cloud/log/test_stackdriver_task_handler.py
Owners: @turbaszek, @mik-laj

Update to Pytest 6.0 (#14065)
  setup.py
Owners: none

Pin moto to <2 (#14433)
  setup.py
Owners: none

Add Tableau provider separate from Salesforce Provider (#14030)
  CONTRIBUTING.rst
  airflow/providers/dependencies.json
  airflow/providers/salesforce/hooks/tableau.py
  airflow/providers/salesforce/operators/tableau_refresh_workbook.py
  airflow/providers/salesforce/provider.yaml
  airflow/providers/tableau/CHANGELOG.rst
  airflow/providers/tableau/__init__.py
  airflow/providers/tableau/example_dags/__init__.py
  airflow/providers/tableau/example_dags/example_tableau_refresh_workbook.py
  airflow/providers/tableau/hooks/__init__.py
  airflow/providers/tableau/hooks/tableau.py
  airflow/providers/tableau/operators/__init__.py
  airflow/providers/tableau/operators/tableau_refresh_workbook.py
  airflow/providers/tableau/provider.yaml
  airflow/providers/tableau/sensors/__init__.py
  airflow/providers/tableau/sensors/tableau_job_status.py
  docs/apache-airflow-providers-tableau/index.rst
  docs/integration-logos/tableau/tableau.png
  docs/spelling_wordlist.txt
  scripts/in_container/run_install_and_test_provider_packages.sh
  setup.py
  tests/core/test_providers_manager.py
  tests/providers/tableau/hooks/__init__.py
  tests/providers/tableau/hooks/test_tableau.py
  tests/providers/tableau/operators/__init__.py
  tests/providers/tableau/operators/test_tableau_refresh_workbook.py
  tests/providers/tableau/sensors/__init__.py
  tests/providers/tableau/sensors/test_tableau_job_status.py
Owners: @mik-laj, @kaxil, @vikramkoka, @potiuk, @ashb

Support google-cloud-redis>=2.0.0 (#13117)
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/example_dags/example_cloud_memorystore.py
  airflow/providers/google/cloud/hooks/cloud_memorystore.py
  airflow/providers/google/cloud/operators/cloud_memorystore.py
  setup.py
  tests/providers/google/cloud/hooks/test_cloud_memorystore.py
  tests/providers/google/cloud/operators/test_cloud_memorystore.py
Owners: @turbaszek, @mik-laj

Fixup
  airflow/cli/cli_parser.py
Owners: none

change doc + use default warning in rst file
  airflow/providers/airbyte/sensors/airbyte.py
  docs/apache-airflow-providers-airbyte/operators/airbyte.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Update CONTRIBUTORS_QUICK_START.rst
  CONTRIBUTORS_QUICK_START.rst
Owners: none

add check for get values from dict @mik-laj
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/operators/airbyte.py
  airflow/providers/airbyte/sensors/airbyte.py
Owners: none

By default PIP will install all packages in .local folder (#14125)
  Dockerfile
  airflow/kubernetes/refresh_config.py
  airflow/models/dagbag.py
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/google/cloud/operators/functions.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/serialization/serialized_objects.py
  airflow/stats.py
  airflow/www/views.py
  docs/apache-airflow/production-deployment.rst
Owners: @potiuk, @ashb, @dimberman, @kaxil, @XD-DENG, @turbaszek, @mik-laj, @ryanahamilton, @vikramkoka

Fix typo in concepts.rst
  docs/apache-airflow/concepts.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Fix typo on Jira link
  docs/apache-airflow-providers-jira/index.rst
Owners: @mik-laj, @kaxil, @vikramkoka

change get value from dict to []
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/operators/airbyte.py
  airflow/providers/airbyte/sensors/airbyte.py
Owners: none

change airbyte_conn_id to more usual value
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/operators/airbyte.py
  airflow/providers/airbyte/sensors/airbyte.py
Owners: none

add example_dag
  airflow/providers/airbyte/example_dags/example_airbyte_trigger_job.py
  docs/apache-airflow-providers-airbyte/connections.rst
  docs/apache-airflow-providers-airbyte/index.rst
  docs/apache-airflow-providers-airbyte/operators/airbyte.rst
Owners: @mik-laj, @kaxil, @vikramkoka

add connection and example dag documentation
  airflow/__init__.py
  docs/apache-airflow-providers-airbyte/connections.rst
  docs/apache-airflow-providers-airbyte/index.rst
Owners: @mik-laj, @kaxil, @vikramkoka

correct typo from JdbcOperator example DAG doc
  airflow/providers/jdbc/example_dags/example_jdbc_queries.py
Owners: none
