Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @dimberman, @mik-laj, @vikramkoka, @ephraimbuddy, @ryanahamilton, @potiuk

change dag example to support backport
  airflow/providers/airbyte/example_dags/example_airbyte_trigger_job.py
Owners: none

remove non-used var
  airflow/providers/airbyte/example_dags/example_airbyte_trigger_job.py
Owners: none

change reconcile task id
  airflow/providers/apache/mesos/executors/mesos_executor.py
Owners: none

Bump version to match node dependency
  docs/conf.py
Owners: @mik-laj, @kaxil, @vikramkoka

Apply suggestions from code review
  airflow/executors/celery_executor.py
Owners: @kaxil, @XD-DENG, @ashb, @turbaszek

remove continue from try/except wait_for_job
  airflow/providers/airbyte/hooks/airbyte.py
Owners: none

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @turbaszek
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb @turbaszek

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# Kubernetes
/airflow/kubernetes/ @dimberman
/airflow/kubernetes_executor_templates/ @dimberman
/airflow/executors/celery_kubernetes_executor.py @dimberman
/chart/ @dimberman @ashb

# Docs
/docs/ @mik-laj @kaxil @vikramkoka

# API
/airflow/api/ @mik-laj @kaxil
/airflow/api_connexion/ @mik-laj @kaxil @ephraimbuddy

# WWW
/airflow/www/ @ryanahamilton @ashb

# Providers
/airflow/providers/google/ @turbaszek @mik-laj
/airflow/providers/snowflake @turbaszek @potiuk

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @kaxil
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb
