Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @XD-DENG, @ashb, @o-nikolas, @pierrejeambrun, @hussein-awala, @bolkedebruin, @jedcunningham, @ephraimbuddy, @dstandish, @potiuk, @rawwar, @kaxil, @amoghrajesh, @vincbeck, @bbovenzi, @ryanahamilton, @jscheffl, @uranusjr, @eladkal, @josh-fell, @mobuchowski, @mik-laj, @Fokko

Fixing CI in main due to failing generate sdk datamodels
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
Owners: @ashb, @kaxil, @amoghrajesh

Bump cadwyn min version to 5.1.3
  airflow-core/pyproject.toml
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
Owners: @ashb, @kaxil, @amoghrajesh

Changing triggerer config option `default_capacity` to `capacity` (#48032)
  airflow-core/src/airflow/cli/commands/remote_commands/config_command.py
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/configuration.py
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  chart/templates/_helpers.yaml
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_core/test_triggerer.py
Owners: @dstandish, @hussein-awala, @jedcunningham

Bump cadwyn min version to 5.1.3 (#48091)
  airflow-core/pyproject.toml
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
Owners: @ashb, @kaxil, @amoghrajesh

Change default executor to LocalExecutor
  airflow-core/src/airflow/config_templates/config.yml
Owners: none

remove redundant logs
  tests/core/test_otel_tracer.py
Owners: none

Use time.time() for dag file process start time
  airflow-core/src/airflow/dag_processing/processor.py
Owners: @jedcunningham, @ephraimbuddy

Fix test
  airflow-core/tests/unit/dag_processing/test_manager.py
Owners: none

replace pendulum with timezone.utcnow() in otel_tracer.py
  airflow/traces/otel_tracer.py
Owners: none

Updating constraints. Github run id:14006484433
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.9.txt
  constraints-no-providers-3.10.txt
  constraints-no-providers-3.11.txt
  constraints-no-providers-3.12.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.10.txt
  constraints-source-providers-3.11.txt
  constraints-source-providers-3.12.txt
  constraints-source-providers-3.9.txt
Owners: none

replace PythonOperator with TaskFlow in test dags
  tests/integration/otel/dags/otel_test_dag.py
  tests/integration/otel/dags/otel_test_dag_with_pause.py
  tests/integration/otel/dags/otel_test_dag_with_pause_in_task.py
  tests/integration/otel/test_otel.py
Owners: none

.github/CODEOWNERS:

# Core
/airflow-core/src/airflow/executors/ @XD-DENG @ashb @o-nikolas @pierrejeambrun @hussein-awala
/airflow-core/src/airflow/jobs/ @ashb @XD-DENG
/airflow-core/src/airflow/models/ @XD-DENG @ashb

# DAG Serialization
/airflow-core/src/airflow/serialization/ @ashb @bolkedebruin

# DAG Parsing
/airflow-core/src/airflow/dag_processing @jedcunningham @ephraimbuddy

# Kubernetes
/providers/cncf/kubernetes/ @dstandish @jedcunningham

# Helm Chart
/chart/ @dstandish @jedcunningham @hussein-awala

# Docs (without Providers)
/docs/*.py @potiuk
/docs/apache-airflow @potiuk
/docs/docker-stack @potiuk
/docs/helm-chart @dstandish @jedcunningham

# API
/airflow-core/src/airflow/api/ @ephraimbuddy @pierrejeambrun @rawwar
/airflow-core/src/airflow/api_fastapi/ @ephraimbuddy @pierrejeambrun @rawwar
/airflow-core/src/airflow/api_fastapi/execution_api/ @ashb @kaxil @amoghrajesh

# Auth manager
/airflow-core/src/airflow/api_fastapi/auth/ @vincbeck

# UI
/airflow-core/src/airflow/ui/ @bbovenzi @pierrejeambrun @ryanahamilton @jscheffl

# Security/Permissions
/airflow-core/src/airflow/security/permissions.py @vincbeck

# Calendar/Timetables
/airflow-core/src/airflow/timetables/ @uranusjr
/docs/apache-airflow/concepts/timetable.rst @uranusjr

# Task expansion, scheduling, and rendering
/airflow-core/src/airflow/models/abstractoperator.py @uranusjr
/airflow-core/src/airflow/models/baseoperator.py @uranusjr
/airflow-core/src/airflow/models/expandinput.py @uranusjr
/airflow-core/src/airflow/models/mappedoperator.py @uranusjr
/airflow-core/src/airflow/models/operator.py @uranusjr
/airflow-core/src/airflow/models/xcom_arg.py @uranusjr
/docs/apache-airflow/concepts/dynamic-task-mapping.rst @uranusjr

# Async Operators & Triggerer
/airflow-core/src/airflow/cli/commands/local_commands/triggerer_command.py @dstandish @hussein-awala
/airflow-core/src/airflow/jobs/triggerer_job.py @dstandish @hussein-awala
/airflow-core/src/airflow/jobs/triggerer_job_runner.py @dstandish @hussein-awala
/docs/apache-airflow/authoring-and-scheduling/deferring.rst @dstandish @hussein-awala

# Secrets Backends
/airflow-core/src/airflow/secrets @dstandish @potiuk @ashb

# Providers
/providers/amazon/ @eladkal @o-nikolas
/providers/celery/ @hussein-awala
/providers/cncf/kubernetes @jedcunningham @hussein-awala
/providers/common/messaging/ @vincbeck
/providers/common/sql/ @eladkal
/providers/dbt/cloud/ @josh-fell
/providers/edge/ @jscheffl
/providers/fab/ @vincbeck
/providers/hashicorp/ @hussein-awala
/providers/openlineage/ @mobuchowski
/providers/slack/ @eladkal
/providers/smtp/ @hussein-awala
/providers/snowflake/ @potiuk @mik-laj
/providers/apache/iceberg/ @Fokko

# Dev tools
/.github/workflows/ @potiuk @ashb
/dev/ @potiuk @ashb @jedcunningham
/docker_tests/ @potiuk @ashb
/scripts/ @potiuk @ashb
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb

# Releasing Guides & Project Guidelines
/dev/PROJECT_GUIDELINES.md @kaxil
/dev/PROVIDER_PACKAGE_DETAILS.md @eladkal
/dev/README.md  @kaxil
/dev/README_RELEASE_*.md  @kaxil @pierrejeambrun
/dev/README_RELEASE_PROVIDERS.md  @eladkal
ISSUE_TRIAGE_PROCESS.rst @eladkal

# AIP-52 - Setup and Teardown
/airflow-core/src/airflow/decorators/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish
/airflow-core/src/airflow/example_dags/example_setup_teardown*.py @jedcunningham @ephraimbuddy @dstandish
/airflow-core/src/airflow/utils/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish

# AIP-58 - Object Storage
/airflow-core/src/airflow/io/ @bolkedebruin
/providers/**/fs/ @bolkedebruin
/providers/common/io/ @bolkedebruin
/docs/apache-airflow/core-concepts/objectstorage.rst @bolkedebruin

# Migrations
/airflow-core/src/airflow/migrations/ @ephraimbuddy
/providers/fab/src/airflow-core/src/airflow/providers/fab/migrations/ @ephraimbuddy

# AIP-72 - Task SDK
/task-sdk/ @ashb @kaxil @amoghrajesh
