Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @dimberman, @jedcunningham, @mik-laj, @vikramkoka, @ephraimbuddy, @ryanahamilton, @jhtimmins, @uranusjr, @potiuk

Updated tests with new operator parameter and created test for hook connection creation.
  airflow/www/yarn-error.log
  tests/providers/apache/sqoop/hooks/test_sqoop.py
  tests/providers/apache/sqoop/operators/test_sqoop.py
Owners: @ryanahamilton, @ashb

Removed not useful file.
  airflow/www/yarn-error.log
Owners: @ryanahamilton, @ashb

Reformatted code from pre-commit scripts.
  tests/providers/apache/sqoop/hooks/test_sqoop.py
Owners: none

Added schema parameter in test test_export_cmd.
  tests/providers/apache/sqoop/hooks/test_sqoop.py
Owners: none

Fixed bug in test.
  tests/providers/tableau/hooks/test_tableau.py
Owners: none

Fixed Tableau docs.
  airflow/providers/tableau/hooks/tableau.py
Owners: none

Add recursive flag to constructor
  airflow/sensors/filesystem.py
  tests/sensors/test_filesystem.py
Owners: none

Mask value if the key is ``token`` (#16474)
  airflow/utils/log/secrets_masker.py
Owners: none

Fix impersonation issue with LocalTaskJob (#16852)
  airflow/jobs/local_task_job.py
  tests/jobs/test_local_task_job.py
Owners: @kaxil, @ashb, @XD-DENG

yarn audit (#16440)
  airflow/www/package.json
  airflow/www/yarn.lock
Owners: @ryanahamilton, @ashb

Update release date and changelog for 2.1.2.
  CHANGELOG.txt
Owners: none

Fix ``CeleryKubernetesExecutor`` (#16700)
  airflow/jobs/base_job.py
  tests/jobs/test_base_job.py
Owners: @kaxil, @ashb, @XD-DENG

Introduce compat shim airflow.compat.functools (#15969)
  airflow/cli/commands/connection_command.py
  airflow/cli/commands/kubernetes_command.py
  airflow/cli/simple_table.py
  airflow/compat/__init__.py
  airflow/compat/functools.py
  airflow/configuration.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/refresh_config.py
  airflow/models/baseoperator.py
  airflow/operators/bash.py
  airflow/operators/sql.py
  airflow/providers_manager.py
  airflow/secrets/local_filesystem.py
  airflow/utils/log/log_reader.py
  airflow/utils/log/secrets_masker.py
  airflow/utils/yaml.py
  airflow/www/views.py
Owners: @dimberman, @kaxil, @XD-DENG, @ashb, @turbaszek, @ryanahamilton

Added template_fields_renderers for MySQL Operator
  airflow/providers/mysql/operators/mysql.py
Owners: none

Added generic tableau operator
  airflow/providers/tableau/operators/tableau.py
  airflow/providers/tableau/operators/tableau_refresh_workbook.py
  airflow/providers/tableau/provider.yaml
Owners: none

Introduce compat shim airflow.compat.functools (#15969)
  airflow/cli/commands/connection_command.py
  airflow/cli/commands/kubernetes_command.py
  airflow/cli/simple_table.py
  airflow/compat/__init__.py
  airflow/compat/functools.py
  airflow/configuration.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/refresh_config.py
  airflow/models/baseoperator.py
  airflow/operators/bash.py
  airflow/operators/sql.py
  airflow/providers_manager.py
  airflow/secrets/local_filesystem.py
  airflow/utils/log/log_reader.py
  airflow/utils/log/secrets_masker.py
  airflow/utils/yaml.py
  airflow/www/views.py
Owners: @dimberman, @kaxil, @XD-DENG, @ashb, @turbaszek, @ryanahamilton

Mask value if the key is ``token`` (#16474)
  airflow/utils/log/secrets_masker.py
Owners: none

Fix impersonation issue with LocalTaskJob (#16852)
  airflow/jobs/local_task_job.py
  tests/jobs/test_local_task_job.py
Owners: @kaxil, @ashb, @XD-DENG

yarn audit (#16440)
  airflow/www/package.json
  airflow/www/yarn.lock
Owners: @ryanahamilton, @ashb

Fix ``CeleryKubernetesExecutor`` (#16700)
  airflow/jobs/base_job.py
  tests/jobs/test_base_job.py
Owners: @kaxil, @ashb, @XD-DENG

Update release date and changelog for 2.1.2.
  CHANGELOG.txt
Owners: none

Update changelog with Python 3.9 support.
  CHANGELOG.txt
Owners: none

Update changelog with Python 3.9 support.
  CHANGELOG.txt
Owners: none

Update changelog with Python 3.9 support.
  CHANGELOG.txt
Owners: none

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @turbaszek
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb @turbaszek

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# Kubernetes
/airflow/kubernetes/ @dimberman
/airflow/kubernetes_executor_templates/ @dimberman
/airflow/executors/celery_kubernetes_executor.py @dimberman

# Helm Chart
/chart/ @dimberman @ashb @kaxil @jedcunningham


# Docs
/docs/ @mik-laj @vikramkoka

# Docs (without Providers)
/docs/apache-airflow @kaxil
/docs/docker-stack @kaxil
/docs/helm-chart @kaxil @jedcunningham
/docs/*.py @kaxil

# API
/airflow/api/ @mik-laj @kaxil
/airflow/api_connexion/ @mik-laj @kaxil @ephraimbuddy

# UI
/airflow/ui/ @ryanahamilton @ashb

# WWW
/airflow/www/ @ryanahamilton @ashb

# Security/Permissions
/airflow/security/permissions.py @jhtimmins
/airflow/www/security.py @jhtimmins
/airflow/api_connexion/security.py @jhtimmins

# Calendar/Timetables
/airflow/timetables/ @uranusjr

# Providers
/airflow/providers/google/ @turbaszek
/airflow/providers/snowflake/ @turbaszek @potiuk @mik-laj

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @kaxil
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb
