Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @o-nikolas, @pierrejeambrun, @bolkedebruin, @jedcunningham, @ephraimbuddy, @dstandish, @potiuk, @ryanahamilton, @bbovenzi, @jhtimmins, @uranusjr, @mik-laj, @josh-fell, @Fokko, @eladkal

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @o-nikolas @pierrejeambrun
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb

# DAG Serialization
/airflow/serialization/ @kaxil @ashb @bolkedebruin

# DAG Parsing
/airflow/dag_processing @jedcunningham @ephraimbuddy

# Kubernetes
/airflow/kubernetes/ @dstandish @jedcunningham
/airflow/kubernetes_executor_templates/ @dstandish @jedcunningham
/airflow/executors/celery_kubernetes_executor.py @dstandish @jedcunningham
/airflow/executors/kubernetes_executor.py @dstandish @jedcunningham

# Helm Chart
/chart/ @dstandish @jedcunningham

# Docs (without Providers)
/docs/apache-airflow @potiuk
/docs/docker-stack @potiuk
/docs/helm-chart @dstandish @jedcunningham
/docs/*.py @kaxil @potiuk

# API
/airflow/api/ @ephraimbuddy @pierrejeambrun
/airflow/api_connexion/ @ephraimbuddy @pierrejeambrun

# WWW
/airflow/www/ @ryanahamilton @ashb @bbovenzi @pierrejeambrun

# Security/Permissions
/airflow/security/permissions.py @jhtimmins
/airflow/www/security.py @jhtimmins
/airflow/api_connexion/security.py @jhtimmins

# Calendar/Timetables
/airflow/timetables/ @uranusjr
/docs/apache-airflow/concepts/timetable.rst @uranusjr

# Task expansion, scheduling, and rendering
/airflow/models/abstractoperator.py @uranusjr
/airflow/models/baseoperator.py @uranusjr
/airflow/models/expandinput.py @uranusjr
/airflow/models/mappedoperator.py @uranusjr
/airflow/models/operator.py @uranusjr
/airflow/models/xcom_arg.py @uranusjr
/docs/apache-airflow/concepts/dynamic-task-mapping.rst @uranusjr

# Async Operators & Triggerer
/airflow/jobs/triggerer_job.py @dstandish
/airflow/cli/commands/triggerer_command.py @dstandish
/airflow/models/trigger.py @dstandish
/docs/apache-airflow/concepts/deferring.rst @dstandish

# Secrets Backends
/airflow/secrets  @dstandish @kaxil @potiuk @ashb

# Providers
/airflow/providers/snowflake/ @potiuk @mik-laj
/airflow/providers/cncf/kubernetes @jedcunningham
/airflow/providers/dbt/cloud/ @josh-fell
/airflow/providers/tabular/ @Fokko
/airflow/providers/amazon/ @eladkal @o-nikolas
/airflow/providers/common/sql/ @eladkal
/airflow/providers/slack/ @eladkal
/docs/apache-airflow-providers-amazon/ @eladkal @o-nikolas
/docs/apache-airflow-providers-common-sql/ @eladkal
/docs/apache-airflow-providers-slack/ @eladkal
/docs/apache-airflow-providers-cncf-kubernetes @jedcunningham
/tests/providers/amazon/ @eladkal @o-nikolas
/tests/system/providers/amazon/ @eladkal @o-nikolas
/tests/providers/common/sql/ @eladkal
/tests/providers/slack/ @eladkal

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @jedcunningham
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb
/docker_tests/ @potiuk @ashb

# Releasing Guides & Project Guidelines
/dev/README_RELEASE_PROVIDER_PACKAGES.md  @eladkal
/dev/README_RELEASE_*.md  @kaxil @pierrejeambrun
/dev/README.md  @kaxil
/dev/PROJECT_GUIDELINES.md  @kaxil
/dev/PROVIDER_PACKAGE_DETAILS.md  @kaxil
ISSUE_TRIAGE_PROCESS.rst @eladkal

# AIP-52 - Setup and Teardown
/airflow/decorators/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish
/airflow/utils/setup_teardown.py @jedcunningham @ephraimbuddy @dstandish
/airflow/example_dags/example_setup_teardown*.py @jedcunningham @ephraimbuddy @dstandish

Use single source of truth for sensitive config items
  airflow/config_templates/config.yml
  airflow/configuration.py
  airflow/www/views.py
  tests/core/test_configuration.py
  tests/www/views/test_views_configuration.py
Owners: @ryanahamilton, @ashb, @bbovenzi, @pierrejeambrun

fixup! Use single source of truth for sensitive config items
  airflow/config_templates/config.yml
  tests/core/test_configuration.py
Owners: none

Add descriptions for celery and dask cert configs
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Owners: none

Push latest constraints for 3.11 after eager upgrade
  constraints-3.11.txt
  constraints-no-providers-3.11.txt
  constraints-source-providers-3.11.txt
Owners: none

moved rate check to helper
  airflow/metrics/otel_logger.py
Owners: none

rename set_value to set_gauge_value
  airflow/metrics/otel_logger.py
  tests/core/test_otel_logger.py
Owners: none

docstring updates
  airflow/metrics/otel_logger.py
Owners: none

fix logic
  airflow/configuration.py
Owners: none

remove deprecated comment
  tests/core/test_configuration.py
Owners: none

clarify delta parameter and add relevant unit test
  airflow/metrics/otel_logger.py
  tests/core/test_otel_logger.py
Owners: none

Fix selective checks skipping provider tests in non main branch
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Owners: @potiuk, @ashb, @kaxil, @jedcunningham

Fix selective checks skipping provider tests in non main branch (#31821)
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Owners: @potiuk, @ashb, @kaxil, @jedcunningham

Add descriptions for celery and dask cert configs (#31822)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Owners: none

📝 Update release documentation (#31631)
  docs/apache-airflow/release-process.rst
Owners: @potiuk

remove ducplicate entry in the metrics doc (#31654)
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Owners: @potiuk

Fix wrong cron syntax (#31666)
  docs/apache-airflow/core-concepts/dags.rst
Owners: @potiuk

update path of KubernetesPodOperator in core docs (#31683)
  docs/apache-airflow/best-practices.rst
Owners: @potiuk

Replace unicodecsv with standard csv library (#31693)
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/apache/hive/transfers/mysql_to_hive.py
  airflow/providers/apache/hive/transfers/vertica_to_hive.py
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  airflow/providers/microsoft/azure/transfers/oracle_to_azure_data_lake.py
  airflow/providers/mysql/transfers/vertica_to_mysql.py
  docs/spelling_wordlist.txt
  setup.cfg
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
  tests/providers/apache/hive/transfers/test_mysql_to_hive.py
  tests/providers/google/cloud/transfers/test_sql_to_gcs.py
  tests/providers/microsoft/azure/transfers/test_oracle_to_azure_data_lake.py
Owners: none

Add back accidentally removed `create_session` in utils/db.py (#31705)
  tests/utils/test_db.py
Owners: none

Control permissibility of driver config in extra from airflow.cfg (#31754)
  airflow/configuration.py
  airflow/providers/odbc/hooks/odbc.py
  docs/apache-airflow-providers-odbc/connections/odbc.rst
  docs/apache-airflow/howto/set-config.rst
  tests/core/test_configuration.py
  tests/providers/odbc/hooks/test_odbc.py
Owners: @potiuk

Use keyword paramaters for migration methods for mssql (#31309)
  airflow/migrations/versions/0043_1_10_4_make_taskinstance_pool_not_nullable.py
  airflow/migrations/versions/0054_1_10_10_add_dag_code_table.py
  airflow/migrations/versions/0060_2_0_0_remove_id_column_from_xcom.py
  airflow/migrations/versions/0089_2_2_0_make_xcom_pkey_columns_non_nullable.py
  airflow/migrations/versions/0102_2_3_0_switch_xcom_table_to_use_run_id.py
  docs/apache-airflow/img/airflow_erd.sha256
  setup.py
Owners: @potiuk

Fix Kubernetes executor set wrong task status (#31274)
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Owners: @dstandish, @jedcunningham

Check Logging Handlers and Secret Backends for recursion (#31385)
  scripts/in_container/verify_providers.py
Owners: @potiuk, @ashb

Add libgeos-dev to dev dependencies in CI image (#31437)
  Dockerfile
  Dockerfile.ci
  scripts/docker/install_os_dependencies.sh
  scripts/in_container/verify_providers.py
Owners: @potiuk, @ashb

Export SUSPENDED_PROVIDERS_FOLDERS for breeze testing commands (#30780)
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Owners: @potiuk, @ashb, @kaxil, @jedcunningham

Speed up test collection (#30801)
  .github/workflows/ci.yml
Owners: @potiuk, @ashb, @kaxil

Only run mssql tests on self-hosted runners (#30831)
  .github/workflows/ci.yml
Owners: @potiuk, @ashb, @kaxil

Optimize away pytest collection steps (#30824)
  .github/workflows/ci.yml
Owners: @potiuk, @ashb, @kaxil

Speed up verification and instalation of providers in CI (#30839)
  .github/workflows/ci.yml
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Owners: @potiuk, @ashb, @kaxil, @jedcunningham

Bring back unicodecsv as depenendency of Airflow (#31814)
  licenses/LICENSE-unicodecsv.txt
  setup.cfg
Owners: none

Update RELEASE_NOTES.rst
  RELEASE_NOTES.rst
Owners: none
