Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @jedcunningham, @ephraimbuddy, @dstandish, @mik-laj, @potiuk, @ryanahamilton, @bbovenzi, @jhtimmins, @uranusjr, @turbaszek

fixup! Clarify ElasticsearchTaskHandler docstring
  airflow/providers/elasticsearch/log/es_task_handler.py
Owners: none

Clarify ElasticsearchTaskHandler docstring
  airflow/providers/elasticsearch/log/es_task_handler.py
Owners: none

Chart: support for priorityClassName (#20794)
  chart/templates/flower/flower-deployment.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_airflow_common.py
  chart/values.schema.json
  chart/values.yaml
Owners: @dstandish, @jedcunningham

Replace tenacity retry with flaky marker for ssh hook test
  tests/providers/ssh/hooks/test_ssh.py
Owners: none

Updating constraints. Build id:1796843540
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Owners: none

Replace tenacity retry with flaky marker for ssh hook test (#21334)
  tests/providers/ssh/hooks/test_ssh.py
Owners: none

Updating constraints. Build id:1797211192
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Owners: none

Add more SQL template fields renderers (#21237)
  airflow/operators/sql.py
  airflow/providers/amazon/aws/operators/redshift_sql.py
  airflow/providers/amazon/aws/transfers/hive_to_dynamodb.py
  airflow/providers/apache/druid/transfers/hive_to_druid.py
  airflow/providers/apache/hive/operators/hive.py
  airflow/providers/apache/hive/transfers/hive_to_mysql.py
  airflow/providers/apache/hive/transfers/hive_to_samba.py
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/apache/hive/transfers/mysql_to_hive.py
  airflow/providers/apache/hive/transfers/vertica_to_hive.py
  airflow/providers/apache/spark/operators/spark_sql.py
  airflow/providers/apache/sqoop/operators/sqoop.py
  airflow/providers/exasol/operators/exasol.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/spanner.py
  airflow/providers/google/cloud/transfers/salesforce_to_gcs.py
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  airflow/providers/jdbc/operators/jdbc.py
  airflow/providers/microsoft/mssql/operators/mssql.py
  airflow/providers/mysql/operators/mysql.py
  airflow/providers/mysql/transfers/presto_to_mysql.py
  airflow/providers/mysql/transfers/trino_to_mysql.py
  airflow/providers/mysql/transfers/vertica_to_mysql.py
  airflow/providers/oracle/operators/oracle.py
  airflow/providers/postgres/operators/postgres.py
  airflow/providers/snowflake/operators/snowflake.py
  airflow/providers/snowflake/transfers/snowflake_to_slack.py
  airflow/providers/sqlite/operators/sqlite.py
  airflow/providers/vertica/operators/vertica.py
  airflow/www/utils.py
  docs/apache-airflow/howto/custom-operator.rst
  docs/spelling_wordlist.txt
Owners: @turbaszek, @potiuk, @mik-laj, @ryanahamilton, @ashb, @bbovenzi, @kaxil

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# DAG Parsing
/airflow/dag_processing @jedcunningham @ephraimbuddy

# Kubernetes
/airflow/kubernetes/ @dstandish @jedcunningham
/airflow/kubernetes_executor_templates/ @dstandish @jedcunningham
/airflow/executors/celery_kubernetes_executor.py @dstandish @jedcunningham
/airflow/executors/kubernetes_executor.py @dstandish @jedcunningham

# Helm Chart
/chart/ @dstandish @jedcunningham

# Docs
/docs/ @mik-laj

# Docs (without Providers)
/docs/apache-airflow @kaxil @potiuk
/docs/docker-stack @potiuk
/docs/helm-chart @dstandish @jedcunningham
/docs/*.py @kaxil @potiuk

# API
/airflow/api/ @mik-laj @ephraimbuddy
/airflow/api_connexion/ @mik-laj @ephraimbuddy

# UI
/airflow/ui/ @ryanahamilton @ashb @bbovenzi

# WWW
/airflow/www/ @ryanahamilton @ashb @bbovenzi

# Security/Permissions
/airflow/security/permissions.py @jhtimmins
/airflow/www/security.py @jhtimmins
/airflow/api_connexion/security.py @jhtimmins

# Calendar/Timetables
/airflow/timetables/ @uranusjr
/docs/apache-airflow/concepts/timetable.rst @uranusjr

# Async Operators & Triggerer
/airflow/jobs/triggerer_job.py @dstandish
/airflow/cli/commands/triggerer_command.py @dstandish
/airflow/models/trigger.py @dstandish
/docs/apache-airflow/concepts/deferring.rst @dstandish

# Secrets Backends
/airflow/secrets  @dstandish @kaxil @potiuk @ashb

# Providers
/airflow/providers/google/ @turbaszek
/airflow/providers/snowflake/ @turbaszek @potiuk @mik-laj
/airflow/providers/cncf/kubernetes @jedcunningham
/docs/apache-airflow-providers-cncf-kubernetes @jedcunningham

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb @mik-laj
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @jedcunningham
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb @mik-laj
/docker_tests/ @potiuk @ashb @mik-laj

# Releasing Guides & Project Guidelines
/dev/README_RELEASE_*.md  @kaxil
/dev/README.md  @kaxil
/dev/PROJECT_GUIDELINES.md  @kaxil
/dev/PROVIDER_PACKAGE_DETAILS.md  @kaxil
