Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @dimberman, @mik-laj, @vikramkoka, @ephraimbuddy, @ryanahamilton, @potiuk

execution date gte
  airflow/api/common/experimental/get_dag_runs.py
  airflow/models/dagrun.py
  airflow/www_rbac/api/experimental/endpoints.py
Owners: @mik-laj, @kaxil, @XD-DENG, @ashb, @turbaszek

datetime
  airflow/api/common/experimental/get_dag_runs.py
  airflow/models/dagrun.py
  airflow/www_rbac/api/experimental/endpoints.py
Owners: @mik-laj, @kaxil, @XD-DENG, @ashb, @turbaszek

fixup! Add plain format output to cli tables
  airflow/cli/simple_table.py
Owners: none

Refactor, parametrize using mock and simplify tests
  tests/providers/docker/operators/test_docker.py
Owners: none

Print right version in airflow info command
  airflow/cli/commands/info_command.py
Owners: none

fixup! fixup! Add plain format output to cli tables
  docs/apache-airflow/usage-cli.rst
Owners: @mik-laj, @kaxil, @vikramkoka

BugFix: fix DAG doc display (especially for TaskFlow DAGs)
  airflow/www/utils.py
Owners: @ryanahamilton, @ashb

Fix flask_oautlib throws error.
  constraints-3.6.txt
Owners: none

fixup! fixup! fixup! Add plain format output to cli tables
  docs/spelling_wordlist.txt
Owners: @mik-laj, @kaxil, @vikramkoka

fix ui bugs in tree view
  airflow/www/static/js/tree.js
Owners: @ryanahamilton, @ashb

Updating constraints. Build id:614593912
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
Owners: none

www and unit tests
  airflow/www/api/experimental/endpoints.py
  tests/www/api/experimental/test_dag_runs_endpoint.py
  tests/www_rbac/api/experimental/test_dag_runs_endpoint.py
Owners: @ryanahamilton, @ashb

adding textnow to users
  INTHEWILD.md
Owners: none

Suppress LOG/WARNING for a few tasks CLI for better CLI experience
  airflow/cli/commands/task_command.py
Owners: none

Fix docstrings typos
  airflow/providers/microsoft/azure/hooks/azure_data_factory.py
Owners: none

Fix wrong input parameters
  airflow/providers/microsoft/azure/hooks/azure_data_factory.py
Owners: none

Bump SDK version
  airflow/providers/microsoft/azure/hooks/azure_data_factory.py
  setup.py
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
Owners: none

Add test
  tests/www/test_utils.py
Owners: none

Fixup
  tests/www/test_utils.py
Owners: none

Bugfix: Plugins endpoint was unauthenticated
  airflow/www/views.py
  tests/www/test_views.py
Owners: @ryanahamilton, @ashb

add suggestions from @turbaszek
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/operators/airbyte.py
  airflow/providers/airbyte/sensors/airbyte.py
Owners: none

Updated provider's releasing instructions after 27.02.2021 release
  dev/README_RELEASE_BACKPORT_PROVIDER_PACKAGES.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/provider_packages/build_provider_documentation.sh
  dev/provider_packages/publish_provider_documentation.sh
  dev/provider_packages/tag_providers.sh
Owners: @potiuk, @ashb, @kaxil

Revert postgresql chart version to 6.3.12
  chart/requirements.lock
  chart/requirements.yaml
Owners: @dimberman, @ashb

Update dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Owners: @potiuk, @ashb, @kaxil

Sort integrations.json by lowercase integration name (#13105)
  scripts/tools/generate-integrations-json.py
Owners: @potiuk, @ashb

Simplify Kerberos network setup (#13999)
  breeze
  scripts/ci/docker-compose/integration-kerberos.yml
  scripts/ci/libraries/_all_libs.sh
  scripts/ci/libraries/_kerberos.sh
Owners: @potiuk, @ashb

Fix Kerberos network creation on older docker-compose (#14070)
  scripts/ci/docker-compose/integration-kerberos.yml
  scripts/ci/testing/ci_run_airflow_testing.sh
Owners: @potiuk, @ashb

Add statsd integration to breeze (#12708)
  BREEZE.rst
  breeze-complete
  scripts/ci/docker-compose/integration-statsd.yml
  scripts/ci/libraries/_initialization.sh
Owners: @potiuk, @ashb

Run KinD tests when cncf.kubernetes provider files are changed (#14122)
  scripts/ci/selective_ci_checks.sh
Owners: @potiuk, @ashb

Run CI (Build Image and committer PRs) on self-hosted runner (#13730)
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  scripts/ci/libraries/_build_airflow_packages.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_script_init.sh
Owners: @potiuk, @ashb, @kaxil

Fix typo in Build Images workflow from self-hosted switch (#14150)
  .github/workflows/build-images-workflow-run.yml
Owners: @potiuk, @ashb, @kaxil

Disable progress bar for PIP installation (#14126)
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  docs/apache-airflow/production-deployment.rst
  scripts/ci/libraries/_build_images.sh
Owners: @potiuk, @ashb, @mik-laj, @kaxil, @vikramkoka

Fixes regexp in entrypoint to include password-less entries (#14221)
  scripts/in_container/prod/entrypoint_prod.sh
Owners: @potiuk, @ashb

Disables self-hosted runs for non-apache-owned repositories (#14239)
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
Owners: @potiuk, @ashb, @kaxil

fixup! Disables self-hosted runs for non-apache-owned repositories (#14239) (#14242)
  .github/workflows/build-images-workflow-run.yml
Owners: @potiuk, @ashb, @kaxil

Attempts to stabilize and improve speed of static checks (#14332)
  .dockerignore
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pylintrc-tests
  scripts/ci/docker-compose/local.yml
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_local_mounts.sh
  scripts/ci/libraries/_start_end.sh
  scripts/ci/static_checks/run_basic_static_checks.sh
  scripts/ci/static_checks/run_static_checks.sh
  scripts/in_container/run_pylint.sh
  setup.py
  tests/airflow_pylint/__init__.py
  tests/airflow_pylint/disable_checks_for_tests.py
  tests/airflow_pylint/do_not_use_asserts.py
  tests/test_utils/perf/dags/elastic_dag.py
Owners: @potiuk, @ashb, @kaxil

Replace Graph View Screenshot to show Auto-refresh
  docs/apache-airflow/img/graph.png
Owners: @mik-laj, @kaxil, @vikramkoka

Bugfix: Fix False alarm in import changes rule (#14493)
  airflow/upgrade/rules/import_changes.py
  airflow/upgrade/rules/renamed_classes.py
  tests/upgrade/rules/test_import_changes.py
Owners: none

Fix webserver exiting when gunicorn master crashes
  airflow/bin/cli.py
Owners: none

Add source providers
  constraints-source-providers-3.6.txt
  constraints-source-providers-3.7.txt
  constraints-source-providers-3.8.txt
  constraints-source-providers-3.9.txt
Owners: none

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @turbaszek
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb @turbaszek

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# Kubernetes
/airflow/kubernetes/ @dimberman
/airflow/kubernetes_executor_templates/ @dimberman
/airflow/executors/celery_kubernetes_executor.py @dimberman
/chart/ @dimberman @ashb

# Docs
/docs/ @mik-laj @kaxil @vikramkoka

# API
/airflow/api/ @mik-laj @kaxil
/airflow/api_connexion/ @mik-laj @kaxil @ephraimbuddy

# WWW
/airflow/www/ @ryanahamilton @ashb

# Providers
/airflow/providers/google/ @turbaszek @mik-laj
/airflow/providers/snowflake @turbaszek @potiuk

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @kaxil
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb
