Repository apache/airflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kaxil, @XD-DENG, @ashb, @turbaszek, @dimberman, @mik-laj, @vikramkoka, @ryanahamilton, @potiuk

.github/CODEOWNERS:

# Core
/airflow/executors/ @kaxil @XD-DENG @ashb @turbaszek
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb @turbaszek

# DAG Serialization
/airflow/serialization/ @kaxil

# Kubernetes
/airflow/kubernetes/ @dimberman
/airflow/kubernetes_executor_templates/ @dimberman
/airflow/executors/celery_kubernetes_executor.py @dimberman
/chart/ @dimberman

# Docs
/docs/ @mik-laj @kaxil @vikramkoka

# API
/airflow/api/ @mik-laj @kaxil
/airflow/api_connexion/ @mik-laj @kaxil

# WWW
/airflow/www/ @ryanahamilton

# Providers
/airflow/providers/google/ @turbaszek @mik-laj

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk
Dockerfile.ci @potiuk
/dev/ @potiuk @ashb @kaxil
/provider_packages/ @potiuk
/scripts/ @potiuk

add function to get metadata
  airflow/www/static/js/dag_code.js
  airflow/www/static/js/meta_value.js
  airflow/www/templates/airflow/dag_code.html
Owners: @ryanahamilton

Example include in docs
  airflow/example_dags/example_task_group_decorator.py
  docs/apache-airflow/concepts.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Correct a typo
  docs/apache-airflow/upgrading-to-2.rst
Owners: @mik-laj, @kaxil, @vikramkoka

Separated testcase for copy connection
  tests/www/test_views.py
Owners: none

Updated Test Case
  tests/www/test_views.py
Owners: none

Removed unrequired condition
  airflow/www/views.py
Owners: @ryanahamilton

Added description for URI Connection
  airflow/www/views.py
Owners: @ryanahamilton

Added copy connection action
  airflow/www/views.py
Owners: @ryanahamilton

Made changes mentioned in review
  airflow/www/views.py
  tests/www/test_views.py
Owners: @ryanahamilton

Added test cases for copy connection
  tests/www/test_views.py
Owners: none

Added no-providers constraints
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-no-providers-3.6.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
Owners: none

Refreshed constraints for Airflow 2.0.0
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
  constraints-no-providers-3.6.txt
  constraints-no-providers-3.7.txt
  constraints-no-providers-3.8.txt
  constraints-no-providers-3.9.txt
Owners: none

Refresh constraints for Airflow 2.0.1
  constraints-3.6.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-no-providers-3.8.txt
Owners: none

CONTRIBUTING.rst Link fix from md to rst
  CONTRIBUTING.rst
Owners: none

CONTRIBUTING.rst minor link fix and spelling
  CONTRIBUTING.rst
Owners: none

Fixed Sphinx version to be below 3.5.0
  constraints-3.6.txt
  constraints-3.7.txt
Owners: none

Limits Sphinx to <3.5.0
  setup.py
Owners: none
