Repository apache/airflow, changes with the labels that .github/labeler.yml gives for each.
All labels: provider:GCP, provider:AWS, provider:Azure, provider:Apache, k8s, area:dev, area:docs, area:webserver, area:cli

[AIRFLOW-XXXX] Fix Path for Github Action
  .github/workflows/label.yml
Labels: none

Tses
  airflow/contrib/operators/gcs_acl_operator.py
  airflow/gcp/__init__.py
Labels: provider:GCP

a
  airflow/contrib/operators/bigquery_get_data.py
  airflow/providers/amazon/__init__.py
Labels: provider:GCP

Update azure_cosmos_operator.py
  airflow/contrib/operators/azure_cosmos_operator.py
Labels: provider:Azure

Update kubernetes_pod_operator.py
  airflow/contrib/operators/kubernetes_pod_operator.py
Labels: k8s

Update cli.py
  airflow/bin/cli.py
Labels: area:cli

fixup! fixup! fixup! fixup! [AIRFLOW-6361] Run LocalTaskJob directly in Celery task
  airflow/bin/cli.py
  airflow/task/task_runner/standard_task_runner.py
Labels: area:cli

[AIRFLOW-6113] [AIP-21] Rename GCP transfer operator
  UPDATING.md
  airflow/contrib/hooks/gcp_transfer_hook.py
  airflow/contrib/operators/gcp_transfer_operator.py
  airflow/contrib/operators/gcs_to_gcs_transfer_operator.py
  airflow/contrib/operators/s3_to_gcs_transfer_operator.py
  airflow/contrib/sensors/gcp_transfer_sensor.py
  airflow/gcp/example_dags/example_cloud_storage_transfer_service.py
  airflow/gcp/hooks/cloud_storage_transfer_service.py
  airflow/gcp/operators/cloud_storage_transfer_service.py
  airflow/gcp/sensors/cloud_storage_transfer_service.py
  docs/howto/operator/gcp/cloud_storage_transfer_service.rst
  tests/gcp/hooks/test_cloud_storage_transfer_service.py
  tests/gcp/operators/test_cloud_storage_transfer_service.py
  tests/gcp/sensors/test_cloud_storage_transfer_service.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

Update airflow/cli/commands/task_command.py
  airflow/cli/commands/task_command.py
Labels: area:cli

Update airflow/bin/cli.py
  airflow/bin/cli.py
Labels: area:cli

[AIRFLOW-XXXX] Add more cross-reference
  docs/cli-ref.rst
  docs/configurations-ref.rst
  docs/executor/dask.rst
  docs/executor/debug.rst
  docs/executor/index.rst
  docs/howto/connection/index.rst
  docs/howto/operator/index.rst
  docs/howto/set-config.rst
  docs/howto/tracking-user-activity.rst
  docs/howto/write-logs.rst
  docs/lineage.rst
  docs/timezone.rst
  docs/tutorial.rst
  docs/usage-cli.rst
Labels: area:docs

[AIRFLOW-XXXX] Used fixed periodic auto-labeler from potiuk's repo
  .github/workflows/label.yml
Labels: none

[AIRFLOW-XXXX] Frequency of labeling has to be decreased
  .github/workflows/label.yml
Labels: none

fixup! fixup! fixup! fixup! fixup! [AIRFLOW-6361] Run LocalTaskJob directly in Celery task
  airflow/task/task_runner/standard_task_runner.py
Labels: none

[AIRFLOW-6459] Increase verbosity of pytest
  pytest.ini
Labels: none

[AIRFLOW-6460] Reduce timeout in pytest
  pytest.ini
Labels: none

fixup! fixup! fixup! fixup! fixup! fixup! [AIRFLOW-6361] Run LocalTaskJob directly in Celery task
  airflow/bin/cli.py
Labels: area:cli

[AIRFLOW-6461] Remove silent flags in Dockerfile
  Dockerfile
Labels: none

[AIRFLOW-XXXX] Add Probot App to add labels on PR
  .github/boring-cyborg.yml
Labels: none

WIP: Test PR
  airflow/bin/cli.py
  airflow/gcp/hooks/automl.py
Labels: area:cli

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
---

provider:GCP:
  - airflow/**/gcp/*
  - airflow/gcp/*
  - airflow/providers/google/cloud/*
  - airflow/**/gcp_*.py
  - airflow/**/gcs_*.py
  - airflow/**/bigquery_*.py

provider:AWS:
  - airflow/**/aws/*
  - airflow/providers/amazon/aws/*
  - airflow/**/aws_*.py
  - airflow/**/ecs_*.py
  - airflow/**/emr_*.py
  - airflow/**/sagemaker_*.py

provider:Azure:
  - airflow/**/azure/*
  - airflow/**/azure_*.py
  - airflow/**/adls_*.py
  - airflow/**/wasb_*.py

provider:Apache:
  - airflow/providers/apache/*

k8s:
  - airflow/**/kubernetes_*.py
  - airflow/kubernetes/*

area:dev:
  - scripts/*
  - dev/*

area:docs:
  - docs/*

area:webserver:
  - airflow/www/*
  - airflow/www_rbac/*

area:cli:
  - airflow/bin/cli.py
  - airflow/cli/**/*.py
