Repository apache/airflow, pull requests merged in 2019-11, with the labels that each got.

#6492 [AIRFLOW-5839] Upgrade pre-commit and hooks to latest versions
  .pre-commit-config.yaml
Labels: prod-image

#6410 [AIRFLOW-5677] Rename GCPSpeechToTextHook to CloudSpeechToTextHook
  UPDATING.md
  airflow/contrib/hooks/gcp_speech_to_text_hook.py
  airflow/gcp/hooks/speech_to_text.py
  airflow/gcp/operators/speech_to_text.py
  airflow/gcp/operators/translate_speech.py
  tests/gcp/hooks/test_speech_to_text.py
  tests/gcp/operators/test_speech_to_text.py
  tests/gcp/operators/test_translate_speech.py
  tests/test_core_to_contrib.py
Labels: AIP-21, provider:GCP

#6493 [AIRFLOW-5827] Move build to later stage in pre-commit
  .pre-commit-config.yaml
Labels: prod-image

#6497 [AIRFLOW-XXX] Add How-To-Guide to GCP PubSub
  airflow/providers/google/cloud/example_dags/example_pubsub.py
  airflow/providers/google/cloud/operators/pubsub.py
  airflow/providers/google/cloud/sensors/pubsub.py
  docs/howto/operator/gcp/pubsub.rst
  docs/operators-and-hooks-ref.rst
Labels: docs-only-change, provider:GCP

#6495 [AIRFLOW-5829] Get rid of the checklicence image.
  .travis.yml
  BREEZE.rst
  Dockerfile
  Dockerfile-checklicence
  breeze
  common/_files_for_rebuild_check.sh
  hooks/build
  scripts/ci/_utils.sh
  scripts/ci/ci_check_license.sh
  scripts/ci/ci_run_all_static_tests.sh
  scripts/ci/ci_run_all_static_tests_except_pylint.sh
  scripts/ci/ci_run_all_static_tests_except_pylint_licence.sh
  scripts/ci/ci_run_all_static_tests_pylint.sh
  scripts/ci/docker-compose.yml
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/local_ci_build_checklicence_image.sh
  scripts/ci/local_ci_cleanup.sh
  scripts/ci/pre_commit_check_license.sh
Labels: prod-image

#6496 [AIRFLOW-5704] Improve Kind Kubernetes scripts for local testing
  .gitignore
  .travis.yml
  BREEZE.rst
  Dockerfile
  breeze
  breeze-complete
  hooks/build
  scripts/ci/_utils.sh
  scripts/ci/ci_before_install.sh
  scripts/ci/ci_run_airflow_testing.sh
  scripts/ci/docker-compose-kubernetes.yml
  scripts/ci/docker-compose-local.yml
  scripts/ci/docker-compose.yml
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/kubernetes/app/deploy_app.sh
  scripts/ci/in_container/kubernetes/app/postgres.yaml
  scripts/ci/in_container/kubernetes/app/secrets.yaml
  scripts/ci/in_container/kubernetes/app/templates/airflow.template.yaml
  scripts/ci/in_container/kubernetes/app/templates/configmaps.template.yaml
  scripts/ci/in_container/kubernetes/app/templates/init_git_sync.template.yaml
  scripts/ci/in_container/kubernetes/app/volumes.yaml
  scripts/ci/in_container/kubernetes/docker/Dockerfile
  scripts/ci/in_container/kubernetes/docker/airflow-test-env-init.sh
  scripts/ci/in_container/kubernetes/docker/bootstrap.sh
  scripts/ci/in_container/kubernetes/docker/load_image.sh
  scripts/ci/in_container/kubernetes/kind-cluster-conf.yaml
  scripts/ci/in_container/kubernetes/setup_kubernetes.sh
  scripts/ci/in_container/run_ci_tests.sh
  scripts/ci/kubernetes/app/deploy_app.sh
  scripts/ci/kubernetes/docker/build.sh
  scripts/ci/kubernetes/setup_kubernetes.sh
  scripts/ci/local_ci_fix_ownership.sh
  scripts/ci/local_ci_stop_environment.sh
  tests/core.py
  tests/integration/kubernetes/test_kubernetes_executor.py
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
Labels: prod-image

#6473 [AIRFLOW-5819] Update AWSBatchOperator default value
  airflow/contrib/operators/awsbatch_operator.py
  tests/contrib/operators/test_awsbatch_operator.py
Labels: provider:AWS

#6470 [AIRFLOW-5817] Improve BigQuery operators idempotency
  UPDATING.md
  airflow/gcp/hooks/bigquery.py
  airflow/gcp/operators/bigquery.py
Labels: provider:GCP

#6383 [AIRFLOW-5711] Add fallback for connection's project ID in Dataflow integration
  UPDATING.md
  airflow/gcp/hooks/dataflow.py
  airflow/gcp/operators/dataflow.py
  tests/gcp/hooks/test_dataflow.py
  tests/gcp/operators/test_dataflow.py
  tests/gcp/operators/test_mlengine_utils.py
Labels: provider:GCP

#6465 [AIRFLOW-5803] Update S3Hook import paths [AIP-21]
  airflow/contrib/hooks/sagemaker_hook.py
  airflow/contrib/hooks/wasb_hook.py
  airflow/contrib/operators/dynamodb_to_s3.py
  airflow/contrib/operators/imap_attachment_to_s3_operator.py
  airflow/contrib/operators/mongo_to_s3.py
  airflow/contrib/operators/s3_copy_object_operator.py
  airflow/contrib/operators/s3_delete_objects_operator.py
  airflow/contrib/operators/s3_list_operator.py
  airflow/contrib/operators/s3_to_gcs_operator.py
  airflow/contrib/operators/s3_to_sftp_operator.py
  airflow/contrib/operators/sftp_to_s3_operator.py
  airflow/operators/gcs_to_s3.py
  airflow/operators/google_api_to_s3_transfer.py
  airflow/operators/redshift_to_s3_operator.py
  airflow/operators/s3_file_transform_operator.py
  airflow/operators/s3_to_hive_operator.py
  airflow/operators/s3_to_redshift_operator.py
  airflow/sensors/s3_key_sensor.py
  airflow/sensors/s3_prefix_sensor.py
  airflow/utils/log/s3_task_handler.py
  tests/contrib/hooks/test_sagemaker_hook.py
  tests/contrib/operators/test_s3_to_sftp_operator.py
  tests/contrib/operators/test_sftp_to_s3_operator.py
  tests/hooks/test_s3_hook.py
  tests/operators/test_gcs_to_s3.py
  tests/operators/test_s3_file_transform_operator.py
  tests/operators/test_s3_to_hive_operator.py
  tests/sensors/test_s3_key_sensor.py
  tests/sensors/test_s3_prefix_sensor.py
  tests/utils/log/test_s3_task_handler.py
Labels: AIP-21, provider:AWS

#6502 [AIRFLOW-5786] Migrate AWS SNS to /providers/amazon/aws
  UPDATING.md
  airflow/contrib/hooks/aws_sns_hook.py
  airflow/contrib/operators/sns_publish_operator.py
  airflow/providers/amazon/aws/hooks/sns.py
  airflow/providers/amazon/aws/operators/sns.py
  docs/autoapi_templates/index.rst
  docs/conf.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_sns.py
  tests/providers/amazon/aws/operators/test_sns.py
  tests/test_core_to_contrib.py
Labels: AIP-21, provider:AWS

#6386 [AIRFLOW-5716][part of AIRFLOW-5697] Simplify DataflowJobsController logic
  airflow/gcp/hooks/dataflow.py
  tests/gcp/hooks/test_dataflow.py
Labels: provider:GCP

#6511 [AIRFLOW-XXX] Improve the PubSub documentation
  docs/howto/operator/gcp/pubsub.rst
Labels: provider:GCP

#6530 [AIRFLOW-5878] Use JobID to monitor statuses when running a Dataflow …
  airflow/gcp/hooks/dataflow.py
  tests/gcp/hooks/test_dataflow.py
Labels: provider:GCP

#6512 [AIRFLOW-5824] Added AWS DataSync Hook and Operator
  airflow/contrib/hooks/aws_datasync_hook.py
  airflow/providers/amazon/aws/hooks/datasync.py
  airflow/providers/amazon/aws/operators/datasync.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_datasync.py
  tests/providers/amazon/aws/operators/test_datasync.py
  tests/test_core_to_contrib.py
Labels: provider:AWS

#5731 [AIRFLOW-5117] support refreshing EKS api tokens
  airflow/kubernetes/kube_client.py
  airflow/kubernetes/refresh_config.py
  tests/kubernetes/test_client.py
Labels: k8s

#5680 [AIRFLOW-5066] allow k8s fieldref substitution
  airflow/contrib/kubernetes/kubernetes_request_factory/kubernetes_request_factory.py
  tests/contrib/kubernetes/kubernetes_request_factory/test_kubernetes_request_factory.py
Labels: k8s

#6557 [AIRFLOW-XXX] Smal typo = Trakcing => Tracking
  docs/integration.rst
Labels: docs-only-change

#6527 [AIRFLOW-5876][part of AIRFLOW-5697] Fetch all Dataflow jobs during searching
  airflow/gcp/hooks/dataflow.py
  tests/gcp/hooks/test_dataflow.py
Labels: provider:GCP

#6529 [AIRFLOW-5877][depends on AIRFLOW-5876][part of AIRFLOW-5716] Improve job_id detection in DataflowRunner
  airflow/gcp/hooks/dataflow.py
  tests/gcp/hooks/test_dataflow.py
Labels: provider:GCP

#6536 [AIRFLOW-5885] List of tests is generated dynamically when you enter Breeze
  .dockerignore
  Dockerfile
  run-tests-complete
  scripts/ci/docker-compose-local.yml
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/run_extract_tests.sh
  scripts/ci/local_ci_fix_ownership.sh
  tests/test_utils/get_all_tests.py
Labels: dev-env, prod-image

#6450 [AIRFLOW-XXX] Local development environments - polish documentation
  LOCAL_VIRTUALENV.rst
Labels: docs-only-change

#6540 [AIRFLOW-5887] User is removed from CI images.
  Dockerfile
  docs/build.sh
  hooks/build
  scripts/ci/in_container/run_check_licence.sh
Labels: dev-env, prod-image

#6554 [AIRFLOW-5901] Group tests for the tasks and variables command
  tests/cli/test_cli.py
  tests/core.py
Labels: core:CLI

#6538 [AIRFLOW-5886] Selective copying of sources in Docker image. Depends on [AIRFLOW-5887]
  .dockerignore
  Dockerfile
Labels: dev-env, prod-image

#6566 [AIRFLOW-5917][part of AIRFLOW-5893] Group tests for the Webserver command
  tests/cli/test_cli.py
  tests/core.py
Labels: core:CLI

#6581 [AIRFLOW-XXX] Fix the docstring for Dataproc get_job method
  airflow/providers/google/cloud/hooks/dataproc.py
Labels: provider:GCP

#6487 [AIRFLOW-XXX] Alphabetical table and remove duplicate
  docs/operators-and-hooks-ref.rst
Labels: docs-only-change

#6567 [AIRFLOW-5918][part of AIRFLOW-5893] Group tests for the Pools command
  tests/cli/test_cli.py
  tests/core.py
Labels: core:CLI

#6440 [AIRFLOW-5768] GCP cloud sql don't store ephemeral connection in db
  airflow/gcp/hooks/cloud_sql.py
  airflow/gcp/operators/cloud_sql.py
  airflow/hooks/mysql_hook.py
  airflow/hooks/postgres_hook.py
  tests/gcp/hooks/test_cloud_sql.py
  tests/gcp/operators/test_cloud_sql.py
  tests/hooks/test_mysql_hook.py
  tests/hooks/test_postgres_hook.py
Labels: provider:GCP

#6579 [AIRFLOW-5926] Fix race-condition in TestCliWebServer
  tests/cli/test_cli.py
Labels: core:CLI

#6568 [AIRFLOW-5919][part of AIRFLOW-5893] Group tests for the Users/Roles/Perms commands
  tests/cli/test_cli.py
  tests/core.py
Labels: core:CLI

#6393 [AIRFLOW-5718] Add SFTPToGoogleCloudStorageOperator
  airflow/providers/google/cloud/example_dags/example_sftp_to_gcs.py
  airflow/providers/google/cloud/operators/sftp_to_gcs.py
  docs/howto/operator/gcp/sftp_to_gcs.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/operators/test_sftp_to_gcs.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs_system.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs_system_helper.py
Labels: provider:GCP

#6587 [AIRFLOW-5937][part of AIRFLOW-5893] Group tests for the version/connection/db commands
  tests/cli/test_cli.py
  tests/core.py
Labels: core:CLI

#6584 Remove duplicate documentation
  docs/autoapi_templates/index.rst
Labels: docs-only-change

#6571 [AIRFLOW-5923] Use absolute paths in GCP system tests
  tests/contrib/utils/run_once_decorator.py
  tests/gcp/operators/test_cloud_sql_system_helper.py
  tests/gcp/operators/test_cloud_storage_transfer_service_system_helper.py
  tests/gcp/operators/test_speech_system_helper.py
  tests/providers/google/cloud/operators/test_dataproc_system.py
  tests/providers/google/cloud/operators/test_natural_language_system.py
  tests/providers/google/cloud/operators/test_pubsub_system.py
  tests/providers/google/cloud/operators/test_vision_system.py
  tests/test_utils/gcp_system_helpers.py
  tests/test_utils/operators/postgres_local_executor.cfg
  tests/test_utils/system_tests_class.py
Labels: provider:GCP

#6572 [AIRFLOW-3489] Improve json data handling in PostgresToGcs operator
  airflow/example_dags/example_postgres_to_gcs.py
  airflow/operators/postgres_to_gcs.py
  tests/operators/test_postgres_to_gcs_system.py
Labels: provider:GCP

#6593 [AIRFLOW-6000] Fix the test randomly fail - TestCliConnections.test_cli_connections_add_delete
  tests/cli/test_cli.py
Labels: core:CLI

#5900 [AIRFLOW-5313] Add params support for awsbatch_operator
  airflow/contrib/operators/awsbatch_operator.py
  tests/contrib/operators/test_awsbatch_operator.py
Labels: provider:AWS

#6653 [AIRFLOW-6054] Add a command that starts the database consoles
  LOCAL_VIRTUALENV.rst
  airflow/bin/cli.py
  airflow/cli/commands/db_command.py
  tests/cli/commands/test_db_command.py
Labels: core:CLI

#6637 [AIRFLOW-6042] Fix SFTPToGcsExampleDagsSystemTest
  tests/providers/google/cloud/operators/test_sftp_to_gcs_system.py
Labels: provider:GCP

#4465 [AIRFLOW-3682] Rename s3_default to aws_default
  UPDATING.md
  airflow/contrib/operators/emr_add_steps_operator.py
  airflow/contrib/operators/emr_create_job_flow_operator.py
  airflow/contrib/operators/emr_terminate_job_flow_operator.py
Labels: provider:AWS

#6635 [AIRFLOW-6033] Fix UI Crash at "Landing Times" when change task_id wi…
  airflow/www/views.py
Labels: area:Webserver

#6647 [AIRFLOW-6049] set propagate True when needed in airflow test
  airflow/cli/commands/task_command.py
Labels: area:CLI

#6396 [AIRFLOW-5726] Delete table as file name in RedshiftToS3Transfer
  airflow/operators/redshift_to_s3_operator.py
  tests/operators/test_redshift_to_s3_operator.py
Labels: provider:AWS

#6650 [AIRFLOW-6051] Make DAG optional during displaying the log
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver

#6636 [AIRFLOW-6041] Add user agent to the Discovery API client
  airflow/gcp/hooks/base.py
  tests/gcp/hooks/test_base.py
Labels: provider:GCP

#6295 [AIRFLOW-XXX] GSoD: Adding Task re-run documentation
  docs/dag-run.rst
  docs/index.rst
  docs/scheduler.rst
Labels: area:docs
