Repository apache/airflow, pull requests merged in 2019-07, with the labels that each got.

#5606 [AIRFLOW-4074] Cannot put labels on Cloud Dataproc jobs
  airflow/contrib/hooks/gcp_dataproc_hook.py
  airflow/contrib/operators/dataproc_operator.py
  tests/contrib/operators/test_dataproc_operator.py
Labels: GCP

#5632 [AIRFLOW-5011] Add typehints for GCP Vision operators
  airflow/contrib/operators/gcp_vision_operator.py
Labels: GCP

#5619 [AIRFLOW-4998] Run multiple queries in BigQueryOperator
  airflow/contrib/operators/bigquery_operator.py
  tests/contrib/operators/test_bigquery_operator.py
Labels: GCP

#5567 [AIRFLOW-4931] Add KMS Encryption Configuration to BigQuery Hook and Operators
  airflow/contrib/hooks/bigquery_hook.py
  airflow/contrib/operators/bigquery_operator.py
  airflow/contrib/operators/bigquery_to_bigquery.py
  airflow/contrib/operators/gcs_to_bq.py
  tests/contrib/hooks/test_bigquery_hook.py
  tests/contrib/operators/test_bigquery_operator.py
Labels: provider:GCP

#5662 [AIRFLOW-5042] Improve mocking in Dataproc operator tests
  tests/contrib/operators/test_dataproc_operator.py
Labels: provider:GCP

#5504 [AIRFLOW-4869] Reorganize sql to gcs operators.
  airflow/contrib/operators/mssql_to_gcs.py
  airflow/contrib/operators/mysql_to_gcs.py
  airflow/contrib/operators/postgres_to_gcs_operator.py
  airflow/contrib/operators/sql_to_gcs.py
  scripts/ci/pylint_todo.txt
  tests/contrib/operators/test_mssql_to_gcs_operator.py
  tests/contrib/operators/test_mysql_to_gcs_operator.py
  tests/contrib/operators/test_postgres_to_gcs_operator.py
Labels: provider:GCP

#5634 [AIRFLOW-5012] Add typehints for gcp_*_hook.py
  airflow/contrib/hooks/gcp_api_base_hook.py
  airflow/contrib/hooks/gcp_bigtable_hook.py
  airflow/contrib/hooks/gcp_cloud_build_hook.py
  airflow/contrib/hooks/gcp_compute_hook.py
  airflow/contrib/hooks/gcp_container_hook.py
  airflow/contrib/hooks/gcp_dataflow_hook.py
  airflow/contrib/hooks/gcp_dataproc_hook.py
  airflow/contrib/hooks/gcp_function_hook.py
  airflow/contrib/hooks/gcp_kms_hook.py
  airflow/contrib/hooks/gcp_mlengine_hook.py
  airflow/contrib/hooks/gcp_natural_language_hook.py
  airflow/contrib/hooks/gcp_pubsub_hook.py
  airflow/contrib/hooks/gcp_spanner_hook.py
  airflow/contrib/hooks/gcp_speech_to_text_hook.py
  airflow/contrib/hooks/gcp_sql_hook.py
  airflow/contrib/hooks/gcp_text_to_speech_hook.py
  airflow/contrib/hooks/gcp_transfer_hook.py
  airflow/contrib/hooks/gcp_translate_hook.py
  airflow/contrib/hooks/gcp_video_intelligence_hook.py
  airflow/contrib/hooks/gcp_vision_hook.py
  tests/contrib/hooks/test_gcp_spanner_hook.py
Labels: provider:GCP

#5674 [AIRFLOW-5057] Provide bucket name to functions in S3 Hook when none is specified
  UPDATING.md
  airflow/hooks/S3_hook.py
  scripts/ci/pylint_todo.txt
  tests/hooks/test_s3_hook.py
Labels: provider:AWS

#5539 [AIRFLOW-4811] Implement GCP DLP' Hook and Operators
  airflow/contrib/example_dags/example_gcp_dlp_operator.py
  airflow/contrib/hooks/gcp_dlp_hook.py
  airflow/contrib/operators/dataproc_operator.py
  airflow/contrib/operators/gcp_dlp_operator.py
  docs/integration.rst
  setup.py
  tests/contrib/hooks/test_gcp_dlp_hook.py
  tests/contrib/operators/test_gcp_dlp_operator.py
  tests/contrib/operators/test_gcp_dlp_operator_system.py
  tests/contrib/utils/gcp_authenticator.py
Labels: provider:GCP
