Repository apache/airflow, pull requests merged in 2019-12, with the labels that each got.

#6698 [AIRFLOW-6136] Remove hardcoded project ID in example_dag
  airflow/gcp/example_dags/example_mlengine.py
Labels: provider:GCP

#6585 More GSOD improvements
  BREEZE.rst
  CONTRIBUTING.rst
  LOCAL_VIRTUALENV.rst
  STATIC_CODE_CHECKS.rst
  TESTING.rst
  images/fork.png
  images/review.png
  images/workflow.png
Labels: area:docs

#6729 [AIRFLOW-6172] BigQuery - Move BigQuery hook Pandas data frame system…
  tests/gcp/hooks/test_bigquery.py
  tests/gcp/hooks/test_bigquery_system.py
Labels: provider:GCP

#5566 [AIRFLOW-4935] Add method in the bigquery hook to list tables in a dataset
  airflow/gcp/hooks/bigquery.py
  tests/gcp/hooks/test_bigquery.py
Labels: provider:GCP

#6755 [AIRFLOW-6199] Add GKE example with XCOM
  airflow/gcp/example_dags/example_kubernetes_engine.py
Labels: k8s, provider:GCP

#6751 [AIRFLOW-6196] Use new syntax for NamedTuple
  airflow/models/dagbag.py
  airflow/ti_deps/deps/base_ti_dep.py
  airflow/utils/dag_processing.py
  tests/test_utils/mock_operators.py
Labels: area:CLI

#6676 [AIRFLOW-6081] Refactor test_connection_command.py
  airflow/utils/db.py
  tests/cli/commands/test_connection_command.py
  tests/test_utils/db.py
Labels: area:CLI

#6719 [AIRFLOW-6158] Upgrade sendgrid dependency
  airflow/contrib/utils/sendgrid.py
  setup.py
  tests/contrib/utils/test_sendgrid.py
Labels: Enhancement

#6612 [AIRFLOW-6018] Display task instance in table during backfilling
  airflow/jobs/backfill_job.py
Labels: area:CLI

#6746 [AIRFLOW-6191] Adjust pytest verbosity in CI and local environment
  TESTING.rst
  scripts/ci/in_container/entrypoint_ci.sh
  tests/pytest.ini
Labels: dev-env

#6749 [AIRFLOW-6193] Do not use asserts in Airflow main code
  airflow/api/common/experimental/trigger_dag.py
  airflow/contrib/example_dags/example_kubernetes_executor.py
  airflow/contrib/example_dags/example_kubernetes_executor_config.py
  airflow/example_dags/example_xcom.py
  airflow/executors/dask_executor.py
  airflow/executors/executor_loader.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_executor.py
  airflow/gcp/hooks/automl.py
  airflow/gcp/hooks/base.py
  airflow/gcp/hooks/bigquery_dts.py
  airflow/gcp/hooks/bigtable.py
  airflow/gcp/hooks/cloud_build.py
  airflow/gcp/hooks/cloud_sql.py
  airflow/gcp/hooks/cloud_storage_transfer_service.py
  airflow/gcp/hooks/compute.py
  airflow/gcp/hooks/dataflow.py
  airflow/gcp/hooks/functions.py
  airflow/gcp/hooks/mlengine.py
  airflow/gcp/hooks/spanner.py
  airflow/gcp/operators/gcs.py
  airflow/gcp/utils/credentials_provider.py
  airflow/plugins_manager.py
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/hooks/vision.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/serialization/serialized_objects.py
  airflow/utils/cli.py
  pylintrc
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/run_pylint_main.sh
  scripts/ci/in_container/run_pylint_tests.sh
  tests/airflow_pylint/__init__.py
  tests/airflow_pylint/do_not_use_asserts.py
  tests/gcp/hooks/test_cloud_sql.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: area:Scheduler/Executor

#6759 [AIRFLOW-6203] BigQuery - parametrize hook tests
  tests/gcp/hooks/test_bigquery.py
Labels: area:operators-hooks, provider:GCP

#6732 [AIRFLOW-6175] fixes scheduler queue bug
  airflow/jobs/scheduler_job.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/test_utils/mock_executor.py
Labels: area:Scheduler/Executor

#6739 [AIRFLOW-6183] Fix flaky GCS hook gzip test
  tests/gcp/hooks/test_gcs.py
Labels: provider:GCP

#6655 [AIRFLOW-6056] Allow EmrAddStepsOperator to accept job_flow_name as alternative to job_flow_id
  airflow/contrib/hooks/emr_hook.py
  airflow/contrib/operators/emr_add_steps_operator.py
  tests/contrib/hooks/test_emr_hook.py
  tests/contrib/operators/test_emr_add_steps_operator.py
Labels: provider:AWS

#6774 [AIRFLOW XXX] Update kubernetes doc with correct path
  docs/executor/kubernetes.rst
Labels: k8s

#6768 [AIRFLOW-6209] Drop gcp_service_account_keys option
  UPDATING.md
  airflow/config_templates/default_airflow.cfg
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/pod_generator.py
  scripts/ci/kubernetes/app/templates/configmaps.template.yaml
Labels: k8s

#6355 [AIRFLOW-5685] Loading AVRO file from GCS to BQ throwing ValueError
  airflow/gcp/hooks/bigquery.py
  tests/gcp/hooks/test_bigquery.py
Labels: provider:GCP

#6758 [AIRFLOW-6195] Fixed TaskInstance attrs not correct on UI
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/taskinstance.py
Labels: area:UI

#6651 [AIRFLOW-6084] Add info endpoint to experimental api
  airflow/www/api/experimental/endpoints.py
  tests/www/api/experimental/test_endpoints.py
Labels: area:Webserver

#6762 [AIRFLOW-XXX] Add task lifecycle image to documentation
  docs/concepts.rst
  docs/img/task_lifecycle_diagram.png
  docs/img/task_stages.png
Labels: area:docs

#6765 [AIRFLOW-5889] Fix polling for AWS Batch job status
  airflow/contrib/operators/awsbatch_operator.py
  tests/contrib/operators/test_awsbatch_operator.py
Labels: provider:AWS

#6740 [AIRFLOW-6181] Add InProcessExecutor
  TESTING.rst
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/executors/base_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/executor_loader.py
  airflow/models/taskinstance.py
  docs/executor/debug.rst
  tests/executors/test_debug_executor.py
Labels: area:Scheduler/Executor

#6806 [AIRFLOW-6241] - Fix typo in airflow/gcp/operator/dataflow.py
  airflow/gcp/operators/dataflow.py
Labels: area:docs

#6359 [AIRFLOW-XXX] Change instances "Google cloud storage" to "Google Cloud Storage".
  airflow/gcp/hooks/gcs.py
  airflow/gcp/operators/bigquery.py
  airflow/gcp/operators/cloud_storage_transfer_service.py
  airflow/gcp/operators/gcs.py
  airflow/gcp/sensors/gcs.py
  airflow/operators/cassandra_to_gcs.py
  airflow/operators/gcs_to_bq.py
  airflow/operators/gcs_to_gcs.py
  airflow/operators/gcs_to_sftp.py
  airflow/operators/local_to_gcs.py
  airflow/operators/mysql_to_gcs.py
  airflow/operators/sql_to_gcs.py
Labels: provider:GCP

#6798 [AIRFLOW-6122] Rename CloudKMS service classes
  UPDATING.md
  airflow/contrib/hooks/gcp_kms_hook.py
  airflow/gcp/hooks/kms.py
  tests/gcp/hooks/test_kms.py
  tests/test_core_to_contrib.py
Labels: AIP-21

#6776 [AIRFLOW-6220] BigQuery - remove redundant hook tests after renaming
  tests/gcp/hooks/test_bigquery.py
Labels: provider:GCP

#6726 [AIRFLOW-6170] BranchPythonOperator does not do XCom push of returned value
  UPDATING.md
  airflow/operators/python_operator.py
  tests/operators/test_python_operator.py
Labels: area:operators-hooks

#6683 [AIRFLOW-6091] Add flushing in execute method for BigQueryCursor
  airflow/gcp/hooks/bigquery.py
  tests/gcp/hooks/test_bigquery.py
Labels: provider:GCP

#6808 [AIRFLOW-6246] Add support None in mysql_to_gcs
  airflow/operators/mysql_to_gcs.py
  tests/operators/test_mysql_to_gcs.py
Labels: provider:GCP

#6805 [AIRLFOW-6240] BigQuery - remove unnecessary mocks in hook system tests
  tests/gcp/hooks/test_bigquery_system.py
Labels: provider:GCP

#6196 [AIRFLOW-3152] Kubernetes Pod Operator should support init containers.
  airflow/contrib/operators/kubernetes_pod_operator.py
  docs/howto/operator/kubernetes.rst
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
Labels: k8s

#6678 [AIRFLOW-6083] Add custom configuration to AWS lambda client
  airflow/providers/amazon/aws/hooks/lambda_function.py
Labels: provider:AWS

#6764 [AIRFLOW-6206] Move and rename AWS batch operator [AIP-21]
  UPDATING.md
  airflow/contrib/operators/awsbatch_operator.py
  airflow/providers/amazon/aws/operators/batch.py
  docs/operators-and-hooks-ref.rst
  scripts/ci/pylint_todo.txt
  tests/providers/amazon/aws/operators/test_batch.py
  tests/test_core_to_contrib.py
Labels: provider:AWS

#6088 [AIRFLOW-5349] Add schedulername option for KubernetesPodOperator
  airflow/contrib/operators/kubernetes_pod_operator.py
  airflow/kubernetes/pod_generator.py
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
Labels: k8s

#6166 [AIRFLOW-5532] Fix imagePullSecrets in pod created from k8s executor
  airflow/kubernetes/worker_configuration.py
  tests/kubernetes/test_worker_configuration.py
Labels: k8s

#6777 [AIRFLOW-6223] BigQuery - improve hook tests [depends on AIRFLOW-6220]
  airflow/gcp/hooks/bigquery.py
  tests/gcp/hooks/test_bigquery.py
Labels: provider:GCP

#6350 [AIRFLOW-5681] Allow specification of a tag or hash for the git_sync init container
  airflow/config_templates/default_airflow.cfg
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/worker_configuration.py
  tests/kubernetes/test_worker_configuration.py
Labels: k8s

#6607 [AIRFLOW-5458] Bump Flask-AppBuilder to 2.2.0
  setup.py
Labels: area:Webserver

#6692 [AIRFLOW-6130] Make Cassandra to GCS operator pylint compatible
  airflow/operators/cassandra_to_gcs.py
  scripts/ci/pylint_todo.txt
  tests/operators/test_cassandra_to_gcs.py
Labels: provider:GCP

#6840 [AIRFLOW-6269] Add show config command in CLI
  airflow/bin/cli.py
  airflow/cli/commands/config_command.py
  airflow/configuration.py
  tests/cli/commands/test_config_command.py
Labels: area:CLI

#6827 [AIRFLOW-6126] [AIP-21] Rename GCP Speech operators
  UPDATING.md
  airflow/contrib/hooks/gcp_text_to_speech_hook.py
  airflow/contrib/operators/gcp_speech_to_text_operator.py
  airflow/contrib/operators/gcp_text_to_speech_operator.py
  airflow/gcp/example_dags/example_speech.py
  airflow/gcp/operators/speech_to_text.py
  airflow/gcp/operators/text_to_speech.py
  airflow/gcp/operators/translate_speech.py
  docs/howto/operator/gcp/speech.rst
  tests/gcp/operators/test_speech_to_text.py
  tests/gcp/operators/test_text_to_speech.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#6826 [AIRFLOW-6147] [AIP-21] Rename GoogleCloudStorageToS3Operator
  UPDATING.md
  airflow/contrib/operators/gcs_to_s3.py
  airflow/operators/gcs_to_s3.py
  docs/howto/define_extra_link.rst
  docs/plugins.rst
  tests/operators/test_gcs_to_s3.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#6838 [AIRFLOW-6267] Add View Creation to BigQueryOperator
  airflow/gcp/example_dags/example_bigquery.py
  airflow/gcp/operators/bigquery.py
  tests/gcp/operators/test_bigquery.py
Labels: provider:GCP

#6872 [AIRFLOW-6106] [AIP-21] Rename GCP compute operators
  airflow/contrib/hooks/gcp_compute_hook.py
  airflow/contrib/operators/gcp_compute_operator.py
  airflow/gcp/example_dags/example_compute.py
  airflow/gcp/example_dags/example_compute_igm.py
  airflow/gcp/operators/compute.py
  docs/howto/operator/gcp/compute.rst
  tests/gcp/operators/test_compute.py
  tests/test_core_to_contrib.py
Labels: AIP-21

#6862 [AIRFLOW-6105] [AIP-21] Rename Bigtable operators and sensor
  UPDATING.md
  airflow/contrib/operators/gcp_bigtable_operator.py
  airflow/gcp/example_dags/example_bigtable.py
  airflow/gcp/operators/bigtable.py
  airflow/gcp/sensors/bigtable.py
  docs/howto/operator/gcp/bigtable.rst
  tests/gcp/operators/test_bigtable.py
  tests/gcp/sensors/test_bigtable.py
  tests/test_core_to_contrib.py
Labels: AIP-21

#6867 [AIRFLOW-6315] Create .airflow_db_initialised always in tests dir
  tests/conftest.py
Labels: dev-env

#6877 [AIRFLOW-6324] Hide celery commands when executor is not CeleryExecutor
  UPDATING.md
  airflow/bin/cli.py
  airflow/cli/commands/celery_command.py
  airflow/cli/commands/flower_command.py
  airflow/config_templates/default_airflow.cfg
  tests/cli/commands/test_celery_command.py
  tests/test_configuration.py
Labels: area:CLI

#6883 [AIRFLOW-6330] Show cli help when param blank or typo
  airflow/bin/cli.py
Labels: area:CLI

#6937 [AIRFLOW-6380] Create separate variable for each subcommands
  airflow/bin/cli.py
Labels: area:CLI

#6936 [AIRFLOW-6379][depends on AIRFLOW-6377] Simplify `airflow task run` logic
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/task_command.py
  airflow/utils/cli.py
  tests/cli/commands/test_task_command.py
  tests/utils/test_cli_util.py
Labels: area:CLI

#6940 [AIRFLOW-XXX] Remove trailing whitespaces from UPDATING.md
  UPDATING.md
Labels: area:docs

#6941 [AIRFLOW-6383] Add no trailing-whitespace pre-commit hook
  .editorconfig
  .pre-commit-config.yaml
  airflow/_vendor/nvd3/templates/base.html
  airflow/_vendor/nvd3/templates/discretebarchart.html
  airflow/_vendor/nvd3/templates/linewfocuschart.html
  docs/Makefile
  docs/best-practices.rst
  docs/concepts.rst
  docs/dag-run.rst
  docs/howto/connection/aws.rst
  docs/howto/custom-operator.rst
  docs/howto/operator/amazon/aws/datasync.rst
  docs/howto/operator/kubernetes.rst
  docs/howto/run-behind-proxy.rst
  docs/howto/set-config.rst
  docs/scheduler.rst
  scripts/ci/minikdc.properties
  scripts/systemd/airflow
  scripts/systemd/airflow-flower.service
  scripts/systemd/airflow-kerberos.service
  scripts/systemd/airflow-scheduler.service
  scripts/systemd/airflow-webserver.service
  scripts/systemd/airflow-worker.service
  scripts/systemd/airflow.conf
  scripts/upstart/airflow-flower.conf
  scripts/upstart/airflow-scheduler.conf
  scripts/upstart/airflow-webserver.conf
  scripts/upstart/airflow-worker.conf
  tests/dags_corrupted/README.md
Labels: dev-env

#6871 [AIRFLOW-6319] Add support for AWS Athena workgroups
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/operators/athena.py
  tests/providers/amazon/aws/operators/test_athena.py
Labels: provider:AWS

#6964 [AIRFLOW-6400] Fix pytest not working on Windows
  tests/conftest.py
Labels: dev-env

#6909 [AIRFLOW-6359] spark_submit_hook.py status polling interval config
  airflow/contrib/hooks/spark_submit_hook.py
  airflow/contrib/operators/spark_submit_operator.py
  tests/contrib/operators/test_spark_submit_operator.py
Labels: area:operators-hooks

#6968 [Airflow-6110] [AIP-21] Rename GCP natural language operators
  UPDATING.md
  airflow/contrib/operators/gcp_natural_language_operator.py
  airflow/providers/google/cloud/example_dags/example_natural_language.py
  airflow/providers/google/cloud/operators/natural_language.py
  docs/howto/operator/gcp/natural_language.rst
  tests/providers/google/cloud/operators/test_natural_language.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#6966 [AIRFLOW-6108] [AIP-21] Rename CloudDLP operators
  UPDATING.md
  airflow/contrib/operators/gcp_dlp_operator.py
  airflow/gcp/operators/dlp.py
  tests/gcp/operators/test_dlp.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#6977 [AIRFLOW-6109] [AIP-21] Rename GCP function operators
  airflow/contrib/hooks/gcp_function_hook.py
  airflow/contrib/operators/gcp_function_operator.py
  airflow/gcp/example_dags/example_functions.py
  airflow/gcp/operators/functions.py
  docs/howto/operator/gcp/functions.rst
  tests/gcp/operators/test_functions.py
  tests/test_core_to_contrib.py
Labels: AIP-21, provider:GCP

#6886 [AIRFLOW-6327] http_hook: Accept json= parameter for payload
  airflow/hooks/http_hook.py
  tests/hooks/test_http_hook.py
Labels: area:operators-hooks

#6898 [AIRFLOW-6432] Raise appropriate exception in EmrAddStepsOperator when using job_flow_name and no cluster is found
  airflow/contrib/hooks/emr_hook.py
  airflow/contrib/operators/emr_add_steps_operator.py
  tests/contrib/operators/test_emr_add_steps_operator.py
Labels: provider:AWS
