Repository apache/airflow, pull requests merged in 2019-08, with the labels that each got.

#5728 [AIRFLOW-4813] Add the client_info parameter during GCP's client libr…
  airflow/contrib/hooks/gcp_api_base_hook.py
  airflow/contrib/hooks/gcp_bigtable_hook.py
  airflow/contrib/hooks/gcp_container_hook.py
  airflow/contrib/hooks/gcp_dataflow_hook.py
  airflow/contrib/hooks/gcp_dlp_hook.py
  airflow/contrib/hooks/gcp_natural_language_hook.py
  airflow/contrib/hooks/gcp_spanner_hook.py
  airflow/contrib/hooks/gcp_speech_to_text_hook.py
  airflow/contrib/hooks/gcp_text_to_speech_hook.py
  airflow/contrib/hooks/gcp_translate_hook.py
  airflow/contrib/hooks/gcp_video_intelligence_hook.py
  airflow/contrib/hooks/gcp_vision_hook.py
  airflow/contrib/hooks/gcs_hook.py
  setup.py
  tests/contrib/hooks/test_gcp_container_hook.py
Labels: provider:GCP

#5730 [AIRFLOW-1772] Add support for cron expression in GoogleCloudStorageO…
  airflow/contrib/sensors/gcs_sensor.py
  tests/contrib/sensors/test_gcs_sensor.py
Labels: provider:GCP

#5734 [AIRFLOW-5122] Normalize *_conn_id parameters in Bigquery operators
  airflow/contrib/operators/bigquery_check_operator.py
  airflow/contrib/operators/bigquery_get_data.py
  airflow/contrib/operators/bigquery_operator.py
  airflow/contrib/operators/bigquery_table_delete_operator.py
  airflow/contrib/operators/bigquery_to_bigquery.py
  airflow/contrib/operators/bigquery_to_gcs.py
  airflow/contrib/operators/dataflow_operator.py
  airflow/contrib/operators/gcs_operator.py
  airflow/contrib/operators/gcs_to_bq.py
  tests/contrib/operators/test_bigquery_operator.py
Labels: provider:GCP

#5718 [AIRFLOW-5107] Fix template_fields in GCS ACL operator
  airflow/contrib/hooks/gcs_hook.py
  airflow/contrib/operators/gcs_acl_operator.py
  tests/contrib/operators/test_gcs_acl_operator.py
Labels: provider:GCP

#5738 [AIRFLOW-5127] Add gzip support for CassandraToGoogleCloudStorageOperator
  airflow/contrib/operators/cassandra_to_gcs.py
  tests/contrib/operators/test_cassandra_to_gcs_operator.py
Labels: provider:GCP

#5741 [AIRFLOW-5128] Move provide_gcp_credential_file decorator to GoogleCl…
  UPDATING.md
  airflow/contrib/hooks/gcp_api_base_hook.py
  airflow/contrib/hooks/gcp_dataflow_hook.py
  tests/contrib/hooks/test_gcp_api_base_hook.py
Labels: provider:GCP

#5402 [AIRFLOW-4746] Implement GCP Cloud Tasks' Hook and Operators
  airflow/contrib/example_dags/example_gcp_tasks.py
  airflow/contrib/hooks/gcp_tasks_hook.py
  airflow/contrib/operators/gcp_tasks_operator.py
  docs/integration.rst
  setup.py
  tests/contrib/hooks/test_gcp_tasks_hook.py
  tests/contrib/operators/test_gcp_tasks_operator.py
  tests/contrib/operators/test_gcp_tasks_operator_system.py
  tests/contrib/utils/gcp_authenticator.py
Labels: provider:GCP

#5714 [AIRFLOW-5103] Pass matching objects in GCSPrefixSensor along via XCom
  airflow/contrib/sensors/gcs_sensor.py
  tests/contrib/sensors/test_gcs_sensor.py
Labels: provider:GCP

#5737 [AIRFLOW-5125] Add gzip support for AdlsToGoogleCloudStorageOperator
  airflow/contrib/operators/adls_to_gcs.py
  tests/contrib/operators/test_adls_to_gcs_operator.py
Labels: provider:GCP

#5711 [AIRFLOW-4161] BigQuery to Mysql Operator
  __init__.py
  airflow/contrib/operators/bigquery_to_mysql_operator.py
  tests/contrib/operators/test_bigquery_operator.py
Labels: provider:GCP

#5744 [AIRFLOW-5130] Use GOOGLE_APPLICATION_CREDENTIALS constant from library
  airflow/contrib/hooks/gcp_api_base_hook.py
  airflow/contrib/operators/gcp_container_operator.py
  tests/contrib/hooks/test_gcp_api_base_hook.py
  tests/contrib/operators/test_gcp_container_operator.py
Labels: provider:GCP

#5627 [AIRFLOW-5003] Making AWS Hooks pylint compatible
  airflow/contrib/hooks/aws_athena_hook.py
  airflow/contrib/hooks/aws_dynamodb_hook.py
  airflow/contrib/hooks/aws_firehose_hook.py
  airflow/contrib/hooks/aws_glue_catalog_hook.py
  airflow/contrib/hooks/aws_hook.py
  airflow/contrib/hooks/aws_lambda_hook.py
  airflow/contrib/hooks/aws_sns_hook.py
  airflow/contrib/hooks/aws_sqs_hook.py
  scripts/ci/pylint_todo.txt
Labels: provider:AWS

#5735 [AIRFLOW-5123] Normalize *_conn_id parameter in GCS operators
  airflow/contrib/operators/adls_to_gcs.py
  airflow/contrib/operators/cassandra_to_gcs.py
  airflow/contrib/operators/file_to_gcs.py
  airflow/contrib/operators/gcs_acl_operator.py
  airflow/contrib/operators/gcs_delete_operator.py
  airflow/contrib/operators/gcs_download_operator.py
  airflow/contrib/operators/gcs_list_operator.py
  airflow/contrib/operators/gcs_operator.py
  airflow/contrib/operators/gcs_to_bq.py
  airflow/contrib/operators/gcs_to_gcs.py
  airflow/contrib/operators/gcs_to_s3.py
  airflow/contrib/operators/s3_to_gcs_operator.py
  airflow/contrib/operators/sql_to_gcs.py
  tests/contrib/operators/test_adls_to_gcs_operator.py
  tests/contrib/operators/test_s3_to_gcs_operator.py
Labels: provider:GCP

#5746 [AIRFLOW-5132] Add tests for fallback_to_default_project_id
  tests/contrib/hooks/test_gcp_api_base_hook.py
Labels: provider:GCP

#5768 [AIRFLOW-5153] Option to force delete non-empty BQ datasets
  airflow/contrib/hooks/bigquery_hook.py
  airflow/contrib/operators/bigquery_operator.py
  tests/contrib/hooks/test_bigquery_hook.py
  tests/contrib/operators/test_bigquery_operator.py
Labels: provider:GCP

#5766 [AIRFLOW-4230] BigQuery schema update options should be a list
  airflow/contrib/hooks/bigquery_hook.py
  airflow/contrib/operators/bigquery_operator.py
  tests/contrib/operators/test_bigquery_operator.py
Labels: provider:GCP

#5749 [AIRFLOW-5135] Use gapic ClientInfo in GoogleCloudBaseHook
  airflow/contrib/hooks/gcp_api_base_hook.py
Labels: provider:GCP

#5736 [AIRFLOW-5124] Add gzip support for S3ToGoogleCloudStorageOperator
  airflow/contrib/operators/s3_to_gcs_operator.py
  tests/contrib/operators/test_s3_to_gcs_operator.py
Labels: provider:GCP

#5726 [AIRFLOW-5104] Set default schedule for GCP Transfer operators
  airflow/contrib/operators/gcp_transfer_operator.py
  tests/contrib/operators/test_gcp_transfer_operator.py
Labels: provider:GCP

#5745 [AIRFLOW-5131] Create scopes property in GoogleCloudBaseHook
  airflow/contrib/hooks/gcp_api_base_hook.py
  tests/contrib/hooks/test_gcp_api_base_hook.py
Labels: provider:GCP

#5727 [AIRFLOW-5114] Fix gcp_transfer_hook behavior with default operator arguments
  airflow/contrib/hooks/gcp_transfer_hook.py
  airflow/contrib/operators/gcp_transfer_operator.py
Labels: provider:GCP

#5781 [AIRFLOW-5165] make number of dataproc masters configurable
  airflow/contrib/operators/dataproc_operator.py
  tests/contrib/operators/test_dataproc_operator.py
Labels: provider:GCP

#5546 [AIRFLOW-4908] BigQuery Hooks/Operators for update_dataset, patch_dataset, get_dataset
  airflow/contrib/hooks/bigquery_hook.py
  airflow/contrib/operators/bigquery_operator.py
  docs/integration.rst
  tests/contrib/hooks/test_bigquery_hook.py
  tests/contrib/operators/test_bigquery_operator.py
Labels: provider:GCP

#5747 [AIRFLOW-5133] Keep original env state in provide_gcp_credential_file
  airflow/contrib/hooks/gcp_api_base_hook.py
  tests/contrib/hooks/test_gcp_api_base_hook.py
Labels: provider:GCP

#5816 [AIRFLOW-5211] Add pass_value to template_fields for BigQueryValueCheckOperator
  airflow/contrib/operators/bigquery_check_operator.py
Labels: provider:GCP

#5791 [AIRFLOW-5183] Preprare documentation for new GCP import paths
  airflow/gcp/__init__.py
  airflow/gcp/example_dags/__init__.py
  airflow/gcp/hooks/__init__.py
  airflow/gcp/operators/__init__.py
  airflow/gcp/sensors/__init__.py
  docs/autoapi_templates/index.rst
  docs/conf.py
  tests/gcp/__init__.py
  tests/gcp/hooks/__init__.py
  tests/gcp/operators/__init__.py
  tests/gcp/sensors/__init__.py
Labels: AIP-21, provider:GCP

#5833 [AIRFLOW-XXX] Remove "Setup Test Environment using MySQL" article
  docs/howto/index.rst
  docs/howto/setup-test-environment-mysql.rst
Labels: docs-only-change

#5792 [AIRFLOW-5184] Move GCP Natural Language to core
  airflow/contrib/hooks/gcp_natural_language_hook.py
  airflow/contrib/operators/gcp_natural_language_operator.py
  airflow/gcp/example_dags/example_natural_language.py
  airflow/gcp/hooks/natural_language.py
  airflow/gcp/operators/natural_language.py
  docs/howto/operator/gcp/natural_language.rst
  docs/integration.rst
  tests/gcp/hooks/test_natural_language.py
  tests/gcp/operators/test_natural_language.py
  tests/gcp/operators/test_natural_language_system.py
Labels: AIP-21, provider:GCP

#5835 [AIRFLOW-5233] Fixed consistency in whitespace (tabs/eols) + common problems
  .pre-commit-config.yaml
  CONTRIBUTING.md
  LICENSE
  NOTICE
  airflow/_vendor/nvd3/templates/cumulativelinechart.html
  airflow/_vendor/nvd3/templates/linechart.html
  airflow/_vendor/nvd3/templates/lineplusbarchart.html
  airflow/config_templates/default_webserver_config.py
  airflow/www/templates/airflow/circles.html
  airflow/www/templates/airflow/task_instance.html
  airflow/www/templates/airflow/version.html
  airflow/www/templates/appbuilder/index.html
  airflow/www/templates/appbuilder/navbar_menu.html
  airflow/www/templates/appbuilder/navbar_right.html
  dev/README.md
  dev/requirements.txt
  docs/howto/check-health.rst
  docs/howto/connection/grpc.rst
  docs/howto/define_extra_link.rst
  docs/howto/operator/index.rst
  docs/img/logos/airflow_blue_name_spin_o_transparent.svg
  docs/img/logos/airflow_transparent_dark_gray.svg
  docs/img/logos/airflow_transparent_gray.svg
  docs/scheduler.rst
  docs/security.rst
  docs/timezone.rst
  licenses/LICENSE-bootstrap.txt
  licenses/LICENSE-d3-tip.txt
  licenses/LICENSE-d3js.txt
  licenses/LICENSE-dagre-d3.txt
  licenses/LICENSE-datatables.txt
  licenses/LICENSE-elasticmock.txt
  licenses/LICENSE-flask-kerberos.txt
  licenses/LICENSE-webgl-2d.txt
  scripts/ci/kubernetes/docker/bootstrap.sh
  scripts/ci/minikdc.properties
  scripts/ci/pylint_todo.txt
  scripts/systemd/airflow
  scripts/systemd/airflow-flower.service
  scripts/systemd/airflow-kerberos.service
  scripts/systemd/airflow-worker.service
Labels: dev-env

#5664 [AIRFLOW-5140] fix all missing type annotation errors from dmypy
  airflow/__init__.py
  airflow/api/auth/backend/default.py
  airflow/api/auth/backend/deny_all.py
  airflow/contrib/example_dags/example_gcp_speech.py
  airflow/contrib/hooks/gcs_hook.py
  airflow/contrib/operators/awsbatch_operator.py
  airflow/contrib/operators/ecs_operator.py
  airflow/contrib/operators/gcp_function_operator.py
  airflow/executors/__init__.py
  airflow/hooks/dbapi_hook.py
  airflow/models/crypto.py
  airflow/security/kerberos.py
  airflow/settings.py
  airflow/utils/state.py
  airflow/www/app.py
  setup.py
  tests/contrib/hooks/test_databricks_hook.py
  tests/contrib/hooks/test_gcp_cloud_build_hook.py
  tests/contrib/utils/gcp_authenticator.py
  tests/core.py
  tests/test_utils/reset_warning_registry.py
Labels: dev-env

#5793 [AIRFLOW-5187] Move GCP Container to core
  airflow/contrib/hooks/gcp_container_hook.py
  airflow/contrib/operators/gcp_container_operator.py
  airflow/gcp/hooks/kubernetes_engine.py
  airflow/gcp/operators/kubernetes_engine.py
  docs/integration.rst
  tests/gcp/hooks/test_kubernetes_engine.py
  tests/gcp/operators/test_kubernetes_engine.py
Labels: AIP-21, provider:GCP

#5794 [AIRFLOW-5185] Move GCP Video Intelligence to core
  airflow/contrib/hooks/gcp_video_intelligence_hook.py
  airflow/contrib/operators/gcp_video_intelligence_operator.py
  airflow/gcp/example_dags/example_video_intelligence.py
  airflow/gcp/hooks/video_intelligence.py
  airflow/gcp/operators/video_intelligence.py
  docs/howto/operator/gcp/video.rst
  docs/integration.rst
  tests/gcp/hooks/test_video_intelligence.py
  tests/gcp/operators/test_video_intelligence.py
  tests/gcp/operators/test_video_intelligence_system.py
  tests/gcp/operators/test_video_intelligence_system_helper.py
Labels: AIP-21, provider:GCP

#5795 [AIRFLOW-5186] Move GCP Translate to core
  airflow/contrib/hooks/gcp_speech_to_text_hook.py
  airflow/contrib/hooks/gcp_text_to_speech_hook.py
  airflow/contrib/hooks/gcp_translate_hook.py
  airflow/contrib/operators/gcp_speech_to_text_operator.py
  airflow/contrib/operators/gcp_text_to_speech_operator.py
  airflow/contrib/operators/gcp_translate_operator.py
  airflow/gcp/example_dags/example_speech.py
  airflow/gcp/example_dags/example_translate.py
  airflow/gcp/hooks/speech_to_text.py
  airflow/gcp/hooks/text_to_speech.py
  airflow/gcp/hooks/translate.py
  airflow/gcp/operators/speech_to_text.py
  airflow/gcp/operators/text_to_speech.py
  airflow/gcp/operators/translate.py
  airflow/gcp/operators/translate_speech.py
  docs/howto/operator/gcp/speech.rst
  docs/howto/operator/gcp/translate-speech.rst
  docs/howto/operator/gcp/translate.rst
  docs/integration.rst
  tests/gcp/hooks/test_speech_to_text.py
  tests/gcp/hooks/test_text_to_speech.py
  tests/gcp/hooks/test_translate.py
  tests/gcp/operators/test_speech_system.py
  tests/gcp/operators/test_speech_system_helper.py
  tests/gcp/operators/test_speech_to_text.py
  tests/gcp/operators/test_text_to_speech.py
  tests/gcp/operators/test_translate.py
  tests/gcp/operators/test_translate_speech.py
  tests/gcp/operators/test_translate_system.py
Labels: AIP-21, provider:GCP

#5803 [AIRFLOW-5200] Move GCP PubSub to core
  airflow/contrib/example_dags/example_pubsub_flow.py
  airflow/contrib/hooks/gcp_pubsub_hook.py
  airflow/contrib/operators/pubsub_operator.py
  airflow/contrib/sensors/pubsub_sensor.py
  airflow/gcp/hooks/pubsub.py
  airflow/gcp/operators/pubsub.py
  airflow/gcp/sensors/pubsub.py
  tests/gcp/hooks/test_pubsub.py
  tests/gcp/operators/test_pubsub.py
  tests/gcp/sensors/test_pubsub.py
Labels: AIP-21, provider:GCP

#5802 [AIRFLOW-5199]Move GCP Spanner to core
  airflow/contrib/hooks/gcp_spanner_hook.py
  airflow/contrib/operators/gcp_spanner_operator.py
  airflow/gcp/example_dags/example_spanner.py
  airflow/gcp/example_dags/example_spanner.sql
  airflow/gcp/hooks/spanner.py
  airflow/gcp/operators/spanner.py
  docs/howto/operator/gcp/spanner.rst
  docs/integration.rst
  tests/gcp/hooks/test_spanner.py
  tests/gcp/operators/test_spanner.py
  tests/gcp/operators/test_spanner_system.py
  tests/gcp/operators/test_spanner_system_helper.py
Labels: AIP-21, provider:GCP

#5800 [AIRFLOW-5196] Move Google DLP to core
  airflow/contrib/hooks/gcp_dlp_hook.py
  airflow/contrib/operators/gcp_dlp_operator.py
  airflow/gcp/example_dags/example_gcp_dlp_operator.py
  airflow/gcp/hooks/dlp.py
  airflow/gcp/operators/dlp.py
  docs/integration.rst
  tests/gcp/hooks/test_dlp.py
  tests/gcp/operators/test_dlp.py
  tests/gcp/operators/test_dlp_system.py
Labels: AIP-21, provider:GCP

#5799 [AIRFLOW-5195] Move GCP Dataflow to core
  airflow/contrib/hooks/gcp_dataflow_hook.py
  airflow/contrib/operators/dataflow_operator.py
  airflow/contrib/utils/mlengine_operator_utils.py
  airflow/gcp/hooks/dataflow.py
  airflow/gcp/operators/dataflow.py
  docs/integration.rst
  tests/contrib/utils/test_mlengine_operator_utils.py
  tests/gcp/hooks/test_dataflow.py
  tests/gcp/operators/test_dataflow.py
Labels: AIP-21, provider:GCP

#5796 [AIRFLOW-5189] Move GCP Vision to core
  airflow/contrib/hooks/gcp_vision_hook.py
  airflow/contrib/operators/gcp_vision_operator.py
  airflow/gcp/example_dags/example_vision.py
  airflow/gcp/hooks/vision.py
  airflow/gcp/operators/vision.py
  docs/howto/operator/gcp/vision.rst
  docs/integration.rst
  tests/gcp/hooks/test_vision.py
  tests/gcp/operators/test_vision.py
  tests/gcp/operators/test_vision_system.py
  tests/gcp/operators/test_vision_system_helper.py
Labels: AIP-21, provider:GCP

#5804 [AIRFLOW-5201] Move GCP Functions to core
  airflow/contrib/hooks/gcp_function_hook.py
  airflow/contrib/operators/gcp_function_operator.py
  airflow/gcp/example_dags/example_functions.py
  airflow/gcp/hooks/functions.py
  airflow/gcp/operators/functions.py
  docs/howto/operator/gcp/function.rst
  docs/integration.rst
  tests/gcp/hooks/test_functions.py
  tests/gcp/operators/test_functions.py
  tests/gcp/operators/test_functions_system.py
Labels: AIP-21, provider:GCP

#5807 [AIRFLOW-5204] Shellcheck + common licences + executable shebangs in shell files
  .pre-commit-config.yaml
  CONTRIBUTING.md
  airflow/bin/airflow_scheduler_autorestart.sh
  airflow/contrib/hooks/qubole_hook.py
  airflow/contrib/hooks/ssh_hook.py
  airflow/contrib/operators/bigquery_to_mysql_operator.py
  airflow/contrib/operators/qubole_operator.py
  airflow/example_dags/docker_copy_data.py
  airflow/example_dags/entrypoint.sh
  airflow/models/__init__.py
  airflow/models/taskfail.py
  airflow/models/taskreschedule.py
  airflow/www/compile_assets.sh
  dev/README.md
  dev/sign.sh
  docs/build.sh
  docs/start_doc_server.sh
  hooks/_default_branch.sh
  hooks/build
  run-tests
  run_unit_tests.sh
  scripts/ci/_utils.sh
  scripts/ci/ci_before_install.sh
  scripts/ci/ci_check_license.sh
  scripts/ci/ci_docs.sh
  scripts/ci/ci_flake8.sh
  scripts/ci/ci_lint_dockerfile.sh
  scripts/ci/ci_mypy.sh
  scripts/ci/ci_pylint_main.sh
  scripts/ci/ci_pylint_tests.sh
  scripts/ci/ci_run_airflow_testing.sh
  scripts/ci/ci_run_all_static_tests.sh
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/run_check_licence.sh
  scripts/ci/in_container/run_ci_tests.sh
  scripts/ci/in_container/run_docs_build.sh
  scripts/ci/in_container/run_fix_ownership.sh
  scripts/ci/in_container/run_flake8.sh
  scripts/ci/in_container/run_mypy.sh
  scripts/ci/in_container/run_pylint_main.sh
  scripts/ci/in_container/run_pylint_tests.sh
  scripts/ci/kubernetes/docker/airflow-test-env-init.sh
  scripts/ci/kubernetes/docker/bootstrap.sh
  scripts/ci/kubernetes/docker/build.sh
  scripts/ci/kubernetes/docker/compile.sh
  scripts/ci/kubernetes/kube/deploy.sh
  scripts/ci/kubernetes/minikube/_k8s.sh
  scripts/ci/kubernetes/minikube/start_minikube.sh
  scripts/ci/kubernetes/minikube/stop_minikube.sh
  scripts/ci/kubernetes/setup_kubernetes.sh
  scripts/ci/local_ci_build.sh
  scripts/ci/local_ci_enter_environment.sh
  scripts/ci/local_ci_fix_ownership.sh
  scripts/ci/local_ci_pull_and_build.sh
  scripts/ci/local_ci_run_airflow_testing.sh
  scripts/ci/local_ci_stop_environment.sh
  scripts/docker/entrypoint.sh
  tests/dags/test_invalid_cron.py
Labels: dev-env

#5870 [AIRFLOW-5247] Move NPM dependencies up in the Dockerfile
  Dockerfile
  hooks/build
  scripts/ci/_utils.sh
Labels: dev-env

#5859 [AIRFLOW-5253] Move GCP KMS to core
  airflow/contrib/hooks/gcp_kms_hook.py
  airflow/gcp/hooks/kms.py
  tests/gcp/hooks/test_kms.py
Labels: AIP-21, provider:GCP

#5860 [AIRFLOW-5254] Move GCP Tasks to core
  airflow/contrib/hooks/gcp_tasks_hook.py
  airflow/contrib/operators/gcp_tasks_operator.py
  airflow/gcp/example_dags/example_tasks.py
  airflow/gcp/hooks/tasks.py
  airflow/gcp/operators/tasks.py
  docs/integration.rst
  tests/gcp/hooks/test_tasks.py
  tests/gcp/operators/test_tasks.py
  tests/gcp/operators/test_tasks_system.py
Labels: AIP-21, provider:GCP

#5808 [AIRFLOW-5205] Check xml files with xmllint + Licenses
  .pre-commit-config.yaml
  CONTRIBUTING.md
  tests/testconfig/conf/core-with-trash.xml
  tests/testconfig/conf/emr-core-site.xml
  tests/testconfig/conf/ha-core-site.xml
  tests/testconfig/conf/ha-noport-hdfs-site.xml
  tests/testconfig/conf/ha-noport-trash-hdfs-site.xml
  tests/testconfig/conf/ha-port-hdfs-site.xml
  tests/testconfig/conf/non-ha-port-core-site.xml
Labels: dev-env

#5797 [AIRFLOW-5190] Move GCP Compute to core
  airflow/contrib/hooks/gcp_compute_hook.py
  airflow/contrib/operators/gcp_compute_operator.py
  airflow/gcp/example_dags/example_compute.py
  airflow/gcp/example_dags/example_compute_igm.py
  airflow/gcp/hooks/compute.py
  airflow/gcp/operators/compute.py
  docs/howto/operator/gcp/compute.rst
  docs/integration.rst
  tests/gcp/hooks/test_gcp_compute_hook.py
  tests/gcp/operators/test_compute.py
  tests/gcp/operators/test_compute_system.py
  tests/gcp/operators/test_compute_system_helper.py
Labels: AIP-21, provider:GCP

#5861 [AIRFLOW-5255] Move GCP SQL to core
  airflow/contrib/hooks/gcp_sql_hook.py
  airflow/contrib/operators/gcp_sql_operator.py
  airflow/gcp/example_dags/example_cloud_sql.py
  airflow/gcp/example_dags/example_cloud_sql_query.py
  airflow/gcp/hooks/cloud_sql.py
  airflow/gcp/operators/cloud_sql.py
  airflow/models/connection.py
  docs/howto/operator/gcp/sql.rst
  docs/integration.rst
  tests/gcp/hooks/test_cloud_sql.py
  tests/gcp/operators/test_cloud_sql.py
  tests/gcp/operators/test_cloud_sql_operatorquery_system.py
  tests/gcp/operators/test_cloud_sql_operatorquery_system_helper.py
  tests/gcp/operators/test_cloud_sql_system.py
  tests/gcp/operators/test_cloud_sql_system_helper.py
  tests/hooks/test_gcp_sql_hook.py
Labels: AIP-21, provider:GCP

#5806 [AIRFLOW-5203] Move GCP BigTable to core
  airflow/contrib/hooks/gcp_bigtable_hook.py
  airflow/contrib/operators/gcp_bigtable_operator.py
  airflow/gcp/example_dags/example_bigtable.py
  airflow/gcp/hooks/bigtable.py
  airflow/gcp/operators/bigtable.py
  airflow/gcp/sensors/bigtable.py
  docs/howto/operator/gcp/bigtable.rst
  docs/integration.rst
  tests/contrib/operators/postgres_local_executor.cfg
  tests/gcp/hooks/test_bigtable.py
  tests/gcp/operators/test_bigtable.py
  tests/gcp/operators/test_bigtable_system.py
  tests/gcp/operators/test_bigtable_system_helper.py
  tests/gcp/sensors/test_bigtable.py
Labels: AIP-21, provider:GCP

#5801 [AIRFLOW-5197] Move GCP Datastore to core
  airflow/contrib/hooks/datastore_hook.py
  airflow/contrib/operators/datastore_export_operator.py
  airflow/contrib/operators/datastore_import_operator.py
  airflow/gcp/hooks/datastore.py
  airflow/gcp/operators/datastore.py
  docs/integration.rst
  tests/gcp/hooks/datastore.py
Labels: AIP-21, provider:GCP

#5798 [AIRFLOW-5193] Move GCP Cloud Build to core
  airflow/contrib/hooks/gcp_cloud_build_hook.py
  airflow/contrib/operators/gcp_cloud_build_operator.py
  airflow/gcp/example_dags/example_cloud_build.py
  airflow/gcp/hooks/cloud_build.py
  airflow/gcp/operators/cloud_build.py
  docs/howto/operator/gcp/cloud_build.rst
  docs/integration.rst
  tests/gcp/hooks/test_cloud_build.py
  tests/gcp/operators/test_cloud_build.py
  tests/gcp/operators/test_cloud_build_operator_system.py
  tests/gcp/operators/test_cloud_build_system_helper.py
Labels: AIP-21, provider:GCP

#5809 [AIRFLOW-5206] Common licences for md files, TOC, remove TODO
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  TODO.md
  UPDATING.md
  airflow/contrib/example_dags/example_twitter_README.md
  dev/README.md
  scripts/ci/kubernetes/README.md
  tests/dags/README.md
  tests/test_utils/README.md
Labels: dev-env

#5645 [AIRFLOW-5027] Get logs from CloudWatch for ECSOperators
  airflow/contrib/hooks/aws_logs_hook.py
  airflow/contrib/hooks/sagemaker_hook.py
  airflow/contrib/operators/ecs_operator.py
  tests/contrib/hooks/test_aws_logs_hook.py
  tests/contrib/hooks/test_sagemaker_hook.py
  tests/contrib/sensors/test_sagemaker_training_sensor.py
Labels: provider:AWS

#5862 [AIRFLOW-4768] Add timeout parameter to Cloud Video Intelligence operators
  airflow/gcp/operators/video_intelligence.py
  tests/gcp/operators/test_video_intelligence.py
Labels: provider:GCP

#5668 [AIRFLOW-4316] support setting kubernetes_environment_variables config section from env var
  airflow/configuration.py
  tests/core.py
  tests/models/test_connection.py
  tests/models/test_taskinstance.py
  tests/models/test_variable.py
  tests/operators/test_email_operator.py
  tests/test_configuration.py
Labels: k8s

#5889 [AIRFLOW-5289] Add body to templated fields for gcp operators.
  airflow/gcp/operators/cloud_sql.py
  airflow/gcp/operators/compute.py
  airflow/gcp/operators/functions.py
Labels: provider:GCP

#5825 [AIRFLOW-5218] less polling for AWS Batch status
  airflow/contrib/operators/awsbatch_operator.py
Labels: provider:AWS

#5885 [AIRFLOW-XXX] Fix analytics doc
  docs/howto/tracking-user-activity.rst
Labels: docs-only-change

#5898 [AIRFLOW-5298] Move FileToGcs to core
  airflow/contrib/operators/file_to_gcs.py
  airflow/operators/local_to_gcs.py
  docs/integration.rst
  scripts/ci/pylint_todo.txt
  tests/operators/test_local_to_gcs.py
Labels: AIP-21, provider:GCP

#5897 [AIRFLOW-5297] Move AdlsToGcs operator to core
  airflow/contrib/operators/adls_to_gcs.py
  airflow/operators/adls_to_gcs.py
  docs/integration.rst
  scripts/ci/pylint_todo.txt
  tests/operators/test_adls_to_gcs_operator.py
Labels: AIP-21, provider:GCP

#5896 [AIRFLOW-5299] Move SQLToGCS to core
  airflow/contrib/operators/mssql_to_gcs.py
  airflow/contrib/operators/mysql_to_gcs.py
  airflow/contrib/operators/postgres_to_gcs_operator.py
  airflow/contrib/operators/sql_to_gcs.py
  airflow/operators/mssql_to_gcs.py
  airflow/operators/mysql_to_gcs.py
  airflow/operators/postgres_to_gcs.py
  airflow/operators/sql_to_gcs.py
  docs/integration.rst
  tests/operators/test_mssql_to_gcs.py
  tests/operators/test_mysql_to_gcs.py
  tests/operators/test_postgres_to_gcs.py
Labels: AIP-21, provider:GCP

#5892 [AIRFLOW-5294] Make GCP MLEngine pylint compatible
  airflow/gcp/operators/mlengine.py
  airflow/gcp/utils/mlengine_operator_utils.py
  airflow/gcp/utils/mlengine_prediction_summary.py
  scripts/ci/pylint_todo.txt
  tests/gcp/operators/test_mlengine.py
  tests/gcp/operators/test_mlengine_utils.py
Labels: provider:GCP

#5823 [AIRFLOW-XXX] Create "Using the CLI" page
  docs/howto/index.rst
  docs/index.rst
  docs/security.rst
  docs/usage-cli.rst
  docs/usage-rest-api.rst
Labels: docs-only-change

#5893 [AIRFLOW-4771] Avoid initialization of hook in the GCP operator constructors
  airflow/gcp/operators/bigtable.py
  airflow/gcp/operators/compute.py
  airflow/gcp/operators/functions.py
  airflow/gcp/operators/spanner.py
  airflow/gcp/operators/speech_to_text.py
  airflow/gcp/operators/text_to_speech.py
  airflow/gcp/operators/translate.py
  airflow/gcp/operators/translate_speech.py
  airflow/gcp/operators/vision.py
  tests/gcp/operators/test_functions.py
Labels: provider:GCP

#5720 [AIRFLOW-5099] Implement Google Cloud AutoML operators
  airflow/gcp/example_dags/example_automl_nl_text_classification.py
  airflow/gcp/example_dags/example_automl_nl_text_extraction.py
  airflow/gcp/example_dags/example_automl_nl_text_sentiment.py
  airflow/gcp/example_dags/example_automl_tables.py
  airflow/gcp/example_dags/example_automl_translation.py
  airflow/gcp/example_dags/example_automl_video_intelligence_classification.py
  airflow/gcp/example_dags/example_automl_video_intelligence_tracking.py
  airflow/gcp/example_dags/example_automl_vision_classification.py
  airflow/gcp/example_dags/example_automl_vision_object_detection.py
  airflow/gcp/hooks/automl.py
  airflow/gcp/operators/automl.py
  docs/howto/operator/gcp/automl.rst
  docs/integration.rst
  setup.py
  tests/contrib/utils/base_gcp_system_test_case.py
  tests/contrib/utils/gcp_authenticator.py
  tests/gcp/hooks/test_automl.py
  tests/gcp/operators/test_automl.py
  tests/gcp/operators/test_automl_system.py
Labels: provider:GCP

#5906 [AIRFLOW-5304] Fix extra links in BigQueryOperator with multiple queries
  airflow/contrib/operators/bigquery_operator.py
  tests/contrib/operators/test_bigquery_operator.py
Labels: provider:GCP

#5921 [AIRFLOW-5317] Remove invalid arguments in tests
  tests/gcp/sensors/test_cloud_storage_transfer_service.py
Labels: provider:GCP

#5929 [AIRFLOW-5168] Add tests for Dataproc{*} Operators
  tests/contrib/operators/test_dataproc_operator.py
Labels: provider:GCP

#5928 [AIRFLOW-5168] Fix Dataproc Operators & add tests
  airflow/contrib/operators/dataproc_operator.py
  tests/contrib/operators/test_dataproc_operator.py
Labels: provider:GCP

#5891 [AIRFLOW-5292] Allow ECSOperator to tag tasks
  airflow/contrib/operators/ecs_operator.py
  tests/contrib/operators/test_ecs_operator.py
Labels: provider:AWS

#5931 [AIRFLOW-5322] Fix flaky gcp transfer hook test
  tests/gcp/hooks/test_cloud_storage_transfer_service.py
Labels: provider:GCP

#5938 [AIRFLOW-5333] Move init docs to class docs in PubSub
  airflow/gcp/operators/pubsub.py
Labels: provider:GCP

#5877 [AIRFLOW-5275] Add support for template parameters in DataprocWorkflowTemplateInstantiateOperator
  airflow/contrib/operators/dataproc_operator.py
  tests/contrib/operators/test_dataproc_operator.py
Labels: provider:GCP

#5821 [AIRFLOW-5118] Add ability to specify optional components in Dataproc…
  airflow/contrib/operators/dataproc_operator.py
  tests/contrib/operators/test_dataproc_operator.py
Labels: provider:GCP

#5945 [AIRFLOW-5340] Fix GCP DLP example
  airflow/gcp/example_dags/example_gcp_dlp_operator.py
Labels: provider:GCP

#5939 [AIRFLOW-5335] Update GCSHook methods so they need min IAM perms
  airflow/contrib/hooks/gcs_hook.py
  tests/contrib/hooks/test_gcs_hook.py
Labels: provider:GCP

#5947 [AIRFLOW-5346] Add system tests for GKECluster
  airflow/gcp/example_dags/example_kubernetes_engine.py
  tests/contrib/utils/gcp_authenticator.py
  tests/gcp/operators/test_kubernetes_engine_system.py
Labels: provider:GCP

#5935 [AIRFLOW-5330] Add project_id to Datastore hook and operators
  airflow/gcp/hooks/datastore.py
  airflow/gcp/operators/datastore.py
  tests/gcp/hooks/datastore.py
Labels: provider:GCP

#5955 [AIRFLOW-5350] Fix bug in the num_retires field in BigQueryHook
  airflow/contrib/hooks/bigquery_hook.py
  airflow/contrib/hooks/gcp_api_base_hook.py
  airflow/contrib/hooks/gcp_dataproc_hook.py
  airflow/gcp/hooks/cloud_build.py
  airflow/gcp/hooks/cloud_sql.py
  airflow/gcp/hooks/cloud_storage_transfer_service.py
  airflow/gcp/hooks/compute.py
  airflow/gcp/hooks/dataflow.py
  airflow/gcp/hooks/datastore.py
  airflow/gcp/hooks/functions.py
  airflow/gcp/hooks/gsheets.py
  airflow/gcp/hooks/kms.py
  airflow/gcp/hooks/pubsub.py
  tests/contrib/hooks/test_gcp_api_base_hook.py
Labels: provider:GCP

#5907 [AIRFLOW-5303] Use project_id from GCP credentials
  airflow/contrib/hooks/bigquery_hook.py
  airflow/contrib/hooks/gcp_api_base_hook.py
  tests/contrib/hooks/test_bigquery_hook.py
  tests/contrib/hooks/test_gcp_api_base_hook.py
  tests/gcp/hooks/test_bigtable.py
  tests/gcp/hooks/test_cloud_build.py
  tests/gcp/hooks/test_cloud_sql.py
  tests/gcp/hooks/test_cloud_storage_transfer_service.py
  tests/gcp/hooks/test_dlp.py
  tests/gcp/hooks/test_functions.py
  tests/gcp/hooks/test_gcp_compute_hook.py
  tests/gcp/hooks/test_kubernetes_engine.py
  tests/gcp/hooks/test_spanner.py
Labels: provider:GCP

#5960 [AIRFLOW-5353] Simplify GKEClusterHook
  airflow/gcp/hooks/kubernetes_engine.py
  tests/gcp/hooks/test_kubernetes_engine.py
Labels: provider:GCP

#5925 [AIRFLOW-5320] Add system tests for PubSub
  airflow/gcp/example_dags/example_pubsub.py
  tests/contrib/utils/gcp_authenticator.py
  tests/gcp/operators/test_pubsub_system.py
Labels: provider:GCP

#5958 [AIRFLOW-5335] Simplify GCSHook test
  tests/contrib/hooks/test_gcs_hook.py
Labels: provider:GCP

#5961 [AIRFLOW-5356] Fix GCP Datastore unit tests
  tests/gcp/hooks/test_datastore.py
Labels: provider:GCP
