Repository apache/airflow, pull requests merged in 2019-10, with the labels that each got.

#6174 [AIRFLOW-5543] Fix tooltip disappears in tree and graph view
  airflow/www/static/css/main.css
  airflow/www/static/js/graph.js
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/tree.html
Labels: core:UI

#6213 [AIRFLOW-XXX] Extract operators and hooks to separate page
  docs/index.rst
  docs/integration.rst
  docs/operators-and-hooks-ref.rst
Labels: docs-only-change

#6242 [AIRFLOW-XXX] Improve format in code-block directives
  docs/howto/set-config.rst
  docs/howto/use-test-config.rst
  docs/howto/write-logs.rst
  docs/lineage.rst
  docs/security.rst
Labels: docs-only-change

#6245 [AIRFLOW-XXX] Format Sendgrid docs
  airflow/contrib/utils/sendgrid.py
Labels: docs-only-change

#6064 [AIRFLOW-5444] Fix action_logging so that request.form for POST is logged
  airflow/www/decorators.py
  tests/www/test_views.py
Labels: core:Webserver

#6249 [AIRFLOW-XXX] Add fundaments operators and hooks
  docs/operators-and-hooks-ref.rst
Labels: docs-only-change

#6243 [AIRFLOW-XXX] Highlight code blocks
  docs/errors.rst
  docs/executor/celery.rst
  docs/faq.rst
  docs/howto/connection/aws.rst
  docs/howto/connection/gcp_sql.rst
  docs/howto/connection/mysql.rst
  docs/howto/connection/oracle.rst
  docs/howto/connection/postgres.rst
  docs/howto/connection/ssh.rst
  docs/howto/secure-connections.rst
  docs/howto/use-test-config.rst
  docs/howto/write-logs.rst
  docs/metrics.rst
  docs/plugins.rst
  docs/security.rst
  docs/timezone.rst
Labels: docs-only-change

#6244 [AIRFLOW-XXX] Improve linking
  docs/concepts.rst
  docs/faq.rst
Labels: docs-only-change

#6250 [AIRFLOW-XXX] Move examples note
  docs/operators-and-hooks-ref.rst
Labels: docs-only-change

#6262 [AIRFLOW-5599] Improve Python 3 support in MLEngine integration
  airflow/gcp/utils/mlengine_operator_utils.py
  airflow/gcp/utils/mlengine_prediction_summary.py
  tests/gcp/operators/test_mlengine_utils.py
Labels: provider:GCP

#6263 [AIRFLOW-5598] Improve MLEngine typehints
  airflow/gcp/operators/mlengine.py
Labels: provider:GCP

#6267 [AIRFLOW-5601] Use built-in pagination mechanism in MLEngine hook
  airflow/gcp/hooks/mlengine.py
  tests/gcp/hooks/test_mlengine.py
Labels: provider:GCP

#6264 [AIRFLOW-5600] Add MLEngine system tests
  airflow/gcp/example_dags/example_mlengine.py
  tests/gcp/operators/test_mlengine_system.py
  tests/gcp/operators/test_mlengine_system_helper.py
Labels: provider:GCP

#6268 [AIRFLOW-5602] Use unittest.mock in MLEngine hook tests
  tests/gcp/hooks/test_mlengine.py
Labels: provider:GCP

#6257 [AIRFLOW-XXX] Split extra packages table in multiple
  docs/installation.rst
Labels: docs-only-change

#6280 [AIRFLOW-XXX] Fix extra-packages tables
  docs/installation.rst
Labels: docs-only-change

#6271 [AIRFLOW-5603] Add MLEngine version operators
  airflow/gcp/example_dags/example_mlengine.py
  airflow/gcp/operators/mlengine.py
  tests/gcp/operators/test_mlengine.py
Labels: provider:GCP

#6275 [AIRFLOW-XXX] Fix heading levels
  docs/operators-and-hooks-ref.rst
Labels: docs-only-change

#6265 [AIRFLOW-5597] Linkify urls in task instance log
  airflow/www/templates/airflow/ti_log.html
Labels: core:UI

#6258 [AIRFLOW-5595] Pass job location when initializing the operator
  airflow/operators/gcs_to_bq.py
Labels: provider:GCP

#6279 [AIRFLOW-5609] Add MLEngine models operators
  airflow/gcp/example_dags/example_mlengine.py
  airflow/gcp/hooks/mlengine.py
  airflow/gcp/operators/mlengine.py
  tests/gcp/hooks/test_mlengine.py
  tests/gcp/operators/test_mlengine.py
Labels: provider:GCP

#6282 [AIRFLOW-5614] Enable Fernet by default
  UPDATING.md
  airflow/configuration.py
  airflow/models/crypto.py
  airflow/models/variable.py
  docs/faq.rst
  docs/howto/connection/gcp.rst
  docs/howto/index.rst
  docs/howto/secure-connections.rst
  docs/installation.rst
  docs/security.rst
  setup.py
Labels: security

#6247 [AIRFLOW-5588] Add Celery's architecture diagram
  Dockerfile
  docs/conf.py
  docs/executor/celery.rst
Labels: docs-only-change

#6286 [AIRFLOW-5617] Add fallback for connection's project id in MLEngine hook
  UPDATING.md
  airflow/gcp/hooks/mlengine.py
  airflow/gcp/operators/mlengine.py
  tests/gcp/hooks/test_mlengine.py
  tests/gcp/operators/test_mlengine.py
  tests/gcp/operators/test_mlengine_utils.py
  tests/gcp/utils/base_gcp_mock.py
Labels: provider:GCP

#6236 [AIRFLOW-5584] Initialise hook in execute in Cloud SQL operators
  airflow/gcp/operators/cloud_sql.py
  tests/gcp/hooks/test_cloud_sql.py
  tests/gcp/operators/test_cloud_sql.py
Labels: provider:GCP

#6237 AIRFLOW-5581: Join KubernetesJobWatcher in terminate call and unblock queues from blocking forever
  airflow/executors/kubernetes_executor.py
Labels: k8s

#6169 [AIRFLOW-4970] Add Google Campaign Manager integration
  airflow/gcp/operators/bigquery.py
  airflow/provider/__init__.py
  airflow/provider/google/__init__.py
  airflow/provider/google/marketing_platform/__init__.py
  airflow/provider/google/marketing_platform/example_dags/__init__.py
  airflow/provider/google/marketing_platform/example_dags/example_campaign_manager.py
  airflow/provider/google/marketing_platform/hooks/__init__.py
  airflow/provider/google/marketing_platform/hooks/campaign_manager.py
  airflow/provider/google/marketing_platform/operators/__init__.py
  airflow/provider/google/marketing_platform/operators/campaign_manager.py
  airflow/provider/google/marketing_platform/sensors/__init__.py
  airflow/provider/google/marketing_platform/sensors/campaign_manager.py
  docs/autoapi_templates/index.rst
  docs/conf.py
  docs/howto/operator/gcp/campaign_manager.rst
  docs/operators-and-hooks-ref.rst
  tests/gcp/utils/gcp_authenticator.py
  tests/provider/__init__.py
  tests/provider/google/__init__.py
  tests/provider/google/marketing_platform/__init__.py
  tests/provider/google/marketing_platform/hooks/__init__.py
  tests/provider/google/marketing_platform/hooks/test_campaign_manager.py
  tests/provider/google/marketing_platform/operators/__init__.py
  tests/provider/google/marketing_platform/operators/test_campaign_manager.py
  tests/provider/google/marketing_platform/operators/test_campaign_manager_system.py
  tests/provider/google/marketing_platform/operators/test_campaign_manager_system_helper.py
  tests/provider/google/marketing_platform/sensors/__init__.py
  tests/provider/google/marketing_platform/sensors/test_campaign_manager.py
Labels: provider:GCP

#6292 [AIRFLOW-5624] Use mock decorator in MLEngine operators tests
  tests/gcp/operators/test_mlengine.py
Labels: provider:GCP

#6304 [AIRFLOW-4965] Handle quote exceptions in GCP AI operators (v1.10)
  airflow/contrib/hooks/gcp_api_base_hook.py
  airflow/contrib/hooks/gcp_natural_language_hook.py
  airflow/contrib/hooks/gcp_speech_to_text_hook.py
  airflow/contrib/hooks/gcp_text_to_speech_hook.py
  airflow/contrib/hooks/gcp_translate_hook.py
  airflow/contrib/hooks/gcp_video_intelligence_hook.py
  airflow/contrib/hooks/gcp_vision_hook.py
  tests/contrib/hooks/test_gcp_api_base_hook.py
  tests/contrib/hooks/test_gcp_translate_hook.py
  tests/contrib/operators/test_gcp_vision_operator_system_helper.py
Labels: provider:GCP

#6293 [AIRFLOW-5625] Update MLEngine integration doc and typehint
  airflow/gcp/hooks/cloud_build.py
  airflow/gcp/hooks/mlengine.py
  airflow/gcp/operators/mlengine.py
Labels: provider:GCP

#6298 [AIRFLOW-5630] Improve BigQueryGetDataOperator to handle no rows
  airflow/gcp/operators/bigquery.py
Labels: provider:GCP

#6296 [AIRFLOW-5626] Add labels to MLEngine resources
  airflow/gcp/hooks/mlengine.py
  tests/gcp/hooks/test_mlengine.py
Labels: provider:GCP

#6325 [AIRFLOW-5651] Replace GCP deprecated imports
  airflow/gcp/operators/kubernetes_engine.py
  airflow/operators/gcs_to_s3.py
Labels: provider:GCP

#6309 [AIRFLOW-3783][AIRFLOW-5395] Switch to HEADER arg to unload data from Redshift to S3
  airflow/operators/redshift_to_s3_operator.py
  scripts/ci/pylint_todo.txt
  tests/operators/test_redshift_to_s3_operator.py
Labels: provider:AWS

#5837 [AIRFLOW-5223] Use KinD for Kubernetes in CI
  .pre-commit-config.yaml
  .travis.yml
  Dockerfile
  scripts/ci/ci_before_install.sh
  scripts/ci/ci_run_airflow_testing.sh
  scripts/ci/docker-compose-kubernetes.yml
  scripts/ci/docker-compose.yml
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/kubernetes/README.md
  scripts/ci/kubernetes/app/deploy_app.sh
  scripts/ci/kubernetes/app/postgres.yaml
  scripts/ci/kubernetes/app/secrets.yaml
  scripts/ci/kubernetes/app/templates/airflow.template.yaml
  scripts/ci/kubernetes/app/templates/configmaps.template.yaml
  scripts/ci/kubernetes/app/templates/init_git_sync.template.yaml
  scripts/ci/kubernetes/app/volumes.yaml
  scripts/ci/kubernetes/docker/Dockerfile
  scripts/ci/kubernetes/docker/airflow-test-env-init.sh
  scripts/ci/kubernetes/docker/build.sh
  scripts/ci/kubernetes/kind-cluster-conf.yaml
  scripts/ci/kubernetes/minikube/_k8s.sh
  scripts/ci/kubernetes/minikube/start_minikube.sh
  scripts/ci/kubernetes/setup_kubernetes.sh
  scripts/ci/local_ci_stop_environment.sh
  tests/integration/__init__.py
  tests/integration/kubernetes/__init__.py
  tests/integration/kubernetes/test_kubernetes_executor.py
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
Labels: dev-env, k8s

#6312 [AIRFLOW-5641] support running git sync container as root
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/worker_configuration.py
  tests/executors/test_kubernetes_executor.py
  tests/kubernetes/test_worker_configuration.py
Labels: k8s

#6297 [AIRFLOW-5224] Add encoding parameter to GoogleCloudStorageToBigQuery…
  airflow/gcp/hooks/bigquery.py
  airflow/operators/gcs_to_bq.py
  tests/gcp/hooks/test_bigquery.py
Labels: provider:GCP

#6303 AIRFLOW-5126 Read aws_session_token in extra_config of the aws hook
  airflow/contrib/hooks/aws_hook.py
  docs/howto/connection/aws.rst
  tests/contrib/hooks/test_aws_hook.py
Labels: provider:AWS

#6313 [AIRFLOW-5643] Reduce duplicated logic in S3Hook
  airflow/hooks/S3_hook.py
Labels: provider:AWS

#6347 [AIRFLOW-5680] Fixes Kubernetes hangs
  .travis.yml
  airflow/kubernetes/k8s_model.py
Labels: k8s

#6372 [AIRFLOW-5702] Fix common docstring issues
  airflow/api/common/experimental/get_dag_runs.py
  airflow/api/common/experimental/mark_tasks.py
  airflow/bin/cli.py
  airflow/configuration.py
  airflow/contrib/hooks/aws_athena_hook.py
  airflow/contrib/hooks/aws_firehose_hook.py
  airflow/contrib/hooks/grpc_hook.py
  airflow/contrib/hooks/qubole_hook.py
  airflow/contrib/hooks/sftp_hook.py
  airflow/contrib/hooks/slack_webhook_hook.py
  airflow/contrib/hooks/spark_submit_hook.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_executor.py
  airflow/gcp/hooks/dataproc.py
  airflow/gcp/hooks/kms.py
  airflow/gcp/hooks/text_to_speech.py
  airflow/gcp/operators/bigtable.py
  airflow/gcp/operators/natural_language.py
  airflow/hooks/base_hook.py
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/secret.py
  airflow/lineage/backend/__init__.py
  airflow/migrations/versions/74effc47d867_change_datetime_to_datetime2_6_on_mssql_.py
  airflow/models/baseoperator.py
  airflow/models/dagrun.py
  airflow/task/task_runner/base_task_runner.py
  airflow/ti_deps/deps/dagrun_id_dep.py
  airflow/ti_deps/deps/pool_slots_available_dep.py
  airflow/utils/cli.py
  airflow/utils/cli_action_loggers.py
  airflow/utils/dag_processing.py
  airflow/utils/log/es_task_handler.py
  airflow/utils/log/file_processor_handler.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/gcs_task_handler.py
  airflow/utils/log/logging_mixin.py
  airflow/utils/log/s3_task_handler.py
  airflow/utils/log/wasb_task_handler.py
  airflow/utils/timezone.py
  airflow/www/api/experimental/endpoints.py
  airflow/www/static_config.py
  airflow/www/utils.py
  tests/core.py
  tests/gcp/utils/base_gcp_system_test_case.py
  tests/test_utils/get_all_tests.py
Labels: docs-only-change

#6368 [AIRFLOW-5698][part of AIRFLOW-5697] Organize Dataflow tests
  tests/gcp/hooks/test_dataflow.py
Labels: provider:GCP

#6369 [AIRFLOW-5699][part of AIRFLOW-5697][depends on AIRFLOW-5698] Add more tests for Dataflow integration
  airflow/gcp/hooks/dataflow.py
  tests/gcp/hooks/test_dataflow.py
Labels: provider:GCP

#6345 [AIRFLOW-5667] Improve type annotations in GCP
  airflow/gcp/hooks/automl.py
  airflow/gcp/hooks/bigquery_dts.py
  airflow/gcp/hooks/cloud_memorystore.py
  airflow/gcp/hooks/cloud_sql.py
  airflow/gcp/hooks/cloud_storage_transfer_service.py
  airflow/gcp/hooks/discovery_api.py
  airflow/gcp/hooks/natural_language.py
  airflow/gcp/hooks/speech_to_text.py
  airflow/gcp/hooks/tasks.py
  airflow/gcp/hooks/text_to_speech.py
  airflow/gcp/hooks/video_intelligence.py
  airflow/gcp/hooks/vision.py
  airflow/gcp/operators/cloud_memorystore.py
  airflow/gcp/operators/compute.py
  airflow/gcp/operators/dlp.py
  airflow/gcp/operators/kubernetes_engine.py
  airflow/gcp/operators/pubsub.py
  airflow/gcp/operators/spanner.py
  airflow/gcp/operators/tasks.py
  airflow/gcp/operators/translate.py
  airflow/gcp/operators/translate_speech.py
  airflow/gcp/sensors/bigquery_dts.py
  airflow/gcp/sensors/bigtable.py
Labels: provider:GCP

#6339 [AIRFLOW-5661] Fix create_cluster method of GKEClusterHook
  airflow/gcp/hooks/kubernetes_engine.py
Labels: provider:GCP

#6381 [AIRFLOW-5712][part of AIRFLOW-5697] Rename internal Dataflow classes
  airflow/gcp/hooks/dataflow.py
  tests/gcp/hooks/test_dataflow.py
Labels: provider:GCP

#6305 [AIRFLOW-4965] Handle quote exceptions in GCP AI operators
  airflow/gcp/hooks/base.py
  airflow/gcp/hooks/natural_language.py
  airflow/gcp/hooks/speech_to_text.py
  airflow/gcp/hooks/text_to_speech.py
  airflow/gcp/hooks/translate.py
  airflow/gcp/hooks/video_intelligence.py
  airflow/gcp/hooks/vision.py
  tests/gcp/hooks/test_base.py
Labels: provider:GCP

#6228 [AIRFLOW-5379] Add Google Search Ads 360 operators
  airflow/providers/google/marketing_platform/example_dags/example_search_ads.py
  airflow/providers/google/marketing_platform/hooks/search_ads.py
  airflow/providers/google/marketing_platform/operators/search_ads.py
  airflow/providers/google/marketing_platform/sensors/search_ads.py
  docs/howto/operator/gcp/search_ads.rst
  docs/operators-and-hooks-ref.rst
  tests/gcp/utils/gcp_authenticator.py
  tests/providers/google/marketing_platform/hooks/test_search_ads.py
  tests/providers/google/marketing_platform/operators/test_search_ads.py
  tests/providers/google/marketing_platform/operators/test_search_ads_system.py
  tests/providers/google/marketing_platform/operators/test_search_ads_system_helper.py
  tests/providers/google/marketing_platform/sensors/test_search_ads.py
Labels: provider:GCP

#6170 [AIRFLOW-4971] Add Google Display & Video 360 integration
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/google/marketing_platform/hooks/display_video.py
  airflow/providers/google/marketing_platform/operators/display_video.py
  airflow/providers/google/marketing_platform/sensors/display_video.py
  docs/howto/operator/gcp/display_video.rst
  docs/operators-and-hooks-ref.rst
  tests/gcp/utils/gcp_authenticator.py
  tests/providers/google/marketing_platform/hooks/test_display_video.py
  tests/providers/google/marketing_platform/operators/test_display_video.py
  tests/providers/google/marketing_platform/operators/test_display_video_system.py
  tests/providers/google/marketing_platform/operators/test_display_video_system_helper.py
  tests/providers/google/marketing_platform/sensors/test_display_video.py
Labels: provider:GCP

#6366 [AIRFLOW-5696] GoogleCloudStorageToSFTPOperator
  airflow/example_dags/example_gcs_to_sftp.py
  airflow/operators/gcs_to_sftp.py
  docs/operators-and-hooks-ref.rst
  tests/operators/test_gcs_to_sftp.py
  tests/operators/test_gcs_to_sftp_system.py
  tests/operators/test_gcs_to_sftp_system_helper.py
Labels: provider:GCP

#6306 [AIRFLOW-5632] Rename ComputeEngine operators
  UPDATING.md
  airflow/contrib/hooks/gcp_compute_hook.py
  airflow/contrib/hooks/gcp_container_hook.py
  airflow/contrib/operators/gcp_container_operator.py
  airflow/gcp/hooks/compute.py
  airflow/gcp/operators/compute.py
  tests/gcp/hooks/test_gcp_compute_hook.py
  tests/gcp/operators/test_compute.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#5743 [AIRFLOW-5088][AIP-24] Persisting serialized DAG in DB for webserver scalability
  airflow/api/common/experimental/delete_dag.py
  airflow/config_templates/default_airflow.cfg
  airflow/dag/serialization/json_schema.py
  airflow/dag/serialization/serialization.py
  airflow/dag/serialization/serialized_baseoperator.py
  airflow/dag/serialization/serialized_dag.py
  airflow/migrations/versions/b3b105409875_add_root_dag_id_to_dag.py
  airflow/migrations/versions/d38e04c12aa2_add_serialized_dag_table.py
  airflow/models/__init__.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagbag.py
  airflow/models/serialized_dag.py
  airflow/serialization/__init__.py
  airflow/serialization/enums.py
  airflow/serialization/json_schema.py
  airflow/serialization/schema.json
  airflow/serialization/serialization.py
  airflow/serialization/serialized_baseoperator.py
  airflow/serialization/serialized_dag.py
  airflow/settings.py
  airflow/utils/dag_processing.py
  airflow/utils/log/logging_mixin.py
  airflow/utils/tests.py
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/tree.html
  airflow/www/utils.py
  airflow/www/views.py
  docs/conf.py
  docs/dag-serialization.rst
  docs/img/dag_serialization.png
  docs/img/serialized_dag_table.png
  docs/index.rst
  setup.py
  tests/dags/test_dag_serialization.py
  tests/models/test_dag.py
  tests/models/test_serialized_dag.py
  tests/serialization/__init__.py
  tests/serialization/test_dag_serialization.py
  tests/www/test_views.py
Labels: In Progress

#6433 [AIRFLOW-XXX] Improve linking between API ref and how-to guides
  airflow/gcp/operators/cloud_storage_transfer_service.py
  airflow/gcp/sensors/cloud_storage_transfer_service.py
  airflow/operators/gcs_to_gcs.py
  docs/howto/operator/gcp/cloud_memorystore.rst
  docs/howto/operator/gcp/cloud_storage_transfer_service.rst
  docs/howto/operator/gcp/gcs.rst
  docs/howto/operator/gcp/gcs_to_gcs.rst
  docs/howto/operator/gcp/sql.rst
Labels: docs-only-change, provider:GCP

#6348 [AIRFLOW-XXX] GSoD: Adding 'Create a custom operator' doc
  docs/concepts.rst
  docs/howto/custom-operator.rst
  docs/howto/index.rst
Labels: docs-only-change

#6324 [AIRFLOW-XXX] Clarify daylight savings time behaviour
  docs/timezone.rst
Labels: docs-only-change

#6442 [AIRFLOW-5771] Straighten out alembic migrations
  airflow/migrations/versions/004c1210f153_increase_queue_name_size_limit.py
  airflow/migrations/versions/74effc47d867_change_datetime_to_datetime2_6_on_mssql_.py
  airflow/migrations/versions/b0125267960b_merge_004c1210f153_and_74effc47d867.py
Labels: core:MetaDB

#6299 [AIRFLOW-5631] Change way of running GCP system tests
  airflow/contrib/hooks/gcp_api_base_hook.py
  airflow/gcp/utils/credentials_provider.py
  tests/gcp/operators/test_automl_system.py
  tests/gcp/operators/test_bigquery_dts_system.py
  tests/gcp/operators/test_bigquery_system.py
  tests/gcp/operators/test_bigtable_system.py
  tests/gcp/operators/test_cloud_build_operator_system.py
  tests/gcp/operators/test_cloud_memorystore_system.py
  tests/gcp/operators/test_cloud_sql_operatorquery_system.py
  tests/gcp/operators/test_cloud_sql_system.py
  tests/gcp/operators/test_cloud_sql_system_helper.py
  tests/gcp/operators/test_cloud_storage_transfer_service_system.py
  tests/gcp/operators/test_cloud_storage_transfer_service_system_helper.py
  tests/gcp/operators/test_compute_system.py
  tests/gcp/operators/test_dataflow_system.py
  tests/gcp/operators/test_dataproc_system.py
  tests/gcp/operators/test_datastore_system.py
  tests/gcp/operators/test_dlp_system.py
  tests/gcp/operators/test_functions_system.py
  tests/gcp/operators/test_gcs_system.py
  tests/gcp/operators/test_kubernetes_engine_system.py
  tests/gcp/operators/test_mlengine_system.py
  tests/gcp/operators/test_natural_language_system.py
  tests/gcp/operators/test_pubsub_system.py
  tests/gcp/operators/test_spanner_system.py
  tests/gcp/operators/test_speech_system.py
  tests/gcp/operators/test_speech_system_helper.py
  tests/gcp/operators/test_tasks_system.py
  tests/gcp/operators/test_translate_system.py
  tests/gcp/operators/test_video_intelligence_system.py
  tests/gcp/utils/base_gcp_system_test_case.py
  tests/gcp/utils/test_credentials_provider.py
  tests/operators/test_gcs_to_gcs_operator_system.py
  tests/operators/test_gcs_to_sftp_system.py
  tests/providers/google/cloud/operators/test_vision_system.py
  tests/providers/google/marketing_platform/operators/test_campaign_manager_system.py
  tests/providers/google/marketing_platform/operators/test_display_video_system.py
  tests/providers/google/marketing_platform/operators/test_search_ads_system.py
  tests/test_utils/gcp_system_helpers.py
Labels: provider:GCP

#6404 [AIRFLOW-5671] rename DataProcHook to DataprocHook
  UPDATING.md
  airflow/contrib/hooks/gcp_dataproc_hook.py
  airflow/gcp/hooks/dataproc.py
  airflow/gcp/operators/dataproc.py
  tests/gcp/hooks/test_dataproc.py
  tests/gcp/operators/test_dataproc.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#6409 [AIRFLOW-5676] Rename CloudSpannerHook to SpannerHook
  UPDATING.md
  airflow/contrib/hooks/gcp_spanner_hook.py
  airflow/gcp/hooks/spanner.py
  airflow/gcp/operators/spanner.py
  tests/gcp/hooks/test_spanner.py
  tests/gcp/operators/test_spanner.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#6411 [AIRFLOW-5678] Rename GCPTextToSpeechHook to CloudTextToSpeechHook
  UPDATING.md
  airflow/contrib/hooks/gcp_text_to_speech_hook.py
  airflow/gcp/hooks/text_to_speech.py
  airflow/gcp/operators/text_to_speech.py
  tests/gcp/hooks/test_text_to_speech.py
  tests/gcp/operators/test_text_to_speech.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#6414 [AIRFLOW-5673] Rename GcfHook to CloudFunctionsHook
  UPDATING.md
  airflow/contrib/hooks/gcp_function_hook.py
  airflow/gcp/hooks/functions.py
  airflow/gcp/operators/functions.py
  tests/gcp/hooks/test_functions.py
  tests/gcp/operators/test_functions.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#6443 [AIRFLOW-5769] Move the S3_hook to /providers/aws/hooks
  UPDATING.md
  airflow/hooks/S3_hook.py
  airflow/providers/aws/hooks/s3.py
  docs/operators-and-hooks-ref.rst
  tests/test_core_to_contrib.py
Labels: provider:AWS

#5694 [AIRFLOW-5082] Add subject in AwsSnsHook
  airflow/contrib/hooks/aws_sns_hook.py
  tests/contrib/hooks/test_aws_sns_hook.py
Labels: provider:AWS

#6421 [AIRFLOW-5741] Move Cloud Natural Language to providers
  UPDATING.md
  airflow/contrib/hooks/gcp_natural_language_hook.py
  airflow/contrib/operators/gcp_natural_language_operator.py
  airflow/providers/google/cloud/example_dags/example_natural_language.py
  airflow/providers/google/cloud/hooks/natural_language.py
  airflow/providers/google/cloud/operators/natural_language.py
  docs/autoapi_templates/index.rst
  docs/conf.py
  docs/howto/operator/gcp/natural_language.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/hooks/test_natural_language.py
  tests/providers/google/cloud/operators/test_natural_language.py
  tests/providers/google/cloud/operators/test_natural_language_system.py
  tests/test_core_to_contrib.py
Labels: AIP-21, provider:GCP
