Repository apache/airflow, pull requests merged in 2020-09, with the labels that each got.

#10304 Added DataprepGetJobGroupOperator and DataprepRunJobGroupOperator for Dataprep service
  airflow/models/connection.py
  airflow/providers/google/cloud/example_dags/example_dataprep.py
  airflow/providers/google/cloud/hooks/dataprep.py
  airflow/providers/google/cloud/operators/dataprep.py
  docs/howto/operator/google/cloud/dataprep.rst
  tests/providers/google/cloud/hooks/test_dataprep.py
  tests/providers/google/cloud/operators/test_dataprep.py
  tests/providers/google/cloud/operators/test_dataprep_system.py
Labels: area:docs, provider:Google

#10670 Add packages to function names in bash
  BREEZE.rst
  breeze
  scripts/ci/backport_packages/ci_prepare_backport_packages.sh
  scripts/ci/backport_packages/ci_prepare_backport_readme.sh
  scripts/ci/backport_packages/ci_test_backport_packages_import_all_classes.sh
  scripts/ci/backport_packages/ci_test_backport_packages_install_separately.sh
  scripts/ci/constraints/ci_generate_constraints.sh
  scripts/ci/docs/ci_docs.sh
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/images/ci_push_ci_images.sh
  scripts/ci/images/ci_push_production_images.sh
  scripts/ci/images/ci_wait_for_all_ci_images.sh
  scripts/ci/images/ci_wait_for_all_prod_images.sh
  scripts/ci/kubernetes/ci_deploy_app_to_kubernetes.sh
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_local_mounts.sh
  scripts/ci/libraries/_md5sum.sh
  scripts/ci/libraries/_parameters.sh
  scripts/ci/libraries/_permissions.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_pylint.sh
  scripts/ci/libraries/_runs.sh
  scripts/ci/libraries/_sanity_checks.sh
  scripts/ci/libraries/_script_init.sh
  scripts/ci/libraries/_spinner.sh
  scripts/ci/libraries/_start_end.sh
  scripts/ci/libraries/_traps.sh
  scripts/ci/libraries/_verbosity.sh
  scripts/ci/pre_commit/pre_commit_ci_build.sh
  scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  scripts/ci/pre_commit/pre_commit_mermaid.sh
  scripts/ci/static_checks/flake8.sh
  scripts/ci/static_checks/mypy.sh
  scripts/ci/static_checks/pylint.sh
  scripts/ci/static_checks/refresh_pylint_todo.sh
  scripts/ci/static_checks/run_static_checks.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  tests/bats/bats_utils.bash
  tests/bats/test_breeze_params.bats
  tests/bats/test_local_mounts.bats
Labels: area:dev

#10411 Add `log_id` field to log lines on ES handler
  UPDATING.md
  airflow/providers/elasticsearch/log/es_task_handler.py
Labels: area:Logging

#10676 Fix format of install commands
  dev/README.md
Labels: area:dev

#10675 Remove airflow-pr tool
  dev/README.md
  dev/airflow-pr
  dev/requirements.txt
Labels: area:dev

#10689 Remove non-existing section from dev/README.md
  dev/README.md
Labels: area:dev

#6961 [AIRFLOW-XXX] Add task execution process on CeleryExecutor diagram
  .pre-commit-config.yaml
  docs/executor/celery.rst
  docs/img/run_task_on_celery_executor.png
  docs/img/run_task_on_celery_executor.puml
Labels: area:Scheduler/Executor, area:dev, area:docs

#9141 docs: They added support for celltags to Jupyter Lab
  docs/howto/operator/papermill.rst
Labels: area:docs

#10669 Unify command names in CLI
  IMAGES.rst
  UPDATING.md
  airflow/cli/cli_parser.py
  airflow/cli/commands/legacy_commands.py
  airflow/cli/commands/task_command.py
  docs/security/secrets/fernet.rst
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_sync_perm_command.py
  tests/cli/commands/test_task_command.py
  tests/cli/commands/test_user_command.py
Labels: area:CLI, area:docs

#10666 Delete the pod launched by KubernetesPodOperator when task is cleared.
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
Labels: k8s

#10697 Fix failing black test
  .pre-commit-config.yaml
Labels: area:dev

#10691 Fix missing dash in flag for statsd container
  chart/templates/statsd/statsd-deployment.yaml
Labels: area:helm-chart

#10701 Chart: Flower deployment should use Flower image
  chart/templates/_helpers.yaml
Labels: area:helm-chart

#10696 Add packages to function names in bash
  BREEZE.rst
  breeze
  scripts/ci/backport_packages/ci_prepare_backport_packages.sh
  scripts/ci/backport_packages/ci_prepare_backport_readme.sh
  scripts/ci/backport_packages/ci_test_backport_packages_import_all_classes.sh
  scripts/ci/backport_packages/ci_test_backport_packages_install_separately.sh
  scripts/ci/constraints/ci_generate_constraints.sh
  scripts/ci/docs/ci_docs.sh
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/images/ci_push_ci_images.sh
  scripts/ci/images/ci_push_production_images.sh
  scripts/ci/images/ci_wait_for_all_ci_images.sh
  scripts/ci/images/ci_wait_for_all_prod_images.sh
  scripts/ci/kubernetes/ci_deploy_app_to_kubernetes.sh
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_local_mounts.sh
  scripts/ci/libraries/_md5sum.sh
  scripts/ci/libraries/_parameters.sh
  scripts/ci/libraries/_permissions.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_pylint.sh
  scripts/ci/libraries/_runs.sh
  scripts/ci/libraries/_sanity_checks.sh
  scripts/ci/libraries/_script_init.sh
  scripts/ci/libraries/_spinner.sh
  scripts/ci/libraries/_start_end.sh
  scripts/ci/libraries/_traps.sh
  scripts/ci/libraries/_verbosity.sh
  scripts/ci/pre_commit/pre_commit_ci_build.sh
  scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  scripts/ci/pre_commit/pre_commit_mermaid.sh
  scripts/ci/static_checks/flake8.sh
  scripts/ci/static_checks/mypy.sh
  scripts/ci/static_checks/pylint.sh
  scripts/ci/static_checks/refresh_pylint_todo.sh
  scripts/ci/static_checks/run_static_checks.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  tests/bats/bats_utils.bash
  tests/bats/test_breeze_params.bats
  tests/bats/test_local_mounts.bats
Labels: area:dev

#10690 Change the name of Static Check without pylint
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
Labels: area:dev

#10692 Make Cloud Build system tests setup runnable
  tests/providers/google/cloud/operators/test_cloud_build_system_helper.py
  tests/utils/logging_command_executor.py
Labels: provider:Google

#10650 Add missing imports to app.py
  airflow/www_rbac/app.py
Labels: area:dev

#7694 [AIRFLOW-5948] Replace SimpleDag with SerializedDag
  airflow/jobs/scheduler_job.py
  airflow/utils/dag_processing.py
  tests/jobs/test_scheduler_job.py
  tests/utils/test_dag_processing.py
Labels: area:Scheduler/Executor, area:Serialization, pinned

#10711 Update DAG Serialization docs
  docs/dag-serialization.rst
  docs/img/serialized_dag_table.png
Labels: area:Serialization, area:docs

#10351 Migrate speccy to spectral in OpenAPI linting.
  .pre-commit-config.yaml
  scripts/ci/spectral_rules/connexion.yml
Labels: area:API, area:dev

#10710 Don't commit when explicitly passed a session to TI.set_state
  airflow/jobs/backfill_job.py
  airflow/models/taskinstance.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagrun.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Labels: area:Scheduler/Executor, area:performance

#10706 Ensure we heartbeat the DagFileProcessorManager regularly.
  airflow/utils/dag_processing.py
Labels: area:Scheduler/Executor

#10681 Add Stacktrace when DagFileProcessorManager gets killed
  airflow/utils/dag_processing.py
Labels: area:Scheduler/Executor

#10720 Unify command names in CLI
  UPDATING.md
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI

#10677 Add generate_yaml command to easily test KubernetesExecutor before deploying pods
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  docs/executor/kubernetes.rst
  tests/cli/commands/test_dag_command.py
Labels: area:Scheduler/Executor, area:helm-chart, k8s

#10727 Make grace_period_seconds option on K8sPodOperator
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
Labels: k8s

#10578 Add masterConfig parameter to MLEngineStartTrainingJobOperator
  airflow/providers/google/cloud/operators/mlengine.py
  tests/providers/google/cloud/operators/test_mlengine.py
Labels: provider:Google

#10652 Add securitySchemes in openapi spec
  airflow/api_connexion/openapi/v1.yaml
  docs/conf.py
Labels: area:API

#10735 Fix docs for generate-dag-yaml cli command
  docs/executor/kubernetes.rst
Labels: area:Scheduler/Executor, area:docs, k8s

#10741 Enable more checks for pydocstyle
  .pre-commit-config.yaml
Labels: area:dev

#10744 Update node installation cmd
  CONTRIBUTING.rst
Labels: area:dev

#10740 Improve test coverage for test_common_schema.py
  tests/api_connexion/schemas/test_common_schema.py
Labels: area:API

#10739 Fix typo in test_dag_run_schema.py
  tests/api_connexion/schemas/test_dag_run_schema.py
Labels: area:API

#10738 Improve test coverage for ConfObject in dag_run_schema
  tests/api_connexion/schemas/test_dag_run_schema.py
Labels: area:API

#10737 Add black to STATIC_CODE_CHECKS.rst
  STATIC_CODE_CHECKS.rst
Labels: area:dev

#10303 Add docs for how airflow manages packages and imports
  docs/concepts.rst
  docs/executor/celery.rst
  docs/howto/custom-operator.rst
  docs/howto/customize-state-colors-ui.rst
  docs/howto/set-config.rst
  docs/index.rst
  docs/logging-monitoring/logging-tasks.rst
  docs/logging-monitoring/metrics.rst
  docs/modules_management.rst
  docs/plugins.rst
  docs/security/api.rst
  docs/spelling_wordlist.txt
  docs/tutorial.rst
Labels: area:docs

#10673 Dataproc job sensor
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/sensors/dataproc.py
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/sensors/test_dataproc.py
Labels: area:operators-hooks, provider:Google

#10685 scripts: should trim logs before going to sleep
  scripts/in_container/prod/clean-logs.sh
Labels: area:dev

#10747 Make scripts/ci/openapi Google Shell Guide compatible
  scripts/ci/openapi/client_codegen_diff.sh
Labels: area:dev

#10759 Switch to downloaded pgbouncer_exporter
  chart/dockerfiles/pgbouncer-exporter/.gitignore
  chart/dockerfiles/pgbouncer-exporter/Dockerfile
  chart/dockerfiles/pgbouncer-exporter/README.md
  chart/dockerfiles/pgbouncer-exporter/build_and_push.sh
Labels: area:helm-chart

#10766 Fix `breeze flags` command.
  breeze
Labels: area:dev

#10755 Move role guide to access control
  docs/howto/add-new-role.rst
  docs/howto/index.rst
  docs/redirects.txt
  docs/security/access-control.rst
Labels: area:docs

#10754 Fix dockerfile hadolint problems
  .pre-commit-config.yaml
  chart/dockerfiles/pgbouncer-exporter/Dockerfile
  chart/dockerfiles/pgbouncer/Dockerfile
  chart/dockerfiles/pgbouncer/build_and_push.sh
  chart/dockerfiles/statsd-exporter/Dockerfile
  chart/dockerfiles/statsd-exporter/build_and_push.sh
  chart/values.yaml
  scripts/ci/dockerfiles/bats/Dockerfile
  scripts/ci/dockerfiles/bats/build_and_push.sh
  scripts/ci/static_checks/bats_tests.sh
  scripts/ci/static_checks/lint_dockerfile.sh
Labels: area:dev, area:helm-chart

#10719 Include missing RBAC permission for extra links
  airflow/www/security.py
  tests/www/test_views.py
Labels: area:Webserver

#10731 The verbose functions will not exit immediately if not asked to
  breeze
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_start_end.sh
  scripts/ci/libraries/_verbosity.sh
Labels: area:dev

#10748 Make pre commit google shell guide compatible
  scripts/ci/pre_commit/pre_commit_bat_tests.sh
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  scripts/ci/pre_commit/pre_commit_mermaid.sh
  scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
Labels: area:dev

#10638 Simplify load connection in LocalFilesystemBackend
  airflow/secrets/local_filesystem.py
  tests/secrets/test_local_filesystem.py
Labels: area:Secrets

#10769 The scripts to run tests properly initialises constants
  scripts/ci/testing/ci_run_airflow_testing.sh
Labels: area:dev

#10750 Make static checks Google Shell Guide compatible
  scripts/ci/static_checks/bats_tests.sh
  scripts/ci/static_checks/check_license.sh
  scripts/ci/static_checks/flake8.sh
  scripts/ci/static_checks/mypy.sh
  scripts/ci/static_checks/pylint.sh
  scripts/ci/static_checks/refresh_pylint_todo.sh
  scripts/ci/static_checks/run_static_checks.sh
Labels: area:dev

#10403 Refactor DataprocCreateCluster operator to use simpler interface
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/hooks/test_dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/operators/test_dataproc_system.py
  tests/test_utils/gcp_system_helpers.py
Labels: provider:Google

#10773 [AIRFLOW-10672] Refactor BigQueryToGCSOperator to use new method
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  tests/providers/google/cloud/transfers/test_bigquery_to_gcs.py
Labels: provider:Google

#10785 Fixes pre-commit failing on build step
  scripts/ci/libraries/_build_images.sh
  scripts/in_container/_in_container_utils.sh
Labels: area:dev

#10764 fix task instance modal open performance issue
  airflow/www/templates/airflow/dag.html
Labels: area:Webserver

#10768 Removes stable tests from quarantine
  .github/workflows/ci.yml
  TESTING.rst
  scripts/ci/docker-compose/base.yml
  scripts/ci/testing/ci_run_airflow_testing.sh
  scripts/in_container/entrypoint_ci.sh
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_task_command.py
  tests/conftest.py
  tests/executors/test_dask_executor.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/sensors/test_timeout_sensor.py
  tests/test_impersonation.py
  tests/utils/test_process_utils.py
  tests/www/test_views.py
Labels: area:CLI, area:Scheduler/Executor, area:Webserver, area:dev

#10772 [AIRFLOW-10687] Deprecate using global as the default region value in Google Dataproc operators and hooks.
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/hooks/test_dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: provider:Google

#10774 Always return a list from s3 list methods.
  UPDATING.md
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: area:operators-hooks, provider:AWS

#10765 add missing unittest for AzureCosmosDocumentSensor
  tests/providers/microsoft/azure/sensors/test_azure_cosmos.py
  tests/test_project_structure.py
Labels: provider:Azure

#10767 Extract missing gcs_to_local example DAG from gcs example
  airflow/providers/google/cloud/example_dags/example_gcs_to_local.py
  docs/howto/operator/google/transfer/gcs_to_local.rst
  tests/providers/google/cloud/transfers/test_gcs_to_local_system.py
  tests/test_project_structure.py
Labels: provider:Google

#10789 Check that all pre-commits are synchronized code<>docs
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
  scripts/ci/pre_commit/pre_commit_check_pre_commits.sh
Labels: area:dev

#10745 Make script/ci/images Google Shell Guide compatible
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
Labels: area:dev

#10746 Make script/ci/kubernetes Google Shell Guide Compatible
  scripts/ci/kubernetes/ci_run_helm_testing.sh
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
Labels: area:dev

#10803 Fixed wrong "-e" on md5 file status check
  scripts/ci/libraries/_md5sum.sh
Labels: area:dev

#10733 Make ci/backport_packages Google Shell guide compliant
  scripts/ci/backport_packages/ci_prepare_and_test_backport_packages.sh
Labels: area:dev

#10807 Fix integration tests being accidentally excluded
  scripts/ci/libraries/_initialization.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
Labels: area:dev

#10771 Add task logging handler to airflow info command
  airflow/cli/commands/info_command.py
  docs/logging-monitoring/logging-tasks.rst
  tests/cli/commands/test_info_command.py
Labels: area:CLI, area:Logging, area:docs

#5499 [AIRFLOW-3964][AIP-17] Build smart sensor
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/exceptions.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/e38be357a868_update_schema_for_smart_sensor.py
  airflow/models/__init__.py
  airflow/models/baseoperator.py
  airflow/models/dagbag.py
  airflow/models/sensorinstance.py
  airflow/models/taskinstance.py
  airflow/providers/apache/hive/sensors/metastore_partition.py
  airflow/providers/apache/hive/sensors/named_hive_partition.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/sensors/base_sensor_operator.py
  airflow/sensors/smart_sensor_operator.py
  airflow/smart_sensor_dags/__init__.py
  airflow/smart_sensor_dags/smart_sensor_group.py
  airflow/utils/file.py
  airflow/utils/log/file_processor_handler.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/log_reader.py
  airflow/utils/state.py
  airflow/www/static/css/graph.css
  airflow/www/static/css/tree.css
  airflow/www/templates/airflow/ti_log.html
  docs/img/smart_sensor_architecture.png
  docs/img/smart_sensor_single_task_execute_flow.png
  docs/index.rst
  docs/logging-monitoring/metrics.rst
  docs/operators-and-hooks-ref.rst
  docs/smart-sensor.rst
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagbag.py
  tests/models/test_sensorinstance.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
  tests/sensors/test_smart_sensor_operator.py
  tests/test_config_templates.py
  tests/utils/log/test_log_reader.py
  tests/utils/test_log_handlers.py
  tests/www/test_views.py
Labels: 2.0-candidate, area:Logging, area:Scheduler/Executor, area:Webserver, area:docs, pinned, provider:Apache

#10756 Add pod_override setting for KubernetesExecutor
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/kubernetes/pod_generator.py
  airflow/serialization/enums.py
  airflow/serialization/serialized_objects.py
  docs/concepts.rst
  docs/executor/kubernetes.rst
  tests/kubernetes/test_pod_generator.py
  tests/serialization/test_dag_serialization.py
Labels: k8s

#10819 Update log exception to reflect rename of execute_helper
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#10447 Add connection caching to KubernetesHook
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
Labels: area:operators-hooks

#10813 Make airflow testing Google Shell Guide compatible
  scripts/ci/testing/ci_run_airflow_testing.sh
Labels: area:dev

#10811 Make scripts/ci/tools Google Shell Guide Compatible
  scripts/ci/tools/ci_check_if_tests_should_be_run.sh
  scripts/ci/tools/ci_count_changed_files.sh
Labels: area:dev

#10413 Add documentation for preparing database for Airflow
  docs/howto/initialize-database.rst
Labels: area:docs

#10734 Make dockerfiles Google Shell Guide Compliant
  scripts/ci/dockerfiles/bats/build_and_push.sh
Labels: area:dev

#10832 Fix doc errors introduced in #10413
  docs/howto/initialize-database.rst
Labels: area:docs

#10834 Fix typos in the stackdriver howto document
  docs/howto/operator/google/cloud/stackdriver.rst
  docs/spelling_wordlist.txt
Labels: area:docs, provider:Google

#10833 Fix doc errors introduced in #10413 + one sentence
  docs/howto/initialize-database.rst
Labels: area:docs

#10732 Create a script to migrate KubernetesExecutor airflow.cfg configs to …
  airflow/bin/cli.py
  tests/cli/test_cli.py
Labels: area:CLI, area:upgrade

#10831 Remove k8s dependency from serialization
  airflow/serialization/serialized_objects.py
Labels: area:Serialization

#10844 Fix typo in the word 'Documentation'
  docs/howto/operator/amazon/aws/emr.rst
Labels: area:docs, provider:AWS

#10845 Fix and remove some more typos from spelling_wordlist.txt
  CHANGELOG.txt
  airflow/providers/google/cloud/hooks/automl.py
  docs/spelling_wordlist.txt
Labels: area:docs, provider:Google

#10846 Add test for Health Endpoint when there is an exception
  tests/api_connexion/endpoints/test_health_endpoint.py
Labels: area:API

#9467 Add airflow upgrade-check command (MVP) (v1-10-test)
  airflow/bin/cli.py
  airflow/upgrade/__init__.py
  airflow/upgrade/checker.py
  airflow/upgrade/formatters.py
  airflow/upgrade/problem.py
  airflow/upgrade/rules/__init__.py
  airflow/upgrade/rules/base_rule.py
  airflow/upgrade/rules/conn_type_is_not_nullable.py
  airflow/utils/cli.py
  docs/conf.py
  tests/upgrade/__init__.py
  tests/upgrade/rules/__init__.py
  tests/upgrade/rules/test_base_rule.py
  tests/upgrade/rules/test_conn_type_is_not_nullable.py
  tests/upgrade/test_formattes.py
  tests/upgrade/test_problem.py
Labels: area:CLI, area:upgrade

#10729 Detect orphaned task instances by SchedulerJob id and heartbeat
  airflow/jobs/backfill_job.py
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/b247b1e3d1ed_add_queued_by_job_id_to_ti.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#10847 Add on_kill method to DataprocSubmitJobOperator
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: area:operators-hooks, provider:Google

#10825 Add new lint check to now allow realtive imports
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  airflow/kubernetes/pod_launcher.py
  airflow/macros/__init__.py
  breeze-complete
Labels: area:dev

#10850 Fix pod_mutation_hook for 1.10.13
  airflow/bin/cli.py
  airflow/contrib/kubernetes/pod.py
  airflow/kubernetes/pod_launcher.py
  tests/kubernetes/models/test_pod.py
  tests/kubernetes/test_pod_launcher.py
  tests/test_local_settings/test_local_settings.py
Labels: area:CLI, k8s

#10875 fix typo showss -> shows
  airflow/providers/google/firebase/example_dags/example_firestore.py
Labels: area:docs, provider:Google

#10872 Modify helm chart to use pod_template_file
  .pre-commit-config.yaml
  airflow/cli/commands/dag_command.py
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/pod_generator.py
  chart/files/pod-template-file.yaml
  chart/templates/_helpers.yaml
  chart/templates/configmap.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/tests/pod-template-file_test.yaml
  chart/values.yaml
  scripts/ci/kubernetes/ci_run_helm_testing.sh
  tests/kubernetes/test_pod_generator.py
  tests/kubernetes/test_worker_configuration.py
Labels: area:helm-chart

#10866 Add on_kill method to BigQueryInsertJobOperator
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google

#10887 Fix `breeze -i` error
  breeze
Labels: area:dev

#10837 Flag --start-airflow for breeze
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/docker-compose/base.yml
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/check_environment.sh
Labels: area:dev

#10896 Remove errors raised during initialiation of virtualenv
  breeze
Labels: area:dev

#10851 Add pre-commit to sort INTHEWILD.md file automatically
  .pre-commit-config.yaml
  BREEZE.rst
  INTHEWILD.md
  STATIC_CODE_CHECKS.rst
  breeze-complete
  scripts/ci/pre_commit/pre_commit_sort_in_the_wild.sh
Labels: area:dev

#10900 Fix separated strings in test_secrets_manager.py
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Labels: area:Secrets, provider:AWS

#10899 Fix syntax error in Dockerfile 'maintainer' Label
  scripts/ci/dockerfiles/apache-rat/Dockerfile
  scripts/ci/dockerfiles/krb5-kdc-server/Dockerfile
  scripts/ci/dockerfiles/stress/Dockerfile
Labels: area:dev

#10902 Fix typo in the word 'instance'
  airflow/jobs/scheduler_job.py
  tests/providers/google/cloud/hooks/test_cloud_memorystore.py
Labels: area:Scheduler/Executor, provider:Google

#10907 Make the usage of bash 'shift' consistent across Breeze
  breeze
Labels: area:dev

#10905 Fix typos in BREEZE.rst
  BREEZE.rst
Labels: area:dev

#10904 Fix grammar in BREEZE.rst
  BREEZE.rst
Labels: area:dev

#10898 Add Secrets backend for Microsoft Azure Key Vault
  airflow/providers/microsoft/azure/secrets/__init__.py
  airflow/providers/microsoft/azure/secrets/azure_key_vault.py
  docs/autoapi_templates/index.rst
  docs/security/secrets/secrets-backend/azure-key-vault-secrets-backend.rst
  setup.py
  tests/providers/microsoft/azure/secrets/test_azure_key_vault.py
Labels: area:Secrets, area:docs, provider:Azure

#10869 Fix parameter name collision in AutoMLBatchPredictOperator #10723
  airflow/providers/google/cloud/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/operators/automl.py
  tests/providers/google/cloud/operators/test_automl.py
Labels: provider:Google

#10906 Fix typos in scripts/ci/docker-compose/local.yml
  scripts/ci/docker-compose/local.yml
Labels: area:dev

#10915 fix bug where multiple volume mounts created in helm chart
  chart/files/pod-template-file.yaml
Labels: area:helm-chart

#10922 Adds the maintain-heart-rate to quarantine.
  tests/jobs/test_local_task_job.py
Labels: area:Scheduler/Executor

#10812 Make various scripts Google Shell Guide compatible
  dev/sign.sh
  docs/start_doc_server.sh
Labels: area:dev, area:docs

#10810 Make Clients Google Shell guide compatible
  clients/gen/common.sh
  clients/gen/go.sh
Labels: area:API

#10708 Make breeeze-complete Google Shell Guide compatible
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze
  breeze-complete
  scripts/ci/libraries/_parameters.sh
  scripts/ci/pre_commit/pre_commit_check_integrations.sh
  scripts/ci/pre_commit/pre_commit_check_pre_commits.sh
  tests/bats/test_breeze_complete.bats
  tests/bats/test_breeze_params.bats
Labels: area:dev

#10881 Mark task as failed when it fails "sending" in Celery
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:Scheduler/Executor

#10671 Add more type annotations to AWS hooks
  airflow/providers/amazon/aws/hooks/aws_dynamodb.py
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/ec2.py
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/hooks/kinesis.py
  airflow/providers/amazon/aws/hooks/lambda_function.py
  airflow/providers/amazon/aws/hooks/logs.py
  airflow/providers/amazon/aws/hooks/redshift.py
  airflow/providers/amazon/aws/hooks/sqs.py
  airflow/providers/amazon/aws/hooks/step_function.py
Labels: provider:AWS

#10919 Add Formatted Stacktrace for Spelling Error
  docs/build_docs.py
Labels: area:docs

#10927 Fix Failing static tests on Master
  airflow/providers/amazon/aws/hooks/base_aws.py
Labels: provider:AWS

#10827 Fix chain methods for XComArg
  airflow/example_dags/example_xcomargs.py
  airflow/models/xcom_arg.py
  tests/models/test_xcom_arg.py
Labels: AIP-31

#10936 Fix grammer in Bug Report Template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area:dev

#10938 Stop running Doc tests with Spelling tests
  docs/build_docs.py
Labels: area:docs

#10655 [AIRFLOW-10645] Add AWS Secrets Manager Hook
  airflow/providers/amazon/aws/hooks/secrets_manager.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_secrets_manager.py
Labels: provider:AWS

#10453 Allow to specify path to kubeconfig in KubernetesHook
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/www/forms.py
  docs/howto/connection/kubernetes.rst
  tests/providers/cncf/kubernetes/hooks/test_kubernetes.py
Labels: area:operators-hooks

#10916 Add Examples and documentation for pod_template_file feature
  airflow/kubernetes/pod_template_file_examples/dags_in_image_template.yaml
  airflow/kubernetes/pod_template_file_examples/dags_in_volume_template.yaml
  airflow/kubernetes/pod_template_file_examples/git_sync_template.yaml
  docs/executor/kubernetes.rst
  docs/spelling_wordlist.txt
Labels: area:helm-chart

#10939 Fix Recent Tasks UI Overlap
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver

#10918 Refactor views tests login methods
  tests/www/test_views.py
Labels: area:Webserver

#10945 Cache for kubernetes tests is updateable
  .github/workflows/ci.yml
Labels: area:dev

#10901 Add CeleryKubernetesExecutor
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/executor_loader.py
  docs/executor/celery_kubernetes.rst
  docs/executor/index.rst
  tests/executors/test_celery_kubernetes_executor.py
  tests/executors/test_executor_loader.py
  tests/test_config_templates.py
  tests/utils/perf/scheduler_dag_execution_timing.py
Labels: area:Scheduler/Executor, area:docs

#10892 Proposal: remove -serviceaccount suffix from KSA names in helm chart
  chart/files/pod-template-file.yaml
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/cleanup/cleanup-serviceaccount.yaml
  chart/templates/rbac/pod-cleanup-rolebinding.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/templates/workers/worker-serviceaccount.yaml
Labels: area:helm-chart

#10948 Fix the method defaults for _construct_volume
  airflow/kubernetes/worker_configuration.py
Labels: k8s

#10950 Remove test dependency in TestApiKerberos
  tests/www/api/experimental/test_kerberos_endpoints.py
Labels: area:API

#10912 Fixes retrieval of correct branch in non-master related builds
  .github/workflows/build-images-workflow-run.yml
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Labels: area:dev

#10943 Github repository can be overridden in command line by Breeze
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev

#10942 Fix Kubernetes Executor logs for long dag names
  airflow/utils/log/file_task_handler.py
Labels: area:Logging

#10955 Fix case of GitHub.
  .github/SECURITY.rst
  CHANGELOG.txt
  CI.rst
  CONTRIBUTING.rst
  IMAGES.rst
  airflow/providers/dingding/example_dags/example_dingding.py
  airflow/www/security.py
  dev/BACKPORT_PACKAGES.md
  dev/airflow-github
  docs/project.rst
  scripts/ci/constraints/ci_commit_constraints.sh
  scripts/ci/libraries/_build_images.sh
  scripts/in_container/run_ci_tests.sh
  scripts/in_container/update_quarantined_test_status.py
  tests/providers/dingding/hooks/test_dingding.py
  tests/test_utils/mock_operators.py
Labels: area:Webserver, area:dev, area:docs

#10924 Fix operator field update for SerializedBaseOperator
  airflow/models/taskinstance.py
  airflow/sensors/external_task_sensor.py
  tests/models/test_taskinstance.py
  tests/sensors/test_external_task_sensor.py
Labels: area:Serialization

#10897 Add a default for DagModel.default_view
  airflow/models/dag.py
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  tests/models/test_dag.py
Labels: area:Webserver

#10965 Fix more docs spellings
  CHANGELOG.txt
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/hooks/gdm.py
  airflow/providers/google/cloud/operators/datacatalog.py
  docs/spelling_wordlist.txt
Labels: area:docs, provider:Google

#10971 Add configure_environment.sh to ./breeze --start-airflow
  scripts/in_container/check_environment.sh
Labels: area:dev

#10930 Introduce TaskMixin
  airflow/example_dags/example_xcomargs.py
  airflow/models/baseoperator.py
  airflow/models/taskmixin.py
  airflow/models/xcom_arg.py
  pylintrc
Labels: area:operators-hooks

#10973 Fix static error (tabs) from #10971
  scripts/in_container/check_environment.sh
Labels: area:dev

#10963 KubernetesPodOperator template fix
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/kubernetes/basic_pod.yaml
Labels: k8s

#10515 Fix support for asctime field in JSON formatted logs
  airflow/utils/log/json_formatter.py
  tests/utils/log/test_json_formatter.py
Labels: area:Logging

#10951 Add example dag and system test for S3ToGCSOperator
  airflow/providers/google/cloud/example_dags/example_s3_to_gcs.py
  docs/build_docs.py
  docs/howto/operator/google/transfer/s3_to_gcs.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/transfers/test_s3_to_gcs_system.py
  tests/test_project_structure.py
Labels: provider:Google

#10949 Allow CeleryExecutor to "adopt" an orphaned queued or running task
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_celery.py
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/e1a11ece99cc_add_external_executor_id_to_ti.py
  airflow/models/taskinstance.py
  airflow/utils/sqlalchemy.py
  docs/logging-monitoring/metrics.rst
  setup.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_executor.py
  tests/jobs/test_scheduler_job.py
  tests/utils/test_sqlalchemy.py
Labels: AIP-15, area:Scheduler/Executor, area:docs

#10979 Fix typo in the word "committed"
  STATIC_CODE_CHECKS.rst
  dev/airflow-github
Labels: area:dev

#10944 Task Instance Modal UX Enhancements
  airflow/www/static/css/main.css
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/task_instance.html
  docs/img/context.png
  metastore_browser/templates/metastore_browser/db.html
  metastore_browser/templates/metastore_browser/table.html
Labels: area:Webserver, area:docs

#10980 Improve the Error message in Breeze for invalid params
  scripts/ci/libraries/_parameters.sh
  tests/bats/test_breeze_params.bats
Labels: area:dev

#10966 Remove redundant parentheses in serialized_objects.py
  airflow/serialization/serialized_objects.py
Labels: area:Serialization

#10981 Fix 'Upload documentation' step in CI
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/run_docs_build.sh
Labels: area:dev

#10986 Pins temporarily moto to 1.3.14
  setup.py
Labels: area:CI, provider:AWS

#10983 Allows to build production images for 1.10.2 and 1.10.1 Airflow
  Dockerfile
  IMAGES.rst
  scripts/ci/libraries/_build_images.sh
Labels: area:dev

#10989 The test_find_not_should_ignore_path is now in heisentests
  tests/plugins/test_plugin_ignore.py
Labels: area:Plugins

#10393 Simplify the K8sExecutor and K8sPodOperator
  UPDATING.md
  airflow/cli/commands/dag_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/pod.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/pod_generator_deprecated.py
  airflow/kubernetes/volume.py
  airflow/kubernetes/volume_mount.py
  airflow/kubernetes/worker_configuration.py
  airflow/kubernetes_executor_templates/basic_template.yaml
  airflow/providers/cncf/kubernetes/example_dags/example_kubernetes.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/serialization/serialized_objects.py
  airflow/utils/json.py
  docs/howto/operator/kubernetes.rst
  kubernetes_tests/test_kubernetes_pod_operator.py
  scripts/ci/libraries/_kind.sh
  tests/executors/test_kubernetes_executor.py
  tests/kubernetes/models/test_pod.py
  tests/kubernetes/models/test_secret.py
  tests/kubernetes/pod_generator_base.yaml
  tests/kubernetes/pod_generator_base_with_secrets.yaml
  tests/kubernetes/test_pod_generator.py
  tests/kubernetes/test_worker_configuration.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
  tests/test_config_templates.py
Labels: area:Scheduler/Executor, k8s

#11012 Remove redundant curly brace from breeze echo message
  breeze
Labels: area:dev

#11017 KubernetesJobWatcher no longer inherits from Process
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Labels: area:Scheduler/Executor, k8s

#11018 Replace logo with SVG that includes name in proper typography
  airflow/www/static/css/main.css
  airflow/www/templates/appbuilder/navbar.html
Labels: area:Webserver
