Repository apache/airflow, pull requests merged in 2020-10, with the labels that each got.

#11027 Replace get accessible dag ids
  airflow/www/security.py
  airflow/www/views.py
  tests/www/test_security.py
  tests/www/test_views.py
Labels: area:API, area:Webserver, area:docs

#10996 Kubernetes executor can adopt tasks from other schedulers
  airflow/cli/commands/dag_command.py
  airflow/executors/base_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/jobs/scheduler_job.py
  airflow/kubernetes/pod_generator.py
  airflow/migrations/versions/bef4f3d11e8b_drop_kuberesourceversion_and_.py
  airflow/models/__init__.py
  airflow/models/connection.py
  airflow/models/kubernetes.py
  chart/templates/rbac/pod-launcher-role.yaml
  tests/executors/test_kubernetes_executor.py
  tests/kubernetes/test_pod_generator.py
  tests/models/test_kubernetes.py
Labels: area:CLI, area:Scheduler/Executor, area:k8s

#10663 Show a few lines of tracebacks for DAG import errors in web UI
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/models/dagbag.py
  airflow/www/static/css/main.css
  airflow/www/templates/appbuilder/flash.html
  docs/spelling_wordlist.txt
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor, area:Webserver

#11228 Add Python version to Breeze initialize-local-virtualenv
  CONTRIBUTING.rst
Labels: area:dev

#11235 Use more meaningfull message for DagBag timeouts
  airflow/models/dagbag.py
Labels: area:Logging

#11195 2.0 UI Overhaul/Refresh
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/utils/platform.py
  airflow/www/extensions/init_appbuilder_links.py
  airflow/www/extensions/init_jinja_globals.py
  airflow/www/extensions/init_views.py
  airflow/www/static/css/bootstrap-theme.css
  airflow/www/static/css/graph.css
  airflow/www/static/css/main.css
  airflow/www/static/css/material-icons.css
  airflow/www/static/css/switch.css
  airflow/www/static/css/tree.css
  airflow/www/static/js/base.js
  airflow/www/static/js/datetime-utils.js
  airflow/www/static/js/graph.js
  airflow/www/static/js/task-instances.js
  airflow/www/templates/airflow/chart.html
  airflow/www/templates/airflow/code.html
  airflow/www/templates/airflow/confirm.html
  airflow/www/templates/airflow/conn_create.html
  airflow/www/templates/airflow/conn_edit.html
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dag_code.html
  airflow/www/templates/airflow/dag_details.html
  airflow/www/templates/airflow/dags.html
  airflow/www/templates/airflow/duration_chart.html
  airflow/www/templates/airflow/gantt.html
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/master.html
  airflow/www/templates/airflow/model_list.html
  airflow/www/templates/airflow/task.html
  airflow/www/templates/airflow/task_instance.html
  airflow/www/templates/airflow/ti_code.html
  airflow/www/templates/airflow/ti_log.html
  airflow/www/templates/airflow/tree.html
  airflow/www/templates/airflow/trigger.html
  airflow/www/templates/airflow/variable_list.html
  airflow/www/templates/airflow/version.html
  airflow/www/templates/airflow/xcom.html
  airflow/www/templates/analytics/metarouter.html
  airflow/www/templates/analytics/segment.html
  airflow/www/templates/appbuilder/flash.html
  airflow/www/templates/appbuilder/navbar.html
  airflow/www/templates/appbuilder/navbar_menu.html
  airflow/www/templates/appbuilder/navbar_right.html
  airflow/www/utils.py
  airflow/www/views.py
  airflow/www/webpack.config.js
  airflow/www/widgets.py
  docs/img/code.png
  docs/img/context.png
  docs/img/dags.png
  docs/img/duration.png
  docs/img/gantt.png
  docs/img/graph.png
  docs/img/tree.png
  docs/img/variable_hidden.png
  metastore_browser/templates/metastore_browser/base.html
  tests/www/test_views.py
Labels: area:Webserver

#11240 Small updates to provider preparation docs.
  dev/BACKPORT_PACKAGES.md
Labels: area:dev

#11244 Add task adoption to CeleryKubernetesExecutor
  airflow/executors/celery_kubernetes_executor.py
  tests/executors/test_celery_kubernetes_executor.py
Labels: area:Scheduler/Executor

#11226 Add option to bulk clear DAG Runs in Browse DAG Runs page (#11076)
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver

#11252 Update yamllint & isort pre-commit hooks
  .pre-commit-config.yaml
Labels: area:dev

#11251 Bug Fix: Ensure target_dedicated_nodes or enable_auto_scale is set in AzureBatchOperator
  airflow/providers/microsoft/azure/operators/azure_batch.py
  tests/providers/microsoft/azure/operators/test_azure_batch.py
Labels: provider:Azure

#10890 Add s3 key to template fields for s3/redshift transfer operators
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
Labels: provider:AWS

#11255 Breeze: Fix issue with pulling an image via ID
  scripts/ci/libraries/_build_images.sh
Labels: area:dev

#10889 Move test tools from tests.utils to tests.test_utils
  tests/conftest.py
  tests/jobs/test_scheduler_job.py
  tests/providers/google/cloud/operators/test_cloud_build_system_helper.py
  tests/providers/google/cloud/operators/test_cloud_sql_system_helper.py
  tests/providers/google/cloud/operators/test_compute_system_helper.py
  tests/providers/google/cloud/operators/test_gcs_system_helper.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
  tests/test_utils/amazon_system_helpers.py
  tests/test_utils/gcp_system_helpers.py
  tests/test_utils/logging_command_executor.py
  tests/test_utils/perf/dags/elastic_dag.py
  tests/test_utils/perf/dags/perf_dag_1.py
  tests/test_utils/perf/dags/perf_dag_2.py
  tests/test_utils/perf/dags/sql_perf_dag.py
  tests/test_utils/perf/perf_kit/__init__.py
  tests/test_utils/perf/perf_kit/memory.py
  tests/test_utils/perf/perf_kit/python.py
  tests/test_utils/perf/perf_kit/repeat_and_time.py
  tests/test_utils/perf/perf_kit/sqlalchemy.py
  tests/test_utils/perf/scheduler_dag_execution_timing.py
  tests/test_utils/perf/scheduler_ops_metrics.py
  tests/test_utils/perf/sql_queries.py
  tests/test_utils/system_tests_class.py
  tests/utils/test_dag_cycle.py
Labels: provider:Google

#11211 Add Github Code Scanning
  .github/workflows/codeql-analysis.yml
Labels: area:dev

#11258 Add Hacktoberfest topic to the repo
  .asf.yaml
Labels: area:dev

#11254 Add operator link to access DAG triggered by TriggerDagRunOperator
  airflow/operators/dagrun_operator.py
  airflow/serialization/serialized_objects.py
Labels: area:Serialization, area:Webserver, area:operators-hooks

#11262 The bats script for CI image is now placed in the docker folder
  .dockerignore
  Dockerfile.ci
  scripts/docker/load.bash
Labels: area:dev

#11264 Limits CodeQL workflow to run only in the Apache Airflow repo
  .github/workflows/codeql-analysis.yml
Labels: area:dev

#11247 Enable MySQL 8 CI jobs
  BREEZE.rst
  README.md
  breeze-complete
  scripts/ci/libraries/_initialization.sh
  scripts/ci/mysql/conf.d/airflow.cnf
  scripts/docker/install_mysql.sh
  tests/providers/mysql/hooks/test_mysql.py
Labels: area:dev

#11056 Add ImportChangesRule for upgrade check
  airflow/upgrade/rules/conn_type_is_not_nullable.py
  airflow/upgrade/rules/import_changes.py
  airflow/upgrade/rules/renamed_classes.py
  tests/upgrade/rules/test_import_changes.py
Labels: area:upgrade

#11268 Improve running and cancelling of the PR-triggered builds.
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/codeql-cancel.yml
Labels: area:dev

#11271 Fix link to static checks in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev

#11272 Bug fix: Job not deleted because pool_id is supplied as arg instead of job_id
  airflow/providers/microsoft/azure/operators/azure_batch.py
  tests/providers/microsoft/azure/operators/test_azure_batch.py
Labels: provider:Azure

#10796 Allow labels in KubernetesPodOperator to be templated
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Labels: area:k8s, area:operators-hooks

#11222 Add UniqueConnIdRule rule and unittest
  airflow/upgrade/rules/conn_id_is_unique.py
  tests/upgrade/rules/test_conn_id_is_unique.py
Labels: area:upgrade

#11274 Access task type via the property, not dundervars
  airflow/models/baseoperator.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  docs/concepts.rst
  tests/api/common/experimental/test_mark_tasks.py
Labels: area:docs

#11278 When sending tasks to celery from a sub-process, reset signal handlers
  airflow/executors/celery_executor.py
Labels: area:Scheduler/Executor

#11132 Add loggingconfig rule
  airflow/upgrade/rules/logging_configuration.py
  tests/upgrade/rules/test_logging_configuration.py
Labels: area:upgrade

#11276 Switched to Run Checks for Building Images.
  .github/workflows/build-images-workflow-run.yml
Labels: area:dev

#11034 Single/Multi-Namespace mode for helm chart
  chart/README.md
  chart/templates/rbac/pod-launcher-role.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#11250 Strict type check for all hooks in amazon
  airflow/providers/amazon/aws/hooks/aws_dynamodb.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/hooks/batch_waiters.py
  airflow/providers/amazon/aws/hooks/cloud_formation.py
  airflow/providers/amazon/aws/hooks/datasync.py
  airflow/providers/amazon/aws/hooks/glue_catalog.py
  airflow/providers/amazon/aws/hooks/kinesis.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/hooks/sns.py
Labels: provider:AWS

#11279 Legacy ui deprecated rule fix
  airflow/upgrade/rules/legacy_ui_deprecated.py
  tests/upgrade/rules/test_legacy_ui_deprecated.py
Labels: area:dev, area:upgrade, k8s

#11292 Replaces depreated set-env with env file
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  .github/workflows/scheduled_quarantined.yml
Labels: area:dev

#11207 Breeze start-airflow command wasn't able to initialize the db in 1.10.x
  scripts/in_container/check_environment.sh
Labels: area:dev

#10829 Add acl_policy into GCSToS3Operator (#10804)
  airflow/providers/amazon/aws/transfers/gcs_to_s3.py
  tests/providers/amazon/aws/transfers/test_gcs_to_s3.py
Labels: provider:AWS, provider:Google

#11245 Move releasing-airflow docs to dev/README.md
  dev/README.md
Labels: area:dev

#11306 Prevent race condition in trying to collect result from DagFileProcessor
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#11304 Move latest_only_operator.py to latest_only.py (#11178)
  airflow/example_dags/example_latest_only.py
  airflow/example_dags/example_latest_only_with_trigger.py
  airflow/operators/latest_only.py
  airflow/operators/latest_only_operator.py
  docs/operators-and-hooks-ref.rst
  tests/deprecated_classes.py
  tests/operators/test_latest_only_operator.py
Labels: area:docs

#11315 Adds --no-rbac-ui flag for Breeze airflow 1.10 installation
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/docker-compose/base.yml
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/entrypoint_ci.sh
Labels: area:dev

#11312 Add remaining community guidelines to CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev

#11287 Improve handling of job_id in BigQuery operators
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google

#11320 Prints nicer message in case of git push errors
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev

#11259 Use rst lexer to format airflow upgrade check output
  airflow/upgrade/formatters.py
Labels: area:upgrade

#10991 add azure files to gcs transfer operator
  airflow/providers/google/cloud/example_dags/example_azure_fileshare_to_gcs.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/transfers/azure_fileshare_to_gcs.py
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
  airflow/providers/microsoft/azure/hooks/azure_fileshare.py
  docs/howto/operator/google/transfer/azure_fileshare_to_gcs.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/transfers/test_azure_fileshare_to_gcs.py
  tests/providers/google/cloud/transfers/test_azure_fileshare_to_gcs_system.py
  tests/providers/microsoft/azure/hooks/test_azure_fileshare.py
  tests/test_utils/azure_system_helpers.py
  tests/test_utils/gcp_system_helpers.py
Labels: provider:Azure, provider:Google

#11319 Pin versions of "untrusted" 3rd-party GitHub Actions
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-cancel.yml
  .github/workflows/delete_old_artifacts.yml
Labels: area:dev

#11314 Moves Commiter's guide to CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev

#10970 Add environment variables reference to cli-ref.rst
  .github/boring-cyborg.yml
  docs/cli-and-env-variables-ref.rst
  docs/cli-ref.rst
  docs/howto/variable.rst
  docs/index.rst
  docs/redirects.txt
  docs/usage-cli.rst
Labels: area:CLI, area:docs

#11337 Update link for Announcement Page
  dev/README.md
Labels: area:dev

#11342 Strict type checks for Azure hooks
  airflow/providers/microsoft/azure/hooks/adx.py
  airflow/providers/microsoft/azure/hooks/azure_batch.py
  airflow/providers/microsoft/azure/hooks/azure_container_instance.py
  airflow/providers/microsoft/azure/hooks/azure_container_registry.py
  airflow/providers/microsoft/azure/hooks/azure_container_volume.py
  airflow/providers/microsoft/azure/hooks/azure_cosmos.py
  airflow/providers/microsoft/azure/hooks/azure_data_lake.py
  airflow/providers/microsoft/azure/hooks/azure_fileshare.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/operators/azure_batch.py
  tests/providers/microsoft/azure/hooks/test_azure_batch.py
  tests/providers/microsoft/azure/operators/test_azure_batch.py
  tests/test_utils/azure_system_helpers.py
Labels: provider:Azure

#11317 Adds --install-wheels flag to breeze command line
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/docker-compose/base.yml
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/entrypoint_ci.sh
Labels: area:dev

#11257 Improve code quality of SLA mechanism in SchedulerJob
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#11338 Improve Committer's guide docs
  CONTRIBUTING.rst
Labels: area:dev

#11321 Add Azure Blob Storage to GCS transfer operator
  CONTRIBUTING.rst
  airflow/providers/dependencies.json
  airflow/providers/microsoft/azure/example_dags/example_azure_blob_to_gcs.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/transfers/azure_blob_to_gcs.py
  docs/howto/operator/microsoft/transfer/blob_storage_to_gcs.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/microsoft/azure/transfers/test_azure_blob_to_gcs.py
Labels: area:dev, area:docs, provider:Azure

#11333 Better message when Building Image fails or gets cancelled.
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/codeql-cancel.yml
Labels: area:dev

#11348 Revert "Adds --install-wheels flag to breeze command line"
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/docker-compose/base.yml
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/entrypoint_ci.sh
Labels: area:dev

#11340 Fix command to run tmux with breeze in BREEZE.rst
  BREEZE.rst
Labels: area:dev

#11090 Add rules to ensure users are using pod_template_file for KubernetesE…
  airflow/upgrade/rules/invalid_kubernetes_configs.py
  airflow/upgrade/rules/pod_template_file_rule.py
Labels: area:upgrade

#11339 Improve instructions to test an Airflow Version
  dev/README.md
Labels: area:dev

#11327 Reduce "start-up" time for tasks in LocalExecutor
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/local_executor.py
  airflow/settings.py
  airflow/task/task_runner/standard_task_runner.py
  docs/configurations-ref.rst
  docs/modules_management.rst
  docs/plugins.rst
  tests/executors/test_local_executor.py
Labels: area:Scheduler/Executor, area:performance

#11355 Bump cache version for kubernetes tests
  .github/workflows/ci.yml
Labels: area:dev

#11353 Better diagnostics when there are problems with Kerberos
  scripts/in_container/_in_container_utils.sh
Labels: area:dev

#10071 Fix to make y-axis label of Tries chart visible
  airflow/www/views.py
Labels: area:Webserver

#11364 Allways use Airlfow db in FAB
  airflow/config_templates/default_webserver_config.py
  airflow/www/app.py
Labels: area:Webserver

#11363 Use only-if-needed upgrade strategy to install deps for PRs
  Dockerfile.ci
Labels: area:dev

#11344 Fix DagBag bug when a Dag has invalid schedule_interval
  airflow/models/dagbag.py
  tests/models/test_dagbag.py
Labels: Hacktoberfest, area:Scheduler/Executor

#8701 Adding ElastiCache Hook for creating, describing and deleting replication groups
  airflow/providers/amazon/aws/hooks/elasticache_replication_group.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_elasticache_replication_group.py
Labels: provider:AWS

#11167 Fix regression in DataflowTemplatedJobStartOperator
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
Labels: provider:Google

#11359 Strict type check for Microsoft
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/providers/microsoft/azure/operators/adls_list.py
  airflow/providers/microsoft/azure/operators/adx.py
  airflow/providers/microsoft/azure/operators/azure_batch.py
  airflow/providers/microsoft/azure/operators/azure_container_instances.py
  airflow/providers/microsoft/azure/operators/azure_cosmos.py
  airflow/providers/microsoft/azure/operators/wasb_delete_blob.py
  airflow/providers/microsoft/azure/secrets/azure_key_vault.py
  airflow/providers/microsoft/azure/sensors/azure_cosmos.py
  airflow/providers/microsoft/azure/sensors/wasb.py
  airflow/providers/microsoft/azure/transfers/azure_blob_to_gcs.py
  airflow/providers/microsoft/azure/transfers/file_to_wasb.py
  airflow/providers/microsoft/azure/transfers/local_to_adls.py
  airflow/providers/microsoft/azure/transfers/oracle_to_azure_data_lake.py
  airflow/providers/microsoft/mssql/hooks/mssql.py
  airflow/providers/microsoft/mssql/operators/mssql.py
  airflow/providers/microsoft/winrm/hooks/winrm.py
  airflow/providers/microsoft/winrm/operators/winrm.py
Labels: area:Logging, area:Secrets, provider:Azure

#11372 Reduce "start-up" time for tasks in CeleryExecutor
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:Scheduler/Executor, area:performance

#11358 Set start_date, end_date & duration for tasks failing without DagRun
  airflow/jobs/scheduler_job.py
  airflow/models/taskinstance.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#11346 Replace nuke with useful information on error page
  airflow/utils/asciiart.py
  airflow/www/templates/airflow/traceback.html
  airflow/www/views.py
Labels: area:Webserver

#11369 Users can specify sub-secrets and paths k8spodop
  airflow/kubernetes/secret.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/kubernetes/models/test_secret.py
Labels: k8s

#11387 Add capability of adding service account annotations to Helm Chart
  chart/README.md
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/webserver/webserver-serviceaccount.yaml
  chart/templates/workers/worker-serviceaccount.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#11386 Add pypirc initialization
  .dockerignore
  .gitignore
  scripts/ci/libraries/_initialization.sh
Labels: area:dev

#10956 Fully support running more than one scheduler concurrently
  airflow/api/common/experimental/trigger_dag.py
  airflow/cli/cli_parser.py
  airflow/cli/commands/scheduler_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/base_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/98271e7606e2_add_scheduling_decision_to_dagrun_and_.py
  airflow/models/dag.py
  airflow/models/dagbag.py
  airflow/models/dagrun.py
  airflow/models/pool.py
  airflow/models/serialized_dag.py
  airflow/models/taskinstance.py
  airflow/settings.py
  airflow/stats.py
  airflow/ti_deps/deps/not_previously_skipped_dep.py
  airflow/utils/callback_requests.py
  airflow/utils/dag_processing.py
  airflow/utils/sqlalchemy.py
  airflow/www/views.py
  docs/logging-monitoring/metrics.rst
  docs/spelling_wordlist.txt
  tests/api/client/test_local_client.py
  tests/api/common/experimental/test_trigger_dag.py
  tests/dags/test_zip.zip
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/task/task_runner/test_standard_task_runner.py
  tests/test_utils/mock_executor.py
  tests/test_utils/perf/perf_kit/__init__.py
  tests/test_utils/perf/perf_kit/python.py
  tests/test_utils/perf/perf_kit/sqlalchemy.py
  tests/ti_deps/deps/test_runnable_exec_date_dep.py
  tests/utils/test_dag_processing.py
  tests/utils/test_sqlalchemy.py
  tests/www/test_views.py
Labels: AIP-15, area:Scheduler/Executor, area:Serialization, area:docs

#11356 Revert "Revert "Adds --install-wheels flag to breeze command line (#1…
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/docker-compose/base.yml
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/entrypoint_ci.sh
Labels: area:dev

#11230 Add GCP Service Account rule
  airflow/upgrade/rules/gcp_service_account_keys_rule.py
  tests/upgrade/rules/test_gcp_service_account_key_rule.py
Labels: area:upgrade

#10999 Fix airflow_local_settings.py showing up as directory
  chart/templates/configmap.yaml
Labels: area:helm-chart

#10957 Fix case of JavaScript.
  BREEZE.rst
  CONTRIBUTING.rst
  docs/templates/layout.html
  scripts/in_container/entrypoint_ci.sh
Labels: area:dev, area:docs

#11325 KubernetesPodOperator should retry log tailing in case of interruption
  airflow/kubernetes/pod_launcher.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/kubernetes/test_pod_launcher.py
Labels: k8s

#11368 Add "already checked" to failed pods in K8sPodOperator
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
Labels: k8s

#11285 [AIRFLOW-11041] Create AirflowMacroPluginRemovedRule to ease upgrade to Airflow 2.0
  airflow/upgrade/rules/airflow_macro_plugin_removed.py
  tests/upgrade/rules/test_airflow_macro_plugin_removed.py
Labels: area:upgrade

#11382 Constraints and PIP packages can be installed from local sources
  .dockerignore
  BREEZE.rst
  Dockerfile
  IMAGES.rst
  breeze
  breeze-complete
  docker-context-files/README.md
  docs/production-deployment.rst
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/run_generate_constraints.sh
Labels: area:dev

#11397 Push and schedule duplicates are not cancelled.
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/codeql-cancel.yml
Labels: area:dev

#10967 Remove redundant parentheses from Python files
  airflow/providers/exasol/hooks/exasol.py
  airflow/providers/google/cloud/hooks/bigquery.py
Labels: provider:Google

#11399 Fixes automated upgrade to latest constraints.
  .github/workflows/build-images-workflow-run.yml
Labels: area:dev

#11403 Fixes cancelling of too many workflows.
  .github/workflows/build-images-workflow-run.yml
Labels: area:dev

#11404 Fix spelling
  tests/api_connexion/schemas/test_error_schema.py
  tests/cli/commands/test_cheat_sheet_command.py
  tests/cli/test_cli_parser.py
  tests/sensors/test_external_task_sensor.py
  tests/serialization/test_dag_serialization.py
  tests/test_utils/perf/sql_queries.py
Labels: area:API, area:CLI, area:Serialization

#11411 Workarounds "unknown blob" issue by introducing retries
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev

#11385 Add capability of customising PyPI sources
  Dockerfile
  docs/production-deployment.rst
Labels: area:dev, area:docs

#11405 Moving the test to quarantine.
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#11265 Add TaskHandlersMovedRule in upgrade check command
  airflow/upgrade/rules/task_handlers_moved.py
  tests/upgrade/rules/test_task_handlers_moved.py
Labels: area:upgrade

#11409 Optionally set null marker in csv exports.
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  tests/providers/google/cloud/transfers/test_sql_to_gcs.py
Labels: provider:Google

#11400 Fixes SHA used for cancel-workflow-action
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/codeql-cancel.yml
Labels: area:dev

#11402 Split tests to more sub-types
  .github/workflows/ci.yml
  BREEZE.rst
  TESTING.rst
  breeze
  breeze-complete
  scripts/ci/docker-compose/base.yml
  scripts/ci/libraries/_docker.env
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_parameters.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  scripts/in_container/entrypoint_ci.sh
  scripts/in_container/run_ci_tests.sh
  tests/bats/test_breeze_complete.bats
  tests/cli/commands/test_connection_command.py
  tests/core/test_config_templates.py
  tests/core/test_configuration.py
  tests/core/test_core.py
  tests/core/test_core_to_contrib.py
  tests/core/test_example_dags.py
  tests/core/test_example_dags_system.py
  tests/core/test_impersonation_tests.py
  tests/core/test_local_settings.py
  tests/core/test_logging_config.py
  tests/core/test_project_structure.py
  tests/core/test_sentry.py
  tests/core/test_sqlalchemy_config.py
  tests/core/test_stats.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/serialization/test_dag_serialization.py
  tests/task/task_runner/test_standard_task_runner.py
  tests/utils/test_dag_processing.py
  tests/www/test_views.py
Labels: area:Scheduler/Executor, area:dev

#11408 Fix incorrect typing, remove hardcoded argument values and improve code in AzureContainerInstancesOperator
  airflow/providers/microsoft/azure/operators/azure_container_instances.py
  tests/providers/microsoft/azure/operators/test_azure_container_instances.py
Labels: provider:Azure

#11412 Fix constraints generation script
  scripts/ci/libraries/_docker.env
  scripts/in_container/run_generate_constraints.sh
Labels: area:dev

#11407 Fix spelling in CeleryExecutor
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
  tests/utils/test_dag_processing.py
Labels: area:Scheduler/Executor

#10778 Update MySQLToS3Operator's s3_bucket to template_fields
  airflow/providers/amazon/aws/transfers/mysql_to_s3.py
Labels: provider:AWS

#11209 Change prefix of Aws dynamodb hook file
  airflow/contrib/hooks/aws_dynamodb_hook.py
  airflow/providers/amazon/aws/ADDITIONAL_INFO.md
  airflow/providers/amazon/aws/hooks/aws_dynamodb.py
  airflow/providers/amazon/aws/hooks/dynamodb.py
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/amazon/aws/transfers/hive_to_dynamodb.py
  docs/operators-and-hooks-ref.rst
  tests/core/test_project_structure.py
  tests/deprecated_classes.py
  tests/providers/amazon/aws/hooks/test_dynamodb.py
  tests/providers/amazon/aws/transfers/test_hive_to_dynamodb.py
Labels: provider:AWS

#11390 Strict type check for google ads and cloud hooks
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/ads/operators/ads.py
  airflow/providers/google/ads/transfers/ads_to_gcs.py
  airflow/providers/google/cloud/_internal_client/secret_manager_client.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/cloud_build.py
  airflow/providers/google/cloud/hooks/cloud_memorystore.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/hooks/compute.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/hooks/datastore.py
  airflow/providers/google/cloud/hooks/functions.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/hooks/gdm.py
  airflow/providers/google/cloud/hooks/life_sciences.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/hooks/natural_language.py
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/hooks/stackdriver.py
  airflow/providers/google/cloud/hooks/tasks.py
  airflow/providers/google/cloud/hooks/translate.py
  airflow/providers/google/cloud/hooks/vision.py
  airflow/providers/google/suite/transfers/gcs_to_sheets.py
  airflow/providers/microsoft/mssql/hooks/mssql.py
Labels: provider:Google

#11384 Mutual SSL added in PGBouncer configuration in the Chart
  chart/templates/_helpers.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/secrets/pgbouncer-certificates-secret.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#11310 Merge Airflow and Backport Packages preparation instructions
  backport_packages/README.md
  backport_packages/remove_old_releases.py
  dev/README.md
Labels: area:dev

#11445 Fix typo in airflow/utils/dag_processing.py
  airflow/utils/dag_processing.py
Labels: area:Scheduler/Executor

#11417 Selective tests - depends on files changed in the commit.
  .github/workflows/ci.yml
  scripts/ci/selective_tests.sh
  scripts/ci/tools/ci_check_if_tests_should_be_run.sh
  scripts/ci/tools/ci_count_changed_files.sh
Labels: area:CLI, area:dev

#11444 Fix correct Sphinx return type for DagFileProcessorProcess.result
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#11449 Use augmented assignment
  airflow/www/views.py
Labels: area:Webserver

#11448 Remove redundant None provided as default to dict.get()
  airflow/api/common/experimental/trigger_dag.py
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/api_connexion/exceptions.py
  airflow/api_connexion/security.py
  airflow/jobs/scheduler_job.py
  airflow/operators/python.py
  airflow/providers/amazon/aws/hooks/step_function.py
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/google/cloud/operators/functions.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/oracle/hooks/oracle.py
  airflow/providers/postgres/hooks/postgres.py
  airflow/providers/redis/hooks/redis.py
  airflow/providers/salesforce/hooks/salesforce.py
  airflow/providers/sendgrid/utils/emailer.py
  airflow/providers/sftp/hooks/sftp.py
  airflow/providers/snowflake/hooks/snowflake.py
  airflow/sensors/smart_sensor_operator.py
  airflow/utils/decorators.py
  airflow/www/views.py
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/providers/amazon/aws/hooks/test_step_function.py
  tests/providers/google/cloud/hooks/test_mlengine.py
  tests/providers/salesforce/hooks/test_salesforce.py
  tests/test_utils/mock_plugins.py
Labels: area:API, area:Scheduler/Executor, area:Webserver, provider:AWS, provider:Apache, provider:Google

#11453 Fix spelling
  airflow/utils/dag_processing.py
  airflow/utils/dates.py
  airflow/utils/email.py
  airflow/utils/log/file_processor_handler.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/sqlalchemy.py
  docs/security/webserver.rst
  docs/ui.rst
Labels: area:Logging, area:Scheduler/Executor, area:docs

#11336 Refactor celery worker command
  airflow/cli/commands/celery_command.py
  airflow/executors/celery_executor.py
  tests/cli/commands/test_celery_command.py
Labels: area:CLI, area:Scheduler/Executor

#11455 Move the test_process_dags_queries_count test to quarantine
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#11450 Google cloud operator strict type check
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/bigquery_dts.py
  airflow/providers/google/cloud/operators/bigtable.py
  airflow/providers/google/cloud/operators/cloud_build.py
  airflow/providers/google/cloud/operators/cloud_memorystore.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  airflow/providers/google/cloud/operators/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/operators/compute.py
  airflow/providers/google/cloud/operators/datacatalog.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/google/cloud/operators/dataprep.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/datastore.py
  airflow/providers/google/cloud/operators/dlp.py
  airflow/providers/google/cloud/operators/functions.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/cloud/operators/life_sciences.py
  airflow/providers/google/cloud/operators/pubsub.py
  airflow/providers/google/cloud/operators/spanner.py
  airflow/providers/google/cloud/operators/speech_to_text.py
  airflow/providers/google/cloud/operators/stackdriver.py
  airflow/providers/google/cloud/operators/text_to_speech.py
  airflow/providers/google/cloud/operators/translate.py
  airflow/providers/google/cloud/operators/translate_speech.py
Labels: k8s, provider:Google

#11460 Increase timeout for waiting for images
  .github/workflows/ci.yml
Labels: area:dev

#11458 Add more testing methods to dev/README.md
  dev/README.md
Labels: area:dev

#11413 Adds missing schema for kerberos sidecar configuration
  chart/values.schema.json
Labels: area:helm-chart

#11459 Rename backport packages to provider packages
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  BREEZE.rst
  CI.rst
  CONTRIBUTING.rst
  TESTING.rst
  breeze
  breeze-complete
  dev/PROVIDER_PACKAGES.md
  dev/README.md
  provider_packages/.flake8
  provider_packages/.gitignore
  provider_packages/INSTALL
  provider_packages/LICENSE
  provider_packages/MANIFEST.in
  provider_packages/NOTICE
  provider_packages/PROVIDERS_CHANGES_TEMPLATE.md.jinja2
  provider_packages/PROVIDERS_CLASSES_TEMPLATE.md.jinja2
  provider_packages/PROVIDERS_README_TEMPLATE.md.jinja2
  provider_packages/README.md
  provider_packages/__init__.py
  provider_packages/airflow/.gitignore
  provider_packages/airflow/__init__.py
  provider_packages/airflow/version.py
  provider_packages/build_source_package.sh
  provider_packages/dist
  provider_packages/import_all_provider_classes.py
  provider_packages/licenses
  provider_packages/refactor_provider_packages.py
  provider_packages/remove_old_releases.py
  provider_packages/setup.cfg
  provider_packages/setup_provider_packages.py
  scripts/ci/docker-compose/local.yml
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_local_mounts.sh
  scripts/ci/libraries/_runs.sh
  scripts/ci/provider_packages/ci_prepare_and_test_provider_packages.sh
  scripts/ci/provider_packages/ci_prepare_provider_packages.sh
  scripts/ci/provider_packages/ci_prepare_provider_readme.sh
  scripts/ci/provider_packages/ci_test_provider_packages_import_all_classes.sh
  scripts/ci/provider_packages/ci_test_provider_packages_install_separately.sh
  scripts/in_container/run_prepare_provider_packages.sh
  scripts/in_container/run_prepare_provider_readme.sh
  scripts/in_container/run_test_package_installation_separately.sh
Labels: area:dev

#11471 Enables back duplicate cancelling on push/schedule
  .github/workflows/build-images-workflow-run.yml
Labels: area:dev

#11470 added type hints for aws cloud formation
  airflow/providers/amazon/aws/hooks/cloud_formation.py
Labels: provider:AWS

#11426 Mount volumes and volumemounts into scheduler and workers
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/scheduler_test.yaml
  chart/tests/worker_test.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#11330 Allow multiple schedulers in helm chart
  chart/README.md
  chart/templates/create-user-job.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: AIP-15, area:helm-chart

#11481 Add link on External Task Sensor to navigate to target dag.
  airflow/sensors/external_task_sensor.py
  airflow/serialization/serialized_objects.py
Labels: area:operators-hooks

#11373 Spend less time waiting for LocalTaskJob's subprocss process to finish
  airflow/executors/dask_executor.py
  airflow/jobs/local_task_job.py
  airflow/task/task_runner/standard_task_runner.py
  tests/dags/test_heartbeat_failed_fast.py
  tests/jobs/test_local_task_job.py
Labels: area:Scheduler/Executor, area:performance

#11477 Add missing values entries to Parameters in chart/README.md
  chart/README.md
Labels: area:helm-chart

#11497 Rename "functional DAGs" to "Decorated Flows"
  airflow/models/xcom_arg.py
  airflow/operators/python.py
  docs/concepts.rst
Labels: area:docs

#11503 Prevent text-selection of scheduler interval when selecting DAG ID
  airflow/www/templates/airflow/dag.html
Labels: area:Webserver

#11499 Mark Smart Sensor as an early-access feature
  docs/smart-sensor.rst
Labels: area:docs

#11505 Fix spelling for Airbnb
  docs/smart-sensor.rst
Labels: area:docs

#11308 Airflow tutorial to use functional DAGs
  .pre-commit-config.yaml
  airflow/example_dags/tutorial_decorated_etl_dag.py
  airflow/example_dags/tutorial_etl_dag.py
  docs/index.rst
  docs/spelling_wordlist.txt
  docs/tutorial_decorated_flows.rst
  tests/core/test_example_dags_system.py
Labels: AIP-31

#11461 Clarify the v1-10-test vs. v1-10-stable branch
  CONTRIBUTING.rst
Labels: area:dev

#11510 Updated tutorial_decorated_flows.rst to add links
  docs/tutorial_decorated_flows.rst
Labels: area:docs

#11504 Combine back multiple test types into single jobs
  .github/workflows/ci.yml
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/selective_tests.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
Labels: area:dev

#11517 Fix typo in scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_initialization.sh
Labels: area:dev

#11522 Fixes remaining test-type strategy problems
  .github/workflows/ci.yml
Labels: area:dev

#11484 Add reset_dag_run option on dagrun_operator to clear existing dag run
  airflow/api/common/experimental/trigger_dag.py
  airflow/operators/dagrun_operator.py
  tests/operators/test_dagrun_operator.py
Labels: area:operators-hooks

#11525 Minor improvements to dev/README.md
  dev/README.md
Labels: area:dev

#11515 Remove flask-admin based Plugins
  UPDATING.md
  airflow/cli/commands/plugins_command.py
  airflow/plugins_manager.py
Labels: area:CLI, area:Plugins

#11036 Add protocol_version to conn_config
  airflow/providers/apache/cassandra/hooks/cassandra.py
  docs/howto/connection/cassandra.rst
  tests/providers/apache/cassandra/hooks/test_cassandra.py
Labels: provider:Apache

#11536 Fix documentation glitches
  airflow/operators/python.py
  airflow/secrets/local_filesystem.py
Labels: area:docs

#11537 pymssql library is maintained again
  airflow/providers/microsoft/mssql/hooks/mssql.py
Labels: area:operators-hooks, kind:feature

#11538 More stable kubernetes port forwarding
  .github/workflows/ci.yml
  kubernetes_tests/test_kubernetes_executor.py
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
Labels: area:dev

#11512 Resolve MSSQL DAG serialization bug by changing datatype for execution date
  airflow/migrations/versions/52d53670a240_fix_mssql_exec_date_rendered_task_instance.py
Labels: area:MetaDB, area:Serialization

#11542 Rename (confusing) dag.sub_dag method to dag.partial_subset
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/task_command.py
  airflow/models/dag.py
Labels: kind:feature

#11527 Adds capability of installing wheel packages in CI image
  BREEZE.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  breeze
  breeze-complete
  docker-context-files/README.md
  docs/production-deployment.rst
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Labels: area:dev, area:docs

#11534 Feature: Auto-refresh Graph view chart
  airflow/www/static/css/graph.css
  airflow/www/static/css/loading-dots.css
  airflow/www/static/css/switch.css
  airflow/www/templates/airflow/graph.html
  airflow/www/webpack.config.js
Labels: area:Webserver

#11550 Tree View TI swatch and legend visual tweaks
  airflow/www/static/css/main.css
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/tree.html
Labels: area:Webserver

#11559 Auto-refresh default state
  airflow/www/templates/airflow/graph.html
  airflow/www/views.py
Labels: area:Webserver

#11189 Prepend `DAG:` to dag permissions
  UPDATING.md
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/extra_link_endpoint.py
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/api_connexion/endpoints/task_endpoint.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/api_connexion/security.py
  airflow/migrations/versions/849da589634d_prefix_dag_permissions.py
  airflow/models/dag.py
  airflow/security/permissions.py
  airflow/www/app.py
  airflow/www/decorators.py
  airflow/www/security.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_xcom_endpoint.py
  tests/cli/commands/test_sync_perm_command.py
  tests/models/test_dag.py
  tests/serialization/test_dag_serialization.py
  tests/test_utils/fab_utils.py
  tests/www/test_security.py
  tests/www/test_views.py
Labels: area:Webserver

#11564 Webpack CSS Minification
  .pre-commit-config.yaml
  airflow/www/package.json
  airflow/www/static/css/bootstrap-theme.css
  airflow/www/static/css/flash.css
  airflow/www/static/css/gantt.css
  airflow/www/static/css/graph.css
  airflow/www/static/css/loading-dots.css
  airflow/www/static/css/main.css
  airflow/www/static/css/material-icons.css
  airflow/www/static/css/switch.css
  airflow/www/static/css/tree.css
  airflow/www/static/js/base.js
  airflow/www/static/js/connection_form.js
  airflow/www/static/js/datetime-utils.js
  airflow/www/static/js/gantt-chart-d3v2.js
  airflow/www/static/js/graph.js
  airflow/www/static/js/ie.js
  airflow/www/static/js/task-instances.js
  airflow/www/webpack.config.js
  airflow/www/yarn.lock
  docs/img/run_task_on_celery_executor.puml
  docs/static/exampleinclude.css
  docs/static/jira-links.js
Labels: area:Webserver, area:dev, area:docs

#11570 Clarify breeze docs --install-airflow-version/-reference
  BREEZE.rst
  breeze
  breeze-complete
Labels: area:dev
