Repository apache/airflow, pull requests merged in 2020-05, with the labels that each got.

#8572 Improve template capabilities of EMR job and step operators
  airflow/providers/amazon/aws/operators/emr_add_steps.py
  airflow/providers/amazon/aws/operators/emr_create_job_flow.py
  tests/providers/amazon/aws/config_templates/args.json
  tests/providers/amazon/aws/config_templates/job.j2.json
  tests/providers/amazon/aws/config_templates/steps.j2.json
  tests/providers/amazon/aws/config_templates/steps.json
  tests/providers/amazon/aws/operators/test_emr_add_steps.py
  tests/providers/amazon/aws/operators/test_emr_create_job_flow.py
Labels: provider:AWS

#8661 Enhanced documentation around Cluster Policy #8660
  docs/concepts.rst
Labels: area:docs

#8655 (For v1-10-*) Reduce response payload size of /dag_stats and /task_stats
  airflow/www/views.py
  airflow/www_rbac/views.py
  tests/www/test_views.py
  tests/www_rbac/test_views.py
Labels: area:Webserver

#8679 Fix displaying Executor Class Name in "Base Job" table
  airflow/jobs/base_job.py
  tests/jobs/test_base_job.py
Labels: area:Scheduler/Executor

#8663 Persist start/end date and duration for DummyOperator Task Instance
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#8667 UI Fix: ensure "started"/"ended" in TI tooltips are not shown if the job not started yet
  airflow/www/static/js/task-instances.js
Labels: area:Webserver

#8626 Add support for fetching logs from running pods
  airflow/kubernetes/pod_launcher.py
  airflow/utils/log/file_task_handler.py
  tests/kubernetes/test_pod_launcher.py
Labels: area:Logging, k8s

#8623 Group Google services in one section
  docs/operators-and-hooks-ref.rst
Labels: area:docs

#8535 [Airflow-8439] Refactor test_variable_command.py
  tests/cli/commands/test_variable_command.py
Labels: area:CLI

#8685 Fix Spark Conn Add/Edit Pages
  airflow/models/connection.py
  airflow/www/static/js/connection_form.js
Labels: area:Webserver

#8692 Sort connection type list in add/edit page alphabetically
  airflow/www/forms.py
Labels: area:Webserver

#8640 Support k8s auth method in vault secrets provider
  airflow/cli/commands/variable_command.py
  airflow/providers/hashicorp/secrets/vault.py
  tests/providers/hashicorp/secrets/test_vault.py
Labels: area:Secrets

#8556 Add system test for gcs_to_bigquery
  airflow/providers/google/cloud/example_dags/example_gcs_to_bigquery.py
  docs/howto/operator/gcp/gcs.rst
  tests/providers/google/cloud/operators/test_gcs_to_bigquery_system.py
  tests/test_project_structure.py
Labels: provider:GCP

#7650 [AIRFLOW-7008] Add perf kit with common used decorators/contexts
  scripts/perf/perf_kit/__init__.py
  scripts/perf/perf_kit/memory.py
  scripts/perf/perf_kit/python.py
  scripts/perf/perf_kit/repeat_and_time.py
  scripts/perf/perf_kit/sqlalchemy.py
Labels: area:dev, area:performance

#8698 Fix master - Invalid output in test_variable assertion
  tests/cli/commands/test_variable_command.py
Labels: area:CLI

#8694 Add airflow config command (v1-10-test)
  airflow/bin/cli.py
  airflow/config_templates/default_celery.py
  airflow/configuration.py
  airflow/utils/cli.py
  airflow/utils/platform.py
  tests/cli/test_cli.py
  tests/test_configuration.py
Labels: area:CLI

#8697 Change provider:GCP label to provider:Google
  .github/boring-cyborg.yml
Labels: area:dev, provider:GCP

#8690 Check consistency between reference file and howto directory
  docs/build
  docs/howto/operator/external_task_sensor.rst
  docs/howto/operator/index.rst
  docs/operators-and-hooks-ref.rst
Labels: area:docs

#8681 Prevent clickable sorting on non sortable columns in TI view
  airflow/www/views.py
Labels: area:Webserver

#8711 Fix multiprocessing Connection import error on OSX
  airflow/utils/dag_processing.py
Labels: area:Scheduler/Executor

#8641 Fix typo in Google Display & Video 360 guide
  docs/howto/operator/gcp/display_video.rst
Labels: area:docs, provider:Google

#8693 Carefully parse warning messages when building documentation
  docs/build
Labels: area:docs

#8700 Support num_retries field in env var for GCP connection
  airflow/providers/google/common/hooks/base_google.py
  tests/providers/google/common/hooks/test_base_google.py
Labels: provider:Google

#8704 Add airflow info command (v1-10-test)
  airflow/bin/cli.py
  tests/cli/test_cli.py
Labels: area:CLI

#8671 Fix pickling failure when spawning processes
  airflow/configuration.py
  airflow/jobs/scheduler_job.py
  airflow/utils/dag_processing.py
  airflow/utils/mixins.py
  tests/jobs/test_scheduler_job.py
  tests/test_utils/mock_executor.py
  tests/utils/test_dag_processing.py
Labels: area:Scheduler/Executor

#8531 Support all RuntimeEnvironment parameters in DataflowTemplatedJobStartOperator
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
Labels: provider:Google

#8505 Add more precise tests (tests for jinja params) for AirflowVersion
  requirements/requirements-python3.6.txt
  requirements/requirements-python3.7.txt
  requirements/setup-3.6.md5
  requirements/setup-3.7.md5
  setup.py
  tests/www/test_views.py
Labels: area:Webserver

#7888 Avoid loading executors in jobs
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#8729 Optimize count queries on /home
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver, area:performance

#8735 Correctly deserialize dagrun_timeout field on DAGs
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:Serialization

#8738 Stop Stalebot on Github issues
  .github/stale.yml
Labels: area:dev

#8732 Make loading plugins from entrypoint fault-tolerant
  airflow/plugins_manager.py
  tests/plugins/test_plugins_manager.py
Labels: area:Plugins

#8758 Latest debian-buster release broke image build
  Dockerfile.ci
Labels: area:dev

#8581 Add google_api_to_s3_transfer example dags and system tests
  TESTING.rst
  airflow/providers/amazon/aws/example_dags/example_google_api_to_s3_transfer_advanced.py
  airflow/providers/amazon/aws/example_dags/example_google_api_to_s3_transfer_basic.py
  backport_packages/setup_backport_packages.py
  docs/howto/operator/amazon/aws/google_api_to_s3_transfer.rst
  tests/providers/amazon/aws/operators/test_google_api_to_s3_transfer_system.py
  tests/test_utils/amazon_system_helpers.py
Labels: area:dev, area:docs, provider:AWS

#8761 Add google_api_to_s3_transfer docs howto link
  docs/operators-and-hooks-ref.rst
Labels: area:docs

#8750 Add missing guide for SpannerDeployInstanceOperator
  airflow/providers/google/cloud/operators/spanner.py
  docs/howto/operator/gcp/spanner.rst
Labels: area:docs, provider:Google

#8754 Add SQL query tracking for pytest
  TESTING.rst
  scripts/perf/perf_kit/__init__.py
  scripts/perf/perf_kit/sqlalchemy.py
  tests/conftest.py
Labels: area:dev

#8740 Added SDFtoGCSOperator
  airflow/providers/google/common/hooks/base_google.py
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/google/marketing_platform/hooks/display_video.py
  airflow/providers/google/marketing_platform/operators/display_video.py
  airflow/providers/google/marketing_platform/sensors/display_video.py
  docs/howto/operator/gcp/display_video.rst
  tests/providers/google/marketing_platform/hooks/test_display_video.py
  tests/providers/google/marketing_platform/operators/test_display_video.py
  tests/providers/google/marketing_platform/operators/test_display_video_system.py
  tests/providers/google/marketing_platform/sensors/test_display_video.py
Labels: area:docs, provider:Google

#8763 Support same short flags for `create user` as 1.10 did for `user_create`
  airflow/cli/cli_parser.py
Labels: area:CLI

#8788 Add note that the RBAC UI is required for extra links
  docs/howto/define_extra_link.rst
Labels: area:docs

#8773 fix typing errors reported by dmypy
  airflow/plugins_manager.py
  tests/providers/google/marketing_platform/operators/test_display_video.py
Labels: area:Plugins, provider:Google

#8791 [8650] Add Yandex.Cloud custom connection to 1.10 for backported provider
  airflow/models/connection.py
  airflow/www/static/connection_form.js
  airflow/www/views.py
Labels: area:Webserver

#8795 Fixed test-target command
  breeze
  scripts/ci/in_container/run_ci_tests.sh
Labels: area:dev

#8652 [AIP-31] Implement XComArg model to functionally pass output from one operator to the next
  airflow/models/baseoperator.py
  airflow/models/xcom_arg.py
  tests/models/test_xcom_arg.py
Labels: AIP-31, area:dev

#8787 Add default `conf` parameter to Spark JDBC Hook
  airflow/providers/apache/spark/example_dags/example_spark_dag.py
  airflow/providers/apache/spark/hooks/spark_jdbc.py
Labels: provider:Apache

#8678 Updated docs so demo code runs
  docs/howto/custom-operator.rst
Labels: area:docs

#8669 Add imap_attachment_to_s3 example dag and system test
  airflow/providers/amazon/aws/example_dags/example_imap_attachment_to_s3.py
  docs/howto/operator/amazon/aws/imap_attachment_to_s3.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/operators/test_imap_attachment_to_s3_system.py
Labels: area:docs, provider:AWS

#8772 Correctly store non-default Nones in serialized tasks/dags
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:Serialization

#8775 Correctly restore upstream_task_ids when deserializing Operators
  airflow/providers/google/cloud/example_dags/example_gcs.py
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:Serialization, provider:Google

#8802 Allow passing secrets backend_kwargs to AWS SSM client
  airflow/providers/amazon/aws/secrets/systems_manager.py
  tests/providers/amazon/aws/secrets/test_systems_manager.py
  tests/secrets/test_secrets.py
Labels: area:Secrets, provider:AWS

#8610 Added Upload Multiple Entity Read Files to specified big query dataset
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/google/marketing_platform/hooks/display_video.py
Labels: provider:Google

#8797 Add comments to breeze scripts
  breeze
  scripts/ci/_utils.sh
  scripts/ci/docker-compose/backend-sqlite.yml
Labels: area:dev

#8778 Add separate example DAGs and system tests for google cloud speech
  airflow/providers/google/cloud/example_dags/example_speech_to_text.py
  airflow/providers/google/cloud/example_dags/example_text_to_speech.py
  airflow/providers/google/cloud/example_dags/example_translate_speech.py
  docs/howto/operator/gcp/speech_to_text.rst
  docs/howto/operator/gcp/text_to_speech.rst
  docs/howto/operator/gcp/translate_speech.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/operators/test_speech_to_text_system.py
  tests/providers/google/cloud/operators/test_text_to_speech_system.py
  tests/providers/google/cloud/operators/test_translate_speech_system.py
  tests/test_project_structure.py
Labels: area:docs, provider:Google

#8742 Avoid color info in response of /dag_stats & /task_stats
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver, area:performance

#7542 [AIRFLOW-6921] Fetch celery states in bulk
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:Scheduler/Executor, area:performance, pinned

#8796 Better help on parameterized breeze commands
  BREEZE.rst
  breeze
  breeze-complete
Labels: area:dev

#8812 Fix bash command in performance test dag
  scripts/perf/dags/elastic_dag.py
Labels: area:dev

#7731 [AIRFLOW-7068] Create EC2 Hook, Operator and Sensor
  airflow/providers/amazon/aws/hooks/ec2.py
  airflow/providers/amazon/aws/operators/ec2_start_instance.py
  airflow/providers/amazon/aws/operators/ec2_stop_instance.py
  airflow/providers/amazon/aws/sensors/ec2_instance_state.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_ec2.py
  tests/providers/amazon/aws/operators/test_ec2_start_instance.py
  tests/providers/amazon/aws/operators/test_ec2_stop_instance.py
  tests/providers/amazon/aws/sensors/test_ec2_instance_state.py
Labels: area:docs, area:operators-hooks, provider:AWS

#8817 Option to simply set end_date for performance testing dag.
  scripts/perf/dags/elastic_dag.py
Labels: area:dev

#8819 Synchronize extras between airflow and providers
  CONTRIBUTING.rst
  IMAGES.rst
  INSTALL
  LOCAL_VIRTUALENV.rst
  UPDATING.md
  backport_packages/setup_backport_packages.py
  docs/howto/operator/amazon/aws/_partials/prerequisite_tasks.rst
  docs/howto/operator/gcp/_partials/prerequisite_tasks.rst
  docs/howto/write-logs.rst
  docs/installation.rst
  requirements/requirements-python3.6.txt
  requirements/requirements-python3.7.txt
  requirements/setup-3.6.md5
  requirements/setup-3.7.md5
  setup.py
Labels: area:dev, area:docs, provider:AWS, provider:Google

#8811 Propagate tags on ECSOperator
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:AWS

#8794 Use fork when test relies on mock.patch in parent process.
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#8776 [AIRFLOW-1156] BugFix: Unpausing a DAG with catchup=False creates an extra DAG run
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor, pinned

#8823 Access function to be pickled as attribute, not method, to avoid error.
  airflow/utils/dag_processing.py
Labels: area:Scheduler/Executor

#8813 Refactor BigQuery check operators
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google

#8841 Fix Flake8 errors
  airflow/api/common/experimental/mark_tasks.py
  airflow/jobs/scheduler_job.py
  airflow/providers/google/cloud/example_dags/example_bigquery_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_presto_to_gcs.py
  airflow/providers/google/cloud/hooks/functions.py
  airflow/providers/qubole/operators/qubole_check.py
  airflow/secrets/local_filesystem.py
  airflow/www/views.py
  backport_packages/setup_backport_packages.py
  dev/send_email.py
  scripts/ci/pre_commit_yaml_to_cfg.py
  scripts/list-integrations.py
  tests/executors/test_executor_loader.py
  tests/models/test_serialized_dag.py
Labels: area:dev

#8840 Fix template fields in Google operators
  airflow/providers/google/cloud/operators/automl.py
  airflow/providers/google/marketing_platform/operators/display_video.py
Labels: provider:Google

#6007 [AIRFLOW-2310] Enable AWS Glue Job Integration
  airflow/providers/amazon/aws/hooks/glue.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/sensors/glue.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_glue.py
  tests/providers/amazon/aws/operators/test_glue.py
  tests/providers/amazon/aws/sensors/test_glue.py
Labels: area:docs, provider:AWS

#8631 Refactor BigQuery hook methods to use python library
  UPDATING.md
  airflow/providers/google/cloud/example_dags/example_bigquery_operations.py
  airflow/providers/google/cloud/example_dags/example_bigquery_queries.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google

#8843 Remove duplicate code from perf_kit
  scripts/perf/perf_kit/sqlalchemy.py
Labels: area:dev

#8816 Update GoogleBaseHook to not follow 308 and use 60s timeout
  airflow/providers/google/common/hooks/base_google.py
  tests/providers/google/common/hooks/test_base_google.py
Labels: provider:Google

#8847 Fix Environment Variable in perf/scheduler_dag_execution_timing.py
  scripts/perf/scheduler_dag_execution_timing.py
Labels: area:dev

#8845 Correctly pass sleep time from AWSAthenaOperator down to the hook.
  airflow/providers/amazon/aws/operators/athena.py
  tests/providers/amazon/aws/operators/test_athena.py
Labels: provider:AWS

#8856 Convert tests/jobs/test_base_job to pytest
  tests/jobs/test_base_job.py
Labels: area:Scheduler/Executor

#8771 add metric for monitoring email notification failure
  airflow/jobs/scheduler_job.py
  docs/metrics.rst
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#8857 Relax Flask-Appbuilder version to ~=2.3.4
  Dockerfile.ci
  requirements/requirements-python3.6.txt
  requirements/requirements-python3.7.txt
  requirements/setup-3.6.md5
  requirements/setup-3.7.md5
  setup.py
Labels: area:dev

#8618 Add AWS EMR System tests
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py
  tests/providers/amazon/aws/operators/test_emr_system.py
  tests/test_utils/amazon_system_helpers.py
Labels: provider:AWS

#8855 Speed up CeleryExecutor when sending only a single task to Celery
  airflow/executors/celery_executor.py
Labels: area:Scheduler/Executor

#8869 Make Custom XCom backend a subsection of XCom docs
  docs/concepts.rst
Labels: area:docs

#8871 Don't use ProcessorAgent to test ProcessorManager
  airflow/utils/dag_processing.py
  tests/utils/test_dag_processing.py
Labels: area:CI, changelog:skip

#8820 Create log file w abs path so tests pass on MacOS
  airflow/utils/log/file_processor_handler.py
  tests/jobs/test_scheduler_job.py
  tests/test_utils/config.py
Labels: area:Logging

#8873 Fix list formatting of plugins doc.
  docs/plugins.rst
Labels: area:Plugins, area:docs

#8863 Add EMR operators howto docs
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py
  docs/howto/operator/amazon/aws/emr.rst
  docs/operators-and-hooks-ref.rst
Labels: area:docs, provider:AWS

#8829 Fix KubernetesPodOperator pod name length validation
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/runtime/kubernetes/test_kubernetes_pod_operator.py
Labels: k8s

#8814 Spend less time waiting for DagFileProcessor processes to complete
  airflow/jobs/scheduler_job.py
  airflow/utils/dag_processing.py
  tests/jobs/test_scheduler_job.py
  tests/utils/test_dag_processing.py
Labels: area:Scheduler/Executor, area:performance

#8539 JIRA and Github issues explanation
  CONTRIBUTING.rst
Labels: area:dev

#8882 Speed up TestAwsLambdaHook by not actually running a function
  airflow/providers/amazon/aws/hooks/lambda_function.py
  tests/providers/amazon/aws/hooks/test_lambda_function.py
Labels: area:CI

#8885 Fix master failing on generating requirements
  .github/workflows/ci.yml
  backport_packages/setup_backport_packages.py
Labels: area:dev

#8800 Updated docs for experimental API /dags/<DAG_ID>/dag_runs
  docs/rest-api-ref.rst
Labels: area:docs

#7133 [AIRFLOW-6535] add exception to fail without retry
  airflow/exceptions.py
  airflow/models/taskinstance.py
  docs/autoapi_templates/index.rst
  docs/concepts.rst
  docs/conf.py
  tests/models/test_taskinstance.py
Labels: area:docs

#6377 Monitor pods by labels instead of names
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/pod_launcher.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/executors/test_kubernetes_executor.py
  tests/runtime/kubernetes/test_kubernetes_pod_operator.py
Labels: area:Scheduler/Executor, area:dev, k8s, pinned

#8892 Avoid failure on transient requirements in CI image
  Dockerfile.ci
Labels: area:dev

#8824 Allow setting the pooling time in DLPHook
  airflow/providers/google/cloud/hooks/dlp.py
Labels: provider:Google

#8865 fix task and dag stats on home page
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver

#8909 Fix race in Celery tests by pre-creating result tables
  tests/executors/test_celery_executor.py
Labels: area:CI, area:Scheduler/Executor

#7197 [AIRFLOW-6586] Improvements to gcs sensor
  UPDATING.md
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/sensors/base_sensor_operator.py
  docs/howto/custom-operator.rst
  tests/providers/google/cloud/sensors/test_gcs.py
  tests/sensors/test_base_sensor.py
Labels: area:dev, provider:Google

#8912 UX Fix: Prevent undesired text selection with DAG title selection in Chrome
  airflow/www/templates/airflow/dag.html
Labels: area:Webserver

#8919 Use Debian's provided JRE from Buster, not Sid.
  Dockerfile.ci
Labels: area:dev

#8920 Fix incorrect Env Var to stop Scheduler from creating DagRuns
  scripts/perf/scheduler_dag_execution_timing.py
Labels: area:dev

#8924 Re-run all tests when Dockerfile or Github worflow files change
  .github/workflows/ci.yml
  scripts/ci/ci_count_changed_files.sh
Labels: area:CI

#8935 Remove unused SchedulerJob.max_threads argument
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#8938 Hive/Hadoop minicluster needs JDK8 and JAVA_HOME to work
  Dockerfile.ci
Labels: area:dev

#8934 Fix DagRun Prefix for Performance script
  scripts/perf/scheduler_dag_execution_timing.py
Labels: area:dev

#8940 Remove side-effect of session in FAB
  airflow/cli/commands/webserver_command.py
  airflow/www/app.py
  tests/cli/commands/test_role_command.py
  tests/cli/commands/test_sync_perm_command.py
  tests/cli/commands/test_user_command.py
  tests/www/api/experimental/test_endpoints.py
  tests/www/test_views.py
Labels: area:CLI, area:Webserver

#8910 Accessibility - Add TaskInstance State to tiTooltip in RBAC UI
  airflow/www/static/js/task-instances.js
Labels: area:Webserver

#8948 Fix docstring in DagFileProcessor._schedule_task_instances
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#8945 Remove singularity from CI images
  Dockerfile.ci
Labels: area:CI

#8944 Update example webserver_config.py to show correct CSRF config
  airflow/config_templates/default_webserver_config.py
Labels: area:Webserver

#8943 Python base images are stored in cache
  .github/workflows/ci.yml
  CI.rst
  scripts/ci/_utils.sh
Labels: area:dev

#8950 Don't hard-code constants in scheduler_dag_execution_timing
  scripts/perf/scheduler_dag_execution_timing.py
Labels: area:dev

#8952 Make scheduler_dag_execution_timing grok dynamic start date of elastic dag
  scripts/perf/scheduler_dag_execution_timing.py
Labels: area:dev

#8953 Fix new flake8 warnings on v1-10-test branch.
  airflow/api/common/experimental/mark_tasks.py
  airflow/contrib/operators/file_to_wasb.py
  airflow/contrib/operators/qubole_check_operator.py
  airflow/contrib/utils/gcp_field_validator.py
  airflow/jobs/backfill_job.py
  airflow/operators/docker_operator.py
  airflow/www/views.py
  airflow/www_rbac/utils.py
  airflow/www_rbac/views.py
  docs/conf.py
  tests/contrib/hooks/test_aws_glue_catalog_hook.py
  tests/contrib/operators/test_gcs_to_gcs_operator.py
  tests/contrib/utils/base_gcp_system_test_case.py
  tests/test_core.py
Labels: area:Scheduler/Executor, area:Webserver, area:docs

#8955 Cache 1 10 ci images
  .github/workflows/ci.yml
Labels: area:dev

#8959 Cache 1 10 ci images (#8955)
  .github/workflows/ci.yml
Labels: area:dev

#8981 Remove duplicate line from CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev

#7232 [AIRFLOW-6569] Flush pending Sentry exceptions before exiting forked process
  airflow/sentry.py
  airflow/task/task_runner/standard_task_runner.py
Labels: area:Scheduler/Executor

#8808 Support YAML input for CloudBuildCreateOperator
  airflow/providers/google/cloud/example_dags/example_cloud_build.py
  airflow/providers/google/cloud/example_dags/example_cloud_build.yaml
  airflow/providers/google/cloud/hooks/cloud_build.py
  airflow/providers/google/cloud/operators/cloud_build.py
  docs/howto/operator/gcp/cloud_build.rst
  tests/providers/google/cloud/operators/test_cloud_build.py
Labels: provider:Google

#8985 Fix formatting code block in TESTING.rst
  TESTING.rst
Labels: area:dev

#8987 Old json boto compat removed from dynamodb_to_s3 operator
  airflow/providers/amazon/aws/operators/dynamodb_to_s3.py
  tests/providers/amazon/aws/operators/test_dynamodb_to_s3.py
Labels: provider:AWS

#8998 Assign area:webserver label to webserver_command.py
  .github/boring-cyborg.yml
Labels: area:dev

#8902 [AIRFLOW-8902] fix Dag Run UI execution date with timezone cannot be saved issue
  airflow/www/forms.py
  airflow/www/utils.py
  tests/www/test_views.py
Labels: area:Webserver, area:dev

#8973 Bust pre-commit cache on v1-10-test branch
  .github/workflows/ci.yml
Labels: area:dev

#8858 Refactor BigQuery operators
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google

#9010 Move setup order check back to pre-commit
  .pre-commit-config.yaml
  requirements/requirements-python3.6.txt
  requirements/requirements-python3.7.txt
  requirements/setup-3.6.md5
  requirements/setup-3.7.md5
  scripts/ci/pre_commit_check_order_setup.py
  setup.py
  tests/test_order_setup.py
Labels: area:dev

#9013 Better content of backport packages CHANGELOG and INSTALL files
  .gitignore
  backport_packages/CHANGELOG.txt
  backport_packages/INSTALL
  backport_packages/build_source_package.sh
  dev/BACKPORT_PACKAGES.md
  scripts/ci/in_container/run_prepare_backport_packages.sh
Labels: area:dev

#8897 Filter dags by clicking on tag
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver

#6311 [AIRFLOW-5615] Reduce duplicated logic around job heartbeating
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
  tests/conftest.py
  tests/jobs/test_base_job.py
Labels: area:Scheduler/Executor

#9035 Additional python extras and deps can be set in breeze
  BREEZE.rst
  Dockerfile
  Dockerfile.ci
  breeze
  breeze-complete
  scripts/ci/_utils.sh
  scripts/ci/in_container/kubernetes/docker/rebuild_airflow_image.sh
Labels: area:dev

#8922 Add query count test for LocalTaskJob
  tests/jobs/test_local_task_job.py
Labels: area:Scheduler/Executor

#9019 Add script_args for S3FileTransformOperator
  airflow/providers/amazon/aws/operators/s3_file_transform.py
  tests/providers/amazon/aws/operators/test_s3_file_transform.py
Labels: provider:AWS

#9049 Add a tip to trigger DAG screen
  airflow/www/templates/airflow/trigger.html
Labels: area:Webserver

#6794 [AIRFLOW-6231] Display DAG run conf in the list view
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver

#9042 detect incompatible docker server version in breeze
  scripts/ci/in_container/check_environment.sh
Labels: area:dev

#9050 Cancel queued/running builds on second push to PR
  .github/workflows/cancel.yml
Labels: area:CI

#9038 Use production image for k8s tests
  .github/workflows/ci.yml
  .travis.yml
  scripts/ci/in_container/kubernetes/app/deploy_app.sh
  scripts/ci/in_container/kubernetes/app/templates/airflow.template.yaml
  scripts/ci/in_container/kubernetes/app/templates/configmaps.template.yaml
  scripts/ci/in_container/kubernetes/app/volumes.yaml
  scripts/ci/in_container/kubernetes/docker/airflow-test-env-init.sh
  scripts/ci/in_container/kubernetes/docker/bootstrap.sh
  scripts/ci/in_container/kubernetes/docker/rebuild_airflow_image.sh
  scripts/docker/entrypoint.sh
  tests/runtime/kubernetes/test_kubernetes_pod_operator.py
Labels: area:dev

#8624 Profile hostname for celery executor (#8619)
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
  scripts/perf/scheduler_dag_execution_timing.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_executor.py
  tests/executors/test_kubernetes_executor.py
  tests/executors/test_local_executor.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/test_utils/mock_executor.py
Labels: area:Scheduler/Executor, k8s

#9056 add example dag and system test for GoogleSheetsToGCSOperator
  airflow/providers/google/cloud/example_dags/example_sheets_to_gcs.py
  docs/howto/operator/gcp/sheets_to_gcs.rst
  tests/providers/google/cloud/operators/test_sheets_to_gcs_system.py
  tests/test_project_structure.py
Labels: area:docs, provider:Google

#9062 Allow testing any executor with scheduler_dag_execution_timing.py
  airflow/executors/executor_loader.py
  scripts/perf/scheduler_dag_execution_timing.py
Labels: area:Scheduler/Executor, area:dev

#9055 add correct description for dst parameter in LocalFilesystemToGCSOperator
  airflow/providers/google/cloud/operators/local_to_gcs.py
Labels: provider:Google

#8986 Added test for bigquery sensor
  tests/providers/google/cloud/sensors/test_bigquery.py
  tests/test_project_structure.py
Labels: provider:Google

#9066 add separate example dags and system tests for GCSToGoogleSheetsOperator
  airflow/providers/google/suite/example_dags/example_gcs_to_sheets.py
  docs/howto/operator/gcp/gcs_to_sheets.rst
  tests/providers/google/suite/operators/test_gcs_to_sheets_system.py
  tests/test_project_structure.py
Labels: area:docs, provider:Google

#9043 Add example dag and system test for LocalFilesystemToGCSOperator
  airflow/providers/google/cloud/example_dags/example_local_to_gcs.py
  docs/howto/operator/gcp/local_to_gcs.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/operators/test_local_to_gcs_system.py
  tests/test_project_structure.py
Labels: area:docs, provider:Google

#8895 Add Delete/Create S3 bucket operators
  airflow/providers/amazon/aws/example_dags/example_s3_bucket.py
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/operators/s3_bucket.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/providers/amazon/aws/operators/test_example_s3_bucket.py
  tests/providers/amazon/aws/operators/test_s3_bucket.py
Labels: area:docs, provider:AWS

#9058 Improve test for the next_execution cli command
  tests/cli/commands/test_dag_command.py
Labels: area:CLI

#9018 Improve SchedulerJob code style
  airflow/executors/executor_loader.py
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#9073 Remove non-existent files from pylint_todo.txt
  scripts/ci/pylint_todo.txt
Labels: AIP-6, area:dev

#9074 Remove Travis CI badge from README
  README.md
Labels: area:docs

#8739 Test that DagFileProcessor can operator against on a Serialized DAG
  airflow/models/dagbag.py
  airflow/models/serialized_dag.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_serialized_dag.py
Labels: area:Scheduler/Executor

#9076 Prevents failure on fixing permissions for files with space in it
  scripts/ci/in_container/_in_container_utils.sh
Labels: area:dev

#9002 Support properties in plugins
  airflow/plugins_manager.py
  docs/plugins.rst
  tests/plugins/test_plugins_manager.py
Labels: area:Plugins, area:docs
