Repository apache/airflow, pull requests merged in 2020-11, with the labels that each got.

#12015 Adding Raisin to list of companies using Airflow
  INTHEWILD.md
Labels: okay to merge

#12005 Code smell fixes for BackfillJob
  airflow/jobs/backfill_job.py
Labels: area:Scheduler/Executor, full tests needed

#12016 Add contributor-targeted description of the PR workflow.
  CONTRIBUTING.rst
Labels: area:dev, okay to merge

#10806 Allow airflow.providers to be installed in multiple python folders
  airflow/__init__.py
  airflow/providers/__init__.py
  airflow/providers/docker/hooks/docker.py
  docs/build_docs.py
  provider_packages/SETUP_TEMPLATE.py.jinja2
  provider_packages/import_all_provider_classes.py
  provider_packages/prepare_provider_packages.py
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_mypy.sh
  scripts/in_container/run_pylint.sh
  scripts/in_container/run_test_package_import_all_classes.sh
Labels: full tests needed

#12018 Adds more aggressive cancelling of duplicate Build Image jobs
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
Labels: area:dev, full tests needed

#12020 Require atleast 1 approving reviews for PRs
  .asf.yaml
Labels: area:dev, okay to merge

#12019 Refine request check in api_connextion Pool endpoints
  airflow/api_connexion/endpoints/pool_endpoint.py
  tests/api_connexion/endpoints/test_pool_endpoint.py
Labels: area:API, okay to merge

#12011 Revise "Project Focus" copy
  README.md
Labels: area:docs, okay to merge

#12021 Fixes problem with non-iterable data returned by GH API
  .github/workflows/build-images-workflow-run.yml
Labels: area:dev, full tests needed

#12024 Fix canceling of CodeQL workflow
  .github/workflows/build-images-workflow-run.yml
Labels: area:dev, full tests needed

#12017 Turns failure of PR label when approved action into warning
  .github/workflows/label_when_reviewed_workflow_run.yml
Labels: area:dev, full tests needed

#12026 Added Axesor to INTHEWILD.md
  INTHEWILD.md
Labels: okay to merge

#11947 Improve handling server errors in DataprocSubmitJobOperator
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: area:operators-hooks, provider:Google

#12034 Fix doc build error
  docs/faq.rst
Labels: area:docs, full tests needed, okay to merge

#12036 Fix spelling build
  docs/spelling_wordlist.txt
Labels: area:docs, okay to merge

#12032 Updates backport release process decription
  dev/README.md
Labels: area:dev, okay to merge

#12023 Checks if all the libraries in setup.py are listed in installation.rst file
  .pre-commit-config.yaml
  BREEZE.rst
  CONTRIBUTING.rst
  INSTALL
  STATIC_CODE_CHECKS.rst
  breeze-complete
  docs/installation.rst
  docs/spelling_wordlist.txt
  scripts/ci/pre_commit/pre_commit_check_setup_installation.py
  setup.py
Labels: area:dev, area:docs, full tests needed

#12038 Fixes documentation-only selective checks
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  scripts/ci/selective_ci_checks.sh
Labels: area:dev, full tests needed

#12044 Replace Docs GIF with updated UI screenshots
  docs/img/airflow.gif
Labels: area:docs, okay to merge

#12047 adding quick description for singularity container operator
  docs/installation.rst
Labels: area:docs

#11994 Fix incorrect .airflowignore behavior with multiple nested directories
  airflow/utils/file.py
  tests/plugins/test_plugin_ignore.py
Labels: area:Plugins, full tests needed

#12043 Adds updating note to .airflowignore fix
  UPDATING.md
Labels: okay to merge

#12048 Fix FAB table views overflow
  airflow/www/static/css/main.css
Labels: area:Webserver, okay to merge

#12046 Retry Dagbag.sync_to_db to avoid Deadlocks
  airflow/jobs/scheduler_job.py
  airflow/models/dagbag.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagbag.py
Labels: area:Scheduler/Executor, full tests needed

#12049 Docstring fix for S3DeleteBucketOperator
  airflow/providers/amazon/aws/operators/s3_bucket.py
Labels: okay to merge, provider:AWS

#11736 Vault with optional Variables or Connections
  airflow/providers/hashicorp/secrets/vault.py
  tests/providers/hashicorp/secrets/test_vault.py
Labels: area:Secrets, okay to merge

#12052 Remove unused JavaScript function
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/templates/airflow/gantt.html
Labels: area:Webserver

#11859 Tests XCom endpoint joins to avoid regression
  tests/api_connexion/endpoints/test_xcom_endpoint.py
Labels: area:API

#12050 Uses DOCKER_TAG when building image in DockerHub
  scripts/ci/libraries/_build_images.sh
Labels: area:dev, full tests needed

#11903 Do not upgrade dependencies on v1-10-stable
  .github/workflows/ci.yml
  Dockerfile.ci
  scripts/ci/docker-compose/local.yml
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_local_mounts.sh
  scripts/in_container/entrypoint_ci.sh
Labels: area:dev

#12014 Add job name and progress logs to gcp transfer hook.
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/sensors/cloud_storage_transfer_service.py
  tests/providers/google/cloud/hooks/test_cloud_storage_transfer_service.py
  tests/providers/google/cloud/sensors/test_cloud_storage_transfer_service.py
Labels: okay to merge, provider:Google

#11589 Perform "mini scheduling run" after task has finished
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/task_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_test.cfg
  airflow/jobs/scheduler_job.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/www/views.py
  tests/core/test_core.py
  tests/jobs/test_backfill_job.py
  tests/models/test_cleartasks.py
  tests/models/test_taskinstance.py
  tests/sensors/test_external_task_sensor.py
  tests/ti_deps/deps/test_not_previously_skipped_dep.py
  tests/utils/test_log_handlers.py
  tests/utils/test_task_group.py
Labels: AIP-15, area:Scheduler/Executor, full tests needed

#12056 Log bigquery job id.
  airflow/providers/google/cloud/hooks/bigquery.py
Labels: provider:Google

#12055 Delete an environment-dependent value from CLI documentation
  airflow/cli/cli_parser.py
Labels: area:CLI, okay to merge

#12066 Adds a forgotten word in a README.md
  README.md
Labels: okay to merge

#12064 Replace deprecated PythonOperator module in example_dag
  airflow/example_dags/tutorial_etl_dag.py
Labels: full tests needed

#11802 Add Kubernetes cleanup-pods CLI command for Helm Chart
  airflow/cli/cli_parser.py
  airflow/cli/commands/kubernetes_command.py
  chart/templates/cleanup/cleanup-cronjob.yaml
  tests/cli/commands/test_kubernetes_command.py
Labels: area:CLI, area:helm-chart, k8s, okay to merge

#12070 If we build a new image, we should run more than basic checks
  scripts/ci/selective_ci_checks.sh
Labels: area:dev, changelog:skip, full tests needed

#12063 Fixes import of BaseOperator in dinging
  airflow/providers/dingding/operators/dingding.py
  provider_packages/refactor_provider_packages.py
Labels: okay to merge

#12054 document pagerduty provider in installation.rst
  docs/installation.rst
Labels: area:docs, okay to merge

#12072 Remove the ability to import operators and sensors from plugins
  UPDATING.md
  airflow/cli/commands/plugins_command.py
  airflow/plugins_manager.py
  airflow/www/views.py
  docs/howto/custom-operator.rst
  docs/plugins.rst
  tests/cli/commands/test_plugins_command.py
  tests/plugins/test_plugins_manager.py
  tests/test_utils/mock_plugins.py
Labels: area:CLI, area:Plugins, area:docs, full tests needed

#12080 Fixes problem with building a PROD image
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/libraries/_build_images.sh
Labels: area:dev

#12067 Add template fields renderers to Biguery and Dataproc operators
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/dataproc.py
Labels: okay to merge, provider:Google

#12075 Avoid unnecessary IF checks when generate Duration & Landing Time views
  airflow/www/views.py
Labels: area:Webserver, changelog:skip, okay to merge

#12084 Use sys.exit() instead of exit()
  scripts/ci/pre_commit/pre_commit_check_setup_installation.py
Labels: area:dev, full tests needed

#12083 Fix proper SHA in check preventing accidentally merging PR
  .github/workflows/label_when_reviewed_workflow_run.yml
Labels: area:dev, full tests needed

#12085 Remove explicit casting to List when sorted() is applied
  airflow/www/views.py
  tests/build_provider_packages_dependencies.py
Labels: area:Webserver, full tests needed

#8553 Add DataflowStartSQLQuery operator
  airflow/providers/google/cloud/example_dags/example_dataflow_sql.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow_system.py
Labels: okay to merge, pinned, provider:Google

#12077 Adding MySql howto-documentation and example DAG
  airflow/providers/mysql/example_dags/__init__.py
  airflow/providers/mysql/example_dags/example_mysql.py
  docs/howto/operator/index.rst
  docs/howto/operator/mysql.rst
  docs/operators-and-hooks-ref.rst
Labels: area:docs, okay to merge

#12092 Convert OpenAPI client generation tests to use selective checks
  .github/workflows/ci.yml
  CI.rst
  scripts/ci/libraries/_initialization.sh
  scripts/ci/openapi/client_codegen_diff.sh
  scripts/ci/selective_ci_checks.sh
Labels: area:dev, changelog:skip, full tests needed

#12057 Correct failure message in sql_sensor.py.
  airflow/sensors/sql_sensor.py
  tests/sensors/test_sql_sensor.py
Labels: full tests needed

#11793 [AIRFLOW-8664] Postgres to GCS operator - use named cursor
  airflow/providers/google/cloud/example_dags/example_postgres_to_gcs.py
  airflow/providers/google/cloud/transfers/postgres_to_gcs.py
  tests/providers/google/cloud/transfers/test_postgres_to_gcs.py
  tests/providers/google/cloud/transfers/test_postgres_to_gcs_system.py
Labels: okay to merge, provider:Google

#12091 Format all files (without excepions) by black
  .pre-commit-config.yaml
  airflow/configuration.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/google/common/hooks/base_google.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:dev, full tests needed, k8s, provider:Google

#12094 Correct reading grpc credentials file
  airflow/providers/grpc/hooks/grpc.py
  tests/providers/grpc/hooks/test_grpc.py
Labels: okay to merge

#12099 Changed tutorial file to reflect name change to TaskFlow API
  airflow/example_dags/tutorial_taskflow_api_etl.py
  docs/tutorial_taskflow_api.rst
Labels: full tests needed

#12069 Deprecate adding Operators and Sensors via plugins
  airflow/operators/__init__.py
  airflow/plugins_manager.py
  airflow/sensors/__init__.py
  setup.py
Labels: area:Plugins

#12101 Update install_mysql.sh
  scripts/docker/install_mysql.sh
Labels: area:dev

#12105 Small fixes in Google Cloud Secrets Manager guide
  docs/security/secrets/secrets-backend/google-cloud-secret-manager-backend.rst
Labels: area:docs, okay to merge

#12113 Fix doc for hiding sensitive variables in Variable View
  docs/ui.rst
Labels: area:docs

#12114 Add Kubernetes files to selective checks
  scripts/ci/selective_ci_checks.sh
Labels: area:dev, full tests needed

#12107 Add SIGUSR2 handler to Scheduler to dump executor state
  airflow/cli/cli_parser.py
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/local_executor.py
  airflow/jobs/scheduler_job.py
  airflow/utils/dag_processing.py
  docs/spelling_wordlist.txt
Labels: area:Scheduler/Executor, full tests needed

#12106 Fix link to StackdriverTaskHandler reference docs
  docs/logging-monitoring/logging-tasks.rst
Labels: okay to merge

#12118 Remove redundant parenthesis
  airflow/executors/celery_executor.py
Labels: area:Scheduler/Executor, full tests needed

#11784 Add ability to specify pod_template_file in executor_config
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/executors/kubernetes_executor.py
  chart/requirements.lock
  docs/executor/kubernetes.rst
  tests/executors/test_kubernetes_executor.py
  tests/www/test_views.py
Labels: area:Scheduler/Executor, area:k8s, full tests needed

#12117 KubernetesPodOperator: Randomize pod name
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: k8s

#12124 Upgrade pygrep-hooks to 1.7.0
  .pre-commit-config.yaml
Labels: area:dev, okay to merge

#12125 Remove commented line
  airflow/cli/commands/cheat_sheet_command.py
Labels: area:CLI, okay to merge

#12109 Clean-up Sphinx config
  docs/conf.py
Labels: area:docs, okay to merge

#12122 Replace conditional with builtin max
  airflow/providers/jenkins/operators/jenkins_job_trigger.py
Labels: okay to merge

#12129 Added Everis to the list of companies using Apache Airflow
  INTHEWILD.md
Labels: okay to merge

#12132 `airflow info` fix for python 3.8+
  airflow/cli/commands/info_command.py
Labels: area:CLI, okay to merge

#12127 Update faq.rst
  docs/faq.rst
Labels: area:docs

#12123 Simplify string expressions
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/db_command.py
  airflow/cli/commands/user_command.py
  airflow/cli/commands/webserver_command.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/operators/functions.py
  tests/providers/google/cloud/operators/test_compute.py
  tests/providers/google/marketing_platform/hooks/test_analytics.py
  tests/providers/google/marketing_platform/hooks/test_display_video.py
  tests/providers/google/marketing_platform/hooks/test_search_ads.py
  tests/providers/google/marketing_platform/sensors/test_display_video.py
Labels: area:CLI, area:Webserver, okay to merge, provider:AWS, provider:Google

#12108 Remove the ability to add hooks to airflow.hooks namespace
  UPDATING.md
  airflow/cli/commands/plugins_command.py
  airflow/models/dagbag.py
  airflow/models/taskinstance.py
  airflow/plugins_manager.py
  airflow/www/views.py
  docs/plugins.rst
  tests/plugins/test_plugins_manager.py
  tests/test_utils/mock_plugins.py
Labels: area:CLI, area:Plugins, area:docs, full tests needed

#11501 Dataflow - add waiting for successful job cancel
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_mlengine_utils.py
Labels: okay to merge, provider:Google

#12134 Unpin 'markdown' library
  setup.py
Labels: full tests needed

#12135 Work properly if some variables are not defined
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
Labels: area:dev, full tests needed

#12137 Update to new helm stable repo
  chart/README.md
  chart/requirements.lock
  chart/tests/conftest.py
  scripts/ci/libraries/_kind.sh
Labels: area:dev, area:helm-chart, full tests needed

#12141 Add missing packages descriptions in docs/installation.rst
  docs/installation.rst
Labels: area:docs, okay to merge

#12140 Retry Publishing Task to Celery Broker
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:Scheduler/Executor, full tests needed

#12143 AWS Secrets backend optional conf var conn path
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/secrets/systems_manager.py
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
  tests/providers/amazon/aws/secrets/test_systems_manager.py
Labels: area:Secrets, okay to merge, provider:AWS

#12153 Fix default values for Helm Chart
  chart/README.md
Labels: area:helm-chart, okay to merge

#12155 Fixes undefined variables
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/entrypoint_ci.sh
  scripts/in_container/run_init_script.sh
Labels: area:dev, full tests needed

#12152 Add missing description of `celery.task_timeout_error` metric
  docs/logging-monitoring/metrics.rst
Labels: area:docs, okay to merge

#12156 Fixes "--force-clean-images" flag in Breeze
  breeze
  scripts/ci/libraries/_build_images.sh
Labels: area:dev, full tests needed

#12160 UI Fix: spacing between table and pagination
  airflow/www/static/css/dags.css
Labels: area:Webserver, okay to merge

#12142 Bugfix: Make doc_md field nullable and raise json for non-existing dag in dag detail endpoint
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_dag_endpoint.py
Labels: area:API, okay to merge

#12161 Fix docs build on RTD
  docs/build_docs.py
  docs/conf.py
  docs/exts/provider_init_hack.py
Labels: area:docs, okay to merge

#12162 Sync FAB Permissions for all base views
  airflow/cli/commands/sync_perm_command.py
  tests/cli/commands/test_sync_perm_command.py
Labels: area:CLI, area:Webserver, okay to merge

#12166 Fix Celery Tests
  tests/executors/test_celery_executor.py
Labels: area:Scheduler/Executor, full tests needed

#12167 Move docs for max_db_retries option to core section
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Labels: full tests needed

#12133 Deprecate importing Hooks from plugin-created module
  airflow/hooks/__init__.py
  airflow/plugins_manager.py
  tests/plugins/test_plugins_manager_www.py
Labels: area:Plugins

#12149 Allow Connection Edit View to handle entries with NULL 'extra'
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver, okay to merge, priority: critical

#12169 Proper title for XCom List View page
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver, okay to merge, priority: low

#12173 Added 1.10.x support statement to Upgrading to 2.0 doc
  UPGRADING_TO_2.0.md
Labels: okay to merge

#12172 Fix store_to_xcom_key - Object of type 'bytes' is not JSON serializable
  airflow/providers/google/cloud/transfers/gcs_to_local.py
Labels: provider:Google

#12174 Azure Key Vault secrets backend optional lookup
  airflow/providers/microsoft/azure/secrets/azure_key_vault.py
  tests/providers/microsoft/azure/secrets/test_azure_key_vault.py
Labels: area:Secrets, okay to merge, provider:Azure

#12177 Uses always the same Python base image as used for CI image
  IMAGES.rst
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev, full tests needed

#12176 Remove redundant asserts in tests/www/test_views.py
  tests/www/test_views.py
Labels: okay to merge, priority: low

#12178 Adds extra check while the selective checks are run
  .github/workflows/label_when_reviewed_workflow_run.yml
Labels: area:dev, full tests needed

#12079 Add authentication to AWS with Google credentials
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/google/common/utils/id_token_credentials.py
  docs/howto/connection/aws.rst
  docs/spelling_wordlist.txt
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/hooks/test_base_aws_system.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Labels: area:docs, okay to merge, provider:AWS, provider:Google

#12183 Fix broken 'Blocked Highlight' feature in UI
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver, okay to merge, priority: critical

#12165 Move metrics configuration to new section - metrics
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/stats.py
  chart/values.yaml
  docs/configurations-ref.rst
  docs/logging-monitoring/metrics.rst
  tests/core/test_config_templates.py
  tests/core/test_stats.py
Labels: area:docs, area:helm-chart, full tests needed

#12191 Fixed path of the test_core.py file in docs
  BREEZE.rst
  TESTING.rst
  breeze
Labels: area:dev, okay to merge

#12175 Add how-to Guide for Databricks operators
  airflow/providers/databricks/example_dags/example_databricks.py
  docs/howto/operator/databricks.rst
  docs/howto/operator/index.rst
  docs/operators-and-hooks-ref.rst
Labels: area:docs

#12139 Call scheduler "book-keeping" operations less frequently.
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor, full tests needed

#12154 Provider packages are installed by default in production image
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  setup.py
Labels: area:dev, priority: critical

#12171 KubernetesPodOperator: use randomized name to get the failure status
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: full tests needed, k8s

#12194 Provider's readmes generated for elasticsearch and google packages
  airflow/providers/elasticsearch/BACKPORT_PROVIDER_CHANGES_2020.11.13.md
  airflow/providers/elasticsearch/BACKPORT_PROVIDER_README.md
  airflow/providers/google/BACKPORT_PROVIDER_CHANGES_2020.11.13.md
  airflow/providers/google/BACKPORT_PROVIDER_README.md
Labels: provider:Google

#12196 Don't include provider datafiles in the apache-airflow sdist
  MANIFEST.in
Labels: okay to merge, priority:critical

#11121 Filter dags by owner
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver, okay to merge

#12200 Include data files in (backport) provider packages
  .gitignore
  dev/provider_packages/MANIFEST_TEMPLATE.in.jinja2
  dev/provider_packages/SETUP_TEMPLATE.py.jinja2
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev

#12205 Workaround missing git commit in providers's check in CI
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev, okay to merge

#11815 Render k8s yaml for tasks via the Airflow UI
  airflow/cli/cli_parser.py
  airflow/executors/executor_constants.py
  airflow/executors/executor_loader.py
  airflow/executors/kubernetes_executor.py
  airflow/jobs/backfill_job.py
  airflow/kubernetes/kube_config.py
  airflow/kubernetes/kubernetes_helper_functions.py
  airflow/migrations/versions/45ba3f1493b9_add_k8s_yaml_to_rendered_templates.py
  airflow/models/renderedtifields.py
  airflow/models/taskinstance.py
  airflow/settings.py
  airflow/www/extensions/init_jinja_globals.py
  airflow/www/static/css/material-icons.css
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/task_instance.html
  airflow/www/templates/appbuilder/custom_icons.html
  airflow/www/views.py
  tests/models/test_renderedtifields.py
  tests/models/test_taskinstance.py
  tests/www/test_views.py
Labels: area:Webserver, full tests needed

#12209 Fixes timeout in helm chart tests
  .github/workflows/ci.yml
Labels: area:dev, full tests needed

#12211 Remove popd which is a remnant from past
  scripts/ci/libraries/_start_end.sh
Labels: area:dev, full tests needed

#12157 Fix permissions of mounted /tmp directory for Breeze
  scripts/in_container/entrypoint_ci.sh
Labels: area:dev, full tests needed

#11922 Extend the same keyword arguments callable support in PythonOperator to some other sensors/operators
  UPDATING.md
  airflow/operators/python.py
  airflow/providers/http/operators/http.py
  airflow/providers/http/sensors/http.py
  airflow/sensors/external_task_sensor.py
  airflow/sensors/python.py
  airflow/utils/operator_helpers.py
  tests/providers/http/operators/test_http.py
  tests/sensors/test_external_task_sensor.py
  tests/utils/test_operator_helpers.py
Labels: full tests needed

#12204 Make warnings more visible
  LICENSE
  airflow/settings.py
  setup.py
Labels: full tests needed

#12213 Remove redundant parenthesis
  airflow/www/views.py
Labels: area:Webserver, okay to merge

#11526 Adds automated installation of dependent packages
  CONTRIBUTING.rst
  INSTALL
  scripts/ci/pre_commit/pre_commit_check_order_setup.py
  scripts/in_container/run_prepare_provider_packages.sh
  setup.py
Labels: area:dev

#12215 Release 2.0.0beta1
  airflow/version.py
  setup.py
Labels: full tests needed

#12220 Fix typo in docstrings
  airflow/api_connexion/schemas/task_instance_schema.py
Labels: area:API, okay to merge

#12218 Beautify Output of setup-installation pre-commit
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_check_setup_installation.py
Labels: area:dev, full tests needed

#9879 Add Compute Engine SSH hook
  CONTRIBUTING.rst
  airflow/models/connection.py
  airflow/providers/dependencies.json
  airflow/providers/google/cloud/example_dags/example_compute_ssh.py
  airflow/providers/google/cloud/hooks/compute.py
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/cloud/hooks/os_login.py
  airflow/providers/google/common/hooks/base_google.py
  docs/howto/connection/gcp_ssh.rst
  docs/howto/operator/google/cloud/compute_ssh.rst
  docs/operators-and-hooks-ref.rst
  setup.py
  tests/providers/google/cloud/hooks/test_compute_ssh.py
  tests/providers/google/cloud/hooks/test_compute_ssh_system.py
  tests/providers/google/cloud/hooks/test_os_login.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Labels: full tests needed, pinned, provider:Google

#11465 Add Markdown linting to pre-commit
  .markdownlint.yml
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  UPDATING.md
  UPGRADING_TO_2.0.md
  breeze-complete
  chart/README.md
  dev/README.md
Labels: area:CI

#12224 Lint Markdown. Fix MD032/blanks-around-lists
  .markdownlint.yml
  README.md
  UPDATING.md
  UPGRADING_TO_2.0.md
  dev/README.md
Labels: area:dev

#12222 Fix spelling
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:Logging, okay to merge

#12216 Simplify string expressions & Use f-string
  airflow/cli/cli_parser.py
  airflow/cli/commands/user_command.py
  airflow/executors/kubernetes_executor.py
  airflow/models/baseoperator.py
  airflow/models/dagrun.py
  airflow/providers/apache/druid/hooks/druid.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/microsoft/azure/hooks/azure_batch.py
  airflow/providers/slack/hooks/slack.py
  airflow/providers/slack/hooks/slack_webhook.py
  airflow/providers/ssh/hooks/ssh.py
  tests/providers/apache/druid/hooks/test_druid.py
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
  tests/providers/google/cloud/operators/test_cloud_sql_system_helper.py
  tests/providers/google/cloud/operators/test_compute.py
Labels: full tests needed

#12227 CSS changes to make current theme responsive
  docs/static/exampleinclude.css
Labels: area:docs

#12225 Enable Markdownlint rule - MD022/blanks-around-headings
  .markdownlint.yml
  README.md
  UPDATING.md
  UPGRADING_TO_2.0.md
  airflow/providers/apache/hive/example_dags/example_twitter_README.md
  airflow/providers/google/cloud/ADDITIONAL_INFO.md
  chart/README.md
  clients/README.md
  scripts/in_container/quarantine_issue_header.md
  tests/dags/README.md
  tests/dags_corrupted/README.md
  tests/test_utils/README.md
Labels: area:API, area:dev, area:helm-chart, provider:Apache, provider:Google

#12187 Add docs about security on GCP
  docs/howto/connection/aws.rst
  docs/howto/connection/gcp.rst
  docs/img/aws-web-identity-federation-gcp.png
  docs/production-deployment.rst
Labels: area:dev, area:docs, okay to merge, provider:AWS, provider:Google

#12230 Fix spelling in Python files
  airflow/providers/amazon/aws/example_dags/example_datasync_1.py
  airflow/providers/amazon/aws/example_dags/example_datasync_2.py
  airflow/providers/apache/hive/sensors/named_hive_partition.py
  airflow/providers/google/cloud/example_dags/example_stackdriver.py
  airflow/providers/google/cloud/hooks/kms.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/operators/speech_to_text.py
  airflow/providers/google/cloud/transfers/local_to_gcs.py
  airflow/providers/google/cloud/transfers/postgres_to_gcs.py
  airflow/providers/google/cloud/utils/mlengine_prediction_summary.py
  airflow/providers/redis/operators/redis_publish.py
  docs/spelling_wordlist.txt
  tests/providers/amazon/aws/sensors/test_sqs.py
Labels: area:docs, changelog:skip, okay to merge

#12238 Enable markdownlint rule - MD031/blanks-around-fences
  .markdownlint.yml
  UPDATING.md
  UPGRADING_TO_2.0.md
  chart/README.md
  dev/PROVIDER_PACKAGES.md
  dev/README.md
  dev/provider_packages/README.md
Labels: area:dev, area:helm-chart

#12233 Fixes automated provider installation with extras
  setup.py
Labels: full tests needed

#12240 Add back missing api_connextion/__init__.py file
  airflow/api_connexion/__init__.py
  docs/conf.py
Labels: area:API, area:docs, okay to merge

#12241 Sign release files with an apache.org key by default
  dev/sign.sh
Labels: area:dev, changelog:skip, okay to merge

#12221 Remove Unnecessary comprehension
  airflow/migrations/versions/2c6edca13270_resource_based_permissions.py
  dev/import_all_classes.py
Labels: area:dev

#12243 Release 2.0.0b2
  airflow/version.py
  setup.py
Labels: full tests needed

#12256 Fixes continuous image rebuilding with Breeze
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev

#12203 Adds provider package documentation in installation.rst
  docs/installation.rst
  docs/spelling_wordlist.txt
Labels: area:docs, okay to merge

#12253 Fix spelling
  chart/README.md
  chart/tests/test_celery_kubernetes_executor.py
  chart/tests/test_git_sync_webserver.py
  chart/tests/test_git_sync_worker.py
Labels: area:helm-chart, okay to merge

#12252 Remove providers imports from core examples
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  airflow/example_dags/example_dag_decorator.py
  airflow/operators/email.py
  airflow/operators/python.py
  airflow/www/utils.py
  breeze-complete
Labels: area:dev, full tests needed

#12268 Fix: Conditionally update button URL only when it is present
  airflow/www/templates/airflow/dag.html
Labels: area:Webserver, okay to merge

#12266 Fix spelling
  scripts/ci/dockerfiles/krb5-kdc-server/utils/create_admin.sh
  tests/dags_corrupted/README.md
  tests/providers/google/cloud/hooks/test_dataflow.py
Labels: area:dev, provider:Google

#12267 Fix pause/unpause toggle failed state when unsuccessful
  airflow/www/static/css/switch.css
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver, okay to merge

#12219 Docker context files should be available earlier
  .gitignore
  Dockerfile.ci
Labels: area:dev, full tests needed

#11970 Unify user session lifetime configuration
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/app.py
  airflow/www/extensions/init_session.py
  tests/www/test_app.py
Labels: area:Webserver, full tests needed

#12283 Don't treat warning message as rich formatting codes.
  airflow/settings.py
Labels: full tests needed

#12265 Providers in extras are properly configured and verified
  .pre-commit-config.yaml
  BREEZE.rst
  CONTRIBUTING.rst
  INSTALL
  STATIC_CODE_CHECKS.rst
  breeze-complete
  docs/installation.rst
  scripts/ci/pre_commit/pre_commit_check_extras_have_providers.py
  setup.py
Labels: area:dev, area:docs, full tests needed
