Repository apache/airflow, pull requests merged in 2020-03, with the labels that each got.

#7148 [AIRFLOW-6472] Correct short and long option in cli
  UPDATING.md
  airflow/bin/cli.py
  airflow/cli/commands/celery_command.py
  airflow/cli/commands/connection_command.py
  airflow/example_dags/example_passing_params_via_test_command.py
  airflow/models/taskinstance.py
  airflow/task/task_runner/base_task_runner.py
  docs/howto/connection/index.rst
  docs/howto/tracking-user-activity.rst
  docs/howto/write-logs.rst
  docs/metrics.rst
  docs/security.rst
  tests/bin/__init__.py
  tests/bin/test_cli.py
  tests/cli/commands/test_celery_command.py
  tests/cli/commands/test_connection_command.py
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_only_use_long_option.py
  tests/cli/commands/test_task_command.py
  tests/cli/commands/test_user_command.py
  tests/cli/commands/test_variable_command.py
  tests/cli/commands/test_webserver_command.py
  tests/jobs/test_backfill_job.py
  tests/models/test_taskinstance.py
Labels: area:CLI, area:Scheduler/Executor, area:docs

#7591 [AIRFLOW-XXXX] Add Docker installation in WSL
  BREEZE.rst
  images/docker_expose_daemon.png
Labels: area:dev

#7599 [AIRFLOW-6961] Create tags in bulk during bulk_sync_to_db
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: area:Scheduler/Executor, area:performance

#7437 [AIRFLOW-2325] Add CloudwatchTaskHandler option for remote task loggi…
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/utils/log/cloudwatch_task_handler.py
  docs/howto/write-logs.rst
  setup.py
  tests/utils/log/test_cloudwatch_task_handler.py
Labels: area:Logging, area:docs

#7490 [AIRFLOW-6860] Default ignore_first_depends_on_past to True
  UPDATING.md
  airflow/cli/commands/dag_command.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  tests/cli/commands/test_dag_command.py
  tests/models/test_taskinstance.py
Labels: area:CLI

#7607 [AIRFLOW-6971] Fix return type in CloudSpeechToTextRecognizeSpeechOp
  airflow/providers/google/cloud/operators/speech_to_text.py
  tests/providers/google/cloud/operators/test_speech_to_text.py
Labels: provider:GCP

#7614 [AIRFLOW-6979] Fix breeze test-target specific test param issue
  breeze
Labels: area:dev

#7584 [AIRFLOW-6956] Extract kill_child_processes_by_pids from DagFileProcessorManager
  airflow/utils/dag_processing.py
  airflow/utils/process_utils.py
  tests/utils/test_process_utils.py
Labels: area:Scheduler/Executor

#7604 [AIRFLOW-6970] Improve GCP Video Intelligence system tests
  airflow/providers/google/cloud/hooks/base.py
  tests/providers/google/cloud/hooks/test_base.py
  tests/providers/google/cloud/operators/test_video_intelligence_system.py
Labels: provider:GCP

#7547 [AIRFLOW-6926] Fix Google Tasks operators return types and idempotency
  airflow/providers/google/cloud/example_dags/example_tasks.py
  airflow/providers/google/cloud/operators/tasks.py
  tests/providers/google/cloud/operators/test_tasks.py
Labels: provider:GCP

#7616 [AIRFLOW-6040] ReadTimeoutError should not raise exception
  airflow/executors/kubernetes_executor.py
Labels: area:Scheduler/Executor, k8s

#7608 [AIRFLOW-6972] Shorter frequently used commands in Breeze
  BREEZE.rst
  TESTING.rst
  breeze
  breeze-complete
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev

#7612 [AIRFLOW-6977] Fix BigQuery DTS example DAG
  airflow/providers/google/cloud/example_dags/example_bigquery_dts.py
Labels: provider:GCP

#7609 [AIRFLOW-6973] Make GCSCreateBucketOperator idempotent
  airflow/providers/google/cloud/example_dags/example_gcs.py
  airflow/providers/google/cloud/operators/gcs.py
  tests/providers/google/cloud/operators/test_postgres_to_gcs_system.py
Labels: provider:GCP

#7535 [AIRFLOW-6915] Adds AI Platform Console link for MLEngineStartTrainingOperator
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/serialization/serialized_objects.py
  tests/providers/google/cloud/operators/test_mlengine.py
Labels: area:Serialization, provider:GCP

#7623 [AIRFLOW-6984] Improve setup/teardown in SFTP-GCS system tests
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev, provider:GCP

#7631 [AIRFLOW-6990] Improve system tests for Google Marketing Platform
  airflow/providers/google/marketing_platform/example_dags/example_campaign_manager.py
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/google/marketing_platform/operators/campaign_manager.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
  tests/providers/google/marketing_platform/operators/test_campaign_manager_system.py
  tests/providers/google/marketing_platform/operators/test_display_video_system.py
  tests/providers/google/marketing_platform/operators/test_search_ads_system.py
  tests/test_utils/gcp_system_helpers.py
Labels: provider:GCP

#7597 [AIRFLOW-6497] Avoid loading DAGs in the main scheduler loop
  airflow/jobs/scheduler_job.py
  airflow/utils/dag_processing.py
  tests/dags/test_on_failure_callback.py
  tests/jobs/test_scheduler_job.py
  tests/utils/test_dag_processing.py
Labels: area:Scheduler/Executor, area:performance

#7641 [AIRFLOW-7001] Time zone removed from MySQL TIMSTAMP field inserts
  airflow/utils/sqlalchemy.py
Labels: area:dev

#7618 [AIRFLOW-5828] Move build logic out from hooks/build
  BREEZE.rst
  breeze
  confirm
  hooks/build
  scripts/ci/_utils.sh
  scripts/ci/ci_build_dockerhub.sh
  scripts/ci/ci_check_license.sh
  scripts/ci/ci_docs.sh
  scripts/ci/ci_flake8.sh
  scripts/ci/ci_mypy.sh
  scripts/ci/ci_prepare_backport_packages.sh
  scripts/ci/ci_pylint_main.sh
  scripts/ci/ci_pylint_tests.sh
  scripts/ci/ci_refresh_pylint_todo.sh
  scripts/ci/ci_run_airflow_testing.sh
  scripts/ci/ci_run_all_static_checks.sh
  scripts/ci/ci_run_static_checks_pylint_tests.sh
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/run_flake8.sh
  scripts/ci/in_container/run_mypy.sh
  scripts/ci/in_container/run_pylint_main.sh
  scripts/ci/in_container/run_pylint_tests.sh
  scripts/ci/pre_commit_ci_build.sh
  scripts/ci/pre_commit_setup_cfg_file.sh
Labels: area:dev

#7624 [AIRFLOW-6973] Make GCSCreateBucketOperator idempotent (fix)
  airflow/providers/google/cloud/hooks/gcs.py
Labels: provider:GCP

#7648 [AIRFLOW-7006] Fix missing +e in Breeze script
  scripts/ci/_utils.sh
Labels: area:dev

#7646 [AIRFLOW-7002] Get rid of yaml "parser" in bash
  .pre-commit-config.yaml
  scripts/ci/_utils.sh
  scripts/ci/docker-compose/local.yml
  scripts/ci/pre_commit_local_yml_mounts.sh
  tests/bats/test_local_mounts.bats
  tests/bats/test_yaml_parser.bats
Labels: area:dev

#7602 [AIRFLOW-6967] Add tests to avoid performance regression in DagFileProcessor
  Dockerfile
  scripts/perf/dags/elastic_dag.py
  tests/jobs/test_scheduler_job.py
  tests/test_utils/asserts.py
Labels: area:Scheduler/Executor, area:dev, area:performance

#7649 [AIRFLOW-7005] Added exec command to Breeze
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/in_container/configure_environment.sh
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/entrypoint_exec.sh
Labels: area:dev

#7647 [AIRFLOW-5842] Swtch to Debian buster image as a base
  Dockerfile
  breeze
  scripts/ci/_utils.sh
Labels: area:dev

#7506 [AIRFLOW-6877] Add cross-provider dependencies as extras
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  README.md
  airflow/providers/amazon/aws/operators/sftp_to_s3.py
  airflow/providers/cncf/kubernetes/example_dags/example_kubernetes.py
  airflow/providers/dependencies.json
  airflow/providers/google/cloud/operators/cloud_storage_transfer_service.py
  airflow/providers/sftp/operators/sftp.py
  backport_packages/__init__.py
  backport_packages/setup_backport_packages.py
  scripts/ci/pre_commit_build_providers_dependencies.sh
  tests/build_provider_packages_dependencies.py
  tests/providers/microsoft/mssql/__init__.py
  tests/providers/microsoft/mssql/operators/test_mssql.py
  tests/test_project_structure.py
Labels: area:dev, k8s, provider:AWS, provider:GCP

#7657 [AIRFLOW-7012] Split tests into providers/core to save memory
  .travis.yml
Labels: area:dev

#7651 [AIRFLOW-7009] Use keywords arguments for DagFileStat
  airflow/jobs/scheduler_job.py
  airflow/utils/dag_processing.py
Labels: area:Scheduler/Executor

#7652 [AIRFLOW-7010] Skip in-container checks for Dockerhub builds
  hooks/build
  scripts/ci/_utils.sh
Labels: area:dev

#6576 [AIRFLOW-5922] Add option to specify the mysql client library used in MySqlHook
  airflow/providers/mysql/hooks/mysql.py
  docs/howto/connection/mysql.rst
  docs/howto/initialize-database.rst
  setup.py
  tests/operators/test_generic_transfer.py
  tests/providers/mysql/hooks/test_mysql.py
  tests/providers/mysql/operators/test_mysql.py
Labels: area:dev, area:docs, provider:Apache

#7662 [AIRFLOW-XXXX] Remove duplicated paragraph in docs
  docs/tutorial.rst
Labels: area:docs

#7666 [AIRFLOW-XXXX] Fix upsert operator in BQ example DAG
  airflow/providers/google/cloud/example_dags/example_bigquery.py
Labels: provider:GCP

#7659 [AIRFLOW-2911] Add job cancellation capability to Dataflow service
  airflow/providers/google/cloud/example_dags/example_dataflow.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
  tests/providers/google/cloud/operators/test_mlengine_utils.py
Labels: provider:GCP

#7668 [AIRFLOW-7018] fixing travis's job name escaping problem
  scripts/ci/_utils.sh
Labels: area:dev

#7664 [AIRFLOW-5013] Add GCP Data Catalog Hook and operators
  airflow/providers/google/cloud/example_dags/example_datacatalog.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/operators/datacatalog.py
  docs/conf.py
  docs/howto/operator/gcp/datacatalog.rst
  docs/operators-and-hooks-ref.rst
  setup.py
  tests/providers/google/cloud/hooks/test_datacatalog.py
  tests/providers/google/cloud/operators/test_datacatalog.py
Labels: area:docs, provider:GCP

#7672 [AIRFLOW-7021] Avoid multiple calls to conf.getboolean in _process_dags
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor, area:performance

#7673 [AIRFLOW-7015] Detect Dockerhub repo/user when building on Dockerhub
  common/_autodetect_variables.sh
  common/_image_variables.sh
  scripts/ci/_utils.sh
  scripts/ci/ci_build_dockerhub.sh
  scripts/ci/in_container/kubernetes/app/deploy_app.sh
Labels: area:dev

#7670 [AIRFLOW-XXXX] Small grammar fixes in Best Practices doc
  docs/best-practices.rst
Labels: area:docs

#7676 [AIRFLOW-7024] Add the verbose parameter support to SparkSqlOperator
  airflow/providers/apache/spark/operators/spark_sql.py
  tests/providers/apache/spark/operators/test_spark_sql.py
Labels: provider:Apache

#7615 [AIRFLOW-6980] Improve system tests and building providers package
  .travis.yml
  airflow/providers/google/cloud/example_dags/example_dlp.py
  airflow/providers/google/cloud/example_dags/example_stackdriver.py
  airflow/providers/google/cloud/example_dags/example_tasks.py
  backport_packages/setup_backport_packages.py
  scripts/ci/ci_before_install.sh
  scripts/ci/ci_prepare_backport_packages.sh
  scripts/ci/docker-compose/remove-sources.yml
  tests/test_utils/system_tests_class.py
Labels: area:dev, provider:GCP

#7661 [AIRFLOW-7016] Sort dag tags in the UI
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver

#7680 [AIRFLOW-4438] Add Gzip compression to S3_hook
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: provider:AWS

#7681 [AIRFLOW-7032] Remove airflow/gcp folder from doc build
  docs/build.sh
Labels: area:docs

#7422 [AIRFLOW-6809] Test for presto operators
  tests/providers/presto/operators/__init__.py
  tests/providers/presto/operators/test_presto_check.py
Labels: provider:Apache

#7687 [AIRFLOW-7037] Fix Type Annotation for Multiprocessing Connection
  airflow/utils/dag_processing.py
Labels: area:Scheduler/Executor

#7690 [AIRFLOW-7040] Move tests/utils/contrib packages to tests/utils
  tests/contrib/__init__.py
  tests/contrib/utils/__init__.py
  tests/providers/google/cloud/operators/test_cloud_build_system_helper.py
  tests/providers/google/cloud/operators/test_cloud_sql_system_helper.py
  tests/providers/google/cloud/operators/test_cloud_storage_transfer_service_system_helper.py
  tests/providers/google/cloud/operators/test_compute_system_helper.py
  tests/providers/google/cloud/operators/test_gcs_system_helper.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
  tests/test_utils/gcp_system_helpers.py
  tests/test_utils/system_tests_class.py
  tests/utils/logging_command_executor.py
  tests/utils/test_sendgrid.py
  tests/utils/test_task_handler_with_custom_formatter.py
  tests/utils/test_weekday.py
Labels: provider:GCP

#7691 [AIRFLOW-7041] make bowler dependency local
  backport_packages/.flake8
  backport_packages/setup_backport_packages.py
Labels: area:dev

#7667 [AIRFLOW-7017] Respect default dag view in trigger dag origin.
  airflow/www/templates/airflow/dag.html
  tests/dags/test_default_views.py
  tests/www/test_views.py
Labels: area:Webserver

#7698 [AIRFLOW-XXXX] Fix typo in tests/jobs/test_base_job.py
  tests/jobs/test_base_job.py
Labels: area:Scheduler/Executor

#7699 [AIRFLOW-XXXX] Fix docstring in TestSchedulerJob
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#7697 [AIRFLOW-XXXX] Remove already solved items from pylint_todo.txt
  scripts/ci/pylint_todo.txt
Labels: area:dev

#7696 [AIRFLOW-XXXX] Replace conversion from list to set
  tests/executors/test_debug_executor.py
Labels: area:Scheduler/Executor

#7702 [AIRFLOW-XXXX] Update to the latest version of pre-commit-hooks
  .pre-commit-config.yaml
Labels: area:dev

#7695 [AIRFLOW-XXXX] Change CONTRIBUTING.md to CONTRIBUTING.rst
  CONTRIBUTING.md
  scripts/ci/_utils.sh
Labels: area:dev

#7701 [AIRFLOW-XXXX] Wrap line under 110 characters
  scripts/perf/scheduler_dag_execution_timing.py
Labels: area:dev

#7685 [AIRFLOW-7034] Remove feature: Assigning Dag to task using Bitshift Op
  UPDATING.md
  airflow/models/baseoperator.py
  airflow/providers/google/cloud/operators/pubsub.py
  docs/concepts.rst
  tests/models/test_taskinstance.py
Labels: area:docs, provider:GCP

#7656 [AIRFLOW-7013] Automated check if Breeze image needs to be pulled
  .dockerignore
  .travis.yml
  breeze
  breeze-complete
  manifests/.gitignore
  scripts/ci/_utils.sh
  scripts/ci/ci_build_dockerhub.sh
  scripts/ci/pre_commit_ci_build.sh
Labels: area:dev

#6788 [AIRFLOW-5944] Display rendered template_fields without accessing DAG files
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/migrations/versions/852ae6c715af_add_rendered_task_instance_fields_table.py
  airflow/models/__init__.py
  airflow/models/dagbag.py
  airflow/models/renderedtifields.py
  airflow/models/taskinstance.py
  airflow/serialization/helpers.py
  airflow/www/views.py
  tests/models/test_renderedtifields.py
  tests/models/test_taskinstance.py
  tests/test_utils/db.py
  tests/www/test_views.py
Labels: area:Scheduler/Executor, area:Serialization, area:Webserver, pinned

#7583 [AIRFLOW-6954] Use DagRunType instead of ID_PREFIX in run_id
  airflow/api/common/experimental/mark_tasks.py
  airflow/api/common/experimental/trigger_dag.py
  airflow/jobs/backfill_job.py
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/dagrun.py
  airflow/ti_deps/deps/dagrun_id_dep.py
  airflow/utils/types.py
  airflow/www/views.py
  tests/api/common/experimental/test_mark_tasks.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/test_core.py
  tests/ti_deps/deps/test_dagrun_id_dep.py
  tests/www/test_views.py
Labels: area:Scheduler/Executor, area:Webserver

#7705 [AIRFLOW-7047] Fix build providers dependencies pre-commit on Mac
  scripts/ci/pre_commit_build_providers_dependencies.sh
Labels: area:dev

#7677 [AIRFLOW-7025] Fix SparkSqlHook.run_query to handle its parameter properly
  airflow/providers/apache/spark/hooks/spark_sql.py
  tests/providers/apache/spark/hooks/test_spark_sql.py
Labels: provider:Apache

#7598 [AIRFLOW-6884] Make SageMakerTrainingOperator idempotent
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/operators/sagemaker_training.py
  tests/providers/amazon/aws/operators/test_sagemaker_training.py
Labels: provider:AWS

#7674 [AIRFLOW-7022] Simplify DagFileProcessor.process_file method
  airflow/jobs/scheduler_job.py
  tests/dags/test_multiple_dags.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#7619 [AIRFLOW-6975] Base AWSHook AssumeRoleWithSAML
  airflow/providers/amazon/aws/hooks/base_aws.py
  docs/howto/connection/aws.rst
  setup.py
Labels: area:docs, provider:AWS

#7633 [AIRFLOW-6989] Display Rendered template_fields without accessing Dagfiles
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/www/views.py
  docs/dag-serialization.rst
  tests/serialization/test_dag_serialization.py
  tests/www/test_views.py
Labels: area:Serialization, area:Webserver, area:docs

#7712 [AIRFLOW-7056] Selective backport packages build
  scripts/ci/ci_prepare_backport_packages.sh
Labels: area:dev

#7630 [AIRFLOW-6724] Add Google Analytics 360 Accounts Retrieve Operator
  airflow/providers/google/marketing_platform/example_dags/example_analytics.py
  airflow/providers/google/marketing_platform/hooks/analytics.py
  airflow/providers/google/marketing_platform/operators/analytics.py
  docs/howto/operator/gcp/analytics.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/marketing_platform/hooks/test_analytics.py
  tests/providers/google/marketing_platform/operators/test_analytics.py
Labels: area:docs, provider:GCP

#7710 [AIRFLOW-7054] Breeze has an option now to reset db at entry
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/docker-compose/base.yml
  scripts/ci/in_container/check_environment.sh
  scripts/ci/in_container/entrypoint_ci.sh
  tests/test_utils/system_tests_class.py
Labels: area:dev

#7217 [AIRFLOW-5946] Store source code in db
  airflow/api/common/experimental/__init__.py
  airflow/api/common/experimental/get_code.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/exceptions.py
  airflow/migrations/versions/952da73b5eff_add_dag_code_table.py
  airflow/models/dag.py
  airflow/models/dagcode.py
  airflow/models/serialized_dag.py
  airflow/utils/dag_processing.py
  airflow/utils/file.py
  airflow/www/utils.py
  airflow/www/views.py
  docs/dag-serialization.rst
  tests/models/test_dagcode.py
  tests/models/test_serialized_dag.py
  tests/test_utils/db.py
  tests/utils/test_dag_processing.py
  tests/www/api/experimental/test_dag_runs_endpoint.py
  tests/www/api/experimental/test_endpoints.py
  tests/www/test_utils.py
  tests/www/test_views.py
Labels: area:Logging, area:Scheduler/Executor, area:Serialization, area:Webserver, area:dev, area:docs, provider:GCP

#7644 [AIRFLOW-7003] Lazy load all plguins
  airflow/__init__.py
  airflow/models/dagbag.py
  airflow/plugins_manager.py
  airflow/serialization/serialized_objects.py
  airflow/www/app.py
Labels: area:Plugins, area:Serialization, area:Webserver, area:performance

#7715 [AIRFLOW-XXXX] Update temp link to a fixed link
  docs/dag-serialization.rst
Labels: area:Serialization, area:docs

#7716 [AIRFLOW-XXXX] Remove the defunct limitation of Dag Serialization
  docs/dag-serialization.rst
Labels: area:docs

#7678 [AIRFLOW-7029] Use separate docker image for running license check
  Dockerfile
  scripts/ci/ci_check_license.sh
  scripts/ci/in_container/run_check_licence.sh
Labels: area:dev

#7669 [AIRFLOW-7019] Show un/pause errors in dags view.
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  docs/faq.rst
Labels: area:Webserver, area:docs

#7721 [AIRFLOW-7061] Rename openfass to openfaas
  airflow/contrib/hooks/openfaas_hook.py
  airflow/providers/openfaas/__init__.py
  airflow/providers/openfaas/hooks/__init__.py
  airflow/providers/openfaas/hooks/openfaas.py
  backport_packages/setup_backport_packages.py
  docs/autoapi_templates/index.rst
  docs/operators-and-hooks-ref.rst
  scripts/ci/pylint_todo.txt
  tests/providers/openfaas/__init__.py
  tests/providers/openfaas/hooks/__init__.py
  tests/providers/openfaas/hooks/test_openfaas.py
  tests/test_core_to_contrib.py
Labels: area:dev, area:docs

#6376 [AIRFLOW-5705] Add secrets backend and support for AWS SSM
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/hooks/base_hook.py
  airflow/providers/amazon/aws/secrets/__init__.py
  airflow/providers/amazon/aws/secrets/ssm.py
  airflow/secrets/__init__.py
  airflow/secrets/environment_variables.py
  airflow/secrets/metastore.py
  docs/autoapi_templates/index.rst
  docs/concepts.rst
  docs/conf.py
  docs/howto/connection/index.rst
  docs/integration.rst
  tests/providers/amazon/aws/secrets/test_ssm.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/secrets/test_secrets.py
  tests/secrets/test_secrets_backends.py
  tests/test_config_templates.py
Labels: area:docs, provider:AWS, provider:Apache

#7723 [AIRFLOW-7063] Fix dag.clear() slowness caused by count
  airflow/models/dag.py
  tests/sensors/test_external_task_sensor.py
Labels: area:performance

#7570 [AIRFLOW-6946] Switch to MySQL 5.7 in 2.0 as base
  Dockerfile
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/migrations/versions/0a2a5b66e19d_add_task_reschedule_table.py
  airflow/migrations/versions/64de9cddf6c9_add_task_fails_journal_table.py
  airflow/migrations/versions/6e96a59344a4_make_taskinstance_pool_not_nullable.py
  airflow/migrations/versions/cc1e65623dc7_add_max_tries_column_to_task_instance.py
  airflow/migrations/versions/e3a246e0dc1_current_schema.py
  airflow/models/base.py
  airflow/models/log.py
  airflow/models/slamiss.py
  airflow/models/taskfail.py
  airflow/models/taskinstance.py
  airflow/models/taskreschedule.py
  airflow/models/xcom.py
  scripts/ci/docker-compose/backend-mysql.yml
  scripts/ci/in_container/airflow_ci.cfg
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev

#7717 [AIRFLOW-7058] Add support for different DB versions
  .travis.yml
  BREEZE.rst
  README.md
  breeze
  breeze-complete
  scripts/ci/_utils.sh
  scripts/ci/docker-compose/backend-mysql.yml
  scripts/ci/docker-compose/backend-postgres.yml
Labels: area:dev

#7729 [AIRFLOW-7066] Use sphinx syntax in concepts.rst
  airflow/example_dags/example_latest_only_with_trigger.py
  airflow/example_dags/example_subdag_operator.py
  airflow/example_dags/subdags/subdag.py
  docs/concepts.rst
Labels: area:docs

#7227 [AIRFLOW-6530] Allow Custom Statsd Client
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/stats.py
  docs/metrics.rst
  tests/test_stats.py
Labels: area:docs

#7727 [AIRFLOW-XXXX] Updated supported versions of backends
  .travis.yml
  README.md
Labels: area:dev

#6354 [AIRFLOW-5664] Store timestamps with microseconds precision in GCSToPSQL
  airflow/providers/google/cloud/operators/postgres_to_gcs.py
Labels: provider:GCP

#7629 [AIRFLOW-6987] Avoid creating default connections
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_test.cfg
  airflow/utils/db.py
  scripts/ci/in_container/airflow_ci.cfg
  scripts/ci/in_container/kubernetes/app/templates/configmaps.template.yaml
  scripts/perf/sql_queries.py
  tests/test_configuration.py
Labels: area:dev

#7733 [AIRFLOW-4175] S3Hook load_file should support ACL policy paramete
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: provider:AWS

#7746 [AIRFLOW-XXXX] Add label for Secrets for matching filepaths
  .github/boring-cyborg.yml
Labels: area:dev

#7745 [AIRFLOW-5705] Fix bugs in AWS SSM Secrets Backend
  airflow/providers/amazon/aws/secrets/ssm.py
  airflow/secrets/__init__.py
  tests/providers/amazon/aws/secrets/test_ssm.py
  tests/secrets/test_secrets.py
Labels: area:Secrets, provider:AWS

#7738 [AIRFLOW-7073] GKEStartPodOperator always use connection credentials
  airflow/providers/google/cloud/hooks/base.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/utils/process_utils.py
  tests/providers/google/cloud/hooks/test_base.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/providers/google/cloud/utils/test_credentials_provider.py
  tests/utils/test_process_utils.py
Labels: k8s, provider:GCP

#7475 [AIRFLOW-6855]: Escape project_dataset_table in SQL query in gcs to bq …
  airflow/providers/google/cloud/operators/gcs_to_bigquery.py
  tests/providers/google/cloud/operators/test_gcs_to_bigquery.py
  tests/test_project_structure.py
Labels: provider:GCP

#7750 [AIRFLOW-7079] Remove redundant code for storing template_fields
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/qubole/operators/qubole.py
  tests/serialization/test_dag_serialization.py
  tests/test_utils/mock_operators.py
Labels: area:Serialization, provider:GCP

#7752 [AIRFLOW-7074] Add Permissions to view SubDAGs
  airflow/www/security.py
Labels: area:Webserver

#7728 [AIRFLOW-5610] Add ability to specify multiple objects to copy in GCSToGCSOperator
  airflow/providers/google/cloud/operators/gcs_to_gcs.py
  tests/providers/google/cloud/operators/test_gcs_to_gcs.py
Labels: area:docs, provider:GCP

#6606 [AIRFLOW-6014] - handle pods which are preempted and deleted by kuber…
  airflow/executors/kubernetes_executor.py
Labels: area:Scheduler/Executor, k8s, pinned

#7755 [AIRFLOW-7081] Remove env variables from GCP guide
  airflow/providers/google/cloud/example_dags/example_bigtable.py
  airflow/providers/google/cloud/example_dags/example_cloud_build.py
  airflow/providers/google/cloud/example_dags/example_cloud_sql.py
  airflow/providers/google/cloud/example_dags/example_cloud_sql_query.py
  airflow/providers/google/cloud/example_dags/example_cloud_storage_transfer_service.py
  airflow/providers/google/cloud/example_dags/example_compute.py
  airflow/providers/google/cloud/example_dags/example_compute_igm.py
  airflow/providers/google/cloud/example_dags/example_datastore.py
  airflow/providers/google/cloud/example_dags/example_functions.py
  airflow/providers/google/cloud/example_dags/example_gcs.py
  airflow/providers/google/cloud/example_dags/example_spanner.py
  airflow/providers/google/cloud/example_dags/example_speech.py
  airflow/providers/google/cloud/example_dags/example_video_intelligence.py
  airflow/providers/google/cloud/example_dags/example_vision.py
  docs/howto/operator/gcp/bigtable.rst
  docs/howto/operator/gcp/cloud_sql.rst
  docs/howto/operator/gcp/cloud_storage_transfer_service.rst
  docs/howto/operator/gcp/compute.rst
  docs/howto/operator/gcp/functions.rst
  docs/howto/operator/gcp/gcs.rst
  docs/howto/operator/gcp/search_ads.rst
  docs/howto/operator/gcp/spanner.rst
  docs/howto/operator/gcp/speech.rst
  docs/howto/operator/gcp/video_intelligence.rst
  docs/howto/operator/gcp/vision.rst
Labels: area:docs, provider:GCP

#7737 [AIRFLOW-7080] Simple API endpoint to return a DAG's paused state
  airflow/www/api/experimental/endpoints.py
  docs/rest-api-ref.rst
  tests/www/api/experimental/test_endpoints.py
Labels: area:Webserver, area:docs

#7725 [AIRFLOW-7064] Add CloudFirestoreExportDatabaseOperator
  airflow/providers/google/firebase/__init__.py
  airflow/providers/google/firebase/example_dags/__init__.py
  airflow/providers/google/firebase/example_dags/example_firestore.py
  airflow/providers/google/firebase/hooks/__init__.py
  airflow/providers/google/firebase/hooks/firestore.py
  airflow/providers/google/firebase/operators/__init__.py
  airflow/providers/google/firebase/operators/firestore.py
  docs/autoapi_templates/index.rst
  docs/howto/operator/gcp/firestore.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/utils/gcp_authenticator.py
  tests/providers/google/firebase/__init__.py
  tests/providers/google/firebase/hooks/__init__.py
  tests/providers/google/firebase/hooks/test_firestore.py
  tests/providers/google/firebase/operators/__init__.py
  tests/providers/google/firebase/operators/test_firestore.py
  tests/providers/google/firebase/operators/test_firestore_system.py
  tests/test_utils/gcp_system_helpers.py
Labels: area:docs, k8s, provider:GCP

#7718 [AIRFLOW-5421] Add Presto to GCS transfer operator
  BREEZE.rst
  CONTRIBUTING.rst
  airflow/providers/dependencies.json
  airflow/providers/google/cloud/example_dags/example_presto_to_gcs.py
  airflow/providers/google/cloud/operators/presto_to_gcs.py
  airflow/providers/google/cloud/operators/sql_to_gcs.py
  airflow/providers/presto/hooks/presto.py
  breeze-complete
  docs/howto/operator/gcp/presto_to_gcs.rst
  docs/operators-and-hooks-ref.rst
  scripts/ci/docker-compose/integration-presto.yml
  tests/conftest.py
  tests/providers/google/cloud/operators/test_presto_to_gcs.py
  tests/providers/google/cloud/operators/test_presto_to_gcs_system.py
Labels: area:dev, area:docs, provider:GCP

#7639 [AIRFLOW-7000] Allow passing in env var JSON dict in task_test
  airflow/bin/cli.py
  airflow/cli/commands/task_command.py
  airflow/example_dags/example_passing_params_via_test_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI

#7760 [AIRFLOW-XXXX] Add cross-references for operators guide
  airflow/providers/google/cloud/operators/natural_language.py
  airflow/providers/google/cloud/operators/stackdriver.py
  docs/howto/operator/gcp/stackdriver.rst
Labels: area:docs, provider:GCP

#7762 [AIRFLOW-XXXX] Fix reference to GCP classes in guides
  airflow/providers/google/cloud/example_dags/example_gcs_to_bq.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/google/cloud/operators/gcs_to_bigquery.py
  airflow/providers/google/cloud/operators/text_to_speech.py
  airflow/providers/google/cloud/operators/vision.py
  docs/howto/define_extra_link.rst
  docs/howto/operator/gcp/bigquery_dts.rst
  docs/howto/operator/gcp/cloud_memorystore.rst
  docs/howto/operator/gcp/cloud_sql.rst
  docs/howto/operator/gcp/gcs.rst
  docs/howto/operator/gcp/gcs_to_gcs.rst
  docs/howto/operator/gcp/speech.rst
  docs/howto/operator/gcp/translate-speech.rst
  docs/howto/operator/gcp/video_intelligence.rst
  docs/howto/operator/gcp/vision.rst
  docs/howto/operator/kubernetes.rst
Labels: area:docs, provider:GCP

#7764 [AIRFLOW-7088] Avoid reading store_dag_code option in loop
  airflow/utils/dag_processing.py
Labels: area:Scheduler/Executor

#7765 [AIRFLOW-7089] Create kill method in AbstractDagFileProcessorProcess
  airflow/utils/dag_processing.py
Labels: area:Scheduler/Executor

#7759 [AIRFLOW-7085] Cache credentials, project_id in GCP Base Hook
  airflow/providers/google/cloud/hooks/base.py
Labels: provider:GCP

#7763 [AIRFLOW-7087] Rename _execute_helper to _run_scheduler_loop
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#7756 [AIRFLOW-7082] Remove catch_http_exception decorator in GCP hooks
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/hooks/base.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/hooks/natural_language.py
  airflow/providers/google/cloud/hooks/tasks.py
  airflow/providers/google/cloud/hooks/vision.py
  airflow/providers/google/marketing_platform/hooks/campaign_manager.py
  airflow/providers/google/suite/hooks/sheets.py
  tests/providers/google/cloud/hooks/test_base.py
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:GCP

#7757 [AIRFLOW-4679] Make airflow/operators Pylint compatible
  airflow/operators/bash.py
  airflow/operators/check_operator.py
  airflow/operators/python.py
  scripts/ci/pylint_todo.txt
Labels: area:dev

#7767 [AIRFLOW-4672] Make airflow/hooks Pylint compatible
  airflow/hooks/dbapi_hook.py
  airflow/hooks/filesystem.py
  scripts/ci/pylint_todo.txt
Labels: area:dev

#7758 [AIRFLOW-7084] Lazy initialize plugins for each entrypoint
  airflow/models/baseoperator.py
  airflow/plugins_manager.py
  airflow/serialization/serialized_objects.py
  airflow/www/app.py
  tests/executors/test_executor_loader.py
Labels: area:Plugins, area:Scheduler/Executor, area:Serialization, area:Webserver

#7770 [AIRFLOW-7069] Fix CloudSQL system tests
  airflow/providers/google/cloud/example_dags/example_cloud_sql.py
  airflow/providers/google/cloud/hooks/base.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  tests/providers/google/cloud/hooks/test_cloud_sql.py
  tests/providers/google/cloud/operators/test_cloud_sql_operatorquery_system.py
  tests/providers/google/cloud/operators/test_cloud_sql_operatorquery_system_helper.py
  tests/providers/google/cloud/operators/test_cloud_sql_system.py
  tests/providers/google/cloud/operators/test_cloud_sql_system_helper.py
  tests/test_utils/gcp_system_helpers.py
Labels: provider:GCP

#7771 Remove JIRA requirements from PRs
  .github/PULL_REQUEST_TEMPLATE.md
  .github/boring-cyborg.yml
  .github/mergeable.yml
Labels: area:dev

#7507 [AIRFLOW-6885] Delete worker on success
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Labels: area:Scheduler/Executor, k8s

#7741 [AIRFLOW-7076] Add support for HashiCorp Vault as Secrets Backend
  airflow/providers/hashicorp/__init__.py
  airflow/providers/hashicorp/secrets/__init__.py
  airflow/providers/hashicorp/secrets/vault.py
  airflow/secrets/__init__.py
  docs/autoapi_templates/index.rst
  docs/howto/connection/index.rst
  docs/howto/index.rst
  docs/howto/use-alternative-secrets-backend.rst
  docs/installation.rst
  docs/integration.rst
  setup.py
  tests/providers/hashicorp/__init__.py
  tests/providers/hashicorp/secrets/__init__.py
  tests/providers/hashicorp/secrets/test_vault.py
Labels: area:Secrets, area:docs

#7753 [AIRFLOW-5705] Make AwsSsmSecretsBackend consistent with VaultBackend
  airflow/providers/amazon/aws/secrets/ssm.py
  airflow/secrets/__init__.py
  airflow/secrets/environment_variables.py
  docs/howto/use-alternative-secrets-backend.rst
  tests/providers/amazon/aws/secrets/test_ssm.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/secrets/test_secrets.py
Labels: area:Secrets, area:docs, provider:AWS, provider:Apache

#7593 [AIRFLOW-6959] Use NULL as dag.description default value
  UPDATING.md
  airflow/models/dag.py
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver

#7692 [AIRFLOW-6732] Add GoogleAdsHook and GoogleAdsToGcsOperator
  airflow/providers/google/ads/__init__.py
  airflow/providers/google/ads/example_dags/__init__.py
  airflow/providers/google/ads/example_dags/example_ads.py
  airflow/providers/google/ads/hooks/__init__.py
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/ads/operators/__init__.py
  airflow/providers/google/ads/operators/ads.py
  docs/autoapi_templates/index.rst
  docs/howto/operator/gcp/ads.rst
  docs/operators-and-hooks-ref.rst
  setup.py
  tests/providers/google/ads/__init__.py
  tests/providers/google/ads/hooks/__init__.py
  tests/providers/google/ads/hooks/test_ads.py
  tests/providers/google/ads/operators/test_ads.py
Labels: area:docs, area:operators-hooks, provider:GCP

#7766 [AIRFLOW-6978] Add PubSubPullOperator
  airflow/providers/google/cloud/example_dags/example_pubsub.py
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/operators/pubsub.py
  airflow/providers/google/cloud/sensors/pubsub.py
  airflow/sensors/base_sensor_operator.py
  docs/howto/operator/gcp/pubsub.rst
  tests/providers/google/cloud/hooks/test_pubsub.py
  tests/providers/google/cloud/operators/test_pubsub.py
  tests/providers/google/cloud/operators/test_pubsub_system.py
  tests/providers/google/cloud/sensors/test_pubsub.py
Labels: area:docs, provider:GCP

#7774 [AIRFLOW-XXXX] document system tests mechanism better
  TESTING.rst
Labels: area:dev

#7748 [AIRFLOW-6752] Add GoogleAnalyticsRetrieveAdsLinksListOperator
  airflow/providers/google/marketing_platform/example_dags/example_analytics.py
  airflow/providers/google/marketing_platform/hooks/analytics.py
  airflow/providers/google/marketing_platform/operators/analytics.py
  docs/howto/operator/gcp/analytics.rst
  tests/providers/google/marketing_platform/hooks/test_analytics.py
  tests/providers/google/marketing_platform/operators/test_analytics.py
  tests/providers/google/marketing_platform/operators/test_analytics_system.py
Labels: area:docs, provider:GCP

#7610 [AIRFLOW-6860] Default ignore_first_depends_on_past to True
  UPDATING.md
  airflow/cli/commands/dag_command.py
Labels: area:CLI

#7778 [AIRFLOW-XXXX] Fix typo in ci_prepare_backport_packages.sh
  TESTING.rst
Labels: area:dev

#7780 Remove Jira title requirement from Mergable check
  .github/mergeable.yml
Labels: area:dev

#7779 Enable Github issues
  .asf.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support_request.md
Labels: area:dev

#7781 [AIRFLOW-7100] Add GoogleAnalyticsGetAdsLinkOperator
  airflow/providers/google/marketing_platform/example_dags/example_analytics.py
  airflow/providers/google/marketing_platform/hooks/analytics.py
  airflow/providers/google/marketing_platform/operators/analytics.py
  docs/howto/operator/gcp/analytics.rst
  tests/providers/google/marketing_platform/hooks/test_analytics.py
  tests/providers/google/marketing_platform/operators/test_analytics.py
Labels: area:docs, provider:GCP

#7784 Fix formatting in feature_request issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: area:dev

#7783 Remove references to Jira for tickets/PR from docs
  .github/SECURITY.rst
  CONTRIBUTING.rst
  docs/project.rst
Labels: area:dev, area:docs

#7772 [AIRFLOW-7097] Install gcloud beta componensts in CI image
  Dockerfile
Labels: area:dev

#7796 Fixes unclean installation of Airflow 1.10
  scripts/ci/in_container/_in_container_utils.sh
Labels: area:dev

#7801 Remove arg lookup map in CLIFactory
  airflow/bin/cli.py
  tests/bin/test_cli.py
Labels: area:CLI

#7791 Add ability to specify a maximum modified time for objects in GCSToGCSOperator
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/operators/gcs_to_gcs.py
  tests/providers/google/cloud/hooks/test_gcs.py
  tests/providers/google/cloud/operators/test_gcs_to_gcs.py
Labels: provider:GCP

#7803 Introduce type hints in airflow.bin.cli
  airflow/bin/cli.py
  airflow/utils/helpers.py
  tests/bin/test_cli.py
Labels: area:CLI

#7794 [AIRFLOW-7099] Improve system test for Cloud Transfer Service
  airflow/providers/google/cloud/example_dags/example_cloud_storage_transfer_service_aws.py
  airflow/providers/google/cloud/example_dags/example_cloud_storage_transfer_service_gcp.py
  docs/howto/operator/gcp/cloud_storage_transfer_service.rst
  tests/providers/google/cloud/operators/test_cloud_storage_transfer_service_system.py
  tests/providers/google/cloud/operators/test_cloud_storage_transfer_service_system_helper.py
  tests/test_utils/gcp_system_helpers.py
  tests/test_utils/system_tests_class.py
Labels: area:docs, provider:GCP

#7790 ask users reporting UI bugs to include photo or video
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area:dev

#7793 Verify that all providers packages are included
  backport_packages/setup_backport_packages.py
  scripts/ci/_utils.sh
  scripts/ci/ci_prepare_packages.sh
Labels: area:dev

#7805 Change name of the common environment initialization function
  breeze
  scripts/ci/_script_init.sh
  scripts/ci/_utils.sh
  tests/bats/test_breeze_params.bats
  tests/bats/test_empty_test.bats
  tests/bats/test_local_mounts.bats
Labels: area:dev

#7804 Remove CLIFactory - reduce indendation
  airflow/bin/airflow
  airflow/bin/cli.py
  airflow/models/dag.py
  tests/bin/test_cli.py
  tests/cli/commands/test_celery_command.py
  tests/cli/commands/test_config_command.py
  tests/cli/commands/test_connection_command.py
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_db_command.py
  tests/cli/commands/test_pool_command.py
  tests/cli/commands/test_role_command.py
  tests/cli/commands/test_sync_perm_command.py
  tests/cli/commands/test_task_command.py
  tests/cli/commands/test_user_command.py
  tests/cli/commands/test_variable_command.py
  tests/cli/commands/test_version_command.py
  tests/cli/commands/test_webserver_command.py
  tests/jobs/test_backfill_job.py
Labels: area:CLI, area:Scheduler/Executor

#7744 [AIRFLOW-XXXX] Clarifying wording on DAG runs
  docs/concepts.rst
Labels: area:docs

#7797 Test installation of all provider packages
  .travis.yml
  backport_packages/setup_backport_packages.py
  scripts/ci/_utils.sh
  scripts/ci/ci_prepare_and_test_backport_packages.sh
  scripts/ci/ci_prepare_packages.sh
  scripts/ci/ci_test_backport_packages.sh
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/run_test_package_installation.sh
Labels: area:dev

#7808 Remove airflow.bin package
  Dockerfile
  airflow/__main__.py
  airflow/bin/airflow
  airflow/cli/cli_parser.py
  airflow/models/dag.py
  airflow/settings.py
  airflow/task/task_runner/standard_task_runner.py
  docs/cli-ref.rst
  scripts/airflow_scheduler_autorestart.sh
  setup.py
  tests/cli/commands/test_celery_command.py
  tests/cli/commands/test_config_command.py
  tests/cli/commands/test_connection_command.py
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_db_command.py
  tests/cli/commands/test_pool_command.py
  tests/cli/commands/test_role_command.py
  tests/cli/commands/test_sync_perm_command.py
  tests/cli/commands/test_task_command.py
  tests/cli/commands/test_user_command.py
  tests/cli/commands/test_variable_command.py
  tests/cli/commands/test_version_command.py
  tests/cli/commands/test_webserver_command.py
  tests/cli/test_cli_parser.py
  tests/jobs/test_backfill_job.py
Labels: area:CLI, area:Scheduler/Executor, area:dev, area:docs

#7625 [AIRFLOW-XXXX] Add guide for Travis CI and IDE setup
  TESTING.rst
Labels: area:dev

#7795 [AIRFLOW-7104] Add Secret backend for GCP Secrets Manager
  CONTRIBUTING.rst
  airflow/providers/dependencies.json
  airflow/providers/google/cloud/hooks/base.py
  airflow/providers/google/cloud/secrets/__init__.py
  airflow/providers/google/cloud/secrets/secrets_manager.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/hashicorp/secrets/vault.py
  docs/autoapi_templates/index.rst
  docs/howto/use-alternative-secrets-backend.rst
  setup.py
  tests/providers/google/cloud/hooks/test_base.py
  tests/providers/google/cloud/secrets/__init__.py
  tests/providers/google/cloud/secrets/test_secrets_manager.py
  tests/providers/google/cloud/utils/test_credentials_provider.py
Labels: area:Secrets, area:dev, area:docs, provider:GCP

#7812 Improve support for latest API in MLEngineStartTrainingJobOperator
  airflow/providers/google/cloud/operators/mlengine.py
Labels: provider:GCP

#7814 Remove redundant parentheses
  airflow/www/views.py
Labels: area:Webserver

#7815 Make get_user_roles staticmethod
  airflow/www/security.py
Labels: area:Webserver

#7817 Add missing docstring in BigQueryHook.create_empty_table
  airflow/providers/google/cloud/hooks/bigquery.py
Labels: provider:GCP

#7818 Fix typo in GCP credentials_provider's docstring
  airflow/providers/google/cloud/utils/credentials_provider.py
Labels: provider:GCP

#7820 Add call to Super class in apache providers
  airflow/providers/apache/cassandra/hooks/cassandra.py
  airflow/providers/apache/druid/hooks/druid.py
  airflow/providers/apache/hdfs/hooks/hdfs.py
  airflow/providers/apache/hdfs/hooks/webhdfs.py
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/pig/hooks/pig.py
  airflow/providers/apache/pinot/hooks/pinot.py
  airflow/providers/apache/spark/hooks/spark_sql.py
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/apache/sqoop/hooks/sqoop.py
Labels: provider:Apache

#7823 Add call to Super class in 'google' providers
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/cloud/hooks/base.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/dataflow.py
Labels: provider:GCP

#7827 Add missing call to Super class in 'amazon', 'cloudant & 'databricks'…
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/cloudant/hooks/cloudant.py
  airflow/providers/databricks/hooks/databricks.py
Labels: provider:AWS

#7829 Move Dockerfile to Dockerfile.ci
  .dockerignore
  .github/boring-cyborg.yml
  .gitignore
  BREEZE.rst
  Dockerfile.ci
  LOCAL_VIRTUALENV.rst
  STATIC_CODE_CHECKS.rst
  common/_files_for_rebuild_check.sh
  requirements.txt
  scripts/ci/_utils.sh
  scripts/ci/docker-compose/local.yml
  scripts/ci/in_container/kubernetes/docker/rebuild_airflow_image.sh
  setup.py
  tests/bats/test_local_mounts.bats
Labels: area:dev
