Repository apache/airflow, pull requests merged in 2020-08, with the labels that each got.

#10079 Fix typo in Athena sensor retries
  UPDATING.md
  airflow/providers/amazon/aws/sensors/athena.py
  tests/providers/amazon/aws/sensors/test_athena.py
Labels: provider:AWS

#10092 Move the contribution workflow to the beginning of the file
  CONTRIBUTING.rst
Labels: area:dev

#10101 Minor fixes in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev

#10103 Move Naming Conventions section in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev

#10110 Experimentally enable wiki
  .asf.yaml
Labels: area:dev

#10022 Add unit tests for mlengine_prediction_summary
  tests/providers/google/cloud/utils/test_mlengine_prediction_summary.py
  tests/test_project_structure.py
Labels: provider:Google

#10075 Fix hook not passing gcp_conn_id to base class
  airflow/providers/google/marketing_platform/hooks/analytics.py
  tests/providers/google/marketing_platform/hooks/test_analytics.py
Labels: provider:Google

#10074 Fix sensor not providing arguments for hook
  airflow/providers/google/cloud/sensors/gcs.py
  tests/providers/google/cloud/sensors/test_gcs.py
Labels: provider:Google

#10078 Add migration guide for CLI commands
  UPDATING.md
Labels: area:docs, area:upgrade

#10106 Add missing params to GCP Pub/Sub creation_subscription
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/operators/pubsub.py
  tests/providers/google/cloud/hooks/test_pubsub.py
  tests/providers/google/cloud/operators/test_pubsub.py
Labels: provider:Google

#10031 Add try clause to DataFusionHook.wait_for_pipeline_state
  airflow/providers/google/cloud/hooks/datafusion.py
Labels: provider:Google

#10098 Move stable REST API migration guide to UPDATING.md
  UPDATING.md
  docs/index.rst
  docs/rest-api-ref.rst
  docs/stable-rest-api/migration.rst
Labels: area:API, area:docs

#10032 Add additional Cloud Datastore operators
  airflow/providers/google/cloud/example_dags/example_datastore.py
  airflow/providers/google/cloud/hooks/datastore.py
  airflow/providers/google/cloud/operators/datastore.py
  docs/build
  docs/howto/operator/google/cloud/datastore.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/hooks/test_datastore.py
  tests/providers/google/cloud/operators/test_datastore.py
  tests/providers/google/cloud/operators/test_datastore_system.py
  tests/test_project_structure.py
Labels: area:docs, area:operators-hooks, provider:Google

#10114 Moved webserver background to Quarantine
  tests/cli/commands/test_webserver_command.py
Labels: area:CLI, area:Webserver

#9817 Add S3KeysUnchangedSensor
  airflow/providers/amazon/aws/sensors/s3_keys_unchanged.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/sensors/test_s3_keys_unchanged.py
Labels: provider:AWS

#10115 Add Legacy command displaying new CLI counterparts
  airflow/cli/cli_parser.py
  airflow/cli/commands/legacy_commands.py
  tests/cli/commands/test_legacy_commands.py
Labels: area:CLI

#10119 Status of quarantined tests is stored in Github Issue
  .github/workflows/ci.yml
  .github/workflows/quarantined.yaml
  CI.rst
  scripts/ci/docker-compose/base.yml
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/quarantine_issue_header.md
  scripts/ci/in_container/run_ci_tests.sh
  scripts/ci/in_container/update_quarantined_test_status.py
  scripts/ci/libraries/_initialization.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  setup.py
Labels: area:dev

#10139 Fixed mistyped quarantine.yaml extension
  .github/workflows/quarantined.yaml
Labels: area:dev

#10025 Typing coverage of amazon/aws/athena
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/sensors/athena.py
  tests/providers/amazon/aws/operators/test_athena.py
Labels: provider:AWS

#10145 Fixes quarantine parsing teething issues
  .github/workflows/quarantined.yaml
  scripts/ci/in_container/update_quarantined_test_status.py
Labels: area:dev

#10146 Retry max 3 times if failing to initialize integration
  scripts/ci/testing/ci_run_airflow_testing.sh
Labels: area:dev

#10144 Add correct signatures for operators in google provider package
  airflow/providers/google/ads/operators/ads.py
  airflow/providers/google/cloud/operators/automl.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/bigquery_dts.py
  airflow/providers/google/cloud/operators/bigtable.py
  airflow/providers/google/cloud/operators/cloud_build.py
  airflow/providers/google/cloud/operators/cloud_memorystore.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  airflow/providers/google/cloud/operators/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/operators/compute.py
  airflow/providers/google/cloud/operators/datacatalog.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/datastore.py
  airflow/providers/google/cloud/operators/dlp.py
  airflow/providers/google/cloud/operators/functions.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/cloud/operators/life_sciences.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/google/cloud/operators/natural_language.py
  airflow/providers/google/cloud/operators/pubsub.py
  airflow/providers/google/cloud/operators/spanner.py
  airflow/providers/google/cloud/operators/speech_to_text.py
  airflow/providers/google/cloud/operators/stackdriver.py
  airflow/providers/google/cloud/operators/tasks.py
  airflow/providers/google/cloud/operators/text_to_speech.py
  airflow/providers/google/cloud/operators/translate.py
  airflow/providers/google/cloud/operators/translate_speech.py
  airflow/providers/google/cloud/operators/video_intelligence.py
  airflow/providers/google/cloud/operators/vision.py
  airflow/providers/google/firebase/operators/firestore.py
  airflow/providers/google/marketing_platform/operators/analytics.py
  airflow/providers/google/marketing_platform/operators/campaign_manager.py
  airflow/providers/google/marketing_platform/operators/display_video.py
  airflow/providers/google/marketing_platform/operators/search_ads.py
  airflow/providers/google/suite/operators/sheets.py
  airflow/providers/google/suite/transfers/gcs_to_gdrive.py
  airflow/providers/google/suite/transfers/gcs_to_sheets.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/providers/google/cloud/operators/test_speech_to_text.py
Labels: k8s, provider:Google

#10143 Bring back coverage
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows/quarantined.yaml
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/run_ci_tests.sh
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_initialization.sh
Labels: area:CLI, area:dev

#10168 Remove coverage HTML report artifacts
  .github/workflows/ci.yml
  .github/workflows/quarantined.yaml
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
Labels: area:dev

#10173 Disable wiki.
  .asf.yaml
Labels: area:dev

#10174 Remove stat_name_handler attribute in plugins.rst
  docs/plugins.rst
Labels: area:Plugins, area:docs

#10175 Improve heading on Email Configuration page
  docs/howto/email-config.rst
Labels: area:docs

#10177 Add docs for airflow config command
  docs/executor/index.rst
  docs/howto/email-config.rst
  docs/howto/set-config.rst
Labels: area:Scheduler/Executor, area:docs

#10167 Add correct signatures for operators in amazon provider package
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/cloud_formation.py
  airflow/providers/amazon/aws/operators/datasync.py
  airflow/providers/amazon/aws/operators/ec2_start_instance.py
  airflow/providers/amazon/aws/operators/ec2_stop_instance.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/emr_add_steps.py
  airflow/providers/amazon/aws/operators/emr_create_job_flow.py
  airflow/providers/amazon/aws/operators/emr_modify_cluster.py
  airflow/providers/amazon/aws/operators/emr_terminate_job_flow.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/operators/s3_bucket.py
  airflow/providers/amazon/aws/operators/s3_copy_object.py
  airflow/providers/amazon/aws/operators/s3_delete_objects.py
  airflow/providers/amazon/aws/operators/s3_file_transform.py
  airflow/providers/amazon/aws/operators/s3_list.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint_config.py
  airflow/providers/amazon/aws/operators/sagemaker_model.py
  airflow/providers/amazon/aws/operators/sagemaker_processing.py
  airflow/providers/amazon/aws/operators/sagemaker_training.py
  airflow/providers/amazon/aws/operators/sagemaker_transform.py
  airflow/providers/amazon/aws/operators/sagemaker_tuning.py
  airflow/providers/amazon/aws/operators/sns.py
  airflow/providers/amazon/aws/operators/sqs.py
  airflow/providers/amazon/aws/operators/step_function_get_execution_output.py
  airflow/providers/amazon/aws/operators/step_function_start_execution.py
  airflow/providers/amazon/aws/sensors/athena.py
  airflow/providers/amazon/aws/sensors/cloud_formation.py
  airflow/providers/amazon/aws/sensors/ec2_instance_state.py
  airflow/providers/amazon/aws/sensors/emr_base.py
  airflow/providers/amazon/aws/sensors/emr_job_flow.py
  airflow/providers/amazon/aws/sensors/emr_step.py
  airflow/providers/amazon/aws/sensors/glue.py
  airflow/providers/amazon/aws/sensors/glue_catalog_partition.py
  airflow/providers/amazon/aws/sensors/redshift.py
  airflow/providers/amazon/aws/sensors/s3_key.py
  airflow/providers/amazon/aws/sensors/s3_keys_unchanged.py
  airflow/providers/amazon/aws/sensors/s3_prefix.py
  airflow/providers/amazon/aws/sensors/sagemaker_base.py
  airflow/providers/amazon/aws/sensors/sagemaker_endpoint.py
  airflow/providers/amazon/aws/sensors/sagemaker_training.py
  airflow/providers/amazon/aws/sensors/sagemaker_transform.py
  airflow/providers/amazon/aws/sensors/sagemaker_tuning.py
  airflow/providers/amazon/aws/sensors/sqs.py
  airflow/providers/amazon/aws/sensors/step_function_execution.py
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/amazon/aws/transfers/gcs_to_s3.py
  airflow/providers/amazon/aws/transfers/google_api_to_s3.py
  airflow/providers/amazon/aws/transfers/hive_to_dynamodb.py
  airflow/providers/amazon/aws/transfers/imap_attachment_to_s3.py
  airflow/providers/amazon/aws/transfers/mongo_to_s3.py
  airflow/providers/amazon/aws/transfers/mysql_to_s3.py
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  airflow/providers/amazon/aws/transfers/s3_to_sftp.py
  airflow/providers/amazon/aws/transfers/sftp_to_s3.py
Labels: provider:AWS

#10170 Add correct signatures for operators in apache provider package
  airflow/providers/apache/cassandra/sensors/record.py
  airflow/providers/apache/cassandra/sensors/table.py
  airflow/providers/apache/druid/operators/druid.py
  airflow/providers/apache/druid/operators/druid_check.py
  airflow/providers/apache/druid/transfers/hive_to_druid.py
  airflow/providers/apache/hdfs/sensors/hdfs.py
  airflow/providers/apache/hdfs/sensors/web_hdfs.py
  airflow/providers/apache/hive/operators/hive.py
  airflow/providers/apache/hive/operators/hive_stats.py
  airflow/providers/apache/hive/sensors/hive_partition.py
  airflow/providers/apache/hive/sensors/metastore_partition.py
  airflow/providers/apache/hive/sensors/named_hive_partition.py
  airflow/providers/apache/hive/transfers/hive_to_mysql.py
  airflow/providers/apache/hive/transfers/hive_to_samba.py
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/apache/hive/transfers/mysql_to_hive.py
  airflow/providers/apache/hive/transfers/s3_to_hive.py
  airflow/providers/apache/hive/transfers/vertica_to_hive.py
  airflow/providers/apache/kylin/operators/kylin_cube.py
  airflow/providers/apache/livy/operators/livy.py
  airflow/providers/apache/livy/sensors/livy.py
  airflow/providers/apache/pig/operators/pig.py
  airflow/providers/apache/spark/operators/spark_jdbc.py
  airflow/providers/apache/spark/operators/spark_sql.py
  airflow/providers/apache/spark/operators/spark_submit.py
  airflow/providers/apache/sqoop/operators/sqoop.py
Labels: provider:Apache

#9593 Improve handling Dataproc cluster creation with ERROR state
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  setup.py
  tests/providers/google/cloud/hooks/test_dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: provider:Google

#10164 Add type annotations to S3 hook module
  airflow/providers/amazon/aws/hooks/s3.py
Labels: provider:AWS

#10172 Update guide for Google Cloud Secret Manager Backend
  airflow/providers/google/cloud/secrets/secret_manager.py
  docs/howto/use-alternative-secrets-backend.rst
Labels: area:Secrets, area:docs, provider:Google

#9921 Update JS packages to latest versions (#9811)
  airflow/www/package.json
  airflow/www/webpack.config.js
  airflow/www/yarn.lock
Labels: area:Webserver, pinned

#10209 You can sync your fork master with apache/airflow master via UI
  .github/workflows/repo_sync.yml
  CONTRIBUTING.rst
Labels: area:dev

#10207 Pylint checks should be way faster now
  .github/workflows/cancel_other_workflow_runs.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  airflow/jobs/scheduler_job.py
  pylintrc
  scripts/ci/in_container/run_pylint.sh
  scripts/ci/in_container/run_pylint_tests.sh
  scripts/ci/pre_commit/pre_commit_pylint.sh
  scripts/ci/pre_commit/pre_commit_pylint_tests.sh
  scripts/ci/static_checks/ci_pylint.sh
  scripts/ci/static_checks/ci_pylint_tests.sh
  tests/airflow_pylint/disable_checks_for_tests.py
  tests/dags/test_logging_in_dag.py
  tests/dags/test_task_view_type_check.py
Labels: area:dev

#10213 Fix chart: parameterize namespace
  chart/templates/NOTES.txt
Labels: area:helm-chart

#10211 Each secrets backend is on a separate page
  docs/howto/connection/index.rst
  docs/howto/index.rst
  docs/howto/secrets-backend/aws-secrets-manaager-backend.rst
  docs/howto/secrets-backend/aws-ssm-parameter-store-secrets-backend.rst
  docs/howto/secrets-backend/google-cloud-secret-manager-backend.rst
  docs/howto/secrets-backend/hashicorp-vault-secrets-backend.rst
  docs/howto/secrets-backend/index.rst
  docs/howto/secrets-backend/local-filesystem-secrets-backend.rst
  docs/howto/use-alternative-secrets-backend.rst
  docs/integration.rst
  docs/redirects.txt
Labels: area:Secrets, area:docs

#10208 Improves stability of reported coverage and makes it nicer
  .github/workflows/ci.yml
  .github/workflows/quarantined.yaml
  .pre-commit-config.yaml
  codecov.yml
Labels: area:dev

#10084 Fix more PodMutationHook issues for backwards compatibility
  airflow/contrib/executors/kubernetes_executor.py
  airflow/contrib/kubernetes/pod.py
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/pod.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/pod_launcher.py
  airflow/kubernetes/pod_launcher_helper.py
  airflow/kubernetes/volume.py
  airflow/operators/python_operator.py
  docs/conf.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/kubernetes/models/test_pod.py
  tests/kubernetes/models/test_volume.py
  tests/kubernetes/test_pod_generator.py
  tests/kubernetes/test_pod_launcher.py
  tests/kubernetes/test_pod_launcher_helper.py
  tests/kubernetes/test_worker_configuration.py
  tests/test_local_settings.py
  tests/test_local_settings/__init__.py
  tests/test_local_settings/test_local_settings.py
Labels: k8s

#10081 Add CLI for connections export (#9856)
  airflow/cli/cli_parser.py
  airflow/cli/commands/connection_command.py
  docs/howto/connection/index.rst
  tests/cli/commands/test_connection_command.py
Labels: area:CLI

#10224 Merge similar sections on docs/howto/connection/index.rst
  docs/howto/connection/index.rst
Labels: area:docs

#10225 Add missing heading on docs/security.rst
  docs/security.rst
Labels: area:docs

#10219 Fixed wrong name of workflow in cancel step
  .github/workflows/ci.yml
Labels: area:dev

#10228 BoringCyborg Bot: Fix Automated Labels for serialized & secrets
  .github/boring-cyborg.yml
Labels: area:dev

#10229 Add Apache License to .github/workflows/repo-sync.yml
  .github/workflows/repo_sync.yml
Labels: area:dev

#10231 Fix typo in .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area:dev

#10233 Fix typos in docs/howto/secrets-backend
  docs/howto/secrets-backend/google-cloud-secret-manager-backend.rst
  docs/howto/secrets-backend/index.rst
  docs/howto/secrets-backend/local-filesystem-secrets-backend.rst
Labels: area:Secrets, area:docs

#10214 Add airflow connections get command
  airflow/cli/cli_parser.py
  airflow/cli/commands/config_command.py
  airflow/cli/commands/connection_command.py
  airflow/secrets/__init__.py
  airflow/utils/code_utils.py
  docs/howto/connection/index.rst
  tests/cli/commands/test_connection_command.py
Labels: area:CLI, area:Secrets, area:docs

#10222 Add labels param to Google MLEngine Operators
  airflow/providers/google/cloud/example_dags/example_mlengine.py
  airflow/providers/google/cloud/operators/mlengine.py
  tests/providers/google/cloud/operators/test_mlengine.py
Labels: provider:Google

#10217 Replace remaining uses of "bail"
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/db_command.py
  airflow/models/dag.py
Labels: area:CLI

#10251 Fix more typos in docs/
  docs/build
  docs/howto/operator/amazon/aws/emr.rst
  docs/howto/operator/google/cloud/bigquery.rst
Labels: area:docs, provider:AWS, provider:Google

#10252 Remove Unnecessary list literal in Tuple for Kylin Operator
  airflow/providers/apache/kylin/operators/kylin_cube.py
Labels: provider:Apache

#10250 Add whitespace around operator in docs/build
  docs/build
Labels: area:docs

#10249 Triggering DAG with Future Date
  docs/scheduler.rst
Labels: area:Scheduler/Executor, area:docs

#10248 Fix typo in docs/stable-rest-api/redoc.rst
  docs/stable-rest-api/redoc.rst
Labels: area:API, area:docs

#10245 Fix link for the Jinja Project in docs/tutorial.rst
  docs/tutorial.rst
Labels: area:docs

#10244 Add 'apache.beam' to docs/installation.rst
  CONTRIBUTING.rst
  INSTALL
  docs/installation.rst
  setup.py
Labels: area:dev, area:docs

#10243 Improve documentation in docs/start.rst
  docs/start.rst
Labels: area:docs

#10242 Move celery-exclusive feature to CeleryExecutor page
  docs/concepts.rst
  docs/executor/celery.rst
Labels: area:Scheduler/Executor, area:docs

#10239 Add tip about airflow config command on docs/howto/secrets-backend/index.rst
  docs/howto/secrets-backend/index.rst
Labels: area:Secrets, area:docs

#10238 Set language on code-block on docs/howto/email-config.rst
  docs/howto/email-config.rst
Labels: area:docs

#10235 Add system tests for CloudSecretManagerBackend
  docs/howto/secrets-backend/google-cloud-secret-manager-backend.rst
  tests/providers/google/cloud/secrets/test_secret_manager_system.py
Labels: area:Secrets, area:docs, provider:Google

#10232 Remove redundant "and_" condition when using filter
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/jobs/scheduler_job.py
  airflow/models/dagcode.py
  airflow/models/renderedtifields.py
Labels: area:API, area:Scheduler/Executor

#10247 Create separate section for Cron Presets
  docs/dag-run.rst
Labels: area:docs

#10257 Improve guide about Google Cloud Secret Manager Backend
  docs/howto/secrets-backend/google-cloud-secret-manager-backend.rst
Labels: area:Secrets, area:docs

#10236 Update example on docs/howto/connection/index.rst
  airflow/cli/commands/connection_command.py
  docs/howto/connection/index.rst
  tests/cli/commands/test_connection_command.py
Labels: area:CLI, area:docs

#10258 Add Syntax Highlights to code-blocks in docs/best-practices.rst
  docs/best-practices.rst
Labels: area:docs

#10212 Disable sentry integration by default
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/sentry.py
  docs/errors.rst
  tests/test_sentry.py
Labels: area:docs

#10220 Increase number of runs for quarantined tests
  .github/workflows/ci.yml
  .github/workflows/quarantined.yaml
Labels: area:dev

#10259 Fix redirects URLs
  docs/redirects.txt
Labels: area:docs

#10241 Create "Managing variable" in howto directory
  docs/concepts.rst
  docs/howto/connection/index.rst
  docs/howto/index.rst
  docs/howto/variable.rst
Labels: area:docs

#10262 Fix Warning when using a different Sphinx Builder
  docs/exts/redirects.py
Labels: area:docs

#10263 Fix various typos in the repo
  airflow/api_connexion/schemas/health_schema.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagcode.py
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/kylin/hooks/kylin.py
  airflow/providers/google/cloud/hooks/dlp.py
  backport_packages/refactor_backport_packages.py
  docs/concepts.rst
  docs/howto/write-logs.rst
Labels: area:API, area:Logging, area:docs, provider:Apache, provider:Google

#10265 Add Missing Apache Providers to docs/installation.rst
  docs/installation.rst
Labels: area:docs

#10246 Added DataprepGetJobsForJobGroupOperator
  airflow/models/connection.py
  airflow/providers/google/cloud/example_dags/example_dataprep.py
  airflow/providers/google/cloud/hooks/dataprep.py
  airflow/providers/google/cloud/operators/dataprep.py
  docs/howto/operator/google/cloud/dataprep.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/hooks/test_dataprep.py
  tests/providers/google/cloud/operators/test_dataprep.py
Labels: area:docs, provider:Google

#10004 Add Amazon SES hook
  airflow/providers/amazon/aws/hooks/ses.py
  airflow/utils/email.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_ses.py
  tests/utils/test_email.py
Labels: provider:AWS

#10276 Revert "Add Amazon SES hook (#10004)"
  airflow/providers/amazon/aws/hooks/ses.py
  airflow/utils/email.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_ses.py
  tests/utils/test_email.py
Labels: area:docs, provider:AWS

#10269 Add more columns to airflow connections get
  airflow/cli/commands/connection_command.py
  docs/howto/connection/index.rst
  docs/howto/secrets-backend/google-cloud-secret-manager-backend.rst
Labels: area:CLI, area:Secrets, area:docs

#9570 Makes multi-namespace mode optional
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/kubernetes_executor.py
Labels: area:Scheduler/Executor, k8s

#10230 Fix KubernetesPodOperator reattachment
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Labels: k8s

#10286 Add type annotations to AwsGlueJobHook, RedshiftHook modules
  airflow/providers/amazon/aws/hooks/glue.py
  airflow/providers/amazon/aws/hooks/redshift.py
  airflow/providers/amazon/aws/hooks/s3.py
Labels: provider:AWS

#10267 Add Authentication for Stable API
  airflow/api_connexion/endpoints/config_endpoint.py
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/dag_source_endpoint.py
  airflow/api_connexion/endpoints/event_log_endpoint.py
  airflow/api_connexion/endpoints/extra_link_endpoint.py
  airflow/api_connexion/endpoints/import_error_endpoint.py
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/api_connexion/endpoints/pool_endpoint.py
  airflow/api_connexion/endpoints/task_endpoint.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/endpoints/variable_endpoint.py
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/api_connexion/security.py
  tests/api_connexion/endpoints/test_config_endpoint.py
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_source_endpoint.py
  tests/api_connexion/endpoints/test_event_log_endpoint.py
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/api_connexion/endpoints/test_import_error_endpoint.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/api_connexion/endpoints/test_pool_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
  tests/api_connexion/endpoints/test_version_endpoint.py
  tests/api_connexion/endpoints/test_xcom_endpoint.py
  tests/test_utils/api_connexion_utils.py
  tests/test_utils/remote_user_api_auth_backend.py
  tests/test_utils/test_remote_user_api_auth_backend.py
Labels: area:API, area:Webserver

#10266 Add reconcile_metadata to reconcile_pods
  airflow/kubernetes/pod_generator.py
  tests/kubernetes/test_pod_generator.py
Labels: k8s

#10284 Add unittest for WasbTaskHandler
  tests/providers/microsoft/azure/log/__init__.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
  tests/test_project_structure.py
Labels: area:Logging, provider:Azure

#10227 Use Hash of Serialized DAG to determine DAG is changed or not
  airflow/migrations/versions/da3f683c3a5a_add_dag_hash_column_to_serialized_dag_.py
  airflow/models/serialized_dag.py
  tests/models/test_serialized_dag.py
Labels: area:Serialization

#10291 Run create-user-job as user with specified id
  chart/templates/create-user-job.yaml
Labels: area:helm-chart

#10296 Clarify DAG to image language in docs
  docs/usage-cli.rst
Labels: area:CLI, area:docs

#10299 Fixes name of pre-commit cache for multiple branches
  .github/workflows/ci.yml
Labels: area:dev

#10294 Clarify connection docs.
  docs/usage-cli.rst
Labels: area:CLI, area:docs

#10280 Enable Sphinx spellcheck for docs generation
  .rat-excludes
  CHANGELOG.txt
  Dockerfile.ci
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/base_executor.py
  airflow/macros/hive.py
  airflow/models/dag.py
  airflow/operators/sql.py
  airflow/providers/amazon/aws/operators/datasync.py
  airflow/providers/apache/kylin/hooks/kylin.py
  airflow/providers/apache/kylin/operators/kylin_cube.py
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/hooks/dlp.py
  airflow/providers/google/cloud/hooks/kms.py
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/google/cloud/operators/automl.py
  airflow/providers/google/cloud/operators/cloud_build.py
  airflow/providers/google/cloud/operators/datacatalog.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/google/marketing_platform/hooks/campaign_manager.py
  airflow/providers/snowflake/transfers/snowflake_to_slack.py
  airflow/providers/yandex/operators/yandexcloud_dataproc.py
  airflow/secrets/__init__.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  chart/README.md
  chart/values.yaml
  docs/build
  docs/conf.py
  docs/faq.rst
  docs/howto/connection/aws.rst
  docs/howto/operator/amazon/aws/datasync.rst
  docs/howto/operator/google/cloud/datacatalog.rst
  docs/howto/operator/google/cloud/stackdriver.rst
  docs/howto/operator/google/transfer/presto_to_gcs.rst
  docs/privacy_notice.rst
  docs/security.rst
  docs/spelling_wordlist.txt
  docs/timezone.rst
  setup.py
  tests/test_utils/mock_operators.py
  tests/www/test_views.py
Labels: area:dev, area:docs

#10305 Use more human readable table heading labels on DAG details
  airflow/www/templates/airflow/dag_details.html
Labels: area:Webserver

#10218 Implement Google BigQuery Table Partition Sensor
  airflow/providers/google/cloud/example_dags/example_bigquery_sensors.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/sensors/bigquery.py
  docs/howto/operator/google/cloud/bigquery.rst
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/operators/test_bigquery_system.py
  tests/providers/google/cloud/sensors/test_bigquery.py
Labels: provider:Google

#10320 Added "sharded" word to spellchecker
  docs/spelling_wordlist.txt
Labels: area:docs

#10318 [AIRFLOW-6706] Lazy load operator extra links (#7327)
  airflow/operators/__init__.py
  airflow/plugins_manager.py
  airflow/serialization/serialized_objects.py
Labels: area:Plugins, area:Serialization

#10321 Respect DAG Serialization setting when running sync_perm
  airflow/cli/commands/sync_perm_command.py
  tests/cli/commands/test_sync_perm_command.py
Labels: area:CLI, area:Serialization

#10326 Catch Permission Denied exception when getting secret from GCP Secret Manager
  airflow/providers/google/cloud/_internal_client/secret_manager_client.py
  tests/providers/google/cloud/_internal_client/test_secret_manager_client.py
Labels: provider:Google

#10334 Webserver: Sanitize values passed to origin param
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver

#9590 Improve idempotency of BigQueryInsertJobOperator
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google

#10342 CI: Fix failing docs-build
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google

#10064 Add ingress to the helm chart
  chart/README.md
  chart/templates/NOTES.txt
  chart/templates/flower/flower-ingress.yaml
  chart/templates/webserver/webserver-ingress.yaml
  chart/values.yaml
Labels: area:helm-chart

#10347 Fixes rat-check pre-commit in case Airflow is added as subrepo
  .rat-excludes
Labels: area:dev

#10346 Breeze was slightly too chatty when there was no dirs created
  breeze
Labels: area:dev

#10348 More informative description of Breeze's --verbose flag.
  BREEZE.rst
  breeze
Labels: area:dev

#10329 Breeze: More fancy environment checking
  scripts/ci/in_container/check_environment.sh
Labels: area:dev

#10332 Improve language of a BaseSensorOperator in UPDATING.md
  UPDATING.md
Labels: changelog:skip

#10340 Add GCP Bigtable Update Instance Hook/Operator
  airflow/providers/google/cloud/example_dags/example_bigtable.py
  airflow/providers/google/cloud/hooks/bigtable.py
  airflow/providers/google/cloud/operators/bigtable.py
  docs/howto/operator/google/cloud/bigtable.rst
  tests/providers/google/cloud/hooks/test_bigtable.py
  tests/providers/google/cloud/operators/test_bigtable.py
Labels: area:docs, provider:Google

#10297 Add type annotations for Google mlengine_operator_utils.py
  airflow/providers/google/cloud/utils/mlengine_operator_utils.py
Labels: provider:Google

#9861 Add test for GCSTaskHandler (#9600)
  airflow/providers/google/cloud/log/gcs_task_handler.py
  tests/providers/google/cloud/log/test_gcs_task_handler.py
  tests/providers/google/cloud/log/test_gcs_task_handler_system.py
  tests/test_project_structure.py
Labels: area:Logging, provider:Google

#9022 Fix AwsGlueJobSensor
  airflow/providers/amazon/aws/hooks/glue.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/sensors/glue.py
  tests/providers/amazon/aws/hooks/test_glue.py
  tests/providers/amazon/aws/operators/test_glue.py
  tests/providers/amazon/aws/sensors/test_glue.py
Labels: provider:AWS

#10360 Add to CONTRIBUTING.rst link to backport packages troubleshooting
  CONTRIBUTING.rst
Labels: area:dev

#10310 Use check_output to capture in celery task
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:Scheduler/Executor

#10365 Simplified GCSTaskHandler configuration
  UPDATING.md
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/providers/google/cloud/log/gcs_task_handler.py
  docs/howto/write-logs.rst
  tests/providers/google/cloud/log/test_gcs_task_handler.py
  tests/providers/google/cloud/log/test_stackdriver_task_handler_system.py
Labels: area:Logging, area:docs, provider:Google

#10366 Fix issue with mounting volumes from secrets
  airflow/contrib/kubernetes/pod.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/pod_launcher.py
  airflow/kubernetes/worker_configuration.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  scripts/ci/kubernetes/secrets.yaml
  scripts/ci/libraries/_kind.sh
  tests/kubernetes/test_pod_generator.py
  tests/kubernetes/test_pod_launcher.py
  tests/kubernetes/test_worker_configuration.py
  tests/test_local_settings/test_local_settings.py
Labels: area:dev, k8s

#10378 Pylintable list-integrations.py
  scripts/tools/list-integrations.py
Labels: area:dev

#10370 Simplify cron preset language in docs.
  docs/dag-run.rst
Labels: area:docs

#10345 Too much was happening in this pre-commit script
  scripts/ci/pre_commit/pre_commit_check_integrations.sh
Labels: area:dev

#10377 Allow running spellcheck or building docs separately
  .pre-commit-config.yaml
  BREEZE.rst
  CONTRIBUTING.rst
  breeze
  docs/build_docs.py
  scripts/ci/docs/ci_docs.sh
  scripts/ci/in_container/run_docs_build.sh
  scripts/ci/libraries/_runs.sh
Labels: area:dev, area:docs

#10372 Fix spacing bug in 'Dag Run'.
  docs/dag-run.rst
Labels: area:docs

#10384 Update github flags for Breeze
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Labels: area:dev

#10387 Docker images are now consistently labelled and a bit smaller
  .dockerignore
  Dockerfile
  Dockerfile.ci
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Labels: area:dev, changelog:skip

#10312 Add guide about custom API authentication
  docs/security/api.rst
  docs/usage-cli.rst
Labels: area:API, area:CLI, area:docs

#10369 Consistently refer to section names
  docs/configurations-ref.rst
  docs/errors.rst
  docs/executor/index.rst
  docs/howto/check-health.rst
  docs/howto/email-config.rst
  docs/timezone.rst
Labels: area:Scheduler/Executor, area:docs

#10371 Correct verb tense for re-running task docs.
  docs/dag-run.rst
Labels: area:docs

#10361 10357: Execute job cancel HTTPRequest
  airflow/contrib/hooks/gcp_dataproc_hook.py
Labels: provider:Google

#10392 Moved description of page size limit to security/
  docs/conf.py
  docs/index.rst
  docs/rest-api-ref.rst
  docs/security/api.rst
  docs/stable-rest-api-ref.rst
  docs/stable-rest-api/index.rst
Labels: area:API, area:docs

#10398 Capitalize 'Python' properly in Concepts docs
  docs/concepts.rst
Labels: area:docs

#10390 When precommits are run, output is silenced
  scripts/ci/backport_packages/ci_test_backport_packages_import_all_classes.sh
  scripts/ci/backport_packages/ci_test_backport_packages_install_separately.sh
  scripts/ci/docs/ci_docs.sh
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/run_flake8.sh
  scripts/ci/in_container/run_mypy.sh
  scripts/ci/in_container/run_prepare_backport_readme.sh
  scripts/ci/in_container/run_pylint.sh
  scripts/ci/in_container/run_test_package_import_all_classes.sh
  scripts/ci/in_container/run_test_package_installation_separately.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_docker.env
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_md5sum.sh
  scripts/ci/libraries/_permissions.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_runs.sh
  scripts/ci/libraries/_verbosity.sh
  scripts/ci/pre_commit/pre_commit_bat_tests.sh
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
  scripts/ci/pre_commit/pre_commit_build_providers_dependencies.sh
  scripts/ci/pre_commit/pre_commit_check_integrations.sh
  scripts/ci/pre_commit/pre_commit_check_license.sh
  scripts/ci/pre_commit/pre_commit_ci_build.sh
  scripts/ci/pre_commit/pre_commit_flake8.sh
  scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
  scripts/ci/pre_commit/pre_commit_local_yml_mounts.sh
  scripts/ci/pre_commit/pre_commit_mypy.sh
  scripts/ci/pre_commit/pre_commit_pylint.sh
  scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  scripts/ci/static_checks/ci_flake8.sh
  scripts/ci/static_checks/ci_mypy.sh
  scripts/ci/static_checks/ci_pylint.sh
  scripts/ci/static_checks/ci_refresh_pylint_todo.sh
Labels: area:dev

#10328 Add back 'refresh_all' method in airflow/www/views.py
  airflow/models/dagbag.py
  airflow/www/views.py
  tests/models/test_dagbag.py
  tests/www/test_views.py
Labels: area:Webserver

#10400 Update celery.rst
  docs/executor/celery.rst
Labels: area:Scheduler/Executor, area:docs

#10396 Improve headings on docs/executor
  docs/executor/celery.rst
  docs/executor/index.rst
Labels: area:Scheduler/Executor, area:docs

#10401 AIRFLOW-typo-fix-in-best-practices.rst
  docs/best-practices.rst
Labels: area:docs

#10399 Kubernetes image no embedded
  Dockerfile
  IMAGES.rst
  breeze
  scripts/ci/kubernetes/ci_deploy_app_to_kubernetes.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
Labels: area:dev

#10404 Constraint CI scripts are now separated out
  .github/workflows/ci.yml
  scripts/ci/constraints/ci_branch_constraints.sh
  scripts/ci/constraints/ci_commit_constraints.sh
Labels: area:dev

#10405 Move docker-compose ci.yml to ga.yml as it is GITHUB_* only
  scripts/ci/docker-compose/ga.yml
  scripts/ci/testing/ci_run_airflow_testing.sh
Labels: area:dev

#10344 Fixes optimisation where doc only change should build much faster
  scripts/ci/tools/ci_count_changed_files.sh
Labels: area:dev

#10397 Remove run-ons from scheduler docs.
  docs/scheduler.rst
Labels: area:Scheduler/Executor, area:docs

#10410 BugFix: K8s Executor Multinamespace mode is evaluated to true by default
  airflow/executors/kubernetes_executor.py
Labels: area:Scheduler/Executor, k8s

#10412 Make KubernetesExecutor recognize kubernetes_labels
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/worker_configuration.py
  tests/kubernetes/test_worker_configuration.py
Labels: k8s

#10416 Unnecessary use of list comprehension
  airflow/models/dagrun.py
  airflow/www/utils.py
  backport_packages/refactor_backport_packages.py
  backport_packages/setup_backport_packages.py
Labels: area:Webserver

#10418 Fix broken breeze script
  breeze
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_verbosity.sh
Labels: area:dev

#10422 Enable optimisation of image building.
  .github/workflows/ci.yml
Labels: area:dev

#10419 Fix typo in KubernetesPodOperator
  CHANGELOG.txt
  docs/spelling_wordlist.txt
Labels: area:docs

#10424 Fix failing breeze
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev

#10423 Switch to released cancel-workflow-runs action
  .github/workflows/build-images-workflow-run.yml
Labels: area:dev

#10428 Add architecture diagram for basic Airflow deployment
  docs/img/arch-diag-basic.png
  docs/start.rst
Labels: area:docs

#10373 Dataflow operators don't not always create a virtualenv
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
Labels: provider:Google

#10391 Amazon SES Hook
  airflow/providers/amazon/aws/hooks/ses.py
  airflow/utils/email.py
  backport_packages/refactor_backport_packages.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_ses.py
  tests/utils/test_email.py
Labels: area:docs, provider:AWS

#10440 Fix Breeze failure on MacOS
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_verbosity.sh
Labels: area:dev

#10475 Add support for creating multiple replicated clusters in Bigtable hook and operator
  airflow/providers/google/cloud/hooks/bigtable.py
  airflow/providers/google/cloud/operators/bigtable.py
  tests/providers/google/cloud/hooks/test_bigtable.py
  tests/providers/google/cloud/operators/test_bigtable.py
Labels: provider:Google
