Repository apache/airflow, pull requests merged in 2020-02, with the labels that each got.

#7306 [AIRFLOW-6694] Fixed import to print_stuff in kubernetes tests
  airflow/example_dags/example_kubernetes_executor.py
  airflow/example_dags/example_kubernetes_executor_config.py
  scripts/ci/in_container/kubernetes/docker/airflow-test-env-init.sh
Labels: area:dev

#7314 [AIRFLOW-6698] Add shorthand notation for lineage
  airflow/models/baseoperator.py
  airflow/providers/papermill/operators/papermill.py
  airflow/utils/decorators.py
  docs/lineage.rst
  tests/models/test_baseoperator.py
Labels: area:Lineage, area:Logging, area:docs

#7325 [AIRFLOW-6705] Less chatty integration/backend checks in Breeze/CI
  scripts/ci/in_container/check_environment.sh
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev

#7332 [AIRFLOW-6709] Fixed failing git sync
  scripts/ci/in_container/kubernetes/app/templates/configmaps.template.yaml
Labels: area:dev

#7207 [AIRFLOW-XXXX] Consistency fixes in new documentation
  CONTRIBUTING.rst
Labels: area:dev

#7327 [AIRFLOW-6706] Lazy load operator extra links
  airflow/plugins_manager.py
  airflow/serialization/serialized_objects.py
Labels: area:Plugins, area:Serialization

#7249 [AIRFLOW-6626] Add email on failure or retry to default config
  .pre-commit-config.yaml
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/models/baseoperator.py
  tests/models/test_baseoperator.py
Labels: area:dev

#7288 [AIRFLOW-6672] AWS DataSync - better logging of error message
  airflow/providers/amazon/aws/operators/datasync.py
Labels: provider:AWS

#7326 [AIRFLOW-6705] One less chatty message
  scripts/ci/in_container/check_environment.sh
Labels: area:dev

#7283 [AIRFLOW-6666] Bump css-loader to resolve js-yaml advisories
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:Webserver

#7281 [AIRFLOW-5843] Add conf option to Add DAG Run view
  airflow/www/forms.py
  airflow/www/validators.py
  airflow/www/views.py
  tests/www/test_validators.py
  tests/www/test_views.py
Labels: area:Webserver

#6824 [AIRFLOW-6258] add CloudFormation operators to AWS providers
  airflow/providers/amazon/aws/hooks/cloud_formation.py
  airflow/providers/amazon/aws/operators/cloud_formation.py
  airflow/providers/amazon/aws/sensors/cloud_formation.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_cloud_formation.py
  tests/providers/amazon/aws/operators/test_cloud_formation.py
  tests/providers/amazon/aws/sensors/test_cloud_formation.py
Labels: area:docs, provider:AWS

#7143 [AIRFLOW-6527] Make send_task_to_executor timeout configurable
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:Scheduler/Executor

#7320 [AIRFLOW-6703] The base_log_folder option moved to logging in ci
  scripts/ci/in_container/airflow_ci.cfg
  scripts/ci/in_container/kubernetes/app/templates/configmaps.template.yaml
  tests/utils/test_serve_logs.py
Labels: area:dev

#7323 [AIRFLOW-6701] Rat is downloaded from stable backup/mirrors
  Dockerfile
Labels: area:dev

#7300 [AIRFLOW-6662] install dumb init
  Dockerfile
  scripts/ci/_utils.sh
  scripts/ci/docker-compose/backend-mysql.yml
  scripts/ci/docker-compose/backend-postgres.yml
  scripts/ci/docker-compose/integration-cassandra.yml
  scripts/ci/docker-compose/integration-kerberos.yml
  scripts/ci/docker-compose/integration-mongo.yml
  scripts/ci/docker-compose/integration-openldap.yml
  scripts/ci/docker-compose/integration-rabbitmq.yml
  scripts/ci/docker-compose/integration-redis.yml
Labels: area:Scheduler/Executor, area:dev, area:docs

#7237 [AIRFLOW-6612] Use builtin method to run flower instead of executing cmd
  airflow/cli/commands/celery_command.py
Labels: area:CLI

#7329 [AIRFLOW-3349] Use None instead of False as value for encoding in StreamLogWriter
  airflow/utils/log/logging_mixin.py
  tests/utils/test_logging_mixin.py
Labels: area:Logging

#7333 [AIRFLOW-6710] Lazy create custom executor modules
  airflow/executors/executor_loader.py
  airflow/plugins_manager.py
Labels: area:Plugins, area:Scheduler/Executor

#7319 [AIRFLOW-6702] Dumping kind logs to file.io.
  scripts/ci/_utils.sh
  tests/runtime/kubernetes/test_kubernetes_executor.py
Labels: area:dev

#7305 [AIRFLOW-6693] Make page titles distinguishable from another
  airflow/www/templates/airflow/chart.html
  airflow/www/templates/airflow/code.html
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dag_code.html
  airflow/www/templates/airflow/dag_details.html
  airflow/www/templates/airflow/dags.html
  airflow/www/templates/airflow/duration_chart.html
  airflow/www/templates/airflow/gantt.html
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/tree.html
  airflow/www/views.py
Labels: area:Webserver

#7304 [AIRFLOW-6692] Generate excluded_patterns in docs/conf.py
  airflow/providers/jenkins/example_dags/__init__.py
  airflow/providers/jenkins/example_dags/example_jenkins_job_trigger.py
  docs/conf.py
Labels: area:docs

#7330 [AIRFLOW-6708] Set unique logger names
  .pre-commit-config.yaml
  airflow/api/__init__.py
  airflow/api/auth/backend/kerberos_auth.py
  airflow/api/common/experimental/delete_dag.py
  airflow/cli/commands/webserver_command.py
  airflow/config_templates/default_celery.py
  airflow/configuration.py
  airflow/contrib/auth/backends/github_enterprise_auth.py
  airflow/contrib/auth/backends/google_auth.py
  airflow/contrib/auth/backends/ldap_auth.py
  airflow/contrib/auth/backends/password_auth.py
  airflow/contrib/utils/sendgrid.py
  airflow/executors/celery_executor.py
  airflow/executors/executor_loader.py
  airflow/executors/kubernetes_executor.py
  airflow/hooks/base_hook.py
  airflow/lineage/__init__.py
  airflow/models/crypto.py
  airflow/models/dag.py
  airflow/models/serialized_dag.py
  airflow/models/variable.py
  airflow/models/xcom.py
  airflow/plugins_manager.py
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/apache/hdfs/hooks/webhdfs.py
  airflow/providers/apache/hdfs/sensors/hdfs.py
  airflow/providers/cncf/kubernetes/example_dags/example_kubernetes_operator.py
  airflow/providers/google/cloud/hooks/base.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/datastore.py
  airflow/providers/google/cloud/hooks/dlp.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/hooks/speech_to_text.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/grpc/hooks/grpc.py
  airflow/providers/imap/hooks/imap.py
  airflow/providers/qubole/hooks/qubole.py
  airflow/providers/qubole/hooks/qubole_check.py
  airflow/providers/salesforce/hooks/salesforce.py
  airflow/security/kerberos.py
  airflow/sentry.py
  airflow/serialization/serialized_objects.py
  airflow/utils/db.py
  airflow/utils/email.py
  airflow/utils/file.py
  airflow/utils/log/es_task_handler.py
  airflow/utils/log/logging_mixin.py
  airflow/utils/process_utils.py
  airflow/utils/sqlalchemy.py
  airflow/www/api/experimental/endpoints.py
  tests/contrib/utils/logging_command_executor.py
  tests/providers/google/cloud/operators/test_cloud_sql_system_helper.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
  tests/security/test_kerberos.py
  tests/utils/test_process_utils.py
Labels: area:CLI, area:Lineage, area:Plugins, area:Scheduler/Executor, area:dev, k8s, provider:AWS, provider:Apache, provider:GCP

#7337 [AIRFLOW-6715] Fix Google Cloud DLP Example DAG
  airflow/providers/google/cloud/example_dags/example_dlp_operator.py
Labels: provider:GCP

#7336 [AIRFLOW-4364] Make all code in airflow/providers/amazon pylint compatible
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/hooks/redshift.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/emr_add_steps.py
  airflow/providers/amazon/aws/operators/mongo_to_s3.py
  airflow/providers/amazon/aws/operators/s3_to_redshift.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint.py
  airflow/providers/amazon/aws/operators/sagemaker_transform.py
  airflow/providers/amazon/aws/sensors/athena.py
  airflow/providers/amazon/aws/sensors/glue_catalog_partition.py
  airflow/providers/amazon/aws/sensors/sagemaker_base.py
  airflow/providers/amazon/aws/sensors/sagemaker_training.py
  scripts/ci/pylint_todo.txt
Labels: area:dev, provider:AWS

#7238 [AIRFLOW-6613] center dag on graph view load
  airflow/www/templates/airflow/graph.html
Labels: area:Webserver

#7190 [AIRFLOW-XXXX] Add cross-reference between connection and fernet
  docs/howto/connection/index.rst
Labels: area:docs

#7340 [AIRFLOW-6717] Remove non-existent field from templated_fields
  airflow/providers/google/cloud/operators/cloud_memorystore.py
Labels: provider:GCP

#7342 [AIRFLOW-XXXX] Fix Static Checks on CI
  airflow/providers/amazon/aws/hooks/sagemaker.py
Labels: provider:AWS

#7341 [AIRFLOW-6718] Fix more occurrences of utils.dates.days_ago
  .pre-commit-config.yaml
  airflow/providers/amazon/aws/example_dags/example_datasync_1.py
  airflow/providers/amazon/aws/example_dags/example_datasync_2.py
  dags/test_dag.py
Labels: area:dev, provider:AWS

#7339 [AIRFLOW-6716] Fix AWS Datasync Example DAG
  airflow/providers/amazon/aws/example_dags/example_datasync_2.py
Labels: provider:AWS

#7309 [AIRFLOW-4681] Make sensors module pylint compatible
  airflow/providers/amazon/aws/sensors/glue_catalog_partition.py
  airflow/providers/apache/hdfs/sensors/hdfs.py
  airflow/providers/apache/hdfs/sensors/web_hdfs.py
  airflow/providers/apache/hive/sensors/hive_partition.py
  airflow/providers/apache/hive/sensors/named_hive_partition.py
  airflow/providers/http/sensors/http.py
  airflow/providers/jira/sensors/jira.py
  airflow/providers/qubole/sensors/qubole.py
  airflow/sensors/base_sensor_operator.py
  airflow/sensors/bash.py
  airflow/sensors/external_task_sensor.py
  scripts/ci/pylint_todo.txt
Labels: area:dev, provider:AWS, provider:Apache

#7303 [AIRFLOW-6691] Add tests that protect the deprecated packages
  airflow/contrib/hooks/__init__.py
  airflow/contrib/operators/__init__.py
  airflow/contrib/sensors/__init__.py
  airflow/contrib/task_runner/__init__.py
  tests/test_project_structure.py
Labels: area:dev, area:docs, provider:Apache, provider:GCP

#7335 [AIRFLOW-6711] Drop plugin support for stat_name_handler
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/plugins_manager.py
  airflow/stats.py
  docs/metrics.rst
  docs/plugins.rst
  setup.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_executor.py
  tests/executors/test_dask_executor.py
  tests/executors/test_kubernetes_executor.py
  tests/executors/test_local_executor.py
  tests/executors/test_sequential_executor.py
  tests/jobs/test_scheduler_job.py
  tests/plugins/test_plugin.py
  tests/test_stats.py
Labels: area:Plugins, area:Scheduler/Executor, area:docs

#7307 [AIRFLOW-6676] added GCSDeleteBucketOperator
  airflow/providers/google/cloud/example_dags/example_gcs.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/operators/gcs.py
  docs/howto/operator/gcp/gcs.rst
  tests/providers/google/cloud/hooks/test_gcs.py
  tests/providers/google/cloud/operators/test_gcs.py
Labels: area:docs, provider:GCP

#7296 [AIRFLOW-6683] Make REST API respect store_serialized_dag setting
  airflow/api/common/experimental/trigger_dag.py
  tests/www/api/experimental/test_dag_runs_endpoint.py
Labels: area:Webserver

#7292 [AIRFLOW-6678] Pull event logs from Kubernetes pod on failure
  airflow/kubernetes/pod_launcher.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/kubernetes/test_pod_launcher.py
Labels: k8s

#7284 [AIRFLOW-6630] Bump handlebars to resolve handlebars advisory
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:Webserver

#7351 [AIRFLOW-XXXX] Add scheduler in production section to best practices doc
  docs/best-practices.rst
Labels: area:docs

#7347 [AIRFLOW-XXXX] Add pre-commit check for utf-8 file encoding
  .pre-commit-config.yaml
  airflow/providers/amazon/aws/hooks/cloud_formation.py
  airflow/providers/amazon/aws/operators/cloud_formation.py
  airflow/providers/amazon/aws/sensors/cloud_formation.py
  airflow/providers/mysql/operators/presto_to_mysql.py
  tests/operators/test_generic_transfer.py
  tests/providers/amazon/aws/hooks/test_cloud_formation.py
  tests/providers/amazon/aws/operators/test_cloud_formation.py
  tests/providers/amazon/aws/sensors/test_cloud_formation.py
  tests/providers/apache/cassandra/sensors/record.py
  tests/providers/microsoft/msqql/__init__.py
  tests/providers/mysql/operators/test_mysql.py
  tests/providers/postgres/operators/__init__.py
  tests/providers/postgres/operators/test_postgres.py
Labels: area:dev, provider:AWS, provider:Apache

#7355 [AIRFLOW-6727] Fix minor bugs in Release Management scripts
  dev/requirements.txt
  dev/send_email.py
  dev/templates/vote_email.j2
Labels: area:dev

#7362 [AIRFLOW-XXXX] Add user and DAGs folder notes to BREEZE.rst
  BREEZE.rst
Labels: area:dev

#7360 [AIRFLOW-XXXX] Add notes about airflow.providers and docs
  CONTRIBUTING.rst
Labels: area:dev

#7361 [AIRFLOW-XXXX] Remove "Core and community package" section
  docs/autoapi_templates/index.rst
Labels: area:docs

#7368 [AIRFLOW-6736] Fix the repo/branch that is used in PRs for git sync
  scripts/ci/docker-compose/base.yml
  scripts/ci/in_container/kubernetes/app/deploy_app.sh
Labels: area:dev

#7369 [AIRFLOW-6739] Update tutorial.rst
  docs/tutorial.rst
Labels: area:docs

#7373 [AIRFLOW-XXXX] Fix location of kubernetes tests
  TESTING.rst
Labels: area:dev

#7359 [AIRFLOW-6740] Remove Undocumented, Deprecated, Dysfunctional PROXY_FIX_NUM_PROXIES
  airflow/www/app.py
Labels: area:Webserver

#7372 [AIRFLOW-6738] Upload container diagnostics always
  scripts/ci/docker-compose/base.yml
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/check_environment.sh
  scripts/ci/in_container/run_ci_tests.sh
Labels: area:dev

#7366 [AIRFLOW-6733] Extend not replace template
  airflow/www/app.py
  airflow/www/templates/airflow/master.html
  airflow/www/templates/appbuilder/baselayout.html
Labels: area:Webserver

#7367 [AIRFLOW-6734] Use configured base_template instead of hard-coding
  airflow/contrib/plugins/metastore_browser/templates/metastore_browser/base.html
  airflow/www/templates/airflow/code.html
  airflow/www/templates/airflow/config.html
  airflow/www/templates/airflow/confirm.html
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/templates/airflow/noaccess.html
  airflow/www/templates/airflow/version.html
Labels: area:Webserver

#7312 [AIRFLOW-6695] Add DAG run configuration to UI
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/templates/airflow/trigger.html
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver

#7371 [AIRFLOW-6737] Enable kubernetes diagnostics for all kubernetes tests
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/run_ci_tests.sh
  tests/runtime/kubernetes/test_kubernetes_executor.py
Labels: area:dev

#7352 [AIRFLOW-6683] Run REST API tests when DAGs are serialized
  airflow/api/common/experimental/__init__.py
  tests/www/api/experimental/test_endpoints.py
Labels: area:Webserver

#7379 [AIRFLOW-XXXX] Update autolabeler config
  .github/boring-cyborg.yml
Labels: area:dev

#7364 [AIRFLOW-6728] Change various DAG info methods to POST
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver

#7386 [AIRFLOW-6761] Fix WorkGroup param in AWSAthenaHook
  airflow/providers/amazon/aws/hooks/athena.py
Labels: provider:AWS

#7387 [AIRFLOW-6762] Fix link to "Suggest changes on this page"
  docs/conf.py
Labels: area:docs

#7318 [AIRFLOW-XXXX] Add explicit info about JIRAs for code-related PRs
  CONTRIBUTING.rst
Labels: area:dev

#7393 [AIRFLOW-6766] Fix "cannot import ensure_text" error for pre-commit
  scripts/ci/ci_before_install.sh
Labels: area:dev

#7390 [AIRFLOW-6764] Fixed environment installation for Linux
  breeze
  setup.py
Labels: area:dev

#7394 [AIRFLOW-6767] Correct name for default Athena workgroup
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/operators/athena.py
  tests/providers/amazon/aws/operators/test_athena.py
Labels: provider:AWS

#5785 [AIRFLOW-5176] Add Azure Data Explorer (Kusto) operator
  airflow/models/connection.py
  airflow/providers/microsoft/azure/hooks/adx.py
  airflow/providers/microsoft/azure/operators/adx.py
  airflow/utils/db.py
  docs/conf.py
  docs/operators-and-hooks-ref.rst
  setup.py
  tests/providers/microsoft/azure/hooks/test_adx.py
  tests/providers/microsoft/azure/operators/test_adx.py
Labels: area:docs, provider:Azure

#7396 [AIRFLOW-6770] Run particular test using breeze CLI bug fix
  .travis.yml
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev

#6230 [AIRFLOW-5413] Allow K8S worker pod to be configured from JSON/YAML file
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/worker_configuration.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/executors/test_kubernetes_executor.py
  tests/kubernetes/models/test_pod.py
  tests/kubernetes/models/test_secret.py
  tests/kubernetes/pod.yaml
  tests/kubernetes/test_pod_generator.py
  tests/kubernetes/test_worker_configuration.py
  tests/runtime/kubernetes/test_kubernetes_pod_operator.py
Labels: area:Scheduler/Executor, area:dev, area:docs, k8s

#6660 [AIRFLOW-6065] Add Stackdriver Task Handler
  airflow/config_templates/airflow_local_settings.py
  airflow/utils/log/stackdriver_task_handler.py
  docs/howto/write-logs.rst
  setup.py
  tests/utils/log/test_stackdriver_task_handler.py
Labels: area:Logging, area:docs, provider:GCP

#7375 [AIRFLOW-5231] Fix S3Hook.delete_objects method
  UPDATING.md
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/operators/s3_delete_objects.py
  tests/hooks/test_s3_hook.py
  tests/providers/amazon/aws/hooks/conftest.py
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/test_project_structure.py
Labels: provider:AWS

#6256 [AIRFLOW-5590] Add run_id to trigger DAG run API response
  airflow/www/api/experimental/endpoints.py
  tests/www/api/experimental/test_endpoints.py
Labels: area:Webserver

#7404 [AIRFLOW-6781] Enforce example_dags and guide for Google integrations
  docs/howto/operator/gcp/cloud_sql.rst
  docs/operators-and-hooks-ref.rst
  tests/test_project_structure.py
Labels: area:docs, provider:GCP

#7399 [AIRFLOW-6505] Let emoji encoded properly for json.dumps()
  airflow/providers/google/cloud/operators/sql_to_gcs.py
Labels: provider:GCP

#7411 [AIRFLOW-6344] Fix travis CI for tag builds
  scripts/ci/_utils.sh
Labels: area:dev

#7370 [AIRFLOW-6590] Use batch db operations in jobs
  airflow/cli/commands/task_command.py
  airflow/jobs/backfill_job.py
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/utils/sqlalchemy.py
  scripts/perf/dags/sql_perf_dag.py
  scripts/perf/sql_queries.py
Labels: area:CLI, area:Scheduler/Executor, area:dev, area:performance

#7416 [AIRFLOW-6802] honor dag.max_active_run in scheduler
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#7252 [AIRFLOW-6531] Initial Yandex.Cloud Dataproc support
  airflow/models/connection.py
  airflow/providers/yandex/__init__.py
  airflow/providers/yandex/example_dags/__init__.py
  airflow/providers/yandex/example_dags/example_yandexcloud_dataproc.py
  airflow/providers/yandex/hooks/__init__.py
  airflow/providers/yandex/hooks/yandexcloud_dataproc_hook.py
  airflow/providers/yandex/operators/__init__.py
  airflow/providers/yandex/operators/yandexcloud_dataproc_operator.py
  airflow/utils/db.py
  airflow/www/forms.py
  airflow/www/static/js/connection_form.js
  airflow/www/views.py
  docs/autoapi_templates/index.rst
  docs/conf.py
  docs/howto/connection/yandexcloud.rst
  docs/howto/operator/index.rst
  docs/howto/operator/yandexcloud.rst
  docs/operators-and-hooks-ref.rst
  setup.py
  tests/providers/yandex/__init__.py
  tests/providers/yandex/hooks/__init__.py
  tests/providers/yandex/hooks/test_yandexcloud_dataproc_hook.py
  tests/providers/yandex/operators/__init__.py
  tests/providers/yandex/operators/test_yandexcloud_dataproc_operator.py
Labels: area:CLI, area:Scheduler/Executor, area:Webserver, area:dev, area:docs, area:operators-hooks, k8s, provider:AWS, provider:Azure, provider:GCP

#7402 [AIRFLOW-3607] fix scheduler bug related to task concurrency and depends on past
  airflow/models/dagrun.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#7421 [AIRFLOW-XXXX] Slightly speed up mypy runs.
  .pre-commit-config.yaml
  scripts/ci/_utils.sh
  scripts/ci/in_container/run_mypy.sh
Labels: area:dev

#7427 [AIRFLOW-XXXX] Prevent Docker cache-busting on when editing www templates
  Dockerfile
  common/_files_for_rebuild_check.sh
  hooks/build
Labels: area:dev

#7426 [AIRFLOW-6765] Add CLI "airflow dags test" command
  TESTING.rst
  UPDATING.md
  airflow/bin/cli.py
  airflow/cli/commands/dag_command.py
  airflow/utils/cli.py
Labels: area:CLI, area:dev

#7432 [AIRFLOW-6818] Prevent Docker cache-busting when editing www/templates
  Dockerfile
  common/_files_for_rebuild_check.sh
  hooks/build
Labels: area:dev

#7425 [AIRFLOW-6801] Make use of ImportError.timestamp
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#7126 [AIRFLOW-6405] Add GCP BigQuery Table Upsert Operator
  airflow/providers/google/cloud/example_dags/example_bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:GCP

#7400 [AIRFLOW-6759] Added MLEngine operator/hook to cancel MLEngine jobs
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/operators/mlengine.py
  tests/providers/google/cloud/hooks/test_mlengine.py
  tests/providers/google/cloud/operators/test_mlengine.py
Labels: provider:GCP

#7429 [AIRFLOW-XXXX] Fix typo in example_bigquery DAG
  airflow/providers/google/cloud/example_dags/example_bigquery.py
Labels: provider:GCP

#7445 [AIRFLOW-XXXX] Fix breeze build-docs
  scripts/ci/_utils.sh
Labels: area:dev

#7444 [AIRFLOW-XXXX] Add known issue - example_dags/__init__.py
  CONTRIBUTING.rst
Labels: area:dev

#7419 [AIRFLOW-6804] Add the basic test for all example DAGs
  airflow/providers/docker/example_dags/example_docker.py
  airflow/providers/docker/example_dags/example_docker_swarm.py
  airflow/providers/jenkins/example_dags/example_jenkins_job_trigger.py
  tests/test_example_dags.py
  tests/test_project_structure.py
Labels: provider:AWS, provider:Apache

#7204 [AIRFLOW-XXXX] - add communication chapter to contributing
  CONTRIBUTING.rst
Labels: area:dev

#7413 [AIRFLOW-6793] Respect env variable in airflow config command
  airflow/config_templates/default_celery.py
  airflow/configuration.py
  tests/test_configuration.py
Labels: area:CLI

#7449 [AIRFLOW-6823] Fix root owned files automatically in Breeze
  scripts/ci/_utils.sh
  scripts/ci/in_container/_in_container_utils.sh
Labels: area:dev

#7455 [AIRFLOW-XXXX] Change title and add some more helpful information
  docs/howto/operator/kubernetes.rst
Labels: area:docs

#7358 [AIRFLOW-1202] Create Elasticsearch Hook
  airflow/models/connection.py
  airflow/providers/elasticsearch/__init__.py
  airflow/providers/elasticsearch/hooks/__init__.py
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  airflow/utils/db.py
  docs/autoapi_templates/index.rst
  docs/installation.rst
  docs/operators-and-hooks-ref.rst
  setup.py
  tests/providers/elasticsearch/__init__.py
  tests/providers/elasticsearch/hooks/__init__.py
  tests/providers/elasticsearch/hooks/test_elasticsearch.py
  tests/utils/log/elasticmock/fake_elasticsearch.py
Labels: area:Logging, area:docs

#7433 [AIRFLOW-6820] split breeze into functions
  .travis.yml
  airflow/www/static/docs
  breeze
  breeze-complete
  common/_autodetect_variables.sh
  hooks/build
  scripts/ci/_utils.sh
  scripts/ci/ci_check_license.sh
  scripts/ci/ci_cleanup.sh
  scripts/ci/ci_docs.sh
  scripts/ci/ci_fix_ownership.sh
  scripts/ci/ci_flake8.sh
  scripts/ci/ci_mypy.sh
  scripts/ci/ci_pylint_main.sh
  scripts/ci/ci_pylint_tests.sh
  scripts/ci/ci_refresh_pylint_todo.sh
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/check_environment.sh
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/kubernetes/app/deploy_app.sh
  scripts/ci/in_container/kubernetes/setup_kind_cluster.sh
  tests/bats/test_breeze_params.bats
Labels: area:Webserver, area:dev

#7459 [AIRFLOW-6820] fixup! fix unbound variable
  scripts/ci/in_container/_in_container_utils.sh
Labels: area:dev

#6090 [AIRFLOW-5470] Add Apache Livy REST operator
  README.md
  airflow/models/connection.py
  airflow/providers/apache/livy/__init__.py
  airflow/providers/apache/livy/example_dags/__init__.py
  airflow/providers/apache/livy/example_dags/example_livy.py
  airflow/providers/apache/livy/hooks/__init__.py
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/livy/operators/__init__.py
  airflow/providers/apache/livy/operators/livy.py
  airflow/providers/apache/livy/sensors/__init__.py
  airflow/providers/apache/livy/sensors/livy.py
  airflow/utils/db.py
  docs/autoapi_templates/index.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/apache/livy/__init__.py
  tests/providers/apache/livy/hooks/__init__.py
  tests/providers/apache/livy/hooks/test_livy.py
  tests/providers/apache/livy/operators/__init__.py
  tests/providers/apache/livy/operators/test_livy.py
  tests/providers/apache/livy/sensors/__init__.py
  tests/providers/apache/livy/sensors/test_livy.py
Labels: area:docs, provider:Apache

#7448 [AIRFLOW-6828] Stop using the zope library
  Dockerfile
  airflow/configuration.py
  airflow/providers/microsoft/azure/hooks/azure_container_instance.py
  setup.py
  tests/test_configuration.py
Labels: area:dev, provider:Azure

#7467 [AIRFLOW-XXXX] Remove travis config warnings
  .travis.yml
Labels: area:dev

#7465 [AIRFLOW-6841] Fixed unbounded variables on Mac
  BREEZE.rst
  breeze
Labels: area:dev

#7460 [AIRFLOW-6839] even more mypy speed improvements
  .pre-commit-config.yaml
Labels: area:dev

#7468 [AIRFLOW-6721] Organize hive tests
  tests/providers/apache/hdfs/sensors/test_webhdfs.py
  tests/providers/apache/hive/__init__.py
  tests/providers/apache/hive/operators/test_hive.py
  tests/providers/apache/hive/operators/test_hive_stats.py
  tests/providers/apache/hive/operators/test_hive_to_mysql.py
  tests/providers/apache/hive/operators/test_hive_to_samba.py
  tests/providers/apache/hive/sensors/test_hdfs.py
  tests/providers/apache/hive/sensors/test_hive_partition.py
  tests/providers/apache/hive/sensors/test_metastore_partition.py
  tests/providers/apache/hive/sensors/test_named_hive_partition.py
  tests/providers/mysql/operators/test_presto_to_mysql.py
  tests/providers/presto/operators/test_presto_check.py
  tests/sensors/test_sql_sensor.py
  tests/test_project_structure.py
Labels: provider:Apache

#7469 [AIRFLOW-6842] Skip fixing ownership on Mac
  scripts/ci/_utils.sh
Labels: area:dev

#7420 [AIRFLOW-6558] Campaign Manager operators for conversions
  airflow/providers/google/cloud/hooks/base.py
  airflow/providers/google/marketing_platform/example_dags/example_campaign_manager.py
  airflow/providers/google/marketing_platform/hooks/campaign_manager.py
  airflow/providers/google/marketing_platform/operators/campaign_manager.py
  docs/howto/operator/gcp/campaign_manager.rst
  tests/providers/google/marketing_platform/hooks/test_campaign_manager.py
  tests/providers/google/marketing_platform/operators/test_campaign_manager.py
  tests/providers/google/marketing_platform/operators/test_campaign_manager_system.py
  tests/test_utils/gcp_system_helpers.py
Labels: area:docs, provider:GCP

#7447 [AIRFLOW-6821] - Success callback not called when task marked as succ…
  UPDATING.md
  airflow/jobs/local_task_job.py
  tests/jobs/test_local_task_job.py
Labels: area:Scheduler/Executor

#7276 [AIRFLOW-5391] Do not run skipped tasks when they are cleared
  airflow/models/baseoperator.py
  airflow/models/skipmixin.py
  airflow/ti_deps/dep_context.py
  airflow/ti_deps/deps/not_previously_skipped_dep.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/jobs/test_scheduler_job.py
  tests/operators/test_python.py
  tests/ti_deps/deps/test_not_previously_skipped_dep.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Labels: area:Scheduler/Executor

#7474 [AIRFLOW-6854] Fix missing typing_extensions on python 3.8
  airflow/contrib/operators/awsbatch_operator.py
  airflow/contrib/operators/ecs_operator.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/serialization/json_schema.py
  airflow/typing_compat.py
Labels: area:Serialization, provider:AWS

#6900 [AIRFLOW-6346] Enhance dag default_view and orientation
  airflow/models/dag.py
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  tests/models/test_dag.py
Labels: area:Serialization, area:Webserver

#7461 [AIRFLOW-XXXX] Update write-logs.rst, add instructions for logging to localstack S3
  docs/howto/write-logs.rst
Labels: area:docs

#7480 [AIRFLOW-6861] Remove pool full on TaskInstance
  airflow/models/taskinstance.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_taskinstance.py
  tests/ti_deps/deps/fake_models.py
Labels: area:Scheduler/Executor

#7483 [AIRFLOW-XXXX] Document new session handling guidelines
  .github/boring-cyborg.yml
  CONTRIBUTING.rst
Labels: area:dev

#7485 [AIRFLOW-6866] Fix wrong export for Mac on Breeze
  breeze
Labels: area:dev

#7487 [AIRFLOW-XXXX] Small BREEZE.rst update
  BREEZE.rst
Labels: area:dev

#7486 [AIRFLOW-4973] Add Cloud Data Fusion Pipeline integration
  airflow/providers/google/cloud/example_dags/example_datafusion.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/operators/datafusion.py
  docs/howto/operator/gcp/datafusion.rst
  docs/operators-and-hooks-ref.rst
  tests/providers/google/cloud/hooks/test_datafusion.py
  tests/providers/google/cloud/operators/test_datafusion.py
Labels: area:operators-hooks, provider:GCP

#7482 [AIRFLOW-6863] Make airflow/task and airflow/ti_deps pylint compatible
  airflow/cli/commands/task_command.py
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/ti_deps/dep_context.py
  airflow/ti_deps/dependencies.py
  airflow/ti_deps/deps/base_ti_dep.py
  airflow/ti_deps/deps/dag_ti_slots_available_dep.py
  airflow/ti_deps/deps/dag_unpaused_dep.py
  airflow/ti_deps/deps/dagrun_exists_dep.py
  airflow/ti_deps/deps/exec_date_after_start_date_dep.py
  airflow/ti_deps/deps/not_in_retry_period_dep.py
  airflow/ti_deps/deps/ready_to_reschedule.py
  airflow/ti_deps/deps/runnable_exec_date_dep.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  airflow/ti_deps/deps/valid_state_dep.py
  airflow/www/views.py
  scripts/ci/pylint_todo.txt
  tests/models/test_taskinstance.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
  tests/www/test_views.py
Labels: area:Scheduler/Executor, area:dev

#7479 [AIRFLOW-6858] Decouple DagBag and Executor
  airflow/models/dagbag.py
  tests/jobs/test_scheduler_job.py
  tests/test_example_dags.py
Labels: area:Scheduler/Executor

#7488 [AIRFLOW-6867] Decouple DagBag and TaskInstance
  airflow/jobs/scheduler_job.py
  airflow/models/dagbag.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagbag.py
Labels: area:Scheduler/Executor

#7406 [AIRFLOW-XXXX] Add architecture section to k8sexec docs
  docs/executor/kubernetes.rst
  docs/img/k8s-0-worker.jpeg
  docs/img/k8s-3-worker.jpeg
  docs/img/k8s-5-worker.jpeg
  docs/img/k8s-failed-pod.png
  docs/img/k8s-happy-path.png
Labels: area:Scheduler/Executor, area:docs

#7472 [AIRFLOW-6850] Handle no access to code in UI
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver

#7457 [AIRFLOW-6837] limit description len of dag in home
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver

#7466 [AIRFLOW-XXXX] Update tests info in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev, area:docs

#7410 [AIRFLOW-6790] Add basic Tableau Integration
  airflow/models/connection.py
  airflow/providers/salesforce/example_dags/__init__.py
  airflow/providers/salesforce/example_dags/example_tableau_refresh_workbook.py
  airflow/providers/salesforce/hooks/tableau.py
  airflow/providers/salesforce/operators/__init__.py
  airflow/providers/salesforce/operators/tableau_refresh_workbook.py
  airflow/providers/salesforce/sensors/__init__.py
  airflow/providers/salesforce/sensors/tableau_job_status.py
  airflow/utils/db.py
  docs/autoapi_templates/index.rst
  docs/operators-and-hooks-ref.rst
  setup.py
  tests/providers/salesforce/hooks/test_tableau.py
  tests/providers/salesforce/operators/__init__.py
  tests/providers/salesforce/operators/test_tableau_refresh_workbook.py
  tests/providers/salesforce/sensors/__init__.py
  tests/providers/salesforce/sensors/test_tableau_job_status.py
Labels: area:docs

#7491 [AIRFLOW-XXXX] Remove duplicate line from breeze
  breeze
Labels: area:dev

#7496 [AIRFLOW-XXXX] Remove unused local variable value
  airflow/www/views.py
Labels: area:Webserver

#7493 [AIRFLOW-6872] Fix: Show Git Version in UI
  MANIFEST.in
  airflow/www/views.py
Labels: area:Webserver

#7191 [AIRFLOW-4030] second attempt to add singularity to airflow
  Dockerfile
  airflow/providers/singularity/__init__.py
  airflow/providers/singularity/example_dags/__init__.py
  airflow/providers/singularity/example_dags/example_singularity_operator.py
  airflow/providers/singularity/operators/__init__.py
  airflow/providers/singularity/operators/singularity.py
  docs/autoapi_templates/index.rst
  docs/operators-and-hooks-ref.rst
  scripts/ci/in_container/entrypoint_ci.sh
  setup.py
  tests/providers/singularity/__init__.py
  tests/providers/singularity/operators/__init__.py
  tests/providers/singularity/operators/test_singularity.py
Labels: area:dev, area:docs

#7513 [AIRFLOW-6890] AzureDataLakeHook: Move DB call out of __init__
  airflow/providers/microsoft/azure/hooks/azure_data_lake.py
  tests/providers/microsoft/azure/hooks/test_azure_data_lake.py
Labels: provider:Azure

#7123 [AIRFLOW-6062] Executor would only delete workers in its own namespace
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/executors/kubernetes_executor.py
  scripts/ci/in_container/kubernetes/setup_kind_cluster.sh
  tests/executors/test_kubernetes_executor.py
  tests/runtime/kubernetes/test_kubernetes_executor.py
Labels: area:Scheduler/Executor, area:dev, k8s

#7516 [AIRFLOW-6894] Prevent DB query in example_dags
  airflow/providers/google/cloud/operators/cloud_sql.py
  tests/test_example_dags.py
  tests/test_utils/asserts.py
Labels: area:performance, provider:GCP

#7395 [AIRFLOW-5629] Implement K8s priorityClassName in KubernetesPo…
  airflow/kubernetes/pod_generator.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  docs/howto/operator/kubernetes.rst
  tests/runtime/kubernetes/test_kubernetes_pod_operator.py
Labels: area:dev, area:docs, k8s

#7439 [AIRFLOW-6204] Create GoogleSystemTest class
  tests/contrib/utils/logging_command_executor.py
  tests/providers/google/cloud/operators/test_automl_system.py
  tests/providers/google/cloud/operators/test_bigquery_dts_system.py
  tests/providers/google/cloud/operators/test_bigquery_dts_system_helper.py
  tests/providers/google/cloud/operators/test_bigquery_system.py
  tests/providers/google/cloud/operators/test_bigquery_system_helper.py
  tests/providers/google/cloud/operators/test_bigtable_system.py
  tests/providers/google/cloud/operators/test_bigtable_system_helper.py
  tests/providers/google/cloud/operators/test_cloud_build_operator_system.py
  tests/providers/google/cloud/operators/test_cloud_memorystore_system.py
  tests/providers/google/cloud/operators/test_cloud_memorystore_system_helper.py
  tests/providers/google/cloud/operators/test_cloud_sql_operatorquery_system.py
  tests/providers/google/cloud/operators/test_cloud_sql_system.py
  tests/providers/google/cloud/operators/test_cloud_storage_transfer_service_system.py
  tests/providers/google/cloud/operators/test_compute_system.py
  tests/providers/google/cloud/operators/test_dataflow_system.py
  tests/providers/google/cloud/operators/test_dataproc_operator_system_helper.py
  tests/providers/google/cloud/operators/test_dataproc_system.py
  tests/providers/google/cloud/operators/test_datastore_system.py
  tests/providers/google/cloud/operators/test_datastore_system_helper.py
  tests/providers/google/cloud/operators/test_dlp_system.py
  tests/providers/google/cloud/operators/test_functions_system.py
  tests/providers/google/cloud/operators/test_gcs_system.py
  tests/providers/google/cloud/operators/test_gcs_to_gcs_operator_system.py
  tests/providers/google/cloud/operators/test_gcs_to_gcs_system_helper.py
  tests/providers/google/cloud/operators/test_gcs_to_sftp_system.py
  tests/providers/google/cloud/operators/test_gcs_to_sftp_system_helper.py
  tests/providers/google/cloud/operators/test_kubernetes_engine_system.py
  tests/providers/google/cloud/operators/test_mlengine_system.py
  tests/providers/google/cloud/operators/test_mlengine_system_helper.py
  tests/providers/google/cloud/operators/test_natural_language_system.py
  tests/providers/google/cloud/operators/test_postgres_to_gcs_system.py
  tests/providers/google/cloud/operators/test_pubsub_system.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs_system.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs_system_helper.py
  tests/providers/google/cloud/operators/test_spanner_system.py
  tests/providers/google/cloud/operators/test_spanner_system_helper.py
  tests/providers/google/cloud/operators/test_speech_system.py
  tests/providers/google/cloud/operators/test_speech_system_helper.py
  tests/providers/google/cloud/operators/test_tasks_system.py
  tests/providers/google/cloud/operators/test_translate_system.py
  tests/providers/google/cloud/operators/test_video_intelligence_system.py
  tests/providers/google/cloud/operators/test_video_intelligence_system_helper.py
  tests/providers/google/cloud/operators/test_vision_system.py
  tests/providers/google/cloud/operators/test_vision_system_helper.py
  tests/providers/google/marketing_platform/operators/test_campaign_manager_system.py
  tests/providers/google/marketing_platform/operators/test_campaign_manager_system_helper.py
  tests/providers/google/marketing_platform/operators/test_display_video_system.py
  tests/providers/google/marketing_platform/operators/test_display_video_system_helper.py
  tests/providers/google/marketing_platform/operators/test_search_ads_system.py
  tests/providers/google/marketing_platform/operators/test_search_ads_system_helper.py
  tests/test_utils/gcp_system_helpers.py
  tests/test_utils/system_tests_class.py
Labels: area:dev, provider:GCP

#7251 [AIRFLOW-6628] DAG auto-complete now suggests from all acessible DAGs
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver

#7446 [AIRFLOW-6474] list_dag_runs cli command should allow exec_date between start/end range and print start/end times
  airflow/bin/cli.py
  airflow/cli/commands/dag_command.py
  airflow/models/dagrun.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI

#7451 [AIRFLOW-6830] Add Subject/MessageAttributes to SNS hook and operator
  airflow/providers/amazon/aws/hooks/sns.py
  airflow/providers/amazon/aws/operators/sns.py
  tests/providers/amazon/aws/hooks/test_sns.py
  tests/providers/amazon/aws/operators/test_sns.py
Labels: provider:AWS

#7517 [AIRFLOW-6817] Lazy-load `airflow.DAG` to keep user-facing API untouched
  UPDATING.md
  airflow/__init__.py
  airflow/example_dags/example_bash_operator.py
  airflow/example_dags/example_branch_operator.py
  airflow/example_dags/example_branch_python_dop_operator_3.py
  airflow/example_dags/example_external_task_marker_dag.py
  airflow/example_dags/example_kubernetes_executor.py
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/example_dags/example_latest_only.py
  airflow/example_dags/example_latest_only_with_trigger.py
  airflow/example_dags/example_passing_params_via_test_command.py
  airflow/example_dags/example_python_operator.py
  airflow/example_dags/example_short_circuit_operator.py
  airflow/example_dags/example_skip_dag.py
  airflow/example_dags/example_subdag_operator.py
  airflow/example_dags/example_trigger_controller_dag.py
  airflow/example_dags/example_trigger_target_dag.py
  airflow/example_dags/example_xcom.py
  airflow/example_dags/subdags/subdag.py
  airflow/example_dags/test_utils.py
  airflow/example_dags/tutorial.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py
  airflow/providers/apache/hive/example_dags/example_twitter_dag.py
  airflow/providers/apache/livy/example_dags/example_livy.py
  airflow/providers/apache/pig/example_dags/example_pig.py
  airflow/providers/cncf/kubernetes/example_dags/example_kubernetes.py
  airflow/providers/databricks/example_dags/example_databricks.py
  airflow/providers/dingding/example_dags/example_dingding.py
  airflow/providers/docker/example_dags/example_docker.py
  airflow/providers/docker/example_dags/example_docker_copy_data.py
  airflow/providers/docker/example_dags/example_docker_swarm.py
  airflow/providers/google/cloud/example_dags/example_dlp.py
  airflow/providers/google/cloud/example_dags/example_tasks.py
  airflow/providers/http/example_dags/example_http.py
  airflow/providers/jenkins/example_dags/example_jenkins_job_trigger.py
  airflow/providers/microsoft/azure/example_dags/example_azure_container_instances.py
  airflow/providers/microsoft/azure/example_dags/example_azure_cosmosdb.py
  airflow/providers/microsoft/winrm/example_dags/example_winrm.py
  airflow/providers/papermill/example_dags/example_papermill.py
  airflow/providers/qubole/example_dags/example_qubole.py
  airflow/providers/salesforce/example_dags/example_tableau_refresh_workbook.py
  airflow/providers/singularity/example_dags/example_singularity_operator.py
  airflow/providers/yandex/example_dags/example_yandexcloud_dataproc.py
  setup.py
Labels: provider:AWS, provider:Apache

#7522 [AIRFLOW-XXXX] correct path to script in TESTING.rst
  TESTING.rst
Labels: area:dev

#7518 [AIRFLOW-6516] Allow different configmaps for airflow.cfg & airflow_l…
  airflow/kubernetes/worker_configuration.py
  tests/kubernetes/test_worker_configuration.py
Labels: k8s

#7519 [AIRFLOW-6895] AzureFileShareHook: Move DB call out of __init__
  airflow/providers/microsoft/azure/hooks/azure_fileshare.py
  tests/providers/microsoft/azure/hooks/test_azure_fileshare.py
Labels: provider:Azure

#7520 [AIRFLOW-6896] AzureCosmosDBHook: Move DB call out of __init__
  airflow/providers/microsoft/azure/hooks/azure_cosmos.py
  tests/providers/microsoft/azure/hooks/test_azure_cosmos.py
  tests/providers/microsoft/azure/operators/test_azure_cosmos.py
Labels: provider:Azure

#7495 [AIRFLOW-6873] fix mypyd errors and add new type annotations
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/dagbag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/settings.py
  airflow/stats.py
  airflow/utils/helpers.py
  airflow/utils/log/logging_mixin.py
Labels: area:Logging, area:Scheduler/Executor

#7515 [AIRFLOW-6838] Add subcommands to Breeze
  .travis.yml
  BREEZE.rst
  LOCAL_VIRTUALENV.rst
  STATIC_CODE_CHECKS.rst
  TESTING.rst
  breeze
  breeze-complete
  hooks/build
  scripts/ci/_utils.sh
  scripts/ci/ci_check_license.sh
  scripts/ci/ci_docs.sh
  scripts/ci/ci_flake8.sh
  scripts/ci/ci_lint_dockerfile.sh
  scripts/ci/ci_mypy.sh
  scripts/ci/ci_pylint_main.sh
  scripts/ci/ci_pylint_tests.sh
  scripts/ci/ci_refresh_pylint_todo.sh
  scripts/ci/ci_run_airflow_testing.sh
  scripts/ci/ci_run_all_static_checks.sh
  scripts/ci/ci_run_static_checks_pylint_tests.sh
  scripts/ci/docker-compose/base.yml
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/pre_commit_breeze_cmd_line.sh
Labels: area:dev

#7524 [AIRFLOW-6905] Update pin.svg with new pinwheel
  airflow/www/static/pin.svg
Labels: area:Webserver

#7525 [AIRFLOW-6906] Fix flaky tests in kubernetes tests
  tests/runtime/kubernetes/test_kubernetes_executor.py
Labels: k8s

#7322 [AIRFLOW-6593] Add GCP Stackdriver Alerting Hooks and Operators
  airflow/providers/google/cloud/example_dags/example_stackdriver.py
  airflow/providers/google/cloud/hooks/stackdriver.py
  airflow/providers/google/cloud/operators/stackdriver.py
  docs/conf.py
  docs/howto/operator/gcp/stackdriver.rst
  docs/operators-and-hooks-ref.rst
  setup.py
  tests/providers/google/cloud/hooks/test_stackdriver.py
  tests/providers/google/cloud/operators/test_stackdriver.py
Labels: area:docs, provider:GCP

#7528 [AIRFLOW-6908] Lazy load AirflowException
  airflow/__init__.py
  airflow/providers/google/cloud/hooks/stackdriver.py
Labels: provider:GCP

#7529 [AIRFLOW-6909] Prepare backport packages on post-test stage
  .travis.yml
Labels: area:dev

#6574 [AIRFLOW-5924] Automatically unify bucket name and key in S3Hook
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: provider:AWS

#7531 [AIRFLOW-6910] Fix kill_zombie method call
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#7527 [AIRFLOW-6907] Simplify SchedulerJob
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#7540 [AIRFLOW-XXXX] Add instructions on using templating in Bash Script
  docs/howto/operator/bash.rst
Labels: area:docs

#7443 [AIRFLOW-6824] EMRAddStepsOperator problem with multi-step XCom
  airflow/providers/amazon/aws/operators/emr_add_steps.py
  tests/providers/amazon/aws/operators/test_emr_add_steps.py
Labels: provider:AWS

#7538 [AIRFLOW-6382] Add reason for pre-commit rule
  .pre-commit-config.yaml
Labels: area:dev

#7539 [AIRFLOW-6919] Make Breeze DAG-test friedly
  BREEZE.rst
  TESTING.rst
  breeze
  docs/howto/use-test-config.rst
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev, area:docs
