Repository apache/airflow, pull requests merged in 2020-01, with the labels that each got.

#7006 [AIRFLOW-6112] [AIP-21] Rename GCP SQL operators and hooks
  UPDATING.md
  airflow/contrib/hooks/gcp_sql_hook.py
  airflow/contrib/operators/gcp_sql_operator.py
  airflow/gcp/example_dags/example_cloud_sql.py
  airflow/gcp/example_dags/example_cloud_sql_query.py
  airflow/gcp/hooks/cloud_sql.py
  airflow/gcp/operators/cloud_sql.py
  airflow/models/connection.py
  tests/gcp/hooks/test_cloud_sql.py
  tests/gcp/operators/test_cloud_sql.py
  tests/test_core_to_contrib.py
Labels: AIP-21, provider:GCP

#6995 [AIRFLOW-6353] security - ui - add click jacking defence
  airflow/config_templates/default_airflow.cfg
  airflow/www/app.py
  docs/security.rst
Labels: security

#7012 [AIRFLOW-6433] reduce conf.get lookups in scheduler_job.py loops
  airflow/jobs/scheduler_job.py
Labels: area:performance

#7058 [AIRFLOW-XXXX] Add more files for area:dev label
  .github/boring-cyborg.yml
Labels: area:dev

#7057 [AIRFLOW-6462] Limit exported variables in Dockerfile/Breeze
  Dockerfile
  scripts/ci/in_container/run_check_licence.sh
Labels: area:dev

#7064 [AIRFLOW-6471] Add pytest-instafail plugin
  scripts/ci/in_container/entrypoint_ci.sh
  setup.py
Labels: area:dev

#7063 [AIRFLOW-6470] Avoid pipe to file when do curl
  Dockerfile
Labels: area:dev

#7033 [AIRFLOW-6437] Sql filters - remove in (NULL)
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/dagrun.py
Labels: area:Scheduler/Executor

#7016 Fixed communication ids
  docs/executor/celery.rst
Labels: area:Scheduler/Executor, area:docs

#7050 [AIRFLOW-XXXX] Update types in docstrings
  airflow/contrib/operators/azure_container_instances_operator.py
  airflow/contrib/operators/emr_add_steps_operator.py
  airflow/sensors/base_sensor_operator.py
  airflow/sensors/external_task_sensor.py
Labels: provider:AWS, provider:Azure

#7014 [AIRFLOW-XXXX] Add `airflow dags show` command guide
  airflow/example_dags/example_complex.py
  docs/img/usage_cli_export.png
  docs/img/usage_cli_imgcat.png
  docs/ui.rst
  docs/usage-cli.rst
Labels: area:docs

#6999 [AIRFLOW-XXXX] Clarify wait_for_downstream and execution_date
  airflow/models/baseoperator.py
  airflow/ti_deps/deps/prev_dagrun_dep.py
  docs/autoapi_templates/index.rst
  docs/cli-ref.rst
  docs/concepts.rst
  docs/faq.rst
  docs/howto/operator/index.rst
  docs/macros-ref.rst
  docs/tutorial.rst
Labels: area:docs

#7066 [AIRFLOW-6476] Fix directories created by docker
  .rat-excludes
  scripts/ci/_utils.sh
Labels: area:dev

#7071 [AIRFLOW-XXXX] Add config to welcome first time contributors
  .github/boring-cyborg.yml
Labels: area:dev

#7025 [AIRFLOW-5621] - Failure callback is not triggered when marked Failed on UI
  UPDATING.md
  airflow/jobs/local_task_job.py
  tests/jobs/test_local_task_job.py
Labels: area:Scheduler/Executor

#7076 [AIRFLOW-6484] BigQuery hook - standardize handling http exceptions
  airflow/gcp/hooks/bigquery.py
Labels: provider:GCP

#7074 [AIRFLOW-XXXX] Fix a typo in flower command
  airflow/cli/commands/celery_command.py
Labels: area:CLI

#7078 [AIRFLOW-XXXX] Boring cyborg automatically inserts issue link
  .github/PULL_REQUEST_TEMPLATE.md
  .github/boring-cyborg.yml
Labels: area:dev

#7077 [AIRFLOW-6485] BigQuery hook - add missing tests
  tests/gcp/hooks/test_bigquery.py
Labels: provider:GCP

#7080 [AIRFLOW-6488] Add missing relation to op4
  docs/concepts.rst
Labels: area:docs

#7082 [AIRFLOW-XXXX] Add useful tips to first PR msg
  .github/boring-cyborg.yml
Labels: area:dev

#7044 [AIRFLOW-6456] Remove create_mock_args in CLI tests
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI

#7037 [AIRFLOW-6360] 'Recent tasks' stats only show non-completed dagruns option
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/views.py
  docs/ui.rst
  tests/www/test_views.py
Labels: area:Webserver, area:docs

#7086 [AIRFLOW-XXXX] Fix typos and broken links in development docs
  BREEZE.rst
  TESTING.rst
  breeze
Labels: area:dev, area:docs

#7000 [AIRFLOW-6113] [AIP-21] Rename GCP transfer operator
  UPDATING.md
  airflow/contrib/hooks/gcp_transfer_hook.py
  airflow/contrib/operators/gcp_transfer_operator.py
  airflow/contrib/operators/gcs_to_gcs_transfer_operator.py
  airflow/contrib/operators/s3_to_gcs_transfer_operator.py
  airflow/contrib/sensors/gcp_transfer_sensor.py
  airflow/gcp/example_dags/example_cloud_storage_transfer_service.py
  airflow/gcp/hooks/cloud_storage_transfer_service.py
  airflow/gcp/operators/cloud_storage_transfer_service.py
  airflow/gcp/sensors/cloud_storage_transfer_service.py
  docs/howto/operator/gcp/cloud_storage_transfer_service.rst
  tests/gcp/hooks/test_cloud_storage_transfer_service.py
  tests/gcp/operators/test_cloud_storage_transfer_service.py
  tests/gcp/sensors/test_cloud_storage_transfer_service.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#6985 [AIRFLOW-6381] Remove styling based on DAG id from DAGs page
  airflow/www/templates/airflow/dags.html
Labels: area:Webserver

#7093 [AIRFLOW-6498] BigQuery operator tests - add deprecation tests
  tests/gcp/operators/test_bigquery.py
Labels: provider:GCP

#7021 [AIRFLOW-6116] [AIP-21] Rename GCP MLEngine operators
  UPDATING.md
  airflow/contrib/operators/mlengine_operator.py
  airflow/gcp/example_dags/example_mlengine.py
  airflow/gcp/operators/mlengine.py
  airflow/gcp/utils/mlengine_operator_utils.py
  tests/gcp/operators/test_mlengine.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#7081 [AIRFLOW-6489] Add BATS support for Bash unit testing
  .pre-commit-config.yaml
  BREEZE.rst
  TESTING.rst
  breeze-complete
  scripts/ci/_utils.sh
  scripts/ci/ci_bat_tests.sh
  scripts/ci/pre_commit_bat_tests.sh
  tests/bats/bats_utils.bash
  tests/bats/test_empty_test.bats
Labels: area:dev

#7092 [AIRFLOW-6347] BugFix: Can't get task logs when serialization is enabled
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/utils/decorators.py
  tests/serialization/test_dag_serialization.py
Labels: area:Serialization

#7084 [AIRFLOW-6491] improve parameter handling in breeze
  .pre-commit-config.yaml
  breeze
  scripts/ci/_utils.sh
  tests/bats/bats_utils.bash
  tests/bats/test_breeze_params.bats
Labels: area:dev

#7065 [AIRFLOW-6475] Remove duplication of volume mount specs in Breeze.
  scripts/ci/_utils.sh
  scripts/ci/docker-compose-local.yml
  tests/bats/test_yaml_parser.bats
Labels: area:dev

#6811 [AIRFLOW-6245] Add custom waiters for AWS batch jobs
  UPDATING.md
  airflow/contrib/operators/awsbatch_operator.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/hooks/batch_waiters.json
  airflow/providers/amazon/aws/hooks/batch_waiters.py
  airflow/providers/amazon/aws/operators/batch.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/hooks/test_batch_client.py
  tests/providers/amazon/aws/hooks/test_batch_waiters.py
  tests/providers/amazon/aws/operators/test_batch.py
  tests/test_core_to_contrib.py
Labels: area:docs, provider:AWS

#7046 [AIRFLOW-6118] [AIP-21] Rename Google Pubsub operators and hook
  UPDATING.md
  airflow/contrib/operators/pubsub_operator.py
  airflow/providers/google/cloud/example_dags/example_pubsub.py
  airflow/providers/google/cloud/operators/pubsub.py
  docs/howto/operator/gcp/pubsub.rst
  tests/providers/google/cloud/hooks/test_pubsub.py
  tests/providers/google/cloud/operators/test_pubsub.py
  tests/test_core_to_contrib.py
Labels: area:docs, provider:GCP

#7004 [AIRFLOW-6111] [AIP-21] Rename GCP spanner operator and hook
  UPDATING.md
  airflow/contrib/hooks/gcp_spanner_hook.py
  airflow/contrib/operators/gcp_spanner_operator.py
  airflow/gcp/example_dags/example_spanner.py
  airflow/gcp/operators/spanner.py
  docs/howto/operator/gcp/spanner.rst
  tests/gcp/operators/test_spanner.py
  tests/test_core_to_contrib.py
Labels: AIP-21, area:docs, provider:GCP

#7097 [AIRFLOW-6504] Allow specifying configmap for Airflow Local Setting
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/worker_configuration.py
  tests/kubernetes/test_worker_configuration.py
Labels: area:Scheduler/Executor, k8s

#7101 [AIRFLOW-6509] Description for how to create an user is incorrect in some docs.
  docs/security.rst
  docs/start.rst
Labels: area:docs

#7068 [AIRFLOW-6479] Update celery command calls
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/celery_executor.py
  docs/concepts.rst
  docs/executor/celery.rst
  scripts/ci/kubernetes/app/templates/configmaps.template.yaml
  scripts/systemd/airflow-flower.service
  scripts/systemd/airflow-worker.service
  scripts/upstart/airflow-flower.conf
  scripts/upstart/airflow-worker.conf
Labels: area:Scheduler/Executor, area:dev, area:docs

#7103 [AIRFLOW-6511] Remove BATS docker containers
  scripts/ci/_utils.sh
Labels: area:dev

#7104 [AIRFLOW-XXXX] Clear debug docs
  TESTING.rst
Labels: area:dev

#7105 [AIRFLOW-6513] Add web_pdb/pudb support in post_mortem option
  airflow/cli/commands/task_command.py
Labels: area:CLI

#7108 [AIRFLOW-XXXX] Move airflow-config-yaml pre-commit before pylint
  .pre-commit-config.yaml
Labels: area:dev

#7109 [AIRFLOW-6516] BugFix: airflow.cfg does not exist in Volume Mounts
  airflow/kubernetes/worker_configuration.py
  tests/kubernetes/test_worker_configuration.py
Labels: k8s

#7111 [AIRFLOW-6517] make merge_dicts function recursive
  airflow/utils/log/json_formatter.py
  tests/utils/log/test_json_formatter.py
Labels: area:Logging

#6881 [AIRFLOW-6326] Sort cli commands and arg
  airflow/bin/cli.py
Labels: area:CLI

#7089 [AIRFLOW-6452] scheduler_job.py - remove excess sleep/log/duration calls
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#7112 [AIRFLOW-6125] Rename S3 and SFTP operators
  airflow/contrib/operators/s3_to_gcs_operator.py
  airflow/providers/google/cloud/example_dags/example_sftp_to_gcs.py
  airflow/providers/google/cloud/operators/sftp_to_gcs.py
  docs/howto/operator/gcp/sftp_to_gcs.rst
  tests/contrib/operators/test_s3_to_gcs_operator.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs.py
Labels: area:docs, provider:AWS, provider:GCP

#7090 [AIRFLOW-6495] Load DAG only once when running a task using StandardTaskRunner
  airflow/task/task_runner/standard_task_runner.py
Labels: area:Scheduler/Executor

#7083 [AIRFLOW-6490] Improve time delta comparison in local task job tests
  tests/jobs/test_local_task_job.py
Labels: area:Scheduler/Executor

#7113 [AIRFLOW-6519] Make TI logs constants in Webserver configurable
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/app.py
  airflow/www/templates/airflow/ti_log.html
Labels: area:Webserver

#7114 [AIRFLOW-5413] Refactor worker config
  airflow/contrib/operators/kubernetes_pod_operator.py
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/worker_configuration.py
  tests/executors/test_kubernetes_executor.py
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
  tests/kubernetes/models/test_pod.py
  tests/kubernetes/models/test_secret.py
  tests/kubernetes/test_pod_generator.py
  tests/kubernetes/test_worker_configuration.py
Labels: area:Scheduler/Executor, k8s

#7019 [AIRFLOW-6438] Filter dags returned by blocked
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:Webserver

#6633 [AIRFLOW-2279] Clear tasks across DAGs if marked by ExternalTaskMarker
  airflow/example_dags/example_external_task_marker_dag.py
  airflow/models/dag.py
  airflow/sensors/external_task_sensor.py
  airflow/www/views.py
  docs/howto/operator/external.rst
  docs/howto/operator/index.rst
  tests/sensors/test_external_task_sensor.py
Labels: area:Webserver, area:docs

#7094 Update start.rst to reference specific DAG
  docs/start.rst
Labels: area:docs

#7117 [AIRFLOW-6520] Simplify `airflow config` command
  airflow/cli/commands/config_command.py
  tests/cli/commands/test_config_command.py
Labels: area:CLI

#7124 [AIRFLOW-6528] disable flake8 W503 line break before binary operator
  .flake8
Labels: area:dev

#7122 [AIRFLOW-6506] do_xcom_push defaulting to True
  airflow/contrib/operators/kubernetes_pod_operator.py
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
Labels: k8s

#7121 [AIRFLOW-6526] Remove unused line in k8s worker_configuration.py
  airflow/kubernetes/worker_configuration.py
Labels: k8s

#7135 [AIRFLOW-XXXX] Fix reference in concepts doc
  docs/concepts.rst
Labels: area:docs

#6516 [AIRFLOW-5704] Improve Kind Kubernetes scripts for local testing
  .dockerignore
  .gitignore
  .rat-excludes
  .travis.yml
  BREEZE.rst
  Dockerfile
  breeze
  breeze-complete
  hooks/build
  scripts/ci/_utils.sh
  scripts/ci/ci_before_install.sh
  scripts/ci/ci_run_airflow_testing.sh
  scripts/ci/docker-compose-kubernetes.yml
  scripts/ci/docker-compose-local.yml
  scripts/ci/docker-compose.yml
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/deploy_airflow_to_kubernetes.sh
  scripts/ci/in_container/entrypoint_ci.sh
  scripts/ci/in_container/kubernetes/app/deploy_app.sh
  scripts/ci/in_container/kubernetes/app/postgres.yaml
  scripts/ci/in_container/kubernetes/app/secrets.yaml
  scripts/ci/in_container/kubernetes/app/templates/airflow.template.yaml
  scripts/ci/in_container/kubernetes/app/templates/configmaps.template.yaml
  scripts/ci/in_container/kubernetes/app/templates/init_git_sync.template.yaml
  scripts/ci/in_container/kubernetes/app/volumes.yaml
  scripts/ci/in_container/kubernetes/docker/airflow-test-env-init.sh
  scripts/ci/in_container/kubernetes/docker/bootstrap.sh
  scripts/ci/in_container/kubernetes/docker/rebuild_airflow_image.sh
  scripts/ci/in_container/kubernetes/kind-cluster-conf.yaml
  scripts/ci/in_container/kubernetes/setup_kubernetes.sh
  scripts/ci/kubernetes/app/deploy_app.sh
  scripts/ci/kubernetes/docker/build.sh
  scripts/ci/kubernetes/setup_kubernetes.sh
  scripts/ci/local_ci_fix_ownership.sh
  scripts/ci/local_ci_stop_environment.sh
  tests/bats/test_yaml_parser.bats
  tests/integration/kubernetes/test_kubernetes_executor.py
  tests/integration/kubernetes/test_kubernetes_pod_operator.py
  tests/test_core.py
Labels: area:dev, dev-env, k8s, prod-image

#7140 [AIRFLOW-6537] Fix backticks in rst files
  .pre-commit-config.yaml
  docs/security.rst
  docs/usage-cli.rst
Labels: area:dev, area:docs

#7125 [AIRFLOW-6119] [AIP-21] Rename GCS operators, hooks and sensors
  UPDATING.md
  airflow/contrib/hooks/gcs_hook.py
  airflow/contrib/operators/gcs_acl_operator.py
  airflow/contrib/operators/gcs_delete_operator.py
  airflow/contrib/operators/gcs_download_operator.py
  airflow/contrib/operators/gcs_list_operator.py
  airflow/contrib/operators/gcs_operator.py
  airflow/contrib/operators/gcs_to_gdrive_operator.py
  airflow/contrib/operators/s3_to_gcs_operator.py
  airflow/contrib/sensors/gcs_sensor.py
  airflow/gcp/example_dags/example_cloud_memorystore.py
  airflow/gcp/example_dags/example_cloud_sql.py
  airflow/gcp/example_dags/example_gcs.py
  airflow/gcp/hooks/gcs.py
  airflow/gcp/operators/bigquery.py
  airflow/gcp/operators/dataflow.py
  airflow/gcp/operators/datastore.py
  airflow/gcp/operators/gcs.py
  airflow/gcp/operators/text_to_speech.py
  airflow/gcp/sensors/gcs.py
  airflow/gcp/utils/mlengine_operator_utils.py
  airflow/operators/adls_to_gcs.py
  airflow/operators/cassandra_to_gcs.py
  airflow/operators/gcs_to_bq.py
  airflow/operators/gcs_to_gcs.py
  airflow/operators/gcs_to_s3.py
  airflow/operators/gcs_to_sftp.py
  airflow/operators/local_to_gcs.py
  airflow/operators/sql_to_gcs.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/sftp_to_gcs.py
  airflow/providers/google/marketing_platform/operators/campaign_manager.py
  airflow/providers/google/marketing_platform/operators/display_video.py
  airflow/providers/google/marketing_platform/operators/search_ads.py
  airflow/utils/log/gcs_task_handler.py
  tests/contrib/operators/test_gcs_to_gdrive.py
  tests/contrib/operators/test_s3_to_gcs_operator.py
  tests/gcp/hooks/test_gcs.py
  tests/gcp/operators/test_gcs.py
  tests/gcp/operators/test_mlengine_utils.py
  tests/gcp/operators/test_text_to_speech.py
  tests/gcp/sensors/test_gcs.py
  tests/operators/test_adls_to_gcs_operator.py
  tests/operators/test_cassandra_to_gcs.py
  tests/operators/test_gcs_to_gcs.py
  tests/operators/test_gcs_to_s3.py
  tests/operators/test_gcs_to_sftp.py
  tests/operators/test_local_to_gcs.py
  tests/operators/test_mssql_to_gcs.py
  tests/operators/test_mysql_to_gcs.py
  tests/operators/test_postgres_to_gcs.py
  tests/providers/google/cloud/operators/test_sftp_to_gcs.py
  tests/providers/google/marketing_platform/operators/test_campaign_manager.py
  tests/providers/google/marketing_platform/operators/test_display_video.py
  tests/providers/google/marketing_platform/operators/test_search_ads.py
  tests/test_core_to_contrib.py
Labels: provider:AWS, provider:Azure, provider:GCP

#7149 [AIRFLOW-6545] Add commit message validation
  .github/boring-cyborg.yml
Labels: area:dev

#6993 [AIRFLOW-4502] new cli command - task_states_for_dag_run
  airflow/bin/cli.py
  airflow/cli/commands/task_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI, area:Webserver

#7151 [AIRFLOW-6102] [AIP-21] Rename Dataproc operators
  UPDATING.md
  airflow/contrib/hooks/gcp_dataproc_hook.py
  airflow/contrib/operators/dataproc_operator.py
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/test_core_to_contrib.py
Labels: provider:GCP

#7155 [AIRFLOW-XXXX] Remove trailing slash of JIRA issue link
  .github/boring-cyborg.yml
Labels: area:dev

#7156 [AIRFLOW-XXXX] Add instructions to mark the boxes.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area:dev

#7152 [AIRFLOW-6548] Restore GCS tests removed by migration
  tests/gcp/sensors/test_gcs.py
Labels: provider:GCP

#7118 [AIRFLOW-6521]: add project param to bigQuery hook .getSchema method
  airflow/gcp/hooks/bigquery.py
  tests/gcp/hooks/test_bigquery.py
Labels: provider:GCP

#6988 [AIRFLOW-2516] Fix mysql deadlocks
  airflow/jobs/scheduler_job.py
Labels: area:Scheduler/Executor

#7154 [AIRFLOW-6107] [AIP-21] Rename GCP container operators
  UPDATING.md
  airflow/contrib/hooks/gcp_container_hook.py
  airflow/contrib/operators/gcp_container_operator.py
  airflow/gcp/example_dags/example_kubernetes_engine.py
  airflow/gcp/hooks/kubernetes_engine.py
  airflow/gcp/operators/kubernetes_engine.py
  tests/gcp/hooks/test_kubernetes_engine.py
  tests/gcp/operators/test_kubernetes_engine.py
  tests/test_core_to_contrib.py
Labels: k8s, provider:GCP

#7131 [AIRFLOW-6534] - BigQuery - move methods from BigQueryBaseCursor to BigQueryHook
  UPDATING.md
  airflow/gcp/hooks/bigquery.py
  airflow/gcp/operators/bigquery.py
  tests/gcp/hooks/test_bigquery.py
  tests/gcp/operators/test_bigquery.py
Labels: provider:GCP

#7161 [AIRFLOW-XXXX] Update task lifecycle diagram
  docs/img/task_lifecycle_diagram.png
Labels: area:docs

#7120 [AIRFLOW-6522] Clear log file to fix duplication in S3TaskHandler
  airflow/utils/log/s3_task_handler.py
  tests/utils/log/test_s3_task_handler.py
Labels: area:Logging, provider:AWS

#7127 [AIRFLOW-6510] - Fix druid operator templating
  airflow/providers/apache/druid/operators/druid.py
  tests/providers/apache/druid/operators/test_druid.py
Labels: provider:Apache

#7147 [AIRFLOW-6146] [AIP-21] Rename GCS operators regarding GDrive, BQ and SFTP
  airflow/contrib/example_dags/example_gcs_to_gdrive.py
  airflow/contrib/operators/gcs_to_bq.py
  airflow/contrib/operators/gcs_to_gdrive_operator.py
  airflow/example_dags/example_gcs_to_bq.py
  airflow/example_dags/example_gcs_to_sftp.py
  airflow/operators/gcs_to_bq.py
  airflow/operators/gcs_to_sftp.py
  docs/howto/operator/gcp/gcs_to_gdrive.rst
  docs/howto/operator/gcp/gcs_to_sftp.rst
  tests/contrib/operators/test_gcs_to_gdrive.py
  tests/operators/test_gcs_to_sftp.py
  tests/test_core_to_contrib.py
Labels: area:docs, provider:GCP

#7165 [AIRFLOW-XXXX] Temporarily disable Kerberos to get test stability
  .travis.yml
Labels: area:dev

#7164 [AIRFLOW-XXXX]: Set test env vars in confttest.py, not Breeze entrypoint
  scripts/ci/in_container/entrypoint_ci.sh
  tests/conftest.py
Labels: area:dev

#7174 [AIRFLOW-6566][AIRFLOW-4029] Replace uses of imp still left with importlib.
  airflow/models/dagbag.py
  airflow/plugins_manager.py
Labels: area:Plugins

#7176 [AIRFLOW-6570] Add dag tag for all example dag
  airflow/contrib/example_dags/example_azure_container_instances_operator.py
  airflow/contrib/example_dags/example_azure_cosmosdb_sensor.py
  airflow/contrib/example_dags/example_databricks_operator.py
  airflow/contrib/example_dags/example_dingding_operator.py
  airflow/contrib/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/contrib/example_dags/example_emr_job_flow_manual_steps.py
  airflow/contrib/example_dags/example_gcs_to_gdrive.py
  airflow/contrib/example_dags/example_kubernetes_executor.py
  airflow/contrib/example_dags/example_kubernetes_executor_config.py
  airflow/contrib/example_dags/example_kubernetes_operator.py
  airflow/contrib/example_dags/example_papermill_operator.py
  airflow/contrib/example_dags/example_qubole_operator.py
  airflow/contrib/example_dags/example_qubole_sensor.py
  airflow/contrib/example_dags/example_twitter_dag.py
  airflow/contrib/example_dags/example_winrm_operator.py
  airflow/example_dags/example_complex.py
  airflow/example_dags/example_external_task_marker_dag.py
  airflow/example_dags/example_postgres_to_gcs.py
  airflow/example_dags/tutorial.py
  airflow/gcp/example_dags/example_automl_nl_text_classification.py
  airflow/gcp/example_dags/example_automl_nl_text_extraction.py
  airflow/gcp/example_dags/example_automl_nl_text_sentiment.py
  airflow/gcp/example_dags/example_automl_tables.py
  airflow/gcp/example_dags/example_automl_translation.py
  airflow/gcp/example_dags/example_automl_video_intelligence_classification.py
  airflow/gcp/example_dags/example_automl_video_intelligence_tracking.py
  airflow/gcp/example_dags/example_automl_vision_classification.py
  airflow/gcp/example_dags/example_automl_vision_object_detection.py
  airflow/gcp/example_dags/example_bigquery.py
  airflow/gcp/example_dags/example_bigquery_dts.py
  airflow/gcp/example_dags/example_bigtable.py
  airflow/gcp/example_dags/example_cloud_build.py
  airflow/gcp/example_dags/example_cloud_memorystore.py
  airflow/gcp/example_dags/example_cloud_sql.py
  airflow/gcp/example_dags/example_cloud_sql_query.py
  airflow/gcp/example_dags/example_cloud_storage_transfer_service.py
  airflow/gcp/example_dags/example_compute.py
  airflow/gcp/example_dags/example_compute_igm.py
  airflow/gcp/example_dags/example_dataflow.py
  airflow/gcp/example_dags/example_datastore.py
  airflow/gcp/example_dags/example_dlp_operator.py
  airflow/gcp/example_dags/example_functions.py
  airflow/gcp/example_dags/example_gcs.py
  airflow/gcp/example_dags/example_kubernetes_engine.py
  airflow/gcp/example_dags/example_mlengine.py
  airflow/gcp/example_dags/example_spanner.py
  airflow/gcp/example_dags/example_speech.py
  airflow/gcp/example_dags/example_tasks.py
  airflow/gcp/example_dags/example_translate.py
  airflow/gcp/example_dags/example_video_intelligence.py
  airflow/providers/amazon/aws/example_dags/example_datasync_1.py
  airflow/providers/amazon/aws/example_dags/example_datasync_2.py
Labels: provider:GCP

#7173 [AIRFLOW-6565] BigQuery - replace deprecated connection parameters
  airflow/gcp/operators/bigquery.py
Labels: provider:GCP

#7172 [AIRFLOW-6564] Additional diagnostics information on CI check failure
  airflow/bin/cli.py
  airflow/cli/commands/db_command.py
  airflow/utils/db.py
  scripts/ci/in_container/check_environment.sh
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:CLI, area:Scheduler/Executor, area:dev

#7185 [AIRFLOW-6575] Entropy source for CI tests is changed to unblocking
  scripts/ci/docker-compose/backend-mysql.yml
  scripts/ci/docker-compose/backend-postgres.yml
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/integration-cassandra.yml
  scripts/ci/docker-compose/integration-kerberos.yml
  scripts/ci/docker-compose/integration-mongo.yml
  scripts/ci/docker-compose/integration-openldap.yml
  scripts/ci/docker-compose/integration-rabbitmq.yml
  scripts/ci/docker-compose/integration-redis.yml
Labels: area:dev

#7159 [AIRFLOW-6553] [UI] Add upstream_failed in instance state filter
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/tree.html
Labels: area:Webserver

#7189 [AIRFLOW-XXXX] Move email configuration from the concept page
  docs/concepts.rst
  docs/howto/email-config.rst
  docs/howto/index.rst
Labels: area:docs

#6124 [AIRFLOW-5501] in_cluster default value in KubernetesPodOperator overwrites configuration
  airflow/contrib/operators/kubernetes_pod_operator.py
Labels: k8s

#4751 [AIRFLOW-3607] collected trigger rule dep check per dag run
  airflow/jobs/scheduler_job.py
  airflow/models/dagrun.py
  airflow/ti_deps/dep_context.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagrun.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Labels: area:Scheduler/Executor

#7188 [AIRFLOW-XXXX] Add link for operators guide in first PR message
  .github/boring-cyborg.yml
  docs/howto/custom-operator.rst
Labels: area:dev, area:docs

#7193 [AIRFLOW-XXXX] Adds branching strategy to documentation
  CONTRIBUTING.rst
Labels: area:dev

#7162 [AIRFLOW-6557] Add test for newly added fields in BaseOperator
  tests/serialization/test_dag_serialization.py
Labels: area:Serialization

#7186 [AIRFLOW-6473] Show conf in response of dag_state cli command
  UPDATING.md
  airflow/cli/commands/dag_command.py
Labels: area:CLI

#7146 [AIRFLOW-6541] Use EmrJobFlowSensor for other states
  airflow/providers/amazon/aws/sensors/emr_base.py
  airflow/providers/amazon/aws/sensors/emr_job_flow.py
  airflow/providers/amazon/aws/sensors/emr_step.py
  tests/providers/amazon/aws/sensors/test_emr_base.py
  tests/providers/amazon/aws/sensors/test_emr_job_flow.py
Labels: provider:AWS

#7200 [AIRFLOW-XXXX] Increease verbosity of static checks in CI
  .rat-excludes
  scripts/ci/ci_run_all_static_tests.sh
  scripts/ci/pre_commit_check_license.sh
Labels: area:dev

#7198 [AIRFLOW-6583] (BigQuery) Add query_params to templated_fields
  airflow/gcp/operators/bigquery.py
Labels: provider:GCP

#7201 [AIRFLOW-XXXX] Add rebase info to contributing
  CONTRIBUTING.rst
Labels: area:dev

#7202 [AIRFLOW-XXXX] Add mentoring information to contributing docs
  CONTRIBUTING.rst
Labels: area:dev

#7208 [AIRFLOW-6592] Doc build is moved to test phase
  .travis.yml
Labels: area:dev

#6850 [AIRFLOW-6296] add ODBC hook & deprecation warning for pymssql
  Dockerfile
  airflow/hooks/mssql_hook.py
  airflow/models/connection.py
  airflow/operators/mssql_operator.py
  airflow/providers/odbc/__init__.py
  airflow/providers/odbc/hooks/__init__.py
  airflow/providers/odbc/hooks/odbc.py
  airflow/sensors/sql_sensor.py
  airflow/utils/helpers.py
  airflow/utils/log/json_formatter.py
  docs/autoapi_templates/index.rst
  docs/conf.py
  docs/howto/connection/odbc.rst
  docs/installation.rst
  docs/operators-and-hooks-ref.rst
  setup.py
  tests/operators/test_mssql_operator.py
  tests/providers/odbc/hooks/test_odbc.py
  tests/utils/log/test_json_formatter.py
  tests/utils/test_helpers.py
Labels: area:Logging, area:dev, area:docs, area:operators-hooks

#7209 [AIRFLOW-6594] Raise an exception when the GCP connection is misconfigured
  airflow/gcp/hooks/base.py
  docs/howto/connection/gcp.rst
  tests/gcp/hooks/test_base.py
Labels: area:docs, provider:GCP

#7187 [AIRFLOW-6576] fix scheduler crash caused by deleted task with sla misses
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler/Executor

#7211 [AIRFLOW-6596] Enforce description should not be empty
  .github/mergeable.yml
Labels: area:dev

#7210 [AIRFLOW-6595] Use TaskNotFound exception instead of AirflowException
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
Labels: area:Scheduler/Executor

#7160 [AIRFLOW-1467] Dynamic pooling via allowing tasks to use more than one pool slot (depending upon the need)
  airflow/migrations/versions/a4c2fd67d16b_add_pool_slots_field_to_task_instance.py
  airflow/models/baseoperator.py
  airflow/models/pool.py
  airflow/models/taskinstance.py
  airflow/serialization/schema.json
  airflow/ti_deps/deps/pool_slots_available_dep.py
  tests/models/test_pool.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
  tests/test_sentry.py
  tests/ti_deps/deps/test_dag_ti_slots_available_dep.py
  tests/ti_deps/deps/test_pool_slots_available_dep.py
Labels: area:Serialization

#7203 [AIRFLOW-6589] BAT tests run in pre-commit on bash script changes
  .pre-commit-config.yaml
  scripts/ci/pre_commit_bat_tests.sh
Labels: area:dev

#6590 [AIRFLOW-5520] Add options to run Dataflow in a virtual environment
  airflow/gcp/example_dags/example_dataflow.py
  airflow/gcp/hooks/dataflow.py
  airflow/gcp/operators/dataflow.py
  airflow/operators/python_operator.py
  airflow/utils/process_utils.py
  airflow/utils/python_virtualenv.py
  tests/gcp/operators/test_dataflow.py
  tests/gcp/operators/test_mlengine_utils.py
  tests/utils/test_process_utils.py
  tests/utils/test_python_virtualenv.py
Labels: provider:GCP

#7212 [AIRFLOW-XXXX] Update committers list
  docs/project.rst
Labels: area:docs

#7138 [AIRFLOW-5912] Expose lineage API
  .rat-excludes
  airflow/api/client/api_client.py
  airflow/api/client/json_client.py
  airflow/api/client/local_client.py
  airflow/api/common/experimental/get_lineage.py
  airflow/example_dags/example_papermill_operator.py
  airflow/example_dags/input_notebook.ipynb
  airflow/lineage/__init__.py
  airflow/www/api/experimental/endpoints.py
  docs/rest-api-ref.rst
  setup.py
  tests/lineage/test_lineage.py
  tests/www/api/experimental/test_endpoints.py
Labels: area:Lineage, area:Webserver, area:dev, area:docs

#7225 [AIRFLOW-6607] Get rid of old local scripts for Breeze
  BREEZE.rst
  breeze
  scripts/ci/_utils.sh
  scripts/ci/ci_cleanup.sh
  scripts/ci/ci_fix_ownership.sh
  scripts/ci/local_ci_build.sh
  scripts/ci/local_ci_build_ci_image.sh
  scripts/ci/local_ci_build_ci_slim_image.sh
  scripts/ci/local_ci_enter_environment.sh
  scripts/ci/local_ci_pull_and_build.sh
  scripts/ci/local_ci_run_airflow_testing.sh
  scripts/ci/local_ci_stop_environment.sh
  scripts/ci/pre_commit_ci_build.sh
Labels: area:dev

#7226 [AIRFLOW-XXXX] Screenshot showing disk space configuration for OSX
  BREEZE.rst
  images/disk_space_osx.png
Labels: area:dev

#7220 [AIRFLOW-6145] [AIP-21] Rename GCS related operators and hooks
  airflow/contrib/operators/adls_to_gcs.py
  airflow/contrib/operators/bigquery_to_gcs.py
  airflow/contrib/operators/cassandra_to_gcs.py
  airflow/contrib/operators/file_to_gcs.py
  airflow/contrib/operators/gcs_to_gcs.py
  airflow/contrib/operators/mssql_to_gcs.py
  airflow/contrib/operators/mysql_to_gcs.py
  airflow/contrib/operators/postgres_to_gcs_operator.py
  airflow/contrib/operators/sql_to_gcs.py
  airflow/example_dags/example_gcs_to_gcs.py
  airflow/example_dags/example_postgres_to_gcs.py
  airflow/gcp/example_dags/example_bigquery.py
  airflow/gcp/example_dags/example_gcs.py
  airflow/gcp/operators/cloud_storage_transfer_service.py
  airflow/operators/adls_to_gcs.py
  airflow/operators/bigquery_to_gcs.py
  airflow/operators/cassandra_to_gcs.py
  airflow/operators/gcs_to_gcs.py
  airflow/operators/local_to_gcs.py
  airflow/operators/mssql_to_gcs.py
  airflow/operators/mysql_to_gcs.py
  airflow/operators/postgres_to_gcs.py
  airflow/operators/sql_to_gcs.py
  docs/howto/operator/gcp/gcs_to_gcs.rst
  tests/operators/test_adls_to_gcs_operator.py
  tests/operators/test_bigquery_to_gcs.py
  tests/operators/test_cassandra_to_gcs.py
  tests/operators/test_gcs_to_gcs.py
  tests/operators/test_local_to_gcs.py
  tests/operators/test_mssql_to_gcs.py
  tests/operators/test_mysql_to_gcs.py
  tests/operators/test_postgres_to_gcs.py
  tests/test_core_to_contrib.py
Labels: area:docs, provider:Azure, provider:GCP

#7219 Revert "[AIRFLOW-6596] Enforce description should not be empty (#7211)"
  .github/mergeable.yml
Labels: area:dev

#7235 [AIRFLOW-XXXX] Fix Typo in scripts/ci/ci_run_airflow_testing.sh
  scripts/ci/ci_run_airflow_testing.sh
Labels: area:dev

#7239 [AIRFLOW-XXXX] Add up-to-date checker bot config
  .github/boring-cyborg.yml
Labels: area:dev

#7240 [AIRFLOW-6615] Remove double sorted in task_list CLI
  airflow/cli/commands/task_command.py
Labels: area:CLI

#7038 [AIRFLOW-4495] Allow externally triggered dags to run for future exec dates
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/ti_deps/deps/runnable_exec_date_dep.py
  docs/scheduler.rst
  tests/ti_deps/deps/test_runnable_exec_date_dep.py
Labels: area:Scheduler/Executor, area:docs

#7206 [AIRFLOW-6591] Add cli option to stop celery worker
  airflow/bin/cli.py
  airflow/cli/commands/celery_command.py
  docs/executor/celery.rst
  setup.py
  tests/cli/commands/test_celery_command.py
Labels: area:CLI, area:Scheduler/Executor, area:docs

#7242 [AIRFLOW-6619] Add cluster_fields to BigQueryCreateEmptyTableOperator
  airflow/gcp/hooks/bigquery.py
  airflow/gcp/operators/bigquery.py
  tests/gcp/operators/test_bigquery.py
Labels: provider:GCP

#7243 [AIRFLOW-6620] Mock celery in worker cli test
  tests/cli/commands/test_celery_command.py
Labels: area:CLI

#7248 [AIRFLOW-4204] Update super() calls
  airflow/contrib/operators/dynamodb_to_s3.py
  airflow/gcp/hooks/discovery_api.py
  airflow/gcp/sensors/gcs.py
  airflow/operators/bigquery_to_mysql.py
  airflow/operators/google_api_to_s3_transfer.py
  airflow/operators/sql_to_gcs.py
  airflow/providers/mysql/hooks/mysql.py
  airflow/providers/snowflake/operators/s3_to_snowflake.py
  airflow/providers/snowflake/operators/snowflake.py
Labels: provider:AWS, provider:GCP

#7234 [AIRFLOW-6493] Add SSL configuration to Redis hook connections
  airflow/providers/redis/hooks/redis.py
  tests/providers/redis/hooks/test_redis.py
Labels: area:operators-hooks

#7247 [AIRFLOW-6625] Explicitly log using utf-8 encoding
  airflow/utils/log/file_task_handler.py
Labels: area:Logging

#7254 [AIRFLOW-6634] Set PYTHONPATH in interactive Breeze
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev

#7255 [AIRFLOW-XXXX] Fix url in new contributors message
  .github/boring-cyborg.yml
Labels: area:dev

#7256 [AIRFLOW-6635] Speed up static checks
  .pre-commit-config.yaml
  .travis.yml
  scripts/ci/ci_run_all_static_checks.sh
  scripts/ci/ci_run_static_checks_pylint_tests.sh
  scripts/ci/in_container/run_pylint_tests.sh
Labels: area:dev

#7259 [AIRFLOW-6639] Remove duplicate Output format choices from CLI docs
  airflow/bin/cli.py
Labels: area:CLI

#7262 [AIRFLOW-6642] Make local task job test less flaky
  tests/jobs/test_local_task_job.py
Labels: area:Scheduler/Executor

#7264 [AIRFLOW-6643] Fix flakiness of kerberos tests
  .travis.yml
  scripts/ci/in_container/_in_container_utils.sh
  scripts/ci/in_container/check_environment.sh
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev

#7260 [AIRFLOW-XXXX] Fix typo in error when getting dataflow jobs
  airflow/gcp/hooks/dataflow.py
Labels: provider:GCP

#7263 [AIRFLOW-XXXX] Improve docstring of AwsHook
  airflow/contrib/hooks/aws_hook.py
Labels: provider:AWS

#5970 [AIRFLOW-2923][AIRFLOW-1784] Implement LatestOnlyOperator as BaseBranchOperator
  UPDATING.md
  airflow/operators/latest_only_operator.py
  docs/concepts.rst
  docs/img/latest_only_with_trigger.png
  scripts/ci/pylint_todo.txt
  tests/operators/test_latest_only_operator.py
Labels: area:dev, area:docs

#7221 [AIRFLOW-XXXX] Update installation doc to suggest installing globally as fallback
  docs/installation.rst
Labels: area:docs

#7271 [AIRFLOW-6655] Move AWS classes to providers
  airflow/contrib/hooks/aws_dynamodb_hook.py
  airflow/contrib/hooks/aws_hook.py
  airflow/contrib/operators/dynamodb_to_s3.py
  airflow/contrib/operators/hive_to_dynamodb.py
  airflow/gcp/operators/cloud_storage_transfer_service.py
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/hooks/aws_dynamodb_hook.py
  airflow/providers/amazon/aws/hooks/aws_hook.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/hooks/datasync.py
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/hooks/glue_catalog.py
  airflow/providers/amazon/aws/hooks/kinesis.py
  airflow/providers/amazon/aws/hooks/lambda_function.py
  airflow/providers/amazon/aws/hooks/logs.py
  airflow/providers/amazon/aws/hooks/redshift.py
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/hooks/sns.py
  airflow/providers/amazon/aws/hooks/sqs.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/sagemaker_endpoint.py
  airflow/providers/amazon/aws/operators/sagemaker_model.py
  airflow/providers/amazon/aws/operators/sagemaker_training.py
  airflow/providers/amazon/aws/operators/sagemaker_transform.py
  airflow/providers/amazon/aws/operators/sagemaker_tuning.py
  airflow/providers/mysql/hooks/mysql.py
  airflow/providers/postgres/hooks/postgres.py
  docs/howto/operator/amazon/aws/datasync.rst
  docs/operators-and-hooks-ref.rst
  tests/contrib/operators/test_hive_to_dynamodb_operator.py
  tests/hooks/test_s3_hook.py
  tests/providers/amazon/aws/hooks/test_aws_dynamodb_hook.py
  tests/providers/amazon/aws/hooks/test_aws_hook.py
  tests/providers/amazon/aws/hooks/test_redshift.py
  tests/providers/mysql/hooks/test_mysql.py
  tests/providers/postgres/hooks/test_postgres.py
  tests/test_core_to_contrib.py
Labels: area:docs, provider:AWS, provider:GCP

#7270 [AIRFLOW-6654] AWS DataSync - bugfix when creating locations
  airflow/providers/amazon/aws/operators/datasync.py
Labels: provider:AWS

#7213 [AIRFLOW-6424] Added a operator to modify EMR cluster
  airflow/providers/amazon/aws/operators/emr_modify_cluster.py
  docs/operators-and-hooks-ref.rst
  tests/providers/amazon/aws/operators/test_emr_modify_cluster.py
Labels: area:docs, provider:AWS

#7277 [AIRFLOW-6661] Fail after 50 failing tests
  scripts/ci/in_container/entrypoint_ci.sh
Labels: area:dev

#7275 [AIRFLOW-6660] Fix deprecation warning in check_environment.sh
  scripts/ci/in_container/check_environment.sh
Labels: area:dev

#7273 [AIRFLOW-6658] Remove contrib/{hooks,sensors} directory
  docs/autoapi_templates/index.rst
  docs/conf.py
  tests/contrib/hooks/__init__.py
  tests/contrib/hooks/text-to-speech-output.mp3
  tests/contrib/sensors/__init__.py
Labels: area:dev, area:docs, provider:AWS, provider:GCP

#7274 [AIRFLOW-6659] Move AWS Transfer operators to providers package
  airflow/contrib/operators/dynamodb_to_s3.py
  airflow/contrib/operators/gcs_to_s3.py
  airflow/contrib/operators/hive_to_dynamodb.py
  airflow/contrib/operators/imap_attachment_to_s3_operator.py
  airflow/contrib/operators/mongo_to_s3.py
  airflow/contrib/operators/s3_to_sftp_operator.py
  airflow/contrib/operators/sftp_to_s3_operator.py
  airflow/operators/gcs_to_s3.py
  airflow/operators/google_api_to_s3_transfer.py
  airflow/operators/redshift_to_s3_operator.py
  airflow/operators/s3_to_redshift_operator.py
  airflow/providers/amazon/aws/operators/dynamodb_to_s3.py
  airflow/providers/amazon/aws/operators/gcs_to_s3.py
  airflow/providers/amazon/aws/operators/google_api_to_s3_transfer.py
  airflow/providers/amazon/aws/operators/hive_to_dynamodb.py
  airflow/providers/amazon/aws/operators/imap_attachment_to_s3.py
  airflow/providers/amazon/aws/operators/mongo_to_s3.py
  airflow/providers/amazon/aws/operators/redshift_to_s3.py
  airflow/providers/amazon/aws/operators/s3_to_redshift.py
  airflow/providers/amazon/aws/operators/s3_to_sftp.py
  airflow/providers/amazon/aws/operators/sftp_to_s3.py
  docs/howto/define_extra_link.rst
  docs/operators-and-hooks-ref.rst
  docs/plugins.rst
  scripts/ci/pylint_todo.txt
  tests/providers/amazon/aws/operators/test_dynamodb_to_s3.py
  tests/providers/amazon/aws/operators/test_gcs_to_s3.py
  tests/providers/amazon/aws/operators/test_google_api_to_s3_transfer.py
  tests/providers/amazon/aws/operators/test_hive_to_dynamodb.py
  tests/providers/amazon/aws/operators/test_imap_attachment_to_s3.py
  tests/providers/amazon/aws/operators/test_mongo_to_s3.py
  tests/providers/amazon/aws/operators/test_redshift_to_s3.py
  tests/providers/amazon/aws/operators/test_s3_to_redshift.py
  tests/providers/amazon/aws/operators/test_s3_to_sftp.py
  tests/providers/amazon/aws/operators/test_sftp_to_s3.py
  tests/test_core_to_contrib.py
Labels: area:Plugins, area:dev, area:docs, provider:AWS, provider:GCP

#7278 [AIRFLOW-6662] Switch to --init docker flag for signal propagation
  Dockerfile
  scripts/ci/_utils.sh
  scripts/ci/docker-compose/backend-mysql.yml
  scripts/ci/docker-compose/backend-postgres.yml
  scripts/ci/docker-compose/integration-cassandra.yml
  scripts/ci/docker-compose/integration-kerberos.yml
  scripts/ci/docker-compose/integration-mongo.yml
  scripts/ci/docker-compose/integration-openldap.yml
  scripts/ci/docker-compose/integration-rabbitmq.yml
  scripts/ci/docker-compose/integration-redis.yml
  setup.py
Labels: area:dev

#7291 [AIRFLOW-XXXX] Improve grammar and structure in FAQ doc
  docs/faq.rst
Labels: area:docs

#7282 [AIRFLOW-6667] Bump copy-webpack-plugin to resolve serialize-javascript advisory
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:Webserver

#7280 [AIRFLOW-6632] Bump dagre-d3 to resolve lodash CVE advisory
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:Webserver, area:dev

#7287 [AIRFLOW-6674] Move example_dags in accordance with AIP-21
  airflow/example_dags/docker_copy_data.py
  airflow/example_dags/example_kubernetes_executor.py
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/example_dags/example_papermill_operator.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py
  airflow/providers/apache/hive/example_dags/__init__.py
  airflow/providers/apache/hive/example_dags/example_twitter_README.md
  airflow/providers/apache/hive/example_dags/example_twitter_dag.py
  airflow/providers/apache/pig/example_dags/__init__.py
  airflow/providers/apache/pig/example_dags/example_pig_operator.py
  airflow/providers/cncf/kubernetes/example_dags/__init__.py
  airflow/providers/cncf/kubernetes/example_dags/example_kubernetes_operator.py
  airflow/providers/databricks/example_dags/__init__.py
  airflow/providers/databricks/example_dags/example_databricks.py
  airflow/providers/dingding/example_dags/__init__.py
  airflow/providers/dingding/example_dags/example_dingding.py
  airflow/providers/docker/example_dags/__init__.py
  airflow/providers/docker/example_dags/example_docker_copy_data.py
  airflow/providers/docker/example_dags/example_docker_operator.py
  airflow/providers/docker/example_dags/example_docker_swarm_operator.py
  airflow/providers/google/cloud/example_dags/example_gcs_to_bq.py
  airflow/providers/google/cloud/example_dags/example_gcs_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_gcs_to_sftp.py
  airflow/providers/google/cloud/example_dags/example_postgres_to_gcs.py
  airflow/providers/google/suite/example_dags/__init__.py
  airflow/providers/google/suite/example_dags/example_gcs_to_gdrive.py
  airflow/providers/http/example_dags/__init__.py
  airflow/providers/http/example_dags/example_http_operator.py
  airflow/providers/jenkins/example_dag/__init__.py
  airflow/providers/jenkins/example_dag/example_jenkins_job_trigger.py
  airflow/providers/microsoft/azure/example_dags/__init__.py
  airflow/providers/microsoft/azure/example_dags/example_azure_container_instances.py
  airflow/providers/microsoft/azure/example_dags/example_azure_cosmosdb.py
  airflow/providers/microsoft/winrm/example_dags/__init__.py
  airflow/providers/microsoft/winrm/example_dags/example_winrm.py
  airflow/providers/papermill/example_dags/__init__.py
  airflow/providers/papermill/example_dags/example_papermill.py
  airflow/providers/qubole/example_dags/__init__.py
  airflow/providers/qubole/example_dags/example_qubole_operator.py
  airflow/providers/qubole/example_dags/example_qubole_sensor.py
  docs/conf.py
  docs/howto/operator/dingding.rst
  docs/howto/operator/gcp/gcs.rst
  docs/howto/operator/gcp/gcs_to_gdrive.rst
  docs/howto/operator/gcp/gcs_to_sftp.rst
  docs/howto/operator/papermill.rst
  tests/operators/test_gcs_to_gcs_system_helper.py
  tests/operators/test_gcs_to_sftp_system_helper.py
  tests/serialization/test_dag_serialization.py
  tests/test_project_structure.py
  tests/www/api/experimental/test_endpoints.py
Labels: provider:AWS, provider:Apache, provider:GCP

#7313 [AIRFLOW-6697] fix modal_backdrop z-index
  airflow/www/static/css/main.css
Labels: area:Webserver

#7311 [AIRFLOW-XXXX] Fix email configuration link in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev
