Repository apache/airflow, pull requests merged in 2021-09, with the labels that each got.

#17940 Refactor BranchDayOfWeekOperator, DayOfWeekSensor
  airflow/operators/weekday.py
  airflow/sensors/weekday.py
  airflow/utils/weekday.py
  tests/operators/test_weekday.py
  tests/sensors/test_weekday_sensor.py
  tests/utils/test_weekday.py
Labels: full tests needed, area:core-operators

#16829 Queue support for DaskExecutor using Dask Worker Resources
  airflow/executors/dask_executor.py
  docs/apache-airflow/executor/dask.rst
  tests/executors/test_dask_executor.py
Labels: area:scheduler/executor, kind:documentation, full tests needed

#17958 Improve MySqlToHiveOperator tests
  tests/providers/apache/hive/transfers/test_mysql_to_hive.py
Labels: area:providers, provider:Apache, okay to merge

#17946 Add robots.txt and X-Robots-Tag header
  airflow/www/app.py
  airflow/www/extensions/init_robots.py
  airflow/www/static/robots.txt
  airflow/www/views.py
  tests/www/views/test_views_home.py
  tests/www/views/test_views_robots.py
Labels: area:webserver, okay to merge, area:UI

#17959 Fix passing Jinja templates in ``DateTimeSensor``
  airflow/sensors/date_time.py
  tests/sensors/test_date_time.py
Labels: full tests needed, area:core-operators

#17387 Invalidate Vault cached prop when not authenticated
  airflow/providers/hashicorp/_internal_client/vault_client.py
  tests/providers/hashicorp/_internal_client/test_vault_client.py
Labels: area:providers, okay to merge

#17887 New google operator: SQLToGoogleSheetsOperator
  airflow/providers/google/provider.yaml
  airflow/providers/google/suite/example_dags/example_sql_to_sheets.py
  airflow/providers/google/suite/transfers/sql_to_sheets.py
  docs/apache-airflow-providers-google/operators/transfer/sql_to_sheets.rst
  tests/providers/google/suite/transfers/test_sql_to_sheets.py
Labels: provider:Google, area:providers, kind:documentation, okay to merge

#17816 Pull Request #17342: add support to enable kinit options [-f|-F] and [-a|-A]
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/security/kerberos.py
  docs/apache-airflow/security/kerberos.rst
  docs/spelling_wordlist.txt
  tests/security/test_kerberos.py
Labels: full tests needed

#17961 Clear task instances endpoint can reset all DAG runs
  airflow/api_connexion/endpoints/task_instance_endpoint.py
Labels: area:API, okay to merge

#17968 Ensuring the spelling of "TaskFlow" is consistent in docs
  docs/apache-airflow/concepts/taskflow.rst
  docs/apache-airflow/tutorial_taskflow_api.rst
  docs/spelling_wordlist.txt
Labels: kind:documentation, okay to merge

#17496 deduplicate running jobs on BigQueryInsertJobOperator
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google, area:providers, okay to merge

#17450 Add missing menu access for dag dependencies and configurations pages
  airflow/www/security.py
  tests/www/test_security.py
Labels: area:webserver, okay to merge

#17970 Chart: Make cleanup cronjob cmd/args configurable
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/tests/test_cleanup_pods.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#16866 Remove default_args pattern + added get_current_context() use for Core Airflow example DAGs
  airflow/example_dags/example_bash_operator.py
  airflow/example_dags/example_branch_datetime_operator.py
  airflow/example_dags/example_branch_day_of_week_operator.py
  airflow/example_dags/example_branch_operator.py
  airflow/example_dags/example_branch_python_dop_operator_3.py
  airflow/example_dags/example_dag_decorator.py
  airflow/example_dags/example_kubernetes_executor.py
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/example_dags/example_passing_params_via_test_command.py
  airflow/example_dags/example_python_operator.py
  airflow/example_dags/example_short_circuit_operator.py
  airflow/example_dags/example_skip_dag.py
  airflow/example_dags/example_trigger_controller_dag.py
  airflow/example_dags/example_trigger_target_dag.py
  airflow/example_dags/example_xcom.py
  airflow/example_dags/example_xcomargs.py
  airflow/example_dags/tutorial_taskflow_api_etl.py
  airflow/example_dags/tutorial_taskflow_api_etl_virtualenv.py
Labels: full tests needed, area:kubernetes

#17964 Fix constraint generation properly
  CI.rst
  scripts/ci/selective_ci_checks.sh
  scripts/in_container/run_generate_constraints.sh
Labels: area:dev-tools, full tests needed

#17945 Fix max_active_runs not allowing moving of queued dagruns to running
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#17839 Add DAG run abort endpoint
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_run_schema.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Labels: area:API, okay to merge

#17990 Fix blank dag dependencies view
  airflow/www/templates/airflow/dag_dependencies.html
  airflow/www/views.py
Labels: area:webserver, okay to merge, area:UI

#17985 Serialize the template_ext attribute to show it in UI
  airflow/models/baseoperator.py
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, full tests needed

#18001 Correction of a slight grammatical expression error
  docs/apache-airflow/start/local.rst
Labels: kind:documentation, okay to merge

#18000 Hide variable import form if user lacks permission
  airflow/www/templates/airflow/variable_list.html
  airflow/www/views.py
  tests/www/views/test_views_variable.py
Labels: area:webserver, okay to merge, area:UI

#17995 Reduce number of lines in "monitoring job" parallel group
  scripts/ci/libraries/_docker_engine_resources.sh
  scripts/ci/libraries/_parallel.sh
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools, full tests needed

#17557 Make EMR cluster visible to all users note
  docs/apache-airflow-providers-amazon/operators/emr.rst
Labels: provider:AWS, area:providers, kind:documentation

#15947 Applied permissions to self._error_file
  airflow/task/task_runner/base_task_runner.py
Labels: area:scheduler/executor, full tests needed

#17989 Require timetable class be registered via plugin
  airflow/plugins_manager.py
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
  tests/test_utils/timetables.py
Labels: area:serialization, area:plugins, full tests needed

#18008 Summarize test failures at the end of CI run
  scripts/ci/testing/ci_run_airflow_testing.sh
  scripts/ci/testing/summarize_junit_failures.py
Labels: area:dev-tools, full tests needed

#17967 logs task launch exception in standard task runner
  airflow/task/task_runner/standard_task_runner.py
Labels: area:scheduler/executor

#17980 Implement API endpoint for DAG deletion
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/exceptions.py
  airflow/www/views.py
Labels: area:API, full tests needed

#17563 Add Spark to the EMR cluster for the job flow examples
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py
Labels: provider:AWS, area:providers, okay to merge

#18013 Fix failed tests from run_as_user+error_file changes
  airflow/task/task_runner/base_task_runner.py
  tests/task/task_runner/test_task_runner.py
Labels: area:scheduler/executor, full tests needed

#18014 Fix unexpected bug in exiting PSRPHook.client context manager
  airflow/providers/microsoft/psrp/hooks/psrp.py
  tests/providers/microsoft/psrp/hooks/test_psrp.py
Labels: area:providers, okay to merge

#18019 Adding missing init file in Alibaba example_dags directory
  airflow/providers/alibaba/cloud/example_dags/__init__.py
Labels: area:providers

#18021 Fix spelling error causing tests to fail on main
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Labels: full tests needed

#17987 AwsBaseHook make `client_type` & `resource_type` optional params for `get_client_type` & `get_resource_type`
  airflow/providers/amazon/aws/hooks/base_aws.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: provider:AWS, area:providers, okay to merge

#18006 fix(CloudSqlProxyRunner): don't query connections from Airflow DB
  airflow/providers/google/cloud/hooks/cloud_sql.py
Labels: provider:Google, area:providers, okay to merge

#18018 Update release notes for 3 extra providers released
  airflow/providers/celery/CHANGELOG.rst
  airflow/providers/celery/provider.yaml
  airflow/providers/hashicorp/CHANGELOG.rst
  airflow/providers/microsoft/psrp/CHANGELOG.rst
  airflow/providers/microsoft/psrp/provider.yaml
  docs/apache-airflow-providers-celery/commits.rst
  docs/apache-airflow-providers-celery/index.rst
  docs/apache-airflow-providers-hashicorp/commits.rst
  docs/apache-airflow-providers-microsoft-psrp/commits.rst
  docs/apache-airflow-providers-microsoft-psrp/index.rst
Labels: area:providers, kind:documentation, okay to merge

#18020 Adds capability of Warnings for incompatible community providers
  airflow/providers_manager.py
  tests/core/test_providers_manager.py
Labels: full tests needed

#17944 Adds example showing the ES_hook
  airflow/providers/elasticsearch/example_dags/__init__.py
  airflow/providers/elasticsearch/example_dags/example_elasticsearch_query.py
  docs/apache-airflow-providers-elasticsearch/index.rst
Labels: area:providers, okay to merge

#18035 Fix building docs in `main` builds
  docs/build_docs.py
Labels: kind:documentation, okay to merge

#18037 Add Python2 to installed packages
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image, full tests needed

#17280 Opmitise LoggingMixin.log
  airflow/utils/log/logging_mixin.py
Labels: area:logging, full tests needed

#17963 Improve the description of how to handle dynamic task generation
  airflow/configuration.py
  docs/apache-airflow/best-practices.rst
  docs/conf.py
Labels: kind:documentation, full tests needed

#18040 Fix providers tests in main branch with eager upgrades
  airflow/providers/google/cloud/hooks/datacatalog.py
  tests/providers/amazon/aws/operators/test_sqs.py
  tests/providers/amazon/aws/sensors/test_sqs.py
  tests/providers/google/cloud/hooks/test_datacatalog.py
Labels: full tests needed

#18044 Suppress stat stderr output when we have fallback
  breeze
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools

#18047 Revert "Opmitise LoggingMixin.log (#17280)"
  airflow/utils/log/logging_mixin.py
Labels: area:logging, full tests needed

#18046 Fix building documentation broken by upgrade of dnspython
  docs/exts/exampleinclude.py
  setup.py
Labels: full tests needed

#18052 Optimize imports of Providers Manager
  airflow/providers_manager.py
Labels: okay to merge

#17649 Do not fail KubernetesPodOperator tasks if log following fails
  airflow/providers/cncf/kubernetes/utils/pod_launcher.py
  tests/providers/cncf/kubernetes/utils/test_pod_launcher.py
Labels: area:providers, okay to merge, area:kubernetes

#18060 Build CI images for the merge result of a PR, not the tip of the PR
  .github/workflows/build-images.yml
Labels: area:dev-tools, full tests needed

#18063 Revert "Build CI images for the merge result of a PR, not the tip of …
  .github/workflows/build-images.yml
Labels: area:dev-tools

#18007 fix Neo4jHook to get the query response
  airflow/providers/neo4j/hooks/neo4j.py
  tests/providers/neo4j/hooks/test_neo4j.py
  tests/providers/neo4j/operators/test_neo4j.py
Labels: area:providers, okay to merge

#18059 Add missing "be" in documentation
  docs/apache-airflow/howto/custom-operator.rst
Labels: kind:documentation, okay to merge

#18058 Added Jagex to the list of companies using Apache Airflow
  INTHEWILD.md
Labels: okay to merge

#18072 Change id collation for MySQL to case-sensitive
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/models/base.py
  docs/apache-airflow/howto/set-up-database.rst
  tests/models/test_base.py
Labels: kind:documentation, full tests needed

#18076 Adding CI check to verify __init__.py file exists in providers' example_dags directories
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
  scripts/ci/pre_commit/pre_commit_check_providers_example_dag_init.py
Labels: area:dev-tools, full tests needed

#18070 Fix KubernetesPodOperator reattach when not deleting pods
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, area:kubernetes

#18067 Update non-working example in documentation
  docs/apache-airflow/concepts/dags.rst
Labels: kind:documentation, okay to merge

#18086 Reapplying "Build CI images for the merge result of a PR, not the tip of the PR"
  .github/workflows/build-images.yml
Labels: area:dev-tools

#18090 Allow filtering DAGS by tags in the REST API
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_dag_endpoint.py
Labels: area:API, okay to merge

#17609 sftp_to_s3 stream file option
  airflow/providers/amazon/aws/transfers/sftp_to_s3.py
  tests/providers/amazon/aws/transfers/test_sftp_to_s3.py
Labels: provider:AWS, area:providers

#18085 Fixes incorrect parameter passed to views (#18083)
  airflow/www/static/js/dags.js
Labels: area:webserver, area:UI

#18099 Limit colorlog version (6.x is incompatible)
  setup.cfg
Labels: full tests needed

#18105 Chart: Fix minor Triggerer issues
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/tests/test_triggerer.py
Labels: area:helm-chart

#18106 Adds LoggingMixins to BaseTrigger
  airflow/triggers/base.py
Labels: full tests needed

#18054 Advises the kernel to not cache log files generated by Airflow
  airflow/utils/cli.py
  airflow/utils/log/file_processor_handler.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/non_caching_file_handler.py
Labels: area:logging, full tests needed

#18061 Fix DagRun execution order from queued to running not being properly followed
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/092435bf5d12_add_max_active_runs_column_to_dagmodel_.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  docs/apache-airflow/migrations-ref.rst
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
Labels: area:scheduler/executor, kind:documentation, full tests needed

#18109 Rename FileToWasbOperator to LocalFilesystemToWasbOperator
  airflow/contrib/operators/file_to_wasb.py
  airflow/providers/microsoft/azure/example_dags/example_local_to_wasb.py
  airflow/providers/microsoft/azure/provider.yaml
  airflow/providers/microsoft/azure/transfers/file_to_wasb.py
  airflow/providers/microsoft/azure/transfers/local_to_wasb.py
  dev/provider_packages/prepare_provider_packages.py
  tests/deprecated_classes.py
  tests/providers/microsoft/azure/transfers/test_local_to_wasb.py
  tests/providers/microsoft/azure/transfers/test_local_to_wasb_system.py
Labels: provider:Azure, area:providers

#18065 Limit the number of queued dagruns created by the Scheduler
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/ccde3e26fe78_add_index_on_state_dag_id_for_queued_.py
  airflow/models/dagrun.py
  docs/apache-airflow/migrations-ref.rst
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#18117 Update wasb.rst
  docs/apache-airflow-providers-microsoft-azure/connections/wasb.rst
Labels: provider:Azure, area:providers, kind:documentation

#17030 Check for missing DagRun rows for "downstream" tables before migrating DB
  airflow/utils/db.py
Labels: full tests needed, AIP-39

#18094 Fix constraints generation scripts
  dev/provider_packages/prepare_provider_packages.py
  scripts/ci/docker-compose/_docker.env
  scripts/in_container/run_generate_constraints.sh
Labels: area:dev-tools, full tests needed

#18123 added TUD to INTHEWILD.md
  INTHEWILD.md
Labels: okay to merge

#18122 Add "packaging" to core requirements
  setup.cfg
Labels: full tests needed

#18084 Change XCom class methods to accept run_id argument
  airflow/models/xcom.py
Labels: full tests needed

#18088 Make next_dagrun_info take a data interval
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/cli/commands/dag_command.py
  airflow/dag_processing/processor.py
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/operators/latest_only.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/sensors/time_delta.py
  airflow/timetables/base.py
  airflow/timetables/interval.py
  airflow/timetables/simple.py
  airflow/utils/session.py
  airflow/www/views.py
  docs/apache-airflow/templates-ref.rst
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/cli/commands/test_dag_command.py
  tests/conftest.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
  tests/providers/apache/druid/operators/test_druid.py
  tests/providers/apache/kylin/operators/test_kylin_cube.py
  tests/providers/apache/spark/operators/test_spark_submit.py
  tests/sensors/test_external_task_sensor.py
  tests/test_utils/perf/scheduler_dag_execution_timing.py
  tests/ti_deps/deps/test_runnable_exec_date_dep.py
  tests/utils/log/test_log_reader.py
  tests/utils/test_log_handlers.py
  tests/www/views/test_views_log.py
Labels: provider:Google, area:scheduler/executor, area:webserver, area:CLI, area:providers, area:API, kind:documentation, full tests needed, area:core-operators, AIP-39

#18126 Fix deprecation error message rather than silencing it
  airflow/migrations/versions/092435bf5d12_add_max_active_runs_column_to_dagmodel_.py
  airflow/migrations/versions/ccde3e26fe78_add_index_on_state_dag_id_for_queued_.py
  airflow/models/dagrun.py
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools

#18119 Fix Sentry handler from LocalTaskJob causing error
  airflow/sentry.py
Labels: full tests needed

#18128 Update version added fields in airflow/config_templates/config.yml
  airflow/config_templates/config.yml
Labels: full tests needed

#18073 Fix BigQuery data extraction in BigQueryToMySqlOperator
  airflow/providers/google/cloud/transfers/bigquery_to_mysql.py
  tests/providers/google/cloud/transfers/test_bigquery_to_mysql.py
Labels: provider:Google, area:providers, okay to merge

#15943 Test coverage on the autocomplete view
  airflow/www/extensions/init_views.py
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  tests/www/views/test_views_acl.py
Labels: area:webserver, okay to merge, area:UI

#17325 s3 unify_bucket_name_and_key simplify
  airflow/providers/amazon/aws/hooks/s3.py
Labels: provider:AWS, area:providers, okay to merge

#17448 Aws secrets manager backend
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  docs/apache-airflow-providers-amazon/img/aws-secrets-manager.png
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Labels: provider:AWS, area:providers, area:secrets, okay to merge

#17456 Adding TaskGroup support in chain()
  airflow/models/baseoperator.py
  tests/models/test_baseoperator.py
Labels: full tests needed

#17741 Add Snowflake DQ Operators
  airflow/providers/snowflake/operators/snowflake.py
  tests/providers/snowflake/operators/test_snowflake.py
Labels: area:providers, okay to merge, provider:Snowflake

#17209 ECSOperator returns last logs when ECS task fails
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:AWS, area:providers, okay to merge

#18139 Add a note about no back-compat guarantees for experimental features
  docs/apache-airflow/release-process.rst
Labels: kind:documentation, okay to merge

#18140 Mark passing pre/post execute callbacks to operators as experimental.
  airflow/models/baseoperator.py
  docs/apache-airflow/release-process.rst
  docs/conf.py
Labels: kind:documentation, full tests needed

#18071 Change from dynamic date to fixed date in examples
  airflow/example_dags/example_bash_operator.py
  airflow/example_dags/example_branch_datetime_operator.py
  airflow/example_dags/example_branch_day_of_week_operator.py
  airflow/example_dags/example_branch_labels.py
  airflow/example_dags/example_branch_operator.py
  airflow/example_dags/example_branch_python_dop_operator_3.py
  airflow/example_dags/example_complex.py
  airflow/example_dags/example_dag_decorator.py
  airflow/example_dags/example_kubernetes_executor.py
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/example_dags/example_latest_only.py
  airflow/example_dags/example_latest_only_with_trigger.py
  airflow/example_dags/example_nested_branch_dag.py
  airflow/example_dags/example_passing_params_via_test_command.py
  airflow/example_dags/example_python_operator.py
  airflow/example_dags/example_short_circuit_operator.py
  airflow/example_dags/example_skip_dag.py
  airflow/example_dags/example_task_group.py
  airflow/example_dags/example_task_group_decorator.py
  airflow/example_dags/example_trigger_controller_dag.py
  airflow/example_dags/example_trigger_target_dag.py
  airflow/example_dags/example_xcom.py
  airflow/example_dags/example_xcomargs.py
  airflow/example_dags/subdags/subdag.py
  airflow/example_dags/test_utils.py
  airflow/example_dags/tutorial.py
  airflow/example_dags/tutorial_etl_dag.py
  airflow/example_dags/tutorial_taskflow_api_etl.py
  airflow/example_dags/tutorial_taskflow_api_etl_virtualenv.py
Labels: full tests needed, area:kubernetes

#18142 Add missing __init__.py files for some test packages
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  airflow/providers/google/config_templates/__init__.py
  breeze-complete
  scripts/ci/pre_commit/pre_commit_check_providers_subpackages_all_have_init.py
  tests/providers/amazon/aws/config_templates/__init__.py
  tests/providers/amazon/aws/infrastructure/__init__.py
  tests/providers/amazon/aws/infrastructure/example_s3_to_redshift/__init__.py
  tests/providers/amazon/aws/secrets/__init__.py
  tests/providers/google/ads/operators/__init__.py
  tests/providers/jenkins/hooks/__init__.py
  tests/providers/microsoft/azure/secrets/__init__.py
  tests/providers/microsoft/mssql/operators/__init__.py
  tests/providers/odbc/__init__.py
  tests/providers/odbc/hooks/__init__.py
  tests/providers/plexus/hooks/__init__.py
  tests/providers/tableau/__init__.py
Labels: provider:Google, provider:Azure, provider:AWS, area:providers, area:dev-tools, area:secrets, full tests needed

#18141 Fix quarentine tests affected by AIP-39
  airflow/jobs/scheduler_job.py
  tests/cli/commands/test_task_command.py
  tests/executors/test_celery_executor.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, area:CLI, full tests needed

#18148 Minor wording tweaks
  docs/apache-airflow/start/docker.rst
Labels: kind:documentation, changelog:skip

#18149 Fix typo in StandardTaskRunning log message
  airflow/task/task_runner/standard_task_runner.py
Labels: area:scheduler/executor, full tests needed

#18151 Fix bad repository name in pre-commit config
  .pre-commit-config.yaml
Labels: area:dev-tools, full tests needed

#18068 Fixes warm shutdown for celery worker.
  Dockerfile
  chart/templates/workers/worker-deployment.yaml
  docs/docker-stack/entrypoint.rst
Labels: area:helm-chart, kind:documentation, area:production-image

#18064 Fixing Vault AppRole authentication with CONN_URI
  airflow/providers/hashicorp/hooks/vault.py
  tests/providers/hashicorp/hooks/test_vault.py
Labels: area:providers, okay to merge

#18154 Fixed log view for deferred tasks
  airflow/www/views.py
Labels: area:webserver, okay to merge

#18153 Reorder migrations to be compatible with 2.1.4
  airflow/migrations/versions/092435bf5d12_add_max_active_runs_column_to_dagmodel_.py
  airflow/migrations/versions/142555e44c17_add_data_interval_start_end_to_dagmodel_and_dagrun.py
  airflow/migrations/versions/83f031fd9f1c_improve_mssql_compatibility.py
  docs/apache-airflow/migrations-ref.rst
Labels: kind:documentation, full tests needed

#18157 Add C2FO to ``INTHEWILD.md``
  INTHEWILD.md
Labels: okay to merge

#18107 Make auto refresh interval configurable
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/static/js/graph.js
  airflow/www/static/js/tree.js
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/tree.html
  airflow/www/views.py
Labels: area:webserver, full tests needed, area:UI

#18158 Fix Airflow version for `[logging] worker_log_server_port`
  airflow/config_templates/config.yml
  airflow/configuration.py
Labels: full tests needed

#18143 Use parameters instead of params
  airflow/providers/google/cloud/example_dags/example_facebook_ads_to_gcs.py
  airflow/providers/google/cloud/transfers/facebook_ads_to_gcs.py
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/google/marketing_platform/operators/display_video.py
  tests/providers/google/cloud/transfers/test_facebook_ads_to_gcs.py
  tests/providers/google/marketing_platform/operators/test_display_video.py
Labels: provider:Google, area:providers, okay to merge

#18130 Add script that validate version fields in config.yaml
  dev/README_RELEASE_AIRFLOW.md
  dev/validate_version_added_fields_in_config.py
Labels: area:dev-tools, full tests needed

#18162 Remove limits for dnspython
  setup.py
Labels: full tests needed

#18165 Allow users to submit issues for 2.2.0beta1
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools, okay to merge

#18164 Improves quick-start docker-compose warnings and documentation
  Dockerfile
  docs/apache-airflow/start/docker-compose.yaml
  docs/apache-airflow/start/docker.rst
Labels: kind:documentation, area:production-image, full tests needed

#18167 Fix spelling mistake in documentation
  docs/apache-airflow/start/docker.rst
Labels: kind:documentation, okay to merge

#18160 Apply parent dag permissions to subdags.
  airflow/www/security.py
  tests/www/test_security.py
Labels: area:webserver

#18170 Allow publishing Docker images with more pre-release versions
  scripts/ci/libraries/_build_images.sh
Labels: area:dev-tools

#18171 Separate Installing from sources section and add more details
  docs/apache-airflow/index.rst
  docs/apache-airflow/installation.rst
  docs/apache-airflow/installing-from-sources.rst
Labels: kind:documentation, okay to merge

#18173 Remove redundant single quote from Breeze build image script
  scripts/ci/libraries/_build_images.sh
Labels: area:dev-tools, full tests needed

#18095 Kubernetes Executor Bug Fix: Set task state to failed when pod is DELETED while running
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Labels: area:scheduler/executor, full tests needed, area:kubernetes

#18174 Fix usage of ``range(len())`` to ``enumerate``
  airflow/models/baseoperator.py
  airflow/providers/papermill/operators/papermill.py
  tests/providers/apache/drill/hooks/test_drill.py
  tests/providers/apache/druid/hooks/test_druid.py
  tests/providers/apache/pinot/hooks/test_pinot.py
  tests/providers/exasol/hooks/test_exasol.py
  tests/providers/mysql/hooks/test_mysql.py
Labels: area:providers, provider:Apache, full tests needed

#18176 Update various pre-commits
  .pre-commit-config.yaml
Labels: area:dev-tools, full tests needed

#18166 Add note about params on trigger DAG page
  airflow/www/templates/airflow/trigger.html
  airflow/www/views.py
Labels: area:webserver, okay to merge, area:UI

#18180 Fix typo in task fail migration
  airflow/migrations/versions/9635ae0956e7_index_taskfail.py
Labels: full tests needed

#18182 Remove Brent from Collaborators
  .asf.yaml
Labels: area:dev-tools, okay to merge

#18181 Fix broken link in ``dev/REFRESHING_CI_CACHE.md``
  dev/REFRESHING_CI_CACHE.md
Labels: area:dev-tools

#18179 Doc: Use ``closer.lua`` script for downloading sources
  docs/apache-airflow/installing-from-sources.rst
  docs/conf.py
Labels: kind:documentation

#18177 Fix minor issues in Airflow release guide
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools

#18036 Deprecate default pod name in EKSPodOperator
  airflow/providers/amazon/aws/example_dags/example_eks_templated.py
  airflow/providers/amazon/aws/example_dags/example_eks_using_defaults.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_nodegroups.py
  airflow/providers/amazon/aws/operators/eks.py
  tests/providers/amazon/aws/operators/test_eks.py
Labels: provider:AWS, area:providers

#17965 sets encoding to utf-8 by default while reading task logs
  airflow/utils/log/file_task_handler.py
Labels: full tests needed

#16814 Automatically create section when migrating config
  airflow/configuration.py
  tests/core/test_configuration.py
Labels: full tests needed

#18191 Fix typo in decorator test
  tests/decorators/test_python.py
Labels: full tests needed

#18159 Adding Variable.update method and improving detection of variable key collisions
  airflow/models/variable.py
  docs/apache-airflow/security/secrets/secrets-backend/index.rst
  tests/models/test_variable.py
Labels: area:secrets, kind:documentation, full tests needed

#18194 Doc: Improve installing from sources
  docs/apache-airflow/installing-from-sources.rst
Labels: kind:documentation, okay to merge

#18027 Added upsert method on S3ToRedshift operator
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  airflow/providers/postgres/hooks/postgres.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: provider:AWS, area:providers

#18168 Rename LocalToAzureDataLakeStorageOperator to LocalFilesystemToADLSOperator
  airflow/providers/microsoft/azure/example_dags/example_adls_delete.py
  airflow/providers/microsoft/azure/example_dags/example_local_to_adls.py
  airflow/providers/microsoft/azure/transfers/local_to_adls.py
  docs/apache-airflow-providers-microsoft-azure/operators/local_to_adls.rst
  tests/providers/microsoft/azure/transfers/test_local_to_adls.py
Labels: provider:Azure, area:providers, kind:documentation, okay to merge

#17998 Fix error when create external table using table resource
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers, okay to merge

#18207 Swap dag import error dropdown icons
  airflow/www/static/css/flash.css
Labels: area:webserver, okay to merge, area:UI

#18184 Migrate Google Cloud Build from Discovery API to Python SDK
  UPDATING.md
  airflow/providers/google/cloud/example_dags/example_cloud_build.py
  airflow/providers/google/cloud/hooks/cloud_build.py
  airflow/providers/google/cloud/operators/cloud_build.py
  docs/apache-airflow-providers-google/operators/cloud/cloud_build.rst
  setup.py
  tests/providers/google/cloud/hooks/test_cloud_build.py
  tests/providers/google/cloud/operators/test_cloud_build.py
  tests/providers/google/cloud/operators/test_cloud_build_system.py
Labels: provider:Google, area:providers, kind:documentation, full tests needed

#18129 Add heartbeat to TriggererJob
  airflow/jobs/triggerer_job.py
Labels: area:scheduler/executor, full tests needed

#18210 Wipe ``next_kwargs`` and ``next_method`` on task failure
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: type:bug-fix, full tests needed

#18209 Upgrade importlib-resources version
  setup.cfg
  setup.py
Labels: full tests needed

#18215 Solve CI issues
  tests/core/test_providers_manager.py
Labels: full tests needed

#18218 Chart: Allow running and waiting for DB Migrations using default image
  chart/templates/_helpers.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_airflow_common.py
  chart/tests/test_migrate_database_job.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#18212 Doc change: XCOM / Taskflow
  docs/apache-airflow/tutorial_taskflow_api.rst
  tests/core/test_providers_manager.py
Labels: kind:documentation, full tests needed

#18214 Add some basic metrics to the Triggerer
  airflow/jobs/triggerer_job.py
Labels: area:scheduler/executor, full tests needed

#17100 Advanced Params using json-schema
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/schemas/dag_schema.py
  airflow/api_connexion/schemas/task_schema.py
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/task_command.py
  airflow/models/__init__.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagparam.py
  airflow/models/param.py
  airflow/models/taskinstance.py
  airflow/operators/python.py
  airflow/serialization/enums.py
  airflow/serialization/serialized_objects.py
  airflow/www/views.py
  docs/apache-airflow/concepts/index.rst
  docs/apache-airflow/concepts/params.rst
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/api_connexion/schemas/test_dag_schema.py
  tests/api_connexion/schemas/test_task_schema.py
  tests/models/test_dag.py
  tests/models/test_dagparam.py
  tests/models/test_param.py
  tests/operators/test_python.py
  tests/sensors/test_timeout_sensor.py
  tests/serialization/test_dag_serialization.py
Labels: area:webserver, area:CLI, area:serialization, area:API, full tests needed, area:core-operators

#18230 Remove loading dots even when last run data is empty
  airflow/www/static/js/dags.js
Labels: area:webserver, okay to merge, area:UI

#18224 Return explicit error on user-add for duplicated email
  airflow/api_connexion/endpoints/user_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_user_endpoint.py
  tests/test_utils/api_connexion_utils.py
Labels: area:API, full tests needed

#18238 Don't check for `__init__.py` under pycache folders.
  scripts/ci/pre_commit/pre_commit_check_providers_subpackages_all_have_init.py
Labels: area:dev-tools, full tests needed

#18236 Fix example dag of PostgresOperator
  airflow/providers/postgres/example_dags/example_postgres.py
Labels: area:providers, okay to merge

#18250 Revert Changes to ``importlib-resources``
  setup.cfg
  setup.py
  tests/core/test_providers_manager.py
Labels: full tests needed

#18248 Make sure create_user arguments are keyword-ed
  tests/test_utils/api_connexion_utils.py
  tests/www/test_security.py
  tests/www/views/conftest.py
Labels: area:webserver, full tests needed

#18263 Reduce lengths of the name, username and email fields for this test
  tests/www/views/test_views_trigger_dag.py
Labels: area:webserver, full tests needed

#18241 Adding missing `replace` param directive in docstring of SalesforceToS3Operator
  airflow/providers/amazon/aws/transfers/salesforce_to_s3.py
Labels: provider:AWS, area:providers, okay to merge

#18243 Fix deleting of zipped Dags in Serialized Dag Table
  airflow/dag_processing/manager.py
  tests/dag_processing/test_manager.py
Labels: area:serialization, full tests needed

#17207 Fix external_executor_id not being set for manually run jobs.
  airflow/cli/commands/task_command.py
  airflow/executors/celery_executor.py
  airflow/jobs/local_task_job.py
  airflow/models/taskinstance.py
  tests/cli/commands/test_task_command.py
  tests/executors/test_celery_executor.py
Labels: area:scheduler/executor, area:CLI, full tests needed

#18208 Celery: Sort adopted tasks in _check_for_stalled_adopted_tasks method
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:scheduler/executor, full tests needed

#18240 Fix DB session handling in XCom.set.
  airflow/models/xcom.py
  tests/models/test_xcom.py
Labels: full tests needed
