Repository apache/airflow, pull requests merged in 2021-11, with the labels that each got.

#19345 Temporarily remove mypy checks to stop PRs from failing
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_flake8.sh
  scripts/ci/pre_commit/pre_commit_mypy.sh
Labels: area:dev-tools, full tests needed

#19303 Use enum for "__var" and "__type" members
  airflow/serialization/serialized_objects.py
Labels: area:serialization, full tests needed

#19336 Tiny clarification of base executor docstring
  airflow/executors/base_executor.py
Labels: area:scheduler/executor, kind:documentation, changelog:skip, type:internal, full tests needed

#19340 Update dag-run.rst
  docs/apache-airflow/dag-run.rst
Labels: kind:documentation, changelog:skip, okay to merge

#19338 Clarify dag-not-found error message
  airflow/utils/cli.py
Labels: type:improvement, full tests needed

#19337 Dags-in-image pod template example should not have dag mounts
  airflow/kubernetes/pod_template_file_examples/dags_in_image_template.yaml
Labels: kind:documentation, area:kubernetes, type:doc-only

#19326 Chart: Update default Airflow version to 2.2.1
  chart/Chart.yaml
  chart/UPDATING.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#19327 Modernize dockerfiles builds
  chart/dockerfiles/pgbouncer-exporter/.gitignore
  chart/dockerfiles/pgbouncer-exporter/Dockerfile
  chart/dockerfiles/pgbouncer-exporter/build_and_push.sh
  chart/dockerfiles/pgbouncer/Dockerfile
  chart/dockerfiles/pgbouncer/build_and_push.sh
  chart/dockerfiles/statsd-exporter/Dockerfile
  chart/dockerfiles/statsd-exporter/build_and_push.sh
Labels: area:helm-chart, area:production-image, okay to merge

#19307 Check next run exists before reading data interval
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: full tests needed

#19325 Enable mouse mode by default in start_airflow tmux session
  scripts/in_container/bin/run_tmux
Labels: area:dev-tools, full tests needed

#19153 Removes unused state transitions to handle auto-changing view permissions.
  airflow/www/fab_security/manager.py
Labels: area:webserver, area:API, okay to merge

#19350 Make scripts/in_container/check_environment.sh Google Shell Guide Compliant
  scripts/in_container/check_environment.sh
Labels: area:dev-tools, full tests needed

#19261 Fix hidden tooltip position
  airflow/www/static/css/main.css
Labels: area:webserver, type:bug-fix, okay to merge, area:UI

#19173 Add Note to SLA regarding schedule_interval
  airflow/dag_processing/processor.py
  docs/apache-airflow/concepts/tasks.rst
Labels: kind:documentation, full tests needed

#19354 Refactor LoggingCommandExecutor to use subprocess devnull
  tests/test_utils/logging_command_executor.py
Labels: type:internal, full tests needed

#19375 Only mark SchedulerJobs as failed, not any jobs
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, type:bug-fix, full tests needed

#19374 Fix PostgresHook import in tutorial
  docs/apache-airflow/tutorial.rst
Labels: kind:documentation, okay to merge

#19358 Fix S3ToRedshiftOperator
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: provider:AWS, area:providers, okay to merge

#19380 Check if job object is None before calling .is_alive()
  airflow/cli/commands/standalone_command.py
Labels: area:CLI, okay to merge

#18657 Cleanup of start_date and default arg use for Apache example DAGs
  airflow/providers/apache/beam/example_dags/example_beam.py
  airflow/providers/apache/cassandra/example_dags/example_cassandra_dag.py
  airflow/providers/apache/drill/example_dags/example_drill_dag.py
  airflow/providers/apache/druid/example_dags/example_druid_dag.py
  airflow/providers/apache/hive/example_dags/example_twitter_dag.py
  airflow/providers/apache/kylin/example_dags/example_kylin_dag.py
  airflow/providers/apache/livy/example_dags/example_livy.py
  airflow/providers/apache/pig/example_dags/example_pig.py
  airflow/providers/apache/spark/example_dags/example_spark_dag.py
  docs/apache-airflow-providers-apache-cassandra/operators.rst
Labels: area:providers, provider:Apache, kind:documentation, okay to merge

#19363 Fix message on "Mark as" confirmation page
  airflow/www/templates/airflow/_messages.html
  airflow/www/templates/airflow/dags.html
  airflow/www/templates/airflow/main.html
  airflow/www/templates/appbuilder/flash.html
Labels: area:webserver, okay to merge, area:UI

#19339 Touch up k8s executor doc
  docs/apache-airflow/executor/kubernetes.rst
  docs/spelling_wordlist.txt
Labels: area:scheduler/executor, kind:documentation, okay to merge, area:kubernetes

#19211 Fix Toggle Wrap on DAG code page
  airflow/www/static/js/dag_code.js
Labels: area:webserver, okay to merge, area:UI

#19392 Adding more Apache Airflow versions to dropdown in Provider Issue template
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
Labels: area:dev-tools

#19390 Fix downgrade for a DB Migration
  airflow/migrations/versions/7b2661a43ba3_taskinstance_keyed_to_dagrun.py
Labels: full tests needed

#19349 Fix typos in function parameter and comments
  airflow/cli/commands/task_command.py
  airflow/providers/amazon/aws/sensors/sqs.py
  airflow/utils/sqlalchemy.py
  airflow/www/security.py
  tests/serialization/test_dag_serialization.py
Labels: provider:AWS, area:webserver, area:CLI, area:providers, area:serialization, full tests needed

#18968 Use ``execution_date`` to check for existing ``DagRun`` for ``TriggerDagRunOperator``
  airflow/api/common/experimental/trigger_dag.py
  airflow/models/dagrun.py
  tests/api/common/experimental/test_trigger_dag.py
  tests/models/test_dagrun.py
Labels: area:API, full tests needed

#19396 Ensure catchup=False is used in example dags
  airflow/example_dags/example_external_task_marker_dag.py
  airflow/providers/microsoft/azure/example_dags/example_fileshare.py
  airflow/providers/microsoft/azure/example_dags/example_local_to_adls.py
  airflow/providers/microsoft/azure/example_dags/example_local_to_wasb.py
Labels: provider:Azure, area:providers

#19359 Task should fail immediately when pod is unprocessable
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Labels: area:scheduler/executor, full tests needed, area:kubernetes

#19195 fix SagemakerProcessingOperator ThrottlingException
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/operators/sagemaker_processing.py
  tests/providers/amazon/aws/hooks/test_sagemaker.py
  tests/providers/amazon/aws/operators/test_sagemaker_processing.py
Labels: provider:AWS, area:providers, okay to merge

#19295 Fix --disable-mssql-client-installation error
  BREEZE.rst
  breeze
  breeze-complete
Labels: area:dev-tools, okay to merge

#19029 Simplify "invalid TI state" message
  airflow/ti_deps/deps/valid_state_dep.py
  tests/www/views/test_views_tasks.py
Labels: full tests needed

#19411 Fix field relabeling when switching between conn types
  airflow/www/static/js/connection_form.js
Labels: area:webserver, okay to merge, area:UI

#19413 Add documentation for RC2 release of Amazon provider for October
  airflow/providers/amazon/CHANGELOG.rst
  docs/apache-airflow-providers-amazon/commits.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#19420 Fix DruidOperator rendering problem
  airflow/providers/apache/druid/operators/druid.py
Labels: area:providers, provider:Apache, okay to merge

#19424 Fix typos in warnings, docstrings, exceptions
  airflow/models/dag.py
  airflow/models/variable.py
  airflow/providers/google/cloud/example_dags/example_s3_to_gcs.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  breeze
  docs/apache-airflow/howto/timetable.rst
Labels: provider:Google, area:providers, area:dev-tools, kind:documentation, full tests needed

#19379 Use strict k8s schemas for template validation
  chart/tests/helm_template_generator.py
  chart/tests/test_flower.py
  chart/tests/test_webserver.py
Labels: area:helm-chart, okay to merge

#19425 Fix moving of dangling TaskInstance rows for SQL Server
  airflow/utils/db.py
Labels: full tests needed

#18776 Allow disabling the Helm hooks in the helm chart
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/tests/test_create_user_job.py
  chart/tests/test_migrate_database_job.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/index.rst
Labels: area:helm-chart, okay to merge

#19401 Fix log timezone in task log view (#19342)
  airflow/www/static/js/ti_log.js
Labels: area:webserver, area:UI

#19054 Chart: allow specifying keytab in values.yaml
  chart/templates/secrets/kerberos-keytab.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_kerberos.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#19267 Fix serialization of Params with set data type
  airflow/models/param.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, full tests needed

#19417 Add Changelog for Airflow Chart 1.3.0
  chart/CHANGELOG.txt
Labels: area:helm-chart, okay to merge

#19418 Fix relativedelta schedule_interval serialization
  airflow/timetables/interval.py
  tests/timetables/test_interval_timetable.py
Labels: full tests needed

#19395 Add tests on variable.py
  airflow/models/variable.py
  tests/secrets/test_local_filesystem.py
  tests/secrets/test_secrets.py
Labels: area:secrets, full tests needed

#19441 Change the name of link to ASF downloads
  docs/apache-airflow/installation/index.rst
  docs/apache-airflow/installation/installing-from-sources.rst
  docs/helm-chart/installing-helm-chart-from-sources.rst
  docs/installing-providers-from-sources.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#19436 Clean-up of google cloud example dags - 1
  airflow/providers/google/cloud/example_dags/example_automl_nl_text_classification.py
  airflow/providers/google/cloud/example_dags/example_automl_nl_text_extraction.py
  airflow/providers/google/cloud/example_dags/example_automl_nl_text_sentiment.py
  airflow/providers/google/cloud/example_dags/example_automl_tables.py
  airflow/providers/google/cloud/example_dags/example_automl_translation.py
  airflow/providers/google/cloud/example_dags/example_automl_video_intelligence_classification.py
  airflow/providers/google/cloud/example_dags/example_automl_video_intelligence_tracking.py
  airflow/providers/google/cloud/example_dags/example_automl_vision_classification.py
  airflow/providers/google/cloud/example_dags/example_automl_vision_object_detection.py
  airflow/providers/google/cloud/example_dags/example_bigquery_dts.py
  airflow/providers/google/cloud/example_dags/example_bigquery_operations.py
  airflow/providers/google/cloud/example_dags/example_bigquery_queries.py
  airflow/providers/google/cloud/example_dags/example_bigquery_sensors.py
  airflow/providers/google/cloud/example_dags/example_bigquery_to_bigquery.py
  airflow/providers/google/cloud/example_dags/example_bigquery_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_bigquery_to_mssql.py
  airflow/providers/google/cloud/example_dags/example_bigquery_transfer.py
  airflow/providers/google/cloud/example_dags/example_bigtable.py
  airflow/providers/google/cloud/example_dags/example_cloud_build.py
  airflow/providers/google/cloud/example_dags/example_cloud_memorystore.py
  airflow/providers/google/cloud/example_dags/example_cloud_sql.py
  airflow/providers/google/cloud/example_dags/example_cloud_sql_query.py
  airflow/providers/google/cloud/example_dags/example_cloud_storage_transfer_service_aws.py
  airflow/providers/google/cloud/example_dags/example_cloud_storage_transfer_service_gcp.py
Labels: provider:Google, area:providers, okay to merge

#19079 use DefaultAzureCredential if login not provided for Data Factory
  airflow/providers/microsoft/azure/hooks/data_factory.py
  docs/apache-airflow-providers-microsoft-azure/connections/adf.rst
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
Labels: provider:Azure, area:providers, okay to merge

#19398 Decouple name randomization from name kwarg
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, area:kubernetes

#19443 Update Databricks operators to match latest version of API 2.0
  airflow/providers/databricks/operators/databricks.py
  docs/apache-airflow-providers-databricks/operators.rst
  tests/providers/databricks/operators/test_databricks.py
Labels: area:providers, kind:documentation, okay to merge

#19456 Fix Daylight Saving Time issue in test case
  airflow/ui/test/TimezoneDropdown.test.tsx
Labels: area:UI

#19404 Doc: Fix the parameter name 'deploy-mode' in spark.rst (#19403)
  docs/apache-airflow-providers-apache-spark/connections/spark.rst
Labels: area:providers, provider:Apache, kind:documentation

#19455 Updates version of airflow in docker examples
  docs/docker-stack/docker-examples/customizing/add-build-essential-custom.sh
  docs/docker-stack/docker-examples/customizing/custom-sources.sh
  docs/docker-stack/docker-examples/customizing/pypi-dev-runtime-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-extras-and-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-selected-version.sh
Labels: kind:documentation, area:production-image

#19094 MySQLToS3Operator actually allow writing parquet files to s3.
  airflow/providers/amazon/aws/transfers/mysql_to_s3.py
Labels: provider:AWS, area:providers, okay to merge

#18945 Add dataproc metastore operators
  airflow/providers/google/cloud/example_dags/example_dataproc_metastore.py
  airflow/providers/google/cloud/hooks/dataproc_metastore.py
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/dataproc_metastore.rst
  setup.py
  tests/providers/google/cloud/hooks/test_dataproc_metastore.py
  tests/providers/google/cloud/operators/test_dataproc_metastore.py
  tests/providers/google/cloud/operators/test_dataproc_metastore_system.py
Labels: provider:Google, area:providers, kind:documentation

#19335 Authentication with AAD tokens in Databricks provider
  airflow/providers/databricks/hooks/databricks.py
  docs/apache-airflow-providers-databricks/connections/databricks.rst
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers, kind:documentation, okay to merge

#19442 Fix mismatch between docs and Azure Data Factory Hook
  docs/apache-airflow-providers-microsoft-azure/connections/adf.rst
Labels: provider:Azure, area:providers, kind:documentation, okay to merge

#19459 Change to correct type in KubernetesPodOperator
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Labels: area:providers, area:kubernetes

#19466 FAB still requires WTForms < 3.0
  setup.cfg
Labels: full tests needed

#19465 Add a proper example to the "patch DAG" API documentation
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API, okay to merge

#19472 Fix whitespace error causing failing graphviz test
  tests/utils/test_dot_renderer.py
Labels: full tests needed

#19014 Fix Cloud SQL system tests
  airflow/providers/google/cloud/example_dags/example_cloud_sql_query.py
  tests/providers/google/cloud/operators/test_cloud_sql_system.py
  tests/providers/google/cloud/operators/test_cloud_sql_system_helper.py
Labels: provider:Google, area:providers, okay to merge

#19475 Remove `host` from hidden fields in `WasbHook`
  airflow/providers/microsoft/azure/hooks/wasb.py
Labels: provider:Azure, area:providers, okay to merge

#19281 Add missing "end_date" to hash components
  airflow/models/baseoperator.py
  airflow/models/dag.py
Labels: full tests needed

#19478 Do not crash with stacktrace when task instance is missing
  airflow/www/views.py
Labels: area:webserver, okay to merge

#18954 Add DAG file processing description to Scheduler Concepts
  docs/apache-airflow/concepts/scheduler.rst
  docs/apache-airflow/img/dag_file_processing_diagram.png
Labels: area:scheduler/executor, kind:documentation, okay to merge

#19474 Fix typos in Hive transfer operator docstrings
  airflow/providers/apache/hive/transfers/hive_to_mysql.py
  airflow/providers/apache/hive/transfers/hive_to_samba.py
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/apache/hive/transfers/mysql_to_hive.py
  airflow/providers/apache/hive/transfers/s3_to_hive.py
  airflow/providers/apache/hive/transfers/vertica_to_hive.py
Labels: area:providers, provider:Apache, okay to merge

#19480 Clarify guidance re trust of keys in release docs
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_AIRFLOW_UPGRADE_CHECK.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools, okay to merge

#19483 Update description of release process for adding new major release
  dev/README_RELEASE_AIRFLOW.md
  dev/retag_docker_images.py
Labels: area:dev-tools, okay to merge

#19412 Update Databricks API from 2.0 to 2.1
  airflow/providers/databricks/hooks/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers, okay to merge

#19485 Bump chart version to 1.4.0-dev
  chart/Chart.yaml
Labels: area:helm-chart, okay to merge

#19494 Update helm chart release docs
  dev/README_RELEASE_HELM_CHART.md
  docs/publish_docs.py
Labels: area:dev-tools, kind:documentation, okay to merge

#19495 Fix docker "after entrypoint" custom script example
  docs/docker-stack/entrypoint.rst
Labels: kind:documentation, area:production-image, okay to merge

#19496 Clarify that .asf.yml and codecov.yml should be changed in main
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools, okay to merge

#19484 KubernetesExecutor should default to template image if used
  airflow/kubernetes/kube_config.py
  tests/kubernetes/test_pod_generator.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor, full tests needed, area:kubernetes

#19468 Minor grammar and sentence flow corrections in pip installation docs
  docs/apache-airflow/installation/installing-from-pypi.rst
Labels: kind:documentation, okay to merge

#19512 Optimizes running tests for public GitHub Runners.
  scripts/ci/libraries/_testing.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
Labels: area:dev-tools, full tests needed

#19509 Update deferring.rst
  docs/apache-airflow/concepts/deferring.rst
Labels: kind:documentation

#19521 Update Airflow versions in issue templates
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
Labels: area:dev-tools, okay to merge

#19501 Update Operators and Hooks doc to reflect latest
  docs/apache-airflow/operators-and-hooks-ref.rst
Labels: kind:documentation, okay to merge, area:core-operators

#19504 Do not check for S3 key before attempting download
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: provider:AWS, area:providers, okay to merge

#19453 Improve message and documentation around moved data
  airflow/www/templates/airflow/dags.html
  docs/apache-airflow/installation/index.rst
  docs/apache-airflow/installation/setting-up-the-database.rst
  docs/apache-airflow/installation/upgrading.rst
  docs/spelling_wordlist.txt
Labels: area:webserver, kind:documentation, okay to merge, area:UI

#19523 Disable test code coverage for PRs
  .github/workflows/ci.yml
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/in_container/entrypoint_ci.sh
Labels: area:dev-tools, full tests needed

#19531 Fix DAG docstrings
  airflow/models/dag.py
Labels: full tests needed

#19009 Pass custom_headers to send_email and send_email_smtp
  airflow/operators/email.py
  airflow/utils/email.py
  tests/operators/test_email.py
  tests/utils/test_email.py
Labels: full tests needed, area:core-operators

#19155 Resurrect python openapi client generator
  clients/gen/common.sh
  clients/gen/python.sh
Labels: area:API, okay to merge

#19528 Fix missing dagruns when catchup=True
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#19322 Copy AppBuilder Base class verbatim from FAB to Airflow (with attribution)
  airflow/www/extensions/init_appbuilder.py
Labels: area:webserver, okay to merge

#19543 Remove duplicate get_connection in SnowflakeHook
  airflow/providers/snowflake/hooks/snowflake.py
Labels: area:providers, provider:Snowflake

#19541 Remove remaining `pylint: disable` comments
  airflow/compat/asyncio.py
  airflow/configuration.py
  airflow/jobs/triggerer_job.py
  airflow/models/connection.py
  airflow/models/variable.py
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/operators/emr_containers.py
  airflow/providers/docker/decorators/docker.py
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/sensors/date_time.py
  airflow/sensors/time_delta.py
  airflow/sensors/time_sensor.py
  airflow/triggers/testing.py
  airflow/utils/sqlalchemy.py
  airflow/utils/state.py
  airflow/www/views.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:Google, provider:AWS, area:scheduler/executor, area:webserver, area:providers, full tests needed, area:core-operators

#9011 Adding support for using client_type API for interacting with EC2 and support for using filters
  airflow/providers/amazon/aws/hooks/ec2.py
  tests/providers/amazon/aws/hooks/test_ec2.py
Labels: provider:AWS

#18787 Show if an executor supports /run via duck-typing
  airflow/executors/celery_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/www/views.py
Labels: area:scheduler/executor, area:webserver, full tests needed, area:kubernetes

#19551 Fix typo in Changelog
  CHANGELOG.txt
Labels: okay to merge

#19550 Dev: Update Airflow versions in issue templates (#19521)
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
Labels: area:dev-tools, okay to merge

#19530 Do not require all extras for SalesforceHook
  airflow/providers/salesforce/hooks/salesforce.py
  tests/providers/salesforce/hooks/test_salesforce.py
Labels: area:providers, okay to merge

#19554 Upload KinD logs on cancell too
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#18675 New Tree View
  .github/workflows/ci.yml
  .gitignore
  CI.rst
  CONTRIBUTING.rst
  LICENSE
  airflow/www/.babelrc
  airflow/www/.eslintrc
  airflow/www/jest-setup.js
  airflow/www/jest.config.js
  airflow/www/package.json
  airflow/www/static/js/datetime_utils.js
  airflow/www/static/js/graph.js
  airflow/www/static/js/tree.js
  airflow/www/static/js/tree/InstanceTooltip.jsx
  airflow/www/static/js/tree/StatusBox.jsx
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/dagRuns/Bar.jsx
  airflow/www/static/js/tree/dagRuns/Tooltip.jsx
  airflow/www/static/js/tree/dagRuns/index.jsx
  airflow/www/static/js/tree/dagRuns/index.test.jsx
  airflow/www/static/js/tree/index.jsx
  airflow/www/static/js/tree/renderTaskRows.jsx
  airflow/www/static/js/tree/renderTaskRows.test.jsx
  airflow/www/static/js/tree/useTreeData.js
  airflow/www/static/js/tree/useTreeData.test.js
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/tree.html
  airflow/www/utils.py
  airflow/www/views.py
  airflow/www/webpack.config.js
  airflow/www/yarn.lock
  scripts/ci/selective_ci_checks.sh
  setup.cfg
  tests/www/views/test_views_tasks.py
Labels: area:webserver, full tests needed, area:UI, AIP-38

#19562 Small formatting tweak to GCP SSH conn doc
  docs/apache-airflow-providers-google/connections/gcp_ssh.rst
Labels: provider:Google, area:providers, kind:documentation, okay to merge

#19539 Minor touch up for async docs
  airflow/triggers/base.py
  docs/apache-airflow/concepts/deferring.rst
Labels: kind:documentation, full tests needed

#19553 Fix IntegrityError in `DagFileProcessor.manage_slas`
  airflow/dag_processing/processor.py
  tests/dag_processing/test_processor.py
Labels: area:scheduler/executor, full tests needed

#19580 Improve documentation for tasks run command
  airflow/cli/commands/task_command.py
Labels: area:CLI, okay to merge

#19431 Update Azure modules to comply with AIP-21
  airflow/contrib/hooks/azure_container_instance_hook.py
  airflow/contrib/hooks/azure_container_registry_hook.py
  airflow/contrib/hooks/azure_container_volume_hook.py
  airflow/contrib/hooks/azure_cosmos_hook.py
  airflow/contrib/hooks/azure_data_lake_hook.py
  airflow/contrib/hooks/azure_fileshare_hook.py
  airflow/contrib/operators/azure_container_instances_operator.py
  airflow/contrib/operators/azure_cosmos_operator.py
  airflow/contrib/secrets/azure_key_vault.py
  airflow/contrib/sensors/azure_cosmos_sensor.py
  airflow/providers/google/cloud/transfers/adls_to_gcs.py
  airflow/providers/google/cloud/transfers/azure_fileshare_to_gcs.py
  airflow/providers/microsoft/azure/example_dags/example_azure_container_instances.py
  airflow/providers/microsoft/azure/example_dags/example_azure_cosmosdb.py
  airflow/providers/microsoft/azure/example_dags/example_fileshare.py
  airflow/providers/microsoft/azure/hooks/azure_batch.py
  airflow/providers/microsoft/azure/hooks/azure_container_instance.py
  airflow/providers/microsoft/azure/hooks/azure_container_registry.py
  airflow/providers/microsoft/azure/hooks/azure_container_volume.py
  airflow/providers/microsoft/azure/hooks/azure_cosmos.py
  airflow/providers/microsoft/azure/hooks/azure_data_lake.py
  airflow/providers/microsoft/azure/hooks/azure_fileshare.py
  airflow/providers/microsoft/azure/hooks/batch.py
  airflow/providers/microsoft/azure/hooks/container_instance.py
  airflow/providers/microsoft/azure/hooks/container_registry.py
  airflow/providers/microsoft/azure/hooks/container_volume.py
  airflow/providers/microsoft/azure/hooks/cosmos.py
  airflow/providers/microsoft/azure/hooks/data_lake.py
  airflow/providers/microsoft/azure/hooks/fileshare.py
  airflow/providers/microsoft/azure/operators/adls.py
  airflow/providers/microsoft/azure/operators/azure_batch.py
  airflow/providers/microsoft/azure/operators/azure_container_instances.py
  airflow/providers/microsoft/azure/operators/azure_cosmos.py
  airflow/providers/microsoft/azure/operators/batch.py
  airflow/providers/microsoft/azure/operators/container_instances.py
  airflow/providers/microsoft/azure/operators/cosmos.py
  airflow/providers/microsoft/azure/provider.yaml
  airflow/providers/microsoft/azure/secrets/azure_key_vault.py
  airflow/providers/microsoft/azure/secrets/key_vault.py
  airflow/providers/microsoft/azure/sensors/azure_cosmos.py
  airflow/providers/microsoft/azure/sensors/cosmos.py
  airflow/providers/microsoft/azure/transfers/local_to_adls.py
  airflow/providers/microsoft/azure/transfers/oracle_to_azure_data_lake.py
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow-providers-microsoft-azure/secrets-backends/azure-key-vault.rst
  tests/deprecated_classes.py
  tests/providers/microsoft/azure/hooks/test_azure_batch.py
  tests/providers/microsoft/azure/hooks/test_azure_container_instance.py
  tests/providers/microsoft/azure/hooks/test_azure_container_registry.py
  tests/providers/microsoft/azure/hooks/test_azure_container_volume.py
  tests/providers/microsoft/azure/hooks/test_azure_cosmos.py
  tests/providers/microsoft/azure/hooks/test_azure_data_lake.py
  tests/providers/microsoft/azure/hooks/test_azure_fileshare.py
  tests/providers/microsoft/azure/operators/test_azure_batch.py
  tests/providers/microsoft/azure/operators/test_azure_container_instances.py
  tests/providers/microsoft/azure/operators/test_azure_cosmos.py
  tests/providers/microsoft/azure/secrets/test_azure_key_vault.py
  tests/providers/microsoft/azure/sensors/test_azure_cosmos.py
  tests/test_utils/azure_system_helpers.py
Labels: provider:Google, provider:Azure, area:providers, full tests needed, debug-ci-resources

#19544 Databricks jobs 2.1
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
  tests/providers/databricks/operators/test_databricks.py
Labels: area:providers

#19585 Databricks: allow to specify PAT in Password field
  airflow/providers/databricks/hooks/databricks.py
  docs/apache-airflow-providers-databricks/connections/databricks.rst
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers, kind:documentation, okay to merge

#19164 Add support in GCP connection for reading key from Secret Manager
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/google/common/hooks/base_google.py
  docs/apache-airflow-providers-google/connections/gcp.rst
  docs/apache-airflow-providers-google/secrets-backends/google-cloud-secret-manager-backend.rst
  tests/providers/google/cloud/utils/test_credentials_provider.py
  tests/providers/google/common/hooks/test_base_google.py
Labels: provider:Google, area:providers, kind:documentation

#19540 hdfs provider docs: add hdfs PIP requirement
  setup.py
Labels: area:providers, provider:Apache, kind:documentation

#19237 Cleanup of start_date and default arg use for Amazon example DAGs
  airflow/providers/amazon/aws/example_dags/example_athena.py
  airflow/providers/amazon/aws/example_dags/example_datasync_1.py
  airflow/providers/amazon/aws/example_dags/example_datasync_2.py
  airflow/providers/amazon/aws/example_dags/example_dms_full_load_task.py
  airflow/providers/amazon/aws/example_dags/example_ecs_fargate.py
  airflow/providers/amazon/aws/example_dags/example_eks_templated.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_fargate_in_one_step.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_fargate_profile.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_nodegroup_in_one_step.py
  airflow/providers/amazon/aws/example_dags/example_eks_with_nodegroups.py
  airflow/providers/amazon/aws/example_dags/example_emr_eks_job.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_automatic_steps.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py
  airflow/providers/amazon/aws/example_dags/example_glacier_to_gcs.py
  airflow/providers/amazon/aws/example_dags/example_google_api_to_s3_transfer_advanced.py
  airflow/providers/amazon/aws/example_dags/example_google_api_to_s3_transfer_basic.py
  airflow/providers/amazon/aws/example_dags/example_imap_attachment_to_s3.py
  airflow/providers/amazon/aws/example_dags/example_local_to_s3.py
  airflow/providers/amazon/aws/example_dags/example_redshift.py
  airflow/providers/amazon/aws/example_dags/example_s3_bucket.py
  airflow/providers/amazon/aws/example_dags/example_s3_bucket_tagging.py
  airflow/providers/amazon/aws/example_dags/example_s3_to_redshift.py
  airflow/providers/amazon/aws/example_dags/example_s3_to_sftp.py
  airflow/providers/amazon/aws/example_dags/example_sftp_to_s3.py
  airflow/providers/amazon/aws/example_dags/example_sqs.py
  docs/apache-airflow-providers-amazon/operators/dms.rst
Labels: provider:AWS, area:providers, kind:documentation

#19527 Clean-up of google cloud example dags - batch 2
  airflow/providers/google/cloud/example_dags/example_azure_fileshare_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_compute.py
  airflow/providers/google/cloud/example_dags/example_compute_igm.py
  airflow/providers/google/cloud/example_dags/example_compute_ssh.py
  airflow/providers/google/cloud/example_dags/example_datacatalog.py
  airflow/providers/google/cloud/example_dags/example_dataflow.py
  airflow/providers/google/cloud/example_dags/example_dataflow_flex_template.py
  airflow/providers/google/cloud/example_dags/example_dataflow_sql.py
  airflow/providers/google/cloud/example_dags/example_datafusion.py
  airflow/providers/google/cloud/example_dags/example_dataprep.py
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  airflow/providers/google/cloud/example_dags/example_datastore.py
  airflow/providers/google/cloud/example_dags/example_dlp.py
  airflow/providers/google/cloud/example_dags/example_facebook_ads_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_functions.py
  airflow/providers/google/cloud/example_dags/example_gcs.py
  airflow/providers/google/cloud/example_dags/example_gcs_timespan_file_transform.py
  airflow/providers/google/cloud/example_dags/example_gcs_to_bigquery.py
  airflow/providers/google/cloud/example_dags/example_gcs_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_gcs_to_local.py
  airflow/providers/google/cloud/example_dags/example_gcs_to_sftp.py
  airflow/providers/google/cloud/example_dags/example_gdrive_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_gdrive_to_local.py
  airflow/providers/google/cloud/example_dags/example_kubernetes_engine.py
  docs/apache-airflow-providers-google/operators/cloud/gcs.rst
Labels: provider:Google, area:providers

#18718 Add hook_params in BaseSqlOperator
  airflow/models/connection.py
  airflow/operators/sql.py
  tests/operators/test_sql.py
Labels: full tests needed, area:core-operators

#19588 Fix typo: `parsed_results` -> `parse_results`
  docs/apache-airflow/tutorial_taskflow_api.rst
Labels: kind:documentation, okay to merge

#19247 Add script to generate issue for status of testing of the rc
  dev/ISSUE_TEMPLATE.md.jinja2
  dev/README_RELEASE_AIRFLOW.md
  dev/prepare_release_issue.py
Labels: area:dev-tools, okay to merge

#19600 Add 2.2.2 to readme, changelog, updating, etc
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CHANGELOG.txt
  README.md
  UPDATING.md
Labels: area:dev-tools, okay to merge

#19598 Stop polling when Webserver doesn't start up in Kube tests
  scripts/ci/libraries/_kind.sh
Labels: full tests needed

#19604 Fix some Changelog entries
  CHANGELOG.txt
Labels: okay to merge

#19573 Improve automation for docker image release
  dev/README_RELEASE_AIRFLOW.md
  scripts/ci/tools/prepare_prod_docker_images.sh
Labels: area:dev-tools, full tests needed

#19470 Add how-to Guide for MSSQL operators
  airflow/providers/microsoft/mssql/example_dags/__init__.py
  airflow/providers/microsoft/mssql/example_dags/create_table.sql
  airflow/providers/microsoft/mssql/example_dags/example_mssql.py
  airflow/providers/microsoft/mssql/operators/mssql.py
  airflow/providers/microsoft/mssql/provider.yaml
  docs/apache-airflow-providers-microsoft-mssql/connections/mssql.rst
  docs/apache-airflow-providers-microsoft-mssql/index.rst
  docs/apache-airflow-providers-microsoft-mssql/operators.rst
Labels: area:providers, okay to merge

#19446 #16691 Providing more information in docs for DataprocCreateCluster operator migration
  UPDATING.md
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
Labels: provider:Google, area:providers, kind:documentation, okay to merge

#19593 Add an upgrade note on the execution_date -> run_id ORM change
  UPDATING.md
Labels: okay to merge

#19324 Catch AccessDeniedException in AWS Secrets Manager Backend
  airflow/providers/amazon/aws/secrets/secrets_manager.py
Labels: provider:AWS, area:providers, area:secrets, okay to merge

#19605 Update fetching tree data
  airflow/www/jest-setup.js
  airflow/www/package.json
  airflow/www/static/js/tree/useTreeData.js
  airflow/www/static/js/tree/useTreeData.test.js
  airflow/www/templates/airflow/tree.html
  airflow/www/views.py
  airflow/www/yarn.lock
Labels: area:webserver, okay to merge, area:UI

#19609 Add test_connection method for sftp hook
  airflow/providers/sftp/hooks/sftp.py
  tests/providers/sftp/hooks/test_sftp.py
Labels: okay to merge

#19617 Fix incorrect mocking in SFTPHook tests
  tests/providers/sftp/hooks/test_sftp.py
Labels: area:providers

#19616 Declare data interval fields as serializable
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: full tests needed, area:core-operators

#19619 Remove reference to deprecated operator in example_dataproc
  airflow/providers/google/cloud/example_dags/example_dataproc.py
Labels: provider:Google, area:providers

#19595 Remove unnecessary connection form customizations in Azure
  airflow/providers/microsoft/azure/hooks/container_volume.py
  airflow/providers/microsoft/azure/hooks/fileshare.py
Labels: provider:Azure, area:providers, okay to merge

#19623 Move scripts for prod image preparation to dev
  dev/README_RELEASE_AIRFLOW.md
  dev/prepare_prod_docker_images.sh
Labels: area:dev-tools, full tests needed

#19549 Update docs about releasing providers
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools, okay to merge

#19626 Disable yarn-dev in start-airflow command
  airflow/www/ask_for_recompile_assets_if_needed.sh
  scripts/in_container/bin/run_tmux
  scripts/in_container/run_tmux_welcome.sh
Labels: area:webserver, area:dev-tools, full tests needed

#19632 Fix helm chart 1.3.0 changelog
  chart/CHANGELOG.txt
Labels: area:helm-chart, okay to merge

#19636 Update INTHEWILD.md
  INTHEWILD.md
Labels: okay to merge

#19633 Fix failing CI phase with unhealthy container issue
  scripts/ci/docker-compose/integration-pinot.yml
  scripts/ci/docker-compose/integration-statsd.yml
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools, full tests needed

#19355 Ensure the example DAGs are all working
  .github/boring-cyborg.yml
  airflow/example_dags/example_kubernetes_executor.py
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/example_dags/test_utils.py
  docs/apache-airflow/executor/kubernetes.rst
Labels: full tests needed, area:kubernetes

#19563 Add example SLA DAG
  airflow/example_dags/example_sla_dag.py
  docs/apache-airflow/concepts/tasks.rst
Labels: kind:documentation

#19631 Improve `airflow-github` dev script
  dev/airflow-github
Labels: area:dev-tools, okay to merge

#19658 Minimize production js files
  airflow/www/package.json
  airflow/www/webpack.config.js
  airflow/www/yarn.lock
Labels: area:webserver, okay to merge, area:UI

#19400 Cleanup dynamic `start_date` use for miscellaneous Google example DAGs
  airflow/providers/google/ads/example_dags/example_ads.py
  airflow/providers/google/firebase/example_dags/example_firestore.py
  airflow/providers/google/leveldb/example_dags/example_leveldb.py
  airflow/providers/google/marketing_platform/example_dags/example_analytics.py
  airflow/providers/google/marketing_platform/example_dags/example_campaign_manager.py
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/google/marketing_platform/example_dags/example_search_ads.py
  airflow/providers/google/suite/example_dags/example_gcs_to_gdrive.py
  airflow/providers/google/suite/example_dags/example_gcs_to_sheets.py
  airflow/providers/google/suite/example_dags/example_sheets.py
  airflow/providers/google/suite/example_dags/example_sql_to_sheets.py
Labels: provider:Google, area:providers, okay to merge

#19599 Misc. documentation typos and language improvements
  airflow/hooks/dbapi.py
  airflow/operators/generic_transfer.py
  airflow/providers/google/cloud/hooks/workflows.py
  airflow/providers/google/cloud/operators/workflows.py
  airflow/providers/postgres/hooks/postgres.py
  airflow/providers/sqlite/hooks/sqlite.py
  scripts/in_container/run_generate_constraints.sh
Labels: provider:Google, area:providers, area:dev-tools, full tests needed, area:core-operators

#19607 Clean up dynamic `start_date` values from docs
  UPDATING.md
  airflow/smart_sensor_dags/smart_sensor_group.py
  docs/apache-airflow/best-practices.rst
  docs/apache-airflow/concepts/dags.rst
  docs/apache-airflow/concepts/operators.rst
  docs/apache-airflow/dag-run.rst
  docs/apache-airflow/lineage.rst
  docs/apache-airflow/tutorial.rst
  docs/docker-stack/docker-examples/extending/embedding-dags/test_dag.py
Labels: kind:documentation, area:production-image, full tests needed, area:lineage

#19645 Fix dumping container logs on error
  scripts/ci/libraries/_start_end.sh
  scripts/ci/libraries/_testing.sh
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools

#19661 Revert "Copy AppBuilder Base class verbatim from FAB to Airflow"
  airflow/www/extensions/init_appbuilder.py
Labels: area:webserver, okay to merge

#19378 Change logLevel as debug for XCOM returned value message
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: provider:Google, area:providers, full tests needed, area:core-operators

#19663 Update Airflow release guide
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools, okay to merge

#19597 Fix `airflow db check-migrations`
  airflow/utils/db.py
  tests/utils/test_db.py
Labels: full tests needed

#19646 Add more complete instruction for reproducing failed integration tests
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools, full tests needed

#19668 Fix argument error in AzureContainerInstancesOperator
  airflow/providers/microsoft/azure/operators/container_instances.py
Labels: provider:Azure, area:providers, okay to merge

#19678 Fix CI tests so they correctly fail in case of error!
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools, full tests needed

#19676 Use built-in check-migrations command for Airflow>=2 in helm chart
  chart/templates/_helpers.yaml
  chart/tests/test_webserver.py
Labels: area:helm-chart, okay to merge

#19679 Fix the link to the Graph view in the Tree view DAGRun modal
  airflow/www/static/js/tree/dagRuns/Bar.jsx
Labels: area:webserver, okay to merge, area:UI

#19680 Fix incorrect DAG id in KubeExecutor tests
  kubernetes_tests/test_kubernetes_executor.py
Labels: okay to merge, area:kubernetes

#19664 Clean-up of google cloud example dags - batch 3
  airflow/providers/google/cloud/example_dags/example_life_sciences.py
  airflow/providers/google/cloud/example_dags/example_local_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_mlengine.py
  airflow/providers/google/cloud/example_dags/example_mysql_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_natural_language.py
  airflow/providers/google/cloud/example_dags/example_oracle_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_postgres_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_presto_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_pubsub.py
  airflow/providers/google/cloud/example_dags/example_s3_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_salesforce_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_sftp_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_sheets_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_spanner.py
  airflow/providers/google/cloud/example_dags/example_speech_to_text.py
  airflow/providers/google/cloud/example_dags/example_stackdriver.py
  airflow/providers/google/cloud/example_dags/example_tasks.py
  airflow/providers/google/cloud/example_dags/example_text_to_speech.py
  airflow/providers/google/cloud/example_dags/example_translate.py
  airflow/providers/google/cloud/example_dags/example_translate_speech.py
  airflow/providers/google/cloud/example_dags/example_trino_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_video_intelligence.py
  airflow/providers/google/cloud/example_dags/example_vision.py
  airflow/providers/google/cloud/example_dags/example_workflows.py
Labels: provider:Google, area:providers, okay to merge
