Repository apache/airflow, pull requests merged in 2021-07, with the labels that each got.

#15736 Logging and returning info about query execution SnowflakeHook
  airflow/providers/snowflake/hooks/snowflake.py
  airflow/providers/snowflake/operators/snowflake.py
  tests/providers/snowflake/operators/test_snowflake.py
Labels: area:providers, provider:Snowflake

#16750 Fix timing out tests for public GitHub Runners.
  BREEZE.rst
  breeze-complete
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
Labels: area:dev-tools, full tests needed

#16719 ensure task is skipped if missing sla
  airflow/dag_processing/processor.py
Labels: area:scheduler/executor

#16743 Breeze should work with new docker-compose fallback
  breeze
Labels: area:dev-tools, okay to merge

#16754 Only allow webserver to request from the worker log server
  airflow/utils/log/file_task_handler.py
  airflow/utils/serve_logs.py
  tests/utils/test_serve_logs.py
Labels: area:logging, full tests needed

#16756 Correctly load openssh-gerenated private keys in SSHHook
  airflow/providers/ssh/hooks/ssh.py
  tests/providers/ssh/hooks/test_ssh.py
Labels: area:providers, okay to merge

#16760 Remove remaining Pylint disables
  airflow/www/views.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: area:providers, area:webserver, okay to merge, provider:AWS

#16761 Add more CODEOWNERS
  .github/CODEOWNERS
Labels: area:dev-tools, okay to merge

#16539 Have UI and POST /task_instances_state API endpoint have same behaviour
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/models/dag.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/models/test_dag.py
Labels: area:API, area:webserver, full tests needed

#16775 Switches to ghcr.io container registry
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#16704 Remove excessive logging
  airflow/providers/sftp/hooks/sftp.py
Labels: area:providers, okay to merge

#16474 Mask value if the key is ``token``
  airflow/utils/log/secrets_masker.py
Labels: area:logging, full tests needed

#16718 FIX Slow cleared tasks would be adopted by Celery.
  airflow/jobs/scheduler_job.py
  airflow/models/taskinstance.py
  tests/executors/test_celery_executor.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_cleartasks.py
Labels: area:scheduler/executor, full tests needed

#16785 Update default image as ``2.1.1`` for Helm Chart
  README.md
  chart/Chart.yaml
  chart/UPDATING.md
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#16788 Fix release date for 2.1.1
  CHANGELOG.txt
Labels: okay to merge

#16767 Added select_query to the templated fields in RedshiftToS3Operator
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
  tests/providers/amazon/aws/transfers/test_redshift_to_s3.py
Labels: area:providers, provider:AWS

#15964 SSHHook: Using correct hostname for host_key when using non-default ssh port
  airflow/providers/ssh/hooks/ssh.py
Labels: area:providers

#16794 Removes coverage from kubernetes tests
  .github/workflows/ci.yml
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
Labels: area:dev-tools, full tests needed

#16776 Remove legacy GitHub Packages
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  BREEZE.rst
  CI.rst
  IMAGES.rst
  breeze
  breeze-complete
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev-tools, full tests needed

#16819 Require approval for merging to ``v2-*-stable`` branches
  .asf.yaml
Labels: area:dev-tools, okay to merge

#16816 Remove AbstractDagFileProcessorProcess from dag processing
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
Labels: area:scheduler/executor, full tests needed

#16734 fix: Correctly handle custom deps and task_group during DAG serialization #16690
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, full tests needed, kind:bug, reported_version:2.1

#16822 Chart: allow using krb5.conf with CeleryExecutor
  chart/templates/configmaps/configmap.yaml
  chart/tests/test_configmap.py
Labels: area:helm-chart

#16401 Add 'queued' state to DagRun
  airflow/api_connexion/openapi/v1.yaml
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/97cdd93827b8_add_queued_at_column_to_dagrun_table.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/www/static/js/tree.js
  airflow/www/views.py
  docs/apache-airflow/migrations-ref.rst
  tests/api/common/experimental/test_mark_tasks.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/schemas/test_dag_run_schema.py
  tests/dag_processing/test_manager.py
  tests/dag_processing/test_processor.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_cleartasks.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/sensors/test_external_task_sensor.py
  tests/www/views/test_views.py
Labels: area:scheduler/executor, area:webserver, full tests needed

#16835 Add Aneesh Joseph as Airflow Committer
  docs/apache-airflow/project.rst
Labels: kind:documentation, okay to merge

#16784 Chart: warn when using default logging with KubernetesExecutor
  chart/templates/NOTES.txt
Labels: area:helm-chart, okay to merge

#16838 Add changelog updates for 2.1.2
  CHANGELOG.txt
Labels: okay to merge

#16805 When a task instance fails with exception, log it
  airflow/models/taskinstance.py
Labels: full tests needed

#16841 Change whimsy url since Airflow is a TLP
  CONTRIBUTING.rst
Labels: area:dev-tools

#16840 Clarify the role of commits history
  CONTRIBUTING.rst
Labels: area:dev-tools

#16771 Update AWS Base hook to use refreshable credentials (#16770)
  airflow/providers/amazon/aws/hooks/base_aws.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: area:providers, okay to merge, provider:AWS

#15285 Fixed #9387: Add State types for tasks and DAGs
  airflow/models/dagrun.py
  airflow/typing_compat.py
  airflow/utils/state.py
Labels: full tests needed

#16809 Don't check execution_date in refresh_from_db
  airflow/models/dagrun.py
Labels: full tests needed

#16852 Fix impersonation issue with LocalTaskJob
  airflow/jobs/local_task_job.py
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#16859 Chart: Better comment and example for `podTemplate`
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#16854 Add 'queued' to DagRunState
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/utils/state.py
Labels: area:scheduler/executor, full tests needed

#16034 Standardise dataproc location param to region
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/sensors/dataproc.py
  tests/providers/google/cloud/hooks/test_dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/sensors/test_dataproc.py
Labels: area:providers, okay to merge, provider:Google

#16735 Adding: Snowflake Role in snowflake provider hook
  airflow/providers/snowflake/hooks/snowflake.py
  tests/providers/snowflake/hooks/test_snowflake.py
Labels: area:providers, okay to merge, provider:Snowflake

#16696 Improve graph view refresh
  airflow/www/static/js/graph.js
  airflow/www/static/js/tree.js
Labels: area:UI, area:webserver, okay to merge

#16882 Enable "Rebase and merge" button on PRs.
  .asf.yaml
Labels: area:dev-tools, okay to merge

#16867 Updating Airbyte example DAG to use XComArgs
  airflow/providers/airbyte/example_dags/example_airbyte_trigger_job.py
Labels: area:providers, okay to merge

#16883 Cherry pick 3 9 support to v2 1
  BREEZE.rst
  CI.rst
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  LOCAL_VIRTUALENV.rst
  PULL_REQUEST_WORKFLOW.rst
  README.md
  airflow/__init__.py
  airflow/provider.yaml.schema.json
  airflow/providers/apache/hive/provider.yaml
  breeze
  breeze-complete
  dev/provider_packages/PROVIDER_README_TEMPLATE.rst.jinja2
  dev/provider_packages/SETUP_TEMPLATE.py.jinja2
  dev/provider_packages/prepare_provider_packages.py
  dev/retag_docker_images.py
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/selective_ci_checks.sh
  scripts/ci/tools/ci_fix_ownership.sh
  scripts/ci/tools/prepare_prod_docker_images.sh
  setup.cfg
  tests/bats/breeze/test_breeze_complete.bats
  tests/plugins/test_plugins_manager.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/providers/apache/hive/transfers/test_hive_to_mysql.py
  tests/providers/apache/hive/transfers/test_hive_to_samba.py
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
  tests/providers/apache/hive/transfers/test_mysql_to_hive.py
  tests/providers/elasticsearch/log/elasticmock/fake_elasticsearch.py
  tests/sensors/test_base.py
  tests/sensors/test_smart_sensor_operator.py
Labels: area:dev-tools, area:production-image, full tests needed

#16885 Prevent Redis access directly from host
  docs/apache-airflow/start/docker-compose.yaml
Labels: kind:documentation, okay to merge

#16832 Fix minor typo in configuration.py
  airflow/configuration.py
Labels: full tests needed

#16141 Add a calendar field to choose the execution date of the DAG when triggering it
  airflow/www/decorators.py
  airflow/www/templates/airflow/trigger.html
  airflow/www/views.py
  tests/www/views/test_views_trigger_dag.py
Labels: area:UI, area:webserver, okay to merge

#16899 Fixing typos in GlacierToGCSOperator documentation
  docs/apache-airflow-providers-amazon/operators/transfer/glacier_to_gcs.rst
Labels: area:providers, kind:documentation, okay to merge, provider:AWS

#16914 Added template_fields_renderers for MySQL Operator
  airflow/providers/mysql/operators/mysql.py
Labels: area:providers, contributors-workshop, okay to merge

#16350 Fix Minor Bugs in Apache Sqoop Hook and Operator
  airflow/providers/apache/sqoop/hooks/sqoop.py
  airflow/providers/apache/sqoop/operators/sqoop.py
  tests/providers/apache/sqoop/hooks/test_sqoop.py
  tests/providers/apache/sqoop/operators/test_sqoop.py
Labels: area:providers, okay to merge, provider:Apache

#16365 Allow disable SSL for TableauHook
  airflow/providers/tableau/hooks/tableau.py
  docs/apache-airflow-providers-tableau/connections/tableau.rst
  tests/providers/tableau/hooks/test_tableau.py
Labels: area:providers, okay to merge

#16924 Fix Airflow releasing guide
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools

#16928 Avoid verification of images multiple times
  .github/workflows/ci.yml
  scripts/ci/images/ci_wait_for_and_verify_ci_image.sh
  scripts/ci/images/ci_wait_for_and_verify_prod_image.sh
Labels: area:dev-tools, full tests needed

#16927 Remove cache for kubernetes tests
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#16923 Fixed task instance retrieval in xcom view.
  airflow/www/views.py
Labels: area:webserver, okay to merge

#16861 Better description for `pod_template_file`
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Labels: full tests needed

#16820 Fix wrong template_fields_renderers for AWS operators
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
Labels: area:providers, provider:AWS

#16930 BugFix: Using `json` string in template_field fails with K8s Operators
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
Labels: area:kubernetes, area:providers, okay to merge

#16926 Docs: Suggest use of Env vars instead of Airflow Vars in best practises doc
  docs/apache-airflow/best-practices.rst
Labels: kind:documentation, okay to merge

#16933 Fix UPDATING.md
  UPDATING.md
Labels: okay to merge

#16659 Refactor: Remove processor_factory from DAG processing
  airflow/dag_processing/manager.py
  airflow/jobs/scheduler_job.py
  tests/dag_processing/test_manager.py
Labels: area:scheduler/executor, full tests needed

#16893 Change the logic of None comparison in model_list template
  airflow/www/templates/airflow/model_list.html
Labels: area:UI, area:webserver, okay to merge

#16780 Switch Breeze/CI to ghcr.io exclusively
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  BREEZE.rst
  CI.rst
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
  IMAGES.rst
  README.md
  TESTING.rst
  breeze
  breeze-complete
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_AIRFLOW_UPGRADE_CHECK.md
  dev/retag_docker_images.py
  images/CI.png
  images/ci/CI.png
  images/ci/pull_request_ci_flow.md5
  images/ci/pull_request_ci_flow.mermaid
  images/ci/pull_request_ci_flow.png
  images/ci/push_ci_flow.md5
  images/ci/push_ci_flow.mermaid
  images/ci/push_ci_flow.png
  images/ci/scheduled_ci_flow.md5
  images/ci/scheduled_ci_flow.mermaid
  images/ci/scheduled_ci_flow.png
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/local-prod.yml
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/images/ci_push_ci_images.sh
  scripts/ci/images/ci_push_production_images.sh
  scripts/ci/images/ci_wait_for_and_verify_ci_image.sh
  scripts/ci/images/ci_wait_for_and_verify_prod_image.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/tools/build_dockerhub.sh
  scripts/ci/tools/ci_clear_tmp.sh
  scripts/ci/tools/fix_ownership.sh
  scripts/ci/tools/free_space.sh
  scripts/ci/tools/prepare_prod_docker_images.sh
  scripts/in_container/airflow_ci.cfg
  scripts/in_container/run_clear_tmp.sh
Labels: area:dev-tools, full tests needed

#16935 Adds warning about using dynamic installation of packages
  docs/docker-stack/entrypoint.rst
Labels: area:production-image, kind:documentation, okay to merge

#16948 Pulls latest images to build images in "Build Image" flow
  .github/workflows/build-images.yml
Labels: area:dev-tools

#16884 AIRFLOW-5529 Add Apache Drill provider.
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/apache/drill/CHANGELOG.rst
  airflow/providers/apache/drill/__init__.py
  airflow/providers/apache/drill/example_dags/example_drill_dag.py
  airflow/providers/apache/drill/hooks/__init__.py
  airflow/providers/apache/drill/hooks/drill.py
  airflow/providers/apache/drill/operators/__init__.py
  airflow/providers/apache/drill/operators/drill.py
  airflow/providers/apache/drill/provider.yaml
  airflow/ui/src/views/Docs.tsx
  airflow/utils/db.py
  docs/apache-airflow-providers-apache-drill/commits.rst
  docs/apache-airflow-providers-apache-drill/connections/drill.rst
  docs/apache-airflow-providers-apache-drill/index.rst
  docs/apache-airflow-providers-apache-drill/operators.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/conf.py
  docs/integration-logos/apache/drill.png
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/apache/drill/__init__.py
  tests/providers/apache/drill/hooks/__init__.py
  tests/providers/apache/drill/hooks/test_drill.py
  tests/providers/apache/drill/operators/__init__.py
  tests/providers/apache/drill/operators/test_drill.py
Labels: area:UI, area:providers, kind:documentation, provider:Apache

#16950 Fixed parsing issue of _docker.env file for docker-compose v2
  scripts/ci/docker-compose/_docker.env
Labels: area:dev-tools, full tests needed

#16894 Add recursive flag to glob in filesystem sensor
  airflow/sensors/filesystem.py
  tests/sensors/test_filesystem.py
Labels: area:core-operators, full tests needed

#16959 Fixes passing variables via docker --env-file command
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/_docker_compose.env
  scripts/ci/docker-compose/base.yml
Labels: area:dev-tools, full tests needed

#16955 Remove duplicate line in ``UPDATING.md``
  UPDATING.md
Labels: okay to merge

#16971 Fixes typo in the name of file for Breeze docker compose env
  scripts/ci/docker-compose/base.yml
Labels: area:dev-tools, full tests needed

#16946 Add CRST - The Transportation Solution, Inc to INTHEWILD.md
  INTHEWILD.md
Labels: okay to merge

#16963 Fixed to check number key from jenkins response
  airflow/providers/jenkins/operators/jenkins_job_trigger.py
Labels: area:providers, okay to merge

#16975 Update alias for field_mask in Google Memmcache
  airflow/providers/google/cloud/hooks/cloud_memorystore.py
  setup.py
Labels: area:providers, full tests needed, okay to merge, provider:Google

#16974 Switch back http provider after requests removes LGPL dependency
  docs/apache-airflow/extra-packages-ref.rst
  setup.py
Labels: full tests needed, kind:documentation

#16311 Prevent running `airflow db init` migrations and setup in parallel.
  airflow/migrations/env.py
  airflow/utils/db.py
  airflow/utils/session.py
Labels: full tests needed

#16797 Move CI-integration images to ghcr.io
  BREEZE.rst
  CI.rst
  breeze
  kubernetes_tests/test_kubernetes_pod_operator.py
  scripts/ci/docker-compose/integration-kerberos.yml
  scripts/ci/docker-compose/integration-openldap.yml
  scripts/ci/docker-compose/integration-trino.yml
  scripts/ci/dockerfiles/apache-rat/build_and_push.sh
  scripts/ci/dockerfiles/bats/build_and_push.sh
  scripts/ci/dockerfiles/krb5-kdc-server/build_and_push.sh
  scripts/ci/dockerfiles/stress/build_and_push.sh
  scripts/ci/dockerfiles/trino/Dockerfile
  scripts/ci/dockerfiles/trino/build_and_push.sh
  scripts/ci/static_checks/bats_tests.sh
  scripts/ci/static_checks/check_license.sh
  tests/kubernetes/pod.yaml
  tests/kubernetes/test_pod_generator.py
Labels: area:dev-tools, area:kubernetes, full tests needed

#16984 Removes duplicated lines from generate constraints instructions
  CONTRIBUTING.rst
Labels: area:dev-tools, okay to merge

#16987 Extended template_fields_renderers for MySQL provider
  airflow/providers/mysql/transfers/presto_to_mysql.py
  airflow/providers/mysql/transfers/trino_to_mysql.py
  airflow/providers/mysql/transfers/vertica_to_mysql.py
Labels: area:providers

#16989 Errors out instead of trying to workaround buggy docker-compose v2
  breeze
  scripts/ci/docker-compose/_docker_compose.env
  scripts/ci/docker-compose/base.yml
Labels: area:dev-tools, full tests needed

#16997 Updating breeze static-check command for running all tests on the last commit
  STATIC_CODE_CHECKS.rst
Labels: area:dev-tools

#16998 Fix extras name in ``UPDATING.md``
  UPDATING.md
Labels: okay to merge

#17001 Fix release guide when copying artifacts
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools

#17000 Bump pre-commit hooks
  .pre-commit-config.yaml
Labels: area:dev-tools, okay to merge

#16990 Remove extra forward slash in stackdriver address.
  docs/apache-airflow-providers-google/logging/stackdriver.rst
Labels: area:providers, kind:documentation, provider:Google

#17006 Fix static checks after pre-commit upgrades
  airflow/sensors/base.py
  tests/providers/google/cloud/hooks/test_pubsub.py
  tests/providers/google/cloud/operators/test_pubsub.py
  tests/providers/google/cloud/sensors/test_pubsub.py
Labels: area:core-operators, area:providers, full tests needed, provider:Google

#17007 Move docs about masking to a new page
  docs/apache-airflow/security/secrets/index.rst
  docs/apache-airflow/security/secrets/mask-sensitive-values.rst
Labels: area:secrets, kind:documentation, okay to merge

#16685 Allow attaching to previously launched task in ECSOperator
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: area:providers, okay to merge, provider:AWS

#16932 Adds option to disable mounting temporary folder in DockerOperator
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, okay to merge

#17013 Chart: Update the default Airflow version to ``2.1.2``
  chart/Chart.yaml
  chart/UPDATING.md
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#17009 Update Airflow version in ``README.md``
  CHANGELOG.txt
  README.md
Labels: okay to merge

#17011 Drop support for Airflow 1.10 in entrypoint_prod.sh and improve MSSQL compatibility
  docs/docker-stack/entrypoint.rst
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, area:production-image, full tests needed, kind:documentation

#16916 Deprecate Tableau personal token authentication
  airflow/providers/tableau/hooks/tableau.py
  airflow/providers/tableau/operators/tableau_refresh_workbook.py
  airflow/providers/tableau/sensors/tableau_job_status.py
  docs/apache-airflow-providers-tableau/connections/tableau.rst
  tests/providers/tableau/operators/test_tableau_refresh_workbook.py
Labels: area:providers, okay to merge

#17017 Update Airflow version in docker stack documentation to 2.1.2
  docs/docker-stack/docker-examples/restricted/restricted_environments.sh
  docs/docker-stack/entrypoint.rst
Labels: area:production-image, kind:documentation

#17004 Fix bug and small improvements in scripts/tools/list-integrations.py
  scripts/tools/list-integrations.py
Labels: area:dev-tools, full tests needed

#17028 Control Triage Role users via `.asf.yaml`
  .asf.yaml
Labels: area:dev-tools, okay to merge

#17025 Dev: Bump stale action to v4
  .github/workflows/stale.yml
Labels: area:dev-tools, full tests needed

#17023 Fixes "development" and "rc" cross dependencies between providers
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools, okay to merge

#17040 Chart: Update description for Helm chart to include 'official'
  chart/Chart.yaml
Labels: area:helm-chart

#16978 Updated clean-logs.sh
  scripts/in_container/prod/clean-logs.sh
Labels: area:dev-tools, area:production-image, full tests needed

#17043 Chart: Add instructions to run with Example DAGs
  docs/helm-chart/quick-start.rst
Labels: area:helm-chart, kind:documentation

#17042 Chart: Remove hard-coded namespace in port-forward instructions
  docs/helm-chart/quick-start.rst
Labels: area:helm-chart, kind:documentation

#17060 Update CONTRIBUTING.rst and CONTRIBUTORS_QUICK_START.rst files with jq installation instructions
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
Labels: area:dev-tools, kind:documentation, okay to merge

#17059 Update .mailmap
  .mailmap
Labels: okay to merge

#17062 Fixes detection of version 2 of docker-compose
  breeze
Labels: area:dev-tools, okay to merge

#17061 [FIX] Docker provider - retry docker in docker
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, okay to merge

#17067 Update INTHEWILD.md (Adding Skai.io)
  INTHEWILD.md
Labels: okay to merge

#16964 [AIRFLOW 16730] Added docs & doc ref's for AWS transfer operators between SFTP & S3
  airflow/providers/amazon/aws/example_dags/example_s3_to_sftp.py
  airflow/providers/amazon/aws/example_dags/example_sftp_to_s3.py
  airflow/providers/amazon/aws/transfers/s3_to_sftp.py
  airflow/providers/amazon/aws/transfers/sftp_to_s3.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/transfer/s3_to_sftp.rst
  docs/apache-airflow-providers-amazon/operators/transfer/sftp_to_s3.rst
Labels: area:providers, kind:documentation, okay to merge, provider:AWS

#17065 Converts the specification of branch for pushes to be flexible
  .github/workflows/build-images.yml
Labels: area:dev-tools, full tests needed

#17053 Switch test_scheduler_job.py from unittest to pytest style
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#17075 fix: get_cluster call project_id as self.project_id
  airflow/providers/google/cloud/operators/dataproc.py
Labels: area:providers, okay to merge, provider:Google

#17066 Prepares documentation for RC2 release of Docker Provider
  airflow/providers/docker/CHANGELOG.rst
  docs/apache-airflow-providers-docker/commits.rst
Labels: area:providers, kind:documentation, okay to merge

#17071 Improve executor validation in CLI
  airflow/cli/cli_parser.py
  tests/cli/test_cli_parser.py
Labels: area:CLI, okay to merge

#17069 Support secret backends/airflow.cfg for celery broker in entrypoint_prod.sh
  docs/docker-stack/entrypoint.rst
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, area:production-image, full tests needed, kind:documentation

#17087 Fixed template_fields_renderers for Amazon provider
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/datasync.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/emr_add_steps.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/operators/s3_bucket_tagging.py
  airflow/providers/amazon/aws/operators/sns.py
  airflow/providers/amazon/aws/operators/sqs.py
  airflow/providers/amazon/aws/transfers/mongo_to_s3.py
  airflow/providers/amazon/aws/transfers/mysql_to_s3.py
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
Labels: area:providers, okay to merge, provider:AWS

#17086 Fixes UI assets compilation from PROD image built from sources
  Dockerfile
  scripts/docker/compile_www_assets.sh
Labels: area:dev-tools, area:production-image, full tests needed

#16965 AirbyteHook - Consider incomplete status
  airflow/providers/airbyte/hooks/airbyte.py
  tests/providers/airbyte/hooks/test_airbyte.py
Labels: okay to merge

#15825 Add insert_args for support transfer replace
  airflow/operators/generic_transfer.py
  tests/operators/test_generic_transfer.py
Labels: area:core-operators

#17082 #16976 Add json.dumps() for templated fields objects: 'dict' and 'list'
  airflow/www/views.py
Labels: area:webserver, okay to merge

#17057 Strip non-ascii characters in pod name on k8s executor
  airflow/kubernetes/kubernetes_helper_functions.py
  tests/executors/test_kubernetes_executor.py
Labels: area:kubernetes, area:scheduler/executor, full tests needed

#17080 Parse JSON template parameters field for MySQL operator
  airflow/providers/mysql/operators/mysql.py
  tests/providers/mysql/operators/test_mysql.py
Labels: area:providers, okay to merge

#17090 Chore: Some code cleanup in `airflow/utils/db.py`
  airflow/utils/db.py
Labels: full tests needed

#17093 Adds oauth libraries to PROD docker image
  Dockerfile
Labels: area:production-image, full tests needed

#15582 Add more typing to airflow.utils.helpers
  airflow/utils/helpers.py
Labels: full tests needed

#17096 Fix static checks after merging #17093
  .pre-commit-config.yaml
  BREEZE.rst
Labels: area:dev-tools, okay to merge

#17095 Fix error in Druid connection attribute retrieval
  airflow/providers/apache/druid/hooks/druid.py
Labels: area:providers, okay to merge, provider:Apache

#17101 Adds more explanatory message when SecretsMasker is not configured
  airflow/utils/log/secrets_masker.py
Labels: area:logging, full tests needed

#16945 Enable using custom pod launcher in Kubernetes Pod Operator
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Labels: okay to merge

#17105 Ensure a DAG is acyclic when running DAG.cli()
  airflow/models/dag.py
  airflow/utils/dag_cycle_tester.py
Labels: full tests needed

#16889 Add Pytest fixture to create dag and dagrun and use it on local task job tests
  tests/conftest.py
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#17112 Switch test_backfill_job.py from unittest to pytest style
  tests/jobs/test_backfill_job.py
Labels: area:scheduler/executor, full tests needed

#17115 Correct the :mod: documentation for s3_to_redshift_operator
  airflow/operators/s3_to_redshift_operator.py
Labels: area:core-operators, full tests needed

#17041 Chart: Update ``postgres`` subchart to ``10.5.3``
  chart/Chart.lock
  chart/Chart.yaml
  chart/tests/helm_template_generator.py
  chart/tests/test_basic_helm_chart.py
Labels: area:helm-chart, okay to merge

#17125 Fix bool conversion Verify parameter in Tableau Hook
  airflow/providers/tableau/hooks/tableau.py
  tests/providers/tableau/hooks/test_tableau.py
Labels: area:providers, okay to merge

#17034 Refactored waiting function for Tableau Jobs
  airflow/providers/tableau/hooks/tableau.py
  airflow/providers/tableau/operators/tableau_refresh_workbook.py
  airflow/providers/tableau/sensors/tableau_job_status.py
  tests/providers/tableau/hooks/test_tableau.py
  tests/providers/tableau/operators/test_tableau_refresh_workbook.py
  tests/providers/tableau/sensors/test_tableau_job_status.py
Labels: area:providers, okay to merge

#17136 Add missing changelog entry for 2.1.2
  CHANGELOG.txt
Labels: okay to merge

#17094 Adding SalesforceToS3Operator to Amazon Provider
  CONTRIBUTING.rst
  airflow/providers/amazon/aws/example_dags/example_salesforce_to_s3.py
  airflow/providers/amazon/aws/transfers/salesforce_to_s3.py
  airflow/providers/amazon/provider.yaml
  airflow/providers/dependencies.json
  docs/apache-airflow-providers-amazon/operators/salesforce_to_s3.rst
  tests/providers/amazon/aws/transfers/test_salesforce_to_s3.py
Labels: area:providers, kind:documentation, provider:AWS

#17117 Made S3ToRedshiftOperator transaction safe
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: area:providers, okay to merge, provider:AWS

#17141 ECSOperator / pass context to self.xcom_pull as it was missing (when using reattach)
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: area:providers, okay to merge, provider:AWS

#16870 Removing/refactoring default_args pattern for Kubernetes example DAGs
  airflow/providers/cncf/kubernetes/example_dags/example_kubernetes.py
  airflow/providers/cncf/kubernetes/example_dags/example_spark_kubernetes.py
Labels: area:kubernetes, area:providers

#17133 Warn on Webserver when using ``SQLite`` or ``SequentialExecutor``
  airflow/www/views.py
Labels: area:webserver, okay to merge

#17146 Doc: Recommend using same configs on all Airflow components
  docs/apache-airflow/configurations-ref.rst
  docs/apache-airflow/howto/set-config.rst
Labels: kind:documentation, okay to merge

#17142 Chart: Create a random secret for Webserver's flask secret key
  chart/templates/_helpers.yaml
  chart/templates/secrets/webserver-secret-key-secret.yaml
  chart/tests/test_basic_helm_chart.py
  chart/tests/test_rbac.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#17147 Chart Docs: Add single-line description for ``multiNamespaceMode``
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#17149 Chart: changelog for 1.1.0, add UPDATING to docs
  chart/CHANGELOG.txt
  chart/UPDATING.md
  chart/UPDATING.rst
  docs/conf.py
  docs/helm-chart/changelog.rst
  docs/helm-chart/index.rst
  docs/helm-chart/updating.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#17118 Use `dag_maker` fixture in test_backfill_job.py
  tests/jobs/test_backfill_job.py
Labels: area:scheduler/executor, full tests needed

#17167 Doc: Add hyperlinks to Github PRs for Chart Changelog
  docs/apache-airflow/static/gh-jira-links.js
  docs/conf.py
  docs/helm-chart/static/gh-jira-links.js
Labels: area:helm-chart, kind:documentation, okay to merge

#17170 Chart docs: note uid write permissions for existing pvc
  chart/CHANGELOG.txt
  docs/helm-chart/manage-logs.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#17171 Chart: Release 1.1.0 of Helm Chart
  chart/Chart.yaml
Labels: area:helm-chart, okay to merge

#17173 Update Helm Chart release guide
  dev/README_RELEASE_HELM_CHART.md
Labels: area:dev-tools, okay to merge

#17169 Avoid logging in to GitHub Container Registry when not in CI
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  scripts/ci/libraries/_build_images.sh
Labels: area:dev-tools, full tests needed

#17177 Chart docs: better note for logs existing pvc permissions
  docs/helm-chart/manage-logs.rst
Labels: area:helm-chart, kind:documentation, okay to merge
