Repository apache/airflow, pull requests merged in 2021-08, with the labels that each got.

#17157 Moves SchedulerJob initialization to within daemon context
  airflow/cli/commands/scheduler_command.py
Labels: area:CLI, okay to merge

#15788 Error earlier if virtualenv is not installed and DAG has a PythonVirtualenvOperator
  airflow/operators/python.py
Labels: area:core-operators, full tests needed

#17273 Switch to 'smbprotocol' library
  airflow/providers/samba/hooks/samba.py
  docs/apache-airflow-providers-samba/index.rst
  setup.py
  tests/providers/samba/hooks/test_samba.py
Labels: area:providers, full tests needed, kind:documentation

#17364 Quarantine test_mark_success_on_success_callback
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#17210 Fixes #16972 - Slugify role session name in AWS base hook
  airflow/providers/amazon/aws/hooks/base_aws.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: area:providers, okay to merge, provider:AWS

#17313 Update hasicorp-vault.rst to describe use of config
  docs/apache-airflow-providers-hashicorp/secrets-backends/hashicorp-vault.rst
Labels: area:providers, kind:documentation, okay to merge

#17283 Provide information about IRSA on EKS
  docs/apache-airflow-providers-amazon/connections/aws.rst
Labels: area:providers, kind:documentation, okay to merge, provider:AWS

#17247 Fixed SlackAPIFileOperator to upload file and file content
  airflow/providers/slack/operators/slack.py
  tests/providers/slack/operators/test_slack.py
Labels: area:providers, okay to merge

#17365 Fix timestamp test
  tests/models/test_timestamp.py
Labels: full tests needed

#17324 Improve `dag_maker` fixture
  tests/conftest.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#17281 make platform version as independent parameter of ECSOperator
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: area:providers, provider:AWS

#17377 Adds compile_assets to INSTALL
  INSTALL
Labels: okay to merge

#17033 Add autoscaling subcluster support and remove defaults
  airflow/providers/yandex/example_dags/example_yandexcloud_dataproc.py
  airflow/providers/yandex/hooks/yandex.py
  airflow/providers/yandex/hooks/yandexcloud_dataproc.py
  airflow/providers/yandex/operators/yandexcloud_dataproc.py
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/yandex/hooks/test_yandexcloud_dataproc.py
  tests/providers/yandex/operators/test_yandexcloud_dataproc.py
Labels: area:providers, full tests needed

#17380 Fix messed-up changelog in 3 providers
  airflow/providers/airbyte/CHANGELOG.rst
  airflow/providers/apache/druid/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/snowflake/CHANGELOG.rst
Labels: area:kubernetes, area:providers, okay to merge, provider:Apache, provider:Snowflake

#17321 Enable specifying dictionary paths in `template_fields_renderers`
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/www/views.py
  docs/apache-airflow/howto/custom-operator.rst
  docs/apache-airflow/img/template_field_renderer_path.png
  tests/www/views/test_views.py
Labels: area:providers, area:webserver, okay to merge, provider:Google

#17098 Enhancement to bash scripts
  scripts/in_container/prod/airflow_scheduler_autorestart.sh
Labels: area:dev-tools, area:production-image, full tests needed

#17331 refactor: fixed type annotation for 'sql' param in PostgresOperator
  airflow/providers/postgres/operators/postgres.py
Labels: area:providers, okay to merge

#17319 Suggest to use secrets backend for variable when it contains sensitive data
  docs/apache-airflow/best-practices.rst
  docs/apache-airflow/security/index.rst
  docs/apache-airflow/security/secrets/secrets-backend/index.rst
Labels: area:secrets, kind:documentation, okay to merge

#16904 Improve AWS SQS Sensor (#16880)
  airflow/providers/amazon/aws/sensors/sqs.py
  setup.py
  tests/providers/amazon/aws/sensors/test_sqs.py
Labels: area:providers, full tests needed, provider:AWS

#17386 Update company after changing jobs
  INTHEWILD.md
Labels: okay to merge

#17385 Fix quarantined/flaky tests in test_local_task_job.py
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#17333 Regression on pid reset to allow task start after heartbeat
  airflow/models/taskinstance.py
Labels: full tests needed

#17391 More touches on `dag_maker` fixture to create DagModel automatically
  tests/conftest.py
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#17388 refactor: fixed type annotation for 'sql' in MySqlOperator
  airflow/providers/mysql/operators/mysql.py
Labels: area:providers, okay to merge

#17407 doc: fixed docstring for sql param in Neo4jOperator
  airflow/providers/neo4j/operators/neo4j.py
Labels: area:providers

#17411 Proper warning message when recorded PID is different from current PID
  airflow/jobs/local_task_job.py
Labels: area:scheduler/executor, full tests needed

#16860 Support DAGS folder being in different location on scheduler and runners
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/dagbag.py
  airflow/models/serialized_dag.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/www/templates/airflow/dag_details.html
  airflow/www/views.py
  tests/cluster_policies/__init__.py
  tests/dag_processing/test_manager.py
  tests/dag_processing/test_processor.py
  tests/jobs/test_scheduler_job.py
  tests/models/__init__.py
  tests/models/test_dag.py
  tests/models/test_dagbag.py
  tests/models/test_renderedtifields.py
  tests/models/test_serialized_dag.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
Labels: area:UI, area:scheduler/executor, area:serialization, area:webserver, full tests needed

#17412 Add timeout when asking whether to rebuild image
  confirm
Labels: area:dev-tools, okay to merge

#17415 Optimize context sent for docker build
  .dockerignore
Labels: area:dev-tools, okay to merge

#17419 Do not pull CI image for ownership fixing on first, fresh breeze run
  scripts/ci/tools/fix_ownership.sh
Labels: area:dev-tools, full tests needed

#17417 Increases timeout for helm chart builds
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#17418 Optimizes structure of the Dockerfiles and use latest tools
  .github/workflows/build-images.yml
  BREEZE.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  breeze
  breeze-complete
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
Labels: area:dev-tools, area:production-image, full tests needed, kind:documentation

#17420 Update emr.rst
  docs/apache-airflow-providers-amazon/operators/emr.rst
Labels: area:providers, kind:documentation, okay to merge, provider:AWS

#17432 Fixes some static check errors
  airflow/utils/log/file_task_handler.py
  docs/apache-airflow/start/docker.rst
  docs/docker-stack/docker-examples/extending/add-providers/Dockerfile
Labels: area:logging, area:production-image, full tests needed, kind:documentation

#17427 Updating INTHEWILD.md
  INTHEWILD.md
Labels: okay to merge

#17440 Fix Google Cloud Operators docs
  docs/apache-airflow-providers-google/operators/cloud/workflows.rst
Labels: area:providers, kind:documentation, provider:Google

#17441 Quarantine test_process_sigterm_works_with_retries and test_task_sigkill_works_with_retries in TestLocalTaskJob
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor

#17356 Switches to "/" convention in ghcr.io images
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  CI.rst
  IMAGES.rst
  README.md
  breeze
  dev/retag_docker_images.py
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/images/ci_push_legacy_ci_images.sh
  scripts/ci/images/ci_push_legacy_prod_images.sh
  scripts/ci/images/ci_wait_for_and_verify_all_ci_images.sh
  scripts/ci/images/ci_wait_for_and_verify_all_prod_images.sh
  scripts/ci/images/ci_wait_for_and_verify_ci_image.sh
  scripts/ci/images/ci_wait_for_and_verify_prod_image.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_parallel.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_script_init.sh
  scripts/ci/selective_ci_checks.sh
Labels: area:dev-tools, full tests needed

#17347 Handle and log exceptions raised during task callback
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: full tests needed

#17406 Fix type annotations in OracleOperator, JdbcOperator, SqliteOperator
  airflow/providers/jdbc/operators/jdbc.py
  airflow/providers/oracle/operators/oracle.py
  airflow/providers/sqlite/operators/sqlite.py
Labels: area:providers

#17399 Adding JWT, IP filtering, and direct session login support for SalesforceHook
  airflow/providers/salesforce/hooks/salesforce.py
  docs/apache-airflow-providers-salesforce/connections/salesforce.rst
  tests/providers/salesforce/hooks/test_salesforce.py
Labels: area:providers, kind:documentation, okay to merge

#17468 Add missing permissions to varimport
  airflow/www/views.py
  tests/www/views/test_views_variable.py
Labels: area:webserver, okay to merge

#17433 KEDA task count query should ignore k8s queue
  chart/templates/workers/worker-kedaautoscaler.yaml
  chart/tests/test_keda.py
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#17457 Disable Helm tests when branch is not `main`
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#16818 Remove trigger-dag-run with configuration from quarantine
  tests/www/views/test_views_trigger_dag.py
Labels: area:webserver, okay to merge

#17423 Make schema in DBApiHook private
  airflow/hooks/dbapi.py
  airflow/providers/postgres/hooks/postgres.py
  tests/hooks/test_dbapi.py
Labels: area:providers, full tests needed, area:core-operators

#17201 [AIRFLOW-17200] Add Alibaba Cloud OSS support
  CONTRIBUTING.rst
  INSTALL
  airflow/provider.yaml.schema.json
  airflow/providers/alibaba/CHANGELOG.rst
  airflow/providers/alibaba/__init__.py
  airflow/providers/alibaba/cloud/__init__.py
  airflow/providers/alibaba/cloud/example_dags/example_oss_bucket.py
  airflow/providers/alibaba/cloud/example_dags/example_oss_object.py
  airflow/providers/alibaba/cloud/hooks/__init__.py
  airflow/providers/alibaba/cloud/hooks/oss.py
  airflow/providers/alibaba/cloud/operators/__init__.py
  airflow/providers/alibaba/cloud/operators/oss.py
  airflow/providers/alibaba/cloud/sensors/__init__.py
  airflow/providers/alibaba/cloud/sensors/oss_key.py
  airflow/providers/alibaba/provider.yaml
  airflow/utils/db.py
  docs/apache-airflow-providers-alibaba/commits.rst
  docs/apache-airflow-providers-alibaba/connections/alibaba.rst
  docs/apache-airflow-providers-alibaba/index.rst
  docs/apache-airflow-providers-alibaba/operators/index.rst
  docs/apache-airflow-providers-alibaba/operators/oss.rst
  docs/apache-airflow-providers-alibaba/redirects.txt
  docs/apache-airflow/extra-packages-ref.rst
  docs/conf.py
  docs/integration-logos/alibaba/cloud/alibabacloud-oss.png
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/alibaba/__init__.py
  tests/providers/alibaba/cloud/__init__.py
  tests/providers/alibaba/cloud/hooks/__init__.py
  tests/providers/alibaba/cloud/hooks/test_oss.py
  tests/providers/alibaba/cloud/operators/__init__.py
  tests/providers/alibaba/cloud/operators/test_oss.py
  tests/providers/alibaba/cloud/sensors/__init__.py
  tests/providers/alibaba/cloud/sensors/test_oss_key.py
  tests/providers/alibaba/cloud/utils/__init__.py
  tests/providers/alibaba/cloud/utils/test_utils.py
Labels: area:providers, kind:documentation, full tests needed

#17486 Attempt to reduce flakiness of PythonVirtualeEnv test_airflow_context
  scripts/in_container/entrypoint_ci.sh
  tests/operators/test_python.py
Labels: full tests needed, area:core-operators

#17480 Ask for provider versions in bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area:dev-tools, okay to merge

#17491 Update INTHEWILD.md
  INTHEWILD.md
Labels: okay to merge

#17361 Add Microsoft PSRP provider
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/microsoft/psrp/CHANGELOG.rst
  airflow/providers/microsoft/psrp/__init__.py
  airflow/providers/microsoft/psrp/hooks/__init__.py
  airflow/providers/microsoft/psrp/hooks/psrp.py
  airflow/providers/microsoft/psrp/operators/__init__.py
  airflow/providers/microsoft/psrp/operators/psrp.py
  airflow/providers/microsoft/psrp/provider.yaml
  docs/apache-airflow-providers-microsoft-psrp/commits.rst
  docs/apache-airflow-providers-microsoft-psrp/index.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/microsoft/psrp/__init__.py
  tests/providers/microsoft/psrp/hooks/__init__.py
  tests/providers/microsoft/psrp/hooks/test_psrp.py
  tests/providers/microsoft/psrp/operators/__init__.py
  tests/providers/microsoft/psrp/operators/test_psrp.py
Labels: area:providers, area:dev-tools, kind:documentation, full tests needed

#17488 add deprecation notice for SubDagOperator
  airflow/operators/subdag.py
  tests/operators/test_subdag_operator.py
Labels: full tests needed, area:core-operators

#17425 Use `dag_maker` fixture in models/test_taskinstance.py
  tests/conftest.py
  tests/models/test_taskinstance.py
Labels: full tests needed

#17492 Improve breeze resource check
  scripts/ci/images/ci_test_examples_of_prod_image_building.sh
  scripts/ci/libraries/_docker_engine_resources.sh
  scripts/ci/libraries/_parallel.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_resource_check.sh
Labels: area:dev-tools, full tests needed

#17462 Use `dag_maker` in tests/core/test_core.py
  tests/core/test_core.py
Labels: full tests needed

#16915 New generic tableau operator: TableauOperator
  airflow/providers/tableau/example_dags/example_tableau.py
  airflow/providers/tableau/operators/tableau.py
  airflow/providers/tableau/operators/tableau_refresh_workbook.py
  airflow/providers/tableau/provider.yaml
  docs/apache-airflow-providers-tableau/index.rst
  docs/apache-airflow-providers-tableau/operators.rst
  tests/providers/tableau/operators/test_tableau.py
  tests/providers/tableau/operators/test_tableau_refresh_workbook.py
Labels: area:providers, okay to merge

#17484 Better diagnostics and self-healing of docker-compose
  docs/apache-airflow/start/docker-compose.yaml
  docs/apache-airflow/start/docker.rst
Labels: kind:documentation, okay to merge

#17504 Rearrange Dag parsing tests out of test_scheduler_job.py
  tests/dag_processing/test_manager.py
  tests/dag_processing/test_processor.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#17505 Use pytest.param in pytest.mark.parametrized
  tests/models/test_taskinstance.py
Labels: full tests needed

#17503 Remove superfulous chars from resource warning
  scripts/in_container/run_resource_check.sh
Labels: area:dev-tools

#17431 Add back missing permissions to UserModelView controls.
  airflow/www/views.py
  tests/www/views/test_views_custom_user_views.py
Labels: area:webserver, okay to merge

#17265 Use `dag_maker` fixture in test_scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#17514 Hard-remove parallell locks at cleanup
  scripts/ci/libraries/_parallel.sh
Labels: area:dev-tools, full tests needed

#17525 Remove hard-coded container name for trino
  scripts/ci/docker-compose/integration-trino.yml
Labels: area:dev-tools, full tests needed

#17524 Decreases cassandra memory use during Integration tests
  scripts/ci/docker-compose/integration-cassandra.yml
Labels: area:dev-tools, full tests needed

#17405 Add XCom.clear so it's hookable in custom XCom backend
  airflow/models/taskinstance.py
  airflow/models/xcom.py
Labels: full tests needed

#17519 Doc: Add FAQ to speed up parsing with tons of dag files
  docs/apache-airflow/faq.rst
Labels: kind:documentation, okay to merge

#17530 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: area:dev-tools, okay to merge

#17529 Fixed the broken json_client
  airflow/api/client/json_client.py
Labels: area:API, okay to merge

#17528 Ignores exception raised during closing SSH connection
  airflow/providers/ssh/operators/ssh.py
Labels: area:providers, okay to merge

#16012 Fixing ParamValidationError when executing load_file in Glue hooks/operators
  airflow/providers/amazon/aws/hooks/glue.py
  airflow/providers/amazon/aws/hooks/glue_crawler.py
  airflow/providers/amazon/aws/operators/glue.py
  tests/providers/amazon/aws/hooks/test_glue.py
  tests/providers/amazon/aws/hooks/test_glue_crawler.py
  tests/providers/amazon/aws/operators/test_glue.py
Labels: provider:AWS, area:providers, okay to merge

#17541 docs(celery): reworded, add actual multiple queues example
  docs/apache-airflow/executor/celery.rst
Labels: area:scheduler/executor, kind:documentation

#17451 Add date format filters to Jinja environment
  airflow/macros/__init__.py
  airflow/templates.py
  docs/apache-airflow/concepts/operators.rst
  docs/apache-airflow/faq.rst
  docs/apache-airflow/howto/operator/python.rst
  docs/apache-airflow/index.rst
  docs/apache-airflow/redirects.txt
  docs/apache-airflow/templates-ref.rst
  docs/apache-airflow/tutorial.rst
  tests/core/test_templates.py
Labels: kind:documentation, full tests needed, area:core-operators, AIP-39

#17547 Skip PV's lost+found dir when cleaning logs (k8s)
  scripts/in_container/prod/clean-logs.sh
Labels: area:dev-tools, area:production-image, full tests needed

#17553 Fix spelling in CeleryExecutor docs
  docs/apache-airflow/executor/celery.rst
Labels: area:scheduler/executor, kind:documentation

#17539 Don't cache Google Secret Manager client
  airflow/providers/google/cloud/secrets/secret_manager.py
Labels: provider:Google, area:providers, area:secrets, okay to merge

#17560 Chart: Allow podTemplate to be templated
  chart/templates/configmaps/configmap.yaml
  chart/tests/test_configmap.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#17506 Use `dag_maker` fixture in test_processor.py
  tests/conftest.py
  tests/dag_processing/test_processor.py
  tests/models/test_taskinstance.py
Labels: full tests needed

#17551 Fix Invalid log order in ElasticsearchTaskHandler
  airflow/providers/elasticsearch/log/es_task_handler.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:providers, area:logging, okay to merge

#16352 AIP-39: ``DagRun.data_interval_start`` and ``data_interval_end``
  airflow/api/common/experimental/mark_tasks.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/142555e44c17_add_data_interval_start_end_to_dagmodel_and_dagrun.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/operators/python.py
  airflow/operators/subdag.py
  airflow/timetables/base.py
  airflow/timetables/interval.py
  airflow/timetables/simple.py
  airflow/utils/file.py
  docs/apache-airflow/migrations-ref.rst
  docs/apache-airflow/templates-ref.rst
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/cli/commands/test_dag_command.py
  tests/core/test_core.py
  tests/decorators/test_python.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_taskinstance.py
  tests/operators/test_python.py
  tests/operators/test_subdag_operator.py
  tests/sensors/test_base.py
  tests/sensors/test_python.py
  tests/test_utils/perf/scheduler_dag_execution_timing.py
  tests/timetables/test_time_table_iter_ranges.py
  tests/www/views/test_views_trigger_dag.py
Labels: full tests needed, AIP-39

#17580 Quarantine test_mark_success_no_kill test
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#17379 Add Mongo projections to hook and transfer
  airflow/providers/amazon/aws/transfers/mongo_to_s3.py
  airflow/providers/mongo/hooks/mongo.py
  tests/providers/amazon/aws/transfers/test_mongo_to_s3.py
  tests/providers/mongo/hooks/test_mongo.py
Labels: provider:AWS, area:providers, okay to merge

#17562 Chart: Support extraContainers in k8s workers
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/tests/test_pod_template_file.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/using-additional-containers.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#17588 Doc: Fix docstrings for ``MongoToS3Operator``
  airflow/providers/amazon/aws/transfers/mongo_to_s3.py
Labels: provider:AWS, area:providers, okay to merge

#17575 Make `pandas` an optional core dependency
  BREEZE.rst
  CONTRIBUTING.rst
  Dockerfile
  INSTALL
  UPDATING.md
  airflow/executors/celery_executor.py
  airflow/hooks/dbapi.py
  airflow/utils/json.py
  docs/apache-airflow/extra-packages-ref.rst
  setup.cfg
  setup.py
Labels: area:dev-tools, kind:documentation, full tests needed, area:core-operators

#17564 Fixed long delays never returning in DateTimeTrigger
  airflow/triggers/temporal.py
Labels: full tests needed

#17589 Document overriding ``XCom.clear`` for data lifecycle management
  docs/apache-airflow/concepts/xcoms.rst
Labels: kind:documentation, okay to merge

#17548 fix: filter condition of taskinstance does not work #17535
  airflow/www/static/js/dag.js
  tests/www/views/test_views.py
Labels: area:webserver, okay to merge, area:UI

#17544 Rescue if a DagRun's DAG was removed from db
  airflow/www/views.py
  tests/www/views/test_views_blocked.py
Labels: area:webserver, okay to merge

#17590 Run more than just basic checks on ``.pre-commit-config.yaml`` change
  scripts/ci/selective_ci_checks.sh
Labels: area:dev-tools

#17501 Simplify 404 page
  airflow/www/extensions/init_views.py
  airflow/www/static/js/circles.js
  airflow/www/templates/airflow/not_found.html
  airflow/www/views.py
  airflow/www/webpack.config.js
Labels: area:webserver, okay to merge, area:UI

#17596 Bump `mysql-connector-python` to latest version
  setup.py
Labels: full tests needed

#17594 Remove redundant ``numpy`` dependency
  setup.cfg
Labels: full tests needed

#17595 Remove redundant note on HTTP Provider
  setup.py
Labels: full tests needed

#17598 Add more ``project_urls`` for PyPI
  dev/provider_packages/SETUP_TEMPLATE.py.jinja2
  setup.cfg
Labels: area:dev-tools, full tests needed

#17597 Use built-in ``cached_property`` on Python 3.8 for Asana provider
  airflow/providers/asana/hooks/asana.py
  setup.py
Labels: area:providers, full tests needed

#17593 Remove upper-limit on ``tenacity``
  setup.cfg
Labels: full tests needed

#17578 Improve validation of Group id
  airflow/utils/helpers.py
  airflow/utils/task_group.py
  tests/utils/test_helpers.py
Labels: full tests needed

#17603 Fix MySQL database character set instruction
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation, okay to merge

#17561 Simplify bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area:dev-tools, okay to merge

#17601 Fix triggerer query where limit is not supported in some DB versions
  airflow/models/trigger.py
  airflow/triggers/temporal.py
Labels: full tests needed

#17428 Fix elasticsearch-secret template port default function
  chart/templates/secrets/elasticsearch-secret.yaml
  chart/tests/test_elasticsearch_secret.py
Labels: area:helm-chart, okay to merge

#17610 Add cherry-pick notes to the release README
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools, okay to merge

#17611 Update documentation regarding Python 3.9 support
  docs/apache-airflow/installation.rst
Labels: kind:documentation, okay to merge

#17382 Add new LocalFilesystemToS3Operator under Amazon provider (#17168)
  airflow/providers/amazon/aws/example_dags/example_local_to_s3.py
  airflow/providers/amazon/aws/transfers/local_to_s3.py
  tests/providers/amazon/aws/transfers/test_local_to_s3.py
Labels: provider:AWS, area:providers, okay to merge

#17618 Fix redacting secrets in context exceptions.
  airflow/utils/log/secrets_masker.py
  tests/utils/log/test_secrets_masker.py
Labels: area:logging, full tests needed

#17591 Use gunicorn to serve logs generated by worker
  airflow/utils/serve_logs.py
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
  tests/utils/test_serve_logs.py
Labels: full tests needed

#17621 Move worker_log_server_port option to the logging section
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_test.cfg
  airflow/configuration.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/serve_logs.py
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
Labels: area:logging, kind:documentation, full tests needed

#17616 Switch Alibaba OSS tests to us-east-1
  tests/providers/alibaba/cloud/hooks/test_oss.py
  tests/providers/alibaba/cloud/operators/test_oss.py
  tests/providers/alibaba/cloud/sensors/test_oss_key.py
Labels: area:providers, okay to merge

#17624 Fix spelling of Airflow
  README.md
  docs/apache-airflow/start/docker-compose.yaml
Labels: kind:documentation, okay to merge

#17622 Improve cross-links to operators and hooks references
  docs/apache-airflow-providers/operators-and-hooks-ref/index.rst
  docs/apache-airflow/concepts/operators.rst
Labels: kind:documentation

#17565 Add Triggerer warning banner in UI
  airflow/jobs/triggerer_job.py
  airflow/www/templates/airflow/main.html
  airflow/www/views.py
  tests/jobs/test_triggerer_job.py
  tests/www/views/test_views_base.py
Labels: area:scheduler/executor, area:webserver, full tests needed, area:UI

#17627 Force emulation on ARM platforms for Docker
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, full tests needed

#17619 Declared readonly variables in configure_environment.sh
  scripts/in_container/configure_environment.sh
Labels: area:dev-tools, full tests needed

#17630 Do not delete running DAG from the UI
  airflow/api/common/experimental/delete_dag.py
  airflow/www/views.py
  tests/api/common/experimental/test_delete_dag.py
Labels: area:webserver, area:API, okay to merge

#17477 Open relative extra links in place
  airflow/www/static/js/dag.js
Labels: area:webserver, okay to merge, area:UI

#17633 Add root to tree refresh url
  airflow/www/static/js/tree.js
  airflow/www/templates/airflow/tree.html
Labels: area:webserver, okay to merge, area:UI

#17400 Example dag slackfile
  airflow/providers/slack/example_dags/__init__.py
  airflow/providers/slack/example_dags/example_slack.py
  airflow/providers/slack/operators/slack.py
  docs/apache-airflow-providers-slack/index.rst
  tests/providers/slack/operators/test.csv
  tests/providers/slack/operators/test_slack.py
Labels: area:providers, okay to merge

#17642 Make output from users cli command more consistent
  airflow/cli/commands/user_command.py
  tests/cli/commands/test_user_command.py
Labels: area:CLI, okay to merge

#17625 Adds secret backend and logging information to provider yaml
  airflow/cli/cli_parser.py
  airflow/cli/commands/provider_command.py
  airflow/provider.yaml.schema.json
  airflow/provider_info.schema.json
  airflow/providers/amazon/provider.yaml
  airflow/providers/elasticsearch/provider.yaml
  airflow/providers/google/provider.yaml
  airflow/providers/hashicorp/provider.yaml
  airflow/providers/microsoft/azure/provider.yaml
  airflow/providers_manager.py
  scripts/in_container/run_install_and_test_provider_packages.sh
  tests/core/test_providers_manager.py
Labels: provider:Google, provider:Azure, area:CLI, area:providers, full tests needed

#17631 Fix wrong query on running tis
  airflow/api/common/experimental/delete_dag.py
Labels: area:API, okay to merge

#17647 Only run 2.2.0 providers commands for Airflow >= 2.2.0
  scripts/in_container/run_install_and_test_provider_packages.sh
Labels: area:dev-tools, full tests needed

#17635 Forces rebuilding the image for cache pushing
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#17648 Speed up tests that use BackfillJob
  airflow/jobs/backfill_job.py
Labels: area:scheduler/executor, full tests needed

#17645 fix: use template
  chart/templates/rbac/pod-log-reader-rolebinding.yaml
Labels: area:helm-chart

#17644 Add Changelog updates for 2.1.3
  CHANGELOG.txt
Labels: okay to merge

#17672 Update pre-commit checks - flynt to 0.66
  .pre-commit-config.yaml
  dev/airflow-license
Labels: area:dev-tools

#17670 Fix link to generating constraints in BREEZE.rst
  BREEZE.rst
Labels: area:dev-tools, okay to merge

#17674 Dev: Remove duplicate step to push Docker Image
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools, okay to merge

#17675 Update docs on syncing forks
  CONTRIBUTING.rst
Labels: area:dev-tools, okay to merge

#17577 Have the dag_maker fixture (optionally) give SerializedDAGs
  pytest.ini
  tests/conftest.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#17613 Avoid endless redirect loop when user has no roles
  airflow/www/auth.py
  airflow/www/templates/airflow/no_roles.html
  airflow/www/views.py
  tests/www/views/test_views_acl.py
Labels: area:webserver, full tests needed, area:UI

#17581 Remove the use of multiprocessing in TestLocalTaskJob and Improve Tests
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#17650 Renames main workflow to `Tests`
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  BREEZE.rst
  CI.rst
  Dockerfile.ci
  IMAGES.rst
  PULL_REQUEST_WORKFLOW.rst
  breeze
  docs/README.rst
  docs/apache-airflow/extra-packages-ref.rst
  images/ci/pull_request_ci_flow.md5
  images/ci/pull_request_ci_flow.mermaid
  images/ci/pull_request_ci_flow.png
  images/ci/push_ci_flow.md5
  images/ci/push_ci_flow.mermaid
  images/ci/push_ci_flow.png
  images/ci/scheduled_ci_flow.md5
  images/ci/scheduled_ci_flow.mermaid
  images/ci/scheduled_ci_flow.png
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, kind:documentation, area:production-image, full tests needed

#17692 Remove legacy image convention
  .github/workflows/build-images.yml
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/images/ci_push_legacy_ci_images.sh
  scripts/ci/images/ci_push_legacy_prod_images.sh
  scripts/ci/images/ci_wait_for_and_verify_ci_image.sh
  scripts/ci/images/ci_wait_for_and_verify_prod_image.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev-tools, full tests needed

#17688 Chart: fix running with uid 0
  chart/templates/scheduler/scheduler-deployment.yaml
Labels: area:helm-chart, okay to merge

#17695 Fix sqlite hook - insert and replace functions
  airflow/hooks/dbapi.py
  airflow/providers/sqlite/example_dags/example_sqlite.py
  airflow/providers/sqlite/hooks/sqlite.py
  docs/apache-airflow-providers-sqlite/operators.rst
  tests/providers/sqlite/hooks/test_sqlite.py
Labels: area:providers, kind:documentation, full tests needed, area:core-operators

#16666 Replace execution_date with run_id in airflow tasks run command
  airflow/cli/commands/task_command.py
  airflow/models/taskinstance.py
  tests/jobs/test_local_task_job.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor, full tests needed

#17637 hdfs provider: allow SSL webhdfs connections
  airflow/providers/apache/hdfs/hooks/webhdfs.py
  docs/apache-airflow-providers-apache-hdfs/connections.rst
  tests/providers/apache/hdfs/hooks/test_webhdfs.py
Labels: area:providers, provider:Apache, kind:documentation

#17702 Add steps for building release package without breeze.
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools, okay to merge

#17701 docs(impersonation): update note so avoid misintrepretation
  docs/apache-airflow/security/workload.rst
Labels: kind:documentation, okay to merge

#17685 Update INTHEWILD.md
  INTHEWILD.md
Labels: okay to merge

#17699 docs(dagowner): describe dag owner more carefully
  airflow/models/baseoperator.py
Labels: full tests needed

#17704 Minor doc formatting fix
  docs/apache-airflow/concepts/dags.rst
Labels: kind:documentation, changelog:skip, okay to merge

#17706 Clearly document no breaking change for 2.1.2 and 2.1.3
  UPDATING.md
Labels: okay to merge

#17703 Sync DB Migrations with Airflow 2.1.3
  airflow/migrations/versions/54bebd308c5f_add_trigger_table_and_task_info.py
  airflow/migrations/versions/83f031fd9f1c_improve_mssql_compatibility.py
  airflow/migrations/versions/97cdd93827b8_add_queued_at_column_to_dagrun_table.py
  docs/apache-airflow/migrations-ref.rst
Labels: kind:documentation, full tests needed

#17339 Adding support for multiple task-ids in the external task sensor
  airflow/sensors/external_task.py
  tests/sensors/test_external_task_sensor.py
Labels: area:core-operators

#17707 Add `v2-*-stable` branches to codecov
  codecov.yml
Labels: okay to merge

#17690 Add a note about XCOMs push condition for K8sPodOperator docs
  docs/apache-airflow-providers-cncf-kubernetes/operators.rst
Labels: area:providers, kind:documentation, okay to merge, area:kubernetes

#17640 redshift to S3: add optional SQL parameters
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
Labels: provider:AWS, area:providers, okay to merge
