Repository apache/airflow, pull requests merged in 2021-12, with the labels that each got.

#19909 Update doc reference links in Google's provider.yaml
  airflow/providers/google/provider.yaml
Labels: provider:Google, area:providers

#19886 Context class handles deprecation
  airflow/macros/__init__.py
  airflow/models/taskinstance.py
  airflow/operators/python.py
  airflow/utils/context.py
  airflow/utils/context.pyi
  airflow/utils/operator_helpers.py
  tests/models/test_taskinstance.py
  tests/operators/test_python.py
  tests/providers/amazon/aws/sensors/test_s3_key.py
  tests/providers/papermill/operators/test_papermill.py
Labels: full tests needed, area:core-operators

#19910 Add more filtering options for TI's in the UI
  airflow/www/views.py
Labels: area:webserver, okay to merge

#19913 Fix "Top level Python Code" links in best practices doc
  docs/apache-airflow/best-practices.rst
Labels: kind:documentation, changelog:skip, okay to merge

#19904 Fix labels used to find queued KubeExecutor pods
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Labels: area:scheduler/executor, full tests needed, area:kubernetes

#19924 Fixed the minor typo
  airflow/providers/google/cloud/hooks/bigquery.py
Labels: provider:Google, area:providers, okay to merge

#19898 Validate DagRun state is valid on assignment
  airflow/models/dagrun.py
  tests/models/test_dag.py
  tests/models/test_taskinstance.py
Labels: full tests needed

#19907 Move to watchtower 2.0.1 - Fixes Watchtower crash when logging empty line
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  setup.py
Labels: provider:AWS, area:providers, area:logging, full tests needed

#19933 Fix possible reference to undeclared variable "return_code"
  airflow/task/task_runner/standard_task_runner.py
Labels: area:scheduler/executor, full tests needed

#19948 Fixed MyPy type issues for cli and api_connection tests
  tests/api_connexion/endpoints/test_dag_source_endpoint.py
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_info_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI, area:API

#19978 Ensure Spark driver response is valid before setting UNKNOWN status
  airflow/providers/apache/spark/hooks/spark_submit.py
  tests/providers/apache/spark/hooks/test_spark_submit.py
Labels: area:providers, provider:Apache

#19956 Clean up incorrect class names of Google system tests
  tests/providers/google/cloud/operators/test_datacatalog_system.py
  tests/providers/google/cloud/operators/test_gcs_timespan_file_transform_system.py
  tests/providers/google/cloud/operators/test_speech_to_text_system.py
  tests/providers/google/cloud/operators/test_stackdriver_system.py
  tests/providers/google/cloud/operators/test_translate_speech_system.py
  tests/providers/google/cloud/operators/test_workflows_system.py
  tests/providers/google/cloud/transfers/test_bigquery_to_gcs_system.py
  tests/providers/google/cloud/transfers/test_gcs_to_local_system.py
Labels: provider:Google, area:providers

#19980 hive provider: minor doc fixes
  docs/apache-airflow-providers-apache-hive/connections/hive_metastore.rst
  docs/apache-airflow-providers-apache-hive/connections/hiveserver2.rst
Labels: area:providers, provider:Apache, kind:documentation

#19691 Better ``pod_template_file`` examples
  airflow/kubernetes/pod_template_file_examples/dags_in_image_template.yaml
  airflow/kubernetes/pod_template_file_examples/dags_in_volume_template.yaml
  airflow/kubernetes/pod_template_file_examples/git_sync_template.yaml
Labels: full tests needed, area:kubernetes, type:doc-only

#19991 Remove deprecated template_fields and add update tests (#19977)
  airflow/providers/google/cloud/transfers/gdrive_to_gcs.py
  tests/providers/google/cloud/transfers/test_gdrive_to_gcs.py
Labels: provider:Google, area:providers, okay to merge

#19996 Fixed MyPy issues in tests decorators and hooks
  tests/decorators/test_python.py
  tests/hooks/test_subprocess.py
Labels: area:core-operators

#19935 Fix race condition when starting DagProcessorAgent
  airflow/dag_processing/manager.py
  airflow/utils/process_utils.py
  tests/dag_processing/test_processor.py
Labels: area:scheduler/executor, full tests needed

#20006 Breeze doc tmux instruction
  BREEZE.rst
Labels: area:dev-tools, okay to merge

#19997 Allow DockerOperator's image to be templated
  airflow/providers/docker/operators/docker.py
Labels: area:providers, okay to merge

#19579 Add state details to EMR container failure reason
  airflow/providers/amazon/aws/hooks/emr_containers.py
  tests/providers/amazon/aws/operators/test_emr_containers.py
Labels: provider:AWS, area:providers, okay to merge

#19999 Don't use CREATE TABLE AS SELECT ... with mySQL
  airflow/utils/db.py
Labels: full tests needed

#20023 Work around change in GH Actions concurrency expression evaluation
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#20025 Revert "Work around change in GH Actions concurrency expression evaluation"
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#20018 Chart: Fix Helm Hooks Weight for K8s Jobs
  chart/templates/jobs/create-user-job.yaml
  chart/tests/test_airflow_common.py
  chart/tests/test_create_user_job.py
  chart/tests/test_migrate_database_job.py
  chart/tests/test_redis.py
Labels: area:helm-chart, okay to merge

#20015 Fix ``breeze kind-cluster shell``
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
Labels: area:dev-tools, full tests needed

#19994 Fix db downgrades
  airflow/migrations/versions/54bebd308c5f_add_trigger_table_and_task_info.py
  airflow/migrations/versions/7b2661a43ba3_taskinstance_keyed_to_dagrun.py
  airflow/migrations/versions/e9304a3141f0_make_xcom_pkey_columns_non_nullable.py
Labels: full tests needed

#20017 Fix mypy typing issues for airflow.executors
  airflow/executors/base_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/kubernetes_executor.py
Labels: area:scheduler/executor, full tests needed, area:kubernetes

#20027 Update `CODEOWNERS`
  .github/CODEOWNERS
Labels: area:dev-tools

#20035 Add support to specify kernel name in PapermillOperator
  airflow/providers/papermill/operators/papermill.py
  tests/providers/papermill/operators/test_papermill.py
Labels: area:providers, okay to merge

#18189 Allow using default celery commands for custom Celery executors subclassed from existing
  airflow/cli/cli_parser.py
  airflow/executors/executor_loader.py
  tests/cli/conftest.py
  tests/cli/test_cli_parser.py
Labels: area:scheduler/executor, area:CLI, full tests needed

#20036 Databricks hook: fix expiration time check
  airflow/providers/databricks/hooks/databricks.py
Labels: area:providers, okay to merge

#20040 Move setgid as the first command executed in forked task runner
  airflow/task/task_runner/standard_task_runner.py
  tests/task/task_runner/test_standard_task_runner.py
Labels: area:scheduler/executor, full tests needed

#19639 Draft: Remove `allowed_conn_types` from SqlSensor
  airflow/sensors/sql.py
  tests/sensors/test_sql_sensor.py
Labels: full tests needed

#20046 Fix Py SDK version
  clients/gen/python.sh
Labels: area:API, okay to merge

#19181 Strict schema for k8s objects for values.yaml
  chart/values.schema.json
  docs/spelling_wordlist.txt
Labels: area:helm-chart, okay to merge

#20056 Increase timeouts even longer for on_kill test
  tests/task/task_runner/test_standard_task_runner.py
Labels: full tests needed

#19864 Fixing failing quarantined test cases in test_task_command
  tests/cli/commands/test_task_command.py
Labels: area:CLI

#20048 Add requirements.txt description
  docs/apache-airflow/howto/operator/python.rst
Labels: kind:documentation, area:core-operators

#19885 Add sensor for AWS Batch (#19850)
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/sensors/batch.py
  airflow/providers/amazon/provider.yaml
  tests/providers/amazon/aws/sensors/test_batch.py
Labels: provider:AWS, area:providers, okay to merge

#19835 Refactor DatabricksHook
  airflow/providers/databricks/hooks/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers

#19985 Add show dag dependencies feature to CLI
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  airflow/utils/dot_renderer.py
  tests/cli/commands/test_dag_command.py
  tests/utils/test_dot_renderer.py
Labels: area:CLI, full tests needed

#19932 Increase length of the email and username
  airflow/migrations/versions/5e3ec427fdd3_increase_length_of_email_and_username.py
  airflow/www/fab_security/sqla/models.py
  docs/apache-airflow/migrations-ref.rst
Labels: area:webserver, kind:documentation, full tests needed

#19968 Add xcom clearing behaviour on task retries
  docs/apache-airflow/concepts/xcoms.rst
Labels: kind:documentation

#19987 Remove postgres 9.6 support
  BREEZE.rst
  PULL_REQUEST_WORKFLOW.rst
  README.md
  TESTING.rst
  breeze-complete
  docs/apache-airflow/concepts/scheduler.rst
  docs/apache-airflow/howto/set-up-database.rst
  docs/apache-airflow/installation/prerequisites.rst
  scripts/ci/libraries/_initialization.sh
Labels: area:scheduler/executor, area:dev-tools, kind:documentation, full tests needed

#19998 Fixing MyPy issues in tests/jobs
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#19873 Added example DAG for MSSQL to Google Cloud Storage (GCS)
  airflow/providers/google/cloud/example_dags/example_mssql_to_gcs.py
  airflow/providers/google/cloud/transfers/mssql_to_gcs.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/transfer/mssql_to_gcs.rst
  tests/always/test_project_structure.py
Labels: provider:Google, area:providers, kind:documentation

#19923 Fix mypy errors in Microsoft Azure provider
  airflow/providers/microsoft/azure/hooks/container_instance.py
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/microsoft/azure/secrets/key_vault.py
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
Labels: provider:Azure, area:providers, area:logging, area:secrets

#19787 Bug fix in AWS glue operator when specifying the WorkerType & NumberOfWorkers
  airflow/providers/amazon/aws/hooks/glue.py
  tests/providers/amazon/aws/hooks/test_glue.py
Labels: provider:AWS, area:providers, okay to merge

#19953 update upper bound for MarkupSafe
  setup.cfg
  tests/www/views/test_views_rendered.py
Labels: full tests needed

#20064 Chart: rename kerberos-keytab secret file
  chart/templates/secrets/kerberos-keytab-secret.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_kerberos.py
Labels: area:helm-chart, okay to merge

#19990 Order bug report fields by importance
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools, okay to merge

#19695 Add config and context params to KubernetesHook
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes.py
Labels: area:providers, okay to merge, area:kubernetes

#20069 Add migration-wait-timeout to the helm chart
  airflow/cli/cli_parser.py
  chart/templates/_helpers.yaml
  chart/tests/test_webserver.py
  chart/values.schema.json
  chart/values.yaml
  tests/cli/commands/test_db_command.py
Labels: area:helm-chart, okay to merge

#20082 Fix trino hook tests: change int to enum
  tests/providers/trino/hooks/test_trino.py
Labels: area:providers, okay to merge

#20084 Removes InputRequired validation with azure extra
  airflow/providers/microsoft/azure/hooks/data_factory.py
Labels: provider:Azure, area:providers

#20058 Add Qubole how to documentation
  airflow/providers/qubole/example_dags/example_qubole.py
  airflow/providers/qubole/operators/qubole.py
  airflow/providers/qubole/operators/qubole_check.py
  airflow/providers/qubole/provider.yaml
  airflow/providers/qubole/sensors/qubole.py
  docs/apache-airflow-providers-qubole/index.rst
  docs/apache-airflow-providers-qubole/operators/index.rst
  docs/apache-airflow-providers-qubole/operators/qubole.rst
  docs/apache-airflow-providers-qubole/operators/qubole_check.rst
Labels: area:providers, kind:documentation

#19961 Remove get_readable_dag, get_editable_dag, and get_accessible_dags.
  airflow/www/security.py
Labels: area:webserver, area:API, okay to merge

#20094 Fix failing main.
  tests/www/views/test_views_rendered.py
Labels: area:webserver, okay to merge

#20086 Update documentation for RC2 release of November Databricks Provider
  airflow/providers/databricks/CHANGELOG.rst
  docs/apache-airflow-providers-databricks/commits.rst
  docs/apache-airflow-providers-databricks/index.rst
Labels: area:providers, kind:documentation, okay to merge

#20089 Simplify helm install command in chart index
  docs/helm-chart/index.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#20090 Correct set-up-database.rst
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation

#20011 Type-annotate SkipMixin and BaseXCom
  airflow/models/skipmixin.py
  airflow/models/xcom.py
  docs/exts/docs_build/run_patched_sphinx.py
Labels: full tests needed

#19727 Add test case for views connections muldelete function
  tests/www/views/test_views_connection.py
Labels: area:webserver, okay to merge

#20095 Modernize tests for SnowflakeHook
  tests/providers/snowflake/hooks/test_snowflake.py
Labels: area:providers, okay to merge, provider:Snowflake

#20085 The 'cx_Oracle' driver does support autocommit
  airflow/providers/oracle/hooks/oracle.py
Labels: area:providers, okay to merge

#20043 Add template fields to neo4j operator
  airflow/providers/neo4j/example_dags/example_neo4j.py
  airflow/providers/neo4j/operators/neo4j.py
Labels: area:providers

#20104 Helper for provide_session-decorated functions
  airflow/models/xcom.py
  airflow/settings.py
  airflow/utils/session.py
Labels: full tests needed

#20030 Adds retry on taskinstance retrieval lock
  airflow/models/taskinstance.py
Labels: full tests needed

#20000 Improve handling edge-cases in airlfow.models by applying mypy
  CONTRIBUTING.rst
  airflow/models/base.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagbag.py
  airflow/models/dagrun.py
  airflow/models/serialized_dag.py
  airflow/models/taskinstance.py
  airflow/models/variable.py
  airflow/operators/subdag.py
  airflow/serialization/serialized_objects.py
  airflow/settings.py
  airflow/timetables/base.py
  airflow/utils/context.pyi
  airflow/utils/file.py
  airflow/utils/state.py
  airflow/utils/timezone.py
  airflow/utils/types.py
  tests/models/test_dag.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
Labels: full tests needed, area:core-operators

#20115 Fix Airflow version for a db migration
  docs/apache-airflow/migrations-ref.rst
Labels: kind:documentation, changelog:skip, okay to merge

#20039 Fix infinite recursion on redact log
  airflow/utils/log/secrets_masker.py
Labels: area:logging, full tests needed

#20091 Remove deprecated method call (blob.download_as_string)
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/utils/mlengine_operator_utils.py
  tests/providers/google/cloud/hooks/test_gcs.py
  tests/providers/google/cloud/operators/test_mlengine_utils.py
  tests/providers/google/cloud/utils/test_mlengine_operator_utils.py
Labels: provider:Google, area:providers, okay to merge

#20111 Fix mypy tests providers part 2
  tests/providers/cncf/kubernetes/utils/test_pod_launcher.py
  tests/providers/google/cloud/operators/test_datacatalog.py
  tests/providers/google/cloud/operators/test_dataproc_metastore.py
  tests/providers/google/cloud/sensors/test_bigquery_dts.py
Labels: provider:Google, area:providers

#20113 Lift off upper bound for MarkupSafe
  setup.cfg
Labels: full tests needed

#20107 Remove unused code in SnowflakeHook
  airflow/providers/snowflake/hooks/snowflake.py
  docs/apache-airflow-providers-snowflake/connections/snowflake.rst
Labels: area:providers, kind:documentation, okay to merge, provider:Snowflake

#20108 Remove legacy hack for TaskInstance without DagRun
  airflow/models/taskinstance.py
Labels: full tests needed

#20126 Update a link in the Google provider documentation
  docs/apache-airflow-providers-google/index.rst
Labels: provider:Google, area:providers, kind:documentation, okay to merge

#19377 Providers facebook hook multiple account
  airflow/providers/facebook/ads/hooks/ads.py
  airflow/providers/google/cloud/transfers/facebook_ads_to_gcs.py
  tests/providers/facebook/ads/hooks/test_ads.py
  tests/providers/google/cloud/transfers/test_facebook_ads_to_gcs.py
Labels: provider:Google, area:providers, okay to merge

#20128 Unhide changelog entry for databricks
  airflow/providers/databricks/CHANGELOG.rst
Labels: area:providers, okay to merge

#20096 Fix mypy issues in www/views.py
  airflow/www/views.py
Labels: area:webserver, full tests needed

#20102 Fix typo in MySQL Database creation code (Set up DB docs)
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation

#20136 Type (ignore) airflow.compat
  airflow/compat/asyncio.py
Labels: full tests needed

#20121 Fix log link in gantt view
  airflow/www/views.py
Labels: area:webserver, okay to merge

#20118 Log only when Zombies exists
  airflow/dag_processing/manager.py
Labels: area:scheduler/executor, full tests needed

#20141 Add missing dot to SQLite warning message
  airflow/www/templates/airflow/dags.html
Labels: area:webserver, okay to merge, area:UI

#20146 Fix grammar and typos in "Logging for Tasks" guide
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
Labels: area:logging, kind:documentation

#20124 Added function in AWSAthenaHook to get s3 output query results file URI
  airflow/providers/amazon/aws/hooks/athena.py
  tests/providers/amazon/aws/hooks/test_athena.py
Labels: provider:AWS, area:providers

#18439 Check and run migration in commands if necessary
  airflow/cli/commands/celery_command.py
  airflow/cli/commands/connection_command.py
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/db_command.py
  airflow/cli/commands/kerberos_command.py
  airflow/cli/commands/kubernetes_command.py
  airflow/cli/commands/pool_command.py
  airflow/cli/commands/role_command.py
  airflow/cli/commands/rotate_fernet_key_command.py
  airflow/cli/commands/scheduler_command.py
  airflow/cli/commands/sync_perm_command.py
  airflow/cli/commands/task_command.py
  airflow/cli/commands/triggerer_command.py
  airflow/cli/commands/user_command.py
  airflow/cli/commands/variable_command.py
  airflow/cli/commands/webserver_command.py
  airflow/utils/cli.py
  airflow/utils/db.py
  airflow/utils/helpers.py
  tests/utils/test_cli_util.py
Labels: area:webserver, area:CLI, full tests needed

#19894 CI - OpenID Connect authorication to AWS
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#20052 Extend config window on UI
  airflow/www/static/js/trigger.js
Labels: area:webserver, area:UI

#20152 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area:dev-tools, okay to merge

#20150 Deferrable operators doc clarification
  docs/apache-airflow/concepts/deferring.rst
Labels: kind:documentation, okay to merge

#19912 Fix mypy for cli package
  airflow/cli/commands/cheat_sheet_command.py
  airflow/cli/commands/info_command.py
  airflow/cli/simple_table.py
Labels: area:CLI, okay to merge

#19911 Fix mypy checks for api_connexion
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/schemas/dag_schema.py
Labels: area:API, okay to merge

#19410 Use XCom to correctly display the execution date from triggered DAG in TriggerDagOperator's extra link
  airflow/operators/trigger_dagrun.py
  tests/operators/test_trigger_dagrun.py
Labels: area:core-operators, debug-ci-resources

#20079 Update Sphinx and Sphinx-AutoAPI
  airflow/models/dag.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/google/cloud/utils/mlengine_prediction_summary.py
  airflow/providers/google/common/utils/id_token_credentials.py
  airflow/sensors/base.py
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
  docs/apache-airflow/executor/kubernetes.rst
  docs/conf.py
  docs/exts/docs_build/docs_builder.py
  docs/exts/docs_build/run_patched_sphinx.py
  docs/exts/exampleinclude.py
  docs/spelling_wordlist.txt
  setup.py
Labels: provider:Google, area:scheduler/executor, area:providers, kind:documentation, full tests needed, area:kubernetes, area:core-operators

#20173 Revert "CI - OpenID Connect authorication to AWS"
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#20157 Organize EC2 classes in Amazon provider
  airflow/providers/amazon/aws/operators/ec2.py
  airflow/providers/amazon/aws/operators/ec2_start_instance.py
  airflow/providers/amazon/aws/operators/ec2_stop_instance.py
  airflow/providers/amazon/aws/sensors/ec2.py
  airflow/providers/amazon/aws/sensors/ec2_instance_state.py
  airflow/providers/amazon/provider.yaml
  dev/provider_packages/prepare_provider_packages.py
  tests/deprecated_classes.py
  tests/providers/amazon/aws/operators/test_ec2.py
  tests/providers/amazon/aws/operators/test_ec2_start_instance.py
  tests/providers/amazon/aws/sensors/test_ec2.py
Labels: provider:AWS, area:providers

#20163 Mypy fixes to DagRun, TaskInstance, and db utils
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/utils/db.py
Labels: full tests needed

#20172 Log provider import warnings as debug
  airflow/providers_manager.py
Labels: okay to merge

#20181 Update contributing guide to use typed session arg
  CONTRIBUTING.rst
Labels: area:dev-tools, okay to merge

#20170 Update minimum sphinx versions after upgrading sphinx-autoapi
  setup.py
Labels: full tests needed

#20180 Remove db call from `DatabricksHook.__init__()`
  airflow/providers/databricks/hooks/databricks.py
Labels: area:providers, okay to merge

#20182 Only execute TIs of running DagRuns
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#20183 Better confirmation prompts
  airflow/models/dag.py
  airflow/utils/db.py
  airflow/utils/helpers.py
Labels: full tests needed

#20204 Change log level for Zombie detection messages
  airflow/dag_processing/manager.py
Labels: area:scheduler/executor, full tests needed

#19950 Add clear logging to tasks killed due to a Dagrun timeout
  airflow/jobs/local_task_job.py
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor

#20205 Prepare docs for databrick's RC2 release
  airflow/providers/databricks/CHANGELOG.rst
  docs/apache-airflow-providers-databricks/commits.rst
Labels: area:providers, kind:documentation, okay to merge

#20209 Add 2.2.3rc1 to issue templates
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
Labels: area:dev-tools, okay to merge

#20218 Limit httpx to <0.20.0
  setup.cfg
Labels: full tests needed

#20138 Finalised Datastore documentation
  airflow/providers/google/cloud/example_dags/example_datastore.py
  airflow/providers/google/cloud/operators/datastore.py
  docs/apache-airflow-providers-google/operators/cloud/datastore.rst
  tests/always/test_project_structure.py
Labels: provider:Google, area:providers, kind:documentation

#20145 Add Google Cloud Tasks how-to documentation
  airflow/providers/google/cloud/example_dags/example_tasks.py
  airflow/providers/google/cloud/operators/tasks.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/tasks.rst
Labels: provider:Google, area:providers, kind:documentation

#20211 Update docs/tools for releasing core Airflow
  dev/README_RELEASE_AIRFLOW.md
  dev/airflow-github
  dev/prepare_release_issue.py
Labels: area:dev-tools, changelog:skip, okay to merge

#20071 ShortCircuitOperator pushs XCom
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: full tests needed, area:core-operators

#20210 Add some type hints for Hive providers
  airflow/providers/apache/hive/transfers/vertica_to_hive.py
Labels: area:providers, provider:Apache, okay to merge

#20189 Fix mypy neo4j and influxdb
  airflow/providers/influxdb/hooks/influxdb.py
  airflow/providers/neo4j/hooks/neo4j.py
  airflow/providers/neo4j/operators/neo4j.py
Labels: area:providers, okay to merge

#20228 Fix MyPy errors in google.cloud.sensors
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/sensors/bigquery_dts.py
  airflow/providers/google/cloud/sensors/datafusion.py
  airflow/providers/google/cloud/sensors/dataproc.py
  airflow/providers/google/cloud/sensors/workflows.py
Labels: provider:Google, area:providers, okay to merge

#20230 Increase limit of time for constraint job
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#20221 Add optional location to bigquery data transfer service (#15088)
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  airflow/providers/google/cloud/operators/bigquery_dts.py
Labels: provider:Google, area:providers

#20242 Fix MyPy Errors for SFTP provider
  airflow/providers/sftp/sensors/sftp.py
  tests/providers/sftp/sensors/test_sftp.py
Labels: area:providers

#20243 Fix MyPy Errors for Samba provider
  airflow/providers/samba/hooks/samba.py
Labels: area:providers

#20244 Fix MyPy Errors for Presto provider
  airflow/providers/presto/hooks/presto.py
Labels: area:providers

#20158 20139 - organize aws step_function
  airflow/providers/amazon/aws/operators/step_function.py
  airflow/providers/amazon/aws/operators/step_function_get_execution_output.py
  airflow/providers/amazon/aws/operators/step_function_start_execution.py
  airflow/providers/amazon/aws/sensors/step_function.py
  airflow/providers/amazon/aws/sensors/step_function_execution.py
  airflow/providers/amazon/provider.yaml
  dev/provider_packages/prepare_provider_packages.py
  tests/deprecated_classes.py
  tests/providers/amazon/aws/operators/test_step_function.py
  tests/providers/amazon/aws/operators/test_step_function_get_execution_output.py
  tests/providers/amazon/aws/sensors/test_step_function.py
Labels: provider:AWS, area:providers

#20245 Exclude snowflake-sqlalchemy v1.2.5
  setup.py
Labels: full tests needed

#20257 Docs for multiple pool slots
  docs/apache-airflow/concepts/pools.rst
Labels: kind:documentation, okay to merge

#20240 Fix MyPy Errors for Tableau provider
  airflow/providers/tableau/operators/tableau.py
Labels: area:providers, okay to merge

#20106 Support insecure mode in SnowflakeHook
  airflow/providers/snowflake/hooks/snowflake.py
  docs/apache-airflow-providers-snowflake/connections/snowflake.rst
  tests/providers/snowflake/hooks/test_snowflake.py
Labels: area:providers, kind:documentation, okay to merge, provider:Snowflake

#16931 #16692 show schedule_interval/timetable description in UI
  airflow/migrations/versions/786e3737b18f_added_timetable_description_column.py
  airflow/models/dag.py
  airflow/timetables/base.py
  airflow/timetables/interval.py
  airflow/timetables/simple.py
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  docs/apache-airflow/howto/timetable.rst
  docs/apache-airflow/migrations-ref.rst
  setup.cfg
  tests/models/test_dag.py
Labels: stale, area:webserver, full tests needed, area:UI

#20167 Organise S3 Classes in Amazon Provider
  airflow/providers/amazon/aws/example_dags/example_s3_bucket.py
  airflow/providers/amazon/aws/example_dags/example_s3_bucket_tagging.py
  airflow/providers/amazon/aws/example_dags/example_salesforce_to_s3.py
  airflow/providers/amazon/aws/operators/s3.py
  airflow/providers/amazon/aws/operators/s3_bucket.py
  airflow/providers/amazon/aws/operators/s3_bucket_tagging.py
  airflow/providers/amazon/aws/operators/s3_copy_object.py
  airflow/providers/amazon/aws/operators/s3_delete_objects.py
  airflow/providers/amazon/aws/operators/s3_file_transform.py
  airflow/providers/amazon/aws/operators/s3_list.py
  airflow/providers/amazon/aws/operators/s3_list_prefixes.py
  airflow/providers/amazon/aws/sensors/s3.py
  airflow/providers/amazon/aws/sensors/s3_key.py
  airflow/providers/amazon/aws/sensors/s3_keys_unchanged.py
  airflow/providers/amazon/aws/sensors/s3_prefix.py
  airflow/providers/amazon/provider.yaml
  airflow/providers/google/cloud/example_dags/example_s3_to_gcs.py
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow-providers-amazon/operators/s3.rst
  tests/deprecated_classes.py
  tests/providers/amazon/aws/operators/test_s3_bucket.py
  tests/providers/amazon/aws/operators/test_s3_bucket_tagging.py
  tests/providers/amazon/aws/operators/test_s3_copy_object.py
  tests/providers/amazon/aws/operators/test_s3_delete_objects.py
  tests/providers/amazon/aws/operators/test_s3_file_transform.py
  tests/providers/amazon/aws/operators/test_s3_list.py
  tests/providers/amazon/aws/operators/test_s3_list_prefixes.py
  tests/providers/amazon/aws/sensors/test_s3_key.py
  tests/providers/amazon/aws/sensors/test_s3_keys_unchanged.py
  tests/providers/amazon/aws/sensors/test_s3_prefix.py
  tests/providers/google/cloud/transfers/test_s3_to_gcs.py
Labels: provider:Google, provider:AWS, area:providers, area:dev-tools, kind:documentation

#20227 Fix MyPy errors for google/marketing_platform
  airflow/providers/google/marketing_platform/hooks/display_video.py
  airflow/providers/google/marketing_platform/operators/display_video.py
  airflow/providers/google/suite/transfers/sql_to_sheets.py
Labels: provider:Google, area:providers, okay to merge, mypy

#20231 Remove Integration tests from MSSQL on Public Runners
  scripts/ci/testing/ci_run_airflow_testing.sh
Labels: area:dev-tools, full tests needed

#19860 Restore stability and unquarantine all test_scheduler_job tests
  tests/jobs/test_scheduler_job.py
  tests/test_utils/asserts.py
Labels: area:scheduler/executor, full tests needed, use public runners

#20261 Fix MyPy errors in `dev/*`
  dev/import_all_classes.py
  dev/prepare_release_issue.py
  dev/provider_packages/prepare_provider_packages.py
  dev/validate_version_added_fields_in_config.py
Labels: area:dev-tools, okay to merge

#19665 Add two operators in AWS Providers: RedshiftResumeClusterOperator and RedshiftPauseClusterOperator
  airflow/providers/amazon/aws/operators/redshift.py
  docs/apache-airflow-providers-amazon/operators/redshift.rst
  tests/providers/amazon/aws/operators/test_redshift.py
Labels: provider:AWS, area:providers, okay to merge

#20232 Fix MyPY errors for google.cloud.example_dags
  airflow/providers/google/cloud/example_dags/example_bigquery_operations.py
  airflow/providers/google/cloud/example_dags/example_cloud_build.py
  airflow/providers/google/cloud/example_dags/example_cloud_memorystore.py
  airflow/providers/google/cloud/example_dags/example_functions.py
  airflow/providers/google/cloud/example_dags/example_mlengine.py
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  airflow/providers/google/cloud/operators/workflows.py
  airflow/providers/google/cloud/sensors/datafusion.py
Labels: provider:Google, area:providers, mypy

#20241 Fix MyPy Errors for SSH provider
  airflow/providers/ssh/hooks/ssh.py
  airflow/providers/ssh/operators/ssh.py
Labels: area:providers, okay to merge, mypy

#20246 Fix MyPy Errors for HTTP provider.
  airflow/providers/http/hooks/http.py
Labels: area:providers, okay to merge, mypy

#20212 Fix MyPy Errors for provider Snowflake
  airflow/providers/snowflake/hooks/snowflake.py
  airflow/providers/snowflake/operators/snowflake.py
  tests/providers/snowflake/hooks/test_snowflake.py
Labels: area:providers, provider:Snowflake, mypy

#20120 Fix various MyPy issues in airflow/www folder (part 1)
  airflow/www/extensions/init_appbuilder.py
  airflow/www/utils.py
Labels: area:webserver, okay to merge, mypy

#19749 Chart: PgBouncer service enhancements
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/secrets/pgbouncer-stats-secret.yaml
  chart/tests/test_pgbouncer.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#20072 Add method 'callproc' on Oracle hook
  airflow/providers/oracle/hooks/oracle.py
  airflow/providers/oracle/operators/oracle.py
  tests/providers/oracle/hooks/test_oracle.py
  tests/providers/oracle/operators/test_oracle.py
Labels: area:providers

#20193 Add linter for values.schema.json
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
  chart/values.schema.json
  scripts/ci/pre_commit/pre_commit_chart_schema.py
Labels: area:dev-tools, area:helm-chart

#19215 Use Viewer role as example public role
  airflow/config_templates/default_webserver_config.py
Labels: full tests needed

#20093 Fix mypy errors in `tests/utils`
  airflow/utils/email.py
  tests/utils/test_email.py
Labels: mypy

#20270 Fix MyPy Errors for Apache Druid provider.
  airflow/providers/apache/druid/hooks/druid.py
Labels: area:providers, provider:Apache, okay to merge

#20268 Fix MyPy Errors for Apache Drill provider.
  airflow/providers/apache/drill/hooks/drill.py
Labels: area:providers, provider:Apache, okay to merge

#20266 Chart: properly quote namespace names
  chart/templates/rbac/pod-cleanup-rolebinding.yaml
  chart/templates/rbac/pod-launcher-role.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/templates/rbac/pod-log-reader-role.yaml
  chart/templates/rbac/pod-log-reader-rolebinding.yaml
  chart/templates/rbac/security-context-constraint-rolebinding.yaml
  chart/tests/helm_template_generator.py
  chart/tests/test_basic_helm_chart.py
Labels: area:helm-chart, type:bug-fix, okay to merge

#20217 Lazy Jinja2 context
  airflow/models/baseoperator.py
  airflow/models/param.py
  airflow/models/xcom_arg.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  airflow/utils/context.py
  airflow/utils/helpers.py
  airflow/utils/log/file_task_handler.py
  tests/conftest.py
  tests/models/test_taskinstance.py
Labels: type:bug-fix, full tests needed

#20280 Fix MyPy errors in `scripts/in_container`
  scripts/in_container/check_junitxml_result.py
Labels: area:dev-tools

#20281 Fix MyPy errors in `docs/exts`
  docs/exts/docs_build/lint_checks.py
  docs/exts/exampleinclude.py
  docs/exts/operators_and_hooks_ref.py
  docs/exts/substitution_extensions.py
Labels: kind:documentation, okay to merge
