Repository apache/airflow, pull requests merged in 2021-05, with the labels that each got.

#15618 Refactor building of results backend connection secret
  chart/templates/secrets/result-backend-connection-secret.yaml
Labels: area:helm-chart, okay to merge

#15625 Automated tagging of default images in DockerHub
  dev/README_RELEASE_AIRFLOW.md
  scripts/ci/images/ci_build_dockerhub.sh
Labels: area:dev-tools, full tests needed

#15626 Kubernetes Test Cleanup
  kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator_backcompat.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:kubernetes, area:providers, okay to merge

#15628 Docs: Replace 'airflow' to 'apache-airflow' to install extra
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
Labels: area:docs, okay to merge

#15593 Add docker-context-files detection and cleanup flag.
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/images/ci_wait_for_and_verify_ci_image.sh
  scripts/ci/images/ci_wait_for_and_verify_prod_image.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, full tests needed

#15412 PostgresHook: deepcopy connection to avoid mutating connection obj
  airflow/providers/postgres/hooks/postgres.py
  tests/providers/postgres/hooks/test_postgres.py
Labels: area:providers

#15592 Better description of UID/GID behaviour in image and quickstart
  docs/apache-airflow/start/docker.rst
  docs/docker-stack/entrypoint.rst
Labels: kind:documentation, okay to merge

#15633 Fix add quotes to extraConfigMaps/extraSecrets
  chart/values.yaml
Labels: area:helm-chart

#15642 Fix k8s tests in master: Worker ServiceAccount is needed for KubernetesExecutor
  chart/templates/workers/worker-serviceaccount.yaml
Labels: area:helm-chart, okay to merge

#15615 Feature qubole hook support headers
  airflow/providers/qubole/CHANGELOG.rst
  airflow/providers/qubole/hooks/qubole.py
  airflow/providers/qubole/hooks/qubole_check.py
  airflow/providers/qubole/operators/qubole.py
  airflow/providers/qubole/provider.yaml
Labels: area:providers, okay to merge

#15621 Chart: Add unit tests for limits and resources
  chart/tests/test_flower.py
  chart/tests/test_kerberos.py
  chart/tests/test_limit_ranges.py
  chart/tests/test_pgbouncer.py
  chart/tests/test_redis.py
  chart/tests/test_resource_quota.py
  chart/tests/test_scheduler.py
  chart/tests/test_statsd.py
  chart/tests/test_webserver_deployment.py
  chart/tests/test_worker.py
Labels: area:helm-chart, okay to merge

#15643 Fix breeze k8s tests on mac
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
Labels: area:dev-tools

#15651 Rename example bucket names to use INVALID BUCKET NAME by default
  airflow/providers/amazon/aws/example_dags/example_glacier_to_gcs.py
  airflow/providers/apache/beam/example_dags/example_beam.py
  airflow/providers/google/ads/example_dags/example_ads.py
  airflow/providers/google/cloud/example_dags/example_automl_nl_text_classification.py
  airflow/providers/google/cloud/example_dags/example_automl_nl_text_extraction.py
  airflow/providers/google/cloud/example_dags/example_automl_nl_text_sentiment.py
  airflow/providers/google/cloud/example_dags/example_automl_tables.py
  airflow/providers/google/cloud/example_dags/example_automl_translation.py
  airflow/providers/google/cloud/example_dags/example_automl_video_intelligence_classification.py
  airflow/providers/google/cloud/example_dags/example_automl_video_intelligence_tracking.py
  airflow/providers/google/cloud/example_dags/example_automl_vision_classification.py
  airflow/providers/google/cloud/example_dags/example_automl_vision_object_detection.py
  airflow/providers/google/cloud/example_dags/example_azure_fileshare_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_bigquery_dts.py
  airflow/providers/google/cloud/example_dags/example_bigquery_operations.py
  airflow/providers/google/cloud/example_dags/example_bigquery_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_bigquery_transfer.py
  airflow/providers/google/cloud/example_dags/example_cloud_build.py
  airflow/providers/google/cloud/example_dags/example_cloud_memorystore.py
  airflow/providers/google/cloud/example_dags/example_cloud_sql.py
  airflow/providers/google/cloud/example_dags/example_datacatalog.py
  airflow/providers/google/cloud/example_dags/example_dataflow.py
  airflow/providers/google/cloud/example_dags/example_dataflow_flex_template.py
  airflow/providers/google/cloud/example_dags/example_dataprep.py
  airflow/providers/google/cloud/example_dags/example_dlp.py
  airflow/providers/google/cloud/example_dags/example_life_sciences.py
  airflow/providers/google/cloud/example_dags/example_mlengine.py
  airflow/providers/google/cloud/example_dags/example_natural_language.py
  airflow/providers/google/cloud/example_dags/example_postgres_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_presto_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_speech_to_text.py
  airflow/providers/google/cloud/example_dags/example_translate_speech.py
  airflow/providers/google/cloud/example_dags/example_trino_to_gcs.py
  airflow/providers/google/cloud/example_dags/example_video_intelligence.py
  airflow/providers/google/cloud/example_dags/example_vision.py
  airflow/providers/google/firebase/example_dags/example_firestore.py
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/microsoft/azure/example_dags/example_azure_blob_to_gcs.py
Labels: area:providers, okay to merge, provider:AWS, provider:Apache, provider:Google

#15640 Allow chart to work with custom cluster domains
  chart/templates/_helpers.yaml
  chart/templates/secrets/metadata-connection-secret.yaml
  chart/tests/test_metadata_connection_secret.py
  chart/tests/test_pgbouncer.py
Labels: area:helm-chart, okay to merge

#15367 Implement BigQuery Table Schema Update Operator
  airflow/providers/google/cloud/example_dags/example_bigquery_operations.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  docs/apache-airflow-providers-google/operators/cloud/bigquery.rst
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: area:providers, kind:documentation, provider:Google

#14701 HttpHook. Use request factory and respect defaults
  airflow/providers/http/hooks/http.py
  tests/providers/http/hooks/test_http.py
  tests/providers/http/sensors/test_http.py
Labels: okay to merge

#15644 Use the Stable REST API for Kubernetes executor integration tests
  kubernetes_tests/test_kubernetes_executor.py
  scripts/ci/libraries/_kind.sh
Labels: area:dev-tools, area:kubernetes

#15637 Fix WasbHook.delete_file broken when using prefix
  airflow/providers/microsoft/azure/hooks/wasb.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
Labels: area:providers, okay to merge, provider:Azure

#15657 Fix chart DAG gitsync and persistence with KubernetesExecutor
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_pod_template_file.py
Labels: area:helm-chart, okay to merge

#15653 Rename to old "Experimental" API to deprecated in the docs.
  docs/apache-airflow/deprecated-rest-api-ref.rst
  docs/apache-airflow/index.rst
  docs/apache-airflow/integration.rst
  docs/apache-airflow/redirects.txt
  docs/apache-airflow/security/webserver.rst
  docs/apache-airflow/usage-cli.rst
Labels: kind:documentation, okay to merge

#15617 Improve Test Coverage for Kubernetes Executor
  tests/executors/test_kubernetes_executor.py
Labels: area:scheduler/executor

#15659 Fix log persistence with KubernetesExecutor
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/tests/test_pod_template_file.py
Labels: area:helm-chart, okay to merge

#15660 Fix dags table overflow
  airflow/www/static/css/dags.css
Labels: area:UI, area:webserver

#15663 Fix building assets on ``breeze start-airflow``
  scripts/in_container/bin/run_tmux
Labels: area:dev-tools

#15661 Add --executor option to breeze kind-cluster deploy command
  BREEZE.rst
  breeze
  breeze-complete
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
Labels: area:dev-tools

#15662 More verbose logs when running `airflow check_migrations`
  airflow/utils/db.py
Labels: area:helm-chart

#15599 Mask passwords and sensitive info in task logs and UI
  airflow/cli/commands/task_command.py
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_test.cfg
  airflow/configuration.py
  airflow/hooks/base.py
  airflow/models/connection.py
  airflow/models/dag.py
  airflow/models/renderedtifields.py
  airflow/models/variable.py
  airflow/sensors/smart_sensor.py
  airflow/settings.py
  airflow/typing_compat.py
  airflow/utils/log/secrets_masker.py
  airflow/www/utils.py
  airflow/www/views.py
  docs/apache-airflow/security/secrets/index.rst
  docs/apache-airflow/security/webserver.rst
  docs/apache-airflow/ui.rst
  tests/core/test_config_templates.py
  tests/models/test_connection.py
  tests/models/test_renderedtifields.py
  tests/models/test_variable.py
  tests/utils/log/test_secrets_masker.py
  tests/www/test_utils.py
Labels: area:logging, area:webserver, full tests needed

#15624 Allows overriding versioned dirs when publishing documentation
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  docs/build_docs.py
  docs/exts/docs_build/code_utils.py
  docs/exts/docs_build/docs_builder.py
  docs/publish_docs.py
Labels: area:dev-tools, kind:documentation, okay to merge

#15673 When installing providers from the context folder, use `pip --find-links`
  Dockerfile
  scripts/docker/install_from_docker_context_files.sh
Labels: area:dev-tools, full tests needed

#15537 Fix on_failure_callback when task receive SIGKILL
  airflow/jobs/local_task_job.py
  airflow/models/taskinstance.py
  tests/jobs/test_local_task_job.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor, full tests needed

#15684 More test coverage on pgbouncer in the helm chart
  chart/templates/pgbouncer/pgbouncer-service.yaml
  chart/tests/test_pgbouncer.py
Labels: area:helm-chart

#15681 Clean up the pre-commit config file
  .pre-commit-config.yaml
Labels: area:dev-tools, okay to merge

#15669 Update KubeExecutor pod templates to allow access to IAM token files
  airflow/kubernetes/pod_template_file_examples/dags_in_image_template.yaml
  airflow/kubernetes/pod_template_file_examples/dags_in_volume_template.yaml
  airflow/kubernetes/pod_template_file_examples/git_sync_template.yaml
Labels: area:kubernetes, full tests needed

#15682 Add docs to the markdownlint and yamllint config files
  .markdownlint.yml
  yamllint-config.yml
Labels: area:dev-tools

#15302 Emit error on duplicated DAG ID
  airflow/example_dags/tutorial_taskflow_api_etl_virtualenv.py
  airflow/exceptions.py
  airflow/models/dagbag.py
  airflow/providers/papermill/example_dags/example_papermill.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/core/test_impersonation_tests.py
  tests/dags/test_backfill_pooled_tasks.py
  tests/dags/test_dag_with_no_tags.py
  tests/models/test_dagbag.py
  tests/www/test_views.py
Labels: full tests needed

#14603 Support jinja2 native Python types
  airflow/models/dag.py
  airflow/models/taskinstance.py
  airflow/operators/python.py
  airflow/serialization/schema.json
  airflow/utils/python_virtualenv.py
  docs/apache-airflow/concepts/operators.rst
  tests/models/test_baseoperator.py
Labels: full tests needed

#15627 Chart: Update Webserver update strategy based on Airflow Version
  chart/templates/configmaps/configmap.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_flower.py
  chart/tests/test_webserver_deployment.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/parameters-ref.rst
Labels: area:helm-chart, okay to merge

#15703 Clean up the pre-commit config
  .pre-commit-config.yaml
Labels: area:dev-tools

#15632 Add link to Oracle Connection Docs
  airflow/providers/google/cloud/transfers/oracle_to_gcs.py
  airflow/providers/microsoft/azure/transfers/oracle_to_azure_data_lake.py
  airflow/providers/oracle/hooks/oracle.py
  airflow/providers/oracle/operators/oracle.py
  airflow/providers/oracle/transfers/oracle_to_oracle.py
  docs/apache-airflow-providers-oracle/connections/oracle.rst
Labels: area:providers, kind:documentation, okay to merge, provider:Azure, provider:Google

#15706 Run helm chart tests in parallel
  chart/tests/conftest.py
  chart/tests/helm_template_generator.py
  chart/tests/test_pod_template_file.py
  scripts/in_container/entrypoint_ci.sh
  setup.py
Labels: area:helm-chart, full tests needed

#15707 Revert "Clean up the pre-commit config (#15703)"
  .pre-commit-config.yaml
Labels: area:dev-tools

#15710 Fixes syntax of terraform script.
  docs/apache-airflow-providers-google/connections/gcp.rst
Labels: area:providers, kind:documentation, okay to merge, provider:Google

#10343 Add extra links for google dataproc
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/provider.yaml
  airflow/serialization/serialized_objects.py
  scripts/in_container/run_install_and_test_provider_packages.sh
  tests/core/test_providers_manager.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: full tests needed, pinned, provider:Google

#13394 Add rest API to query for providers
  airflow/api_connexion/endpoints/provider_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/provider_schema.py
  airflow/security/permissions.py
  airflow/www/security.py
  docs/apache-airflow/security/access-control.rst
  tests/api_connexion/endpoints/test_provider_endpoint.py
Labels: area:API, area:webserver, full tests needed, kind:documentation

#15704 Add Connection Documentation for the Hive Provider
  airflow/providers/amazon/aws/transfers/hive_to_dynamodb.py
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/hive/operators/hive.py
  airflow/providers/apache/hive/operators/hive_stats.py
  airflow/providers/apache/hive/sensors/hive_partition.py
  airflow/providers/apache/hive/sensors/named_hive_partition.py
  airflow/providers/apache/hive/transfers/hive_to_mysql.py
  airflow/providers/apache/hive/transfers/hive_to_samba.py
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/apache/hive/transfers/mysql_to_hive.py
  airflow/providers/apache/hive/transfers/s3_to_hive.py
  airflow/providers/apache/hive/transfers/vertica_to_hive.py
  docs/apache-airflow-providers-apache-hive/connections/hive_cli.rst
  docs/apache-airflow-providers-apache-hive/connections/hive_metastore.rst
  docs/apache-airflow-providers-apache-hive/connections/hiveserver2.rst
  docs/apache-airflow-providers-apache-hive/connections/index.rst
  docs/apache-airflow-providers-apache-hive/index.rst
  docs/spelling_wordlist.txt
Labels: area:providers, kind:documentation, provider:AWS, provider:Apache

#15666 Refactor tests/www/test_views.py
  tests/test_utils/www.py
  tests/www/test_views.py
  tests/www/views/conftest.py
  tests/www/views/test_views.py
  tests/www/views/test_views_connection.py
  tests/www/views/test_views_dagrun.py
  tests/www/views/test_views_decorators.py
  tests/www/views/test_views_extra_links.py
  tests/www/views/test_views_mount.py
  tests/www/views/test_views_pool.py
  tests/www/views/test_views_rendered.py
  tests/www/views/test_views_trigger_dag.py
  tests/www/views/test_views_variable.py
Labels: area:webserver, full tests needed

#13199 Create dag dependencies view
  airflow/models/serialized_dag.py
  airflow/security/permissions.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/www/extensions/init_views.py
  airflow/www/security.py
  airflow/www/static/css/graph.css
  airflow/www/static/js/dag_dependencies.js
  airflow/www/templates/airflow/dag_dependencies.html
  airflow/www/views.py
  airflow/www/webpack.config.js
  docs/apache-airflow/concepts/dags.rst
  setup.cfg
  tests/serialization/test_dag_serialization.py
  tests/www/test_security.py
  tests/www/test_views.py
Labels: area:UI, area:webserver, full tests needed

#15423 UI: DAG Calendar View
  airflow/www/static/css/calendar.css
  airflow/www/static/js/calendar.js
  airflow/www/templates/airflow/calendar.html
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  airflow/www/webpack.config.js
  tests/www/test_views.py
Labels: area:UI, area:webserver

#15718 Attempt to upgrade to newer Node version to build UI.
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, full tests needed

#15674 New UI: Add Timezone select
  airflow/ui/package.json
  airflow/ui/src/components/AppContainer/AppHeader.tsx
  airflow/ui/src/components/AppContainer/TimezoneDropdown.tsx
  airflow/ui/src/components/MultiSelect.tsx
  airflow/ui/src/providers/TimezoneProvider.tsx
  airflow/ui/src/views/Pipelines/PipelinesTable.tsx
  airflow/ui/src/views/Pipelines/index.tsx
  airflow/ui/test/TimezoneDropdown.test.tsx
  airflow/ui/test/utils.tsx
  airflow/ui/yarn.lock
Labels: area:UI

#15728 Add short description to BaseSQLToGCSOperator docstring
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
Labels: area:providers, provider:Google

#15730 Fix sql_to_gcs docstring lint error
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
Labels: area:providers, provider:Google

#15735 Remove duplicate key from Python dictionary
  airflow/providers/apache/hive/hooks/hive.py
Labels: area:providers, okay to merge, provider:Apache

#15723 Run Airflow package preparation in docker in breeze/CI
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  BREEZE.rst
  Dockerfile.ci
  breeze
  dev/README_RELEASE_AIRFLOW.md
  kubernetes_tests/test_kubernetes_pod_operator.py
  scripts/ci/build_airflow/ci_build_airflow_packages.sh
  scripts/ci/docker-compose/_docker.env
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/libraries/_all_libs.sh
  scripts/ci/libraries/_build_airflow_packages.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_runs.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_prepare_airflow_packages.sh
  scripts/in_container/run_prepare_provider_packages.sh
  setup.py
  tests/providers/google/cloud/operators/test_dataflow.py
Labels: area:dev-tools, full tests needed

#15744 Skip failing for undefined variables in MacOS
  scripts/ci/libraries/_script_init.sh
Labels: area:dev-tools, full tests needed

#15714 Enforce READ COMMITTED isolation when using mysql
  airflow/settings.py
  tests/core/test_sqlalchemy_config.py
  tests/www/test_app.py
Labels: area:scheduler/executor, full tests needed

#15589 [Oracle] Add port to DSN
  airflow/providers/oracle/hooks/oracle.py
  docs/apache-airflow-providers-oracle/connections/oracle.rst
  tests/providers/oracle/hooks/test_oracle.py
Labels: area:providers, okay to merge

#15746 Use "apache/airflow" repository as source of constraints
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#15741 Add missing docstring params
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/utils/timezone.py
  docs/exts/docroles.py
  docs/exts/docs_build/errors.py
  docs/exts/docs_build/spelling_checks.py
  tests/core/test_core_to_contrib.py
  tests/core/test_logging_config.py
Labels: area:providers, kind:documentation

#15740 Remove redundant character escape from regex
  tests/test_utils/perf/dags/elastic_dag.py
  tests/www/api/experimental/test_endpoints.py
Labels: area:API, area:webserver

#14853 Small changes on "DAGs and Tasks documentation"
  airflow/example_dags/tutorial.py
  docs/apache-airflow/img/dag_doc.png
  docs/apache-airflow/img/task_doc.png
  docs/apache-airflow/tutorial.rst
Labels: kind:documentation

#15738 Fix argument ordering and type of bucket and object
  airflow/providers/google/cloud/hooks/gcs.py
Labels: area:providers, provider:Google

#15699 Fix spelling
  BREEZE.rst
  CI.rst
  INSTALL
  TESTING.rst
  UPDATING.md
  airflow/api/common/experimental/mark_tasks.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/jobs/local_task_job.py
  airflow/kubernetes/pod_generator.py
  airflow/models/dagbag.py
  airflow/models/taskinstance.py
  airflow/providers/amazon/aws/hooks/glue.py
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  airflow/providers/postgres/provider.yaml
  airflow/ui/docs/CONTRIBUTING.md
  airflow/ui/tsconfig.json
  airflow/utils/dag_processing.py
  airflow/utils/decorators.py
  airflow/utils/log/secrets_masker.py
  airflow/www/static/js/calendar.js
  airflow/www/utils.py
  breeze
  dev/provider_packages/README.md
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow-providers-apache-hive/connections/hiveserver2.rst
  docs/apache-airflow-providers-google/api-auth-backend/google-openid.rst
  docs/apache-airflow-providers-imap/connections/imap.rst
  docs/apache-airflow-providers/howto/create-update-providers.rst
  docs/exts/docs_build/lint_checks.py
  docs/exts/substitution_extensions.py
  docs/integration-logos/postgres/Postgres.png
  pylintrc
  pylintrc-tests
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_md5sum.sh
  scripts/ci/libraries/_parameters.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_testing.sh
  scripts/ci/selective_ci_checks.sh
  tests/jobs/test_scheduler_job.py
  tests/providers/amazon/aws/hooks/test_datasync.py
  tests/providers/apache/hive/transfers/test_s3_to_hive.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/http/sensors/test_http.py
  tests/test_utils/perf/scheduler_dag_execution_timing.py
  tests/utils/log/test_secrets_masker.py
  tests/utils/test_process_utils.py
Labels: area:API, area:dev-tools, area:kubernetes, area:logging, area:providers, area:scheduler/executor, area:webserver, full tests needed, provider:AWS, provider:Apache

#15605 Update SimpleHttpOperator to take auth type object
  airflow/providers/http/operators/http.py
Labels: area:providers, okay to merge

#15756 Mark test_mark_success_on_success_callback as quarantined
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#15762 Remove unused dependency
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:UI, area:webserver, okay to merge, security

#15729 Clean up unnecessary Airflow config in helm chart
  chart/values.yaml
Labels: area:helm-chart

#15777 Add resolution to force dependencies to use patched lodash
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:UI, area:webserver, okay to merge, security

#15772 Fix OdbcHook handling of port
  airflow/providers/odbc/hooks/odbc.py
  tests/providers/odbc/hooks/test_odbc.py
Labels: area:providers, okay to merge

#15779 Fixup - Return output of last task from task_group wrapper.
  airflow/decorators/task_group.py
  tests/utils/test_task_group.py
Labels: full tests needed

#15784 Bump stylelint to remove vulnerable sub-dependency
  airflow/www/yarn.lock
Labels: area:UI, area:webserver, okay to merge, security

#15792 Update Flask App Builder limit to recently released 3.3
  setup.cfg
Labels: full tests needed

#15804 Pin `itsdangerous` to < 2
  setup.cfg
Labels: full tests needed

#15238 adds airflowConfigAnnotations field to allow for the setting of the main configmaps annotations
  chart/templates/configmaps/configmap.yaml
  chart/tests/test_configmap.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/parameters-ref.rst
Labels: area:helm-chart, okay to merge

#15725 Expand date provider for new UI
  airflow/ui/src/components/AppContainer/AppHeader.tsx
  airflow/ui/src/components/AppContainer/TimezoneDropdown.tsx
  airflow/ui/src/providers/DateProvider.tsx
  airflow/ui/src/providers/auth/PrivateRoute.tsx
  airflow/ui/test/Login.test.tsx
  airflow/ui/test/TimezoneDropdown.test.tsx
Labels: AIP-38, area:UI, okay to merge

#15809 Chart: Use `v2-0-stable` branch for `git-sync`
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#15808 Chart: Rename `dashboard` to `Webserver` in Installation Notes
  chart/templates/NOTES.txt
Labels: area:helm-chart, okay to merge

#15816 Update Openapi generator version
  clients/gen/common.sh
  clients/gen/python.sh
Labels: area:API, okay to merge

#15814 Chart: Avoid `git-sync` sidecar on Websever when Airflow>=2.0.0
  chart/templates/webserver/webserver-deployment.yaml
  chart/tests/test_git_sync_webserver.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/manage-dags-files.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#15817 Allow S3ToSnowflakeOperator to omit schema
  airflow/providers/snowflake/transfers/s3_to_snowflake.py
  tests/providers/snowflake/transfers/test_s3_to_snowflake.py
Labels: area:providers, okay to merge, provider:Snowflake

#15719 Refactor tests/www/test_views.py (Part 2/2)
  tests/www/test_views.py
  tests/www/views/conftest.py
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_base.py
  tests/www/views/test_views_decorators.py
  tests/www/views/test_views_graph_gantt.py
  tests/www/views/test_views_log.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver

#15824 Remove unused constant in serialization code
  airflow/serialization/serialized_objects.py
Labels: area:serialization

#15822 Ensure that task preceeding a PythonVirtualenvOperator doesn't fail
  airflow/models/dag.py
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: area:core-operators, full tests needed, priority:high

#15820 Improve feedback message after installing or upgrading airflow with helm chart
  chart/templates/NOTES.txt
Labels: area:helm-chart

#15739 Add download links to provider documentation
  dev/provider_packages/PROVIDER_INDEX_TEMPLATE.rst.jinja2
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools, area:providers, kind:documentation, okay to merge

#15823 Migrate dag js
  airflow/www/static/js/dag.js
  airflow/www/static/js/gantt.js
  airflow/www/static/js/task_instances.js
  airflow/www/static/js/tree.js
  airflow/www/templates/airflow/dag.html
  airflow/www/webpack.config.js
Labels: area:UI, area:webserver, okay to merge

#15827 Build chart parameter docs from `values.schema.json`
  .pre-commit-config.yaml
  chart/values.schema.json
  chart/values.yaml
  chart/values_schema.schema.json
  docs/conf.py
  docs/helm-chart/parameters-ref.rst
  docs/spelling_wordlist.txt
  scripts/ci/pre_commit/pre_commit_json_schema.py
Labels: area:dev-tools, area:helm-chart, kind:documentation

#15828 Rename docs fields in chart values schema
  chart/values.schema.json
  chart/values_schema.schema.json
  docs/conf.py
Labels: area:helm-chart, kind:documentation, okay to merge

#15755 Save pod name to xcom for KubernetesPodOperator
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator_backcompat.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:kubernetes, area:providers

#15760 Improve test coverage of task_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI

#15836 Keep confirmDeleteDag inline html
  airflow/www/static/js/dag.js
  airflow/www/static/js/dags.js
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
Labels: area:UI, area:webserver

#15173 read timestamp from Cloudwatch events
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
Labels: area:logging, area:providers, okay to merge, provider:AWS

#15829 Make DAG dependency detector configurable
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/serialization/serialized_objects.py
  docs/apache-airflow/concepts/dags.rst
Labels: area:serialization, kind:documentation

#15802 Fixes building pre-2.1 Airflow images from 2.1 Dockerfiles.
  Dockerfile
  Dockerfile.ci
  docs/docker-stack/build.rst
  docs/docker-stack/docker-examples/restricted/restricted_environments.sh
  scripts/docker/common.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_pip_version.sh
Labels: area:dev-tools, full tests needed, kind:documentation

#15838 Move `airflowLocalSettings` to be a top level chart param
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/configmaps/configmap.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_configmap.py
  chart/tests/test_pod_template_file.py
  chart/tests/test_scheduler.py
  chart/tests/test_webserver_deployment.py
  chart/tests/test_worker.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#15847 Explicitly point Jinja2 documentation to 2.11.x
  airflow/models/dag.py
  docs/apache-airflow/concepts/operators.rst
  docs/apache-airflow/tutorial.rst
  docs/exts/docs_build/third_party_inventories.py
Labels: full tests needed, kind:documentation

#15842 Chart: extra env vars on gitsync containers
  chart/templates/_helpers.yaml
  chart/tests/test_git_sync_scheduler.py
  chart/tests/test_git_sync_webserver.py
  chart/tests/test_git_sync_worker.py
  chart/tests/test_pod_template_file.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#15849 Add back-compat shim for BranchDateTimeOperator rename
  airflow/operators/datetime_branch.py
  tests/deprecated_classes.py
Labels: area:core-operators

#15853 Revert "Add back-compat shim for BranchDateTimeOperator rename"
  airflow/operators/datetime_branch.py
  tests/deprecated_classes.py
Labels: area:core-operators

#15852 Fix modal import in graph.js
  airflow/www/static/js/graph.js
Labels: area:UI, area:webserver

#15840 Fix docstring formatting on SlackHook
  airflow/providers/slack/hooks/slack.py
Labels: area:providers, okay to merge

#15859 Set `airflowPodAnnotations` on Flower and KubeExcutor workers
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/flower/flower-deployment.yaml
  chart/tests/test_basic_helm_chart.py
  chart/tests/test_pod_template_file.py
Labels: area:helm-chart, okay to merge

#15860 Remove unused licenses: `python-nvd3` & `python-slugify`
  NOTICE
  licenses/LICENSE-python-nvd3.txt
  licenses/LICENSE-python-slugify.txt
Labels: okay to merge

#15686 Check chart labels on all objects
  chart/templates/flower/flower-serviceaccount.yaml
  chart/templates/jobs/create-user-job-serviceaccount.yaml
  chart/templates/jobs/migrate-database-job-serviceaccount.yaml
  chart/templates/pgbouncer/pgbouncer-serviceaccount.yaml
  chart/templates/redis/redis-serviceaccount.yaml
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/secrets/fernetkey-secret.yaml
  chart/templates/secrets/metadata-connection-secret.yaml
  chart/templates/secrets/pgbouncer-config-secret.yaml
  chart/templates/secrets/pgbouncer-stats-secret.yaml
  chart/templates/secrets/redis-secrets.yaml
  chart/templates/secrets/result-backend-connection-secret.yaml
  chart/templates/statsd/statsd-serviceaccount.yaml
  chart/templates/webserver/webserver-serviceaccount.yaml
  chart/templates/workers/worker-serviceaccount.yaml
  chart/tests/test_basic_helm_chart.py
Labels: area:helm-chart

#15864 Make Helm Chart ready for release
  chart/INSTALL
  chart/LICENSE
  chart/NOTICE
  chart/README.md
  docs/helm-chart/quick-start.rst
Labels: area:helm-chart, okay to merge

#15862 Add support for listing user objects.
  airflow/www/views.py
Labels: area:webserver, okay to merge

#15861 Default `resultBackendConnection` to `metadataConnection`
  chart/templates/_helpers.yaml
  chart/templates/secrets/result-backend-connection-secret.yaml
  chart/tests/test_pgbouncer.py
  chart/tests/test_result_backend_connection_secret.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#15866 Add more metadata to `Chart.yaml`
  chart/.helmignore
  chart/Chart.yaml
Labels: area:helm-chart, okay to merge

#15868 Update Instructions to Install Chart from source
  chart/INSTALL
Labels: area:helm-chart

#15865 Fix pause/unpause Dag on dag view
  airflow/www/static/js/dag.js
  airflow/www/templates/airflow/dag.html
Labels: area:UI, area:webserver, okay to merge

#15872 Dev: Update command to install ``setuptools-build-subpackage``
  dev/README_RELEASE_AIRFLOW_UPGRADE_CHECK.md
Labels: area:dev-tools, okay to merge

#15871 Fix missing mkdir for hadoop dockerfile
  docs/docker-stack/docker-images-recipes/hadoop.Dockerfile
Labels: kind:documentation, okay to merge

#15867 New production guide for helm chart docs
  docs/helm-chart/external-redis.rst
  docs/helm-chart/index.rst
  docs/helm-chart/parameters-ref.rst
  docs/helm-chart/production-guide.rst
  docs/spelling_wordlist.txt
Labels: kind:documentation

#15602 Update KylinHook docstring
  airflow/providers/apache/kylin/hooks/kylin.py
Labels: area:providers, provider:Apache

#15531 Relax the version constraint of rich
  setup.cfg
Labels: full tests needed

#15851 Fix import order for task_instance_mutation_hook
  airflow/models/dagrun.py
  tests/models/test_dagrun.py
Labels: full tests needed

#15878 Docs: Fix examples values in docs
  chart/values.schema.json
Labels: area:helm-chart, okay to merge

#15880 Revert "Docs: Fix examples values in docs (#15878)"
  chart/values.schema.json
Labels: area:helm-chart

#15881 Better multiline string formatting for chart docs
  docs/conf.py
Labels: kind:documentation

#15811 Add v2.1 changelog
  CHANGELOG.txt
Labels: okay to merge

#15884 Fix docs spelling errors
  docs/spelling_wordlist.txt
Labels: kind:documentation

#15737 Update installation page
  docs/apache-airflow/installation.rst
  docs/conf.py
  docs/exts/extra_files_with_substitutions.py
  docs/spelling_wordlist.txt
Labels: kind:documentation, okay to merge

#15893 Detect 🚧 as a WIP PR
  .github/mergeable.yml
Labels: area:dev-tools

#15839 Fix spacing in AwsBatchWaitersHook docstring
  airflow/providers/amazon/aws/hooks/batch_waiters.py
Labels: area:providers, okay to merge, provider:AWS

#15889 Fix 500 error from updateTaskInstancesState API endpoint when `dry_run` not passed
  CHANGELOG.txt
  airflow/api_connexion/schemas/task_instance_schema.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:API, okay to merge

#15843 Replace DockerOperator's 'volumes' arg for 'mounts'
  airflow/providers/docker/CHANGELOG.rst
  airflow/providers/docker/example_dags/example_docker_copy_data.py
  airflow/providers/docker/operators/docker.py
  airflow/providers/docker/operators/docker_swarm.py
  airflow/providers/docker/provider.yaml
  docs/conf.py
  docs/exts/docs_build/third_party_inventories.py
  tests/providers/docker/operators/test_docker.py
  tests/providers/docker/operators/test_docker_swarm.py
Labels: area:providers, kind:documentation, okay to merge

#15894 Small documentation fix: update api.rst
  docs/apache-airflow/security/api.rst
Labels: kind:documentation, okay to merge

#15581 Add optional result handler to database hooks
  CHANGELOG.txt
  airflow/hooks/dbapi.py
  airflow/providers/oracle/operators/oracle.py
  tests/hooks/test_dbapi.py
  tests/providers/apache/druid/hooks/test_druid.py
  tests/providers/apache/pinot/hooks/test_pinot.py
  tests/providers/elasticsearch/hooks/test_elasticsearch.py
  tests/providers/exasol/hooks/test_exasol.py
  tests/providers/mysql/hooks/test_mysql.py
  tests/providers/oracle/hooks/test_oracle.py
  tests/providers/oracle/operators/test_oracle.py
  tests/providers/postgres/hooks/test_postgres.py
  tests/providers/presto/hooks/test_presto.py
  tests/providers/snowflake/hooks/test_snowflake.py
  tests/providers/sqlite/hooks/test_sqlite.py
  tests/providers/trino/hooks/test_trino.py
  tests/providers/vertica/hooks/test_vertica.py
Labels: area:core-operators, area:providers, full tests needed

#15874 Faster helm unit tests
  .github/workflows/ci.yml
Labels: area:dev-tools

#15895 Enforce formatting on helm chart json schema files
  .editorconfig
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
Labels: area:dev-tools, okay to merge

#14521 Add Asana Provider
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/asana/CHANGELOG.rst
  airflow/providers/asana/README.md
  airflow/providers/asana/__init__.py
  airflow/providers/asana/example_dags/__init__.py
  airflow/providers/asana/example_dags/example_asana.py
  airflow/providers/asana/hooks/__init__.py
  airflow/providers/asana/hooks/asana.py
  airflow/providers/asana/operators/__init__.py
  airflow/providers/asana/operators/asana_tasks.py
  airflow/providers/asana/provider.yaml
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow-providers-asana/commits.rst
  docs/apache-airflow-providers-asana/connections/asana.rst
  docs/apache-airflow-providers-asana/index.rst
  docs/apache-airflow-providers-asana/operators/asana.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  scripts/in_container/run_install_and_test_provider_packages.sh
  setup.py
  tests/core/test_providers_manager.py
  tests/providers/asana/__init__.py
  tests/providers/asana/hooks/__init__.py
  tests/providers/asana/hooks/test_asana.py
  tests/providers/asana/operators/__init__.py
  tests/providers/asana/operators/test_asana_tasks.py
Labels: area:dev-tools, full tests needed, kind:documentation

#15826 Add Airflow Standalone command
  airflow/cli/cli_parser.py
  airflow/cli/commands/standalone_command.py
  docs/apache-airflow/start/local.rst
Labels: area:CLI, kind:documentation, okay to merge

#15898 Add missing word to release docs.
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools

#15896 Fix modal actions
  airflow/www/static/js/dag.js
Labels: area:UI, area:webserver, okay to merge

#15901 Fix find task search in Graph View
  airflow/www/static/js/graph.js
Labels: area:UI, area:webserver, okay to merge

#15902 Chart: Also check chart schema when the schema itself changes
  .pre-commit-config.yaml
Labels: area:dev-tools, okay to merge

#15791 Use different executors for k8s tests in CI
  .github/workflows/ci.yml
  kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator_backcompat.py
  scripts/ci/kubernetes/ci_setup_cluster_and_deploy_airflow_to_kubernetes.sh
  scripts/ci/kubernetes/ci_setup_cluster_and_run_kubernetes_tests_single_job.sh
  scripts/ci/kubernetes/ci_setup_clusters_and_run_kubernetes_tests_in_parallel.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
Labels: area:dev-tools, full tests needed

#15899 Ensure that secrets are masked no matter what logging config is in use
  airflow/logging_config.py
Labels: full tests needed

#15903 Set unique name on precommit hook and update schema
  .pre-commit-config.yaml
Labels: area:dev-tools, okay to merge

#15904 Update example KubernetesExecutor gitsync pod template file
  airflow/kubernetes/pod_template_file_examples/git_sync_template.yaml
Labels: area:kubernetes, full tests needed

#15841 Fix colon spacing in AzureDataExplorerHook docstring
  airflow/providers/microsoft/azure/hooks/adx.py
Labels: area:providers, changelog:skip, okay to merge, provider:Azure

#15905 Remove Version suffix for SVN while releasing
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  BREEZE.rst
  CI.rst
  breeze
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_prepare_airflow_packages.sh
  scripts/in_container/run_prepare_provider_documentation.sh
  scripts/in_container/run_prepare_provider_packages.sh
Labels: area:dev-tools, full tests needed

#15908 Add proper rat-excludes and missing licence
  .rat-excludes
  airflow/ui/.env.example
Labels: area:UI, area:dev-tools

#15873 Add support cli delete user by email
  airflow/cli/cli_parser.py
  airflow/cli/commands/user_command.py
  tests/cli/commands/test_user_command.py
Labels: area:CLI

#15916 Update version to next dev version
  Dockerfile.ci
  docs/docker-stack/entrypoint.rst
  setup.py
Labels: area:dev-tools, kind:documentation

#15924 fix dag dependency search
  airflow/www/static/js/dag_dependencies.js
Labels: area:UI, area:webserver, okay to merge

#15926 Add `template_fields` to `S3ToSnowflake` operator
  airflow/providers/snowflake/transfers/s3_to_snowflake.py
Labels: area:providers, okay to merge, provider:Snowflake

#15812 Move plyvel to google provider extra
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/leveldb/leveldb.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  setup.py
Labels: area:providers, full tests needed, kind:documentation, provider:Google

#15932 Remove the `set -x` in mypy check producing verbose output
  scripts/in_container/run_mypy.sh
Labels: area:dev-tools, full tests needed

#15918 Add usage for --package-filter option
  docs/README.rst
Labels: kind:documentation, okay to merge
