Repository apache/airflow, pull requests merged in 2021-06, with the labels that each got.

#16179 Replace deprecated ``dag.sub_dag`` with ``dag.partial_subset``
  airflow/models/dag.py
  airflow/www/views.py
  tests/jobs/test_backfill_job.py
  tests/models/test_dag.py
  tests/sensors/test_external_task_sensor.py
  tests/utils/test_task_group.py
Labels: area:core-operators, area:scheduler/executor, area:webserver, full tests needed

#16177 Fix docs for ``dag_concurrency``
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/models/dag.py
Labels: full tests needed

#16191 Update the Python client version
  clients/gen/python.sh
Labels: area:API, okay to merge

#16192 Fix typo.
  dev/airflow-github
Labels: area:dev-tools

#16129 Format more dates with timezone
  airflow/www/static/js/dag.js
  airflow/www/static/js/datetime_utils.js
  airflow/www/static/js/task.js
  airflow/www/static/js/ti_log.js
  airflow/www/templates/airflow/dag_details.html
  airflow/www/templates/airflow/task.html
  airflow/www/templates/airflow/task_instance.html
  airflow/www/webpack.config.js
Labels: area:UI, area:webserver, okay to merge

#16197 Fixed tests failing after switching to `main` branch
  tests/providers/google/cloud/operators/test_cloud_build.py
  tests/providers/slack/operators/test_slack.py
Labels: area:providers, okay to merge, provider:Google

#16190 call resource based fab methods.
  airflow/www/security.py
Labels: area:webserver, okay to merge

#16170 Adding extra requirements for build and runtime of the PROD image.
  Dockerfile
  IMAGES.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/check_files.py
  docs/apache-airflow/index.rst
  docs/apache-airflow/start/docker-compose.yaml
  docs/apache-airflow/start/docker.rst
  docs/conf.py
  docs/docker-stack/build.rst
  docs/docker-stack/docker-examples/customizing/add-build-essential-custom.sh
  docs/docker-stack/docker-examples/customizing/custom-sources.sh
  docs/docker-stack/docker-examples/customizing/github-different-repository.sh
  docs/docker-stack/docker-examples/customizing/github-main.sh
  docs/docker-stack/docker-examples/customizing/github-v2-1-test.sh
  docs/docker-stack/docker-examples/customizing/pypi-dev-runtime-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-extras-and-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-selected-version.sh
  docs/docker-stack/docker-examples/customizing/stable-airflow.sh
  docs/docker-stack/docker-examples/extending/add-apt-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-build-essential-extend/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/embedding-dags/Dockerfile
  docs/docker-stack/docker-examples/extending/writable-directory/Dockerfile
  docs/docker-stack/docker-examples/restricted/restricted_environments.sh
  docs/docker-stack/entrypoint.rst
  docs/docker-stack/index.rst
  docs/docker-stack/recipes.rst
  docs/helm-chart/production-guide.rst
  docs/helm-chart/quick-start.rst
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, full tests needed, kind:documentation

#16189 Fix S3 Select payload join
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: area:providers, okay to merge, provider:AWS

#16212 Update local variable names.
  airflow/www/security.py
Labels: area:webserver

#16203 Adds labels to k8s worker pods
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/tests/test_pod_template_file.py
Labels: area:helm-chart

#16221 Fix typo in docker-stack documentation
  docs/docker-stack/build.rst
Labels: kind:documentation

#16220 Add transparency for unsupported connection type
  airflow/sensors/sql.py
Labels: area:core-operators

#16095 Bug Pod Template File Values Ignored
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator_backcompat.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:kubernetes, area:providers

#16181 Doc: Add page containing list of Database Migrations
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
  docs/apache-airflow/index.rst
  docs/apache-airflow/migrations-ref.rst
  scripts/ci/pre_commit/pre_commit_migration_documented.py
Labels: kind:documentation, okay to merge

#16244 Small improvements for README.md files
  CONTRIBUTING.rst
  README.md
  chart/README.md
  docs/README.rst
Labels: area:dev-tools, area:helm-chart, kind:documentation

#16259 Update .github/boring-cyborg.yml
  .github/boring-cyborg.yml
Labels: area:dev-tools, okay to merge

#16236 Add test_connection method to Airbyte hook
  airflow/providers/airbyte/hooks/airbyte.py
  tests/providers/airbyte/hooks/test_airbyte.py
Labels: area:providers, okay to merge

#16269 Remove unused internal function left over form Scheduler HA work
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#16270 Ignore airflow/_vendor for building python API docs
  docs/conf.py
Labels: kind:documentation

#16265 Fix broken CI
  tests/providers/airbyte/hooks/test_airbyte.py
Labels: area:providers, okay to merge

#16260 Add pre-commit hook for Boring Cyborg
  .github/boring-cyborg.yml
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
  scripts/ci/pre_commit/pre_commit_boring_cyborg.py
Labels: area:dev-tools, full tests needed

#16250 Use f-string in custom operator docs
  docs/apache-airflow/howto/custom-operator.rst
Labels: kind:documentation, okay to merge

#16273 Chart: Update the default Airflow Version to ``2.1.0``
  chart/UPDATING.md
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#16277 Doc: Use correct version in Chart docs
  docs/conf.py
Labels: kind:documentation, okay to merge

#16278 Fix Helm git sync secrets typo
  docs/helm-chart/manage-dags-files.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#16275 Docs: Fix url for ``Elasticsearch``
  airflow/providers/elasticsearch/provider.yaml
  docs/apache-airflow-providers-elasticsearch/commits.rst
  docs/apache-airflow-providers-elasticsearch/index.rst
Labels: area:providers, kind:documentation, okay to merge

#16274 Update target branch in `boring-cyborg` for `checkUpToDate`
  .github/boring-cyborg.yml
Labels: area:dev-tools, okay to merge

#16276 Run Helm integration tests when Helm Chart is changed
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#16255 Don't run migration for ad-hoc commands
  docs/apache-airflow/start/airflow.sh
  docs/apache-airflow/start/docker-compose.yaml
Labels: kind:documentation, okay to merge

#16258 Improve argument handling in entrypoint_prod.sh
  Dockerfile
  scripts/ci/libraries/_verify_image.sh
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, area:production-image, full tests needed

#16262 feat: Helm chart adding minReplicaCount to the Keda
  chart/templates/workers/worker-kedaautoscaler.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#16115 Add support for extra parameters to samba client
  airflow/providers/samba/hooks/samba.py
  docs/spelling_wordlist.txt
  tests/providers/samba/hooks/test_samba.py
Labels: area:providers, okay to merge

#16242 Fix updating from KubernetesExecutor to CeleryExecutor
  chart/templates/secrets/redis-secrets.yaml
  chart/tests/test_basic_helm_chart.py
  chart/tests/test_redis.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#16118 Don't fail to log if we can't redact something
  airflow/utils/log/secrets_masker.py
  tests/utils/log/test_secrets_masker.py
Labels: area:logging, full tests needed, type:bug-fix

#16093 Fixed wrong value of store-dag-code default
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  tests/core/test_configuration.py
Labels: full tests needed

#16312 Fix creating a connection documentation
  docs/apache-airflow/howto/connection.rst
Labels: kind:documentation

#16280 fix wasb remote logging when blob already exists
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
Labels: area:logging, area:providers, okay to merge, provider:Azure

#16206 Fix Dag Details start date bug
  airflow/www/templates/airflow/dag_details.html
Labels: area:UI, area:webserver

#16317 Use updated _get_all_non_dag_permissions method.
  airflow/www/security.py
  tests/www/test_security.py
Labels: area:webserver

#16335 Bump pylint CI step to 60m timeout
  .github/workflows/ci.yml
Labels: area:dev-tools

#16320 fix flask-ouathlib to flask-oauthlib
  docs/apache-airflow/upgrading-to-2.rst
Labels: kind:documentation

#16337 Chart: Update the ``appVersion`` to 2.1.0 in ``Chart.yaml``
  chart/Chart.yaml
Labels: area:helm-chart, okay to merge

#16305 Fix extrasecrets example
  chart/values.yaml
  docs/helm-chart/adding-connections-and-variables.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#16232 Use DAG_ACTIONS constant.
  airflow/models/dagbag.py
  airflow/security/permissions.py
  airflow/www/security.py
  tests/www/test_security.py
Labels: area:webserver

#16339 Always deploy a gitsync init container
  chart/templates/_helpers.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_pod_template_file.py
  chart/tests/test_scheduler.py
  chart/tests/test_webserver.py
  chart/tests/test_worker.py
Labels: area:helm-chart, okay to merge

#16331 Support job level annotations; fix jobs scheduling config
  chart/UPDATING.md
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/tests/test_create_user_job.py
  chart/tests/test_migrate_database_job.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#16315 podAntiAffinity for scheduler, webserver, and workers
  chart/tests/test_scheduler.py
  chart/tests/test_webserver.py
  chart/tests/test_worker.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#16289 Run mini scheduler in LocalTaskJob during task exit
  airflow/jobs/local_task_job.py
  airflow/models/taskinstance.py
  tests/cli/commands/test_task_command.py
  tests/jobs/test_local_task_job.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor, full tests needed

#15915 Make task ID on legend have enough width and width of line chart to be 100%.
  airflow/www/views.py
Labels: area:webserver, okay to merge

#14028 Depreciate private_key_pass extra param and rename to private_key_passphrase
  airflow/providers/sftp/CHANGELOG.rst
  airflow/providers/sftp/hooks/sftp.py
Labels: area:providers, okay to merge

#14967 Fix too specific parsing of `False` in LegacyUIDeprecated
  airflow/upgrade/rules/legacy_ui_deprecated.py
  tests/upgrade/rules/test_legacy_ui_deprecated.py
Labels: upgrade-check

#16318 Fix API List DAGs inconsistent with UI/CLI
  airflow/api_connexion/endpoints/dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
Labels: area:API, okay to merge

#16377 Swap out calls to find_permission_view_menu for get_permission wrapper.
  airflow/migrations/versions/2c6edca13270_resource_based_permissions.py
  airflow/migrations/versions/82b7c48c147f_remove_can_read_permission_on_config_.py
  airflow/migrations/versions/a13f7613ad25_resource_based_permissions_for_default_.py
  airflow/www/security.py
  tests/test_utils/api_connexion_utils.py
  tests/www/test_security.py
  tests/www/views/test_views_acl.py
Labels: area:webserver, full tests needed

#16378 Fix broken static checks from #15915
  airflow/www/views.py
Labels: area:webserver, okay to merge

#16375 Fix normalize-url vulnerability
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:UI, area:webserver, okay to merge

#16233 Fix TI success/failure links
  airflow/models/taskinstance.py
  airflow/utils/strings.py
  airflow/www/templates/airflow/confirm.html
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
  tests/www/views/test_views.py
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_tasks.py
Labels: area:UI, area:webserver, full tests needed

#16226 Calendar UI improvements
  README.md
  airflow/utils/task_group.py
  airflow/www/static/css/calendar.css
  airflow/www/static/js/calendar.js
  airflow/www/templates/airflow/dag.html
  airflow/www/utils.py
  airflow/www/views.py
  docs/apache-airflow/concepts/dags.rst
  docs/apache-airflow/concepts/overview.rst
  docs/apache-airflow/img/calendar.png
  docs/apache-airflow/img/code.png
  docs/apache-airflow/img/gantt.png
  docs/apache-airflow/img/graph.png
  docs/apache-airflow/img/tree.png
  docs/apache-airflow/ui.rst
  docs/apache-airflow/usage-cli.rst
Labels: area:CLI, area:UI, area:webserver, full tests needed, kind:documentation

#16382 Removes quotes for _PIP_ADDITIONAL_REQUIREMENTS
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, area:production-image

#16385 Look for the correct flash message on failure
  tests/www/views/test_views_tasks.py
Labels: area:webserver

#16380 Use resource and action names.
  airflow/api_connexion/endpoints/role_and_permission_endpoint.py
  airflow/cli/commands/sync_perm_command.py
  airflow/models/dag.py
  airflow/www/security.py
Labels: area:API, area:CLI, area:webserver, full tests needed

#16392 Add `passphrase` and `private_key` to default sensitive fileld names
  airflow/utils/log/secrets_masker.py
Labels: area:logging, full tests needed, priority:medium

#16391 Remove old test dag that is out of place
  dags/test_dag.py
Labels: okay to merge

#14625 Support remote logging in elasticsearch with filebeat 7
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/providers/elasticsearch/log/es_task_handler.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:logging, full tests needed

#16400 Update permission migrations to use new naming scheme.
  airflow/migrations/versions/2c6edca13270_resource_based_permissions.py
  airflow/migrations/versions/82b7c48c147f_remove_can_read_permission_on_config_.py
Labels: full tests needed

#16402 Quarantine test_process_kill_calls_on_failure_callback
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor

#16368 Don't show stale Serialized DAGs if they are deleted in DB
  airflow/models/dagbag.py
  airflow/models/serialized_dag.py
  tests/models/test_dagbag.py
Labels: area:serialization, full tests needed

#16397 Don't run tests for deprecated method on DAG class
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: full tests needed

#16407 Sanitize end of line character when loading token from a file (vault)
  airflow/providers/hashicorp/_internal_client/vault_client.py
  tests/providers/hashicorp/_internal_client/test_vault_client.py
Labels: area:providers, okay to merge

#15422 Add BigQueryToMsSqlOperator
  airflow/providers/google/cloud/example_dags/example_bigquery_to_mssql.py
  airflow/providers/google/cloud/transfers/bigquery_to_mssql.py
  airflow/providers/google/provider.yaml
  tests/providers/google/cloud/transfers/test_bigquery_to_mssql.py
Labels: area:providers, provider:Google

#16100 Avoid passing `aws_conn_id` as conn_args for `psycopg2.connect`
  airflow/providers/postgres/hooks/postgres.py
Labels: area:providers, kind:bug, okay to merge

#15848 Add support of capacity provider strategy for ECSOperator
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: area:providers, provider:AWS

#16216 fix: AwsGlueJobOperator change order of args for load_file
  airflow/providers/amazon/aws/operators/glue.py
Labels: area:providers, okay to merge, provider:AWS

#16415 Validate retries value on init for better errors
  airflow/models/baseoperator.py
  tests/core/test_core.py
Labels: full tests needed

#16414 Clean Markdown with dedent to respect indents
  airflow/www/utils.py
  tests/www/test_utils.py
Labels: area:webserver

#16241 Update copy command for s3 to redshift
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: area:providers, provider:AWS

#15510 OdbcHook returns None. Related to #15016 issue.
  airflow/providers/odbc/hooks/odbc.py
  docs/apache-airflow-providers-odbc/connections/odbc.rst
  tests/providers/odbc/hooks/test_odbc.py
Labels: area:providers, okay to merge

#16413 Remove assignment that assigns a variable to itself
  scripts/ci/pre_commit/pre_commit_json_schema.py
Labels: area:dev-tools, full tests needed

#15026 Ensure `mysql_to_gcs` fully compatible with MySQL and BigQuery for `datetime`-related values
  airflow/providers/google/cloud/transfers/mysql_to_gcs.py
  tests/providers/google/cloud/transfers/test_mysql_to_gcs.py
Labels: area:providers, okay to merge, provider:Google

#16403 Fix deprecation warnings location in google provider
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/transfers/gdrive_to_gcs.py
Labels: area:providers, okay to merge, provider:Google

#16422 Add rules describing SemVer approach for various Airflow packages.
  README.md
Labels: okay to merge

#15638 Fix issue with parsing error logs in the KPO
  airflow/providers/cncf/kubernetes/utils/pod_launcher.py
  tests/providers/cncf/kubernetes/utils/test_pod_launcher.py
Labels: area:kubernetes, area:providers, okay to merge

#15210 Queue tasks with higher priority and earlier execution_date first.
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#15794 Make SparkSqlHook use Connection
  airflow/providers/apache/spark/hooks/spark_sql.py
  airflow/providers/apache/spark/operators/spark_sql.py
  docs/apache-airflow-providers-apache-spark/connections/spark.rst
  tests/providers/apache/spark/hooks/test_spark_sql.py
Labels: area:providers, okay to merge, provider:Apache

#16437 Add num_runs query param for tree refresh
  airflow/www/static/js/tree.js
  airflow/www/templates/airflow/tree.html
Labels: area:UI, area:webserver

#16411 generate go client with latest openapi generator template
  clients/README.md
  clients/gen/go.sh
Labels: area:API, okay to merge

#14306 Adding `only_active` parameter to /dags endpoint
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_schema.py
  airflow/models/dag.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/schemas/test_dag_schema.py
Labels: area:API, full tests needed

#16445 Fix spellcheck failure
  docs/spelling_wordlist.txt
Labels: kind:documentation

#16440 Resolve all npm vulnerabilities
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:UI, area:webserver, okay to merge

#16420 Added ability for Snowflake to attribute usage to Airflow by adding an application parameter
  airflow/providers/snowflake/hooks/snowflake.py
Labels: area:providers, okay to merge, provider:Snowflake

#16436 Add ElasticSearch Connection Doc
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  docs/apache-airflow-providers-elasticsearch/connections/elasticsearch.rst
  docs/apache-airflow-providers-elasticsearch/index.rst
Labels: area:providers, kind:documentation, okay to merge

#16454 Remove class references in changelogs
  airflow/providers/docker/CHANGELOG.rst
  airflow/providers/google/CHANGELOG.rst
Labels: area:providers, okay to merge, provider:Google

#16455 Fix formatting and missing import
  airflow/providers/snowflake/hooks/snowflake.py
Labels: area:providers, changelog:skip, okay to merge, provider:Snowflake

#16357 Fix external elasticsearch logs link
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/utils/log/log_reader.py
  airflow/utils/log/logging_mixin.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
  tests/utils/log/test_log_reader.py
  tests/www/views/test_views_log.py
  tests/www/views/test_views_tasks.py
Labels: area:logging, area:providers

#16442 Fix templated default/example values in config ref docs
  airflow/configuration.py
  docs/conf.py
Labels: full tests needed, kind:documentation

#16463 Add missing tests for snowflake changes
  tests/providers/snowflake/hooks/test_snowflake.py
Labels: area:providers, provider:Snowflake

#16393 Handle missing/null serialized DAG dependencies
  airflow/models/serialized_dag.py
  tests/models/test_serialized_dag.py
Labels: area:serialization, full tests needed

#16345 Correctly handle None returns from Query.scalar()
  airflow/models/serialized_dag.py
  airflow/www/views.py
Labels: area:scheduler/executor, area:serialization, area:webserver, full tests needed

#16424 Switch to built-in data structures in SecretsMasker
  airflow/utils/log/secrets_masker.py
  tests/utils/log/test_secrets_masker.py
Labels: area:logging, full tests needed

#16465 Remove support jinja templated log_id in elasticsearch
  airflow/providers/elasticsearch/CHANGELOG.rst
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/elasticsearch/provider.yaml
  docs/apache-airflow-providers-elasticsearch/index.rst
  docs/apache-airflow-providers-elasticsearch/logging.rst
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:logging, area:providers, kind:documentation, okay to merge

#16425 Allow configuration of pod resources in helm chart
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_pgbouncer.py
  chart/tests/test_pod_template_file.py
  chart/tests/test_scheduler.py
  chart/tests/test_webserver.py
  chart/tests/test_worker.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#16408 Update link to match what is in pre-commit
  chart/tests/helm_template_generator.py
Labels: area:helm-chart

#16484 fix: change graph focus to top of view instead of center
  airflow/www/static/js/graph.js
Labels: area:UI, area:webserver, okay to merge

#16467 Fix elasticsearch external log link with json_format
  airflow/providers/elasticsearch/log/es_task_handler.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:logging, area:providers

#16486 Fix description on scheduler.livenessprobe.periodSeconds
  chart/values.schema.json
Labels: area:helm-chart

#16461 [#16460]: Fixed typos in task regex param
  airflow/cli/commands/dag_command.py
Labels: area:CLI, okay to merge

#16327 Make job name check optional in SageMakerTrainingOperator
  airflow/providers/amazon/aws/operators/sagemaker_training.py
  tests/providers/amazon/aws/operators/test_sagemaker_training.py
Labels: area:providers, okay to merge, provider:AWS

#16489 Support non-https elasticsearch external links
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/providers/elasticsearch/log/es_task_handler.py
  docs/apache-airflow-providers-elasticsearch/logging.rst
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:logging, area:providers, full tests needed, kind:documentation

#16490 Fix typo in elasticearch frontend docs
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  docs/apache-airflow-providers-elasticsearch/logging.rst
Labels: area:providers, kind:documentation

#15490 Fix unsuccessful KubernetesPod final_state call when `is_delete_operator_pod=True`
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/utils/pod_launcher.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator_backcompat.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:kubernetes, area:providers, okay to merge

#16470 Checks-out missing commits on selective checks
  .github/workflows/build-images.yml
Labels: area:dev-tools

#16410 Use resource and action names.
  airflow/migrations/versions/849da589634d_prefix_dag_permissions.py
  airflow/migrations/versions/a13f7613ad25_resource_based_permissions_for_default_.py
Labels: full tests needed

#16030 Update `airflow tasks *` commands to lookup TaskInstances from DagRun Table
  airflow/cli/cli_parser.py
  airflow/cli/commands/task_command.py
  airflow/models/dag.py
  airflow/task/task_runner/standard_task_runner.py
  tests/cli/commands/test_task_command.py
  tests/jobs/test_scheduler_job.py
Labels: AIP-39, area:CLI, full tests needed

#13796 Fix S3ToFTPOperator
  airflow/providers/amazon/aws/transfers/s3_to_ftp.py
Labels: okay to merge, provider:AWS

#16497 Convert port value to a number before calling test connection
  airflow/www/static/js/connection_form.js
Labels: area:UI, area:webserver, okay to merge

#16433 We don't need to build against Python 2.7 or 3.5 anymore
  .github/workflows/build-images.yml
  CI.rst
  README.md
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, full tests needed

#16496 docs: update ci.yml link in TESTING.rst
  TESTING.rst
Labels: area:dev-tools

#15574 Add means to Duplicate connections from UI
  airflow/www/views.py
  tests/www/views/test_views_connection.py
Labels: area:webserver, okay to merge

#16491 Avoid recursing too deep when redacting logs
  airflow/utils/log/secrets_masker.py
Labels: area:logging, full tests needed

#16509 Fix broken build image build after removing Py2.7/3.5 builds
  .github/workflows/build-images.yml
Labels: area:dev-tools, full tests needed

#16511 Docs: Fix API verb from ``POST`` to ``PATCH``
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API, okay to merge

#16494 Exclude Yarn.lock to be built into python wheel
  MANIFEST.in
Labels: okay to merge

#16513 Bugfix: Allow clearing tasks with just ``dag_id`` and empty ``subdir``
  airflow/cli/commands/task_command.py
Labels: area:CLI, okay to merge

#16343 Fix DAG run state not updated while DAG is paused
  airflow/jobs/local_task_job.py
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor, full tests needed

#16514 Fix package version in ``LICENSE`` file
  LICENSE
Labels: okay to merge

#16515 Support extraContainers and extraVolumes in flower
  chart/templates/flower/flower-deployment.yaml
  chart/tests/test_flower.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#16510 Don't fail the build if we cant run `apt clean`
  scripts/ci/tools/ci_free_space_on_ci.sh
Labels: area:dev-tools, full tests needed

#16516 Allow null value for operator field in task_instance schema(REST API)
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:API, okay to merge

#15850 Add AWS DMS replication task operators
  airflow/providers/amazon/aws/example_dags/example_dms_full_load_task.py
  airflow/providers/amazon/aws/hooks/dms.py
  airflow/providers/amazon/aws/operators/dms_create_task.py
  airflow/providers/amazon/aws/operators/dms_delete_task.py
  airflow/providers/amazon/aws/operators/dms_describe_tasks.py
  airflow/providers/amazon/aws/operators/dms_start_task.py
  airflow/providers/amazon/aws/operators/dms_stop_task.py
  airflow/providers/amazon/aws/sensors/dms_task.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/dms.rst
  docs/integration-logos/aws/AWS-Database-Migration-Service_64@5x.png
  docs/spelling_wordlist.txt
  tests/providers/amazon/aws/hooks/test_dms_task.py
  tests/providers/amazon/aws/operators/test_dms_create_task.py
  tests/providers/amazon/aws/operators/test_dms_delete_task.py
  tests/providers/amazon/aws/operators/test_dms_describe_tasks.py
  tests/providers/amazon/aws/operators/test_dms_start_task.py
  tests/providers/amazon/aws/operators/test_dms_stop_task.py
  tests/providers/amazon/aws/sensors/test_dms_task.py
Labels: area:providers, kind:documentation, provider:AWS

#16523 Update docs on setting up SMTP
  docs/apache-airflow/howto/email-config.rst
Labels: kind:documentation, okay to merge

#16524 Fix bug in mark TI success api
  airflow/www/views.py
Labels: area:webserver, okay to merge

#16528 Stop showing output of a parallel job once it has finished.
  scripts/ci/libraries/_parallel.sh
Labels: area:dev-tools, full tests needed

#16534 Updating the DAG docstring to include `render_template_as_native_obj`
  airflow/models/dag.py
Labels: full tests needed

#16535 Fetch Helm Chart inventory from remote cache
  docs/exts/docs_build/fetch_inventories.py
Labels: kind:documentation, okay to merge

#16512 Add extra_headers argument to LivyHook and LivyOperator
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/livy/operators/livy.py
  tests/providers/apache/livy/hooks/test_livy.py
Labels: area:providers, okay to merge, provider:Apache

#16542 Add undocumented parameters to ``LivyOperator`` and ``LivyHook`` docstrings
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/livy/operators/livy.py
Labels: area:providers, okay to merge, provider:Apache

#16084 Added new pipeline example for the tutorial docs (Issue #11208)
  docs/apache-airflow/img/new_tutorial-1.png
  docs/apache-airflow/img/new_tutorial-2.png
  docs/apache-airflow/pipeline_example.csv
  docs/apache-airflow/tutorial.rst
Labels: kind:documentation, okay to merge

#16543 Fix false positive when inheriting class that inherits ``DbApiHook``
  airflow/upgrade/rules/db_api_functions.py
  tests/upgrade/rules/test_db_api_functions.py
Labels: area:dev-tools, full tests needed

#16536 Adds hive exclusion for Python 3.9
  Dockerfile
  Dockerfile.ci
  setup.py
  tests/executors/test_dask_executor.py
Labels: full tests needed

#16545 Improve hints for reproducing tests
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools, full tests needed

#16532 fix example_jenkins_job_trigger.py
  airflow/providers/jenkins/example_dags/example_jenkins_job_trigger.py
Labels: area:providers, okay to merge

#16547 Cleans up pre-commits a little
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_flake8.sh
  scripts/ci/pre_commit/pre_commit_mypy.sh
  scripts/ci/pre_commit/pre_commit_pylint.sh
Labels: area:dev-tools, full tests needed

#16419 Adds automated generation of provider issue to track test progress
  .github/workflows/ci.yml
  BREEZE.rst
  breeze
  breeze-complete
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/provider_packages/PROVIDER_ISSUE_TEMPLATE.md.jinja2
  dev/provider_packages/prepare_provider_packages.py
  scripts/ci/docker-compose/forward-credentials.yml
  scripts/ci/libraries/_runs.sh
  scripts/in_container/run_prepare_provider_documentation.sh
  setup.py
Labels: area:dev-tools, area:kubernetes, area:providers, full tests needed, provider:Apache, provider:Google

#16546 Add selective permissions for GitHub Tokens
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/label_when_reviewed.yml
  .github/workflows/label_when_reviewed_workflow_run.yml
  .github/workflows/stale.yml
Labels: area:dev-tools, full tests needed

#16383 Make custom JSON encoder support Decimal
  airflow/utils/json.py
  tests/utils/test_json.py
Labels: full tests needed

#16556 update README.md with 1.10 in EOL state
  README.md
Labels: changelog:skip

#16522 Tree View UI for larger DAGs & more consistent spacing in Tree View
  airflow/www/static/js/tree.js
Labels: area:UI, area:webserver

#16503 Clean up Mssql data directories at the end of each CI run
  scripts/ci/libraries/_traps.sh
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools, full tests needed

#16570 Switches to manually building docker images
  dev/README_RELEASE_AIRFLOW.md
  hooks/build
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/tools/prepare_prod_docker_images.sh
Labels: area:dev-tools

#16540 Use safe get with AWS DMS describe replication tasks
  airflow/providers/amazon/aws/hooks/dms.py
  airflow/providers/amazon/aws/operators/dms_describe_tasks.py
  tests/providers/amazon/aws/hooks/test_dms_task.py
Labels: area:providers, provider:AWS
