Repository apache/airflow, pull requests merged in 2021-04, with the labels that each got.

#14290 Little clarification in Aws connection docs
  docs/apache-airflow-providers-amazon/connections/aws.rst
Labels: kind:documentation

#15127 update remaining old import paths of operators
  airflow/contrib/sensors/weekday_sensor.py
  airflow/providers/google/cloud/example_dags/example_datacatalog.py
  tests/test_utils/perf/dags/perf_dag_2.py
  tests/test_utils/perf/dags/sql_perf_dag.py
Labels: area:providers, full tests needed, provider:Google

#14132 Document Airflow's versioning and release policy for users
  docs/apache-airflow/index.rst
  docs/apache-airflow/release-process.rst
Labels: kind:documentation, okay to merge

#15138 Don't run UI tests when python files have changed
  scripts/ci/selective_ci_checks.sh
Labels: area:CI

#15034 Taskgroup decorator
  airflow/decorators/__init__.py
  airflow/decorators/task_group.py
  airflow/example_dags/example_task_group_decorator.py
  airflow/utils/task_group.py
  docs/apache-airflow/concepts.rst
  docs/spelling_wordlist.txt
  tests/utils/test_task_group.py
Labels: full tests needed, kind:documentation

#14251 Send region_name into parant class of AwsGlueJobHook
  airflow/providers/amazon/aws/hooks/glue.py
Labels: provider:AWS

#15143 Fix password masking in CLI action_logging
  airflow/utils/cli.py
  tests/utils/test_cli_util.py
Labels: area:CLI, type:bug-fix

#15080 Better handling of docker command
  breeze
  dev/provider_packages/enter_breeze_provider_package_tests.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_docker_engine_resources.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_runs.sh
  scripts/ci/libraries/_start_end.sh
  scripts/ci/libraries/_verbosity.sh
  scripts/ci/libraries/_verify_image.sh
  scripts/ci/provider_packages/ci_install_and_test_provider_packages.sh
  scripts/ci/static_checks/bats_tests.sh
  scripts/ci/static_checks/check_license.sh
  scripts/ci/static_checks/flake8.sh
  scripts/ci/static_checks/in_container_bats_tests.sh
  scripts/ci/static_checks/lint_dockerfile.sh
  scripts/ci/static_checks/mypy.sh
  scripts/ci/static_checks/pylint.sh
  scripts/ci/static_checks/refresh_pylint_todo.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  scripts/ci/tools/ci_clear_tmp.sh
  scripts/ci/tools/ci_fix_ownership.sh
  scripts/ci/tools/ci_free_space_on_ci.sh
Labels: area:dev-tools, full tests needed

#15086 Mark the test_scheduler_task_start_date as quarantined
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#15148 Fixes failing docs upload on master
  .github/workflows/ci.yml
Labels: area:dev-tools

#15166 fix year in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev-tools, changelog:skip

#15130 A bunch of template_fields_renderers additions
  airflow/operators/generic_transfer.py
  airflow/operators/sql.py
  airflow/operators/trigger_dagrun.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/datasync.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/emr_create_job_flow.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/amazon/aws/operators/sns.py
  airflow/providers/amazon/aws/transfers/mongo_to_s3.py
  airflow/providers/amazon/aws/transfers/mysql_to_s3.py
  airflow/providers/grpc/operators/grpc.py
  airflow/providers/microsoft/azure/operators/azure_container_instances.py
  airflow/providers/microsoft/azure/transfers/oracle_to_azure_data_lake.py
  airflow/providers/microsoft/winrm/operators/winrm.py
  airflow/providers/mysql/transfers/presto_to_mysql.py
  airflow/providers/mysql/transfers/vertica_to_mysql.py
  airflow/providers/oracle/transfers/oracle_to_oracle.py
  airflow/providers/singularity/operators/singularity.py
  airflow/providers/snowflake/transfers/snowflake_to_slack.py
  airflow/providers/ssh/operators/ssh.py
  airflow/www/utils.py
Labels: area:providers, area:webserver, full tests needed, provider:AWS, provider:Azure, provider:Snowflake

#15120 Do not log info when ssm secret not found
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/secrets/systems_manager.py
Labels: area:providers, area:secrets, provider:AWS

#15124 Minor Helm Chart doc enhancements
  docs/helm-chart/index.rst
  docs/helm-chart/quick-start.rst
Labels: kind:documentation, okay to merge

#15167 Add core-operators label to boring cyborg automation
  .github/boring-cyborg.yml
Labels: area:dev-tools, okay to merge

#15122 Skip `DatabaseVersionCheckRule` check if invalid version is detected
  airflow/upgrade/rules/postgres_mysql_sqlite_version_upgrade_check.py
  tests/upgrade/rules/test_postgres_mysql_sqlite_version_upgrade_check.py
Labels: full tests needed, upgrade-check

#13197 Fix documentation error in git_sync_template.yaml
  airflow/kubernetes/pod_template_file_examples/git_sync_template.yaml
Labels: area:kubernetes, full tests needed

#14144 Deactivate trigger, refresh, and delete controls on dag detail view.
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
Labels: area:UI, area:webserver, okay to merge

#15168 Add Guidelines about releasing Providers
  dev/PROJECT_GUIDELINES.md
Labels: area:dev-tools, okay to merge

#15170 Close issues that are pending response from the issue author
  .github/workflows/stale.yml
Labels: area:dev-tools, full tests needed

#14146 Restore base lineage backend
  airflow/lineage/__init__.py
  airflow/lineage/backend.py
  docs/apache-airflow/lineage.rst
  tests/lineage/test_lineage.py
Labels: area:lineage, full tests needed

#15157 Increase timeout for building the docs
  docs/exts/docs_build/code_utils.py
Labels: kind:documentation

#15152 Merges prepare/test provider packages into two jobs
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#15081 Finish quarantine for test_should_force_kill_process
  tests/utils/test_process_utils.py
Labels: full tests needed

#15061 Add documentation create/update community providers
  docs/apache-airflow-providers/howto/create-update-providers.rst
  docs/apache-airflow-providers/index.rst
Labels: kind:documentation

#15184 Minor fixes to Stale Bot
  .github/workflows/stale.yml
Labels: area:dev-tools, full tests needed

#15156 Bump K8S versions to latest supported ones.
  BREEZE.rst
  README.md
  breeze-complete
  docs/apache-airflow/installation.rst
  scripts/ci/kubernetes/kind-cluster-conf.yaml
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, full tests needed

#15185 Fix Providers doc
  docs/apache-airflow-providers/index.rst
Labels: kind:documentation, okay to merge

#15169 Replace new url for Stable Airflow Docs
  CONTRIBUTING.rst
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  docs/apache-airflow-providers-microsoft-azure/operators/azure_blob_to_gcs.rst
Labels: area:dev-tools, kind:documentation

#15180 Fix mistake and typos in doc/docstrings
  airflow/providers/apache/hive/hooks/hive.py
  airflow/utils/timezone.py
  docs/apache-airflow/dag-run.rst
Labels: area:docs, changelog:skip, kind:documentation

#15190 Removes unused CI feature of printing output on error
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools, full tests needed

#15191 Bugfix: Task docs are not shown in the Task Instance Detail View
  airflow/example_dags/tutorial.py
  airflow/models/baseoperator.py
  airflow/serialization/schema.json
  airflow/www/utils.py
  airflow/www/views.py
  docs/apache-airflow/concepts.rst
  tests/serialization/test_dag_serialization.py
  tests/www/test_utils.py
Labels: area:serialization, area:webserver, full tests needed, kind:documentation

#15200 Fix string concatenation using `f-strings`
  airflow/providers/amazon/aws/hooks/sns.py
  airflow/providers/apache/druid/hooks/druid.py
  airflow/providers/dingding/hooks/dingding.py
  airflow/providers/jenkins/operators/jenkins_job_trigger.py
  kubernetes_tests/test_kubernetes_executor.py
Labels: area:kubernetes, area:providers, provider:AWS, provider:Apache

#14840 Add CUD REST API endpoints for Roles
  airflow/api_connexion/endpoints/role_and_permission_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/security/permissions.py
  tests/api_connexion/endpoints/test_role_and_permission_endpoint.py
Labels: AIP-38, area:API, full tests needed

#15199 Bugfix: resources in `executor_config` breaks Graph View in UI
  airflow/utils/json.py
Labels: full tests needed

#15201 update import path and fix typo in `dag-run.rst`
  docs/apache-airflow/dag-run.rst
Labels: changelog:skip, kind:documentation

#15197 Bugfix: Fix overriding `pod_template_file` in KubernetesExecutor
  airflow/example_dags/example_kubernetes_executor_config.py
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes_executor_templates/basic_template.yaml
  docs/apache-airflow/executor/kubernetes.rst
  tests/executors/kubernetes_executor_template_files/basic_template.yaml
  tests/executors/test_kubernetes_executor.py
Labels: area:kubernetes, area:scheduler/executor, kind:documentation

#15177 Import connections from a file
  airflow/cli/cli_parser.py
  airflow/cli/commands/connection_command.py
  tests/cli/commands/test_connection_command.py
Labels: area:CLI

#15153 Merges quarantined tests into single job
  .github/workflows/ci.yml
  scripts/ci/libraries/_all_libs.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_parallel.sh
  scripts/ci/libraries/_testing.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  scripts/ci/testing/ci_run_quarantined_tests.sh
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools

#15213 Add support for modifying celery worker deployment strategy
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_worker.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/parameters-ref.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#15215 Update .github/CODEOWNERS
  .github/CODEOWNERS
Labels: okay to merge

#15176 Less docker magic in docs building
  .github/workflows/ci.yml
  docs/build_docs.py
  docs/conf.py
  docs/exts/docs_build/code_utils.py
  docs/exts/docs_build/docs_builder.py
  docs/exts/docs_build/errors.py
  docs/exts/docs_build/run_patched_sphinx.py
  docs/exts/docs_build/spelling_checks.py
  docs/exts/provider_init_hack.py
  scripts/ci/docs/ci_docs.sh
Labels: area:dev-tools, full tests needed, kind:documentation

#15221 Fix test bug introduced by #15165
  tests/executors/test_kubernetes_executor.py
Labels: area:scheduler/executor, full tests needed

#14883 Fix celery executor bug trying to call len on map
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:scheduler/executor, priority:medium

#15214 Build priority packages in separate processes pool
  docs/build_docs.py
Labels: kind:documentation, okay to merge

#15224 Fix semantic mistake in ISSUE_TRIAGE_PROCESS.rst
  ISSUE_TRIAGE_PROCESS.rst
Labels: changelog:skip, okay to merge

#15216 Fix deprecated warning hvac auth
  airflow/providers/hashicorp/_internal_client/vault_client.py
  tests/providers/hashicorp/_internal_client/test_vault_client.py
  tests/providers/hashicorp/hooks/test_vault.py
Labels: okay to merge

#15220 Use context manager to manage pools
  docs/build_docs.py
Labels: area:dev-tools, full tests needed, kind:documentation

#15174 raise AlreadyExists exception when the execution_date is same
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Labels: okay to merge

#15203 Task Instance model: allow pool names >50 chars
  airflow/migrations/versions/90d1635d7b86_increase_pool_name_size_in_taskinstance.py
  airflow/models/taskinstance.py
Labels: full tests needed

#15207 Fixed #14270: Add error message in OOM situations
  airflow/task/task_runner/standard_task_runner.py
  tests/task/task_runner/test_standard_task_runner.py
Labels: area:scheduler/executor, full tests needed

#15235 Add new Committers to docs
  .github/workflows/ci.yml
  docs/apache-airflow/project.rst
  docs/spelling_wordlist.txt
Labels: full tests needed, kind:documentation

#15208 Fix missing on_load trigger for folder-based plugins
  airflow/plugins_manager.py
  tests/plugins/test_plugin.py
  tests/plugins/test_plugins_manager.py
Labels: area:plugins, full tests needed

#15237 Chart: Update the docs to create Kind cluster
  docs/helm-chart/quick-start.rst
Labels: kind:documentation

#15137 Adding retries when starting kubernetes pods
  airflow/providers/cncf/kubernetes/utils/pod_launcher.py
  tests/providers/cncf/kubernetes/utils/test_pod_launcher.py
Labels: area:kubernetes, full tests needed

#15239 Refreshed provider's upcoming release with k8s retries
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-apache-hive/commits.rst
  docs/apache-airflow-providers-apache-livy/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-docker/commits.rst
  docs/apache-airflow-providers-facebook/commits.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-grpc/commits.rst
  docs/apache-airflow-providers-hashicorp/commits.rst
  docs/apache-airflow-providers-microsoft-azure/commits.rst
  docs/apache-airflow-providers-microsoft-winrm/commits.rst
  docs/apache-airflow-providers-mysql/commits.rst
  docs/apache-airflow-providers-opsgenie/commits.rst
  docs/apache-airflow-providers-oracle/commits.rst
  docs/apache-airflow-providers-singularity/commits.rst
  docs/apache-airflow-providers-snowflake/commits.rst
  docs/apache-airflow-providers-ssh/commits.rst
Labels: area:kubernetes, area:providers, kind:documentation, provider:AWS, provider:Apache, provider:Azure, provider:Google

#15240 Revert "Fixes failing docs upload on master (#15148)"
  .github/workflows/ci.yml
Labels: area:dev-tools

#14500 Clear tasks by task ids in REST API
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/models/dag.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/schemas/test_task_instance_schema.py
Labels: area:API, full tests needed

#15243 Fixes pushing constraints
  .github/workflows/ci.yml
  scripts/ci/constraints/ci_commit_constraints.sh
Labels: area:dev-tools, full tests needed

#14960 Support all terminus task states in Docker Swarm Operator
  airflow/providers/docker/operators/docker_swarm.py
  tests/providers/docker/operators/test_docker_swarm.py
Labels: area:providers, okay to merge

#15251 Documentation: Fix name of setting to use internal IP in docs (use_private -> use_internal_ip)
  docs/apache-airflow-providers-google/operators/cloud/kubernetes_engine.rst
Labels: area:providers, kind:documentation, provider:Google

#15117 Remove user_id from API schema
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/user_schema.py
  tests/api_connexion/endpoints/test_user_endpoint.py
  tests/api_connexion/schemas/test_user_schema.py
Labels: area:API, okay to merge

#15134 add loggin.info when poke in SFTP,FTP and Filesystem sensor to show last modified
  airflow/providers/ftp/sensors/ftp.py
  airflow/providers/sftp/sensors/sftp.py
  airflow/sensors/filesystem.py
Labels: area:providers

#15242 Submodules are needed to run local actions
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#15258 Prevent datepicker submit on page load
  airflow/www/static/js/task_instance.js
Labels: okay to merge

#15257 Refactor/Cleanup Presentation of Graph Task and Path Highlighting
  LICENSE
  airflow/www/package.json
  airflow/www/static/css/graph.css
  airflow/www/static/css/main.css
  airflow/www/templates/airflow/graph.html
  airflow/www/webpack.config.js
  airflow/www/yarn.lock
  docs/apache-airflow/img/graph.png
  licenses/LICENSE-d3-shape.txt
  setup.cfg
Labels: area:UI, area:webserver, kind:documentation

#15212 Fixed #9963: Display explicit error in case UID has no actual username
  airflow/cli/commands/info_command.py
  airflow/jobs/base_job.py
  airflow/models/taskinstance.py
  airflow/providers/microsoft/winrm/hooks/winrm.py
  airflow/providers/ssh/hooks/ssh.py
  airflow/task/task_runner/base_task_runner.py
  airflow/task/task_runner/cgroup_task_runner.py
  airflow/utils/cli.py
  airflow/utils/platform.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/schemas/test_task_instance_schema.py
  tests/jobs/test_base_job.py
  tests/providers/microsoft/winrm/hooks/test_winrm.py
  tests/task/task_runner/test_standard_task_runner.py
Labels: area:API, area:CLI, area:providers, area:scheduler/executor, full tests needed

#15264 Remove ``test_deserialization_across_process`` from quarantine
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, changelog:skip, type:internal

#15204 BugFix: CLI 'kubernetes cleanup-pods' should only clean up Airflow-created Pods
  airflow/cli/cli_parser.py
  airflow/cli/commands/kubernetes_command.py
  tests/cli/commands/test_kubernetes_command.py
Labels: area:CLI, area:kubernetes, okay to merge, type:bug-fix

#15265 Docs: Remove extra single quote from example connection
  docs/apache-airflow-providers-mysql/connections/mysql.rst
Labels: area:providers, kind:documentation, okay to merge

#15274 Update set-config.rst - clarify that parameters that contain connection strings in configuration should be saved as config strings in secrets backends
  docs/apache-airflow/howto/set-config.rst
Labels: kind:documentation

#15276 Fix typo in a docstring
  airflow/providers/google/cloud/operators/gcs.py
Labels: area:providers, provider:Google

#15281 Fix: allow hiding of all edges in Graph when highlighting states
  airflow/www/static/css/graph.css
Labels: area:UI, area:webserver, okay to merge

#15162 Better compatibility/diagnostics for arbitrary UID in docker image
  Dockerfile
  chart/values.yaml
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/build.rst
  docs/docker-stack/docker-examples/extending/writable-directory/Dockerfile
  docs/docker-stack/entrypoint.rst
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, full tests needed

#15256 Moves test_scheduler_keeps_scheduling_pool_full to quarantine
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#15292 Synchronize the commiter list
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#15284 Remove datepicker for task instance detail view
  airflow/www/static/js/task_instance.js
  airflow/www/templates/airflow/task_instance.html
Labels: area:UI, area:webserver, okay to merge

#15142 Add support for labelling DAG edges
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/xcom_arg.py
  airflow/serialization/enums.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/utils/dot_renderer.py
  airflow/utils/edgemodifier.py
  airflow/utils/types.py
  airflow/www/templates/airflow/graph.html
  airflow/www/views.py
  docs/apache-airflow/concepts.rst
  tests/serialization/test_dag_serialization.py
  tests/utils/test_edgemodifier.py
Labels: area:UI, area:serialization, area:webserver, full tests needed

#15300 Remove duplicate test utils
  tests/test_utils/api_connexion_utils.py
  tests/test_utils/fab_utils.py
  tests/www/test_security.py
  tests/www/test_views.py
Labels: area:webserver, full tests needed, type:internal

#15298 Graph "edge label" interaction styling
  airflow/www/static/css/graph.css
  airflow/www/templates/airflow/graph.html
Labels: area:UI, area:webserver

#14642 Entrypoint support in docker operator
  airflow/providers/docker/operators/docker.py
  airflow/providers/docker/operators/docker_swarm.py
  tests/providers/docker/operators/test_docker.py
Labels: okay to merge

#15290 Rename nteract-scrapbook to scrapbook
  setup.py
Labels: area:dev-tools, area:providers, full tests needed

#15307 Migrate graph js
  airflow/www/static/js/graph.js
  airflow/www/templates/airflow/graph.html
  airflow/www/webpack.config.js
Labels: area:UI, area:webserver, okay to merge

#15309 Migrate task instance log (ti_log) js
  airflow/www/static/js/ti_log.js
  airflow/www/templates/airflow/ti_log.html
  airflow/www/webpack.config.js
Labels: area:UI, area:webserver, okay to merge

#15304 Pass environment variables to process with yarn kill command
  airflow/providers/apache/spark/hooks/spark_submit.py
  tests/providers/apache/spark/hooks/test_spark_submit.py
Labels: area:providers, provider:Apache

#15296 Chart: Allow setting an existing secret for PgBouncer config
  chart/templates/_helpers.yaml
  chart/templates/secrets/pgbouncer-config-secret.yaml
  chart/tests/test_pgbouncer.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/parameters-ref.rst
Labels: area:helm-chart, kind:documentation

#15310 Add picture and examples for Edge Labels
  airflow/example_dags/example_branch_labels.py
  airflow/example_dags/example_branch_operator.py
  docs/apache-airflow/concepts.rst
  docs/apache-airflow/img/edge_label_example.png
Labels: full tests needed, kind:documentation

#15163 Fix exception caused by missing keys in the ES Record
  airflow/providers/elasticsearch/log/es_task_handler.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:logging, area:providers, okay to merge

#15313 Chart: Add tests to check labels, kind and annotations
  chart/tests/test_basic_helm_chart.py
  chart/tests/test_scheduler.py
  chart/tests/test_worker.py
Labels: area:helm-chart, okay to merge

#14990 Fix url generation for TriggerDagRunOperatorLink
  airflow/utils/helpers.py
  tests/utils/test_helpers.py
Labels: full tests needed

#14085 Ensure executors end method is called
  airflow/executors/local_executor.py
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#15321 Avoids error on pushing PROD image as cache
  scripts/ci/images/ci_prepare_ci_image_on_ci.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
Labels: area:dev-tools, full tests needed

#15323 Fixes doc for SQSSensor
  airflow/providers/amazon/aws/sensors/sqs.py
Labels: area:providers, provider:AWS

#15327 Fix DAG last run link
  airflow/www/static/js/dags.js
Labels: area:UI, area:webserver, okay to merge

#15194 Adds description field in variable (#12413)
  airflow/migrations/versions/e165e7455d70_add_description_field_to_variable.py
  airflow/models/variable.py
  airflow/www/views.py
Labels: area:webserver, full tests needed

#15301 Remove python2 related handlings and dependencies
  airflow/providers/apache/hdfs/hooks/hdfs.py
  airflow/providers/imap/hooks/imap.py
  tests/core/test_core.py
  tests/core/test_logging_config.py
  tests/operators/test_python.py
  tests/www/test_views.py
Labels: area:dev-tools, area:providers, area:webserver, full tests needed, provider:Apache

#15314 Chart: Allow disabling `git-sync` for Webserver
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  chart/templates/webserver/webserver-deployment.yaml
  chart/tests/test_git_sync_webserver.py
  chart/values.schema.json
  chart/values.yaml
  docs/apache-airflow/dag-serialization.rst
  docs/helm-chart/manage-dags-files.rst
Labels: area:helm-chart, full tests needed, kind:documentation

#15334 Fix `sendgrid` -> `google`.
  docs/apache-airflow-providers-google/secrets-backends/google-cloud-secret-manager-backend.rst
Labels: area:providers, kind:documentation, okay to merge, provider:Google

#15333 Add Configurable LivenessProbe Values to Scheduler
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/tests/test_scheduler.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#15331 Fix Helm GitSync dag volume mount
  chart/files/pod-template-file.kubernetes-helm-yaml
Labels: area:helm-chart

#15159 Add dynamic connection fields to Azure Connection
  airflow/providers/microsoft/azure/hooks/adx.py
  airflow/providers/microsoft/azure/hooks/azure_batch.py
  airflow/providers/microsoft/azure/hooks/azure_container_instance.py
  airflow/providers/microsoft/azure/hooks/azure_container_registry.py
  airflow/providers/microsoft/azure/hooks/azure_cosmos.py
  airflow/providers/microsoft/azure/hooks/azure_data_factory.py
  airflow/providers/microsoft/azure/hooks/azure_data_lake.py
  airflow/providers/microsoft/azure/hooks/base_azure.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/provider.yaml
  scripts/in_container/run_install_and_test_provider_packages.sh
  tests/core/test_providers_manager.py
Labels: area:dev-tools, area:providers, full tests needed, provider:Azure

#15338 Change default of `[kubernetes] enable_tcp_keepalive` to `True`
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/kubernetes/kube_client.py
Labels: area:kubernetes, full tests needed

#15339 Updates provider release process
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools, okay to merge

#15100 Add support for arbitrary json in conn uri format
  airflow/models/connection.py
  docs/apache-airflow/howto/connection.rst
  tests/models/test_connection.py
  tests/secrets/test_local_filesystem.py
Labels: full tests needed, kind:documentation

#15232 S3Hook.load_file should accept Path object in addition to str
  airflow/providers/amazon/aws/hooks/s3.py
Labels: area:providers, okay to merge, provider:AWS

#15360 Do not forward cluster-identifier to psycopg2
  airflow/providers/postgres/hooks/postgres.py
  tests/providers/postgres/hooks/test_postgres.py
Labels: area:providers

#15361 Import Connection lazily in hooks to avoid cycles
  airflow/hooks/base.py
Labels: area:core-operators, full tests needed

#15366 Make James Timmins a code owner for everything permissions related
  .github/CODEOWNERS
Labels: area:dev-tools, okay to merge

#15373 Require `name` with KubernetesPodOperator
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:kubernetes, area:providers

#15348 Undeprecate private_key option in SFTPHook
  airflow/providers/sftp/hooks/sftp.py
Labels: area:providers, okay to merge

#15383 Remove unused packages (one containing vulnerability)
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:UI, area:webserver, okay to merge

#15387 Update CODEOWNERS file for Documentation
  .github/CODEOWNERS
Labels: area:dev-tools, okay to merge

#15390 Revert "Fix Helm GitSync dag volume mount"
  chart/files/pod-template-file.kubernetes-helm-yaml
Labels: area:helm-chart

#15392 fix docstring typos
  airflow/providers/google/cloud/operators/dataflow.py
Labels: area:providers, provider:Google

#15379 Add documentation for the HTTP connection
  airflow/providers/http/hooks/http.py
  airflow/providers/http/operators/http.py
  airflow/providers/http/sensors/http.py
  docs/apache-airflow-providers-http/connections/http.rst
  docs/apache-airflow-providers-http/index.rst
Labels: area:dev-tools, area:providers, kind:documentation, okay to merge

#15395 Bugfix: ``TypeError`` when Serializing & sorting iterables
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization

#15394 Don't try to push the python build image when building on release branches
  .github/workflows/ci.yml
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev-tools, full tests needed

#15400 Adds a test for the description field in variable
  tests/www/test_views.py
Labels: area:webserver

#15141 Share app instance between Kerberos tests
  tests/api/auth/backend/test_kerberos_auth.py
Labels: okay to merge

#15380 Add changelog for what will become 2.0.2
  CHANGELOG.txt
  UPDATING.md
  docs/spelling_wordlist.txt
Labels: okay to merge

#15352 Update azure connection documentation
  airflow/providers/microsoft/azure/hooks/adx.py
  airflow/providers/microsoft/azure/hooks/azure_batch.py
  airflow/providers/microsoft/azure/hooks/azure_container_instance.py
  airflow/providers/microsoft/azure/hooks/azure_container_registry.py
  airflow/providers/microsoft/azure/hooks/azure_container_volume.py
  airflow/providers/microsoft/azure/hooks/azure_cosmos.py
  airflow/providers/microsoft/azure/hooks/azure_data_factory.py
  airflow/providers/microsoft/azure/hooks/azure_data_lake.py
  airflow/providers/microsoft/azure/hooks/azure_fileshare.py
  airflow/providers/microsoft/azure/hooks/base_azure.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/operators/adls_delete.py
  airflow/providers/microsoft/azure/operators/adls_list.py
  airflow/providers/microsoft/azure/operators/adx.py
  airflow/providers/microsoft/azure/operators/azure_batch.py
  airflow/providers/microsoft/azure/operators/azure_container_instances.py
  airflow/providers/microsoft/azure/operators/azure_cosmos.py
  airflow/providers/microsoft/azure/operators/wasb_delete_blob.py
  airflow/providers/microsoft/azure/sensors/azure_cosmos.py
  airflow/providers/microsoft/azure/sensors/wasb.py
  docs/apache-airflow-providers-microsoft-azure/connections/acr.rst
  docs/apache-airflow-providers-microsoft-azure/connections/adf.rst
  docs/apache-airflow-providers-microsoft-azure/connections/adl.rst
  docs/apache-airflow-providers-microsoft-azure/connections/adx.rst
  docs/apache-airflow-providers-microsoft-azure/connections/azure.rst
  docs/apache-airflow-providers-microsoft-azure/connections/azure_batch.rst
  docs/apache-airflow-providers-microsoft-azure/connections/azure_cosmos.rst
  docs/apache-airflow-providers-microsoft-azure/connections/index.rst
  docs/apache-airflow-providers-microsoft-azure/connections/wasb.rst
  docs/apache-airflow-providers-microsoft-azure/index.rst
Labels: area:dev-tools, area:providers, kind:documentation, provider:Azure

#15411 Fix: Persist tags URL params in pagination
  airflow/www/utils.py
  airflow/www/views.py
  tests/www/test_utils.py
Labels: area:webserver, okay to merge

#15410 Add documentation for Databricks connection
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  docs/apache-airflow-providers-databricks/connections/databricks.rst
  docs/apache-airflow-providers-databricks/index.rst
Labels: area:providers, kind:documentation

#15414 Add Traceback in LogRecord in ``JSONFormatter``
  airflow/utils/log/json_formatter.py
  tests/utils/log/test_json_formatter.py
Labels: area:logging, full tests needed

#15250 [Airflow-15245] - passing custom image family name to the DataProcClusterCreateoperator
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: area:providers, okay to merge, provider:Google

#15311 Sync DAG specific permissions when parsing
  UPDATING.md
  airflow/cli/cli_parser.py
  airflow/cli/commands/sync_perm_command.py
  airflow/models/dagbag.py
  airflow/models/serialized_dag.py
  airflow/www/security.py
  tests/cli/commands/test_sync_perm_command.py
  tests/models/test_dagbag.py
  tests/models/test_serialized_dag.py
  tests/www/test_security.py
Labels: area:serialization

#15430 Fix contributing page broken link
  CONTRIBUTING.rst
Labels: area:dev-tools

#15433 Clarify installation of new packages in docker-compose env
  docs/apache-airflow/start/docker.rst
Labels: kind:documentation

#15295 Prevent creating flask sessions on REST API requests
  airflow/www/app.py
  airflow/www/extensions/init_session.py
  tests/api_connexion/test_security.py
Labels: area:API, area:webserver, okay to merge

#15426 Fix incorrect slots stats (#15399)
  airflow/models/pool.py
  tests/models/test_pool.py
Labels: full tests needed

#15443 Bugfix: Invalid name when trimmed `pod_id` ends with hyphen in ``Kube…
  airflow/kubernetes/pod_generator.py
  tests/kubernetes/test_pod_generator.py
Labels: area:kubernetes, full tests needed

#15450 Fixed shellcheck error with static checks
  .pre-commit-config.yaml
  dev/remove_artifacts.sh
Labels: area:dev-tools

#15445 Further fix trimmed `pod_id` for `KubernetesPodOperator`
  airflow/kubernetes/pod_generator.py
  tests/kubernetes/test_pod_generator.py
Labels: area:kubernetes, full tests needed

#15452 Fixes publishing instructions to include docker-stack
  dev/README_RELEASE_AIRFLOW.md
  docs/publish_docs.py
Labels: area:dev-tools, kind:documentation, okay to merge

#15436 The scheduled Quarantined build is removed
  .github/workflows/scheduled_quarantined.yml
  CI.rst
Labels: area:dev-tools, full tests needed

#15453 Fixes wrongly specified path for leveldb hook
  airflow/providers/google/provider.yaml
  scripts/in_container/run_install_and_test_provider_packages.sh
  tests/core/test_providers_manager.py
Labels: area:dev-tools, area:providers, full tests needed, provider:Google

#15308 Fix used_group_ids in partial_subset (#13700)
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: full tests needed

#15263 Add worker_pod_pending_timeout support
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/kubernetes_executor.py
  airflow/jobs/scheduler_job.py
  airflow/kubernetes/kube_config.py
  airflow/utils/event_scheduler.py
  tests/executors/test_kubernetes_executor.py
  tests/utils/test_event_scheduler.py
Labels: area:kubernetes, area:scheduler/executor

#14827 Fixed default XCom deserialization.
  airflow/models/xcom.py
Labels: full tests needed

#15459 Change 2.0.1 to 2.0.2 in docs
  BREEZE.rst
  Dockerfile
  README.md
  breeze-complete
  docs/apache-airflow/extra-packages-ref.rst
  docs/apache-airflow/installation.rst
  docs/apache-airflow/start/local.rst
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/build.rst
  docs/docker-stack/docker-examples/customizing/add-build-essential-custom.sh
  docs/docker-stack/docker-examples/customizing/custom-sources.sh
  docs/docker-stack/docker-examples/customizing/pypi-dev-runtime-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-extras-and-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-selected-version.sh
  docs/docker-stack/docker-examples/extending/add-apt-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-build-essential-extend/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/embedding-dags/Dockerfile
  docs/docker-stack/docker-examples/extending/writable-directory/Dockerfile
  docs/docker-stack/docker-examples/restricted/restricted_environments.sh
  docs/docker-stack/recipes.rst
  docs/helm-chart/manage-dags-files.rst
Labels: area:dev-tools, full tests needed, kind:documentation

#15466 Fix docstring of SqlSensor
  airflow/sensors/sql.py
Labels: area:core-operators, full tests needed

#15462 Fix typo in DataprocCreateClusterOperator
  airflow/providers/google/cloud/operators/dataproc.py
Labels: area:providers, okay to merge, provider:Google

#15470 Fixes constraint generation for pypi providers
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools, full tests needed

#15454 Breeze should load local tmux configuration in 'breeze start-airflow'
  BREEZE.rst
  scripts/in_container/configure_environment.sh
Labels: area:dev-tools, full tests needed

#15478 fix the operator name in the docs
  docs/apache-airflow-providers-google/operators/transfer/local_to_gcs.rst
Labels: area:providers, kind:documentation, provider:Google

#15484 Automatically replace current Airflow version in docs
  docs/apache-airflow/extra-packages-ref.rst
  docs/apache-airflow/installation.rst
  docs/apache-airflow/start/docker-compose.yaml
  docs/apache-airflow/start/docker.rst
  docs/apache-airflow/start/local.rst
  docs/conf.py
  docs/docker-stack/build-arg-ref.rst
  docs/exts/docs_build/lint_checks.py
  docs/exts/extra_files_with_substitutions.py
  docs/exts/substitution_extensions.py
Labels: kind:documentation, okay to merge

#15487 Fix rendering of ``object_name`` in ``GCSToLocalFilesystemOperator``
  airflow/providers/google/cloud/transfers/gcs_to_local.py
Labels: area:providers, provider:Google

#15477 Chart: Fix passing upgrading strategies to Celery Worker
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_worker.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/parameters-ref.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#15391 Update Docstrings of Modules with Missing Params
  airflow/providers/amazon/aws/hooks/redshift.py
  airflow/providers/apache/hdfs/sensors/hdfs.py
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/mongo/hooks/mongo.py
  airflow/providers/mysql/hooks/mysql.py
  airflow/providers/oracle/hooks/oracle.py
  airflow/providers/zendesk/hooks/zendesk.py
Labels: area:providers, provider:AWS, provider:Apache, provider:Google

#15475 Cleanup KubernetsPodOpertor tests
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers
