Repository apache/airflow, pull requests merged in 2021-01, with the labels that each got.

#13418 Enable interpretation of backslash escapes for coloured message
  airflow/www/ask_for_recompile_assets_if_needed.sh
Labels: area:webserver

#13417 Developers Quick Guide
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
  images/quick_start/add Interpreter.png
  images/quick_start/add_configuration.png
  images/quick_start/add_env_variable.png
  images/quick_start/airflow_clone.png
  images/quick_start/airflow_fork.png
  images/quick_start/ci_tests.png
  images/quick_start/click_on_clone.png
  images/quick_start/creating_branch_1.png
  images/quick_start/creating_branch_2.png
  images/quick_start/local_airflow.png
  images/quick_start/mysql_connection.png
  images/quick_start/pr1.png
  images/quick_start/pr2.png
  images/quick_start/pr3.png
  images/quick_start/pycharm_clone.png
  images/quick_start/start_airflow_tmux.png
Labels: area:dev-tools

#13420 Allow ./run_tmux.sh script to run standalone
  BREEZE.rst
  scripts/in_container/entrypoint_ci.sh
  scripts/in_container/run_tmux.sh
  scripts/in_container/run_tmux_welcome.sh
Labels: area:dev-tools

#13411 Add last-commit example to static-check --help message.
  BREEZE.rst
  breeze
Labels: area:dev-tools, okay to merge

#13419 Fix environment checking for Pinot
  scripts/in_container/check_environment.sh
Labels: area:dev-tools, full tests needed

#13410 Improves documentation regarding providers and custom connections 2
  docs/apache-airflow-providers/index.rst
Labels: kind:documentation

#13424 Change timeouts and disables reverse IP lookup for integrations
  scripts/in_container/check_environment.sh
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, full tests needed

#13403 Add verbose flag to ./build_docs.py
  docs/build_docs.py
  docs/exts/docs_build/docs_builder.py
Labels: kind:documentation, okay to merge

#13422 Removes pip download when installing from local packages
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  docs/apache-airflow/production-deployment.rst
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_runs.sh
Labels: area:dev-tools, full tests needed

#13361 Add 'mongo_collection' to template_fields in MongoToS3Operator
  airflow/providers/amazon/aws/transfers/mongo_to_s3.py
  tests/providers/amazon/aws/transfers/test_mongo_to_s3.py
Labels: okay to merge, provider:AWS

#13429 Fixed failing pylint errors introduced in #13403
  docs/publish_docs.py
  tests/providers/google/cloud/transfers/test_oracle_to_gcs.py
Labels: kind:documentation, provider:Google

#13318 Generalize MLEngineStartTrainingJobOperator to custom images
  airflow/providers/google/cloud/operators/mlengine.py
  tests/providers/google/cloud/operators/test_mlengine.py
Labels: provider:Google

#13427 Fix pylint issues - broken master
  docs/build_docs.py
  docs/exts/docs_build/docs_builder.py
Labels: full tests needed, kind:documentation, okay to merge

#13430 Fix selective checks for changes outside of airflow .py files
  PULL_REQUEST_WORKFLOW.rst
  scripts/ci/selective_ci_checks.sh
Labels: area:dev-tools, full tests needed

#13431 Adds timeout to all curl commands
  dev/remove_artifacts.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/in_container/run_generate_constraints.sh
Labels: area:dev-tools, full tests needed

#13432 Add extras when installing prod image from packages
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, full tests needed

#13428 Improve style of code block on aws-ssm-parameter-store.rst
  docs/apache-airflow-providers-amazon/secrets-backends/aws-ssm-parameter-store.rst
  docs/spelling_wordlist.txt
Labels: kind:documentation, okay to merge

#13435 fixup! Adds timeout to all curl commands (#13431)
  dev/remove_artifacts.sh
  scripts/ci/libraries/_kind.sh
  scripts/in_container/run_generate_constraints.sh
Labels: area:dev-tools

#13437 Fixed failing pylint errors introduced in #13429
  docs/publish_docs.py
Labels: kind:documentation

#13438 Fix another pylint c-extension-no-member
  airflow/providers/google/cloud/transfers/oracle_to_gcs.py
Labels: provider:Google

#13441 Install airflow and providers together from context files
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, full tests needed

#13444 Fix grammar in API docs
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API, okay to merge

#13443 Replace deprecated `abc.abstractproperty` decorator
  airflow/utils/log/logging_mixin.py
Labels: area:logging, full tests needed

#13450 Fix a few typos
  airflow/models/baseoperator.py
  airflow/providers/apache/hive/hooks/hive.py
  scripts/in_container/run_ci_tests.sh
Labels: changelog:skip

#11767 Fix: Removed password if HiveServer2Hook in LDAP or CUSTOM mode
  airflow/providers/apache/hive/hooks/hive.py
Labels: provider:Apache

#13449 Streamline & simplify __eq__ methods in models Dag and BaseOperator
  airflow/models/baseoperator.py
  airflow/models/dag.py
Labels: type:improvement

#11742 Fix: add support for no-menu plugin views (#10788)
  airflow/www/extensions/init_views.py
  docs/apache-airflow/plugins.rst
  tests/plugins/test_plugin.py
  tests/plugins/test_plugins_manager.py
Labels: area:plugins, area:webserver, full tests needed

#13442 GitHub PROD image build is pushed to GitHub Registry.
  .github/workflows/ci.yml
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
Labels: area:dev-tools

#13138 Fix insert_all in bigquery hook
  airflow/providers/google/cloud/hooks/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:Google

#13413 Replace tests-only dependency - tzlocal
  setup.cfg
  tests/providers/amazon/aws/hooks/test_sagemaker.py
Labels: full tests needed, provider:AWS, upgrade to newer dependencies

#13446 Add docker health check to integrations
  breeze
  scripts/ci/docker-compose/backend-mysql.yml
  scripts/ci/docker-compose/backend-postgres.yml
  scripts/ci/docker-compose/integration-cassandra.yml
  scripts/ci/docker-compose/integration-kerberos.yml
  scripts/ci/docker-compose/integration-mongo.yml
  scripts/ci/docker-compose/integration-openldap.yml
  scripts/ci/docker-compose/integration-pinot.yml
  scripts/ci/docker-compose/integration-presto.yml
  scripts/ci/docker-compose/integration-rabbitmq.yml
  scripts/ci/docker-compose/integration-redis.yml
Labels: area:dev-tools, full tests needed

#13462 Fix installation doc
  docs/apache-airflow/installation.rst
Labels: kind:documentation

#13224 Support google-cloud-datacatalog 3.0.0
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/example_dags/example_datacatalog.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/operators/datacatalog.py
  setup.py
  tests/providers/google/cloud/hooks/test_datacatalog.py
  tests/providers/google/cloud/operators/test_datacatalog.py
Labels: full tests needed, provider:Google, upgrade to newer dependencies

#13458 Log migrations info in consistent way
  airflow/migrations/versions/2c6edca13270_resource_based_permissions.py
Labels: area:logging, full tests needed

#13234 Rewrite handwritten argument parser in prepare_provider_packages.py
  dev/provider_packages/prepare_provider_packages.py
  scripts/in_container/run_prepare_provider_packages.sh
Labels: area:dev-tools, full tests needed

#13466 Remove redundant word
  airflow/customized_form_field_behaviours.schema.json
Labels: full tests needed

#13465 Upgrade pre-commit hooks
  .pre-commit-config.yaml
Labels: area:dev-tools, okay to merge

#13474 Replace dictionary creation with dictionary literal
  airflow/utils/log/file_processor_handler.py
Labels: area:logging

#13472 Remove 'typing' dependency
  setup.cfg
Labels: full tests needed

#13482 Revert "Support google-cloud-datacatalog 3.0.0 (#13224)"
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/example_dags/example_datacatalog.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/operators/datacatalog.py
  setup.py
  tests/providers/google/cloud/hooks/test_datacatalog.py
  tests/providers/google/cloud/operators/test_datacatalog.py
Labels: provider:Google

#13473 Replace deprecated module and operator in example_tasks.py
  airflow/providers/google/cloud/example_dags/example_tasks.py
Labels: okay to merge, provider:Google

#13468 Update supported Python version in LOCAL_VIRTUALENV.rst
  LOCAL_VIRTUALENV.rst
Labels: area:dev-tools, okay to merge

#12619 Fix webserver ingress annotations
  chart/README.md
  chart/templates/webserver/webserver-ingress.yaml
  chart/tests/helm_template_generator.py
  chart/tests/test_ingress_web.py
Labels: area:helm-chart

#13486 Jeremiah Lowin has resigned from the Airflow project
  docs/apache-airflow/project.rst
Labels: kind:documentation, okay to merge

#13489 Add Vikram in the Airflow Committer's list
  docs/apache-airflow/project.rst
  docs/spelling_wordlist.txt
Labels: kind:documentation, okay to merge

#13497 Fix failing backport packages test
  airflow/providers/google/cloud/example_dags/example_tasks.py
Labels: okay to merge, provider:Google

#13496 Check for minimum version of Sqlite
  README.md
  airflow/configuration.py
  docs/apache-airflow/installation.rst
Labels: kind:documentation

#12630 Allow to configure Flower's url_prefix
  chart/templates/flower/flower-deployment.yaml
Labels: area:helm-chart

#13049 Add S3KeySizeSensor
  airflow/providers/amazon/aws/sensors/s3_key.py
  tests/providers/amazon/aws/sensors/test_s3_key.py
Labels: okay to merge, provider:AWS

#13502 Add docs about mocking variables and connections
  docs/apache-airflow/best-practices.rst
Labels: kind:documentation

#13490 Fix S3KeysUnchangedSensor so that template_fields will work (#13481)
  airflow/providers/amazon/aws/sensors/s3_keys_unchanged.py
  tests/providers/amazon/aws/sensors/test_s3_keys_unchanged.py
Labels: provider:AWS

#13302 Add tests for pod launcher role in helm chart
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/tests/test_celery_kubernetes_pod_launcher_role.py
  chart/tests/test_pod_launcher_role.py
Labels: area:helm-chart

#13520 Fix Azure Data Explorer Operator
  airflow/providers/microsoft/azure/operators/adx.py
  tests/providers/microsoft/azure/operators/test_adx.py
Labels: okay to merge, provider:Azure

#13365 Add DAG Docs to Trigger UI
  airflow/www/templates/airflow/trigger.html
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:UI, area:webserver

#13500 Add docs about Flask CLI
  docs/apache-airflow/plugins.rst
  tests/www/test_app.py
Labels: area:webserver, kind:documentation, okay to merge

#13187 [AIRFLOW-3723] Add Gzip capability to mongo_to_S3 operator
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/transfers/mongo_to_s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/providers/amazon/aws/transfers/test_mongo_to_s3.py
Labels: okay to merge, provider:AWS

#13519 Update chart README with section on Airflow configuration
  chart/README.md
Labels: area:helm-chart

#13538 When "full tests needed" label is present, run all tests
  scripts/ci/selective_ci_checks.sh
Labels: area:dev-tools

#13540 Add python-daemon limit for python 3.8+
  setup.cfg
Labels: full tests needed

#13471 Remove thrift as a core dependency
  setup.cfg
  setup.py
Labels: full tests needed

#13548 change locahost to locahost in one example
  docs/apache-airflow/security/api.rst
Labels: kind:documentation, okay to merge

#13457 Fix known-hosts volume name
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/tests/test_pod_template_file.py
Labels: area:helm-chart

#13508 Separate nodeSelector logic of chart
  chart/README.md
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/create-user-job.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/migrate-database-job.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#13392 Add upgrade check option to list checks
  airflow/upgrade/checker.py
  airflow/upgrade/rules/__init__.py
  tests/upgrade/rules/test_base_rule.py
Labels: full tests needed, upgrade-check

#13527 Replace deprecated module and operator in example_tasks.py
  airflow/providers/google/cloud/example_dags/example_tasks.py
  dev/provider_packages/refactor_provider_packages.py
Labels: area:dev-tools, okay to merge, provider:Google

#13555 More verbose and less frequent image poll
  .github/workflows/ci.yml
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev-tools, full tests needed

#13550 Add NotFound response for DELETE methods in OpenAPI YAML
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API, okay to merge, type:doc

#13556 The check for image is now more robust
  scripts/ci/images/ci_wait_for_ci_image.sh
  scripts/ci/images/ci_wait_for_prod_image.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev-tools, full tests needed

#12944 [AIRFLOW-7044] Host key can be specified via SSH connection extras.
  airflow/migrations/versions/449b4072c2da_increase_size_of_connection_extra_field_.py
  airflow/models/connection.py
  airflow/providers/sftp/hooks/sftp.py
  airflow/providers/ssh/hooks/ssh.py
  docs/apache-airflow-providers-ssh/connections/ssh.rst
  docs/spelling_wordlist.txt
  tests/providers/sftp/hooks/test_sftp.py
  tests/providers/ssh/hooks/test_ssh.py
Labels: full tests needed, kind:documentation

#13560 Change render to render_template in plugins.rst
  docs/apache-airflow/plugins.rst
Labels: kind:documentation, okay to merge

#13562 Optimize wait for prod images to be run after ci images
  .github/workflows/ci.yml
Labels: area:dev-tools

#13439 Forces unistalling providers in editable mode.
  .github/workflows/ci.yml
  CONTRIBUTING.rst
  INSTALL
  LOCAL_VIRTUALENV.rst
  docs/apache-airflow-providers/index.rst
  docs/apache-airflow/extra-packages-ref.rst
  scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_install_and_test_provider_packages.sh
  scripts/in_container/run_prepare_provider_readme.sh
  setup.py
Labels: area:dev-tools, kind:documentation

#13564 Little changes in How To Rebase a PR
  CONTRIBUTING.rst
Labels: area:dev-tools

#13569 Fix capitalisation of boolean in config
  docs/apache-airflow/upgrading-to-2.rst
Labels: kind:documentation

#13568 Make docs clear that Auth can't be disabled for Stable API
  docs/apache-airflow/security/api.rst
Labels: kind:documentation

#13565 Adds information about PIP being the only official install tool
  docs/apache-airflow/installation.rst
Labels: kind:documentation, okay to merge

#13509 Fix extraVolumeMounts of scheduler
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/tests/test_git_sync_scheduler.py
Labels: area:helm-chart, okay to merge

#13236 Add Guidelines to become an Airflow Committer
  CONTRIBUTING.rst
Labels: area:dev-tools, okay to merge

#13577 Use `yaml.full_load_all` instead of `yaml.load_all`
  chart/tests/helm_template_generator.py
Labels: area:helm-chart, okay to merge

#13576 Fix image and add airflow config for cleanup pods
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/tests/test_cleanup_pods.py
Labels: area:helm-chart

#13578 Stop Log Spamming when `[core] lazy_load_plugins` is False
  airflow/plugins_manager.py
  tests/plugins/test_plugins_manager.py
Labels: area:plugins, full tests needed

#13572 Reduce the number of variables in Bash scripts
  breeze
  dev/provider_packages/build_source_package.sh
  scripts/ci/dockerfiles/presto/entrypoint.sh
  scripts/ci/images/ci_verify_ci_image.sh
  scripts/ci/images/ci_verify_prod_image.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_kind.sh
  scripts/ci/libraries/_parameters.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
  scripts/ci/libraries/_repeats.sh
  scripts/ci/libraries/_sanity_checks.sh
  scripts/ci/libraries/_start_end.sh
  scripts/ci/pre_commit/pre_commit_check_pre_commits.sh
  scripts/ci/provider_packages/ci_install_and_test_provider_packages.sh
  scripts/ci/selective_ci_checks.sh
  scripts/ci/static_checks/check_license.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/check_environment.sh
  scripts/in_container/entrypoint_ci.sh
  scripts/in_container/run_ci_tests.sh
  scripts/in_container/run_cli_tool.sh
  scripts/in_container/run_install_and_test_provider_packages.sh
Labels: area:dev-tools, full tests needed

#13580 Remove archived links from docs & add link for AIPs
  docs/apache-airflow/project.rst
Labels: kind:documentation, okay to merge

#13581 Fix link for Committers Requirement in README.md
  README.md
Labels: okay to merge

#13582 Fix Formatting and link for Installing Backport Providers
  README.md
Labels: okay to merge

#13583 Minor fixes in upgrading-to-2.rst
  docs/apache-airflow/upgrading-to-2.rst
Labels: changelog:skip, kind:documentation, okay to merge

#13584 Fix Link in Upgrading to 2.0 guide
  docs/apache-airflow/upgrading-to-2.rst
Labels: kind:documentation

#13586 Minor grammar fix in OpenAPI YAML
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API, changelog:skip

#13561 Update URL for docs (v1-10-stable)
  airflow/www/app.py
  airflow/www_rbac/app.py
Labels: area:webserver, okay to merge

#12010 Support external redis in helm chart
  chart/README.md
  chart/templates/_helpers.yaml
  chart/templates/check-values.yaml
  chart/templates/flower/flower-ingress.yaml
  chart/templates/flower/flower-networkpolicy.yaml
  chart/templates/redis/redis-networkpolicy.yaml
  chart/templates/redis/redis-service.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/secrets/redis-secrets.yaml
  chart/templates/webserver/webserver-networkpolicy.yaml
  chart/templates/workers/worker-networkpolicy.yaml
  chart/tests/test_basic_helm_chart.py
  chart/tests/test_redis.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#13589 Eager upgrade works also in editable mode.
  scripts/docker/install_airflow.sh
Labels: area:dev-tools, full tests needed

#13587 Add classic installation scripts for additional tools
  BREEZE.rst
  Dockerfile.ci
  scripts/in_container/bin/install_gcloud.sh
  scripts/in_container/bin/install_imgcat.sh
  scripts/in_container/bin/install_java.sh
  scripts/in_container/bin/install_kubectl.sh
  scripts/in_container/bin/install_terraform.sh
  scripts/in_container/run_cli_tool.sh
Labels: area:dev-tools, full tests needed

#13501 Warn about precedence of env var when getting variables
  airflow/models/variable.py
  tests/models/test_variable.py
Labels: full tests needed

#13594 fix typo in /logging-monitoring/logging-tasks.html
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
Labels: kind:documentation

#13593 Salesforce provider requires tableau
  setup.py
Labels: full tests needed

#13595 Deprecate `tableau` extra
  docs/apache-airflow/extra-packages-ref.rst
  setup.py
Labels: full tests needed, kind:documentation

#13599 UX Enhancement: Empty State of Plugins View
  airflow/www/templates/airflow/plugin.html
Labels: area:UI, area:webserver, okay to merge

#13534 Support google-cloud-datacatalog>=3.0.0
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/example_dags/example_datacatalog.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/operators/datacatalog.py
  setup.py
  tests/providers/google/cloud/hooks/test_datacatalog.py
  tests/providers/google/cloud/operators/test_datacatalog.py
Labels: full tests needed, provider:Google

#13505 Support google-cloud-automl >=2.1.0
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/example_dags/example_automl_tables.py
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/operators/automl.py
  setup.py
  tests/providers/google/cloud/hooks/test_automl.py
  tests/providers/google/cloud/operators/test_automl.py
Labels: full tests needed, provider:Google

#13605 Improve a little readability
  docs/apache-airflow/backport-providers.rst
Labels: kind:documentation

#12096 add xcom push for ECSOperator
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: okay to merge, provider:AWS

#13608 Updates 'wheel' version to latest released
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools

#13607 Fix ./breeze exec command - don't force run tmux
  scripts/in_container/bin/run_tmux
  scripts/in_container/entrypoint_ci.sh
  scripts/in_container/entrypoint_exec.sh
Labels: area:dev-tools, full tests needed

#13613 Fix rendering of CI.rst in Github
  CI.rst
Labels: changelog:skip, okay to merge

#13611 Update upgrading-to-2.rst
  docs/apache-airflow/upgrading-to-2.rst
Labels: kind:documentation

#13596 Have proper default for webserver.expose_config in Helm Chart
  chart/README.md
  chart/values.yaml
Labels: area:helm-chart

#13610 Support Python 3.6+ in generate-integrations-json.py
  scripts/tools/generate-integrations-json.py
Labels: area:dev-tools, full tests needed

#13488 Introduces separate runtime provider schema
  .pre-commit-config.yaml
  MANIFEST.in
  TESTING.rst
  airflow/deprecated_schemas/provider-2.0.0.yaml.schema.json
  airflow/provider.yaml.schema.json
  airflow/provider_info.schema.json
  airflow/providers_manager.py
  dev/provider_packages/prepare_provider_packages.py
  dev/templates/announce_email.j2
  docs/apache-airflow-providers/index.rst
  scripts/ci/libraries/_build_images.sh
  scripts/in_container/run_prepare_provider_packages.sh
  setup.cfg
Labels: area:dev-tools, full tests needed, kind:documentation

#13612 Change the default celery worker_concurrency to 16
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  scripts/in_container/entrypoint_ci.sh
Labels: full tests needed

#13631 Add submodules in added workflow job
  .github/workflows/build-images-workflow-run.yml
Labels: area:dev-tools

#13619 Audit Log records View should not contain link if dag_id is None
  airflow/www/utils.py
  tests/www/test_utils.py
Labels: area:webserver, okay to merge

#12634 Allow customization of probes path and host
  chart/templates/webserver/webserver-deployment.yaml
  chart/tests/test_webserver_deployment.py
Labels: area:helm-chart, okay to merge

#13633 Fixed changed sequence of checkout/action
  .github/workflows/build-images-workflow-run.yml
Labels: area:dev-tools

#13632 Providers are not installed from PyPI when testing local files
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#13074 KubernetesExecutor should accept images from executor_config
  airflow/kubernetes/pod_generator.py
  tests/kubernetes/test_pod_generator.py
Labels: area:kubernetes

#13642 Make the tooltip to Pause / Unpause a DAG clearer
  airflow/www/templates/airflow/dags.html
Labels: area:UI, area:webserver

#13641 Fix the docs for Transfer Operators
  docs/exts/operators_and_hooks_ref-transfers.rst.jinja2
Labels: kind:documentation

#13640 Fixes problems with extras for custom connection types
  airflow/www/static/js/connection_form.js
  airflow/www/views.py
Labels: area:UI, area:webserver, okay to merge

#13644 Add system tests for Stackdriver operators
  airflow/providers/google/cloud/example_dags/example_stackdriver.py
  airflow/providers/google/cloud/hooks/stackdriver.py
  airflow/providers/google/cloud/operators/stackdriver.py
  tests/providers/google/cloud/hooks/test_stackdriver.py
  tests/providers/google/cloud/log/test_stackdriver_task_handler_system.py
  tests/providers/google/cloud/operators/test_stackdriver.py
  tests/providers/google/cloud/operators/test_stackdriver_system.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Labels: okay to merge, provider:Google

#13563 Fix invalid continue_token for cleanup list pods
  airflow/cli/commands/kubernetes_command.py
  tests/cli/commands/test_kubernetes_command.py
Labels: area:CLI, area:kubernetes

#11747 S3ToFTPOperator
  CONTRIBUTING.rst
  airflow/providers/amazon/aws/transfers/s3_to_ftp.py
  airflow/providers/amazon/provider.yaml
  airflow/providers/dependencies.json
  tests/providers/amazon/aws/transfers/test_s3_to_ftp.py
Labels: area:dev-tools, okay to merge, provider:AWS

#13658 Docs: Fix heading for Mocking section in best-practices.rst
  docs/apache-airflow/best-practices.rst
Labels: kind:documentation

#13186 Add how to use custom operators within plugins folder
  docs/apache-airflow/howto/custom-operator.rst
Labels: kind:documentation, okay to merge

#13657 Install providers from sources is disabled for prod image build
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/images/ci_prepare_prod_image_on_ci.sh
Labels: area:dev-tools, full tests needed

#13652 Fixed up entrypoint regex
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools

#13176 Losser restriction for colorlog
  setup.cfg
Labels: full tests needed

#13669 Emergency fix to manifest problem in Github Package Registry
  scripts/ci/libraries/_build_images.sh
Labels: area:dev-tools

#13661 Structure and small content improvements in installation.rst
  docs/apache-airflow/installation.rst
  docs/apache-airflow/production-deployment.rst
Labels: kind:documentation, okay to merge

#13665 Add missing Dag Tag for Example DAGs
  airflow/example_dags/example_dag_decorator.py
  airflow/example_dags/tutorial_taskflow_api_etl.py
Labels: full tests needed

#13663 Update outdated docs in scheduler_job.py
  airflow/jobs/scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#13347 Support google-cloud-tasks>=2.0.0
  airflow/providers/google/ADDITIONAL_INFO.md
  airflow/providers/google/cloud/hooks/tasks.py
  airflow/providers/google/cloud/operators/tasks.py
  setup.py
  tests/providers/google/cloud/hooks/test_tasks.py
  tests/providers/google/cloud/operators/test_tasks.py
Labels: full tests needed, provider:Google

#13673 Better fix for broken GitHub Image
  scripts/ci/images/ci_wait_for_ci_image.sh
  scripts/ci/images/ci_wait_for_prod_image.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, full tests needed

#13664 Increase the default ``min_file_process_interval`` to decrease CPU Usage
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Labels: full tests needed

#13655 Add recipes for installing a few common tools in Docker image
  docs/apache-airflow/docker-images-recipes/gcloud.Dockerfile
  docs/apache-airflow/docker-images-recipes/hadoop.Dockerfile
  docs/apache-airflow/production-deployment.rst
Labels: kind:documentation, okay to merge

#13606 fix some typos
  docs/apache-airflow/executor/celery_kubernetes.rst
Labels: kind:documentation, okay to merge

#13674 Run openapi-generator as "current" user, not root.
  clients/gen/common.sh
  scripts/ci/openapi/client_codegen_diff.sh
Labels: area:API, area:dev-tools

#13651 BugFix: Dag-level Callback Requests were not run
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/utils/callback_requests.py
  tests/models/test_dagrun.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization

#13324 Add Neo4j hook and operator
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/neo4j/README.md
  airflow/providers/neo4j/__init__.py
  airflow/providers/neo4j/example_dags/__init__.py
  airflow/providers/neo4j/example_dags/example_neo4j.py
  airflow/providers/neo4j/hooks/__init__.py
  airflow/providers/neo4j/hooks/neo4j.py
  airflow/providers/neo4j/operators/__init__.py
  airflow/providers/neo4j/operators/neo4j.py
  airflow/providers/neo4j/provider.yaml
  docs/apache-airflow-providers-neo4j/connections/neo4j.rst
  docs/apache-airflow-providers-neo4j/index.rst
  docs/apache-airflow-providers-neo4j/operators/neo4j.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  scripts/in_container/run_install_and_test_provider_packages.sh
  setup.py
  tests/core/test_providers_manager.py
  tests/providers/neo4j/__init__.py
  tests/providers/neo4j/hooks/__init__.py
  tests/providers/neo4j/hooks/test_neo4j.py
  tests/providers/neo4j/operators/__init__.py
  tests/providers/neo4j/operators/test_neo4j.py
Labels: full tests needed

#13620 Configurable API response (CORS) headers
  airflow/api_connexion/openapi/v1.yaml
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/extensions/init_views.py
  docs/apache-airflow/security/api.rst
  docs/spelling_wordlist.txt
Labels: area:API, area:webserver, full tests needed, kind:documentation

#13551 Add JSON linter to DAG Trigger UI
  airflow/www/package.json
  airflow/www/templates/airflow/trigger.html
  airflow/www/webpack.config.js
  airflow/www/yarn.lock
  tests/www/test_views.py
Labels: area:UI, area:webserver, okay to merge

#13684 Bugfix: Return XCom Value in the XCom Endpoint API
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_xcom_endpoint.py
Labels: area:API, okay to merge

#13533 Support tables in DAG docs
  airflow/www/utils.py
  tests/www/test_utils.py
Labels: area:webserver, okay to merge

#13683 Update docs to register Operator Extra Links
  docs/apache-airflow/howto/define_extra_link.rst
Labels: kind:documentation, okay to merge

#13516 Add verify_ssl config for kubernetes
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/kubernetes/kube_client.py
  tests/kubernetes/test_client.py
Labels: area:kubernetes, full tests needed

#13662 Stop creating duplicate Dag File Processors
  airflow/utils/dag_processing.py
  tests/utils/test_dag_processing.py
Labels: area:scheduler/executor, full tests needed

#13699 Perform case-independent sorting in pre_commit_sort_in_the_wild.sh
  INTHEWILD.md
  scripts/ci/pre_commit/pre_commit_sort_in_the_wild.sh
Labels: area:dev-tools, full tests needed

#13698 Improve formatting on run-with-upstart.rst
  docs/apache-airflow/howto/run-with-upstart.rst
Labels: kind:documentation, okay to merge

#13696 Improvements for database setup docs
  docs/apache-airflow/howto/index.rst
  docs/apache-airflow/howto/initialize-database.rst
  docs/apache-airflow/howto/set-up-database.rst
  docs/apache-airflow/installation.rst
  docs/apache-airflow/production-deployment.rst
  docs/apache-airflow/redirects.txt
Labels: kind:documentation, okay to merge

#13705 Make Scheduler livenessProbe HA-compatible
  chart/templates/scheduler/scheduler-deployment.yaml
Labels: area:helm-chart, okay to merge

#13708 Add Missing Statsd Metrics in Docs
  docs/apache-airflow/logging-monitoring/metrics.rst
Labels: kind:documentation, okay to merge
