Repository apache/airflow, pull requests merged in 2021-03, with the labels that each got.

#14530 Use airflow db check command in entrypoint_prod.sh
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, full tests needed

#14105 Add Google leveldb hook (#13109)
  airflow/providers/google/leveldb/__init__.py
  airflow/providers/google/leveldb/example_dags/__init__.py
  airflow/providers/google/leveldb/example_dags/example_leveldb.py
  airflow/providers/google/leveldb/hooks/__init__.py
  airflow/providers/google/leveldb/hooks/leveldb.py
  airflow/providers/google/leveldb/operators/__init__.py
  airflow/providers/google/leveldb/operators/leveldb.py
  airflow/providers/google/provider.yaml
  airflow/utils/db.py
  docs/apache-airflow-providers-google/example-dags.rst
  docs/apache-airflow-providers-google/index.rst
  docs/apache-airflow-providers-google/operators/index.rst
  docs/apache-airflow-providers-google/operators/leveldb/leveldb.rst
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/google/leveldb/__init__.py
  tests/providers/google/leveldb/hooks/__init__.py
  tests/providers/google/leveldb/hooks/test_leveldb.py
  tests/providers/google/leveldb/operators/__init__.py
  tests/providers/google/leveldb/operators/test_leveldb.py
  tests/providers/google/leveldb/operators/test_leveldb_system.py
  tests/test_utils/gcp_system_helpers.py
Labels: full tests needed, provider:Google

#14533 Add docs about Celery monitoring
  docs/apache-airflow/logging-monitoring/check-health.rst
Labels: kind:documentation, okay to merge

#14513 Bugfix: Fix TypeError in monitor_pod
  airflow/kubernetes/pod_launcher.py
  tests/kubernetes/test_pod_launcher.py
Labels: area:kubernetes

#14542 Resolve issue related to HiveCliHook kill
  airflow/providers/apache/hive/hooks/hive.py
Labels: provider:Apache

#13153 WinRM Operator: Fix stout decoding issue & add option to run command
  airflow/providers/microsoft/winrm/operators/winrm.py
  docs/spelling_wordlist.txt
Labels: okay to merge

#14544 Add new committers
  docs/apache-airflow/project.rst
  docs/spelling_wordlist.txt
Labels: kind:documentation, okay to merge

#14547 Minor doc fixes
  docs/apache-airflow/installation.rst
  docs/apache-airflow/start/local.rst
Labels: changelog:skip, kind:documentation

#14545 clean up gantt js
  airflow/www/.eslintignore
  airflow/www/static/js/gantt.js
  airflow/www/static/js/gantt_chart_d3v2.js
  airflow/www/templates/airflow/gantt.html
  airflow/www/webpack.config.js
Labels: area:UI, area:dev-tools, area:webserver, okay to merge

#14536 Disable in-container health checks for ad-hoc containers
  docs/apache-airflow/production-deployment.rst
  docs/apache-airflow/start/airflow.sh
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, full tests needed, kind:documentation

#14537 Add more tips about health checks
  docs/apache-airflow/logging-monitoring/check-health.rst
  docs/apache-airflow/production-deployment.rst
Labels: kind:documentation, okay to merge

#14551 Simplify configuration/legibility of Webpack entries
  airflow/www/webpack.config.js
Labels: area:UI, area:webserver, okay to merge

#14366 Add CollectionInfo in all Collections that have total_entries
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API, okay to merge

#14157 Option "privileged" in DockerOperator
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Labels: okay to merge

#14552 Migrate and lint Tree View js
  airflow/www/static/js/tree.js
  airflow/www/templates/airflow/tree.html
  airflow/www/webpack.config.js
Labels: area:UI, area:webserver, okay to merge

#14546 Add plain format output to cli tables
  airflow/cli/cli_parser.py
  airflow/cli/simple_table.py
  docs/apache-airflow/usage-cli.rst
  docs/spelling_wordlist.txt
Labels: area:CLI, okay to merge

#14560 Print proper provider version in airflow info command
  airflow/cli/commands/info_command.py
Labels: area:CLI, okay to merge

#14564 BugFix: fix DAG doc display (especially for TaskFlow DAGs)
  airflow/www/utils.py
  tests/www/test_utils.py
Labels: area:webserver, type:bug-fix

#14554 Remove unnecessary WARNINGs from BeamHook
  airflow/providers/apache/beam/hooks/beam.py
  airflow/providers/apache/beam/provider.yaml
Labels: okay to merge, provider:Apache

#14565 Fix AzureDataFactoryHook failing to instantiate its connection
  airflow/providers/microsoft/azure/hooks/azure_data_factory.py
  setup.py
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
Labels: okay to merge, provider:Azure

#14570 Bugfix: Plugins endpoint was unauthenticated
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:webserver, okay to merge

#14493 Bugfix: Fix False alarm in import changes rule
  airflow/upgrade/rules/import_changes.py
  airflow/upgrade/rules/renamed_classes.py
  tests/upgrade/rules/test_import_changes.py
Labels: full tests needed, upgrade-check

#14514 Updated provider's releasing instructions after 27.02.2021 release
  dev/README_RELEASE_BACKPORT_PROVIDER_PACKAGES.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/provider_packages/build_provider_documentation.sh
  dev/provider_packages/publish_provider_documentation.sh
  dev/provider_packages/tag_providers.sh
Labels: area:dev-tools, okay to merge

#14571 Replace Graph View Screenshot to show Auto-refresh
  docs/apache-airflow/img/graph.png
Labels: kind:documentation, okay to merge

#14567 Suppress LOG/WARNING for a few tasks CLI for better CLI experience
  airflow/cli/cli_parser.py
  airflow/cli/commands/task_command.py
Labels: area:CLI, okay to merge, type:improvement

#14575 fix document about flower localhost port in Running Airflow in Docker
  docs/apache-airflow/start/docker.rst
Labels: kind:documentation, okay to merge

#14576 docs: sample pod_mutation_hook adjusted to new API
  docs/apache-airflow/kubernetes.rst
Labels: kind:documentation

#14490 Bugfix: Fix wrong output of tags and owners in dag detail API endpoint
  airflow/api_connexion/schemas/dag_schema.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/schemas/test_dag_schema.py
Labels: area:API, okay to merge

#13928 Replace deprecated postgresql chart location with bitnami/postgresql
  chart/requirements.lock
  chart/requirements.yaml
Labels: area:helm-chart

#14582 Fix typo in concepts.rst
  docs/apache-airflow/concepts.rst
Labels: changelog:skip, kind:documentation

#14585 Fix typo on Jira link
  docs/apache-airflow-providers-jira/index.rst
Labels: kind:documentation

#14566 Fix ui bugs in tree view
  airflow/www/static/js/tree.js
Labels: area:UI, area:webserver, okay to merge

#14594 Fix some small typos also TESTING.rst
  TESTING.rst
  airflow/providers/jdbc/example_dags/example_jdbc_queries.py
  docs/apache-airflow-providers-jdbc/index.rst
  docs/apache-airflow/concepts.rst
Labels: area:dev-tools, kind:documentation

#14599 Fixes failing test_views tests
  tests/www/test_views.py
Labels: area:webserver

#14579 Restore correct terminal with to interactive breeze usage
  breeze
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.sh
Labels: area:dev-tools, full tests needed

#14534 docs: capitalise & fixes (#14283)
  CHANGELOG.txt
  CI.rst
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
  IMAGES.rst
  PULL_REQUEST_WORKFLOW.rst
  README.md
  STATIC_CODE_CHECKS.rst
  TESTING.rst
  UPDATING.md
Labels: area:dev-tools

#14600 Remove redundant step in CodeQL GitHub Actions step
  .github/workflows/codeql-analysis.yml
Labels: area:dev-tools

#14608 Bump Redoc to resolve vulnerability in sub-dependency
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:API, area:UI, area:dependencies, area:webserver, okay to merge

#14605 Fix docstrings for Kubernetes code
  airflow/kubernetes/pod_generator.py
  airflow/utils/db.py
  tests/executors/test_kubernetes_executor.py
Labels: area:kubernetes, area:scheduler/executor, full tests needed

#14321 Fix bug allowing task instances to survive when dagrun_timeout is exceeded
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor

#14577 Use libyaml C library when available.
  airflow/cli/commands/connection_command.py
  airflow/cli/commands/kubernetes_command.py
  airflow/cli/simple_table.py
  airflow/configuration.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/refresh_config.py
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/google/cloud/operators/cloud_build.py
  airflow/providers_manager.py
  airflow/secrets/local_filesystem.py
  airflow/utils/yaml.py
  airflow/www/views.py
  dev/provider_packages/copy_provider_package_sources.py
  dev/provider_packages/prepare_provider_packages.py
  docs/conf.py
  docs/exts/docs_build/lint_checks.py
  docs/exts/provider_yaml_utils.py
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hook_names.py
  scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py
Labels: full tests needed

#14611 Remove duplicate dependencies
  airflow/www/package.json
Labels: area:UI, area:dependencies, area:webserver, okay to merge

#14624 Bump redoc version to match node dependency
  docs/conf.py
Labels: kind:documentation, okay to merge

#14615 chore: remove duplicate words
  tests/jobs/test_scheduler_job.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Labels: changelog:skip

#14220 S3DataSource is not required
  airflow/providers/amazon/aws/hooks/sagemaker.py
  tests/providers/amazon/aws/hooks/test_sagemaker.py
Labels: okay to merge, provider:AWS

#14626 Fix breeze redirection on linux/Ubuntu 20.04
  breeze
Labels: area:dev-tools

#14407 Fix health spelled incorrectly
  airflow/api_connexion/schemas/health_schema.py
  tests/api_connexion/endpoints/test_health_endpoint.py
  tests/api_connexion/schemas/test_health_schema.py
Labels: area:API, okay to merge

#14612 Default to Celery Task model when backend model does not exist
  airflow/executors/celery_executor.py
Labels: area:scheduler/executor, full tests needed

#14628 Update filepaths in boring-cyborg.yml
  .github/boring-cyborg.yml
Labels: area:dev-tools, okay to merge

#14627 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: area:dev-tools, okay to merge

#14581 Rename last_scheduler_run into last_parsed_time, and ensure it's updated in DB
  airflow/migrations/versions/2e42bb497a22_rename_last_scheduler_run_column.py
  airflow/models/dag.py
  airflow/www/security.py
  airflow/www/views.py
  tests/models/test_dag.py
Labels: full tests needed

#14418 Fix #14417 : Failing to submit Druid ingestion task
  airflow/providers/apache/druid/operators/druid.py
  tests/providers/apache/druid/operators/test_druid.py
Labels: okay to merge, provider:Apache

#14634 Fix broken link in LOCAL_VIRTUALENV.rst
  LOCAL_VIRTUALENV.rst
Labels: area:dev-tools, okay to merge

#14632 Remove unused usage of logging module
  airflow/api_connexion/endpoints/dag_source_endpoint.py
  airflow/api_connexion/endpoints/version_endpoint.py
Labels: area:API, okay to merge

#14633 Fix broken static check on Master
  airflow/providers/apache/hive/hooks/hive.py
Labels: provider:Apache

#14637 Fix type hints in OpsgenieAlertOperator
  airflow/providers/opsgenie/operators/opsgenie_alert.py
Labels: okay to merge

#14606 Use built-in `cached_property` on Python 3.8 where possible
  Dockerfile.ci
  airflow/models/baseoperator.py
  airflow/operators/bash.py
  airflow/operators/sql.py
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/glue_crawler.py
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/glue_crawler.py
  airflow/providers/amazon/aws/operators/sagemaker_base.py
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/secrets/systems_manager.py
  airflow/providers/amazon/aws/sensors/athena.py
  airflow/providers/amazon/aws/sensors/s3_keys_unchanged.py
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/facebook/ads/hooks/ads.py
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/cloud/_internal_client/secret_manager_client.py
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/hooks/vision.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/google/cloud/secrets/secret_manager.py
  airflow/providers/hashicorp/_internal_client/vault_client.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/providers/microsoft/azure/secrets/azure_key_vault.py
  airflow/utils/log/log_reader.py
  setup.cfg
Labels: full tests needed

#14492 Adds new community provider Airbyte
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/airbyte/CHANGELOG.rst
  airflow/providers/airbyte/__init__.py
  airflow/providers/airbyte/example_dags/__init__.py
  airflow/providers/airbyte/example_dags/example_airbyte_trigger_job.py
  airflow/providers/airbyte/hooks/__init__.py
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/operators/__init__.py
  airflow/providers/airbyte/operators/airbyte.py
  airflow/providers/airbyte/provider.yaml
  airflow/providers/airbyte/sensors/__init__.py
  airflow/providers/airbyte/sensors/airbyte.py
  airflow/providers/dependencies.json
  docs/apache-airflow-providers-airbyte/commits.rst
  docs/apache-airflow-providers-airbyte/connections.rst
  docs/apache-airflow-providers-airbyte/index.rst
  docs/apache-airflow-providers-airbyte/operators/airbyte.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/integration-logos/airbyte/Airbyte.png
  docs/spelling_wordlist.txt
  scripts/in_container/run_install_and_test_provider_packages.sh
  setup.py
  tests/core/test_providers_manager.py
  tests/providers/airbyte/__init__.py
  tests/providers/airbyte/hooks/__init__.py
  tests/providers/airbyte/hooks/test_airbyte.py
  tests/providers/airbyte/operators/__init__.py
  tests/providers/airbyte/operators/test_airbyte.py
  tests/providers/airbyte/sensors/__init__.py
  tests/providers/airbyte/sensors/test_airbyte.py
Labels: full tests needed, kind:documentation, okay to merge

#14643 Create a new documentation package for Helm Chart
  chart/README.md
  chart/values.schema.json
  docs/conf.py
  docs/exts/docs_build/dev_index_template.html.jinja2
  docs/exts/docs_build/docs_builder.py
  docs/helm-chart/airflow-configuration.rst
  docs/helm-chart/external-redis.rst
  docs/helm-chart/index.rst
  docs/helm-chart/keda.rst
  docs/helm-chart/manage-dags-files.rst
  docs/helm-chart/parameters-ref.rst
  docs/helm-chart/quick-start.rst
  docs/spelling_wordlist.txt
Labels: area:helm-chart, kind:documentation, okay to merge

#14647 chore: fix grammar and remove duplicate words
  .github/workflows/build-images-workflow-run.yml
  BREEZE.rst
  IMAGES.rst
  PULL_REQUEST_WORKFLOW.rst
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/providers/apache/hive/example_dags/example_twitter_README.md
  airflow/providers/apache/hive/example_dags/example_twitter_dag.py
  airflow/providers/google/cloud/example_dags/example_cloud_storage_transfer_service_aws.py
  airflow/providers/google/cloud/example_dags/example_cloud_storage_transfer_service_gcp.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/suite/hooks/sheets.py
  airflow/providers/google/suite/transfers/gcs_to_gdrive.py
  airflow/www/templates/airflow/graph.html
  breeze
  chart/values.yaml
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow-providers-google/operators/cloud/dataflow.rst
  docs/apache-airflow-providers-google/operators/cloud/kubernetes_engine.rst
  docs/apache-airflow/dag-run.rst
  docs/apache-airflow/production-deployment.rst
  docs/apache-airflow/upgrading-to-2.rst
Labels: area:UI, area:dev-tools, area:helm-chart, area:scheduler/executor, area:webserver, kind:documentation, provider:Apache, provider:Google

#14652 Fix link to Helm chart docs
  docs/exts/docs_build/dev_index_template.html.jinja2
Labels: kind:documentation

#14648 Update docs about baking DAGs in docker image
  docs/helm-chart/manage-dags-files.rst
Labels: kind:documentation

#14638 Cache Hook when initializing `CloudFormationCreateStackSensor`
  airflow/providers/amazon/aws/sensors/cloud_formation.py
Labels: okay to merge, provider:AWS

#11212 Created initial guide for HDFS operators
  airflow/providers/apache/hdfs/provider.yaml
  airflow/providers/apache/hdfs/sensors/hdfs.py
  docs/apache-airflow-providers-apache-hdfs/connections.rst
  docs/apache-airflow-providers-apache-hdfs/index.rst
  docs/apache-airflow-providers-apache-hdfs/operators.rst
Labels: area:docs, okay to merge, provider:Apache

#14508 Adds verbose mode to prepare_provider_packages scripts/breeze cmds.
  dev/provider_packages/README.md
  dev/provider_packages/README_BACKPORT_PACKAGES.md
  dev/provider_packages/prepare_provider_packages.py
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_prepare_provider_documentation.sh
  scripts/in_container/run_prepare_provider_packages.sh
Labels: area:dev-tools, full tests needed

#14665 Update Flask-AppBuilder dependency to allow 3.2 (and all 3.x series)
  setup.cfg
Labels: full tests needed

#14655 Prepare ad-hoc release of the four previously excluded providers
  Dockerfile
  Dockerfile.ci
  airflow/providers/apache/beam/ADDITIONAL_INFO.md
  airflow/providers/apache/beam/BACKPORT_PROVIDER_CHANGES_2021.03.13.md
  airflow/providers/apache/beam/BACKPORT_PROVIDER_README.md
  airflow/providers/apache/beam/CHANGELOG.rst
  airflow/providers/apache/druid/ADDITIONAL_INFO.md
  airflow/providers/apache/druid/BACKPORT_PROVIDER_CHANGES_2021.03.13.md
  airflow/providers/apache/druid/BACKPORT_PROVIDER_README.md
  airflow/providers/apache/druid/CHANGELOG.rst
  airflow/providers/microsoft/azure/ADDITIONAL_INFO.md
  airflow/providers/microsoft/azure/BACKPORT_PROVIDER_CHANGES_2021.03.13.md
  airflow/providers/microsoft/azure/BACKPORT_PROVIDER_README.md
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/snowflake/ADDITIONAL_INFO.md
  airflow/providers/snowflake/BACKPORT_PROVIDER_CHANGES_2021.03.13.md
  airflow/providers/snowflake/BACKPORT_PROVIDER_README.md
  airflow/providers/snowflake/CHANGELOG.rst
  docs/apache-airflow-providers-apache-beam/commits.rst
  docs/apache-airflow-providers-apache-druid/commits.rst
  docs/apache-airflow-providers-microsoft-azure/commits.rst
  docs/apache-airflow-providers-microsoft-azure/index.rst
  docs/apache-airflow-providers-snowflake/commits.rst
  docs/apache-airflow-providers-snowflake/index.rst
  setup.py
Labels: area:dev-tools, full tests needed, kind:documentation, provider:Apache, provider:Azure, provider:Snowflake

#14653 Update instructions to download Apache RAT for license verification
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_BACKPORT_PROVIDER_PACKAGES.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools, okay to merge

#14381 BugFix: Fix taskInstance API call fails if a task is removed from running DAG
  airflow/api_connexion/openapi/v1.yaml
  airflow/utils/state.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:API, full tests needed

#14501 Fix set task instance form test
  tests/api_connexion/schemas/test_task_instance_schema.py
Labels: area:API

#14679 Fix minor issues in 'Concepts' doc
  docs/apache-airflow/concepts.rst
Labels: area:docs, changelog:skip, kind:documentation, okay to merge

#14678 Fix Failing tests on v1-10-stable
  tests/upgrade/rules/test_chain_between_dag_and_operator_not_allowed_rule.py
  tests/upgrade/rules/test_import_changes.py
Labels: area:dev-tools, full tests needed

#14680 Bugfix: False positives for Custom Executors via Plugins check
  airflow/upgrade/rules/custom_executors_require_full_path_rule.py
  tests/upgrade/rules/test_custom_executors_require_full_path_rule.py
Labels: full tests needed

#14090 Fix merging of secrets and configmaps
  airflow/kubernetes/pod_generator.py
  tests/kubernetes/test_pod_generator.py
Labels: area:kubernetes, pending-response

#14654 Fix documentation for provider's release
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools, okay to merge

#14686 Elasticsearch Provider: Fix logs downloading for tasks
  airflow/providers/elasticsearch/log/es_task_handler.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:logging

#14588 Fill DagBag from dag_folder setting for upgrade rules
  airflow/upgrade/rules/custom_operator_metaclass_rule.py
Labels: full tests needed, upgrade-check

#14380 Prevent mixed case env vars from crashing processes like worker
  airflow/configuration.py
  airflow/executors/celery_executor.py
  tests/core/test_configuration.py
Labels: area:scheduler/executor, full tests needed

#13209 Add support for worker persistence with KEDA v2.0.0 in helm chart
  chart/templates/workers/worker-kedaautoscaler.yaml
  chart/tests/helm_template_generator.py
  chart/tests/test_keda.py
  docs/helm-chart/keda.rst
  docs/spelling_wordlist.txt
Labels: area:helm-chart, okay to merge

#14700 Fix false warning about class that was not used in a dag file
  airflow/upgrade/rules/import_changes.py
Labels: full tests needed, upgrade-check

#11964 Add new datetime branch operator
  airflow/example_dags/example_datetime_branch_operator.py
  airflow/operators/datetime_branch.py
  docs/apache-airflow/howto/operator/datetime_branch.rst
  docs/apache-airflow/howto/operator/index.rst
  tests/operators/test_datetime_branch.py
Labels: full tests needed

#14698 Separate out tests to cater for changes in Python 3.8.8
  tests/www/test_views.py
Labels: area:webserver, okay to merge

#14710 Fix tests for all urllib versions with only '&' as separator
  tests/www/test_views.py
Labels: area:webserver

#14702 New UI GitHub integrations
  .github/CODEOWNERS
  .github/boring-cyborg.yml
Labels: AIP-38, area:UI, area:dev-tools, okay to merge

#14685 Add job labels to bigquery check operators.
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
Labels: okay to merge, provider:Google

#14697 Remove duplicated WORKDIR in CI Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, full tests needed

#14718 Don't use author_association for self-hosted vs public runner decision.
  .github/workflows/ci.yml
Labels: area:dev-tools

#14722 Fix a typo in documentation
  docs/apache-airflow/dag-serialization.rst
Labels: area:serialization, kind:documentation

#14691 Initialize the new UI project
  airflow/ui/.eslintrc.js
  airflow/ui/.gitignore
  airflow/ui/.neutrinorc.js
  airflow/ui/README.md
  airflow/ui/docs/CONTRIBUTING.md
  airflow/ui/jest.config.js
  airflow/ui/package.json
  airflow/ui/src/App.tsx
  airflow/ui/src/index.tsx
  airflow/ui/src/static/favicon.ico
  airflow/ui/src/theme.ts
  airflow/ui/test/App.test.tsx
  airflow/ui/tsconfig.json
  airflow/ui/webpack.config.js
  airflow/ui/yarn.lock
Labels: AIP-38, area:UI, area:dev-tools

#14601 Remove broken and undocumented "demo mode" feature
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/static/css/main.css
  airflow/www/static/js/dag_code.js
  airflow/www/static/js/tree.js
  airflow/www/templates/airflow/dag_code.html
  airflow/www/templates/airflow/graph.html
  airflow/www/templates/airflow/tree.html
  airflow/www/views.py
Labels: area:UI, area:webserver, full tests needed

#14719 Fix tests in tests/www/test_views.py
  tests/www/test_views.py
Labels: area:webserver, full tests needed

#14731 Reduce duplication in pre_commit_check_order_setup.py script
  scripts/ci/pre_commit/pre_commit_check_order_setup.py
Labels: area:dev-tools, full tests needed

#14732 Remove un-needed/left over environment variables in ci.yml
  .github/workflows/ci.yml
  scripts/ci/selective_ci_checks.sh
Labels: area:dev-tools, full tests needed

#14723 Wrapping create-user-job by double quote for Helm Chart
  chart/templates/create-user-job.yaml
Labels: area:helm-chart

#14737 Fixed runs-on for non-apache repository
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#14674 Add Documentation for Project Guidelines
  dev/PROJECT_GUIDELINES.md
Labels: area:dev-tools, okay to merge

#14708 Webserver: Allow Filtering TaskInstances by queued_dttm
  airflow/www/views.py
Labels: area:webserver, okay to merge

#14738 Webserver: Sanitize string passed to origin param
  airflow/www/views.py
  tests/www/test_views.py
Labels: area:webserver, okay to merge

#14741 Add note on execution_delta
  docs/apache-airflow/howto/operator/external_task_sensor.rst
Labels: kind:documentation, okay to merge

#14684 Speed up www and api_connexion tests
  airflow/www/app.py
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_source_endpoint.py
  tests/api_connexion/endpoints/test_event_log_endpoint.py
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/api_connexion/endpoints/test_health_endpoint.py
  tests/api_connexion/endpoints/test_import_error_endpoint.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/api_connexion/endpoints/test_plugin_endpoint.py
  tests/api_connexion/endpoints/test_pool_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
  tests/api_connexion/endpoints/test_version_endpoint.py
  tests/api_connexion/endpoints/test_xcom_endpoint.py
  tests/test_utils/decorators.py
  tests/www/api/experimental/test_dag_runs_endpoint.py
  tests/www/api/experimental/test_endpoints.py
  tests/www/test_app.py
  tests/www/test_views.py
Labels: area:API, area:webserver, full tests needed

#14742 Note that the DB must be using UTF-8
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation

#14692 Migrate dags.html javascript
  airflow/www/static/js/dags.js
  airflow/www/templates/airflow/dags.html
  airflow/www/webpack.config.js
Labels: area:UI, area:webserver

#14740 Don't exit upgrade_check with code 1 if there are no problems
  airflow/upgrade/checker.py
  airflow/upgrade/problem.py
  tests/upgrade/test_problem.py
Labels: full tests needed

#14661 Remember expanded task groups in localStorage
  airflow/www/templates/airflow/graph.html
Labels: area:UI, area:webserver

#14709 Refactor Taskflow decorator for extensibility
  .pre-commit-config.yaml
  airflow/decorators/__init__.py
  airflow/decorators/base.py
  airflow/decorators/python.py
  airflow/models/dag.py
  airflow/operators/python.py
  tests/decorators/__init__.py
  tests/decorators/test_python.py
  tests/operators/test_python.py
Labels: area:dev-tools, full tests needed

#14704 Fix attributes for AzureDataFactory hook
  airflow/providers/microsoft/azure/hooks/azure_data_factory.py
  scripts/in_container/run_install_and_test_provider_packages.sh
  tests/core/test_providers_manager.py
Labels: provider:Azure

#14689 Small fixes in provider preparation docs
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#14751 Add confirming getopt and gstat #14750
  BREEZE.rst
Labels: area:dev-tools

#14753 `./breeze stop` is not necessary for new comers #14752
  BREEZE.rst
Labels: area:dev-tools

#14756 Remove Heisentest category and quarantine test_backfill_depends_on_past
  BREEZE.rst
  CONTRIBUTORS_QUICK_START.rst
  PULL_REQUEST_WORKFLOW.rst
  TESTING.rst
  breeze-complete
  scripts/ci/selective_ci_checks.sh
  scripts/ci/testing/ci_run_airflow_testing.sh
  scripts/in_container/entrypoint_ci.sh
  tests/conftest.py
  tests/jobs/test_backfill_job.py
Labels: area:scheduler/executor, full tests needed

#14720 Update names and paths to be consistent with other Branch operators
  airflow/example_dags/example_branch_datetime_operator.py
  airflow/operators/datetime.py
  docs/apache-airflow/howto/operator/datetime.rst
  docs/apache-airflow/howto/operator/index.rst
  tests/operators/test_datetime.py
Labels: full tests needed, kind:documentation

#14736 Fixes force-pulling base python images
  .github/workflows/build-images-workflow-run.yml
  .github/workflows/ci.yml
  .github/workflows/scheduled_quarantined.yml
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev-tools, full tests needed

#14759 Excludes .git-modules from rat-check
  .rat-excludes
Labels: area:dev-tools, okay to merge

#14748 Prepare for releasing Elasticsearch Provider 1.0.3
  airflow/providers/elasticsearch/CHANGELOG.rst
  airflow/providers/elasticsearch/provider.yaml
  docs/apache-airflow-providers-elasticsearch/commits.rst
  docs/apache-airflow-providers-elasticsearch/index.rst
Labels: kind:documentation, okay to merge

#14763 Add elasticsearch to the fixes of backport providers
  airflow/providers/elasticsearch/ADDITIONAL_INFO.md
  airflow/providers/elasticsearch/BACKPORT_PROVIDER_CHANGES_2021.03.17.md
  airflow/providers/elasticsearch/BACKPORT_PROVIDER_README.md
Labels: okay to merge

#14762 Add Helm Chart logo to docs index
  docs/exts/docs_build/dev_index_template.html.jinja2
  docs/helm-chart/img/helm-logo.svg
  docs/helm-chart/index.rst
Labels: kind:documentation, okay to merge

#14757 Refactor info command to use AirflowConsole
  airflow/cli/cli_parser.py
  airflow/cli/commands/info_command.py
  airflow/cli/simple_table.py
  tests/cli/commands/test_info_command.py
Labels: area:CLI, okay to merge

#14400 Add conf not importable from airflow rule
  airflow/upgrade/rules/fix_conf_not_importable_from_airflow.py
  tests/upgrade/rules/test_fix_conf_not_importable_from_airflow.py
Labels: full tests needed, upgrade-check

#14775 Add minimum version of pylint
  setup.py
Labels: full tests needed

#14777 Add script to verify that all artefacts are in svn
  .gitignore
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_BACKPORT_PROVIDER_PACKAGES.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/check_files.py
Labels: area:dev-tools, okay to merge

#14781 Fixes limits on Arrow for plexus test
  setup.py
Labels: full tests needed

#14779 Better diagnostics for image waiting
  scripts/ci/libraries/_build_images.sh
Labels: area:dev-tools, full tests needed

#14783 Only rebuilds base python image when upgrading to newer deps
  .github/workflows/build-images-workflow-run.yml
  BREEZE.rst
  IMAGES.rst
  breeze
  breeze-complete
  scripts/ci/images/ci_build_dockerhub.sh
  scripts/ci/libraries/_push_pull_remove_images.sh
Labels: area:dev-tools, full tests needed

#14784 Fixes case where output log is missing for image waiting
  scripts/ci/libraries/_build_images.sh
Labels: area:dev-tools, full tests needed

#14766 Drop support for SequentialExecutor in Helm Chart
  chart/README.md
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/scheduler/scheduler-networkpolicy.yaml
  chart/templates/scheduler/scheduler-service.yaml
  chart/tests/helm_template_generator.py
  chart/tests/test_basic_helm_chart.py
  chart/tests/test_keda.py
  chart/tests/test_pod_launcher_role.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/index.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#14787 Fixes recent scripting breeze fix to work also with zsh
  breeze
Labels: area:dev-tools, okay to merge

#14351 Add documentation for SQLite upgrade on AmazonLinux2 and CentOS
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation, okay to merge

#14746 Further speed up Connexion API tests with pytest session fixtures
  pylintrc-tests
  tests/api_connexion/endpoints/conftest.py
  tests/api_connexion/endpoints/test_config_endpoint.py
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_source_endpoint.py
  tests/api_connexion/endpoints/test_event_log_endpoint.py
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/api_connexion/endpoints/test_health_endpoint.py
  tests/api_connexion/endpoints/test_import_error_endpoint.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/api_connexion/endpoints/test_plugin_endpoint.py
  tests/api_connexion/endpoints/test_pool_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
  tests/api_connexion/endpoints/test_version_endpoint.py
  tests/api_connexion/endpoints/test_xcom_endpoint.py
Labels: area:API, okay to merge

#13996 Add GCS timespan transform operator
  airflow/providers/google/cloud/example_dags/example_gcs_timespan_file_transform.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/operators/gcs.py
  docs/apache-airflow-providers-google/operators/cloud/gcs.rst
  tests/providers/google/cloud/hooks/test_gcs.py
  tests/providers/google/cloud/operators/test_gcs.py
  tests/providers/google/cloud/operators/test_gcs_timespan_file_transform_system.py
Labels: okay to merge, provider:Google

#14688 Prepare to rename master branch for main.
  .asf.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/scheduled_quarantined.yml
  Dockerfile
  Dockerfile.ci
  chart/templates/create-user-job.yaml
  chart/templates/migrate-database-job.yaml
  codecov.yml
  docs/README.rst
  docs/conf.py
  scripts/ci/constraints/ci_branch_constraints.sh
  scripts/ci/libraries/_build_images.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/selective_ci_checks.sh
  scripts/docker/install_airflow_from_branch_tip.sh
  tests/models/test_dagbag.py
Labels: area:dev-tools, area:helm-chart, full tests needed, kind:documentation

#13707 Add FTPToS3Operator
  airflow/providers/amazon/aws/transfers/ftp_to_s3.py
  airflow/providers/amazon/provider.yaml
  tests/providers/amazon/aws/transfers/test_ftp_to_s3.py
Labels: okay to merge, provider:AWS

#14690 Add Guide to release Apache Airflow Upgrade Check
  dev/README_RELEASE_AIRFLOW_UPGRADE_CHECK.md
Labels: area:dev-tools, okay to merge

#14810 Fix KubernetesExecutor issue with deleted pending pods
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Labels: area:kubernetes, area:scheduler/executor

#14826 Fix dag endpoint tests not being collected nor ran
  tests/api_connexion/endpoints/test_dag_endpoint.py
Labels: area:API

#14664 Add readonly REST API endpoint for roles and permissions
  airflow/api_connexion/endpoints/role_and_permission_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/role_and_permission_schema.py
  airflow/security/permissions.py
  tests/api_connexion/endpoints/test_role_and_permission_endpoint.py
  tests/api_connexion/schemas/test_role_and_permission_schema.py
  tests/test_utils/api_connexion_utils.py
  tests/test_utils/fab_utils.py
Labels: AIP-38, area:API

#14814 Suggest using $http_host instead of $host
  docs/apache-airflow/howto/run-behind-proxy.rst
Labels: kind:documentation, okay to merge

#14724 Add dynamic fields to Snowflake connection
  airflow/providers/snowflake/hooks/snowflake.py
  airflow/providers_manager.py
  scripts/in_container/run_install_and_test_provider_packages.sh
  tests/core/test_providers_manager.py
Labels: area:dev-tools, full tests needed, provider:Snowflake

#14825 When `breeze stop` is called all integrations are enabled
  breeze
Labels: area:dev-tools

#14836 Pre commit new UI
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  airflow/ui/package.json
  airflow/ui/yarn.lock
  breeze-complete
Labels: AIP-38, area:UI, area:dev-tools

#14765 Create a documentation package for Docker image
  docs/apache-airflow/installation.rst
  docs/apache-airflow/production-deployment.rst
  docs/apache-airflow/start/docker.rst
  docs/conf.py
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/build.rst
  docs/docker-stack/docker-images-recipes/gcloud.Dockerfile
  docs/docker-stack/docker-images-recipes/hadoop.Dockerfile
  docs/docker-stack/entrypoint.rst
  docs/docker-stack/img/docker-logo.png
  docs/docker-stack/index.rst
  docs/docker-stack/recipes.rst
  docs/exts/airflow_intersphinx.py
  docs/exts/docs_build/dev_index_template.html.jinja2
  docs/exts/docs_build/docs_builder.py
  docs/exts/docs_build/fetch_inventories.py
Labels: kind:documentation, okay to merge

#14847 Fix `sync-perm` to work correctly when update_fab_perms = False
  airflow/cli/commands/sync_perm_command.py
Labels: area:CLI, okay to merge

#14844 undo skip snowflake integration tests
  tests/providers/snowflake/__init__.py
Labels: okay to merge, provider:Snowflake

#14816 Extend HTTP extra_options to LivyHook and operator
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/livy/operators/livy.py
  airflow/providers/apache/livy/sensors/livy.py
  tests/providers/apache/livy/operators/test_livy.py
Labels: okay to merge, provider:Apache

#14842 Update the docs to release Providers
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#14867 Revert "Create a documentation package for Docker image (#14765)"
  docs/apache-airflow/docker-images-recipes/gcloud.Dockerfile
  docs/apache-airflow/docker-images-recipes/hadoop.Dockerfile
  docs/apache-airflow/installation.rst
  docs/apache-airflow/production-deployment.rst
  docs/apache-airflow/start/docker.rst
  docs/conf.py
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/build.rst
  docs/docker-stack/entrypoint.rst
  docs/docker-stack/img/docker-logo.png
  docs/docker-stack/index.rst
  docs/docker-stack/recipes.rst
  docs/exts/airflow_intersphinx.py
  docs/exts/docs_build/dev_index_template.html.jinja2
  docs/exts/docs_build/docs_builder.py
  docs/exts/docs_build/fetch_inventories.py
Labels: kind:documentation

#14662 chore: fix grammar
  tests/providers/apache/spark/hooks/test_spark_jdbc.py
  tests/providers/google/cloud/operators/test_cloud_storage_transfer_service.py
  tests/providers/google/cloud/operators/test_compute.py
  tests/ti_deps/deps/test_prev_dagrun_dep.py
  tests/ti_deps/deps/test_runnable_exec_date_dep.py
Labels: provider:Apache, provider:Google

#14865 Speed up TestFlaskCli test
  tests/www/test_app.py
Labels: area:webserver, okay to merge

#14776 Fix running child tasks in a subdag after clearing a successful subdag
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: full tests needed

#14868 Update license check to include TypeScript file extensions
  .pre-commit-config.yaml
  airflow/ui/src/App.tsx
  airflow/ui/src/index.tsx
  airflow/ui/src/theme.ts
Labels: AIP-38, area:UI, area:dev-tools, full tests needed

#13647 [AIRFLOW-6076] fix dag.cli() KeyError
  airflow/cli/cli_parser.py
  tests/cli/test_cli_parser.py
Labels: area:CLI
