Repository apache/airflow, pull requests merged in 2021-10, with the labels that each got.

#18647 Remove empty doc from influxdb provider
  airflow/providers/influxdb/provider.yaml
  docs/apache-airflow-providers-influxdb/index.rst
  docs/apache-airflow-providers-influxdb/operators/influxdb.rst
Labels: area:providers, kind:documentation, okay to merge

#18656 Fix stop_airflow typos in CONTRIBUTORS_QUICK_START.rst
  CONTRIBUTORS_QUICK_START.rst
Labels: okay to merge

#18343 Patch `utcnow` in retry delay test
  tests/models/test_taskinstance.py
Labels: full tests needed

#18655 Fix error on triggering a dag that doesn't exist using dagrun_conf
  airflow/www/views.py
Labels: area:webserver, okay to merge

#18211 Support all Unix wildcards in S3KeySensor
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/sensors/s3_key.py
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/providers/amazon/aws/sensors/test_s3_key.py
Labels: provider:AWS, area:providers

#18651 Check the allowed values for the logging level
  airflow/configuration.py
  airflow/utils/weight_rule.py
  tests/core/test_configuration.py
Labels: full tests needed

#18663 update azure cosmos version
  airflow/providers/microsoft/azure/hooks/azure_cosmos.py
  setup.py
Labels: provider:Azure, area:providers, full tests needed

#18683 Added Viscovery to the list of companies using Apache Airflow
  INTHEWILD.md
Labels: okay to merge

#18694 Revert "update azure cosmos version"
  airflow/providers/microsoft/azure/hooks/azure_cosmos.py
  setup.py
Labels: provider:Azure, area:providers

#18661 Correcting text in "Extending Airflow core functionality" docs section
  docs/apache-airflow-providers/index.rst
Labels: kind:documentation, okay to merge

#18659 Expanding docs on client auth for AzureKeyVaultBackend
  airflow/providers/microsoft/azure/secrets/azure_key_vault.py
  docs/apache-airflow-providers-microsoft-azure/secrets-backends/azure-key-vault.rst
Labels: provider:Azure, area:providers, area:secrets, kind:documentation, okay to merge

#18689 Typo in docs/apache-airflow/installation/index.rst
  docs/apache-airflow/installation/index.rst
Labels: kind:documentation

#18693 Adding missing `max_ingestion_time` to DruidOperator docstring
  airflow/providers/apache/druid/operators/druid.py
Labels: area:providers, provider:Apache, okay to merge

#18700 Fix TI Log dates
  airflow/www/static/js/ti_log.js
Labels: area:webserver, okay to merge, area:UI

#18679 Simplify strings previously split across lines
  airflow/jobs/backfill_job.py
  airflow/jobs/local_task_job.py
  airflow/providers/amazon/aws/hooks/ses.py
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/hooks/spanner.py
  airflow/utils/helpers.py
  docs/publish_docs.py
  tests/providers/apache/drill/operators/test_drill.py
  tests/providers/google/cloud/hooks/test_natural_language.py
  tests/providers/microsoft/azure/operators/test_azure_container_instances.py
Labels: provider:Google, provider:Azure, provider:AWS, area:scheduler/executor, area:providers, provider:Apache, kind:documentation, full tests needed, area:kubernetes

#18725 Fix compatibility issues with docker-compose 2
  breeze
  scripts/ci/docker-compose/_docker_compose.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
Labels: area:dev-tools, full tests needed

#18719 Fix eager-upgrade builds for Airflow main.
  setup.py
Labels: full tests needed

#18727 Fix env variable typo _AIRFLOW_WWW_USER_LASTNME
  scripts/in_container/prod/entrypoint_prod.sh
Labels: area:dev-tools, area:production-image, full tests needed

#18720 Add DaskExecutor queue handling change to UPDATING
  UPDATING.md
Labels: okay to merge

#18695 update azure cosmos to latest version
  airflow/providers/microsoft/azure/hooks/azure_cosmos.py
  setup.py
Labels: provider:Azure, area:providers, full tests needed

#18642 Ensure task_instance exist before running update on its state(REST API)
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:API, okay to merge

#18685 Renaming variables to be consistent with code logic
  airflow/api/common/experimental/trigger_dag.py
Labels: area:core

#18729 Handle timetable exception in DAG.next_dagrun_info
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: full tests needed

#18708 Properly set start_date for cleared tasks
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/models/taskinstance.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/models/test_cleartasks.py
Labels: area:API, full tests needed

#18686 Pretty print diff for order checks
  scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  scripts/ci/pre_commit/pre_commit_check_order_setup.py
Labels: area:dev-tools, full tests needed

#18684 update sshtunnel version
  airflow/providers/ssh/hooks/ssh.py
  setup.py
  tests/providers/ssh/hooks/test_ssh.py
Labels: area:providers, full tests needed

#18741 Add google-ads limitation to eager upgrade
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#18737 Add additional dependency for postgres extra for amazon provider
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/amazon/provider.yaml
Labels: area:providers, okay to merge

#18736 Fix changelog for Azure Provider
  airflow/providers/microsoft/azure/CHANGELOG.rst
Labels: provider:Azure, area:providers, okay to merge

#18735 Updates link to "stable" URLs for providers "installing from sources"
  docs/apache-airflow-providers/installing-from-sources.rst
Labels: kind:documentation, okay to merge

#18704 Rename ``processor_poll_interval`` to ``scheduler_idle_sleep_time``
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/jobs/scheduler_job.py
  docs/apache-airflow/best-practices.rst
  docs/apache-airflow/concepts/scheduler.rst
Labels: area:scheduler/executor, kind:documentation

#18751 Fix various typos in .md & .rst files
  IMAGES.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/REFRESHING_CI_CACHE.md
Labels: area:dev-tools

#18730 Don't ignore legacy `concurrency` dag parameter
  airflow/models/dag.py
Labels: kind:bug, full tests needed

#17145 Adds an s3 list prefixes operator
  airflow/providers/amazon/aws/operators/s3_list_prefixes.py
  airflow/providers/amazon/provider.yaml
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/providers/amazon/aws/operators/test_s3_list_prefixes.py
Labels: provider:AWS, area:providers, okay to merge

#18750 Fix "Test" connection button when app not mounted at `/`
  airflow/www/static/js/connection_form.js
  airflow/www/templates/airflow/conn_create.html
  airflow/www/templates/airflow/conn_edit.html
Labels: area:webserver, okay to merge, area:UI

#18706 Remove eagerloading when querying for TI
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/dag_processing/processor.py
  airflow/jobs/backfill_job.py
  airflow/jobs/scheduler_job.py
Labels: area:scheduler/executor, area:API, full tests needed

#18733 ECSOperator: airflow exception on edge case when cloudwatch log stream is not found
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:AWS, area:providers, okay to merge

#18522 Coerce datetime to pendulum for timetable
  airflow/api_connexion/endpoints/dag_run_endpoint.py
Labels: area:API, okay to merge

#18760 Amazon SQS Example
  airflow/providers/amazon/aws/example_dags/example_sqs.py
  airflow/providers/amazon/aws/operators/sqs.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/sqs_publish.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#18778 Quarantine iest_no_orphan_process_will_be_left
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor

#18739 Move docker decorator example dag to docker provider
  airflow/example_dags/tutorial_taskflow_api_etl_virtualenv.py
  airflow/providers/docker/example_dags/tutorial_taskflow_api_etl_docker_virtualenv.py
  docs/apache-airflow/tutorial_taskflow_api.rst
Labels: area:providers, full tests needed

#18742 Always run at least one backfill from BackfillJob
  airflow/cli/commands/dag_command.py
  airflow/jobs/backfill_job.py
  airflow/models/dag.py
  tests/cli/commands/test_dag_command.py
Labels: area:scheduler/executor

#18414 Change the color for deferred status to mediumpurple
  airflow/settings.py
  airflow/utils/state.py
  docs/apache-airflow/howto/customize-ui.rst
  tests/www/views/test_views_home.py
Labels: full tests needed

#18783 Fix deprecated default for ``fab_logging_level`` to ``WARNING``
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Labels: full tests needed

#19318 Add 2.2.1 to readme, changelog, updating, etc
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  CHANGELOG.txt
  README.md
  UPDATING.md
Labels: area:dev-tools, okay to merge

#19323 Correctly handle get_pty attribute if command passed as XComArg or template
  airflow/providers/ssh/operators/ssh.py
  tests/providers/ssh/operators/test_ssh.py
Labels: area:providers, okay to merge

#19317 Switch default Python version to 3.7
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, full tests needed

#19282 Add missing parameter documentation for "timetable"
  airflow/models/dag.py
Labels: full tests needed

#19280 19223 - add mongo_db param to function doc string
  airflow/providers/mongo/sensors/mongo.py
Labels: area:providers, okay to merge

#19301 Pre commit spellcheck fix
  .pre-commit-config.yaml
Labels: area:dev-tools, full tests needed

#19298 More friendly output of the airflow plugins command + add timetables
  airflow/plugins_manager.py
  tests/cli/commands/test_plugins_command.py
  tests/plugins/test_plugin.py
  tests/test_utils/mock_plugins.py
Labels: area:CLI, area:plugins, full tests needed

#19263 Chart: add resources for cleanup and createuser jobs
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/tests/test_cleanup_pods.py
  chart/tests/test_create_user_job.py
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/index.rst
  docs/helm-chart/setting-resources-for-containers.rst
Labels: area:helm-chart, okay to merge

#17446 Add support of `path` parameter for GCloud Storage Transfer Service operators
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/operators/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/utils/helpers.py
  tests/providers/google/cloud/operators/test_cloud_storage_transfer_service.py
  tests/providers/google/cloud/utils/test_helpers.py
Labels: provider:Google, area:providers, full tests needed

#19331 Remove duplicated entries in changelog
  airflow/providers/amazon/CHANGELOG.rst
Labels: area:providers, okay to merge

#19333 Update known warnings for Python 3.7
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools, okay to merge
