Repository apache/airflow, pull requests merged in 2022-03, with the labels that each got.

#21740 Make Grid and and Graph view work with task mapping
  airflow/www/static/js/calendar.js
  airflow/www/static/js/connection_form.js
  airflow/www/static/js/dag.js
  airflow/www/static/js/dag_code.js
  airflow/www/static/js/dags.js
  airflow/www/static/js/graph.js
  airflow/www/static/js/task_instances.js
  airflow/www/static/js/ti_log.js
  airflow/www/static/js/tree/InstanceTooltip.jsx
  airflow/www/static/js/tree/renderTaskRows.jsx
  airflow/www/static/js/tree/useTreeData.js
  airflow/www/static/js/utils.js
  airflow/www/utils.py
  airflow/www/views.py
Labels: area:webserver, okay to merge, area:UI, AIP-42

#21887 Fix UPDATING section on SqlAlchemy 1.4 scheme changes
  UPDATING.md
Labels: okay to merge

#21886 Update databricks.rst
  docs/apache-airflow-providers-databricks/connections/databricks.rst
Labels: area:providers, kind:documentation, okay to merge

#21885 Fix the Type Hints in ``RedshiftSQLOperator``
  airflow/providers/amazon/aws/operators/redshift_sql.py
Labels: provider:AWS, area:providers, okay to merge

#21865 Allow templates in more DataprocUpdateClusterOperator fields
  airflow/providers/google/cloud/operators/dataproc.py
Labels: provider:Google, area:providers, okay to merge

#21729 Fix filesystem sensor for directories
  airflow/sensors/filesystem.py
  tests/sensors/test_filesystem.py
Labels: full tests needed

#21602 add celery.task_timeout_error metric
  airflow/executors/celery_executor.py
  docs/apache-airflow/logging-monitoring/metrics.rst
Labels: area:scheduler/executor, kind:documentation, full tests needed

#21686 Feature: Add invoke lambda function operator
  airflow/providers/amazon/aws/example_dags/example_lambda.py
  airflow/providers/amazon/aws/hooks/lambda_function.py
  airflow/providers/amazon/aws/operators/aws_lambda.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/lambda.rst
  tests/providers/amazon/aws/hooks/test_lambda_function.py
  tests/providers/amazon/aws/operators/test_lambda.py
Labels: provider:AWS, area:providers, okay to merge

#21889 Update modules_management.rst
  docs/apache-airflow/modules_management.rst
Labels: kind:documentation, okay to merge

#21875 Switch to Debian 11 (bullseye) as base for our dockerfiles (#21378)
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  BREEZE.rst
  CI.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  README.md
  TESTING.rst
  airflow/providers/docker/example_dags/tutorial_taskflow_api_etl_docker_virtualenv.py
  breeze-complete
  chart/values.schema.json
  chart/values.yaml
  dev/breeze/doc/adr/0004-using-docker-images-as-test-environment.md
  dev/breeze/src/airflow_breeze/ci/build_params.py
  docs/apache-airflow-providers-odbc/connections/odbc.rst
  docs/apache-airflow/howto/set-up-database.rst
  docs/apache-airflow/installation/dependencies.rst
  docs/apache-airflow/installation/prerequisites.rst
  docs/apache-airflow/start/docker.rst
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/build.rst
  docs/docker-stack/docker-examples/customizing/add-build-essential-custom.sh
  docs/docker-stack/docker-examples/customizing/custom-sources.sh
  docs/docker-stack/docker-examples/customizing/github-different-repository.sh
  docs/docker-stack/docker-examples/customizing/github-main.sh
  docs/docker-stack/docker-examples/customizing/github-v2-2-test.sh
  docs/docker-stack/docker-examples/customizing/pypi-dev-runtime-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-extras-and-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-selected-version.sh
  docs/docker-stack/docker-examples/restricted/restricted_environments.sh
  scripts/ci/libraries/_initialization.sh
Labels: area:providers, area:dev-tools, area:helm-chart, kind:documentation, area:production-image, full tests needed

#21798 Change BaseOperatorLink interface to take a ti_key, not a datetime
  UPDATING.md
  airflow/api_connexion/endpoints/extra_link_endpoint.py
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  airflow/models/xcom.py
  airflow/operators/trigger_dagrun.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/dbt/cloud/operators/dbt.py
  airflow/providers/google/cloud/links/base.py
  airflow/providers/google/cloud/links/dataflow.py
  airflow/providers/google/cloud/links/dataproc.py
  airflow/providers/google/cloud/links/vertex_ai.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/cloud_composer.py
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  airflow/providers/google/common/links/storage.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/qubole/operators/qubole.py
  airflow/www/views.py
  docs/apache-airflow/howto/define_extra_link.rst
  docs/apache-airflow/plugins.rst
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/models/test_xcom.py
  tests/operators/test_trigger_dagrun.py
  tests/providers/amazon/aws/operators/test_emr_create_job_flow.py
  tests/providers/dbt/cloud/operators/test_dbt_cloud.py
  tests/providers/google/cloud/operators/test_bigquery.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/operators/test_mlengine.py
  tests/providers/microsoft/azure/operators/test_azure_data_factory.py
  tests/providers/qubole/operators/test_qubole.py
  tests/sensors/test_external_task_sensor.py
  tests/serialization/test_dag_serialization.py
  tests/test_utils/mock_operators.py
  tests/www/views/test_views_extra_links.py
Labels: full tests needed, AIP-39, AIP-42

#21898 Fix Kubernetes example with wrong operator casing
  airflow/providers/cncf/kubernetes/example_dags/example_kubernetes.py
Labels: area:providers, area:kubernetes

#21404 EdgeModifier refactoring
  airflow/models/taskmixin.py
  airflow/utils/edgemodifier.py
  airflow/utils/task_group.py
  tests/utils/test_edgemodifier.py
Labels: full tests needed

#21816 Deprecate non-JSON conn.extra
  UPDATING.md
  airflow/models/connection.py
  tests/models/test_connection.py
Labels: full tests needed

#21903 Limit yandexcloud to < 0.142
  setup.py
Labels: full tests needed

#21905 Fix handling some None parameters in kubernetes 23 libs
  airflow/kubernetes/pod_generator_deprecated.py
Labels: full tests needed, area:kubernetes

#21866 Make project_id argument optional in all dataproc operators
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/sensors/dataproc.py
Labels: provider:Google, area:providers, okay to merge

#21907 Update list of non-core files/paths
  dev/airflow-github
Labels: area:dev-tools, okay to merge

#21709 Add-showing-runtime-error-feature-to-DatabricksSubmitRunOperator
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers, okay to merge

#21911 Refactor KubernetesPodOperator tests
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, okay to merge

#21893 Add Python 3.9 support to Hive
  airflow/providers/apache/hive/provider.yaml
  setup.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/providers/apache/hive/transfers/test_hive_to_mysql.py
  tests/providers/apache/hive/transfers/test_hive_to_samba.py
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
  tests/providers/apache/hive/transfers/test_mysql_to_hive.py
Labels: area:providers, provider:Apache, full tests needed

#21919 Chart: move updating note about config removal
  chart/UPDATING.rst
Labels: area:helm-chart, okay to merge

#21924 Add `test_connection` method to `AzureDataFactoryHook`
  airflow/providers/microsoft/azure/hooks/data_factory.py
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
Labels: provider:Azure, area:providers, okay to merge

#21926 py files doesn't have to be checked is_zipfiles in refresh_dag
  airflow/dag_processing/manager.py
Labels: area:scheduler/executor

#21928 Fix incorrect data provided to tries & landing times charts
  airflow/www/views.py
Labels: area:webserver

#21815 Ensure deps is set, convert BaseSensorOperator to classvar
  UPDATING.md
  airflow/exceptions.py
  airflow/models/mappedoperator.py
  airflow/sensors/base.py
  airflow/ti_deps/deps/ready_to_reschedule.py
  tests/sensors/test_base.py
  tests/serialization/test_dag_serialization.py
Labels: full tests needed, area:core-operators, AIP-42

#21930 Only allow mapping against return value XCom
  airflow/decorators/base.py
  airflow/models/mappedoperator.py
  tests/models/test_baseoperator.py
  tests/serialization/test_dag_serialization.py
Labels: full tests needed, AIP-42

#21922 Fix single backticks in rst changelogs
  CHANGELOG.txt
  chart/CHANGELOG.txt
Labels: area:helm-chart, changelog:skip, okay to merge

#21871 Add map_index to pods launched by KubernetesExecutor
  airflow/executors/kubernetes_executor.py
  airflow/kubernetes/kubernetes_helper_functions.py
  airflow/kubernetes/pod_generator.py
  airflow/models/taskinstance.py
  tests/kubernetes/test_pod_generator.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor, full tests needed, area:kubernetes, AIP-42

#21916 Add map_index label to mapped KubernetesPodOperator
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_kubernetes_pod_operator_backcompat.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, okay to merge, area:kubernetes, AIP-42

#21932 [INTHEWILD] Update Freshworks company users
  INTHEWILD.md
Labels: okay to merge

#21828 Update ECS sample DAG and Docs to new standards
  airflow/providers/amazon/aws/example_dags/example_ecs_fargate.py
  docs/apache-airflow-providers-amazon/operators/ecs.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#21906 Chart: 1.5.0 changelog
  chart/CHANGELOG.txt
  chart/Chart.yaml
Labels: area:helm-chart, okay to merge

#21806 Rename `dagrun_id` to `dag_run_id`
  airflow/api/common/mark_tasks.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/cli/cli_parser.py
  airflow/cli/commands/task_command.py
  airflow/migrations/versions/7b2661a43ba3_taskinstance_keyed_to_dagrun.py
  airflow/migrations/versions/c306b5b5ae4a_switch_xcom_table_to_use_run_id.py
  airflow/models/dag.py
  airflow/models/xcom.py
  airflow/ti_deps/dependencies_deps.py
  airflow/ti_deps/deps/dagrun_backfill_dep.py
  airflow/www/views.py
  tests/api/common/test_mark_tasks.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_xcom_endpoint.py
  tests/api_connexion/schemas/test_task_instance_schema.py
  tests/api_connexion/schemas/test_xcom_schema.py
  tests/models/test_dag.py
  tests/models/test_xcom.py
  tests/providers/apache/hive/operators/test_hive.py
  tests/ti_deps/deps/test_dagrun_id_dep.py
Labels: area:webserver, area:CLI, area:providers, provider:Apache, area:API, full tests needed

#21848 Make sure prod image shell is not valid
  breeze
Labels: area:dev-tools, area:production-image, full tests needed

#20510 Make container creation configurable when uploading files via WasbHook
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/transfers/local_to_wasb.py
  airflow/providers/microsoft/azure/transfers/sftp_to_wasb.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
  tests/providers/microsoft/azure/transfers/test_local_to_wasb.py
  tests/providers/microsoft/azure/transfers/test_sftp_to_wasb.py
Labels: provider:Azure, area:providers, okay to merge

#19137 Add RedshiftDataHook
  airflow/providers/amazon/aws/example_dags/example_redshift_data_execute_sql.py
  airflow/providers/amazon/aws/hooks/redshift_data.py
  airflow/providers/amazon/aws/operators/redshift_data.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-amazon/operators/redshift_data.rst
  setup.py
  tests/providers/amazon/aws/hooks/test_redshift_data.py
  tests/providers/amazon/aws/operators/test_redshift_data.py
Labels: provider:AWS, area:providers

#21879 Add docs re upgrade / downgrade
  airflow/cli/cli_parser.py
  docs/apache-airflow/best-practices.rst
  docs/apache-airflow/usage-cli.rst
  docs/spelling_wordlist.txt
Labels: area:CLI, kind:documentation, okay to merge

#21882 Enhance magic methods on XComArg for UX
  airflow/models/xcom_arg.py
  tests/models/test_xcom_arg.py
Labels: full tests needed

#21696 Proposed policy for Provider's minimum supported version.
  README.md
Labels: okay to merge

#21958 Add detailed email docs
  docs/apache-airflow/howto/email-config.rst
  docs/apache-airflow/img/email_connection.png
Labels: kind:documentation

#21950 Update script used in generating issues for status of testing of RC
  dev/ISSUE_TEMPLATE.md.jinja2
  dev/README_RELEASE_HELM_CHART.md
  dev/prepare_release_issue.py
Labels: area:dev-tools, changelog:skip, okay to merge

#21964 Fix typo in docs
  docs/apache-airflow/security/webserver.rst
Labels: kind:documentation, changelog:skip, okay to merge

#21933 More explicit mapped argument validation
  airflow/decorators/base.py
  airflow/models/baseoperator.py
  airflow/models/mappedoperator.py
  airflow/operators/python.py
Labels: full tests needed, area:core-operators, AIP-42

#21969 Ensure that `airflow dags tests` works for mapped DAGs
  airflow/models/mappedoperator.py
  airflow/utils/task_group.py
  tests/jobs/test_backfill_job.py
Labels: area:scheduler/executor, full tests needed, area:core-operators, AIP-42

#21959 Add compat shim for SQLAlchemy to avoid warnings
  airflow/compat/sqlalchemy.py
  airflow/migrations/versions/03afc6b6f902_increase_length_of_fab_ab_view_menu_.py
  airflow/migrations/versions/1507a7289a2f_create_is_encrypted.py
  airflow/migrations/versions/33ae817a1ff4_add_kubernetes_resource_checkpointing.py
  airflow/migrations/versions/3c20cacc0044_add_dagrun_run_type.py
  airflow/migrations/versions/92c57b58940d_add_fab_tables.py
  airflow/migrations/versions/bbf4a7ad0465_remove_id_column_from_xcom.py
  airflow/migrations/versions/bef4f3d11e8b_drop_kuberesourceversion_and_.py
  airflow/migrations/versions/cc1e65623dc7_add_max_tries_column_to_task_instance.py
  airflow/migrations/versions/cf5dc11e79ad_drop_user_and_chart.py
  airflow/migrations/versions/e38be357a868_update_schema_for_smart_sensor.py
  airflow/migrations/versions/e3a246e0dc1_current_schema.py
  airflow/utils/db.py
  airflow/www/fab_security/sqla/manager.py
  tests/serialization/test_dag_serialization.py
Labels: area:webserver, area:serialization, full tests needed

#21971 Fix extra links for grid view
  airflow/www/views.py
Labels: okay to merge

#21980 Run inclusive language check on CHANGELOG
  .pre-commit-config.yaml
  CHANGELOG.txt
Labels: area:dev-tools, full tests needed

#21979 Fix changelog/updating typos
  CHANGELOG.txt
  UPDATING.md
  docs/spelling_wordlist.txt
Labels: kind:documentation, okay to merge

#21988 Rename 'S3' hook name to 'Amazon S3'
  airflow/providers/amazon/aws/hooks/s3.py
Labels: provider:AWS, area:providers, okay to merge

#21993 Change the storage of frame to use threadLocal rather than Dict
  airflow/models/taskinstance.py
Labels: full tests needed

#21273 Add test to run DB downgrade in the CI
  .github/workflows/ci.yml
  airflow/migrations/utils.py
  airflow/migrations/versions/092435bf5d12_add_max_active_runs_column_to_dagmodel_.py
  airflow/migrations/versions/2c6edca13270_resource_based_permissions.py
  airflow/migrations/versions/5e3ec427fdd3_increase_length_of_email_and_username.py
  airflow/migrations/versions/786e3737b18f_added_timetable_description_column.py
  airflow/migrations/versions/7b2661a43ba3_taskinstance_keyed_to_dagrun.py
  airflow/migrations/versions/90d1635d7b86_increase_pool_name_size_in_taskinstance.py
  airflow/migrations/versions/97cdd93827b8_add_queued_at_column_to_dagrun_table.py
  airflow/migrations/versions/b25a55525161_increase_length_of_pool_name.py
  airflow/migrations/versions/bbf4a7ad0465_remove_id_column_from_xcom.py
  airflow/migrations/versions/be2bfac3da23_add_has_import_errors_column_to_dagmodel.py
  airflow/migrations/versions/c306b5b5ae4a_switch_xcom_table_to_use_run_id.py
  airflow/migrations/versions/cc1e65623dc7_add_max_tries_column_to_task_instance.py
  airflow/migrations/versions/e655c0453f75_add_taskmap_and_map_id_on_taskinstance.py
  airflow/migrations/versions/e9304a3141f0_make_xcom_pkey_columns_non_nullable.py
  airflow/migrations/versions/e959f08ac86c_change_field_in_dagcode_to_mediumtext_.py
  airflow/migrations/versions/f9da662e7089_add_task_log_filename_template_model.py
  scripts/ci/libraries/_testing.sh
  scripts/ci/testing/ci_run_single_airflow_test_in_docker.sh
  scripts/ci/testing/run_downgrade_test.sh
Labels: area:dev-tools, full tests needed

#21983 Simplify tests for CLI connections commands
  airflow/cli/commands/connection_command.py
  tests/cli/commands/test_connection_command.py
Labels: area:CLI, okay to merge

#21998 Remove misleading MSSQL information from the docs
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation, okay to merge

#21938 Add per-DAG delete permissions
  airflow/models/dag.py
  airflow/security/permissions.py
  airflow/www/security.py
  airflow/www/views.py
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver

#22000 Don't validate that Params are JSON when NOTSET
  airflow/models/param.py
  tests/models/test_param.py
Labels: full tests needed

#21880 Minor cleanup on Celery config
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_celery.py
Labels: changelog:skip, full tests needed

#22009 Add brief examples of integration test dags you might want
  docs/apache-airflow/best-practices.rst
Labels: kind:documentation, okay to merge

#22005 Upgrade `moto` library to version 3.0
  setup.py
  tests/providers/amazon/aws/hooks/test_kinesis.py
Labels: provider:AWS, area:providers, full tests needed

#19729 Local kubernetes executor
  BREEZE.rst
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/example_dags/example_local_kubernetes_executor.py
  airflow/executors/executor_constants.py
  airflow/executors/executor_loader.py
  airflow/executors/local_kubernetes_executor.py
  airflow/settings.py
  breeze-complete
  docs/apache-airflow/executor/index.rst
  docs/apache-airflow/executor/local_kubernetes.rst
  tests/core/test_config_templates.py
  tests/executors/test_local_kubernetes_executor.py
Labels: full tests needed

#22020 Resolve mypy issue in athena example dag
  airflow/providers/amazon/aws/example_dags/example_athena.py
Labels: provider:AWS, area:providers, okay to merge

#21997 [Feature] Updates FTPHook provider to have test_connection
  airflow/providers/ftp/hooks/ftp.py
  airflow/providers/sftp/hooks/sftp.py
  tests/providers/ftp/hooks/test_ftp.py
Labels: area:providers, okay to merge

#21944 Add autodetect arg to external table creation in GCS-to-BQ operator
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  tests/providers/google/cloud/transfers/test_gcs_to_bigquery.py
Labels: provider:Google, area:providers, okay to merge

#22024 Fix typo in docs
  docs/apache-airflow-providers-google/operators/cloud/dataflow.rst
Labels: provider:Google, area:providers, kind:documentation

#22023 Remove back the limitation of Yandex as a bug in 0.142 is fixed
  setup.py
Labels: full tests needed

#22026 Fix failing main after merging SFTP hook test connection
  tests/always/test_connection.py
Labels: full tests needed

#20907 Added AWS RDS operators
  airflow/providers/amazon/aws/example_dags/example_rds.py
  airflow/providers/amazon/aws/operators/rds.py
  airflow/providers/amazon/aws/utils/rds.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/rds.rst
  tests/providers/amazon/aws/operators/test_rds.py
Labels: provider:AWS, area:providers, kind:documentation

#21231 Added AWS RDS sensors
  airflow/providers/amazon/aws/example_dags/example_rds.py
  airflow/providers/amazon/aws/sensors/rds.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/rds.rst
  tests/providers/amazon/aws/sensors/test_rds.py
Labels: provider:AWS, area:providers, kind:documentation

#18590 Fixing bug when roles list is empty
  airflow/cli/commands/user_command.py
  tests/cli/commands/test_user_command.py
  tests/test_utils/api_connexion_utils.py
Labels: area:CLI, full tests needed

#21986 added docker network_mode options in documentation
  airflow/decorators/__init__.pyi
  airflow/providers/docker/operators/docker.py
Labels: area:providers

#22017 Removes limitations from Dask dependencies
  setup.cfg
  setup.py
  tests/executors/test_dask_executor.py
Labels: area:scheduler/executor, full tests needed

#21975 Move S3ToRedshiftOperator documentation to transfer dir
  airflow/providers/amazon/aws/example_dags/example_s3_to_redshift.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/transfer/s3_to_redshift.rst
  docs/apache-airflow-providers-amazon/redirects.txt
Labels: provider:AWS, area:providers, kind:documentation

#21809 Default args type check
  airflow/models/baseoperator.py
  airflow/models/dag.py
Labels: full tests needed

#21976 Cleanup RedshiftSQLOperator documentation
  airflow/providers/amazon/aws/example_dags/example_redshift_sql.py
  docs/apache-airflow-providers-amazon/operators/redshift_sql.rst
Labels: provider:AWS, area:providers, kind:documentation

#21992 Switch oss hook tests in alibaba-provider to use Mocks (17617)
  tests/providers/alibaba/cloud/hooks/test_oss.py
  tests/providers/alibaba/cloud/utils/oss_mock.py
Labels: area:providers

#21973 Change default python executable to python3 for docker decorator
  airflow/decorators/__init__.pyi
  airflow/providers/docker/decorators/docker.py
  airflow/providers/docker/example_dags/example_docker.py
Labels: area:providers, full tests needed

#22002 retry on very specific eni provision failures
  airflow/providers/amazon/aws/exceptions.py
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:AWS, area:providers

#22010 Add docs and sample dags for AWS Batch Operator/Sensor
  airflow/providers/amazon/aws/example_dags/example_batch.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/sensors/batch.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/batch.rst
Labels: provider:AWS, area:providers, kind:documentation

#22018 Dev: Allow easy repacking of Providers
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools, changelog:skip, okay to merge

#22044 Fix mypy errors resulting from typing updates in marshmallow
  airflow/cli/commands/user_command.py
Labels: area:CLI, okay to merge

#22046 Update limits of dependencies after dask test disabling
  setup.cfg
  setup.py
Labels: full tests needed

#21990 missing quotes
  docs/helm-chart/quick-start.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#22025 Add information on DAG pausing/deactivation/deletion
  docs/apache-airflow/concepts/dags.rst
Labels: kind:documentation, okay to merge

#20882 Add Looker PDT operators
  airflow/providers/google/cloud/example_dags/example_looker.py
  airflow/providers/google/cloud/hooks/looker.py
  airflow/providers/google/cloud/operators/looker.py
  airflow/providers/google/cloud/sensors/looker.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/connections/gcp_looker.rst
  docs/apache-airflow-providers-google/operators/cloud/looker.rst
  docs/integration-logos/gcp/Cloud-Looker.png
  setup.py
  tests/providers/google/cloud/hooks/test_looker.py
  tests/providers/google/cloud/operators/test_looker.py
  tests/providers/google/cloud/sensors/test_looker.py
Labels: provider:Google, area:providers, kind:documentation, full tests needed

#22054 Fix spelling
  airflow/models/mappedoperator.py
  airflow/providers/yandex/operators/yandexcloud_dataproc.py
  docs/apache-airflow/howto/set-up-database.rst
Labels: area:providers, kind:documentation

#22061 DB upgrade is required when updating Airflow
  docs/apache-airflow/installation/upgrading.rst
Labels: kind:documentation, okay to merge, type:doc-only

#22058 Allow GCS Metadata to be included in GCS Upload
  airflow/providers/google/cloud/hooks/gcs.py
  tests/providers/google/cloud/hooks/test_gcs.py
Labels: provider:Google, area:providers

#22052 Clean up the `pre-commit` config
  .pre-commit-config.yaml
Labels: area:dev-tools

#21920 Dynamo to S3 Sample DAG and Docs
  airflow/providers/amazon/aws/example_dags/example_dynamodb_to_s3.py
  airflow/providers/amazon/aws/example_dags/example_dynamodb_to_s3_segmented.py
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/transfer/dynamodb_to_s3.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#22045 Add example config of sql_alchemy_connect_args
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation, okay to merge

#21423 Refactor query status polling logic in EMRContainerHook
  airflow/providers/amazon/aws/hooks/emr.py
  tests/providers/amazon/aws/hooks/test_emr_containers.py
Labels: provider:AWS, area:providers

#22076 Add new options to DatabricksCopyIntoOperator
  airflow/providers/databricks/operators/databricks_sql.py
  docs/apache-airflow-providers-databricks/operators/copy_into.rst
  tests/providers/databricks/operators/test_databricks_sql.py
Labels: area:providers, kind:documentation, okay to merge

#21731 Store callbacks in database if standalone_dag_processor config is True.
  airflow/callbacks/callback_requests.py
  airflow/callbacks/database_callback_sink.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/dag_processing/manager.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/c97c2ab6aa23_add_callback_request_table.py
  airflow/models/__init__.py
  airflow/models/db_callback_request.py
  airflow/models/taskinstance.py
  airflow/utils/db_cleanup.py
  docs/apache-airflow/migrations-ref.rst
  tests/callbacks/__init__.py
  tests/callbacks/test_callback_requests.py
  tests/dag_processing/test_manager.py
  tests/dag_processing/test_processor.py
  tests/executors/test_celery_executor.py
  tests/jobs/test_scheduler_job.py
  tests/test_utils/db.py
Labels: area:scheduler/executor, kind:documentation, full tests needed, area:kubernetes

#21965 Mapped task instance endpoint
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/models/mappedoperator.py
  tests/api_connexion/endpoints/test_mapped_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/schemas/test_task_instance_schema.py
Labels: area:API, full tests needed

#21488 Refactor query polling logic for athena queries
  airflow/providers/amazon/aws/hooks/athena.py
  tests/providers/amazon/aws/operators/test_athena.py
Labels: provider:AWS, area:providers

#22071 Bug-fix GCSToS3Operator
  airflow/providers/amazon/aws/transfers/gcs_to_s3.py
  tests/providers/amazon/aws/transfers/test_gcs_to_s3.py
Labels: provider:AWS, area:providers

#22085 Use yaml safe load
  airflow/providers/google/cloud/operators/cloud_build.py
Labels: provider:Google, area:providers

#22027 Fixed dask executor and tests
  airflow/executors/dask_executor.py
  tests/executors/test_dask_executor.py
Labels: area:scheduler/executor, full tests needed

#22090 Update changelog for helm chart 1.5.0
  chart/CHANGELOG.txt
  chart/Chart.yaml
Labels: area:helm-chart, okay to merge

#22094 Update release date on changelog
  chart/CHANGELOG.txt
Labels: area:helm-chart

#21904 Pause auto-refresh when page is hidden
  airflow/www/package.json
  airflow/www/static/js/graph.js
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/dagRuns/index.test.jsx
  airflow/www/static/js/tree/index.jsx
  airflow/www/static/js/tree/renderTaskRows.jsx
  airflow/www/static/js/tree/renderTaskRows.test.jsx
  airflow/www/static/js/tree/useTreeData.js
  airflow/www/static/js/tree/useTreeData.test.jsx
  airflow/www/yarn.lock
Labels: area:webserver, okay to merge, area:UI

#22084 Add `list-import-errors` to `airflow dags` command
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI, okay to merge

#22062 Add guide for DataprocInstantiateInlineWorkflowTemplateOperator
  airflow/providers/google/cloud/example_dags/example_dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
  tests/always/test_project_structure.py
Labels: provider:Google, area:providers, kind:documentation, okay to merge

#22095 EMR on EKS Sample DAG and Docs Update
  airflow/providers/amazon/aws/example_dags/example_emr_eks_job.py
  airflow/providers/amazon/aws/hooks/emr.py
  docs/apache-airflow-providers-amazon/operators/emr_eks.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#22081 Upgrade PIP to 22.0.4 (just released)
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/TRACKING_BACKTRACKING_ISSUES.md
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, kind:documentation, area:production-image, full tests needed

#22098 add new map_index field to log message
  airflow/jobs/scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#21991 Show import error for 'airflow dags list' CLI command
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI, okay to merge

#22101 bump sphinx-jinja
  docs/conf.py
  docs/exts/providers_packages_ref.py
  setup.py
Labels: kind:documentation, full tests needed

#21981 If uploading task logs to S3 fails, retry once
  airflow/providers/amazon/aws/log/s3_task_handler.py
Labels: provider:AWS, area:providers, area:logging, okay to merge

#22097 Fix typo in AWS doc
  docs/apache-airflow-providers-amazon/connections/aws.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#22107 Fix spelling
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/hooks/gdm.py
  docs/spelling_wordlist.txt
Labels: provider:Google, area:providers, kind:documentation

#22008 Replace build image bash script in CI with build image in python
  .github/workflows/build-images.yml
  breeze
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
Labels: area:dev-tools, full tests needed

#22106 Rename task-mapping trigger to 'expand'
  airflow/decorators/base.py
  airflow/decorators/task_group.py
  airflow/models/baseoperator.py
  airflow/models/mappedoperator.py
  airflow/serialization/serialized_objects.py
  airflow/utils/task_group.py
  tests/api_connexion/endpoints/test_mapped_task_instance_endpoint.py
  tests/dags/test_mapped_classic.py
  tests/dags/test_mapped_taskflow.py
  tests/decorators/test_python.py
  tests/models/test_baseoperator.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
  tests/utils/test_task_group.py
Labels: area:serialization, area:API

#22004 Add map_index to RenderedTaskInstanceFields
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/migrations/versions/4eaab2fe6582_migrate_rtif_to_use_run_id_and_map_index.py
  airflow/models/renderedtifields.py
  airflow/models/taskinstance.py
  airflow/utils/db.py
  docs/apache-airflow/migrations-ref.rst
  tests/api_connexion/schemas/test_task_instance_schema.py
  tests/models/test_renderedtifields.py
Labels: area:API, kind:documentation, full tests needed, AIP-39, AIP-42

#22114 Require SQLAlchemy 1.4
  setup.cfg
Labels: full tests needed

#22116 Fix PYTHONPATH Environment Variable Name in logging-tasks.rst
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
Labels: area:logging, kind:documentation, okay to merge

#22119 Use "dev" from main in "build-images" workflow
  .github/workflows/build-images.yml
Labels: area:dev-tools

#22117 Allow searching/filtering Browse Task Instances view by map_index
  airflow/www/views.py
Labels: area:webserver, okay to merge

#22120 Don't try to create automigration for celery or session tables
  airflow/migrations/env.py
Labels: full tests needed

#22121 Fix RTIF test against the apply-expand
  tests/models/test_renderedtifields.py
Labels: changelog:skip, full tests needed

#21735 Add webserver PodDisruptionBudget
  chart/templates/webserver/webserver-poddisruptionbudget.yaml
  chart/tests/test_pdb_webserver.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#22139 Rename wrongly named script for pushing prod images
  scripts/ci/images/ci_push_empty_prod_images.sh
Labels: area:dev-tools

#22140 Switches backend to sqlite when building images
  .github/workflows/build-images.yml
Labels: area:dev-tools

#22142 Fix location of --push directive for prod images
  scripts/ci/libraries/_build_images.sh
Labels: area:dev-tools, full tests needed

#22126 Add more template fields to `DbtCloudJobRunOperator`
  airflow/providers/dbt/cloud/operators/dbt.py
Labels: area:providers, okay to merge

#22136 Pass explicit overrides in `DbtCloudJobRunOperator` to `DbtCloudHook`
  airflow/providers/dbt/cloud/operators/dbt.py
  tests/providers/dbt/cloud/operators/test_dbt_cloud.py
Labels: area:providers

#22135 Fixed permissions error in Docker image by adding read permission to entrypoint
  Dockerfile
Labels: area:production-image, full tests needed

#22124 Update cloud_composer.rst
  docs/apache-airflow-providers-google/operators/cloud/cloud_composer.rst
Labels: provider:Google, area:providers, kind:documentation, okay to merge

#21555 Add queue button to click-on-DagRun interface.
  airflow/api/common/mark_tasks.py
  airflow/www/static/js/dag.js
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
  tests/api/common/test_mark_tasks.py
Labels: area:webserver, area:API, okay to merge, area:UI

#22156 Reduce rerendering of TaskName component
  airflow/www/static/js/tree/TaskName.jsx
  airflow/www/static/js/tree/renderTaskRows.jsx
Labels: area:webserver, okay to merge, area:UI

#22155 Don't try to expand mapped tasks if they can't run
  airflow/models/dagrun.py
  airflow/ti_deps/dep_context.py
  airflow/ti_deps/deps/mapped_task_expanded.py
  tests/models/test_dagrun.py
Labels: area:scheduler/executor, full tests needed, AIP-42

#22137 bugfix
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/operators/ecs.py
Labels: provider:AWS, area:providers, okay to merge

#22172 Conditional skipping of provider tag when it exists
  dev/provider_packages/tag_providers.sh
Labels: area:dev-tools, okay to merge

#22143 Use jobs check command for liveness probe check in airflow 2
  chart/templates/_helpers.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#22157 Fix RedshiftDataOperator and update doc
  airflow/providers/amazon/aws/example_dags/example_redshift_data_execute_sql.py
  airflow/providers/amazon/aws/operators/redshift_data.py
  docs/apache-airflow-providers-amazon/operators/redshift_data.rst
  tests/providers/amazon/aws/operators/test_redshift_data.py
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#22158 Add pip_install_options to PythonVirtualenvOperator
  airflow/operators/python.py
  airflow/utils/python_virtualenv.py
  tests/operators/test_python.py
  tests/utils/test_python_virtualenv.py
Labels: full tests needed, area:core-operators

#22178 Switch unit tests for oss operator and oss sensor in alibaba provider to use mocks (#17617)
  tests/providers/alibaba/cloud/operators/test_oss.py
  tests/providers/alibaba/cloud/sensors/test_oss_key.py
Labels: area:providers

#22170 Improve StatusBox rendering in Grid view
  airflow/www/package.json
  airflow/www/static/js/tree/StatusBox.jsx
  airflow/www/static/js/tree/dagRuns/Bar.jsx
  airflow/www/static/js/tree/renderTaskRows.jsx
  airflow/www/static/js/tree/renderTaskRows.test.jsx
Labels: area:webserver, okay to merge, area:UI

#22112 Add map_index to XCom model and interface
  airflow/migrations/versions/0102_c306b5b5ae4a_switch_xcom_table_to_use_run_id.py
  airflow/models/xcom.py
  airflow/operators/trigger_dagrun.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/dbt/cloud/operators/dbt.py
  airflow/providers/google/cloud/links/base.py
  airflow/providers/google/cloud/links/dataproc.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/qubole/operators/qubole.py
  airflow/www/views.py
  docs/apache-airflow/migrations-ref.rst
  tests/models/test_xcom.py
  tests/serialization/test_dag_serialization.py
Labels: provider:Google, provider:Azure, provider:AWS, area:providers, area:serialization, full tests needed, area:core-operators, AIP-42

#22167 Update links to new Grid/Graph view instead of relying on redirects
  UPDATING.md
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/models/dag.py
  airflow/www/static/js/calendar.js
  airflow/www/static/js/dag.js
  airflow/www/static/js/dags.js
  airflow/www/templates/airflow/calendar.html
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/sensors/test_external_task_sensor.py
Labels: area:webserver, full tests needed, area:UI

#21868 Show DagModel details.
  airflow/www/templates/airflow/dag_details.html
  airflow/www/views.py
Labels: area:webserver, okay to merge, area:UI

#22181 Remove Snowflake limits
  airflow/providers/snowflake/hooks/snowflake.py
  setup.py
Labels: full tests needed

#22159 Use relation in TI join to RTIF
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:API, okay to merge

#22145 Avoid trying to kill container when it did not succeed for Docker
  airflow/providers/docker/operators/docker.py
Labels: area:providers, okay to merge

#22187 Remove some really old Airflow 1.10 compatibility shims
  scripts/in_container/check_environment.sh
  scripts/in_container/entrypoint_ci.sh
  tests/providers/cncf/kubernetes/operators/test_spark_kubernetes_system.py
  tests/providers/snowflake/operators/test_snowflake_system.py
  tests/test_utils/system_tests_class.py
Labels: area:providers, area:dev-tools, full tests needed, provider:Snowflake

#22183 Remove extra initialization overhead for mypy/flake
  CI.rst
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_runs.sh
  scripts/ci/pre_commit/pre_commit_check_license.sh
  scripts/ci/pre_commit/pre_commit_flake8.sh
  scripts/ci/pre_commit/pre_commit_migration_reference.sh
  scripts/ci/pre_commit/pre_commit_mypy.sh
  scripts/ci/provider_packages/ci_install_and_test_provider_packages.sh
  scripts/in_container/entrypoint_ci.sh
Labels: area:dev-tools, full tests needed

#22075 Prepare for Python 3.10 adding
  BREEZE.rst
  breeze-complete
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_ci/find_newer_dependencies.py
  dev/breeze/tests/test_cache.py
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, full tests needed

#22190 Remove warnings from kubernetes tests
  scripts/ci/libraries/_kind.sh
Labels: area:dev-tools, full tests needed

#22192 Bump chart version to 1.6.0-dev
  chart/Chart.yaml
Labels: area:helm-chart, okay to merge

#22198 Move last chart test to `tests`
  tests/charts/test_pdb_webserver.py
Labels: full tests needed
