Repository apache/airflow, pull requests merged in 2022-04, with the labels that each got.

#22672 Add waiting for ARM instance docker connection
  scripts/ci/images/ci_start_arm_instance_and_connect_to_docker.sh
  scripts/ci/images/ci_stop_arm_instance.sh
Labels: area:dev-tools, full tests needed

#22674 Standardize the `pre-commit` config
  .pre-commit-config.yaml
Labels: area:dev-tools

#22619 Add possibility to create users in LDAP mode
  airflow/www/views.py
Labels: area:webserver

#22344 ci prepare-build-cache
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/ci/build_image.py
  dev/breeze/src/airflow_breeze/ci/build_params.py
  dev/breeze/src/airflow_breeze/prod/prod_params.py
Labels: area:dev-tools

#22678 Refine 'task not mapped' warning
  airflow/models/mappedoperator.py
Labels: full tests needed, AIP-42

#22686 Standardize the `pre-commit` config
  .pre-commit-config.yaml
Labels: area:dev-tools, full tests needed

#22690 Make grid view aware of DAG pause/unpause
  airflow/www/static/js/dag.js
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/context/autorefresh.jsx
Labels: area:webserver, okay to merge, area:UI

#22610 Fix StatsD casing and helm chart StatsD comments
  CHANGELOG.txt
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/stats.py
  chart/templates/_helpers.yaml
  chart/values.schema.json
  chart/values.yaml
  docs/apache-airflow/logging-monitoring/metrics.rst
  docs/spelling_wordlist.txt
  tests/core/test_stats.py
Labels: area:helm-chart, kind:documentation, changelog:skip, full tests needed

#22305 Add dag-processor cli command
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_processor_command.py
  airflow/dag_processing/manager.py
  airflow/jobs/scheduler_job.py
  tests/cli/commands/test_dag_processor_command.py
  tests/dag_processing/test_manager.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, area:CLI, full tests needed, AIP-43

#21556 Revert Handle stuck queued tasks in Celery for db backend
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:scheduler/executor, full tests needed

#22706 Fix typo
  docs/apache-airflow/concepts/dags.rst
Labels: kind:documentation

#22703 Changed self-destruct log level to ERROR instead of WARNING
  airflow/jobs/local_task_job.py
Labels: area:scheduler/executor

#22682 Add jenkins connection doc
  docs/apache-airflow-providers-jenkins/connections.rst
  docs/apache-airflow-providers-jenkins/index.rst
Labels: area:providers, kind:documentation

#22548 Adding ArangoDB Provider
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/arangodb/CHANGELOG.rst
  airflow/providers/arangodb/__init__.py
  airflow/providers/arangodb/example_dags/__init__.py
  airflow/providers/arangodb/example_dags/example_arangodb.py
  airflow/providers/arangodb/hooks/__init__.py
  airflow/providers/arangodb/hooks/arangodb.py
  airflow/providers/arangodb/operators/__init__.py
  airflow/providers/arangodb/operators/arangodb.py
  airflow/providers/arangodb/provider.yaml
  airflow/providers/arangodb/sensors/__init__.py
  airflow/providers/arangodb/sensors/arangodb.py
  docs/apache-airflow-providers-arangodb/commits.rst
  docs/apache-airflow-providers-arangodb/connections/arangodb.rst
  docs/apache-airflow-providers-arangodb/index.rst
  docs/apache-airflow-providers-arangodb/installing-providers-from-sources.rst
  docs/apache-airflow-providers-arangodb/operators/index.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/arangodb/__init__.py
  tests/providers/arangodb/hooks/__init__.py
  tests/providers/arangodb/hooks/test_arangodb.py
  tests/providers/arangodb/operators/__init__.py
  tests/providers/arangodb/operators/test_arangodb.py
  tests/providers/arangodb/sensors/__init__.py
  tests/providers/arangodb/sensors/test_arangodb.py
Labels: area:providers, area:dev-tools, kind:documentation, full tests needed

#22695 Fix Breeze2 autocomplete
  .pre-commit-config.yaml
  .rat-excludes
  dev/breeze/autocomplete/Breeze2-complete-bash.sh
  dev/breeze/autocomplete/Breeze2-complete-fish.sh
  dev/breeze/autocomplete/Breeze2-complete-zsh.sh
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
Labels: area:dev-tools, full tests needed

#22694 Builders for ARM images should be cleaned before/after for reuse
  scripts/ci/images/ci_start_arm_instance_and_connect_to_docker.sh
  scripts/ci/images/ci_stop_arm_instance.sh
Labels: area:dev-tools, full tests needed

#22687 Cleanup of build-image scripts
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  scripts/ci/images/ci_build_prod_image_on_ci.sh
  scripts/ci/images/ci_pull_prod_image_on_ci.sh
  scripts/ci/tools/build_dockerhub.sh
Labels: area:dev-tools

#22608 extra condition to check returned object not None
  airflow/providers/jenkins/operators/jenkins_job_trigger.py
Labels: area:providers, okay to merge

#22588 Print configuration on scheduler startup.
  airflow/cli/commands/scheduler_command.py
  airflow/utils/cli.py
  docs/apache-airflow/howto/set-config.rst
  tests/cli/commands/test_scheduler_command.py
Labels: area:CLI, full tests needed

#22722 2.2.5 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CHANGELOG.txt
  README.md
  UPDATING.md
  docs/apache-airflow/installation/supported-versions.rst
  scripts/ci/pre_commit/supported_versions.py
Labels: area:dev-tools, kind:documentation, changelog:skip, full tests needed

#22720 Fix starting standalone dag processor when running as a daemon
  airflow/cli/commands/dag_processor_command.py
  airflow/dag_processing/manager.py
Labels: area:scheduler/executor, area:CLI, full tests needed

#22710 Add autodetect arg in BQCreateExternalTable Operator
  airflow/providers/google/cloud/operators/bigquery.py
  docs/apache-airflow-providers-google/operators/cloud/bigquery.rst
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google, area:providers, okay to merge

#22726 Properly setup Breeze2 completion in bash if it is first completion
  dev/breeze/src/airflow_breeze/breeze.py
Labels: area:dev-tools, okay to merge

#22495 Modify transfer operators to handle more data
  airflow/providers/google/cloud/transfers/cassandra_to_gcs.py
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  tests/providers/google/cloud/transfers/test_sql_to_gcs.py
Labels: provider:Google, area:providers

#22691 List Mapped Instances in Task Details Panel
  airflow/www/package.json
  airflow/www/static/js/tree/Table.jsx
  airflow/www/static/js/tree/api/index.js
  airflow/www/static/js/tree/api/useMappedInstances.js
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/Details.jsx
  airflow/www/static/js/tree/details/content/taskInstance/MappedInstances.jsx
  airflow/www/static/js/tree/details/content/taskInstance/Nav.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/details/index.jsx
  airflow/www/templates/airflow/dag.html
  airflow/www/yarn.lock
Labels: area:webserver, okay to merge, area:UI, AIP-42

#22735 Docs: Fix example usage for `AzureCosmosDocumentSensor`
  airflow/providers/microsoft/azure/sensors/cosmos.py
Labels: provider:Azure, area:providers, okay to merge

#22736 Unvendor cgroupspy
  airflow/_vendor/cgroupspy/__init__.py
  airflow/_vendor/cgroupspy/contenttypes.py
  airflow/_vendor/cgroupspy/controllers.py
  airflow/_vendor/cgroupspy/interfaces.py
  airflow/_vendor/cgroupspy/nodes.py
  airflow/_vendor/cgroupspy/trees.py
  airflow/_vendor/cgroupspy/utils.py
  airflow/_vendor/vendor.md
  airflow/task/task_runner/cgroup_task_runner.py
  licenses/LICENSE-cgroupspy.txt
  scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  setup.cfg
  setup.py
Labels: area:scheduler/executor, area:dev-tools, full tests needed

#22743 Assert run_as_user in test_localtaskjob_heartbeat
  tests/jobs/test_local_task_job.py
Labels: area:scheduler/executor

#22704 log backfill exceptions to sentry
  airflow/sentry.py
Labels: full tests needed

#22745 Fix wrong reference in tracking-user-activity.rst
  docs/apache-airflow/logging-monitoring/tracking-user-activity.rst
Labels: kind:documentation, type:doc-only

#22711 Fix Localexecutor's parallelism option
  airflow/executors/local_executor.py
Labels: area:scheduler/executor, full tests needed

#22742 Improve Grid view selection rerenders
  airflow/www/static/js/tree/StatusBox.jsx
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/dagRuns/Bar.jsx
  airflow/www/static/js/tree/dagRuns/index.jsx
  airflow/www/static/js/tree/renderTaskRows.jsx
Labels: area:webserver, okay to merge, area:UI

#22752 Pre-upgrade check for missing dagrun should know version
  airflow/utils/db.py
Labels: full tests needed

#22757 Fix state and try number for failed mapped tasks
  airflow/www/utils.py
Labels: area:webserver, okay to merge, AIP-42

#22763 Remove extraneous treeData fields
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/Details.jsx
  airflow/www/static/js/tree/details/content/taskInstance/Nav.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/taskActions/MarkFailed.jsx
  airflow/www/static/js/tree/treeDataUtils.js
  airflow/www/utils.py
Labels: area:webserver, okay to merge, area:UI

#22768 Move tests under correct test class
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#22583 Consider mapped upstream in TriggerRuleDep
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/models/xcom.py
  airflow/models/xcom_arg.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Labels: full tests needed, AIP-42

#22518 Remove task group mapping for now
  airflow/decorators/task_group.py
  airflow/models/baseoperator.py
  airflow/models/taskmixin.py
  airflow/serialization/serialized_objects.py
  airflow/utils/task_group.py
  tests/serialization/test_dag_serialization.py
  tests/utils/test_task_group.py
Labels: area:serialization, AIP-42

#22274 Add map_index to Log model
  airflow/migrations/versions/0107_75d5ed6c2b43_add_map_index_to_log.py
  airflow/models/log.py
  docs/apache-airflow/migrations-ref.rst
Labels: full tests needed, area:core, AIP-42

#22780 Remove json parse for gantt chart
  airflow/www/templates/airflow/gantt.html
Labels: area:webserver, okay to merge, area:UI

#22766 Add summary of runs to dag details
  airflow/www/static/js/tree/details/content/Dag.jsx
Labels: area:webserver, okay to merge, area:UI

#22783 Prevent meta name clash for task instances
  airflow/www/static/js/tree/details/content/taskInstance/Nav.jsx
  airflow/www/templates/airflow/dag.html
Labels: area:webserver, okay to merge, area:UI

#22760 Pickle dag exception string fix
  airflow/utils/cli.py
Labels: full tests needed

#22764 No need to load whole ti in current_state
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: full tests needed

#22683 Correctly apply defaults to mapped task flow
  airflow/decorators/base.py
  airflow/models/baseoperator.py
  tests/models/test_baseoperator.py
Labels: full tests needed, AIP-42

#22772 Fail LocalFilesystemToGCSOperator if src does not exist
  airflow/providers/google/cloud/transfers/local_to_gcs.py
  tests/providers/google/cloud/transfers/test_local_to_gcs.py
Labels: provider:Google, area:providers, okay to merge

#22786 Fix SQLALchemy warning about conflicting relationships
  airflow/models/renderedtifields.py
Labels: full tests needed

#22792 Serialize mapped operator expansion kwargs logic
  airflow/decorators/base.py
  airflow/models/mappedoperator.py
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, full tests needed

#22791 Move CTAS logic into a CTAS function in db pre-upgrade
  airflow/utils/db.py
Labels: changelog:skip, full tests needed

#22740 Switch to `pipx` as the only installation Breeze2 method
  .pre-commit-config.yaml
  BREEZE.rst
  Breeze2
  STATIC_CODE_CHECKS.rst
  breeze-complete
  dev/breeze/README.md
  dev/breeze/doc/adr/0002-implement-standalone-python-command.md
  dev/breeze/doc/adr/0003-bootstrapping-virtual-environment.md
  dev/breeze/doc/adr/0004-using-docker-images-as-test-environment.md
  dev/breeze/doc/adr/0005-preventing-using-contributed-code-when-building-images.md
  dev/breeze/doc/adr/0006-using-root-user-and-fixing-ownership-for-ci-container.md
  dev/breeze/doc/adr/0007-using-database-volumes-for-backends.md
  dev/breeze/doc/adr/0008-fixing-group-permissions-before-build.md
  dev/breeze/doc/adr/0009-exclude-all-files-from-dockerignore-by-default.md
  dev/breeze/doc/adr/0010-use-pipx-to-install-breeze.md
  dev/breeze/setup.cfg
  dev/breeze/setup.py
  dev/breeze/src/airflow_breeze/__init__.py
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  dev/breeze/src/airflow_breeze/shell/enter_shell.py
  dev/breeze/src/airflow_breeze/utils/confirm.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/reinstall.py
  dev/breeze/tests/test_find_airflow_directory.py
  scripts/ci/pre_commit/pre_commit_update_breeze_config_hash.py
Labels: area:dev-tools, full tests needed

#22788 Fix sqlalchemy warning about coercing subquery for use in IN()
  airflow/models/renderedtifields.py
Labels: full tests needed

#22685 Fix processor cleanup on DagFileProcessorManager
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  tests/dag_processing/test_manager.py
Labels: area:scheduler/executor, full tests needed

#22667 Pass custom headers through in SES email backend
  airflow/providers/amazon/aws/utils/emailer.py
  tests/providers/amazon/aws/utils/test_emailer.py
Labels: provider:AWS, area:providers, okay to merge

#22679 Expand mapped tasks at DagRun.Veriy_integrity
  airflow/models/dagrun.py
  airflow/models/mappedoperator.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
Labels: full tests needed

#22770 Fix `email_on_failure` with `render_template_as_native_obj`
  airflow/models/abstractoperator.py
  airflow/models/dag.py
  airflow/models/taskinstance.py
  tests/models/test_dag.py
  tests/models/test_taskinstance.py
Labels: full tests needed

#22812 Don't show irrelevant/duplicated/"internal" Task attrs in UI
  airflow/models/abstractoperator.py
  airflow/models/mappedoperator.py
  airflow/www/views.py
Labels: area:webserver, full tests needed

#22814 Make ElasticSearch Provider compatible for Airflow<2.3
  airflow/providers/elasticsearch/log/es_task_handler.py
Labels: area:providers, area:logging, okay to merge

#22817 Check if map_index is accidentally used in providers.
  scripts/ci/pre_commit/pre_commit_check_2_1_compatibility.py
Labels: area:dev-tools

#22794 Give up on trying to recreate task_id logic
  airflow/decorators/base.py
  airflow/models/baseoperator.py
  airflow/models/mappedoperator.py
  airflow/serialization/serialized_objects.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, full tests needed

#22818 Correctly fetch logs for mapped task instances
  airflow/www/static/js/ti_log.js
  airflow/www/templates/airflow/ti_log.html
Labels: area:webserver, okay to merge, area:UI

#22641 Disable SLAs for mapped operators
  airflow/models/mappedoperator.py
  tests/models/test_baseoperator.py
Labels: area:scheduler/executor, full tests needed

#22841 Add 2.2.5 to revision heads map
  airflow/utils/db.py
Labels: full tests needed

#22839 Temporarily disable task_fail pre-upgrade duplicates check
  airflow/utils/db.py
Labels: full tests needed

#22837 Support conf param override for backfill runs
  airflow/jobs/backfill_job.py
  tests/jobs/test_backfill_job.py
Labels: area:scheduler/executor, full tests needed

#22848 Disable foreign keys on sqlite when modifying dag_run
  airflow/migrations/utils.py
  airflow/migrations/versions/0099_f9da662e7089_add_task_log_filename_template_model.py
Labels: full tests needed

#22851 Revert "Print configuration on scheduler startup. (#22588)"
  airflow/cli/commands/scheduler_command.py
  airflow/utils/cli.py
  docs/apache-airflow/howto/set-config.rst
  tests/cli/commands/test_scheduler_command.py
Labels: area:CLI, kind:documentation

#22855 Bring back limits on branches/tags builds in Airlfow repo
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#22844 Docs: `remote_log_conn_id` can also be used to write logs
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Labels: changelog:skip, full tests needed

#22756 Add more fields to REST API dags/dag_id/details endpoint
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_schema.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/schemas/test_dag_schema.py
Labels: area:API

#22856 fix message in prepare_provider_packages.py
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools, changelog:skip

#22808 Add example DAG for demonstrating usage of GCS sensors
  airflow/providers/google/cloud/example_dags/example_gcs.py
  airflow/providers/google/common/utils/id_token_credentials.py
  docs/apache-airflow-providers-google/operators/cloud/gcs.rst
Labels: okay to merge

#22862 Add XComArg to lazy-imported list of Airflow module
  airflow/__init__.py
Labels: full tests needed, AIP-42

#22860 Add pre-commit to check `REVISION_HEADS_MAP`
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  breeze-complete
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/pre_commit_version_heads_map.py
Labels: area:dev-tools, full tests needed

#22182 Add securityContext config for Redis to helm chart
  chart/templates/redis/redis-statefulset.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_security_context.py
Labels: area:helm-chart, type:new-feature, full tests needed

#22698 support dag serialization with custom ti_deps rules
  airflow/plugins_manager.py
  airflow/serialization/serialized_objects.py
  tests/cli/commands/test_plugins_command.py
  tests/plugins/test_plugin.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization

#22701 Fixed backfill interference with scheduler
  airflow/jobs/backfill_job.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#22332 Events Timetable
  airflow/timetables/events.py
  tests/timetables/test_events_timetable.py
Labels: full tests needed

#22858 Speed up `has_access` decorator by ~200ms
  .codespellignorelines
  airflow/www/auth.py
  airflow/www/fab_security/sqla/models.py
  tests/test_utils/api_connexion_utils.py
  tests/www/test_security.py
  tests/www/views/test_views_base.py
Labels: area:webserver, okay to merge

#22850 Fix pre-upgrade check for rows dangling w.r.t. dag_run
  airflow/utils/db.py
Labels: area:CLI, full tests needed

#22866 Fix Grid view font sizing
  airflow/www/static/css/bootstrap-theme.css
  airflow/www/static/js/tree/InstanceTooltip.jsx
  airflow/www/static/js/tree/StatusBox.jsx
  airflow/www/static/js/tree/TaskName.jsx
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/dagRuns/Bar.jsx
  airflow/www/static/js/tree/dagRuns/Tooltip.jsx
  airflow/www/static/js/tree/dagRuns/index.jsx
  airflow/www/static/js/tree/details/Header.jsx
  airflow/www/static/js/tree/details/content/Dag.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/index.jsx
Labels: area:webserver, okay to merge, area:UI

#22845 Cleanup dup code now that k8s provider requires 2.3.0+
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, okay to merge, area:kubernetes

#22671 Support for sorting DAGs in the web UI
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  tests/www/views/test_views_home.py
Labels: area:webserver, okay to merge, area:UI

#22877 Adjust DAG/TI details panel
  airflow/www/static/js/tree/api/index.js
  airflow/www/static/js/tree/api/useDag.js
  airflow/www/static/js/tree/details/content/Dag.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/Details.jsx
  airflow/www/templates/airflow/dag.html
Labels: area:webserver, okay to merge, area:UI, AIP-38, AIP-42

#22883 Support unknown backends in entrypoint_prod.sh
  Dockerfile
  scripts/docker/entrypoint_prod.sh
Labels: area:dev-tools, area:production-image, full tests needed

#22885 Correctly handle HTTP exception for Databricks Repos operations
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/hooks/databricks_base.py
Labels: area:providers, okay to merge

#22886 Databricks SQL operators are now Python 3.10 compatible
  airflow/providers/databricks/provider.yaml
  docs/apache-airflow-providers-databricks/index.rst
  setup.py
  tests/providers/databricks/operators/test_databricks_sql.py
Labels: area:providers, kind:documentation, full tests needed

#20549 Remove unnecessary python 3.6 conditionals
  airflow/__init__.py
  airflow/cli/cli_parser.py
  airflow/configuration.py
  airflow/logging_config.py
  airflow/migrations/db_types.py
  airflow/utils/yaml.py
  setup.cfg
  tests/cli/commands/test_triggerer_command.py
  tests/jobs/test_triggerer_job.py
  tests/triggers/test_temporal.py
Labels: area:scheduler/executor, area:CLI, area:dev-tools, full tests needed

#22888 Remove breeze legacy build image from ci
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/build_image/ci/build_ci_image.py
  dev/breeze/src/airflow_breeze/build_image/ci/build_ci_params.py
  dev/breeze/src/airflow_breeze/build_image/prod/build_prod_image.py
  dev/breeze/src/airflow_breeze/build_image/prod/build_prod_params.py
  dev/breeze/src/airflow_breeze/shell/shell_params.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/registry.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  images/breeze/output-build-image.svg
  images/breeze/output-build-prod-image.svg
  scripts/ci/images/ci_push_ci_images.sh
  scripts/ci/images/ci_push_empty_ci_images.sh
  scripts/ci/images/ci_push_empty_prod_images.sh
  scripts/ci/libraries/_build_images.sh
Labels: area:dev-tools, full tests needed

#22891 Fix "force_answers" parameter to be "yes" rather than "true"
  dev/refresh_images.sh
Labels: area:dev-tools, okay to merge

#22882 MSSQLToGCSOperator fails: datetime is not JSON Serializable
  airflow/providers/google/cloud/transfers/mssql_to_gcs.py
  tests/providers/google/cloud/transfers/test_mssql_to_gcs.py
Labels: provider:Google, area:providers, okay to merge

#22896 update INTHEWILD
  INTHEWILD.md
Labels: okay to merge

#22389 make operator's execution_timeout configurable
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  tests/core/test_configuration.py
Labels: full tests needed

#22894 Add test case for clearTaskInstance call with invalid Task IDs.
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:API, changelog:skip, okay to merge

#22849 Allow using mapped upstream's aggregated XCom
  airflow/models/mappedoperator.py
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: full tests needed, AIP-42

#22898 Handle invalid JSON metadata in get_logs_with_metadata endpoint.
  airflow/www/views.py
  tests/www/views/test_views_log.py
Labels: area:webserver, okay to merge

#22901 Catch error in Breeze when docker is not running
  dev/breeze/src/airflow_breeze/shell/enter_shell.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools, okay to merge

#22813 Add SmoothOperator
  airflow/operators/smooth.py
  docs/spelling_wordlist.txt
Labels: full tests needed, area:core-operators

#22919 typo in BREEZE.rst
  BREEZE.rst
Labels: area:dev-tools

#22920 implements #22859 - Add .sql as templatable extension
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers, okay to merge

#22909 Fix bug where dynamically mapped tasks got set to REMOVED
  airflow/decorators/base.py
  airflow/models/dagrun.py
  airflow/models/mappedoperator.py
  airflow/serialization/serialized_objects.py
  tests/models/test_dagrun.py
Labels: full tests needed, AIP-42

#22923 Remove installation instructions from Breeze's cheatsheet
  dev/breeze/src/airflow_breeze/utils/visuals.py
Labels: area:dev-tools, okay to merge

#22926 Fix changelog spelling
  CHANGELOG.txt
Labels: okay to merge

#22737 Deprecate `S3PrefixSensor` and `S3KeySizeSensor` in favor of `S3KeySensor`
  airflow/providers/amazon/aws/example_dags/example_s3_bucket.py
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/sensors/s3.py
  airflow/sensors/s3_prefix_sensor.py
  docs/apache-airflow-providers-amazon/operators/s3.rst
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/providers/amazon/aws/sensors/test_s3_key.py
  tests/providers/amazon/aws/sensors/test_s3_prefix.py
Labels: provider:AWS, area:providers, kind:documentation, full tests needed, area:core-operators

#22929 Move database config move note to `main` section
  UPDATING.md
Labels: okay to merge

#22930 Use full version string for deprecated config
  airflow/configuration.py
Labels: full tests needed

#22937 Fix column names in "moved" tables created pre-upgrade
  airflow/utils/db.py
Labels: full tests needed

#22925 Update Dockerfile - set proper airflow version
  Dockerfile
Labels: area:production-image

#22876 cache and typo fix
  .github/workflows/ci.yml
  BREEZE.rst
  breeze-legacy
Labels: area:dev-tools, okay to merge

#22904 Call mapped_dependants only on the original task
  airflow/jobs/backfill_job.py
  airflow/models/taskmixin.py
  tests/dags/test_mapped_classic.py
  tests/dags/test_mapped_taskflow.py
Labels: area:scheduler/executor, full tests needed, AIP-42

#21092 Delete old Spark Application in SparkKubernetesOperator
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_spark_kubernetes.py
Labels: area:providers, area:kubernetes

#22388 Helm support local kubernetes executor
  chart/README.md
  chart/templates/_helpers.yaml
  chart/templates/configmaps/configmap.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/templates/rbac/security-context-constraint-rolebinding.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_basic_helm_chart.py
Labels: area:helm-chart, type:new-feature, full tests needed

#22953 Remove badly merged conflict for BREEZE.rst
  BREEZE.rst
Labels: area:dev-tools

#22939 Fix regression in pool metrics
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor

#22952 Ensure that BackfillJob re-runs existing mapped task instances
  airflow/jobs/backfill_job.py
  airflow/models/dagrun.py
  airflow/models/mappedoperator.py
  tests/jobs/test_backfill_job.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor, changelog:skip, full tests needed, AIP-42

#22950 Remove Grid labels and differentiate runs from tasks more
  airflow/www/static/js/tree/dagRuns/Bar.jsx
  airflow/www/static/js/tree/dagRuns/index.jsx
Labels: area:webserver, okay to merge, area:UI

#22960 Remove duplicate Apache License line in `ci.yml`
  .github/workflows/ci.yml
Labels: area:dev-tools

#22802 Bug Fix for `apache-airflow-providers-jenkins` `JenkinsJobTriggerOperator`
  airflow/providers/jenkins/operators/jenkins_job_trigger.py
Labels: area:providers, okay to merge

#22963 Hide pagination when data is a single page
  airflow/www/static/js/tree/Table.jsx
Labels: area:webserver, okay to merge, area:UI

#22962 Fix screenshot generation for dumb terminal
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
Labels: area:dev-tools, full tests needed

#22832 Deprecate `DummyOperator` in favor of `EmptyOperator`
  airflow/decorators/base.py
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  airflow/models/dagrun.py
  airflow/models/mappedoperator.py
  airflow/operators/dummy.py
  airflow/operators/empty.py
  airflow/serialization/serialized_objects.py
  dev/provider_packages/prepare_provider_packages.py
  tests/operators/test_dummy.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, full tests needed, area:core-operators

#22951 Refactor airbyte provider tests to use assert_has_calls
  tests/providers/airbyte/hooks/test_airbyte.py
Labels: area:providers, okay to merge

#22964 Allow DagParam to hold falsy values
  airflow/models/dag.py
  airflow/models/param.py
  tests/models/test_dag.py
Labels: type:bug-fix, full tests needed

#22936 Fix BigQueryGetDataOperator Response Serialisation
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers, okay to merge

#22809 Add template support for external_task_ids.
  airflow/sensors/external_task.py
  tests/sensors/test_external_task_sensor.py
Labels: full tests needed, area:core-operators

#22051 Support glob syntax in .airflowignore files (#21392)
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/models/dagbag.py
  airflow/utils/file.py
  docs/apache-airflow/concepts/dags.rst
  docs/apache-airflow/howto/dynamic-dag-generation.rst
  docs/apache-airflow/modules_management.rst
  setup.cfg
  tests/dags/.airflowignore
  tests/dags/.airflowignore_glob
  tests/dags/subdir2/.airflowignore_glob
  tests/dags/subdir2/subdir3/test_nested_dag.py
  tests/jobs/test_scheduler_job.py
  tests/plugins/test_plugin_ignore.py
  tests/utils/test_file.py
Labels: area:plugins, kind:documentation, full tests needed

#22979 Prepare for RC2 release of March Databricks provider
  airflow/providers/databricks/CHANGELOG.rst
  docs/apache-airflow-providers-databricks/commits.rst
Labels: area:providers, kind:documentation, okay to merge

#22966 Update tree doc references to grid
  README.md
  airflow/providers/dingding/example_dags/example_dingding.py
  docs/apache-airflow/img/grid.png
  docs/apache-airflow/img/grid_instance_details.png
  docs/apache-airflow/img/grid_mapped_task.png
  docs/apache-airflow/img/grid_run_details.png
  docs/apache-airflow/img/grid_task_group.png
  docs/apache-airflow/img/task_manual_vs_scheduled.png
  docs/apache-airflow/img/tree.png
  docs/apache-airflow/ui.rst
  tests/providers/dingding/hooks/test_dingding.py
Labels: area:providers, area:helm-chart, kind:documentation, changelog:skip, okay to merge, area:UI, AIP-42

#22984 Mapped task rendered templates view
  airflow/models/taskinstance.py
Labels: area:webserver, full tests needed, AIP-42

#22872 Support importing connections from files with ".yml" extension
  airflow/secrets/local_filesystem.py
  tests/cli/commands/test_connection_command.py
  tests/secrets/test_local_filesystem.py
Labels: area:CLI, area:secrets

#22954 Fail if task does not push XCom for downstream
  airflow/exceptions.py
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: full tests needed, AIP-42

#22988 Add a clipboard button to grid details
  airflow/www/static/js/tree/Clipboard.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/Details.jsx
Labels: area:webserver, okay to merge, area:UI

#22990 Drop "airflow moved" tables in command `db reset`
  airflow/utils/db.py
  tests/utils/test_db.py
Labels: full tests needed

#22811 AIP-47 Migrate ElasticSearch into new system tests
  docs/apache-airflow-providers-elasticsearch/connections/elasticsearch.rst
  tests/system/providers/elasticsearch/example_elasticsearch_query.py
  tests/system/utils/__init__.py
Labels: full tests needed

#22944 Fix trigger event payload is not persisted in db
  airflow/models/taskinstance.py
  tests/models/test_trigger.py
Labels: full tests needed

#22994 Fix tooltip for mapped tasks
  airflow/www/static/js/tree/InstanceTooltip.jsx
Labels: area:webserver, okay to merge, area:UI

#22753 migrate system test gcs_to_bigquery into new design
  docs/apache-airflow-providers-google/operators/cloud/gcs.rst
  tests/providers/google/cloud/transfers/test_gcs_to_bigquery_system.py
  tests/system/providers/google/gcs/example_gcs_to_bigquery.py
Labels: provider:Google, area:providers, kind:documentation

#22688 connection add CLI - validate the input params
  airflow/cli/commands/connection_command.py
  tests/cli/commands/test_connection_command.py
Labels: area:CLI, okay to merge

#22989 Add option `--skip-init` to db reset command
  airflow/cli/cli_parser.py
  airflow/cli/commands/db_command.py
  airflow/utils/db.py
  tests/cli/commands/test_db_command.py
  tests/utils/test_db.py
Labels: area:CLI, full tests needed

#22999 Fix dag run date in details header
  airflow/www/static/js/tree/details/Header.jsx
Labels: area:webserver, changelog:skip, okay to merge, area:UI

#22959 Add doc and sample dag for S3CopyObjectOperator and S3DeleteObjectsOperator
  airflow/providers/amazon/aws/example_dags/example_s3.py
  airflow/providers/amazon/aws/operators/s3.py
  docs/apache-airflow-providers-amazon/operators/s3.rst
Labels: provider:AWS, area:providers, kind:documentation

#22871 Add k8s container's error message in airflow exception
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, okay to merge, area:kubernetes

#22993 Skip log template sync if table doesn't exist
  airflow/utils/db.py
Labels: full tests needed

#22924 Add pre-upgrade check for dangling TI references
  airflow/utils/db.py
Labels: full tests needed

#22975 Resolve XComArgs before trying to unmap MappedOperators
  airflow/decorators/base.py
  airflow/jobs/local_task_job.py
  airflow/models/abstractoperator.py
  airflow/models/mappedoperator.py
  airflow/models/xcom_arg.py
  docs/apache-airflow/concepts/dynamic-task-mapping.rst
  tests/decorators/test_python.py
  tests/models/test_baseoperator.py
Labels: kind:documentation, full tests needed, AIP-42

#22928 Update ImportError items instead of deleting and recreating them
  airflow/dag_processing/processor.py
  tests/dag_processing/test_processor.py
Labels: area:scheduler/executor, full tests needed

#23002 Give useful repr to _LazyXComAccess class
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor, full tests needed, AIP-42

#23006 Note that value received in reduce is not a list
  docs/apache-airflow/concepts/dynamic-task-mapping.rst
Labels: kind:documentation, okay to merge, AIP-42

#23007 Don't add planned tasks for legacy DAG runs
  airflow/www/views.py
Labels: area:webserver, okay to merge

#23009 Fix download logs from Grid/graph view
  airflow/www/static/js/tree/details/content/taskInstance/Logs.jsx
  airflow/www/views.py
Labels: area:webserver, okay to merge, area:UI

#23013 Change trigger dropdown left position
  airflow/www/static/css/main.css
Labels: area:webserver, okay to merge, area:UI
