Repository apache/airflow, pull requests merged in 2022-06, with the labels that each got.

#24059 Fix grid view for mapped tasks
  airflow/www/utils.py
Labels: area:webserver, okay to merge

#21106 Fix StatD timing metric units
  airflow/dag_processing/manager.py
  airflow/sensors/smart_sensor.py
  tests/dag_processing/test_manager.py
  tests/sensors/test_smart_sensor_operator.py
Labels: area:scheduler/executor, full tests needed, area:core-operators

#24048 Drop Python 3.6 compatibility objects/modules
  airflow/compat/asyncio.py
  airflow/jobs/triggerer_job.py
  airflow/models/dag.py
  airflow/typing_compat.py
  airflow/utils/log/secrets_masker.py
  tests/triggers/test_temporal.py
Labels: area:scheduler/executor, area:logging, full tests needed

#23887 Remove hack from BigQuery DTS hook
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  setup.py
Labels: provider:Google, area:providers

#24068 Run the `check_migration` loop at least once
  airflow/utils/db.py
  tests/utils/test_db.py
Labels: type:bug-fix

#24071 Handle occasional deadlocks in trigger with retries
  airflow/models/trigger.py
Labels: full tests needed

#24086 Adds Pura Scents, edits The Dyrt
  INTHEWILD.md
Labels: okay to merge

#24000 set color to operators in cloud_sql.py
  airflow/providers/google/cloud/operators/cloud_sql.py
Labels: provider:Google, area:providers, okay to merge

#24018 Make expand() error vague so it's not misleading
  airflow/models/mappedoperator.py
Labels: full tests needed

#24089 Use github for postgres chart index
  chart/Chart.lock
  chart/Chart.yaml
Labels: area:helm-chart, okay to merge

#24080 Fix the link to google workplace
  airflow/providers/google/provider.yaml
Labels: provider:Google, area:providers, okay to merge

#24034 Bring MappedOperator members in sync with BaseOperator
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  airflow/decorators/base.py
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  airflow/models/mappedoperator.py
  airflow/ti_deps/deps/prev_dagrun_dep.py
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-build-docs.svg
  images/breeze/output-build-image.svg
  images/breeze/output-build-prod-image.svg
  images/breeze/output-cleanup.svg
  images/breeze/output-command-hash-export.svg
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output-config.svg
  images/breeze/output-docker-compose-tests.svg
  images/breeze/output-exec.svg
  images/breeze/output-find-newer-dependencies.svg
  images/breeze/output-fix-ownership.svg
  images/breeze/output-free-space.svg
  images/breeze/output-generate-constraints.svg
  images/breeze/output-prepare-airflow-package.svg
  images/breeze/output-prepare-provider-documentation.svg
  images/breeze/output-prepare-provider-packages.svg
  images/breeze/output-pull-image.svg
  images/breeze/output-pull-prod-image.svg
  images/breeze/output-release-prod-images.svg
  images/breeze/output-resource-check.svg
  images/breeze/output-self-upgrade.svg
  images/breeze/output-setup-autocomplete.svg
  images/breeze/output-shell.svg
  images/breeze/output-start-airflow.svg
  images/breeze/output-static-checks.svg
  images/breeze/output-stop.svg
  images/breeze/output-tests.svg
  images/breeze/output-verify-image.svg
  images/breeze/output-verify-prod-image.svg
  images/breeze/output-verify-provider-packages.svg
  images/breeze/output-version.svg
  scripts/ci/pre_commit/pre_commit_base_operator_partial_arguments.py
Labels: area:dev-tools, full tests needed

#24094 Add note about Docker volume remount issues in WSL 2
  BREEZE.rst
Labels: area:dev-tools, okay to merge

#24058 Convert Athena Sample DAG to System Test
  docs/apache-airflow-providers-amazon/example-dags.rst
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-amazon/operators/athena.rst
  tests/providers/amazon/aws/system/__init__.py
  tests/providers/amazon/aws/system/utils/__init__.py
  tests/providers/amazon/aws/system/utils/test_helpers.py
  tests/system/providers/amazon/README.md
  tests/system/providers/amazon/aws/example_athena.py
  tests/system/providers/amazon/aws/utils/__init__.py
Labels: provider:AWS, area:providers, kind:documentation

#24106 Self-update pre-commit to latest versions
  .pre-commit-config.yaml
Labels: area:dev-tools, full tests needed

#24113 Fix small typos in static code checks doc
  STATIC_CODE_CHECKS.rst
Labels: area:dev-tools

#24083 Reduce grid view API calls
  airflow/www/static/js/grid/Main.jsx
  airflow/www/static/js/grid/api/useGridData.js
  airflow/www/static/js/grid/api/useGridData.test.js
  airflow/www/static/js/grid/api/useGridData.test.jsx
  airflow/www/static/js/grid/api/useTasks.js
  airflow/www/static/js/grid/context/autorefresh.jsx
  airflow/www/static/js/grid/dagRuns/index.test.jsx
  airflow/www/static/js/grid/details/content/Dag.jsx
  airflow/www/static/js/grid/index.jsx
  airflow/www/static/js/grid/utils/gridData.js
  airflow/www/templates/airflow/grid.html
  airflow/www/views.py
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, okay to merge, area:UI

#24095 Do not support MSSQL less than v2017 in code
  airflow/migrations/db_types.py
  airflow/migrations/db_types.pyi
  airflow/migrations/versions/0088_2_2_0_improve_mssql_compatibility.py
Labels: full tests needed

#24065 Rename Permissions to Permission Pairs.
  airflow/www/fab_security/manager.py
Labels: area:webserver, okay to merge

#24123 Adds mssql volumes to "all" backends selection
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools, okay to merge

#24122 Breeze must create `hooks\` and `dags\` directories for bind mounts
  dev/breeze/src/airflow_breeze/utils/path_utils.py
Labels: area:dev-tools, okay to merge

#24118 AIP-47 | #22469 | Migrate Trino example DAGs to new design
  airflow/providers/trino/example_dags/__init__.py
  docs/apache-airflow-providers-trino/operators/transfer/gcs_to_trino.rst
  tests/system/providers/trino/example_gcs_to_trino.py
Labels: area:providers, kind:documentation

#24129 Migrate Zendesk example DAGs to new design #22471
  airflow/providers/zendesk/example_dags/__init__.py
  docs/apache-airflow-providers-zendesk/index.rst
  tests/system/providers/zendesk/example_zendesk_custom_get.py
Labels: area:providers, kind:documentation

#24137 Migrate JDBC example DAGs to new design #22450
  airflow/providers/jdbc/example_dags/__init__.py
  docs/apache-airflow-providers-jdbc/index.rst
  docs/apache-airflow-providers-jdbc/operators.rst
  tests/system/providers/jdbc/example_jdbc_queries.py
Labels: area:providers, kind:documentation

#24138 Migrate Jenkins example DAGs to new design #22451
  airflow/providers/jenkins/example_dags/__init__.py
  docs/apache-airflow-providers-jenkins/index.rst
  tests/system/providers/jenkins/example_jenkins_job_trigger.py
Labels: area:providers, kind:documentation

#24139 Migrate Microsoft example DAGs to new design #22452 - mssql
  airflow/providers/microsoft/mssql/example_dags/__init__.py
  airflow/providers/microsoft/mssql/example_dags/example_mssql.py
  docs/apache-airflow-providers-microsoft-mssql/index.rst
  docs/apache-airflow-providers-microsoft-mssql/operators.rst
  tests/system/providers/microsoft/mssql/create_table.sql
  tests/system/providers/microsoft/mssql/example_mssql.py
Labels: area:providers, kind:documentation

#24142 Migrate MySQL example DAGs to new design #22453
  airflow/providers/mysql/example_dags/__init__.py
  docs/apache-airflow-providers-mysql/index.rst
  docs/apache-airflow-providers-mysql/operators.rst
  tests/system/providers/mysql/example_mysql.py
Labels: area:providers, kind:documentation

#24144 Migrate Opsgenie example DAGs to new design #22455
  airflow/providers/opsgenie/example_dags/__init__.py
  docs/apache-airflow-providers-opsgenie/index.rst
  docs/apache-airflow-providers-opsgenie/operators/opsgenie_alert.rst
  tests/system/providers/opsgenie/example_opsgenie_alert.py
Labels: area:providers, kind:documentation

#24145 Migrate Presto example DAGs to new design #22459
  airflow/providers/presto/example_dags/__init__.py
  docs/apache-airflow-providers-presto/index.rst
  docs/apache-airflow-providers-presto/operators/transfer/gcs_to_presto.rst
  tests/system/providers/presto/example_gcs_to_presto.py
Labels: area:providers, kind:documentation

#24147 Migrate Plexus example DAGs to new design #22457
  airflow/providers/plexus/example_dags/__init__.py
  docs/apache-airflow-providers-plexus/index.rst
  tests/system/providers/plexus/example_plexus.py
Labels: area:providers, kind:documentation

#24150 Migrate SQLite example DAGs to new design #22461
  airflow/providers/sqlite/example_dags/__init__.py
  airflow/providers/sqlite/example_dags/example_sqlite.py
  docs/apache-airflow-providers-sqlite/index.rst
  docs/apache-airflow-providers-sqlite/operators.rst
  tests/system/providers/sqlite/create_table.sql
  tests/system/providers/sqlite/example_sqlite.py
Labels: area:providers, kind:documentation

#24126 Migrate Telegram example DAGs to new design #22468
  airflow/providers/telegram/example_dags/__init__.py
  docs/apache-airflow-providers-telegram/index.rst
  docs/apache-airflow-providers-telegram/operators.rst
  tests/system/providers/telegram/example_telegram.py
Labels: area:providers, kind:documentation, full tests needed

#24125 AIP-47 - Migrate Tableau DAGs to new design
  airflow/providers/tableau/example_dags/__init__.py
  docs/apache-airflow-providers-tableau/operators.rst
  tests/system/providers/tableau/example_tableau.py
  tests/system/providers/tableau/example_tableau_refresh_workbook.py
Labels: area:providers, kind:documentation, full tests needed

#24127 Migrate Salesforce example DAGs to new design #22463
  airflow/providers/salesforce/example_dags/__init__.py
  docs/apache-airflow-providers-salesforce/operators/salesforce_apex_rest.rst
  tests/system/providers/salesforce/example_salesforce_apex_rest.py
Labels: area:providers, kind:documentation, full tests needed

#23773 Update credentials when using ADC in Compute Engine
  airflow/providers/google/common/hooks/base_google.py
Labels: provider:Google, area:providers, okay to merge

#24098 Improve Windows development compatibility
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/common_build_params.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  scripts/ci/pre_commit/pre_commit_base_operator_partial_arguments.py
  scripts/ci/pre_commit/pre_commit_boring_cyborg.py
  scripts/ci/pre_commit/pre_commit_changelog_duplicates.py
  scripts/ci/pre_commit/pre_commit_chart_schema.py
  scripts/ci/pre_commit/pre_commit_check_2_1_compatibility.py
  scripts/ci/pre_commit/pre_commit_check_extras_have_providers.py
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hooks.py
  scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py
  scripts/ci/pre_commit/pre_commit_check_providers_subpackages_all_have_init.py
  scripts/ci/pre_commit/pre_commit_check_system_tests.py
  scripts/ci/pre_commit/pre_commit_checkout_no_credentials.py
  scripts/ci/pre_commit/pre_commit_docstring_param_type.py
  scripts/ci/pre_commit/pre_commit_flake8.py
  scripts/ci/pre_commit/pre_commit_inline_scripts_in_docker.py
  scripts/ci/pre_commit/pre_commit_insert_extras.py
  scripts/ci/pre_commit/pre_commit_json_schema.py
  scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
  scripts/ci/pre_commit/pre_commit_migration_reference.py
  scripts/ci/pre_commit/pre_commit_mypy.py
  scripts/ci/pre_commit/pre_commit_newsfragments.py
  scripts/ci/pre_commit/pre_commit_supported_versions.py
  scripts/ci/pre_commit/pre_commit_ui_lint.py
  scripts/ci/pre_commit/pre_commit_update_breeze_config_hash.py
  scripts/ci/pre_commit/pre_commit_update_versions.py
  scripts/ci/pre_commit/pre_commit_vendor_k8s_json_schema.py
  scripts/ci/pre_commit/pre_commit_version_heads_map.py
  scripts/ci/pre_commit/pre_commit_www_lint.py
  scripts/ci/pre_commit/pre_commit_yaml_to_cfg.py
Labels: area:dev-tools, full tests needed

#24131 Migrate Asana example DAGs to new design #22440
  airflow/providers/asana/example_dags/__init__.py
  docs/apache-airflow-providers-asana/index.rst
  docs/apache-airflow-providers-asana/operators/asana.rst
  tests/system/providers/asana/example_asana.py
Labels: area:providers, kind:documentation

#24143 Migrate Neo4j example DAGs to new design #22454
  airflow/providers/neo4j/example_dags/__init__.py
  docs/apache-airflow-providers-neo4j/index.rst
  docs/apache-airflow-providers-neo4j/operators/neo4j.rst
  tests/system/providers/neo4j/example_neo4j.py
Labels: area:providers, kind:documentation

#24090 Add disabled_algorithms as an extra parameter for SSH connections
  airflow/providers/ssh/hooks/ssh.py
  docs/apache-airflow-providers-ssh/connections/ssh.rst
  tests/providers/ssh/hooks/test_ssh.py
Labels: area:providers, kind:documentation

#24148 Migrate Postgres example DAGs to new design #22458
  airflow/providers/postgres/example_dags/__init__.py
  docs/apache-airflow-providers-postgres/index.rst
  docs/apache-airflow-providers-postgres/operators/postgres_operator_howto_guide.rst
  tests/system/providers/postgres/example_postgres.py
Labels: area:providers, kind:documentation

#24151 Migrate Snowflake system tests to new design #22434
  airflow/providers/snowflake/example_dags/__init__.py
  docs/apache-airflow-providers-snowflake/index.rst
  docs/apache-airflow-providers-snowflake/operators/s3_to_snowflake.rst
  docs/apache-airflow-providers-snowflake/operators/snowflake.rst
  docs/apache-airflow-providers-snowflake/operators/snowflake_to_slack.rst
  tests/system/providers/snowflake/example_snowflake.py
Labels: area:providers, kind:documentation, provider:Snowflake

#24149 Migrate Qubole example DAGs to new design #22460
  airflow/providers/qubole/example_dags/__init__.py
  docs/apache-airflow-providers-qubole/index.rst
  docs/apache-airflow-providers-qubole/operators/index.rst
  docs/apache-airflow-providers-qubole/operators/qubole.rst
  tests/system/providers/qubole/example_qubole.py
  tests/system/providers/qubole/example_qubole_sensors.py
Labels: area:providers, kind:documentation

#24141 Migrate Microsoft example DAGs to new design #22452 - azure
  docs/apache-airflow-providers-microsoft-azure/index.rst
  docs/apache-airflow-providers-microsoft-azure/operators/adf_run_pipeline.rst
  docs/apache-airflow-providers-microsoft-azure/operators/adls.rst
  docs/apache-airflow-providers-microsoft-azure/operators/azure_blob_to_gcs.rst
  docs/apache-airflow-providers-microsoft-azure/operators/local_to_adls.rst
  docs/apache-airflow-providers-microsoft-azure/operators/sftp_to_wasb.rst
  tests/providers/microsoft/azure/operators/test_adls_delete_system.py
  tests/providers/microsoft/azure/transfers/test_local_to_adls_system.py
  tests/providers/microsoft/azure/transfers/test_local_to_wasb_system.py
  tests/providers/microsoft/azure/transfers/test_sftp_to_wasb_system.py
  tests/system/__init__.py
  tests/system/providers/__init__.py
  tests/system/providers/microsoft/__init__.py
  tests/system/providers/microsoft/azure/__init__.py
  tests/system/providers/microsoft/azure/example_adf_run_pipeline.py
  tests/system/providers/microsoft/azure/example_adls_delete.py
  tests/system/providers/microsoft/azure/example_azure_blob_to_gcs.py
  tests/system/providers/microsoft/azure/example_azure_container_instances.py
  tests/system/providers/microsoft/azure/example_azure_cosmosdb.py
  tests/system/providers/microsoft/azure/example_fileshare.py
  tests/system/providers/microsoft/azure/example_local_to_adls.py
  tests/system/providers/microsoft/azure/example_local_to_wasb.py
  tests/system/providers/microsoft/azure/example_sftp_to_wasb.py
Labels: provider:Azure, area:providers, kind:documentation

#24140 Migrate Microsoft example DAGs to new design #22452 - winrm
  airflow/providers/microsoft/winrm/example_dags/__init__.py
  docs/apache-airflow-providers-microsoft-winrm/index.rst
  docs/apache-airflow-providers-microsoft-winrm/operators.rst
  tests/system/providers/microsoft/winrm/example_winrm.py
Labels: area:providers, kind:documentation

#24136 Migrate Influx example DAGs to new design #22449
  airflow/providers/influxdb/example_dags/__init__.py
  docs/apache-airflow-providers-influxdb/index.rst
  docs/apache-airflow-providers-influxdb/operators/index.rst
  tests/system/providers/influxdb/example_influxdb.py
  tests/system/providers/influxdb/example_influxdb_query.py
Labels: area:providers, kind:documentation

#24133 Migrate DingTalk example DAGs to new design #22443
  airflow/providers/dingding/example_dags/__init__.py
  docs/apache-airflow-providers-dingding/index.rst
  docs/apache-airflow-providers-dingding/operators.rst
  tests/system/providers/dingding/example_dingding.py
Labels: area:providers, kind:documentation

#24132 Migrate Cncf.Kubernetes example DAGs to new design #22441
  airflow/providers/cncf/kubernetes/example_dags/__init__.py
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
  docs/apache-airflow-providers-cncf-kubernetes/operators.rst
  tests/system/providers/cncf/kubernetes/example_kubernetes.py
  tests/system/providers/cncf/kubernetes/example_spark_kubernetes.py
  tests/system/providers/cncf/kubernetes/example_spark_kubernetes_spark_pi.yaml
Labels: area:providers, kind:documentation, area:kubernetes

#24130 Migrate Alibaba example DAGs to new design #22437
  airflow/providers/alibaba/cloud/example_dags/__init__.py
  docs/apache-airflow-providers-alibaba/index.rst
  docs/apache-airflow-providers-alibaba/operators/oss.rst
  tests/system/providers/alibaba/example_oss_bucket.py
  tests/system/providers/alibaba/example_oss_object.py
Labels: area:providers, kind:documentation

#24154 Pass connection extra parameters to wasb BlobServiceClient
  airflow/providers/microsoft/azure/hooks/wasb.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
Labels: provider:Azure, area:providers, okay to merge

#24165 fix BigQueryInsertJobOperator
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google, area:providers, okay to merge

#24128 Migrate Singularity example DAGs to new design #22464
  airflow/providers/singularity/example_dags/__init__.py
  docs/apache-airflow-providers-singularity/index.rst
  tests/system/providers/singularity/example_singularity.py
Labels: area:providers, kind:documentation, full tests needed

#24169 Better summary of status of AIP-47
  dev/system_tests/update_issue_status.py
Labels: area:dev-tools, okay to merge

#24170 Remove old Athena Sample DAG
  airflow/providers/amazon/aws/example_dags/example_athena.py
Labels: provider:AWS, area:providers, okay to merge

#24172 removed old files of Elasticsearch after system test migration
  airflow/providers/elasticsearch/example_dags/__init__.py
  airflow/providers/elasticsearch/example_dags/example_elasticsearch_query.py
Labels: area:providers

#24184 Chart: Default to Airflow 2.3.2
  chart/Chart.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#24186 Update 'rich' to latest version across the board.
  .pre-commit-config.yaml
  dev/breeze/README.md
  dev/breeze/setup.cfg
  images/breeze/output-build-docs.svg
  images/breeze/output-build-image.svg
  images/breeze/output-build-prod-image.svg
  images/breeze/output-cleanup.svg
  images/breeze/output-command-hash-export.svg
  images/breeze/output-commands.svg
  images/breeze/output-config.svg
  images/breeze/output-docker-compose-tests.svg
  images/breeze/output-exec.svg
  images/breeze/output-find-newer-dependencies.svg
  images/breeze/output-fix-ownership.svg
  images/breeze/output-free-space.svg
  images/breeze/output-generate-constraints.svg
  images/breeze/output-prepare-airflow-package.svg
  images/breeze/output-prepare-provider-documentation.svg
  images/breeze/output-prepare-provider-packages.svg
  images/breeze/output-pull-image.svg
  images/breeze/output-pull-prod-image.svg
  images/breeze/output-release-prod-images.svg
  images/breeze/output-resource-check.svg
  images/breeze/output-self-upgrade.svg
  images/breeze/output-setup-autocomplete.svg
  images/breeze/output-shell.svg
  images/breeze/output-start-airflow.svg
  images/breeze/output-static-checks.svg
  images/breeze/output-stop.svg
  images/breeze/output-tests.svg
  images/breeze/output-verify-image.svg
  images/breeze/output-verify-prod-image.svg
  images/breeze/output-verify-provider-packages.svg
  images/breeze/output-version.svg
  setup.cfg
Labels: area:dev-tools, full tests needed

#24013 Fix BigQuery system tests
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
  tests/system/providers/google/bigquery/example_bigquery_queries.py
Labels: provider:Google, area:providers, full tests needed

#24182 `2.3.2` has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/utils/db.py
  docs/apache-airflow/installation/supported-versions.rst
  docs/docker-stack/docker-examples/customizing/pypi-extras-and-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-selected-version.sh
  scripts/ci/pre_commit/pre_commit_supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image, full tests needed

#24177 Add verification step to image release process
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools, okay to merge

#24046 Added impersonation_chain for dataflow operators
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
Labels: provider:Google, area:providers, okay to merge

#23930 Add key_secret_project_id parameter which specifies a project with KeyFile
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/google/common/hooks/base_google.py
  docs/apache-airflow-providers-google/connections/gcp.rst
  tests/providers/google/common/hooks/test_base_google.py
Labels: provider:Google, area:providers, kind:documentation, okay to merge

#23964 Add built-in Extrenal Link for ExternalTaskMarker operator
  airflow/sensors/external_task.py
  airflow/serialization/serialized_objects.py
  tests/sensors/test_external_task_sensor.py
Labels: area:serialization, full tests needed, area:core-operators

#23641 fix: DatabricksSubmitRunOperator and DatabricksRunNowOperator cannot define .json as template_ext (#23622)
  airflow/providers/databricks/operators/databricks.py
Labels: area:providers, okay to merge

#23976 fix: StepFunctionHook ignores explicit set `region_name`
  airflow/providers/amazon/aws/hooks/step_function.py
Labels: provider:AWS, area:providers, okay to merge

#24214 Remove `GithubOperator` use in `GithubSensor.__init__()`
  airflow/providers/github/sensors/github.py
Labels: area:providers, okay to merge

#24202 AIP-47 - Migrate dbt DAGs to new design #22472
  docs/apache-airflow-providers-dbt-cloud/index.rst
  docs/apache-airflow-providers-dbt-cloud/operators.rst
  tests/system/providers/dbt/__init__.py
  tests/system/providers/dbt/example_dbt_cloud.py
  tests/system/utils/__init__.py
Labels: area:providers, kind:documentation

#24203 AIP-47 - Migrate databricks DAGs to new design #22442
  airflow/providers/databricks/example_dags/__init__.py
  docs/apache-airflow-providers-databricks/index.rst
  docs/apache-airflow-providers-databricks/operators/copy_into.rst
  docs/apache-airflow-providers-databricks/operators/repos_create.rst
  docs/apache-airflow-providers-databricks/operators/repos_delete.rst
  docs/apache-airflow-providers-databricks/operators/repos_update.rst
  docs/apache-airflow-providers-databricks/operators/sql.rst
  docs/apache-airflow-providers-databricks/operators/submit_run.rst
  tests/system/providers/databricks/example_databricks.py
  tests/system/providers/databricks/example_databricks_repos.py
  tests/system/providers/databricks/example_databricks_sql.py
Labels: area:providers, kind:documentation

#24204 AIP-47 - Migrate hive DAGs to new design #22439
  docs/apache-airflow-providers-apache-hive/index.rst
  docs/apache-airflow-providers-apache-hive/operators.rst
  tests/system/providers/apache/__init__.py
  tests/system/providers/apache/hive/__init__.py
  tests/system/providers/apache/hive/example_twitter_README.md
  tests/system/providers/apache/hive/example_twitter_dag.py
Labels: area:providers, provider:Apache, kind:documentation

#24205 AIP-47 - Migrate kylin DAGs to new design #22439
  airflow/providers/apache/kylin/example_dags/__init__.py
  airflow/providers/apache/kylin/example_dags/example_kylin_dag.py
  docs/apache-airflow-providers-apache-kylin/index.rst
  tests/system/providers/apache/kylin/example_kylin_dag.py
Labels: area:providers, provider:Apache, kind:documentation

#24206 AIP-47 - Migrate drill DAGs to new design #22439
  airflow/providers/apache/drill/example_dags/__init__.py
  docs/apache-airflow-providers-apache-drill/index.rst
  docs/apache-airflow-providers-apache-drill/operators.rst
  tests/system/providers/apache/drill/example_drill_dag.py
Labels: area:providers, provider:Apache, kind:documentation

#24207 AIP-47 - Migrate druid DAGs to new design #22439
  airflow/providers/apache/druid/example_dags/__init__.py
  docs/apache-airflow-providers-apache-druid/index.rst
  docs/apache-airflow-providers-apache-druid/operators.rst
  tests/system/providers/apache/druid/example_druid_dag.py
Labels: area:providers, provider:Apache, kind:documentation

#24209 AIP-47 - Migrate cassandra DAGs to new design #22439
  airflow/providers/apache/cassandra/example_dags/__init__.py
  docs/apache-airflow-providers-apache-cassandra/index.rst
  docs/apache-airflow-providers-apache-cassandra/operators.rst
  tests/system/providers/apache/cassandra/example_cassandra_dag.py
Labels: area:providers, provider:Apache, kind:documentation

#24210 AIP-47 - Migrate spark DAGs to new design #22439
  .pre-commit-config.yaml
  airflow/providers/apache/spark/example_dags/__init__.py
  docs/apache-airflow-providers-apache-spark/index.rst
  docs/apache-airflow-providers-apache-spark/operators.rst
  tests/system/providers/apache/spark/example_spark_dag.py
Labels: area:providers, area:dev-tools, provider:Apache, kind:documentation

#24212 AIP-47 - Migrate apache pig DAGs to new design #22439
  airflow/providers/apache/pig/example_dags/__init__.py
  docs/apache-airflow-providers-apache-pig/index.rst
  docs/apache-airflow-providers-apache-pig/operators.rst
  tests/system/providers/apache/pig/example_pig.py
Labels: area:providers, provider:Apache, kind:documentation

#24134 Migrate GitHub example DAGs to new design #22446
  airflow/providers/github/example_dags/__init__.py
  airflow/providers/github/example_dags/example_github.py
  docs/apache-airflow-providers-github/index.rst
  docs/apache-airflow-providers-github/operators/index.rst
  tests/system/providers/github/example_github.py
Labels: area:providers, kind:documentation

#24208 AIP-47 - Migrate livy DAGs to new design #22439
  airflow/providers/apache/livy/example_dags/__init__.py
  docs/apache-airflow-providers-apache-livy/index.rst
  docs/apache-airflow-providers-apache-livy/operators.rst
  tests/system/providers/apache/livy/example_livy.py
Labels: area:providers, provider:Apache, kind:documentation

#24217 Remove escaping which is wrong in latest rich version
  dev/system_tests/update_issue_status.py
Labels: area:dev-tools

#23071 Parse error for task added to multiple groups
  airflow/exceptions.py
  airflow/utils/task_group.py
  tests/utils/test_task_group.py
Labels: full tests needed

#23731 remove xfail test jobs in test_scheduler
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, changelog:skip, full tests needed

#24226 Migrate Asana system tests to new design AIP-47
  tests/providers/asana/operators/test_asana_system.py
Labels: area:providers

#24225 Migrate Microsoft system tests to new design AIP-47
  tests/providers/microsoft/azure/hooks/test_fileshare_system.py
  tests/providers/microsoft/azure/operators/test_adls_delete_system.py
  tests/providers/microsoft/azure/transfers/test_local_to_adls_system.py
  tests/providers/microsoft/azure/transfers/test_local_to_wasb_system.py
  tests/providers/microsoft/azure/transfers/test_sftp_to_wasb_system.py
Labels: provider:Azure, area:providers

#24224 Migrate CNCF system tests to new design AIP-47
  tests/providers/cncf/kubernetes/operators/test_spark_kubernetes_system.py
Labels: area:providers

#24223 Migrate Postgres system tests to new design AIP-47
  tests/providers/postgres/operators/test_postgres_system.py
Labels: area:providers

#24211 AIP-47 - Migrate beam DAGs to new design #22439
  airflow/providers/apache/beam/example_dags/example_beam.py
  docs/apache-airflow-providers-apache-beam/index.rst
  docs/apache-airflow-providers-apache-beam/operators.rst
  tests/providers/apache/beam/operators/test_beam_system.py
  tests/system/providers/apache/beam/__init__.py
  tests/system/providers/apache/beam/example_beam.py
  tests/system/providers/apache/beam/example_beam_java_flink.py
  tests/system/providers/apache/beam/example_beam_java_spark.py
  tests/system/providers/apache/beam/example_go.py
  tests/system/providers/apache/beam/example_go_dataflow.py
  tests/system/providers/apache/beam/example_java_dataflow.py
  tests/system/providers/apache/beam/example_python.py
  tests/system/providers/apache/beam/example_python_dataflow.py
  tests/system/providers/apache/beam/utils.py
Labels: area:providers, provider:Apache, kind:documentation

#24230 Fix backwards-compatibility introduced by fixing mypy problems
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/qubole/hooks/qubole.py
  scripts/ci/pre_commit/pre_commit_check_2_1_compatibility.py
Labels: area:providers, area:dev-tools, provider:Apache, full tests needed

#23979 Add `PrestoToSlackOperator`
  CONTRIBUTING.rst
  airflow/providers/dependencies.json
  airflow/providers/presto/provider.yaml
  airflow/providers/presto/transfers/presto_to_slack.py
  docs/apache-airflow-providers-presto/index.rst
  docs/apache-airflow-providers-presto/operators/transfer/presto_to_slack.rst
  tests/providers/presto/transfers/test_presto_to_slack.py
  tests/system/providers/presto/example_presto_to_slack.py
Labels: area:providers, area:dev-tools, kind:documentation, full tests needed

#24245 Fix BigQuery Sensors system test
  tests/system/providers/google/bigquery/example_bigquery_sensors.py
Labels: full tests needed

#24181 adding env variable to docs, bc boto3 requires the default region to be added as an env variable for secrets management
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#24093 Unify return_code interface for task runner
  airflow/task/task_runner/base_task_runner.py
  airflow/task/task_runner/cgroup_task_runner.py
Labels: area:scheduler/executor, full tests needed

#24218 chore: Light Refactor for DBT Provider
  airflow/providers/dbt/cloud/hooks/dbt.py
Labels: area:providers, okay to merge

#24039 Fix GCSToGCSOperator cannot copy a single file/folder without copying other files/folders with that prefix
  airflow/providers/google/cloud/transfers/gcs_to_gcs.py
  tests/providers/google/cloud/transfers/test_gcs_to_gcs.py
Labels: provider:Google, area:providers, okay to merge

#24084 Adding fnmatch type regex to SFTPSensor
  airflow/providers/sftp/hooks/sftp.py
  airflow/providers/sftp/sensors/sftp.py
  tests/providers/sftp/hooks/test_sftp.py
  tests/providers/sftp/sensors/test_sftp.py
Labels: area:providers

#23906 docs: amazon-provider retry modes
  docs/apache-airflow-providers-amazon/connections/aws.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#23865 Cloud Storage assets & StorageLink update
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  airflow/providers/google/cloud/operators/datastore.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/google/common/links/storage.py
  tests/providers/google/cloud/operators/test_gcs.py
Labels: provider:Google, area:providers

#24152 Fix useTasks crash on error
  airflow/www/jest-setup.js
  airflow/www/package.json
  airflow/www/static/js/grid/api/useMappedInstances.js
  airflow/www/static/js/grid/api/useTasks.js
  airflow/www/static/js/grid/api/useTasks.test.jsx
  airflow/www/static/js/grid/details/content/Dag.jsx
  airflow/www/static/js/grid/index.jsx
  airflow/www/yarn.lock
Labels: area:webserver, okay to merge, area:UI

#24215 Refactor GlueJobHook `get_or_create_glue_job` method.
  airflow/providers/amazon/aws/hooks/glue.py
  tests/providers/amazon/aws/hooks/test_glue.py
Labels: provider:AWS, area:providers

#24213 Fix delete_cluster of Yandex example no use TriggerRule.ALL_DONE
  tests/system/providers/yandex/example_yandexcloud_dataproc.py
Labels: area:providers, kind:documentation

#23167 Migrate Docker example DAGs to new design
  airflow/providers/docker/example_dags/__init__.py
  airflow/providers/docker/example_dags/example_docker.py
  airflow/providers/docker/example_dags/example_docker_copy_data.py
  docs/apache-airflow-providers-docker/index.rst
  docs/apache-airflow/tutorial_taskflow_api.rst
  tests/system/providers/docker/example_docker.py
  tests/system/providers/docker/example_docker_copy_data.py
  tests/system/providers/docker/example_docker_swarm.py
  tests/system/providers/docker/example_taskflow_api_etl_docker_virtualenv.py
Labels: area:providers, kind:documentation

#24219 chore: Refactoring and Cleaning Apache Providers
  airflow/providers/apache/beam/operators/beam.py
  airflow/providers/apache/cassandra/hooks/cassandra.py
  airflow/providers/apache/drill/hooks/drill.py
  airflow/providers/apache/druid/hooks/druid.py
  airflow/providers/apache/hdfs/hooks/webhdfs.py
  airflow/providers/apache/hive/operators/hive_stats.py
  airflow/providers/apache/hive/sensors/named_hive_partition.py
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/apache/hive/transfers/s3_to_hive.py
  airflow/providers/apache/hive/transfers/vertica_to_hive.py
  airflow/providers/apache/kylin/hooks/kylin.py
  airflow/providers/apache/pinot/hooks/pinot.py
  airflow/providers/apache/spark/hooks/spark_jdbc.py
  airflow/providers/apache/spark/hooks/spark_submit.py
  tests/providers/apache/hive/transfers/test_mssql_to_hive.py
  tests/providers/apache/spark/hooks/test_spark_jdbc_script.py
Labels: area:providers, provider:Apache, okay to merge

#23883 Fix KubernetesPodOperator await_container_completion condition
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, okay to merge, area:kubernetes

#24255 Migrate Google leveldb system tests to new design AIP-47
  tests/providers/google/leveldb/operators/test_leveldb_system.py
Labels: provider:Google, area:providers

#24054 Add param docs to KubernetesHook and KubernetesPodOperator (#23955)
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
Labels: area:providers, okay to merge, area:kubernetes

#24264 Enable dbt Cloud provider to interact with single tenant instances
  airflow/providers/dbt/cloud/hooks/dbt.py
  tests/providers/dbt/cloud/hooks/test_dbt_cloud.py
  tests/providers/dbt/cloud/sensors/test_dbt_cloud.py
Labels: area:providers, okay to merge

#24153 Apply per-run log templates to log handlers
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/default_test.cfg
  airflow/models/dagrun.py
  airflow/providers/alibaba/cloud/log/oss_task_handler.py
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/log_reader.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/conftest.py
  tests/providers/alibaba/cloud/log/test_oss_task_handler.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
  tests/providers/google/cloud/log/test_gcs_task_handler.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
  tests/task/task_runner/test_task_runner.py
  tests/utils/log/test_log_reader.py
  tests/utils/test_log_handlers.py
  tests/www/test_logs/dag_for_testing_log_view/scheduled__2017-09-01T00:00:00+00:00/task_for_testing_log_view/1.log
  tests/www/test_logs/dag_id=dag_for_testing_log_view/run_id=scheduled__2017-09-01T00:00:00+00:00/task_id=task_for_testing_log_view/attempt=1.log
  tests/www/views/test_views_log.py
Labels: provider:Google, provider:Azure, provider:AWS, area:providers, area:logging, full tests needed

#24233 AIP-47 - Migrate google leveldb DAGs to new design ##22447
  docs/apache-airflow-providers-google/operators/leveldb/leveldb.rst
  tests/system/providers/google/__init__.py
  tests/system/providers/google/leveldb/__init__.py
  tests/system/providers/google/leveldb/example_leveldb.py
Labels: provider:Google, area:providers, kind:documentation

#24228 Fix choosing backend versions in breeze's command line
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools, okay to merge

#24276 Fix link broken after #24082
  docs/apache-airflow-providers-yandex/index.rst
Labels: area:providers, kind:documentation

#24216 Add command to regenerate breeze command output images
  .gitignore
  BREEZE.rst
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output-regenerate-command-images.svg
Labels: area:dev-tools

#24272 Make numpy effectively an optional dependency for Oracle provider
  airflow/providers/oracle/hooks/oracle.py
  airflow/providers/oracle/provider.yaml
Labels: area:providers

#24268 Add SMAP Energy Ltd. to list of companies using Airflow
  INTHEWILD.md
Labels: okay to merge

#24282 fix command and typo
  breeze
Labels: area:dev-tools

#24087 Update doc and sample dag for EMR Containers
  airflow/providers/amazon/aws/example_dags/example_emr.py
  airflow/providers/amazon/aws/example_dags/example_emr_eks.py
  airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/sensors/athena.py
  airflow/providers/amazon/aws/sensors/cloud_formation.py
  airflow/providers/amazon/aws/sensors/dms.py
  airflow/providers/amazon/aws/sensors/eks.py
  airflow/providers/amazon/aws/sensors/glacier.py
  airflow/providers/amazon/aws/sensors/rds.py
  docs/apache-airflow-providers-amazon/operators/emr.rst
  docs/apache-airflow-providers-amazon/operators/emr_eks.rst
  tests/always/test_project_structure.py
Labels: provider:AWS, area:providers, kind:documentation

#24253 ScheduleInterval nullable true added in openapi spec
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API

#24166 Prevent dag dependencies page from crashing
  airflow/www/static/js/dag_dependencies.js
Labels: area:webserver, area:UI

#24291 Update provider templates for new Airflow 2.2+ req
  dev/provider_packages/PROVIDER_INDEX_TEMPLATE.rst.jinja2
  dev/provider_packages/PROVIDER_README_TEMPLATE.rst.jinja2
Labels: area:dev-tools

#24201 Airflow UI Package upgrade
  airflow/ui/package.json
  airflow/ui/yarn.lock
Labels: okay to merge, area:UI

#24304 Mention context variables and logging
  docs/apache-airflow/concepts/taskflow.rst
Labels: kind:documentation, okay to merge, type:doc-only

#24301 Fix langauge override in papermill operator
  airflow/providers/papermill/operators/papermill.py
  tests/providers/papermill/operators/test_papermill.py
Labels: area:providers, okay to merge

#24296 Also mention airflow 2 only in readme template
  dev/provider_packages/PROVIDER_README_TEMPLATE.rst.jinja2
Labels: area:dev-tools, okay to merge

#23510 Fix permission issue for dag that has dot in name
  airflow/models/dagbag.py
  airflow/security/permissions.py
  airflow/www/security.py
  tests/www/test_security.py
Labels: area:webserver, type:bug-fix, full tests needed

#24308 Fix: AwsGlueJobOperator - patches #24215
  airflow/providers/amazon/aws/hooks/glue.py
  tests/providers/amazon/aws/hooks/test_glue.py
Labels: provider:AWS, area:providers

#24322 Fix D202 issue
  airflow/www/security.py
Labels: area:webserver

#24327 Check for run_id for grid task groups
  airflow/www/views.py
Labels: area:webserver, okay to merge

#24330 Workaround job race bug on biguery to gcs transfer
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  tests/providers/google/cloud/transfers/test_bigquery_to_gcs.py
Labels: provider:Google, area:providers, okay to merge

#24348 Add scripts that provide good links to example dags
  dev/example_dags/README.md
  dev/example_dags/update_example_dags_paths.py
Labels: area:dev-tools, okay to merge

#24262 Optimize calendar view for cron scheduled DAGs
  airflow/www/views.py
Labels: area:webserver, okay to merge

#23905 Added small health check server and endpoint in scheduler and updated…
  airflow/cli/commands/scheduler_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_test.cfg
  airflow/utils/scheduler_health.py
  docs/apache-airflow/logging-monitoring/check-health.rst
  tests/cli/commands/test_scheduler_command.py
Labels: area:CLI, full tests needed

#24370 fix 2.3.2 release date.
  RELEASE_NOTES.rst
Labels: okay to merge

#24306 Fix: `emr_conn_id` should be optional in `EmrCreateJobFlowOperator`
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/operators/emr.py
Labels: provider:AWS, area:providers, okay to merge

#24114 Refactor `DagRun.verify_integrity`
  airflow/models/dagrun.py
Labels: full tests needed

#24375 Add tests for the grid_data endpoint
  airflow/www/views.py
  tests/www/views/test_views_grid.py
Labels: area:webserver, okay to merge

#23188 Rework contract of try_adopt_task_instances method
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_kubernetes_executor.py
Labels: area:scheduler/executor, full tests needed, area:kubernetes

#24334 Migrate Google calendar system test to new design AIP-47
  tests/providers/google/cloud/transfers/test_calendar_to_gcs_system.py
Labels: provider:Google, area:providers

#24378 Fix S3KeySensor
  airflow/providers/amazon/aws/sensors/s3.py
  tests/providers/amazon/aws/sensors/test_s3_key.py
Labels: provider:AWS, area:providers

#24294 Refactoring EmrClusterLink and add it for other AWS EMR Operators
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/links/__init__.py
  airflow/providers/amazon/aws/links/base_aws.py
  airflow/providers/amazon/aws/links/emr.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/provider.yaml
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/links/__init__.py
  tests/providers/amazon/aws/links/test_base.py
  tests/providers/amazon/aws/links/test_emr.py
  tests/providers/amazon/aws/operators/test_emr_add_steps.py
  tests/providers/amazon/aws/operators/test_emr_create_job_flow.py
  tests/providers/amazon/aws/operators/test_emr_terminate_job_flow.py
  tests/providers/amazon/aws/utils/links_test_utils.py
Labels: provider:AWS, area:providers, okay to merge

#24351 Migrate Google sheets example DAG to new design AIP-47
  docs/apache-airflow-providers-google/operators/transfer/sheets_to_gcs.rst
  tests/providers/google/cloud/transfers/test_sheets_to_gcs_system.py
  tests/system/providers/google/sheets/example_sheets_to_gcs.py
Labels: provider:Google, area:providers, kind:documentation, full tests needed

#24384 Convert SNS Sample DAG to System Test (AIP-47)
  airflow/providers/amazon/aws/example_dags/example_sns.py
  airflow/providers/amazon/aws/operators/sns.py
  docs/apache-airflow-providers-amazon/operators/sns.rst
  tests/system/providers/amazon/aws/example_sns.py
Labels: provider:AWS, area:providers, kind:documentation

#24379 Remove bigquery example already migrated to AIP-47
  airflow/providers/google/cloud/example_dags/example_bigquery_to_gcs.py
  tests/providers/google/cloud/transfers/test_bigquery_to_gcs_system.py
Labels: provider:Google, area:providers, okay to merge

#24349 Migrate Google example DAG azure_fileshare to new design AIP-47
  docs/apache-airflow-providers-google/operators/transfer/azure_fileshare_to_gcs.rst
  tests/providers/google/cloud/transfers/test_azure_fileshare_to_gcs_system.py
  tests/system/providers/google/azure/example_azure_fileshare_to_gcs.py
Labels: provider:Google, area:providers, kind:documentation

#24391 Add Ping Zhang to committers list
  docs/apache-airflow/project.rst
Labels: kind:documentation, okay to merge

#24053 Migrate Zendesk example DAGs to new design AIP-47
  tests/system/providers/zendesk/example_zendesk_custom_get.py
Labels: area:providers

#24333 Migrate Google calendar example DAG to new design AIP-47
  docs/apache-airflow-providers-google/operators/transfer/calendar_to_gcs.rst
  tests/system/providers/google/calendar/example_calendar_to_gcs.py
Labels: provider:Google, area:providers, kind:documentation

#24397 Update Dockerfile
  Dockerfile
Labels: area:production-image, full tests needed

#24185 Better diagnostics for ARM for MySQL and MSSQL
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
Labels: area:dev-tools, area:production-image, okay to merge

#24398 Refresh list of committers
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#24249 Add Task Logs to Grid details panel
  airflow/www/static/js/grid/api/useTaskLog.js
  airflow/www/static/js/grid/components/LinkButton.jsx
  airflow/www/static/js/grid/components/LinkButton.test.jsx
  airflow/www/static/js/grid/details/content/taskInstance/Logs.jsx
  airflow/www/static/js/grid/details/content/taskInstance/Logs/LogLink.jsx
  airflow/www/static/js/grid/details/content/taskInstance/Logs/LogLink.test.jsx
  airflow/www/static/js/grid/details/content/taskInstance/Logs/index.jsx
  airflow/www/static/js/grid/details/content/taskInstance/Logs/index.test.jsx
  airflow/www/static/js/grid/details/content/taskInstance/Nav.jsx
  airflow/www/static/js/grid/details/content/taskInstance/index.jsx
  airflow/www/templates/airflow/dag.html
Labels: area:webserver, okay to merge, area:UI

#24362 Mask secrets in stdout for CLI command
  airflow/cli/commands/task_command.py
  airflow/utils/log/secrets_masker.py
  tests/cli/commands/test_task_command.py
  tests/utils/log/test_secrets_masker.py
Labels: area:CLI, area:logging

#24371 misc: create new process group by `set_new_process_group` utility
  airflow/dag_processing/manager.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/utils/process_utils.py
Labels: area:scheduler/executor

#24376 Deprecate remaining occurrences of `bigquery_conn_id` in favor of `gcp_conn_id`
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers, okay to merge

#24382 Expose SQL to GCS Metadata
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  tests/providers/google/cloud/transfers/test_mssql_to_gcs.py
  tests/providers/google/cloud/transfers/test_mysql_to_gcs.py
  tests/providers/google/cloud/transfers/test_oracle_to_gcs.py
  tests/providers/google/cloud/transfers/test_postgres_to_gcs.py
  tests/providers/google/cloud/transfers/test_presto_to_gcs.py
  tests/providers/google/cloud/transfers/test_sql_to_gcs.py
  tests/providers/google/cloud/transfers/test_trino_to_gcs.py
Labels: provider:Google, area:providers, okay to merge
