Repository apache/airflow, pull requests merged in 2022-10, with the labels that each got.

#26811 Add "Clean" to the Amazon System Test Contrib Guide
  tests/system/providers/amazon/CONTRIBUTING.md
Labels: area:dev-tools, area:system-tests

#26817 Update breeze warning with new self-upgrade subcommand
  dev/breeze/src/airflow_breeze/utils/reinstall.py
Labels: area:dev-tools

#26768 Fix MaxID logic for GCSToBigQueryOperator
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  tests/providers/google/cloud/transfers/test_gcs_to_bigquery.py
Labels: provider:Google, area:providers

#26786 Fix parsing of optional `mode` field in BigQuery Result Schema
  airflow/providers/google/cloud/hooks/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:Google, area:providers

#26816 Fixed an infallible test of triggerer job
  tests/jobs/test_triggerer_job.py
Labels: area:scheduler/executor

#26788 A few docs fixups
  airflow/providers/microsoft/winrm/hooks/winrm.py
  airflow/providers/ssh/hooks/ssh.py
  docs/apache-airflow-providers-common-sql/operators.rst
  docs/apache-airflow/executor/local.rst
Labels: area:scheduler/executor, area:providers, kind:documentation, provider:Common-sql

#26672 Fix Cloud Build assets & system tests migration (AIP-47)
  tests/system/providers/google/cloud/cloud_build/example_cloud_build.py
  tests/system/providers/google/cloud/cloud_build/resources/file.tar.gz
Labels: area:system-tests

#25719 Correcting the transfer config name.
  airflow/providers/google/cloud/hooks/bigquery_dts.py
Labels: provider:Google, area:providers

#26676 Fix null strings bug in SqlToS3Operator in non parquet formats
  airflow/providers/amazon/aws/transfers/sql_to_s3.py
  tests/providers/amazon/aws/transfers/test_sql_to_s3.py
Labels: provider:AWS, area:providers

#26684 Sagemaker and Sagemaker Endpoint System Tests (AIP-47)
  tests/system/providers/amazon/aws/example_sagemaker.py
  tests/system/providers/amazon/aws/example_sagemaker_endpoint.py
Labels: area:system-tests

#26687 Add information about Amazon Elastic MapReduce Connection
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/operators/emr.py
  docs/apache-airflow-providers-amazon/connections/emr.rst
  tests/providers/amazon/aws/hooks/test_emr.py
Labels: provider:AWS, area:providers, kind:documentation

#26696 [docs] make consistency on markup title string levels on cluster policies docs
  docs/apache-airflow/concepts/cluster-policies.rst
Labels: kind:documentation

#26347 Retry on Airflow Schedule DAG Run DB Deadlock
  airflow/jobs/scheduler_job.py
Labels: area:scheduler/executor

#26819 Documentation fixes
  RELEASE_NOTES.rst
  airflow/cli/cli_parser.py
Labels: area:CLI, type:doc-only

#26829 Fixed triple quotes in task group example
  docs/apache-airflow/concepts/dags.rst
Labels: kind:documentation

#26845 Fix Slack Connections created in the UI
  airflow/providers/slack/hooks/slack.py
  airflow/providers/slack/hooks/slack_webhook.py
  airflow/providers/slack/utils/__init__.py
  tests/providers/slack/utils/test_utils.py
Labels: area:providers

#26822 Add missing colors to state_color_mapping jinja global
  airflow/settings.py
  airflow/www/jest-setup.js
  docs/apache-airflow/howto/customize-ui.rst
Labels: area:webserver, kind:documentation

#24999 [FIX] Scheduler crashloopbackoff when using `hostname_callable`
  airflow/cli/cli_parser.py
  airflow/cli/commands/jobs_command.py
  chart/templates/_helpers.yaml
Labels: area:CLI, area:helm-chart

#26828 Move downgrade/upgrade tests to run new Python breeze
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  CI.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  scripts/ci/constraints/ci_branch_constraints.sh
  scripts/ci/constraints/ci_commit_constraints.sh
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  scripts/ci/images/ci_start_arm_instance_and_connect_to_docker.sh
  scripts/ci/images/ci_stop_arm_instance.sh
  scripts/ci/libraries/_all_libs.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_local_mounts.sh
  scripts/ci/libraries/_sanity_checks.sh
  scripts/ci/libraries/_script_init.sh
  scripts/ci/libraries/_start_end.sh
  scripts/ci/libraries/_testing.sh
  scripts/ci/libraries/_traps.sh
  scripts/ci/libraries/_verbosity.sh
  scripts/ci/openapi/client_codegen_diff.sh
  scripts/ci/pre_commit/pre_commit_flake8.py
  scripts/ci/pre_commit/pre_commit_migration_reference.py
  scripts/ci/pre_commit/pre_commit_mypy.py
  scripts/ci/testing/run_downgrade_test.sh
  scripts/ci/testing/run_offline_sql_test.sh
Labels: area:dev-tools

#26860 Add docs for Google/Slack RC providers
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/slack/CHANGELOG.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-slack/commits.rst
Labels: provider:Google, area:providers, kind:documentation

#26849 Don't consider airflow core conf for KPO
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, area:kubernetes

#26866 Bump min version of jinja2
  setup.cfg
Labels: type:bug-fix

#26871 Fix flakey test test_disable_logging
  tests/providers/google/cloud/utils/test_credentials_provider.py
Labels: provider:Google, area:providers

#26838 making failedJobsHistoryLimit and successfulJobsHistoryLimit of clean…
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_cleanup_pods.py
Labels: area:helm-chart

#26358 Add last_updated_at and total_updates to datasets list view
  airflow/www/static/js/api/useDataset.ts
  airflow/www/static/js/api/useDatasets.ts
  airflow/www/static/js/datasets/List.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/templates/airflow/datasets.html
  airflow/www/views.py
  tests/www/views/test_views_dataset.py
Labels: area:webserver, changelog:skip, area:UI, AIP-48

#26844 Add authoring API for TaskGroup mapping
  airflow/decorators/base.py
  airflow/decorators/task_group.py
  airflow/models/abstractoperator.py
  airflow/models/mappedoperator.py
  airflow/models/param.py
  airflow/models/xcom_arg.py
  airflow/utils/helpers.py
  airflow/utils/mixins.py
  airflow/utils/task_group.py
  tests/decorators/test_task_group.py
Labels: AIP-42

#26485 Chart: Default airflow version to 2.4.1
  chart/Chart.yaml
  chart/newsfragments/25916.significant.rst
  chart/newsfragments/26485.significant.rst
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_airflow_common.py
  tests/charts/test_basic_helm_chart.py
  tests/charts/test_rbac.py
  tests/charts/test_result_backend_connection_secret.py
Labels: area:helm-chart

#26100 Split out and handle 'params' in mapped operator
  airflow/decorators/base.py
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  airflow/models/mappedoperator.py
  airflow/models/param.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/utils/context.py
  airflow/utils/context.pyi
  tests/conftest.py
  tests/models/test_dagrun.py
  tests/models/test_mappedoperator.py
  tests/models/test_taskinstance.py
Labels: AIP-42

#26815 Move user-facing string to template
  airflow/models/dag.py
  airflow/www/templates/airflow/dags.html
  tests/models/test_dag.py
Labels: area:webserver, area:UI

#26876 Allow for the overriding of stringify_dict for json/jsonb column data…
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
Labels: provider:Google, area:providers

#26895 Change dag audit log sort by date from asc to desc
  airflow/www/views.py
Labels: area:webserver

#26897 Fix dataset-triggered next run modal links
  airflow/www/static/js/datasetUtils.js
Labels: area:webserver, area:UI

#26784 Avoid circular imports in AWS Secrets Backends if obtain secrets from config
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/utils/connection_wrapper.py
  tests/providers/amazon/aws/utils/test_connection_wrapper.py
Labels: provider:AWS, area:providers

#26857 Fix a bunch of deprecation warnings AWS tests
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/hooks/redshift_sql.py
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/sensors/emr.py
  tests/providers/amazon/aws/hooks/test_athena.py
  tests/providers/amazon/aws/hooks/test_batch_client.py
  tests/providers/amazon/aws/hooks/test_ec2.py
  tests/providers/amazon/aws/hooks/test_eks.py
  tests/providers/amazon/aws/hooks/test_emr_containers.py
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/providers/amazon/aws/operators/test_athena.py
  tests/providers/amazon/aws/operators/test_batch.py
  tests/providers/amazon/aws/operators/test_emr_containers.py
  tests/providers/amazon/aws/operators/test_rds.py
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
  tests/providers/amazon/aws/secrets/test_systems_manager.py
  tests/providers/amazon/aws/sensors/test_emr_containers.py
  tests/providers/amazon/aws/sensors/test_glue_catalog_partition.py
  tests/providers/amazon/aws/transfers/test_gcs_to_s3.py
  tests/providers/amazon/aws/transfers/test_google_api_to_s3.py
  tests/providers/amazon/aws/utils/test_connection_wrapper.py
Labels: provider:AWS, area:providers, area:logging, area:secrets

#26909 Update the screenshots of the graph view and grid view on overview page
  docs/apache-airflow/img/demo_graph_view.png
  docs/apache-airflow/img/demo_grid_view.png
  docs/apache-airflow/img/hello_world_graph_view.png
  docs/apache-airflow/img/hello_world_grid_view.png
  docs/apache-airflow/index.rst
Labels: kind:documentation

#26893 Add search to datasets list
  airflow/www/static/js/datasets/List.test.tsx
  airflow/www/static/js/datasets/List.tsx
  airflow/www/views.py
  tests/www/views/test_views_dataset.py
Labels: area:webserver, area:UI

#26922 Remove <2 limit on google-cloud-storage
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/index.rst
  generated/provider_dependencies.json
Labels: provider:Google, area:providers, kind:documentation

#26885 Add missing AUTOINC/SERIAL for FAB tables
  airflow/migrations/env.py
  airflow/migrations/versions/0118_2_4_2_add_missing_autoinc_fab.py
  airflow/migrations/versions/0119_2_5_0_add_updated_at_to_dagrun_and_ti.py
  airflow/settings.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/migrations-ref.rst
Labels: kind:documentation, type:bug-fix

#26758 DbApiHook consistent insert_rows logging
  airflow/providers/common/sql/hooks/sql.py
Labels: area:providers, provider:Common-sql

#26126 Fix delay in Dataproc CreateBatch operator
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_batch.py
Labels: provider:Google, area:providers, area:system-tests

#26958 Configure vscode dev-container
  .devcontainer/devcontainer.json
  scripts/ci/docker-compose/devcontainer.yml
Labels: area:dev-tools

#26799 SFTP to Google Cloud Storage Transfer system tests migration (AIP-47)
  docs/apache-airflow-providers-google/operators/transfer/sftp_to_gcs.rst
  tests/providers/google/cloud/transfers/test_sftp_to_gcs_system.py
  tests/system/providers/google/cloud/gcs/example_sftp_to_gcs.py
  tests/system/providers/google/cloud/gcs/resources/tmp.tar.gz
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#26797 Local filesystem to Google Drive Operator - system tests migration (AIP-47)
  docs/apache-airflow-providers-google/example-dags.rst
  docs/apache-airflow-providers-google/operators/transfer/local_to_drive.rst
  tests/system/providers/google/suite/example_local_to_drive.py
  tests/system/providers/google/suite/resources/__init__.py
  tests/system/providers/google/suite/resources/test1
  tests/system/providers/google/suite/resources/test2
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#26733 RDS Instance System Tests
  airflow/providers/amazon/aws/sensors/rds.py
  docs/apache-airflow-providers-amazon/operators/rds.rst
  tests/system/providers/amazon/aws/example_rds_instance.py
  tests/system/providers/amazon/aws/rds/__init__.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#26808 ECS System Test (AIP-47)
  docs/apache-airflow-providers-amazon/operators/ecs.rst
  tests/system/providers/amazon/aws/example_ecs.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#26772 Google Cloud Storage to Google Drive Transfer Operators - system tests migrations (AIP-47)
  tests/system/providers/google/cloud/gcs/example_gcs_to_gdrive.py
Labels: area:system-tests

#26560 add container_name option for SparkKubernetesSensor
  airflow/providers/cncf/kubernetes/sensors/spark_kubernetes.py
  tests/providers/cncf/kubernetes/sensors/test_spark_kubernetes.py
Labels: area:providers, area:kubernetes

#26729 System test for Dynamo DB to S3 (AIP-47)
  airflow/providers/amazon/aws/example_dags/example_dynamodb_to_s3.py
  docs/apache-airflow-providers-amazon/operators/transfer/dynamodb_to_s3.rst
  tests/system/providers/amazon/aws/example_dynamodb_to_s3.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#26835 Fix for Redshift to S3 System test
  tests/system/providers/amazon/aws/example_redshift_s3_transfers.py
Labels: area:system-tests

#26723 Convert emr_eks example dag to system test
  airflow/providers/amazon/aws/example_dags/example_emr_eks.py
  docs/apache-airflow-providers-amazon/operators/emr_eks.rst
  docs/spelling_wordlist.txt
  tests/system/providers/amazon/aws/example_emr_eks.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#26853 Fix failure state in waiter call for EmrServerlessStartJobOperator
  airflow/providers/amazon/aws/operators/emr.py
  tests/providers/amazon/aws/operators/test_emr_serverless.py
Labels: provider:AWS, area:providers

#26868 Update Google API Youtube to S3 System test authentication
  tests/system/providers/amazon/aws/example_google_api_youtube_to_s3.py
Labels: area:system-tests

#25931 Added Doc - Airflow remote logging with S3 and IRSA
  docs/apache-airflow-providers-amazon/connections/aws.rst
  docs/apache-airflow-providers-amazon/img/aws-base-conn-airflow.png
  docs/apache-airflow-providers-amazon/logging/s3-task-handler.rst
  docs/spelling_wordlist.txt
Labels: provider:AWS, area:providers, kind:documentation

#26955 Add provider.yaml files to the CI Breeze image check
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#26953 Improve testing AWS Connection response
  airflow/providers/amazon/aws/hooks/base_aws.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: provider:AWS, area:providers

#26943 Add RELEASE_NOTES for chart 1.7.0
  chart/Chart.yaml
  chart/RELEASE_NOTES.rst
  chart/newsfragments/26485.significant.rst
  docs/spelling_wordlist.txt
Labels: area:helm-chart

#26967 Increase pytest execution timeout for Dask test backfill integration
  tests/executors/test_dask_executor.py
Labels: area:scheduler/executor

#26904 Fix running parallel k8s tests in "depth-first" mode in CI
  .github/workflows/ci.yml
  BREEZE.rst
  TESTING.rst
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands_config.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/utils/kubernetes_utils.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_k8s.svg
  images/breeze/output_k8s_configure-cluster.svg
  images/breeze/output_k8s_create-cluster.svg
  images/breeze/output_k8s_deploy-airflow.svg
  images/breeze/output_k8s_run-complete-tests.svg
  images/breeze/output_k8s_setup-env.svg
  images/breeze/output_k8s_tests.svg
  images/breeze/output_setup_regenerate-command-images.svg
  kubernetes_tests/test_base.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  kubernetes_tests/test_other_executors.py
Labels: full tests needed

#26973 Filter logs for specific logger in `TestGetGcpCredentialsAndProjectId.test_disable_logging`
  tests/providers/google/cloud/utils/test_credentials_provider.py
Labels: provider:Google, area:providers

#26926 Fix auto refresh for graph view
  airflow/www/static/js/graph.js
  tests/www/views/test_views_tasks.py
Labels: area:webserver, area:UI

#26584 Support Is /not Null filter for value is None on webui
  airflow/www/static/js/main.js
  airflow/www/utils.py
Labels: area:webserver

#26605 [DEV] add #protm tag to score calc in protm script
  dev/stats/get_important_pr_candidates.py
Labels: area:dev-tools

#27001 Add memray files to gitignore / dockerignore
  .dockerignore
  .gitignore
Labels: area:dev-tools

#27003 Add o-nikolas to triage team
  .asf.yaml
Labels: area:dev-tools

#26981 Reduce log level for k8s TCP_KEEPALIVE etc warnings
  airflow/kubernetes/kube_client.py
Labels: area:kubernetes

#27004 Ask reporter to specify Airflow version
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools

#27011 Revert "[DEV] add #protm tag to score calc in protm script (#26605)"
  dev/stats/get_important_pr_candidates.py
Labels: area:dev-tools, changelog:skip

#26941 Decode url params for dataset searches
  airflow/www/static/js/datasets/List.test.tsx
  airflow/www/static/js/datasets/List.tsx
  airflow/www/static/js/utils/testUtils.tsx
Labels: area:webserver, area:UI

#27009 Fix migration issue in upgrade using `type_` instead of `server_default`
  airflow/migrations/versions/0118_2_4_2_add_missing_autoinc_fab.py
  docs/apache-airflow/img/airflow_erd.sha256
Labels: kind:documentation, changelog:skip

#26848 Deprecate use of core kube_client in PodManager
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
  tests/test_utils/providers.py
Labels: area:providers, type:misc/internal, area:kubernetes

#25426 Update azure-storage-blob version
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/provider.yaml
  generated/provider_dependencies.json
Labels: provider:Azure, area:providers

#27015 [Dev] fix bug in protm script
  dev/stats/get_important_pr_candidates.py
Labels: area:dev-tools, full tests needed

#27008 Exit on error in breeze command
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
Labels: area:dev-tools

#26878 Betterize dataset update blurb
  airflow/models/dag.py
  airflow/www/static/js/dag.js
  airflow/www/static/js/dags.js
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  tests/models/test_dag.py
  tests/utils/test_db_cleanup.py
Labels: area:webserver, area:UI

#26942 Filtering datasets by recent update events
  airflow/www/static/js/api/useDatasets.ts
  airflow/www/static/js/datasets/List.tsx
  airflow/www/views.py
  tests/www/views/test_views_dataset.py
Labels: area:webserver, area:UI

#27048 Return the correct error code from breeze shell
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
Labels: area:dev-tools

#27051 Fix `.gitpod.yml` tasks init shell file directory
  .gitpod.yml
Labels: changelog:skip

#27054 Remove info log about closing parent pipe
  airflow/dag_processing/processor.py
Labels: area:scheduler/executor

#26939 Slightly faster downgrade tests
  .github/workflows/ci.yml
  airflow/cli/cli_parser.py
  airflow/cli/commands/db_command.py
  airflow/migrations/env.py
  airflow/migrations/versions/0074_2_0_0_resource_based_permissions.py
  airflow/migrations/versions/0078_2_0_1_remove_can_read_permission_on_config_.py
  airflow/migrations/versions/0084_2_1_0_resource_based_permissions_for_default_.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
  tests/cli/commands/test_db_command.py
Labels: area:CLI, area:dev-tools, kind:documentation

#26995 No extra__conn_type__ prefix required for UI behaviors
  airflow/providers_manager.py
  docs/apache-airflow/howto/connection.rst
  tests/core/test_providers_manager.py
Labels: kind:documentation

#27064 Avoid 500 on dag redirect
  airflow/www/views.py
Labels: area:webserver

#27061 Helm chart 1.7.0 has been released
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  chart/Chart.yaml
  chart/RELEASE_NOTES.rst
Labels: area:dev-tools, area:helm-chart

#27055 Fix broken PyGithub link in github provider doc
  docs/apache-airflow-providers-github/operators/index.rst
Labels: area:providers, kind:documentation, changelog:skip

#27085 Clean up some more warnings in tests
  tests/api/common/test_mark_tasks.py
  tests/api_connexion/conftest.py
Labels: area:API

#26880 Add separate error handler for 405(Method not allowed) errors
  airflow/www/extensions/init_views.py
  airflow/www/templates/airflow/error.html
  airflow/www/views.py
  tests/api_connexion/test_error_handling.py
Labels: area:webserver, area:API, area:UI

#26778 Don't re-patch pods that are already controlled by current worker
  airflow/executors/kubernetes_executor.py
Labels: area:scheduler/executor, area:kubernetes

#25717 Add SQLExecuteQueryOperator
  airflow/providers/amazon/aws/operators/redshift_sql.py
  airflow/providers/amazon/provider.yaml
  airflow/providers/apache/drill/operators/drill.py
  airflow/providers/apache/drill/provider.yaml
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/common/sql/provider.yaml
  airflow/providers/databricks/operators/databricks_sql.py
  airflow/providers/databricks/provider.yaml
  airflow/providers/exasol/operators/exasol.py
  airflow/providers/exasol/provider.yaml
  airflow/providers/jdbc/operators/jdbc.py
  airflow/providers/jdbc/provider.yaml
  airflow/providers/microsoft/mssql/operators/mssql.py
  airflow/providers/microsoft/mssql/provider.yaml
  airflow/providers/mysql/operators/mysql.py
  airflow/providers/mysql/provider.yaml
  airflow/providers/oracle/operators/oracle.py
  airflow/providers/oracle/provider.yaml
  airflow/providers/postgres/operators/postgres.py
  airflow/providers/postgres/provider.yaml
  airflow/providers/snowflake/operators/snowflake.py
  airflow/providers/snowflake/provider.yaml
  airflow/providers/sqlite/operators/sqlite.py
  airflow/providers/sqlite/provider.yaml
  airflow/providers/trino/operators/trino.py
  airflow/providers/trino/provider.yaml
  airflow/providers/vertica/operators/vertica.py
  airflow/providers/vertica/provider.yaml
  docs/apache-airflow-providers-common-sql/operators.rst
  generated/provider_dependencies.json
  tests/providers/amazon/aws/operators/test_redshift_sql.py
  tests/providers/common/sql/operators/test_sql.py
  tests/providers/databricks/operators/test_databricks_sql.py
  tests/providers/exasol/operators/test_exasol.py
  tests/providers/jdbc/operators/test_jdbc.py
  tests/providers/microsoft/mssql/operators/test_mssql.py
  tests/providers/oracle/operators/test_oracle.py
  tests/providers/snowflake/operators/test_snowflake.py
  tests/providers/trino/operators/test_trino.py
  tests/providers/vertica/operators/test_vertica.py
  tests/system/providers/common/sql/example_sql_execute_query.py
Labels: provider:AWS, area:providers, provider:Apache, provider:Snowflake, provider:Common-sql, provider:Databricks

#27112 Add ferruzzi to triage team
  .asf.yaml
Labels: area:dev-tools

#27017 `GoogleApiToS3Operator` : add `gcp_conn_id` to template fields
  airflow/providers/amazon/aws/transfers/google_api_to_s3.py
Labels: provider:AWS, area:providers

#27115 Doc fix title underline
  docs/apache-airflow-providers/howto/create-update-providers.rst
Labels: kind:documentation

#26921 ECS Buglette
  airflow/providers/amazon/aws/operators/ecs.py
Labels: provider:AWS, area:providers

#27076 Add RdsStopDbOperator and RdsStartDbOperator
  airflow/providers/amazon/aws/operators/rds.py
  airflow/providers/amazon/aws/sensors/rds.py
  docs/apache-airflow-providers-amazon/operators/rds.rst
  tests/providers/amazon/aws/operators/test_rds.py
  tests/system/providers/amazon/aws/example_rds_instance.py
Labels: provider:AWS, area:providers, area:system-tests

#27103 Update ISSUE_TRIAGE_PROCESS.rst
  ISSUE_TRIAGE_PROCESS.rst
Labels: kind:documentation

#27143 Simplify origin string cleaning
  airflow/www/views.py
  tests/www/views/test_views.py
  tests/www/views/test_views_trigger_dag.py
Labels: area:webserver

#27142 Don't overwrite connection extra with invalid json
  airflow/www/forms.py
  airflow/www/views.py
  tests/www/views/test_views_connection.py
Labels: area:webserver

#26992 Replace `unittests` in helm chart tests by pure `pytest` [Wave-2]
  TESTING.rst
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  tests/charts/test_airflow_common.py
  tests/charts/test_basic_helm_chart.py
  tests/charts/test_celery_kubernetes_executor.py
  tests/charts/test_chart_quality.py
  tests/charts/test_cleanup_pods.py
  tests/charts/test_configmap.py
  tests/charts/test_create_user_job.py
  tests/charts/test_dag_processor.py
  tests/charts/test_dags_persistent_volume_claim.py
  tests/charts/test_elasticsearch_secret.py
  tests/charts/test_extra_configmaps_secrets.py
  tests/charts/test_extra_env_env_from.py
  tests/charts/test_flower.py
  tests/charts/test_git_sync_scheduler.py
  tests/charts/test_git_sync_triggerer.py
  tests/charts/test_git_sync_webserver.py
  tests/charts/test_git_sync_worker.py
  tests/charts/test_ingress_flower.py
  tests/charts/test_ingress_web.py
  tests/charts/test_keda.py
  tests/charts/test_kerberos.py
  tests/charts/test_limit_ranges.py
  tests/charts/test_logs_persistent_volume_claim.py
  tests/charts/test_metadata_connection_secret.py
  tests/charts/test_migrate_database_job.py
  tests/charts/test_pdb_pgbouncer.py
  tests/charts/test_pdb_scheduler.py
  tests/charts/test_pdb_webserver.py
  tests/charts/test_pgbouncer.py
  tests/charts/test_pod_launcher_role.py
  tests/charts/test_pod_template_file.py
  tests/charts/test_rbac.py
  tests/charts/test_redis.py
  tests/charts/test_resource_quota.py
  tests/charts/test_result_backend_connection_secret.py
  tests/charts/test_scheduler.py
  tests/charts/test_statsd.py
  tests/charts/test_triggerer.py
  tests/charts/test_webserver.py
  tests/charts/test_worker.py
Labels: area:dev-tools

#27139 Fix yarn warning from d3-color
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:webserver, area:UI

#27119 Correct the JSON style used for Run config in Grid View
  airflow/www/static/js/dag/details/dagRun/index.tsx
Labels: area:webserver, area:UI

#27027 Add mapped task group info to serialization
  airflow/models/taskmixin.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/utils/task_group.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, AIP-42

#27105 Test only appropriate logger in Google provider
  tests/providers/google/cloud/utils/test_credentials_provider.py
Labels: provider:Google, area:providers

#27171 Add *.jinja2 files to provider packages
  dev/provider_packages/SETUP_TEMPLATE.py.jinja2
Labels: area:dev-tools

#27028 Add kerberos environment variables to the docs
  docs/apache-airflow/security/kerberos.rst
Labels: kind:documentation, type:doc-only

#27120 Make pod name optional in KubernetesPodOperator
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, area:kubernetes

#27177 Make amazon provider tests compatible with latest `moto`
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/hooks/test_dynamodb.py
  tests/providers/amazon/aws/hooks/test_eks.py
  tests/providers/amazon/aws/transfers/test_hive_to_dynamodb.py
Labels: provider:AWS, area:providers

#26652 Add GlacierUploadArchiveOperator
  airflow/providers/amazon/aws/example_dags/example_glacier_to_gcs.py
  airflow/providers/amazon/aws/operators/glacier.py
  docs/apache-airflow-providers-amazon/operators/glacier.rst
  docs/spelling_wordlist.txt
  tests/providers/amazon/aws/operators/test_glacier.py
Labels: provider:AWS, area:providers, kind:documentation

#26946 Fix assume role if user explicit set credentials
  airflow/providers/amazon/aws/hooks/base_aws.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: provider:AWS, area:providers

#27095 Allow session properties for trino connection
  airflow/providers/trino/hooks/trino.py
  docs/apache-airflow-providers-trino/connections.rst
  tests/providers/trino/hooks/test_trino.py
Labels: area:providers

#27193 Stop using deprecated set-output
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release_dockerhub_image.yml
  BREEZE.rst
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/utils/github_actions.py
  dev/breeze/tests/test_selective_checks.py
  scripts/ci/constraints/ci_branch_constraints.sh
Labels: area:dev-tools

#27116 Make namespace optional for KPO
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  docs/apache-airflow-providers-cncf-kubernetes/operators.rst
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, area:kubernetes

#27075 Allow and prefer non-prefixed extra fields for SalesforceHook
  airflow/providers/salesforce/hooks/salesforce.py
  tests/providers/salesforce/hooks/test_salesforce.py
Labels: area:providers

#26764 Update snowflake hook to not use extra prefix
  airflow/providers/snowflake/CHANGELOG.rst
  airflow/providers/snowflake/hooks/snowflake.py
  tests/providers/snowflake/hooks/test_snowflake.py
  tests/test_utils/providers.py
Labels: area:providers, provider:Snowflake

#27021 Remove extra__kubernetes__ prefix from k8s hook extras
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  docs/apache-airflow-providers-cncf-kubernetes/connections/kubernetes.rst
  tests/providers/cncf/kubernetes/hooks/test_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_spark_kubernetes.py
  tests/providers/cncf/kubernetes/sensors/test_spark_kubernetes.py
Labels: area:providers, kind:documentation, area:kubernetes

#27023 Update google hooks to prefer non-prefixed extra fields
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/google/common/hooks/base_google.py
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
  docs/apache-airflow-providers-google/connections/gcp.rst
  docs/apache-airflow-providers-google/connections/gcp_ssh.rst
  docs/apache-airflow/security/secrets/secrets-backend/local-filesystem-secrets-backend.rst
  tests/always/test_connection.py
  tests/always/test_secrets_local_filesystem.py
  tests/providers/google/ads/hooks/test_ads.py
  tests/providers/google/cloud/hooks/test_cloud_sql.py
  tests/providers/google/cloud/hooks/test_compute_ssh.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/providers/google/cloud/utils/base_gcp_mock.py
  tests/providers/google/cloud/utils/test_credentials_provider.py
  tests/providers/google/common/hooks/test_base_google.py
  tests/system/providers/amazon/aws/example_google_api_youtube_to_s3.py
Labels: provider:Google, provider:AWS, area:providers, area:secrets, area:system-tests, kind:documentation

#27045 Allow and prefer non-prefixed extra fields for GrpcHook
  airflow/providers/grpc/CHANGELOG.rst
  airflow/providers/grpc/hooks/grpc.py
  tests/providers/grpc/hooks/test_grpc.py
Labels: area:providers

#27040 Allow no extra prefix in yandex hook
  airflow/providers/yandex/CHANGELOG.rst
  airflow/providers/yandex/hooks/yandex.py
  tests/providers/yandex/hooks/test_yandex.py
  tests/providers/yandex/hooks/test_yandexcloud_dataproc.py
Labels: area:providers

#27044 Allow and prefer non-prefixed extra fields for JdbcHook
  airflow/providers/jdbc/CHANGELOG.rst
  airflow/providers/jdbc/hooks/jdbc.py
  docs/apache-airflow-providers-jdbc/connections/jdbc.rst
  tests/providers/jdbc/hooks/test_jdbc.py
Labels: area:providers, kind:documentation

#26836 Cloud ML Engine operators assets (AIP-47)
  airflow/providers/google/cloud/links/mlengine.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/google/provider.yaml
  tests/providers/google/cloud/operators/test_mlengine.py
Labels: provider:Google, area:providers

#26985 Fix error on running pre-commit without installing breeze
  dev/breeze/src/airflow_breeze/utils/path_utils.py
Labels: area:dev-tools

#27189 Remove Jira provider
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/jira/.latest-doc-only-change.txt
  airflow/providers/jira/CHANGELOG.rst
  airflow/providers/jira/__init__.py
  airflow/providers/jira/hooks/__init__.py
  airflow/providers/jira/hooks/jira.py
  airflow/providers/jira/operators/__init__.py
  airflow/providers/jira/operators/jira.py
  airflow/providers/jira/provider.yaml
  airflow/providers/jira/sensors/__init__.py
  airflow/providers/jira/sensors/jira.py
  docs/apache-airflow-providers-jira/commits.rst
  docs/apache-airflow-providers-jira/index.rst
  docs/apache-airflow-providers-jira/installing-providers-from-sources.rst
  generated/provider_dependencies.json
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py
  scripts/in_container/verify_providers.py
Labels: area:providers

#27198 Fix test get credentials for assume role in amazon provider
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: provider:AWS, area:providers

#27212 Enable full static checks also when only dev file change
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Labels: area:dev-tools

#27020 set executor.job_id to BackfillJob.id for backfills
  airflow/jobs/backfill_job.py
  tests/jobs/test_backfill_job.py
Labels: area:scheduler/executor

#27215 Add better diagnostics on auto dependencies upgrade
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
Labels: area:dev-tools

#27016 Use shutil.move instead of os.rename
  tests/cli/commands/test_task_command.py
Labels: area:CLI

#27221 Fix constraint upgrade
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
Labels: area:dev-tools

#27047 Allow and prefer non-prefixed extra fields for AzureDataFactoryHook
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  docs/apache-airflow-providers-microsoft-azure/connections/adf.rst
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
  tests/providers/microsoft/azure/operators/test_azure_data_factory.py
Labels: provider:Azure, area:providers, kind:documentation

#27201 Bump pinotdb version
  airflow/providers/apache/pinot/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, provider:Apache

#27088 Fix flakey test `TestCliDags.test_trigger_dag_invalid_conf`
  tests/cli/commands/test_dag_command.py
Labels: area:CLI

#27229 Apache Airflow `2.4.2` has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/utils/db.py
  docs/apache-airflow/installation/supported-versions.rst
  newsfragments/000.significant.rst
  scripts/ci/pre_commit/pre_commit_supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#27240 Increase timeout for docs building
  docs/exts/docs_build/code_utils.py
Labels: kind:documentation

#27137 Fix typo in set-up-database.rst
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation

#27239 Prepare cncf.kubernetes provider patch release 4.4.1
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/provider.yaml
  dev/provider_packages/SETUP_TEMPLATE.py.jinja2
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
Labels: area:providers, area:dev-tools, kind:documentation, area:kubernetes

#27223 Make RotatingFilehandler used in DagProcessor non-caching
  airflow/config_templates/airflow_local_settings.py
  airflow/utils/log/non_caching_file_handler.py
  newsfragments/27065.misc.rst
Labels: area:logging

#27203 Upgrade `pip' to 22.3
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  scripts/docker/common.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#27242 Adds base-branch option to prepare-providers-documnentation command
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/provider_packages/prepare_provider_packages.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  scripts/in_container/run_prepare_provider_documentation.sh
Labels: area:dev-tools

#27252 Remove deprecated code from Opsgenie provider
  airflow/providers/opsgenie/CHANGELOG.rst
  airflow/providers/opsgenie/hooks/opsgenie_alert.py
  airflow/providers/opsgenie/operators/opsgenie_alert.py
  airflow/providers/opsgenie/provider.yaml
  scripts/in_container/verify_providers.py
Labels: area:providers, area:dev-tools

#27243 Fix system tests for SnowflakeOperator
  .pre-commit-config.yaml
  tests/system/providers/snowflake/example_snowflake.py
  tests/system/providers/snowflake/example_snowflake_snowflake_op_template_file.sql
Labels: area:dev-tools, area:system-tests

#27233 Reduce extraneous task log requests
  airflow/www/static/js/api/useTaskLog.ts
  airflow/www/static/js/dag/details/taskInstance/Logs/index.tsx
  airflow/www/static/js/dag/details/taskInstance/index.tsx
Labels: area:webserver, area:UI

#27110 Update dags.rst
  docs/apache-airflow/concepts/dags.rst
Labels: kind:documentation

#26593 SFTP Provider: Fix default folder permissions
  airflow/providers/sftp/hooks/sftp.py
  tests/providers/sftp/hooks/test_sftp.py
Labels: area:providers

#27254 Remove UI selective check output
  .github/workflows/ci.yml
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Labels: area:dev-tools

#27278 Add Andrey as member of the triage team
  .asf.yaml
Labels: area:dev-tools

#27271 Use all-python-versions-list-as-string in build-images.yml
  .github/workflows/build-images.yml
Labels: area:dev-tools

#27258 Mark azure sdist warning as knowing when installing
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#27230 Chart: Default airflow version to 2.4.2
  chart/Chart.yaml
  chart/newsfragments/27230.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#27253 Update airflow release note to export AIRFLOW_RELEASE_SVN before use
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools

#27260 Print important information outside of the folded output in CI
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#27277 Add logging back to Sagemaker system test
  tests/system/providers/amazon/aws/example_sagemaker.py
Labels: area:system-tests

#27279 Fix emr_eks system test
  tests/system/providers/amazon/aws/example_emr_eks.py
Labels: area:system-tests

#27269 Enable string normalization for docs
  .pre-commit-config.yaml
  RELEASE_NOTES.rst
  airflow/utils/db.py
  docs/apache-airflow-providers-databricks/operators/submit_run.rst
  docs/apache-airflow/best-practices.rst
  docs/apache-airflow/concepts/datasets.rst
  docs/apache-airflow/concepts/timetable.rst
Labels: area:providers, area:dev-tools, kind:documentation, provider:Databricks
