Repository apache/airflow, pull requests merged in 2022-01, with the labels that each got.

#20616 Fix elasticsearch secret default port 80 to 9200.
  chart/templates/secrets/elasticsearch-secret.yaml
  chart/tests/test_elasticsearch_secret.py
Labels: area:helm-chart

#20610 Fix mypy apache beam operators
  airflow/providers/apache/beam/operators/beam.py
  tests/providers/apache/beam/operators/test_beam.py
Labels: area:providers, provider:Apache, okay to merge

#20620 Fix flaky dask executor test
  tests/executors/.gitignore
  tests/executors/test_dask_executor.py
Labels: area:scheduler/executor, full tests needed

#20619 Add twine check for provider packages
  .github/workflows/ci.yml
  breeze
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/libraries/_initialization.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_install_and_test_provider_packages.sh
  setup.py
Labels: area:dev-tools, full tests needed

#20622 Fix empty excludes in selective checks
  scripts/ci/selective_ci_checks.sh
Labels: area:dev-tools, full tests needed

#20621 Fix generation of "Status provider" issue
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/provider_packages/PROVIDER_ISSUE_TEMPLATE.md.jinja2
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools, okay to merge

#20623 Update pre-commit hooks
  .pre-commit-config.yaml
  airflow/kubernetes/kube_client.py
Labels: area:dev-tools, full tests needed

#20617 Fix flaky sensor test
  tests/sensors/test_python.py
Labels: full tests needed, area:core-operators

#20624 Generate constraints in PRs when upgrading dependencies
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#20482 Fix mypy errors in airflow/utils/
  airflow/utils/context.pyi
  airflow/utils/dot_renderer.py
  airflow/utils/file.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/python_virtualenv.py
  airflow/utils/timezone.py
Labels: area:logging, full tests needed, mypy

#20631 Fix Constraints failure in PRs
  scripts/ci/constraints/ci_branch_constraints.sh
Labels: area:dev-tools, full tests needed

#19703 upgrade celery 5.2.3
  setup.py
Labels: full tests needed

#20628 Bump flask-appbuilder to >=3.3.4
  setup.cfg
Labels: full tests needed

#20148 [Update] Breeze2-on-windows
  .pre-commit-config.yaml
  dev/breeze/doc/BREEZE.md
Labels: area:dev-tools, full tests needed, okay to merge

#20630 Update manage-dags-files.rst to fix some inconsistencies
  docs/helm-chart/manage-dags-files.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#20542 [Part 1]: Add hook for integrating with Google Calendar
  airflow/providers/google/provider.yaml
  airflow/providers/google/suite/hooks/calendar.py
  docs/integration-logos/gcp/Google-Calendar.png
  tests/providers/google/suite/hooks/test_calendar.py
Labels: provider:Google, area:providers, okay to merge

#20638 Fix incorrect arguments in airflow-license
  dev/airflow-license
Labels: area:dev-tools

#20637 Docs: Changed macros to correct classes and modules
  docs/apache-airflow/templates-ref.rst
Labels: kind:documentation, okay to merge

#20567 Improve documentation on ``Params``
  docs/apache-airflow/concepts/params.rst
Labels: kind:documentation, okay to merge

#20625 Fxing MyPy issues inside airflow/providers/qubole
  airflow/providers/qubole/operators/qubole.py
  airflow/providers/qubole/operators/qubole_check.py
Labels: area:providers

#20541 StreamLogWriter: swap _buffer before _propagate_log()
  airflow/utils/log/logging_mixin.py
Labels: area:logging, full tests needed

#18797 Update Kubernetes library version and backport pickle-fix for Loggers
  airflow/providers/cncf/kubernetes/__init__.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  setup.py
  tests/kubernetes/test_client.py
Labels: area:providers, full tests needed, area:kubernetes, area:dependencies

#20200 [New] - Ci free space python
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_ci/__init__.py
  dev/breeze/src/airflow_ci/freespace.py
  scripts/ci/tools/free_space.sh
Labels: area:dev-tools, full tests needed

#20455 Add a button to set all tasks to skipped
  airflow/www/views.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, okay to merge

#20641 Fix precedence of affinity, nodeSelector, and tolerations
  chart/UPDATING.rst
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_airflow_common.py
  chart/tests/test_pod_template_file.py
  chart/tests/test_scheduler.py
  chart/tests/test_triggerer.py
  chart/tests/test_webserver.py
  chart/tests/test_worker.py
  chart/values.yaml
  docs/helm-chart/customizing-workers.rst
Labels: area:helm-chart, okay to merge

#20332 Standardize AWS ECS naming
  airflow/providers/amazon/aws/example_dags/example_ecs_fargate.py
  airflow/providers/amazon/aws/exceptions.py
  airflow/providers/amazon/aws/operators/ecs.py
  docs/apache-airflow-providers-amazon/operators/ecs.rst
  tests/providers/amazon/aws/operators/test_ecs.py
  tests/providers/amazon/aws/operators/test_ecs_system.py
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#20485 Add filter by state in DagRun REST API (List Dag Runs)
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_run_schema.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Labels: area:API, okay to merge

#20649 bugfix: deferred tasks does not cancel when DAG is marked fail
  airflow/api/common/experimental/mark_tasks.py
Labels: area:API, okay to merge

#20648 Better error when param value has unexpected type
  airflow/serialization/serialized_objects.py
Labels: area:serialization, full tests needed

#20639 Clarify `sentry_on` value is not quoted with example
  docs/apache-airflow/logging-monitoring/errors.rst
Labels: kind:documentation, okay to merge

#20675 Don't import Celery or Kubernetes at top level of CLI parser
  airflow/cli/cli_parser.py
Labels: area:CLI, okay to merge

#20659 Disabled edit button in task instances list view page
  airflow/www/views.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, okay to merge

#20669 Fix ECSProtocol compat shim inheritance
  airflow/contrib/operators/ecs_operator.py
Labels: full tests needed

#20618 Refactor vertica_to_mysql to make it more 'mypy' friendly
  airflow/providers/mysql/transfers/vertica_to_mysql.py
Labels: area:providers, okay to merge

#20338 Breeze2 build ci image
  dev/breeze/src/airflow_breeze/branch_defaults.py
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/cache.py
  dev/breeze/src/airflow_breeze/ci/build_image.py
  dev/breeze/src/airflow_breeze/ci/build_params.py
  dev/breeze/src/airflow_breeze/console.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils.py
Labels: area:dev-tools, okay to merge

#20062 Use original task's `start_date` if a task continues after deferral
  airflow/models/taskinstance.py
Labels: full tests needed

#20663 Allow Viewing DagRuns and TIs if a user has DAG "read" perms
  airflow/www/views.py
  tests/www/views/test_views_dagrun.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, okay to merge

#20658 Rename `to_delete` to `to_cancel` in TriggerRunner
  airflow/jobs/triggerer_job.py
Labels: area:scheduler/executor, full tests needed

#20691 Move CoreToContrib to "Always" category and rename to Deprecation
  tests/always/__init__.py
  tests/always/test_deprecations.py
Labels: full tests needed

#20696 Fix missing f-string and spelling in DB migration error messages
  airflow/utils/db.py
Labels: full tests needed

#20680 Remove Python 2 from our images
  Dockerfile
  Dockerfile.ci
  tests/decorators/test_python_virtualenv.py
  tests/operators/test_python.py
Labels: area:dev-tools, area:production-image, full tests needed, area:core-operators

#20679 Cleaner output of docker image building scripts
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_initialization.sh
  scripts/docker/common.sh
  scripts/docker/compile_www_assets.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_mssql.sh
  scripts/docker/install_mysql.sh
  scripts/docker/install_pip_version.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/prod/entrypoint_prod.sh
  scripts/in_container/run_prepare_airflow_packages.sh
Labels: area:dev-tools, kind:documentation, area:production-image, full tests needed

#20361 Add context var hook to inject more env vars
  airflow/settings.py
  airflow/utils/operator_helpers.py
  docs/apache-airflow/howto/export-more-env-vars.rst
  docs/apache-airflow/howto/index.rst
  tests/utils/test_operator_helpers.py
Labels: kind:documentation, full tests needed

#20686 Fix import check for nested providers.
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools, full tests needed

#20698 Increase default livenessProbe timeout
  chart/UPDATING.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#19965 Map and Partial DAG authoring interface for Dynamic Task Mapping
  airflow/decorators/base.py
  airflow/decorators/task_group.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/skipmixin.py
  airflow/models/taskmixin.py
  airflow/models/xcom_arg.py
  airflow/serialization/serialized_objects.py
  airflow/utils/task_group.py
  docs/spelling_wordlist.txt
  tests/decorators/test_python.py
  tests/models/test_baseoperator.py
  tests/serialization/test_dag_serialization.py
  tests/utils/test_task_group.py
Labels: full tests needed, AIP-42

#20360 Standardize DynamoDB naming
  airflow/providers/amazon/aws/hooks/dynamodb.py
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/amazon/aws/transfers/hive_to_dynamodb.py
  tests/deprecated_classes.py
  tests/providers/amazon/aws/hooks/test_dynamodb.py
  tests/providers/amazon/aws/transfers/test_dynamodb_to_s3.py
  tests/providers/amazon/aws/transfers/test_hive_to_dynamodb.py
Labels: provider:AWS, area:providers

#20706 Revert "Fix import check for nested providers."
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools, full tests needed

#20651 Fix mypy in providers/grpc and providers/imap
  airflow/providers/grpc/operators/grpc.py
  airflow/providers/imap/hooks/imap.py
Labels: area:providers, okay to merge

#20697 Modify Swagger documentation to align with PR #20485
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API, okay to merge

#20692 fix deprecation messages for SFTPHook
  airflow/providers/sftp/hooks/sftp.py
Labels: area:providers, okay to merge

#20704 Make native environment Airflow-flavoured like sandbox
  airflow/models/dag.py
  airflow/templates.py
Labels: full tests needed

#20703 Be build -> built, and a stray space
  BREEZE.rst
  CI.rst
  PULL_REQUEST_WORKFLOW.rst
  airflow/dag_processing/manager.py
  breeze
  scripts/ci/libraries/_build_images.sh
Labels: area:scheduler/executor, area:dev-tools, full tests needed

#20711 Fix naming convention for sdist provider packages
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#20708 Fix MyPy issues in ``airflow/providers/amazon/aws/transfers``
  airflow/providers/amazon/aws/transfers/gcs_to_s3.py
Labels: provider:AWS, area:providers, okay to merge, mypy

#20710 Fix Mypy errors for amazon dms in hooks and operator
  airflow/providers/amazon/aws/hooks/dms.py
  airflow/providers/amazon/aws/operators/dms.py
Labels: provider:AWS, area:providers, okay to merge, mypy

#20713 FIX MyPy issues in experimental/api
  airflow/api/common/experimental/get_lineage.py
Labels: area:API, okay to merge

#20715 Fix MyPy in provider Amazon Sagemaker operator
  airflow/providers/amazon/aws/operators/sagemaker.py
Labels: provider:AWS, area:providers, okay to merge, mypy

#20714 Fix MyPy issues in ``tests/executors``
  airflow/executors/base_executor.py
Labels: area:scheduler/executor, full tests needed

#20716 Fixed MyPy issues with ``test_snowflake.py``
  tests/providers/snowflake/hooks/test_snowflake.py
Labels: area:providers, okay to merge, provider:Snowflake, mypy

#20640 Update operators.rst
  docs/apache-airflow/concepts/operators.rst
Labels: kind:documentation, okay to merge

#20721 Revert "Cleaner output of docker image building scripts (#20679)"
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_initialization.sh
  scripts/docker/common.sh
  scripts/docker/compile_www_assets.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_mssql.sh
  scripts/docker/install_mysql.sh
  scripts/docker/install_pip_version.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/prod/entrypoint_prod.sh
  scripts/in_container/run_prepare_airflow_packages.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#20374 Standardize AWS Redshift naming
  airflow/providers/amazon/aws/sensors/redshift.py
  airflow/providers/amazon/aws/sensors/redshift_cluster.py
  dev/provider_packages/prepare_provider_packages.py
  tests/deprecated_classes.py
  tests/providers/amazon/aws/sensors/test_redshift_cluster.py
Labels: provider:AWS, area:providers, okay to merge

#20723 Add color to pytest tests on CI
  scripts/ci/images/ci_run_docker_tests.py
Labels: area:dev-tools, full tests needed

#20702 Updated Helm INSTALL
  chart/INSTALL
Labels: area:helm-chart, okay to merge

#20707 Add Roles from Azure OAUTH Response in internal Security Manager
  airflow/www/fab_security/manager.py
Labels: area:webserver, okay to merge

#20369 Standardize AWS Batch naming
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/hooks/batch_waiters.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/sensors/batch.py
  tests/deprecated_classes.py
  tests/providers/amazon/aws/hooks/test_batch_client.py
  tests/providers/amazon/aws/hooks/test_batch_waiters.py
  tests/providers/amazon/aws/operators/test_batch.py
  tests/providers/amazon/aws/sensors/test_batch.py
Labels: provider:AWS, area:providers

#20699 Fix duplicate trigger creation race condition
  airflow/jobs/triggerer_job.py
  tests/jobs/test_triggerer_job.py
Labels: area:scheduler/executor, full tests needed

#20661 Chart: 1.4.0 changelog
  chart/CHANGELOG.txt
  chart/Chart.yaml
  chart/UPDATING.rst
Labels: area:helm-chart, okay to merge

#20726 Modernize usage of PIP in Airflow images
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/kubernetes/ci_run_kubernetes_tests.sh
  scripts/ci/libraries/_initialization.sh
  scripts/docker/common.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_pip_version.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/prod/entrypoint_prod.sh
  scripts/in_container/run_prepare_airflow_packages.sh
Labels: area:production-image, full tests needed

#20720 Fix handling of Oracle bindvars in stored procedure call when parameters are not provided
  airflow/providers/oracle/hooks/oracle.py
  tests/providers/oracle/hooks/test_oracle.py
Labels: area:providers, okay to merge

#20749 Update ``CODEOWNERS`` for dev folder
  .github/CODEOWNERS
Labels: area:dev-tools, okay to merge

#17349 #16037 Templated requirements.txt in Python operators
  airflow/operators/python.py
  airflow/utils/python_virtualenv.py
  tests/config_templates/requirements.txt
  tests/decorators/test_python_virtualenv.py
  tests/operators/test_python.py
Labels: full tests needed, area:core-operators

#20751 Update python version to 3.7 contributing.rst
  CONTRIBUTING.rst
Labels: area:dev-tools

#20745 Snowflake Provider: Improve tests for Snowflake Hook
  airflow/providers/snowflake/hooks/snowflake.py
  tests/providers/snowflake/hooks/test_snowflake.py
Labels: area:providers, okay to merge, provider:Snowflake

#20756 Bugfix: ``SFTPHook`` does not respect ``ssh_conn_id`` arg
  airflow/providers/sftp/hooks/sftp.py
  tests/providers/sftp/hooks/test_sftp.py
  tests/providers/sftp/hooks/test_sftp_outdated.py
Labels: area:providers, type:bug-fix, okay to merge

#20722 Speed up creation of DagRun for large DAGs (5k+ tasks) by 25-140%
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/kubernetes/kube_config.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/settings.py
  airflow/utils/log/log_reader.py
  airflow/utils/platform.py
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/core/test_configuration.py
  tests/core/test_sqlalchemy_config.py
  tests/models/test_dagrun.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
  tests/utils/log/test_log_reader.py
  tests/www/test_app.py
  tests/www/views/test_views_log.py
Labels: area:scheduler/executor, full tests needed

#20671 Allow depending to a @task_group as a whole
  airflow/decorators/task_group.py
  tests/utils/test_task_group.py
Labels: full tests needed

#20737 Rewrite DAG run retrieval in task command
  airflow/cli/commands/task_command.py
Labels: area:CLI, okay to merge

#20765 Add documentation for an ad-hoc release of 2 providers
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/provider.yaml
  airflow/providers/sftp/CHANGELOG.rst
  airflow/providers/sftp/provider.yaml
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
  docs/apache-airflow-providers-sftp/commits.rst
  docs/apache-airflow-providers-sftp/index.rst
Labels: area:providers, kind:documentation, okay to merge, area:kubernetes

#20767 Rename amazon EMR hook name
  airflow/providers/amazon/aws/hooks/emr.py
Labels: provider:AWS, area:providers, okay to merge

#20744 Use airflow user for build segment of docker image
  Dockerfile
Labels: area:production-image, full tests needed

#20732 Standardize AWS SQS classes names
  airflow/contrib/hooks/aws_sqs_hook.py
  airflow/contrib/operators/aws_sqs_publish_operator.py
  airflow/contrib/sensors/aws_sqs_sensor.py
  airflow/providers/amazon/aws/example_dags/example_sqs.py
  airflow/providers/amazon/aws/hooks/sqs.py
  airflow/providers/amazon/aws/operators/sqs.py
  airflow/providers/amazon/aws/sensors/sqs.py
  docs/apache-airflow-providers-amazon/operators/sqs_publish.rst
  docs/apache-airflow/tutorial_taskflow_api.rst
  tests/deprecated_classes.py
  tests/providers/amazon/aws/hooks/test_sqs.py
  tests/providers/amazon/aws/operators/test_sqs.py
  tests/providers/amazon/aws/sensors/test_sqs.py
Labels: provider:AWS, area:providers, kind:documentation, full tests needed

#20066 Rewrite Breeze setup autocomplete
  dev/breeze/doc/BREEZE2.md
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_breeze/breeze.py
Labels: area:dev-tools

#20654 Fix MyPy Errors for providers: Tableau, CNCF, Apache
  airflow/providers/apache/hive/transfers/s3_to_hive.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  airflow/providers/tableau/operators/tableau_refresh_workbook.py
Labels: area:providers, provider:Apache, area:kubernetes

#20353 Fix mypy in providers/aws/hooks
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/ec2.py
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/hooks/emr.py
Labels: provider:AWS, area:providers, okay to merge, mypy

#20474 Delay the creation of ssh proxy until `get_conn()`
  airflow/providers/ssh/hooks/ssh.py
Labels: area:providers, okay to merge

#20700 Compare taskgroup and subdag
  docs/apache-airflow/concepts/dags.rst
Labels: kind:documentation, okay to merge

#20683 Send SLA callback to processor when DagRun has completed
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#20773 Add roles to create_user test
  tests/www/views/test_views_base.py
Labels: area:webserver, okay to merge

#20747 Cleaner output in docker builds
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
  scripts/docker/compile_www_assets.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_mssql.sh
  scripts/docker/install_mysql.sh
  scripts/docker/install_pip_version.sh
Labels: area:dev-tools, area:production-image, full tests needed

#19194 Refactor ti clear next method kwargs tests
  tests/models/test_taskinstance.py
Labels: full tests needed

#20783 Fix task execution process in CeleryExecutor docs
  docs/apache-airflow/executor/celery.rst
Labels: area:scheduler/executor, kind:documentation, okay to merge

#20784 Add Coinbase to the list of companies using Apache Airflow
  INTHEWILD.md
Labels: okay to merge

#19608 Enhance `multiple_outputs` inference of dict typing
  .pre-commit-config.yaml
  airflow/decorators/base.py
  airflow/decorators/python.py
  airflow/decorators/python_virtualenv.py
  tests/decorators/test_python.py
Labels: full tests needed

#20764 Update metric name in documentation
  docs/apache-airflow/logging-monitoring/metrics.rst
Labels: kind:documentation, okay to merge

#20753 Make delete_pod change more prominent in changelog
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
Labels: area:providers, okay to merge, area:kubernetes

#20789 Bump chart version to 1.5.0-dev
  chart/Chart.yaml
Labels: area:helm-chart, okay to merge

#20777 Python3 requisite start local
  docs/apache-airflow/start/local.rst
Labels: area:dev-tools, kind:documentation, okay to merge

#20758 Avoid unintentional data loss when deleting DAGs
  airflow/api/common/delete_dag.py
  tests/api/common/test_delete_dag.py
Labels: area:API, okay to merge

#20748 refactoring the code -Breeze2 build ci image
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/cache.py
  dev/breeze/src/airflow_breeze/ci/build_image.py
  dev/breeze/src/airflow_breeze/ci/build_params.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/__init__.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  dev/breeze/tests/test_find_airflow_directory.py
Labels: area:dev-tools

#20645 config command to toggle asciiart, cheatsheet
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/cache.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/visuals/__init__.py
Labels: area:dev-tools, okay to merge

#20812 Reduce test_utils.mock_operators to only that which is reusued
  tests/models/test_baseoperator.py
  tests/providers/apache/hive/__init__.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/providers/apache/hive/operators/test_hive.py
  tests/providers/apache/hive/operators/test_hive_stats.py
  tests/providers/apache/hive/sensors/test_hive_partition.py
  tests/providers/apache/hive/sensors/test_metastore_partition.py
  tests/providers/apache/hive/sensors/test_named_hive_partition.py
  tests/providers/apache/hive/transfers/test_hive_to_mysql.py
  tests/providers/apache/hive/transfers/test_hive_to_samba.py
  tests/test_utils/mock_hooks.py
  tests/test_utils/mock_operators.py
  tests/test_utils/mock_process.py
  tests/www/views/test_views_extra_links.py
Labels: area:webserver, area:providers, provider:Apache, full tests needed

#20818 Test util `env_vars` to take arbitrary env vars
  tests/dag_processing/test_processor.py
  tests/jobs/test_scheduler_job.py
  tests/test_utils/config.py
Labels: area:scheduler/executor, full tests needed

#20816 Fix task instances iteration in a pool to prevent blocking
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#20811 Update exception docstrings to follow PEP 257 recommendations
  airflow/exceptions.py
Labels: full tests needed

#20817 Add Context stub to Airflow packages
  MANIFEST.in
  setup.cfg
Labels: full tests needed

#20441 Add "use_ssl" option to IMAP connection
  airflow/providers/imap/hooks/imap.py
  docs/apache-airflow-providers-imap/connections/imap.rst
  tests/providers/imap/hooks/test_imap.py
Labels: area:providers, kind:documentation, okay to merge

#20796 Better signing instructions for helm chart releases
  dev/README_RELEASE_HELM_CHART.md
Labels: area:dev-tools, okay to merge

#20826 Move tests out of test core that are duplicated/should live elsewhere
  tests/core/test_core.py
  tests/models/test_baseoperator.py
  tests/models/test_taskinstance.py
  tests/operators/test_bash.py
Labels: full tests needed, area:core-operators

#20836 Docs - Integrate Breeze2 documentation
  dev/breeze/doc/BREEZE.md
  dev/breeze/doc/BREEZE2.md
Labels: okay to merge

#20828 Add Helm Chart 1.4.0 in airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
Labels: area:dev-tools, okay to merge

#20837 Fix grammatical error in Variable.get docstring
  airflow/models/variable.py
Labels: changelog:skip, full tests needed

#20833 Speedup liveness probe for scheduler and triggerer
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
Labels: provider:AWS, area:CLI, area:providers, area:secrets, area:helm-chart, okay to merge

#20841 added an enum param example
  docs/apache-airflow/concepts/params.rst
Labels: okay to merge

#20844 static code check doc fix
  STATIC_CODE_CHECKS.rst
Labels: area:dev-tools

#20827 Explain stub files are introduced for Mypy errors in examples
  airflow/providers/alibaba/cloud/operators/oss.pyi
  airflow/providers/amazon/aws/operators/eks.pyi
  airflow/providers/amazon/aws/operators/s3.pyi
  airflow/providers/amazon/aws/sensors/eks.pyi
  airflow/providers/apache/cassandra/sensors/record.pyi
  airflow/providers/apache/cassandra/sensors/table.pyi
  airflow/providers/asana/operators/asana_tasks.pyi
  airflow/providers/microsoft/azure/operators/cosmos.pyi
  airflow/providers/microsoft/azure/operators/wasb_delete_blob.pyi
  airflow/providers/microsoft/azure/sensors/cosmos.pyi
  airflow/providers/microsoft/azure/sensors/wasb.pyi
  airflow/providers/microsoft/azure/transfers/azure_blob_to_gcs.pyi
  airflow/providers/microsoft/azure/transfers/local_to_wasb.pyi
Labels: provider:Azure, provider:AWS, area:providers, provider:Apache, okay to merge

#20795 Fix remaining mypy issues in "core" Airflow
  airflow/api/common/experimental/mark_tasks.py
  airflow/api/common/trigger_dag.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/decorators/base.py
  airflow/decorators/task_group.py
  airflow/executors/base_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
  airflow/kubernetes/pod_generator.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/models/taskmixin.py
  airflow/operators/generic_transfer.py
  airflow/operators/python.py
  airflow/plugins_manager.py
  airflow/providers_manager.py
  airflow/sensors/bash.py
  airflow/sensors/filesystem.py
  airflow/sensors/python.py
  airflow/sensors/smart_sensor.py
  airflow/sensors/sql.py
  airflow/serialization/helpers.py
  airflow/serialization/serialized_objects.py
  airflow/typing_compat.py
  airflow/utils/context.py
  airflow/utils/context.pyi
  airflow/utils/dot_renderer.py
  airflow/utils/log/logging_mixin.py
  airflow/utils/python_virtualenv.py
  airflow/utils/state.py
  airflow/utils/task_group.py
  airflow/utils/timezone.py
  airflow/version.py
  setup.cfg
  tests/api/client/test_local_client.py
  tests/build_provider_packages_dependencies.py
  tests/cli/conftest.py
  tests/executors/test_kubernetes_executor.py
  tests/models/test_dag.py
  tests/serialization/test_dag_serialization.py
Labels: area:scheduler/executor, area:logging, area:serialization, area:plugins, area:API, full tests needed, area:core-operators

#20843 Fix flaky templatized call
  tests/sensors/test_python.py
Labels: full tests needed

#20854 AwsAthenaOperator: do not generate client_request_token if not provided
  airflow/providers/amazon/aws/operators/athena.py
Labels: provider:AWS, area:providers

#20855 Update INTHEWILD.md to add Breezeline
  INTHEWILD.md
Labels: okay to merge

#20861 Some wordings fix in CONTRIBUTING document
  CONTRIBUTING.rst
Labels: area:dev-tools

#20286 Add TaskMap and TaskInstance.map_id
  airflow/decorators/base.py
  airflow/exceptions.py
  airflow/migrations/versions/e655c0453f75_add_taskmap_and_map_id_on_taskinstance.py
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/models/taskmap.py
  airflow/models/taskreschedule.py
  docs/apache-airflow/migrations-ref.rst
  docs/spelling_wordlist.txt
  tests/conftest.py
  tests/models/test_taskinstance.py
Labels: full tests needed, AIP-42

#20822 Add ElasticSearch log_id_template to tracking model
  UPDATING.md
  airflow/migrations/versions/f9da662e7089_add_task_log_filename_template_model.py
  airflow/models/tasklog.py
  airflow/utils/db.py
  tests/utils/test_task_handler_with_custom_formatter.py
  tests/www/views/test_views_log.py
Labels: full tests needed

#20859 Fix MyPy issues in ``airflow/decorators`` and ``airflow/models``
  airflow/decorators/task_group.py
  airflow/models/skipmixin.py
Labels: full tests needed, mypy

#20863 Fix MyPy issues in AWS Sensors
  airflow/providers/amazon/aws/sensors/s3.py
Labels: provider:AWS, area:providers, changelog:skip, okay to merge, mypy

#19132 Fixing flaky task that fails in first check ocasionally
  tests/cli/commands/test_task_command.py
Labels: area:CLI, okay to merge

#19769 Handle stuck queued tasks in Celery for db backend
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:scheduler/executor, full tests needed

#20871 Fix failing main
  airflow/api_connexion/endpoints/task_instance_endpoint.py
Labels: area:API, okay to merge

#20872 Unpin ``cattrs``
  setup.cfg
Labels: full tests needed

#20819 Adds support for optional kwargs in the EKS Operators
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/operators/eks.py
  tests/providers/amazon/aws/hooks/test_eks.py
  tests/providers/amazon/aws/operators/test_eks.py
  tests/providers/amazon/aws/utils/eks_test_constants.py
  tests/providers/amazon/aws/utils/eks_test_utils.py
Labels: provider:AWS, area:providers, okay to merge

#20792 Fix Vault default conn name
  airflow/providers/hashicorp/hooks/vault.py
Labels: area:providers

#20798 Add "Greater/Smaller than or Equal" to filters in the browse views
  airflow/www/utils.py
Labels: area:webserver, okay to merge

#20878 Unpin ``argcomplete`` and ``colorlog``
  setup.cfg
Labels: full tests needed

#20879 Remove redundant ``dataclass`` dependency
  setup.cfg
Labels: full tests needed

#20787 Chart: fix extra containers docs and remove krb excess if
  chart/templates/workers/worker-deployment.yaml
  docs/helm-chart/using-additional-containers.rst
Labels: area:helm-chart, kind:documentation

#20887 Remove code repetition in the test suite test_views_acl.py
  tests/www/views/test_views_acl.py
Labels: area:webserver

#20802 Only validate Params when DAG is triggered
  airflow/exceptions.py
  airflow/models/dagbag.py
  airflow/models/param.py
  tests/dags/test_invalid_param.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagbag.py
  tests/models/test_param.py
Labels: full tests needed

#20874 Add downgrade to some FAB migrations
  airflow/migrations/versions/2c6edca13270_resource_based_permissions.py
  airflow/migrations/versions/849da589634d_prefix_dag_permissions.py
  airflow/migrations/versions/a13f7613ad25_resource_based_permissions_for_default_.py
Labels: full tests needed

#20890 add entry in release readme to update milestone in Issues
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
Labels: area:dev-tools

#20904 Delete irrelevant test file
  tests/api/common/experimental/test_mark_tasks.py
Labels: okay to merge

#20912 Switch to new MySQL public key
  scripts/docker/install_mysql.sh
Labels: area:dev-tools, full tests needed

#20902 Switch map_index back to use server_default
  airflow/migrations/versions/e655c0453f75_add_taskmap_and_map_id_on_taskinstance.py
  airflow/models/taskinstance.py
  airflow/models/taskreschedule.py
Labels: full tests needed

#20889 Uses CI images built in previous step to prepare PROD image
  .github/workflows/build-images.yml
Labels: area:dev-tools, full tests needed

#20743 Serialize mapped tasks and task groups
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/taskmixin.py
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/utils/task_group.py
  tests/serialization/test_dag_serialization.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Labels: area:serialization, AIP-42

#20870 Fix task ID deduplication in @task_group
  airflow/decorators/base.py
  tests/utils/test_task_group.py
Labels: full tests needed

#20868 Rewrite the task decorator as a composition
  airflow/decorators/__init__.py
  airflow/decorators/__init__.pyi
  airflow/decorators/base.py
  airflow/decorators/python.py
  airflow/decorators/python_virtualenv.py
  airflow/models/dag.py
  airflow/providers/docker/decorators/docker.py
  docs/apache-airflow/howto/create-custom-decorator.rst
  docs/spelling_wordlist.txt
Labels: area:providers, kind:documentation, full tests needed

#20701 Check free space python version for Breeze2
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_ci/__init__.py
  dev/breeze/src/airflow_ci/freespace.py
Labels: area:dev-tools, full tests needed

#20910 Switch to non-vendored latest connexion library
  airflow/_vendor/connexion/__init__.py
  airflow/_vendor/connexion/__main__.py
  airflow/_vendor/connexion/apis/__init__.py
  airflow/_vendor/connexion/apis/abstract.py
  airflow/_vendor/connexion/apis/aiohttp_api.py
  airflow/_vendor/connexion/apis/flask_api.py
  airflow/_vendor/connexion/apis/flask_utils.py
  airflow/_vendor/connexion/apps/__init__.py
  airflow/_vendor/connexion/apps/abstract.py
  airflow/_vendor/connexion/apps/aiohttp_app.py
  airflow/_vendor/connexion/apps/flask_app.py
  airflow/_vendor/connexion/cli.py
  airflow/_vendor/connexion/decorators/__init__.py
  airflow/_vendor/connexion/decorators/coroutine_wrappers.py
  airflow/_vendor/connexion/decorators/decorator.py
  airflow/_vendor/connexion/decorators/metrics.py
  airflow/_vendor/connexion/decorators/parameter.py
  airflow/_vendor/connexion/decorators/produces.py
  airflow/_vendor/connexion/decorators/response.py
  airflow/_vendor/connexion/decorators/security.py
  airflow/_vendor/connexion/decorators/uri_parsing.py
  airflow/_vendor/connexion/decorators/validation.py
  airflow/_vendor/connexion/exceptions.py
  airflow/_vendor/connexion/handlers.py
  airflow/_vendor/connexion/http_facts.py
  airflow/_vendor/connexion/json_schema.py
  airflow/_vendor/connexion/jsonifier.py
  airflow/_vendor/connexion/lifecycle.py
  airflow/_vendor/connexion/mock.py
  airflow/_vendor/connexion/operations/__init__.py
  airflow/_vendor/connexion/operations/abstract.py
  airflow/_vendor/connexion/operations/compat.py
  airflow/_vendor/connexion/operations/openapi.py
  airflow/_vendor/connexion/operations/secure.py
  airflow/_vendor/connexion/operations/swagger2.py
  airflow/_vendor/connexion/options.py
  airflow/_vendor/connexion/problem.py
  airflow/_vendor/connexion/resolver.py
  airflow/_vendor/connexion/setup.cfg
  airflow/_vendor/connexion/setup.py
  airflow/_vendor/connexion/spec.py
  airflow/_vendor/connexion/utils.py
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/role_and_permission_endpoint.py
  airflow/api_connexion/endpoints/user_endpoint.py
  airflow/api_connexion/exceptions.py
  airflow/exceptions.py
  airflow/www/extensions/init_views.py
  licenses/LICENSE-connexion.txt
  setup.cfg
Labels: full tests needed

#20881 Fix a test case inside tests/models that leaves a trace in the DB
  tests/models/test_dagbag.py
  tests/test_utils/db.py
  tests/test_utils/permissions.py
Labels: full tests needed
