Repository apache/airflow, pull requests merged in 2022-09, with the labels that each got.

#25925 Implement expand_kwargs() against a literal list
  airflow/decorators/base.py
  airflow/decorators/task_group.py
  airflow/models/expandinput.py
  airflow/models/mappedoperator.py
  tests/models/test_dagrun.py
Labels: AIP-42

#26083 Add pre-commit check for DAG and dag parity
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  airflow/models/dag.py
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
  scripts/ci/pre_commit/pre_commit_sync_dag_init_decorator.py
Labels: area:dev-tools

#25617 Promote Operator.output more
  docs/apache-airflow/concepts/dynamic-task-mapping.rst
  tests/api_connexion/endpoints/test_mapped_task_instance_endpoint.py
  tests/decorators/test_python.py
  tests/models/test_dagrun.py
  tests/models/test_mappedoperator.py
Labels: area:API, kind:documentation

#26094 Fix UI flash when triggering with dup logical date
  airflow/www/views.py
  tests/www/views/test_views_trigger_dag.py
Labels: area:webserver

#26089 Only send an SlaCallbackRequest if the DAG is scheduled
  airflow/dag_processing/processor.py
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor

#26108 use label instead of id for dynamic task labels in graph
  airflow/www/static/js/graph.js
Labels: area:webserver, area:UI

#26111 Make execution_date optional for command `dags test`
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI

#26121 Add back default latest tag for pulling image
  dev/breeze/src/airflow_breeze/utils/common_options.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_ci-image_build.svg
  images/breeze/output_ci-image_pull.svg
  images/breeze/output_ci-image_verify.svg
  images/breeze/output_prod-image_build.svg
  images/breeze/output_prod-image_pull.svg
  images/breeze/output_prod-image_verify.svg
  images/breeze/output_release-management_generate-constraints.svg
  images/breeze/output_shell.svg
  images/breeze/output_start-airflow.svg
  images/breeze/output_testing_docker-compose-tests.svg
  images/breeze/output_testing_helm-tests.svg
  images/breeze/output_testing_tests.svg
Labels: area:dev-tools

#26119 Enable pushing early image cache to ghcr.io registry
  .github/workflows/ci.yml
  CI.rst
  CI_DIAGRAMS.md
Labels: area:dev-tools

#26038 Implement Azure synapse operator
  airflow/providers/microsoft/azure/hooks/synapse.py
  airflow/providers/microsoft/azure/operators/synapse.py
  airflow/providers/microsoft/azure/provider.yaml
  docs/apache-airflow-providers-microsoft-azure/connections/azure_synapse.rst
  docs/apache-airflow-providers-microsoft-azure/operators/azure_synapse.rst
  generated/provider_dependencies.json
  tests/providers/microsoft/azure/hooks/test_azure_synapse.py
  tests/providers/microsoft/azure/operators/test_azure_synapse.py
  tests/system/providers/microsoft/azure/example_azure_synapse.py
Labels: provider:Azure, area:providers, area:system-tests, kind:documentation

#26125 Switch providers-init pre-commit to Python
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_check_providers_init.py
  scripts/ci/pre_commit/pre_commit_ui_lint.py
Labels: area:dev-tools

#26123 Convert rat check to python
  .pre-commit-config.yaml
  .rat-excludes
  scripts/ci/pre_commit/pre_commit_check_license.py
  scripts/ci/pre_commit/pre_commit_check_license.sh
Labels: area:dev-tools

#26124 Convert hadolint check into Python
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_lint_dockerfile.py
  scripts/ci/pre_commit/pre_commit_lint_dockerfile.sh
Labels: area:dev-tools

#26135 Fix DagRun.start_date not set during backfill with --reset-dagruns True
  airflow/jobs/backfill_job.py
  tests/jobs/test_backfill_job.py
Labels: area:scheduler/executor

#26139 feat: kubernetes 1.25 support
  README.md
  breeze-complete
  dev/breeze/src/airflow_breeze/global_constants.py
  scripts/ci/libraries/_initialization.sh
  tests/charts/helm_template_generator.py
Labels: area:dev-tools

#26122 Handle updating non-overlapping requirements
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands_config.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands_config.py
  dev/breeze/src/airflow_breeze/params/common_build_params.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_ci-image_build.svg
  images/breeze/output_prod-image_build.svg
Labels: area:dev-tools

#26137 Replace INTHEWILD sorting with python
  .pre-commit-config.yaml
  INTHEWILD.md
  scripts/ci/pre_commit/pre_commit_sort_in_the_wild.py
  scripts/ci/pre_commit/pre_commit_sort_in_the_wild.sh
Labels: area:dev-tools

#26144 Remove --limit-progress-output from helm-test
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_testing_helm-tests.svg
Labels: area:dev-tools

#26140 Replace license setup.cfg file pre-commit with Python
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_setup_cfg_file.py
  scripts/ci/pre_commit/pre_commit_setup_cfg_file.sh
  setup.cfg
Labels: area:dev-tools

#26142 Make BaseSerialization.serialize "public" to other classes.
  airflow/serialization/serialized_objects.py
  airflow/utils/sqlalchemy.py
  tests/serialization/test_dag_serialization.py
  tests/utils/test_sqlalchemy.py
Labels: area:serialization

#26141 Update zombie message to be more descriptive
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor

#26148 Use proper default airflow_constraints_reference
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
Labels: area:dev-tools

#26138 Replace spelling wordlist sorting with Python
  .pre-commit-config.yaml
  docs/spelling_wordlist.txt
  scripts/ci/pre_commit/pre_commit_sort_spelling_wordlist.py
  scripts/ci/pre_commit/pre_commit_sort_spelling_wordlist.sh
Labels: area:dev-tools, kind:documentation

#26150 Fail "early build cache" if breeze shell command is not quick
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/main_command.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_shell.svg
Labels: area:dev-tools

#26152 Fix saving hash on image build.
  dev/breeze/src/airflow_breeze/params/common_build_params.py
Labels: area:dev-tools

#26143 Bump dep on common-sql to fix issue with SQLTableCheckOperator
  airflow/providers/postgres/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers

#26109 Prepare bug-fix release of providers out of band
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/amazon/provider.yaml
  airflow/providers/common/sql/CHANGELOG.rst
  airflow/providers/postgres/CHANGELOG.rst
  airflow/providers/postgres/provider.yaml
  airflow/providers/presto/CHANGELOG.rst
  airflow/providers/presto/provider.yaml
  airflow/providers/sqlite/CHANGELOG.rst
  airflow/providers/sqlite/provider.yaml
  airflow/providers/trino/CHANGELOG.rst
  airflow/providers/trino/provider.yaml
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-common-sql/commits.rst
  docs/apache-airflow-providers-common-sql/index.rst
  docs/apache-airflow-providers-postgres/commits.rst
  docs/apache-airflow-providers-postgres/index.rst
  docs/apache-airflow-providers-presto/commits.rst
  docs/apache-airflow-providers-presto/index.rst
  docs/apache-airflow-providers-sqlite/commits.rst
  docs/apache-airflow-providers-sqlite/index.rst
  docs/apache-airflow-providers-trino/commits.rst
  docs/apache-airflow-providers-trino/index.rst
  generated/provider_dependencies.json
Labels: provider:AWS, area:providers, kind:documentation

#26134 Remove `cattrs` from airflow.lineage
  airflow/lineage/__init__.py
  airflow/lineage/entities.py
  tests/lineage/test_lineage.py
Labels: area:serialization, area:lineage

#26005 Set template_fields on RDS operators
  airflow/providers/amazon/aws/operators/rds.py
  tests/system/providers/amazon/aws/example_rds_event.py
  tests/system/providers/amazon/aws/example_rds_export.py
  tests/system/providers/amazon/aws/example_rds_snapshot.py
Labels: provider:AWS, area:providers, area:system-tests

#26163 Push provider tags as a single command, not one per provider
  dev/provider_packages/tag_providers.sh
Labels: area:dev-tools, changelog:skip

#25986 Add url prefix setting for Celery Flower
  docs/apache-airflow/security/flower.rst
Labels: kind:documentation

#26161 Fix backfill occassional deadlocking
  airflow/jobs/backfill_job.py
  tests/jobs/test_backfill_job.py
Labels: area:scheduler/executor

#25935 Support multiple DagProcessors parsing files from different locations.
  airflow/callbacks/callback_requests.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/0117_2_4_0_add_processor_subdir_to_dagmodel_and_.py
  airflow/models/dag.py
  airflow/models/dagbag.py
  airflow/models/dagrun.py
  airflow/models/db_callback_request.py
  airflow/models/serialized_dag.py
  docs/apache-airflow/migrations-ref.rst
  tests/callbacks/test_callback_requests.py
  tests/conftest.py
  tests/dag_processing/test_manager.py
  tests/dag_processing/test_processor.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagbag.py
  tests/models/test_dagrun.py
  tests/models/test_serialized_dag.py
  tests/test_utils/perf/perf_kit/sqlalchemy.py
  tests/www/views/test_views_home.py
Labels: area:scheduler/executor, area:serialization, kind:documentation, AIP-43

#26170 Add subdir parameter to dags reserialize command
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI

#23628 Fixes SageMaker operator return values
  airflow/providers/amazon/aws/operators/sagemaker.py
  tests/providers/amazon/aws/operators/test_sagemaker_endpoint.py
  tests/providers/amazon/aws/operators/test_sagemaker_model.py
  tests/providers/amazon/aws/operators/test_sagemaker_processing.py
  tests/providers/amazon/aws/operators/test_sagemaker_training.py
  tests/providers/amazon/aws/operators/test_sagemaker_transform.py
  tests/providers/amazon/aws/operators/test_sagemaker_tuning.py
  tests/system/providers/amazon/aws/example_sagemaker.py
  tests/system/providers/amazon/aws/example_sagemaker_endpoint.py
Labels: provider:AWS, area:providers

#26181 Add dataset read permission to viewer role
  airflow/www/security.py
  tests/www/test_security.py
Labels: area:webserver, changelog:skip, AIP-48

#25754 Add option of sending DAG parser logs to stdout.
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/dag_processing/processor.py
  tests/dag_processing/test_processor.py
Labels: area:scheduler/executor

#26195 Fix typo of roles export command
  airflow/cli/commands/role_command.py
Labels: area:CLI, changelog:skip

#26188 Fix edge detection iteration
  airflow/models/taskmixin.py
  airflow/www/views.py
Labels: area:webserver, changelog:skip

#26096 Don't throw an exception when a BQ cursor job has no schema
  airflow/providers/google/cloud/hooks/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:Google, area:providers

#26216 Re-configure/connect the ORM after forking to run a DAG processor
  airflow/dag_processing/processor.py
Labels: area:scheduler/executor

#26179 Add missing contrib classes to deprecated dictionaries
  airflow/contrib/hooks/__init__.py
  airflow/contrib/operators/__init__.py
  airflow/contrib/secrets/__init__.py
  airflow/contrib/sensors/__init__.py
  airflow/contrib/utils/__init__.py
  airflow/contrib/utils/log/__init__.py
  dev/contrib/move_contrib.py
  dev/deprecations/generate_deprecated_dicts.py
Labels: area:dev-tools

#24486 Lazily import many modules to improve import speed
  airflow/__init__.py
  airflow/callbacks/database_callback_sink.py
  airflow/cli/commands/webserver_command.py
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/jobs/__init__.py
  airflow/jobs/base_job.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/env.py
  airflow/models/__init__.py
  airflow/models/connection.py
  airflow/models/crypto.py
  airflow/models/dag.py
  airflow/models/variable.py
  airflow/operators/branch.py
  airflow/providers_manager.py
  airflow/serialization/json_schema.py
  airflow/serialization/serialized_objects.py
  airflow/utils/cli.py
  airflow/utils/cli_action_loggers.py
  airflow/utils/code_utils.py
  airflow/utils/db.py
  airflow/utils/docs.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/orm_event_handlers.py
  airflow/utils/retries.py
  airflow/www/app.py
  airflow/www/extensions/init_views.py
  airflow/www/fab_security/manager.py
  airflow/www/fab_security/views.py
  airflow/www/security.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_warning_endpoint.py
  tests/cli/commands/test_webserver_command.py
  tests/jobs/test_scheduler_job.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/test_utils/db.py
  tests/utils/test_cli_util.py
  tests/utils/test_db.py
  tests/www/views/test_views_custom_user_views.py
Labels: pinned, area:scheduler/executor, area:serialization

#26212 Move dag_edges and task_group_to_dict to corresponding util modules
  airflow/utils/dag_edges.py
  airflow/utils/dot_renderer.py
  airflow/utils/task_group.py
  airflow/www/views.py
  tests/utils/test_task_group.py
Labels: area:webserver

#26190 GCSToBigQueryOperator allow for schema_object in alternate GCS Bucket
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
Labels: provider:Google, area:providers

#26208 Update docs for data-aware scheduling (AKA "datasets"/AIP-48)
  docs/apache-airflow/concepts/datasets.rst
  docs/conf.py
Labels: kind:documentation, changelog:skip, AIP-48

#26193 Mark serialization functions as internal
  airflow/serialization/serialized_objects.py
Labels: area:serialization

#26114 Make `execution_date_or_run_id` optional in `tasks test` command
  airflow/cli/cli_parser.py
  airflow/cli/commands/task_command.py
  docs/apache-airflow/tutorial/fundamentals.rst
  tests/cli/commands/test_task_command.py
Labels: area:CLI

#26191 Fix faulty executor config serialization logic
  airflow/utils/sqlalchemy.py
  tests/utils/test_sqlalchemy.py
Labels: type:bug-fix

#26040 Fix TaskInstance.task not defined before handle_failure
  airflow/models/log.py
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor

#26230 Allow to override version suffix in CI
  scripts/in_container/run_prepare_airflow_packages.sh
Labels: area:dev-tools

#26229 Run mypy against provider tests with providers, not core
  .pre-commit-config.yaml
Labels: area:dev-tools

#26231 Breeze fix typo on image build warning message
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
Labels: area:dev-tools

#26232 Dataset doc update
  docs/apache-airflow/concepts/datasets.rst
  docs/apache-airflow/img/dataset-scheduled-dags.png
  docs/apache-airflow/img/datasets.png
  docs/apache-airflow/ui.rst
Labels: kind:documentation, area:UI

#26228 Prepare to release 2.4.0beta1
  .pre-commit-config.yaml
  RELEASE_NOTES.rst
  airflow/utils/db.py
  docs/docker-stack/README.md
  docs/docker-stack/docker-examples/extending/add-apt-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-build-essential-extend/Dockerfile
  docs/docker-stack/docker-examples/extending/add-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/custom-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/embedding-dags/Dockerfile
  docs/docker-stack/docker-examples/extending/writable-directory/Dockerfile
  docs/docker-stack/entrypoint.rst
  newsfragments/23592.significant.rst
  newsfragments/23647.bugfix.rst
  newsfragments/24570.feature.rst
  newsfragments/24981.improvement.rst
  newsfragments/25090.significant.rst
  newsfragments/25410.significant.rst
  newsfragments/25507.significant.rst
  newsfragments/26153.significant.rst
  newsfragments/NEW.significant.rst
  scripts/ci/pre_commit/pre_commit_version_heads_map.py
  setup.py
  tests/test_utils/www.py
  tests/www/views/test_views_base.py
Labels: area:dev-tools

#26236 Branch setup for v2-4
  .asf.yaml
  codecov.yml
Labels: area:dev-tools

#26235 Fix shell variable not set
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
Labels: area:dev-tools

#26233 Make breeze works with latest docker-compose
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools

#26243 Limit eager upgrade of protobuf library to < 4.21.0
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, kind:documentation, area:production-image

#26244 Skip overriding version from parameter with the one from tag
  scripts/in_container/run_prepare_airflow_packages.sh
Labels: area:dev-tools

#26156 Add deferrable big query operators and sensors
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/sensors/bigquery.py
  airflow/providers/google/cloud/triggers/bigquery.py
  airflow/providers/google/common/hooks/base_google.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/bigquery.rst
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
  tests/providers/google/cloud/sensors/test_bigquery.py
  tests/providers/google/cloud/triggers/__init__.py
  tests/providers/google/cloud/triggers/test_bigquery.py
  tests/system/providers/google/cloud/bigquery/example_bigquery_queries_async.py
  tests/system/providers/google/cloud/bigquery/example_bigquery_sensors.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#26253 Add better progress in CI for constraints generation.
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#26254 The PROD cache is pushed always in regular cache build step
  .github/workflows/ci.yml
Labels: area:dev-tools

#25268 D400 first line should end with period batch02
  airflow/executors/executor_loader.py
  airflow/migrations/versions/0038_1_10_2_add_sm_dag_index.py
  airflow/migrations/versions/0108_2_3_0_default_dag_view_grid.py
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
  airflow/providers/databricks/hooks/databricks_base.py
  airflow/providers/google/cloud/hooks/cloud_memorystore.py
  airflow/providers/mysql/hooks/mysql.py
  airflow/providers/qubole/sensors/qubole.py
  airflow/utils/process_utils.py
  docs/apache-airflow/migrations-ref.rst
Labels: provider:Google, provider:AWS, area:scheduler/executor, area:providers, kind:documentation, provider:Databricks

#25548 Life Science assets & system tests migration (AIP-47)
  airflow/providers/google/cloud/links/life_sciences.py
  airflow/providers/google/cloud/operators/life_sciences.py
  airflow/providers/google/provider.yaml
  tests/providers/google/cloud/operators/test_life_sciences.py
  tests/providers/google/cloud/transfers/test_gdrive_to_gcs_system.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
  tests/system/providers/google/cloud/life_sciences/example_life_sciences.py
  tests/system/providers/google/cloud/life_sciences/resources/__init__.py
  tests/system/providers/google/cloud/life_sciences/resources/file
Labels: provider:Google, area:providers, area:system-tests

#25530 feat(KubernetesPodOperator): Add support of container_security_context
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, area:kubernetes

#26098 Add more weekday operator and sensor examples #26071
  airflow/example_dags/example_branch_day_of_week_operator.py
  airflow/operators/weekday.py
  airflow/sensors/weekday.py
Labels: area:core-operators

#26117 Add `network_profile` param in AzureContainerInstancesOperator
  airflow/providers/microsoft/azure/operators/container_instances.py
Labels: provider:Azure, area:providers

#26118 Move send_file method into SlackHook
  airflow/providers/slack/hooks/slack.py
  airflow/providers/slack/operators/slack.py
  tests/providers/slack/hooks/test_slack.py
  tests/providers/slack/operators/test.csv
  tests/providers/slack/operators/test_slack.py
Labels: area:providers

#26003 Add RdsDbSensor to amazon provider package
  airflow/providers/amazon/aws/sensors/rds.py
  docs/apache-airflow-providers-amazon/operators/rds.rst
  tests/providers/amazon/aws/sensors/test_rds.py
  tests/system/providers/amazon/aws/rds/example_rds_instance.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#26263 Update erd SHA to pass static checks
  docs/apache-airflow/img/airflow_erd.sha256
Labels: kind:documentation

#26257 Don't try to insert queue records if no downstream dag
  airflow/datasets/manager.py
  tests/datasets/test_manager.py
Labels: AIP-48

#26264 Respect "common" options value in breeze sub-commands.
  dev/breeze/src/airflow_breeze/utils/common_options.py
Labels: area:dev-tools

#26272 Fix main kubernetes helm tests
  kubernetes_tests/test_kubernetes_pod_operator.py
Labels: area:kubernetes

#26151 Update CI documentation, renaming runs to "Canary"
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  CI.rst
  CI_DIAGRAMS.md
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/tests/test_pr_info.py
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  scripts/ci/libraries/_all_libs.sh
  scripts/ci/libraries/_initialization.sh
  scripts/ci/libraries/_md5sum.sh
Labels: area:dev-tools

#26276 Flush dataset events before queuing dagruns
  airflow/datasets/manager.py
  airflow/jobs/scheduler_job.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor, changelog:skip, AIP-48

#26132 Cloud Video Intelligence Operators assets & system tests migration (AIP-47)
  docs/apache-airflow-providers-google/operators/cloud/video_intelligence.rst
  tests/providers/google/cloud/operators/test_video_intelligence_system.py
  tests/system/providers/google/cloud/video_intelligence/__init__.py
  tests/system/providers/google/cloud/video_intelligence/example_video_intelligence.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#26337 Properly build URL to retrieve logs independently from system
  airflow/utils/log/file_task_handler.py
Labels: area:logging

#25971 Athena and EMR operator max_retries mix-up fix
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/emr.py
Labels: provider:AWS, area:providers

#26288 Fix `dags_needing_dagruns` dataset info timestamp
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: changelog:skip, AIP-48

#26343 Flag to deserialize value on custom XCom backend
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_xcom_endpoint.py
Labels: area:webserver, area:API, area:UI

#26275 Create a workflow to sync the list of authors
  .github/workflows/ci.yml
  .github/workflows/sync_authors.yml
  scripts/ci/runners/sync_authors.py
Labels: area:dev-tools

#26355 Add more to the ignore list for non-core changes
  dev/airflow-github
Labels: area:dev-tools

#26365 Fix static checks from sync_authors script
  scripts/ci/runners/sync_authors.py
Labels: area:dev-tools

#26369 Handle list when serializing expand_kwargs
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization

#26383 Add __future__.annotations automatically by isort
  .pre-commit-config.yaml
  airflow/migrations/versions/0009_1_6_0_dagrun_config.py
  dev/airflow-github
  dev/airflow-license
  docs/apache-airflow/img/airflow_erd.sha256
  pyproject.toml
  scripts/ci/runners/sync_authors.py
  setup.cfg
  tests/task/__init__.py
Labels: area:dev-tools, kind:documentation

#26377 Avoid calculating all elements when one item is needed
  airflow/kubernetes/pod_launcher_deprecated.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, area:kubernetes

#26392 Move the deserialization of custom XCom Backend to 2.4.0
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, area:UI

#26384 Work around pyupgrade edge cases
  .pre-commit-config.yaml
  airflow/models/baseoperator.py
  airflow/providers/google/cloud/hooks/gcs.py
Labels: provider:Google, area:providers, area:dev-tools

#26348 Respect max_active_runs for dataset-triggered dags
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/www/views.py
  tests/models/test_dag.py
Labels: changelog:skip, AIP-48

#26351 Actually run the "quick image build"
  .github/workflows/ci.yml
Labels: area:dev-tools

#26373 Fix pre-commit for checking revision heads map
  scripts/ci/pre_commit/pre_commit_version_heads_map.py
Labels: area:dev-tools

#26396 Allow `.git-blame-ignore-revs` file to not have license header
  .rat-excludes
Labels: area:dev-tools

#26357 Require dag_id arg for dags list-runs
  airflow/cli/cli_parser.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI, type:bug-fix

#26406 Fix params reference for default_constraints_branch
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools

#26409 Fix UI redirect
  airflow/www/views.py
Labels: area:webserver

#25732 Adding podAnnotations to StatsD deployment template
  chart/templates/statsd/statsd-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_annotations.py
Labels: area:helm-chart

#26407 Attempt to create k8s venv without constraints if constraint build fails
  dev/breeze/src/airflow_breeze/utils/kubernetes_utils.py
Labels: area:dev-tools

#26413 Credentials are needed in order to push branch
  .github/workflows/sync_authors.yml
Labels: area:dev-tools

#26414 Manual triggering of author sync workflow
  .github/workflows/sync_authors.yml
  .pre-commit-config.yaml
Labels: area:dev-tools

#26411 update contributing documentations
  CONTRIBUTING.rst
  CONTRIBUTORS_QUICK_START.rst
Labels: area:dev-tools

#26420 Fix problem with building providers where constraints are conflicting
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools

#26419 Make breeze command images more accessible
  BREEZE.rst
Labels: area:dev-tools

#26416 Add workflows permission
  .github/workflows/sync_authors.yml
Labels: area:dev-tools

#26401 Update documentation - baking DAGs into docker image
  docs/helm-chart/manage-dags-files.rst
Labels: area:helm-chart, kind:documentation

#26249 Add triggerer info to task instance in API
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/job_schema.py
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/api_connexion/schemas/trigger_schema.py
  airflow/models/taskinstance.py
  airflow/models/trigger.py
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
  airflow/www/static/js/dag/details/taskInstance/index.tsx
  airflow/www/static/js/types/api-generated.ts
  airflow/www/static/js/types/index.ts
  airflow/www/utils.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_mapped_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/schemas/test_task_instance_schema.py
Labels: area:webserver, area:API, area:UI

#26422 Revert "Add workflows permission"
  .github/workflows/sync_authors.yml
Labels: area:dev-tools

#26341 Improve 'start-airflow' experience for users and ui developers
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_setup.svg
  images/breeze/output_setup_regenerate-command-images.svg
  images/breeze/output_start-airflow.svg
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  scripts/ci/pre_commit/common_precommit_utils.py
  scripts/ci/pre_commit/pre_commit_compile_www_assets.py
  scripts/ci/pre_commit/pre_commit_compile_www_assets_dev.py
  scripts/in_container/bin/run_tmux
  scripts/in_container/run_tmux_welcome.sh
Labels: area:dev-tools

#25711 changing to task decorator in docs from classic operator use
  docs/apache-airflow/concepts/dags.rst
  docs/apache-airflow/concepts/operators.rst
Labels: kind:documentation

#26434 Fix invalid RST in dataset concepts doc
  docs/apache-airflow/concepts/datasets.rst
Labels: kind:documentation

#26435 Update docs: zip-like effect is now possible in task mapping
  docs/apache-airflow/concepts/dynamic-task-mapping.rst
Labels: kind:documentation

#26441 Add 2.4.0rc1 to issue template
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools

#26445 Fix www asset compilation
  dev/breeze/src/airflow_breeze/utils/run_utils.py
Labels: area:dev-tools

#26439 DAG Deps extends `base_template`
  airflow/www/templates/airflow/dag_dependencies.html
Labels: area:webserver, type:bug-fix, area:UI

#26447 Add `cleartext` to spelling wordlist
  docs/apache-airflow/ui.rst
  docs/spelling_wordlist.txt
Labels: kind:documentation, area:UI

#26112 Migrate last react js files to typescript
  airflow/www/static/js/api/useClearRun.ts
  airflow/www/static/js/api/useGridData.ts
  airflow/www/static/js/api/useMarkFailedRun.ts
  airflow/www/static/js/api/useMarkSuccessRun.ts
  airflow/www/static/js/api/useQueueRun.ts
  airflow/www/static/js/components/ConfirmDialog.tsx
  airflow/www/static/js/dag/details/dagRun/ClearRun.tsx
  airflow/www/static/js/dag/details/dagRun/MarkFailedRun.tsx
  airflow/www/static/js/dag/details/dagRun/MarkSuccessRun.tsx
  airflow/www/static/js/dag/details/dagRun/QueueRun.tsx
  airflow/www/static/js/dag/details/taskInstance/taskActions/Clear.tsx
  airflow/www/static/js/dag/details/taskInstance/taskActions/MarkFailed.tsx
  airflow/www/static/js/dag/details/taskInstance/taskActions/MarkSuccess.tsx
  airflow/www/static/js/dag/details/taskInstance/taskActions/Run.tsx
  airflow/www/static/js/dag/details/taskInstance/taskActions/types.ts
  airflow/www/static/js/dag/grid/index.test.tsx
  airflow/www/static/js/dag/grid/index.tsx
Labels: area:webserver, area:UI

#26458 Switch back breeze image regeneration to be non-docker
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  images/breeze/output_build-docs.svg
  images/breeze/output_ci-image.svg
  images/breeze/output_ci-image_build.svg
  images/breeze/output_ci-image_pull.svg
  images/breeze/output_ci-image_verify.svg
  images/breeze/output_ci.svg
  images/breeze/output_ci_find-newer-dependencies.svg
  images/breeze/output_ci_fix-ownership.svg
  images/breeze/output_ci_free-space.svg
  images/breeze/output_ci_get-workflow-info.svg
  images/breeze/output_ci_resource-check.svg
  images/breeze/output_ci_selective-check.svg
  images/breeze/output_cleanup.svg
  images/breeze/output_compile-www-assets.svg
  images/breeze/output_exec.svg
  images/breeze/output_k8s.svg
  images/breeze/output_k8s_build-k8s-image.svg
  images/breeze/output_k8s_configure-cluster.svg
  images/breeze/output_k8s_create-cluster.svg
  images/breeze/output_k8s_delete-cluster.svg
  images/breeze/output_k8s_deploy-airflow.svg
  images/breeze/output_k8s_k9s.svg
  images/breeze/output_k8s_logs.svg
  images/breeze/output_k8s_setup-env.svg
  images/breeze/output_k8s_shell.svg
  images/breeze/output_k8s_status.svg
  images/breeze/output_k8s_tests.svg
  images/breeze/output_k8s_upload-k8s-image.svg
  images/breeze/output_prod-image.svg
  images/breeze/output_prod-image_build.svg
  images/breeze/output_prod-image_pull.svg
  images/breeze/output_prod-image_verify.svg
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_generate-constraints.svg
  images/breeze/output_release-management_prepare-airflow-package.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_release-prod-images.svg
  images/breeze/output_release-management_verify-provider-packages.svg
  images/breeze/output_setup_autocomplete.svg
  images/breeze/output_setup_config.svg
  images/breeze/output_setup_self-upgrade.svg
  images/breeze/output_setup_version.svg
  images/breeze/output_shell.svg
  images/breeze/output_start-airflow.svg
  images/breeze/output_static-checks.svg
  images/breeze/output_stop.svg
  images/breeze/output_testing.svg
  images/breeze/output_testing_docker-compose-tests.svg
  images/breeze/output_testing_helm-tests.svg
  images/breeze/output_testing_tests.svg
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  scripts/in_container/run_breeze_image_generation.sh
Labels: area:dev-tools

#26057 Use common url base for Google links
  airflow/providers/google/cloud/links/base.py
  airflow/providers/google/cloud/links/bigquery.py
  airflow/providers/google/cloud/links/bigquery_dts.py
  airflow/providers/google/cloud/links/bigtable.py
  airflow/providers/google/cloud/links/cloud_build.py
  airflow/providers/google/cloud/links/cloud_memorystore.py
  airflow/providers/google/cloud/links/cloud_sql.py
  airflow/providers/google/cloud/links/cloud_tasks.py
  airflow/providers/google/cloud/links/datacatalog.py
  airflow/providers/google/cloud/links/dataflow.py
  airflow/providers/google/cloud/links/dataform.py
  airflow/providers/google/cloud/links/dataplex.py
  airflow/providers/google/cloud/links/dataproc.py
  airflow/providers/google/cloud/links/datastore.py
  airflow/providers/google/cloud/links/kubernetes_engine.py
  airflow/providers/google/cloud/links/pubsub.py
  airflow/providers/google/cloud/links/spanner.py
  airflow/providers/google/cloud/links/stackdriver.py
  airflow/providers/google/cloud/links/vertex_ai.py
  airflow/providers/google/cloud/links/workflows.py
Labels: provider:Google, area:providers, area:kubernetes

#26277 Allow for the overriding of `stringify_dict` for json export format on BaseSQLToGCSOperator
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
Labels: provider:Google, area:providers

#26285 GCSToBigQueryOperator Resolve `max_id_key` job retrieval and xcom return
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  tests/providers/google/cloud/transfers/test_gcs_to_bigquery.py
Labels: provider:Google, area:providers

#26169 Auto tail file logs in Web UI
  airflow/providers/alibaba/cloud/log/oss_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/log_reader.py
  airflow/www/static/js/ti_log.js
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/providers/google/cloud/log/test_gcs_task_handler.py
  tests/utils/log/test_log_reader.py
Labels: provider:Google, provider:Azure, provider:AWS, area:webserver, area:providers, area:logging, area:UI

#26270 Migrate DMS sample dag to system test
  airflow/providers/amazon/aws/example_dags/example_dms.py
  docs/apache-airflow-providers-amazon/operators/dms.rst
  docs/spelling_wordlist.txt
  tests/system/providers/amazon/aws/example_dms.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#26221 Remove log group from AWS batch system test
  tests/system/providers/amazon/aws/example_batch.py
Labels: area:system-tests

#26410 Convert `example_eks_with_nodegroup_in_one_step` sample DAG to system test (AIP-47)
  docs/apache-airflow-providers-amazon/operators/eks.rst
  tests/system/providers/amazon/aws/example_eks_with_nodegroup_in_one_step.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#26073 Cloud Functions Operators assets & system tests migration (AIP-47)
  airflow/providers/google/cloud/links/cloud_functions.py
  airflow/providers/google/cloud/operators/functions.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/functions.rst
  tests/providers/google/cloud/operators/test_functions.py
  tests/system/providers/google/cloud/cloud_functions/__init__.py
  tests/system/providers/google/cloud/cloud_functions/example_functions.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#26157 databrick doc string for example_databricks_sql modified
  tests/system/providers/databricks/example_databricks_sql.py
Labels: area:system-tests

#26105 Fix: git clone on Windows
  .github/workflows/ci.yml
  tests/www/test_logs/__init__.py
  tests/www/test_logs/dag_for_testing_log_view/scheduled__2017-09-01T00:00:00+00:00/task_for_testing_log_view/1.log
  tests/www/test_logs/dag_for_testing_log_view/task_for_testing_log_view/2017-09-01T00.00.00+00.00/1.log
  tests/www/test_logs/dag_id=dag_for_testing_log_view/run_id=scheduled__2017-09-01T00:00:00+00:00/task_id=task_for_testing_log_view/attempt=1.log
  tests/www/views/test_views_log.py
Labels: area:dev-tools

#26246 trino: Support CertificateAuthentication in the trino hook
  airflow/providers/trino/hooks/trino.py
  docs/apache-airflow-providers-trino/connections.rst
  tests/providers/trino/hooks/test_trino.py
Labels: area:providers, kind:documentation

#26442 Remove redundant catch exceptions in Amazon Log Task Handlers
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
Labels: provider:AWS, area:providers, area:logging

#26459 Remove unsafe imports in Slack API Connection
  airflow/providers/slack/hooks/slack.py
  airflow/providers/slack/utils/__init__.py
  docs/apache-airflow-providers-slack/connections/slack.rst
  tests/providers/slack/hooks/test_slack.py
  tests/providers/slack/utils/test_utils.py
Labels: area:providers, kind:documentation

#26477 Apache Airflow `2.4.0` has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  Dockerfile.ci
  README.md
  docs/apache-airflow/installation/supported-versions.rst
  docs/docker-stack/README.md
  docs/docker-stack/docker-examples/extending/add-apt-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-build-essential-extend/Dockerfile
  docs/docker-stack/docker-examples/extending/add-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/custom-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/embedding-dags/Dockerfile
  docs/docker-stack/docker-examples/extending/writable-directory/Dockerfile
  docs/docker-stack/entrypoint.rst
  scripts/ci/pre_commit/pre_commit_supported_versions.py
  setup.py
Labels: area:dev-tools, kind:documentation, area:production-image

#26252 Add updated_at to DagRun and TI tables
  airflow/migrations/versions/0118_2_5_0_add_updated_at_to_dagrun_and_ti.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/models/test_taskinstance.py
Labels: kind:documentation, type:improvement

#26464 Fix AWS Connection warn condition for invalid `profile_name` argument
  airflow/providers/amazon/aws/utils/connection_wrapper.py
Labels: provider:AWS, area:providers

#26428 Fix defaultAirflowRepository comment
  chart/values.yaml
Labels: area:helm-chart

#26342 Don't update backfill run from the scheduler
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, type:bug-fix

#26493 Fix proper joining of the path for logs retrieved from celery workers
  airflow/utils/log/file_task_handler.py
Labels: area:logging

#26415 Add default flower_url_prefix in helm chart values
  chart/values.yaml
Labels: area:helm-chart

#26218 EMR Serverless Fix for Jobs marked as success even on failure
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/sensors/emr.py
  tests/providers/amazon/aws/operators/test_emr_serverless.py
Labels: provider:AWS, area:providers

#26496 Don't import kubernetes unless you have a V1Pod
  airflow/serialization/serialized_objects.py
Labels: area:serialization

#26345 Add DataFlow operations to Azure DataFactory hook
  airflow/providers/microsoft/azure/hooks/data_factory.py
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
Labels: provider:Azure, area:providers

#26390 template rendering issue in passing templates_dict param using task decorator
  airflow/decorators/python.py
  airflow/example_dags/example_python_operator.py
  airflow/example_dags/sql/sample.sql
  docs/apache-airflow/howto/operator/python.rst
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/serialization/test_dag_serialization.py
Labels: kind:documentation, area:core-operators

#26418 specifying project id when calling wait_for_operation in delete/create cluster
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
Labels: provider:Google, area:providers, area:kubernetes

#26338 Add CLI to add/remove permissions from existed role
  airflow/cli/cli_parser.py
  airflow/cli/commands/role_command.py
  tests/cli/commands/test_role_command.py
Labels: area:CLI

#26487 Google Drive to Google Cloud Storage Transfer Operator - system tests migration (AIP-47)
  airflow/providers/google/cloud/example_dags/example_gdrive_to_gcs.py
  docs/apache-airflow-providers-google/operators/transfer/gdrive_to_gcs.rst
  tests/providers/google/cloud/transfers/test_gdrive_to_gcs_system.py
  tests/system/providers/google/cloud/gcs/example_gdrive_to_gcs.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#26433 Merge deferrable BigQuery operators to exisitng one
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/sensors/bigquery.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/bigquery.rst
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
  tests/system/providers/google/cloud/bigquery/example_bigquery_queries_async.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#26515 Clarify owner links document
  docs/apache-airflow/howto/add-owner-links.rst
Labels: kind:documentation

#26526 Update CODEOWNERS for dbt Cloud provider
  .github/CODEOWNERS
Labels: area:dev-tools

#26525 Move trigger rule outside of documentation
  tests/system/providers/amazon/aws/example_cloudformation.py
  tests/system/providers/amazon/aws/example_emr_serverless.py
  tests/system/providers/amazon/aws/example_rds_event.py
  tests/system/providers/amazon/aws/example_rds_export.py
  tests/system/providers/amazon/aws/example_rds_snapshot.py
Labels: area:system-tests

#26538 fix typo in code sample
  docs/apache-airflow/concepts/dynamic-task-mapping.rst
Labels: kind:documentation

#26536 Add fixture for CLI tests requiring sample dags
  airflow/models/dagbag.py
  tests/cli/conftest.py
  tests/jobs/test_scheduler_job.py
Labels: area:CLI
