Repository apache/airflow, pull requests merged in 2022-08, with the labels that each got.

#25176 Implement XComArg.zip(*xcom_args)
  airflow/models/expandinput.py
  airflow/models/mappedoperator.py
  airflow/models/xcom_arg.py
  airflow/serialization/serialized_objects.py
  tests/decorators/test_python.py
  tests/models/test_xcom_arg.py
  tests/models/test_xcom_arg_map.py
  tests/serialization/test_dag_serialization.py
Labels: area:dev-tools, area:serialization, AIP-42

#25447 Making sure serialization tests run on all example dags
  tests/serialization/test_dag_serialization.py
Labels: area:serialization

#25415 Fix DAG audit_log route
  airflow/www/views.py
  tests/www/views/test_views_home.py
Labels: area:webserver

#25346 Add option to mask sensitive data in UI configuration page
  airflow/configuration.py
  airflow/www/views.py
  setup.cfg
  tests/core/test_configuration.py
  tests/www/views/test_views_configuration.py
Labels: area:webserver

#25464 Enable "upgrade_to_newer_dependencies" when only provider.yaml change
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#25404 Removed interfering force of index.
  airflow/dag_processing/processor.py
Labels: area:scheduler/executor

#25401 Add logging information in _fetch_from_ssm
  tests/system/providers/amazon/aws/utils/__init__.py
Labels: area:system-tests

#25403 Show upstream/downstreams from a dataset
  airflow/www/alias-rest-types.js
  airflow/www/package.json
  airflow/www/static/js/components/InfoTooltip.tsx
  airflow/www/static/js/components/Table/index.tsx
  airflow/www/static/js/datasets/Details.tsx
  airflow/www/static/js/datasets/List.tsx
  airflow/www/static/js/types/api-generated.ts
  airflow/www/static/js/types/index.ts
  airflow/www/yarn.lock
Labels: area:webserver, area:UI

#25482 Better warning and instructions in case someone runs emulated Python
  dev/breeze/src/airflow_breeze/commands/main_command.py
Labels: area:dev-tools

#25418 Migrate Google example automl_nl_text_extraction to new design AIP-47
  tests/system/providers/google/cloud/automl/example_automl_nl_text_extraction.py
Labels: area:system-tests

#25424 Use only public AwsHook's methods during IAM authorization
  airflow/providers/postgres/hooks/postgres.py
  airflow/providers/postgres/provider.yaml
  docs/apache-airflow-providers-postgres/connections/postgres.rst
  tests/providers/postgres/hooks/test_postgres.py
Labels: area:providers, kind:documentation

#25420 Migrate Google example trino_to_gcs to new design AIP-47
  docs/apache-airflow-providers-google/operators/transfer/trino_to_gcs.rst
  tests/providers/google/cloud/transfers/test_trino_to_gcs_system.py
  tests/system/providers/google/cloud/gcs/example_trino_to_gcs.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#25425 Remove `PrestoToSlackOperator`
  airflow/providers/presto/CHANGELOG.rst
  airflow/providers/presto/provider.yaml
  airflow/providers/presto/transfers/presto_to_slack.py
  docs/apache-airflow-providers-presto/index.rst
  docs/apache-airflow-providers-presto/operators/transfer/presto_to_slack.rst
  generated/provider_dependencies.json
  tests/providers/presto/transfers/test_presto_to_slack.py
  tests/system/providers/presto/example_presto_to_slack.py
Labels: area:providers, area:system-tests, kind:documentation

#25263 Enable Auto-incrementing Transform job name in SageMakerTransformOperator
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/operators/sagemaker.py
  tests/providers/amazon/aws/operators/test_sagemaker_transform.py
Labels: provider:AWS, area:providers

#25435 removed recommendation for using 'token' as login in databricks connection when using auth via PAT
  docs/apache-airflow-providers-databricks/connections/databricks.rst
Labels: area:providers, kind:documentation, provider:Databricks

#25421 Fix odbc hook sqlalchemy_scheme docstring
  airflow/providers/odbc/hooks/odbc.py
Labels: area:providers

#25475 Fix PostgresToGCSOperat bool dtype
  airflow/providers/google/cloud/transfers/postgres_to_gcs.py
Labels: provider:Google, area:providers

#25370 Add and document description fields
  airflow/api_connexion/endpoints/variable_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/variable_schema.py
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_variable_endpoint.py
Labels: area:API

#25476 First/last names can be empty
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_user_endpoint.py
Labels: area:API

#25481 Remove unused code in /grid endpoint
  airflow/www/views.py
Labels: area:webserver

#25469 Fix BaseSQLToGCSOperator approx_max_file_size_bytes
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
Labels: provider:Google, area:providers

#24804 Note how DAG policy works with default_args
  docs/apache-airflow/concepts/cluster-policies.rst
Labels: kind:documentation

#25499 Use 'python3' instead of 'python' in scripts
  scripts/ci/pre_commit/pre_commit_compile_www_assets.py
  scripts/ci/pre_commit/pre_commit_compile_www_assets_dev.py
  scripts/ci/pre_commit/pre_commit_www_lint.py
Labels: area:dev-tools

#25427 Correctly handle output of the failed tasks
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  tests/providers/databricks/operators/test_databricks.py
Labels: area:providers, provider:Databricks

#25345 Convert Local to S3 example DAG to System Test (AIP-47)
  airflow/providers/amazon/aws/example_dags/example_local_to_s3.py
  docs/apache-airflow-providers-amazon/operators/transfer/local_to_s3.rst
  tests/system/providers/amazon/aws/example_local_to_s3.py
Labels: provider:AWS, area:providers, area:system-tests

#25511 Limit Flask to <2.3 in the wake of 2.2 breaking our tests
  scripts/in_container/verify_providers.py
  setup.cfg
  tests/www/views/test_views_custom_user_views.py
  tests/www/views/test_views_grid.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, area:dev-tools

#25520 Fix test elasticsearch config
  airflow/config_templates/default_test.cfg
Labels: area:dev-tools, kind:documentation, area:production-image

#25519 Update to just-released `pip` 22.2.2
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/libraries/_initialization.sh
  scripts/docker/common.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#25518 Simply json responses
  airflow/www/views.py
Labels: area:webserver

#25480 Limit the list of versions in the issue template
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools

#25416 Hide unused fields for Amazon Web Services connection
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/connections/aws.rst
Labels: provider:AWS, area:providers

#24931 Apply flake8-logging-format changes to tests
  tests/models/test_dagbag.py
  tests/providers/apache/hive/transfers/test_s3_to_hive.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
  tests/task/task_runner/test_standard_task_runner.py
  tests/utils/test_compression.py
Labels: provider:Google, area:providers, provider:Apache

#25342 Fix BigQueryInsertJobOperator cancel_on_kill
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google, area:providers

#25366 add description method in BigQueryCursor class
  airflow/providers/google/cloud/hooks/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:Google, area:providers

#25514 Correctly render `results_parser_callable` parameter in Qubole operator docs
  airflow/providers/qubole/operators/qubole_check.py
Labels: area:providers

#25507 Remove Smart Sensors
  airflow/api_connexion/openapi/v1.yaml
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/dag_processing/processor.py
  airflow/exceptions.py
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/0115_2_4_0_remove_smart_sensors.py
  airflow/models/__init__.py
  airflow/models/baseoperator.py
  airflow/models/dagbag.py
  airflow/models/sensorinstance.py
  airflow/models/taskinstance.py
  airflow/providers/apache/hive/sensors/metastore_partition.py
  airflow/providers/apache/hive/sensors/named_hive_partition.py
  airflow/sensors/base.py
  airflow/sensors/smart_sensor.py
  airflow/smart_sensor_dags/__init__.py
  airflow/smart_sensor_dags/smart_sensor_group.py
  airflow/utils/file.py
  airflow/utils/log/file_processor_handler.py
  airflow/utils/state.py
  airflow/www/static/js/graph.js
  airflow/www/static/js/types/api-generated.ts
  airflow/www/static/js/types/index.ts
  airflow/www/static/js/utils/index.ts
  airflow/www/utils.py
  docs/apache-airflow/concepts/deferring.rst
  docs/apache-airflow/concepts/index.rst
  docs/apache-airflow/concepts/sensors.rst
  docs/apache-airflow/concepts/smart-sensors.rst
  docs/apache-airflow/concepts/tasks.rst
  docs/apache-airflow/logging-monitoring/metrics.rst
  docs/apache-airflow/migrations-ref.rst
  docs/apache-airflow/operators-and-hooks-ref.rst
  docs/apache-airflow/redirects.txt
  newsfragments/25507.significant.rst
  tests/core/test_config_templates.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagbag.py
  tests/models/test_sensorinstance.py
  tests/models/test_taskinstance.py
  tests/sensors/test_smart_sensor_operator.py
  tests/www/views/test_views_blocked.py
  tests/www/views/test_views_home.py
Labels: area:scheduler/executor, area:webserver, area:providers, area:logging, provider:Apache, area:API, kind:documentation, area:UI, area:core-operators

#25524 Sync up plugin API schema and definition
  airflow/api_connexion/endpoints/plugin_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/plugin_schema.py
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, area:UI

#25394 Do not convert boolean values to string in deep_string_coerce function
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/databricks/utils/databricks.py
  tests/providers/databricks/operators/test_databricks.py
  tests/providers/databricks/utils/databricks.py
Labels: area:providers, provider:Databricks

#25161 Add parsing context to DAG Parsing
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/executors/dask_executor.py
  airflow/executors/local_executor.py
  airflow/executors/sequential_executor.py
  airflow/task/task_runner/base_task_runner.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/utils/dag_parsing_context.py
  docs/apache-airflow/howto/dynamic-dag-generation.rst
  tests/cli/commands/test_task_command.py
  tests/dags/test_parsing_context.py
  tests/task/task_runner/test_standard_task_runner.py
Labels: area:scheduler/executor, area:CLI, kind:documentation

#25538 Align Common SQL provider logo location
  airflow/providers/common/sql/provider.yaml
  docs/integration-logos/common/sql/sql.png
Labels: area:providers, kind:documentation, provider:Common-sql

#25536 Validate newsfragment types
  scripts/ci/pre_commit/pre_commit_newsfragments.py
Labels: area:dev-tools

#25283 Chart: custom labels for extrasecrets/configmaps
  chart/templates/configmaps/extra-configmaps.yaml
  chart/templates/secrets/extra-secrets.yaml
  chart/values.schema.json
  chart/values.yaml
  chart/values_schema.schema.json
  tests/charts/test_extra_configmaps_secrets.py
Labels: area:helm-chart

#25454 Add ui endpoint to get "next run datasets" info
  airflow/www/views.py
  tests/test_utils/db.py
  tests/www/views/test_views_grid.py
Labels: area:webserver

#25545 Coorect branch used for non-main builds
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
  dev/breeze/src/airflow_breeze/params/common_build_params.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
Labels: area:dev-tools

#25503 Add optional data interval to CronTriggerTimetable
  airflow/timetables/_cron.py
  airflow/timetables/interval.py
  airflow/timetables/trigger.py
  docs/apache-airflow/concepts/timetable.rst
  tests/timetables/test_interval_timetable.py
  tests/timetables/test_trigger_timetable.py
Labels: kind:documentation

#25500 Make extra link work in UI
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  airflow/operators/trigger_dagrun.py
  airflow/providers/qubole/operators/qubole.py
  airflow/www/static/js/dag.js
  airflow/www/static/js/dag/details/taskInstance/index.tsx
  docs/spelling_wordlist.txt
Labels: area:webserver, area:providers, area:UI, area:core-operators

#25542 Further limit list of versions in issue template
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools

#25430 Fix common sql DbApiHook fetch_all_handler
  airflow/providers/common/sql/hooks/sql.py
  tests/providers/common/sql/hooks/test_dbapi.py
Labels: area:providers, provider:Common-sql

#25546 Copy build packages on non-main
  .github/workflows/ci.yml
Labels: area:dev-tools

#25549 Show dataset-triggered next run details
  airflow/www/static/css/main.css
  airflow/www/static/js/dag.js
  airflow/www/static/js/dags.js
  airflow/www/static/js/openDatasetModal.js
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/templates/airflow/dataset_next_run_modal.html
Labels: area:webserver, area:UI

#25185 Fix MsSqlHook get_uri, adding pymssql driver to scheme (25092)
  airflow/providers/microsoft/mssql/hooks/mssql.py
  tests/providers/microsoft/mssql/hooks/test_mssql.py
Labels: area:providers

#25336 Resolve Amazon Hook's `region_name` and `config` in wrapper
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/utils/connection_wrapper.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/utils/test_connection_wrapper.py
Labels: provider:AWS, area:providers

#25554 Fix Grid task row scrollbar overlapping on Firefox
  airflow/www/static/js/dag/grid/index.tsx
Labels: area:webserver, area:UI

#25547 Amazon provider package system test contributing guide
  tests/system/providers/amazon/CONTRIBUTING.md
  tests/system/providers/amazon/README.md
Labels: area:dev-tools, area:system-tests

#25324 Add EMR Serverless Operators and Hooks
  airflow/providers/amazon/aws/example_dags/example_emr_serverless.py
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/sensors/emr.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/emr_serverless.rst
  tests/providers/amazon/aws/hooks/test_emr_serverless.py
  tests/providers/amazon/aws/operators/test_emr_serverless.py
Labels: provider:AWS, area:providers, kind:documentation

#24489 Documentation on task mapping additions
  airflow/decorators/base.py
  airflow/models/xcom_arg.py
  docs/apache-airflow/concepts/dynamic-task-mapping.rst
  docs/spelling_wordlist.txt
Labels: kind:documentation, okay to merge, AIP-42

#23516 clear specific dag run TI
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/schemas/test_task_instance_schema.py
Labels: area:API

#25544 Fix S3Hook transfer config arguments validation
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: provider:AWS, area:providers

#25550 Ensure that zombie tasks for dags with errors get cleaned up
  airflow/dag_processing/processor.py
  airflow/models/log.py
  airflow/models/taskinstance.py
  tests/conftest.py
  tests/dag_processing/test_processor.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor

#25553 Allow wildcarded CORS origins
  airflow/www/extensions/init_views.py
  tests/api_connexion/test_cors.py
Labels: area:webserver, area:API

#25551 Use meta value url for dataset links
  airflow/www/static/js/components/Table/Cells.test.tsx
  airflow/www/static/js/components/Table/Cells.tsx
  airflow/www/static/js/datasets/Details.tsx
  airflow/www/templates/airflow/datasets.html
Labels: area:webserver, changelog:skip, area:UI, AIP-48

#25280 Adding support for owner links in the Dags view UI
  airflow/migrations/versions/0116_2_4_0_add_dag_owner_attributes_table.py
  airflow/models/__init__.py
  airflow/models/abstractoperator.py
  airflow/models/dag.py
  airflow/serialization/schema.json
  airflow/www/templates/airflow/dag_details.html
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  docs/apache-airflow/howto/add-owner-links.rst
  docs/apache-airflow/howto/index.rst
  docs/apache-airflow/img/howto-owner-links.gif
  docs/apache-airflow/migrations-ref.rst
  docs/spelling_wordlist.txt
  tests/models/test_dag.py
  tests/test_utils/db.py
  tests/utils/test_db_cleanup.py
  tests/www/views/test_views_base.py
Labels: area:webserver, area:UI

#25562 Update API & Python Client versions
  airflow/api_connexion/openapi/v1.yaml
  clients/gen/python.sh
Labels: area:API

#25563 feat: breeze - support compose v2
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools

#25559 System test for EMR Serverless
  docs/apache-airflow-providers-amazon/operators/emr_serverless.rst
  tests/system/providers/amazon/aws/example_emr_serverless.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#22913 Do not declare a volume for sshKeySecret if dag persistence is enabled
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  tests/charts/test_git_sync_scheduler.py
  tests/charts/test_git_sync_triggerer.py
  tests/charts/test_git_sync_webserver.py
  tests/charts/test_git_sync_worker.py
Labels: area:helm-chart

#25567 Move "additional" build args from required to optional in Breeze
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
Labels: area:dev-tools

#25570 Correct compile assets command in tmux welcome message
  scripts/in_container/run_tmux_welcome.sh
Labels: area:dev-tools

#25564 Turn Airflow versions into a free-form field for Helm/Providers
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools

#25573 Fix yamllint check with lines too long
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
Labels: area:dev-tools

#25566 Optimize log when using VerticaOperator
  airflow/providers/vertica/operators/vertica.py
Labels: area:providers

#25568 Add support for mapped task on logs API
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_log_endpoint.py
Labels: area:webserver, area:API, area:UI

#25571 Update AIP confluence link
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/apache-airflow/project.rst
Labels: area:dev-tools, kind:documentation

#25572 Better behaviour for self-update of Breeze
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/reinstall.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_ci-image_pull.svg
  images/breeze/output_prod-image.svg
  images/breeze/output_prod-image_pull.svg
  images/breeze/output_setup_self-upgrade.svg
Labels: area:dev-tools

#25412 Fixing JdbcOperator non-SELECT statement run
  airflow/providers/jdbc/operators/jdbc.py
  tests/providers/jdbc/operators/test_jdbc.py
Labels: area:providers

#25578 Databricks: update user-agent string
  airflow/providers/databricks/hooks/databricks_base.py
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers, provider:Databricks

#25569 Get boto3.session.Session by appropriate method
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/glue.py
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/hooks/test_glue.py
Labels: provider:AWS, area:providers

#25432 Avoid requirement that AWS Secret Manager JSON values be urlencoded.
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Labels: provider:AWS, area:providers, area:secrets, kind:documentation

#25183 Add auth_type to LivyHook
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/livy/operators/livy.py
  airflow/providers/apache/livy/sensors/livy.py
  tests/providers/apache/livy/hooks/test_livy.py
Labels: area:providers, provider:Apache

#25577 Documentation update. Actualizing passing data options
  docs/apache-airflow/concepts/overview.rst
Labels: kind:documentation

#25583 Speed-up Python Helm Unit tests by ~30%
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#25582 Upgrade Kubernetes and Helm Charts used during our tests
  breeze-complete
  scripts/ci/libraries/_initialization.sh
  tests/charts/helm_template_generator.py
  tests/charts/test_airflow_common.py
  tests/charts/test_basic_helm_chart.py
  tests/charts/test_cleanup_pods.py
  tests/charts/test_configmap.py
  tests/charts/test_create_user_job.py
  tests/charts/test_dag_processor.py
  tests/charts/test_extra_configmaps_secrets.py
  tests/charts/test_extra_env_env_from.py
  tests/charts/test_flower.py
  tests/charts/test_git_sync_webserver.py
  tests/charts/test_keda.py
  tests/charts/test_kerberos.py
  tests/charts/test_metadata_connection_secret.py
  tests/charts/test_migrate_database_job.py
  tests/charts/test_pgbouncer.py
  tests/charts/test_pod_launcher_role.py
  tests/charts/test_pod_template_file.py
  tests/charts/test_rbac.py
  tests/charts/test_rbac_pod_log_reader.py
  tests/charts/test_redis.py
  tests/charts/test_result_backend_connection_secret.py
  tests/charts/test_scc_rolebinding.py
  tests/charts/test_scheduler.py
  tests/charts/test_statsd.py
  tests/charts/test_triggerer.py
  tests/charts/test_webserver.py
  tests/charts/test_worker.py
Labels: area:dev-tools, full tests needed

#25581 Helm Unit testing use new Breeze command
  .github/workflows/ci.yml
  BREEZE.rst
  TESTING.rst
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_testing.svg
  images/breeze/output_testing_helm-tests.svg
  images/breeze/output_testing_tests.svg
  scripts/in_container/check_environment.sh
Labels: area:dev-tools

#25591 Remove migrations from up-to-date-checker
  .github/boring-cyborg.yml
Labels: area:dev-tools

#25600 Add myself as code owner for AIP-42 related stuffs
  .github/CODEOWNERS
Labels: area:dev-tools

#25589 Update Helm version in Breeze as well
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#25494 Deprecate usage of `extra[host]` in AWS's connection
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/utils/connection_wrapper.py
  docs/apache-airflow-providers-amazon/connections/aws.rst
  tests/providers/amazon/aws/utils/test_connection_wrapper.py
Labels: provider:AWS, area:providers

#25612 Fix update-breeze-cmd-output
  images/breeze/output-commands-hash.txt
  images/breeze/output_testing.svg
  images/breeze/output_testing_helm-tests.svg
Labels: area:dev-tools

#23870 DAG regex flag in backfill command
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  airflow/jobs/backfill_job.py
  tests/cli/commands/test_dag_command.py
Labels: area:scheduler/executor, area:CLI, full tests needed

#25611 Grid Logs, add visual indicator of selected attempt
  airflow/www/static/js/dag/details/taskInstance/Logs/index.tsx
Labels: area:webserver, area:UI

#25607 Add note on task_instance_mutation_hook usage
  docs/apache-airflow/concepts/cluster-policies.rst
Labels: kind:documentation

#25614 Fix an issue on document
  airflow/providers/google/cloud/operators/gcs.py
Labels: provider:Google, area:providers

#25584 Move the old ./breeze script to scripts/tools/setup_breeze
  .github/boring-cyborg.yml
  BREEZE.rst
  dev/breeze/src/airflow_breeze/utils/visuals.py
  docker_tests/docker_tests_utils.py
  docs/README.rst
  docs/apache-airflow-providers/howto/create-update-providers.rst
  scripts/tools/setup_breeze
Labels: area:dev-tools, kind:documentation, area:production-image

#25587 New Operators for the Google Cloud Dataform service
  airflow/providers/google/cloud/hooks/dataform.py
  airflow/providers/google/cloud/links/dataform.py
  airflow/providers/google/cloud/operators/dataform.py
  airflow/providers/google/cloud/sensors/dataform.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/dataform.rst
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/test_dataform.py
  tests/providers/google/cloud/operators/test_dataform.py
  tests/system/providers/google/cloud/dataform/__init__.py
  tests/system/providers/google/cloud/dataform/example_dataform.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#25621 Add auto refresh to grid logs
  airflow/www/static/js/api/useTaskLog.tsx
Labels: area:webserver, area:UI

#25609 Remove deprecated modules from Amazon provider package
  airflow/contrib/hooks/aws_athena_hook.py
  airflow/contrib/hooks/aws_datasync_hook.py
  airflow/contrib/hooks/aws_dynamodb_hook.py
  airflow/contrib/hooks/aws_firehose_hook.py
  airflow/contrib/hooks/aws_glue_catalog_hook.py
  airflow/contrib/hooks/aws_lambda_hook.py
  airflow/contrib/hooks/aws_sns_hook.py
  airflow/contrib/operators/aws_athena_operator.py
  airflow/contrib/operators/awsbatch_operator.py
  airflow/contrib/operators/ecs_operator.py
  airflow/contrib/sensors/aws_glue_catalog_partition_sensor.py
  airflow/providers/amazon/aws/exceptions.py
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/hooks/batch_waiters.py
  airflow/providers/amazon/aws/hooks/cloud_formation.py
  airflow/providers/amazon/aws/hooks/datasync.py
  airflow/providers/amazon/aws/hooks/dynamodb.py
  airflow/providers/amazon/aws/hooks/eks.py
  airflow/providers/amazon/aws/hooks/glue.py
  airflow/providers/amazon/aws/hooks/glue_catalog.py
  airflow/providers/amazon/aws/hooks/glue_crawler.py
  airflow/providers/amazon/aws/hooks/kinesis.py
  airflow/providers/amazon/aws/hooks/lambda_function.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/hooks/ses.py
  airflow/providers/amazon/aws/hooks/sns.py
  airflow/providers/amazon/aws/hooks/sqs.py
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/datasync.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/operators/glue_crawler.py
  airflow/providers/amazon/aws/operators/sqs.py
  airflow/providers/amazon/aws/sensors/eks.py
  airflow/providers/amazon/aws/sensors/glue.py
  airflow/providers/amazon/aws/sensors/glue_catalog_partition.py
  airflow/providers/amazon/aws/sensors/glue_crawler.py
  airflow/providers/amazon/aws/sensors/s3.py
  airflow/providers/amazon/aws/sensors/sqs.py
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  airflow/sensors/s3_prefix_sensor.py
  tests/always/test_project_structure.py
  tests/deprecated_classes.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/sensors/test_s3_key.py
  tests/providers/amazon/aws/sensors/test_s3_prefix.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: provider:AWS, area:providers

#18896 Set default wasb Azure http logging level to warning; fixes #16224
  airflow/providers/microsoft/azure/hooks/wasb.py
Labels: provider:Azure, area:providers

#25626 Remove log groups in the lambda system test
  tests/system/providers/amazon/aws/example_lambda.py
  tests/system/providers/amazon/aws/utils/__init__.py
Labels: area:system-tests

#25413 Refactor monolithic ECS Operator into Operators, Sensors, and a Hook
  airflow/contrib/operators/ecs_operator.py
  airflow/providers/amazon/aws/example_dags/example_ecs.py
  airflow/providers/amazon/aws/hooks/ecs.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/sensors/ecs.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/ecs.rst
  docs/spelling_wordlist.txt
  tests/always/test_project_structure.py
  tests/providers/amazon/aws/hooks/test_ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
  tests/providers/amazon/aws/operators/test_ecs_system.py
Labels: provider:AWS, area:providers, kind:documentation

#25619 Enable multiple query execution in RedshiftDataOperator
  airflow/providers/amazon/aws/operators/redshift_data.py
  tests/providers/amazon/aws/operators/test_redshift_data.py
Labels: provider:AWS, area:providers

#25636 Fix CHANGELOG for common.sql provider and add amazon commit
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/common/sql/CHANGELOG.rst
  airflow/providers/common/sql/provider.yaml
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-common-sql/commits.rst
Labels: area:providers, kind:documentation, provider:Common-sql

#25652 Revert "Remove support for FAB `APP_THEME` (#15277)"
  airflow/config_templates/default_webserver_config.py
  airflow/www/static/css/bootstrap-theme.css
  airflow/www/templates/airflow/main.html
  airflow/www/webpack.config.js
Labels: area:webserver, changelog:skip, area:UI

#25646 Clean up datasets UI and copy
  airflow/www/static/js/api/useGridData.ts
  airflow/www/static/js/api/useMappedInstances.ts
  airflow/www/static/js/components/Table/Cells.test.tsx
  airflow/www/static/js/dag/details/dagRun/DatasetTriggerEvents.tsx
  airflow/www/static/js/dag/details/dagRun/index.tsx
  airflow/www/static/js/dag/details/taskInstance/DatasetUpdateEvents.tsx
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
  airflow/www/static/js/dag/details/taskInstance/Nav.tsx
  airflow/www/static/js/dag/details/taskInstance/index.tsx
  airflow/www/static/js/datasets/Details.tsx
  airflow/www/static/js/datasets/List.tsx
  airflow/www/static/js/utils/index.ts
  airflow/www/templates/airflow/datasets.html
Labels: area:webserver, area:UI

#25654 Remove useless statement in task_group_to_grid
  airflow/www/views.py
Labels: area:webserver

#25594 Fix mapped sensor with reschedule mode
  airflow/models/taskinstance.py
  airflow/models/taskreschedule.py
  airflow/serialization/serialized_objects.py
  airflow/ti_deps/deps/ready_to_reschedule.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
  tests/ti_deps/deps/test_ready_to_reschedule_dep.py
Labels: area:serialization, area:core-operators

#25664 Configurable umask to all deamonized processes.
  airflow/cli/cli_parser.py
  airflow/cli/commands/celery_command.py
  airflow/cli/commands/dag_processor_command.py
  airflow/cli/commands/kerberos_command.py
  airflow/cli/commands/scheduler_command.py
  airflow/cli/commands/triggerer_command.py
  airflow/cli/commands/webserver_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/settings.py
  tests/cli/commands/test_celery_command.py
  tests/cli/commands/test_kerberos_command.py
Labels: area:webserver, area:CLI

#25649 Add semver and description of preparing rc2+ issue for providers
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/requirements.txt
Labels: area:dev-tools

#25673 Adding mysql index hint to use index on task_instance.state in critical section query
  airflow/jobs/scheduler_job.py
Labels: area:scheduler/executor

#25674 Fix Databricks provider for Airflow 2.2.x
  airflow/providers/databricks/hooks/databricks_base.py
Labels: area:providers, provider:Databricks

#25670 Fix `airflow-github needs-categorization` tool handling of renamed files
  dev/airflow-github
Labels: area:dev-tools

#25688 Renamed up/downstream references to producing/consuming
  airflow/api_connexion/endpoints/dataset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dataset_schema.py
  airflow/models/dataset.py
  airflow/models/taskinstance.py
  airflow/www/static/js/datasets/Details.tsx
  airflow/www/static/js/datasets/List.tsx
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_dataset_endpoint.py
  tests/api_connexion/schemas/test_dataset_schema.py
  tests/models/test_dag.py
Labels: area:webserver, area:API, changelog:skip, area:UI, AIP-48

#25695 Autorefresh dags page for queued runs
  airflow/www/static/js/dags.js
Labels: area:webserver, area:UI

#25697 Help pip resolver to make better decisions on Pyarrow version
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#25703 Grid, fix toast for axios errors
  airflow/www/static/js/utils/useErrorToast.test.tsx
  airflow/www/static/js/utils/useErrorToast.ts
Labels: area:webserver, area:UI

#25675 Adding a parameter for exclusion of trashed files in GoogleDriveHook
  airflow/providers/google/suite/hooks/drive.py
  tests/providers/google/suite/hooks/test_drive.py
Labels: provider:Google, area:providers

#25713 Fix SQL split string to include `;-less` statements
  airflow/providers/common/sql/hooks/sql.py
  tests/providers/common/sql/hooks/test_sqlparse.py
Labels: area:providers, provider:Common-sql

#25720 Prepare documentation for RC4 release of providers
  airflow/providers/common/sql/CHANGELOG.rst
  airflow/providers/databricks/CHANGELOG.rst
  docs/apache-airflow-providers-common-sql/commits.rst
  docs/apache-airflow-providers-databricks/commits.rst
Labels: area:providers, kind:documentation, provider:Common-sql, provider:Databricks

#25716 Fix construction of Connection object in version Amazon provider 5.0.0rc3
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Labels: provider:AWS, area:providers, area:secrets

#25599 Only excluded actually expanded fields from render
  airflow/models/mappedoperator.py
  tests/models/test_mappedoperator.py
Labels: AIP-42

#25709 Allow to pass AIRFLOW_SOURCES env variable to ci entrypoint
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools

#25723 Grid: Display group/mapped summaries with the rest of the detail info
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
Labels: area:webserver, area:UI

#25725 Added MySQL index hint to use ti_state on find_zombies query
  airflow/jobs/scheduler_job.py
Labels: area:scheduler/executor

#25726 Correct `json` arg help in `airflow variables set` command
  airflow/cli/cli_parser.py
Labels: area:CLI

#25702 Add groups in CI output for parallell tasks
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/main_command.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/ci_group.py
  dev/breeze/src/airflow_breeze/utils/console.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/image.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/registry.py
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
Labels: area:dev-tools, full tests needed

#25727 Separate "public" Dataset class from SQLA model
  airflow/__init__.py
  airflow/api_connexion/endpoints/dataset_endpoint.py
  airflow/api_connexion/schemas/dataset_schema.py
  airflow/datasets/__init__.py
  airflow/example_dags/example_datasets.py
  airflow/lineage/__init__.py
  airflow/models/__init__.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/dataset.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/utils/context.py
  airflow/www/views.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dataset_endpoint.py
  tests/api_connexion/schemas/test_dataset_schema.py
  tests/dags/test_datasets.py
  tests/lineage/test_lineage.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
  tests/test_utils/db.py
  tests/www/views/test_views_grid.py
Labels: area:webserver, area:serialization, area:API, area:lineage

#25722 Correctly link to Dag parsing context in docs
  airflow/utils/dag_parsing_context.py
  docs/apache-airflow/howto/dynamic-dag-generation.rst
  docs/apache-airflow/python-api-ref.rst
  docs/conf.py
Labels: kind:documentation

#22658 Fix incorrect data interval alignment due to assumption on input time alignment
  airflow/timetables/_cron.py
  airflow/timetables/interval.py
  airflow/timetables/trigger.py
  tests/timetables/test_interval_timetable.py
Labels: full tests needed, AIP-39

#25737 Fixed never ending loop in CreateWorkflowInvocation
  airflow/providers/google/cloud/hooks/dataform.py
Labels: provider:Google, area:providers

#25655 Delete Old-style Amazon System Tests
  tests/providers/amazon/aws/hooks/test_base_aws_system.py
  tests/providers/amazon/aws/operators/test_eks_system.py
  tests/providers/amazon/aws/operators/test_emr_system.py
  tests/providers/amazon/aws/operators/test_glacier_system.py
  tests/providers/amazon/aws/operators/test_s3_bucket_tagging_system.py
  tests/providers/amazon/aws/transfers/test_google_api_to_s3_system.py
  tests/providers/amazon/aws/transfers/test_imap_attachment_to_s3_system.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift_system.py
Labels: provider:AWS, area:providers

#25436 Implement Azure Service Bus Topic (Create, Delete) Operators
  airflow/providers/microsoft/azure/operators/asb.py
  docs/apache-airflow-providers-microsoft-azure/operators/asb.rst
  tests/providers/microsoft/azure/operators/test_asb.py
  tests/system/providers/microsoft/azure/example_azure_service_bus.py
Labels: provider:Azure, area:providers, area:system-tests, kind:documentation

#25699 Fix aws cli installation script
  scripts/in_container/bin/install_aws.sh
Labels: area:dev-tools

#24793 Remove groundwork for Click CLI
  airflow/cli/__init__.py
  airflow/cli/__main__.py
  airflow/utils/cli.py
  setup.cfg
  tests/utils/test_cli_util.py
Labels: area:CLI

#24969 Move dataset dagrun creation to scheduler main
  airflow/jobs/scheduler_job.py
  airflow/migrations/versions/0114_2_4_0_add_dataset_model.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/dataset.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/utils/test_db_cleanup.py
Labels: area:scheduler/executor

#25628 Allow AWS Secrets Backends use AWS Connection capabilities
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/secrets/systems_manager.py
  airflow/providers/amazon/aws/utils/connection_wrapper.py
  docs/apache-airflow-providers-amazon/connections/aws.rst
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
  docs/apache-airflow-providers-amazon/secrets-backends/aws-ssm-parameter-store.rst
  local/log/location/dag_for_testing_cloudwatch_task_handler/task_for_testing_cloudwatch_log_handler/2020-01-01T00_00_00+00_00/1.log
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
  tests/providers/amazon/aws/secrets/test_systems_manager.py
  tests/providers/amazon/aws/utils/test_connection_wrapper.py
Labels: provider:AWS, area:providers, area:secrets, kind:documentation

#25735 Improve docker documentation
  docs/apache-airflow/start/docker.rst
  docs/docker-stack/index.rst
Labels: kind:documentation, area:production-image

#25749 Clarify filename_template deprecation message
  airflow/utils/context.pyi
  airflow/utils/log/file_task_handler.py
Labels: area:logging

#25751 Fix SystemsManagerParameterStoreBackend test
  tests/secrets/test_secrets.py
Labels: area:secrets

#22834 Operator name separate from class
  airflow/api_connexion/schemas/task_schema.py
  airflow/decorators/base.py
  airflow/decorators/python.py
  airflow/decorators/python_virtualenv.py
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  airflow/models/mappedoperator.py
  airflow/serialization/serialized_objects.py
  airflow/www/views.py
  docs/apache-airflow/howto/custom-operator.rst
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/api_connexion/schemas/test_task_schema.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
  tests/test_utils/mock_operators.py
Labels: area:API

#25763 TESTING.rst: Fix typo in path
  TESTING.rst
Labels: area:dev-tools

#25729 Add origin request args when triggering a run
  airflow/www/templates/airflow/dag.html
Labels: area:webserver, area:UI

#25759 Update tutorial.rst
  docs/apache-airflow/tutorial.rst
Labels: kind:documentation

#25694 Next run datasets tooltip preview
  airflow/www/static/js/dag.js
  airflow/www/static/js/dags.js
  airflow/www/static/js/datasetUtils.js
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
Labels: area:webserver, area:UI

#25758 Used many-to-many relation for finding attached dataset events.
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/jobs/scheduler_job.py
  airflow/models/dataset.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/jobs/test_scheduler_job.py
Labels: area:API, AIP-48

#25767 Fix outlet datasets not being detected on Mapped operators
  airflow/lineage/__init__.py
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/mappedoperator.py
  airflow/serialization/serialized_objects.py
  airflow/www/views.py
  tests/providers/papermill/operators/test_papermill.py
  tests/serialization/test_dag_serialization.py
Labels: area:webserver, area:serialization, area:lineage, AIP-48

#25770 get dataset by uri instead of if in rest api
  airflow/api_connexion/endpoints/dataset_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/api/useDataset.ts
  airflow/www/static/js/api/useDatasetEvents.ts
  airflow/www/static/js/components/Table/Cells.tsx
  airflow/www/static/js/datasetUtils.js
  airflow/www/static/js/datasets/DatasetEvents.tsx
  airflow/www/static/js/datasets/Details.tsx
  airflow/www/static/js/datasets/List.tsx
  airflow/www/static/js/datasets/index.tsx
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_dataset_endpoint.py
Labels: area:webserver, area:API, area:UI

#25777 Revert "Help pip resolved to make better decisions on Pyarrow version…
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image, full tests needed

#25779 Increase timeout for providers checks for 2.2
  .github/workflows/ci.yml
Labels: area:dev-tools

#25657 Update code examples from "classic" operators to taskflow
  docs/apache-airflow/best-practices.rst
  docs/apache-airflow/faq.rst
  docs/apache-airflow/index.rst
Labels: kind:documentation

#25774 Support `/` in variable get endpoint
  airflow/api_connexion/openapi/v1.yaml
  tests/api_connexion/endpoints/test_variable_endpoint.py
Labels: area:API

#25633 Allow per-timetable ordering override in grid view
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/timetables/base.py
  airflow/timetables/simple.py
  airflow/www/views.py
  newsfragments/25090.significant.rst
Labels: area:webserver
