Repository apache/airflow, pull requests merged in 2022-02, with the labels that each got.

#21239 Fix trigger dag redirect from task instance log view
  airflow/www/views.py
Labels: area:webserver, okay to merge

#20031 Add missed deprecations for cncf
  airflow/providers/cncf/kubernetes/backcompat/pod.py
  airflow/providers/cncf/kubernetes/backcompat/pod_runtime_info_env.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  dev/provider_packages/prepare_provider_packages.py
Labels: area:providers, area:kubernetes

#19981 Add a retry with wait interval for SSH operator #14489
  airflow/providers/ssh/CHANGELOG.rst
  airflow/providers/ssh/hooks/ssh.py
  airflow/providers/ssh/provider.yaml
Labels: area:providers

#20044 Add ShortCircuitOperator configurability for respecting downstream trigger rules
  airflow/example_dags/example_short_circuit_operator.py
  airflow/operators/python.py
  docs/apache-airflow/howto/operator/python.rst
  docs/spelling_wordlist.txt
  tests/operators/test_python.py
Labels: kind:documentation, full tests needed, area:core-operators

#21238 Use Identity instead of Seqence in SQLAlchemy 1.4 for MSSQL
  airflow/www/fab_security/sqla/models.py
Labels: area:webserver, okay to merge

#21246 Update debug.rst docs
  docs/apache-airflow/executor/debug.rst
Labels: area:scheduler/executor, kind:documentation, okay to merge

#21247 Split out confusing path combination logic to separate method
  airflow/providers/http/hooks/http.py
Labels: area:providers, okay to merge

#21191 Log trigger status only if at least one is running
  airflow/jobs/triggerer_job.py
Labels: area:scheduler/executor

#21244 Log context only for default method
  airflow/models/taskinstance.py
Labels: full tests needed

#19806 PSRP improvements
  airflow/providers/microsoft/psrp/hooks/psrp.py
  airflow/providers/microsoft/psrp/operators/psrp.py
  airflow/providers/microsoft/psrp/provider.yaml
  docs/apache-airflow-providers-microsoft-psrp/index.rst
  docs/apache-airflow-providers-microsoft-psrp/operators/index.rst
  docs/apache-airflow/concepts/operators.rst
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/microsoft/psrp/hooks/test_psrp.py
  tests/providers/microsoft/psrp/operators/test_psrp.py
Labels: area:providers, full tests needed

#21175 Fixes Docker xcom functionality
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, okay to merge

#21196 Update version to 2.2.4 for things in that release
  airflow/api/common/experimental/get_code.py
  airflow/api/common/experimental/get_dag_run_state.py
  airflow/api/common/experimental/get_task.py
  airflow/api/common/experimental/get_task_instance.py
  airflow/api/common/experimental/pool.py
  airflow/config_templates/config.yml
Labels: area:API, changelog:skip, full tests needed

#21140 Update documents(`CONTRIBUTORS_QUICK_START.rst`, `TESTING.rst`) related to dag_run_state.
  CONTRIBUTORS_QUICK_START.rst
  TESTING.rst
Labels: area:dev-tools, okay to merge

#21256 Fix `insecure_mode` parameter formatting in Snowflake conn doc
  docs/apache-airflow-providers-snowflake/connections/snowflake.rst
Labels: area:providers, kind:documentation, okay to merge, provider:Snowflake

#21260 Fix building documentation for PSRP
  docs/build_docs.py
Labels: kind:documentation, okay to merge

#21262 Add banner_timeout feature to SSH Hook/Operator
  airflow/providers/ssh/hooks/ssh.py
  airflow/providers/ssh/operators/ssh.py
  tests/providers/ssh/hooks/test_ssh.py
  tests/providers/ssh/operators/test_ssh.py
Labels: area:providers, okay to merge

#21288 Update local venv doc to use 3.7 as base version
  LOCAL_VIRTUALENV.rst
Labels: area:dev-tools

#21280 Remove TODO from Snowflake docs
  docs/apache-airflow-providers-snowflake/operators/s3_to_snowflake.rst
Labels: area:providers, kind:documentation, okay to merge, provider:Snowflake

#21285 Refactor operator links to not create ad hoc TaskInstances
  airflow/models/xcom.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/qubole/operators/qubole.py
Labels: provider:Google, provider:Azure, provider:AWS, area:providers, full tests needed

#20755 Augment xcom docs
  docs/apache-airflow/concepts/xcoms.rst
Labels: kind:documentation, okay to merge, type:doc-only

#21296 Fix relationship join bug in FAB/SecurityManager with SQLA 1.4
  airflow/www/fab_security/sqla/models.py
  airflow/www/security.py
Labels: area:webserver, okay to merge

#21282 Update overview.rst - small change in documentation
  docs/apache-airflow/concepts/overview.rst
Labels: kind:documentation, changelog:skip, okay to merge

#21298 Update stat_name_handler documentation
  docs/apache-airflow/logging-monitoring/metrics.rst
Labels: kind:documentation, changelog:skip, okay to merge

#21268 Update recipe for Google Cloud SDK
  docs/docker-stack/docker-images-recipes/gcloud.Dockerfile
Labels: kind:documentation, area:production-image, changelog:skip

#21303 Fix tests for mssql after SQLA 1.4 upgrade
  airflow/sensors/external_task.py
Labels: full tests needed, area:core-operators

#21308 Fix `oauth_whitelists` in BaseSecurityManager
  airflow/www/fab_security/manager.py
Labels: area:webserver

#21275 Update error docs to include before_send option
  docs/apache-airflow/logging-monitoring/errors.rst
Labels: kind:documentation, okay to merge

#21309 Chart: Update git-sync to v3.4.0
  airflow/kubernetes/pod_template_file_examples/git_sync_template.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, full tests needed, area:kubernetes

#18707 Fix mismatch in generated run_id and logical date of DAG run
  airflow/operators/trigger_dagrun.py
  tests/operators/test_trigger_dagrun.py
Labels: full tests needed, area:core-operators

#21311 Update boto3 to latest
  setup.py
Labels: full tests needed

#21306 Added My Money Bank to the list of companies using Apache Airflow
  INTHEWILD.md
Labels: okay to merge

#21320 Fix BigQuery system test
  airflow/providers/google/cloud/example_dags/example_bigquery_operations.py
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers, okay to merge

#21326 Refactor SSH tests to not use SSH server in operator tests
  airflow/providers/ssh/hooks/ssh.py
  airflow/providers/ssh/operators/ssh.py
  tests/providers/ssh/hooks/test_ssh.py
  tests/providers/ssh/operators/test_ssh.py
Labels: area:providers, okay to merge

#20794 Helm Chart - support for priorityClassName
  chart/templates/flower/flower-deployment.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/tests/test_airflow_common.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#21334 Replace tenacity retry with flaky marker for ssh hook test
  tests/providers/ssh/hooks/test_ssh.py
Labels: area:providers, okay to merge

#21237 Add more SQL template fields renderers
  airflow/operators/sql.py
  airflow/providers/amazon/aws/operators/redshift_sql.py
  airflow/providers/amazon/aws/transfers/hive_to_dynamodb.py
  airflow/providers/apache/druid/transfers/hive_to_druid.py
  airflow/providers/apache/hive/operators/hive.py
  airflow/providers/apache/hive/transfers/hive_to_mysql.py
  airflow/providers/apache/hive/transfers/hive_to_samba.py
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/apache/hive/transfers/mysql_to_hive.py
  airflow/providers/apache/hive/transfers/vertica_to_hive.py
  airflow/providers/apache/spark/operators/spark_sql.py
  airflow/providers/apache/sqoop/operators/sqoop.py
  airflow/providers/exasol/operators/exasol.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/spanner.py
  airflow/providers/google/cloud/transfers/salesforce_to_gcs.py
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  airflow/providers/jdbc/operators/jdbc.py
  airflow/providers/microsoft/mssql/operators/mssql.py
  airflow/providers/mysql/operators/mysql.py
  airflow/providers/mysql/transfers/presto_to_mysql.py
  airflow/providers/mysql/transfers/trino_to_mysql.py
  airflow/providers/mysql/transfers/vertica_to_mysql.py
  airflow/providers/oracle/operators/oracle.py
  airflow/providers/postgres/operators/postgres.py
  airflow/providers/snowflake/operators/snowflake.py
  airflow/providers/snowflake/transfers/snowflake_to_slack.py
  airflow/providers/sqlite/operators/sqlite.py
  airflow/providers/vertica/operators/vertica.py
  airflow/www/utils.py
  docs/apache-airflow/howto/custom-operator.rst
  docs/spelling_wordlist.txt
Labels: provider:Google, provider:AWS, area:providers, provider:Apache, type:improvement, full tests needed, provider:Snowflake, area:core-operators

#21337 Fix the hyperlink between anchors in the contribution guideline
  CONTRIBUTING.rst
Labels: area:dev-tools, okay to merge

#21344 Add how-to Guide for WinRM operators
  airflow/providers/microsoft/winrm/example_dags/example_winrm.py
  airflow/providers/microsoft/winrm/provider.yaml
  docs/apache-airflow-providers-microsoft-winrm/index.rst
  docs/apache-airflow-providers-microsoft-winrm/operators.rst
Labels: area:providers, kind:documentation, okay to merge

#21347 Fix md formatting of UPDATING.md
  UPDATING.md
Labels: okay to merge

#21011 Fix the incorrect scheduling time for the first run of dag
  airflow/timetables/interval.py
  tests/timetables/test_interval_timetable.py
Labels: full tests needed

#21277 Fix safe type cast error in aws mysql_to_s3
  airflow/providers/amazon/aws/transfers/sql_to_s3.py
Labels: provider:AWS, area:providers

#21255 Clarify ElasticsearchTaskHandler docstring
  airflow/providers/elasticsearch/log/es_task_handler.py
Labels: area:providers, area:logging, okay to merge

#19508 :bug: (BigQueryHook) fix compatibility with sqlalchemy engine
  airflow/providers/google/cloud/hooks/bigquery.py
  setup.py
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:Google, area:providers, full tests needed, okay to merge

#21319 Support to upload file to Google Shared Drive
  airflow/providers/google/suite/hooks/drive.py
  tests/providers/google/suite/hooks/test_drive.py
Labels: provider:Google, area:providers, okay to merge

#21192 Update `ExternalTaskSensorLink` to handle templated `external_dag_id`
  airflow/sensors/external_task.py
  tests/sensors/test_external_task_sensor.py
Labels: full tests needed, area:core-operators

#21353 Bug fix in AWS glue operator related to num_of_dpus #19787
  airflow/providers/amazon/aws/operators/glue.py
Labels: provider:AWS, area:providers, okay to merge

#21261 Emit "logs not found" message when ES logs appear to be missing
  airflow/providers/elasticsearch/log/es_task_handler.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:providers, area:logging, okay to merge

#21340 Update information about rebasing after enabling rebase in GitHub
  CONTRIBUTING.rst
  images/rebase.png
Labels: area:dev-tools, okay to merge

#21335 Filter celery stuck task query to exclude completed tasks
  airflow/executors/celery_executor.py
  tests/executors/test_celery_executor.py
Labels: area:scheduler/executor, full tests needed

#21394 Fix docs link for smart sensor deprecation
  UPDATING.md
Labels: changelog:skip, okay to merge

#21372 Update example DAGs
  airflow/example_dags/example_passing_params_via_test_command.py
  airflow/example_dags/tutorial.py
  docs/apache-airflow/tutorial.rst
  tests/cli/commands/test_task_command.py
Labels: kind:documentation, changelog:skip, full tests needed

#21362 Avoid deadlock when rescheduling task
  airflow/models/taskinstance.py
Labels: full tests needed

#19084 [Oracle] Oracle Hook - automatically set current_schema when defined in Connection
  airflow/providers/oracle/hooks/oracle.py
  tests/providers/oracle/hooks/test_oracle.py
Labels: area:providers, okay to merge

#21293 Fix BigQueryDataTransferServiceHook.get_transfer_run() request parameter
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  tests/providers/google/cloud/hooks/test_bigquery_dts.py
Labels: provider:Google, area:providers, okay to merge

#21403 Add conditional `template_fields_renderers` check for new SQL lexers
  airflow/providers/amazon/aws/operators/redshift_sql.py
  airflow/providers/apache/hive/transfers/hive_to_mysql.py
  airflow/providers/apache/hive/transfers/mssql_to_hive.py
  airflow/providers/microsoft/mssql/operators/mssql.py
  airflow/providers/mysql/operators/mysql.py
  airflow/providers/mysql/transfers/presto_to_mysql.py
  airflow/providers/mysql/transfers/trino_to_mysql.py
  airflow/providers/mysql/transfers/vertica_to_mysql.py
  airflow/providers/postgres/operators/postgres.py
Labels: provider:AWS, area:providers, provider:Apache

#21393 Add how-to guide for WebHDFS operators
  airflow/providers/apache/hdfs/provider.yaml
  docs/apache-airflow-providers-apache-hdfs/index.rst
  docs/apache-airflow-providers-apache-hdfs/operators/hdfs.rst
  docs/apache-airflow-providers-apache-hdfs/operators/index.rst
  docs/apache-airflow-providers-apache-hdfs/operators/webhdfs.rst
Labels: area:providers, provider:Apache, kind:documentation

#21253 Create CustomJob and Datasets operators for Vertex AI service
  airflow/providers/google/cloud/example_dags/example_vertex_ai.py
  airflow/providers/google/cloud/hooks/vertex_ai/__init__.py
  airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/dataset.py
  airflow/providers/google/cloud/operators/vertex_ai/__init__.py
  airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
  airflow/providers/google/cloud/operators/vertex_ai/dataset.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/index.rst
  docs/apache-airflow-providers-google/operators/cloud/vertex_ai.rst
  scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py
  setup.py
  tests/providers/google/cloud/hooks/vertex_ai/__init__.py
  tests/providers/google/cloud/hooks/vertex_ai/test_custom_job.py
  tests/providers/google/cloud/hooks/vertex_ai/test_dataset.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
  tests/providers/google/cloud/operators/test_vertex_ai_system.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Labels: provider:Google, area:providers, area:dev-tools, kind:documentation

#21429 Fix docker behaviour with byte lines returned
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, okay to merge

#21432 Add dev script to find core PRs missing categorization
  dev/airflow-github
Labels: area:dev-tools, okay to merge

#21415 Typing support for operator mapping functions
  airflow/decorators/__init__.pyi
  airflow/decorators/base.py
  airflow/decorators/task_group.py
Labels: full tests needed

#21427 eks_hook log level fatal -> FATAL
  airflow/providers/amazon/aws/hooks/eks.py
  tests/providers/amazon/aws/hooks/test_eks.py
Labels: provider:AWS, area:providers

#21182 Display better error message when importing providers has errors
  dev/import_all_classes.py
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_install_and_test_provider_packages.sh
  scripts/in_container/run_prepare_provider_documentation.sh
Labels: area:providers, area:dev-tools, kind:documentation

#21398 Add pre-commit check for docstring param types
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  airflow/jobs/backfill_job.py
  airflow/models/dag.py
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/cncf/kubernetes/backcompat/pod_runtime_info_env.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/github/hooks/github.py
  airflow/providers/github/operators/github.py
  airflow/providers/github/sensors/github.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/google/cloud/operators/vision.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/http/operators/http.py
  airflow/providers/microsoft/azure/hooks/base_azure.py
  airflow/providers/microsoft/psrp/hooks/psrp.py
  airflow/sensors/smart_sensor.py
  breeze-complete
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/pre_commit_docstring_param_type.py
Labels: provider:Google, area:providers, area:dev-tools, full tests needed

#21438 Improve speed to run `airflow` by 6x
  airflow/exceptions.py
  airflow/executors/executor_loader.py
  airflow/models/param.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/utils/cli.py
  airflow/utils/helpers.py
  airflow/utils/log/file_task_handler.py
Labels: area:logging, area:serialization, full tests needed

#21424 Add how-to guide for sqoop operator
  airflow/providers/apache/sqoop/provider.yaml
  docs/apache-airflow-providers-apache-sqoop/index.rst
  docs/apache-airflow-providers-apache-sqoop/operators.rst
Labels: area:providers, provider:Apache, kind:documentation

#21414 Some refactoring work on scheduling code
  airflow/models/dagrun.py
  airflow/ti_deps/dep_context.py
  airflow/ti_deps/deps/not_previously_skipped_dep.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/models/test_dagrun.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Labels: full tests needed

#20924 Add missing statsd metric for failing SLA Callback notification
  airflow/dag_processing/processor.py
  docs/apache-airflow/logging-monitoring/metrics.rst
  tests/dag_processing/test_processor.py
Labels: area:scheduler/executor, kind:documentation, full tests needed

#21477 Allow blank lines after docstring
  .pre-commit-config.yaml
Labels: area:dev-tools, full tests needed

#21480 Fix typing of operator attrs for mypy
  airflow/models/baseoperator.py
Labels: full tests needed

#21475 Added SNS example DAG and rst
  airflow/providers/amazon/aws/example_dags/example_sns.py
  airflow/providers/amazon/aws/operators/sns.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/sns.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#21482 Simplify fab has access lookup
  airflow/www/fab_security/sqla/models.py
Labels: area:webserver, area:API, okay to merge

#21328 Rewrite decorated task mapping
  airflow/decorators/base.py
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  tests/dags/test_mapped_taskflow.py
  tests/decorators/test_python.py
  tests/jobs/test_backfill_job.py
  tests/serialization/test_dag_serialization.py
Labels: area:scheduler/executor, area:CLI, area:serialization, full tests needed, area:kubernetes

#21181 Move Zombie detection to SchedulerJob
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/dag_processing/manager.py
  airflow/jobs/scheduler_job.py
  airflow/models/dagbag.py
  tests/dag_processing/test_manager.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed, AIP-43

#21489 Fix broken tests after URL restructure PR
  airflow/utils/helpers.py
  tests/utils/test_helpers.py
Labels: full tests needed

#21481 Log memory usage in CgroupTaskRunner
  airflow/task/task_runner/cgroup_task_runner.py
Labels: area:scheduler/executor, full tests needed

#21442 Fix Resources __eq__ check
  airflow/utils/operator_resources.py
  tests/utils/test_operator_resources.py
Labels: full tests needed

#21490 Update link in Postgres connection doc
  docs/apache-airflow-providers-postgres/connections/postgres.rst
Labels: area:providers, kind:documentation

#21411 Update Zendesk example DAG to use TaskFlow API
  airflow/providers/zendesk/example_dags/example_zendesk_custom_get.py
Labels: area:providers, okay to merge

#21346 Update docs/readme.rst
  docs/README.rst
  docs/start_doc_server.sh
Labels: kind:documentation, okay to merge

#21222 Helm: Fix elasticsearch URL in secret when username/password fields are empty,
  chart/templates/secrets/elasticsearch-secret.yaml
  chart/tests/test_elasticsearch_secret.py
Labels: area:helm-chart, okay to merge

#21483 Fix bug incorrectly removing action from role, rather than permission.
  airflow/www/fab_security/manager.py
  airflow/www/views.py
Labels: area:webserver, okay to merge

#21385 Enable asynchronous job submission in BigQuery Insert Job
  airflow/providers/google/cloud/hooks/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:Google, area:providers, okay to merge

#21504 Set larger limit get_partitions_by_filter in HiveMetastoreHook
  airflow/providers/apache/hive/hooks/hive.py
  tests/providers/apache/hive/hooks/test_hive.py
Labels: area:providers, provider:Apache, okay to merge

#21507 Support config worker_enable_remote_control for celery
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/config_templates/default_celery.py
  docs/spelling_wordlist.txt
Labels: full tests needed

#21416 [doc] Fix copy path in S3 to redshift
  docs/apache-airflow-providers-amazon/operators/s3_to_redshift.rst
Labels: provider:AWS, area:providers, kind:documentation

#21422 [doc] Improve s3 operator example by adding task upload_keys
  airflow/providers/amazon/aws/example_dags/example_s3_bucket.py
Labels: provider:AWS, area:providers

#21251 Google Cloud Composer opearators - with the deferrable option
  airflow/providers/google/cloud/example_dags/example_cloud_composer.py
  airflow/providers/google/cloud/hooks/cloud_composer.py
  airflow/providers/google/cloud/operators/cloud_composer.py
  airflow/providers/google/cloud/triggers/__init__.py
  airflow/providers/google/cloud/triggers/cloud_composer.py
  airflow/providers/google/common/consts.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/cloud_composer.rst
  setup.py
  tests/providers/google/cloud/hooks/test_cloud_composer.py
  tests/providers/google/cloud/operators/test_cloud_composer.py
  tests/providers/google/cloud/operators/test_cloud_composer_system.py
  tests/providers/google/cloud/utils/gcp_authenticator.py
Labels: provider:Google, area:providers, kind:documentation, full tests needed

#21511 Support mssql in airflow db shell
  airflow/cli/commands/db_command.py
Labels: area:CLI, okay to merge

#21444 Fix checking providers against a baseline
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools, okay to merge

#21519 Only adds MySQL apt sources once
  scripts/docker/install_mysql.sh
Labels: area:dev-tools, full tests needed

#21525 Fix key typo in `template_fields_renderers` for `HiveOperator`
  airflow/providers/apache/hive/operators/hive.py
Labels: area:providers, provider:Apache, okay to merge

#21524 [Oracle] Oracle Improved backwards compatibility of change PR #19084
  airflow/providers/oracle/hooks/oracle.py
  tests/providers/oracle/hooks/test_oracle.py
Labels: area:providers, okay to merge

#21526 Fix all High Severity npm vulnerabilities
  airflow/www/jest-setup.js
  airflow/www/package.json
  airflow/www/static/js/tree/useTreeData.test.js
  airflow/www/yarn.lock
Labels: area:webserver, okay to merge, area:UI

#21516 Don't track changes to task_log_prefix_template
  UPDATING.md
  airflow/migrations/versions/f9da662e7089_add_task_log_filename_template_model.py
  airflow/models/dagrun.py
  airflow/models/tasklog.py
  airflow/utils/db.py
  airflow/utils/log/task_handler_with_custom_formatter.py
  tests/utils/test_task_handler_with_custom_formatter.py
  tests/www/views/test_views_log.py
Labels: area:logging, full tests needed

#21529 add how-to guide for livy operator
  airflow/providers/apache/livy/example_dags/example_livy.py
  airflow/providers/apache/livy/provider.yaml
  docs/apache-airflow-providers-apache-livy/index.rst
  docs/apache-airflow-providers-apache-livy/operators.rst
Labels: area:providers, provider:Apache, kind:documentation

#21484 Fix annotations not getting added to cleanup pods
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/tests/test_airflow_common.py
  chart/tests/test_annotations.py
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#21289 Use compat data interval shim in log handlers
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/utils/log/file_task_handler.py
Labels: area:providers, area:logging, full tests needed

#21536 fixup! Prepare to switch to debian bullseye (#21522)
  scripts/docker/install_mysql.sh
Labels: area:dev-tools

#20733 Add Audit Log View to Dag View
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dag_audit_log.html
  airflow/www/views.py
  tests/www/views/test_views_home.py
Labels: area:webserver, full tests needed, area:UI

#21530 Added template_ext = ('.json') to databricks operators #18925
  airflow/providers/databricks/operators/databricks.py
Labels: area:providers

#21520 Add mssql-cli to devel extra in Airflow
  Dockerfile.ci
  scripts/docker/install_pipx_tools.sh
Labels: full tests needed

#20386 Add support for BeamGoPipelineOperator
  airflow/providers/apache/beam/example_dags/example_beam.py
  airflow/providers/apache/beam/hooks/beam.py
  airflow/providers/apache/beam/operators/beam.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/go_module_utils.py
  airflow/utils/process_utils.py
  docs/apache-airflow-providers-apache-beam/operators.rst
  docs/spelling_wordlist.txt
  setup.py
  tests/providers/apache/beam/hooks/test_beam.py
  tests/providers/apache/beam/operators/test_beam.py
  tests/providers/apache/beam/operators/test_beam_system.py
  tests/providers/google/cloud/hooks/test_gcs.py
  tests/providers/google/test_go_module.py
  tests/utils/test_process_utils.py
Labels: provider:Google, area:providers, provider:Apache, kind:documentation, full tests needed

#21541 Add str to xcom_pull task_ids typing
  airflow/models/baseoperator.py
Labels: full tests needed

#21552 Contributors quickstart clarification
  CONTRIBUTORS_QUICK_START.rst
Labels: okay to merge

#21553 Add documentation for RC3 release of providers for Jan 2022
  airflow/providers/elasticsearch/.latest-doc-only-change.txt
  airflow/providers/elasticsearch/CHANGELOG.rst
  airflow/providers/elasticsearch/provider.yaml
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/oracle/CHANGELOG.rst
  docs/apache-airflow-providers-elasticsearch/commits.rst
  docs/apache-airflow-providers-elasticsearch/index.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-google/index.rst
  docs/apache-airflow-providers-oracle/commits.rst
Labels: provider:Google, area:providers, kind:documentation, okay to merge

#21352 Show task status only for running dags or only for the last finished dag
  airflow/www/views.py
  tests/www/views/test_views.py
Labels: area:webserver, okay to merge

#21408 Remove extra 'of'
  docs/apache-airflow/modules_management.rst
Labels: kind:documentation, changelog:skip, okay to merge

#20860 Branch python operator decorator
  airflow/decorators/__init__.py
  airflow/decorators/__init__.pyi
  airflow/decorators/branch_python.py
  airflow/example_dags/example_branch_operator_decorator.py
  airflow/example_dags/example_kubernetes_executor.py
  tests/decorators/test_branch_python.py
Labels: full tests needed

#21564 Add statistic calculation for Provider's testing.
  dev/stats/calculate_statistics_provider_testing_issues.py
Labels: area:dev-tools, okay to merge

#21356 Standardize approach to dependencies
  README.md
  setup.cfg
  setup.py
Labels: full tests needed

#21565 Dispose not used connection pool
  airflow/cli/commands/task_command.py
  airflow/settings.py
Labels: area:CLI, full tests needed

#21572 Remove unnecessary/stale comments
  airflow/providers/apache/hive/example_dags/example_twitter_README.md
  airflow/providers/apache/hive/example_dags/example_twitter_dag.py
  airflow/providers/microsoft/winrm/example_dags/example_winrm.py
Labels: area:providers, provider:Apache, okay to merge

#21574 ECSOperator: Get log events after sleep to get all logs
  airflow/providers/amazon/aws/operators/ecs.py
Labels: provider:AWS, area:providers

#21332 Add option to compress dag data
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/migrations/versions/a3bcd0914482_add_data_compressed_to_serialized_dag.py
  airflow/models/serialized_dag.py
  airflow/settings.py
  docs/apache-airflow/dag-serialization.rst
  docs/apache-airflow/migrations-ref.rst
  tests/models/test_serialized_dag.py
Labels: area:serialization, kind:documentation, full tests needed

#21571 Fix mypy issues in `example_twitter_dag`
  airflow/providers/apache/hive/example_dags/example_twitter_dag.py
Labels: area:providers, provider:Apache, okay to merge

#21162 Change logging level details of connection info in `get_connection()`
  airflow/hooks/base.py
  tests/providers/cncf/kubernetes/sensors/test_spark_kubernetes.py
Labels: full tests needed, area:core-operators

#21307 Fixed PostgresToGCSOperator fail on empty resultset for use_server_side_cursor=True
  airflow/providers/google/cloud/transfers/postgres_to_gcs.py
Labels: provider:Google, area:providers

#21495 Change default log filename template to include map_index
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/models/baseoperator.py
  airflow/models/mappedoperator.py
  airflow/models/sensorinstance.py
  airflow/models/taskinstance.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/sensors/smart_sensor.py
  airflow/utils/db.py
  airflow/utils/log/logging_mixin.py
  docs/apache-airflow/logging-monitoring/logging-tasks.rst
  tests/cli/commands/test_task_command.py
  tests/task/task_runner/test_task_runner.py
  tests/www/views/test_views_log.py
Labels: full tests needed, AIP-42

#21316 Fix race condition between triggerer and scheduler
  airflow/executors/base_executor.py
  tests/executors/test_base_executor.py
Labels: area:scheduler/executor, full tests needed

#21476 Tree view: Highlight dag run on hover
  airflow/www/package.json
  airflow/www/static/js/tree/StatusBox.jsx
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/dagRuns/Bar.jsx
  airflow/www/static/js/tree/renderTaskRows.jsx
  airflow/www/yarn.lock
Labels: area:webserver, okay to merge, area:UI, AIP-38

#21589 Fix Mypy errors in Kylin example
  airflow/providers/apache/kylin/example_dags/example_kylin_dag.py
Labels: area:providers, provider:Apache, okay to merge

#21441 Fix EcsOperatorError, so it can be loaded from a picklefile
  airflow/providers/amazon/aws/exceptions.py
Labels: provider:AWS, area:providers

#21478 Alt: Add a session backend to store session data in the database
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/migrations/versions/5e3ec427fdd3_increase_length_of_email_and_username.py
  airflow/migrations/versions/c381b21cb7e4_add_session_table_to_db.py
  airflow/utils/db.py
  airflow/www/app.py
  airflow/www/extensions/init_session.py
  airflow/www/session.py
  docs/apache-airflow/migrations-ref.rst
  docs/spelling_wordlist.txt
  setup.cfg
  tests/api_connexion/conftest.py
  tests/api_connexion/test_security.py
  tests/test_utils/decorators.py
  tests/utils/test_db.py
  tests/www/views/conftest.py
  tests/www/views/test_session.py
Labels: area:webserver, area:API, kind:documentation, full tests needed

#21591 Simplify trigger cancel button
  airflow/www/templates/airflow/trigger.html
  tests/www/views/test_views_trigger_dag.py
Labels: area:webserver, okay to merge, area:UI

#21586 Fix postgres part of pipeline example of tutorial
  docs/apache-airflow/tutorial.rst
Labels: kind:documentation, okay to merge

#21500 S3KeySensor to use S3Hook url parser
  airflow/providers/amazon/aws/sensors/s3.py
  tests/providers/amazon/aws/sensors/test_s3_key.py
Labels: provider:AWS, area:providers

#21267 Dataproc metastore assets
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  airflow/providers/google/common/links/__init__.py
  airflow/providers/google/common/links/storage.py
  airflow/providers/google/provider.yaml
Labels: provider:Google, area:providers

#21518 Datafusion assets
  airflow/providers/google/cloud/example_dags/example_datafusion.py
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/google/provider.yaml
  tests/providers/google/cloud/operators/test_datafusion.py
Labels: provider:Google, area:providers, okay to merge

#21479 Pass Trino hook params to DbApiHook
  airflow/providers/trino/hooks/trino.py
  tests/providers/trino/hooks/test_trino.py
Labels: area:providers, okay to merge

#21343 Fix test_clear_multiple_external_task_marker timing out
  tests/sensors/test_external_task_sensor.py
Labels: area:core-operators

#21494 Updated Databricks docs for correct jobs 2.1 API and links
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  docs/apache-airflow-providers-databricks/operators.rst
Labels: area:providers, kind:documentation

#21554 Extract ClientInfo to module level
  airflow/providers/google/cloud/_internal_client/secret_manager_client.py
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  airflow/providers/google/cloud/hooks/bigtable.py
  airflow/providers/google/cloud/hooks/cloud_build.py
  airflow/providers/google/cloud/hooks/cloud_composer.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/hooks/dataproc_metastore.py
  airflow/providers/google/cloud/hooks/dlp.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/hooks/kms.py
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/hooks/natural_language.py
  airflow/providers/google/cloud/hooks/os_login.py
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/hooks/spanner.py
  airflow/providers/google/cloud/hooks/speech_to_text.py
  airflow/providers/google/cloud/hooks/tasks.py
  airflow/providers/google/cloud/hooks/text_to_speech.py
  airflow/providers/google/cloud/hooks/translate.py
  airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/dataset.py
  airflow/providers/google/cloud/hooks/video_intelligence.py
  airflow/providers/google/cloud/hooks/vision.py
  airflow/providers/google/cloud/hooks/workflows.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/google/common/consts.py
  airflow/providers/google/common/hooks/base_google.py
  tests/providers/google/cloud/_internal_client/test_secret_manager_client.py
  tests/providers/google/cloud/hooks/test_automl.py
  tests/providers/google/cloud/hooks/test_bigquery_dts.py
  tests/providers/google/cloud/hooks/test_bigtable.py
  tests/providers/google/cloud/hooks/test_cloud_build.py
  tests/providers/google/cloud/hooks/test_dataproc.py
  tests/providers/google/cloud/hooks/test_dlp.py
  tests/providers/google/cloud/hooks/test_gcs.py
  tests/providers/google/cloud/hooks/test_kms.py
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
  tests/providers/google/cloud/hooks/test_natural_language.py
  tests/providers/google/cloud/hooks/test_pubsub.py
  tests/providers/google/cloud/hooks/test_spanner.py
  tests/providers/google/cloud/hooks/test_speech_to_text.py
  tests/providers/google/cloud/hooks/test_tasks.py
  tests/providers/google/cloud/hooks/test_text_to_speech.py
  tests/providers/google/cloud/hooks/test_translate.py
  tests/providers/google/cloud/hooks/test_video_intelligence.py
  tests/providers/google/cloud/hooks/test_vision.py
  tests/providers/google/cloud/hooks/test_workflows.py
Labels: provider:Google, area:providers, area:logging, okay to merge, area:kubernetes

#21568 Add note about Variable precedence with env vars
  docs/apache-airflow/howto/variable.rst
Labels: kind:documentation

#21590 add how-to guide for hive operator
  airflow/providers/apache/hive/example_dags/example_twitter_dag.py
  airflow/providers/apache/hive/provider.yaml
  docs/apache-airflow-providers-apache-hive/index.rst
  docs/apache-airflow-providers-apache-hive/operators.rst
Labels: area:providers, provider:Apache, kind:documentation

#21550 Added retries to LivyHook #19384
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/livy/operators/livy.py
  tests/providers/apache/livy/operators/test_livy.py
Labels: area:providers, provider:Apache

#21569 Action log on Browse Views
  airflow/www/decorators.py
  airflow/www/views.py
Labels: area:webserver, okay to merge

#21549 Adds ADRs resulting from discussions during internship
  .pre-commit-config.yaml
  dev/breeze/doc/adr/0008-fixing-group-permissions-before-build.md
  dev/breeze/doc/adr/0009-exclude-all-files-from-dockerignore-by-default.md
Labels: area:dev-tools, full tests needed

#21598 Reorder migrations to include bugfix in 2.2.4
  airflow/migrations/versions/587bdf053233_adding_index_for_dag_id_in_job.py
  airflow/migrations/versions/5e3ec427fdd3_increase_length_of_email_and_username.py
  airflow/migrations/versions/e655c0453f75_add_taskmap_and_map_id_on_taskinstance.py
  docs/apache-airflow/migrations-ref.rst
Labels: kind:documentation, changelog:skip, full tests needed

#20769 [Part 2] Calendar to GCS Operator
  airflow/providers/google/cloud/example_dags/example_calendar_to_gcs.py
  airflow/providers/google/cloud/transfers/calendar_to_gcs.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/transfer/calendar_to_gcs.rst
  tests/providers/google/cloud/transfers/test_calendar_to_gcs.py
  tests/providers/google/cloud/transfers/test_calendar_to_gcs_system.py
Labels: provider:Google, area:providers, kind:documentation, okay to merge

#21538 py files doesn't have to be checked is_zipfiles in process_files
  UPDATING.md
  airflow/models/dagbag.py
Labels: full tests needed

#21621 Alembic migration filename should match revision id
  airflow/migrations/versions/08364691d074_merge_heads.py
Labels: full tests needed

#20962 Support generating SQL script for upgrades
  airflow/cli/cli_parser.py
  airflow/cli/commands/db_command.py
  airflow/migrations/versions/8646922c8a04_change_default_pool_slots_to_1.py
  airflow/models/taskinstance.py
  airflow/utils/db.py
  dev/README_RELEASE_AIRFLOW.md
  docs/apache-airflow/installation/upgrading.rst
  tests/cli/commands/test_db_command.py
  tests/utils/test_db.py
Labels: area:CLI, full tests needed

#21622 Delay creation of dag_run table object
  airflow/migrations/versions/c306b5b5ae4a_switch_xcom_table_to_use_run_id.py
Labels: full tests needed

#21501 Support different timeout value for dag file parsing
  airflow/models/dagbag.py
  airflow/settings.py
  docs/apache-airflow/faq.rst
  tests/models/test_dagbag.py
Labels: full tests needed

#21401 added envFrom statement to the flower deployment
  chart/templates/flower/flower-deployment.yaml
  chart/tests/test_extra_env_env_from.py
Labels: area:helm-chart, type:bug-fix, okay to merge

#21620 Update Test Example in CONTRIBUTORS_QUICK_START.rst
  CONTRIBUTORS_QUICK_START.rst
Labels: okay to merge

#21084 Add GCSToPrestoOperator
  CONTRIBUTING.rst
  airflow/providers/dependencies.json
  airflow/providers/presto/example_dags/__init__.py
  airflow/providers/presto/example_dags/example_gcs_to_presto.py
  airflow/providers/presto/provider.yaml
  airflow/providers/presto/transfers/__init__.py
  airflow/providers/presto/transfers/gcs_to_presto.py
  docs/apache-airflow-providers-presto/index.rst
  docs/apache-airflow-providers-presto/operators/transfer/gcs_to_presto.rst
  tests/providers/presto/transfers/__init__.py
  tests/providers/presto/transfers/test_gcs_presto.py
Labels: area:providers, okay to merge

#21636 Fix bug in Breeze2 auto-complete setup with root files modified
  dev/breeze/src/airflow_breeze/breeze.py
Labels: area:dev-tools, okay to merge

#21626 Move `confirm` script into `scripts/tools`
  .github/boring-cyborg.yml
  breeze
  dev/airflow-github
  scripts/ci/libraries/_build_images.sh
  scripts/tools/confirm
Labels: area:dev-tools, full tests needed

#21639 Dataflow Assets
  airflow/providers/apache/beam/operators/beam.py
  airflow/providers/google/cloud/links/__init__.py
  airflow/providers/google/cloud/links/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/provider.yaml
  tests/providers/apache/beam/operators/test_beam.py
Labels: provider:Google, area:providers, provider:Apache
