Repository apache/airflow, pull requests merged in 2022-05, with the labels that each got.

#23387 Update missing `version_added` in config.yml
  airflow/config_templates/config.yml
Labels: changelog:skip, full tests needed

#23385 `2.3.0` has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTORS_QUICK_START.rst
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/utils/db.py
  docs/apache-airflow/installation/supported-versions.rst
  docs/docker-stack/README.md
  docs/docker-stack/docker-examples/extending/add-apt-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-build-essential-extend/Dockerfile
  docs/docker-stack/docker-examples/extending/add-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/custom-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/embedding-dags/Dockerfile
  docs/docker-stack/docker-examples/extending/writable-directory/Dockerfile
  docs/docker-stack/entrypoint.rst
  docs/spelling_wordlist.txt
  newsfragments/16931.improvement.rst
  newsfragments/17349.feature.rst
  newsfragments/19482.improvement.rst
  newsfragments/19825.significant.rst
  newsfragments/20165.significant.rst
  newsfragments/20759.significant.rst
  newsfragments/20975.significant.rst
  newsfragments/21135.significant.rst
  newsfragments/21205.significant.rst
  newsfragments/21472.significant.rst
  newsfragments/21505.significant.rst
  newsfragments/21538.significant.rst
  newsfragments/21640.significant.rst
  newsfragments/21734.significant.rst
  newsfragments/21798.significant.rst
  newsfragments/21815.significant.2.rst
  newsfragments/21815.significant.rst
  newsfragments/21816.significant.rst
  newsfragments/22167.significant.rst
  newsfragments/22284.significant.rst
  newsfragments/22607.significant.rst
  newsfragments/23222.significant.rst
  scripts/ci/pre_commit/pre_commit_supported_versions.py
  setup.py
Labels: area:dev-tools, kind:documentation, area:production-image, full tests needed

#23386 Chart: Update default airflow version to `2.3.0`
  chart/Chart.yaml
  chart/newsfragments/22724.significant.rst
  chart/newsfragments/23386.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, okay to merge

#23384 Add missing steps to release process
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools, okay to merge

#23389 `DataprocHook`: Remove deprecated function `submit`
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/cloud/hooks/dataproc.py
  tests/providers/google/cloud/hooks/test_dataproc.py
Labels: provider:Google, area:providers, okay to merge

#23370 Fix attempting to reattach in `ECSOperator`
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:AWS, area:providers, okay to merge

#22900 add auto refresh to dags home page
  airflow/www/static/css/main.css
  airflow/www/static/js/dags.js
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
Labels: area:webserver, okay to merge, area:UI

#23388 Fix `version_added` for `[sensors] default_timeout`
  airflow/config_templates/config.yml
Labels: changelog:skip, full tests needed

#23066 Allow multiline text in private key field for Snowflake
  airflow/providers/snowflake/hooks/snowflake.py
Labels: area:providers, okay to merge, provider:Snowflake

#23398 Clarify 2.3.0 kubernetes min version is about library not cluster
  README.md
  RELEASE_NOTES.rst
Labels: okay to merge

#23397 Add better description for Breeze customization
  BREEZE.rst
Labels: area:dev-tools, okay to merge

#23399 Remove tagging of `constraint-x-y` branch from release process
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools

#23325 Ignore some files/directory when releasing source code
  .gitattributes
Labels: okay to merge

#23395 Improve handling of entry and exit to common Breeze commands
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/shell/enter_shell.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/rebuild_image_if_needed.py
Labels: area:dev-tools, okay to merge

#23359 Validate DAG owner to be a string.
  tests/cluster_policies/__init__.py
  tests/dags_corrupted/test_nonstring_owner.py
  tests/models/test_dagbag.py
Labels: full tests needed

#23390 Cleanup Google provider CHANGELOG.rst
  airflow/providers/google/CHANGELOG.rst
Labels: provider:Google, area:providers, okay to merge

#23404 Fix "breeze-legacy" after building images was removed
  breeze-legacy
Labels: okay to merge

#23410 Mark image as refreshed when pulled on CI
  dev/breeze/src/airflow_breeze/build_image/ci/build_ci_image.py
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/utils/pulll_image.py
  images/breeze/output-pull-image.svg
  images/breeze/output-pull-prod-image.svg
Labels: area:dev-tools, okay to merge

#23329 Improve react www tests
  airflow/www/static/js/tree/Tree.jsx
  airflow/www/static/js/tree/api/useTreeData.js
  airflow/www/static/js/tree/api/useTreeData.test.jsx
  airflow/www/static/js/tree/dagRuns/index.jsx
  airflow/www/static/js/tree/dagRuns/index.test.jsx
  airflow/www/static/js/tree/details/Header.jsx
  airflow/www/static/js/tree/details/content/Dag.jsx
  airflow/www/static/js/tree/details/content/dagRun/index.jsx
  airflow/www/static/js/tree/details/content/taskInstance/index.jsx
  airflow/www/static/js/tree/renderTaskRows.test.jsx
  airflow/www/static/js/tree/utils/testUtils.jsx
Labels: area:webserver, okay to merge, area:UI

#23440 Add fields to dagrun endpoint
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_run_schema.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/schemas/test_dag_run_schema.py
Labels: area:API, okay to merge

#23441 Add backward compatibility for core__sql_alchemy_conn__cmd
  airflow/configuration.py
Labels: full tests needed

#23446 Improve verbose output of Breeze
  dev/breeze/src/airflow_breeze/utils/run_utils.py
Labels: area:dev-tools, okay to merge

#23438 fix code-snippets
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
Labels: provider:Google, area:providers, okay to merge

#22712 Add support for topologySpreadConstraints to Helm Chart
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  docs/spelling_wordlist.txt
  tests/charts/test_airflow_common.py
  tests/charts/test_pod_template_file.py
  tests/charts/test_scheduler.py
  tests/charts/test_triggerer.py
  tests/charts/test_webserver.py
  tests/charts/test_worker.py
Labels: area:helm-chart, type:new-feature, full tests needed

#23433 Support annotations on volumeClaimTemplates
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_redis.py
  tests/charts/test_scheduler.py
  tests/charts/test_worker.py
Labels: area:helm-chart, type:new-feature, full tests needed

#23287 Fix `check_files.py` to work on new minor releases
  dev/check_files.py
Labels: area:dev-tools, okay to merge

#23458 Optimize 2.3.0 pre-upgrade check queries
  airflow/utils/db.py
Labels: full tests needed

#23457 Docs: Python 3.10 is now supported
  docs/apache-airflow/installation/prerequisites.rst
Labels: kind:documentation, changelog:skip, okay to merge

#23335 Unify approach for user questions asked in Breeze
  breeze
  dev/breeze/doc/adr/0012-asking-user-for-confirmation.md
  dev/breeze/src/airflow_breeze/build_image/ci/build_ci_image.py
  dev/breeze/src/airflow_breeze/commands/ci_image_tools.py
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance.py
  dev/breeze/src/airflow_breeze/commands/custom_param_types.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_tools.py
  dev/breeze/src/airflow_breeze/commands/release_management.py
  dev/breeze/src/airflow_breeze/utils/confirm.py
  dev/breeze/src/airflow_breeze/utils/md5_build_check.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/reinstall.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
Labels: area:dev-tools, okay to merge

#23106 Show warning if '/' is used in a DAG run ID
  airflow/models/dag.py
  airflow/www/views.py
Labels: area:webserver, full tests needed

#23379 Move non-opencontainer labeling of the image to breeze from Dockerfile
  Dockerfile
  dev/breeze/src/airflow_breeze/build_image/prod/build_prod_params.py
Labels: area:dev-tools, area:production-image, full tests needed

#22887 Bump pre-commit hook versions
  .pre-commit-config.yaml
  airflow/cli/commands/connection_command.py
  airflow/example_dags/example_branch_python_dop_operator_3.py
  airflow/operators/subdag.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/sensors/emr.py
  airflow/providers/apache/hive/operators/hive_stats.py
  airflow/providers/dingding/example_dags/example_dingding.py
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/influxdb/hooks/influxdb.py
  airflow/providers/microsoft/azure/operators/container_instances.py
  airflow/providers/mongo/hooks/mongo.py
  airflow/providers/neo4j/hooks/neo4j.py
  dev/assign_cherry_picked_prs_with_milestone.py
  dev/prepare_release_issue.py
  dev/provider_packages/prepare_provider_packages.py
  scripts/ci/libraries/_md5sum.sh
  tests/executors/test_kubernetes_executor.py
  tests/models/test_dagbag.py
  tests/providers/amazon/aws/hooks/test_sagemaker.py
  tests/providers/amazon/aws/sensors/test_emr_base.py
  tests/sensors/test_external_task_sensor.py
Labels: provider:Google, provider:Azure, provider:AWS, area:scheduler/executor, area:CLI, area:providers, area:dev-tools, provider:Apache, full tests needed, area:core-operators

#23464 Add Python 3.10 trove classifier
  setup.cfg
Labels: full tests needed

#23474 Remove remaining Python3.6 references
  docs/apache-airflow-providers/installing-from-pypi.rst
  docs/apache-airflow/upgrading-from-1-10/index.rst
  docs/docker-stack/build.rst
  docs/docker-stack/docker-examples/customizing/pypi-extras-and-deps.sh
  docs/docker-stack/docker-examples/customizing/pypi-selected-version.sh
Labels: kind:documentation, area:production-image

#23482 Remove color change for highly nested groups
  airflow/www/static/js/grid/TaskName.jsx
Labels: area:webserver, okay to merge, area:UI

#23488 Visually distinguish task group summaries
  airflow/www/static/js/grid/TaskName.jsx
  airflow/www/static/js/grid/renderTaskRows.jsx
Labels: area:webserver, okay to merge, area:UI

#23434 Fix literal cross product expansion
  airflow/models/mappedoperator.py
  tests/models/test_taskinstance.py
Labels: type:bug-fix, full tests needed

#23247 TextToSpeech assets & system tests migration (AIP-47)
  airflow/providers/google/cloud/operators/text_to_speech.py
  airflow/providers/google/common/links/storage.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/text_to_speech.rst
  tests/providers/google/cloud/operators/test_text_to_speech.py
  tests/providers/google/cloud/operators/test_text_to_speech_system.py
  tests/system/providers/google/text_to_speech/example_text_to_speech.py
Labels: provider:Google, area:providers, kind:documentation

#23282 CloudTasks assets & system tests migration (AIP-47)
  airflow/providers/google/cloud/hooks/tasks.py
  airflow/providers/google/cloud/links/cloud_tasks.py
  airflow/providers/google/cloud/operators/tasks.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/tasks.rst
  tests/providers/google/cloud/operators/test_tasks.py
  tests/providers/google/cloud/operators/test_tasks_system.py
  tests/system/providers/google/tasks/example_queue.py
  tests/system/providers/google/tasks/example_tasks.py
Labels: provider:Google, area:providers, kind:documentation

#23307 Adds resultBackendSecretName warning in Helm production docs
  docs/helm-chart/production-guide.rst
Labels: area:helm-chart, kind:documentation, okay to merge

#23312 Add doc and example dag for Amazon SQS Operators
  airflow/providers/amazon/aws/example_dags/example_sqs.py
  airflow/providers/amazon/aws/operators/sqs.py
  airflow/providers/amazon/aws/sensors/sqs.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/sqs.rst
  docs/apache-airflow-providers-amazon/operators/sqs_publish.rst
  docs/apache-airflow-providers-amazon/redirects.txt
  docs/spelling_wordlist.txt
Labels: provider:AWS, area:providers, kind:documentation

#23320 Add Stackdriver assets and migrate system tests to AIP-47
  airflow/providers/google/cloud/links/stackdriver.py
  airflow/providers/google/cloud/operators/stackdriver.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/stackdriver.rst
  tests/providers/google/cloud/operators/test_stackdriver.py
  tests/providers/google/cloud/operators/test_stackdriver_system.py
  tests/system/providers/google/stackdriver/example_stackdriver.py
Labels: provider:Google, area:providers, kind:documentation

#23048 Use kubernetes queue in kubernetes hybrid executors
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_kubernetes_executor.py
  tests/executors/test_celery_kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
  tests/executors/test_local_kubernetes_executor.py
Labels: area:scheduler/executor, full tests needed, area:kubernetes

#23493 Changed word 'the' instead of 'his'
  dev/breeze/doc/adr/0012-asking-user-for-confirmation.md
Labels: area:dev-tools, okay to merge

#23502 Replace `DummyOperator` with `EmptyOperator` in docs
  docs/apache-airflow/concepts/dags.rst
  docs/apache-airflow/howto/timetable.rst
  docs/apache-airflow/lineage.rst
  docs/apache-airflow/logging-monitoring/callbacks.rst
  docs/apache-airflow/timezone.rst
Labels: kind:documentation, okay to merge, area:lineage

#23487 Expand/collapse all groups
  airflow/www/static/js/grid/Grid.jsx
  airflow/www/static/js/grid/TaskName.jsx
  airflow/www/static/js/grid/ToggleGroups.jsx
  airflow/www/static/js/grid/ToggleGroups.test.jsx
  airflow/www/static/js/grid/renderTaskRows.jsx
Labels: area:webserver, okay to merge, area:UI

#23445 tests command in new breeze
  BREEZE.rst
  TESTING.rst
  dev/breeze/src/airflow_breeze/commands/testing.py
  dev/breeze/src/airflow_breeze/shell/enter_shell.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  images/breeze/output-commands.svg
  images/breeze/output-tests.svg
Labels: area:dev-tools

#23405 Add `OpsgenieDeleteAlertOperator`
  airflow/providers/opsgenie/example_dags/example_opsgenie_alert.py
  airflow/providers/opsgenie/hooks/opsgenie.py
  airflow/providers/opsgenie/operators/opsgenie.py
  docs/apache-airflow-providers-opsgenie/operators/opsgenie_alert.rst
  tests/providers/opsgenie/hooks/test_opsgenie.py
  tests/providers/opsgenie/operators/test_opsgenie.py
Labels: area:providers, kind:documentation, okay to merge

#23528 Change approach to finding bad rows to LEFT OUTER JOIN.
  airflow/utils/db.py
Labels: full tests needed

#23372 Update docs Amazon Glacier Docs
  airflow/providers/amazon/aws/example_dags/example_glacier_to_gcs.py
  docs/apache-airflow-providers-amazon/operators/glacier.rst
  docs/apache-airflow-providers-amazon/operators/transfer/glacier_to_gcs.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#23116 TrinoHook add authentication via JWT token and Impersonation
  airflow/providers/trino/hooks/trino.py
  docs/apache-airflow-providers-trino/connections.rst
  docs/apache-airflow-providers-trino/index.rst
  tests/providers/trino/hooks/test_trino.py
Labels: area:providers, kind:documentation, okay to merge

#23541 Replace `pytest.mark.xfail` in Postgres tests
  tests/providers/postgres/hooks/test_postgres.py
Labels: area:providers, okay to merge

#23552 Fix accidental including of providers in airflow package
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools, okay to merge

#23428 Update the Athena Sample DAG and Docs
  airflow/providers/amazon/aws/example_dags/example_athena.py
  airflow/providers/amazon/aws/sensors/athena.py
  docs/apache-airflow-providers-amazon/operators/athena.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#23549 Change chart annotation generator to use RELEASE_NOTES
  dev/chart/build_changelog_annotations.py
Labels: area:dev-tools, okay to merge

#23180 Fix LocalFilesystemToS3Operator and S3CreateObjectOperator to support full s3:// style keys
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/operators/s3.py
  airflow/providers/amazon/aws/sensors/s3.py
  airflow/providers/amazon/aws/transfers/local_to_s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/providers/amazon/aws/operators/test_s3_object.py
  tests/providers/amazon/aws/sensors/test_s3_key.py
  tests/providers/amazon/aws/transfers/test_local_to_s3.py
Labels: provider:AWS, area:providers, okay to merge

#23551 Add logging in to Github Registry for breeze pull
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/ci_image_tools.py
  dev/breeze/src/airflow_breeze/commands/production_image_tools.py
  dev/breeze/src/airflow_breeze/utils/pulll_image.py
  images/breeze/output-pull-image.svg
  images/breeze/output-pull-prod-image.svg
Labels: area:dev-tools, full tests needed

#23537 Add IPV6 form of the address in cassandra status check
  scripts/ci/docker-compose/integration-cassandra.yml
Labels: area:dev-tools, full tests needed

#23556 Refactor Breeze to group related methods and classes together
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/build_image/__init__.py
  dev/breeze/src/airflow_breeze/build_image/ci/__init__.py
  dev/breeze/src/airflow_breeze/build_image/ci/build_ci_image.py
  dev/breeze/src/airflow_breeze/build_image/prod/build_prod_image.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/main_command.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/configure_rich_click.py
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/shell/__init__.py
  dev/breeze/src/airflow_breeze/shell/enter_shell.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/custom_param_types.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/mark_image_as_refreshed.py
  dev/breeze/src/airflow_breeze/utils/pulll_image.py
  dev/breeze/src/airflow_breeze/utils/rebuild_image_if_needed.py
  dev/breeze/src/airflow_breeze/utils/registry.py
Labels: area:dev-tools, okay to merge

#23517 Fix _PIP_ADDITIONAL_REQUIREMENTS case for docker-compose
  docs/apache-airflow/start/docker-compose.yaml
Labels: kind:documentation, okay to merge

#23391 Add slim images to release process
  .pre-commit-config.yaml
  BREEZE.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/breeze/README.md
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/prepare_prod_docker_images.sh
  dev/retag_docker_images.py
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/build.rst
  images/breeze/output-commands.svg
  images/breeze/output-release-prod-images.svg
  setup.cfg
Labels: area:dev-tools, kind:documentation, area:production-image

#23351 Tests for provider code structure
  tests/always/test_project_structure.py
Labels: full tests needed

#23340 Fix GCSToGCSOperator ignores replace parameter when there is no wildcard
  airflow/providers/google/cloud/transfers/gcs_to_gcs.py
  tests/providers/google/cloud/transfers/test_gcs_to_gcs.py
Labels: provider:Google, area:providers

#23393 Move dag_processing.processor_timeouts to counters section from gauges
  docs/apache-airflow/logging-monitoring/metrics.rst
Labels: kind:documentation, okay to merge

#23394 Use DefaultAzureCredential instead of ManagedIdentityCredential in azure wasb hook
  airflow/providers/microsoft/azure/hooks/wasb.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
Labels: provider:Azure, area:providers, okay to merge

#23256 Amazon Sagemaker Sample DAG and docs update
  airflow/providers/amazon/aws/example_dags/example_sagemaker.py
  airflow/providers/amazon/aws/example_dags/example_sagemaker_endpoint.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/operators/sagemaker.py
  airflow/providers/amazon/aws/sensors/sagemaker.py
  docs/apache-airflow-providers-amazon/operators/sagemaker.rst
  docs/spelling_wordlist.txt
Labels: provider:AWS, area:providers, kind:documentation

#23442 Opsgenie: Fix `close_alert` to properly send `kwargs`
  airflow/providers/opsgenie/hooks/opsgenie.py
  airflow/providers/opsgenie/operators/opsgenie.py
  tests/providers/opsgenie/hooks/test_opsgenie.py
Labels: area:providers, okay to merge

#23063 Fix `PostgresToGCSOperator` does not allow nested JSON
  airflow/providers/google/cloud/transfers/mssql_to_gcs.py
  airflow/providers/google/cloud/transfers/mysql_to_gcs.py
  airflow/providers/google/cloud/transfers/oracle_to_gcs.py
  airflow/providers/google/cloud/transfers/postgres_to_gcs.py
  airflow/providers/google/cloud/transfers/presto_to_gcs.py
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  airflow/providers/google/cloud/transfers/trino_to_gcs.py
  tests/providers/google/cloud/transfers/test_postgres_to_gcs.py
  tests/providers/google/cloud/transfers/test_sql_to_gcs.py
Labels: provider:Google, area:providers, okay to merge

#23470 Fix conn close error on retrieving log events
  airflow/providers/amazon/aws/operators/ecs.py
Labels: provider:AWS, area:providers

#23577 Temporarily pin xmltodict to 0.12.0 to fix main failure
  setup.py
Labels: full tests needed

#23579 Update dags.rst
  docs/apache-airflow/concepts/dags.rst
Labels: kind:documentation, okay to merge

#23575 Fix dag-processor fetch metabase config
  airflow/cli/commands/dag_processor_command.py
  tests/cli/commands/test_dag_processor_command.py
Labels: area:CLI, okay to merge

#23570 The output of commands of Breeze are only generated when they change
  .pre-commit-config.yaml
  BREEZE.rst
  dev/breeze/README.md
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  images/breeze/output-build-docs.svg
  images/breeze/output-build-image.svg
  images/breeze/output-build-prod-image.svg
  images/breeze/output-cleanup.svg
  images/breeze/output-command-hash-export.svg
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output-config.svg
  images/breeze/output-docker-compose-tests.svg
  images/breeze/output-exec.svg
  images/breeze/output-find-newer-dependencies.svg
  images/breeze/output-fix-ownership.svg
  images/breeze/output-free-space.svg
  images/breeze/output-generate-constraints.svg
  images/breeze/output-prepare-airflow-package.svg
  images/breeze/output-prepare-provider-documentation.svg
  images/breeze/output-prepare-provider-packages.svg
  images/breeze/output-pull-image.svg
  images/breeze/output-pull-prod-image.svg
  images/breeze/output-release-prod-images.svg
  images/breeze/output-resource-check.svg
  images/breeze/output-self-upgrade.svg
  images/breeze/output-setup-autocomplete.svg
  images/breeze/output-shell.svg
  images/breeze/output-start-airflow.svg
  images/breeze/output-static-checks.svg
  images/breeze/output-stop.svg
  images/breeze/output-tests.svg
  images/breeze/output-verify-image.svg
  images/breeze/output-verify-prod-image.svg
  images/breeze/output-verify-provider-packages.svg
  images/breeze/output-version.svg
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  setup.cfg
Labels: area:dev-tools, full tests needed

#23582 Fixed option name in Breeze description
  BREEZE.rst
Labels: area:dev-tools, okay to merge

#23481 Add support for queued state in DagRun update endpoint.
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_run_schema.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Labels: area:API

#23486 Fix scheduler crash when expanding with mapped task that returned none
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: type:bug-fix

#23554 Add `device_requests` parameter to `DockerOperator`
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, okay to merge

#23143 Pools with negative open slots should not block other pools
  airflow/jobs/scheduler_job.py
  airflow/models/pool.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#23462 Fix broken dagrun links when many runs start at the same time
  airflow/www/views.py
  tests/www/views/test_views_graph_gantt.py
Labels: area:webserver, okay to merge

#23515 Add default 'aws_conn_id' to SageMaker Operators
  airflow/providers/amazon/aws/operators/sagemaker.py
  tests/providers/amazon/aws/operators/test_sagemaker_base.py
Labels: provider:AWS, area:providers

#23511 Update sample dag and doc for AWS DataSync
  airflow/providers/amazon/aws/example_dags/example_datasync.py
  airflow/providers/amazon/aws/example_dags/example_datasync_1.py
  airflow/providers/amazon/aws/operators/datasync.py
  docs/apache-airflow-providers-amazon/operators/datasync.rst
Labels: provider:AWS, area:providers, kind:documentation

#23591 Clean up in-line f-string concatenation
  airflow/providers/amazon/aws/utils/redshift.py
  airflow/providers/apache/drill/hooks/drill.py
  airflow/providers/databricks/operators/databricks_repos.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/hashicorp/_internal_client/vault_client.py
  airflow/utils/cli.py
  dev/assign_cherry_picked_prs_with_milestone.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/utils/custom_param_types.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  dev/prepare_release_issue.py
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow/security/webserver.rst
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hooks.py
  tests/cli/test_cli_parser.py
  tests/system/providers/google/bigquery/example_bigquery_tables.py
Labels: provider:Google, provider:AWS, area:CLI, area:providers, area:dev-tools, provider:Apache, kind:documentation, full tests needed

#23547 Add doc and sample dag for EC2
  airflow/providers/amazon/aws/example_dags/example_ec2.py
  airflow/providers/amazon/aws/example_dags/example_ecs.py
  airflow/providers/amazon/aws/operators/ec2.py
  airflow/providers/amazon/aws/sensors/ec2.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/ec2.rst
  docs/apache-airflow-providers-amazon/operators/ecs.rst
  docs/spelling_wordlist.txt
Labels: provider:AWS, area:providers, kind:documentation

#23548 Helm chart 1.6.0rc1
  .pre-commit-config.yaml
  chart/Chart.yaml
  chart/RELEASE_NOTES.rst
  chart/newsfragments/23386.significant.rst
Labels: area:helm-chart, okay to merge

#23562 Improve caching for multi-platform images.
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  BREEZE.rst
  CONTRIBUTING.rst
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  INSTALL
  dev/REFRESHING_CI_CACHE.md
  dev/breeze/doc/adr/0005-preventing-using-contributed-code-when-building-images.md
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/_common_build_params.py
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/platforms.py
  dev/breeze/src/airflow_breeze/utils/pulll_image.py
  dev/breeze/src/airflow_breeze/utils/registry.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  dev/breeze/tests/test_docker_command_utils.py
  dev/provider_packages/prepare_provider_packages.py
  dev/refresh_images.sh
  docs/apache-airflow/installation/installing-from-pypi.rst
  images/breeze/output-build-image.svg
  images/breeze/output-build-prod-image.svg
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output-generate-constraints.svg
  images/breeze/output-shell.svg
  images/breeze/output-start-airflow.svg
  images/breeze/output-verify-provider-packages.svg
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  scripts/ci/libraries/_initialization.sh
  scripts/docker/common.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/in_container/run_generate_constraints.sh
Labels: area:dev-tools, kind:documentation, area:production-image, full tests needed

#23090 Use inclusive words in apache airflow project
  .pre-commit-config.yaml
  airflow/sensors/base.py
  airflow/utils/orm_event_handlers.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  scripts/ci/libraries/_sanity_checks.sh
  scripts/in_container/run_system_tests.sh
  tests/conftest.py
Labels: area:dev-tools, full tests needed

#23043 Add exception to catch single line private keys
  airflow/providers/ssh/hooks/ssh.py
  tests/providers/ssh/hooks/test_ssh.py
Labels: area:providers

#23448 Add sample dag and doc for S3ListPrefixesOperator
  airflow/providers/amazon/aws/example_dags/example_s3.py
  airflow/providers/amazon/aws/operators/s3.py
  docs/apache-airflow-providers-amazon/operators/s3.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#23604 Update min requirements for rich to 12.4.1
  .pre-commit-config.yaml
  dev/breeze/README.md
  dev/breeze/setup.cfg
  setup.cfg
Labels: area:dev-tools, full tests needed

#23614 Add exportContext.offload flag to CLOUD_SQL_EXPORT_VALIDATION.
  airflow/providers/google/cloud/example_dags/example_cloud_sql.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  tests/providers/google/cloud/operators/test_cloud_sql.py
Labels: provider:Google, area:providers

#23612 Make Breeze help generation indepdent from having breeze installed
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
Labels: area:dev-tools, full tests needed

#21863 Add Quicksight create ingestion Hook and Operator
  airflow/providers/amazon/aws/example_dags/example_quicksight.py
  airflow/providers/amazon/aws/hooks/quicksight.py
  airflow/providers/amazon/aws/hooks/sts.py
  airflow/providers/amazon/aws/operators/quicksight.py
  airflow/providers/amazon/aws/sensors/quicksight.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/quicksight.rst
  docs/integration-logos/aws/AWS-STS_light-bg@4x.png
  docs/integration-logos/aws/Amazon-Quicksight_light-bg@4x.png
  docs/spelling_wordlist.txt
  tests/providers/amazon/aws/hooks/test_quicksight.py
  tests/providers/amazon/aws/hooks/test_sts.py
  tests/providers/amazon/aws/operators/test_quicksight.py
  tests/providers/amazon/aws/sensors/test_quicksight.py
Labels: provider:AWS, area:providers, okay to merge

#23490 Fixed Kubernetes Operator large xcom content Defect
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, okay to merge, area:kubernetes

#23301 Fix: Exception when parsing log #20966
  airflow/hooks/subprocess.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/hooks/test_subprocess.py
Labels: area:providers, full tests needed, area:kubernetes, area:core-operators

#23629 Make provider doc preparation a bit more fun :)
  dev/provider_packages/prepare_provider_packages.py
  scripts/in_container/run_prepare_provider_documentation.sh
Labels: area:dev-tools, full tests needed

#23521 Prevent KubernetesJobWatcher getting stuck on resource too old
  airflow/executors/kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
Labels: area:scheduler/executor, area:kubernetes

#23636 [FEATURE] update K8S-KIND to 0.13.0
  breeze-complete
  dev/breeze/src/airflow_breeze/global_constants.py
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools

#23637 [FEATURE] add k8s 1.24 support
  README.md
  breeze-complete
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/apache-airflow/installation/prerequisites.rst
  scripts/ci/libraries/_initialization.sh
Labels: area:dev-tools, kind:documentation

#23633 Fix typo issue in setup database guide.
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation

#23640 Fix assuming "Feature" answer on CI when generating docs
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools, okay to merge

#23635 Simplify flash message for _airflow_moved tables
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
Labels: area:webserver, okay to merge, area:UI

#23634 Don't run pre-migration checks for downgrade
  airflow/utils/db.py
Labels: full tests needed

#23563 Add `RedshiftDeleteClusterOperator` support
  airflow/providers/amazon/aws/example_dags/example_redshift_cluster.py
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  docs/apache-airflow-providers-amazon/operators/redshift_cluster.rst
  tests/providers/amazon/aws/operators/test_redshift_cluster.py
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#23650 Fixed test and remove pytest.mark.xfail for test_exc_tb
  tests/utils/log/test_secrets_masker.py
Labels: area:logging

#23618 Fix k8s pod.execute randomly stuck indefinitely by logs consumption (#23497)
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, okay to merge, area:kubernetes

#23648 [FEATURE] google provider - BigQueryInsertJobOperator log query
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers

#23656 Revert "Fix k8s pod.execute randomly stuck indefinitely by logs consu…
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, okay to merge, area:kubernetes

#21877 AIP-45 Remove dag parsing in airflow run local
  airflow/cli/cli_parser.py
  airflow/cli/commands/task_command.py
  airflow/dag_processing/processor.py
  airflow/executors/debug_executor.py
  airflow/jobs/backfill_job.py
  airflow/jobs/local_task_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/serialized_dag.py
  airflow/models/taskinstance.py
  airflow/task/task_runner/base_task_runner.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/utils/cli.py
  tests/cli/commands/test_task_command.py
  tests/conftest.py
  tests/dag_processing/test_processor.py
  tests/dags/test_dagrun_fast_follow.py
  tests/dags/test_mark_state.py
  tests/dags/test_mark_success.py
  tests/dags/test_on_failure_callback.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_local_task_job.py
  tests/models/test_taskinstance.py
  tests/task/task_runner/test_base_task_runner.py
  tests/task/task_runner/test_standard_task_runner.py
Labels: area:scheduler/executor, area:CLI

#23673 Synchronize support for Postgres and K8S in docs
  README.md
  docs/apache-airflow/installation/prerequisites.rst
Labels: kind:documentation, okay to merge

#23675 Replace "absolute()" with "resolve()" in pathlib objects
  airflow/providers/amazon/aws/hooks/batch_waiters.py
  dev/breeze/tests/test_cache.py
  dev/breeze/tests/test_find_airflow_directory.py
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hooks.py
  scripts/ci/pre_commit/pre_commit_flake8.py
  scripts/ci/pre_commit/pre_commit_inline_scripts_in_docker.py
  scripts/ci/pre_commit/pre_commit_insert_extras.py
  scripts/ci/pre_commit/pre_commit_migration_reference.py
  scripts/ci/pre_commit/pre_commit_mypy.py
  scripts/ci/pre_commit/pre_commit_ui_lint.py
  scripts/ci/pre_commit/pre_commit_update_breeze_config_hash.py
  scripts/ci/pre_commit/pre_commit_www_lint.py
  scripts/in_container/run_migration_reference.py
  scripts/in_container/verify_providers.py
  tests/dag_processing/test_manager.py
  tests/executors/test_kubernetes_executor.py
  tests/utils/test_db_cleanup.py
Labels: provider:AWS, area:scheduler/executor, area:providers, area:dev-tools, full tests needed

#23665 Upgrade `pip` to latest released 22.1.0 version
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/TRACKING_BACKTRACKING_ISSUES.md
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/libraries/_initialization.sh
  scripts/docker/common.sh
  scripts/docker/entrypoint_ci.sh
  scripts/docker/entrypoint_prod.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_pipx_tools.sh
Labels: area:dev-tools, kind:documentation, area:production-image, full tests needed

#23677 Shorten max pre-commit hook name length
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hooks.py
Labels: area:dev-tools, full tests needed

#22917 remove stale serialized dags
  airflow/dag_processing/manager.py
  tests/dag_processing/test_manager.py
Labels: area:scheduler/executor, area:serialization, full tests needed

#23044 Fix Graph overflow, position and padding
  airflow/www/static/css/graph.css
  airflow/www/static/js/graph.js
Labels: area:webserver, okay to merge, area:UI

#23653 Update doc and sample dag for Quicksight
  airflow/providers/amazon/aws/example_dags/example_quicksight.py
  docs/apache-airflow-providers-amazon/operators/quicksight.rst
  docs/spelling_wordlist.txt
Labels: provider:AWS, area:providers, kind:documentation

#23657 Use func.count to count rows
  airflow/models/trigger.py
  airflow/utils/db.py
Labels: full tests needed

#23620 Add git_source to DatabricksSubmitRunOperator
  airflow/providers/databricks/operators/databricks.py
  tests/providers/databricks/operators/test_databricks.py
Labels: area:providers, okay to merge

#23685 Disable Flower by default from docker-compose
  docs/apache-airflow/executor/kubernetes.rst
  docs/apache-airflow/howto/run-behind-proxy.rst
  docs/apache-airflow/logging-monitoring/check-health.rst
  docs/apache-airflow/security/flower.rst
  docs/apache-airflow/start/docker-compose.yaml
  docs/apache-airflow/start/docker.rst
Labels: area:scheduler/executor, kind:documentation, okay to merge, area:kubernetes

#23696 Fix property name in breeze Shell Params
  dev/breeze/src/airflow_breeze/params/shell_params.py
Labels: area:dev-tools

#23697 Clarify that bundle extras should not be used for PyPi installs
  docs/apache-airflow/extra-packages-ref.rst
Labels: kind:documentation, okay to merge

#23687 Add environment check and build image check for more Breeze commands
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools, okay to merge

#23710 Add slim image to docs/docker-stack/README.md
  docs/docker-stack/README.md
  scripts/ci/pre_commit/pre_commit_update_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#23709 Use profiles to disable flower in docker-compose
  docs/apache-airflow/start/docker-compose.yaml
  docs/apache-airflow/start/docker.rst
Labels: kind:documentation

#23655 Ensure execution_timeout as timedelta
  airflow/models/baseoperator.py
  tests/models/test_baseoperator.py
Labels: full tests needed

#23161 Handle invalid date parsing in webserver views.
  airflow/www/views.py
  tests/www/views/test_views.py
Labels: area:webserver, okay to merge

#23724 Add fields to CLOUD_SQL_EXPORT_VALIDATION.
  airflow/providers/google/cloud/operators/cloud_sql.py
  tests/providers/google/cloud/operators/test_cloud_sql.py
Labels: provider:Google, area:providers, okay to merge

#23730 Add doc and sample dag for GCSToS3Operator
  airflow/providers/amazon/aws/example_dags/example_gcs_to_s3.py
  airflow/providers/amazon/aws/transfers/gcs_to_s3.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/transfer/gcs_to_s3.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#23728 Fix grid details header text overlap
  airflow/www/static/js/grid/details/Header.jsx
Labels: area:webserver, okay to merge, area:UI

#23716 Add typing for airflow/configuration.py
  airflow/api/client/__init__.py
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/default_celery.py
  airflow/configuration.py
  airflow/dag_processing/manager.py
  airflow/executors/executor_loader.py
  airflow/jobs/scheduler_job.py
  airflow/models/abstractoperator.py
  airflow/models/dag.py
  airflow/models/taskinstance.py
  airflow/providers/apache/hive/operators/hive.py
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/qubole/hooks/qubole.py
  airflow/security/kerberos.py
  airflow/sensors/base.py
  airflow/settings.py
  airflow/utils/email.py
  airflow/utils/file.py
  airflow/utils/helpers.py
  airflow/utils/mixins.py
  airflow/utils/sqlalchemy.py
  tests/cli/commands/test_dag_processor_command.py
  tests/cli/commands/test_task_command.py
  tests/test_utils/system_tests_class.py
Labels: full tests needed

#23736 Remove titles from link buttons
  airflow/www/templates/airflow/dag.html
Labels: area:webserver, okay to merge, area:UI

#23737 Disable flower in chart by default
  chart/RELEASE_NOTES.rst
  chart/templates/NOTES.txt
  chart/templates/flower/flower-ingress.yaml
  chart/templates/webserver/webserver-ingress.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_airflow_common.py
  tests/charts/test_annotations.py
  tests/charts/test_basic_helm_chart.py
  tests/charts/test_extra_env_env_from.py
  tests/charts/test_flower.py
  tests/charts/test_ingress_flower.py
  tests/charts/test_ingress_web.py
  tests/charts/test_rbac.py
Labels: area:helm-chart, full tests needed

#23630 Add AWS project structure tests (re: AIP-47)
  airflow/providers/amazon/aws/sensors/s3.py
  tests/always/test_project_structure.py
Labels: provider:AWS, area:providers

#23643 Speech To Text assets & system tests migration (AIP-47)
  airflow/providers/google/cloud/operators/speech_to_text.py
  docs/apache-airflow-providers-google/operators/cloud/speech_to_text.rst
  tests/providers/google/cloud/operators/test_speech_to_text.py
  tests/providers/google/cloud/operators/test_speech_to_text_system.py
  tests/system/providers/google/speech_to_text/example_speech_to_text.py
Labels: provider:Google, area:providers, kind:documentation

#23674 Add 'reschedule' to the serialized fields for the BaseSensorOperator
  airflow/sensors/base.py
  tests/serialization/test_dag_serialization.py
  tests/ti_deps/deps/test_ready_to_reschedule_dep.py
Labels: full tests needed, area:core-operators

#23746 Updated MongoDB Providers logo
  docs/integration-logos/mongo/MongoDB.png
Labels: kind:documentation

#23759 Increase timeout for Helm Chart executor upgrade tests
  .github/workflows/ci.yml
Labels: area:dev-tools

#23768 Improve accuracy of documentation for "[core] parallelism" config setting
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
Labels: full tests needed

#23764 Change `Github` to `GitHub`
  CI.rst
  COMMITTERS.rst
  IMAGES.rst
  airflow/providers/github/example_dags/example_github.py
  airflow/providers/github/hooks/github.py
  airflow/providers/github/provider.yaml
  airflow/providers/github/sensors/github.py
  dev/assign_cherry_picked_prs_with_milestone.py
  dev/breeze/doc/adr/0002-implement-standalone-python-command.md
  dev/prepare_bulk_issues.py
  dev/prepare_release_issue.py
  dev/provider_packages/prepare_provider_packages.py
  dev/stats/calculate_statistics_provider_testing_issues.py
  docs/apache-airflow-providers-github/commits.rst
  docs/apache-airflow-providers-github/connections/github.rst
  docs/apache-airflow-providers-github/index.rst
  docs/apache-airflow-providers-github/operators/index.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/apache-airflow/security/webserver.rst
  docs/helm-chart/manage-dags-files.rst
  scripts/ci/libraries/_parallel.sh
Labels: area:providers, area:dev-tools, area:helm-chart, kind:documentation, full tests needed

#23775 Add tagging image as latest for CI image wait
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/configure_rich_click.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/image.py
Labels: area:dev-tools, full tests needed

#23771 Fix auto upstream dep when expanding non-templated field
  airflow/models/mappedoperator.py
  tests/models/test_taskinstance.py
Labels: full tests needed

#23702 clearer method name in scheduler_job.py
  airflow/jobs/scheduler_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, full tests needed

#23738 Fallback to parse dag_file when no dag in the db
  airflow/cli/commands/task_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI, okay to merge

#23790 Fix ``SqliteHook`` compatibility with SQLAlchemy engine
  airflow/providers/sqlite/hooks/sqlite.py
  tests/providers/sqlite/hooks/test_sqlite.py
Labels: area:providers, okay to merge

#23785 Fix python version used for cache preparation
  .github/workflows/ci.yml
Labels: area:dev-tools, full tests needed

#23794 filter audit log by `dttm` field in webserver
  airflow/www/views.py
Labels: area:webserver, okay to merge

#23782 Further speed up fixing ownership in CI
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/configuration_and_maintenance_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/params/_common_build_params.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/image.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  images/breeze/output-build-image.svg
  images/breeze/output-build-prod-image.svg
  images/breeze/output-commands-hash.txt
  images/breeze/output-fix-ownership.svg
  images/breeze/output-pull-image.svg
  images/breeze/output-pull-prod-image.svg
Labels: area:dev-tools, full tests needed

#23699 Modify db clean to also catch the ProgrammingError exception
  airflow/utils/db_cleanup.py
Labels: full tests needed

#23681 Update the DMS Sample DAG and Docs
  airflow/providers/amazon/aws/example_dags/example_dms.py
  airflow/providers/amazon/aws/example_dags/example_dms_full_load_task.py
  airflow/providers/amazon/aws/operators/dms.py
  docs/apache-airflow-providers-amazon/operators/dms.rst
Labels: provider:AWS, area:providers, kind:documentation, okay to merge

#23784 Support host_name on Datadog provider
  airflow/providers/datadog/hooks/datadog.py
  tests/providers/datadog/hooks/test_datadog.py
Labels: area:providers, okay to merge

#23583 Cloud SQL assets & system tests migration (AIP-47)
  airflow/providers/google/cloud/links/cloud_sql.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/cloud_sql.rst
  tests/providers/google/cloud/operators/test_cloud_sql.py
  tests/providers/google/cloud/operators/test_cloud_sql_system.py
  tests/providers/google/cloud/operators/test_cloud_sql_system_helper.py
  tests/system/providers/google/cloud_sql/example_cloud_sql.py
Labels: provider:Google, area:providers, kind:documentation, full tests needed
