Repository apache/airflow, pull requests merged in 2023-12, with the labels that each got.

#35890 Add feature to build "chicken-egg" packages from sources
  .github/actions/build-prod-images/action.yml
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  airflow/providers/amazon/provider.yaml
  airflow/providers/google/provider.yaml
  airflow/providers/microsoft/azure/provider.yaml
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/packages.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  docs/apache-airflow-providers-google/index.rst
  docs/apache-airflow-providers-microsoft-azure/index.rst
  generated/provider_dependencies.json
  images/breeze/output_release-management_generate-constraints.svg
  images/breeze/output_release-management_generate-constraints.txt
  scripts/in_container/_in_container_utils.sh
  setup.cfg
  setup.py
Labels: area:providers, area:dev-tools

#35996 Refactor `get_output_location` method in AthenaHook
  airflow/providers/amazon/aws/hooks/athena.py
Labels: provider:amazon-aws, area:providers

#36003 Switch "latest" image to point to newest supported Python version
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  docs/docker-stack/changelog.rst
Labels: area:dev-tools, kind:documentation, area:production-image

#35997 Improve typing hints for `only_client_type` decorator
  airflow/providers/amazon/aws/hooks/ec2.py
Labels: provider:amazon-aws, area:providers

#36009 Fix reraise outside of try block in `AzureSynapsePipelineRunLink.get_fields_from_url`
  airflow/providers/microsoft/azure/operators/synapse.py
  tests/providers/microsoft/azure/operators/test_synapse.py
Labels: provider:microsoft-azure, area:providers

#36004 [AIP-44] Introduce Pydantic model for LogTemplate
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/models/dagrun.py
  airflow/serialization/enums.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/tasklog.py
  airflow/serialization/serialized_objects.py
  tests/serialization/test_serialized_objects.py
Labels: area:logging, area:serialization, AIP-44

#36012 Fix CloudRunExecuteJobOperator in deferrable mode
  airflow/providers/google/cloud/operators/cloud_run.py
  airflow/providers/google/cloud/triggers/cloud_run.py
  tests/providers/google/cloud/operators/test_cloud_run.py
  tests/providers/google/cloud/triggers/test_cloud_run.py
Labels: provider:google, area:providers

#35963 Feature/trino provider timezone
  airflow/providers/trino/hooks/trino.py
  docs/apache-airflow-providers-trino/connections.rst
  tests/providers/trino/hooks/test_trino.py
Labels: area:providers, kind:documentation, provider:trino

#35403 Add multiselect to run state in grid view
  airflow/www/jest-setup.js
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/dag/nav/FilterBar.tsx
  airflow/www/static/js/dag/useFilters.test.tsx
  airflow/www/static/js/dag/useFilters.tsx
  airflow/www/views.py
  tests/www/views/test_views_grid.py
Labels: area:webserver, type:improvement, area:UI

#36013 Sort build options in breeze commands
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  images/breeze/output_ci-image_build.svg
  images/breeze/output_ci-image_build.txt
  images/breeze/output_prod-image_build.svg
  images/breeze/output_prod-image_build.txt
Labels: area:dev-tools

#36018 Add semi-automated misc classification for providers release
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
  dev/breeze/src/airflow_breeze/templates/CHANGELOG_TEMPLATE.rst.jinja2
Labels: area:dev-tools

#36020 Update branch name in release guide
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#36027 Temporary limit pipx to let our CI work
  scripts/ci/install_breeze.sh
Labels: area:dev-tools

#36026 Change Trigger UI to use HTTP POST in web ui
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  tests/www/views/test_views_trigger_dag.py
Labels: area:webserver, area:UI

#35970 New breeze command to clean up previous provider artifacts
  BREEZE.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/provider_packages/remove_old_releases.py
  images/breeze/output_release-management.svg
  images/breeze/output_release-management.txt
  images/breeze/output_release-management_clean-old-provider-artifacts.svg
  images/breeze/output_release-management_clean-old-provider-artifacts.txt
  images/breeze/output_setup_check-all-params-in-groups.svg
  images/breeze/output_setup_check-all-params-in-groups.txt
  images/breeze/output_setup_regenerate-command-images.svg
  images/breeze/output_setup_regenerate-command-images.txt
Labels: area:dev-tools

#36034 Do not catch too broad exception in `WasbHook.delete_container`
  airflow/providers/microsoft/azure/hooks/wasb.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
Labels: provider:microsoft-azure, area:providers

#36038 Mount selected sources of Airflow to image when running mypy checks
  scripts/ci/pre_commit/pre_commit_mypy.py
Labels: area:dev-tools

#36053 Fix DataprocSubmitJobOperator to retrieve failed job error message
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/triggers/dataproc.py
Labels: provider:google, area:providers

#35719 Add XCom tab to Grid
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useTaskXcom.ts
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/details/taskInstance/Nav.tsx
  airflow/www/static/js/dag/details/taskInstance/Xcom/XcomEntry.tsx
  airflow/www/static/js/dag/details/taskInstance/Xcom/index.tsx
  airflow/www/templates/airflow/dag.html
Labels: area:webserver, area:UI

#36051 Repair different run_id for OpenLineage START and FAIL events.
  airflow/providers/openlineage/plugins/adapter.py
  airflow/providers/openlineage/plugins/listener.py
  tests/providers/openlineage/plugins/test_listener.py
  tests/providers/openlineage/plugins/test_openlineage_adapter.py
Labels: area:providers, provider:openlineage

#36001 Fix a bug in get_iam_token for Redshift Serverless
  airflow/providers/amazon/aws/hooks/redshift_sql.py
  tests/providers/amazon/aws/hooks/test_redshift_sql.py
Labels: provider:amazon-aws, area:providers

#35986 Fix handling of single quotes in `RedshiftToS3Operator`
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
  tests/providers/amazon/aws/transfers/test_redshift_to_s3.py
Labels: provider:amazon-aws, area:providers

#36050 bugfix clean-logs, avoid crushed container when folder not found
  Dockerfile
  scripts/docker/clean-logs.sh
Labels: area:dev-tools, area:production-image, type:bug-fix

#36056 Update reset_user_sessions to work from either CLI or web
  airflow/auth/managers/fab/security_manager/override.py
  tests/www/views/test_views_custom_user_views.py
Labels: area:webserver, type:bug-fix

#36060 Do not skip mounting sources on tagged builds by default
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  images/breeze/output_shell.svg
  images/breeze/output_shell.txt
  images/breeze/output_start-airflow.svg
  images/breeze/output_start-airflow.txt
  images/breeze/output_testing_db-tests.txt
  images/breeze/output_testing_helm-tests.txt
  images/breeze/output_testing_integration-tests.txt
  images/breeze/output_testing_non-db-tests.txt
  images/breeze/output_testing_tests.txt
Labels: area:dev-tools

#36048 fix: KPO typing env_vars
  airflow/providers/cncf/kubernetes/backcompat/backwards_compat_converters.py
  airflow/providers/cncf/kubernetes/operators/pod.py
Labels: area:providers, provider:cncf-kubernetes

#36062 Drive-by improvements to convert_env_vars
  airflow/providers/cncf/kubernetes/backcompat/backwards_compat_converters.py
Labels: area:providers, provider:cncf-kubernetes

#35984 Fix gantt chart queued duration when queued_dttm is greater than start_date for deferred tasks.
  airflow/www/static/js/dag/details/gantt/GanttTooltip.tsx
  airflow/www/static/js/dag/details/gantt/Row.tsx
Labels: area:webserver, area:UI

#35839 Update example_ec2 to Create Instance Which Supports Hibernation (#35790)
  tests/system/providers/amazon/aws/example_ec2.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#35352 feat: add read access to pools for viewer role
  airflow/auth/managers/fab/security_manager/override.py
  tests/www/test_security.py
Labels: area:webserver

#36073 Update `boto3` and `botocore` versions notes
  airflow/providers/amazon/provider.yaml
Labels: area:providers, changelog:skip, type:misc/internal

#36035 Replace architecture diagram of Airflow with diagrams-generated one
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  docs/apache-airflow/core-concepts/overview.rst
  docs/apache-airflow/img/arch-diag-basic.png
  docs/apache-airflow/img/diagram_basic_airflow_architecture.png
  docs/apache-airflow/img/diagram_dag_processor_airflow_architecture.png
  docs/apache-airflow/security/security_model.rst
  images/breeze/output_static-checks.svg
  images/breeze/output_static-checks.txt
  images/diagrams/python_multiprocess_logo.png
  scripts/ci/pre_commit/.gitignore
  scripts/ci/pre_commit/diagram_hash.txt
  scripts/ci/pre_commit/pre_commit_generate_airflow_diagrams.py
Labels: area:dev-tools, kind:documentation

#36061 Run matrix of compatibility checks for providers
  .github/workflows/ci.yml
  airflow/providers/MANAGING_PROVIDERS_LIFECYCLE.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/custom_param_types.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  images/breeze/output_release-management_install-provider-packages.svg
  images/breeze/output_release-management_install-provider-packages.txt
  images/breeze/output_release-management_verify-provider-packages.svg
  images/breeze/output_release-management_verify-provider-packages.txt
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools

#36014 Bump up openai version to >=1.0 & use get_conn
  airflow/providers/openai/hooks/openai.py
  airflow/providers/openai/provider.yaml
  docs/apache-airflow-providers-openai/connections.rst
  generated/provider_dependencies.json
  tests/providers/openai/hooks/test_openai.py
Labels: area:providers, use public runners, provider:openai

#36091 Fix AWS system tests
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  tests/system/providers/amazon/aws/example_redshift.py
  tests/system/providers/amazon/aws/example_redshift_s3_transfers.py
  tests/system/providers/amazon/aws/example_s3_to_sql.py
  tests/system/providers/amazon/aws/example_sql_to_s3.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#35677 Fix `enable_logging=True` not working in `DockerSwarmOperator`
  airflow/providers/docker/operators/docker_swarm.py
  tests/providers/docker/operators/test_docker_swarm.py
Labels: area:providers, provider:docker

#36072 GCP Secrets Backend Impersonation
  airflow/providers/google/cloud/secrets/secret_manager.py
  docs/apache-airflow-providers-google/secrets-backends/google-cloud-secret-manager-backend.rst
Labels: provider:google, area:providers, area:secrets, kind:documentation

#36095 Bump Airflow version to 2.9.0dev0
  airflow/__init__.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/providers/MANAGING_PROVIDERS_LIFECYCLE.rst
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
  docs/docker-stack/README.md
  docs/docker-stack/docker-examples/customizing/own-requirements.sh
  docs/docker-stack/docker-examples/extending/add-airflow-configuration/Dockerfile
  docs/docker-stack/docker-examples/extending/add-apt-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-build-essential-extend/Dockerfile
  docs/docker-stack/docker-examples/extending/add-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-requirement-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/custom-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/embedding-dags/Dockerfile
  docs/docker-stack/docker-examples/extending/writable-directory/Dockerfile
  docs/docker-stack/entrypoint.rst
Labels: area:providers, area:logging, area:API, kind:documentation, area:production-image

#33620 Deferrable Operators Docs Edits
  docs/apache-airflow/authoring-and-scheduling/deferring.rst
Labels: kind:documentation, type:doc-only

#36079 Fix for EksCreateClusterOperator deferrable mode
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/triggers/eks.py
Labels: provider:amazon-aws, area:providers

#36049 Add security team rotation proposal to our security team process
  CONTRIBUTING.rst
Labels: area:dev-tools

#36116 handle deprecation warning in google system test
  tests/system/providers/google/cloud/storage_transfer/example_cloud_storage_transfer_service_aws.py
Labels: provider:google, area:providers, area:system-tests

#36121 Slack: Remove parameter `token` in SlackAPIPostOperator's docstring
  airflow/providers/slack/operators/slack.py
Labels: area:providers, type:doc-only, provider:slack

#36085 Add retry mechanism and dataframe support for WeaviateIngestOperator
  airflow/providers/weaviate/hooks/weaviate.py
  airflow/providers/weaviate/operators/weaviate.py
  docs/apache-airflow-providers-weaviate/operators/weaviate.rst
  tests/providers/weaviate/hooks/test_weaviate.py
  tests/providers/weaviate/operators/test_weaviate.py
Labels: area:providers, kind:documentation, provider:weaviate

#35820 Allow storage options to be passed
  airflow/io/__init__.py
  airflow/io/path.py
  airflow/io/store/__init__.py
  airflow/io/typedef.py
  airflow/providers/amazon/aws/fs/s3.py
  airflow/providers/google/cloud/fs/gcs.py
  airflow/providers/microsoft/azure/fs/adls.py
  tests/io/test_path.py
  tests/providers/amazon/aws/fs/test_s3.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers

#36123 Fix case where `--use-constraints-version VERSION` has been broken
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
Labels: area:dev-tools

#36129 Add `scripts\in_container` folder when all other sources are removed.
  scripts/ci/docker-compose/remove-sources.yml
Labels: area:dev-tools

#36138 Remove generated provider_packages dir
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/packages.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
Labels: area:dev-tools

#36019 Create latest log dir symlink as relative link
  airflow/utils/log/file_processor_handler.py
  tests/utils/log/test_file_processor_handler.py
Labels: area:logging

#36127 Fix broken log streaming from #35677
  airflow/providers/docker/operators/docker_swarm.py
Labels: area:providers, provider:docker

#36143 Use constraints from current CI image to install providers for tests
  .github/workflows/ci.yml
Labels: area:dev-tools

#36146 Fix using latest constraints in sdist package tests
  .github/workflows/ci.yml
Labels: area:dev-tools

#36092 list pods performance optimization
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes

#36154 Fix extra "USE_AIRFLOW_VERSION" variable set in sdist package check
  .github/workflows/ci.yml
Labels: area:dev-tools

#36152 Reorganize command options in Breeze
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/common_image_options.py
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/common_package_installation_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
  dev/breeze/src/airflow_breeze/commands/main_command.py
  dev/breeze/src/airflow_breeze/commands/minor_release_command.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  dev/breeze/src/airflow_breeze/commands/release_command.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
Labels: area:dev-tools

#36155 Avoid race condition when generating constraints/installing providers
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#36135 Refactor ExternalDagLink to not create ad hoc TaskInstances
  airflow/models/renderedtifields.py
  airflow/sensors/external_task.py
  tests/sensors/test_external_task_sensor.py
Labels: type:improvement, area:core-operators

#36158 Rewrite constraints generation in Python
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  images/breeze/output_release-management_generate-constraints.svg
  scripts/in_container/_in_container_script_init.sh
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/in_container_utils.py
  scripts/in_container/install_airflow_and_providers.py
  scripts/in_container/run_generate_constraints.py
  scripts/in_container/run_generate_constraints.sh
  scripts/in_container/run_system_tests.sh
Labels: area:dev-tools

#36086 Follow BaseHook connection fields method signature in providers hooks
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/hooks/redshift_sql.py
  airflow/providers/apache/kafka/hooks/base.py
  airflow/providers/apache/spark/hooks/spark_connect.py
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/apprise/hooks/apprise.py
  airflow/providers/arangodb/hooks/arangodb.py
  airflow/providers/asana/hooks/asana.py
  airflow/providers/cloudant/hooks/cloudant.py
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cohere/hooks/cohere.py
  airflow/providers/datadog/hooks/datadog.py
  airflow/providers/dbt/cloud/hooks/dbt.py
  airflow/providers/docker/hooks/docker.py
  airflow/providers/github/hooks/github.py
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/common/hooks/base_google.py
  airflow/providers/grpc/hooks/grpc.py
  airflow/providers/hashicorp/hooks/vault.py
  airflow/providers/jdbc/hooks/jdbc.py
  airflow/providers/jenkins/hooks/jenkins.py
  airflow/providers/microsoft/azure/hooks/asb.py
  airflow/providers/microsoft/azure/hooks/base_azure.py
  airflow/providers/microsoft/azure/hooks/container_registry.py
  airflow/providers/microsoft/azure/hooks/container_volume.py
  airflow/providers/microsoft/azure/hooks/cosmos.py
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/hooks/data_lake.py
  airflow/providers/microsoft/azure/hooks/fileshare.py
  airflow/providers/microsoft/azure/hooks/synapse.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/opensearch/hooks/opensearch.py
  airflow/providers/pagerduty/hooks/pagerduty.py
  airflow/providers/pagerduty/hooks/pagerduty_events.py
  airflow/providers/pinecone/hooks/pinecone.py
  airflow/providers/postgres/hooks/postgres.py
  airflow/providers/salesforce/hooks/salesforce.py
  airflow/providers/sftp/hooks/sftp.py
  airflow/providers/smtp/hooks/smtp.py
  airflow/providers/snowflake/hooks/snowflake.py
  airflow/providers/ssh/hooks/ssh.py
  airflow/providers/tabular/hooks/tabular.py
  airflow/providers/yandex/hooks/yandex.py
  tests/providers/microsoft/azure/test_utils.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers, type:misc/internal, provider:cncf-kubernetes, provider:docker, provider:hashicorp, provider:jdbc, provider:apprise, provider:arangodb, provider:asana, provider:dbt-cloud, provider:github, provider:jenkins, provider:apache-kafka, provider:apache-spark, provider:cloudant, provider:grpc, provider:cohere

#36162 Review and mark found potential SSH security issues by bandit
  .pre-commit-config.yaml
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/ssh/hooks/ssh.py
Labels: provider:google, area:providers, area:dev-tools, provider:ssh

#36163 Upgrade to latest pre-commit plugins
  .pre-commit-config.yaml
  airflow/providers/google/cloud/hooks/dataflow.py
  scripts/in_container/run_provider_yaml_files_check.py
  scripts/in_container/verify_providers.py
Labels: provider:google, area:providers, area:dev-tools, provider:ssh

#36148 Fix sftp warrning log
  airflow/providers/sftp/operators/sftp.py
Labels: area:providers, provider:sftp

#36168 Fix constraints generation when there are no differences
  .github/actions/build-ci-images/action.yml
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  scripts/in_container/in_container_utils.py
  scripts/in_container/run_generate_constraints.py
Labels: area:dev-tools

#36169 Pin markdownlint-cli to latest version and fix problems it finds
  .pre-commit-config.yaml
  tests/system/providers/apache/hive/example_twitter_README.md
Labels: area:providers, area:dev-tools, area:system-tests, provider:apache-hive

#36133 Add overrides to template fields of Google Cloud Run Jobs Execute Operator
  airflow/providers/google/cloud/operators/cloud_run.py
  tests/providers/google/cloud/operators/test_cloud_run.py
Labels: provider:google, area:providers

#36164 SparkSubmit: Adding propertyfiles option
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/apache/spark/operators/spark_submit.py
  tests/providers/apache/spark/operators/test_spark_submit.py
Labels: area:providers, provider:apache-spark

#36170 Add jsonpath_ng.ext.parse support for SqsSensor
  airflow/providers/amazon/aws/sensors/sqs.py
  airflow/providers/amazon/aws/triggers/sqs.py
  airflow/providers/amazon/aws/utils/sqs.py
  tests/providers/amazon/aws/sensors/test_sqs.py
Labels: provider:amazon-aws, area:providers

#36176 Add --forward-credentials flag to test commmands
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  images/breeze/output_testing_db-tests.svg
  images/breeze/output_testing_db-tests.txt
  images/breeze/output_testing_integration-tests.svg
  images/breeze/output_testing_integration-tests.txt
  images/breeze/output_testing_non-db-tests.svg
  images/breeze/output_testing_non-db-tests.txt
  images/breeze/output_testing_tests.svg
  images/breeze/output_testing_tests.txt
Labels: area:dev-tools

#36175 Remove `is_authorized_cluster_activity` from auth manager
  airflow/auth/managers/base_auth_manager.py
  airflow/providers/amazon/aws/auth_manager/aws_auth_manager.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/www/auth.py
  airflow/www/views.py
  tests/auth/managers/test_base_auth_manager.py
  tests/providers/fab/auth_manager/test_fab_auth_manager.py
  tests/www/test_auth.py
Labels: provider:amazon-aws, area:webserver, area:providers

#35696 Added Datascan Profiling
  airflow/providers/google/cloud/operators/dataplex.py
  airflow/providers/google/cloud/sensors/dataplex.py
  airflow/providers/google/cloud/triggers/dataplex.py
  docs/apache-airflow-providers-google/operators/cloud/dataplex.rst
  tests/providers/google/cloud/operators/test_dataplex.py
  tests/providers/google/cloud/sensors/test_dataplex.py
  tests/system/providers/google/cloud/dataplex/example_dataplex_dp.py
Labels: provider:google, area:providers

#36160 Include removed providers when preparing packages
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/prepare_providers/provider_packages.py
  dev/breeze/src/airflow_breeze/utils/packages.py
  images/breeze/output_build-docs.svg
  images/breeze/output_build-docs.txt
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_add-back-references.txt
  images/breeze/output_release-management_clean-old-provider-artifacts.svg
  images/breeze/output_release-management_clean-old-provider-artifacts.txt
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_generate-issue-content-providers.txt
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-documentation.txt
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_prepare-provider-packages.txt
  images/breeze/output_release-management_publish-docs.svg
  images/breeze/output_release-management_publish-docs.txt
  images/breeze/output_release-management_release-prod-images.svg
  images/breeze/output_release-management_release-prod-images.txt
Labels: area:dev-tools

#36191 Avoid bumping removed min-airflow-version in prepare-provider-documentation
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
Labels: area:dev-tools

#36190 Prepare docs 1st wave of Providers December 2023 RC2
  airflow/providers/daskexecutor/CHANGELOG.rst
  airflow/providers/daskexecutor/__init__.py
  airflow/providers/databricks/CHANGELOG.rst
  airflow/providers/docker/CHANGELOG.rst
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/odbc/CHANGELOG.rst
  docs/apache-airflow-providers-daskexecutor/changelog.rst
  docs/apache-airflow-providers-daskexecutor/commits.rst
  docs/apache-airflow-providers-daskexecutor/index.rst
  docs/apache-airflow-providers-databricks/commits.rst
  docs/apache-airflow-providers-docker/commits.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-google/index.rst
  docs/apache-airflow-providers-odbc/commits.rst
Labels: provider:google, area:providers, kind:documentation, provider:databricks, provider:docker, allow suspended provider changes, provider:daskexecutor, provider:datadog, provider:odbc

#36192 Add capability of passing a bucket to `example_emr` system test
  tests/system/providers/amazon/aws/example_emr.py
  tests/system/providers/amazon/aws/utils/__init__.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#36195 Improve/simplify/remove superfluous flags in release provider process
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#36145 fix connection type webhdfs
  airflow/providers/apache/hdfs/hooks/webhdfs.py
  airflow/providers/apache/hdfs/provider.yaml
Labels: area:providers, provider:apache-hdfs

#36198 Update `retry` param typing in PubSubAsyncHook
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
Labels: provider:google, area:providers

#36200 Fix incompatibility with google-cloud-monitoring 2.18.0
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
  tests/providers/google/cloud/operators/test_stackdriver.py
Labels: provider:google, area:providers

#36151 SparkSubmit Connection Extras can be overridden
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/apache/spark/operators/spark_submit.py
  tests/providers/apache/spark/operators/test_spark_submit.py
Labels: area:providers, provider:apache-spark

#36208 Schedule plexus and apache.sqoop providers for removal
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/MANAGING_PROVIDERS_LIFECYCLE.rst
  airflow/providers/apache/sqoop/provider.yaml
  airflow/providers/plexus/provider.yaml
  dev/breeze/tests/test_packages.py
  docs/apache-airflow/extra-packages-ref.rst
  generated/provider_dependencies.json
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_generate-issue-content-providers.txt
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-documentation.txt
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_prepare-provider-packages.txt
  images/breeze/output_sbom_generate-providers-requirements.svg
  images/breeze/output_sbom_generate-providers-requirements.txt
Labels: area:providers, area:dev-tools, kind:documentation, provider:apache-sqoop, provider:plexus

#36209 Remove dependency of Connexion from auth manager interface
  airflow/auth/managers/base_auth_manager.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/www/extensions/init_views.py
Labels: area:webserver, area:providers

#36210 Add support for sharing plugins folder from host in Breeze
  dev/breeze/src/airflow_breeze/utils/visuals.py
  scripts/ci/docker-compose/local-all-sources.yml
  scripts/ci/docker-compose/local.yml
Labels: area:dev-tools

#36197 Add field for specifying other Airflow version in bug template
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools

#36217 Remove Redshift mention from the list of managed Postgres backends
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation

#36243 Change default MySQL client to MariaDB
  .github/workflows/ci.yml
  CI_DIAGRAMS.md
  Dockerfile
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands_config.py
  dev/breeze/src/airflow_breeze/commands/common_image_options.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands_config.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
  dev/breeze/src/airflow_breeze/params/common_build_params.py
  docker_tests/test_examples_of_prod_image_building.py
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/build.rst
  docs/docker-stack/changelog.rst
  docs/docker-stack/docker-examples/customizing/mysql-client.sh
  docs/docker-stack/docker-examples/extending/add-providers/Dockerfile
  images/breeze/output_ci-image_build.svg
  images/breeze/output_ci-image_build.txt
  images/breeze/output_prod-image_build.svg
  images/breeze/output_prod-image_build.txt
  scripts/docker/install_mysql.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#36251 Fix hard-coded branch name in CI workflow
  .github/workflows/ci.yml
Labels: area:dev-tools

#36253 Add version suffix if it is set during image builds
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
  dev/breeze/src/airflow_breeze/params/common_build_params.py
Labels: area:dev-tools

#36254 enable mark task as failed/success always
  airflow/www/static/js/dag/details/taskInstance/taskActions/MarkInstanceAs.tsx
Labels: area:webserver, type:bug-fix, area:UI

#36249 Update black linter example in `STATIC_CODE_CHECKS.rst`
  STATIC_CODE_CHECKS.rst
Labels: area:dev-tools

#36258 Bugfix/fix Non DB - WWW and Always tests
  tests/always/test_connection.py
  tests/www/test_auth.py
Labels: area:webserver

#36241 Cancel airbyte job when timeout exceeded to prevent inconsistency amo…
  airflow/providers/airbyte/hooks/airbyte.py
  tests/providers/airbyte/hooks/test_airbyte.py
Labels: area:providers, provider:airbyte

#36257 Check DAG read permission before accessing DAG code
  airflow/api_connexion/endpoints/dag_source_endpoint.py
  airflow/models/dagcode.py
  tests/api_connexion/endpoints/test_dag_source_endpoint.py
Labels: area:API

#36256 Replace deprecated `get_accessible_dag_ids` and use `get_readable_dags` in get_dag_warnings
  airflow/api_connexion/endpoints/dag_warning_endpoint.py
  airflow/api_connexion/security.py
Labels: area:API

#36111 Sanitize keyspace and table in the cassandra query to avoid sql injection
  airflow/providers/apache/cassandra/hooks/cassandra.py
  tests/integration/providers/apache/cassandra/hooks/test_cassandra.py
Labels: area:providers, provider:apache-cassandra

#35716 KubernetesPodTrigger: add exception stack trace in TriggerEvent
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/triggers/pod.py
  tests/providers/cncf/kubernetes/triggers/test_pod.py
  tests/providers/google/cloud/triggers/test_kubernetes_engine.py
Labels: area:providers, provider:cncf-kubernetes

#36260 Update ruff to latest version v0.1.8
  .pre-commit-config.yaml
Labels: area:dev-tools

#36261 Fix code typo Docs ObjectStorage Extrenal Integrations example
  docs/apache-airflow/core-concepts/objectstorage.rst
Labels: kind:documentation

#35200 fix(bigquery.py): pass correct project_id to triggerer
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#36182 Bugfix/logging for pausing
  airflow/www/decorators.py
  tests/www/views/test_views_paused.py
Labels: area:webserver, type:bug-fix

#36120 Update permission docs
  airflow/providers/fab/auth_manager/security_manager/override.py
  docs/apache-airflow/security/access-control.rst
Labels: kind:documentation

#36262 Add code snippet formatting in docstrings via Ruff
  airflow/io/path.py
  airflow/macros/__init__.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/taskinstance.py
  airflow/models/xcom_arg.py
  airflow/providers/amazon/aws/operators/s3.py
  airflow/providers/amazon/aws/operators/sagemaker.py
  airflow/providers/apache/cassandra/hooks/cassandra.py
  airflow/providers/apache/cassandra/sensors/record.py
  airflow/providers/apache/cassandra/sensors/table.py
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/hive/macros/hive.py
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/fab/auth_manager/security_manager/override.py
  airflow/providers/ftp/operators/ftp.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/cloud/operators/pubsub.py
  airflow/providers/google/cloud/transfers/adls_to_gcs.py
  airflow/providers/google/cloud/transfers/gcs_to_gcs.py
  airflow/providers/google/cloud/transfers/mssql_to_gcs.py
  airflow/providers/microsoft/azure/operators/adls.py
  airflow/providers/microsoft/azure/operators/container_instances.py
  airflow/providers/sftp/operators/sftp.py
  airflow/sensors/weekday.py
  airflow/utils/email.py
  airflow/utils/helpers.py
  airflow/utils/types.py
  airflow/www/extensions/init_appbuilder.py
  dev/mypy/plugin/outputs.py
  pyproject.toml
  tests/conftest.py
  tests/test_utils/providers.py
  tests/www/views/test_views_tasks.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers, provider:cncf-kubernetes, area:core-operators, provider:databricks, provider:ftp, provider:apache-hive, provider:sftp, provider:apache-cassandra

#36264 Fix few caveats in provider release process
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#36267 Fix few clarifications in provider release process
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#33174 Add `pod_template_dict` field to `KubernetesPodOperator`
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#36269 Remove daskexcutor provider from Airflow code
  .github/boring-cyborg.yml
  airflow/providers/daskexecutor/.latest-doc-only-change.txt
  airflow/providers/daskexecutor/CHANGELOG.rst
  airflow/providers/daskexecutor/__init__.py
  airflow/providers/daskexecutor/executors/__init__.py
  airflow/providers/daskexecutor/executors/dask_executor.py
  airflow/providers/daskexecutor/provider.yaml
  dev/breeze/tests/test_packages.py
  docs/apache-airflow-providers-daskexecutor/changelog.rst
  docs/apache-airflow-providers-daskexecutor/commits.rst
  docs/apache-airflow-providers-daskexecutor/configurations-ref.rst
  docs/apache-airflow-providers-daskexecutor/index.rst
  docs/apache-airflow-providers-daskexecutor/installing-providers-from-sources.rst
  docs/apache-airflow-providers-daskexecutor/security.rst
  docs/apache-airflow/core-concepts/executor/dask.rst
  docs/apache-airflow/core-concepts/executor/index.rst
  docs/integration-logos/dask/dask.png
  images/breeze/output_build-docs.svg
  images/breeze/output_build-docs.txt
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_add-back-references.txt
  images/breeze/output_release-management_publish-docs.svg
  images/breeze/output_release-management_publish-docs.txt
  scripts/ci/pre_commit/pre_commit_insert_extras.py
  tests/always/test_project_structure.py
  tests/providers/daskexecutor/__init__.py
  tests/providers/daskexecutor/test_dask_executor.py
Labels: area:providers, area:dev-tools, kind:documentation, provider:daskexecutor, provider:datadog, area:Executors-core

#34137 Add use_glob to GCSObjectExistenceSensor
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/providers/google/cloud/triggers/gcs.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  tests/providers/google/cloud/sensors/test_gcs.py
  tests/providers/google/cloud/triggers/test_gcs.py
Labels: provider:google, area:providers

#36213 Improve audit_logs.rst
  docs/apache-airflow/security/audit_logs.rst
Labels: kind:documentation

#36108 Add ability to run streaming Job for BeamRunPythonPipelineOperator in non deferrable mode
  airflow/providers/apache/beam/hooks/beam.py
  airflow/providers/apache/beam/operators/beam.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  docs/apache-airflow-providers-google/operators/cloud/dataflow.rst
  tests/providers/apache/beam/hooks/test_beam.py
  tests/providers/apache/beam/operators/test_beam.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_streaming_python.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation, provider:apache-beam

#36271 Upgrade to just released `pip` 23.3.2
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  scripts/docker/common.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#36272 Provide the consumed message to consumer.commit in AwaitMessageTrigger
  airflow/providers/apache/kafka/triggers/await_message.py
Labels: area:providers, provider:apache-kafka

#36244 Use common method of import GPG keys
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
  scripts/docker/install_mssql.sh
  scripts/docker/install_mysql.sh
  scripts/docker/install_postgres.sh
Labels: area:dev-tools, area:production-image

#36284 Remove common.io from chicken-egg providers.
  Dockerfile
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  images/breeze/output_prod-image_build.svg
  images/breeze/output_prod-image_build.txt
Labels: area:dev-tools

#36283 Remove additional generation of dependencies when building CI images
  .github/actions/build-ci-images/action.yml
  generated/provider_dependencies.json
  scripts/ci/pre_commit/pre_commit_update_providers_dependencies.py
Labels: area:dev-tools

#36280 Fix using extras when `--use-airflow-version` is used in Breeze
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  scripts/in_container/install_airflow_and_providers.py
Labels: area:dev-tools

#36288 Add steps to update constraints and adjust version for chicken-egg
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools

#36290 Move KubernetesPodTrigger hook to a cached property
  airflow/providers/cncf/kubernetes/triggers/pod.py
  airflow/providers/google/cloud/triggers/kubernetes_engine.py
  tests/providers/cncf/kubernetes/triggers/test_pod.py
  tests/providers/google/cloud/triggers/test_kubernetes_engine.py
Labels: area:providers, provider:cncf-kubernetes

#36301 Fix typo "robot.txt" to "robots.txt"
  docs/apache-airflow/security/webserver.rst
Labels: kind:documentation, type:doc-only

#36278 Increase width of execution_date input in trigger.html
  airflow/www/static/css/main.css
Labels: area:webserver, type:bug-fix, area:UI

#36289 Added functionality to automatically ingest custom airflow.cfg file upon startup
  docs/apache-airflow/howto/docker-compose/docker-compose.yaml
  docs/apache-airflow/howto/docker-compose/index.rst
Labels: kind:documentation

#36221 add param proxy user for hive
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/hive/operators/hive.py
  docs/apache-airflow-providers-apache-hive/connections/hive_cli.rst
  tests/providers/apache/hive/hooks/test_hive.py
Labels: area:providers, provider:apache-hive

#36211 Create auth manager documentation
  .pre-commit-config.yaml
  docs/apache-airflow-providers-fab/auth-manager/access-control.rst
  docs/apache-airflow-providers-fab/auth-manager/api-authentication.rst
  docs/apache-airflow-providers-fab/auth-manager/index.rst
  docs/apache-airflow-providers-fab/auth-manager/webserver-authentication.rst
  docs/apache-airflow-providers-fab/img/add-role.png
  docs/apache-airflow-providers-fab/img/diagram_fab_auth_manager_airflow_architecture.png
  docs/apache-airflow-providers-fab/img/new-role.png
  docs/apache-airflow-providers-fab/index.rst
  docs/apache-airflow/core-concepts/auth-manager.rst
  docs/apache-airflow/core-concepts/index.rst
  docs/apache-airflow/img/diagram_auth_manager_airflow_architecture.png
  docs/apache-airflow/img/diagram_basic_airflow_architecture.png
  docs/apache-airflow/img/diagram_dag_processor_airflow_architecture.png
  docs/apache-airflow/redirects.txt
  docs/apache-airflow/security/api.rst
  docs/apache-airflow/security/security_model.rst
  docs/apache-airflow/security/webserver.rst
  scripts/ci/pre_commit/diagram_hash.txt
  scripts/ci/pre_commit/pre_commit_generate_airflow_diagrams.py
Labels: area:providers, area:dev-tools, kind:documentation, AIP-56

#36122 Implement deferrable mode for BeamRunJavaPipelineOperator
  airflow/providers/apache/beam/hooks/beam.py
  airflow/providers/apache/beam/operators/beam.py
  airflow/providers/apache/beam/triggers/beam.py
  airflow/providers/google/cloud/hooks/dataflow.py
  docs/apache-airflow-providers-google/operators/cloud/dataflow.rst
  tests/providers/apache/beam/hooks/test_beam.py
  tests/providers/apache/beam/operators/test_beam.py
  tests/providers/apache/beam/triggers/test_beam.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_native_java.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation, provider:apache-beam

#36307 Less verbose information about changed provider.yaml files
  dev/breeze/src/airflow_breeze/utils/md5_build_check.py
Labels: area:dev-tools

#36309 AzureFileShareHook fix with connection type "Azure"
  airflow/providers/microsoft/azure/hooks/fileshare.py
  tests/providers/microsoft/azure/hooks/test_fileshare.py
Labels: provider:microsoft-azure, area:providers

#36299 Chart: Default airflow version to 2.8.0
  chart/Chart.yaml
  chart/newsfragments/34886.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#36273 SQLCheckOperator fails if it returns dict with any Falsy values
  airflow/providers/common/sql/operators/sql.py
  tests/providers/common/sql/operators/test_sql.py
Labels: area:providers, provider:common-sql

#36300 Update "problems with Non-DB test collection" section in TESTING.rst
  TESTING.rst
Labels: area:dev-tools

#36310 Reference fab provider documentation in Airflow documentation
  docs/apache-airflow/core-concepts/auth-manager.rst
  docs/apache-airflow/security/api.rst
  docs/apache-airflow/security/security_model.rst
  docs/apache-airflow/security/webserver.rst
Labels: AIP-56

#36305 Update statsd-mapping.yml to support Airflow 2.X pool metrics
  chart/files/statsd-mappings.yml
Labels: area:helm-chart

#36312 Add auth manager interface as public interface
  docs/apache-airflow/public-airflow-interface.rst
Labels: kind:documentation

#36324 Remove remaining Airflow 2.5 backcompat code from Amazon Provider
  airflow/providers/amazon/aws/log/s3_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
Labels: provider:amazon-aws, area:providers, area:logging

#36313 DOC multiple vault mount points
  docs/apache-airflow-providers-hashicorp/secrets-backends/hashicorp-vault.rst
Labels: area:providers, kind:documentation

#36325 Remove remaining Airflow 2.5 backcompat code from Docker Provider
  airflow/providers/docker/decorators/docker.py
Labels: area:providers, provider:docker

#36240 Kubernetes executor running slots leak fix
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_types.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes

#36322 Minor fix to DataprocCreateClusterOperator operator docs.
  airflow/providers/google/cloud/operators/dataproc.py
Labels: provider:google, area:providers

#36323 Remove notifiers compatibility note
  docs/apache-airflow-providers-amazon/notifications/index.rst
  docs/apache-airflow-providers-atlassian-jira/notifications/index.rst
  docs/apache-airflow-providers-opsgenie/notifications/index.rst
  docs/apache-airflow-providers-slack/notifications/index.rst
Labels: provider:amazon-aws, area:providers, kind:documentation, type:doc-only, provider:slack, provider:opsgenie, provider:atlassian-jira

#36333 Improve pre-commit to generate Airflow diagrams as a code
  .pre-commit-config.yaml
  .rat-excludes
  CONTRIBUTING.rst
  docs/apache-airflow-providers-fab/img/diagram_fab_auth_manager_airflow_architecture.md5sum
  docs/apache-airflow-providers-fab/img/diagram_fab_auth_manager_airflow_architecture.png
  docs/apache-airflow-providers-fab/img/diagram_fab_auth_manager_airflow_architecture.py
  docs/apache-airflow/img/diagram_auth_manager_airflow_architecture.md5sum
  docs/apache-airflow/img/diagram_auth_manager_airflow_architecture.png
  docs/apache-airflow/img/diagram_auth_manager_airflow_architecture.py
  docs/apache-airflow/img/diagram_basic_airflow_architecture.md5sum
  docs/apache-airflow/img/diagram_basic_airflow_architecture.png
  docs/apache-airflow/img/diagram_basic_airflow_architecture.py
  docs/apache-airflow/img/diagram_dag_processor_airflow_architecture.md5sum
  docs/apache-airflow/img/diagram_dag_processor_airflow_architecture.png
  docs/apache-airflow/img/diagram_dag_processor_airflow_architecture.py
  docs/apache-airflow/img/diagram_fab_auth_manager_airflow_architecture.png
  docs/diagrams/python_multiprocess_logo.png
  scripts/ci/pre_commit/pre_commit_generate_airflow_diagrams.py
Labels: area:providers, area:dev-tools, kind:documentation

#36336 Better handling build errors when building docs with --spellcheck-only
  docs/build_docs.py
  docs/exts/docs_build/docs_builder.py
Labels: kind:documentation

#36318 Fix `sentinel_kwargs` load from ENV
  airflow/providers/celery/executors/default_celery.py
  tests/providers/celery/executors/test_celery_executor.py
Labels: area:providers, provider:celery

#36248 fix typos in DatabricksSubmitRunOperator
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
  tests/providers/databricks/operators/test_databricks.py
Labels: area:providers, provider:databricks

#36331 Add docs about extending the Airflow helm chart
  docs/helm-chart/extending-the-chart.rst
  docs/helm-chart/index.rst
Labels: area:helm-chart, kind:documentation

#36303 Add skip_on_exit_code to SSHOperator
  airflow/providers/ssh/operators/ssh.py
  tests/providers/ssh/operators/test_ssh.py
Labels: area:providers, kind:documentation, provider:ssh

#36340 Update admonitions in Python operator doc to reflect sentiment
  docs/apache-airflow/howto/operator/python.rst
Labels: kind:documentation, area:core-operators

#36346 Remove rendundant and unused code in docs building/publishing
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/docs_publisher.py
  dev/breeze/src/airflow_breeze/utils/publish_docs_builder.py
  docs/exts/docs_build/docs_builder.py
Labels: area:dev-tools, kind:documentation

#36304 Add more parameter support for the copy_object function in airflow.providers.amazon.aws.hooks.s3
  airflow/providers/amazon/aws/hooks/s3.py
Labels: provider:amazon-aws, area:providers

#36337 Increase ConflictException retries to 4 total
  airflow/providers/amazon/aws/hooks/sagemaker.py
  tests/providers/amazon/aws/hooks/test_sagemaker.py
Labels: provider:amazon-aws, area:providers

#36343 fix inheritance checking of security manager in FabAuthManager
  airflow/providers/fab/auth_manager/fab_auth_manager.py
Labels: area:providers

#36000 Make "placeholder" of ODBC configurable in UI
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/common/sql/hooks/sql.pyi
  airflow/providers/odbc/hooks/odbc.py
  airflow/providers/postgres/hooks/postgres.py
  airflow/providers/presto/hooks/presto.py
  airflow/providers/sqlite/hooks/sqlite.py
  airflow/providers/trino/hooks/trino.py
  tests/providers/odbc/hooks/test_odbc.py
Labels: area:providers, provider:common-sql, provider:trino, provider:presto, provider:odbc, provider:postgres, provider:sqlite

#36156 Upgrade bitnami/postgresql subchart to 13.2.24
  chart/Chart.lock
  chart/Chart.yaml
  chart/charts/postgresql-12.10.0.tgz
  chart/charts/postgresql-13.2.24.tgz
  chart/newsfragments/34817.significant.rst
  chart/values.schema.json
  chart/values.yaml
  helm_tests/other/test_pgbouncer.py
Labels: area:helm-chart

#36332 Limit pod_name length to HOST_NAME_MAX
  airflow/providers/cncf/kubernetes/kubernetes_helper_functions.py
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/pod_generator.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/cncf/kubernetes/test_kubernetes_helper_functions.py
  tests/providers/cncf/kubernetes/test_pod_generator.py
Labels: area:providers, provider:cncf-kubernetes
