Repository apache/airflow, pull requests merged in 2023-02, with the labels that each got.

#29278 Adjust some wording in the release process
  dev/ISSUE_TEMPLATE.md.jinja2
  dev/README_RELEASE_HELM_CHART.md
Labels: area:dev-tools

#29279 Patch only single label when marking KPO checked
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_kubernetes_pod.py
Labels: area:providers, area:kubernetes

#29058 Add command to export purged records to CSV files
  airflow/cli/cli_parser.py
  airflow/cli/commands/db_command.py
  airflow/utils/db_cleanup.py
  docs/apache-airflow/howto/usage-cli.rst
  tests/cli/commands/test_db_command.py
  tests/cli/test_cli_parser.py
  tests/utils/test_db_cleanup.py
Labels: area:CLI

#29274 log the observed status in redshift sensor
  airflow/providers/amazon/aws/sensors/redshift_cluster.py
Labels: provider:AWS, area:providers

#29276 AWS system test eks and fargate profile: get subnets as external parameter
  tests/system/providers/amazon/aws/example_eks_with_fargate_in_one_step.py
  tests/system/providers/amazon/aws/example_eks_with_fargate_profile.py
Labels: area:system-tests

#29284 [FOLLOW-UP][PR-28811] Remove local_infile in mysql connection examples
  docs/apache-airflow-providers-mysql/connections/mysql.rst
Labels: area:providers, kind:documentation, provider:DBs

#29292 Fix `breeze static_checks` type arg
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
Labels: area:dev-tools

#29297 Fix webserver.service.ports formatting
  chart/templates/webserver/webserver-service.yaml
Labels: area:helm-chart

#29296 Fix airflow_dags_mount formatting
  chart/templates/_helpers.yaml
Labels: area:helm-chart

#29166 Drop Connection.schema use in DbtCloudHook
  airflow/providers/dbt/cloud/CHANGELOG.rst
  airflow/providers/dbt/cloud/hooks/dbt.py
  airflow/providers/dbt/cloud/provider.yaml
Labels: area:providers

#29214 Helm deployment fails when postgresql.nameOverride is used
  chart/templates/secrets/metadata-connection-secret.yaml
  tests/charts/test_basic_helm_chart.py
Labels: area:helm-chart

#28636 Expose updated_at filter for dag run and task instance endpoints
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_run_schema.py
  airflow/www/static/js/types/api-generated.ts
Labels: area:API

#29142 Decrypt SecureString value obtained by SsmHook
  airflow/providers/amazon/aws/hooks/ssm.py
  tests/providers/amazon/aws/hooks/test_ssm.py
Labels: provider:AWS, area:providers

#28713 Add a param for get_dags endpoint to list only unpaused dags
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_dag_endpoint.py
Labels: area:webserver, area:API, area:UI

#29144 rewrite invoke lamba operator tests
  tests/providers/amazon/aws/operators/test_lambda_function.py
Labels: provider:AWS, area:providers

#29340 Add interactive testing in Breeze option in testing docs
  TESTING.rst
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
Labels: area:dev-tools

#29342 Fixup some punctuation and grammar
  docs/apache-airflow-providers-google/operators/cloud/dataflow.rst
  docs/apache-airflow-providers-http/operators.rst
  docs/apache-airflow-providers/howto/create-update-providers.rst
  docs/apache-airflow-providers/index.rst
  docs/apache-airflow/administration-and-deployment/lineage.rst
  docs/apache-airflow/administration-and-deployment/logging-monitoring/errors.rst
  docs/apache-airflow/administration-and-deployment/scheduler.rst
  docs/apache-airflow/administration-and-deployment/security/secrets/secrets-backend/index.rst
  docs/apache-airflow/administration-and-deployment/security/webserver.rst
  docs/apache-airflow/authoring-and-scheduling/dynamic-task-mapping.rst
  docs/apache-airflow/best-practices.rst
  docs/apache-airflow/faq.rst
  docs/apache-airflow/howto/connection.rst
  docs/apache-airflow/howto/set-up-database.rst
  docs/apache-airflow/howto/upgrading-from-1-10/index.rst
  docs/apache-airflow/installation/dependencies.rst
  docs/apache-airflow/installation/index.rst
  docs/apache-airflow/installation/supported-versions.rst
  docs/apache-airflow/installation/upgrading.rst
  docs/apache-airflow/migrations-ref.rst
  docs/docker-stack/build.rst
  docs/docker-stack/changelog.rst
  docs/docker-stack/entrypoint.rst
  docs/helm-chart/production-guide.rst
  docs/helm-chart/quick-start.rst
Labels: provider:Google, area:scheduler/executor, area:providers, area:secrets, area:helm-chart, kind:documentation, area:production-image, area:lineage, provider:Protocols

#28998 Write action log to DB when DAG run is trigged via API
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Labels: area:API

#29226 Implement new filtering options in graph view
  airflow/www/static/js/callModal.js
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
Labels: area:webserver, area:UI

#29354 migrating from unittest to pytest tests cli file
  tests/cli/commands/test_pool_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI, changelog:skip, type:misc/internal

#29360 (#29353) feat: TableauOperator.template_fields = find, match_with
  airflow/providers/tableau/operators/tableau.py
Labels: area:providers

#29338 Fixed link to airflow variable in docs
  docs/apache-airflow/howto/dynamic-dag-generation.rst
Labels: kind:documentation

#29349 Add deferrable capability to existing DataprocDeleteClusterOperator
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/triggers/dataproc.py
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_deferrable.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#29341 Add clarification about AWS Connection behaviour
  docs/apache-airflow-providers-amazon/connections/aws.rst
Labels: provider:AWS, area:providers, kind:documentation

#27758 Enable trigger logging in webserver
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/cli/cli_parser.py
  airflow/cli/commands/task_command.py
  airflow/cli/commands/triggerer_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/example_dags/example_time_delta_sensor_async.py
  airflow/executors/base_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/jobs/base_job.py
  airflow/jobs/local_task_job.py
  airflow/jobs/triggerer_job.py
  airflow/models/taskinstance.py
  airflow/models/trigger.py
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/triggers/base.py
  airflow/triggers/temporal.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/trigger_handler.py
  airflow/utils/serve_logs.py
  airflow/www/static/js/components/TabWithTooltip.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/triggerer/triggerer-networkpolicy.yaml
  chart/templates/triggerer/triggerer-service.yaml
  chart/values.schema.json
  chart/values.yaml
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/charts/test_basic_helm_chart.py
  tests/charts/test_extra_env_env_from.py
  tests/charts/test_rbac.py
  tests/charts/test_triggerer.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
  tests/executors/test_local_kubernetes_executor.py
  tests/jobs/test_triggerer_job.py
  tests/jobs/test_triggerer_job_logging.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/google/cloud/log/test_gcs_task_handler.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
  tests/utils/log/test_log_reader.py
  tests/utils/test_log_handlers.py
  tests/www/views/test_views_tasks.py
Labels: area:scheduler/executor, area:CLI, area:logging, area:API, area:UI

#29367 Increase max height for grid view elements
  airflow/www/static/js/dag/details/Dag.tsx
  airflow/www/static/js/dag/details/dagRun/index.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/LogBlock.tsx
  airflow/www/static/js/dag/details/taskInstance/index.tsx
  airflow/www/static/js/dag/grid/index.tsx
  airflow/www/static/js/utils/useOffsetHeight.tsx
Labels: area:webserver, area:UI

#29359 Remove /legacy_tree endpoint
  airflow/www/views.py
Labels: area:webserver

#29381 Remove stderr redirection for get-workflow-info
  .github/actions/get-target-branch-build-scripts/action.yml
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release_dockerhub_image.yml
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/utils/github_actions.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Labels: area:dev-tools

#29386 Mark Airflow directory in container as safe for git commands
  dev/provider_packages/prepare_provider_packages.py
  scripts/in_container/run_prepare_airflow_packages.sh
Labels: area:dev-tools

#29391 Helm chart 1.8.0 has been released
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  chart/Chart.yaml
  chart/RELEASE_NOTES.rst
Labels: area:dev-tools, area:helm-chart

#29390 Fix grid logs for large logs
  airflow/www/static/js/api/useTaskLog.ts
  airflow/www/static/js/dag/details/taskInstance/Logs/index.test.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/index.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
Labels: area:webserver, area:UI

#29343 Remove executor coupling in conf validation
  airflow/configuration.py
  airflow/executors/base_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/executors/sequential_executor.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_kubernetes_executor.py
  tests/executors/test_debug_executor.py
  tests/executors/test_local_kubernetes_executor.py
  tests/executors/test_sequential_executor.py
Labels: area:scheduler/executor, area:kubernetes

#29403 Explain SSH connection private key configuration
  docs/apache-airflow-providers-ssh/connections/ssh.rst
Labels: area:providers, kind:documentation, provider:Protocols

#29395 Fix validation of date-time field in API and Parameter schemas
  airflow/example_dags/example_params_ui_tutorial.py
  airflow/models/param.py
  airflow/www/static/js/main.js
  newsfragments/29395.significant.rst
  setup.cfg
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_mapped_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/models/test_param.py
Labels: area:API

#29412 Remove ssh.rst from private-key check
  .pre-commit-config.yaml
Labels: area:dev-tools

#29421 Upgrade PIP to 23.0 version
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  scripts/docker/common.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#29116 Add colors in help outputs of Airfow CLI commands #28789
  airflow/cli/cli_parser.py
  setup.cfg
Labels: area:CLI

#29443 Use an Amazon Linux 2 image to run EMR job
  tests/system/providers/amazon/aws/example_emr.py
Labels: area:system-tests

#29309 Add `airflow db drop-archived` command
  airflow/cli/cli_parser.py
  airflow/cli/commands/db_command.py
  airflow/utils/db_cleanup.py
  docs/apache-airflow/howto/usage-cli.rst
  tests/cli/commands/test_db_command.py
  tests/utils/test_db_cleanup.py
Labels: area:CLI

#29298 Remove `notes` param from TriggerDagRunOperator docstring
  airflow/operators/trigger_dagrun.py
Labels: area:core-operators

#28926 Upgrade mypy to 0.991
  .pre-commit-config.yaml
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/decorators/base.py
  airflow/example_dags/plugins/workday.py
  airflow/executors/kubernetes_executor.py
  airflow/hooks/base.py
  airflow/listeners/listener.py
  airflow/models/baseoperator.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/functions.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/hooks/life_sciences.py
  airflow/providers/google/cloud/utils/field_validator.py
  airflow/providers/google/firebase/hooks/firestore.py
  airflow/providers/google/marketing_platform/hooks/search_ads.py
  airflow/providers/microsoft/psrp/hooks/psrp.py
  airflow/settings.py
  airflow/stats.py
  airflow/timetables/simple.py
  airflow/utils/mixins.py
  airflow/utils/session.py
  airflow/utils/state.py
  airflow/www/extensions/init_appbuilder.py
  airflow/www/fab_security/manager.py
  dev/breeze/src/airflow_breeze/utils/click_utils.py
  scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  scripts/ci/pre_commit/pre_commit_check_order_setup.py
  scripts/ci/pre_commit/pre_commit_check_system_tests_hidden_in_index.py
  scripts/ci/pre_commit/pre_commit_update_common_sql_api_stubs.py
  scripts/in_container/run_provider_yaml_files_check.py
  setup.cfg
  setup.py
  tests/listeners/dag_listener.py
  tests/listeners/full_listener.py
  tests/listeners/lifecycle_listener.py
  tests/listeners/partial_listener.py
  tests/test_utils/timetables.py
  tests/www/views/test_views_connection.py
Labels: provider:Google, area:scheduler/executor, area:webserver, area:providers, area:dev-tools, area:kubernetes, area:core-operators

#29437 Fix SQL syntax for files parameter in CopyFromExternalStageToSnowflakeOperator
  airflow/providers/snowflake/transfers/copy_into_snowflake.py
  tests/providers/snowflake/transfers/test_copy_into_snowflake.py
Labels: area:providers, provider:Snowflake

#29464 Update hashicorp-vault.rst
  docs/apache-airflow-providers-hashicorp/secrets-backends/hashicorp-vault.rst
Labels: area:providers, kind:documentation

#29470 Revert "Upgrade mypy to 0.991 (#28926)"
  .pre-commit-config.yaml
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/decorators/base.py
  airflow/example_dags/plugins/workday.py
  airflow/executors/kubernetes_executor.py
  airflow/hooks/base.py
  airflow/listeners/listener.py
  airflow/models/baseoperator.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/functions.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/hooks/life_sciences.py
  airflow/providers/google/cloud/utils/field_validator.py
  airflow/providers/google/firebase/hooks/firestore.py
  airflow/providers/google/marketing_platform/hooks/search_ads.py
  airflow/providers/microsoft/psrp/hooks/psrp.py
  airflow/settings.py
  airflow/stats.py
  airflow/timetables/simple.py
  airflow/utils/mixins.py
  airflow/utils/session.py
  airflow/utils/state.py
  airflow/www/extensions/init_appbuilder.py
  airflow/www/fab_security/manager.py
  dev/breeze/src/airflow_breeze/utils/click_utils.py
  scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  scripts/ci/pre_commit/pre_commit_check_order_setup.py
  scripts/ci/pre_commit/pre_commit_check_system_tests_hidden_in_index.py
  scripts/ci/pre_commit/pre_commit_update_common_sql_api_stubs.py
  scripts/in_container/run_provider_yaml_files_check.py
  setup.cfg
  setup.py
  tests/listeners/dag_listener.py
  tests/listeners/full_listener.py
  tests/listeners/lifecycle_listener.py
  tests/listeners/partial_listener.py
  tests/test_utils/timetables.py
  tests/www/views/test_views_connection.py
Labels: provider:Google, area:scheduler/executor, area:webserver, area:providers, area:dev-tools, area:kubernetes, area:core-operators

#29471 Make known deprecated warnings more resilient to changes
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#29472 Revert "Enable individual trigger logging (#27758)"
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/cli/cli_parser.py
  airflow/cli/commands/task_command.py
  airflow/cli/commands/triggerer_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/example_dags/example_time_delta_sensor_async.py
  airflow/executors/base_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/jobs/base_job.py
  airflow/jobs/local_task_job.py
  airflow/jobs/triggerer_job.py
  airflow/models/taskinstance.py
  airflow/models/trigger.py
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/triggers/base.py
  airflow/triggers/temporal.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/trigger_handler.py
  airflow/utils/serve_logs.py
  airflow/www/static/js/components/TabWithTooltip.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/triggerer/triggerer-networkpolicy.yaml
  chart/templates/triggerer/triggerer-service.yaml
  chart/values.schema.json
  chart/values.yaml
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/charts/test_basic_helm_chart.py
  tests/charts/test_extra_env_env_from.py
  tests/charts/test_rbac.py
  tests/charts/test_triggerer.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
  tests/executors/test_local_kubernetes_executor.py
  tests/jobs/test_triggerer_job.py
  tests/jobs/test_triggerer_job_logging.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/google/cloud/log/test_gcs_task_handler.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
  tests/utils/log/test_log_reader.py
  tests/utils/test_log_handlers.py
  tests/www/views/test_views_tasks.py
Labels: provider:Google, provider:Azure, provider:AWS, area:scheduler/executor, area:webserver, area:CLI, area:providers, area:logging, area:API, area:kubernetes, area:UI

#29475 Use non-deprecated method when unpause DAG in the UI
  airflow/www/views.py
Labels: area:webserver

#29466 Add documentation for BigQuery transfer operators
  airflow/providers/google/cloud/transfers/bigquery_to_bigquery.py
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  airflow/providers/google/cloud/transfers/bigquery_to_mssql.py
  airflow/providers/google/cloud/transfers/bigquery_to_mysql.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/gcs.rst
  docs/apache-airflow-providers-google/operators/transfer/bigquery_to_bigquery.rst
  docs/apache-airflow-providers-google/operators/transfer/bigquery_to_gcs.rst
  docs/apache-airflow-providers-google/operators/transfer/bigquery_to_mssql.rst
  docs/apache-airflow-providers-google/operators/transfer/bigquery_to_mysql.rst
  docs/apache-airflow-providers-google/operators/transfer/gcs_to_bigquery.rst
  tests/system/providers/google/cloud/bigquery/example_bigquery_to_bigquery.py
  tests/system/providers/google/cloud/bigquery/example_bigquery_to_gcs.py
  tests/system/providers/google/cloud/bigquery/example_bigquery_to_mssql.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#29376 Bugfix/26215 remove trigger UI glitches
  airflow/example_dags/example_params_ui_tutorial.py
  airflow/www/static/js/trigger.js
Labels: area:webserver, area:UI

#29465 Use newer setuptools v67.2.0
  pyproject.toml
Labels: full tests needed

#29476 Update content type validation regexp for go client
  clients/gen/go.sh
Labels: area:API

#29480 update README_RELEASE_PROVIDER_PACKAGES.md
  .github/CODEOWNERS
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools, changelog:skip, type:misc/internal

#29450 Rename `db export-cleaned` to `db export-archived`
  airflow/cli/cli_parser.py
  airflow/cli/commands/db_command.py
  airflow/utils/db_cleanup.py
  docs/apache-airflow/howto/usage-cli.rst
  tests/cli/commands/test_db_command.py
  tests/cli/test_cli_parser.py
  tests/utils/test_db_cleanup.py
Labels: area:CLI

#29482 Restore trigger logging
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/cli/cli_parser.py
  airflow/cli/commands/task_command.py
  airflow/cli/commands/triggerer_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/example_dags/example_time_delta_sensor_async.py
  airflow/executors/base_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/jobs/base_job.py
  airflow/jobs/local_task_job.py
  airflow/jobs/triggerer_job.py
  airflow/models/taskinstance.py
  airflow/models/trigger.py
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/triggers/base.py
  airflow/triggers/temporal.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/trigger_handler.py
  airflow/utils/serve_logs.py
  airflow/www/static/js/components/TabWithTooltip.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/triggerer/triggerer-networkpolicy.yaml
  chart/templates/triggerer/triggerer-service.yaml
  chart/values.schema.json
  chart/values.yaml
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
  tests/api_connexion/endpoints/test_log_endpoint.py
  tests/charts/test_basic_helm_chart.py
  tests/charts/test_extra_env_env_from.py
  tests/charts/test_rbac.py
  tests/charts/test_triggerer.py
  tests/cli/commands/test_triggerer_command.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_kubernetes_executor.py
  tests/executors/test_kubernetes_executor.py
  tests/executors/test_local_kubernetes_executor.py
  tests/jobs/test_triggerer_job.py
  tests/jobs/test_triggerer_job_logging.py
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/google/cloud/log/test_gcs_task_handler.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
  tests/utils/log/test_log_reader.py
  tests/utils/test_log_handlers.py
  tests/www/views/test_views_tasks.py
Labels: provider:Google, provider:Azure, provider:AWS, area:scheduler/executor, area:webserver, area:CLI, area:providers, area:logging, area:API, area:kubernetes, area:UI

#29392 Add log groomer sidecar to triggerer service
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  scripts/ci/pre_commit/pre_commit_vendor_k8s_json_schema.py
  tests/charts/log_groomer.py
  tests/charts/test_scheduler.py
  tests/charts/test_triggerer.py
  tests/charts/test_worker.py
Labels: area:helm-chart

#29489 Fix failing multiple-output-inference tests for Python 3.8+
  tests/decorators/test_python.py
Labels: full tests needed

#29487 Standardize the `pre-commit` config
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
Labels: area:dev-tools

#28558 Make the policy functions pluggable
  airflow/policies.py
  airflow/settings.py
  docs/apache-airflow/administration-and-deployment/cluster-policies.rst
  docs/conf.py
  tests/core/test_policies.py
Labels: kind:documentation

#29373 migrated callback tests to pytest
  tests/callbacks/test_callback_requests.py
Labels: changelog:skip, type:misc/internal

#29493 Require explicit flag to remove MyPy cache when running breeze stop
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_stop.svg
  scripts/ci/pre_commit/pre_commit_mypy.py
Labels: area:dev-tools

#29485 Add arg --yes to `db export-archived` command.
  airflow/cli/cli_parser.py
  airflow/cli/commands/db_command.py
  airflow/utils/db_cleanup.py
  tests/cli/commands/test_db_command.py
Labels: area:CLI

#29375 migrated some part of test always to pytest
  tests/always/test_connection.py
  tests/always/test_project_structure.py
Labels: changelog:skip, type:misc/internal

#29491 Bump stale bot version
  .github/workflows/stale.yml
Labels: area:dev-tools, changelog:skip, type:misc/internal

#29295 Bugfix/global volumes in pod template file
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  tests/charts/test_pod_template_file.py
Labels: area:helm-chart

#29501 Do not show version/node in UI traceback for unauthenticated user
  airflow/www/views.py
Labels: area:webserver

#29468 Upgrade Mypy to 1.0
  .pre-commit-config.yaml
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/decorators/base.py
  airflow/executors/kubernetes_executor.py
  airflow/hooks/base.py
  airflow/listeners/listener.py
  airflow/models/baseoperator.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/functions.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/hooks/life_sciences.py
  airflow/providers/google/cloud/utils/field_validator.py
  airflow/providers/google/firebase/hooks/firestore.py
  airflow/providers/google/marketing_platform/hooks/search_ads.py
  airflow/providers/microsoft/psrp/hooks/psrp.py
  airflow/serialization/serializers/bignum.py
  airflow/settings.py
  airflow/stats.py
  airflow/timetables/base.py
  airflow/utils/mixins.py
  airflow/utils/session.py
  airflow/utils/yaml.py
  airflow/www/extensions/init_appbuilder.py
  airflow/www/fab_security/manager.py
  dev/breeze/src/airflow_breeze/utils/click_utils.py
  scripts/ci/pre_commit/pre_commit_check_order_dockerfile_extras.py
  scripts/ci/pre_commit/pre_commit_check_order_setup.py
  scripts/ci/pre_commit/pre_commit_check_system_tests_hidden_in_index.py
  scripts/ci/pre_commit/pre_commit_update_common_sql_api_stubs.py
  scripts/in_container/run_provider_yaml_files_check.py
  setup.cfg
  setup.py
  tests/listeners/dag_listener.py
  tests/listeners/full_listener.py
  tests/listeners/lifecycle_listener.py
  tests/listeners/partial_listener.py
  tests/test_utils/timetables.py
  tests/www/views/test_views_connection.py
Labels: provider:Google, area:providers, area:dev-tools, area:serialization

#29506 Make permissions for FileTaskHandler group-writeable and configurable
  Dockerfile.ci
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/utils/log/file_task_handler.py
  newsfragments/29506.significant.rst
Labels: area:dev-tools, area:logging

#29407 Ensure Serialized DAG is deleted
  airflow/models/serialized_dag.py
  tests/models/test_serialized_dag.py
Labels: area:scheduler/executor

#29449 Breeze StatsD Integration
  .pre-commit-config.yaml
  BREEZE.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_build-docs.svg
  images/breeze/output_ci-image_build.svg
  images/breeze/output_ci-image_verify.svg
  images/breeze/output_ci.svg
  images/breeze/output_ci_find-newer-dependencies.svg
  images/breeze/output_ci_fix-ownership.svg
  images/breeze/output_ci_free-space.svg
  images/breeze/output_ci_get-workflow-info.svg
  images/breeze/output_ci_resource-check.svg
  images/breeze/output_ci_selective-check.svg
  images/breeze/output_cleanup.svg
  images/breeze/output_compile-www-assets.svg
  images/breeze/output_exec.svg
  images/breeze/output_k8s.svg
  images/breeze/output_k8s_build-k8s-image.svg
  images/breeze/output_k8s_configure-cluster.svg
  images/breeze/output_k8s_create-cluster.svg
  images/breeze/output_k8s_delete-cluster.svg
  images/breeze/output_k8s_deploy-airflow.svg
  images/breeze/output_k8s_k9s.svg
  images/breeze/output_k8s_logs.svg
  images/breeze/output_k8s_run-complete-tests.svg
  images/breeze/output_k8s_setup-env.svg
  images/breeze/output_k8s_shell.svg
  images/breeze/output_k8s_status.svg
  images/breeze/output_k8s_tests.svg
  images/breeze/output_k8s_upload-k8s-image.svg
  images/breeze/output_prod-image.svg
  images/breeze/output_prod-image_build.svg
  images/breeze/output_prod-image_pull.svg
  images/breeze/output_prod-image_verify.svg
  images/breeze/output_release-management_generate-constraints.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-airflow-package.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_release-prod-images.svg
  images/breeze/output_release-management_verify-provider-packages.svg
  images/breeze/output_setup_autocomplete.svg
  images/breeze/output_setup_config.svg
  images/breeze/output_setup_self-upgrade.svg
  images/breeze/output_setup_version.svg
  images/breeze/output_shell.svg
  images/breeze/output_start-airflow.svg
  images/breeze/output_stop.svg
  images/breeze/output_testing.svg
  images/breeze/output_testing_docker-compose-tests.svg
  images/breeze/output_testing_helm-tests.svg
  images/breeze/output_testing_integration-tests.svg
  images/breeze/output_testing_tests.svg
  scripts/ci/docker-compose/grafana/volume/dashboards/airflow_metrics.json
  scripts/ci/docker-compose/grafana/volume/provisioning/dashboards/default.yaml
  scripts/ci/docker-compose/grafana/volume/provisioning/datasources/default.yaml
  scripts/ci/docker-compose/integration-statsd.yml
  scripts/ci/docker-compose/prometheus.yml
Labels: area:dev-tools

#29517 Use "all" integrations to run tests when "all" is used
  dev/breeze/src/airflow_breeze/params/shell_params.py
Labels: area:dev-tools

#29467 Fix sftp sensor with pattern
  airflow/providers/sftp/sensors/sftp.py
  tests/providers/sftp/sensors/test_sftp.py
Labels: area:providers

#29499 Move cloud_sql_binary_path from connection to Hook
  airflow/providers/google/cloud/example_dags/example_cloud_sql_query.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/operators/cloud_sql.py
Labels: provider:Google, area:providers

#29494 Fix circular imports when airflow starts
  airflow/models/xcom.py
  airflow/settings.py
  airflow/utils/log/logging_mixin.py
  airflow/utils/state.py
  airflow/utils/timezone.py
  tests/cli/commands/test_db_command.py
  tests/models/test_taskinstance.py
Labels: area:logging

#29038 Add HttpHookAsync for deferrable implementation
  airflow/providers/http/hooks/http.py
  airflow/providers/http/provider.yaml
  generated/provider_dependencies.json
  setup.py
  tests/providers/http/hooks/test_http.py
Labels: area:providers, provider:Protocols

#28406 Add defer mode to GKECreateClusterOperator and GKEDeleteClusterOperator
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/cloud/triggers/kubernetes_engine.py
  docs/apache-airflow-providers-google/operators/cloud/kubernetes_engine.rst
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/providers/google/cloud/triggers/test_kubernetes_engine.py
  tests/system/providers/google/cloud/kubernetes_engine/example_kubernetes_engine_async.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation, area:kubernetes

#29454 Make `prev_logical_date` variable offset-aware
  airflow/www/views.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, type:bug-fix

#29539 Wait EC2 instance to be in ok status before starting
  tests/system/providers/amazon/aws/example_ec2.py
Labels: area:system-tests

#29540 Fix the missing pytest fixture aioresponse for non_existent_endpoint
  tests/providers/http/hooks/test_http.py
Labels: area:providers, provider:Protocols

#29543 Revert "Google have re-worked their docs site ane appear not publish …
  docs/conf.py
  docs/exts/docs_build/third_party_inventories.py
  docs/spelling_wordlist.txt
Labels: kind:documentation

#29093 Enable tagged metric names for existing Statsd metric publishing events | influxdb-statsd support
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/dag_processing/manager.py
  airflow/jobs/scheduler_job.py
  airflow/models/dagrun.py
  airflow/stats.py
  tests/core/test_stats.py
  tests/dag_processing/test_manager.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagrun.py
Labels: area:scheduler/executor

#28783 AIP-44 Don't use Internal API in some components
  airflow/api_internal/internal_api_call.py
  airflow/cli/commands/internal_api_command.py
  airflow/cli/commands/scheduler_command.py
  airflow/www/app.py
  tests/api_internal/test_internal_api_call.py
Labels: area:webserver, area:CLI, area:dev-tools

#29544 detect is 'docker-compose' existing
  docs/apache-airflow/howto/docker-compose/airflow.sh
Labels: kind:documentation

#29541 Remove section check from get-value command
  airflow/cli/commands/config_command.py
  tests/cli/commands/test_config_command.py
Labels: area:CLI

#29502 Validate Hive Beeline parameters
  airflow/providers/apache/hive/hooks/hive.py
  tests/providers/apache/hive/hooks/test_hive.py
Labels: area:providers, provider:Apache

#29547 Change expose_hostname default to false
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/auth.py
  airflow/www/extensions/init_jinja_globals.py
  airflow/www/views.py
  newsfragments/29547.significant.rst
Labels: area:webserver

#29408 Improve health checks in example docker-compose and clarify usage
  docs/apache-airflow/howto/docker-compose/docker-compose.yaml
Labels: kind:documentation

#29559 Fixed a typo in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev-tools

#29562 Fix docstring for EcsRunTaskOperator region_name -> region
  airflow/providers/amazon/aws/operators/ecs.py
Labels: provider:AWS, area:providers

#29500 Move libjars parameter in Sqoop Hook to Hook parameter
  airflow/providers/apache/sqoop/hooks/sqoop.py
  airflow/providers/apache/sqoop/operators/sqoop.py
  tests/providers/apache/sqoop/hooks/test_sqoop.py
Labels: area:providers, provider:Apache

#29545 Don't display empty rendered attrs in Task Instance Details page
  airflow/www/templates/airflow/task.html
Labels: area:webserver, area:UI

#29565 Handle deleting more than 256 blobs using `WasbHook.delete_file()`
  airflow/providers/microsoft/azure/hooks/wasb.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
Labels: provider:Azure, area:providers

#29496 Fix log tailing issues with legacy log view
  airflow/utils/log/file_task_handler.py
  airflow/www/views.py
Labels: area:webserver, area:logging

#29584 AIP-44 Remove internal_api test folder
  tests/internal_api/__init__.py
Labels: changelog:skip, AIP-44

#29587 Explicitly handle exceptions raised by config parsing in AWS provider
  airflow/providers/amazon/aws/utils/connection_wrapper.py
Labels: provider:AWS, area:providers

#29503 Get rid of state in Apache Beam provider hook
  airflow/providers/apache/beam/hooks/beam.py
  tests/providers/apache/beam/hooks/test_beam.py
  tests/providers/google/cloud/hooks/test_dataflow.py
Labels: area:providers, provider:Apache

#29591 Ignore new common warning coming from setuptoools
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#29520 Add "all-testable" integration alias
  .github/workflows/ci.yml
  BREEZE.rst
  TESTING.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_shell.svg
  images/breeze/output_start-airflow.svg
  images/breeze/output_testing_integration-tests.svg
  images/breeze/output_testing_tests.svg
Labels: area:dev-tools

#29586 fix template_fields in the decorator `task.docker`
  airflow/providers/docker/decorators/docker.py
  tests/providers/docker/decorators/test_docker.py
Labels: area:providers, provider:Docker

#29377 Migrated operators tests to `pytest`
  tests/operators/test_bash.py
  tests/operators/test_datetime.py
  tests/operators/test_email.py
  tests/operators/test_generic_transfer.py
  tests/operators/test_weekday.py
Labels: changelog:skip, type:misc/internal, area:core-operators

#28942 Fix @task.kubernetes to receive input and send output
  airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  airflow/providers/cncf/kubernetes/python_kubernetes_script.jinja2
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
Labels: area:providers, area:kubernetes

#29525 Make providing a reproducible case required in bug templates
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
Labels: area:dev-tools

#29410 Edgemodifier refactoring w/ labels in TaskGroup edge case
  airflow/models/taskmixin.py
  airflow/utils/edgemodifier.py
  airflow/utils/task_group.py
  tests/utils/test_edgemodifier.py
Labels: type:bug-fix

#29603 Add Microsoft managed Airflow as deployment to issue template
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
Labels: area:dev-tools

#29477 `GoogleDriveHook`: Add folder_id param to upload_file
  airflow/providers/google/suite/hooks/drive.py
  airflow/providers/google/suite/transfers/local_to_drive.py
  tests/providers/google/suite/hooks/test_drive.py
  tests/providers/google/suite/transfers/test_local_to_drive.py
Labels: provider:Google, area:providers

#29589 Prepare docs for 02 2023 midmonth wave of Providers
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/amazon/provider.yaml
  airflow/providers/apache/beam/CHANGELOG.rst
  airflow/providers/apache/beam/provider.yaml
  airflow/providers/apache/hive/CHANGELOG.rst
  airflow/providers/apache/hive/provider.yaml
  airflow/providers/apache/sqoop/CHANGELOG.rst
  airflow/providers/apache/sqoop/provider.yaml
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/provider.yaml
  airflow/providers/docker/CHANGELOG.rst
  airflow/providers/docker/provider.yaml
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/provider.yaml
  airflow/providers/http/CHANGELOG.rst
  airflow/providers/http/provider.yaml
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/provider.yaml
  airflow/providers/sftp/CHANGELOG.rst
  airflow/providers/sftp/provider.yaml
  airflow/providers/snowflake/CHANGELOG.rst
  airflow/providers/snowflake/provider.yaml
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-apache-beam/commits.rst
  docs/apache-airflow-providers-apache-beam/index.rst
  docs/apache-airflow-providers-apache-hive/commits.rst
  docs/apache-airflow-providers-apache-hive/index.rst
  docs/apache-airflow-providers-apache-sqoop/commits.rst
  docs/apache-airflow-providers-apache-sqoop/index.rst
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
  docs/apache-airflow-providers-docker/commits.rst
  docs/apache-airflow-providers-docker/index.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-google/index.rst
  docs/apache-airflow-providers-http/commits.rst
  docs/apache-airflow-providers-http/index.rst
  docs/apache-airflow-providers-microsoft-azure/commits.rst
  docs/apache-airflow-providers-microsoft-azure/index.rst
  docs/apache-airflow-providers-sftp/commits.rst
  docs/apache-airflow-providers-sftp/index.rst
  docs/apache-airflow-providers-snowflake/commits.rst
  docs/apache-airflow-providers-snowflake/index.rst
Labels: provider:Google, provider:Azure, provider:AWS, area:providers, provider:Apache, kind:documentation, provider:Snowflake, provider:Protocols

#29604 migrated all providers/apache/flink to pytest
  tests/providers/apache/flink/operators/test_flink_kubernetes.py
  tests/providers/apache/flink/sensors/test_flink_kubernetes.py
Labels: area:providers, provider:Apache, changelog:skip, type:misc/internal

#28724 Use dagrun instead of DagFileProcessor in backfill_job test
  tests/jobs/test_backfill_job.py
Labels: area:scheduler/executor, changelog:skip, type:misc/internal

#29224 add output format arg for `cli.dags.trigger`
  airflow/api/client/local_client.py
  airflow/cli/cli_parser.py
  airflow/cli/commands/dag_command.py
  tests/api/client/test_local_client.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI, area:API

#29598 Specific use-case: adding packages via requirements.txt in compose
  docs/apache-airflow/howto/docker-compose/index.rst
Labels: kind:documentation

#29347 SSH Provider: Add cmd_timeout to ssh connection extra
  airflow/providers/ssh/hooks/ssh.py
  airflow/providers/ssh/operators/ssh.py
  docs/apache-airflow-providers-ssh/connections/ssh.rst
  tests/providers/ssh/hooks/test_ssh.py
  tests/providers/ssh/operators/test_ssh.py
Labels: area:providers, kind:documentation, provider:Protocols

#29614 Add note about workaround to potential error with argparse to hdfs
  docs/apache-airflow-providers-apache-hdfs/index.rst
Labels: area:providers, provider:Apache, kind:documentation

#29362 Missing timezone in next_dag_run in parameterized docs
  docs/apache-airflow/howto/timetable.rst
Labels: kind:documentation

#28416 Include Rancher in Helm chart install instructions
  docs/helm-chart/index.rst
Labels: area:helm-chart, kind:documentation

#28618 Add deferrable mode to DataprocInstantiateWorkflowTemplateOperator
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/triggers/dataproc.py
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
  tests/providers/google/cloud/hooks/test_dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/google/cloud/triggers/test_dataproc.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_workflow.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#29314 Add ttlSecondsAfterFinished to migrateDatabaseJob and createUserJob
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_create_user_job.py
  tests/charts/test_migrate_database_job.py
Labels: area:helm-chart

#27841 fix: add pre-commit to ban urlparse
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
Labels: area:dev-tools

#29478 Fix bitnami/postgresql default username and password
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#29569 Avoid importing executor during conf validation
  airflow/cli/commands/scheduler_command.py
  airflow/configuration.py
  airflow/executors/executor_loader.py
  airflow/www/views.py
  tests/conftest.py
  tests/executors/test_executor_loader.py
  tests/providers/github/sensors/test_github.py
  tests/www/views/test_views_tasks.py
Labels: area:scheduler/executor

#27947 Add Amazon Redshift-data to S3<>RS Transfer Operators
  airflow/providers/amazon/aws/hooks/redshift_data.py
  airflow/providers/amazon/aws/operators/redshift_data.py
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  tests/providers/amazon/aws/hooks/test_redshift_data.py
  tests/providers/amazon/aws/operators/test_redshift_data.py
  tests/providers/amazon/aws/transfers/test_redshift_to_s3.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: provider:AWS, area:providers

#29441 datasets, next_run_datasets, remove unnecessary timestamp filter
  airflow/www/views.py
Labels: area:webserver

#29409 Fix Rest API update user output
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, area:UI

#29554 Update issue triage policy
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_doc_issue_report.yml
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/stale.yml
  ISSUE_TRIAGE_PROCESS.rst
Labels: area:dev-tools

#29633 `RedshiftDataOperator` replace `await_result` with `wait_for_completion`
  airflow/providers/amazon/aws/operators/redshift_data.py
  tests/providers/amazon/aws/operators/test_redshift_data.py
  tests/system/providers/amazon/aws/example_redshift.py
Labels: provider:AWS, area:providers, area:system-tests

#29639 Migrate breeze unit tests to pytest.
  dev/breeze/tests/test_run_utils.py
Labels: area:dev-tools, changelog:skip, type:misc/internal

#29460 Add webserver service.type NodePort Description.
  chart/values.yaml
Labels: area:helm-chart

#28845 Email Config docs more explicit env var examples
  docs/apache-airflow/howto/email-config.rst
Labels: kind:documentation

#29136 Dataproc batches
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/hooks/test_dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: provider:Google, area:providers

#29600 fix clear dag run openapi spec responses by adding additional return type
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:API

#29081 Use provided `USE_AIRFLOW_VERSION` env in verify providers step
  scripts/in_container/verify_providers.py
Labels: area:dev-tools, changelog:skip, type:misc/internal

#29364 Refactor Dataproc Trigger
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/triggers/dataproc.py
  tests/providers/google/cloud/triggers/test_dataproc.py
Labels: provider:Google, area:providers

#29270 Adding possibility for annotations in logs pvc
  chart/templates/logs-persistent-volume-claim.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#29622 Fix adding annotations for dag persistence PVC
  chart/templates/dags-persistent-volume-claim.yaml
  chart/values.yaml
Labels: area:helm-chart

#29234 Update google cloud dlp package and adjust hook and operators
  airflow/providers/google/cloud/hooks/dlp.py
  airflow/providers/google/cloud/operators/dlp.py
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/test_dlp.py
  tests/providers/google/cloud/operators/test_dlp.py
Labels: provider:Google, area:providers

#29348 Don't push secret in XCOM in BigQueryCreateDataTransferOperator
  airflow/providers/google/cloud/operators/bigquery_dts.py
  tests/providers/google/cloud/operators/test_bigquery_dts.py
Labels: provider:Google, area:providers

#29631 Avoid unneeded Connexion constructs
  airflow/www/extensions/init_views.py
Labels: area:webserver

#28799 introduce dag processor job fix #27140
  airflow/cli/commands/dag_processor_command.py
  airflow/jobs/dag_processor_job.py
  tests/cli/commands/test_dag_processor_command.py
Labels: area:scheduler/executor, area:CLI

#29658 docs: fix typo docs of remote logging
  docs/apache-airflow-providers-amazon/logging/s3-task-handler.rst
Labels: provider:AWS, area:providers, kind:documentation

#29665 Quarantine `test_cli_internal_api_background`
  tests/cli/commands/test_internal_api_command.py
Labels: area:CLI

#29668 Add Maciej Obuchowski to triage to help with AIP-53 issues
  .asf.yaml
Labels: area:dev-tools

#29581 AWS system test sagemaker-endpoint: archive logs
  tests/system/providers/amazon/aws/example_sagemaker_endpoint.py
Labels: area:system-tests

#29678 FIx formatting of Dataset inlet/outlet note in TaskFlow concepts
  docs/apache-airflow/core-concepts/taskflow.rst
Labels: kind:documentation, type:doc-only

#29659 AWS Glue job hook: Make s3_bucket parameter optional
  airflow/providers/amazon/aws/hooks/glue.py
  tests/providers/amazon/aws/hooks/test_glue.py
Labels: provider:AWS, area:providers

#29681 Small Extension Fix of Internal API Configuration Path in init_views.py
  airflow/www/extensions/init_views.py
Labels: area:webserver

#29599 fix do_xcom_push=False bug in SnowflakeOperator
  airflow/providers/common/sql/operators/sql.py
  tests/providers/common/sql/operators/test_sql.py
Labels: area:providers, provider:Snowflake

#29685 Do not crash when a version fails to parse
  dev/breeze/src/airflow_breeze/utils/find_newer_dependencies.py
Labels: area:dev-tools

#29047 Add Livy Operator with deferrable mode
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/livy/operators/livy.py
  airflow/providers/apache/livy/provider.yaml
  airflow/providers/apache/livy/triggers/__init__.py
  airflow/providers/apache/livy/triggers/livy.py
  generated/provider_dependencies.json
  tests/providers/apache/livy/compat.py
  tests/providers/apache/livy/hooks/test_livy.py
  tests/providers/apache/livy/operators/test_livy.py
  tests/providers/apache/livy/triggers/__init__.py
  tests/providers/apache/livy/triggers/test_livy.py
Labels: area:providers, provider:Apache, provider:Protocols

#29549 Fix and augment `check-for-inclusive-language` CI check
  .pre-commit-config.yaml
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/kubernetes/pod_template_file_examples/dags_in_image_template.yaml
  airflow/kubernetes/pod_template_file_examples/dags_in_volume_template.yaml
  airflow/kubernetes_executor_templates/basic_template.yaml
  airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  airflow/providers/docker/decorators/docker.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/provider.yaml
  airflow/utils/dag_edges.py
  airflow/utils/task_group.py
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/values.schema.json
  chart/values.yaml
  docs/apache-airflow-providers-google/operators/leveldb/leveldb.rst
  docs/apache-airflow/authoring-and-scheduling/plugins.rst
  docs/apache-airflow/authoring-and-scheduling/timezone.rst
  docs/apache-airflow/best-practices.rst
  docs/apache-airflow/core-concepts/dags.rst
  docs/apache-airflow/core-concepts/params.rst
  docs/apache-airflow/howto/connection.rst
  docs/apache-airflow/tutorial/fundamentals.rst
  docs/helm-chart/customizing-workers.rst
  scripts/in_container/check_environment.sh
Labels: provider:Google, area:providers, area:dev-tools, area:plugins, area:API, area:helm-chart, kind:documentation, area:kubernetes, provider:Docker

#29519 Use MariaDB client binaries in arm64 image for support MySQL backend
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.ci
  airflow/providers/mysql/provider.yaml
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  generated/provider_dependencies.json
  scripts/docker/entrypoint_ci.sh
  scripts/docker/install_mysql.sh
  scripts/in_container/run_provider_yaml_files_check.py
Labels: area:providers, area:dev-tools, area:production-image, provider:DBs

#29644 Remove <2.0.0 limit on google-cloud-bigtable
  airflow/providers/google/cloud/hooks/bigtable.py
  airflow/providers/google/cloud/operators/bigtable.py
  airflow/providers/google/cloud/sensors/bigtable.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/index.rst
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/test_bigtable.py
  tests/providers/google/cloud/operators/test_bigtable.py
Labels: provider:Google, area:providers, kind:documentation

#29635 support Yandex SDK feature "endpoint"
  airflow/providers/yandex/hooks/yandex.py
  docs/apache-airflow-providers-yandex/connections/yandexcloud.rst
  tests/providers/yandex/hooks/test_yandex.py
Labels: area:providers, kind:documentation
