Repository apache/airflow, pull requests merged in 2023-07, with the labels that each got.

#32113 Fix KubernetesPodOperator validate xcom json and add retries
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, area:kubernetes

#32307 Fix Pydantic 2 pickiness about model definition
  airflow/serialization/pydantic/dataset.py
Labels: area:serialization

#32262 Add information for users who ask for requirements
  docs/apache-airflow/administration-and-deployment/scheduler.rst
  docs/apache-airflow/installation/index.rst
Labels: area:scheduler/executor, kind:documentation

#32098 Update security model of Airflow
  .github/SECURITY.md
  .github/boring-cyborg.yml
  .pre-commit-config.yaml
  docs/apache-airflow-providers/core-extensions/auth-backends.rst
  docs/apache-airflow-providers/core-extensions/secrets-backends.rst
  docs/apache-airflow/administration-and-deployment/index.rst
  docs/apache-airflow/administration-and-deployment/security/index.rst
  docs/apache-airflow/howto/connection.rst
  docs/apache-airflow/howto/variable.rst
  docs/apache-airflow/index.rst
  docs/apache-airflow/installation/installing-from-pypi.rst
  docs/apache-airflow/integration.rst
  docs/apache-airflow/public-airflow-interface.rst
  docs/apache-airflow/redirects.txt
  docs/apache-airflow/security/access-control.rst
  docs/apache-airflow/security/api.rst
  docs/apache-airflow/security/audit_logs.rst
  docs/apache-airflow/security/flower.rst
  docs/apache-airflow/security/index.rst
  docs/apache-airflow/security/kerberos.rst
  docs/apache-airflow/security/secrets/fernet.rst
  docs/apache-airflow/security/secrets/index.rst
  docs/apache-airflow/security/secrets/mask-sensitive-values.rst
  docs/apache-airflow/security/secrets/secrets-backend/index.rst
  docs/apache-airflow/security/secrets/secrets-backend/local-filesystem-secrets-backend.rst
  docs/apache-airflow/security/webserver.rst
  docs/apache-airflow/security/workload.rst
Labels: area:dev-tools, kind:documentation

#32293 Sanitize `DagRun.run_id` and allow flexibility
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/www/views.py
  tests/models/test_dagrun.py
  tests/www/views/test_views_trigger_dag.py
Labels: area:webserver

#31775 Use reactflow for datasets graph
  airflow/www/package.json
  airflow/www/static/js/api/useDatasetDependencies.ts
  airflow/www/static/js/api/useGraphData.ts
  airflow/www/static/js/components/Graph/Edge.tsx
  airflow/www/static/js/dag/details/graph/index.tsx
  airflow/www/static/js/dag/details/graph/utils.ts
  airflow/www/static/js/datasets/Graph/DagNode.tsx
  airflow/www/static/js/datasets/Graph/Edge.tsx
  airflow/www/static/js/datasets/Graph/Legend.tsx
  airflow/www/static/js/datasets/Graph/Node.tsx
  airflow/www/static/js/datasets/Graph/index.tsx
  airflow/www/static/js/datasets/index.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/static/js/utils/graph.ts
  airflow/www/yarn.lock
Labels: area:webserver, area:UI

#32320 Fix SemVer link in security documentation
  docs/apache-airflow/security/index.rst
Labels: kind:documentation

#32259 Fix `LambdaInvokeFunctionOperator` payload parameter type
  airflow/providers/amazon/aws/hooks/lambda_function.py
  airflow/providers/amazon/aws/operators/lambda_function.py
  tests/providers/amazon/aws/hooks/test_lambda_function.py
  tests/providers/amazon/aws/operators/test_lambda_function.py
Labels: provider:AWS, area:providers, area:system-tests

#32321 Fix ts/eslint warnings
  airflow/www/alias-rest-types.js
  airflow/www/babel.config.js
  airflow/www/jest-setup.js
  airflow/www/package.json
  airflow/www/static/js/api/useDatasets.ts
  airflow/www/static/js/api/useExtraLinks.ts
  airflow/www/static/js/callModal.js
  airflow/www/static/js/cluster-activity/index.test.tsx
  airflow/www/static/js/components/Table/Cells.tsx
  airflow/www/static/js/components/Table/Table.test.tsx
  airflow/www/static/js/components/Table/index.tsx
  airflow/www/static/js/components/Tooltip.tsx
  airflow/www/static/js/connection_form.js
  airflow/www/static/js/dag/details/graph/utils.ts
  airflow/www/static/js/dag/grid/dagRuns/index.test.tsx
  airflow/www/static/js/dag/grid/index.test.tsx
  airflow/www/static/js/dag_dependencies.js
  airflow/www/static/js/dags.js
  airflow/www/static/js/datasets/List.test.tsx
  airflow/www/static/js/datasets/List.tsx
  airflow/www/static/js/datetime_utils.js
  airflow/www/static/js/gantt.js
  airflow/www/static/js/graph.js
  airflow/www/static/js/main.js
  airflow/www/static/js/task.js
  airflow/www/static/js/task_instances.js
  airflow/www/static/js/ti_log.js
  airflow/www/static/js/types/react-table-config.d.ts
  airflow/www/static/js/utils/URLSearchParamWrapper.ts
  airflow/www/static/js/utils/graph.ts
Labels: area:webserver, changelog:skip, area:UI

#32299 Adds Sensor section in the Azure providers docs
  airflow/providers/microsoft/azure/example_dag/__init__.py
  airflow/providers/microsoft/azure/example_dag/example_cosmos_document_sensor.py
  airflow/providers/microsoft/azure/example_dag/example_wasb_sensors.py
  docs/apache-airflow-providers-microsoft-azure/index.rst
  docs/apache-airflow-providers-microsoft-azure/sensors/cosmos_document_sesnor.rst
  docs/apache-airflow-providers-microsoft-azure/sensors/index.rst
  docs/apache-airflow-providers-microsoft-azure/sensors/wasb_sensors.rst
  docs/spelling_wordlist.txt
Labels: provider:Azure, area:providers, kind:documentation

#32177 Refactor Sqlalchemy queries to 2.0 style (Part 3)
  airflow/utils/db.py
  airflow/www/utils.py
  airflow/www/views.py
Labels: use public runners

#32326 Invalid args fix in `example_dag` sensor example Azure provider
  airflow/providers/microsoft/azure/example_dag/example_wasb_sensors.py
Labels: provider:Azure, area:providers

#32327 Fixing typo in LOCAL_VIRTUALENV.rst
  LOCAL_VIRTUALENV.rst
Labels: area:dev-tools

#32042 Render list items in rendered fields view
  airflow/www/utils.py
  airflow/www/views.py
  tests/www/views/test_views_rendered.py
Labels: area:webserver

#32270 Added `AzureBlobStorageToS3Operator` transfer operator
  airflow/providers/amazon/aws/transfers/azure_blob_to_s3.py
  airflow/providers/amazon/provider.yaml
  airflow/providers/microsoft/azure/hooks/wasb.py
  dev/breeze/tests/test_selective_checks.py
  docs/apache-airflow-providers-amazon/transfer/azure_blob_to_s3.rst
  generated/provider_dependencies.json
  tests/providers/amazon/aws/transfers/test_azure_blob_to_s3.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
  tests/system/providers/amazon/aws/example_azure_blob_to_s3.py
Labels: provider:Azure, provider:AWS, area:providers, area:system-tests, kind:documentation

#32325 Exclude not-releaseable providers from extras not only from releasing
  dev/provider_packages/prepare_provider_packages.py
  generated/provider_dependencies.json
  scripts/ci/pre_commit/pre_commit_update_providers_dependencies.py
  setup.py
Labels: area:dev-tools

#32338 Revert "Exclude not-releaseable providers from extras not only from releasing"
  dev/provider_packages/prepare_provider_packages.py
  generated/provider_dependencies.json
  scripts/ci/pre_commit/pre_commit_update_providers_dependencies.py
  setup.py
Labels: area:dev-tools

#32317 Typo fix in `redirects.txt` in Amazon providers doc
  docs/apache-airflow-providers-amazon/redirects.txt
Labels: provider:AWS, area:providers, kind:documentation

#32334 Add proxy_user template check
  airflow/providers/apache/hive/hooks/hive.py
Labels: area:providers, provider:Apache

#32343 Revert "Refactor Sqlalchemy queries to 2.0 style (Part 3) (#32177)"
  airflow/utils/db.py
  airflow/www/utils.py
  airflow/www/views.py
Labels: area:webserver, full tests needed

#32052 Disable default allowing the testing of connections in UI, API and CLI
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/cli/commands/connection_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/extensions/init_jinja_globals.py
  airflow/www/static/js/connection_form.js
  airflow/www/templates/airflow/conn_create.html
  airflow/www/templates/airflow/conn_edit.html
  newsfragments/32052.significant.rst
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/cli/commands/test_connection_command.py
  tests/www/views/test_views.py
Labels: area:webserver, area:UI

#32300 Remove outdated comment from chart values in the workers KEDA conf section
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, type:doc-only

#32322 Bug fix GCSToS3Operator: avoid `ValueError` when `replace=False` with files already in S3
  airflow/providers/amazon/aws/transfers/gcs_to_s3.py
  tests/providers/amazon/aws/transfers/test_gcs_to_s3.py
Labels: provider:AWS, area:providers

#32305 Fix get_conn test for ImpalaHook
  tests/providers/apache/impala/hooks/test_impala.py
Labels: area:providers, provider:Apache

#32347 Change default schema behaviour in SQLParser.
  airflow/providers/openlineage/sqlparser.py
  airflow/providers/openlineage/utils/sql.py
  tests/providers/openlineage/utils/test_sql.py
  tests/providers/openlineage/utils/test_sqlparser.py
Labels: area:providers, provider:OpenLineage

#32323 refresh connection if an exception is caught in "AzureDataFactory"
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/triggers/data_factory.py
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
  tests/providers/microsoft/azure/triggers/test_azure_data_factory.py
Labels: provider:Azure, area:providers

#32308 Adds support for custom query in workers KEDA trigger
  chart/templates/workers/worker-kedaautoscaler.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/airflow_core/test_worker.py
Labels: area:helm-chart, type:new-feature

#32352 deprecate arbitrary parameter passing to RDS hook
  airflow/providers/amazon/aws/operators/rds.py
Labels: provider:AWS, area:providers

#31868 Runtime class name
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/airflow_core/test_worker.py
Labels: area:helm-chart

#31596 Add Deferrable switch to SnowflakeSqlApiOperator
  airflow/providers/snowflake/hooks/snowflake_sql_api.py
  airflow/providers/snowflake/operators/snowflake.py
  airflow/providers/snowflake/provider.yaml
  airflow/providers/snowflake/triggers/__init__.py
  airflow/providers/snowflake/triggers/snowflake_trigger.py
  docs/apache-airflow-providers-snowflake/operators/snowflake.rst
  tests/providers/snowflake/hooks/test_snowflake_sql_api.py
  tests/providers/snowflake/operators/test_snowflake.py
  tests/providers/snowflake/triggers/__init__.py
  tests/providers/snowflake/triggers/test_snowflake.py
Labels: area:providers, kind:documentation, provider:Snowflake

#32345 postgres: deprecate `runtime_parameters` in favor of options in `hook_params`
  airflow/providers/postgres/hooks/postgres.py
  airflow/providers/postgres/operators/postgres.py
  docs/apache-airflow-providers-postgres/operators/postgres_operator_howto_guide.rst
  tests/providers/postgres/hooks/test_postgres.py
  tests/providers/postgres/operators/test_postgres.py
  tests/system/providers/postgres/example_postgres.py
Labels: area:providers, area:system-tests, kind:documentation, provider:DBs

#32353 Add ferruzzi as committer
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/apache-airflow/project.rst
Labels: area:dev-tools, kind:documentation

#32304 Add kerberos dependency to Impala Provider
  airflow/providers/apache/impala/provider.yaml
  tests/providers/apache/impala/hooks/test_impala.py
Labels: area:providers, provider:Apache

#32269 Clarify Listener API behavior
  docs/apache-airflow/administration-and-deployment/listeners.rst
Labels: kind:documentation, type:doc-only

#32357 D205 Support - Providers: GRPC to Oracle (inclusive)
  airflow/providers/hashicorp/_internal_client/vault_client.py
  airflow/providers/hashicorp/secrets/vault.py
  airflow/providers/http/sensors/http.py
  airflow/providers/imap/hooks/imap.py
  airflow/providers/jenkins/hooks/jenkins.py
  airflow/providers/jenkins/operators/jenkins_job_trigger.py
  airflow/providers/microsoft/azure/hooks/adx.py
  airflow/providers/microsoft/azure/hooks/base_azure.py
  airflow/providers/microsoft/azure/hooks/cosmos.py
  airflow/providers/microsoft/azure/hooks/fileshare.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/providers/microsoft/azure/operators/asb.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/microsoft/azure/secrets/key_vault.py
  airflow/providers/microsoft/azure/sensors/data_factory.py
  airflow/providers/microsoft/azure/sensors/wasb.py
  airflow/providers/microsoft/azure/transfers/local_to_adls.py
  airflow/providers/microsoft/azure/transfers/oracle_to_azure_data_lake.py
  airflow/providers/microsoft/azure/triggers/wasb.py
  airflow/providers/microsoft/azure/utils.py
  airflow/providers/microsoft/mssql/hooks/mssql.py
  airflow/providers/microsoft/psrp/hooks/psrp.py
  airflow/providers/mongo/hooks/mongo.py
  airflow/providers/mysql/transfers/presto_to_mysql.py
  airflow/providers/mysql/transfers/trino_to_mysql.py
  airflow/providers/neo4j/hooks/neo4j.py
  airflow/providers/openlineage/extractors/bash.py
  airflow/providers/openlineage/extractors/python.py
  airflow/providers/openlineage/plugins/adapter.py
  airflow/providers/openlineage/plugins/listener.py
  airflow/providers/openlineage/plugins/macros.py
  airflow/providers/openlineage/plugins/openlineage.py
  airflow/providers/openlineage/sqlparser.py
  airflow/providers/openlineage/utils/utils.py
  airflow/providers/opsgenie/hooks/opsgenie.py
  airflow/providers/opsgenie/operators/opsgenie.py
Labels: provider:Azure, area:providers, area:logging, area:secrets, provider:Protocols, provider:DBs, provider:OpenLineage

#32315 Update index.rst doc to correct grammar
  docs/apache-airflow/index.rst
Labels: kind:documentation

#32350 Refactor Sqlalchemy queries to 2.0 style (Part 3)
  airflow/utils/db.py
  airflow/www/utils.py
  airflow/www/views.py
Labels: area:webserver, full tests needed

#32310 Update python.rst with multi-Scheduler LocalExecutor info
  docs/apache-airflow/core-concepts/executor/local.rst
Labels: kind:documentation, area:core-operators

#32372 Improving LOCAL_VIRTUALENV.rst for ease of local venv setup
  LOCAL_VIRTUALENV.rst
Labels: area:dev-tools

#32369 Update pipeline.rst
  docs/apache-airflow/tutorial/pipeline.rst
Labels: kind:documentation

#32217 AIP-56 - Create auth manager interface and very basic implementation of FAB auth manager
  airflow/auth/__init__.py
  airflow/auth/managers/__init__.py
  airflow/auth/managers/base_auth_manager.py
  airflow/auth/managers/fab/__init__.py
  airflow/auth/managers/fab/fab_auth_manager.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/www/extensions/init_jinja_globals.py
  airflow/www/templates/appbuilder/navbar_right.html
  tests/auh/__init__.py
  tests/auh/managers/__init__.py
  tests/auh/managers/fab/__init__.py
  tests/auh/managers/fab/test_fab_auth_manager.py
  tests/www/views/conftest.py
Labels: area:webserver, area:UI

#32358 D205 Support - Providers: Pagerduty to SMTP (inclusive)
  airflow/providers/plexus/hooks/plexus.py
  airflow/providers/plexus/operators/job.py
  airflow/providers/presto/hooks/presto.py
  airflow/providers/qubole/operators/qubole_check.py
  airflow/providers/salesforce/hooks/salesforce.py
  airflow/providers/segment/hooks/segment.py
  airflow/providers/sftp/operators/sftp.py
  airflow/providers/slack/hooks/slack.py
  airflow/providers/slack/hooks/slack_webhook.py
  airflow/providers/slack/transfers/sql_to_slack.py
  airflow/providers/smtp/hooks/smtp.py
Labels: area:providers, provider:Snowflake, provider:trino/presto, provider:message-apps

#31615 Defining priorityClasses for airflow services and workers
  chart/templates/priorityclasses/priority-classes.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/airflow_aux/test_basic_helm_chart.py
Labels: kind:feature, area:helm-chart

#32309 Hide sensitive values from extra in connection edit form
  airflow/providers_manager.py
  airflow/www/views.py
  tests/www/views/test_views_connection.py
Labels: area:webserver

#31852 [Webserver] Use custom_operator_name instead of task_type in UI for taskinstance object
  airflow/migrations/versions/0127_2_7_0_add_custom_operator_name_column.py
  airflow/models/taskinstance.py
  airflow/www/static/js/task_instances.js
  airflow/www/views.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/models/test_taskinstance.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, area:UI

#31904 Fix `operator_extra_links` property serialization in mapped tasks
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, type:bug-fix

#32359 D205 Support - Providers: Snowflake to Zendesk (inclusive)
  airflow/providers/snowflake/hooks/snowflake_sql_api.py
  airflow/providers/snowflake/operators/snowflake.py
  airflow/providers/snowflake/transfers/copy_into_snowflake.py
  airflow/providers/snowflake/transfers/snowflake_to_slack.py
  airflow/providers/snowflake/triggers/snowflake_trigger.py
  airflow/providers/snowflake/utils/sql_api_generate_jwt.py
  airflow/providers/tableau/hooks/tableau.py
  airflow/providers/tableau/operators/tableau.py
  airflow/providers/tabular/hooks/tabular.py
  airflow/providers/telegram/operators/telegram.py
  airflow/providers/trino/hooks/trino.py
Labels: area:providers, provider:Snowflake, provider:trino/presto, provider:message-apps

#32387 Fix endless loop of defer in google cloud_build
  airflow/providers/google/cloud/triggers/cloud_build.py
Labels: provider:Google, area:providers

#32383 Fix the gcp_gcs_delete_objects operator delete whole bucket on processing empty list of objects
  airflow/providers/google/cloud/operators/gcs.py
  tests/providers/google/cloud/operators/test_gcs.py
Labels: provider:Google, area:providers

#31663 Logging from all containers in KubernetesOperatorPod
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, area:kubernetes

#32331 Only update crawler tags if present in config dict
  airflow/providers/amazon/aws/hooks/glue_crawler.py
  tests/providers/amazon/aws/hooks/test_glue_crawler.py
Labels: provider:AWS, area:providers

#32391 Adding helm as a pre requisite to local venv
  LOCAL_VIRTUALENV.rst
Labels: area:dev-tools, kind:documentation

#32400 Fix local OpenLineage import in `SQLExecuteQueryOperator`
  airflow/providers/common/sql/operators/sql.py
  tests/providers/common/sql/operators/test_sql_execute.py
Labels: area:providers, provider:Common-sql

#32405 Fix failing main due to new release of jsonschema
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#32401 Add information on ARM MySQL support in Docker images
  docs/docker-stack/changelog.rst
  docs/docker-stack/index.rst
Labels: kind:documentation, area:production-image

#32303 Replace re with re2
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  airflow/api_connexion/endpoints/provider_endpoint.py
  airflow/cli/commands/provider_command.py
  airflow/cli/commands/user_command.py
  airflow/config_templates/default_celery.py
  airflow/configuration.py
  airflow/decorators/base.py
  airflow/kubernetes/pod_generator.py
  airflow/kubernetes/pod_generator_deprecated.py
  airflow/metrics/validators.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/security/utils.py
  airflow/serialization/serde.py
  airflow/utils/cli.py
  airflow/utils/db_cleanup.py
  airflow/utils/email.py
  airflow/utils/file.py
  airflow/utils/log/colored_log.py
  airflow/utils/log/logging_mixin.py
  airflow/utils/log/secrets_masker.py
  airflow/utils/task_group.py
  airflow/www/fab_security/manager.py
  airflow/www/views.py
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
  kubernetes_tests/test_base.py
  tests/utils/log/test_secrets_masker.py
Labels: area:webserver, area:CLI, area:dev-tools, area:logging, area:serialization, area:API, type:bug-fix, area:kubernetes

#32382 Updates health check endpoint to include dag_processor status.
  airflow/api/common/airflow_health.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/health_schema.py
  airflow/www/static/js/types/api-generated.ts
  docs/apache-airflow/administration-and-deployment/logging-monitoring/check-health.rst
  tests/api/common/test_airflow_health.py
Labels: area:webserver, area:API, kind:documentation, area:UI

#32232 Fix BigQuery transfer operators to respect project_id arguments
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  tests/providers/google/cloud/transfers/test_bigquery_to_gcs.py
  tests/providers/google/cloud/transfers/test_gcs_to_bigquery.py
Labels: provider:Google, area:providers

#32235 Refactor SetupTeardownContext Manager
  airflow/decorators/setup_teardown.py
  airflow/models/taskmixin.py
  airflow/utils/setup_teardown.py
  tests/decorators/test_setup_teardown.py
Labels: changelog:skip, AIP-52

#32385 Use WebEncoder to encode DagRun.conf in DagRun's list view
  airflow/www/utils.py
  tests/www/test_utils.py
Labels: area:webserver

#32406 Add explanation about tag creation and cleanup
  docs/apache-airflow/howto/add-dag-tags.rst
Labels: kind:documentation, type:doc-only

#32370 build(pre-commit): check deferrable default value
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/snowflake/operators/snowflake.py
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_setup.svg
  images/breeze/output_setup_check-all-params-in-groups.svg
  images/breeze/output_setup_regenerate-command-images.svg
  images/breeze/output_static-checks.svg
  scripts/ci/pre_commit/pre_commit_check_deferrable_default.py
Labels: area:dev-tools

#32339 Refactor Sqlalchemy queries to 2.0 style (Part 4)
  airflow/cli/commands/connection_command.py
  airflow/secrets/metastore.py
  airflow/www/utils.py
  tests/cli/commands/test_connection_command.py
Labels: area:webserver, area:secrets, full tests needed

#32424 Cover wider set of excluded tests for re2 check
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
Labels: area:dev-tools

#32392 Document cron and delta timetables
  docs/apache-airflow/authoring-and-scheduling/timetable.rst
  docs/apache-airflow/core-concepts/dag-run.rst
Labels: kind:documentation

#32368 Migrating Google AutoML example_dags to sys tests
  tests/system/providers/google/cloud/automl/example_automl_nl_text_classification.py
  tests/system/providers/google/cloud/automl/example_automl_nl_text_sentiment.py
  tests/system/providers/google/cloud/automl/example_automl_translation.py
  tests/system/providers/google/cloud/automl/example_automl_video_intelligence_classification.py
  tests/system/providers/google/cloud/automl/example_automl_video_intelligence_tracking.py
  tests/system/providers/google/cloud/automl/example_automl_vision_object_detection.py
Labels: provider:Google, area:providers, area:system-tests

#32274 Introduce a base class for aws triggers
  airflow/providers/amazon/aws/hooks/athena.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/operators/glue_crawler.py
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  airflow/providers/amazon/aws/sensors/batch.py
  airflow/providers/amazon/aws/sensors/emr.py
  airflow/providers/amazon/aws/triggers/athena.py
  airflow/providers/amazon/aws/triggers/base.py
  airflow/providers/amazon/aws/triggers/batch.py
  airflow/providers/amazon/aws/triggers/ecs.py
  airflow/providers/amazon/aws/triggers/eks.py
  airflow/providers/amazon/aws/triggers/emr.py
  airflow/providers/amazon/aws/triggers/glue_crawler.py
  airflow/providers/amazon/aws/triggers/redshift_cluster.py
  airflow/providers/amazon/provider.yaml
  tests/providers/amazon/aws/operators/test_athena.py
  tests/providers/amazon/aws/operators/test_batch.py
  tests/providers/amazon/aws/operators/test_ecs.py
  tests/providers/amazon/aws/operators/test_eks.py
  tests/providers/amazon/aws/sensors/test_batch.py
  tests/providers/amazon/aws/triggers/test_athena.py
  tests/providers/amazon/aws/triggers/test_base.py
  tests/providers/amazon/aws/triggers/test_batch.py
  tests/providers/amazon/aws/triggers/test_ecs.py
  tests/providers/amazon/aws/triggers/test_eks.py
  tests/providers/amazon/aws/triggers/test_emr.py
  tests/providers/amazon/aws/triggers/test_emr_trigger.py
  tests/providers/amazon/aws/triggers/test_glue.py
  tests/providers/amazon/aws/triggers/test_redshift_cluster.py
Labels: provider:AWS, area:providers

#32386 Remove ability to specify arbitrary hook params in AWS RDS trigger
  airflow/providers/amazon/aws/operators/rds.py
  airflow/providers/amazon/aws/triggers/rds.py
  tests/providers/amazon/aws/triggers/test_rds.py
Labels: provider:AWS, area:providers

#32433 Ignore error on mssql temp removal when cleaning
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
Labels: area:dev-tools

#31736 Give better link to job configuration docs in BigQueryInsertJobOperator
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers

#32366 Support Pydantic 2
  airflow/serialization/pydantic/dag_run.py
  setup.cfg
Labels: area:dependencies

#32436 quick fix on RDS operator to prevent parameter collision
  airflow/providers/amazon/aws/operators/rds.py
Labels: provider:AWS, area:providers

#32306 Moves `AzureBlobStorageToGCSOperator` from Azure to Google provider
  airflow/providers/google/cloud/transfers/azure_blob_to_gcs.py
  airflow/providers/google/provider.yaml
  airflow/providers/microsoft/azure/provider.yaml
  airflow/providers/microsoft/azure/transfers/azure_blob_to_gcs.py
  docs/apache-airflow-providers-google/connections/gcp.rst
  docs/apache-airflow-providers-google/operators/transfer/azure_blob_to_gcs.rst
  docs/apache-airflow-providers-microsoft-azure/redirects.txt
  docs/apache-airflow-providers-microsoft-azure/transfer/azure_blob_to_gcs.rst
  tests/providers/google/cloud/transfers/test_azure_blob_to_gcs.py
  tests/system/providers/google/cloud/azure/example_azure_blob_to_gcs.py
Labels: provider:Google, provider:Azure, area:providers, area:system-tests, kind:documentation

#32440 Fix `cache_control` parameter of upload function in `GCSHook`
  airflow/providers/google/cloud/hooks/gcs.py
  tests/providers/google/cloud/hooks/test_gcs.py
Labels: provider:Google, area:providers

#32441 Bump stale bot version to 8
  .github/workflows/recheck-old-bug-report.yml
Labels: area:dev-tools

#32444 Remove "unknown warning" check in provider verification
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#32447 D205 Support - Providers: Stragglers and New Additions
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/sensors/s3.py
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  airflow/providers/microsoft/azure/transfers/azure_blob_to_gcs.py
Labels: provider:Azure, provider:AWS, area:providers, area:kubernetes

#32446 Add Dag Processor status to cluster activity page.
  airflow/www/static/js/cluster-activity/index.test.tsx
  airflow/www/static/js/cluster-activity/live-metrics/Health.tsx
Labels: area:webserver, area:UI

#32016 Fix an issue that crashes Airflow Webserver when passed invalid private key path to Snowflake
  airflow/providers/snowflake/hooks/snowflake.py
  tests/providers/snowflake/hooks/test_snowflake.py
Labels: area:providers, provider:Snowflake

#32450 D205 Support - Jobs
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
Labels: area:scheduler/executor, area:Triggerer

#32449 D205 Support - Dag Processing
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
Labels: area:scheduler/executor

#32426 fix(helm): dagprocessor livenessProbe include --local and --job-type args
  chart/templates/_helpers.yaml
  helm_tests/airflow_core/test_dag_processor.py
  helm_tests/airflow_core/test_scheduler.py
  helm_tests/airflow_core/test_triggerer.py
Labels: area:helm-chart

#32451 Add elasticsearch to boring-cyborg.yml
  .github/boring-cyborg.yml
Labels: area:dev-tools

#32422 docs(deferring): add type annotation to code examples
  docs/apache-airflow/authoring-and-scheduling/deferring.rst
Labels: kind:documentation

#32454 Fix triggerer HA doc by replacing the hard 30s by new timeout formula
  docs/apache-airflow/authoring-and-scheduling/deferring.rst
Labels: kind:documentation, type:doc-only, use public runners

#32455 Prepare docs for July 2023 RC3 amazon provider
  airflow/providers/amazon/CHANGELOG.rst
  docs/apache-airflow-providers-amazon/commits.rst
Labels: provider:AWS, area:providers, kind:documentation

#32464 Fix installation from local not remote airflow for docs building
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#32461 fix vote email template in provider release doc
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#32463 Auto-detect docker context for breeze commands
  BREEZE.rst
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/main_command.py
  dev/breeze/src/airflow_breeze/params/common_build_params.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/tests/test_docker_command_utils.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_build-docs.svg
  images/breeze/output_ci-image_build.svg
  images/breeze/output_prod-image_build.svg
  images/breeze/output_shell.svg
  images/breeze/output_start-airflow.svg
  images/breeze/output_static-checks.svg
  scripts/ci/docker-compose/base.yml
Labels: area:dev-tools

#30911 Save DAG parsing time if dag is not scheduleable
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: type:improvement, area:core

#32469 Add possibility to skip image check when running static checks
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
Labels: area:dev-tools

#32448 Add deferrable mode to SimpleHttpOperator
  airflow/providers/http/operators/http.py
  airflow/providers/http/provider.yaml
  airflow/providers/http/triggers/__init__.py
  airflow/providers/http/triggers/http.py
  tests/providers/http/operators/test_http.py
  tests/providers/http/triggers/__init__.py
  tests/providers/http/triggers/test_http.py
Labels: area:providers, provider:Protocols

#32457 Adds sftp_sensor decorator
  airflow/providers/sftp/decorators/__init__.py
  airflow/providers/sftp/decorators/sensors/__init__.py
  airflow/providers/sftp/decorators/sensors/sftp.py
  airflow/providers/sftp/provider.yaml
  airflow/providers/sftp/sensors/sftp.py
  docs/apache-airflow-providers-sftp/index.rst
  docs/apache-airflow-providers-sftp/sensors/sftp_sensor.rst
  tests/providers/sftp/decorators/__init__.py
  tests/providers/sftp/decorators/sensors/__init__.py
  tests/providers/sftp/decorators/sensors/test_sftp.py
  tests/providers/sftp/sensors/test_sftp.py
  tests/system/providers/sftp/__init__.py
  tests/system/providers/sftp/example_sftp_sensor.py
Labels: area:providers, area:system-tests, kind:documentation

#32466 Add steps to regenerate back-references to release documentation
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#32176 Add config to disable the 'deserialize' XCom API flag
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  newsfragments/32176.significant.rst
  tests/api_connexion/endpoints/test_xcom_endpoint.py
Labels: area:API

#32473 Fix a space in Breeze message
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
Labels: area:dev-tools

#32475 Remove redundant Operator suffix from sensor name
  airflow/providers/sftp/decorators/sensors/sftp.py
Labels: area:providers

#32118 Fix CLI commands when custom timetable is used
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/task_command.py
  airflow/models/dag.py
  tests/cli/commands/test_dag_command.py
  tests/cli/commands/test_task_command.py
  tests/dags/test_workday_timetable.py
  tests/plugins/test_plugins_manager.py
  tests/plugins/workday.py
Labels: area:CLI

#32453 Add xcom map_index as a filter to xcom endpoint
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/xcom_schema.py
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_xcom_endpoint.py
  tests/api_connexion/schemas/test_xcom_schema.py
  tests/conftest.py
Labels: area:webserver, area:API, type:bug-fix, area:UI

#32478 Allow class name to have leading underscores
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#32494 Switch to the docker context selected automatically
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools

#32496 Move security team details into contributing docs
  .github/SECURITY.md
  CONTRIBUTING.rst
Labels: area:dev-tools

#32502 Documentation readability change
  docs/apache-airflow/installation/index.rst
Labels: kind:documentation

#32439 Add few clarifications to our security policy
  .github/SECURITY.md
Labels: area:dev-tools

#32510 Fix incorrect default on readonly property in our API
  .pre-commit-config.yaml
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:dev-tools, area:API, area:UI

#32511 Restore cloud formation tests because openapi_schema_validator 0.6.0 is released
  tests/providers/amazon/aws/hooks/test_cloud_formation.py
Labels: provider:AWS, area:providers, type:misc/internal

#29462 Deferrable mode for S3ToGCSOperator
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
  airflow/providers/google/cloud/triggers/cloud_storage_transfer_service.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/cloud_storage_transfer_service.rst
  docs/apache-airflow-providers-google/operators/transfer/s3_to_gcs.rst
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/test_cloud_storage_transfer_service_async.py
  tests/providers/google/cloud/transfers/test_s3_to_gcs.py
  tests/providers/google/cloud/triggers/test_cloud_storage_transfer_service.py
  tests/system/providers/google/cloud/gcs/example_s3_to_gcs_async.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#32486 Bugfix GCSToGCSOperator when copy files to folder without wildcard
  airflow/providers/google/cloud/transfers/gcs_to_gcs.py
  docs/apache-airflow-providers-google/operators/transfer/gcs_to_gcs.rst
  tests/providers/google/cloud/transfers/test_gcs_to_gcs.py
  tests/system/providers/google/cloud/gcs/example_gcs_to_gcs.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#32523 Add rich-click options to check if the Breeze images should be generated
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_release-management_generate-providers-metadata.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_sbom_update-sbom-information.svg
  images/breeze/output_testing_tests.svg
Labels: area:dev-tools

#32516 Apache Airflow 2.6.3 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/utils/db.py
  docs/apache-airflow/installation/supported-versions.rst
  docs/spelling_wordlist.txt
  scripts/ci/pre_commit/pre_commit_supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#32517 Chart: Update default Airflow version to 2.6.3
  chart/Chart.yaml
  chart/newsfragments/32517.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#32492 Validate the setup/teardown DAG in one place.
  airflow/models/dag.py
  airflow/utils/setup_teardown.py
  tests/decorators/test_setup_teardown.py
  tests/models/test_dag.py
Labels: AIP-52

#32292 Strip whitespaces from airflow connections form
  airflow/www/forms.py
  tests/www/views/test_views_connection.py
Labels: area:webserver

#32521 More strong typed state conversion
  airflow/api/common/delete_dag.py
  airflow/api/common/mark_tasks.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/dag_processing/processor.py
  airflow/executors/local_executor.py
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/listeners/spec/taskinstance.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/pool.py
  airflow/models/skipmixin.py
  airflow/models/taskinstance.py
  airflow/operators/subdag.py
  airflow/sentry.py
  airflow/ti_deps/deps/dagrun_exists_dep.py
  airflow/ti_deps/deps/not_in_retry_period_dep.py
  airflow/ti_deps/deps/not_previously_skipped_dep.py
  airflow/ti_deps/deps/prev_dagrun_dep.py
  airflow/ti_deps/deps/ready_to_reschedule.py
  airflow/ti_deps/deps/task_not_running_dep.py
  airflow/utils/dot_renderer.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/log_reader.py
  airflow/utils/state.py
  airflow/www/utils.py
  airflow/www/views.py
  dev/perf/scheduler_dag_execution_timing.py
Labels: area:scheduler/executor, area:logging, area:API, area:core-operators

#32328 Append region info to S3ToRedshitOperator if present
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: provider:AWS, area:providers

#32531 remove ferruzzi from collaborators list
  .asf.yaml
Labels: area:dev-tools

#30727 Kubernetes Executor Load Time Optimizations
  airflow/cli/commands/kubernetes_command.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/kubernetes_executor_types.py
  airflow/executors/kubernetes_executor_utils.py
  airflow/kubernetes/kubernetes_helper_functions.py
  tests/executors/test_kubernetes_executor.py
Labels: area:scheduler/executor, area:CLI, area:kubernetes

#32529 Improve the readability of the conn view tests
  tests/www/views/test_views_connection.py
Labels: area:webserver, type:misc/internal

#32474 Refactor Sqlalchemy queries to 2.0 style (Part 5)
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/jobs_command.py
  airflow/cli/commands/rotate_fernet_key_command.py
  airflow/cli/commands/task_command.py
  airflow/cli/commands/variable_command.py
  airflow/models/renderedtifields.py
  airflow/utils/sqlalchemy.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI, full tests needed

#32537 Strong-type single-state enum values
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/models/dagrun.py
  airflow/models/pool.py
  airflow/models/taskinstance.py
  airflow/operators/trigger_dagrun.py
  airflow/sensors/external_task.py
  airflow/ti_deps/dependencies_states.py
  airflow/triggers/external_task.py
Labels: area:scheduler/executor, area:core-operators, area:Triggerer

#32545 Fix get_blobs_list_async method to return BlobProperties
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/provider.yaml
Labels: provider:Azure, area:providers

#32548 Fix a bug in `cli.dags.trigger` command output
  airflow/api/client/local_client.py
  tests/api_experimental/client/test_local_client.py
Labels: area:CLI, area:API, type:bug-fix

#32467 Fix async KPO by waiting pod termination in `execute_complete` before cleanup
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/triggers/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/cncf/kubernetes/triggers/test_pod.py
  tests/providers/google/cloud/triggers/test_kubernetes_engine.py
Labels: provider:Google, area:providers, type:bug-fix, area:kubernetes

#32549 Add JobState for job state constants
  airflow/cli/cli_config.py
  airflow/cli/commands/jobs_command.py
  airflow/jobs/job.py
  airflow/jobs/scheduler_job_runner.py
  airflow/models/taskinstance.py
  airflow/utils/state.py
Labels: area:scheduler/executor, area:CLI

#32428 Add AuthManager.is_logged_in and use it to determine whether a user is logged in
  airflow/api/auth/backend/session.py
  airflow/auth/managers/base_auth_manager.py
  airflow/auth/managers/fab/fab_auth_manager.py
  airflow/www/auth.py
  airflow/www/decorators.py
  airflow/www/extensions/init_security.py
  airflow/www/fab_security/manager.py
  airflow/www/security.py
  airflow/www/templates/airflow/main.html
  airflow/www/templates/appbuilder/navbar_right.html
  airflow/www/views.py
  tests/auh/managers/fab/test_fab_auth_manager.py
  tests/www/test_security.py
Labels: area:webserver, area:API, area:UI, AIP-56

#32562 Fix fetching inventory from s3 for airflow packages
  docs/exts/docs_build/fetch_inventories.py
Labels: kind:documentation

#32559 Removing outdated documentations
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: kind:documentation

#32560 Fix breaking change when Active Directory ID is used as host in WASB
  airflow/providers/microsoft/azure/hooks/wasb.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
Labels: provider:Azure, area:providers

#32564 Remove "--for-production" flag from docs building
  .github/workflows/ci.yml
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  dev/breeze/src/airflow_breeze/utils/publish_docs_builder.py
  dev/provider_packages/build_provider_documentation.sh
  docs/build_docs.py
  docs/conf.py
  docs/exts/airflow_intersphinx.py
  docs/exts/docs_build/dev_index_template.html.jinja2
  docs/exts/docs_build/docs_builder.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_build-docs.svg
Labels: area:dev-tools, kind:documentation

#32532 Add Executors discovery and documentation
  airflow/cli/cli_config.py
  airflow/cli/commands/provider_command.py
  airflow/provider.yaml.schema.json
  airflow/provider_info.schema.json
  airflow/providers/celery/provider.yaml
  airflow/providers_manager.py
  docs/apache-airflow-providers/core-extensions/executors.rst
  docs/exts/executors.rst.jinja2
  docs/exts/operators_and_hooks_ref.py
  scripts/in_container/verify_providers.py
Labels: area:scheduler/executor, area:CLI, area:providers, area:dev-tools, area:helm-chart, kind:documentation, area:kubernetes, provider:Celery

#32556 Organize the release Breeze commands better
  BREEZE.rst
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/commands/minor_release_command.py
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  dev/breeze/src/airflow_breeze/commands/release_command.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/commands/release_management_group.py
  dev/breeze/src/airflow_breeze/configure_rich_click.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_create-minor-branch.svg
  images/breeze/output_release-management_start-rc-process.svg
  images/breeze/output_release-management_start-release.svg
Labels: area:dev-tools

#32570 Allow templates in cleanup.schedule
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_aux/test_cleanup_pods.py
Labels: area:helm-chart

#32456 Bugfix, prevent force of unpause on trigger DAG
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
Labels: kind:bug, area:webserver, priority:medium, area:UI

#32571 Fix permissions on `/blocked` endpoint
  airflow/www/views.py
  tests/www/views/test_views_acl.py
Labels: area:webserver

#32558 Fix `S3ToRedshiftOperator` does not support default values on UPSERT
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: provider:AWS, area:providers

#32536 Add deprecation info to the providers modules and classes docstring
  airflow/providers/apache/drill/operators/drill.py
  airflow/providers/apache/druid/operators/druid_check.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/triggers/kubernetes_pod.py
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/sensors/bigquery.py
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/providers/jdbc/operators/jdbc.py
  airflow/providers/microsoft/azure/sensors/data_factory.py
  airflow/providers/microsoft/azure/sensors/wasb.py
  airflow/providers/microsoft/azure/transfers/local_to_adls.py
  airflow/providers/microsoft/mssql/operators/mssql.py
  airflow/providers/mysql/operators/mysql.py
  airflow/providers/oracle/operators/oracle.py
  airflow/providers/postgres/operators/postgres.py
  airflow/providers/snowflake/operators/snowflake.py
  airflow/providers/sqlite/operators/sqlite.py
  airflow/providers/trino/operators/trino.py
  airflow/providers/vertica/operators/vertica.py
  tests/providers/google/cloud/sensors/test_bigquery.py
Labels: provider:Google, provider:Azure, area:providers, provider:Apache, type:misc/internal, area:kubernetes, provider:Snowflake, provider:Protocols, provider:DBs, provider:trino/presto, provider:elasticsearch

#32578 Add setup/teardown info to grid/graph view
  airflow/utils/dag_edges.py
  airflow/www/static/js/components/Graph/Edge.tsx
  airflow/www/static/js/dag/InstanceTooltip.tsx
  airflow/www/static/js/dag/details/graph/Node.tsx
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/static/js/utils/graph.ts
  airflow/www/views.py
  tests/utils/test_task_group.py
Labels: area:webserver, area:UI

#32579 Fix dags list counts
  airflow/www/views.py
Labels: area:webserver

#32565 Fix rendering of dagRunTimeout
  airflow/www/static/js/components/ViewTimeDelta.tsx
  airflow/www/static/js/dag/details/Dag.tsx
Labels: area:webserver, area:UI

#32538 Fix short circuit operator re teardowns
  airflow/models/baseoperator.py
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: area:core-operators, AIP-52

#32597 Convert pull request template to YAML
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.yml
Labels: area:dev-tools

#32594 Implement the breeze add-back-references command
  BREEZE.rst
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/utils/add_back_references.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_setup_check-all-params-in-groups.svg
  images/breeze/output_setup_regenerate-command-images.svg
Labels: area:dev-tools

#32615 Revert "Convert pull request template to YAML (#32597)"
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.yml
Labels: area:dev-tools

#32612 Add a test to catch regressions in cli run time
  tests/cli/test_cli_parser.py
Labels: area:CLI, use public runners

#32438 Fix Failing ES Remote Logging
  airflow/providers/elasticsearch/log/es_response.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  tests/providers/elasticsearch/log/elasticmock/fake_elasticsearch.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:providers, area:logging, provider:elasticsearch

#32569 Fix returned value when ShortCircuitOperator condition is falsy
  airflow/operators/python.py
  tests/decorators/test_python.py
  tests/decorators/test_short_circuit.py
  tests/operators/test_python.py
Labels: type:bug-fix, area:core-operators

#32613 Revising instructions to run back referencing scripts
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#32623 Fix returned value when ShortCircuitOperator condition is falsy and there is not downstream tasks
  airflow/operators/python.py
Labels: type:bug-fix, area:core-operators

#32624 Add regeneration of breeze help images on commmand option changes.
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_release-management.svg
  images/breeze/output_sbom.svg
Labels: area:dev-tools

#32509 Update type hint for ElasticsearchTaskHandler.es_read to reflect integer usage
  airflow/providers/elasticsearch/log/es_task_handler.py
Labels: area:providers, area:logging, provider:elasticsearch
