Repository apache/airflow, pull requests merged in 2023-03, with the labels that each got.

#29793 Support setup and teardown taskflow taskgroups
  airflow/example_dags/example_setup_teardown.py
  airflow/serialization/serialized_objects.py
  airflow/utils/setup_teardown.py
  airflow/utils/task_group.py
  tests/decorators/test_setup_teardown.py
  tests/serialization/test_dag_serialization.py
  tests/utils/test_setup_teardown.py
Labels: area:serialization, AIP-52

#29797 add num rows affected to Redshift Data API hook
  airflow/providers/amazon/aws/hooks/redshift_data.py
  tests/providers/amazon/aws/hooks/test_redshift_data.py
Labels: provider:AWS, area:providers

#29511 Add Landing Times entry to UI docs
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  docs/apache-airflow/img/landing_times.png
  docs/apache-airflow/ui.rst
Labels: kind:documentation, area:UI

#29827 Lazy load Task Instance logs in UI
  airflow/www/static/js/ti_log.js
Labels: area:webserver, area:UI

#29825 Improve spacing for extra links and grid scrollbar
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/details/taskInstance/ExtraLinks.tsx
  airflow/www/static/js/dag/details/taskInstance/index.tsx
  airflow/www/static/js/dag/grid/index.tsx
Labels: area:webserver, area:UI

#29580 Allow to specify which connection, variable or config are being looked up in the backend using *_lookup_pattern parameters
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/secrets/systems_manager.py
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
  docs/apache-airflow-providers-amazon/secrets-backends/aws-ssm-parameter-store.rst
  docs/apache-airflow/administration-and-deployment/security/secrets/secrets-backend/index.rst
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
  tests/providers/amazon/aws/secrets/test_systems_manager.py
Labels: provider:AWS, area:providers, area:secrets, kind:documentation

#29761 Use waiters in ECS Operators instead of inner sensors
  airflow/providers/amazon/aws/hooks/ecs.py
  airflow/providers/amazon/aws/operators/ecs.py
  airflow/providers/amazon/aws/waiters/ecs.json
  tests/providers/amazon/aws/operators/test_ecs.py
  tests/providers/amazon/aws/waiters/test_custom_waiters.py
Labels: provider:AWS, area:providers

#29413 Add a new graph inside of the grid view
  airflow/www/package.json
  airflow/www/static/declarations.d.ts
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useDatasetDependencies.ts
  airflow/www/static/js/api/useGraphData.ts
  airflow/www/static/js/dag/InstanceTooltip.tsx
  airflow/www/static/js/dag/Main.tsx
  airflow/www/static/js/dag/details/Dag.tsx
  airflow/www/static/js/dag/details/Header.tsx
  airflow/www/static/js/dag/details/dagRun/MarkSuccessRun.tsx
  airflow/www/static/js/dag/details/dagRun/QueueRun.tsx
  airflow/www/static/js/dag/details/dagRun/index.tsx
  airflow/www/static/js/dag/details/graph/Edge.tsx
  airflow/www/static/js/dag/details/graph/Node.tsx
  airflow/www/static/js/dag/details/graph/index.tsx
  airflow/www/static/js/dag/details/graph/utils.ts
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/LogBlock.tsx
  airflow/www/static/js/dag/details/taskInstance/Nav.tsx
  airflow/www/static/js/dag/details/taskInstance/index.tsx
  airflow/www/static/js/dag/grid/index.test.tsx
  airflow/www/static/js/dag/grid/index.tsx
  airflow/www/static/js/dag/index.tsx
  airflow/www/static/js/dag/useSelection.test.tsx
  airflow/www/static/js/dag/useSelection.ts
  airflow/www/static/js/dag/useToggleGroups.ts
  airflow/www/static/js/datasets/Graph/Edge.tsx
  airflow/www/static/js/datasets/Graph/Node.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/static/js/utils/graph.ts
  airflow/www/static/js/utils/index.ts
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
  airflow/www/webpack.config.js
  airflow/www/yarn.lock
Labels: area:webserver, area:UI

#29865 Workaround documentation prooblems for Boto3
  docs/exts/docs_build/third_party_inventories.py
Labels: kind:documentation

#29849 Clear ExecutorLoader cache in tests
  airflow/executors/executor_loader.py
  tests/conftest.py
  tests/executors/test_executor_loader.py
Labels: area:scheduler/executor

#29862 Move sqlalchemy.ext.declarative imports to orm
  airflow/api/common/mark_tasks.py
  airflow/api_connexion/endpoints/log_endpoint.py
  airflow/models/base.py
  airflow/models/connection.py
  airflow/models/dagrun.py
  airflow/models/variable.py
  airflow/settings.py
  airflow/www/fab_security/sqla/models.py
Labels: area:webserver, area:API

#29434 Impovements for RedshiftDataOperator
  airflow/providers/amazon/aws/hooks/redshift_data.py
  airflow/providers/amazon/aws/operators/redshift_data.py
  tests/providers/amazon/aws/operators/test_redshift_data.py
Labels: provider:AWS, area:providers

#29824 Separate classic and taskflow example dags for setup/teardown
  airflow/example_dags/example_setup_teardown.py
  airflow/example_dags/example_setup_teardown_taskflow.py
  tests/www/views/test_views_acl.py
Labels: AIP-52

#29756 DAG list sorting lost when switching page
  airflow/www/utils.py
  airflow/www/views.py
  tests/www/test_utils.py
Labels: area:webserver, type:bug-fix

#29880 Set codeowners for setup/teardown
  .github/CODEOWNERS
Labels: area:dev-tools, AIP-52

#29879 replace tree view with grid view in docs
  docs/apache-airflow/best-practices.rst
Labels: kind:documentation, changelog:skip, type:doc-only

#29876 Correct link to best_practice(s) section
  docs/apache-airflow/howto/dynamic-dag-generation.rst
Labels: kind:documentation

#29816 Fix ref anchor for env var link in Connection how-to doc
  docs/apache-airflow-providers-dbt-cloud/connections.rst
  docs/apache-airflow/cli-and-env-variables-ref.rst
  docs/apache-airflow/howto/connection.rst
Labels: kind:documentation, type:doc-only

#29822 Implement custom boto waiters for some EMR operators
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/utils/waiter.py
  airflow/providers/amazon/aws/waiters/emr.json
  tests/providers/amazon/aws/hooks/test_emr.py
  tests/providers/amazon/aws/operators/test_eks.py
  tests/providers/amazon/aws/operators/test_emr_create_job_flow.py
  tests/providers/amazon/aws/operators/test_emr_notebook_execution.py
  tests/providers/amazon/aws/utils/test_waiter.py
Labels: provider:AWS, area:providers

#29869 Update sftp_to_s3.rst
  docs/apache-airflow-providers-amazon/operators/transfer/sftp_to_s3.rst
Labels: provider:AWS, area:providers, kind:documentation

#29884 Add note about k8s version support
  chart/README.md
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/helm-chart/index.rst
Labels: area:dev-tools, area:helm-chart, kind:documentation

#29871 Fix Amazon ECS Enums
  airflow/providers/amazon/aws/hooks/ecs.py
  airflow/providers/amazon/aws/sensors/ecs.py
  tests/providers/amazon/aws/sensors/test_ecs.py
  tests/providers/amazon/aws/waiters/test_custom_waiters.py
Labels: provider:AWS, area:providers

#29888 Move help message to the google auth code
  airflow/_vendor/daemon/0001-Refactor-_get_candidate_file_descriptor_ranges-to-us.patch
  airflow/_vendor/daemon/module.mk
  airflow/providers/google/common/utils/id_token_credentials.py
  tests/providers/google/common/utils/test_id_token_credentials.py
Labels: provider:Google, area:providers

#29726 Add `CloudSQLCloneInstanceOperator`
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  docs/apache-airflow-providers-google/operators/cloud/cloud_sql.rst
  tests/providers/google/cloud/hooks/test_cloud_sql.py
  tests/providers/google/cloud/operators/test_cloud_sql.py
  tests/system/providers/google/cloud/cloud_sql/example_cloud_sql.py
Labels: provider:Google, area:providers

#29878 Prepare docs for 03/2023 wave of Providers
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/amazon/provider.yaml
  airflow/providers/apache/flink/CHANGELOG.rst
  airflow/providers/apache/flink/provider.yaml
  airflow/providers/apache/livy/CHANGELOG.rst
  airflow/providers/apache/livy/provider.yaml
  airflow/providers/atlassian/jira/CHANGELOG.rst
  airflow/providers/atlassian/jira/provider.yaml
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/provider.yaml
  airflow/providers/common/sql/CHANGELOG.rst
  airflow/providers/common/sql/provider.yaml
  airflow/providers/dbt/cloud/CHANGELOG.rst
  airflow/providers/dbt/cloud/provider.yaml
  airflow/providers/github/CHANGELOG.rst
  airflow/providers/github/provider.yaml
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/provider.yaml
  airflow/providers/hashicorp/CHANGELOG.rst
  airflow/providers/hashicorp/provider.yaml
  airflow/providers/mysql/CHANGELOG.rst
  airflow/providers/mysql/provider.yaml
  airflow/providers/sftp/CHANGELOG.rst
  airflow/providers/sftp/provider.yaml
  airflow/providers/ssh/CHANGELOG.rst
  airflow/providers/ssh/provider.yaml
  airflow/providers/telegram/CHANGELOG.rst
  airflow/providers/yandex/CHANGELOG.rst
  airflow/providers/yandex/provider.yaml
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-apache-flink/commits.rst
  docs/apache-airflow-providers-apache-flink/index.rst
  docs/apache-airflow-providers-apache-livy/commits.rst
  docs/apache-airflow-providers-apache-livy/index.rst
  docs/apache-airflow-providers-atlassian-jira/commits.rst
  docs/apache-airflow-providers-atlassian-jira/index.rst
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
  docs/apache-airflow-providers-common-sql/commits.rst
  docs/apache-airflow-providers-dbt-cloud/commits.rst
  docs/apache-airflow-providers-dbt-cloud/index.rst
  docs/apache-airflow-providers-github/commits.rst
  docs/apache-airflow-providers-github/index.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-google/index.rst
  docs/apache-airflow-providers-hashicorp/commits.rst
  docs/apache-airflow-providers-hashicorp/index.rst
  docs/apache-airflow-providers-mysql/commits.rst
  docs/apache-airflow-providers-mysql/index.rst
  docs/apache-airflow-providers-sftp/commits.rst
  docs/apache-airflow-providers-sftp/index.rst
  docs/apache-airflow-providers-ssh/commits.rst
  docs/apache-airflow-providers-ssh/index.rst
  docs/apache-airflow-providers-telegram/commits.rst
  docs/apache-airflow-providers-telegram/index.rst
  docs/apache-airflow-providers-yandex/commits.rst
  docs/apache-airflow-providers-yandex/index.rst
Labels: provider:Google, provider:AWS, area:providers, provider:Apache, kind:documentation, area:kubernetes, provider:Protocols, provider:DBs, provider:Common-sql, provider:message-apps

#29860 Updating dag run endpoint to 404 if requested dag is inactive
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
Labels: area:API, type:bug-fix

#29863 Fix Python API docs formatting for Common SQL provider
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/common/sql/operators/sql.py
Labels: area:providers, provider:Common-sql

#29898 Normalising the usage of generate_pages
  airflow/www/views.py
Labels: area:webserver

#29896 Update timetable.rst
  docs/apache-airflow/howto/timetable.rst
Labels: kind:documentation

#28869 rewrite polling code for appflow hook
  airflow/providers/amazon/aws/hooks/appflow.py
  airflow/providers/amazon/aws/operators/appflow.py
  tests/providers/amazon/aws/hooks/test_appflow.py
  tests/providers/amazon/aws/operators/test_appflow.py
Labels: provider:AWS, area:providers

#29915 Remove 2 outdated max constraints in Google provider
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/index.rst
  generated/provider_dependencies.json
Labels: provider:Google, area:providers, kind:documentation

#29766 Upgrade FAB to 4.3.0
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/www/extensions/init_appbuilder.py
  airflow/www/fab_security/manager.py
  docs/apache-airflow/administration-and-deployment/security/webserver.rst
  docs/apache-airflow/howto/set-config.rst
  setup.cfg
  setup.py
  tests/conftest.py
  tests/test_utils/www.py
  tests/www/views/conftest.py
  tests/www/views/test_views_log.py
  tests/www/views/test_views_rate_limit.py
Labels: area:webserver, type:misc/internal

#29792 fix: update pgbouncer and pgbouncer-exporter images
  chart/dockerfiles/pgbouncer-exporter/Dockerfile
  chart/dockerfiles/pgbouncer-exporter/build_and_push.sh
  chart/dockerfiles/pgbouncer/Dockerfile
  chart/dockerfiles/pgbouncer/build_and_push.sh
Labels: area:helm-chart, area:production-image

#28336 Fixed hanged KubernetesPodOperator
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, area:kubernetes

#29821 Add a check for not templateable fields
  airflow/serialization/serialized_objects.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, type:misc/internal

#29919 Switch to newer versions of pgbouncer and pgbouncer exporter in chart
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#29905 Align cncf provider file names with AIP-21
  airflow/contrib/operators/__init__.py
  airflow/providers/amazon/aws/operators/eks.py
  airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/provider.yaml
  airflow/providers/cncf/kubernetes/triggers/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/triggers/pod.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  scripts/in_container/verify_providers.py
  tests/always/test_project_structure.py
  tests/kubernetes/test_kubernetes_helper_functions.py
  tests/providers/amazon/aws/operators/test_eks.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/cncf/kubernetes/triggers/test_pod.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/system/providers/cncf/kubernetes/example_kubernetes.py
  tests/system/providers/cncf/kubernetes/example_kubernetes_async.py
Labels: provider:Google, provider:AWS, area:providers, area:system-tests, area:kubernetes

#29908 Fix empty paths in Vault secrets backend
  airflow/providers/hashicorp/secrets/vault.py
  tests/providers/hashicorp/secrets/test_vault.py
Labels: area:providers, area:secrets

#29469 Updates to provider release verification documentation and check_files to produce a more useful Dockerfile
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/check_files.py
Labels: area:dev-tools

#29886 Mask out non-access bits when comparing file modes
  airflow/utils/log/file_task_handler.py
Labels: area:logging

#29518 Google Cloud Providers - Fix _MethodDefault deepcopy failure
  airflow/providers/google/cloud/operators/cloud_base.py
  tests/providers/google/cloud/operators/test_cloud_base.py
Labels: provider:Google, area:providers, area:kubernetes

#29902 Add "BOOLEAN" to type map of MSSQLToGCSOperator and fix incorrect BIT->INT conversion
  airflow/providers/google/cloud/transfers/mssql_to_gcs.py
  tests/providers/google/cloud/transfers/test_mssql_to_gcs.py
Labels: provider:Google, area:providers

#29609 Decouple production executor warning in dags UI
  airflow/executors/base_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/executors/sequential_executor.py
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_kubernetes_executor.py
  tests/executors/test_debug_executor.py
  tests/executors/test_local_kubernetes_executor.py
  tests/executors/test_sequential_executor.py
Labels: area:scheduler/executor, area:webserver, area:kubernetes, area:UI

#29694 `GoogleDriveHook`: Fixing log message + adding more verbose documentation
  airflow/providers/google/suite/hooks/drive.py
  airflow/providers/google/suite/transfers/local_to_drive.py
  tests/providers/google/suite/hooks/test_drive.py
  tests/providers/google/suite/transfers/test_local_to_drive.py
Labels: provider:Google, area:providers

#29906 Move string enum class to utils module + add test
  airflow/providers/amazon/aws/hooks/ecs.py
  airflow/providers/amazon/aws/utils/__init__.py
  tests/providers/amazon/aws/utils/test_utils.py
Labels: provider:AWS, area:providers

#29526 fix: mount kerberos.keytab to worker when enable
  chart/templates/workers/worker-deployment.yaml
  tests/charts/test_kerberos.py
Labels: area:helm-chart

#29928 Make sure DOCKER_BUILDKIT=1 variable is set for all builds
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
Labels: area:dev-env, area:dev-tools, changelog:skip

#29927 Solution to docker errors that may come while running breeze
  BREEZE.rst
Labels: area:dev-tools

#29923 Separate CI Job to run Pytest collection check
  .github/workflows/ci.yml
  CI.rst
  CI_DIAGRAMS.md
Labels: area:dev-tools

#29925 Fix BigQueryToGCSOperator by waiting insert_job result in normal mode
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  tests/providers/google/cloud/transfers/test_bigquery_to_gcs.py
Labels: provider:Google, area:providers

#29446 Scheduler, make stale DAG deactivation threshold configurable instead of using dag processing timeout
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/dag_processing/manager.py
  tests/dag_processing/test_manager.py
Labels: area:scheduler/executor

#29917 Reformat chart templates
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/cleanup/cleanup-serviceaccount.yaml
  chart/templates/configmaps/configmap.yaml
  chart/templates/configmaps/extra-configmaps.yaml
  chart/templates/configmaps/statsd-configmap.yaml
  chart/templates/configmaps/webserver-configmap.yaml
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/templates/dag-processor/dag-processor-serviceaccount.yaml
  chart/templates/redis/redis-networkpolicy.yaml
  chart/templates/redis/redis-service.yaml
  chart/templates/redis/redis-serviceaccount.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/statsd/statsd-networkpolicy.yaml
  chart/templates/statsd/statsd-service.yaml
  chart/templates/statsd/statsd-serviceaccount.yaml
  tests/charts/test_configmap.py
Labels: area:helm-chart

#29947 Use python location in cache key used by Breeze
  .github/actions/breeze/action.yml
Labels: area:dev-tools

#29943 Update first issue comment in boring-cyborg.yml
  .github/boring-cyborg.yml
Labels: area:dev-tools

#29942 Prepare docs for hashicorp ad hoc RC2 release
  airflow/providers/hashicorp/CHANGELOG.rst
  docs/apache-airflow-providers-hashicorp/commits.rst
Labels: area:providers, kind:documentation

#29052 Fix KubernetesPodOperator xcom push when `get_logs=False`
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, area:kubernetes

#29952 Add system tests paths to bot labeling
  .github/boring-cyborg.yml
Labels: area:dev-tools

#29840 DatabricksSubmitRunOperator to support taskflow
  airflow/providers/databricks/operators/databricks.py
  tests/providers/databricks/operators/test_databricks.py
Labels: area:providers, provider:Databricks

#29772 Support deleting the local log files when using remote logging
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/providers/alibaba/cloud/log/oss_task_handler.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
  tests/core/test_logging_config.py
  tests/providers/alibaba/cloud/log/test_oss_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/google/cloud/log/test_gcs_task_handler.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
Labels: provider:Google, provider:Azure, provider:AWS, area:providers, area:logging

#29548 Add `EC2CreateInstanceOperator`, `EC2TerminateInstanceOperator`
  airflow/providers/amazon/aws/operators/ec2.py
  docs/apache-airflow-providers-amazon/operators/ec2.rst
  tests/providers/amazon/aws/operators/test_ec2.py
  tests/system/providers/amazon/aws/example_ec2.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#29964 Update docker image python version to 3.7 in entrypoint.rst
  docs/docker-stack/entrypoint.rst
Labels: kind:documentation, area:production-image, changelog:skip

#29946 Delay ConnectionModelView init until it's accessed
  airflow/www/app.py
  airflow/www/extensions/init_views.py
  airflow/www/forms.py
  airflow/www/views.py
  tests/test_utils/decorators.py
  tests/www/views/test_views_connection.py
Labels: area:webserver

#29776 Add Pydantic-powered ORM models serialization for internal API.
  airflow/jobs/pydantic/__init__.py
  airflow/jobs/pydantic/base_job.py
  airflow/models/pydantic/__init__.py
  airflow/models/pydantic/dag_run.py
  airflow/models/pydantic/dataset.py
  airflow/models/pydantic/taskinstance.py
  airflow/utils/context.pyi
  pyproject.toml
  setup.cfg
  tests/models/test_pydantic_models.py
Labels: area:scheduler/executor, AIP-44

#29954 Add option to show output of `SQLExecuteQueryOperator` in the log
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/common/sql/operators/sql.pyi
Labels: area:providers, provider:Common-sql

#29950 add triggers to provider.yaml schema
  airflow/provider.yaml.schema.json
  airflow/providers/apache/livy/provider.yaml
  airflow/providers/cncf/kubernetes/provider.yaml
  airflow/providers/databricks/provider.yaml
  airflow/providers/dbt/cloud/provider.yaml
  airflow/providers/google/provider.yaml
Labels: provider:Google, area:providers, provider:Apache, area:kubernetes, provider:Databricks

#29970 fix dag docs toggle icon initial angle
  airflow/www/templates/appbuilder/dag_docs.html
Labels: area:webserver, area:UI

#29158 Update pipeline.rst - Fix query in `merge_data()` task
  docs/apache-airflow/tutorial/pipeline.rst
Labels: kind:documentation

#29989 Move typing imports behind TYPE_CHECKING in DbtCloudHook
  airflow/providers/dbt/cloud/hooks/dbt.py
Labels: area:providers

#29171 Added Snowflake provider to the Docker image
  Dockerfile
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/changelog.rst
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
Labels: area:production-image

#29991 Update set-up-database.rst
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation

#29996 Add missing snowflake in `scripts/ci/installed_providers.txt`
  scripts/ci/installed_providers.txt
Labels: area:dev-tools, type:misc/internal

#29995 Add release commands to release management command config
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
Labels: area:dev-tools

#29997 Return error when group is not defined in breeze configuration
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
Labels: area:dev-tools

#29971 Fix some long known Graph View UI problems
  airflow/www/static/js/graph.js
  airflow/www/templates/airflow/graph.html
  airflow/www/views.py
Labels: area:webserver, area:UI

#29956 Fix some new graph bugs
  airflow/www/static/js/dag/details/graph/Node.tsx
  airflow/www/static/js/dag/details/graph/utils.ts
Labels: area:webserver, area:UI

#29944 Fix tags selection in DAGs UI
  airflow/www/static/js/dags.js
Labels: area:webserver, area:UI

#29452 Add support of a different AWS connection for DynamoDB
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  tests/providers/amazon/aws/transfers/test_dynamodb_to_s3.py
Labels: provider:AWS, area:providers

#30006 Add `job_id` to `BigQueryToGCSOperator` templated_fields
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
Labels: provider:Google, area:providers

#29993 Delay Kubernetes import in secret masker
  airflow/utils/log/secrets_masker.py
Labels: area:logging

#29992 Use custom Connexion resolver to load lazily
  airflow/www/extensions/init_views.py
Labels: area:webserver

#30015 Fix some typos in in the DAGs docs
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation

#29850 Fixing broken filter in in /taskinstance/list view
  airflow/models/taskinstance.py
  tests/www/views/test_views.py
Labels: area:webserver

#29838 Remove replicas if KEDA is enabled
  chart/templates/workers/worker-deployment.yaml
  tests/charts/test_worker.py
Labels: area:helm-chart

#29937 Fix location on cloud build operators
  airflow/providers/google/cloud/hooks/cloud_build.py
  airflow/providers/google/cloud/links/cloud_build.py
  airflow/providers/google/cloud/operators/cloud_build.py
  airflow/providers/google/cloud/triggers/cloud_build.py
  tests/providers/google/cloud/hooks/test_cloud_build.py
  tests/providers/google/cloud/operators/test_cloud_build.py
  tests/providers/google/cloud/triggers/test_cloud_build.py
Labels: provider:Google, area:providers

#29981 Fix AzureDataLakeStorageV2Hook with Active Directory authentication
  airflow/providers/microsoft/azure/hooks/data_lake.py
Labels: provider:Azure, area:providers

#29904 Store grid tabs in url params
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/useSelection.ts
Labels: area:webserver, area:UI

#30020 Update documentation for snowflake provider 4.0 breaking change
  airflow/providers/snowflake/CHANGELOG.rst
  airflow/providers/snowflake/operators/snowflake.py
Labels: area:providers, provider:Snowflake

#30008 Don't separate setup/teardowns from normal task
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  airflow/utils/task_group.py
  tests/decorators/test_setup_teardown.py
  tests/serialization/test_dag_serialization.py
Labels: AIP-52

#30031 Clarify optional parameters in Airbyte docstrings
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/operators/airbyte.py
  airflow/providers/airbyte/sensors/airbyte.py
Labels: area:providers

#30027 Fix breeze release management shell expansion
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
Labels: area:dev-tools, changelog:skip

#30037 Document shorter voting policy period in release docs
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#30025 Git clean should work if root owned files are in the working tree
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools, changelog:skip

#30045 Add command to apply the API clients policy
  dev/README_RELEASE_AIRFLOW.md
  dev/airflow-github
Labels: area:dev-tools

#30050 Installing non-editable airflow for constraint generation
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools

#29188 AIP-44 Migrate Dagbag.sync_to_db to internal API.
  airflow/dag_processing/processor.py
  airflow/models/dagbag.py
  tests/models/test_dagbag.py
Labels: area:scheduler/executor

#30051 Introducing hostAliases for airflow webserver and scheduler
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_scheduler.py
  tests/charts/test_webserver.py
Labels: area:helm-chart

#29941 Reformat chart templates part 2
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/_helpers.yaml
  chart/templates/dags-persistent-volume-claim.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/flower/flower-ingress.yaml
  chart/templates/flower/flower-networkpolicy.yaml
  chart/templates/flower/flower-service.yaml
  chart/templates/flower/flower-serviceaccount.yaml
  chart/templates/jobs/create-user-job-serviceaccount.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job-serviceaccount.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/limitrange.yaml
  chart/templates/logs-persistent-volume-claim.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/pgbouncer/pgbouncer-networkpolicy.yaml
  chart/templates/pgbouncer/pgbouncer-poddisruptionbudget.yaml
  chart/templates/pgbouncer/pgbouncer-service.yaml
  chart/templates/pgbouncer/pgbouncer-serviceaccount.yaml
  chart/templates/rbac/pod-cleanup-role.yaml
  chart/templates/rbac/pod-cleanup-rolebinding.yaml
  chart/templates/rbac/pod-launcher-role.yaml
  chart/templates/rbac/pod-launcher-rolebinding.yaml
  chart/templates/rbac/pod-log-reader-role.yaml
  chart/templates/rbac/pod-log-reader-rolebinding.yaml
  chart/templates/rbac/security-context-constraint-rolebinding.yaml
  chart/templates/resourcequota.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/scheduler/scheduler-networkpolicy.yaml
  chart/templates/scheduler/scheduler-poddisruptionbudget.yaml
  chart/templates/scheduler/scheduler-service.yaml
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/secrets/elasticsearch-secret.yaml
  chart/templates/secrets/extra-secrets.yaml
  chart/templates/secrets/fernetkey-secret.yaml
  chart/templates/secrets/flower-secret.yaml
  chart/templates/secrets/kerberos-keytab-secret.yaml
  chart/templates/secrets/metadata-connection-secret.yaml
  chart/templates/secrets/pgbouncer-certificates-secret.yaml
  chart/templates/secrets/pgbouncer-config-secret.yaml
  chart/templates/secrets/pgbouncer-stats-secret.yaml
  chart/templates/secrets/redis-secrets.yaml
  chart/templates/secrets/registry-secret.yaml
  chart/templates/secrets/result-backend-connection-secret.yaml
  chart/templates/secrets/webserver-secret-key-secret.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/triggerer/triggerer-networkpolicy.yaml
  chart/templates/triggerer/triggerer-service.yaml
  chart/templates/triggerer/triggerer-serviceaccount.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/webserver/webserver-ingress.yaml
  chart/templates/webserver/webserver-networkpolicy.yaml
  chart/templates/webserver/webserver-poddisruptionbudget.yaml
  chart/templates/webserver/webserver-service.yaml
  chart/templates/webserver/webserver-serviceaccount.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/templates/workers/worker-kedaautoscaler.yaml
  chart/templates/workers/worker-networkpolicy.yaml
  chart/templates/workers/worker-service.yaml
  chart/templates/workers/worker-serviceaccount.yaml
Labels: area:helm-chart

#30070 Terminate doc build only on third-party sphinx inventories fetching errors
  docs/exts/docs_build/fetch_inventories.py
Labels: kind:documentation

#29801 Add deferrable `AzureDataFactoryPipelineRunStatusSensor`
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/sensors/data_factory.py
  airflow/providers/microsoft/azure/triggers/__init__.py
  airflow/providers/microsoft/azure/triggers/data_factory.py
  docs/apache-airflow-providers-microsoft-azure/operators/adf_run_pipeline.rst
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
  tests/providers/microsoft/azure/sensors/test_azure_data_factory.py
  tests/providers/microsoft/azure/triggers/__init__.py
  tests/providers/microsoft/azure/triggers/test_azure_data_factory.py
  tests/system/providers/microsoft/azure/example_adf_run_pipeline.py
Labels: provider:Azure, area:providers

#29999 Fix db clean command for mysql db
  airflow/utils/db_cleanup.py
Labels: type:bug-fix

#29885 Add filter task upstream/downstream to grid view
  airflow/www/static/js/api/useGraphData.ts
  airflow/www/static/js/api/useGridData.ts
  airflow/www/static/js/dag/details/FilterTasks.tsx
  airflow/www/static/js/dag/details/graph/index.tsx
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/details/taskInstance/Nav.tsx
  airflow/www/static/js/dag/details/taskInstance/index.tsx
  airflow/www/static/js/dag/grid/ResetRoot.tsx
  airflow/www/static/js/dag/nav/FilterBar.tsx
  airflow/www/static/js/dag/useFilters.test.tsx
  airflow/www/static/js/dag/useFilters.tsx
  airflow/www/static/js/utils/graph.ts
  airflow/www/views.py
Labels: area:webserver, type:new-feature, area:UI

#30009 Serialize _is_setup and _is_teardown on tasks
  airflow/models/baseoperator.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, AIP-52

#28850 Add deferrable mode in RedshiftPauseClusterOperator
  .github/workflows/ci.yml
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/redshift_cluster.py
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  airflow/providers/amazon/aws/triggers/__init__.py
  airflow/providers/amazon/aws/triggers/redshift_cluster.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/deferrable.rst
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-amazon/operators/redshift_cluster.rst
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  tests/providers/amazon/aws/deferrable/__init__.py
  tests/providers/amazon/aws/deferrable/hooks/__init__.py
  tests/providers/amazon/aws/deferrable/hooks/test_base_aws.py
  tests/providers/amazon/aws/deferrable/hooks/test_redshift_cluster.py
  tests/providers/amazon/aws/deferrable/triggers/__init__.py
  tests/providers/amazon/aws/deferrable/triggers/test_redshift_cluster.py
  tests/providers/amazon/aws/operators/test_redshift_cluster.py
  tests/providers/amazon/aws/utils/compat.py
Labels: provider:AWS, area:providers

#30060 Simplify **dict
  airflow/providers/hashicorp/hooks/vault.py
Labels: area:providers

#29357 Template extra volumes in helm chart
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/values.yaml
Labels: area:helm-chart

#29378 Add gitSync optional env description
  chart/values.yaml
Labels: area:helm-chart

#30044 Add `AwsToAwsBaseOperator`
  airflow/providers/amazon/aws/transfers/base.py
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/amazon/provider.yaml
  tests/always/test_project_structure.py
  tests/providers/amazon/aws/transfers/test_base.py
  tests/providers/amazon/aws/transfers/test_dynamodb_to_s3.py
Labels: provider:AWS, area:providers

#30100 Add task state hover highlighting to new graph
  airflow/www/static/js/dag/Main.tsx
  airflow/www/static/js/dag/StatusBox.tsx
  airflow/www/static/js/dag/details/graph/Node.test.tsx
  airflow/www/static/js/dag/details/graph/Node.tsx
  airflow/www/static/js/dag/details/graph/index.tsx
  airflow/www/static/js/dag/details/graph/utils.ts
  airflow/www/static/js/dag/details/index.tsx
Labels: area:webserver, area:UI

#30043 Disable ordering DagRuns search result by note
  airflow/www/views.py
Labels: area:webserver

#30035 Support `CloudDataTransferServiceJobStatusSensor` without specifying a `project_id`
  airflow/providers/google/cloud/sensors/cloud_storage_transfer_service.py
  tests/providers/google/cloud/sensors/test_cloud_storage_transfer_service.py
Labels: provider:Google, area:providers

#30103 Format copy of dag run config in grid detail
  airflow/www/static/js/dag/details/dagRun/index.tsx
Labels: area:webserver, area:UI

#29968 Creating SMTP provider
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/smtp/CHANGELOG.rst
  airflow/providers/smtp/__init__.py
  airflow/providers/smtp/hooks/__init__.py
  airflow/providers/smtp/hooks/smtp.py
  airflow/providers/smtp/operators/__init__.py
  airflow/providers/smtp/operators/smtp.py
  airflow/providers/smtp/provider.yaml
  docs/apache-airflow-providers-smtp/commits.rst
  docs/apache-airflow-providers-smtp/connections/smtp.rst
  docs/apache-airflow-providers-smtp/index.rst
  docs/apache-airflow-providers-smtp/installing-providers-from-sources.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/integration-logos/smtp/SMTP.png
  generated/provider_dependencies.json
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  tests/providers/smtp/__init__.py
  tests/providers/smtp/hooks/__init__.py
  tests/providers/smtp/hooks/smtp.py
Labels: area:providers, kind:documentation

#29936 Fix some typos on the kubernetes documentation
  docs/apache-airflow/administration-and-deployment/production-deployment.rst
  docs/apache-airflow/administration-and-deployment/scheduler.rst
Labels: area:scheduler/executor, kind:documentation

#29977 Enhance `SparkKubernetesOperator`
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
  tests/providers/apache/flink/operators/test_flink_kubernetes.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_spark_kubernetes.py
Labels: area:providers, area:kubernetes

#30055 Remove unused key_id variable
  airflow/providers/hashicorp/hooks/vault.py
Labels: area:providers

#30091 Add poll_interval param in BigQueryInsertJobOperator
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers

#30098 Fix spelling mistake in wwwutils.dag_run_link
  airflow/www/utils.py
Labels: area:webserver

#30099 Expose missing params in AzureSynapseHook API docs
  airflow/providers/microsoft/azure/hooks/synapse.py
Labels: provider:Azure, area:providers

#30059 Support creating Datadog connection from the UI and add documentation for this conn
  airflow/providers/datadog/hooks/datadog.py
  airflow/providers/datadog/provider.yaml
  docs/apache-airflow-providers-datadog/connections/datadog.rst
  docs/apache-airflow-providers-datadog/index.rst
Labels: area:providers, kind:documentation

#30068 Add spark3-submit to list of allowed spark-binary values
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/apache/spark/operators/spark_submit.py
  docs/apache-airflow-providers-apache-spark/connections/spark.rst
  tests/providers/apache/spark/hooks/test_spark_submit.py
Labels: area:providers, provider:Apache, kind:documentation

#30080 Bash sensor has an explicit retry code
  airflow/sensors/bash.py
  tests/sensors/test_bash.py
Labels: area:core-operators

#30118 Remove "boilerplate" from all taskflow decorators
  airflow/decorators/base.py
  airflow/decorators/branch_python.py
  airflow/decorators/external_python.py
  airflow/decorators/python.py
  airflow/decorators/python_virtualenv.py
  airflow/decorators/short_circuit.py
  airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  airflow/providers/docker/decorators/docker.py
Labels: area:providers, changelog:skip, area:kubernetes, provider:Docker

#30030 Improve install instruction for test package
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
Labels: area:dev-tools, changelog:skip

#30111 Update Airflow version to 2.5.2
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/api_connexion/openapi/v1.yaml
  airflow/utils/db.py
  chart/Chart.yaml
  chart/newsfragments/30111.significant.rst
  chart/values.schema.json
  chart/values.yaml
  docs/apache-airflow/installation/supported-versions.rst
  newsfragments/29395.significant.rst
  newsfragments/29547.significant.rst
  scripts/ci/pre_commit/pre_commit_supported_versions.py
Labels: area:dev-tools, area:API, kind:documentation, area:production-image

#30123 Ignore error when changing log folder permissions
  airflow/utils/log/file_task_handler.py
Labels: area:logging

#30002 Add capability of iterating locally on constraint files for CI image
  .dockerignore
  Dockerfile.ci
  constraints/README.md
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands_config.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands_config.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  docker-context-files/.README.md
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_ci-image.svg
  images/breeze/output_ci-image_build.svg
  images/breeze/output_prod-image.svg
  images/breeze/output_prod-image_build.svg
  scripts/ci/docker-compose/local.yml
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools

#29786 Handling project location param on async BigQuery dts trigger
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  airflow/providers/google/cloud/operators/bigquery_dts.py
  airflow/providers/google/cloud/triggers/bigquery_dts.py
Labels: provider:Google, area:providers

#30054 Update scripts to make our pgbouncer-related scripts multiplatform
  chart/dockerfiles/pgbouncer-exporter/build_and_push.sh
  chart/dockerfiles/pgbouncer/build_and_push.sh
  chart/newsfragments/30054.significant.rst
Labels: area:helm-chart

#30048 Add a new Airflow conf to specify a SSL ca cert for Kubernetes client
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/kubernetes/kube_client.py
  tests/kubernetes/test_client.py
Labels: area:kubernetes

#29933 Explicit skipped states list for ExternalTaskSensor
  airflow/sensors/external_task.py
  newsfragments/29933.improvement.rst
  tests/sensors/test_external_task_sensor.py
Labels: area:core-operators

#30026 Update workday example
  airflow/example_dags/plugins/workday.py
  docs/apache-airflow/howto/timetable.rst
  tests/timetables/test_workday_timetable.py
Labels: kind:documentation

#30040 Adding more information regarding top level code
  docs/apache-airflow/best-practices.rst
Labels: kind:documentation

#30134 add a describe step on failure in eks system tests
  tests/system/providers/amazon/aws/example_eks_with_fargate_in_one_step.py
  tests/system/providers/amazon/aws/example_eks_with_fargate_profile.py
  tests/system/providers/amazon/aws/example_eks_with_nodegroup_in_one_step.py
  tests/system/providers/amazon/aws/example_eks_with_nodegroups.py
Labels: provider:AWS, area:providers, area:system-tests

#30057 Improve creating Vault connection from the UI and add documentation for this conn
  airflow/providers/hashicorp/hooks/vault.py
  docs/apache-airflow-providers-hashicorp/connections/vault.rst
  docs/apache-airflow-providers-hashicorp/index.rst
  tests/providers/hashicorp/hooks/test_vault.py
Labels: area:providers, kind:documentation

#30133 Add removal of old RCs to RC release process
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
Labels: area:dev-tools

#30138 Remove required validations in Hashicorp Vault conn form
  airflow/providers/hashicorp/hooks/vault.py
Labels: area:providers

#30139 Improve Google provider trigger test
  tests/providers/google/cloud/triggers/test_cloud_build.py
  tests/providers/google/cloud/triggers/test_dataflow.py
  tests/providers/google/cloud/triggers/test_gcs.py
  tests/providers/google/cloud/triggers/test_mlengine.py
Labels: provider:Google, area:providers

#28894 Strip markup from app_name if instance_name_has_markup = True
  airflow/www/app.py
  tests/www/views/test_views_base.py
Labels: area:webserver, type:bug-fix

#30145 Fix typo in SKIP_PROVIDER_TESTS variable name
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools

#30136 Remove duplicate Dag Details code
  airflow/www/static/js/dag/details/Dag.tsx
Labels: area:webserver, area:UI

#30130 Add task.trigger rule to grid_data
  airflow/www/static/js/dag/InstanceTooltip.test.tsx
  airflow/www/static/js/dag/InstanceTooltip.tsx
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/views.py
  tests/www/views/test_views_grid.py
Labels: area:webserver, area:UI

#29832 Add `_on_failure_fail_dagrun` attribute for teardown tasks
  airflow/decorators/setup_teardown.py
  airflow/decorators/task_group.py
  airflow/models/baseoperator.py
  airflow/utils/setup_teardown.py
  airflow/utils/task_group.py
  tests/decorators/test_setup_teardown.py
  tests/serialization/test_dag_serialization.py
Labels: changelog:skip, AIP-52

#30127 Remove redshift async test job
  .github/workflows/ci.yml
  airflow/providers/amazon/provider.yaml
  setup.py
  tests/providers/amazon/aws/deferrable/hooks/test_base_aws.py
  tests/providers/amazon/aws/deferrable/hooks/test_redshift_cluster.py
  tests/providers/amazon/aws/deferrable/triggers/test_redshift_cluster.py
Labels: provider:AWS, area:providers, area:dev-tools

#27106 Fix warning in airflow tasks test command regarding absence of data_interval
  airflow/cli/commands/task_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI

#30126 Helm chart controller annotations
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_cleanup_pods.py
  tests/charts/test_statsd.py
Labels: area:helm-chart

#30132 Add missing `poll_interval` in Bigquery operator
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers

#30156 Push PROD image cache for all python versions
  .github/workflows/ci.yml
Labels: area:dev-tools

#30144 Run separate CI job for latest boto/botocore version when needed
  .github/workflows/ci.yml
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_testing.svg
  images/breeze/output_testing_tests.svg
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  scripts/docker/entrypoint_ci.sh
  tests/providers/amazon/aws/deferrable/hooks/test_base_aws.py
  tests/providers/amazon/aws/deferrable/hooks/test_redshift_cluster.py
  tests/providers/amazon/aws/deferrable/triggers/test_redshift_cluster.py
Labels: provider:AWS, area:providers, area:dev-tools

#30155 organize azure provider.yaml
  airflow/providers/microsoft/azure/provider.yaml
  generated/provider_dependencies.json
  setup.cfg
Labels: provider:Azure, area:providers

#30094 Lazy load serialization modules
  airflow/serialization/serde.py
  airflow/serialization/serializers/bignum.py
  airflow/serialization/serializers/datetime.py
  airflow/serialization/serializers/kubernetes.py
  airflow/serialization/serializers/numpy.py
  airflow/serialization/serializers/timezone.py
  tests/serialization/test_serde.py
Labels: area:serialization, area:API
