Repository apache/airflow, pull requests merged in 2023-11, with the labels that each got.

#35314 Fix small formatting changes from old version of Ruff
  tests/providers/amazon/aws/utils/eks_test_constants.py
  tests/providers/google/cloud/hooks/test_datacatalog.py
  tests/providers/google/cloud/operators/test_datacatalog.py
Labels: provider:google, provider:amazon-aws, area:providers

#35331 Add use_krb5ccache option to SparkSubmitOperator
  airflow/providers/apache/spark/hooks/spark_jdbc.py
  airflow/providers/apache/spark/operators/spark_jdbc.py
  airflow/providers/apache/spark/operators/spark_submit.py
  tests/providers/apache/spark/operators/test_spark_jdbc.py
  tests/providers/apache/spark/operators/test_spark_submit.py
Labels: area:providers, provider:apache-spark

#35309 fix(helm): safer worker pod annotations
  chart/templates/workers/worker-deployment.yaml
  helm_tests/airflow_core/test_worker.py
Labels: area:helm-chart

#35333 Use slightly nicer job name for Non-DB tests in CI
  .github/workflows/ci.yml
Labels: area:dev-tools

#35318 Reuse get_default_azure_credential method from Azure utils for Azure key valut
  airflow/providers/microsoft/azure/secrets/key_vault.py
  tests/providers/microsoft/azure/secrets/test_azure_key_vault.py
Labels: provider:microsoft-azure, area:providers, area:secrets

#35330 add managed identity support to fileshare hook
  airflow/providers/microsoft/azure/hooks/fileshare.py
  docs/apache-airflow-providers-microsoft-azure/connections/azure_fileshare.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#35329 add managed identity support to synapse hook
  airflow/providers/microsoft/azure/hooks/synapse.py
  docs/apache-airflow-providers-microsoft-azure/connections/azure_synapse.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#35327 add managed identity support to azure batch hook
  airflow/providers/microsoft/azure/hooks/batch.py
  docs/apache-airflow-providers-microsoft-azure/connections/azure_batch.rst
  tests/providers/microsoft/azure/hooks/test_azure_batch.py
Labels: provider:microsoft-azure, area:providers, kind:documentation

#35325 add managed identity support to adx hook
  airflow/providers/microsoft/azure/hooks/adx.py
  docs/apache-airflow-providers-microsoft-azure/connections/adx.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#35319 add managed identity support to azure container instance hook
  airflow/providers/microsoft/azure/hooks/base_azure.py
  airflow/providers/microsoft/azure/hooks/container_instance.py
  docs/apache-airflow-providers-microsoft-azure/connections/azure.rst
  tests/providers/microsoft/azure/hooks/test_azure_container_instance.py
Labels: provider:microsoft-azure, area:providers, kind:documentation

#35321 add managed identity support to azure container volume hook
  airflow/providers/microsoft/azure/hooks/container_volume.py
  docs/apache-airflow-providers-microsoft-azure/connections/azure_container_volume.rst
  tests/providers/microsoft/azure/hooks/test_azure_container_volume.py
Labels: provider:microsoft-azure, area:providers, kind:documentation

#35323 add managed identity support to azure cosmos hook
  airflow/providers/microsoft/azure/hooks/cosmos.py
  docs/apache-airflow-providers-microsoft-azure/connections/azure_cosmos.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#35324 add managed identity support to asb hook
  airflow/providers/microsoft/azure/hooks/asb.py
  docs/apache-airflow-providers-microsoft-azure/connections/asb.rst
  tests/providers/microsoft/azure/hooks/test_asb.py
Labels: provider:microsoft-azure, area:providers, kind:documentation

#35326 add managed identity support to wasb hook
  airflow/providers/microsoft/azure/hooks/wasb.py
  docs/apache-airflow-providers-microsoft-azure/connections/wasb.rst
  tests/providers/microsoft/azure/hooks/test_wasb.py
Labels: provider:microsoft-azure, area:providers, kind:documentation

#35320 add managed identity support to azure container registry hook
  airflow/providers/microsoft/azure/hooks/container_registry.py
  docs/apache-airflow-providers-microsoft-azure/connections/acr.rst
  tests/providers/microsoft/azure/hooks/test_azure_container_registry.py
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34985 Improve clear_not_launched_queued_tasks call duration
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes

#35247 Add pyspark decorator
  .pre-commit-config.yaml
  airflow/decorators/__init__.pyi
  airflow/providers/apache/spark/decorators/__init__.py
  airflow/providers/apache/spark/decorators/pyspark.py
  airflow/providers/apache/spark/provider.yaml
  docs/apache-airflow-providers-apache-spark/decorators/pyspark.rst
  docs/apache-airflow-providers-apache-spark/index.rst
  tests/providers/apache/spark/decorators/__init__.py
  tests/providers/apache/spark/decorators/test_pyspark.py
  tests/system/providers/apache/spark/example_pyspark.py
Labels: area:providers, area:dev-tools, kind:documentation, provider:apache-spark

#35336 Upper bound `pendulum` requirement to <3.0
  setup.cfg
Labels: type:misc/internal

#35340 Remove `require_authentication` decorator from security.py
  airflow/api_connexion/security.py
Labels: area:API

#35345 Fix parameter syntax in OpenSearch docstrings
  airflow/providers/opensearch/hooks/opensearch.py
  airflow/providers/opensearch/operators/opensearch.py
Labels: area:providers, provider:opensearch

#35349 Fix parameter syntax in Amazon docstrings
  airflow/providers/amazon/aws/notifications/chime.py
  airflow/providers/amazon/aws/operators/emr.py
Labels: provider:amazon-aws, area:providers

#35203 Move methods used only in FAB from security managers to auth manager
  airflow/auth/managers/base_auth_manager.py
  airflow/auth/managers/fab/cli_commands/role_command.py
  airflow/auth/managers/fab/fab_auth_manager.py
  airflow/auth/managers/fab/security_manager/constants.py
  airflow/auth/managers/fab/security_manager/override.py
  airflow/www/app.py
  airflow/www/extensions/init_appbuilder.py
  airflow/www/extensions/init_auth_manager.py
  airflow/www/security_manager.py
  tests/auth/managers/fab/api_endpoints/test_role_and_permission_endpoint.py
  tests/auth/managers/fab/test_fab_auth_manager.py
  tests/auth/managers/test_base_auth_manager.py
  tests/conftest.py
  tests/test_utils/api_connexion_utils.py
  tests/test_utils/decorators.py
  tests/www/test_security.py
Labels: area:webserver, AIP-56

#34337 Fix pre-mature evaluation of tasks in mapped task group
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/models/test_mappedoperator.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Labels: type:bug-fix

#35359 Fix changelog for Dockerfile with 2.7.3 cherry-pick
  docs/docker-stack/changelog.rst
Labels: kind:documentation, area:production-image

#35237 Update webserver.rst to include information of supported OAuth2 providers
  docs/apache-airflow/security/webserver.rst
Labels: kind:documentation, type:doc-only

#35365 Remove unused `can_read_dags` function from `api_connexion/security.py`
  airflow/api_connexion/security.py
Labels: area:API

#34452 Fix system test for GoogleCalendarToGCSOperator
  tests/system/providers/google/cloud/gcs/example_calendar_to_gcs.py
Labels: provider:google, area:providers, area:system-tests

#35370 Use string python version in Python*Operator(s) tests
  tests/operators/test_python.py
Labels: type:misc/internal, area:core-operators

#35338 Humanise log output about retrieved DAG(s)
  airflow/dag_processing/processor.py
Labels: area:Scheduler, type:misc/internal

#35367 Refactor azure managed identity
  airflow/providers/microsoft/azure/hooks/adx.py
  airflow/providers/microsoft/azure/hooks/asb.py
  airflow/providers/microsoft/azure/hooks/base_azure.py
  airflow/providers/microsoft/azure/hooks/batch.py
  airflow/providers/microsoft/azure/hooks/container_registry.py
  airflow/providers/microsoft/azure/hooks/container_volume.py
  airflow/providers/microsoft/azure/hooks/cosmos.py
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/hooks/data_lake.py
  airflow/providers/microsoft/azure/hooks/fileshare.py
  airflow/providers/microsoft/azure/hooks/synapse.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/utils.py
  tests/providers/microsoft/azure/hooks/test_adx.py
  tests/providers/microsoft/azure/hooks/test_asb.py
  tests/providers/microsoft/azure/hooks/test_azure_batch.py
  tests/providers/microsoft/azure/hooks/test_azure_container_instance.py
  tests/providers/microsoft/azure/hooks/test_azure_cosmos.py
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
  tests/providers/microsoft/azure/hooks/test_azure_data_lake.py
  tests/providers/microsoft/azure/hooks/test_azure_fileshare.py
  tests/providers/microsoft/azure/hooks/test_azure_synapse.py
  tests/providers/microsoft/azure/hooks/test_base_azure.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
  tests/providers/microsoft/azure/test_utils.py
Labels: provider:microsoft-azure, area:providers

#35342 Update dag-run.rst to mention Airflow's support for extended cron syntax through croniter
  docs/apache-airflow/core-concepts/dag-run.rst
Labels: kind:documentation

#35387 Fix `pip` version in the main PROD image of Airflow
  Dockerfile
Labels: area:production-image

#35398 Fix typo - `air-gapPed`
  docs/docker-stack/build.rst
Labels: kind:documentation, area:production-image

#35402 Fixed broken spelling check on gapped
  docs/spelling_wordlist.txt
Labels: kind:documentation

#35378 Add optional exit code to list import errors
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI

#34926 Remove offset-based pagination from `list_jobs` function in `DatabricksHook`
  airflow/providers/databricks/CHANGELOG.rst
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/provider.yaml
Labels: area:providers, provider:databricks

#35400 Improve code coverage for debug executor
  scripts/cov/core_coverage.py
  tests/executors/test_debug_executor.py
Labels: area:dev-tools, area:Executors-core

#35394 add managed identity support to AsyncDefaultAzureCredential
  airflow/providers/microsoft/azure/hooks/adx.py
  airflow/providers/microsoft/azure/hooks/asb.py
  airflow/providers/microsoft/azure/hooks/container_instance.py
  airflow/providers/microsoft/azure/hooks/container_registry.py
  airflow/providers/microsoft/azure/hooks/container_volume.py
  airflow/providers/microsoft/azure/hooks/cosmos.py
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/hooks/data_lake.py
  airflow/providers/microsoft/azure/hooks/fileshare.py
  airflow/providers/microsoft/azure/hooks/synapse.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/secrets/key_vault.py
  airflow/providers/microsoft/azure/utils.py
  tests/providers/microsoft/azure/hooks/test_adx.py
  tests/providers/microsoft/azure/hooks/test_asb.py
  tests/providers/microsoft/azure/hooks/test_azure_container_instance.py
  tests/providers/microsoft/azure/hooks/test_azure_container_registry.py
  tests/providers/microsoft/azure/hooks/test_azure_container_volume.py
  tests/providers/microsoft/azure/hooks/test_azure_cosmos.py
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
  tests/providers/microsoft/azure/hooks/test_azure_synapse.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
  tests/providers/microsoft/azure/secrets/test_azure_key_vault.py
Labels: provider:microsoft-azure, area:providers

#35059 Yandex dataproc deduce default service account
  airflow/providers/yandex/hooks/yandex.py
  airflow/providers/yandex/operators/yandexcloud_dataproc.py
  airflow/providers/yandex/provider.yaml
  tests/providers/yandex/hooks/test_yandex.py
Labels: area:providers, provider:yandex

#35410 Add all airflow images cache
  dev/breeze/src/airflow_breeze/utils/cdxgen.py
Labels: area:dev-tools

#35295 Update Google Ads API version from v14 to v15
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
Labels: provider:google, area:providers

#35406 Improved instructions for adding dependencies in TaskFlow
  docs/apache-airflow/tutorial/taskflow.rst
Labels: kind:documentation

#35207 Use `requires_access_custom_view` for user and roles API endpoints
  airflow/api_connexion/security.py
  airflow/auth/managers/fab/api_endpoints/role_and_permission_endpoint.py
  airflow/auth/managers/fab/api_endpoints/user_endpoint.py
Labels: area:webserver, area:API, kind:documentation, AIP-56

#34669 Add pagination to `HttpOperator` and make it more modular
  airflow/providers/discord/operators/discord_webhook.py
  airflow/providers/http/operators/http.py
  docs/apache-airflow-providers-databricks/connections/databricks.rst
  docs/apache-airflow-providers-http/operators.rst
  docs/apache-airflow/core-concepts/operators.rst
  docs/apache-airflow/tutorial/taskflow.rst
  tests/providers/http/operators/test_http.py
  tests/providers/http/sensors/test_http.py
  tests/system/providers/http/example_http.py
Labels: area:providers, area:system-tests, kind:documentation, type:new-feature, provider:http

#34964 Add task parameter to set custom logger name
  airflow/hooks/base.py
  airflow/models/baseoperator.py
  airflow/serialization/schema.json
  airflow/utils/log/logging_mixin.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/advanced-logging-configuration.rst
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
  tests/hooks/test_base.py
  tests/operators/test_python.py
  tests/providers/docker/hooks/test_docker.py
  tests/serialization/test_dag_serialization.py
  tests/utils/test_logging_mixin.py
Labels: type:new-feature, area:core-operators

#34528 Add a method to find end date for previous success TI
  airflow/models/taskinstance.py
  airflow/operators/python.py
  airflow/utils/context.py
  airflow/utils/context.pyi
  tests/operators/test_python.py
Labels: type:new-feature, area:core

#35405 json data for async PUTs fixed
  airflow/providers/http/hooks/http.py
Labels: area:providers, provider:http

#35420 Add configuration files for yandex
  docs/apache-airflow-providers-yandex/configurations-ref.rst
  docs/apache-airflow-providers-yandex/index.rst
  docs/apache-airflow/configurations-ref.rst
Labels: area:providers, kind:documentation, provider:yandex

#35418 Move ECS Executor to its own file
  airflow/providers/amazon/aws/executors/ecs/__init__.py
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  docs/apache-airflow-providers-amazon/executors/ecs-executor.rst
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: provider:amazon-aws, area:providers, kind:documentation

#35412 ECS Executor Health Check
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  airflow/providers/amazon/aws/executors/ecs/utils.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/executors/ecs-executor.rst
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
Labels: provider:amazon-aws, area:providers

#35413 Expose documentation locally in breeze
  airflow/www/extensions/init_views.py
  airflow/www/views.py
  docs/README.rst
  docs/exts/docs_build/docs_builder.py
Labels: area:webserver, kind:documentation

#35427 Fix quarantined test_trigger_logging_sensitive_info
  tests/jobs/test_triggerer_job.py
Labels: area:Scheduler, type:misc/internal, area:Triggerer

#35428 openlineage, snowflake: fix Snowflake information schema query
  airflow/providers/openlineage/utils/sql.py
  airflow/providers/snowflake/hooks/snowflake.py
  tests/providers/snowflake/operators/test_snowflake_sql.py
Labels: area:providers, provider:snowflake, provider:openlineage

#35423 Remove before_log in KPO retry and add traceback when interrupted
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#35424 Add verification that provider docs are as expected
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  airflow/providers/amazon/provider.yaml
  airflow/providers/cncf/kubernetes/provider.yaml
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  docs/apache-airflow/configurations-ref.rst
  docs/exts/operators_and_hooks_ref.py
  docs/exts/templates/configuration.rst.jinja2
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
  scripts/ci/pre_commit/pre_commit_check_provider_docs.py
Labels: area:dev-tools, kind:documentation

#35429 Fix TriggerDagRunOperator failing to trigger subsequent runs when reset_dag_run=True
  airflow/operators/trigger_dagrun.py
  tests/operators/test_trigger_dagrun.py
Labels: type:bug-fix, area:core-operators

#35438 Optimize PROD image caching in CI
  .github/workflows/ci.yml
  Dockerfile
Labels: area:dev-tools, area:production-image

#35439 Optimize-away PROD image build in many cases
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#35441 Disable verbose in K8S Tests
  .github/workflows/ci.yml
Labels: area:dev-tools

#35440 Bump min `snowflake-connector-python` version
  airflow/providers/snowflake/provider.yaml
  docs/apache-airflow-providers-snowflake/index.rst
  generated/provider_dependencies.json
Labels: area:providers, provider:snowflake

#35444 Fix `common.io' provider missing in tests package
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/tests/test_pytest_args_for_test_types.py
  tests/providers/common/io/__init__.py
Labels: area:providers, area:dev-tools

#35446 Increase timeout for Virtualenv Operator tests
  tests/operators/test_python.py
Labels: area:core-operators

#35286 Bump MySQL Innovation Release to 8.2
  README.md
  dev/breeze/src/airflow_breeze/global_constants.py
  generated/PYPI_README.md
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_setup_config.svg
  images/breeze/output_shell.svg
  images/breeze/output_start-airflow.svg
  images/breeze/output_testing_db-tests.svg
  images/breeze/output_testing_integration-tests.svg
  images/breeze/output_testing_tests.svg
Labels: area:dev-tools

#35386 Drop Postgres 11 support in dev/ci
  CONTRIBUTORS_QUICK_START.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_setup_config.svg
  images/breeze/output_shell.svg
  images/breeze/output_start-airflow.svg
  images/breeze/output_testing_db-tests.svg
  images/breeze/output_testing_integration-tests.svg
  images/breeze/output_testing_tests.svg
Labels: area:dev-tools

#35457 Add mising common.io test_file_transfer.py
  tests/always/test_project_structure.py
  tests/providers/common/io/operators/__init__.py
  tests/providers/common/io/operators/test_file_transfer.py
Labels: area:providers

#35454 Remove submodules specification from checkout steps in GA
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/release_dockerhub_image.yml
  .gitmodules
  dev/breeze/doc/adr/0005-preventing-using-contributed-code-when-building-images.md
  dev/breeze/doc/adr/0010-use-pipx-to-install-breeze.md
  dev/breeze/doc/adr/0013-get-rid-of-submodules.md
Labels: area:dev-tools

#35432 setting use_async=True for get_async_default_azure_credential
  airflow/providers/microsoft/azure/utils.py
  tests/providers/microsoft/azure/test_utils.py
Labels: provider:microsoft-azure, area:providers

#35455 Rename jens-scheffler-bosch to jscheffl
  .asf.yaml
  INTHEWILD.md
Labels: area:dev-tools

#35451 Use constant for empty xcom result sentinel
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#35422 Remove PodLoggingStatus object
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#35458 Improve selectiveness of selective checks for "always/tests" case
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#35459 Skip doc publishing tests in regular PRs
  .github/workflows/ci.yml
Labels: area:dev-tools

#35456 Add support for serialization of iceberg tables
  airflow/serialization/serializers/iceberg.py
  setup.py
  tests/serialization/serializers/test_serializers.py
Labels: area:serialization

#35241 fix changelog of common-io
  airflow/providers/common/io/CHANGELOG.rst
Labels: area:providers

#35453 Refactor DAG_SCRIPT variable in test_trigger_dagrun for readability
  tests/operators/test_trigger_dagrun.py
Labels: area:core-operators

#35462 Add lightweight serialization for deltalake tables
  airflow/serialization/serializers/deltalake.py
  setup.py
  tests/serialization/serializers/test_serializers.py
Labels: area:serialization

#35464 One more if was missing in docs building
  .github/workflows/ci.yml
Labels: area:dev-tools

#35466 Auto-update pre-commit
  .pre-commit-config.yaml
Labels: area:dev-tools

#35467 Move instructions about the link to docs to after all packages
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  docs/exts/docs_build/docs_builder.py
Labels: area:dev-tools, kind:documentation

#35339 Fix query in `get_dag_by_pickle` util function
  airflow/utils/cli.py
  tests/utils/test_cli_util.py
Labels: type:bug-fix

#35472 Chart: Default airflow version to 2.7.3
  chart/Chart.yaml
  chart/newsfragments/34886.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#35477 Remove empty TYPE_CHECKING block into the Azure provider
  airflow/providers/microsoft/azure/utils.py
Labels: provider:microsoft-azure, area:providers, changelog:skip, type:misc/internal

#35391 Fix DagRun data interval for DeltaDataIntervalTimetable
  airflow/timetables/interval.py
  tests/models/test_dag.py
Labels: type:bug-fix

#34921 Add Cohere Provider
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/cohere/.latest-doc-only-change.txt
  airflow/providers/cohere/CHANGELOG.rst
  airflow/providers/cohere/__init__.py
  airflow/providers/cohere/hooks/__init__.py
  airflow/providers/cohere/hooks/cohere.py
  airflow/providers/cohere/operators/__init__.py
  airflow/providers/cohere/operators/embedding.py
  airflow/providers/cohere/provider.yaml
  docs/apache-airflow-providers-cohere/changelog.rst
  docs/apache-airflow-providers-cohere/commits.rst
  docs/apache-airflow-providers-cohere/connections.rst
  docs/apache-airflow-providers-cohere/index.rst
  docs/apache-airflow-providers-cohere/installing-providers-from-sources.rst
  docs/apache-airflow-providers-cohere/operators/embedding.rst
  docs/apache-airflow-providers-cohere/security.rst
  docs/apache-airflow/extra-packages-ref.rst
  generated/provider_dependencies.json
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_publish-docs.svg
  images/breeze/output_sbom_generate-providers-requirements.svg
  tests/providers/cohere/__init__.py
  tests/providers/cohere/hooks/__init__.py
  tests/providers/cohere/hooks/test_cohere.py
  tests/providers/cohere/operators/__init__.py
  tests/providers/cohere/operators/test_embedding.py
  tests/system/providers/cohere/__init__.py
  tests/system/providers/cohere/example_cohere_embedding_operator.py
Labels: area:providers, area:dev-tools, kind:documentation

#34773 Fix AWS RDS hook's DB instance state check
  airflow/providers/amazon/aws/hooks/rds.py
Labels: provider:amazon-aws, area:providers

#35256 Bug fix fetch_callback of Partial Subset DAG
  airflow/models/dag.py
  tests/jobs/test_backfill_job.py
Labels: area:Scheduler

#35480 Merge Amazon S3 tests into the single module
  tests/always/test_project_structure.py
  tests/providers/amazon/aws/operators/test_s3.py
  tests/providers/amazon/aws/operators/test_s3_bucket.py
  tests/providers/amazon/aws/operators/test_s3_bucket_tagging.py
  tests/providers/amazon/aws/operators/test_s3_file_transform.py
  tests/providers/amazon/aws/operators/test_s3_list.py
  tests/providers/amazon/aws/operators/test_s3_list_prefixes.py
  tests/providers/amazon/aws/operators/test_s3_object.py
  tests/providers/amazon/aws/sensors/test_s3.py
  tests/providers/amazon/aws/sensors/test_s3_keys_unchanged.py
Labels: provider:amazon-aws, area:providers, changelog:skip, type:misc/internal

#35060 Add Weaviate Provider
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/weaviate/CHANGELOG.rst
  airflow/providers/weaviate/__init__.py
  airflow/providers/weaviate/hooks/__init__.py
  airflow/providers/weaviate/hooks/weaviate.py
  airflow/providers/weaviate/operators/__init__.py
  airflow/providers/weaviate/operators/weaviate.py
  airflow/providers/weaviate/provider.yaml
  docs/apache-airflow-providers-weaviate/changelog.rst
  docs/apache-airflow-providers-weaviate/commits.rst
  docs/apache-airflow-providers-weaviate/connections.rst
  docs/apache-airflow-providers-weaviate/index.rst
  docs/apache-airflow-providers-weaviate/installing-providers-from-sources.rst
  docs/apache-airflow-providers-weaviate/operators/weaviate.rst
  docs/apache-airflow-providers-weaviate/security.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_publish-docs.svg
  images/breeze/output_sbom_generate-providers-requirements.svg
  tests/providers/weaviate/__init__.py
  tests/providers/weaviate/hooks/__init__.py
  tests/providers/weaviate/hooks/test_weaviate.py
  tests/providers/weaviate/operators/__init__.py
  tests/providers/weaviate/operators/test_weaviate.py
  tests/system/providers/weaviate/__init__.py
  tests/system/providers/weaviate/example_weaviate_operator.py
Labels: area:providers, area:dev-tools, kind:documentation

#35487 Fix Bullseye PROD build step
  .github/actions/build-prod-images/action.yml
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
Labels: area:dev-tools

#35473 Increase timeouts for flaky daskexecutor test
  tests/providers/daskexecutor/test_dask_executor.py
Labels: area:providers, provider:daskexecutor, provider:datadog

#35094 Add Pinecone Provider
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/pinecone/CHANGELOG.rst
  airflow/providers/pinecone/__init__.py
  airflow/providers/pinecone/hooks/__init__.py
  airflow/providers/pinecone/hooks/pinecone.py
  airflow/providers/pinecone/operators/__init__.py
  airflow/providers/pinecone/operators/pinecone.py
  airflow/providers/pinecone/provider.yaml
  docs/apache-airflow-providers-pinecone/changelog.rst
  docs/apache-airflow-providers-pinecone/commits.rst
  docs/apache-airflow-providers-pinecone/connections.rst
  docs/apache-airflow-providers-pinecone/index.rst
  docs/apache-airflow-providers-pinecone/installing-providers-from-sources.rst
  docs/apache-airflow-providers-pinecone/operators/pinecone.rst
  docs/apache-airflow-providers-pinecone/security.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_publish-docs.svg
  images/breeze/output_sbom_generate-providers-requirements.svg
  tests/providers/pinecone/__init__.py
  tests/providers/pinecone/hooks/__init__.py
  tests/providers/pinecone/hooks/test_pinecone.py
  tests/providers/pinecone/operators/__init__.py
  tests/providers/pinecone/operators/test_pinecone.py
  tests/system/providers/pinecone/__init__.py
  tests/system/providers/pinecone/example_dag_pinecone.py
Labels: area:providers, area:dev-tools, kind:documentation

#35475 Enable `TCH004` and `TCH005` rules
  airflow/dag_processing/processor.py
  airflow/models/__init__.py
  airflow/serialization/pydantic/job.py
  airflow/serialization/serialized_objects.py
  pyproject.toml
Labels: area:Scheduler, area:serialization

#35493 Add Pankaj and Amogh to list of self-hoted-runners exceptions
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#35494 Work around typing issue in examples and providers
  airflow/example_dags/plugins/workday.py
  airflow/providers/amazon/aws/transfers/sql_to_s3.py
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/presto/hooks/presto.py
  airflow/providers/salesforce/hooks/salesforce.py
  airflow/providers/slack/transfers/base_sql_to_slack.py
  airflow/providers/slack/transfers/sql_to_slack.py
  airflow/providers/slack/transfers/sql_to_slack_webhook.py
  airflow/providers/trino/hooks/trino.py
  tests/plugins/workday.py
Labels: provider:amazon-aws, area:providers, area:plugins, provider:common-sql, provider:trino, provider:presto, provider:salesforce

#35421 More code coverage for the REST API
  airflow/api_connexion/endpoints/forward_to_fab_endpoint.py
  airflow/api_connexion/schemas/common_schema.py
  scripts/cov/restapi_coverage.py
  tests/api_connexion/endpoints/test_forward_to_fab_endpoint.py
  tests/api_connexion/endpoints/test_xcom_endpoint.py
Labels: area:dev-tools, area:API

#35399 Add pgvector provider implementation
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/pgvector/CHANGELOG.rst
  airflow/providers/pgvector/__init__.py
  airflow/providers/pgvector/hooks/__init__.py
  airflow/providers/pgvector/hooks/pgvector.py
  airflow/providers/pgvector/operators/__init__.py
  airflow/providers/pgvector/operators/pgvector.py
  airflow/providers/pgvector/provider.yaml
  dev/breeze/tests/test_selective_checks.py
  docs/apache-airflow-providers-pgvector/changelog.rst
  docs/apache-airflow-providers-pgvector/commits.rst
  docs/apache-airflow-providers-pgvector/connections.rst
  docs/apache-airflow-providers-pgvector/index.rst
  docs/apache-airflow-providers-pgvector/installing-providers-from-sources.rst
  docs/apache-airflow-providers-pgvector/operators/pgvector.rst
  docs/apache-airflow-providers-pgvector/security.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_publish-docs.svg
  images/breeze/output_sbom_generate-providers-requirements.svg
  tests/providers/pgvector/__init__.py
  tests/providers/pgvector/hooks/__init__.py
  tests/providers/pgvector/hooks/test_pgvector.py
  tests/providers/pgvector/operators/__init__.py
  tests/providers/pgvector/operators/test_pgvector.py
  tests/system/providers/pgvector/__init__.py
  tests/system/providers/pgvector/example_pgvector.py
Labels: area:providers, area:dev-tools, kind:documentation, use public runners

#35503 Add missing "in-workflow-build" check in regular PR workflow
  .github/workflows/ci.yml
Labels: area:dev-tools

#35484 Split AWS Links tests into separate modules
  tests/always/test_project_structure.py
  tests/providers/amazon/aws/links/conftest.py
  tests/providers/amazon/aws/links/test_base.py
  tests/providers/amazon/aws/links/test_base_aws.py
  tests/providers/amazon/aws/links/test_batch.py
  tests/providers/amazon/aws/links/test_emr.py
  tests/providers/amazon/aws/links/test_glue.py
  tests/providers/amazon/aws/links/test_links.py
  tests/providers/amazon/aws/links/test_logs.py
Labels: provider:amazon-aws, area:providers, changelog:skip, type:misc/internal

#35502 Add utils methods in pinecone provider
  airflow/providers/pinecone/hooks/pinecone.py
  docs/spelling_wordlist.txt
  tests/providers/pinecone/hooks/test_pinecone.py
Labels: area:providers

#35023 Add OpenAI Provider
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/openai/CHANGELOG.rst
  airflow/providers/openai/__init__.py
  airflow/providers/openai/hooks/__init__.py
  airflow/providers/openai/hooks/openai.py
  airflow/providers/openai/operators/__init__.py
  airflow/providers/openai/operators/openai.py
  airflow/providers/openai/provider.yaml
  docs/apache-airflow-providers-openai/changelog.rst
  docs/apache-airflow-providers-openai/commits.rst
  docs/apache-airflow-providers-openai/connections.rst
  docs/apache-airflow-providers-openai/index.rst
  docs/apache-airflow-providers-openai/installing-providers-from-sources.rst
  docs/apache-airflow-providers-openai/operators/openai.rst
  docs/apache-airflow-providers-openai/security.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_publish-docs.svg
  images/breeze/output_sbom_generate-providers-requirements.svg
  tests/providers/openai/__init__.py
  tests/providers/openai/hooks/__init__.py
  tests/providers/openai/hooks/test_openai.py
  tests/providers/openai/operators/__init__.py
  tests/providers/openai/operators/test_openai.py
  tests/system/providers/openai/__init__.py
  tests/system/providers/openai/example_openai.py
Labels: area:providers, area:dev-tools, kind:documentation

#35498 Refactor cursor retrieval in PostgresHook.
  airflow/providers/postgres/hooks/postgres.py
Labels: area:providers, provider:postgres

#35461 Optimize Static Checks job for most regular PRs
  .github/workflows/ci.yml
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#35492 Add information about Qubole removal and make it possible to release it
  PROVIDERS.rst
  airflow/provider.yaml.schema.json
  airflow/providers/MANAGING_PROVIDERS_LIFECYCLE.rst
  airflow/providers/SUSPENDING_AND_RESUMING_PROVIDERS.rst
  airflow/providers/apache/hdfs/CHANGELOG.rst
  airflow/providers/apache/pig/CHANGELOG.rst
  airflow/providers/apache/spark/CHANGELOG.rst
  airflow/providers/qubole/CHANGELOG.rst
  airflow/providers/qubole/provider.yaml
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/publish_docs_builder.py
  dev/breeze/src/airflow_breeze/utils/publish_docs_helpers.py
  dev/breeze/src/airflow_breeze/utils/suspended_providers.py
  dev/provider_packages/PROVIDER_INDEX_TEMPLATE.rst.jinja2
  dev/provider_packages/PROVIDER_README_TEMPLATE.rst.jinja2
  dev/provider_packages/prepare_provider_packages.py
  docs/apache-airflow-providers-qubole/index.rst
  docs/apache-airflow-providers/index.rst
  docs/build_docs.py
  docs/conf.py
  docs/exts/docs_build/code_utils.py
  docs/exts/docs_build/dev_index_generator.py
  docs/exts/docs_build/docs_builder.py
  docs/exts/docs_build/package_filter.py
  docs/exts/provider_yaml_utils.py
  images/breeze/output-commands-hash.txt
  scripts/in_container/run_provider_yaml_files_check.py
Labels: area:providers, area:dev-tools, kind:documentation, provider:qubole

#35450 Simplify KPO multi container log reconciliation logic
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#35504 Remove tenacity on KPO logs inner func consume_logs
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#35495 Add missing examples into Slack Provider
  airflow/providers/slack/hooks/slack_webhook.py
  airflow/providers/slack/notifications/slack.py
  airflow/providers/slack/notifications/slack_webhook.py
  airflow/providers/slack/operators/slack.py
  airflow/providers/slack/provider.yaml
  docs/apache-airflow-providers-slack/operators/slack_api.rst
  docs/apache-airflow-providers-slack/operators/slack_operator_howto_guide.rst
  docs/apache-airflow-providers-slack/operators/slack_webhook.rst
  docs/apache-airflow-providers-slack/operators/sql_to_slack_webhook.rst
  docs/apache-airflow-providers-slack/redirects.txt
  tests/always/test_project_structure.py
  tests/system/providers/slack/example_slack_webhook.py
  tests/system/providers/slack/example_sql_to_slack_webhook.py
Labels: area:providers, area:system-tests, kind:documentation, type:doc-only, provider:slack

#35486 Infinite UI redirection loop after deactivating an active user
  airflow/www/extensions/init_security.py
  tests/www/views/test_session.py
Labels: area:webserver, type:bug-fix

#35510 Refresh dependencies for Breeze to latest ones
  BREEZE.rst
  CONTRIBUTORS_QUICK_START.rst
  Dockerfile.ci
  dev/breeze/README.md
  dev/breeze/setup.cfg
  scripts/ci/install_breeze.sh
  scripts/docker/install_pipx_tools.sh
  scripts/tools/setup_breeze
Labels: area:dev-tools

#35514 Update new contributors Slack channel address
  CONTRIBUTING.rst
Labels: area:dev-tools

#35512 Update ECS executor healthcheck with a catchall except
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
Labels: provider:amazon-aws, area:providers

#34839 Helm chart should set AIRFLOW_HOME from airflowHome
  chart/templates/_helpers.yaml
  helm_tests/airflow_aux/test_airflow_common.py
  helm_tests/airflow_core/test_env.py
Labels: area:helm-chart

#35513 Remove outdated parts from docker-compose sample
  docs/apache-airflow/howto/docker-compose/docker-compose.yaml
Labels: kind:documentation

#35505 Allow override of navbar text color
  airflow/config_templates/config.yml
  airflow/www/extensions/init_jinja_globals.py
  airflow/www/templates/airflow/main.html
  tests/www/views/conftest.py
Labels: area:webserver, type:new-feature, area:UI

#34793 Use None instead of empty data structures when no ElasticSearch logs
  airflow/providers/elasticsearch/log/es_response.py
  airflow/providers/elasticsearch/log/es_task_handler.py
Labels: area:providers, area:logging, provider:elasticsearch

#35522 Move Jens Scheffler to committer role
  .asf.yaml
  COMMITTERS.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/apache-airflow/project.rst
Labels: area:dev-tools, kind:documentation

#35521 Add Pankaj Koti to the list of committers in project.rst
  docs/apache-airflow/project.rst
Labels: kind:documentation

#35523 Update the connection for pinecone provider
  airflow/providers/pinecone/hooks/pinecone.py
  docs/apache-airflow-providers-pinecone/connections.rst
Labels: area:providers, kind:documentation

#35520 Adding amoghrajesh as committer
  docs/apache-airflow/project.rst
Labels: kind:documentation

#35312 (AIP-44) Migrate TaskCommand._get_ti to Internal API
  airflow/api/common/experimental/get_task_instance.py
  airflow/cli/commands/task_command.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/utils/log/logging_mixin.py
  airflow/www/views.py
Labels: area:webserver, area:CLI, area:serialization, area:API, AIP-44

#35532 Exclude `pyenv` and `nvm` files from git and Apache Rat
  .gitignore
  .rat-excludes
Labels: area:dev-tools, changelog:skip, type:misc/internal

#35518 Improve error handling in AWS Links
  airflow/providers/amazon/aws/links/base_aws.py
  airflow/providers/amazon/aws/links/emr.py
  tests/providers/amazon/aws/links/test_base_aws.py
  tests/providers/amazon/aws/links/test_emr.py
Labels: provider:amazon-aws, area:providers

#35212 Fix AzureContainerInstanceOperator remove_on_error
  airflow/providers/microsoft/azure/operators/container_instances.py
  tests/providers/microsoft/azure/operators/test_azure_container_instances.py
Labels: provider:microsoft-azure, area:providers

#35496 Log failure reason for containers if a task fails for ECS Executor
  airflow/providers/amazon/aws/executors/ecs/boto_schema.py
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
Labels: provider:amazon-aws, area:providers

#35284 Hide logical date and run id in trigger UI form
  airflow/www/templates/airflow/trigger.html
  airflow/www/templates/appbuilder/dag_docs.html
  docs/apache-airflow/img/trigger-dag-tutorial-form.png
Labels: area:webserver, kind:documentation, type:improvement, area:UI

#35515 Remove FAB related auth methods from security manager to auth manager
  airflow/auth/managers/fab/security_manager/override.py
  airflow/www/security_manager.py
  docs/apache-airflow/security/access-control.rst
Labels: area:webserver, AIP-56

#35539 Avoid initiating SQLAlchemy session twice in dag_next_execution
  airflow/cli/commands/dag_command.py
Labels: area:CLI

#34792 Update es read query to not use body
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/elasticsearch/provider.yaml
  generated/provider_dependencies.json
  tests/providers/elasticsearch/log/elasticmock/fake_elasticsearch.py
  tests/providers/elasticsearch/log/elasticmock/utilities/__init__.py
Labels: area:providers, area:logging, provider:elasticsearch

#35555 Fixed chown : usage in breeze
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools

#35380 Use resource ID to perform fined-grained access in views
  airflow/auth/managers/fab/fab_auth_manager.py
  airflow/auth/managers/models/resource_details.py
  airflow/www/auth.py
  airflow/www/security_manager.py
  airflow/www/views.py
  tests/auth/managers/fab/test_fab_auth_manager.py
  tests/www/test_auth.py
  tests/www/views/test_views.py
  tests/www/views/test_views_dagrun.py
  tests/www/views/test_views_decorators.py
  tests/www/views/test_views_pool.py
  tests/www/views/test_views_tasks.py
  tests/www/views/test_views_variable.py
Labels: area:webserver, AIP-56

#35557 Remove `sqla` module from security manager
  airflow/auth/managers/fab/security_manager/override.py
  airflow/www/fab_security/sqla/__init__.py
  airflow/www/fab_security/sqla/manager.py
  airflow/www/security_manager.py
  airflow/www/utils.py
  airflow/www/views.py
Labels: area:webserver, AIP-56

#35548 Establishing init container + sidecar model for airflow kerberos
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_core/test_worker.py
Labels: area:helm-chart, type:new-feature

#35556 Consolidate and simplify usage of get_available_packages
  BREEZE.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  dev/breeze/src/airflow_breeze/utils/add_back_references.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/general_utils.py
  dev/breeze/src/airflow_breeze/utils/packages.py
  dev/breeze/src/airflow_breeze/utils/publish_docs_helpers.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_general_utils.py
  dev/breeze/tests/test_global_constants.py
  dev/breeze/tests/test_packages.py
  dev/breeze/tests/test_selective_checks.py
  docs/README.rst
  images/breeze/output_build-docs.svg
  images/breeze/output_build-docs.txt
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_add-back-references.txt
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_generate-issue-content-providers.txt
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-documentation.txt
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_prepare-provider-packages.txt
  images/breeze/output_release-management_publish-docs.svg
  images/breeze/output_release-management_publish-docs.txt
  images/breeze/output_release-management_verify-provider-packages.txt
Labels: area:dev-tools, kind:documentation

#35553 Add default to navbar_text_color and rm condition in style
  airflow/config_templates/config.yml
  airflow/www/templates/airflow/main.html
Labels: area:webserver, area:UI

#35574 Fix "Mounting Local Sources to Breeze" documentation
  BREEZE.rst
  TESTING.rst
Labels: area:dev-tools

#34785 Fix the logic of checking dataflow job state
  airflow/providers/google/cloud/hooks/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
Labels: provider:google, area:providers

#34247 Add bandit to pre-commit to detect common security issues
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  airflow/cli/cli_config.py
  airflow/cli/commands/internal_api_command.py
  airflow/providers/cncf/kubernetes/python_kubernetes_script.py
  airflow/providers/ftp/hooks/ftp.py
  airflow/providers/ftp/operators/ftp.py
  airflow/providers/ftp/sensors/ftp.py
  airflow/utils/python_virtualenv.py
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output_static-checks.svg
  images/breeze/output_static-checks.txt
Labels: area:dev-tools

#35568 Make docker decorator's type annotation consistent with operator
  airflow/decorators/__init__.pyi
Labels: type:misc/internal

#35572 Remove `BaseSecurityManager`
  airflow/auth/managers/fab/security_manager/override.py
  airflow/www/extensions/init_appbuilder.py
  airflow/www/fab_security/manager.py
  airflow/www/security_manager.py
Labels: AIP-56

#35560 Fix: Paginate on lastest Response
  airflow/providers/http/operators/http.py
  tests/providers/http/operators/test_http.py
Labels: area:providers, provider:http

#35580 Add documentation about "providers.jdbc" in provider.yaml
  airflow/providers/jdbc/CHANGELOG.rst
  airflow/providers/jdbc/hooks/jdbc.py
  airflow/providers/jdbc/provider.yaml
  docs/apache-airflow-providers-jdbc/configurations-ref.rst
  docs/apache-airflow-providers-jdbc/index.rst
Labels: area:providers, kind:documentation, use public runners, provider:jdbc

#35581 Feature/add templating for PVC storageClassName
  chart/templates/dags-persistent-volume-claim.yaml
  chart/templates/logs-persistent-volume-claim.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  helm_tests/airflow_aux/test_logs_persistent_volume_claim.py
  helm_tests/airflow_core/test_scheduler.py
  helm_tests/airflow_core/test_triggerer.py
  helm_tests/airflow_core/test_worker.py
  helm_tests/other/test_dags_persistent_volume_claim.py
  helm_tests/other/test_redis.py
Labels: area:helm-chart

#35585 Merge AWS DMS tests into the single module
  tests/always/test_project_structure.py
  tests/providers/amazon/aws/hooks/test_dms.py
  tests/providers/amazon/aws/operators/test_dms.py
  tests/providers/amazon/aws/operators/test_dms_create_task.py
  tests/providers/amazon/aws/operators/test_dms_delete_task.py
  tests/providers/amazon/aws/operators/test_dms_describe_tasks.py
  tests/providers/amazon/aws/operators/test_dms_start_task.py
  tests/providers/amazon/aws/operators/test_dms_stop_task.py
  tests/providers/amazon/aws/sensors/test_dms.py
Labels: provider:amazon-aws, area:providers, type:misc/internal

#35181 Fix Scheduler and triggerer crashes in daemon mode when statsd metrics are enabled
  airflow/cli/commands/daemon_utils.py
  airflow/metrics/base_stats_logger.py
Labels: area:CLI, type:bug-fix

#35571 Refactor docker operator attribute validations and docs
  airflow/providers/docker/decorators/docker.py
  airflow/providers/docker/operators/docker.py
  docs/apache-airflow-providers-docker/decorators/docker.rst
  docs/spelling_wordlist.txt
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, kind:documentation, type:misc/internal, provider:docker

#35579 KubernetesExecutor observability Improvements
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Labels: area:providers, provider:cncf-kubernetes

#35460 Make raw HTML descriptions configurable
  airflow/config_templates/config.yml
  airflow/example_dags/example_params_ui_tutorial.py
  airflow/www/utils.py
  airflow/www/views.py
  docs/apache-airflow/core-concepts/params.rst
  newsfragments/35460.significant.rst
  tests/www/test_utils.py
  tests/www/views/test_views_trigger_dag.py
Labels: area:webserver, kind:documentation

#35588 Add comment for elasticsearch connection schema
  chart/values.yaml
Labels: area:helm-chart

#35589 Prepare docs 1st wave of Providers November 2023 (RC2)
  airflow/providers/discord/CHANGELOG.rst
  airflow/providers/http/CHANGELOG.rst
  docs/apache-airflow-providers-discord/commits.rst
  docs/apache-airflow-providers-http/commits.rst
Labels: area:providers, kind:documentation, provider:discord, provider:http

#35590 Bump minimum pre-commit version
  .pre-commit-config.yaml
Labels: area:dev-tools

#34840 Extend papermill operator to support remote kernels
  airflow/providers/papermill/hooks/__init__.py
  airflow/providers/papermill/hooks/kernel.py
  airflow/providers/papermill/operators/papermill.py
  airflow/providers/papermill/provider.yaml
  docs/apache-airflow-providers-papermill/connections/index.rst
  docs/apache-airflow-providers-papermill/connections/jupyter_kernel.rst
  docs/apache-airflow-providers-papermill/index.rst
  docs/apache-airflow-providers-papermill/operators.rst
  generated/provider_dependencies.json
  tests/providers/papermill/hooks/__init__.py
  tests/providers/papermill/hooks/test_kernel.py
  tests/providers/papermill/operators/test_papermill.py
  tests/system/providers/papermill/conftest.py
  tests/system/providers/papermill/example_papermill_remote_verify.py
Labels: area:providers, area:system-tests, provider:papermill
