Repository apache/airflow, pull requests merged in 2023-10, with the labels that each got.

#34684 Change to lazy loading of io in pandas serializer
  airflow/serialization/serializers/pandas.py
Labels: area:serialization

#34127 Remove duplicated logs by reusing PodLogsConsumer
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#34680 Change Dingding (DingTalk) examples and docs
  airflow/providers/dingding/hooks/dingding.py
  airflow/providers/dingding/operators/dingding.py
  airflow/providers/dingding/provider.yaml
  docs/apache-airflow-providers-dingding/operators.rst
  tests/system/providers/dingding/example_dingding.py
Labels: area:providers, area:system-tests, kind:documentation, type:doc-only, provider:dingding

#34652 Add testcases to ensure that 'soft_fail' argument is respected when running ExternalTaskSensor
  tests/sensors/test_external_task_sensor.py
Labels: type:misc/internal, area:core-operators

#34697 Remove hacktoberfest label from project description
  .asf.yaml
Labels: area:dev-tools

#34701 Fix broken breeze by fixing packaging version
  Dockerfile.ci
  dev/breeze/README.md
  dev/breeze/setup.cfg
  scripts/ci/install_breeze.sh
Labels: area:dev-tools

#34696 misc: Fix spelling for `SesssionExemptMixin`
  airflow/www/session.py
Labels: area:webserver, type:misc/internal

#34717 Execlude Chart.yaml from licence check
  .rat-excludes
Labels: area:dev-tools

#34678 Fix LookerHook serialize missing 1 argument error
  airflow/providers/google/cloud/hooks/looker.py
  tests/providers/google/cloud/hooks/test_looker.py
Labels: provider:google, area:providers

#34698 Generate providers requirements based on provider_metadata.json
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
  dev/breeze/src/airflow_breeze/commands/sbom_commands_config.py
  dev/breeze/src/airflow_breeze/utils/cdxgen.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_sbom_generate-providers-requirements.svg
Labels: area:dev-tools, changelog:skip

#34706 allow providing credentials through keyword argument in AzureKeyVaultBackend
  airflow/providers/microsoft/azure/secrets/key_vault.py
  tests/providers/microsoft/azure/secrets/test_azure_key_vault.py
Labels: provider:microsoft-azure, area:providers, area:secrets

#34681 Fix typo in docstring of DataplexGetDataQualityScanResultOperator
  airflow/providers/google/cloud/operators/dataplex.py
Labels: provider:google, area:providers

#34722 Helm chart 1.11 has been released
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  chart/Chart.yaml
Labels: area:dev-tools, area:helm-chart

#34447 Fix Memorystore Memcached system test
  tests/system/providers/google/cloud/cloud_memorystore/example_cloud_memorystore_memcached.py
Labels: provider:google, area:providers, area:system-tests

#34348 Fixed rows count in the migration script
  airflow/utils/db.py
  newsfragments/34348.bugfix.rst
  tests/utils/test_db.py
Labels: type:bug-fix

#34502 Fix system tests for PostgresToGCSOperator and MySQLToGCSOperator
  tests/system/providers/google/cloud/gcs/example_mysql_to_gcs.py
  tests/system/providers/google/cloud/transfers/example_postgres_to_gcs.py
Labels: provider:google, area:providers, area:system-tests

#34711 Parse 'docker context ls --format=json' correctly
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/tests/test_docker_command_utils.py
Labels: area:dev-tools

#34692 Include AWS Lambda execution logs to task logs
  airflow/providers/amazon/aws/hooks/lambda_function.py
  airflow/providers/amazon/aws/operators/lambda_function.py
  tests/providers/amazon/aws/hooks/test_lambda_function.py
  tests/providers/amazon/aws/operators/test_lambda_function.py
Labels: provider:amazon-aws, area:providers

#34603 Allow passing context to DruidDbApiHook
  airflow/providers/apache/druid/hooks/druid.py
  tests/providers/apache/druid/hooks/test_druid.py
Labels: area:providers, provider:apache-druid

#34732 Name params while invoking ClientSecretCredential
  airflow/providers/microsoft/azure/hooks/wasb.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
Labels: provider:microsoft-azure, area:providers

#34739 Order cherrypicking candidates by the closed date
  dev/README_RELEASE_AIRFLOW.md
  dev/airflow-github
Labels: area:dev-tools

#34412 Fix parsing KubernetesPodOperator multiline logs
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#34721 Fix WSGI middleware example in the doc by import AUTH_REMOTE_USER from fab
  docs/apache-airflow/security/webserver.rst
Labels: kind:documentation

#34665 Sqlalchemy 2.0 changes to `DagFileProcessorManager`
  airflow/dag_processing/manager.py
Labels: area:Scheduler, full tests needed, use public runners

#34750 Remove unused TYPE_CHECKING import
  airflow/www/security.py
Labels: area:webserver

#34708 fix rst code block format
  BREEZE.rst
  docs/apache-airflow/howto/docker-compose/index.rst
  docs/apache-airflow/security/webserver.rst
  docs/docker-stack/entrypoint.rst
Labels: area:dev-tools, kind:documentation, area:production-image

#34402 Refactor: consolidate import time in providers
  airflow/providers/alibaba/cloud/operators/analyticdb_spark.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/hooks/elasticache_replication_group.py
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/hooks/redshift_data.py
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/operators/appflow.py
  airflow/providers/apache/livy/operators/livy.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/google/cloud/hooks/cloud_batch.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/google/cloud/operators/dataplex.py
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  airflow/providers/microsoft/azure/operators/container_instances.py
  tests/providers/amazon/aws/hooks/test_batch_client.py
  tests/providers/microsoft/azure/operators/test_azure_container_instances.py
  tests/system/providers/amazon/aws/utils/__init__.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers, area:logging, area:system-tests, provider:elasticsearch, provider:alibaba, provider:apache-livy

#34547 Update define-extra-link.rst
  docs/apache-airflow/howto/define-extra-link.rst
Labels: kind:documentation, type:doc-only

#34763 Refactor Sqlalchemy queries to 2.0 style (Part 9)
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
  airflow/ti_deps/deps/pool_slots_available_dep.py
Labels: area:Scheduler, full tests needed, use public runners

#34638 View util refactoring on mapped stuff use cases
  airflow/www/views.py
Labels: area:webserver, type:misc/internal

#34789 Increase log reader stream loop sleep duration to 1 second
  airflow/utils/log/log_reader.py
Labels: area:logging

#34788 Improve intelligibility of end_of_log determination
  airflow/providers/elasticsearch/log/es_task_handler.py
Labels: area:providers, area:logging, provider:elasticsearch

#34787 fix: pgbouncer connection with useStandardNaming
  chart/templates/secrets/metadata-connection-secret.yaml
  helm_tests/airflow_aux/test_basic_helm_chart.py
Labels: area:helm-chart

#34779 Fix autodetect_docker_context for list of dict case
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/tests/test_docker_command_utils.py
Labels: area:dev-tools

#34040 Upgrade azure-mgmt-datafactory in microsift azure provider
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/microsoft/azure/provider.yaml
  airflow/providers/microsoft/azure/sensors/data_factory.py
  airflow/providers/microsoft/azure/triggers/data_factory.py
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  tests/providers/microsoft/azure/hooks/test_azure_data_factory.py
  tests/providers/microsoft/azure/operators/test_azure_data_factory.py
  tests/providers/microsoft/azure/sensors/test_azure_data_factory.py
Labels: provider:microsoft-azure, area:providers

#34683 Add support for ZoneInfo and generic UTC
  airflow/serialization/serializers/timezone.py
  setup.py
  tests/serialization/serializers/test_serializers.py
Labels: area:serialization

#34800 Do not mock `isinstance` in Amazon Tests
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/hooks/test_emr_containers.py
  tests/providers/amazon/aws/operators/test_cloud_formation.py
  tests/providers/amazon/aws/operators/test_emr_add_steps.py
  tests/providers/amazon/aws/operators/test_emr_containers.py
  tests/providers/amazon/aws/operators/test_emr_create_job_flow.py
  tests/providers/amazon/aws/operators/test_emr_modify_cluster.py
  tests/providers/amazon/aws/operators/test_emr_terminate_job_flow.py
  tests/providers/amazon/aws/sensors/test_cloud_formation.py
  tests/providers/amazon/aws/sensors/test_emr_job_flow.py
  tests/providers/amazon/aws/sensors/test_emr_step.py
Labels: provider:amazon-aws, area:providers, type:misc/internal

#34747 Upgrade watchtower to 3.0.1 (#25019)
  airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/index.rst
  generated/provider_dependencies.json
  tests/providers/amazon/aws/log/test_cloudwatch_task_handler.py
Labels: provider:amazon-aws, area:providers, area:logging, kind:documentation

#34804 zoneinfo.ZoneInfo is not available on < Python 3.9
  airflow/serialization/serializers/timezone.py
Labels: area:serialization

#34378 Refactor consolidate import from io in providers
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/docker/operators/docker.py
  tests/providers/amazon/aws/operators/test_s3_file_transform.py
  tests/providers/amazon/aws/operators/test_s3_object.py
  tests/providers/amazon/aws/system/utils/test_helpers.py
  tests/providers/amazon/aws/utils/test_eks_get_token.py
  tests/providers/apache/pinot/hooks/test_pinot.py
  tests/providers/apache/spark/hooks/test_spark_sql.py
  tests/providers/apache/spark/hooks/test_spark_submit.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
  tests/providers/ftp/hooks/test_ftp.py
  tests/providers/google/cloud/hooks/test_gcs.py
  tests/providers/microsoft/azure/hooks/test_azure_fileshare.py
  tests/providers/sftp/hooks/test_sftp.py
  tests/providers/ssh/hooks/test_ssh.py
  tests/system/providers/amazon/aws/example_lambda.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers, area:logging, area:system-tests, provider:cncf-kubernetes, provider:docker, provider:elasticsearch, provider:ssh, provider:ftp, provider:apache-spark, provider:sftp, provider:qubole, provider:apache-pinot

#34813 docs: remove extraneous '>' in provider section name
  docs/apache-airflow/howto/set-config.rst
Labels: kind:documentation, type:doc-only

#34712 Check if the lower of provided values are sensitives in config endpoint
  airflow/api_connexion/endpoints/config_endpoint.py
  airflow/configuration.py
  tests/api_connexion/endpoints/test_config_endpoint.py
Labels: area:API, type:bug-fix

#34814 Add explanation about audit log users to security model
  docs/apache-airflow/security/security_model.rst
Labels: kind:documentation

#34815 Clarify audit log permissions
  docs/apache-airflow/security/audit_logs.rst
Labels: kind:documentation, type:doc-only

#34741 Fix metadata DB & port in Keda connection when usePgbouncer is false
  chart/templates/secrets/metadata-connection-secret.yaml
  helm_tests/other/test_keda.py
Labels: area:helm-chart

#34812 Add missing `multiple_outputs=True` param in the TaskFlow example
  docs/apache-airflow/core-concepts/taskflow.rst
Labels: kind:documentation

#34810 Remove unused set from `SchedulerJobRunner`
  airflow/jobs/scheduler_job_runner.py
Labels: area:Scheduler

#34710 Add __init__ to params subpackage
  dev/breeze/src/airflow_breeze/params/__init__.py
Labels: area:dev-tools

#34822 Fix Google cloud tests which are incompatible with `aiohttp==3.8.6`
  tests/providers/google/cloud/hooks/test_cloud_sql.py
  tests/providers/google/cloud/hooks/test_datafusion.py
  tests/providers/google/cloud/hooks/test_mlengine.py
Labels: provider:google, area:providers, type:misc/internal

#34462 Fix variables substitution in Airflow Documentation
  docs/conf.py
  docs/docker-stack/build.rst
  docs/exts/extra_files_with_substitutions.py
Labels: kind:documentation, area:production-image, type:misc/internal

#34811 Add `get_ui_field_behaviour()` method to PostgresHook
  airflow/providers/postgres/hooks/postgres.py
  docs/apache-airflow-providers-postgres/connections/postgres.rst
Labels: area:providers, kind:documentation, provider:postgres

#34543 Add Postgres 16 in the CI and Breeze
  README.md
  dev/breeze/src/airflow_breeze/global_constants.py
  generated/PYPI_README.md
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_setup.svg
  images/breeze/output_setup_config.svg
  images/breeze/output_shell.svg
  images/breeze/output_start-airflow.svg
  images/breeze/output_testing_integration-tests.svg
  images/breeze/output_testing_tests.svg
Labels: area:dev-tools

#34759 Fixes python_callable function assignment context kwargs example in params.rst
  docs/apache-airflow/core-concepts/params.rst
Labels: kind:documentation, type:doc-only

#34827 Fixing typo in airflow kerberos
  airflow/security/kerberos.py
  tests/security/test_kerberos.py
Labels: type:doc-only

#34825 Fix redis broker URL with useStandardNaming
  chart/templates/secrets/redis-secrets.yaml
  helm_tests/airflow_aux/test_basic_helm_chart.py
Labels: area:helm-chart

#34738 Bump azure-mgmt-containerinstance
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/hooks/container_instance.py
  airflow/providers/microsoft/azure/operators/container_instances.py
  airflow/providers/microsoft/azure/provider.yaml
  generated/provider_dependencies.json
  tests/providers/microsoft/azure/hooks/test_azure_container_instance.py
Labels: provider:microsoft-azure, area:providers

#34826 Fix the broken file link
  docs/apache-airflow/administration-and-deployment/logging-monitoring/advanced-logging-configuration.rst
  docs/conf.py
Labels: kind:documentation

#34850 Add subnet_ids param in AzureContainerInstancesOperator
  airflow/providers/microsoft/azure/operators/container_instances.py
Labels: provider:microsoft-azure, area:providers

#34866 Add session configuration to deployment manager's responsibilities.
  docs/apache-airflow/security/security_model.rst
Labels: kind:documentation

#34784 Implements `AwsBaseOperator` and `AwsBaseSensor`
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/operators/base_aws.py
  airflow/providers/amazon/aws/sensors/base_aws.py
  airflow/providers/amazon/aws/utils/mixins.py
  airflow/providers/amazon/provider.yaml
  tests/always/test_project_structure.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/operators/test_base_aws.py
  tests/providers/amazon/aws/sensors/test_base_aws.py
Labels: provider:amazon-aws, area:providers

#33406 fix(TimeSensorAsync): use DAG timezone
  airflow/sensors/time_sensor.py
  tests/sensors/test_time_sensor.py
Labels: type:bug-fix, area:core-operators

#34786 Add back decorator `has_access`
  airflow/auth/managers/fab/decorators/__init__.py
  airflow/auth/managers/fab/decorators/auth.py
  airflow/www/auth.py
Labels: area:webserver, changelog:skip, AIP-56

#34870 Add general links about TCP keepalive into AWS Lambda docs
  docs/apache-airflow-providers-amazon/operators/lambda.rst
Labels: provider:amazon-aws, area:providers, kind:documentation

#34871 Docstring correction for `SlackAPIOperator`
  airflow/providers/slack/operators/slack.py
Labels: area:providers, provider:slack

#34643 DatabricksHook ClusterState
  airflow/providers/databricks/hooks/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers, provider:databricks

#34858 REST API: Fix wrong plugin schema
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/plugin_schema.py
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_plugin_endpoint.py
  tests/api_connexion/schemas/test_plugin_schema.py
Labels: area:webserver, area:API, area:UI

#34888 Fix step overriding github actions
  .github/actions/get-target-branch-build-scripts/action.yml
Labels: area:dev-tools

#34545 Fix GCSToGoogleDriveOperator and gdrive system tests
  airflow/providers/google/suite/transfers/gcs_to_gdrive.py
  tests/providers/google/suite/transfers/test_gcs_to_gdrive.py
  tests/system/providers/google/cloud/gcs/example_gcs_to_gdrive.py
  tests/system/providers/google/cloud/gcs/example_gdrive_to_gcs.py
  tests/system/providers/google/cloud/transfers/example_gdrive_to_local.py
  tests/system/providers/google/suite/example_local_to_drive.py
Labels: provider:google, area:providers, area:system-tests

#34886 Chart: Update default airflow version to 2.7.2
  chart/Chart.yaml
  chart/newsfragments/34886.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#34884 Extend hooks arguments into `AwsBaseWaiterTrigger`
  airflow/providers/amazon/aws/triggers/base.py
  tests/providers/amazon/aws/triggers/test_base.py
Labels: provider:amazon-aws, area:providers

#34901 Inline restoring target workflow scripts in the build-images workflow
  .github/actions/get-target-branch-build-scripts/action.yml
  .github/workflows/build-images.yml
Labels: area:dev-tools

#34910 Add missing header into `common.sql` changelog
  airflow/providers/common/sql/CHANGELOG.rst
Labels: area:providers, type:doc-only, provider:common-sql

#34790 Remove unused argument metadata from es_read and make clearly private
  airflow/providers/elasticsearch/CHANGELOG.rst
  airflow/providers/elasticsearch/log/es_task_handler.py
Labels: area:providers, area:logging, provider:elasticsearch

#34514 Refactor DataFusionInstanceLink usage
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/google/cloud/utils/helpers.py
  tests/providers/google/cloud/operators/test_datafusion.py
  tests/providers/google/cloud/utils/test_helpers.py
Labels: provider:google, area:providers

#34627 Error handling for when Azure container log cannot be read in properly.
  airflow/providers/microsoft/azure/hooks/container_instance.py
  airflow/providers/microsoft/azure/operators/container_instances.py
Labels: provider:microsoft-azure, area:providers

#34918 Temporarily disable PyPI constrainst generation
  .github/actions/build-ci-images/action.yml
  .github/workflows/ci.yml
Labels: area:dev-tools

#32779 Fix hardcoded container name in remote logging option for Azure Blob Storage
  airflow/config_templates/airflow_local_settings.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/providers/microsoft/azure/provider.yaml
  docs/apache-airflow-providers-microsoft-azure/configurations-ref.rst
  docs/apache-airflow-providers-microsoft-azure/index.rst
  docs/apache-airflow-providers-microsoft-azure/logging/index.rst
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
Labels: provider:microsoft-azure, area:providers, area:logging, kind:documentation

#34885 Airflow 2.7.2 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  docs/apache-airflow/installation/supported-versions.rst
  newsfragments/34348.bugfix.rst
  scripts/ci/pre_commit/pre_commit_supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#34925 Update dags.rst docs to put SubDag deprecation note right after the SubDag…
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation, type:doc-only

#34911 Update system tests for Google Sheets operators
  tests/system/providers/google/cloud/gcs/example_gcs_to_sheets.py
  tests/system/providers/google/cloud/gcs/example_sheets.py
  tests/system/providers/google/cloud/gcs/example_sheets_to_gcs.py
  tests/system/providers/google/cloud/sql_to_sheets/example_sql_to_sheets.py
Labels: provider:google, area:providers, area:system-tests

#34931 Fix triggerer thread crash in daemon mode
  airflow/cli/commands/triggerer_command.py
Labels: area:CLI, type:bug-fix, area:Triggerer

#34933 D401 Support - WWW
  airflow/www/api/experimental/endpoints.py
  airflow/www/app.py
  airflow/www/auth.py
  airflow/www/decorators.py
  airflow/www/extensions/init_auth_manager.py
  airflow/www/extensions/init_manifest_files.py
  airflow/www/extensions/init_security.py
  airflow/www/fab_security/manager.py
  airflow/www/forms.py
  airflow/www/security_manager.py
  airflow/www/utils.py
  airflow/www/views.py
Labels: area:webserver, area:API

#34939 Return only the TIs of the readable dags when ~ is provided as a dag_id
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/security.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:API

#34938 update moto version
  setup.py
Labels: type:misc/internal

#34944 Fix the dags count filter in webserver home page
  airflow/www/views.py
  tests/www/views/test_views_home.py
Labels: area:webserver

#34952 Fix typo in error message when `render_content` method is not implemented
  docs/exts/operators_and_hooks_ref.py
Labels: kind:documentation, type:misc/internal

#34951 Clean local tags in tag_providers for network issues with Github
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/provider_packages/tag_providers.sh
Labels: area:dev-tools

#34705 Add Open Search Provider
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/opensearch/CHANGELOG.rst
  airflow/providers/opensearch/__init__.py
  airflow/providers/opensearch/hooks/__init__.py
  airflow/providers/opensearch/hooks/opensearch.py
  airflow/providers/opensearch/operators/__init__.py
  airflow/providers/opensearch/operators/opensearch.py
  airflow/providers/opensearch/provider.yaml
  docs/apache-airflow-providers-opensearch/changelog.rst
  docs/apache-airflow-providers-opensearch/commits.rst
  docs/apache-airflow-providers-opensearch/connections/index.rst
  docs/apache-airflow-providers-opensearch/connections/opensearch.rst
  docs/apache-airflow-providers-opensearch/index.rst
  docs/apache-airflow-providers-opensearch/installing-providers-from-sources.rst
  docs/apache-airflow-providers-opensearch/operators/index.rst
  docs/apache-airflow-providers-opensearch/operators/opensearch.rst
  docs/apache-airflow-providers-opensearch/security.rst
  docs/apache-airflow/extra-packages-ref.rst
  docs/integration-logos/opensearch/opensearch.png
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_publish-docs.svg
  images/breeze/output_sbom_generate-providers-requirements.svg
  tests/providers/opensearch/__init__.py
  tests/providers/opensearch/conftest.py
  tests/providers/opensearch/hooks/__init__.py
  tests/providers/opensearch/hooks/test_opensearch.py
  tests/providers/opensearch/operators/__init__.py
  tests/providers/opensearch/operators/test_opensearch.py
  tests/system/providers/opensearch/__init__.py
  tests/system/providers/opensearch/example_opensearch.py
Labels: area:providers, area:dev-tools, area:system-tests, kind:documentation

#34954 Remove sensitive information from Celery executor warning
  airflow/providers/celery/executors/default_celery.py
  tests/providers/celery/executors/test_celery_executor.py
Labels: area:providers, provider:celery

#34912 Update docs errors.rst - Mention sentry "transport" configuration option
  docs/apache-airflow/administration-and-deployment/logging-monitoring/errors.rst
Labels: kind:documentation

#34949 Consolidate the permissions name in SlaMissModelView
  airflow/www/views.py
Labels: area:webserver

#34934 D401 Support - "A" thru Common (Inclusive)
  airflow/providers/amazon/aws/utils/suppress.py
  airflow/providers/asana/hooks/asana.py
  airflow/providers/celery/executors/celery_executor.py
  airflow/providers/celery/executors/celery_executor_utils.py
  airflow/providers/celery/executors/celery_kubernetes_executor.py
  airflow/providers/cloudant/hooks/cloudant.py
  airflow/providers/cncf/kubernetes/backcompat/backwards_compat_converters.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
  airflow/providers/cncf/kubernetes/executors/local_kubernetes_executor.py
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/kube_client.py
  airflow/providers/cncf/kubernetes/kubernetes_helper_functions.py
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/pod_generator.py
  airflow/providers/cncf/kubernetes/pod_generator_deprecated.py
  airflow/providers/cncf/kubernetes/pod_launcher_deprecated.py
  airflow/providers/cncf/kubernetes/python_kubernetes_script.py
  airflow/providers/cncf/kubernetes/secret.py
  airflow/providers/cncf/kubernetes/triggers/pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  airflow/providers/cncf/kubernetes/utils/xcom_sidecar.py
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/common/sql/operators/sql.py
Labels: provider:amazon-aws, area:providers, provider:cncf-kubernetes, provider:common-sql, provider:celery, provider:asana, provider:cloudant

#34935 D401 Support - Providers: DaskExecutor to Github (Inclusive)
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/hooks/databricks_base.py
  airflow/providers/databricks/hooks/databricks_sql.py
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/databricks/operators/databricks_repos.py
  airflow/providers/databricks/operators/databricks_sql.py
  airflow/providers/databricks/sensors/databricks_partition.py
  airflow/providers/databricks/sensors/databricks_sql.py
  airflow/providers/databricks/utils/databricks.py
  airflow/providers/datadog/hooks/datadog.py
  airflow/providers/dbt/cloud/hooks/dbt.py
  airflow/providers/dbt/cloud/operators/dbt.py
  airflow/providers/dbt/cloud/sensors/dbt.py
  airflow/providers/dbt/cloud/triggers/dbt.py
  airflow/providers/dbt/cloud/utils/openlineage.py
  airflow/providers/docker/hooks/docker.py
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/exasol/hooks/exasol.py
  airflow/providers/facebook/ads/hooks/ads.py
  airflow/providers/ftp/hooks/ftp.py
  airflow/providers/ftp/operators/ftp.py
  airflow/providers/github/hooks/github.py
  airflow/providers/github/sensors/github.py
Labels: area:providers, area:logging, provider:databricks, provider:docker, provider:elasticsearch, provider:ftp, provider:dbt-cloud, provider:exasol, provider:facebook, provider:github

#34962 Fix system test GCS to gdrive
  tests/system/providers/google/cloud/gcs/example_gcs_to_gdrive.py
Labels: provider:google, area:providers, area:system-tests

#34957 Cancel workflow in on_kill in DataprocInstantiate{Inline}WorkflowTemplateOperator
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: provider:google, area:providers

#34963 Fix docs building failing on new but not released yet provider
  dev/breeze/src/airflow_breeze/utils/add_back_references.py
Labels: area:dev-tools

#34942 Some improvements/fixes for dag_run and task_instance endpoints
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:API

#34969 `PostgresOperator` should not overwrite `SQLExecuteQueryOperator.template_fields`
  airflow/providers/postgres/operators/postgres.py
  tests/providers/postgres/operators/test_postgres.py
Labels: area:providers, type:bug-fix, provider:postgres

#34905 Update documentation to enable test connection
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  docs/apache-airflow/howto/connection.rst
Labels: area:webserver, kind:documentation, area:UI

#34972 Add `check_interval` and `max_attempts` as parameter of `DynamoDBToS3Operator`
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  tests/system/providers/amazon/aws/example_dynamodb_to_s3.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#34928 Sets EcsRunTaskOperator default waiter duration to 70 days
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:amazon-aws, area:providers

#34807 Glue DataBrew operator
  airflow/providers/amazon/aws/hooks/glue_databrew.py
  airflow/providers/amazon/aws/operators/glue_databrew.py
  airflow/providers/amazon/aws/triggers/glue_databrew.py
  airflow/providers/amazon/aws/waiters/databrew.json
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/glue.rst
  docs/apache-airflow-providers-amazon/operators/glue_databrew.rst
  docs/integration-logos/aws/AWS-Glue-DataBrew_64.png
  tests/providers/amazon/aws/hooks/test_glue_databrew.py
  tests/providers/amazon/aws/operators/test_glue_databrew.py
  tests/providers/amazon/aws/triggers/test_glue_databrew.py
  tests/providers/amazon/aws/waiters/test_glue_databrew.py
  tests/system/providers/amazon/aws/example_glue_databrew.py
Labels: provider:amazon-aws, area:providers, area:system-tests, kind:documentation

#33720 Optimise and migrate to SA2-compatible syntax for TaskReschedule
  airflow/models/taskinstance.py
  airflow/models/taskreschedule.py
  airflow/sensors/base.py
  airflow/ti_deps/deps/ready_to_reschedule.py
  tests/models/test_taskinstance.py
  tests/sensors/test_base.py
  tests/ti_deps/deps/test_ready_to_reschedule_dep.py
Labels: full tests needed, area:core-operators

#34782 Fix _SECRET and _CMD broker configuration
  airflow/providers/celery/executors/celery_executor_utils.py
Labels: area:providers, provider:celery

#34999 Create setup and teardown tasks in AWS system test `example_glue_databrew`
  tests/system/providers/amazon/aws/example_glue_databrew.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#34903 Introduce a generic export for containerized executor logging
  airflow/cli/commands/task_command.py
  airflow/settings.py
  airflow/utils/log/logging_mixin.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI, area:logging

#34932 D401 Support - Sensors, Serialization, and Triggers
  airflow/sensors/external_task.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/triggers/temporal.py
Labels: area:serialization, area:core-operators, area:Triggerer

#34990 Move constraints generation to separate job in CI workflow
  .github/actions/build-ci-images/action.yml
  .github/workflows/ci.yml
  Dockerfile.ci
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/run_generate_constraints.sh
  setup.py
Labels: area:dev-tools

#35001 Quarantine test_cli_run_time
  tests/cli/test_cli_parser.py
Labels: area:CLI

#35004 Bring back source constraints generation for PROD image build
  .github/workflows/build-images.yml
Labels: area:dev-tools

#34922 Migrate legacy version of AI Platform Prediction to VertexAI
  airflow/providers/google/cloud/hooks/vertex_ai/auto_ml.py
  airflow/providers/google/cloud/hooks/vertex_ai/batch_prediction_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/endpoint_service.py
  airflow/providers/google/cloud/hooks/vertex_ai/hyperparameter_tuning_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/model_service.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/google/cloud/operators/vertex_ai/auto_ml.py
  airflow/providers/google/cloud/operators/vertex_ai/batch_prediction_job.py
  airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
  airflow/providers/google/cloud/operators/vertex_ai/endpoint_service.py
  airflow/providers/google/cloud/operators/vertex_ai/hyperparameter_tuning_job.py
  airflow/providers/google/cloud/operators/vertex_ai/model_service.py
  airflow/providers/google/cloud/utils/mlengine_operator_utils.py
  docs/apache-airflow-providers-google/operators/cloud/mlengine.rst
  docs/apache-airflow-providers-google/operators/cloud/vertex_ai.rst
  docs/spelling_wordlist.txt
  tests/always/test_project_structure.py
  tests/providers/google/cloud/hooks/vertex_ai/test_model_service.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
  tests/system/providers/google/cloud/ml_engine/example_mlengine.py
  tests/system/providers/google/cloud/ml_engine/example_mlengine_async.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_auto_ml_video_training.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_model_service.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#34994 Add links between documentation related to Google Cloud Storage
  airflow/providers/google/cloud/operators/gcs.py
  docs/apache-airflow-providers-google/operators/cloud/gcs.rst
  docs/apache-airflow-providers-google/operators/transfer/gcs_to_gcs.rst
Labels: provider:google, area:providers, kind:documentation

#35002 Better parallellise Other/Operator tests
  Dockerfile.ci
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_testing_tests.svg
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#35003 Change type annotation for `BaseOperatorLink.operators`
  airflow/models/baseoperator.py
Labels: full tests needed

#35013 Use constraints generated at preview time rather than regenerate
  .github/workflows/ci.yml
  scripts/ci/constraints/ci_commit_constraints.sh
  scripts/ci/constraints/ci_diff_constraints.sh
  setup.py
Labels: area:dev-tools

#34915 Create operators for VertexAI Pipeline Job
  airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/pipeline_job.py
  airflow/providers/google/cloud/links/vertex_ai.py
  airflow/providers/google/cloud/operators/vertex_ai/pipeline_job.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/vertex_ai.rst
  docs/spelling_wordlist.txt
  tests/providers/google/cloud/hooks/vertex_ai/test_pipeline_job.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
  tests/providers/google/cloud/operators/test_vertex_ai_system.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_pipeline_job.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#35020 Prepare docs 2nd wave of Providers October 2023
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/amazon/__init__.py
  airflow/providers/amazon/provider.yaml
  airflow/providers/celery/CHANGELOG.rst
  airflow/providers/celery/__init__.py
  airflow/providers/celery/provider.yaml
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/__init__.py
  airflow/providers/google/provider.yaml
  airflow/providers/opensearch/CHANGELOG.rst
  airflow/providers/opensearch/__init__.py
  airflow/providers/postgres/CHANGELOG.rst
  airflow/providers/postgres/__init__.py
  airflow/providers/postgres/provider.yaml
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-celery/commits.rst
  docs/apache-airflow-providers-celery/index.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-google/index.rst
  docs/apache-airflow-providers-opensearch/commits.rst
  docs/apache-airflow-providers-opensearch/index.rst
  docs/apache-airflow-providers-postgres/commits.rst
  docs/apache-airflow-providers-postgres/index.rst
Labels: provider:google, provider:amazon-aws, area:providers, kind:documentation, provider:celery, provider:postgres

#35031 Add opensearch to boring-cyborg.yml
  .github/boring-cyborg.yml
Labels: area:dev-tools

#35029 Upgrade `pip` to 23.3
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  scripts/docker/common.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#35022 Fix `get_plugin_info` for class based listeners.
  airflow/plugins_manager.py
  tests/cli/commands/test_plugins_command.py
  tests/plugins/test_plugin.py
  tests/plugins/test_plugins_manager.py
Labels: area:CLI, area:plugins

#33355 Add Python Virtualenv Operator Caching
  airflow/decorators/__init__.pyi
  airflow/operators/python.py
  docs/apache-airflow/howto/operator/python.rst
  tests/operators/test_python.py
Labels: kind:documentation, type:new-feature, area:core-operators

#35028 Update gcs.py Create and List comment Examples
  airflow/providers/google/cloud/operators/gcs.py
Labels: provider:google, area:providers

#35040 Add missing dependency generate-constraints => build prod image
  .github/workflows/ci.yml
Labels: area:dev-tools

#35042 Fix update-constraints command examples
  dev/MANUALLY_GENERATING_IMAGE_CACHE_AND_CONSTRAINTS.md
Labels: area:dev-tools

#34647 Move cli's Connection export and Variable export command print logic to a seprate function
  airflow/auth/managers/fab/cli_commands/user_command.py
  airflow/cli/commands/connection_command.py
  airflow/cli/commands/variable_command.py
  airflow/cli/utils.py
Labels: area:CLI

#35054 Pre-upgrade `ruff==0.0.292` changes in tests
  tests/always/test_connection.py
  tests/charts/helm_template_generator.py
  tests/core/test_stats.py
  tests/models/test_param.py
  tests/operators/test_bash.py
  tests/utils/test_log_handlers.py
Labels: type:misc/internal, area:core-operators

#35055 Pre-upgrade `ruff==0.0.292` changes in dev
  scripts/ci/pre_commit/pre_commit_chart_schema.py
Labels: area:dev-tools, type:misc/internal

#35065 Add comment explaining that commits.rst is generated
  dev/provider_packages/PROVIDER_COMMITS_TEMPLATE.rst.jinja2
Labels: area:dev-tools

#35066 Bump ruff to v0.0.292
  .pre-commit-config.yaml
  dev/airflow-github
  pyproject.toml
Labels: area:dev-tools, type:misc/internal

#35067 Use short packages names for non-providers packages
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/general_utils.py
  dev/breeze/tests/test_general_utils.py
Labels: area:dev-tools

#35068 Use arguments inestead of --package-filter option for build docs in CI
  .github/workflows/ci.yml
  dev/breeze/SELECTIVE_CHECKS.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#34862 Add description to pools view
  airflow/www/templates/airflow/pool_list.html
  airflow/www/views.py
  tests/www/views/test_views_pool.py
Labels: area:webserver, type:improvement

#34913 Add extra fields to plugins endpoint
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/plugin_schema.py
  airflow/plugins_manager.py
  airflow/www/static/js/types/api-generated.ts
  airflow/www/views.py
  tests/api_connexion/endpoints/test_plugin_endpoint.py
  tests/api_connexion/schemas/test_plugin_schema.py
  tests/cli/commands/test_plugins_command.py
Labels: area:webserver, area:plugins, area:API, area:UI

#35069 Handle "all-providers" when building documentation
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/general_utils.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management_publish-docs.svg
Labels: area:dev-tools

#35075 Fixing Task dependency upstream/downstream setting error
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation

#34890 Use base classes for AWS Lambda Operators/Sensors
  airflow/providers/amazon/aws/operators/base_aws.py
  airflow/providers/amazon/aws/operators/lambda_function.py
  airflow/providers/amazon/aws/sensors/base_aws.py
  airflow/providers/amazon/aws/sensors/lambda_function.py
  airflow/providers/amazon/aws/triggers/lambda_function.py
  airflow/providers/amazon/aws/utils/mixins.py
  docs/apache-airflow-providers-amazon/_partials/generic_parameters.rst
  docs/apache-airflow-providers-amazon/connections/aws.rst
  docs/apache-airflow-providers-amazon/operators/lambda.rst
  tests/providers/amazon/aws/operators/test_lambda_function.py
  tests/providers/amazon/aws/sensors/test_lambda_function.py
  tests/providers/amazon/aws/utils/test_mixins.py
Labels: provider:amazon-aws, area:providers, kind:documentation

#34924 Move Rest API auth related methods to FAB auth manager
  airflow/api/auth/backend/basic_auth.py
  airflow/api/auth/backend/kerberos_auth.py
  airflow/auth/managers/fab/api/__init__.py
  airflow/auth/managers/fab/api/auth/__init__.py
  airflow/auth/managers/fab/api/auth/backend/__init__.py
  airflow/auth/managers/fab/api/auth/backend/basic_auth.py
  airflow/auth/managers/fab/api/auth/backend/kerberos_auth.py
  airflow/auth/managers/fab/security_manager/override.py
  airflow/www/fab_security/manager.py
  tests/test_utils/www.py
  tests/www/views/test_session.py
Labels: area:webserver, area:API, use public runners, AIP-56

#35088 Run constraint branch checkout in non-canary build
  .github/workflows/ci.yml
Labels: area:dev-tools

#34185 Refactor string splitting
  airflow/providers/amazon/aws/hooks/s3.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  scripts/in_container/verify_providers.py
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/test_utils/get_all_tests.py
Labels: provider:amazon-aws, area:providers, area:dev-tools

#35087 Fix CI's docs filter generation
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools, type:misc/internal

#34287 Remove `mysql-connector-python` from recommended MySQL driver
  docs/apache-airflow/howto/set-up-database.rst
Labels: kind:documentation

#35092 Describe workaround to packaging 23.2 breaking pipx local detection
  BREEZE.rst
  CONTRIBUTORS_QUICK_START.rst
  CONTRIBUTORS_QUICK_START_GITPOD.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/breeze/README.md
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/reinstall.py
Labels: area:dev-tools

#35043 Add decorators for external and venv python branching operators
  airflow/decorators/__init__.py
  airflow/decorators/__init__.pyi
  airflow/decorators/branch_external_python.py
  airflow/decorators/branch_virtualenv.py
  airflow/example_dags/example_branch_operator.py
  airflow/example_dags/example_branch_operator_decorator.py
  airflow/operators/python.py
  docs/apache-airflow/core-concepts/dags.rst
  docs/apache-airflow/howto/operator/python.rst
  tests/decorators/test_branch_external_python.py
  tests/decorators/test_branch_virtualenv.py
  tests/jobs/test_backfill_job.py
Labels: kind:documentation, type:new-feature, area:core-operators

#34386 Add use_krb5ccache option to SparkSubmitHook
  airflow/providers/apache/spark/hooks/spark_submit.py
  tests/providers/apache/spark/hooks/test_spark_submit.py
Labels: area:providers, provider:apache-spark

#35099 Use airflow released in PyPI for k8s test environment
  scripts/ci/kubernetes/k8s_requirements.txt
Labels: area:dev-tools

#35101 Add instructions on how you can debug Breeze easily
  BREEZE.rst
  images/pycharm_debug_breeze.png
Labels: area:dev-tools

#35102 Fix handling selective docs builds for "special" packages
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  dev/breeze/src/airflow_breeze/utils/general_utils.py
  dev/breeze/src/airflow_breeze/utils/publish_docs_helpers.py
  dev/breeze/tests/test_general_utils.py
Labels: area:dev-tools

#34350 Refactor shorter defaults
  airflow/api/common/trigger_dag.py
  airflow/api_connexion/endpoints/extra_link_endpoint.py
  airflow/cli/commands/info_command.py
  airflow/jobs/scheduler_job_runner.py
  airflow/models/dag.py
  airflow/models/param.py
  airflow/triggers/external_task.py
  airflow/utils/deprecation_tools.py
  airflow/www/views.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  helm_tests/airflow_core/test_dag_processor.py
  helm_tests/airflow_core/test_scheduler.py
  helm_tests/airflow_core/test_triggerer.py
  helm_tests/airflow_core/test_worker.py
  helm_tests/other/test_flower.py
  helm_tests/other/test_pgbouncer.py
  helm_tests/other/test_statsd.py
  kubernetes_tests/test_base.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  scripts/ci/pre_commit/pre_commit_update_providers_dependencies.py
  tests/models/test_dagrun.py
  tests/operators/test_python.py
  tests/providers/amazon/aws/system/utils/test_helpers.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/dbt/cloud/operators/test_dbt_cloud.py
  tests/providers/docker/decorators/test_docker.py
  tests/providers/jenkins/sensors/test_jenkins.py
  tests/providers/microsoft/azure/operators/test_azure_data_factory.py
  tests/system/providers/amazon/aws/utils/__init__.py
Labels: provider:microsoft-azure, provider:amazon-aws, area:Scheduler, area:webserver, area:CLI, area:providers, area:dev-tools, area:API, area:system-tests, provider:cncf-kubernetes, area:core-operators, area:Triggerer, provider:docker, provider:dbt-cloud, provider:jenkins

#35106 Unflake test_volume_mount in k8s tests
  .github/workflows/ci.yml
  kubernetes_tests/test_base.py
  kubernetes_tests/test_kubernetes_pod_operator.py
Labels: provider:cncf-kubernetes

#35112 Add updating providers metadata during release
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools
