Repository apache/airflow, pull requests merged in 2023-04, with the labels that each got.

#30391 Revert "Workaround documentation prooblems for Boto3 (#29865)"
  docs/exts/docs_build/third_party_inventories.py
Labels: kind:documentation

#30412 Push force ``constraints-latest`` tag
  dev/breeze/src/airflow_breeze/commands/release_command.py
Labels: area:dev-tools

#30411 Update Airflow version to 2.5.3
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/api_connexion/openapi/v1.yaml
  airflow/utils/db.py
  chart/Chart.yaml
  chart/newsfragments/30111.significant.rst
  chart/newsfragments/30411.significant.rst
  chart/values.schema.json
  chart/values.yaml
  docs/apache-airflow/installation/supported-versions.rst
  docs/spelling_wordlist.txt
  scripts/ci/pre_commit/pre_commit_supported_versions.py
Labels: area:dev-tools, area:helm-chart, kind:documentation, area:production-image

#30314 Speed-up and stabilize parallell tests for self-hosted runners
  BREEZE.rst
  dev/breeze/src/airflow_breeze/commands/main_command.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/console.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
Labels: area:dev-tools

#30434 Increase timeout of cli connection add test
  tests/cli/commands/test_connection_command.py
Labels: area:CLI

#30370 Fix `RedshiftResumeClusterOperator` deferrable implementation
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  airflow/providers/amazon/aws/triggers/redshift_cluster.py
  tests/providers/amazon/aws/deferrable/hooks/test_redshift_cluster.py
  tests/providers/amazon/aws/deferrable/triggers/test_redshift_cluster.py
Labels: provider:AWS, area:providers

#30303 Add additional annotations to the extra configmap and secrets
  chart/templates/configmaps/extra-configmaps.yaml
  chart/templates/secrets/extra-secrets.yaml
  chart/values.schema.json
  chart/values_schema.schema.json
  tests/charts/test_extra_configmaps_secrets.py
Labels: area:helm-chart

#28777 Fix dag run conf encoding with non-JSON serializable values
  airflow/utils/json.py
  airflow/www/utils.py
  airflow/www/views.py
  tests/www/test_utils.py
Labels: area:webserver, type:bug-fix

#30446 Increase timeout for Pytest collection to 8 minutes
  .github/workflows/ci.yml
Labels: area:dev-tools

#30444 Add s3_bucket to template fields in SFTP to S3 operator
  airflow/providers/amazon/aws/transfers/sftp_to_s3.py
Labels: provider:AWS, area:providers

#30448 Small Documentation Fix in GCSToGCSOperator
  airflow/providers/google/cloud/transfers/gcs_to_gcs.py
Labels: provider:Google, area:providers

#30227 Merge DbtCloudJobRunAsyncSensor logic to DbtCloudJobRunSensor
  airflow/providers/dbt/cloud/sensors/dbt.py
  docs/apache-airflow-providers-dbt-cloud/operators.rst
  tests/providers/dbt/cloud/sensors/test_dbt_cloud.py
  tests/system/providers/dbt/cloud/example_dbt_cloud.py
Labels: area:providers, area:system-tests, kind:documentation

#30450 Collect test types in CI in parallel
  .github/workflows/ci.yml
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_ci-image.svg
  images/breeze/output_ci-image_build.svg
  images/breeze/output_prod-image.svg
  images/breeze/output_prod-image_build.svg
  images/breeze/output_static-checks.svg
  images/breeze/output_testing.svg
  images/breeze/output_testing_tests.svg
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  scripts/docker/entrypoint_ci.sh
  scripts/in_container/remove_arm_packages.py
Labels: area:dev-tools

#30454 Remove stray parenthesis in spark provider docs
  docs/apache-airflow-providers-apache-spark/index.rst
Labels: area:providers, provider:Apache, kind:documentation

#30424 Rename --test-types to --parallel-test-types parameters
  .github/workflows/ci.yml
  BREEZE.rst
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_testing_tests.svg
Labels: area:dev-tools

#30441 Fix cloud build async credentials
  airflow/providers/google/cloud/hooks/cloud_build.py
  tests/providers/google/cloud/hooks/test_cloud_build.py
  tests/providers/google/cloud/triggers/test_cloud_build.py
Labels: provider:Google, area:providers

#30455 fix: upgrade moment-timezone package to fix Iran tz
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:webserver, area:UI

#30464 Fix Breeze failing with error on Windows
  dev/breeze/src/airflow_breeze/commands/main_command.py
Labels: area:dev-tools

#30431 Update MANIFEST_TEMPLATE.in.jinja2
  dev/provider_packages/MANIFEST_TEMPLATE.in.jinja2
Labels: area:dev-tools

#30397 Add docs for livy deferrable operator
  docs/apache-airflow-providers-apache-livy/operators.rst
  tests/system/providers/apache/livy/example_livy.py
Labels: area:providers, provider:Apache, area:system-tests, kind:documentation

#30467 add clarification about timezone aware dags
  docs/apache-airflow/authoring-and-scheduling/timezone.rst
Labels: kind:documentation, type:doc-only

#30481 Fix typo on index.rst file
  docs/apache-airflow/installation/index.rst
Labels: kind:documentation

#30472 Add s3_bucket to template fields in S3 to SFTP operator
  airflow/providers/amazon/aws/transfers/s3_to_sftp.py
Labels: provider:AWS, area:providers

#30482 Fix typo in outputs in parallel-test-types
  .github/workflows/ci.yml
Labels: area:dev-tools

#30282 Support serialization to Pydantic models in Internal API
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/api_internal/internal_api_call.py
  airflow/serialization/enums.py
  airflow/serialization/serialized_objects.py
  tests/api_internal/endpoints/test_rpc_api_endpoint.py
  tests/api_internal/test_internal_api_call.py
  tests/serialization/test_serialized_objects.py
Labels: area:serialization

#30293 Add a new parameter for base sensor to catch the exceptions in poke method
  airflow/sensors/base.py
  tests/sensors/test_base.py
Labels: area:core-operators

#28125 Set limits for XCOM pod
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/utils/xcom_sidecar.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes_pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, area:kubernetes

#30486 Update dead link in Sentry integration document
  docs/apache-airflow/administration-and-deployment/logging-monitoring/errors.rst
Labels: kind:documentation

#30466 add more info to quicksight errors
  airflow/providers/amazon/aws/hooks/quicksight.py
  airflow/providers/amazon/aws/sensors/quicksight.py
  tests/providers/amazon/aws/sensors/test_quicksight.py
Labels: provider:AWS, area:providers

#30489 Revert "Add AWS deferrable BatchOperator (#29300)"
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/triggers/batch.py
  docs/apache-airflow-providers-amazon/operators/batch.rst
  tests/providers/amazon/aws/deferrable/hooks/test_batch_client.py
  tests/providers/amazon/aws/deferrable/triggers/test_batch.py
  tests/providers/amazon/aws/hooks/test_batch_client.py
  tests/providers/amazon/aws/operators/test_batch.py
Labels: provider:AWS, area:providers, kind:documentation

#30490 Fix output to outputs typos in ci.yaml everywhere
  .github/workflows/ci.yml
Labels: area:dev-tools

#30312 Reformat chart templates part 3
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/_helpers.yaml
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/pgbouncer/pgbouncer-networkpolicy.yaml
  chart/templates/pgbouncer/pgbouncer-poddisruptionbudget.yaml
  chart/templates/rbac/security-context-constraint-rolebinding.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/scheduler/scheduler-poddisruptionbudget.yaml
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/secrets/fernetkey-secret.yaml
  chart/templates/secrets/kerberos-keytab-secret.yaml
  chart/templates/secrets/metadata-connection-secret.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/webserver/webserver-poddisruptionbudget.yaml
  chart/templates/workers/worker-deployment.yaml
Labels: area:helm-chart

#30484 Move Pydantic classes for ORM objects to serialization
  airflow/models/pydantic/__init__.py
  airflow/serialization/pydantic/__init__.py
  airflow/serialization/pydantic/base_job.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/dataset.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/serialization/serialized_objects.py
  pyproject.toml
  tests/api_internal/endpoints/test_rpc_api_endpoint.py
  tests/api_internal/test_internal_api_call.py
  tests/serialization/test_pydantic_models.py
  tests/serialization/test_serialized_objects.py
Labels: area:serialization

#30502 Separate mypy pre-commit checks
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hooks.py
Labels: area:dev-tools

#30110 Avoid logging sensitive information in triggerer job log
  airflow/jobs/triggerer_job.py
  tests/jobs/test_triggerer_job.py
Labels: area:scheduler/executor

#30505 Allow specifying a `max_depth` to the `redact()` call
  airflow/utils/log/secrets_masker.py
  tests/utils/log/test_secrets_masker.py
Labels: area:logging

#30513 Fix deprecation warning in `example_sensor_decorator` DAG
  airflow/example_dags/example_sensor_decorator.py
Labels: type:bug-fix

#30510 Put AIP-44 internal API behind feature flag
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  airflow/api_internal/internal_api_call.py
  airflow/cli/cli_config.py
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/settings.py
  airflow/www/app.py
  docs/conf.py
  scripts/ci/pre_commit/pre_commit_yaml_to_cfg.py
  tests/api_internal/endpoints/test_rpc_api_endpoint.py
  tests/api_internal/test_internal_api_call.py
  tests/cli/commands/test_internal_api_command.py
Labels: area:webserver, area:CLI, area:dev-tools, kind:documentation

#30520 Summarize skipped tests after tests are run
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#30503 Add more type hints to the code base
  airflow/api/common/delete_dag.py
  airflow/api/common/experimental/pool.py
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/jobs_command.py
  airflow/cli/commands/task_command.py
  airflow/cli/simple_table.py
  airflow/executors/base_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/jobs/backfill_job.py
  airflow/jobs/base_job.py
  airflow/jobs/local_task_job.py
  airflow/jobs/scheduler_job.py
  airflow/models/dag.py
  airflow/models/dagcode.py
  airflow/models/dagpickle.py
  airflow/models/dagrun.py
  airflow/models/pool.py
  airflow/models/serialized_dag.py
  airflow/models/taskinstance.py
  airflow/models/taskreschedule.py
  airflow/models/trigger.py
  airflow/secrets/metastore.py
  airflow/sensors/external_task.py
  airflow/utils/cli.py
  airflow/utils/log/secrets_masker.py
  airflow/www/fab_security/sqla/manager.py
  airflow/www/security.py
  airflow/www/views.py
  tests/www/views/test_views.py
Labels: area:scheduler/executor, area:webserver, area:CLI, area:logging, area:serialization, area:secrets, area:API, area:kubernetes, area:core-operators

#30361 Executor Import/Load time optimization
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/dask_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/executors/sequential_executor.py
  tests/executors/test_debug_executor.py
Labels: area:scheduler/executor, area:kubernetes

#30522 Fix link to pre-commit-hook section
  LOCAL_VIRTUALENV.rst
Labels: area:dev-tools

#30447 Do not use template literals to construct html elements
  airflow/www/static/js/task.js
Labels: area:webserver, type:bug-fix, area:UI

#30521 Enable AIP-44 and AIP-52 by default for development and CI on main
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  tests/conftest.py
Labels: area:dev-tools

#30518 Run "api_internal" tests in CI
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
  tests/api_experimental/__init__.py
  tests/api_experimental/auth/__init__.py
  tests/api_experimental/auth/backend/__init__.py
  tests/api_experimental/auth/backend/test_basic_auth.py
  tests/api_experimental/auth/test_client.py
  tests/api_experimental/client/__init__.py
  tests/api_experimental/client/test_local_client.py
  tests/api_experimental/common/__init__.py
  tests/api_experimental/common/experimental/__init__.py
  tests/api_experimental/common/experimental/test_pool.py
  tests/api_experimental/common/test_delete_dag.py
  tests/api_experimental/common/test_mark_tasks.py
  tests/api_experimental/common/test_trigger_dag.py
  tests/api_experimental/conftest.py
  tests/integration/api_experimental/__init__.py
  tests/integration/api_experimental/auth/__init__.py
  tests/integration/api_experimental/auth/backend/__init__.py
  tests/integration/api_experimental/auth/backend/test_kerberos_auth.py
Labels: area:dev-tools

#30524 `EmailOperator`: fix wrong assignment of `from_email`
  airflow/providers/smtp/hooks/smtp.py
  airflow/providers/smtp/operators/smtp.py
  tests/providers/smtp/hooks/smtp.py
Labels: area:providers

#30529 improve first PR bot comment
  .github/boring-cyborg.yml
Labels: area:dev-tools

#30509 Put AIP-52 setup/teardown tasks behind feature flag
  .github/workflows/ci.yml
  airflow/decorators/setup_teardown.py
  airflow/example_dags/example_setup_teardown.py
  airflow/example_dags/example_setup_teardown_taskflow.py
  airflow/models/baseoperator.py
  airflow/settings.py
  tests/always/test_example_dags.py
  tests/decorators/test_external_python.py
  tests/decorators/test_python_virtualenv.py
  tests/decorators/test_setup_teardown.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/docker/decorators/test_docker.py
  tests/serialization/test_dag_serialization.py
  tests/www/views/test_views_acl.py
Labels: area:providers, area:serialization, area:kubernetes, AIP-52

#30362 Add tests to PythonOperator
  airflow/exceptions.py
  airflow/operators/python.py
  docs/spelling_wordlist.txt
  tests/operators/test_python.py
Labels: kind:documentation, area:core-operators

#30536 Make AWS RDS operator page title consistent
  docs/apache-airflow-providers-amazon/operators/rds.rst
Labels: provider:AWS, area:providers, kind:documentation

#30540 Revert "Add tests to PythonOperator (#30362)"
  airflow/exceptions.py
  airflow/operators/python.py
  docs/spelling_wordlist.txt
  tests/operators/test_python.py
Labels: kind:documentation, area:core-operators

#30539 Add new known warnings after dependencies upgrade.
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#30514 Fix AzureDataFactoryPipelineRunLink UI link generation
  airflow/providers/microsoft/azure/operators/data_factory.py
Labels: provider:Azure, area:providers

#28848 Use default connection id for KubernetesPodOperator
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/provider.yaml
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, area:kubernetes

#30543 BigQueryHook list_rows/get_datasets_list can return iterator
  airflow/providers/google/cloud/hooks/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:Google, area:providers

#29266 Add deferrable mode to GKEStartPodOperator
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/cloud/triggers/kubernetes_engine.py
  docs/apache-airflow-providers-google/operators/cloud/kubernetes_engine.rst
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/providers/google/cloud/triggers/test_kubernetes_engine.py
  tests/system/providers/google/cloud/kubernetes_engine/example_kubernetes_engine_async.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation, area:kubernetes

#30533 Accept None for `EmailOperator.from_email` to load it from smtp connection
  airflow/providers/smtp/operators/smtp.py
  tests/providers/smtp/operators/__init__.py
  tests/providers/smtp/operators/test_smtp.py
Labels: area:providers

#30326 Update DV360 operators to use API v2
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/google/marketing_platform/hooks/display_video.py
  airflow/providers/google/marketing_platform/operators/display_video.py
  airflow/providers/google/marketing_platform/sensors/display_video.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/marketing_platform/display_video.rst
  docs/spelling_wordlist.txt
  scripts/in_container/verify_providers.py
  tests/always/test_project_structure.py
  tests/providers/google/marketing_platform/hooks/test_display_video.py
  tests/providers/google/marketing_platform/operators/test_display_video.py
  tests/providers/google/marketing_platform/sensors/test_display_video.py
Labels: provider:Google, area:providers, kind:documentation

#30545 Prepare docs for ad hoc release of Providers
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/amazon/provider.yaml
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/provider.yaml
  airflow/providers/smtp/CHANGELOG.rst
  airflow/providers/smtp/provider.yaml
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-google/index.rst
  docs/apache-airflow-providers-microsoft-azure/commits.rst
  docs/apache-airflow-providers-microsoft-azure/index.rst
  docs/apache-airflow-providers-smtp/commits.rst
  docs/apache-airflow-providers-smtp/index.rst
Labels: provider:Azure, provider:AWS, area:providers, kind:documentation, area:kubernetes

#30555 Add --one-pass-only parameter to breeze docs build command
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_build-docs.svg
Labels: area:dev-tools

#30556 Fix Azure data factory UI link by load `subscription_id` from `extra__azure__subscriptionId`
  airflow/providers/microsoft/azure/operators/data_factory.py
Labels: provider:Azure, area:providers

#30559 fix release doc for providers
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#30255 Decouple "job runner" from BaseJob ORM model
  airflow/api_connexion/endpoints/health_endpoint.py
  airflow/cli/commands/dag_processor_command.py
  airflow/cli/commands/scheduler_command.py
  airflow/cli/commands/standalone_command.py
  airflow/cli/commands/task_command.py
  airflow/cli/commands/triggerer_command.py
  airflow/dag_processing/manager.py
  airflow/jobs/backfill_job.py
  airflow/jobs/base_job.py
  airflow/jobs/dag_processor_job.py
  airflow/jobs/job_runner.py
  airflow/jobs/local_task_job.py
  airflow/jobs/scheduler_job.py
  airflow/jobs/triggerer_job.py
  airflow/models/__init__.py
  airflow/models/dag.py
  airflow/models/skipmixin.py
  airflow/providers/amazon/aws/transfers/google_api_to_s3.py
  airflow/providers/apache/hive/operators/hive.py
  airflow/providers/qubole/hooks/qubole.py
  airflow/serialization/pydantic/base_job.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/task/task_runner/__init__.py
  airflow/task/task_runner/base_task_runner.py
  airflow/task/task_runner/cgroup_task_runner.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/utils/context.pyi
  airflow/utils/scheduler_health.py
  airflow/www/views.py
  dev/perf/scheduler_dag_execution_timing.py
  dev/perf/scheduler_ops_metrics.py
  dev/perf/sql_queries.py
  tests/api_connexion/endpoints/test_health_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/cli/commands/test_dag_processor_command.py
  tests/cli/commands/test_jobs_command.py
  tests/cli/commands/test_scheduler_command.py
  tests/cli/commands/test_task_command.py
  tests/cli/commands/test_triggerer_command.py
  tests/core/test_impersonation_tests.py
  tests/dag_processing/test_processor.py
  tests/executors/test_dask_executor.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_base_job.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/jobs/test_triggerer_job.py
  tests/listeners/test_listeners.py
  tests/models/test_trigger.py
  tests/serialization/test_pydantic_models.py
  tests/task/task_runner/test_base_task_runner.py
  tests/task/task_runner/test_standard_task_runner.py
  tests/task/task_runner/test_task_runner.py
  tests/test_utils/db.py
  tests/utils/test_helpers.py
  tests/utils/test_log_handlers.py
  tests/www/views/test_views_base.py
Labels: area:scheduler/executor, area:webserver, area:CLI, area:API, AIP-44

#30564 Fix one more dynamic import needed for vendored-in google ads
  airflow/providers/google_vendor/googleads/interceptors/interceptor.py
Labels: area:providers

#30560 Move Pydantic class serialization under AIP-44 feature flag
  airflow/serialization/serialized_objects.py
  tests/serialization/test_serialized_objects.py
Labels: area:serialization

#30168 feat: add extra annotations pgbouncer
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_annotations.py
Labels: area:helm-chart

#30214 Added support for using SHA digest of Docker images.
  chart/templates/_helpers.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/test_airflow_common.py
Labels: area:helm-chart

#30568 Bump json5 to 1.0.2 and eslint-plugin-import to 2.27.5 in /airflow/www
  airflow/www/package.json
  airflow/www/yarn.lock
Labels: area:webserver, area:UI

#30566 Update dataproc.rst
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
Labels: provider:Google, area:providers, kind:documentation

#30565 Quieter output during asset compilation
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#30302 Rename JobRunner modules to *_job_runner and base_job* to job
  airflow/api_connexion/endpoints/health_endpoint.py
  airflow/api_connexion/schemas/job_schema.py
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/dag_processor_command.py
  airflow/cli/commands/jobs_command.py
  airflow/cli/commands/scheduler_command.py
  airflow/cli/commands/standalone_command.py
  airflow/cli/commands/task_command.py
  airflow/cli/commands/triggerer_command.py
  airflow/dag_processing/manager.py
  airflow/executors/celery_executor.py
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/base_job_runner.py
  airflow/jobs/dag_processor_job_runner.py
  airflow/jobs/job.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
  airflow/models/__init__.py
  airflow/models/dag.py
  airflow/models/taskinstance.py
  airflow/models/trigger.py
  airflow/serialization/pydantic/job.py
  airflow/serialization/serialized_objects.py
  airflow/task/task_runner/__init__.py
  airflow/task/task_runner/base_task_runner.py
  airflow/task/task_runner/cgroup_task_runner.py
  airflow/task/task_runner/standard_task_runner.py
  airflow/utils/scheduler_health.py
  airflow/www/views.py
  dev/perf/scheduler_dag_execution_timing.py
  dev/perf/sql_queries.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/check-health.rst
  tests/api_connexion/endpoints/test_health_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/cli/commands/test_dag_processor_command.py
  tests/cli/commands/test_jobs_command.py
  tests/core/test_impersonation_tests.py
  tests/executors/test_dask_executor.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_base_job.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/jobs/test_triggerer_job.py
  tests/jobs/test_triggerer_job_logging.py
  tests/listeners/test_listeners.py
  tests/models/test_trigger.py
  tests/serialization/test_pydantic_models.py
  tests/task/task_runner/test_base_task_runner.py
  tests/task/task_runner/test_cgroup_task_runner.py
  tests/task/task_runner/test_standard_task_runner.py
  tests/task/task_runner/test_task_runner.py
  tests/test_utils/db.py
  tests/utils/test_helpers.py
  tests/utils/test_log_handlers.py
  tests/www/views/test_views_base.py
Labels: area:scheduler/executor, area:webserver, area:CLI, area:API, AIP-44

#30344 Adding taskflow API example for sensors
  docs/apache-airflow/howto/operator/python.rst
Labels: kind:documentation, area:core-operators

#28721 Use connection URI in SqliteHook
  airflow/providers/sqlite/hooks/sqlite.py
  docs/apache-airflow-providers-sqlite/connections/sqlite.rst
  tests/providers/sqlite/hooks/test_sqlite.py
Labels: area:providers

#30570 Release notes for helm chart 1.9.0
  chart/Chart.yaml
  chart/RELEASE_NOTES.rst
  chart/newsfragments/30054.significant.rst
  chart/newsfragments/30411.significant.rst
Labels: area:helm-chart

#30483 Do not remove docker provider for Airflow 2.3 check
  .github/workflows/ci.yml
Labels: area:dev-tools

#30308 Separate and split run job method into prepare/execute/complete steps
  airflow/cli/commands/dag_processor_command.py
  airflow/cli/commands/scheduler_command.py
  airflow/cli/commands/task_command.py
  airflow/cli/commands/triggerer_command.py
  airflow/jobs/JOB_LIFECYCLE.md
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/job.py
  airflow/jobs/scheduler_job_runner.py
  airflow/models/dag.py
  dev/perf/scheduler_dag_execution_timing.py
  dev/perf/sql_queries.py
  tests/core/test_impersonation_tests.py
  tests/executors/test_dask_executor.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_base_job.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/listeners/test_listeners.py
Labels: area:scheduler/executor, area:webserver, area:CLI, area:API, changelog:skip, AIP-44

#30515 Update SQLAlchemy `select()` to new style
  airflow/migrations/versions/0093_2_2_0_taskinstance_keyed_to_dagrun.py
  airflow/migrations/versions/0104_2_3_0_migrate_rtif_to_use_run_id_and_map_index.py
  airflow/migrations/versions/0105_2_3_0_add_map_index_to_taskfail.py
  airflow/models/dagrun.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
Labels: kind:documentation

#30376 Remove JobRunners back reference from Job
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/cli/commands/dag_processor_command.py
  airflow/cli/commands/scheduler_command.py
  airflow/cli/commands/task_command.py
  airflow/cli/commands/triggerer_command.py
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/base_job_runner.py
  airflow/jobs/dag_processor_job_runner.py
  airflow/jobs/job.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
  airflow/models/dag.py
  airflow/serialization/enums.py
  airflow/task/task_runner/__init__.py
  airflow/task/task_runner/base_task_runner.py
  airflow/task/task_runner/cgroup_task_runner.py
  airflow/task/task_runner/standard_task_runner.py
  dev/perf/scheduler_dag_execution_timing.py
  dev/perf/sql_queries.py
  docs/apache-airflow/authoring-and-scheduling/dagfile-processing.rst
  tests/api_connexion/endpoints/test_health_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/cli/commands/test_dag_processor_command.py
  tests/cli/commands/test_jobs_command.py
  tests/cli/commands/test_task_command.py
  tests/cli/commands/test_triggerer_command.py
  tests/core/test_impersonation_tests.py
  tests/dag_processing/test_job_runner.py
  tests/executors/test_dask_executor.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_base_job.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/jobs/test_triggerer_job.py
  tests/listeners/test_listeners.py
  tests/models/test_trigger.py
  tests/serialization/test_pydantic_models.py
  tests/task/task_runner/test_base_task_runner.py
  tests/task/task_runner/test_cgroup_task_runner.py
  tests/task/task_runner/test_standard_task_runner.py
  tests/task/task_runner/test_task_runner.py
  tests/utils/test_helpers.py
  tests/utils/test_log_handlers.py
  tests/www/views/test_views_base.py
Labels: area:scheduler/executor, area:webserver, area:CLI, area:API, kind:documentation, changelog:skip, AIP-44

#30590 Cast binding +1 in helm chart release vote email
  dev/README_RELEASE_HELM_CHART.md
Labels: area:dev-tools

#30477 Databricks SQL sensor
  airflow/providers/databricks/provider.yaml
  airflow/providers/databricks/sensors/__init__.py
  airflow/providers/databricks/sensors/databricks_sql.py
  docs/apache-airflow-providers-databricks/operators/sql.rst
  tests/providers/databricks/sensors/__init__.py
  tests/providers/databricks/sensors/test_databricks_sql.py
  tests/system/providers/databricks/example_databricks_sensors.py
Labels: area:providers, area:system-tests, kind:documentation, provider:Databricks

#30589 Add Hussein to committers
  .github/workflows/ci.yml
  docs/apache-airflow/project.rst
Labels: area:dev-tools, kind:documentation

#29522 Add support in AWS Batch Operator for multinode jobs
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/operators/batch.py
  tests/providers/amazon/aws/hooks/test_batch_client.py
  tests/providers/amazon/aws/operators/test_batch.py
Labels: provider:AWS, area:providers

#30596 Use custom validator for OpenAPI request body
  airflow/www/extensions/init_views.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:webserver, area:API

#30597 Remove 'run-' prefix from pre-commit jobs
  .pre-commit-config.yaml
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
  scripts/ci/pre_commit/pre_commit_check_pre_commit_hooks.py
Labels: area:dev-tools

#30586 Add ability to override waiter delay in EcsRunTaskOperator
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:AWS, area:providers

#30606 Prepare docs for RC2 of provider wave
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/microsoft/azure/CHANGELOG.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-microsoft-azure/commits.rst
Labels: provider:Google, provider:Azure, area:providers, kind:documentation

#30608 Deactivate DAGs deleted from within zipfiles
  airflow/dag_processing/manager.py
  airflow/models/dag.py
  tests/dag_processing/test_job_runner.py
Labels: area:scheduler/executor

#30374 Remove gauge scheduler.tasks.running
  airflow/jobs/scheduler_job_runner.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
  newsfragments/30374.significant.rst
Labels: area:scheduler/executor, kind:documentation

#30425 Recover from `too old resource version exception` by retrieving the latest `resource_version`
  airflow/executors/kubernetes_executor.py
Labels: area:scheduler/executor, area:kubernetes

#30617 docs: use correct import path for Dataset
  docs/apache-airflow/authoring-and-scheduling/datasets.rst
Labels: kind:documentation

#30284 Speed up nested TaskGoups
  airflow/utils/task_group.py
Labels: type:improvement

#30406 Fix `TriggerDagRunOperator` with deferrable parameter
  airflow/operators/trigger_dagrun.py
  airflow/triggers/external_task.py
  tests/operators/test_trigger_dagrun.py
Labels: type:bug-fix, area:core-operators

#30625 Fix failing SQS tests on moto upgrade
  tests/providers/amazon/aws/operators/test_sqs.py
Labels: provider:AWS, area:providers

#30627 Remove Norm and Hussein from the triage group
  .asf.yaml
Labels: area:dev-tools

#30487 Remove mysql-connector-python
  airflow/providers/mysql/hooks/mysql.py
  airflow/providers/mysql/provider.yaml
  docker_tests/test_prod_image.py
  docs/apache-airflow/howto/set-up-database.rst
  generated/provider_dependencies.json
  scripts/in_container/verify_providers.py
  tests/providers/mysql/hooks/test_mysql.py
  tests/providers/mysql/hooks/test_mysql_connector_python.py
Labels: area:providers, kind:documentation, provider:DBs

#30629 Better error message where non-compatible providers are not excluded
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#28338 New AWS sensor — DynamoDBValueSensor
  airflow/providers/amazon/aws/sensors/dynamodb.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/dynamodb.rst
  tests/providers/amazon/aws/sensors/test_dynamodb.py
  tests/system/providers/amazon/aws/example_dynamodb.py
Labels: provider:AWS, area:providers

#30634 Remove duplicate param docstring in EksPodOperator
  airflow/providers/amazon/aws/operators/eks.py
Labels: provider:AWS, area:providers

#30310 In `DockerOperator`, adding an attribute `tls_verify` to choose whether to validate certificate (#30309)
  airflow/providers/docker/hooks/docker.py
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, provider:Docker

#29094 Add `max_active_tis_per_dagrun` for Dynamic Task Mapping
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/mappedoperator.py
  airflow/models/taskinstance.py
  airflow/ti_deps/deps/task_concurrency_dep.py
  tests/conftest.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
  tests/ti_deps/deps/test_task_concurrency.py
Labels: area:scheduler/executor

#30375 Simplify logic to resolve tasks stuck in queued despite stalled_task_timeout
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_kubernetes_executor.py
  airflow/jobs/scheduler_job_runner.py
  airflow/kubernetes/kube_config.py
  docs/conf.py
  newsfragments/30375.significant.rst
  tests/executors/test_base_executor.py
  tests/executors/test_celery_executor.py
  tests/executors/test_kubernetes_executor.py
  tests/integration/executors/test_celery_executor.py
  tests/jobs/test_scheduler_job.py
Labels: area:scheduler/executor, area:kubernetes

#30577 Display Video 360 cleanup v1 API usage
  airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  airflow/providers/google/marketing_platform/hooks/display_video.py
  airflow/providers/google/marketing_platform/operators/display_video.py
  airflow/providers/google/marketing_platform/sensors/display_video.py
  docs/apache-airflow-providers-google/operators/marketing_platform/display_video.rst
  scripts/in_container/verify_providers.py
  tests/providers/google/marketing_platform/hooks/test_display_video.py
  tests/providers/google/marketing_platform/operators/test_display_video.py
  tests/providers/google/marketing_platform/sensors/test_display_video.py
Labels: provider:Google, area:providers, area:dev-tools, kind:documentation

#30640 Add v2-6-test and v2-6-stable to codecov and protected branches
  .asf.yaml
  codecov.yml
Labels: area:dev-tools

#29809 Adding configuration to control retry parameters for k8s api client
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/kubernetes/kube_client.py
  tests/kubernetes/test_client.py
Labels: full tests needed, area:kubernetes

#30609 fix(chart): webserver probes timeout and period.
  chart/templates/webserver/webserver-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#30639 Clarify release announcements on social media
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#30595 DynamoDBHook - waiter_path() to consider `resource_type` or `client_type`
  airflow/providers/amazon/aws/hooks/base_aws.py
  tests/providers/amazon/aws/hooks/test_dynamodb.py
Labels: provider:AWS, area:providers

#30432 FEAT : Add command to get DAG Details via CLI
  airflow/cli/cli_config.py
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI

#30495 preload airflow imports before dag parsing to save time
  .pre-commit-config.yaml
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/dag_processing/processor.py
  airflow/utils/file.py
  tests/dag_processing/test_job_runner.py
  tests/dags/test_imports.py
  tests/jobs/test_scheduler_job.py
  tests/utils/test_file.py
Labels: area:scheduler/executor

#30646 Add delete inactive run functionality to databricks provider
  airflow/providers/databricks/hooks/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers, provider:Databricks

#30405 Create audit_logs.rst
  docs/apache-airflow/administration-and-deployment/security/audit_logs.rst
Labels: kind:documentation

#30633 Table for affected tasks in grid actions
  airflow/www/static/js/api/useClearTaskDryRun.ts
  airflow/www/static/js/api/useMarkTaskDryRun.ts
  airflow/www/static/js/dag/details/taskInstance/taskActions/ActionModal.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/views.py
Labels: area:webserver, type:misc/internal, area:UI

#30649 Helm chart 1.9.0 has been released
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  chart/Chart.yaml
Labels: area:dev-tools, area:helm-chart

#30652 Add 2.6.0b1 to issue template
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools

#30651 BigQueryGetDataOperator should use project_id
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:Google, area:providers

#30659 Properly classify google_vendor package to google provider
  scripts/ci/pre_commit/pre_commit_update_providers_dependencies.py
Labels: area:dev-tools

#30598 Update Google Campaign Manager360 operators to use API v4
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/google/marketing_platform/hooks/campaign_manager.py
  airflow/providers/google/marketing_platform/operators/campaign_manager.py
  airflow/providers/google/marketing_platform/sensors/campaign_manager.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/marketing_platform/campaign_manager.rst
  tests/providers/google/marketing_platform/hooks/test_campaign_manager.py
  tests/providers/google/marketing_platform/operators/test_campaign_manager.py
  tests/providers/google/marketing_platform/sensors/test_campaign_manager.py
  tests/system/providers/google/marketing_platform/example_campaign_manager.py
Labels: provider:Google, area:providers, area:system-tests, kind:documentation

#29000 Skip KubernetesPodOperator task when it returns a provided exit code
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, area:kubernetes

#30663 Upgrade Pip to 23.1
  Dockerfile
  Dockerfile.ci
  IMAGES.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  scripts/docker/common.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#30662 docker-compose related doc changes to include config folder
  docs/apache-airflow/howto/docker-compose/docker-compose.yaml
  docs/apache-airflow/howto/docker-compose/index.rst
Labels: kind:documentation

#30668 Add suspended providers to pytest collection test
  .github/workflows/ci.yml
Labels: area:dev-tools

#30674 Workaround type-incompatibility with new attrs in openlineage
  airflow/providers/openlineage/utils/utils.py
Labels: area:providers

#30680 Update the release note
  .pre-commit-config.yaml
  dev/airflow-github
  dev/breeze/README.md
  dev/breeze/setup.cfg
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
Labels: area:dev-tools

#30677 Correctly pass a type to attrs.has()
  airflow/providers/openlineage/utils/utils.py
Labels: area:providers

#30675 Updated app to support configuring the caching hash method for FIPS v2
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/models/serialized_dag.py
  airflow/utils/hashlib_wrapper.py
  airflow/www/app.py
  airflow/www/extensions/init_cache.py
  newsfragments/28846.misc.rst
  tests/www/test_app.py
Labels: area:webserver, area:serialization

#30683 Install twine with --force for package verification
  .github/workflows/ci.yml
Labels: area:dev-tools

#30681 Fix docs: adds "apache" prefix to pip install
  docs/apache-airflow/howto/operator/python.rst
Labels: kind:documentation, area:core-operators

#30685 Remove unittests.TestCase from tests/test_utils
  tests/providers/amazon/aws/transfers/test_redshift_to_s3.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
  tests/providers/apache/hive/hooks/test_hive.py
  tests/providers/mysql/hooks/test_mysql.py
  tests/test_utils/asserts.py
Labels: provider:AWS, area:providers, provider:Apache, provider:DBs

#30682 Introduce consistency of package sequence for "Other" test type
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#30687 Upgrade to MyPy 1.2.0
  .pre-commit-config.yaml
  airflow/decorators/task_group.py
  airflow/providers/openlineage/utils/utils.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/serialization/serde.py
  setup.py
Labels: area:providers, area:dev-tools, area:serialization

#30690 Skip PythonVirtualenvOperator task when it returns a provided exit code
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: type:new-feature, area:core-operators

#30496 [OTel Integration] Add tagging to existing stats
  airflow/dag_processing/processor.py
  airflow/executors/base_executor.py
  airflow/jobs/scheduler_job_runner.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/stats.py
  tests/dag_processing/test_processor.py
  tests/executors/test_base_executor.py
  tests/executors/test_celery_executor.py
  tests/executors/test_kubernetes_executor.py
  tests/executors/test_local_executor.py
  tests/executors/test_sequential_executor.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
Labels: area:scheduler/executor

#30692 rename skip_exit_code to skip_on_exit_code and allow providing multiple codes
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: type:new-feature, area:core-operators

#30715 Update system test example_emr to have logs
  tests/system/providers/amazon/aws/example_emr.py
Labels: provider:AWS, area:providers, area:system-tests

#30703 Fixed logging issue in `DynamoDBValueSensor`
  airflow/providers/amazon/aws/sensors/dynamodb.py
Labels: provider:AWS, area:providers

#30705 Optimize parallel test execution for unit tests
  BREEZE.rst
  Dockerfile.ci
  TESTING.rst
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_testing_tests.svg
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#30734 Deprecate `skip_exit_code` in `BashOperator`
  airflow/operators/bash.py
  tests/operators/test_bash.py
Labels: type:misc/internal, area:core-operators

#30732 Add explicit information about how to write task logs
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
Labels: area:logging, kind:documentation, type:doc-only

#30667 Suspend Yandex provider due to protobuf limitation
  CONTRIBUTING.rst
  INSTALL
  airflow/providers/yandex/provider.yaml
  docs/apache-airflow/extra-packages-ref.rst
  generated/provider_dependencies.json
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
Labels: area:providers, area:dev-tools, kind:documentation

#30711 Allow a user to collapse the grid view
  airflow/www/static/js/dag/InstanceTooltip.tsx
  airflow/www/static/js/dag/Main.tsx
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/grid/dagRuns/index.tsx
  airflow/www/static/js/dag/grid/index.tsx
  airflow/www/static/js/dag/grid/renderTaskRows.tsx
Labels: area:webserver, area:UI

#30738 Add skip_on_exit_code also to ExternalPythonOperator
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: area:core-operators

#30739 Add multiple exit code handling in skip logic for BashOperator
  airflow/operators/bash.py
  tests/operators/test_bash.py
Labels: area:core-operators

#30733 Deprecate `skip_exit_code` in `DockerOperator` and `KubernetesPodOperator`
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/docker/operators/docker.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/docker/decorators/test_docker.py
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, area:kubernetes, provider:Docker

#30182 Remove protobuf limitation from eager upgrade
  Dockerfile
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/utils/find_newer_dependencies.py
Labels: pinned, area:dev-tools, area:production-image

#30752 Fix misc grid/graph view UI bugs
  airflow/www/static/js/dag/details/graph/utils.ts
  airflow/www/static/js/dag/grid/index.tsx
  airflow/www/static/js/utils/graph.ts
Labels: area:webserver, area:UI

#30720 add a stop operator to emr serverless
  airflow/providers/amazon/aws/operators/emr.py
  docs/apache-airflow-providers-amazon/operators/emr/emr_serverless.rst
  tests/providers/amazon/aws/operators/test_emr_serverless.py
  tests/system/providers/amazon/aws/example_emr_serverless.py
Labels: provider:AWS, area:providers, area:system-tests

#30746 Better explanation on how to log from tasks
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
Labels: area:logging, kind:documentation

#30763 Skip suspended providers when generating providers summary index
  docs/exts/provider_yaml_utils.py
Labels: kind:documentation

#30708 Fix when OpenLineage plugins has listener disabled.
  airflow/providers/openlineage/extractors/manager.py
  airflow/providers/openlineage/plugins/openlineage.py
  tests/providers/openlineage/plugins/test_openlineage.py
Labels: area:providers

#29223 Split installation of sdist providers into parallel chunks
  .github/workflows/ci.yml
  BREEZE.rst
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_install-provider-packages.svg
  images/breeze/output_release-management_verify-provider-packages.svg
  images/breeze/output_setup_check-all-params-in-groups.svg
  images/breeze/output_setup_regenerate-command-images.svg
  images/breeze/output_shell.svg
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  scripts/docker/entrypoint_ci.sh
Labels: pinned, area:dev-tools
