Repository apache/airflow, pull requests merged in 2023-08, with the labels that each got.

#32984 Move redis subscribe to poke() method in Redis Sensor
  airflow/providers/redis/sensors/redis_pub_sub.py
  tests/integration/providers/redis/sensors/test_redis_pub_sub.py
Labels: area:providers, provider:redis

#32995 Limit Asana Python client until provider is adapted to 4.* version
  airflow/providers/asana/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, provider:asana

#33008 Add Ryan Hatter to collaborators
  .asf.yaml
Labels: area:dev-tools

#32997 Remove is_setup flag from TaskInstance
  airflow/migrations/versions/0128_2_7_0_add_is_setup_to_task_instance.py
  airflow/models/taskinstance.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/models/test_taskinstance.py
  tests/www/views/test_views_tasks.py
Labels: AIP-52

#32959 openlineage: don't use database as fallback when no schema parsed.
  airflow/providers/openlineage/sqlparser.py
  tests/providers/openlineage/utils/test_sqlparser.py
Labels: area:providers, provider:openlineage

#33010 Revert "Add links to DAGRun / DAG / Task in templates-ref.rst"
  docs/apache-airflow/templates-ref.rst
Labels: kind:documentation

#32951 Clean-up of our new security page
  dev/breeze/src/airflow_breeze/utils/add_back_references.py
  docs/apache-airflow/security/index.rst
  docs/apache-airflow/security/releasing_security_patches.rst
  docs/apache-airflow/security/security_model.rst
Labels: kind:documentation

#33015 Fix invalid rule name in example_eventbridge.py
  tests/system/providers/amazon/aws/example_eventbridge.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#32985 Fail stop feature can work with setup / teardown
  airflow/exceptions.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/taskinstance.py
  tests/models/test_baseoperator.py
  tests/models/test_dag.py
  tests/models/test_mappedoperator.py
Labels: AIP-52

#33018 Don't require that a teardown have a "work" task
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: AIP-52

#33003 Refactor system tests for DataprocSubmitJobOperator (PySpark, SparkR jobs)
  tests/system/providers/google/cloud/dataproc/example_dataproc_pyspark.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_sparkr.py
Labels: provider:google, area:providers, area:system-tests

#32983 doc: local executors - rephrase scheduler process
  docs/apache-airflow/core-concepts/executor/index.rst
Labels: area:scheduler/executor, kind:documentation

#33029 Always show gantt and code tabs
  airflow/www/static/js/dag/details/gantt/index.tsx
  airflow/www/static/js/dag/details/index.tsx
Labels: area:webserver, area:UI

#32979 Change log level from ERROR to INFO
  airflow/jobs/triggerer_job_runner.py
Labels: area:scheduler/executor, area:Triggerer

#33032 Revert "fix: save codemirror content to extra textarea (#32893)"
  airflow/www/static/js/connection_form.js
Labels: area:webserver, area:UI

#32855 Fix names of resources in Datafusion system tests
  airflow/providers/google/cloud/hooks/datafusion.py
  tests/system/providers/google/cloud/datafusion/example_datafusion.py
  tests/system/providers/google/cloud/datafusion/example_datafusion_async.py
Labels: provider:google, area:providers, area:system-tests

#31816 openlineage, sagemaker: add OpenLineage support for SageMaker's Processing, Transform and Training operators
  airflow/providers/amazon/aws/operators/sagemaker.py
  dev/breeze/tests/test_selective_checks.py
  generated/provider_dependencies.json
  tests/providers/amazon/aws/operators/test_sagemaker_processing.py
  tests/providers/amazon/aws/operators/test_sagemaker_training.py
  tests/providers/amazon/aws/operators/test_sagemaker_transform.py
Labels: provider:amazon-aws, area:providers, provider:openlineage

#33035 Add v2-7 branches to main
  .asf.yaml
  codecov.yml
Labels: area:dev-tools

#33034 Add more explicit "embedded postgres" exclusion for production
  docs/helm-chart/production-guide.rst
Labels: area:dev-tools, area:helm-chart, kind:documentation

#32906 Delete azure cosmos DB sensor example_dag
  airflow/providers/microsoft/azure/example_dag/example_cosmos_document_sensor.py
  docs/apache-airflow-providers-microsoft-azure/sensors/cosmos_document_sensor.rst
  tests/system/providers/microsoft/azure/example_azure_cosmosdb.py
Labels: provider:microsoft-azure, area:providers

#32887 OpenAPI Spec fix nullable alongside $ref
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, type:bug-fix, area:UI

#32958 Remove old graph
  airflow/www/forms.py
  airflow/www/static/js/callModal.js
  airflow/www/static/js/cluster-activity/nav/FilterBar.tsx
  airflow/www/static/js/components/Time.test.tsx
  airflow/www/static/js/components/Time.tsx
  airflow/www/static/js/dag.js
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
  airflow/www/static/js/dag/grid/dagRuns/index.test.tsx
  airflow/www/static/js/dag/nav/FilterBar.tsx
  airflow/www/static/js/graph.js
  airflow/www/static/js/task_instances.js
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/graph.html
  airflow/www/views.py
  airflow/www/webpack.config.js
  docs/apache-airflow/img/graph.png
  docs/apache-airflow/img/mapping-simple-graph.png
  docs/apache-airflow/img/task_group.gif
  tests/www/views/test_views_decorators.py
  tests/www/views/test_views_graph.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, kind:documentation, area:UI

#32734 Add support for arrays of different data types in the Trigger Form UI
  airflow/example_dags/example_params_ui_tutorial.py
  airflow/www/static/js/trigger.js
  airflow/www/templates/airflow/trigger.html
  docs/apache-airflow/core-concepts/params.rst
Labels: area:webserver, type:improvement, area:UI

#33022 Affix webserver access_denied warning to be configurable
  airflow/config_templates/config.yml
  airflow/www/auth.py
  tests/www/test_security.py
Labels: area:webserver, type:improvement

#32822 Update graph nodes with operator style attributes.
  airflow/www/static/js/dag/details/graph/Node.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/static/js/utils/graph.ts
Labels: area:webserver, type:bug-fix, area:UI

#33063 Use string concatenation to prefix base URL for task instance's log_url
  airflow/models/taskinstance.py
Labels: type:bug-fix

#31895 Refactor of links in Dataproc
  airflow/providers/google/cloud/links/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/provider.yaml
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: provider:google, area:providers

#32643 Fix CloudTasksTaskCreateOperator system test
  tests/system/providers/google/cloud/tasks/example_tasks.py
Labels: provider:google, area:providers, area:system-tests

#33060 Remove legacy task instance modal
  airflow/www/templates/airflow/dag.html
Labels: area:webserver, area:UI

#33058 Remove legacy dag code
  airflow/www/static/js/dag.js
  airflow/www/static/js/dag/details/dagCode/CodeBlock.tsx
  airflow/www/static/js/dag_code.js
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/dag_code.html
  airflow/www/views.py
  airflow/www/webpack.config.js
  docs/apache-airflow/img/code.png
Labels: area:webserver, kind:documentation, area:UI

#33046 Adding always be rebased message for new contributors
  .github/PULL_REQUEST_TEMPLATE.md
  .github/boring-cyborg.yml
Labels: area:dev-tools

#33064 Add issue link for TODO wrt Azure integration pinned dependencies
  airflow/providers/microsoft/azure/provider.yaml
Labels: provider:microsoft-azure, area:providers

#33006 Documentation change to enhance readability
  docs/apache-airflow/howto/custom-view-plugin.rst
Labels: kind:documentation, type:doc-only

#33065 Fix issue with using the various state enum value in logs
  airflow/utils/log/secrets_masker.py
  tests/utils/log/test_secrets_masker.py
Labels: area:logging, type:bug-fix

#33028 Add S3Bucket for mypy
  airflow/providers/amazon/aws/hooks/s3.py
Labels: provider:amazon-aws, area:providers

#33045 FIX: set longer default `waiter_max_attempts` for deferred BatchJobOperator
  airflow/providers/amazon/aws/operators/batch.py
Labels: provider:amazon-aws, area:providers

#33073 Update audit_logs.rst
  docs/apache-airflow/security/audit_logs.rst
Labels: kind:documentation

#33023 Add better diagnostics when tests fail
  .github/actions/migration_tests/action.yml
  .github/actions/post_tests_failure/action.yml
  .github/actions/post_tests_success/action.yml
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  scripts/ci/docker-compose/_docker.env
Labels: area:dev-tools

#33074 Validate database URL passed to create_engine of Drill hook's connection
  airflow/providers/apache/drill/hooks/drill.py
  tests/providers/apache/drill/hooks/test_drill.py
Labels: area:providers, provider:apache-drill

#32987 Move security manager override to its own module
  airflow/auth/managers/base_auth_manager.py
  airflow/auth/managers/fab/fab_auth_manager.py
  airflow/auth/managers/fab/models/__init__.py
  airflow/auth/managers/fab/models/anonymous_user.py
  airflow/auth/managers/fab/security_manager/__init__.py
  airflow/auth/managers/fab/security_manager/override.py
  airflow/auth/managers/models/__init__.py
  airflow/auth/managers/models/base_user.py
  tests/auth/managers/fab/security_manager/__init__.py
  tests/auth/managers/fab/security_manager/test_override.py
  tests/auth/managers/fab/test_fab_auth_manager.py
  tests/www/test_security.py
Labels: use public runners, AIP-56

#33082 Avoid upgrade-to-newer-dependencies when provider.yaml changes
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#33039 Validate SqoopHook connection string and disable extra options from public hook methods
  airflow/providers/apache/sqoop/CHANGELOG.rst
  airflow/providers/apache/sqoop/hooks/sqoop.py
  airflow/providers/apache/sqoop/operators/sqoop.py
  airflow/providers/apache/sqoop/provider.yaml
  tests/providers/apache/sqoop/hooks/test_sqoop.py
  tests/providers/apache/sqoop/operators/test_sqoop.py
Labels: area:providers, provider:apache-sqoop

#33054 Fix BaseOperator get_task_instances query
  airflow/models/baseoperator.py
  tests/models/test_baseoperator.py
Labels: type:bug-fix

#33086 Extract sagemaker pipeline to their own system test
  docs/apache-airflow-providers-amazon/operators/sagemaker.rst
  tests/system/providers/amazon/aws/example_sagemaker.py
  tests/system/providers/amazon/aws/example_sagemaker_pipeline.py
Labels: provider:amazon-aws, area:providers, area:system-tests, kind:documentation

#33087 openlineage: remove eager test for auth headers, fix example dag
  airflow/example_dags/plugins/event_listener.py
  tests/providers/openlineage/plugins/test_openlineage_adapter.py
Labels: area:providers, provider:openlineage

#33050 Get rid of Python2 numeric relics
  airflow/example_dags/example_python_operator.py
  airflow/models/taskinstance.py
  airflow/providers/celery/executors/celery_executor.py
  airflow/providers/celery/executors/celery_executor_utils.py
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/docker/operators/docker.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/www/views.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
  dev/stats/get_important_pr_candidates.py
  tests/test_utils/perf/perf_kit/repeat_and_time.py
Labels: provider:google, area:webserver, area:providers, area:dev-tools, provider:common-sql, provider:docker, provider:celery

#33090 Fix KPO sub classes default container_logs
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#33083 Ensure DAG-level references are filled on unmap
  airflow/models/mappedoperator.py
  airflow/serialization/serialized_objects.py
  tests/serialization/test_serialized_objects.py
Labels: area:serialization

#33095 Fix test failing after open-lineage 1.0 API change
  tests/providers/openlineage/plugins/test_openlineage_adapter.py
Labels: area:providers, provider:openlineage

#33101 Temporarily exclude openlineage from "PyPI" constraints generation
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools

#33098 Use arrow with no circle for setup / teardown
  airflow/www/static/js/dag/details/graph/Node.tsx
Labels: area:webserver, area:UI

#33075 Allows to choose SSL context for SMTP provider
  airflow/providers/smtp/CHANGELOG.rst
  airflow/providers/smtp/hooks/smtp.py
  airflow/providers/smtp/provider.yaml
  docs/apache-airflow-providers-smtp/configurations-ref.rst
  docs/apache-airflow-providers-smtp/index.rst
  docs/apache-airflow/configurations-ref.rst
  tests/providers/smtp/hooks/test_smtp.py
Labels: area:providers, kind:documentation, provider:smtp

#33108 Allows to choose SSL context for IMAP provider
  airflow/providers/imap/CHANGELOG.rst
  airflow/providers/imap/hooks/imap.py
  airflow/providers/imap/provider.yaml
  docs/apache-airflow-providers-imap/configurations-ref.rst
  docs/apache-airflow-providers-imap/index.rst
  docs/apache-airflow/configurations-ref.rst
  tests/providers/imap/hooks/test_imap.py
Labels: area:providers, kind:documentation, full tests needed, provider:imap

#33119 Add 2.7.0b1 to Issue template
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools

#32714 Fix test_example_dags
  tests/always/test_example_dags.py
  tests/system/providers/redis/example_redis_publish.py
Labels: provider:microsoft-azure, area:providers, area:system-tests

#32989 Bring back mysql-connector-python as required dependency
  airflow/providers/apache/hive/transfers/mysql_to_hive.py
  airflow/providers/mysql/CHANGELOG.rst
  airflow/providers/mysql/provider.yaml
  generated/provider_dependencies.json
  tests/providers/mysql/hooks/test_mysql_connector_python.py
Labels: area:providers, provider:mysql

#33118 Correctly log when there are problems trying to chmod airflow.cfg
  airflow/configuration.py
Labels: type:bug-fix

#33114 openlineage, sagemaker: add missing OpenLineage type signature
  airflow/providers/amazon/aws/operators/sagemaker.py
Labels: provider:amazon-aws, area:providers, provider:openlineage

#33081 Add documentation generation for CLI commands from executors
  airflow/executors/base_executor.py
  airflow/providers/celery/executors/celery_executor.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  docs/apache-airflow-providers-celery/cli-ref.rst
  docs/apache-airflow-providers-celery/index.rst
  docs/apache-airflow-providers-cncf-kubernetes/cli-ref.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
Labels: area:CLI, area:providers, kind:documentation, provider:cncf-kubernetes, provider:celery

#33112 Add possibility to use `ssl_context` extra for SMTP and IMAP connections
  airflow/providers/imap/CHANGELOG.rst
  airflow/providers/imap/hooks/imap.py
  airflow/providers/smtp/CHANGELOG.rst
  airflow/providers/smtp/hooks/smtp.py
  docs/apache-airflow-providers-imap/connections/imap.rst
  docs/apache-airflow-providers-smtp/connections/smtp.rst
  tests/providers/imap/hooks/test_imap.py
  tests/providers/smtp/hooks/test_smtp.py
Labels: area:providers, kind:documentation, provider:imap, provider:smtp

#32925 Check google provider version in GCSToS3Operator before provide match_glob param
  airflow/providers/amazon/aws/transfers/gcs_to_s3.py
Labels: area:providers

#33123 Add notes about pre-2-7 config and cli options in providers
  docs/apache-airflow-providers-celery/cli-ref.rst
  docs/apache-airflow-providers-cncf-kubernetes/cli-ref.rst
  docs/exts/includes/providers-configurations-ref.rst
Labels: area:providers, kind:documentation, provider:cncf-kubernetes, provider:celery

#33120 openlineage: disable running listener if not configured
  airflow/providers/openlineage/plugins/openlineage.py
  tests/providers/openlineage/plugins/test_openlineage.py
Labels: area:providers, provider:openlineage

#32858 Fix: Configurable Docker image of `xcom_sidecar`
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#33092 Fix waiting the base container when reading the logs of other containers
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#33057 Consider custom pod labels on pod finding process on KubernetesPodOperator
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#33125 Revert "Fix waiting the base container when reading the logs of other containers (#33092)
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#32832 Documentation Update to enhance Readability
  docs/apache-airflow/authoring-and-scheduling/plugins.rst
Labels: area:plugins, kind:documentation, type:doc-only

#32974 Make `SQLExecuteQueryOperator` signature consistent with other SQL operators
  airflow/providers/common/sql/operators/sql.py
  tests/providers/exasol/operators/test_exasol.py
  tests/providers/snowflake/operators/test_snowflake.py
Labels: area:providers, provider:common-sql

#33127 Fix waiting the base container when reading the logs of other containers
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#33124 Move openlineage configuration to provider
  airflow/config_templates/config.yml
  airflow/providers/openlineage/plugins/openlineage.py
  airflow/providers/openlineage/provider.yaml
  docs/apache-airflow-providers-openlineage/configurations-ref.rst
  docs/apache-airflow-providers-openlineage/index.rst
  docs/apache-airflow/configurations-ref.rst
Labels: area:providers, kind:documentation, provider:openlineage

#33129 Use set for `template_fields` of `EcsDeregisterTaskDefinitionOperator`
  airflow/providers/amazon/aws/operators/ecs.py
Labels: provider:amazon-aws, area:providers

#33131 Clean `schedule_interval` usages from example dags
  tests/jobs/test_backfill_job.py
  tests/providers/openlineage/extractors/test_bash_extractor.py
  tests/providers/openlineage/extractors/test_python_extractor.py
  tests/system/providers/apache/kafka/example_dag_hello_kafka.py
  tests/system/providers/ftp/example_ftp.py
  tests/system/providers/google/cloud/compute/example_compute.py
  tests/system/providers/google/cloud/compute/example_compute_igm.py
  tests/system/providers/google/cloud/compute/example_compute_ssh.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark_deferrable.py
  tests/ti_deps/deps/test_runnable_exec_date_dep.py
Labels: provider:google, area:scheduler/executor, area:webserver, area:providers, area:system-tests, provider:openlineage, provider:ftp, provider:apache-kafka

#33133 In RDS hook, used cached_property from functools not asteroid
  airflow/providers/amazon/aws/operators/rds.py
Labels: provider:amazon-aws, area:providers

#33139 Fix oversubsription of Redis pubsub sensor
  airflow/providers/redis/sensors/redis_pub_sub.py
  tests/providers/redis/sensors/test_redis_pub_sub.py
Labels: area:providers, provider:redis

#33137 Fix wrong import for cloud build example
  tests/system/providers/google/cloud/cloud_build/example_cloud_build.py
  tests/system/providers/google/cloud/cloud_build/example_cloud_build_async.py
Labels: provider:google, area:providers, area:system-tests, full tests needed

#33140 Split PROD image verification to a separate step in CI
  .github/workflows/ci.yml
Labels: area:dev-tools

#33013 Fixed: Add links to DAGRun / DAG / Task in templates-ref.rst
  docs/apache-airflow/templates-ref.rst
Labels: kind:documentation, type:doc-only

#33143 Add links to Celery and Kubernetes executor CLI commands to Airflow
  docs/apache-airflow/cli-and-env-variables-ref.rst
Labels: area:CLI, kind:documentation

#32561 Skip served logs for non-running task try
  airflow/utils/log/file_task_handler.py
  tests/utils/test_log_handlers.py
Labels: area:logging, type:bug-fix

#33136 Fix edge cases of "migrate/create-default-connections"
  Dockerfile.ci
  airflow/cli/cli_config.py
  airflow/cli/commands/db_command.py
  airflow/config_templates/config.yml
  airflow/config_templates/config.yml.schema.json
  airflow/config_templates/unit_tests.cfg
  airflow/configuration.py
  airflow/utils/db.py
  dev/perf/sql_queries.py
  docs/apache-airflow-providers-amazon/connections/aws.rst
  docs/exts/includes/sections-and-options.rst
  docs/helm-chart/airflow-configuration.rst
  newsfragments/33136.significant.rst
  scripts/docker/entrypoint_ci.sh
  scripts/in_container/check_environment.sh
  tests/core/test_configuration.py
Labels: provider:amazon-aws, area:CLI, area:providers, area:dev-tools, kind:documentation

#32803 Use correct XCom argument in BashOperator added in 2.4+ in docs
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation

#32930 Update mypy-boto3-appflow dependency
  airflow/providers/amazon/aws/hooks/appflow.py
  airflow/providers/amazon/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers

#33149 Improve back-reference generation
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/add_back_references.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/tests/test_global_constants.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_add-back-references.svg
Labels: area:dev-tools

#32913 Fix CloudFunctionInvokeFunctionOperator system test
  tests/system/providers/google/cloud/cloud_functions/example_functions.py
Labels: provider:google, area:providers, area:system-tests

#32795 DruidHook add SQL-based task support
  airflow/providers/apache/druid/hooks/druid.py
  airflow/providers/apache/druid/operators/druid.py
  docs/apache-airflow-providers-apache-druid/operators.rst
  tests/providers/apache/druid/hooks/test_druid.py
  tests/providers/apache/druid/operators/test_druid.py
Labels: area:providers, provider:apache-druid

#33152 Upgrade ruff to latest 0.0.282 version in pre-commits
  .pre-commit-config.yaml
  airflow/models/dag.py
  airflow/providers/qubole/hooks/qubole.py
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  scripts/ci/pre_commit/pre_commit_insert_extras.py
  scripts/ci/pre_commit/pre_commit_local_yml_mounts.py
Labels: area:providers, area:dev-tools, provider:qubole

#33051 Rework provider manager to treat Airflow core hooks like other provider hooks
  airflow/cli/commands/connection_command.py
  airflow/hooks/filesystem.py
  airflow/providers_manager.py
  airflow/www/forms.py
  tests/always/test_connection.py
Labels: area:webserver, area:CLI, type:improvement, area:core-operators

#33116 add CLI notification commands to providers
  airflow/cli/cli_config.py
  airflow/cli/commands/provider_command.py
  airflow/providers_manager.py
  scripts/in_container/verify_providers.py
  tests/always/test_providers_manager.py
Labels: area:CLI, area:dev-tools

#31645 Allow downloading requirements file from GCS in `BeamRunPythonPipelineOperator`
  airflow/providers/apache/beam/operators/beam.py
  tests/providers/apache/beam/operators/test_beam.py
Labels: area:providers, use public runners, provider:apache-beam

#33147 docs(link fix)
  docs/apache-airflow/public-airflow-interface.rst
Labels: kind:documentation

#33157 Fix main after accidental breakage when merging notifier changes
  airflow/providers_manager.py
  scripts/in_container/verify_providers.py
Labels: full tests needed

#33089 Configurable health check threshold for triggerer
  airflow/config_templates/config.yml
  airflow/jobs/job.py
  airflow/jobs/triggerer_job_runner.py
  airflow/models/trigger.py
  tests/jobs/test_base_job.py
  tests/models/test_trigger.py
Labels: area:scheduler/executor, area:Triggerer

#32102 Fix reload gunicorn workers
  airflow/cli/commands/webserver_command.py
  airflow/config_templates/config.yml
Labels: area:webserver, area:CLI

#33148 Alias `DATAPROC_JOB_LOG_LINK` to `DATAPROC_JOB_LINK`
  airflow/providers/google/cloud/links/dataproc.py
Labels: provider:google, area:providers

#32811 Add example for list-import-errors as a CI check
  docs/apache-airflow/howto/usage-cli.rst
Labels: area:CLI, kind:documentation, type:doc-only

#33165 fix vote template email in Provider release
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#32705 add dag_run_ids and task_ids filter for the batch task instance API endpoint
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:webserver, area:API, area:UI

#33173 Implement new way of checking 409 error for Datafusion pipeline
  airflow/providers/google/cloud/hooks/datafusion.py
  tests/providers/google/cloud/hooks/test_datafusion.py
Labels: provider:google, area:providers

#33176 Docs typo and capitalization fixes
  docs/apache-airflow/administration-and-deployment/dag-serialization.rst
  docs/apache-airflow/howto/add-dag-tags.rst
  docs/apache-airflow/ui.rst
  docs/docker-stack/build.rst
Labels: area:serialization, kind:documentation, area:production-image, changelog:skip, area:UI

#33170 Correct header link for providers RC issue template
  dev/breeze/src/airflow_breeze/provider_issue_TEMPLATE.md.jinja2
Labels: area:dev-tools

#33055 move & reorg all user views
  airflow/auth/managers/fab/views/user.py
  airflow/auth/managers/fab/views/user_details.py
  airflow/auth/managers/fab/views/user_edit.py
  airflow/auth/managers/fab/views/user_stats.py
  airflow/www/fab_security/views.py
  airflow/www/security.py
Labels: area:webserver, AIP-56

#33175 Including env variables for statsd container
  chart/templates/statsd/statsd-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  helm_tests/other/test_statsd.py
Labels: area:helm-chart

#33158 Refactor: Remove redundant dict.keys() call in airflow/api_connexion/endpoints/pool_endpoint.py
  airflow/api_connexion/endpoints/pool_endpoint.py
Labels: area:API

#33159 Refactor: Simplify dict manipulation in airflow/cli
  airflow/cli/cli_parser.py
  airflow/cli/commands/provider_command.py
  airflow/cli/commands/role_command.py
  airflow/cli/simple_table.py
Labels: area:CLI

#33171 Fix installing older airflow versions in Breeze with openssl fix
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  scripts/in_container/_in_container_utils.sh
  scripts/in_container/check_environment.sh
Labels: area:dev-tools

#33107 Adding startupProbe to airflow services charts
  chart/templates/_helpers.yaml
  chart/templates/configmaps/configmap.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_core/test_scheduler.py
  helm_tests/webserver/test_webserver.py
Labels: area:helm-chart

#33134 Revising flower_url_prefix considering default value
  chart/values.yaml
  helm_tests/airflow_aux/test_configmap.py
Labels: area:helm-chart

#32823 Fix DataflowStartSqlJobOperator system test
  airflow/providers/google/cloud/example_dags/example_dataflow.py
  airflow/providers/google/cloud/example_dags/example_dataflow_flex_template.py
  airflow/providers/google/cloud/example_dags/example_dataflow_sql.py
  docs/apache-airflow-providers-google/operators/cloud/dataflow.rst
  tests/providers/google/cloud/operators/test_dataflow_system.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_native_python.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_sql.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#32759 Pass app context to webserver_config.py
  airflow/www/app.py
  docs/apache-airflow/howto/set-config.rst
  docs/apache-airflow/security/webserver.rst
Labels: area:webserver, kind:documentation, type:bug-fix

#33185 Prepare docs for RC2 providers (google, redis)
  airflow/providers/google/CHANGELOG.rst
  airflow/providers/redis/CHANGELOG.rst
  docs/apache-airflow-providers-google/commits.rst
  docs/apache-airflow-providers-redis/commits.rst
Labels: provider:google, area:providers, kind:documentation, provider:redis

#33180 Fixing typo in Dockerfile
  Dockerfile
  scripts/docker/entrypoint_prod.sh
Labels: area:production-image

#33195 Fix mistakenly used "release-mangement build-docs" command
  dev/provider_packages/publish_provider_documentation.sh
Labels: area:dev-tools

#33189 add deprecation warning to DATAPROC_JOB_LOG_LINK
  airflow/providers/google/cloud/links/dataproc.py
Labels: provider:google, area:providers

#31414 Fix future DagRun rarely triggered by race conditions when max_active_runs reached its upper limit.
  airflow/jobs/scheduler_job_runner.py
Labels: area:scheduler/executor, type:bug-fix

#33198 Fix time generation in vote template of provider release
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#32627 Replace State by TaskInstanceState in Airflow executors
  airflow/executors/base_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/sequential_executor.py
  airflow/providers/celery/executors/celery_executor.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_types.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
Labels: area:scheduler/executor, type:misc/internal, provider:cncf-kubernetes

#33202 Fix xcom view returning bytes as xcom value
  airflow/www/views.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, changelog:skip

#33190 Cleanup all sqlalchemy sessions before/after each test
  tests/conftest.py
Labels: full tests needed

#33135 Upgrade Elasticsearch to 8
  airflow/config_templates/config.yml
  airflow/providers/elasticsearch/CHANGELOG.rst
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/elasticsearch/provider.yaml
  docs/apache-airflow-providers-elasticsearch/configurations-ref.rst
  docs/apache-airflow-providers-elasticsearch/index.rst
  docs/apache-airflow/configurations-ref.rst
  generated/provider_dependencies.json
  tests/providers/elasticsearch/log/elasticmock/__init__.py
  tests/providers/elasticsearch/log/elasticmock/fake_elasticsearch.py
  tests/providers/elasticsearch/log/elasticmock/utilities/__init__.py
  tests/providers/elasticsearch/log/test_es_task_handler.py
Labels: area:providers, area:logging, provider:elasticsearch

#32151 Get failure information on EMR job failure
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/operators/emr.py
  tests/providers/amazon/aws/hooks/test_emr.py
  tests/providers/amazon/aws/operators/test_emr_add_steps.py
Labels: provider:amazon-aws, area:providers

#33182 AWS Authentication docs updated with generic path for credentials file
  docs/apache-airflow-providers-amazon/connections/aws.rst
Labels: provider:amazon-aws, area:providers, kind:documentation

#33097 Don't ignore setups when arrowing from group
  airflow/utils/task_group.py
  tests/utils/test_task_group.py
Labels: AIP-52

#33225 Refactor: Simplify code in providers/alibaba
  airflow/providers/alibaba/cloud/hooks/analyticdb_spark.py
  airflow/providers/alibaba/cloud/hooks/oss.py
  airflow/providers/alibaba/cloud/sensors/oss_key.py
Labels: area:providers, provider:alibaba

#33226 Implement EventBridge enable and disable rule operators
  airflow/providers/amazon/aws/hooks/eventbridge.py
  airflow/providers/amazon/aws/operators/eventbridge.py
  docs/apache-airflow-providers-amazon/operators/eventbridge.rst
  tests/providers/amazon/aws/hooks/test_eventbridge.py
  tests/providers/amazon/aws/operators/test_eventbridge.py
  tests/system/providers/amazon/aws/example_eventbridge.py
Labels: provider:amazon-aws, area:providers, area:system-tests, kind:documentation

#33230 Refactor: Simplify code in providers/cncf
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/cncf/kubernetes/pod_generator.py
  airflow/providers/cncf/kubernetes/triggers/pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#33232 Refactor: Simplify code in providers/docker
  airflow/providers/docker/operators/docker_swarm.py
Labels: area:providers, provider:docker

#33223 Fix venv detection for Python virtualenv operator
  airflow/example_dags/example_python_operator.py
  airflow/example_dags/tutorial_taskflow_api_virtualenv.py
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: area:core-operators

#33237 Add missing re2 dependency to cncf.kubernetes and celery providers
  airflow/providers/celery/provider.yaml
  airflow/providers/cncf/kubernetes/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, provider:cncf-kubernetes, provider:celery

#33240 Add check if google-re2 is declared as dependency
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
  scripts/ci/pre_commit/pre_commit_check_google_re2_imports.py
Labels: area:dev-tools

#33244 Add graph screenshots in setup-teardown howto doc
  docs/apache-airflow/howto/setup-and-teardown.rst
  docs/apache-airflow/img/setup-teardown-complex.png
  docs/apache-airflow/img/setup-teardown-group.png
  docs/apache-airflow/img/setup-teardown-nesting.png
  docs/apache-airflow/img/setup-teardown-parallel.png
  docs/apache-airflow/img/setup-teardown-scope.png
  docs/apache-airflow/img/setup-teardown-setup-group.png
  docs/apache-airflow/img/setup-teardown-simple.png
Labels: kind:documentation

#33218 make `sql` a cached property in `BigQueryInsertJobOperator`
  airflow/providers/google/cloud/operators/bigquery.py
Labels: provider:google, area:providers

#33084 Don't just default to scheduler heartbeat in jobs
  airflow/config_templates/unit_tests.cfg
  airflow/jobs/job.py
  tests/jobs/test_base_job.py
  tests/utils/test_helpers.py
Labels: area:scheduler/executor

#33207 Better fix for add-back-references
  BREEZE.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/add_back_references.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  dev/breeze/tests/test_global_constants.py
  dev/provider_packages/publish_provider_documentation.sh
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_build-docs.svg
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_add-back-references.svg
  images/breeze/output_release-management_generate-issue-content-providers.svg
  images/breeze/output_release-management_prepare-provider-documentation.svg
  images/breeze/output_release-management_prepare-provider-packages.svg
  images/breeze/output_release-management_publish-docs.svg
Labels: area:dev-tools

#33233 Add tip on host settings for Spark provider
  docs/apache-airflow-providers-apache-spark/connections/spark.rst
Labels: area:providers, kind:documentation, provider:apache-spark

#33220 Fix pydantic warning about `orm_mode` rename
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/dataset.py
  airflow/serialization/pydantic/job.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/serialization/serialized_objects.py
Labels: area:serialization, type:misc/internal

#33208 change order of issues for stale bot
  .github/workflows/recheck-old-bug-report.yml
Labels: area:dev-tools

#33254 Fix BigQuery system tests
  tests/system/providers/google/cloud/bigquery/example_bigquery_queries_async.py
  tests/system/providers/google/cloud/bigquery/example_bigquery_sensors.py
Labels: provider:google, area:providers, area:system-tests

#32709 Enable pools to consider deferred tasks
  airflow/api/client/api_client.py
  airflow/api/client/json_client.py
  airflow/api/client/local_client.py
  airflow/api/common/experimental/pool.py
  airflow/api_connexion/endpoints/pool_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/pool_schema.py
  airflow/cli/cli_config.py
  airflow/cli/commands/pool_command.py
  airflow/jobs/scheduler_job_runner.py
  airflow/migrations/versions/0128_2_7_0_add_include_deferred_column_to_pool.py
  airflow/models/pool.py
  airflow/ti_deps/deps/pool_slots_available_dep.py
  airflow/utils/db.py
  airflow/www/static/js/types/api-generated.ts
  airflow/www/views.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
  docs/apache-airflow/administration-and-deployment/pools.rst
  docs/apache-airflow/authoring-and-scheduling/deferring.rst
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/api_connexion/endpoints/test_pool_endpoint.py
  tests/api_connexion/schemas/test_pool_schemas.py
  tests/api_connexion/test_auth.py
  tests/api_experimental/client/test_local_client.py
  tests/api_experimental/common/experimental/test_pool.py
  tests/cli/commands/test_pool_command.py
  tests/cli/commands/test_task_command.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_pool.py
  tests/models/test_taskinstance.py
  tests/operators/test_subdag_operator.py
  tests/ti_deps/deps/test_pool_slots_available_dep.py
  tests/www/api/experimental/test_endpoints.py
  tests/www/views/test_views_pool.py
Labels: area:scheduler/executor, area:webserver, area:API, kind:documentation, type:new-feature

#33222 Refactor: Simplify code in providers/amazon
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/hooks/datasync.py
  airflow/providers/amazon/aws/hooks/redshift_data.py
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  airflow/providers/amazon/aws/secrets/secrets_manager.py
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  airflow/providers/amazon/aws/transfers/sql_to_s3.py
  airflow/providers/amazon/aws/triggers/batch.py
  airflow/providers/amazon/aws/triggers/ecs.py
  airflow/providers/amazon/aws/triggers/emr.py
  airflow/providers/amazon/aws/triggers/sagemaker.py
  airflow/providers/amazon/aws/utils/waiter_with_logging.py
Labels: provider:amazon-aws, area:providers, area:logging, area:secrets

#33261 Fix missing related PRs when cherry-picking
  dev/airflow-github
Labels: area:dev-tools

#33262 Remove add_task from TaskGroup
  airflow/models/abstractoperator.py
  airflow/models/taskmixin.py
  airflow/models/xcom_arg.py
  airflow/utils/edgemodifier.py
  airflow/utils/task_group.py
Labels: changelog:skip, AIP-52

#33161 Refactor: Simplify code in dag_processing
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
Labels: area:scheduler/executor, type:misc/internal

#33228 Make the `OnFinishAction` enum inherit from str to support passing it to `KubernetesPodOperatpor`
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#33265 Run MSSQL tests when PR contains DB migrations
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#33269 Clean CODEOWNERS paths and add hussein-awala as owner to some files
  .github/CODEOWNERS
Labels: area:dev-tools

#33271 Change type of defualts for include_deferred
  airflow/migrations/versions/0128_2_7_0_add_include_deferred_column_to_pool.py
  docs/apache-airflow/img/airflow_erd.sha256
Labels: kind:documentation, changelog:skip

#33273 Refactor: Simplify code in breeze
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Labels: area:dev-tools

#33270 Refactor: Simplify code in www
  airflow/www/views.py
Labels: area:webserver

#33280 Ensure include_deferred is not nullable
  airflow/migrations/versions/0128_2_7_0_add_include_deferred_column_to_pool.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
Labels: kind:documentation
