Repository apache/airflow, pull requests merged in 2023-05, with the labels that each got.

#30982 Adding example to clarify usage of --file flag in STATIC_CHECKS.md document
  STATIC_CODE_CHECKS.rst
Labels: area:dev-tools

#30968 Optimize deferrable mode execution in `DbtCloudJobRunSensor`
  airflow/providers/dbt/cloud/sensors/dbt.py
  tests/providers/dbt/cloud/sensors/test_dbt_cloud.py
Labels: area:providers

#30983 Optimize deferrable execution mode `AzureDataFactoryPipelineRunStatusSensor`
  airflow/providers/microsoft/azure/sensors/data_factory.py
  tests/providers/microsoft/azure/sensors/test_azure_data_factory.py
Labels: provider:Azure, area:providers

#29732 Loop through paginated response to check for cluster id
  airflow/providers/amazon/aws/hooks/emr.py
  tests/providers/amazon/aws/hooks/test_emr.py
Labels: provider:AWS, area:providers

#30270 Add ALL_DONE_SETUP_SUCCESS trigger rule
  airflow/decorators/base.py
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/ti_deps/dep_context.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  airflow/utils/trigger_rule.py
  tests/decorators/test_python.py
  tests/models/test_taskinstance.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
  tests/utils/test_trigger_rule.py
Labels: area:serialization, kind:documentation, changelog:skip, AIP-52

#29139 Deletion of schema, login, password, port
  docs/apache-airflow-providers-sqlite/operators.rst
Labels: area:providers, kind:documentation, provider:DBs

#30987 Fix unable to remove DagRun and TaskInstance with note
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
Labels: type:bug-fix

#30775 Add pre-commit hook to ban usage of unittest.TestCase in unit tests
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_setup.svg
  images/breeze/output_setup_check-all-params-in-groups.svg
  images/breeze/output_setup_regenerate-command-images.svg
  images/breeze/output_static-checks.svg
  scripts/ci/pre_commit/pre_commit_unittest_testcase.py
Labels: area:dev-tools

#31002 Increase timeout for docs-building job
  .github/workflows/ci.yml
Labels: area:dev-tools

#28187 Add IAM authentication to Amazon Redshift Connection by AWS Connection
  airflow/providers/amazon/aws/hooks/redshift_sql.py
  docs/apache-airflow-providers-amazon/connections/redshift.rst
  tests/providers/amazon/aws/hooks/test_redshift_sql.py
Labels: provider:AWS, area:providers

#31006 Add tags param in RedshiftCreateClusterSnapshotOperator
  airflow/providers/amazon/aws/hooks/redshift_cluster.py
  airflow/providers/amazon/aws/operators/redshift_cluster.py
  tests/providers/amazon/aws/operators/test_redshift_cluster.py
Labels: provider:AWS, area:providers

#31021 Fix missing models in API documentation.
  airflow/models/taskinstance.py
  docs/apache-airflow/public-airflow-interface.rst
  docs/conf.py
  docs/spelling_wordlist.txt
Labels: kind:documentation

#31019 Update aws.rst
  docs/apache-airflow-providers-amazon/connections/aws.rst
Labels: provider:AWS, area:providers, kind:documentation

#31029 Fixing link to wrong section
  CONTRIBUTING.rst
Labels: area:dev-tools

#30973 Fix Pool schema OpenAPI spec
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, type:bug-fix, area:UI

#31031 Fix some typos in the cluster policies docs
  docs/apache-airflow/administration-and-deployment/cluster-policies.rst
Labels: kind:documentation, changelog:skip

#30970 Update Default airflow version in Helm Chart to 2.6.0
  chart/Chart.yaml
  chart/newsfragments/30970.significant.rst
  chart/values.schema.json
  chart/values.yaml
  tests/charts/airflow_aux/test_basic_helm_chart.py
  tests/charts/airflow_core/test_triggerer.py
  tests/charts/security/test_rbac.py
Labels: area:helm-chart

#30765 Fix problem with displaying graph
  airflow/www/views.py
Labels: area:webserver

#30996 Add pre-commit verify usage of `AirflowProviderDeprecationWarning` in providers
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
Labels: area:dev-tools

#31015 Small fixes
  docs/apache-airflow/administration-and-deployment/production-deployment.rst
Labels: kind:documentation

#31032 Add extras links to some more EMR Operators and Sensors
  airflow/providers/amazon/aws/links/emr.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/sensors/emr.py
  tests/providers/amazon/aws/operators/test_emr_add_steps.py
  tests/providers/amazon/aws/operators/test_emr_create_job_flow.py
  tests/providers/amazon/aws/operators/test_emr_modify_cluster.py
  tests/providers/amazon/aws/operators/test_emr_terminate_job_flow.py
  tests/providers/amazon/aws/sensors/test_emr_job_flow.py
  tests/providers/amazon/aws/sensors/test_emr_step.py
Labels: provider:AWS, area:providers

#30923 Update return types of `get_key` methods on `S3Hook`
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/provider.yaml
  airflow/providers/apache/hive/transfers/s3_to_hive.py
  docs/apache-airflow-providers-amazon/index.rst
  generated/provider_dependencies.json
Labels: provider:AWS, area:providers, kind:documentation

#30891 Improve Description of dag_processing.processes Metric in Docs
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Labels: kind:documentation

#30735 openlineage: integrate provider configuration into Airflow config
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/providers/openlineage/extractors/manager.py
  airflow/providers/openlineage/plugins/adapter.py
  airflow/providers/openlineage/plugins/macros.py
  airflow/providers/openlineage/plugins/openlineage.py
  tests/core/test_config_templates.py
  tests/providers/openlineage/plugins/openlineage_configs/__init__.py
  tests/providers/openlineage/plugins/openlineage_configs/http.yaml
  tests/providers/openlineage/plugins/test_openlineage.py
  tests/providers/openlineage/plugins/test_openlineage_adapter.py
Labels: area:providers

#31033 Move TaskInstanceKey to a separate file to fix circular import from kubernetes_helper_functions.py
  airflow/executors/base_executor.py
  airflow/executors/celery_executor.py
  airflow/executors/celery_kubernetes_executor.py
  airflow/executors/dask_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/kubernetes_executor.py
  airflow/executors/local_executor.py
  airflow/executors/sequential_executor.py
  airflow/kubernetes/kubernetes_helper_functions.py
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/models/taskinstancekey.py
  airflow/models/xcom.py
  airflow/operators/trigger_dagrun.py
  airflow/providers/amazon/aws/links/base_aws.py
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/google/cloud/links/base.py
  airflow/providers/google/cloud/links/datafusion.py
  airflow/providers/google/cloud/links/dataproc.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/qubole/operators/qubole.py
  docs/apache-airflow/public-airflow-interface.rst
  docs/conf.py
  tests/executors/test_kubernetes_executor.py
  tests/jobs/test_backfill_job.py
  tests/models/test_xcom.py
  tests/test_utils/mock_executor.py
Labels: provider:Google, provider:Azure, provider:AWS, area:scheduler/executor, area:providers, area:kubernetes, area:core-operators, provider:Databricks

#31023 Add pre-commit to check that aiobotocore is an optional dependency
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_setup.svg
  images/breeze/output_setup_check-all-params-in-groups.svg
  images/breeze/output_setup_regenerate-command-images.svg
  images/breeze/output_static-checks.svg
  scripts/ci/pre_commit/pre_commit_check_aiobotocore_optional.py
Labels: area:dev-tools

#31061 Fix issue in pre-importing modules in zipfile
  airflow/dag_processing/processor.py
  tests/dag_processing/test_processor.py
Labels: area:scheduler/executor, type:bug-fix

#30976 Add dependency upgrade summary for ci image build
  .github/actions/build-ci-images/action.yml
  scripts/in_container/run_generate_constraints.sh
Labels: area:dev-tools

#31056 Add rest endpoint to get option of configuration
  airflow/api_connexion/endpoints/config_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_config_endpoint.py
Labels: area:webserver, area:API, area:UI

#31069 Add pankajkoti to collaborators
  .asf.yaml
Labels: area:dev-tools

#31071 Extend EMR System Test waiter timeout
  tests/system/providers/amazon/aws/example_emr.py
Labels: provider:AWS, area:providers, area:system-tests

#31072 `StepFunctionStartExecutionOperator`: get logs in case of failure
  airflow/providers/amazon/aws/operators/step_function.py
  tests/providers/amazon/aws/operators/test_step_function.py
Labels: provider:AWS, area:providers

#30781 Add template field to S3ToRedshiftOperator
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: provider:AWS, area:providers

#31057 Fix webserver crash when calling get /config
  airflow/api_connexion/endpoints/config_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_config_endpoint.py
Labels: area:webserver, area:API, area:UI

#31034 Remove feature flag for AIP-52
  .github/workflows/ci.yml
  airflow/decorators/setup_teardown.py
  airflow/example_dags/example_setup_teardown.py
  airflow/example_dags/example_setup_teardown_taskflow.py
  airflow/models/baseoperator.py
  airflow/settings.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  scripts/ci/docker-compose/_docker.env
  scripts/ci/docker-compose/base.yml
  scripts/ci/docker-compose/devcontainer.env
  tests/always/test_example_dags.py
  tests/conftest.py
  tests/decorators/test_external_python.py
  tests/decorators/test_python.py
  tests/decorators/test_python_virtualenv.py
  tests/decorators/test_setup_teardown.py
  tests/models/test_taskinstance.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/docker/decorators/test_docker.py
  tests/serialization/test_dag_serialization.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
  tests/www/views/test_views_acl.py
Labels: area:webserver, area:providers, area:dev-tools, area:serialization, area:kubernetes, provider:Docker

#31079 Add Phani and Pankaj as collaborators
  .asf.yaml
Labels: area:dev-tools

#31077 Bump stale bot version to 8
  .github/workflows/stale.yml
Labels: area:dev-tools

#31088 Add step to check prerequisites in README
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools

#31094 Import aiobotocore only if deferrable is true
  airflow/providers/amazon/aws/hooks/base_aws.py
Labels: provider:AWS, area:providers

#31096 Fix operator refrence in example_sftp_to_gcs.py
  tests/system/providers/google/cloud/gcs/example_sftp_to_gcs.py
Labels: provider:Google, area:providers, area:system-tests

#31103 Revert "Temporarily limit botocore upgrades (#31098)"
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#31078 Fix template error when iterating None value and fix params documentation
  airflow/www/static/js/trigger.js
  airflow/www/templates/airflow/trigger.html
  docs/apache-airflow/core-concepts/params.rst
  tests/www/views/test_views_trigger_dag.py
Labels: area:webserver, kind:documentation, area:UI

#31106 Update ruff to latest relesed version
  .pre-commit-config.yaml
Labels: area:dev-tools

#30990 Chart: add custom volumemounts to dag processor waitForMigrations init container
  chart/templates/dag-processor/dag-processor-deployment.yaml
  tests/charts/airflow_core/test_dag_processor.py
Labels: area:helm-chart

#31102 Move interleave_timestamp_parser config to section logging
  airflow/configuration.py
  airflow/utils/log/file_task_handler.py
Labels: area:logging

#31115 Fix Typos and Polish
  CONTRIBUTORS_QUICK_START.rst
  STATIC_CODE_CHECKS.rst
  airflow/api_connexion/openapi/v1.yaml
Labels: area:dev-tools, area:API, kind:documentation

#30999 Add providers triggers CLI command in provider discovery
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#31037 Remove noisy log from SQL table check
  airflow/providers/common/sql/operators/sql.py
Labels: area:providers, provider:Common-sql

#31038 Add cancel all runs functionality to Databricks hook
  airflow/providers/databricks/hooks/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers, provider:Databricks

#30501 DynamoDBToS3Operator - Add feature to export table to a point in time
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/amazon/aws/waiters/README.md
  airflow/providers/amazon/aws/waiters/dynamodb.json
  docs/apache-airflow-providers-amazon/transfer/dynamodb_to_s3.rst
  tests/providers/amazon/aws/transfers/test_dynamodb_to_s3.py
  tests/providers/amazon/aws/waiters/test_custom_waiters.py
  tests/system/providers/amazon/aws/example_dynamodb_to_s3.py
Labels: provider:AWS, area:providers

#30398 Ensure teardown failure with on_failure_fail_dagrun=True fails the DagRun
  airflow/models/dag.py
  airflow/models/dagrun.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
Labels: changelog:skip, AIP-52

#30726 Adding loggroomer sidecar to dag processor
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  tests/charts/airflow_core/test_dag_processor.py
  tests/charts/log_groomer.py
Labels: area:helm-chart

#31110 fix kubernetes task decorator pickle error
  airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
Labels: area:providers, area:kubernetes

#31062 Add deferrable param in SageMakerProcessingOperator
  airflow/providers/amazon/aws/operators/sagemaker.py
  airflow/providers/amazon/aws/triggers/sagemaker.py
  airflow/providers/amazon/aws/waiters/sagemaker.json
  tests/providers/amazon/aws/operators/test_sagemaker_processing.py
Labels: provider:AWS, area:providers

#31116 Update callbacks documentation (errors and context)
  docs/apache-airflow/administration-and-deployment/logging-monitoring/callbacks.rst
Labels: kind:documentation

#30762 Index on task instance
  airflow/migrations/versions/0125_2_7_0_add_index_to_task_instance_table.py
  airflow/models/taskinstance.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  newsfragments/30762.improvement.rst
Labels: kind:documentation

#31086 Update version in API spec
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API

#31138 Fix acl test on s3 copy
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: provider:AWS, area:providers

#31101 Ensure that we check worker for served logs if no local or remote logs found
  airflow/utils/log/file_task_handler.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/utils/test_log_handlers.py
Labels: area:logging

#31139 Revert "DynamoDBToS3Operator - Add feature to export table to a point in time
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/amazon/aws/waiters/README.md
  airflow/providers/amazon/aws/waiters/dynamodb.json
  docs/apache-airflow-providers-amazon/transfer/dynamodb_to_s3.rst
  tests/providers/amazon/aws/transfers/test_dynamodb_to_s3.py
  tests/providers/amazon/aws/waiters/test_custom_waiters.py
  tests/system/providers/amazon/aws/example_dynamodb_to_s3.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#30887 Add `as_dict` param to `BigQueryGetDataOperator`
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/triggers/bigquery.py
  docs/apache-airflow-providers-google/operators/cloud/bigquery.rst
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google, area:providers, kind:documentation

#31131 Redirecting to the sub-section in context
  STATIC_CODE_CHECKS.rst
Labels: area:dev-tools

#31136 Add conditional output processing in SQL operators
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/common/sql/provider.yaml
  airflow/providers/databricks/operators/databricks_sql.py
  airflow/providers/databricks/provider.yaml
  generated/provider_dependencies.json
  tests/providers/databricks/operators/test_databricks_sql.py
Labels: area:providers, provider:Common-sql, provider:Databricks

#31149 Remove worrying log message about redaction caused by OpenLineage plugin
  airflow/utils/log/secrets_masker.py
Labels: area:logging, type:bug-fix

#30960 Add description on how we handle security issues in Airflow
  .github/SECURITY.rst
  COMMITTERS.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#31158 Revert "Add description on how we handle security issues in Airflow (…
  .github/SECURITY.rst
  COMMITTERS.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#30979 Add docs for Oracle operators
  airflow/providers/oracle/example_dags/__init__.py
  airflow/providers/oracle/example_dags/example_oracle.py
  docs/apache-airflow-providers-oracle/index.rst
  docs/apache-airflow-providers-oracle/operators/index.rst
Labels: area:providers, kind:documentation, provider:DBs

#31163 Add directly dependent providers to package installation tests.
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/provider_dependencies.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_provider_dependencies.py
Labels: area:dev-tools

#31161 Add SECURITY.rst to doc files in selective checks
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Labels: area:dev-tools

#31166 Fix deprecated import in Oracle example
  airflow/providers/oracle/example_dags/example_oracle.py
Labels: area:providers, provider:DBs

#31170 Use only one line for tmp dir log
  airflow/hooks/subprocess.py
  airflow/sensors/bash.py
Labels: area:core-operators

#31142 DynamoDBToS3Operator - Add a feature to export the table to a point in time.
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/amazon/aws/waiters/README.md
  airflow/providers/amazon/aws/waiters/dynamodb.json
  docs/apache-airflow-providers-amazon/transfer/dynamodb_to_s3.rst
  tests/providers/amazon/aws/transfers/test_dynamodb_to_s3.py
  tests/providers/amazon/aws/waiters/test_custom_waiters.py
  tests/system/providers/amazon/aws/example_dynamodb_to_s3.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation

#31174 Fix section name reference for api_client_retry_configuration
  airflow/kubernetes/kube_client.py
Labels: area:kubernetes

#31164 Initialize pre-commit environment and retry if it fails
  .github/workflows/ci.yml
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
Labels: area:dev-tools

#30992 Add options to KubernetesPodOperator
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, area:kubernetes

#31182 Make sure that DAG processor job row has filed value in `job_type` column
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/base_job_runner.py
  airflow/jobs/dag_processor_job_runner.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
  tests/utils/test_helpers.py
Labels: area:scheduler/executor, type:bug-fix

#31165 Added spinner activity while the logs load
  airflow/www/static/js/api/useTaskLog.ts
  airflow/www/static/js/dag/details/taskInstance/Logs/index.tsx
Labels: area:webserver, area:UI

#31187 K8s hook should still work with missing default conn
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes.py
Labels: area:providers, area:kubernetes

#31192 Add retries to S3 delete_bucket
  airflow/providers/amazon/aws/hooks/s3.py
Labels: provider:AWS, area:providers

#31175 Fix timestamp parse failure for k8s executor pod tailing
  airflow/executors/kubernetes_executor.py
  airflow/utils/log/file_task_handler.py
  tests/executors/test_kubernetes_executor.py
Labels: area:scheduler/executor, area:logging, area:kubernetes

#31160 Add description on how we handle security issues in Airflow (#30960)
  .github/SECURITY.rst
  COMMITTERS.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#31189 Remove the upper version bound on pymongo
  airflow/providers/mongo/hooks/mongo.py
  airflow/providers/mongo/provider.yaml
  docs/apache-airflow-providers-mongo/index.rst
  generated/provider_dependencies.json
Labels: area:providers, kind:documentation

#30935 Support for sorting DAGs by Last Run Date in the web UI
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
Labels: area:webserver, area:UI

#31209 Fixed typo in PagerdutyEventsHook
  airflow/providers/pagerduty/hooks/pagerduty_events.py
Labels: area:providers

#31214 Optimize deferrable execution for `AzureDataFactoryRunPipelineOperator`
  airflow/providers/microsoft/azure/operators/data_factory.py
  tests/providers/microsoft/azure/operators/test_azure_data_factory.py
Labels: provider:Azure, area:providers

#31191 Fix pod describing on system test failure
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/system/providers/amazon/aws/example_eks_with_fargate_in_one_step.py
  tests/system/providers/amazon/aws/example_eks_with_fargate_profile.py
  tests/system/providers/amazon/aws/example_eks_with_nodegroup_in_one_step.py
  tests/system/providers/amazon/aws/example_eks_with_nodegroups.py
  tests/system/providers/amazon/aws/utils/k8s.py
Labels: provider:AWS, area:providers, area:system-tests, area:kubernetes

#31181 Improve docker-compose test usability and debuggability
  TESTING.rst
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  docker_tests/command_utils.py
  docker_tests/docker_tests_utils.py
  docker_tests/test_docker_compose_quick_start.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_testing.svg
  images/breeze/output_testing_docker-compose-tests.svg
Labels: area:dev-tools, area:production-image

#31227 Revert "Support for sorting DAGs by Last Run Date in the web UI (#309…
  airflow/www/templates/airflow/dags.html
  airflow/www/views.py
Labels: area:webserver, full tests needed, area:UI

#31228 Empty xcom result file log message more specific
  airflow/providers/cncf/kubernetes/operators/pod.py
Labels: area:providers, area:kubernetes

#31204 Fix circular import in DB migration job
  airflow/executors/kubernetes_executor.py
Labels: area:scheduler/executor, area:kubernetes

#31235 fix bad trigger rule for EKS system tests
  tests/system/providers/amazon/aws/example_eks_with_fargate_in_one_step.py
  tests/system/providers/amazon/aws/example_eks_with_fargate_profile.py
  tests/system/providers/amazon/aws/example_eks_with_nodegroup_in_one_step.py
  tests/system/providers/amazon/aws/example_eks_with_nodegroups.py
Labels: provider:AWS, area:providers, area:system-tests

#31224 Add throttling section in EMR doc
  docs/apache-airflow-providers-amazon/operators/emr/emr.rst
Labels: provider:AWS, area:providers, kind:documentation

#31247 With "full tests needed" label - run mssql tests on public runners
  .github/workflows/ci.yml
Labels: area:dev-tools

#31140 Validate connection IDs
  airflow/www/forms.py
  airflow/www/validators.py
  tests/www/test_validators.py
  tests/www/views/test_views_connection.py
Labels: area:webserver, type:improvement

#31244 Standardize Slack Notifier
  airflow/providers/slack/notifications/slack.py
  airflow/providers/slack/notifications/slack_notifier.py
  docs/apache-airflow-providers-slack/notifications/slack_notifier_howto_guide.rst
  scripts/in_container/verify_providers.py
  tests/always/test_project_structure.py
  tests/providers/slack/notifications/test_slack.py
Labels: area:providers, kind:documentation, provider:message-apps

#31190 Add `use_legacy_sql` param to `BigQueryGetDataOperator`
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:Google, area:providers

#31232 Resolving problems with redesigned grid veiw
  airflow/www/static/js/dag/details/FilterTasks.tsx
  airflow/www/static/js/dag/details/dagRun/ClearRun.tsx
  airflow/www/static/js/dag/details/dagRun/MarkRunAs.tsx
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/details/taskInstance/taskActions/ClearInstance.tsx
Labels: area:webserver, area:UI

#31257 Fix pymongo tests to be forward-compatible
  tests/providers/mongo/hooks/test_mongo.py
Labels: area:providers

#31197 Add missing DynamoDBToS3Operator system test
  tests/system/providers/amazon/aws/example_dynamodb_to_s3.py
Labels: provider:AWS, area:providers, area:system-tests

#31233 Fix `url_for_asset` fallback and 404 on DAG Audit Log
  airflow/www/extensions/init_manifest_files.py
  airflow/www/templates/airflow/dag_audit_log.html
Labels: area:webserver, area:UI

#31255 Upper-bind elasticearch integration
  airflow/providers/elasticsearch/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers

#31169 Add on_kill to EMR Serverless Job Operator
  airflow/providers/amazon/aws/operators/emr.py
  tests/providers/amazon/aws/operators/test_emr_serverless.py
Labels: provider:AWS, area:providers

#31265 Fix task.branch error caused by incorrect initial parameter
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation, type:doc-only

#31271 Fix invalid escape sequences in strings in Breeze
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/src/airflow_breeze/utils/parallel.py
Labels: area:dev-tools

#31268 Remove unused fixtures in slack tests
  tests/providers/slack/notifications/test_slack.py
  tests/providers/slack/operators/test_slack.py
Labels: area:providers, provider:message-apps

#31270 Bring back detection of implicit single-line string concatenation
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/openlineage/plugins/adapter.py
  airflow/providers/openlineage/utils/utils.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  pyproject.toml
  tests/providers/google/cloud/triggers/test_gcs.py
  tests/providers/microsoft/azure/log/test_wasb_task_handler.py
Labels: provider:Google, provider:Azure, provider:AWS, area:providers, area:dev-tools, area:logging, provider:OpenLineage

#31269 Add --only-my-changes flag to breeze static-checks command
  BREEZE.rst
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/utils/coertions.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_static-checks.svg
Labels: area:dev-tools

#31118 `CreateBatchPredictionJobOperator` Add batch_size param for Vertex AI BatchPredictionJob objects
  airflow/providers/google/cloud/hooks/vertex_ai/batch_prediction_job.py
  airflow/providers/google/cloud/operators/vertex_ai/batch_prediction_job.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/index.rst
  generated/provider_dependencies.json
  tests/providers/google/cloud/operators/test_vertex_ai.py
Labels: provider:Google, area:providers

#30980 Add `DatabricksPartitionSensor`
  airflow/providers/databricks/provider.yaml
  airflow/providers/databricks/sensors/databricks_partition.py
  docs/apache-airflow-providers-databricks/operators/sql.rst
  tests/providers/databricks/sensors/test_databricks_partition.py
  tests/system/providers/databricks/example_databricks_sensors.py
Labels: area:providers, area:system-tests, kind:documentation, provider:Databricks

#31127 Add flag apply_gcs_prefix to S3ToGCSOperator
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
  tests/providers/google/cloud/transfers/test_s3_to_gcs.py
  tests/system/providers/google/cloud/gcs/example_s3_to_gcs.py
Labels: provider:Google, area:providers, area:system-tests

#31130 Add Deferrable Mode for EC2StateSensor
  airflow/providers/amazon/aws/hooks/ec2.py
  airflow/providers/amazon/aws/sensors/ec2.py
  airflow/providers/amazon/aws/triggers/ec2.py
  tests/providers/amazon/aws/sensors/test_ec2.py
  tests/providers/amazon/aws/triggers/test_ec2.py
Labels: provider:AWS, area:providers

#31277 Fix calculation of health check threshold for SchedulerJob
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/jobs/job.py
  airflow/jobs/scheduler_job_runner.py
  newsfragments/31277.significant.rst
  tests/jobs/test_base_job.py
Labels: area:scheduler/executor

#31262 Remove snakebite-py3 based HDFS hooks and sensors
  airflow/contrib/sensors/__init__.py
  airflow/hooks/__init__.py
  airflow/providers/apache/hdfs/CHANGELOG.rst
  airflow/providers/apache/hdfs/hooks/hdfs.py
  airflow/providers/apache/hdfs/provider.yaml
  airflow/providers/apache/hdfs/sensors/hdfs.py
  airflow/sensors/__init__.py
  docs/apache-airflow-providers-apache-hdfs/connections.rst
  docs/apache-airflow-providers-apache-hdfs/operators/hdfs.rst
  docs/apache-airflow-providers-apache-hdfs/operators/index.rst
  generated/provider_dependencies.json
  scripts/in_container/run_provider_yaml_files_check.py
  setup.py
  tests/providers/apache/hdfs/hooks/test_hdfs.py
  tests/providers/apache/hdfs/sensors/test_hdfs.py
  tests/providers/apache/hive/sensors/test_hdfs.py
  tests/test_utils/hdfs_utils.py
Labels: area:providers, provider:Apache, kind:documentation, area:core-operators

#31287 Make BaseJobRunner a generic on the job class
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/base_job_runner.py
  airflow/jobs/dag_processor_job_runner.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/jobs/triggerer_job_runner.py
Labels: area:scheduler/executor

#31286 Remove --all-files specification in basic checks in CI
  .github/workflows/ci.yml
Labels: area:dev-tools

#31289 Add future-compatible mongo Hook typing
  airflow/providers/amazon/aws/transfers/mongo_to_s3.py
  airflow/providers/mongo/hooks/mongo.py
  tests/providers/amazon/aws/transfers/test_mongo_to_s3.py
Labels: area:providers

#31188 Optimize deferrable execution mode for `DbtCloudRunJobOperator`
  airflow/providers/dbt/cloud/operators/dbt.py
  tests/providers/dbt/cloud/operators/test_dbt_cloud.py
Labels: area:providers

#31266 GKEPodHook needs to have all methods KPO calls
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  tests/ast_helpers.py
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
Labels: provider:Google, area:providers, area:kubernetes

#31302 Fix bad drop_constraint call in migrations
  airflow/migrations/versions/0093_2_2_0_taskinstance_keyed_to_dagrun.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
Labels: kind:documentation

#31306 Always pass named type_ arg to drop_constraint
  airflow/migrations/versions/0089_2_2_0_make_xcom_pkey_columns_non_nullable.py
  airflow/migrations/versions/0093_2_2_0_taskinstance_keyed_to_dagrun.py
  airflow/migrations/versions/0100_2_3_0_add_taskmap_and_map_id_on_taskinstance.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
Labels: kind:documentation

#30516 Add CloudBuild build id log
  airflow/providers/google/cloud/hooks/cloud_build.py
  tests/providers/google/cloud/hooks/test_cloud_build.py
Labels: provider:Google, area:providers

#31316 Fix dynamodb test
  tests/system/providers/amazon/aws/example_dynamodb.py
Labels: provider:AWS, area:providers, area:system-tests

#31320 Chart: Default airflow version to 2.6.1
  chart/Chart.yaml
  chart/newsfragments/30970.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#31307 DynamoDBToS3Operator - change export_time value to utcnow() in system test
  tests/system/providers/amazon/aws/example_dynamodb_to_s3.py
Labels: provider:AWS, area:providers, area:system-tests

#31323 Add missing line in template for provider's doc index
  dev/provider_packages/PROVIDER_INDEX_TEMPLATE.rst.jinja2
Labels: area:dev-tools

#31024 Some minor updates to the Airflow release Doc
  dev/README_RELEASE_AIRFLOW.md
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  dev/breeze/src/airflow_breeze/commands/release_command.py
Labels: area:dev-tools

#31326 Remove `breeze restart` reference from `BREEZE.rst`
  BREEZE.rst
Labels: area:dev-tools

#31319 Apache Airflow 2.6.1 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/utils/db.py
  docs/apache-airflow/installation/supported-versions.rst
  newsfragments/28846.misc.rst
  newsfragments/31277.significant.rst
  scripts/ci/pre_commit/pre_commit_supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#31327 Deprecate `breeze stop` command and replace it by `breeze down`
  .github/workflows/ci.yml
  BREEZE.rst
  CONTRIBUTORS_QUICK_START.rst
  STATIC_CODE_CHECKS.rst
  TESTING.rst
  dev/breeze/doc/adr/0007-using-database-volumes-for-backends.md
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/main_command.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_down.svg
  images/breeze/output_setup_check-all-params-in-groups.svg
  images/breeze/output_setup_regenerate-command-images.svg
  images/breeze/output_stop.svg
  scripts/ci/pre_commit/pre_commit_mypy.py
Labels: area:dev-tools

#31333 Handle temporary credentials when resource_type is used to get custom waiters
  airflow/providers/amazon/aws/hooks/base_aws.py
Labels: provider:AWS, area:providers

#31144 feature: support K8S 1.27
  README.md
  dev/breeze/src/airflow_breeze/global_constants.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_k8s_configure-cluster.svg
  images/breeze/output_k8s_create-cluster.svg
  images/breeze/output_k8s_delete-cluster.svg
  images/breeze/output_k8s_deploy-airflow.svg
  images/breeze/output_k8s_k9s.svg
  images/breeze/output_k8s_logs.svg
  images/breeze/output_k8s_run-complete-tests.svg
  images/breeze/output_k8s_shell.svg
  images/breeze/output_k8s_status.svg
  images/breeze/output_k8s_tests.svg
  images/breeze/output_k8s_upload-k8s-image.svg
Labels: area:dev-tools

#30730 adding docker port expose capability
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, provider:Docker

#31113 Render DAGCode in the Grid View as a tab
  airflow/www/package.json
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useDag.ts
  airflow/www/static/js/api/useDagCode.ts
  airflow/www/static/js/dag/details/dagCode/CodeBlock.tsx
  airflow/www/static/js/dag/details/dagCode/index.tsx
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/templates/airflow/dag.html
  airflow/www/yarn.lock
Labels: area:webserver, area:UI

#31362 Fix AWS system test example_dynamodb_to_s3
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  tests/providers/amazon/aws/transfers/test_dynamodb_to_s3.py
  tests/system/providers/amazon/aws/example_dynamodb_to_s3.py
Labels: provider:AWS, area:providers, area:system-tests

#30185 Add fullname to owner on logging
  airflow/www/decorators.py
Labels: area:webserver, type:improvement

#31371 Increase timeouts for hook related tests
  tests/always/test_providers_manager.py
  tests/www/views/test_views_connection.py
Labels: area:webserver

#31369 Switch to google ads v13
  airflow/providers/google/ads/hooks/ads.py
Labels: provider:Google, area:providers

#31367 One of the EKS Operator unit tests was over-indented
  tests/providers/amazon/aws/operators/test_eks.py
Labels: provider:AWS, area:providers

#29926 Making webserver config customisable
  airflow/config_templates/config.yml
  airflow/config_templates/default_airflow.cfg
  airflow/configuration.py
  tests/www/views/test_views.py
Labels: area:webserver

#30742 Fix ExternalTaskSensor to work correctly with task groups
  airflow/sensors/external_task.py
  tests/sensors/test_external_task_sensor.py
Labels: type:bug-fix, area:core-operators

#31282 Make connection id validation consistent across interface
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/cli/commands/connection_command.py
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/cli/commands/test_connection_command.py
Labels: area:CLI, area:API, type:improvement

#31344 Add test_connection method to PagerdutyHook
  airflow/providers/pagerduty/hooks/pagerduty.py
Labels: area:providers

#31372 Silence jupyter-client deprecation on platformdirs
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#31336 Update the output of airflow info command in the doc
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
Labels: area:logging, kind:documentation

#31308 Added metavar and choices to --state flag in airflow dags list-jobs CLI for suggesting valid state arguments.
  airflow/cli/cli_config.py
Labels: area:CLI, kind:documentation

#31380 Skip auto-document things with :meta private:
  docs/conf.py
Labels: kind:documentation

#31385 Check Logging Handlers and Secret Backends for recursion
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#31383 Remove the leading underscore in some attrs in AIP-52
  airflow/decorators/base.py
  airflow/decorators/setup_teardown.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/models/xcom_arg.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  airflow/utils/setup_teardown.py
  tests/decorators/test_external_python.py
  tests/decorators/test_python_virtualenv.py
  tests/decorators/test_setup_teardown.py
  tests/providers/cncf/kubernetes/decorators/test_kubernetes.py
  tests/providers/docker/decorators/test_docker.py
  tests/serialization/test_dag_serialization.py
Labels: area:providers, area:serialization, changelog:skip, area:kubernetes, provider:Docker

#31397 Add get_namespace to GKEPodHook
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
Labels: provider:Google, area:providers, area:kubernetes

#31395 Fix AWS system test example_dynamodb
  airflow/providers/amazon/aws/sensors/dynamodb.py
  docs/apache-airflow-providers-amazon/operators/dynamodb.rst
  tests/system/providers/amazon/aws/example_dynamodb.py
Labels: provider:AWS, area:providers, area:system-tests, kind:documentation
