Repository apache/airflow, pull requests merged in 2023-09, with the labels that each got.

#33953 Fix Google 10.7.0 changelog
  airflow/providers/google/CHANGELOG.rst
Labels: provider:google, area:providers

#33971 Reformat Apprise and Amazon Chime connections docs
  docs/apache-airflow-providers-amazon/connections/chime.rst
  docs/apache-airflow-providers-apprise/connections.rst
Labels: provider:amazon-aws, area:providers, kind:documentation, type:doc-only, provider:apprise

#33992 docs(providers): replace markdown style link with rst style link for amazon and apache-beam
  docs/apache-airflow-providers-amazon/operators/s3/s3.rst
  docs/apache-airflow-providers-apache-beam/operators.rst
Labels: provider:amazon-aws, area:providers, kind:documentation, provider:apache-beam

#33980 Replace try - except pass by contextlib.suppress in providers
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/celery/executors/celery_executor_utils.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/hooks/stackdriver.py
Labels: provider:google, provider:amazon-aws, area:providers, provider:celery

#33979 Move the try outside the loop when this is possible in jenkins provider
  airflow/providers/jenkins/operators/jenkins_job_trigger.py
Labels: area:providers, provider:jenkins

#33969 Remove useless string join from core
  airflow/api/auth/backend/kerberos_auth.py
  airflow/www/views.py
Labels: area:webserver, area:API

#33981 Replace try - except pass by contextlib.suppress in tests
  tests/cli/commands/test_task_command.py
  tests/dag_processing/test_job_runner.py
  tests/jobs/test_scheduler_job.py
  tests/listeners/test_listeners.py
  tests/models/test_taskinstance.py
  tests/providers/amazon/aws/deferrable/hooks/test_base_aws.py
  tests/providers/http/hooks/test_http.py
  tests/providers/sftp/operators/test_sftp.py
  tests/system/providers/amazon/aws/example_quicksight.py
  tests/system/providers/docker/example_taskflow_api_docker_virtualenv.py
  tests/test_utils/system_tests_class.py
Labels: provider:amazon-aws, area:scheduler/executor, area:CLI, area:providers, area:system-tests, provider:docker, provider:http, provider:sftp

#33977 Move the try outside the loop when this is possible in kubernetes provider
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
  airflow/providers/cncf/kubernetes/triggers/pod.py
Labels: area:providers, provider:cncf-kubernetes

#33984 replace loop by any when looking for a positive value in providers
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/google/cloud/hooks/dataflow.py
Labels: provider:google, area:providers, provider:cncf-kubernetes

#34001 Fix Literal redefinition in `providers_manager.py`
  airflow/providers_manager.py
Labels: type:misc/internal

#33990 docs(core-airflow): replace markdown style link with rst style link
  docs/apache-airflow/howto/upgrading-from-1-10/index.rst
  docs/apache-airflow/security/releasing_security_patches.rst
Labels: kind:documentation

#33989 docs(CONTRIBUTING): replace markdown style link with rst style link
  CONTRIBUTING.rst
Labels: area:dev-tools

#33961 Merge and optimize Cloud Build system tests
  docs/apache-airflow-providers-google/operators/cloud/cloud_build.rst
  tests/system/providers/google/cloud/cloud_build/example_cloud_build.py
  tests/system/providers/google/cloud/cloud_build/example_cloud_build_async.py
  tests/system/providers/google/cloud/cloud_build/example_cloud_build_trigger.py
  tests/system/providers/google/cloud/cloud_build/resources/example_cloud_build.yaml
  tests/system/providers/google/cloud/cloud_build/resources/file.tar.gz
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#33985 replace loop by any when looking for a positive value in core
  airflow/www/extensions/init_appbuilder.py
  airflow/www/fab_security/sqla/manager.py
Labels: area:webserver

#33966 Add Slack Incoming Webhook Notifier
  airflow/providers/slack/notifications/slack_webhook.py
  airflow/providers/slack/provider.yaml
  docs/apache-airflow-providers-slack/index.rst
  docs/apache-airflow-providers-slack/notifications/index.rst
  docs/apache-airflow-providers-slack/notifications/slackwebhook_notifier_howto_guide.rst
  tests/providers/slack/notifications/test_slack_webhook.py
Labels: area:providers, kind:documentation, provider:slack

#33637 Use a trimmed version of README.md for PyPI
  .pre-commit-config.yaml
  README.md
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  generated/PYPI_README.md
  generated/README.md
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_static-checks.svg
  scripts/ci/license-templates/LICENSE.md
  scripts/ci/pre_commit/pre_commit_generate_pypi_readme.py
  setup.cfg
Labels: area:dev-tools

#34003 AIP-44 Fix serialization issues in Internal API.
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/serialization/serialized_objects.py
  tests/api_internal/endpoints/test_rpc_api_endpoint.py
  tests/serialization/test_serialized_objects.py
Labels: area:serialization

#33974 AIP-44 Introduce DagModelPydantic object.
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/models/dag.py
  airflow/serialization/enums.py
  airflow/serialization/pydantic/dag.py
  airflow/serialization/serialized_objects.py
  tests/serialization/test_pydantic_models.py
Labels: area:serialization

#34007 fix google CHANGELOG.rst
  airflow/providers/google/CHANGELOG.rst
Labels: provider:google, area:providers

#34011 Restore rendering of provider configuration with version_addded
  docs/conf.py
Labels: kind:documentation

#34009 Fix examples for Amazon notifiers
  docs/apache-airflow-providers-amazon/notifications/chime_notifier_howto_guide.rst
  docs/apache-airflow-providers-amazon/notifications/sns.rst
  tests/providers/amazon/aws/notifications/test_sns.py
  tests/providers/amazon/aws/notifications/test_sqs.py
Labels: provider:amazon-aws, area:providers, kind:documentation, type:doc-only

#34000 Make Amazon Chime connection lazy loaded and consistent with docs
  airflow/providers/amazon/aws/hooks/chime.py
  tests/providers/amazon/aws/hooks/test_chime.py
Labels: provider:amazon-aws, area:providers

#33932 Fix updating variables during variable imports
  airflow/cli/cli_config.py
  airflow/cli/commands/variable_command.py
  airflow/www/templates/airflow/variable_list.html
  airflow/www/views.py
  tests/cli/commands/test_variable_command.py
  tests/www/views/test_views_variable.py
Labels: area:webserver, type:bug-fix

#33833 Refactor unneeded 'continue' jumps in providers
  airflow/providers/amazon/aws/hooks/datasync.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/sensors/sqs.py
  airflow/providers/amazon/aws/utils/sqs.py
  airflow/providers/cncf/kubernetes/utils/delete_from.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/google/cloud/operators/compute.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/triggers/data_factory.py
  airflow/providers/openlineage/utils/utils.py
  airflow/providers/smtp/hooks/smtp.py
  tests/providers/elasticsearch/log/elasticmock/fake_elasticsearch.py
  tests/providers/google/cloud/log/test_stackdriver_task_handler.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers, area:logging, provider:cncf-kubernetes, provider:openlineage, provider:elasticsearch, provider:smtp

#33832 Refactor unneeded 'continue' jumps in dev
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/utils/confirm.py
  dev/breeze/src/airflow_breeze/utils/kubernetes_utils.py
  dev/breeze/src/airflow_breeze/utils/provider_dependencies.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  dev/chart/build_changelog_annotations.py
  dev/check_files.py
  dev/perf/sql_queries.py
  dev/prepare_bulk_issues.py
  dev/provider_packages/prepare_provider_packages.py
Labels: area:dev-tools

#33842 Refactor unneeded 'continue' jumps in api
  airflow/api/common/delete_dag.py
  airflow/api/common/mark_tasks.py
Labels: area:API

#33838 Refactor unneeded 'continue' jumps in www
  airflow/www/security.py
  airflow/www/utils.py
  airflow/www/views.py
  tests/www/views/test_views_configuration.py
Labels: area:webserver

#34008 Remove print introduced in PR #32261
  airflow/api_connexion/endpoints/config_endpoint.py
Labels: area:API

#33991 test(providers/microsoft): add test cases to AzureContainerInstanceHook
  tests/providers/microsoft/azure/hooks/test_azure_container_instance.py
Labels: provider:microsoft-azure, area:providers

#33982 Raise max runtime for sagemaker jobs _again_
  tests/system/providers/amazon/aws/example_sagemaker.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#33960 Make `aws.session_factory` part of Amazon provider configuration documentation
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/configurations-ref.rst
  docs/apache-airflow-providers-amazon/index.rst
Labels: provider:amazon-aws, area:providers, kind:documentation

#33836 Refactor unneeded 'continue' jumps in utils
  airflow/utils/dag_edges.py
  airflow/utils/db.py
  airflow/utils/db_cleanup.py
  airflow/utils/email.py
  airflow/utils/file.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/secrets_masker.py
Labels: area:logging

#33840 Refactor unneeded 'continue' jumps in docs
  docs/exts/extra_provider_files_with_substitutions.py
  docs/exts/operators_and_hooks_ref.py
Labels: kind:documentation

#34028 Shorten time for stale bot on pending-response label
  .github/workflows/stale.yml
Labels: area:dev-tools

#34020 Remove infinite animation for pinwheel, spin for 1.5s
  airflow/www/static/css/main.css
Labels: area:webserver, area:UI

#34025 Update CONTRIBUTING.rst information wrt Slack channels
  CONTRIBUTING.rst
Labels: area:dev-tools, type:doc-only

#33904 Update Azure fileshare hook to use azure-storage-file-share instead of azure-storage-file
  airflow/providers/google/cloud/transfers/azure_fileshare_to_gcs.py
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/hooks/fileshare.py
  airflow/providers/microsoft/azure/provider.yaml
  docs/apache-airflow-providers-microsoft-azure/connections/azure_fileshare.rst
  generated/provider_dependencies.json
  tests/providers/google/cloud/transfers/test_azure_fileshare_to_gcs.py
  tests/providers/microsoft/azure/hooks/test_azure_fileshare.py
  tests/test_utils/azure_system_helpers.py
Labels: provider:google, provider:microsoft-azure, area:providers

#34035 Remove `LocalToAzureDataLakeStorageOperator` class
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/transfers/local_to_adls.py
Labels: provider:microsoft-azure, area:providers

#34031 Limit celery by excluding 5.3.2 and 5.3.3
  airflow/providers/celery/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, provider:celery

#33611 Hide Irrelevant Dag Processor from Cluster Activity Page
  airflow/www/jest-setup.js
  airflow/www/static/js/cluster-activity/live-metrics/Health.tsx
  airflow/www/static/js/index.d.ts
  airflow/www/templates/airflow/cluster_activity.html
  airflow/www/views.py
Labels: area:webserver, area:UI

#34036 Remove `AzureDataFactoryPipelineRunStatusAsyncSensor` class
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/sensors/data_factory.py
  tests/providers/microsoft/azure/sensors/test_azure_data_factory.py
  tests/system/providers/microsoft/azure/example_adf_run_pipeline.py
Labels: provider:microsoft-azure, area:providers

#33973 Link to ASF lazy consensus doc in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: area:dev-tools

#33968 Remove useless string join from providers
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers, area:logging, provider:cncf-kubernetes

#33970 Remove useless string join from tests
  tests/always/test_connection.py
  tests/cli/commands/test_kubernetes_command.py
  tests/cli/commands/test_rotate_fernet_key_command.py
  tests/dags/test_clear_subdag.py
  tests/models/test_variable.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
  tests/providers/google/common/hooks/test_base_google.py
  tests/utils/test_log_handlers.py
Labels: provider:google, area:CLI, area:providers, provider:cncf-kubernetes

#34046 Make AWS SecretsManager tests compatible with `moto>=4.2.1`
  tests/providers/amazon/aws/hooks/test_secrets_manager.py
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Labels: provider:amazon-aws, area:providers, area:secrets, type:misc/internal

#34038 Remove azure-storage-common from microsoft azure providers
  airflow/providers/microsoft/azure/provider.yaml
  generated/provider_dependencies.json
Labels: provider:microsoft-azure, area:providers

#33903 Ensure that tasks wait for running indirect setup
  airflow/models/abstractoperator.py
  airflow/models/dag.py
  airflow/ti_deps/deps/trigger_rule_dep.py
  docs/apache-airflow/howto/setup-and-teardown.rst
  tests/models/test_dag.py
  tests/models/test_taskinstance.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Labels: AIP-52

#33839 Refactor unneeded 'continue' jumps in dag processing
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/example_dags/plugins/workday.py
Labels: area:scheduler/executor

#34029 Fix link for running Airflow in Docker
  dev/README.md
  docs/docker-stack/README.md
Labels: area:dev-tools, kind:documentation, area:production-image

#33834 Refactor unneeded 'continue' jumps in scripts
  scripts/ci/pre_commit/common_precommit_utils.py
  scripts/ci/pre_commit/pre_commit_base_operator_partial_arguments.py
  scripts/ci/pre_commit/pre_commit_breeze_cmd_line.py
  scripts/ci/pre_commit/pre_commit_decorator_operator_implements_custom_name.py
  scripts/ci/pre_commit/pre_commit_update_common_sql_api_stubs.py
  scripts/ci/pre_commit/pre_commit_vendor_k8s_json_schema.py
  scripts/ci/testing/summarize_junit_failures.py
  scripts/in_container/update_quarantined_test_status.py
  scripts/in_container/verify_providers.py
  scripts/tools/list-integrations.py
Labels: area:dev-tools

#33864 Replace single quotes by double quotes in tests
  airflow/providers/amazon/aws/triggers/ecs.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/hooks/test_functions.py
  tests/providers/google/cloud/hooks/test_gcs.py
  tests/providers/google/cloud/hooks/test_mlengine.py
  tests/providers/google/marketing_platform/hooks/test_analytics.py
  tests/providers/microsoft/azure/hooks/test_azure_cosmos.py
Labels: provider:google, provider:microsoft-azure, area:providers

#33987 Combine similar if logics in providers
  airflow/providers/amazon/aws/utils/sqs.py
  airflow/providers/celery/executors/celery_executor.py
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/google/cloud/transfers/cassandra_to_gcs.py
  airflow/providers/oracle/hooks/oracle.py
Labels: provider:google, provider:amazon-aws, area:providers, area:logging, provider:cncf-kubernetes, provider:celery, provider:oracle

#33986 Combine similar if logics in tests
  tests/operators/test_branch_operator.py
  tests/providers/common/sql/operators/test_sql.py
Labels: area:providers, area:core-operators, provider:common-sql

#34018 Fix BigQueryValueCheckOperator deferrable mode optimisation
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers, provider:common-sql

#33975 Move the try outside the loop when this is possible in Airflow core
  airflow/api/__init__.py
  airflow/cli/commands/standalone_command.py
  airflow/executors/local_executor.py
  airflow/jobs/triggerer_job_runner.py
  airflow/triggers/external_task.py
  airflow/www/extensions/init_security.py
Labels: area:scheduler/executor, area:webserver, area:CLI, area:API, area:Triggerer

#33976 Move the try outside the loop when this is possible in Google provider
  airflow/providers/google/cloud/triggers/bigquery.py
  airflow/providers/google/cloud/triggers/bigquery_dts.py
  airflow/providers/google/cloud/triggers/cloud_batch.py
  airflow/providers/google/cloud/triggers/cloud_build.py
  airflow/providers/google/cloud/triggers/cloud_sql.py
  airflow/providers/google/cloud/triggers/dataflow.py
  airflow/providers/google/cloud/triggers/datafusion.py
  airflow/providers/google/cloud/triggers/dataproc.py
  airflow/providers/google/cloud/triggers/kubernetes_engine.py
  airflow/providers/google/cloud/triggers/mlengine.py
Labels: provider:google, area:providers, provider:cncf-kubernetes

#34034 Add decorator for suppress optional internal methods in Amazon Provider
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/utils/suppress.py
  tests/providers/amazon/aws/utils/test_suppress.py
Labels: provider:amazon-aws, area:providers

#33845 Refactor unneeded 'continue' jumps in cli
  airflow/cli/cli_config.py
  airflow/cli/commands/internal_api_command.py
  airflow/cli/commands/kubernetes_command.py
  airflow/cli/commands/webserver_command.py
Labels: area:webserver, area:CLI, provider:cncf-kubernetes

#34059 Add state utils to Public Airflow Interface
  airflow/utils/state.py
  docs/apache-airflow/public-airflow-interface.rst
  docs/conf.py
Labels: kind:documentation

#34056 Clarify new_state in OpenAPI spec
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, area:UI

#34014 Remove [project] section from `pyproject.toml`
  .pre-commit-config.yaml
  STATIC_CODE_CHECKS.rst
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_static-checks.svg
  pyproject.toml
Labels: area:dev-tools

#34070 feat(providers/microsoft): add AzureContainerInstancesOperator.volume as a template field
  airflow/providers/microsoft/azure/operators/container_instances.py
Labels: provider:microsoft-azure, area:providers

#34068 Fixup Datafusion system tests
  airflow/providers/google/cloud/hooks/datafusion.py
  docs/apache-airflow-providers-google/operators/cloud/datafusion.rst
  tests/providers/google/cloud/hooks/test_datafusion.py
  tests/system/providers/google/cloud/datafusion/example_datafusion.py
  tests/system/providers/google/cloud/datafusion/example_datafusion_async.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#33846 Refactor unneeded 'continue' jumps in jobs
  airflow/jobs/backfill_job_runner.py
  airflow/jobs/scheduler_job_runner.py
Labels: area:scheduler/executor

#33849 Refactor unneeded 'continue' jumps around the repo
  airflow/decorators/base.py
  airflow/executors/debug_executor.py
  airflow/plugins_manager.py
  airflow/providers_manager.py
  airflow/serialization/serialized_objects.py
  airflow/template/templater.py
Labels: area:scheduler/executor, area:serialization, area:plugins

#34052 Refactor: Simplify loop in aws/triggers/batch.py
  airflow/providers/amazon/aws/triggers/batch.py
Labels: provider:amazon-aws, area:providers

#34075 Attempt to fix the flaky TestTriggererJob test
  tests/jobs/test_triggerer_job.py
Labels: area:scheduler/executor, changelog:skip, area:Triggerer

#34081 Bring back Pydantic 1 compatibility
  airflow/configuration.py
  airflow/serialization/pydantic/dataset.py
  airflow/serialization/pydantic/job.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/serialization/serde.py
  airflow/serialization/serialized_objects.py
  setup.cfg
Labels: area:serialization

#34073 docs(providers/microsoft): improve documentation for AzureContainerRegistryHook DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/acr.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34074 docs(providers/microsoft): improve documentation for AzureDataLakeHook DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/adl.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34057 Refactor attempting loops in jenkins
  airflow/providers/jenkins/operators/jenkins_job_trigger.py
Labels: area:providers, provider:jenkins

#33914 Cleanup Docker operator logging
  airflow/providers/docker/exceptions.py
  airflow/providers/docker/operators/docker.py
  tests/providers/docker/operators/test_docker.py
Labels: area:providers, provider:docker

#34004 Allowing short package names in build-docs breeze command
  BREEZE.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  docs/README.rst
  docs/build_docs.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
Labels: area:dev-tools, kind:documentation

#34076 Fix race condition in the system test example_vision_explicit
  tests/system/providers/google/cloud/vision/example_vision_explicit.py
Labels: provider:google, area:providers, area:system-tests

#34002 test(providers/microsfot): add system test for AzureContainerVolumeHook and AzureContainerRegistryHook
  tests/system/providers/microsoft/azure/example_azure_container_instances.py
Labels: provider:microsoft-azure, area:providers, area:system-tests

#34098 docs(providers/microsoft): improve documentation for AzureBatchHook DefaultAzureCredential support
  airflow/providers/microsoft/azure/hooks/batch.py
  docs/apache-airflow-providers-microsoft-azure/connections/azure_batch.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34088 Rearrange scheduler and executors labels
  .github/boring-cyborg.yml
Labels: area:dev-tools

#34090 Add missing audit logs for default flask action: add, edit and delete
  airflow/www/views.py
Labels: area:webserver

#33934 Replace sequence concatination by unpacking in Airflow core
  airflow/api/common/trigger_dag.py
  airflow/api_connexion/schemas/common_schema.py
  airflow/api_connexion/schemas/enum_schemas.py
  airflow/cli/cli_config.py
  airflow/cli/commands/standalone_command.py
  airflow/configuration.py
  airflow/jobs/backfill_job_runner.py
  airflow/kubernetes/pre_7_4_0_compatibility/pod_generator.py
  airflow/models/dag.py
  airflow/utils/python_virtualenv.py
  airflow/utils/state.py
  airflow/www/utils.py
Labels: area:Scheduler, area:webserver, area:CLI, area:API

#34089 Add Celery extra in Breeze when using CeleryExecutor and --use-airflow
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
Labels: area:dev-tools

#34102 docs(providers/microsoft): improve documentation for AzureCosmosDBHook DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/azure_cosmos.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34094 docs(providers/microsoft): improve documentation for AzureDataLakeStorageV2Hook DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/adls_v2.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#33898 Refactor regex in providers
  airflow/providers/amazon/aws/hooks/chime.py
  airflow/providers/amazon/aws/hooks/s3.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/sensors/s3.py
  airflow/providers/amazon/aws/utils/__init__.py
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/livy/hooks/livy.py
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/discord/hooks/discord_webhook.py
  airflow/providers/ftp/sensors/ftp.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/secrets/secret_manager.py
  airflow/providers/google/cloud/utils/mlengine_operator_utils.py
  airflow/providers/microsoft/azure/secrets/key_vault.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers, area:secrets, provider:common-sql, provider:discord, provider:ftp, provider:apache-hive, provider:apache-spark, provider:apache-livy

#34103 docs(providers/microsoft): improve documentation for WasbHook DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/wasb.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34097 docs(providers/microsoft): improve documentation for AzureBaseHook DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/azure.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34104 docs(providers/microsoft): improve documentation for AzureContainerVolumeHook DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/azure_container_volume.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34101 docs(providers/microsoft): improve documentation for AzureFileShareHook DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/azure_fileshare.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34096 docs(providers/microsoft): improve documentation for Azure Service Bus hooks DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/asb.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34095 docs(providers/microsoft): improve documentation for AzureDataExplorerHook DefaultAzureCredential support
  docs/apache-airflow-providers-microsoft-azure/connections/adx.rst
Labels: provider:microsoft-azure, area:providers, kind:documentation

#34016 Added more example code for XCom push and pull
  docs/apache-airflow/core-concepts/xcoms.rst
Labels: kind:documentation

#34124 Fix RAT check for added DOAP file
  .rat-excludes
Labels: area:dev-tools

#34123 Fix the required permissions to clear a TI from the UI
  airflow/www/views.py
Labels: area:webserver

#34110 Refactor: Consolidate import datetime
  airflow/example_dags/example_latest_only.py
  airflow/providers/cncf/kubernetes/pod_launcher_deprecated.py
  airflow/www/forms.py
Labels: area:webserver, area:providers, provider:cncf-kubernetes

#34122 openlineage: fix import in `get_custom_facets`
  airflow/providers/openlineage/plugins/facets.py
  tests/providers/openlineage/utils/test_utils.py
Labels: area:providers, provider:openlineage

#34072 Fix for TaskGroup toggles for duplicated labels
  airflow/www/static/js/dag/details/gantt/Row.tsx
  airflow/www/static/js/dag/details/graph/utils.ts
  airflow/www/static/js/dag/grid/TaskName.test.tsx
  airflow/www/static/js/dag/grid/TaskName.tsx
  airflow/www/static/js/dag/grid/ToggleGroups.tsx
  airflow/www/static/js/dag/grid/index.test.tsx
  airflow/www/static/js/dag/grid/renderTaskRows.tsx
  airflow/www/static/js/utils/graph.ts
Labels: area:webserver, area:UI

#34143 Fix query bug in next_run_datasets_summary endpoint
  airflow/www/views.py
  tests/www/views/test_views_dataset.py
Labels: area:webserver

#34130 Used cached property for hook in SparkKubernetesOperator
  airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_spark_kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#34146 Increase timeout for static checks
  .github/workflows/ci.yml
Labels: area:dev-tools

#34054 Refactor attempting loops in breeze
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/utils/kubernetes_utils.py
Labels: area:dev-tools

#34041 Custom fetch all handler for vertica to not miss errors
  airflow/providers/vertica/hooks/vertica.py
  tests/providers/vertica/hooks/test_vertica.py
Labels: area:providers, provider:vertica

#34148 Fix too strict tests for Salesfore hook
  tests/providers/salesforce/hooks/test_salesforce.py
Labels: area:providers, provider:salesforce

#32903 allow DatabricksSubmitRunOperator to accept a pipeline name for a pipeline_task
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  docs/apache-airflow-providers-databricks/operators/submit_run.rst
  tests/providers/databricks/operators/test_databricks.py
Labels: area:providers, provider:databricks

#34114 Fix issues related to access_control={}
  airflow/models/dag.py
  airflow/serialization/serialized_objects.py
  airflow/www/security.py
  tests/serialization/test_dag_serialization.py
Labels: area:webserver

#34060 Consolidate importing of os.path.*
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/operators/glue.py
  airflow/providers/amazon/aws/transfers/dynamodb_to_s3.py
  airflow/providers/ftp/hooks/ftp.py
  airflow/providers/google/cloud/example_dags/example_cloud_sql_query.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/www/extensions/init_views.py
  dev/provider_packages/prepare_provider_packages.py
  docs/exts/exampleinclude.py
  scripts/ci/pre_commit/pre_commit_check_order_setup.py
  scripts/ci/pre_commit/pre_commit_check_setup_extra_packages_ref.py
  scripts/ci/pre_commit/pre_commit_inline_scripts_in_docker.py
  scripts/in_container/update_quarantined_test_status.py
  setup.py
  tests/providers/google/cloud/operators/test_dataprep_system.py
  tests/system/providers/amazon/aws/example_google_api_sheets_to_s3.py
  tests/system/providers/amazon/aws/utils/__init__.py
  tests/utils/test_file.py
Labels: provider:google, provider:amazon-aws, area:webserver, area:providers, area:dev-tools, area:system-tests, kind:documentation, provider:ftp

#34135 fix: docstring in endpoint_service.py
  airflow/providers/google/cloud/operators/vertex_ai/endpoint_service.py
Labels: provider:google, area:providers

#34108 Refactor: Consolidate import and usage of random
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/utils/strings.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/provider_packages/prepare_provider_packages.py
  tests/models/test_cleartasks.py
  tests/providers/amazon/aws/hooks/test_batch_client.py
  tests/providers/amazon/aws/utils/test_identifiers.py
  tests/providers/microsoft/conftest.py
  tests/providers/oracle/operators/test_oracle.py
  tests/providers/ssh/operators/test_ssh.py
  tests/system/providers/google/cloud/dataplex/resources/spark_example_pi.py
Labels: provider:google, provider:amazon-aws, area:providers, area:dev-tools, area:system-tests, provider:ssh, provider:oracle

#34111 Refactor: Consolidate "import numpy as np"
  airflow/providers/oracle/hooks/oracle.py
  tests/providers/oracle/hooks/test_oracle.py
  tests/providers/salesforce/hooks/test_salesforce.py
  tests/serialization/serializers/test_serializers.py
Labels: area:providers, area:serialization, provider:oracle, provider:salesforce

#34125 Refactor: use stdlib's textwrap.shorten
  dev/perf/sql_queries.py
Labels: area:dev-tools

#33959 openlineage, dbt: add OpenLineage support for DBT Cloud
  airflow/providers/dbt/cloud/hooks/dbt.py
  airflow/providers/dbt/cloud/operators/dbt.py
  airflow/providers/dbt/cloud/sensors/dbt.py
  airflow/providers/dbt/cloud/utils/__init__.py
  airflow/providers/dbt/cloud/utils/openlineage.py
  airflow/providers/openlineage/plugins/listener.py
  airflow/providers/openlineage/plugins/openlineage.py
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  tests/providers/dbt/cloud/test_data/__init__.py
  tests/providers/dbt/cloud/test_data/catalog.json
  tests/providers/dbt/cloud/test_data/job_run.json
  tests/providers/dbt/cloud/test_data/manifest.json
  tests/providers/dbt/cloud/test_data/run_results.json
  tests/providers/dbt/cloud/utils/__init__.py
  tests/providers/dbt/cloud/utils/test_openlineage.py
Labels: area:providers, provider:openlineage, provider:dbt-cloud

#34136 Ensure details panel is shown when any tab is selected
  airflow/www/static/js/dag/Main.tsx
  airflow/www/static/js/dag/details/index.tsx
Labels: area:webserver, area:UI

#34161 respect soft_fail argument when exception is raised for ftp sensors
  airflow/providers/ftp/sensors/ftp.py
  tests/providers/ftp/sensors/test_ftp.py
Labels: area:providers, provider:ftp

#34167 respect soft_fail argument when exception is raised for spark-kubernetes sensors
  airflow/providers/cncf/kubernetes/sensors/spark_kubernetes.py
  tests/providers/cncf/kubernetes/sensors/test_spark_kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#34164 respect soft_fail argument when exception is raised for dbt sensors
  airflow/providers/dbt/cloud/sensors/dbt.py
  tests/providers/dbt/cloud/sensors/test_dbt_cloud.py
Labels: area:providers, provider:dbt-cloud

#34165 respect soft_fail argument when exception is raised for google-marketing-platform sensors
  airflow/providers/google/marketing_platform/sensors/display_video.py
  tests/providers/google/marketing_platform/sensors/test_display_video.py
Labels: provider:google, area:providers

#34182 Only tag :latest image when default python version is used
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#34160 heartbeat failure log message fix
  airflow/jobs/job.py
Labels: area:Scheduler

#34156 respect soft_fail argument when exception is raised for airbyte sensors
  airflow/providers/airbyte/sensors/airbyte.py
  tests/providers/airbyte/sensors/test_airbyte.py
Labels: area:providers, provider:airbyte

#34157 respect soft_fail argument when exception is raised for alibaba sensors
  airflow/providers/alibaba/cloud/sensors/oss_key.py
  tests/providers/alibaba/cloud/sensors/test_oss_key.py
Labels: area:providers, provider:alibaba

#34184 Apache Airflow 2.7.1 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  docs/apache-airflow/installation/supported-versions.rst
  generated/PYPI_README.md
  newsfragments/33404.significant.rst
  newsfragments/33452.significant.rst
  scripts/ci/pre_commit/pre_commit_supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#34192 Fix bad "code cleanup" in celery executor
  airflow/providers/celery/executors/celery_executor.py
Labels: area:providers, provider:celery

#34186 Chart: Default airflow version to 2.7.1
  chart/Chart.yaml
  chart/newsfragments/32517.significant.rst
  chart/newsfragments/34186.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#33843 Chart: Add scheduler name to PODs templates
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/cleanup/cleanup-cronjob.yaml
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/templates/flower/flower-deployment.yaml
  chart/templates/jobs/create-user-job.yaml
  chart/templates/jobs/migrate-database-job.yaml
  chart/templates/pgbouncer/pgbouncer-deployment.yaml
  chart/templates/redis/redis-statefulset.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/statsd/statsd-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_aux/test_cleanup_pods.py
  helm_tests/airflow_aux/test_create_user_job.py
  helm_tests/airflow_aux/test_migrate_database_job.py
  helm_tests/airflow_aux/test_pod_template_file.py
  helm_tests/airflow_core/test_dag_processor.py
  helm_tests/airflow_core/test_scheduler.py
  helm_tests/airflow_core/test_triggerer.py
  helm_tests/airflow_core/test_worker.py
  helm_tests/other/test_flower.py
  helm_tests/other/test_pgbouncer.py
  helm_tests/other/test_redis.py
  helm_tests/other/test_statsd.py
  helm_tests/webserver/test_webserver.py
Labels: area:helm-chart

#34214 Fix dataplex system tests
  tests/system/providers/google/cloud/dataplex/example_dataplex.py
  tests/system/providers/google/cloud/dataplex/resources/__init__.py
  tests/system/providers/google/cloud/dataplex/resources/spark_example_pi.py
Labels: provider:google, area:providers, area:system-tests

#34220 Refactor: Consolidate import textwrap in providers
  airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  airflow/providers/docker/decorators/docker.py
Labels: area:providers, provider:cncf-kubernetes, provider:docker

#34199 respect soft_fail argument when exception is raised for sql sensors
  airflow/providers/common/sql/sensors/sql.py
  tests/providers/common/sql/sensors/test_sql.py
Labels: area:providers, provider:common-sql

#34208 fix: BigQuery job error message
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/triggers/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/triggers/test_bigquery.py
Labels: provider:google, area:providers

#33988 Combine similar if logics in core
  airflow/models/baseoperator.py
  airflow/serialization/serialized_objects.py
  airflow/ti_deps/deps/trigger_rule_dep.py
Labels: area:serialization

#34153 Add `progress_callback` parameter to `KubernetesPodOperator`
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#34230 Establishing short hand argument for apache-airflow-providers rule
  BREEZE.rst
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  dev/breeze/src/airflow_breeze/utils/common_options.py
  docs/README.rst
  images/breeze/output-commands-hash.txt
  images/breeze/output_build-docs.svg
Labels: area:dev-tools

#34209 Push to xcom before `KubernetesPodOperator` deferral
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#34246 Update README_RELEASE_PROVIDER_PACKAGES.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#34235 Add SBOM files generation to airflow release process
  dev/README_RELEASE_AIRFLOW.md
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
  dev/breeze/src/airflow_breeze/commands/sbom_commands_config.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_sbom.svg
  images/breeze/output_sbom_update-sbom-information.svg
Labels: area:dev-tools

#34249 Replace assert by if...raise in www package
  airflow/www/views.py
Labels: area:webserver

#34187 Google Dataform operators: Update `template_fields`
  airflow/providers/google/cloud/operators/dataform.py
Labels: provider:google, area:providers

#34251 Replace try/except/pass by contextlib.suppress in ElasticSearch provider
  airflow/providers/elasticsearch/log/es_task_handler.py
Labels: area:providers, area:logging, provider:elasticsearch

#34248 Make param validation consistent for DAG validation and triggering
  airflow/models/dag.py
Labels: type:bug-fix

#34178 Add airflow db migrate command to migrateDatabaseJob
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_aux/test_migrate_database_job.py
Labels: area:helm-chart

#34253 Introduce short package names for publish docs
  BREEZE.rst
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/params/doc_build_params.py
  dev/breeze/src/airflow_breeze/utils/general_utils.py
  dev/breeze/src/airflow_breeze/utils/publish_docs_helpers.py
  images/breeze/output-commands-hash.txt
  images/breeze/output_release-management.svg
  images/breeze/output_release-management_publish-docs.svg
Labels: area:dev-tools

#34258 Simplify 'True if ... else False' to bool(...)
  airflow/providers/amazon/aws/sensors/s3.py
  airflow/providers/google/cloud/triggers/bigquery.py
Labels: provider:google, provider:amazon-aws, area:providers

#34254 Improve docker-compose tests stability
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  docker_tests/test_docker_compose_quick_start.py
  images/breeze/output-commands-hash.txt
  images/breeze/output-commands.svg
  images/breeze/output_testing_docker-compose-tests.svg
Labels: area:production-image, full tests needed

#34261 Add SBOM entry in security documentation
  docs/apache-airflow/security/audit_logs.rst
  docs/apache-airflow/security/sbom.rst
Labels: kind:documentation, type:doc-only

#34257 Bump min common-sql provider version for Google provider
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
Labels: provider:google, area:providers

#33858 replace unnecessary dict comprehension by dict() in core
  airflow/api/common/experimental/get_lineage.py
  airflow/models/dagrun.py
  airflow/operators/python.py
  airflow/www/decorators.py
  airflow/www/views.py
Labels: area:webserver, area:API, area:core-operators

#34113 Refactor: Consolidate 'import textwrap' in core
  airflow/decorators/base.py
  airflow/example_dags/example_passing_params_via_test_command.py
  airflow/example_dags/tutorial.py
  airflow/example_dags/tutorial_dag.py
  airflow/operators/python.py
  scripts/ci/pre_commit/pre_commit_insert_extras.py
  scripts/in_container/run_migration_reference.py
  setup.py
  tests/dag_processing/test_job_runner.py
  tests/dags/test_default_impersonation.py
  tests/dags/test_impersonation.py
  tests/dags/test_no_impersonation.py
Labels: area:dev-tools, area:core-operators

#34194 fix(providers-google): gcp_conn_id parameter ignored in GKEStartPodOperator hook property
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
Labels: provider:google, area:providers, provider:cncf-kubernetes

#33356 Add BranchPythonVirtualenvOperator
  airflow/operators/branch.py
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: type:new-feature, area:core-operators

#34215 Fix datastore system tests.
  docs/apache-airflow-providers-google/operators/cloud/datastore.rst
  tests/system/providers/google/cloud/datastore/example_datastore_commit.py
  tests/system/providers/google/cloud/datastore/example_datastore_export_import.py
  tests/system/providers/google/cloud/datastore/example_datastore_query.py
  tests/system/providers/google/cloud/datastore/example_datastore_rollback.py
  tests/system/providers/google/cloud/gcs/example_firestore.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#34212 Deprecate AutoMLTrainModelOperator for NL
  airflow/providers/google/cloud/operators/automl.py
  docs/apache-airflow-providers-google/operators/cloud/automl.rst
  tests/system/providers/google/cloud/automl/example_automl_nl_text_classification.py
  tests/system/providers/google/cloud/automl/example_automl_nl_text_extraction.py
  tests/system/providers/google/cloud/automl/example_automl_nl_text_sentiment.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#34217 Add `expected_terminal_state` parameter to Dataflow operators
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
Labels: provider:google, area:providers

#34216 Use a AwsBaseWaiterTrigger-based trigger in EmrAddStepsOperator deferred mode
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/aws/triggers/emr.py
  airflow/providers/amazon/aws/waiters/emr.json
  tests/providers/amazon/aws/hooks/test_emr.py
  tests/providers/amazon/aws/triggers/test_emr.py
  tests/providers/amazon/aws/triggers/test_emr_trigger.py
  tests/providers/amazon/aws/waiters/test_custom_waiters.py
Labels: provider:amazon-aws, area:providers
