Repository apache/airflow, pull requests merged in 2024-11, with the labels that each got.

#43565 Fix TrySelector for Mapped Tasks in Logs and Details Grid Panel
  airflow/www/static/js/api/useTIHistory.ts
Labels: area:webserver, type:bug-fix, area:UI, legacy ui

#43566 Fix TrySelector for Mapped Tasks in Logs and Details Grid Panel (#43565) Backport
  airflow/www/static/js/api/useTIHistory.ts
Labels: area:webserver, type:bug-fix, area:UI, legacy ui

#43572 Mark all tasks as skipped when failing a dag_run manually including t…
  airflow/api/common/mark_tasks.py
  tests/www/views/test_views_dagrun.py
Labels: area:webserver, area:API

#43573 Add tirkarthi to committers list.
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/apache-airflow/project.rst
Labels: area:dev-tools, kind:documentation

#43248 Add missing test for kubernetes compat converters
  providers/tests/cncf/kubernetes/backcompat/__init__.py
  providers/tests/cncf/kubernetes/backcompat/test_backwards_compat_converters.py
  tests/always/test_project_structure.py
Labels: area:providers, provider:cncf-kubernetes

#43580 mark test_task_workflow_trigger_success as flaky (#42972)
  tests/triggers/test_external_task.py
Labels: changelog:skip, area:Triggerer

#43568 Switch PythonVirtualenvOperator to venv from virtualenv package
  Dockerfile
  INSTALL
  airflow/example_dags/example_branch_operator.py
  airflow/example_dags/example_branch_operator_decorator.py
  airflow/example_dags/example_python_decorator.py
  airflow/example_dags/example_python_operator.py
  airflow/example_dags/tutorial_taskflow_api_virtualenv.py
  contributing-docs/12_airflow_dependencies_and_extras.rst
  dev/breeze/doc/images/output_prod-image_build.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  docker_tests/test_prod_image.py
  docs/apache-airflow/extra-packages-ref.rst
  docs/docker-stack/build-arg-ref.rst
  docs/docker-stack/changelog.rst
  generated/provider_dependencies.json
  hatch_build.py
  newsfragments/43568.significant.rst
  providers/src/airflow/providers/standard/CHANGELOG.rst
  providers/src/airflow/providers/standard/operators/python.py
  providers/src/airflow/providers/standard/provider.yaml
  providers/src/airflow/providers/standard/utils/python_virtualenv.py
  providers/tests/standard/operators/test_python.py
  providers/tests/standard/utils/test_python_virtualenv.py
  pyproject.toml
  tests/decorators/test_python_virtualenv.py
Labels: area:providers, area:dev-tools, kind:documentation, provider:standard

#43588 Allow Utkarsh to run dockerhub image release job
  .github/workflows/release_dockerhub_image.yml
Labels: area:dev-tools

#43589 Allow Utkarsh to run dockerhub image release job (#43588)
  .github/workflows/release_dockerhub_image.yml
Labels: area:dev-tools

#43590 Fix Try Selector in Mapped Tasks also on Index 0
  airflow/www/static/js/api/useTIHistory.ts
Labels: area:webserver, type:bug-fix, area:UI, legacy ui

#43596 Remove warning about missing config in edge plugin loading
  providers/src/airflow/providers/edge/CHANGELOG.rst
  providers/src/airflow/providers/edge/__init__.py
  providers/src/airflow/providers/edge/plugins/edge_executor_plugin.py
  providers/src/airflow/providers/edge/provider.yaml
Labels: area:providers, type:bug-fix, AIP-69, provider:edge

#43593 Remove extra step standard provider installation in OpenApi client tests
  .github/workflows/basic-tests.yml
Labels: area:dev-tools

#43591 Fix Try Selector in Mapped Tasks also on Index 0 (#43590) Backport
  airflow/www/static/js/api/useTIHistory.ts
Labels: area:webserver, type:bug-fix, area:UI, legacy ui

#43037 Add copy_object functionality for wasbhook
  providers/src/airflow/providers/microsoft/azure/hooks/wasb.py
  providers/tests/microsoft/azure/hooks/test_wasb.py
Labels: provider:microsoft-azure, area:providers

#43598 More executor cleanup to remove Plugin support
  airflow/executors/executor_constants.py
  airflow/executors/executor_loader.py
  airflow/executors/executor_utils.py
  tests/executors/test_executor_loader.py
Labels: area:Executors-core

#43597 Remove root warning in image used to build packages in CI
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#43535 next_execution_date explained in case of manual triggers
  docs/apache-airflow/templates-ref.rst
Labels: kind:documentation

#43600 Fix Bedrock system test
  providers/tests/system/amazon/aws/example_bedrock.py
Labels: provider:amazon-aws, area:providers

#43603 Add min version to ipykernel,scrapbook, pywinrm
  generated/provider_dependencies.json
  providers/src/airflow/providers/microsoft/azure/provider.yaml
  providers/src/airflow/providers/papermill/provider.yaml
  providers/tests/system/papermill/conftest.py
Labels: provider:microsoft-azure, area:providers, provider:papermill

#43609 Remove un used python_version param argument
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/tests/test_pytest_args_for_test_types.py
Labels: area:dev-tools

#43546 Check for empty list of integration tests before evaluation inside marix that requires a value.
  .github/workflows/integration-tests.yml
Labels: area:dev-tools

#43604 Explain how to use uv with airflow virtualenv and make it works
  .gitignore
  airflow/settings.py
  airflow/utils/dot_renderer.py
  contributing-docs/07_local_virtualenv.rst
  generated/provider_dependencies.json
  hatch_build.py
  providers/src/airflow/providers/apache/hive/transfers/mysql_to_hive.py
  providers/src/airflow/providers/google/cloud/transfers/mysql_to_gcs.py
  providers/src/airflow/providers/mysql/hooks/mysql.py
  providers/src/airflow/providers/mysql/provider.yaml
  providers/src/airflow/providers/mysql/transfers/vertica_to_mysql.py
  providers/tests/mysql/operators/test_mysql.py
Labels: area:dev-tools

#43607 Make Breeze installation and reinstallation support both uv and pipx
  .github/actions/install-pre-commit/action.yml
  .github/workflows/basic-tests.yml
  .github/workflows/static-checks-mypy-docs.yml
  contributing-docs/03_contributors_quick_start.rst
  dev/breeze/doc/01_installation.rst
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/kubernetes_utils.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/python_versions.py
  dev/breeze/src/airflow_breeze/utils/reinstall.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  scripts/ci/pre_commit/common_precommit_utils.py
Labels: area:dev-tools

#43599 Move TaskInstance heartbeat directly on to TI row, not on Job row
  airflow/cli/cli_config.py
  airflow/cli/commands/task_command.py
  airflow/executors/debug_executor.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/migrations/versions/0045_3_0_0_add_last_heartbeat_at_directly_to_ti.py
  airflow/models/taskinstance.py
  airflow/models/taskinstancehistory.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/task/standard_task_runner.py
  airflow/utils/db.py
  airflow/www/views.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  scripts/ci/pre_commit/check_ti_vs_tis_attributes.py
  tests/api_connexion/endpoints/test_mapped_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_fastapi/core_api/routes/public/test_task_instances.py
  tests/assets/test_manager.py
  tests/cli/commands/test_task_command.py
  tests/executors/test_debug_executor.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_taskinstance.py
  tests/www/views/test_views_tasks.py
Labels: area:Scheduler, area:CLI, area:dev-tools, area:serialization, kind:documentation, area:Executors-core, area:db-migrations

#43613 Prepare docs for Oct 2nd wave of providers rc3
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-fab/commits.rst
  providers/src/airflow/providers/amazon/CHANGELOG.rst
  providers/src/airflow/providers/fab/CHANGELOG.rst
Labels: provider:amazon-aws, area:providers, kind:documentation, provider:fab

#43616 Fix docstring for AthenaTrigger
  providers/src/airflow/providers/amazon/aws/triggers/athena.py
Labels: provider:amazon-aws, area:providers

#41411 update git-sync to 4.3.0
  chart/newsfragments/41411.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#43623 [BACKPORT] Complete automation of version replacement pre-commit for pip and uv …
  dev/breeze/doc/ci/02_images.md
  scripts/ci/pre_commit/update_installers.py
Labels: area:dev-tools

#43625 [BACKPORT] Remove root warning in image used to build packages in CI (#43597)
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools, area:production-image

#43624 [BACKPORT] Allow to switch breeze to use uv internally to create virtualenvs (#43587)
  .github/workflows/ci.yml
  .github/workflows/k8s-tests.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/doc/images/output-commands.svg
  dev/breeze/doc/images/output_setup_config.svg
  dev/breeze/doc/images/output_setup_config.txt
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/commands/setup_commands_config.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/kubernetes_utils.py
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/src/airflow_breeze/utils/virtualenv_utils.py
  scripts/ci/install_breeze.sh
  scripts/ci/pre_commit/update_installers.py
Labels: area:dev-tools, area:production-image

#43617 Enable back iterative development of latest providers with old airflows
  Dockerfile.ci
  scripts/ci/docker-compose/providers-and-tests-sources.yml
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#42749 AIP-84 Migrate DagWarning public endpoint to FastAPI
  airflow/api_connexion/endpoints/dag_warning_endpoint.py
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/__init__.py
  airflow/api_fastapi/core_api/routes/public/dag_warning.py
  airflow/api_fastapi/core_api/serializers/dag_warning.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_dag_warning.py
Labels: area:API, area:UI, legacy api

#43626 [BACKPORT] make Breeze installation and reinstallation support both uv and pipx …
  .github/actions/install-pre-commit/action.yml
  .github/workflows/additional-ci-image-checks.yml
  .github/workflows/basic-tests.yml
  .github/workflows/build-images.yml
  .github/workflows/check-providers.yml
  .github/workflows/ci.yml
  .github/workflows/finalize-tests.yml
  .github/workflows/generate-constraints.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/static-checks-mypy-docs.yml
  .gitignore
  contributing-docs/03_contributors_quick_start.rst
  dev/breeze/doc/01_installation.rst
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/kubernetes_utils.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
  dev/breeze/src/airflow_breeze/utils/python_versions.py
  dev/breeze/src/airflow_breeze/utils/reinstall.py
  dev/breeze/src/airflow_breeze/utils/run_utils.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  dev/breeze/uv.lock
  hatch_build.py
  pyproject.toml
  scripts/ci/pre_commit/common_precommit_utils.py
Labels: area:dev-tools

#43496 AIP-84 Migrate backfill API to fast api
  airflow/api_connexion/endpoints/backfill_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/backfill_schema.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/__init__.py
  airflow/api_fastapi/core_api/routes/public/backfills.py
  airflow/api_fastapi/core_api/serializers/backfills.py
  airflow/models/backfill.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_backfill_endpoint.py
  tests/api_connexion/schemas/test_backfill_schema.py
  tests/api_fastapi/core_api/routes/public/test_backfills.py
  tests/models/test_backfill.py
Labels: AIP-84, legacy ui, legacy api

#43630 Fix condition for using uv in some jobs
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/finalize-tests.yml
  .github/workflows/k8s-tests.yml
Labels: area:dev-tools

#43628 Full-on switching Breeze development to use uv
  dev/breeze/README.md
  dev/breeze/uv.lock
Labels: area:dev-tools

#42349 Rebuild pgbouncer image with newer version
  chart/dockerfiles/pgbouncer/Dockerfile
  chart/dockerfiles/pgbouncer/build_and_push.sh
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart, area:production-image

#43653 Fix venv numpy example which needs to be 1.26 at least to be working in Python 3.12
  airflow/example_dags/example_branch_operator_decorator.py
Labels: type:bug-fix

#43649 Remove auth manager tests of backfill
  providers/tests/fab/auth_manager/api_endpoints/test_backfill_endpoint.py
Labels: area:providers, provider:fab

#43612 Add UV support to venv operators
  newsfragments/43612.significant.rst
  providers/src/airflow/providers/standard/provider.yaml
  providers/src/airflow/providers/standard/utils/python_virtualenv.py
  providers/tests/standard/utils/test_python_virtualenv.py
Labels: area:providers, provider:standard

#43659 Fix venv numpy example which needs to be 1.26 at least to be working in Python 3.12 (#43653)
  airflow/example_dags/example_branch_operator_decorator.py
Labels: type:bug-fix

#43664 Pass Task Instance ids in API response
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/serializers/task_instances.py
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_task_instances.py
Labels: area:UI

#43668 Bump `ruff` to `0.7.2`
  .pre-commit-config.yaml
  hatch_build.py
Labels: area:dev-tools

#43674 Fix main add config section to standard provider docs index
  docs/apache-airflow-providers-standard/configurations-ref.rst
  docs/apache-airflow-providers-standard/index.rst
Labels: area:providers, kind:documentation, provider:standard

#43670 Fix System test type in breeze
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/tests/test_pytest_args_for_test_types.py
Labels: area:dev-tools

#43667 AIP-72: Remove DAG pickling
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/dag_schema.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/serializers/dags.py
  airflow/cli/cli_config.py
  airflow/cli/commands/dag_command.py
  airflow/cli/commands/dag_processor_command.py
  airflow/cli/commands/scheduler_command.py
  airflow/cli/commands/task_command.py
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/executors/base_executor.py
  airflow/executors/debug_executor.py
  airflow/executors/local_executor.py
  airflow/executors/sequential_executor.py
  airflow/jobs/local_task_job_runner.py
  airflow/jobs/scheduler_job_runner.py
  airflow/migrations/versions/0046_3_0_0_drop_dag_pickling.py
  airflow/models/__init__.py
  airflow/models/dag.py
  airflow/models/dagpickle.py
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/dag.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/task/standard_task_runner.py
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/ui/src/pages/DagsList/DagCard.test.tsx
  airflow/utils/cli.py
  airflow/utils/db.py
  airflow/www/static/js/types/api-generated.ts
  dev/perf/scheduler_dag_execution_timing.py
  dev/perf/sql_queries.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  newsfragments/aip-72.significant.rst
  providers/src/airflow/providers/celery/executors/celery_kubernetes_executor.py
  providers/src/airflow/providers/cncf/kubernetes/executors/local_kubernetes_executor.py
  providers/tests/celery/executors/test_celery_executor.py
  providers/tests/cncf/kubernetes/executors/test_kubernetes_executor.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/schemas/test_dag_schema.py
  tests/api_fastapi/core_api/routes/public/test_dags.py
  tests/cli/commands/test_task_command.py
  tests/dag_processing/test_job_runner.py
  tests/dag_processing/test_processor.py
  tests/executors/test_base_executor.py
  tests/executors/test_local_executor.py
  tests/executors/test_sequential_executor.py
  tests/listeners/test_dag_import_error_listener.py
  tests/models/test_dag.py
  tests/utils/test_cli_util.py
  tests/utils/test_db_cleanup.py
  tests/www/views/test_views_home.py
Labels: area:Scheduler, area:CLI, area:serialization, area:API, area:UI, area:Executors-core, area:db-migrations, airflow3.0:breaking, legacy ui, legacy api, AIP-72

#43456 Remove returns in final clause of S3ToDynamoDBOperator
  providers/src/airflow/providers/amazon/aws/transfers/s3_to_dynamodb.py
Labels: provider:amazon-aws, area:providers

#43434 serialize asset/dataset timetable conditions in OpenLineage info also for older supported Airflow 2 versions
  providers/src/airflow/providers/common/compat/assets/__init__.py
  providers/src/airflow/providers/openlineage/extractors/manager.py
  providers/src/airflow/providers/openlineage/utils/utils.py
  providers/tests/openlineage/plugins/test_utils.py
Labels: area:providers, provider:openlineage

#43407 AIP-84 Get Event Logs
  airflow/api_connexion/endpoints/event_log_endpoint.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/event_logs.py
  airflow/api_fastapi/core_api/serializers/event_logs.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_event_logs.py
Labels: area:API, area:UI, legacy api

#43683 Fix reproducibility of prepared provider packages (fix flit frontend)
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/README.md
  dev/breeze/pyproject.toml
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/templates/pyproject_TEMPLATE.toml.jinja2
  dev/breeze/src/airflow_breeze/utils/python_versions.py
  dev/breeze/src/airflow_breeze/utils/reproducible.py
  dev/breeze/uv.lock
Labels: area:dev-tools

#43402 Change default value of `namespace` in `task.kubernetes` to be None
  providers/src/airflow/providers/cncf/kubernetes/CHANGELOG.rst
  providers/src/airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  providers/src/airflow/providers/cncf/kubernetes/provider.yaml
  providers/tests/cncf/kubernetes/decorators/test_kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#43692 Bump `uv` to `0.4.30`
  .github/actions/install-pre-commit/action.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/uv.lock
Labels: area:dev-tools, area:production-image

#43694 Detect situation where Breeze is installed with both pipx and uv
  dev/breeze/src/airflow_breeze/utils/reinstall.py
Labels: area:dev-tools

#43687 [BACKPORT] Fix reproducibility of prepared provider packages (fix flit frontend)…
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/README.md
  dev/breeze/doc/images/output_build-docs.svg
  dev/breeze/doc/images/output_build-docs.txt
  dev/breeze/doc/images/output_prod-image.svg
  dev/breeze/doc/images/output_prod-image.txt
  dev/breeze/doc/images/output_prod-image_build.txt
  dev/breeze/doc/images/output_setup.svg
  dev/breeze/doc/images/output_setup.txt
  dev/breeze/doc/images/output_setup_autocomplete.svg
  dev/breeze/doc/images/output_setup_autocomplete.txt
  dev/breeze/doc/images/output_setup_config.txt
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/pyproject.toml
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/templates/pyproject_TEMPLATE.toml.jinja2
  dev/breeze/src/airflow_breeze/utils/python_versions.py
  dev/breeze/src/airflow_breeze/utils/reproducible.py
  dev/breeze/uv.lock
Labels: area:dev-tools

#43637 AIP-84 Get Import Error / Get Import Errors
  airflow/api_connexion/endpoints/import_error_endpoint.py
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/__init__.py
  airflow/api_fastapi/core_api/routes/public/import_error.py
  airflow/api_fastapi/core_api/serializers/import_error.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_import_error.py
Labels: area:API, area:UI, AIP-84, legacy api

#43680 Disable XCom list ordering by execution_date
  airflow/www/views.py
Labels: area:webserver, type:bug-fix

#43695 [BACKPORT] Detect situation where Breeze is installed with both pipx and uv (#43…
  dev/breeze/src/airflow_breeze/utils/reinstall.py
Labels: area:dev-tools

#43696 Disable XCom list ordering by execution_date (#43680)
  airflow/www/views.py
Labels: area:webserver

#43396 AIP-84 Migrate post a connection to FastAPI API
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/connections.py
  airflow/api_fastapi/core_api/routes/ui/dashboard.py
  airflow/api_fastapi/core_api/serializers/connections.py
  airflow/api_fastapi/core_api/serializers/ui/dashboard.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_connections.py
Labels: area:API, area:UI, legacy api

#43255 Migrate the public endpoint Get DAG Stats to FastAPI
  airflow/api_connexion/endpoints/dag_stats_endpoint.py
  airflow/api_fastapi/common/db/common.py
  airflow/api_fastapi/common/db/dag_runs.py
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/__init__.py
  airflow/api_fastapi/core_api/routes/public/dag_stats.py
  airflow/api_fastapi/core_api/serializers/dag_stats.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_dag_stats.py
Labels: area:UI, legacy api

#43622 Resolve GlueJobTrigger serialization bug causing verbose to always be True
  providers/src/airflow/providers/amazon/aws/triggers/glue.py
  providers/tests/amazon/aws/operators/test_glue.py
  providers/tests/amazon/aws/triggers/test_glue.py
Labels: provider:amazon-aws, area:providers

#43662 fab_auth_manager: allow get_user method to return the user authenticated via Kerberos
  providers/src/airflow/providers/fab/auth_manager/fab_auth_manager.py
  providers/tests/fab/auth_manager/test_fab_auth_manager.py
Labels: area:providers, provider:fab

#43688 GlueJobOperator: add option to wait for cleanup before returning job status
  providers/src/airflow/providers/amazon/aws/hooks/glue.py
  providers/src/airflow/providers/amazon/aws/operators/glue.py
Labels: provider:amazon-aws, area:providers

#40744 Replaced bootstrap-typeahead with jquery-ui
  airflow/www/package.json
  airflow/www/static/css/main.css
  airflow/www/static/js/dags.js
  airflow/www/static/js/main.js
  airflow/www/templates/airflow/main.html
  airflow/www/webpack.config.js
  airflow/www/yarn.lock
Labels: legacy ui

#43700 Delete the Serialized Dag and DagCode before DagVersion migration
  airflow/migrations/versions/0047_3_0_0_add_dag_versioning.py
  docs/apache-airflow/img/airflow_erd.sha256
Labels: kind:documentation, area:db-migrations

#43714 Handle FileNotFound Error returned by missing uv or pipx
  dev/breeze/src/airflow_breeze/utils/reinstall.py
Labels: area:dev-tools

#43715 [BACKPORT] Handle FileNotFound Error returned by missing uv or pipx (#43714)
  dev/breeze/src/airflow_breeze/utils/reinstall.py
Labels: area:dev-tools

#43501 Add data interval and next_dagrun_create_after info through tooltip to next dagrun.
  airflow/ui/rules/react.js
  airflow/ui/src/components/DagRunInfo.tsx
  airflow/ui/src/components/Time.tsx
  airflow/ui/src/pages/DagsList/Dag/Header.tsx
  airflow/ui/src/pages/DagsList/DagCard.tsx
  airflow/ui/src/pages/DagsList/DagsList.tsx
Labels: area:UI

#43702 AIP-84 Use status constants
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/connections.py
  airflow/api_fastapi/core_api/routes/public/dag_stats.py
  airflow/api_fastapi/core_api/routes/public/dags.py
  airflow/api_fastapi/core_api/routes/ui/dashboard.py
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Labels: area:UI

#43699 Update Breeze UI_Files to match pnpm lock file
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Labels: area:dev-tools

#43669 Add AWS Redshift Serverless support to PostgresHook
  providers/src/airflow/providers/postgres/hooks/postgres.py
  providers/tests/postgres/hooks/test_postgres.py
Labels: area:providers, provider:postgres

#43102 AIP-84 Migrate patch a connection to FastAPI API
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/connections.py
  airflow/api_fastapi/core_api/routes/public/dags.py
  airflow/api_fastapi/core_api/routes/public/variables.py
  airflow/api_fastapi/core_api/serializers/variables.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  newsfragments/43102.significant.rst
  tests/api_fastapi/core_api/routes/public/test_connections.py
Labels: area:API, area:UI, legacy api

#43646 Move responsibility to run a command from WinRMOperator to WinRMHook
  providers/src/airflow/providers/microsoft/winrm/hooks/winrm.py
  providers/src/airflow/providers/microsoft/winrm/operators/winrm.py
  providers/tests/microsoft/winrm/hooks/test_winrm.py
Labels: area:providers, provider:microsoft-winrm

#43727 Added contributors documentation regarding configuration of source root directories in PyCharm
  contributing-docs/quick-start-ide/contributors_quick_start_pycharm.rst
  contributing-docs/quick-start-ide/images/pycharm_adding_source_root_directories.png
  contributing-docs/quick-start-ide/images/pycharm_invalidate_caches.png
Labels: area:dev-tools

#43698 Chart: Default airflow version to 2.10.3
  chart/Chart.yaml
  chart/newsfragments/42406.significant.rst
  chart/newsfragments/43698.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#43576 bugfix description should be optional for openlineage integration with `AthenaOperator`
  providers/src/airflow/providers/amazon/aws/operators/athena.py
  providers/tests/amazon/aws/operators/athena_metadata.json
  providers/tests/amazon/aws/operators/test_athena.py
Labels: provider:amazon-aws, area:providers

#43732 Temporarily limit openlineage to <1.24.0
  generated/provider_dependencies.json
  providers/src/airflow/providers/openlineage/provider.yaml
Labels: area:providers, provider:openlineage

#43734 [Edge] EdgeWorker beautify queues output on overview page
  providers/src/airflow/providers/edge/CHANGELOG.rst
  providers/src/airflow/providers/edge/__init__.py
  providers/src/airflow/providers/edge/plugins/templates/edge_worker_hosts.html
  providers/src/airflow/providers/edge/provider.yaml
Labels: area:providers, AIP-69, provider:edge

#43633 Add dag source code to dag details page
  airflow/ui/package.json
  airflow/ui/pnpm-lock.yaml
  airflow/ui/src/pages/DagsList/Dag/Code/Code.tsx
  airflow/ui/src/pages/DagsList/Dag/Code/index.ts
  airflow/ui/src/pages/DagsList/Dag/Dag.tsx
  airflow/ui/src/router.tsx
Labels: area:UI

#43736 Add data-testid attributes to key UI components for unit test and automation tests
  airflow/ui/src/components/DataTable/CardList.tsx
  airflow/ui/src/components/DataTable/TableList.tsx
  airflow/ui/src/components/SearchBar.tsx
Labels: area:UI

#43697 Airflow 2.10.3 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/reproducible_build.yaml
  docs/apache-airflow/installation/supported-versions.rst
  generated/PYPI_README.md
  scripts/ci/pre_commit/supported_versions.py
Labels: area:dev-tools, area:production-image

#43740 openlineage: accept whole config when instantiating OpenLineageClient
  generated/provider_dependencies.json
  providers/src/airflow/providers/openlineage/plugins/adapter.py
  providers/src/airflow/providers/openlineage/provider.yaml
  providers/tests/openlineage/plugins/test_adapter.py
Labels: area:providers, provider:openlineage

#43741 Remove schedule downstream tasks after execution (aka "mini scheduler")
  airflow/config_templates/config.yml
  airflow/jobs/local_task_job_runner.py
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/taskinstance.py
  docs/apache-airflow/administration-and-deployment/scheduler.rst
  providers/src/airflow/providers/edge/cli/edge_command.py
  providers/tests/cncf/kubernetes/decorators/test_kubernetes.py
  tests/jobs/test_local_task_job.py
  tests/models/test_taskinstance.py
Labels: area:Scheduler, area:providers, area:serialization, provider:cncf-kubernetes, AIP-72

#43761 Remove connections file in Execution API
  airflow/api_fastapi/execution_api/routes/connections.py
  airflow/api_fastapi/execution_api/routes/task_instance.py
Labels: changelog:skip

#43724 Check if awslogs_stream_prefix already ends with container_name
  providers/src/airflow/providers/amazon/aws/operators/ecs.py
Labels: provider:amazon-aws, area:providers

#41639 Enable workload identity authentication for the Databricks provider
  docs/apache-airflow-providers-databricks/connections/databricks.rst
  docs/spelling_wordlist.txt
  providers/src/airflow/providers/databricks/hooks/databricks_base.py
  providers/tests/databricks/hooks/test_databricks_azure_workload_identity.py
  providers/tests/databricks/hooks/test_databricks_azure_workload_identity_async.py
Labels: area:providers, provider:databricks

#43721 Update helm chart docs for private registry params
  chart/values.schema.json
  docs/spelling_wordlist.txt
Labels: area:helm-chart, kind:documentation

#43647 Simplify the handle stuck in queued interface
  airflow/executors/base_executor.py
  airflow/jobs/scheduler_job_runner.py
  providers/src/airflow/providers/celery/executors/celery_executor.py
  providers/src/airflow/providers/celery/executors/celery_kubernetes_executor.py
  providers/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  providers/src/airflow/providers/cncf/kubernetes/executors/local_kubernetes_executor.py
Labels: area:Scheduler, area:providers, provider:cncf-kubernetes, provider:celery, area:Executors-core

#43770 Bumping epoch of cache for our dependencies
  Dockerfile.ci
Labels: area:dev-tools

#43771 Fix pickyness of google.auth 2.36.0 for mocks
  providers/tests/google/common/hooks/test_base_google.py
Labels: provider:google, area:providers

#43763 Remove AIRFLOW_V_2_8_PLUS for provider's compatibility tests
  contributing-docs/testing/unit_tests.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  providers/tests/amazon/aws/auth_manager/cli/test_avp_commands.py
  providers/tests/amazon/aws/auth_manager/test_aws_auth_manager.py
  providers/tests/cncf/kubernetes/operators/test_spark_kubernetes.py
  providers/tests/common/sql/hooks/test_dbapi.py
  providers/tests/common/sql/hooks/test_sql.py
  providers/tests/common/sql/hooks/test_sqlparse.py
  providers/tests/common/sql/operators/test_sql.py
  providers/tests/common/sql/operators/test_sql_execute.py
  providers/tests/common/sql/test_utils.py
  providers/tests/openlineage/plugins/test_utils.py
  tests_common/test_utils/compat.py
  tests_common/test_utils/db.py
Labels: provider:amazon-aws, area:providers, area:dev-tools, provider:cncf-kubernetes, provider:common-sql, provider:openlineage

#43735 AIP-65: Add back DAG versioning support
  airflow/api/common/trigger_dag.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/dag_processing/manager.py
  airflow/example_dags/plugins/event_listener.py
  airflow/jobs/scheduler_job_runner.py
  airflow/migrations/versions/0047_3_0_0_add_dag_versioning.py
  airflow/models/__init__.py
  airflow/models/backfill.py
  airflow/models/dag.py
  airflow/models/dag_version.py
  airflow/models/dagbag.py
  airflow/models/dagcode.py
  airflow/models/dagrun.py
  airflow/models/serialized_dag.py
  airflow/models/taskinstance.py
  airflow/models/taskinstancehistory.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/schema.json
  airflow/utils/db.py
  airflow/www/views.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  hatch_build.py
  providers/tests/fab/auth_manager/api_endpoints/test_dag_run_endpoint.py
  scripts/ci/pre_commit/check_ti_vs_tis_attributes.py
  task_sdk/src/airflow/sdk/definitions/dag.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_task_endpoint.py
  tests/cli/commands/test_task_command.py
  tests/dag_processing/test_job_runner.py
  tests/dag_processing/test_processor.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dag_version.py
  tests/models/test_dagbag.py
  tests/models/test_dagcode.py
  tests/models/test_dagrun.py
  tests/models/test_serialized_dag.py
  tests/models/test_taskinstance.py
  tests/operators/test_trigger_dagrun.py
  tests/sensors/test_external_task_sensor.py
  tests/utils/test_db_cleanup.py
  tests/www/views/test_views_tasks.py
  tests_common/pytest_plugin.py
Labels: area:Scheduler, area:webserver, area:CLI, area:providers, area:dev-tools, area:serialization, area:API, kind:documentation, full tests needed, provider:fab, all versions, area:db-migrations, legacy api, area:task-sdk

#43642 AIP-84 List Mapped Task Instances
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_task_instances.py
Labels: area:API, area:UI, AIP-84, legacy api

#43760 AIP-84 List Task Instances
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_task_instances.py
Labels: area:API, area:UI, AIP-84, legacy api

#43788 AIP-84 Get Task Instance and Mapped Task Instance dependencies
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow/api_fastapi/core_api/serializers/task_instances.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_task_instances.py
Labels: area:API, area:UI, AIP-84, legacy api

#43666 AIP-82 Create references between triggers and assets
  airflow/migrations/versions/0048_3_0_0_add_trigger_asset_reference.py
  airflow/models/asset.py
  airflow/models/trigger.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
Labels: kind:documentation, area:db-migrations

#43795 Add clear button to search bar
  airflow/ui/src/components/SearchBar.test.tsx
  airflow/ui/src/components/SearchBar.tsx
  airflow/ui/src/pages/DagsList/DagsList.tsx
Labels: area:UI

#43803 Make sure a default sort is persisted through tableUrlState
  airflow/ui/src/components/DataTable/searchParams.test.ts
  airflow/ui/src/components/DataTable/searchParams.ts
Labels: area:UI

#43802 Move all scroll logic to page level
  airflow/ui/dev/index.html
  airflow/ui/index.html
  airflow/ui/src/components/DataTable/CardList.tsx
  airflow/ui/src/components/DataTable/TableList.tsx
  airflow/ui/src/layouts/BaseLayout.tsx
  airflow/ui/src/pages/DagsList/Dag/Dag.tsx
  airflow/ui/src/pages/DagsList/DagsList.tsx
Labels: area:UI

#43810 [BACKPORT (Modified)] Prevent using trigger_rule="always" in a dynamic mapped task (#43368)
  airflow/utils/task_group.py
  docs/apache-airflow/authoring-and-scheduling/dynamic-task-mapping.rst
  tests/decorators/test_task_group.py
Labels: kind:documentation

#43807 Fix PostgresHook bug when getting AWS Redshift Serverless credentials
  providers/src/airflow/providers/postgres/hooks/postgres.py
  providers/tests/postgres/hooks/test_postgres.py
Labels: area:providers, provider:postgres

#43508 AIP-84 Add ability to update dag run note in PATCH dag_run endpoint
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow/api_fastapi/core_api/serializers/dag_run.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_dag_run.py
Labels: area:UI

#43824 Fix duplicate `TaskInstanceState` entity in FastApi Schema
  airflow/api_fastapi/core_api/datamodels/ui/dashboard.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Labels: area:UI

#43828 Fix `HttpToS3Operator` throws exception if s3_bucket parameter is not passed
  providers/src/airflow/providers/amazon/aws/hooks/s3.py
  providers/tests/amazon/aws/hooks/test_s3.py
Labels: provider:amazon-aws, area:providers

#43829 Bump UV to 0.5.0
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  hatch_build.py
Labels: area:dev-tools, area:production-image

#43831 AIP-84 remove remnants of async def
  airflow/api_fastapi/core_api/routes/public/task_instances.py
Labels: AIP-84

#42689 Add basic support for git and local dag bundles
  airflow/config_templates/config.yml
  airflow/dag_processing/bundles/__init__.py
  airflow/dag_processing/bundles/base.py
  airflow/dag_processing/bundles/git.py
  airflow/dag_processing/bundles/local.py
  hatch_build.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:Scheduler, AIP-66: DAG Bundle/Manifest

#43836 Remove async keyword for Get Connection
  airflow/api_fastapi/execution_api/routes/connections.py
Labels: area:API, area:UI

#43838 Bump `uv` to `0.5.1`
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  hatch_build.py
Labels: area:dev-tools, area:production-image

#43453 Added condition to check if it is a scheduled save or rerun
  providers/src/airflow/providers/dbt/cloud/operators/dbt.py
  providers/tests/dbt/cloud/operators/test_dbt.py
Labels: area:providers, provider:dbt-cloud

#43840 Fix logs with leading spaces in the Docker operator (#33692)
  providers/src/airflow/providers/docker/operators/docker.py
  providers/tests/docker/operators/test_docker.py
Labels: area:providers, provider:docker

#43843 pydocstyle check: add leading underscore (PT004)
  dev/breeze/tests/test_run_test_args.py
  tests/always/test_pandas.py
Labels: area:dev-tools

#43556 Test standard provider with Airflow 2.8 and 2.9
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/apache-airflow/howto/operator/python.rst
  providers/src/airflow/providers/standard/__init__.py
  providers/src/airflow/providers/standard/operators/python.py
  providers/src/airflow/providers/standard/sensors/date_time.py
  providers/src/airflow/providers/standard/sensors/time.py
  providers/src/airflow/providers/standard/sensors/time_delta.py
  providers/tests/common/sql/operators/test_sql.py
  providers/tests/openlineage/plugins/test_utils.py
  providers/tests/openlineage/utils/test_utils.py
  providers/tests/standard/operators/test_python.py
  providers/tests/standard/utils/test_python_virtualenv.py
Labels: area:dev-tools

#43842 Fix EdgeExecutor breeze call
  dev/breeze/src/airflow_breeze/params/shell_params.py
Labels: area:dev-tools

#43847 Add random_name_suffix to SparkKubernetesOperator (#43800)
  providers/src/airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
  providers/tests/cncf/kubernetes/operators/test_spark_kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#43848 Contribution Documentation Updates
  README.md
  contributing-docs/README.rst
  generated/PYPI_README.md
Labels: area:dev-tools

#43849 fix: replace \s with space
  providers/pyproject.toml
  providers/src/airflow/providers/amazon/aws/hooks/eks.py
Labels: provider:amazon-aws, area:providers

#43844 #43252 Disable extra links button if link is null or empty
  airflow/www/static/js/dag/details/taskInstance/ExtraLinks.tsx
Labels: area:webserver, area:UI, legacy ui

#43494 Fix Power BI trigger testcase
  providers/src/airflow/providers/microsoft/azure/triggers/powerbi.py
  providers/tests/microsoft/azure/triggers/test_powerbi.py
Labels: provider:microsoft-azure, area:providers

#43851 #43252 Disable extra links button if link is null or empty (#43844)
  airflow/www/static/js/dag/details/taskInstance/ExtraLinks.tsx
Labels: area:webserver, type:bug-fix, area:UI, legacy ui

#43852 pydocstyle check: add leading underscore (PT004)
  providers/tests/amazon/aws/executors/batch/test_batch_executor.py
  providers/tests/amazon/aws/executors/ecs/test_ecs_executor.py
  providers/tests/amazon/aws/operators/test_athena.py
  providers/tests/amazon/aws/operators/test_ecs.py
  providers/tests/amazon/aws/operators/test_glacier.py
  providers/tests/amazon/aws/operators/test_sns.py
  providers/tests/amazon/aws/operators/test_sqs.py
  providers/tests/amazon/aws/operators/test_step_function.py
  providers/tests/amazon/aws/sensors/test_ecs.py
  providers/tests/amazon/aws/sensors/test_eks.py
  providers/tests/amazon/aws/sensors/test_sqs.py
  providers/tests/amazon/aws/triggers/test_sqs.py
  providers/tests/amazon/aws/waiters/test_batch.py
  providers/tests/amazon/aws/waiters/test_dynamo.py
  providers/tests/amazon/aws/waiters/test_ecs.py
  providers/tests/amazon/aws/waiters/test_emr.py
  providers/tests/amazon/aws/waiters/test_glue_databrew.py
  providers/tests/amazon/aws/waiters/test_neptune.py
Labels: provider:amazon-aws, area:providers

#43850 Correct provider path details in docs
  providers/src/airflow/providers/MANAGING_PROVIDERS_LIFECYCLE.rst
Labels: area:providers

#43689 remove all deprecations cncf.kubernetes
  airflow/cli/commands/kubernetes_command.py
  docs/apache-airflow-providers-cncf-kubernetes/operators.rst
  kubernetes_tests/test_kubernetes_pod_operator.py
  providers/src/airflow/providers/amazon/aws/operators/eks.py
  providers/src/airflow/providers/cncf/kubernetes/CHANGELOG.rst
  providers/src/airflow/providers/cncf/kubernetes/kubernetes_helper_functions.py
  providers/src/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  providers/src/airflow/providers/cncf/kubernetes/operators/pod.py
  providers/src/airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
  providers/src/airflow/providers/cncf/kubernetes/pod_generator.py
  providers/src/airflow/providers/cncf/kubernetes/pod_launcher_deprecated.py
  providers/src/airflow/providers/cncf/kubernetes/triggers/kubernetes_pod.py
  providers/src/airflow/providers/cncf/kubernetes/triggers/pod.py
  providers/src/airflow/providers/cncf/kubernetes/utils/pod_manager.py
  providers/tests/cncf/kubernetes/executors/test_kubernetes_executor.py
  providers/tests/cncf/kubernetes/models/test_secret.py
  providers/tests/cncf/kubernetes/operators/test_pod.py
  providers/tests/cncf/kubernetes/test_kubernetes_helper_functions.py
  providers/tests/cncf/kubernetes/test_pod_generator.py
  providers/tests/cncf/kubernetes/triggers/test_pod.py
  providers/tests/cncf/kubernetes/utils/test_pod_manager.py
  providers/tests/google/cloud/triggers/test_kubernetes_engine.py
  scripts/in_container/run_provider_yaml_files_check.py
  tests/always/test_project_structure.py
Labels: area:providers, provider:cncf-kubernetes

#43858 Fix hatchling to 1.25.0
  .github/workflows/basic-tests.yml
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#43863 Bump hatchling to 1.26.1
  .github/workflows/basic-tests.yml
  .pre-commit-config.yaml
  clients/python/pyproject.toml
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  docker_tests/requirements.txt
  pyproject.toml
Labels: area:dev-tools, area:API, area:production-image

#43693 remove the to-write asset active dag warnings that already exists in the db instead of those that does not exist
  airflow/jobs/scheduler_job_runner.py
Labels: area:Scheduler

#43869 [Edge]Worker UI link beautification
  providers/src/airflow/providers/edge/CHANGELOG.rst
  providers/src/airflow/providers/edge/__init__.py
  providers/src/airflow/providers/edge/plugins/templates/edge_worker_hosts.html
  providers/src/airflow/providers/edge/plugins/templates/edge_worker_jobs.html
  providers/src/airflow/providers/edge/provider.yaml
Labels: area:providers, AIP-69, provider:edge

#43349 Remove unused `TriggerRule.DUMMY`
  .pre-commit-config.yaml
  airflow/utils/trigger_rule.py
  newsfragments/43368.significant.rst
  tests/utils/test_trigger_rule.py
Labels: area:core, kind:task, airflow3.0:candidate, airflow3.0:breaking

#43785 Provide option to `force_delete` for `GCSToBigQueryOperator`
  providers/src/airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  providers/tests/google/cloud/transfers/test_gcs_to_bigquery.py
Labels: provider:google, area:providers

#43878 ci(github-actions): add uv to news-fragment action
  .github/workflows/news-fragment.yml
Labels: area:dev-tools

#43719 Include unit test to Legacy UI/API Selective Check in Breeze
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#43793 Add global events page to browse along with support to display only events for the dag.
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/routes/public/event_logs.py
  airflow/ui/src/layouts/Nav/BrowseButton.tsx
  airflow/ui/src/layouts/Nav/Nav.tsx
  airflow/ui/src/pages/Events/Events.tsx
  airflow/ui/src/pages/Events/index.tsx
  airflow/ui/src/router.tsx
Labels: area:UI

#43884 Change check for SQLite for FastAPI tests
  airflow/settings.py
  tests/core/test_sqlalchemy_config.py
Labels: changelog:skip

#43864 Fix breeze panel to start EdgeWorker when EdgeExecutor is selected in breeze
  scripts/in_container/bin/run_tmux
Labels: area:dev-tools

#43886 Add backport action to workflow
  .github/workflows/backport-action.yml
Labels: area:dev-tools

#43726 Added notion of dialects into ProvidersManager
  airflow/cli/commands/provider_command.py
  airflow/provider.yaml.schema.json
  airflow/providers_manager.py
  tests/always/test_providers_manager.py
Labels: area:CLI, area:dev-tools

#43887 Move Annotated import to `typing` module
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/common/types.py
  airflow/api_fastapi/core_api/datamodels/plugins.py
  airflow/api_fastapi/core_api/datamodels/trigger.py
  airflow/api_fastapi/core_api/datamodels/variables.py
  airflow/api_fastapi/core_api/routes/public/backfills.py
  airflow/api_fastapi/core_api/routes/public/connections.py
  airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow/api_fastapi/core_api/routes/public/dag_sources.py
  airflow/api_fastapi/core_api/routes/public/dag_stats.py
  airflow/api_fastapi/core_api/routes/public/dag_warning.py
  airflow/api_fastapi/core_api/routes/public/dags.py
  airflow/api_fastapi/core_api/routes/public/event_logs.py
  airflow/api_fastapi/core_api/routes/public/import_error.py
  airflow/api_fastapi/core_api/routes/public/pools.py
  airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow/api_fastapi/core_api/routes/public/variables.py
  airflow/api_fastapi/core_api/routes/ui/assets.py
  airflow/api_fastapi/core_api/routes/ui/dags.py
  airflow/api_fastapi/core_api/routes/ui/dashboard.py
  airflow/api_fastapi/execution_api/routes/connections.py
  airflow/api_fastapi/execution_api/routes/task_instance.py
  airflow/api_fastapi/execution_api/routes/variables.py
  airflow/serialization/pydantic/dag.py
  airflow/serialization/pydantic/taskinstance.py
Labels: area:serialization

#43898 Change Airflow Backcompat provider tests to 2.10.3
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools, full tests needed

#43879 Correct mime-type in OpenAPI spec
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, area:UI, legacy ui, legacy api

#43891 Fix duplication of Task tries in the UI
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
Labels: area:API, legacy api

#43901 Correct mime-type in OpenAPI spec (#43879)
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, type:bug-fix, area:UI

#43903 Bump ruff to `0.7.3`
  .pre-commit-config.yaml
  hatch_build.py
Labels: area:dev-tools

#43908 Fix CI ruff format static checks
  providers/src/airflow/providers/apache/hdfs/sensors/hdfs.py
  providers/src/airflow/providers/google/cloud/hooks/bigquery.py
Labels: provider:google, area:providers, provider:apache-hdfs

#41343 Allow setting run_id in xcom_pull method
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: stale, type:improvement

#43521 Migrate public xcom endpoint get entry to fastapi
  airflow/api_connexion/endpoints/xcom_endpoint.py
  airflow/api_fastapi/core_api/datamodels/xcom.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/__init__.py
  airflow/api_fastapi/core_api/routes/public/xcom.py
  tests/api_fastapi/core_api/routes/public/test_xcom.py
Labels: legacy api

#43914 Revert "Add backport action to workflow (#43886)"
  .github/workflows/backport-action.yml
Labels: area:dev-tools

#43913 Fix prepare-provider-packages for fab and standard providers
  .github/workflows/basic-tests.yml
Labels: area:dev-tools

#43920 Fix Mypy errors in main after recent changes
  providers/tests/microsoft/conftest.py
  providers/tests/system/snowflake/example_snowpark_decorator.py
Labels: area:providers, provider:snowflake

#43784 Migrate YDB Operator to new DBAPI
  docs/apache-airflow-providers-ydb/index.rst
  docs/apache-airflow-providers-ydb/operators/ydb_operator_howto_guide.rst
  generated/provider_dependencies.json
  providers/src/airflow/providers/ydb/CHANGELOG.rst
  providers/src/airflow/providers/ydb/hooks/_vendor/__init__.py
  providers/src/airflow/providers/ydb/hooks/_vendor/dbapi/__init__.py
  providers/src/airflow/providers/ydb/hooks/_vendor/dbapi/connection.py
  providers/src/airflow/providers/ydb/hooks/_vendor/dbapi/constants.py
  providers/src/airflow/providers/ydb/hooks/_vendor/dbapi/cursor.py
  providers/src/airflow/providers/ydb/hooks/_vendor/dbapi/errors.py
  providers/src/airflow/providers/ydb/hooks/_vendor/readme.md
  providers/src/airflow/providers/ydb/hooks/ydb.py
  providers/src/airflow/providers/ydb/operators/ydb.py
  providers/src/airflow/providers/ydb/provider.yaml
  providers/tests/system/ydb/example_ydb.py
  providers/tests/ydb/hooks/test_ydb.py
  providers/tests/ydb/operators/test_ydb.py
Labels: area:providers, kind:documentation, provider:ydb

#43923 Fix main pre-commit
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Labels: area:UI
