Repository apache/airflow, pull requests merged in 2024-04, with the labels that each got.

#38624 Disable support of a legacy `LocalPath` in favor of stdlib `pathlib.Path`
  pyproject.toml
  tests/conftest.py
  tests/dag_processing/test_processor.py
  tests/utils/test_log_handlers.py
Labels: changelog:skip, full tests needed, upgrade to newer dependencies

#38619 add repair_run support to DatabricksRunNowOperator in deferrable mode
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/databricks/triggers/databricks.py
  tests/providers/databricks/operators/test_databricks.py
  tests/providers/databricks/triggers/test_databricks.py
Labels: area:providers, provider:databricks

#37518 Fix credentials error for S3ToGCSOperator trigger
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
  airflow/providers/google/cloud/triggers/cloud_storage_transfer_service.py
  tests/providers/google/cloud/hooks/test_cloud_storage_transfer_service_async.py
  tests/providers/google/cloud/triggers/test_cloud_storage_transfer_service.py
Labels: provider:google, area:providers

#38358 Add a migration script for encrypted trigger kwargs
  airflow/migrations/versions/0140_2_9_0_update_trigger_kwargs_type.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
Labels: kind:documentation, area:db-migrations

#38648 Introducing --latest for generate-issue-content-helm-chart command
  .github/workflows/helm-tests.yml
  dev/breeze/doc/images/output_release-management_generate-issue-content-helm-chart.svg
  dev/breeze/doc/images/output_release-management_generate-issue-content-helm-chart.txt
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/utils/version_utils.py
Labels: area:dev-tools, canary, default versions only

#38652 Avoid to use `functools.lru_cache` in class methods in `google` provider
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/common/hooks/base_google.py
  tests/providers/google/cloud/hooks/test_compute_ssh.py
Labels: provider:google, area:providers, type:bug-fix

#38649 Improve stability of remove_task_decorator function
  airflow/utils/decorators.py
  tests/utils/test_python_virtualenv.py
Labels: type:bug-fix, area:core-operators

#38656 bump ruff to 0.3.5
  .pre-commit-config.yaml
Labels: area:dev-tools, changelog:skip

#38659 Move cleanup-docker to a shell scripts from composite action
  .github/workflows/additional-ci-image-checks.yml
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/basic-tests.yml
  .github/workflows/build-images.yml
  .github/workflows/check-providers.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/ci.yml
  .github/workflows/finalize-tests.yml
  .github/workflows/generate-constraints.yml
  .github/workflows/helm-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/push-image-cache.yml
  .github/workflows/release_dockerhub_image.yml
  .github/workflows/run-unit-tests.yml
  .github/workflows/static-checks-mypy-docs.yml
  scripts/ci/cleanup_docker.sh
Labels: area:dev-tools

#38568 Ensure orm models loaded when using RPC API
  airflow/cli/commands/task_command.py
Labels: area:CLI

#38660 remove display of param from the UI
  airflow/www/templates/airflow/dag.html
Labels: area:webserver, type:misc/internal, area:UI

#38663 Clean up unused triggers in a single query for all dialects except MySQL
  airflow/models/trigger.py
Labels: type:improvement, area:Triggerer

#38637 Rename build arg for upgrade-to-newer-dependencies
  .github/workflows/prod-image-build.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/docker-compose/devcontainer.env
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#38506 Add exclude/include events filters to audit log
  airflow/www/extensions/init_jinja_globals.py
  airflow/www/static/js/api/useEventLogs.tsx
  airflow/www/static/js/dag/details/AuditLog.tsx
  airflow/www/static/js/datasets/SearchBar.tsx
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
  tests/www/views/test_views.py
Labels: area:webserver, type:improvement, area:UI

#38664 Improve trigger assign_unassigned method
  airflow/models/trigger.py
Labels: type:improvement, area:Triggerer

#37498 Add a task instance dependency for mapped dependencies
  airflow/models/baseoperator.py
  airflow/ti_deps/deps/mapped_task_upstream_dep.py
  tests/serialization/test_dag_serialization.py
  tests/ti_deps/deps/test_mapped_task_upstream_dep.py
Labels: type:bug-fix

#38675 Update known issue with Pendulum 3 in 2.8.1 release notes
  RELEASE_NOTES.rst
  airflow/reproducible_build.yaml
Labels: changelog:skip

#38678 Check-out the target commit when preparing PROD build artifacts
  .github/workflows/prod-image-build.yml
Labels: area:dev-tools

#38558 Render filename to use internal API
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/utils/log/file_task_handler.py
  tests/task/task_runner/test_task_runner.py
Labels: area:logging

#38665 Update `pytest_collection_modifyitems` to use correct properties
  tests/system/conftest.py
Labels: area:system-tests

#38474 Add executor field to the DB and parameter to the operators
  airflow/migrations/versions/0141_2_10_0_add_new_executor_field_to_db.py
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  airflow/models/mappedoperator.py
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/serialization/schema.json
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, area:serialization, kind:documentation

#38458 Implement delete_on_status parameter for KubernetesDeleteJobOperator
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/job.py
  tests/providers/cncf/kubernetes/hooks/test_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_job.py
  tests/system/providers/cncf/kubernetes/example_kubernetes_job.py
Labels: area:providers, area:system-tests, provider:cncf-kubernetes

#38567 Make _get_template_context an RPC call
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/models/taskinstance.py
  airflow/serialization/enums.py
  airflow/serialization/serialized_objects.py
Labels: area:serialization

#38633 Revert "Delete deprecated AutoML operators and deprecate AutoML hook and links (#38418)"
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/links/automl.py
  airflow/providers/google/cloud/operators/automl.py
  airflow/providers/google/provider.yaml
  docker_tests/test_prod_image.py
  docs/apache-airflow-providers-google/operators/cloud/automl.rst
  generated/provider_dependencies.json
  scripts/in_container/run_provider_yaml_files_check.py
  tests/always/test_project_structure.py
  tests/deprecations_ignore.yml
  tests/providers/google/cloud/hooks/test_automl.py
  tests/providers/google/cloud/operators/test_automl.py
  tests/system/providers/google/cloud/automl/example_automl_dataset.py
  tests/system/providers/google/cloud/automl/example_automl_model.py
  tests/system/providers/google/cloud/automl/example_automl_nl_text_classification.py
  tests/system/providers/google/cloud/automl/example_automl_nl_text_extraction.py
  tests/system/providers/google/cloud/automl/example_automl_nl_text_sentiment.py
  tests/system/providers/google/cloud/automl/example_automl_translation.py
Labels: provider:google, area:providers, area:dev-tools, area:system-tests, kind:documentation, area:production-image, default versions only, include success outputs

#38680 Update UI doc screenshots
  docs/apache-airflow/img/audit_log.png
  docs/apache-airflow/img/code.png
  docs/apache-airflow/img/duration.png
  docs/apache-airflow/img/gantt.png
  docs/apache-airflow/img/graph.png
  docs/apache-airflow/img/grid.png
  docs/apache-airflow/img/grid_task_details.png
  docs/apache-airflow/img/landing_times.png
  docs/apache-airflow/img/run_types.png
  docs/apache-airflow/img/task_manual_vs_scheduled.png
  docs/apache-airflow/ui.rst
Labels: kind:documentation, area:UI

#38682 Extract checkout target commit to a composite action
  .github/actions/checkout_target_commit/action.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/prod-image-build.yml
Labels: area:dev-tools

#38676 Raise deprecated warning in `airflow dags backfill` only if `-I`/`--ignore-first-depends-on-past` provided
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
  tests/deprecations_ignore.yml
Labels: area:CLI, type:bug-fix

#38688 Fix kubeconform pre-commit to not leave around containers
  scripts/ci/pre_commit/kubeconform.py
Labels: area:dev-tools

#38608 Improve XComObjectStoreBackend implementation
  airflow/providers/common/io/xcom/backend.py
  tests/providers/common/io/xcom/test_backend.py
Labels: area:providers, provider:common-io

#38691 Add type annotations to `conftest.py`
  tests/system/conftest.py
Labels: area:system-tests

#38550 Ensure internal api command get the "ready" prefix on start
  airflow/api_internal/gunicorn_config.py
  airflow/cli/commands/internal_api_command.py
  tests/cli/commands/test_internal_api_command.py
Labels: area:CLI

#37757 Use `methodtools.lru_cache` instead of `functools.lru_cache` in class methods
  .pre-commit-config.yaml
  airflow/compat/functools.pyi
  airflow/models/abstractoperator.py
  airflow/models/mappedoperator.py
  airflow/utils/task_group.py
  airflow/utils/weight_rule.py
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  hatch_build.py
  pyproject.toml
  scripts/ci/pre_commit/compat_cache_on_methods.py
Labels: area:dev-tools, type:bug-fix, full tests needed, upgrade to newer dependencies, all versions

#38699 Upgrade Airflow in main to be 2.10.0dev0
  airflow/__init__.py
  docs/docker-stack/README.md
  docs/docker-stack/docker-examples/extending/add-airflow-configuration/Dockerfile
  docs/docker-stack/docker-examples/extending/add-apt-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-build-essential-extend/Dockerfile
  docs/docker-stack/docker-examples/extending/add-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages-constraints/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages-uv/Dockerfile
  docs/docker-stack/docker-examples/extending/add-pypi-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/add-requirement-packages/Dockerfile
  docs/docker-stack/docker-examples/extending/custom-providers/Dockerfile
  docs/docker-stack/docker-examples/extending/embedding-dags/Dockerfile
  docs/docker-stack/docker-examples/extending/writable-directory/Dockerfile
  docs/docker-stack/entrypoint.rst
Labels: kind:documentation, area:production-image

#38603 pt012 rule enabled amazon
  pyproject.toml
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/hooks/test_datasync.py
  tests/providers/amazon/aws/hooks/test_eks.py
  tests/providers/amazon/aws/hooks/test_redshift_data.py
  tests/providers/amazon/aws/hooks/test_s3.py
  tests/providers/amazon/aws/operators/test_emr_serverless.py
  tests/providers/amazon/aws/operators/test_redshift_data.py
  tests/providers/amazon/aws/sensors/test_glacier.py
  tests/providers/amazon/aws/sensors/test_glue.py
  tests/providers/amazon/aws/sensors/test_lambda_function.py
  tests/providers/amazon/aws/system/utils/test_helpers.py
  tests/providers/amazon/aws/transfers/test_redshift_to_s3.py
  tests/providers/amazon/aws/triggers/test_ecs.py
  tests/providers/amazon/aws/waiters/test_neptune.py
Labels: provider:amazon-aws, area:providers

#38071 fix(google,log): Avoid log name overriding
  airflow/config_templates/airflow_local_settings.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  docs/apache-airflow-providers-google/logging/stackdriver.rst
  newsfragments/38071.significant.rst
  tests/providers/google/cloud/log/test_stackdriver_task_handler.py
Labels: provider:google, area:providers, area:dev-tools, area:logging, kind:documentation, type:bug-fix

#38704 Add fallback `region_name` value to AWS Executors
  airflow/providers/amazon/aws/executors/batch/batch_executor.py
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  tests/providers/amazon/aws/executors/batch/test_batch_executor.py
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
Labels: provider:amazon-aws, area:providers

#38705 Fix few nits in tag-providers command
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#38703 Drop pre-release specification from pre-installed provider versions
  .pre-commit-config.yaml
  hatch_build.py
Labels: area:dev-tools

#38700 Remove obtain postgres APT repo signing key from mysql install script
  Dockerfile
  Dockerfile.ci
  scripts/docker/install_mysql.sh
Labels: area:dev-tools, area:production-image

#38717 Reorder OpenAPI Spec tags alphabetically
  airflow/api_connexion/openapi/v1.yaml
Labels: area:API, use public runners

#38710 docs: add timeout description to DockerOperator.
  airflow/providers/docker/operators/docker.py
Labels: area:providers, provider:docker

#38518 Resolve `PT012` in `SFTP` provider tests
  airflow/providers/sftp/triggers/sftp.py
  pyproject.toml
  tests/providers/sftp/hooks/test_sftp.py
  tests/providers/sftp/operators/test_sftp.py
  tests/providers/sftp/sensors/test_sftp.py
  tests/providers/sftp/triggers/test_sftp.py
Labels: area:providers, provider:sftp

#38698 Remove FAB provider from "chicken-egg" providers.
  airflow_pre_installed_providers.txt
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools, full tests needed, default versions only

#38692 Fix minor typo in Breeze cheatsheet
  dev/breeze/src/airflow_breeze/utils/visuals.py
Labels: area:dev-tools, type:doc-only

#38725 Add support for OrbStack in breeze
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools

#38727 The dev0 suffix should only be applied in main
  .github/workflows/prod-image-build.yml
Labels: area:dev-tools

#38690 bump uv to 0.1.28
  Dockerfile
  Dockerfile.ci
  hatch_build.py
Labels: area:dev-tools, area:production-image

#38720 Fix grid header rendering
  airflow/www/static/js/dag/details/Header.tsx
  airflow/www/static/js/dag/details/index.tsx
Labels: type:bug-fix

#38264 [OpenLineage] Remove redundant operator information from facets
  airflow/providers/openlineage/extractors/bash.py
  airflow/providers/openlineage/extractors/manager.py
  airflow/providers/openlineage/extractors/python.py
  airflow/providers/openlineage/plugins/facets.py
  airflow/providers/openlineage/utils/utils.py
  tests/providers/openlineage/extractors/test_bash.py
  tests/providers/openlineage/extractors/test_python.py
Labels: area:providers, provider:openlineage

#38739 Rename UV_REQUEST_TIMEOUT to UV_HTTP_TIMEOUT and make it more usable
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/images/output-commands.svg
  dev/breeze/doc/images/output_ci-image_build.svg
  dev/breeze/doc/images/output_ci-image_build.txt
  dev/breeze/doc/images/output_prod-image_build.svg
  dev/breeze/doc/images/output_prod-image_build.txt
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands_config.py
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/main_command.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands_config.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
  dev/breeze/src/airflow_breeze/params/common_build_params.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  docs/docker-stack/build-arg-ref.rst
Labels: area:dev-tools, kind:documentation, area:production-image

#38738 Add mobuchowski ad Code Owner for OpenLineage provider code
  .github/CODEOWNERS
Labels: area:dev-tools

#38505 Edited timetable docs
  docs/apache-airflow/authoring-and-scheduling/timetable.rst
Labels: kind:documentation

#38742 Make UV_HTTP_TIMEOUT default value bigger in WSL2 environment
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/build_ci_params.py
  dev/breeze/src/airflow_breeze/params/build_prod_params.py
  dev/breeze/src/airflow_breeze/utils/platforms.py
  dev/breeze/src/airflow_breeze/utils/uv_utils.py
Labels: area:dev-tools

#38748 Unhide CI instructions when dependencies need regeneration
  dev/breeze/src/airflow_breeze/utils/md5_build_check.py
  scripts/ci/pre_commit/update_providers_dependencies.py
Labels: area:dev-tools

#38749 Switch to `pip` for all PROD images built in the release branches
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/prod-image-extra-checks.yml
Labels: area:dev-tools

#38723 Feature/refactor azure synapse pipeline class
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/hooks/synapse.py
  airflow/providers/microsoft/azure/provider.yaml
  tests/providers/microsoft/azure/hooks/test_synapse_pipeline.py
  tests/providers/microsoft/azure/operators/test_synapse.py
Labels: provider:microsoft-azure, area:providers

#38651 Adding support to hive hook for high availability Hive installations
  airflow/providers/apache/hive/hooks/hive.py
  docs/apache-airflow-providers-apache-hive/connections/hive_cli.rst
  tests/providers/apache/hive/hooks/test_hive.py
Labels: area:providers, kind:documentation, provider:apache-hive

#38684 Respect `@pytest.mark.filterwarnings` in prohibited warnings
  tests/api_experimental/common/test_mark_tasks.py
  tests/conftest.py
  tests/deprecations_ignore.yml
  tests/jobs/test_backfill_job.py
  tests/www/api/experimental/test_dag_runs_endpoint.py
  tests/www/views/conftest.py
Labels: changelog:skip, full tests needed, all versions

#38719 Improve audit log events filter
  airflow/www/static/js/dag/details/AuditLog.tsx
Labels: area:webserver, type:bug-fix, area:UI

#38752 Also disable UV for PROD cache build in release branches
  .github/workflows/push-image-cache.yml
Labels: area:dev-tools

#38740 add Wei Lee to committer list
  .asf.yaml
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/apache-airflow/project.rst
Labels: area:dev-tools, kind:documentation

#38689 Use async db calls in WorkflowTrigger
  airflow/triggers/external_task.py
  contributing-docs/testing/unit_tests.rst
  tests/triggers/test_external_task.py
Labels: area:Triggerer

#38489 Replace to broad exceptions into the Dev
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/docs_publisher.py
  dev/breeze/src/airflow_breeze/utils/kubernetes_utils.py
  dev/breeze/src/airflow_breeze/utils/packages.py
  docs/conf.py
  docs/exts/docs_build/docs_builder.py
  docs/exts/operators_and_hooks_ref.py
  docs/exts/provider_yaml_utils.py
  hatch_build.py
  scripts/ci/pre_commit/generate_pypi_readme.py
  scripts/ci/pre_commit/insert_extras.py
  scripts/ci/pre_commit/json_schema.py
  scripts/ci/pre_commit/replace_bad_characters.py
  scripts/ci/pre_commit/update_chart_dependencies.py
  scripts/ci/pre_commit/update_versions.py
  scripts/in_container/run_provider_yaml_files_check.py
  scripts/in_container/update_quarantined_test_status.py
  scripts/tools/check_if_limited_dependencies.py
  scripts/tools/list-integrations.py
Labels: area:dev-tools, kind:documentation

#38638 removed usage of deprecated function for naming the pod in provider k8s pod.py
  airflow/providers/cncf/kubernetes/kubernetes_helper_functions.py
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/pod_generator.py
Labels: area:providers, provider:cncf-kubernetes

#38753 Add google-cloud-bigquery as explicit google-provider dependency
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
Labels: provider:google, area:providers

#38759 Fix failing test after upgrade to the newer dependencies
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#38373 Allow specification of buffer length for GCS to Samba
  airflow/providers/samba/hooks/samba.py
  airflow/providers/samba/transfers/gcs_to_samba.py
  tests/providers/samba/transfers/test_gcs_to_samba.py
Labels: area:providers, provider:samba

#38768 Fix TRY002 for docker swarm operator
  airflow/providers/docker/operators/docker_swarm.py
  pyproject.toml
Labels: area:providers, provider:docker

#38737 Fix for Google Dataplex system tests
  tests/system/providers/google/cloud/dataplex/example_dataplex_dp.py
  tests/system/providers/google/cloud/dataplex/example_dataplex_dq.py
Labels: provider:google, area:providers, area:system-tests

#38780 Update hatchling to latest version (1.22.5)
  .pre-commit-config.yaml
  clients/python/pyproject.toml
  docker_tests/requirements.txt
  pyproject.toml
Labels: area:dev-tools, area:API, area:production-image

#38779 Add "use self-hosted runners" to CI setup
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#38781 Fix TRY002 for apache hive provider
  airflow/providers/apache/hive/hooks/hive.py
  pyproject.toml
Labels: area:providers, provider:apache-hive

#38783 Typo fix
  airflow/providers/amazon/aws/sensors/sqs.py
Labels: provider:amazon-aws, area:providers

#34457 heartbeat recovery message
  airflow/jobs/job.py
  airflow/serialization/pydantic/job.py
  tests/jobs/test_base_job.py
Labels: area:Scheduler

#38528 Make `placeholder` of DbApiHook configurable in UI
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/odbc/hooks/odbc.py
  tests/providers/common/sql/hooks/test_sql.py
  tests/providers/common/sql/test_utils.py
  tests/providers/odbc/hooks/test_odbc.py
Labels: area:providers, full tests needed, provider:common-sql, provider:odbc

#38765 Disable by default redact sensitive values in tests
  contributing-docs/testing/unit_tests.rst
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/api_connexion/endpoints/test_dataset_endpoint.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
  tests/cli/commands/test_task_command.py
  tests/conftest.py
  tests/models/test_renderedtifields.py
  tests/providers/openlineage/plugins/test_utils.py
  tests/utils/log/test_secrets_masker.py
  tests/www/views/test_views_connection.py
  tests/www/views/test_views_decorators.py
  tests/www/views/test_views_rendered.py
Labels: area:webserver, area:CLI, area:providers, area:dev-tools, area:logging, area:API, changelog:skip, full tests needed, provider:openlineage, all versions

#38790 fix: try002 for provider apache beam
  airflow/providers/apache/beam/hooks/beam.py
  pyproject.toml
Labels: area:providers, provider:apache-beam

#38785 Reorganize AWS custom waiter unit tests
  tests/providers/amazon/aws/waiters/test_batch.py
  tests/providers/amazon/aws/waiters/test_custom_waiters.py
  tests/providers/amazon/aws/waiters/test_dynamo.py
  tests/providers/amazon/aws/waiters/test_ecs.py
  tests/providers/amazon/aws/waiters/test_eks.py
  tests/providers/amazon/aws/waiters/test_emr.py
Labels: provider:amazon-aws, area:providers

#38787 fix: try002 for provider alibaba
  airflow/providers/alibaba/cloud/hooks/oss.py
  pyproject.toml
Labels: area:providers, provider:alibaba

#38791 fix: try002 for provider apache cassandra
  airflow/providers/apache/cassandra/hooks/cassandra.py
  pyproject.toml
Labels: area:providers, provider:apache-cassandra

#38795 Load providers configuration when gunicorn workers start
  airflow/www/gunicorn_config.py
Labels: area:webserver

#38808 fix spelling in pyproject.toml
  pyproject.toml
Labels: changelog:skip

#38778 Add `AirflowInternalRuntimeError` for raise "non catchable" errors
  airflow/exceptions.py
  airflow/settings.py
  tests/models/test_dagrun.py
  tests/providers/amazon/aws/auth_manager/avp/test_facade.py
  tests/providers/amazon/aws/fs/test_s3.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/hooks/test_emr.py
  tests/providers/amazon/aws/operators/test_ecs.py
  tests/providers/amazon/conftest.py
  tests/providers/apache/hive/transfers/test_s3_to_hive.py
  tests/providers/cncf/kubernetes/operators/test_job.py
  tests/providers/cncf/kubernetes/operators/test_resource.py
  tests/providers/google/cloud/operators/test_datapipeline.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
  tests/providers/mysql/hooks/test_mysql.py
  tests/providers/samba/hooks/test_samba.py
  tests/providers/slack/hooks/test_slack_webhook.py
  tests/serialization/test_dag_serialization.py
  tests/utils/test_cli_util.py
  tests/utils/test_email.py
Labels: full tests needed, all versions

#38802 update edge label image in documentation example with the new graph view
  docs/apache-airflow/img/edge_label_example.png
Labels: kind:documentation, type:doc-only

#38813 Add pre-commit script to keep tags sorted in OpenAPI spec
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/sort_tags_in_openapi_spec.py
Labels: area:dev-tools

#38806 fix: try002 for provider openlineage
  airflow/providers/openlineage/utils/utils.py
  pyproject.toml
Labels: area:providers, provider:openlineage

#38786 fix: try002 for provider airbyte
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/operators/airbyte.py
  airflow/providers/airbyte/sensors/airbyte.py
  pyproject.toml
  tests/providers/airbyte/hooks/test_airbyte.py
Labels: area:providers, provider:airbyte

#38801 fix: try002 for provider fab
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/providers/fab/auth_manager/security_manager/override.py
  pyproject.toml
  tests/providers/fab/auth_manager/test_fab_auth_manager.py
Labels: area:providers, provider:fab

#38496 Fix skip Apache Beam pipeline options if value is set to false
  airflow/providers/apache/beam/hooks/beam.py
  tests/providers/apache/beam/hooks/test_beam.py
Labels: area:providers, provider:apache-beam

#38724 Add hook_params to template_fields for BaseSQLOperator-related Operators
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/common/sql/sensors/sql.py
  tests/providers/common/sql/operators/test_sql.py
Labels: area:providers, provider:common-sql

#38702 Add cancel_previous_run to DatabricksRunNowOperator
  airflow/providers/databricks/operators/databricks.py
  docs/apache-airflow-providers-databricks/operators/run_now.rst
  tests/providers/databricks/operators/test_databricks.py
Labels: area:providers, provider:databricks

#38650 Implement Metadata to emit runtime extra
  airflow/datasets/__init__.py
  airflow/datasets/metadata.py
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/operators/python.py
  airflow/utils/context.py
  airflow/utils/context.pyi
  airflow/utils/operator_helpers.py
  docs/apache-airflow/authoring-and-scheduling/datasets.rst
  tests/models/test_taskinstance.py
  tests/operators/test_python.py
Labels: kind:documentation, area:core-operators

#38789 fix: try002 for provider amazon
  airflow/providers/amazon/aws/operators/athena.py
  airflow/providers/amazon/aws/operators/emr.py
  pyproject.toml
  tests/providers/amazon/aws/operators/test_athena.py
Labels: provider:amazon-aws, area:providers

#38805 fix: try002 for provider microsoft azure
  airflow/providers/microsoft/azure/operators/synapse.py
  pyproject.toml
  tests/providers/microsoft/azure/operators/test_synapse.py
Labels: provider:microsoft-azure, area:providers

#38825 Workaround occasional failures of docker system prune in public runners
  scripts/ci/cleanup_docker.sh
Labels: area:dev-tools

#38824 Add FAB provider to Airflow extras in the image
  Dockerfile
  dev/breeze/doc/images/output_prod-image_build.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
Labels: area:dev-tools, kind:documentation, area:production-image

#38734 Fix eks.py SyntaxWarning: invalid esape sequence '\s'
  airflow/providers/amazon/aws/hooks/eks.py
Labels: provider:amazon-aws, area:providers

#38827 Remove decorator from rendering fields example
  docs/apache-airflow/core-concepts/operators.rst
Labels: kind:documentation, type:doc-only

#38829 Add lineage_job_namespace and lineage_job_name OpenLineage macros
  airflow/providers/openlineage/plugins/macros.py
  airflow/providers/openlineage/plugins/openlineage.py
  airflow/providers/openlineage/utils/utils.py
  docs/apache-airflow-providers-openlineage/macros.rst
  tests/providers/openlineage/plugins/test_macros.py
Labels: area:providers, kind:documentation, provider:openlineage

#38839 Chart: Default Airflow version to 2.9.0
  chart/Chart.yaml
  chart/newsfragments/38478.significant.rst
  chart/newsfragments/38839.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#38837 Airflow 2.9.0 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/reproducible_build.yaml
  docs/apache-airflow/installation/supported-versions.rst
  generated/PYPI_README.md
  newsfragments/36376.significant.rst
  newsfragments/36514.significant.rst
  newsfragments/37005.significant.rst
  newsfragments/37176.significant.rst
  newsfragments/37627.significant.rst
  newsfragments/37734.significant.rst
  newsfragments/37915.significant.rst
  newsfragments/37925.bugfix
  newsfragments/37988.significant.rst
  newsfragments/38025.significant.rst
  newsfragments/38094.significant.rst
  newsfragments/38401.significant.rst
  scripts/ci/pre_commit/supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#38693 Amazon Bedrock - Model Customization Jobs
  airflow/providers/amazon/aws/hooks/bedrock.py
  airflow/providers/amazon/aws/operators/bedrock.py
  airflow/providers/amazon/aws/sensors/bedrock.py
  airflow/providers/amazon/aws/triggers/bedrock.py
  airflow/providers/amazon/aws/waiters/bedrock.json
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/bedrock.rst
  tests/providers/amazon/aws/hooks/test_bedrock.py
  tests/providers/amazon/aws/operators/test_bedrock.py
  tests/providers/amazon/aws/sensors/test_bedrock.py
  tests/providers/amazon/aws/triggers/test_bedrock.py
  tests/providers/amazon/aws/waiters/test_bedrock.py
  tests/system/providers/amazon/aws/example_bedrock.py
Labels: provider:amazon-aws, area:providers, area:system-tests, kind:documentation

#38800 fix: try002 for provider common sql
  airflow/providers/common/sql/hooks/sql.py
  pyproject.toml
Labels: area:providers, provider:common-sql

#38815 add `kerberos-sidecar` and `kerberos-initcontainer` to pod-template-file
  chart/files/pod-template-file.kubernetes-helm-yaml
  helm_tests/airflow_aux/test_pod_template_file.py
Labels: area:helm-chart

#38835 Resolve core unit test internal warning
  tests/core/test_core.py
  tests/deprecations_ignore.yml
Labels: changelog:skip

#38803 fix: try002 for provider google
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/leveldb/hooks/leveldb.py
  pyproject.toml
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/hooks/test_dataproc.py
Labels: provider:google, area:providers

#38804 fix: try002 for provider imap
  airflow/providers/imap/hooks/imap.py
  pyproject.toml
Labels: area:providers, provider:imap

#38763 Setting use_beeline by default for hive cli connection
  airflow/providers/apache/hive/CHANGELOG.rst
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/hive/provider.yaml
  tests/providers/apache/hive/hooks/test_hive.py
Labels: area:providers, provider:apache-hive

#38799 fix: try002 for provider cncf kubernetes
  airflow/providers/cncf/kubernetes/operators/pod.py
  pyproject.toml
Labels: area:providers, provider:cncf-kubernetes

#38859 Removing deprecated code in hive provider
  airflow/providers/apache/hive/CHANGELOG.rst
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/hive/operators/hive.py
  airflow/providers/apache/hive/operators/hive_stats.py
  tests/providers/apache/hive/operators/test_hive_stats.py
Labels: area:providers, provider:apache-hive

#38430 Fix BigQuery connection and add docs
  airflow/providers/google/cloud/hooks/bigquery.py
  docs/apache-airflow-providers-google/connections/bigquery.rst
  docs/apache-airflow-providers-google/connections/gcp.rst
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:google, area:providers, kind:documentation

#38857 Clean up Breeze output for Docker context
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/breeze/tests/test_docker_command_utils.py
Labels: area:dev-tools

#38864 Revert "fix: COMMAND string should be raw to avoid SyntaxWarning: invalid escape sequence '\s' (#38734)"
  airflow/providers/amazon/aws/hooks/eks.py
Labels: provider:amazon-aws, area:providers

#38514 Implement start/end/debug for multiple executors in scheduler job
  airflow/jobs/job.py
  airflow/jobs/scheduler_job_runner.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler

#38849 Amazon Bedrock - Clean up hook unit tests
  tests/providers/amazon/aws/hooks/test_bedrock.py
Labels: provider:amazon-aws, area:providers

#38873 Fix dag run link params
  airflow/www/static/js/dag/useFilters.tsx
  airflow/www/utils.py
Labels: area:webserver, type:bug-fix, area:UI

#38879 Use celery worker CLI from Airflow package for Airflow < 2.8.0
  airflow/providers/celery/executors/celery_executor.py
Labels: area:providers, provider:celery

#38865 Fix typo in templates-ref.rst
  docs/apache-airflow/templates-ref.rst
Labels: kind:documentation, type:doc-only

#38877 Enable `assert-raises-exception` rule (`B017`)
  kubernetes_tests/test_kubernetes_pod_operator.py
  pyproject.toml
  tests/hooks/test_package_index.py
  tests/jobs/test_scheduler_job.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
  tests/providers/amazon/aws/hooks/test_glue_catalog.py
  tests/providers/amazon/aws/log/test_s3_task_handler.py
  tests/providers/amazon/aws/utils/test_task_log_fetcher.py
  tests/providers/google/common/hooks/test_base_google.py
  tests/providers/mysql/transfers/test_s3_to_mysql.py
  tests/providers/openlineage/plugins/test_openlineage_adapter.py
  tests/providers/ssh/hooks/test_ssh.py
Labels: provider:google, provider:amazon-aws, area:Scheduler, area:providers, area:logging, changelog:skip, provider:cncf-kubernetes, area:core-operators, provider:openlineage, provider:ssh, provider:mysql

#38885 Fix test side effects from TracebackSession
  tests/core/test_settings.py
Labels: full tests needed

#38570 Make _get_ti compatible with RPC
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/cli/commands/task_command.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  tests/providers/amazon/aws/links/test_base_aws.py
  tests/providers/amazon/aws/operators/test_emr_serverless.py
  tests/providers/google/cloud/operators/test_bigquery.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/serialization/test_dag_serialization.py
Labels: area:CLI

#38881 Close open connections for deferrable SFTPSensor
  airflow/providers/sftp/hooks/sftp.py
  tests/providers/sftp/hooks/test_sftp.py
Labels: area:providers, provider:sftp

#38741 Update ACL during job reset
  airflow/providers/databricks/hooks/databricks.py
  airflow/providers/databricks/operators/databricks.py
  tests/providers/databricks/operators/test_databricks.py
Labels: area:providers, provider:databricks

#38199 fix cosmos hook static checks by making providing partition_key mandatory
  airflow/providers/microsoft/azure/CHANGELOG.rst
  airflow/providers/microsoft/azure/hooks/cosmos.py
  airflow/providers/microsoft/azure/provider.yaml
  docs/apache-airflow-providers-microsoft-azure/connections/azure_cosmos.rst
  generated/provider_dependencies.json
  tests/providers/microsoft/azure/hooks/test_cosmos.py
  tests/providers/microsoft/azure/operators/test_cosmos.py
Labels: provider:microsoft-azure, area:providers

#38882 Fix problem that links in legacy log view can not be clicked
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
  airflow/www/static/js/ti_log.js
Labels: area:webserver, type:bug-fix, area:UI

#38878 Add Airflow 2.8.0 to providers compatibility checks
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#38888 Widen cheat sheet column to avoid wrapping commands
  airflow/cli/commands/cheat_sheet_command.py
  tests/cli/commands/test_cheat_sheet_command.py
Labels: area:CLI

#38861 Add multi-team diagrams
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_with_grpc_api.md5sum
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_with_grpc_api.png
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_with_grpc_api.py
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_without_grpc_api.md5sum
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_without_grpc_api.png
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_without_grpc_api.py
  docs/apache-airflow/img/diagram_multitenant_airflow_architecture.md5sum
  docs/apache-airflow/img/diagram_multitenant_airflow_architecture.png
  hatch_build.py
Labels: kind:documentation

#38887 Amazon Bedrock - Fix system test
  tests/system/providers/amazon/aws/example_bedrock.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#38909 Fix check of correct dag when remote call for _get_ti
  airflow/cli/commands/task_command.py
Labels: area:CLI

#38584 Deferrable mode for Custom Training Job operators
  airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  airflow/providers/google/cloud/links/vertex_ai.py
  airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
  airflow/providers/google/cloud/operators/vertex_ai/pipeline_job.py
  airflow/providers/google/cloud/triggers/vertex_ai.py
  docs/apache-airflow-providers-google/operators/cloud/vertex_ai.rst
  tests/providers/google/cloud/hooks/vertex_ai/test_custom_job.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
  tests/providers/google/cloud/triggers/test_vertex_ai.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_container.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job_python_package.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#38913 Fix built query with implicit cartessian product in `AirflowSecurityManagerV2`
  airflow/www/security_manager.py
  pyproject.toml
Labels: area:webserver, type:bug-fix, full tests needed

#38460 Build helm values schemas with kubernetes 1.29 resources
  .pre-commit-config.yaml
  airflow/api_connexion/schemas/task_instance_schema.py
  chart/values.schema.json
  docs/apache-airflow/img/airflow_erd.svg
  helm_tests/airflow_core/test_worker.py
  scripts/ci/pre_commit/vendor_k8s_json_schema.py
  tests/charts/helm_template_generator.py
Labels: area:dev-tools, area:helm-chart, kind:documentation

#38918 Remove extra slash from update permission endpoint
  airflow/providers/databricks/hooks/databricks.py
Labels: area:providers, provider:databricks

#38923 Raise an error in case of `pytest.PytestReturnNotNoneWarning`
  pyproject.toml
  tests/models/test_mappedoperator.py
Labels: changelog:skip, full tests needed

#38928 Limit redis image to 7.2 in our chart
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#38936 Replace also "-" in providers compatibility check specification
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#38933 Use `model_dump` instead of `dict` for serialize Pydantic V2 model
  airflow/serialization/serde.py
  tests/serialization/test_serde.py
Labels: area:serialization

#38850 Amazon Bedrock - Model Throughput Provisioning
  airflow/providers/amazon/aws/operators/bedrock.py
  airflow/providers/amazon/aws/sensors/bedrock.py
  airflow/providers/amazon/aws/triggers/bedrock.py
  airflow/providers/amazon/aws/waiters/bedrock.json
  docs/apache-airflow-providers-amazon/operators/bedrock.rst
  tests/always/test_project_structure.py
  tests/providers/amazon/aws/operators/test_bedrock.py
  tests/providers/amazon/aws/sensors/test_bedrock.py
  tests/providers/amazon/aws/triggers/test_bedrock.py
  tests/providers/amazon/aws/waiters/test_bedrock.py
  tests/system/providers/amazon/aws/example_bedrock.py
Labels: provider:amazon-aws, area:providers, area:system-tests, kind:documentation

#38938 Limit redis image to 7.2 in sample docker-compose.yaml
  docs/apache-airflow/howto/docker-compose/docker-compose.yaml
Labels: kind:documentation

#38860 fix(airbyte/hooks): add schema and port to prevent InvalidURL error
  airflow/providers/airbyte/hooks/airbyte.py
  tests/providers/airbyte/hooks/test_airbyte.py
Labels: area:providers, provider:airbyte

#38945 Amazon Bedrock - System Test Fixes
  tests/system/providers/amazon/aws/example_bedrock.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#38715 Always use the executemany method when inserting rows in DbApiHook as it's way much faster
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/common/sql/hooks/sql.pyi
  airflow/providers/odbc/hooks/odbc.py
  airflow/providers/postgres/hooks/postgres.py
  airflow/providers/teradata/hooks/teradata.py
  tests/deprecations_ignore.yml
  tests/providers/common/sql/hooks/test_dbapi.py
  tests/providers/postgres/hooks/test_postgres.py
  tests/providers/teradata/hooks/test_teradata.py
Labels: area:providers, provider:common-sql

#38707 Suppress jaydebeapi.Error when setAutoCommit or getAutoCommit is unsupported by JDBC driver
  airflow/providers/jdbc/hooks/jdbc.py
  tests/providers/jdbc/hooks/test_jdbc.py
Labels: area:providers, provider:jdbc

#38947 Activate RUF006 rule to detect dangling asyncio tasks
  .pre-commit-config.yaml
  pyproject.toml
  tests/providers/google/cloud/triggers/test_bigquery.py
Labels: provider:google, area:providers, area:dev-tools

#38956 Quarantine `test_mapped_task_upstream_dep.py::test_step_by_step`
  tests/ti_deps/deps/test_mapped_task_upstream_dep.py
Labels: Quarantine

#38677 Create GKESuspendJobOperator and GKEResumeJobOperator operators
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  docs/apache-airflow-providers-google/operators/cloud/kubernetes_engine.rst
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/system/providers/google/cloud/kubernetes_engine/example_kubernetes_engine_job.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation, provider:cncf-kubernetes

#38747 Pass through more parameters to AzureBlobFileSystem to mirror handlin…
  airflow/providers/microsoft/azure/fs/adls.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/utils.py
  tests/always/test_project_structure.py
  tests/providers/microsoft/azure/fs/__init__.py
  tests/providers/microsoft/azure/fs/test_adls.py
  tests/providers/microsoft/azure/test_utils.py
Labels: provider:microsoft-azure, area:providers

#38957 Remove button for reset my password when we have reset password
  airflow/providers/fab/auth_manager/views/user.py
Labels: area:providers, provider:fab

#38943 Fix try_number handling when db isolation enabled
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/utils/log/file_task_handler.py
  tests/models/test_taskinstance.py
Labels: area:logging, area:serialization
