Repository apache/airflow, pull requests merged in 2024-06, with the labels that each got.

#39928 Resolve weaviate deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/weaviate/operators/test_weaviate.py
Labels: area:providers, provider:weaviate

#39961 Resolve backfill job deprecations in tests
  tests/deprecations_ignore.yml
  tests/jobs/test_backfill_job.py
Labels: area:Scheduler

#39990 Limit yandex provider to avoid mypy errors
  airflow/providers/yandex/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, provider:yandex

#39734 remove deprecations mssql
  docs/apache-airflow-providers-microsoft-mssql/operators.rst
  tests/always/test_example_dags.py
  tests/system/providers/microsoft/mssql/example_mssql.py
Labels: area:providers, area:system-tests, kind:documentation, provider:microsoft-mssql

#39984 Remove unused parameter from global_constants.py
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#39991 Change regular expression to exclude double quote and newline
  airflow/providers/google/cloud/hooks/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
Labels: provider:google, area:providers

#39728 remove deprecation trino
  docs/apache-airflow-providers-trino/operators/trino.rst
  tests/always/test_example_dags.py
  tests/system/providers/trino/example_trino.py
Labels: area:providers, area:system-tests, kind:documentation, provider:trino

#39925 Resolve tableau deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/tableau/hooks/test_tableau.py
Labels: area:providers, provider:tableau

#39949 Resolve hashicorp deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/hashicorp/secrets/test_vault.py
Labels: area:providers, area:secrets, provider:hashicorp

#39986 Update integration tests docs and add "Writing Integration Tests" guide
  contributing-docs/testing/integration_tests.rst
Labels: area:dev-tools

#39995 fix sub-heading in 07_local_virtualenv.rst
  contributing-docs/07_local_virtualenv.rst
Labels: area:dev-tools

#39395 Update dataproc.rst
  docs/apache-airflow-providers-google/operators/cloud/dataproc.rst
Labels: provider:google, area:providers, kind:documentation

#39812 Javascript connection form will apply CodeMirror to all textarea's dynamically
  airflow/www/static/js/connection_form.js
Labels: area:webserver, type:improvement, area:UI

#39956 Deduplicate model name in SageMakerTransformOperator
  airflow/providers/amazon/aws/operators/sagemaker.py
  tests/providers/amazon/aws/operators/test_sagemaker_base.py
  tests/providers/amazon/aws/operators/test_sagemaker_transform.py
Labels: provider:amazon-aws, area:providers

#40002 Remove rawwar from triager
  .asf.yaml
Labels: area:dev-tools

#39957 Resolve stats deprecations in tests
  tests/core/test_stats.py
  tests/deprecations_ignore.yml
Labels: changelog:skip

#39960 Pass triggered or existing DAG Run logical date to DagStateTrigger
  airflow/operators/trigger_dagrun.py
  tests/operators/test_trigger_dagrun.py
Labels: type:bug-fix, area:core-operators

#40000 Remove deprecated docker compose version field
  scripts/ci/docker-compose/integration-cassandra.yml
  scripts/ci/docker-compose/integration-celery.yml
  scripts/ci/docker-compose/integration-drill.yml
  scripts/ci/docker-compose/integration-kafka.yml
  scripts/ci/docker-compose/integration-kerberos.yml
  scripts/ci/docker-compose/integration-mongo.yml
  scripts/ci/docker-compose/integration-mssql.yml
  scripts/ci/docker-compose/integration-openlineage.yml
  scripts/ci/docker-compose/integration-otel.yml
  scripts/ci/docker-compose/integration-pinot.yml
  scripts/ci/docker-compose/integration-qdrant.yml
  scripts/ci/docker-compose/integration-statsd.yml
  scripts/ci/docker-compose/integration-trino.yml
Labels: area:dev-tools

#40004 Resolve weekday operator deprecations in tests
  tests/deprecations_ignore.yml
  tests/operators/test_weekday.py
Labels: changelog:skip, area:core-operators

#39765 Fix Todo remove hybrid property hack
  airflow/models/dag.py
  airflow/models/taskinstance.py
Labels: type:improvement, area:core

#40001 Remove colon from notes header to make headlines in UI consistent
  airflow/www/static/js/dag/details/NotesAccordion.tsx
Labels: area:webserver, type:improvement, area:UI

#39955 Added ordering key option for PubSubPublishMessageOperator GCP Operator
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/operators/pubsub.py
  tests/providers/google/cloud/hooks/test_pubsub.py
  tests/providers/google/cloud/operators/test_pubsub.py
Labels: provider:google, area:providers

#40006 Resolve dag serialization deprecations in tests
  tests/deprecations_ignore.yml
  tests/serialization/test_dag_serialization.py
  tests/serialization/test_pydantic_models.py
Labels: area:serialization

#40007 Add Shahar to triage team
  .asf.yaml
Labels: area:dev-tools

#38883 Allow Task Group Ids to be passed as branches in BranchMixIn
  airflow/models/skipmixin.py
  airflow/operators/branch.py
  airflow/operators/datetime.py
  airflow/operators/python.py
  airflow/operators/weekday.py
  tests/operators/test_branch_operator.py
  tests/operators/test_python.py
Labels: type:improvement, area:core-operators

#40003 Resolve trigger dagrun operator deprecations in tests
  tests/deprecations_ignore.yml
  tests/operators/test_trigger_dagrun.py
Labels: area:core-operators

#38507 Chart: Enable templating in extraContainers and extraInitContainers
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/dag-processor/dag-processor-deployment.yaml
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/triggerer/triggerer-deployment.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/workers/worker-deployment.yaml
  helm_tests/airflow_aux/test_create_user_job.py
  helm_tests/airflow_aux/test_migrate_database_job.py
  helm_tests/airflow_aux/test_pod_template_file.py
  helm_tests/airflow_core/test_dag_processor.py
  helm_tests/airflow_core/test_scheduler.py
  helm_tests/airflow_core/test_triggerer.py
  helm_tests/airflow_core/test_worker.py
  helm_tests/webserver/test_webserver.py
Labels: area:helm-chart

#38666 Fix triggerer race condition in HA setting
  airflow/jobs/triggerer_job_runner.py
  tests/jobs/test_triggerer_job.py
Labels: area:Scheduler, type:bug-fix, area:Triggerer

#40019 Fixes K8s trigger failing running pods with timeout
  airflow/providers/cncf/kubernetes/triggers/pod.py
  tests/providers/cncf/kubernetes/triggers/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#39739 Add listeners for Dag import errors
  airflow/dag_processing/processor.py
  airflow/listeners/listener.py
  airflow/listeners/spec/importerrors.py
  docs/apache-airflow/administration-and-deployment/listeners.rst
  tests/listeners/dag_import_error_listener.py
  tests/listeners/test_dag_import_error_listener.py
Labels: area:Scheduler, type:improvement

#39826 standardizes template fields for `BaseSQLOperator` and adds `database` as a templated field
  airflow/providers/common/sql/operators/sql.py
  airflow/providers/common/sql/operators/sql.pyi
  tests/providers/common/sql/operators/test_sql.py
Labels: area:providers, provider:common-sql

#39935 Fix bug that makes `AirflowSecurityManagerV2` leave transactions in the `idle in transaction` state
  airflow/www/security_manager.py
  tests/www/test_security_manager.py
Labels: area:webserver

#40020 Resolve aws emr deprecations in tests
  airflow/providers/amazon/aws/operators/emr.py
  tests/deprecations_ignore.yml
  tests/providers/amazon/aws/operators/test_emr_notebook_execution.py
  tests/providers/amazon/aws/operators/test_emr_serverless.py
Labels: provider:amazon-aws, area:providers

#40026 Resolve aws provider deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/amazon/aws/hooks/test_sagemaker.py
  tests/providers/amazon/aws/sensors/test_ecs.py
  tests/providers/amazon/aws/utils/test_connection_wrapper.py
Labels: provider:amazon-aws, area:providers

#40016 Resolve aws ecs deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:amazon-aws, area:providers

#40032 Bedrock system test adjustment
  tests/system/providers/amazon/aws/example_bedrock_retrieve_and_generate.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#40033 Document `extraContainers` and `extraInitContainers` that are templated
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#40036 Resolve common providers deprecations in tests
  airflow/providers/cncf/kubernetes/cli/kubernetes_command.py
  tests/deprecations_ignore.yml
  tests/providers/apache/spark/operators/test_spark_sql.py
  tests/providers/common/sql/hooks/test_dbapi.py
  tests/providers/common/sql/operators/test_sql.py
Labels: area:providers, provider:cncf-kubernetes, provider:common-sql, provider:apache-spark

#40037 Remove explicitly specified folders when they are already ignored
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
Labels: area:dev-tools

#40012 Fixing exception types to include TypeError, which is what is raised in
  airflow/providers/celery/executors/celery_executor.py
Labels: area:providers, provider:celery

#39993 Improve trigger UI for string array format validation
  airflow/www/templates/airflow/trigger.html
  docs/apache-airflow/core-concepts/params.rst
Labels: area:webserver, type:bug-fix, area:UI

#40009 Resolve www views deprecations in tests
  tests/deprecations_ignore.yml
  tests/www/test_utils.py
  tests/www/views/test_views_cluster_activity.py
  tests/www/views/test_views_grid.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver

#40040 Fix grammar in index.rst
  docs/apache-airflow/installation/index.rst
Labels: kind:documentation

#39945 Resolve pagerduty deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/pagerduty/hooks/test_pagerduty.py
  tests/providers/pagerduty/hooks/test_pagerduty_events.py
Labels: area:providers, provider:pagerduty

#40041 Add template_field to DataplexGetDataQualityScanResultOperator
  airflow/providers/google/cloud/operators/dataplex.py
Labels: provider:google, area:providers

#40048 Fix `DbtCloudRunJobOperator` to Use Correct Status Parameters for `reuse_existing_run`
  airflow/providers/dbt/cloud/operators/dbt.py
  tests/providers/dbt/cloud/operators/test_dbt.py
Labels: area:providers, provider:dbt-cloud

#39983 Doc-only: mention minimum boto3 1.34.52 for AWS provider when using Batch `ecs_properties_override`
  airflow/providers/amazon/aws/operators/batch.py
Labels: provider:amazon-aws, area:providers

#40052 Bump boto min versions
  airflow/providers/amazon/aws/operators/batch.py
  airflow/providers/amazon/aws/operators/bedrock.py
  airflow/providers/amazon/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, full tests needed, upgrade to newer dependencies

#39329 Fix Pod Number Exception in the sync mode if reattach_on_restart parameter is False
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#40058 add PID and return code to _execute_in_fork logging
  airflow/providers/celery/executors/celery_executor_utils.py
Labels: area:providers, provider:celery

#40044 Set PR #39638 for Airflow 2.10
  airflow/migrations/versions/0143_2_10_0_add_indexes_on_dag_id_column_in_referencing_tables.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/migrations-ref.rst
Labels: kind:documentation, area:db-migrations

#39520 [OPENLINEAGE] Introduce AirflowJobFacet and AirflowStateRunFacet
  airflow/providers/openlineage/facets/AirflowJobFacet.json
  airflow/providers/openlineage/facets/AirflowRunFacet.json
  airflow/providers/openlineage/facets/AirflowStateRunFacet.json
  airflow/providers/openlineage/facets/__init__.py
  airflow/providers/openlineage/plugins/adapter.py
  airflow/providers/openlineage/plugins/facets.py
  airflow/providers/openlineage/plugins/listener.py
  airflow/providers/openlineage/utils/utils.py
  docs/spelling_wordlist.txt
  tests/providers/openlineage/plugins/test_adapter.py
  tests/providers/openlineage/utils/test_utils.py
Labels: area:providers, provider:openlineage

#40065 Add utkarsharma2 in commiter list
  docs/apache-airflow/project.rst
Labels: kind:documentation

#40061 Fix typo in overview.rst
  docs/apache-airflow/core-concepts/overview.rst
Labels: kind:documentation

#40059 Expllicitly skip FAB tests for compatiblity tests on 2.7 and 2.8
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#38524 Chart: Allow AWS ECS Executor
  chart/README.md
  chart/values.schema.json
  helm_tests/airflow_aux/test_basic_helm_chart.py
Labels: area:helm-chart

#40068 Resolve databricks deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/databricks/hooks/test_databricks_sql.py
  tests/providers/databricks/sensors/test_databricks_partition.py
  tests/providers/databricks/sensors/test_databricks_sql.py
Labels: area:providers, provider:databricks

#40035 Unit test for celery change_state wrapper
  tests/integration/executors/test_celery_executor.py
Labels: area:providers, provider:celery

#40074 Docs: Simpler command to check local scheduler is alive
  docs/apache-airflow/administration-and-deployment/logging-monitoring/check-health.rst
Labels: kind:documentation

#39992 Resolve core operators deprecations in tests
  tests/deprecations_ignore.yml
  tests/operators/test_bash.py
  tests/operators/test_branch_operator.py
  tests/operators/test_datetime.py
  tests/operators/test_latest_only_operator.py
Labels: area:core-operators

#40085 Fix grammar in dags.rst
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation

#40062 google: move bigquery openlineage imports inside methods
  airflow/providers/google/cloud/openlineage/mixins.py
  airflow/providers/google/cloud/openlineage/utils.py
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/openlineage/test_mixins.py
  tests/providers/google/cloud/openlineage/test_utils.py
Labels: provider:google, area:providers

#40080 add default gcp_conn_id to GoogleBaseAsyncHook
  airflow/providers/google/common/hooks/base_google.py
Labels: provider:google, area:providers

#40086 Add `retry_args` parameter to `HttpOperator`
  airflow/providers/http/operators/http.py
  tests/providers/http/operators/test_http.py
Labels: area:providers, provider:http

#40072 Resolve google cloud kubernetes operator and trigger deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/providers/google/cloud/triggers/test_kubernetes_engine.py
Labels: provider:google, area:providers

#40091 openlineage: Add task SLA and queued datetime to AirflowRunFacet
  airflow/providers/openlineage/facets/AirflowRunFacet.json
  airflow/providers/openlineage/utils/utils.py
Labels: area:providers, provider:openlineage

#40051 Fix aws assume role session creation when deferrable
  airflow/providers/amazon/aws/hooks/base_aws.py
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: provider:amazon-aws, area:providers

#40089 Exit instead of return in case Providers[fab] test is ignored
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#40015 Remove transitional package apt-transport-https from dependencies.rst
  docs/apache-airflow/installation/dependencies.rst
Labels: kind:documentation

#39924 Include fatal reason for pod pending events
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
Labels: area:providers, provider:cncf-kubernetes

#40108 Fix credentials intialization revealed by mypy version of google auth
  airflow/providers/google/cloud/hooks/vertex_ai/hyperparameter_tuning_job.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/google/common/utils/id_token_credentials.py
Labels: provider:google, area:providers, upgrade to newer dependencies

#40109 Import aiobotocore locally in tests rather than as global import
  tests/providers/amazon/aws/hooks/test_base_aws.py
Labels: provider:amazon-aws, area:providers

#39406 Avoid resetting adopted task instances when retrying for kubernetes executor
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes

#40060 catch sentry flush if exception happens in _execute_in_fork finally block
  airflow/providers/celery/executors/celery_executor_utils.py
Labels: area:providers, provider:celery

#40028 Use a join for TI notes in TI batch API endpoint
  airflow/api_connexion/endpoints/task_instance_endpoint.py
Labels: area:API

#40057 Prepare docs 1st wave June 2024
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/celery/CHANGELOG.rst
  airflow/providers/celery/__init__.py
  airflow/providers/celery/provider.yaml
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/__init__.py
  airflow/providers/cncf/kubernetes/provider.yaml
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-amazon/index.rst
  docs/apache-airflow-providers-celery/commits.rst
  docs/apache-airflow-providers-celery/index.rst
  docs/apache-airflow-providers-cncf-kubernetes/commits.rst
  docs/apache-airflow-providers-cncf-kubernetes/index.rst
Labels: provider:amazon-aws, area:providers, kind:documentation, provider:cncf-kubernetes, provider:celery

#40107 Upgrade to latest installers
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#40022 sftp_sensor: fixing resource management with sensor
  airflow/providers/sftp/hooks/sftp.py
  airflow/providers/sftp/sensors/sftp.py
Labels: area:providers, provider:sftp

#40088 Implement CloudComposerDAGRunSensor
  airflow/providers/google/cloud/sensors/cloud_composer.py
  airflow/providers/google/cloud/triggers/cloud_composer.py
  docs/apache-airflow-providers-google/operators/cloud/cloud_composer.rst
  tests/providers/google/cloud/sensors/test_cloud_composer.py
  tests/providers/google/cloud/triggers/test_cloud_composer.py
  tests/system/providers/google/cloud/composer/example_cloud_composer.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#40122 Fix param order in PythonOperator docstring
  airflow/operators/python.py
Labels: area:core-operators

#37365 feat: enable mysql keda support for triggerer
  chart/templates/triggerer/triggerer-kedaautoscaler.yaml
  chart/templates/workers/worker-kedaautoscaler.yaml
  helm_tests/airflow_core/test_triggerer.py
  helm_tests/airflow_core/test_worker.py
Labels: area:helm-chart

#40110 Fix openai 1.32 breaking openai tests
  Dockerfile
  Dockerfile.ci
  airflow/providers/google/provider.yaml
  airflow/providers/openai/provider.yaml
  contributing-docs/testing/unit_tests.rst
  generated/provider_dependencies.json
  tests/providers/openai/hooks/test_openai.py
Labels: area:providers, provider:openai

#40129 Add warning to deprecated api docs that access control isn't applied
  airflow/config_templates/config.yml
  docs/apache-airflow/deprecated-rest-api-ref.rst
Labels: area:API, kind:documentation

#39788 Opensearch operator set connection type
  airflow/providers/opensearch/hooks/opensearch.py
  airflow/providers/opensearch/operators/opensearch.py
  tests/providers/opensearch/hooks/test_opensearch.py
Labels: area:providers, provider:opensearch

#40128 Upgrade to codecov@v4
  .github/actions/post_tests_success/action.yml
Labels: area:dev-tools

#40134 Fix `importlib_metadata` import in aws utils
  airflow/providers/amazon/aws/utils/__init__.py
Labels: provider:amazon-aws, area:providers

#40133 Resolve openlineage provider deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/openlineage/plugins/test_listener.py
  tests/providers/openlineage/plugins/test_utils.py
Labels: area:providers, provider:openlineage

#40136 Add Codecov token
  .github/actions/post_tests_success/action.yml
Labels: area:dev-tools

#40138 Properly pass codecov-token to composite action
  .github/actions/post_tests_success/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/run-unit-tests.yml
Labels: area:dev-tools

#40139 Remove warnings when uploading code coverage
  .github/actions/post_tests_success/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/run-unit-tests.yml
  dev/breeze/src/airflow_breeze/params/shell_params.py
Labels: area:dev-tools

#40137 Use stdlib `importlib.metadata` for retrieve `botocore` package version
  airflow/providers/amazon/aws/utils/__init__.py
  tests/providers/amazon/aws/utils/test_utils.py
  tests/providers/amazon/conftest.py
Labels: provider:amazon-aws, area:providers, all versions

#40144 Mark two tests (trigger and deps) as flaky
  tests/ti_deps/deps/test_trigger_rule_dep.py
  tests/triggers/test_external_task.py
Labels: area:Triggerer

#40114 Fix highlight of example code in dags.rst
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation

#40142 Add `delete_topic` to `KafkaAdminClientHook` and teardown logic to Kafka integration tests
  airflow/providers/apache/kafka/hooks/base.py
  airflow/providers/apache/kafka/hooks/client.py
  tests/always/test_project_structure.py
  tests/integration/providers/apache/kafka/hooks/test_admin_client.py
  tests/integration/providers/apache/kafka/hooks/test_consumer.py
  tests/integration/providers/apache/kafka/hooks/test_producer.py
  tests/providers/apache/kafka/hooks/test_base.py
  tests/providers/apache/kafka/hooks/test_client.py
  tests/providers/apache/kafka/hooks/test_consume.py
  tests/providers/apache/kafka/hooks/test_produce.py
Labels: area:providers, provider:apache-kafka

#40131 Allow executors to be specified with only the class name of the Executor
  airflow/executors/executor_loader.py
  tests/executors/test_executor_loader.py
Labels: area:Executors-core

#40023 Fix hive_partition_sensor system test
  airflow/providers/google/cloud/operators/dataproc_metastore.py
  tests/system/providers/google/cloud/dataproc_metastore/example_dataproc_metastore_hive_partition_sensor.py
Labels: provider:google, area:providers, area:system-tests

#40159 Airflow 2.9.2 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/reproducible_build.yaml
  docs/apache-airflow/installation/supported-versions.rst
  docs/spelling_wordlist.txt
  generated/PYPI_README.md
  scripts/ci/pre_commit/supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#40030 Aip-61: Add validation on task `executor` field
  airflow/executors/executor_loader.py
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: AIP-61

#40135 feat(chart): allow valueFrom in env config of components (#40095)
  chart/templates/_helpers.yaml
  chart/values.schema.json
  helm_tests/airflow_aux/test_create_user_job.py
  helm_tests/airflow_aux/test_pod_template_file.py
  helm_tests/airflow_core/test_dag_processor.py
  helm_tests/airflow_core/test_scheduler.py
  helm_tests/airflow_core/test_triggerer.py
  helm_tests/airflow_core/test_worker.py
  helm_tests/other/test_flower.py
  helm_tests/webserver/test_webserver.py
Labels: area:helm-chart

#40063 Add encryption_configuration parameter to BigQuery operators
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#40158 Bump google-ads version to use v17 by default
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
Labels: provider:google, area:providers

#40169 Fix minor typo in dags.rst
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation

#39585 Prevent start trigger initialization in scheduler
  airflow/decorators/base.py
  airflow/models/abstractoperator.py
  airflow/models/baseoperator.py
  airflow/models/dagrun.py
  airflow/models/mappedoperator.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/triggers/base.py
  docs/apache-airflow/authoring-and-scheduling/deferring.rst
  tests/models/test_dagrun.py
  tests/serialization/test_dag_serialization.py
  tests/serialization/test_pydantic_models.py
Labels: area:serialization

#40177 Upgrade build installers and dependencies
  Dockerfile
  Dockerfile.ci
  pyproject.toml
Labels: area:dev-tools, area:production-image

#38953 Remove unnecessary nginx redirect rule from reverse proxy documentation
  docs/apache-airflow/howto/run-behind-proxy.rst
Labels: stale, kind:documentation

#40102 Add link to Google Providers Package System Tests Public Dashboard
  tests/system/providers/google/README.md
Labels: provider:google, area:providers, area:system-tests

#40152 Fix cloud run system test
  tests/system/providers/google/cloud/cloud_run/example_cloud_run.py
Labels: provider:google, area:providers, area:system-tests

#39873 Add support for external IdP OIDC token retrieval for Google Cloud Operators.
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/google/cloud/utils/external_token_supplier.py
  airflow/providers/google/common/hooks/base_google.py
  tests/providers/google/cloud/utils/test_credentials_provider.py
  tests/providers/google/cloud/utils/test_external_token_supplier.py
  tests/providers/google/common/hooks/test_base_google.py
Labels: provider:google, area:providers

#39951 AIP-64: Add TaskInstance history table
  airflow/migrations/versions/0146_2_10_0_add_task_instance_history.py
  airflow/models/__init__.py
  airflow/models/taskinstance.py
  airflow/models/taskinstancehistory.py
  airflow/utils/db.py
  airflow/utils/db_cleanup.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/models/test_cleartasks.py
  tests/models/test_taskinstance.py
  tests/test_utils/db.py
Labels: kind:documentation, area:db-migrations, AIP-64

#40192 Much smaller CI output for paralell tests
  dev/breeze/src/airflow_breeze/utils/parallel.py
Labels: area:dev-tools

#40190 Bump minimum version of google auth
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
Labels: provider:google, area:providers

#40145 Add CSRF protection to "/logout"
  airflow/providers/fab/auth_manager/security_manager/override.py
  airflow/www/static/css/bootstrap-theme.css
  airflow/www/static/css/material-icons.css
  airflow/www/templates/appbuilder/navbar_right.html
  newsfragments/40145.significant.rst
  tests/providers/fab/auth_manager/api_endpoints/test_role_and_permission_endpoint.py
  tests/www/views/test_session.py
Labels: area:webserver, area:providers, type:improvement, area:UI, provider:fab

#40179 Resolve deprecations in `SubDagOperator` tests
  tests/deprecations_ignore.yml
  tests/operators/test_subdag_operator.py
Labels: area:core-operators

#40182 Resolve deprecations in `BigQuery` operator tests
  tests/deprecations_ignore.yml
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#40200 openlineage: add some debug logging around sql parser call sites
  airflow/providers/openlineage/sqlparser.py
  airflow/providers/openlineage/utils/sql.py
  airflow/providers/snowflake/hooks/snowflake.py
Labels: area:providers, provider:snowflake, provider:openlineage

#40199 Resolve deprecations in `OracleHook` tests
  tests/deprecations_ignore.yml
  tests/providers/oracle/hooks/test_oracle.py
Labels: area:providers, provider:oracle

#40202 Fix TS linting issues caused by #40145
  .pre-commit-config.yaml
  airflow/www/static/css/bootstrap-theme.css
  airflow/www/static/css/material-icons.css
Labels: area:webserver, area:UI

#39920 Update AWS Executor documentation
  docs/apache-airflow-providers-amazon/executors/batch-executor.rst
  docs/apache-airflow-providers-amazon/executors/ecs-executor.rst
  docs/apache-airflow-providers-amazon/executors/general.rst
Labels: provider:amazon-aws, area:providers, kind:documentation

#40156 Ensures DAG params order regardless of backend
  airflow/serialization/schema.json
  airflow/serialization/serialized_objects.py
  tests/models/test_serialized_dag.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, type:bug-fix

#39890 local task job: add overtime mechanism, to not kill task prematurely when auxiliary processes are running
  airflow/config_templates/config.yml
  airflow/jobs/local_task_job_runner.py
  airflow/providers/openlineage/plugins/listener.py
  tests/dags/test_mark_state.py
  tests/jobs/test_local_task_job.py
  tests/listeners/slow_listener.py
  tests/listeners/very_slow_listener.py
Labels: area:Scheduler, area:providers, provider:openlineage

#40181 Resolve deprecations in `LatestOnlyOperator` tests
  tests/deprecations_ignore.yml
  tests/operators/test_latest_only_operator.py
Labels: changelog:skip, area:core-operators

#40221 AIP-64: Add UI endpoint for task instance history
  airflow/www/views.py
  tests/www/views/test_views_ti_history.py
Labels: area:webserver

#40183 Fix Scheduler restarting due to too many completed pods in cluster
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes

#40208 Fix import future annotations in venv jinja template
  airflow/utils/python_virtualenv_script.jinja2
  tests/decorators/test_python_virtualenv.py
Labels: area:providers, provider:docker

#40197 openlineage, redshift: do not call DB for schemas below Airflow 2.10
  airflow/providers/amazon/aws/hooks/redshift_sql.py
  airflow/providers/openlineage/utils/utils.py
  tests/providers/amazon/aws/operators/test_redshift_sql.py
Labels: provider:amazon-aws, area:providers, provider:openlineage

#40237 Add missing location param to `BigQueryUpdateTableSchemaOperator`
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#40126 Add GenerationConfig and SafetySettings parameters to Google Cloud Multimodal Model Operators
  airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  airflow/providers/google/cloud/operators/vertex_ai/generative_model.py
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/vertex_ai/test_generative_model.py
  tests/providers/google/cloud/operators/vertex_ai/test_generative_model.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_generative_model.py
Labels: provider:google, area:providers, area:system-tests

#40219 fix bigquery_to_gcs documentation
  docs/apache-airflow-providers-google/operators/transfer/bigquery_to_gcs.rst
Labels: provider:google, area:providers, kind:documentation

#40034 AIP-61 - Add executor field to the task instance API
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/task_instance_schema.py
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_mapped_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/schemas/test_task_instance_schema.py
Labels: area:webserver, area:API, area:UI, AIP-61

#40228 Fix typo in tasks.rst
  docs/apache-airflow/core-concepts/tasks.rst
Labels: kind:documentation

#37936 Fix dag task scheduled and queued duration metrics
  airflow/models/taskinstance.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
  newsfragments/37936.significant.rst
Labels: type:bug-fix

#40227 Add slightly more detailed guidance about upgrading to the docs
  docs/apache-airflow/installation/upgrading.rst
Labels: kind:documentation

#40178 Databricks: stop including user names in `list_jobs`
  airflow/providers/databricks/hooks/databricks.py
  tests/providers/databricks/hooks/test_databricks.py
Labels: area:providers, provider:databricks

#40078 openlineage: isolate metadata extraction by executing OL methods in separate, forked process
  airflow/providers/google/cloud/openlineage/utils.py
  airflow/providers/openlineage/conf.py
  airflow/providers/openlineage/plugins/listener.py
  airflow/providers/openlineage/provider.yaml
  generated/provider_dependencies.json
  tests/dags/test_openlineage_execution.py
  tests/providers/openlineage/plugins/test_adapter.py
  tests/providers/openlineage/plugins/test_execution.py
  tests/providers/openlineage/plugins/test_listener.py
  tests/providers/openlineage/plugins/test_openlineage.py
  tests/providers/openlineage/test_conf.py
Labels: provider:google, area:Scheduler, area:providers, provider:snowflake, provider:openlineage

#40229 Chart: set `workers.safeToEvict` default to False
  chart/newsfragments/40229.significant.rst
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_core/test_worker.py
Labels: area:helm-chart

#40245 Fix typo in index.rst
  docs/apache-airflow/core-concepts/executor/index.rst
Labels: kind:documentation, area:Executors-core

#40205 Update `Dag.test()` to run with an executor if desired
  airflow/cli/cli_config.py
  airflow/cli/commands/dag_command.py
  airflow/models/dag.py
  contributing-docs/testing/unit_tests.rst
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_testing_db-tests.svg
  dev/breeze/doc/images/output_testing_db-tests.txt
  dev/breeze/doc/images/output_testing_non-db-tests.svg
  dev/breeze/doc/images/output_testing_non-db-tests.txt
  dev/breeze/doc/images/output_testing_tests.svg
  dev/breeze/doc/images/output_testing_tests.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  docs/apache-airflow/core-concepts/debug.rst
  tests/cli/commands/test_dag_command.py
  tests/conftest.py
  tests/system/utils/__init__.py
Labels: area:dev-tools

#40244 Update to uv 0.2.11
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#40246 Chart: Release notes for 1.14.0
  chart/Chart.yaml
  chart/RELEASE_NOTES.rst
  chart/newsfragments/37197.significant.rst
  chart/newsfragments/40160.significant.rst
  chart/newsfragments/40229.significant.rst
  chart/reproducible_build.yaml
Labels: area:helm-chart

#39799 Change `httpx` to `requests` in `file_task_handler`
  airflow/utils/log/file_task_handler.py
  tests/utils/test_log_handlers.py
Labels: area:logging, type:bug-fix

#40256 Add dependency to httpx >= 0.25.0 everywhere
  airflow/providers/google/provider.yaml
  airflow/providers/weaviate/provider.yaml
  generated/provider_dependencies.json
  hatch_build.py
Labels: provider:google, area:providers, provider:weaviate

#40255 Fix typing in telegram provider
  airflow/providers/telegram/hooks/telegram.py
  tests/providers/telegram/hooks/test_telegram.py
Labels: area:providers, provider:telegram, upgrade to newer dependencies

#40258 Working fix for typing in telegram provider
  airflow/providers/telegram/hooks/telegram.py
Labels: area:providers, provider:telegram, upgrade to newer dependencies

#40259 Fix typo when uninstalling weaviate for Pydantic 1 tests
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#40262 Add timeout to base python test
  tests/operators/test_python.py
Labels: area:core-operators

#40261 Resolve deprecations in the tests for `Google MLEngine` operators
  tests/deprecations_ignore.yml
  tests/providers/google/cloud/operators/test_mlengine.py
  tests/providers/google/cloud/utils/test_mlengine_operator_utils.py
Labels: provider:google, area:providers

#40264 Remove dependency on special tests for tests finalization
  .github/workflows/ci.yml
Labels: area:dev-tools

#40265 Fix typo in xcoms.rst
  docs/apache-airflow/core-concepts/xcoms.rst
Labels: kind:documentation

#40253 k8s version bump
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/cncf/kubernetes/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, provider:cncf-kubernetes

#40010 Dag test without sensor
  airflow/cli/cli_config.py
  airflow/cli/commands/dag_command.py
  airflow/models/dag.py
  docs/apache-airflow/core-concepts/debug.rst
  tests/cli/commands/test_dag_command.py
Labels: area:CLI, kind:documentation
