Repository apache/airflow, pull requests merged in 2024-03, with the labels that each got.

#37808 Erd generating doc improvement
  docs/apache-airflow/database-erd-ref.rst
  scripts/in_container/run_migration_reference.py
Labels: area:dev-tools, kind:documentation

#37804 Remove reference to execution_info in snowflake hook docstring
  airflow/providers/snowflake/hooks/snowflake.py
Labels: area:providers, provider:snowflake

#37103 fix: Pass proxies config when using ClientSecretCredential in AzureDataLakeStorageV2Hook
  airflow/providers/microsoft/azure/hooks/data_lake.py
  tests/providers/microsoft/azure/hooks/test_data_lake.py
  tests/providers/microsoft/azure/transfers/test_local_to_adls.py
Labels: provider:microsoft-azure, area:providers, area:system-tests, kind:documentation

#37670 Immediately fail the task in case of worker pod having a fatal container state
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
  airflow/providers/cncf/kubernetes/kube_config.py
  airflow/providers/cncf/kubernetes/provider.yaml
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes

#37814 docs: Write to secrets store is not supported by design
  docs/apache-airflow-providers/core-extensions/secrets-backends.rst
Labels: kind:documentation, type:doc-only

#37820 Format improvements, URL fixes in contrib docs
  contributing-docs/02_how_to_communicate.rst
  contributing-docs/03_contributors_quick_start.rst
  contributing-docs/04_how_to_contribute.rst
  contributing-docs/05_pull_requests.rst
  contributing-docs/06_development_environments.rst
  contributing-docs/07_local_virtualenv.rst
  contributing-docs/08_static_code_checks.rst
  contributing-docs/12_airflow_dependencies_and_extras.rst
  contributing-docs/15_architecture_diagrams.rst
  contributing-docs/16_contribution_workflow.rst
  contributing-docs/quick-start-ide/README.rst
  contributing-docs/quick-start-ide/contributors_quick_start_codespaces.rst
  contributing-docs/quick-start-ide/contributors_quick_start_gitpod.rst
  contributing-docs/quick-start-ide/contributors_quick_start_pycharm.rst
  contributing-docs/quick-start-ide/contributors_quick_start_vscode.rst
  dev/breeze/doc/03_developer_tasks.rst
  dev/breeze/doc/04_troubleshooting.rst
Labels: area:dev-tools

#37797 [OpenLineage] feat: Add metrics for event_size and extraction time
  airflow/providers/openlineage/plugins/adapter.py
  airflow/providers/openlineage/plugins/listener.py
Labels: area:providers, provider:openlineage

#37813 Fix docs of `BranchDayOfWeekOperator`
  airflow/operators/weekday.py
Labels: area:core-operators, type:doc-only

#37832 Fix images in breeze docs
  dev/breeze/doc/01_installation.rst
  dev/breeze/doc/03_developer_tasks.rst
  dev/breeze/doc/10_advanced_breeze_topics.rst
  dev/breeze/doc/images/database_view.png
  dev/breeze/doc/images/disk_space_osx.png
  dev/breeze/doc/images/docker_socket.png
  dev/breeze/doc/images/docker_wsl_integration.png
  dev/breeze/doc/images/pycharm_debug_breeze.png
Labels: area:dev-tools

#37829 Add section about local settings configuration.
  docs/apache-airflow/administration-and-deployment/cluster-policies.rst
  docs/apache-airflow/administration-and-deployment/dag-serialization.rst
  docs/apache-airflow/administration-and-deployment/kubernetes.rst
  docs/apache-airflow/administration-and-deployment/logging-monitoring/advanced-logging-configuration.rst
  docs/apache-airflow/faq.rst
  docs/apache-airflow/howto/customize-ui.rst
  docs/apache-airflow/howto/export-more-env-vars.rst
  docs/apache-airflow/howto/set-config.rst
  docs/apache-airflow/howto/set-up-database.rst
Labels: area:serialization, kind:documentation

#37835 Simplify some docs around airflow_local_settings
  docs/apache-airflow/howto/customize-ui.rst
  docs/apache-airflow/howto/export-more-env-vars.rst
Labels: kind:documentation

#37841 Update to latest uv version
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#37840 Make `executemany` keyword arguments only in `DbApiHook.insert_rows`
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/common/sql/hooks/sql.pyi
  airflow/providers/google/cloud/hooks/bigquery.py
Labels: provider:google, area:providers, provider:common-sql

#37837 Resolve PT017 in tests
  pyproject.toml
  tests/models/test_baseoperator.py
  tests/models/test_dag.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
  tests/providers/microsoft/psrp/hooks/test_psrp.py
  tests/providers/mysql/operators/test_mysql.py
  tests/providers/postgres/operators/test_postgres.py
  tests/providers/sqlite/operators/test_sqlite.py
  tests/sensors/test_external_task_sensor.py
  tests/utils/test_file.py
Labels: area:providers, changelog:skip, provider:cncf-kubernetes, area:core-operators, provider:microsoft-psrp, provider:postgres, provider:mysql, provider:sqlite

#37806 Release notes for helm chart 1.13.0
  chart/Chart.yaml
  chart/RELEASE_NOTES.rst
  chart/newsfragments/37704.significant.rst
  chart/reproducible_build.yaml
Labels: area:helm-chart

#37750 Use sys.version_info to get the python version
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
  scripts/docker/entrypoint_prod.sh
Labels: area:production-image

#37845 Fix constraints use in CI image after uv change
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_from_docker_context_files.sh
Labels: area:dev-tools, area:production-image

#37849 Refactor, speed up, better diagnostics for package tools installation
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
  scripts/docker/install_additional_dependencies.sh
  scripts/docker/install_airflow.sh
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
  scripts/docker/install_from_docker_context_files.sh
  scripts/docker/install_packaging_tools.sh
Labels: area:dev-tools, area:production-image

#37799 Test WorkflowTrigger and TaskStateTrigger async run
  tests/triggers/test_external_task.py
Labels: area:Triggerer

#37848 Resolve G003: "Logging statement uses +"
  airflow/models/taskinstance.py
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  airflow/providers/celery/executors/celery_executor.py
  airflow/providers/celery/executors/celery_executor_utils.py
  pyproject.toml
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
  tests/system/utils/__init__.py
Labels: provider:amazon-aws, area:providers, area:system-tests, type:misc/internal, provider:celery

#37858 Fix mypy checks failing in new types-docutils
  docs/exts/substitution_extensions.py
Labels: kind:documentation

#37857 Ensure "airflow.task" logger used for TaskInstancePydantic and TaskInstance
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/taskinstance.py
Labels: area:serialization

#37853 Remove provide_session decorator from TaskInstancePydantic methods
  airflow/serialization/pydantic/taskinstance.py
Labels: area:serialization

#37859 Additional type-ignore after types-docutils
  docs/exts/substitution_extensions.py
Labels: kind:documentation

#37673 Modify ssl verification in druid operator
  airflow/providers/apache/druid/hooks/druid.py
  airflow/providers/apache/druid/operators/druid.py
  tests/providers/apache/druid/hooks/test_druid.py
  tests/providers/apache/druid/operators/test_druid.py
Labels: area:providers, provider:apache-druid

#37850 Update instructions for Helm reproducibility check
  dev/README_RELEASE_HELM_CHART.md
Labels: area:dev-tools

#37868 Speed up testing of CI workflow changes
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/doc/ci/07_debugging.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools, default versions only

#37828 `MappedOperator` setter methods
  airflow/models/mappedoperator.py
Labels: area:Scheduler, type:bug-fix, area:core

#37862 Avoid to use too broad `noqa`
  airflow/api/common/experimental/delete_dag.py
  airflow/api/common/experimental/mark_tasks.py
  airflow/api/common/experimental/trigger_dag.py
  airflow/hooks/dbapi.py
  airflow/macros/__init__.py
  airflow/models/dagparam.py
  airflow/models/dagrun.py
  airflow/providers/amazon/aws/hooks/appflow.py
  airflow/providers/amazon/aws/hooks/rds.py
  airflow/providers/amazon/aws/hooks/redshift_data.py
  airflow/providers/amazon/aws/hooks/verified_permissions.py
  airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py
  airflow/providers/cncf/kubernetes/triggers/kubernetes_pod.py
  airflow/providers/fab/auth_manager/security_manager/override.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/slack/notifications/slack_notifier.py
  airflow/providers/snowflake/operators/snowflake.py
  airflow/serialization/pydantic/dag.py
  airflow/serialization/pydantic/dag_run.py
  airflow/settings.py
  airflow/task/task_runner/base_task_runner.py
  airflow/utils/pydantic.py
  airflow/utils/yaml.py
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/configure_rich_click.py
  dev/breeze/src/airflow_breeze/utils/click_utils.py
  pyproject.toml
  tests/dags/subdir1/test_ignore_this.py
  tests/models/test_dagbag.py
  tests/providers/google/cloud/hooks/test_automl.py
  tests/test_utils/perf/perf_kit/memory.py
Labels: provider:google, provider:amazon-aws, area:Scheduler, area:providers, area:dev-tools, area:serialization, area:API, changelog:skip, provider:cncf-kubernetes, provider:snowflake, area:core-operators, provider:slack, provider:fab

#37861 Fix init checks for aws redshift to s3 operator
  .pre-commit-config.yaml
  airflow/providers/amazon/aws/transfers/redshift_to_s3.py
  tests/providers/amazon/aws/transfers/test_redshift_to_s3.py
Labels: provider:amazon-aws, area:providers, area:dev-tools

#37874 Check mock assertion methods
  pyproject.toml
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
  tests/providers/amazon/aws/operators/test_eks.py
  tests/providers/apache/druid/hooks/test_druid.py
  tests/providers/celery/executors/test_celery_executor.py
  tests/providers/cncf/kubernetes/test_client.py
  tests/providers/fab/auth_manager/test_security.py
  tests/providers/microsoft/azure/hooks/test_adx.py
  tests/providers/microsoft/azure/hooks/test_asb.py
  tests/providers/microsoft/azure/hooks/test_container_instance.py
  tests/providers/microsoft/azure/hooks/test_container_registry.py
  tests/providers/microsoft/azure/hooks/test_container_volume.py
  tests/providers/microsoft/azure/hooks/test_cosmos.py
  tests/providers/microsoft/azure/hooks/test_data_factory.py
  tests/providers/microsoft/azure/hooks/test_data_lake.py
  tests/providers/microsoft/azure/hooks/test_synapse.py
  tests/providers/microsoft/azure/hooks/test_wasb.py
Labels: provider:microsoft-azure, provider:amazon-aws, area:providers, changelog:skip, provider:cncf-kubernetes, provider:celery, provider:apache-druid, provider:fab

#37877 [OpenLineage] fix: Fix parent id macro and remove unused utils
  airflow/providers/openlineage/plugins/macros.py
  airflow/providers/openlineage/utils/utils.py
  tests/providers/openlineage/plugins/test_macros.py
  tests/providers/openlineage/plugins/test_utils.py
Labels: area:providers, provider:openlineage

#37891 Introducing linked issue support for generate-issue-content-providers
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/provider_issue_TEMPLATE.md.jinja2
Labels: area:dev-tools

#37907 Helm chart 1.13.0 has been released
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  chart/Chart.yaml
Labels: area:dev-tools, area:helm-chart

#37906 Fix wrong assertion methods in `test_eks`
  tests/providers/amazon/aws/operators/test_eks.py
Labels: provider:amazon-aws, area:providers, changelog:skip

#37911 Add tryNumber to grid task instance tooltip
  airflow/www/static/js/dag/InstanceTooltip.tsx
Labels: area:webserver, area:UI

#37731 Adding run_id column to log table
  airflow/api_connexion/endpoints/event_log_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/event_log_schema.py
  airflow/migrations/versions/0135_2_9_0_add_run_id_to_audit_log_table.py
  airflow/models/log.py
  airflow/www/static/js/api/useEventLogs.tsx
  airflow/www/static/js/dag/details/AuditLog.tsx
  airflow/www/static/js/types/api-generated.ts
  airflow/www/templates/airflow/dag_audit_log.html
  airflow/www/views.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/api_connexion/endpoints/test_event_log_endpoint.py
  tests/api_connexion/schemas/test_event_log_schema.py
Labels: area:webserver, area:API, kind:documentation, area:UI

#37910 Update build and install dependencies.
  Dockerfile
  Dockerfile.ci
  pyproject.toml
Labels: area:dev-tools, area:production-image

#37916 Fix side-effect of default options in Beam Operators
  airflow/providers/apache/beam/operators/beam.py
  tests/providers/apache/beam/operators/test_beam.py
Labels: area:providers, provider:apache-beam

#37913 Clarify lack of sync between workers and scheduler
  docs/apache-airflow/core-concepts/overview.rst
Labels: kind:documentation, type:doc-only

#37618 AWS Batch Executor
  airflow/providers/amazon/aws/executors/Dockerfile
  airflow/providers/amazon/aws/executors/batch/__init__.py
  airflow/providers/amazon/aws/executors/batch/batch_executor.py
  airflow/providers/amazon/aws/executors/batch/batch_executor_config.py
  airflow/providers/amazon/aws/executors/batch/boto_schema.py
  airflow/providers/amazon/aws/executors/batch/utils.py
  airflow/providers/amazon/aws/executors/ecs/utils.py
  airflow/providers/amazon/aws/executors/utils/base_config_keys.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/executors/batch-executor.rst
  docs/apache-airflow-providers-amazon/executors/general.rst
  docs/apache-airflow-providers-amazon/executors/index.rst
  tests/always/test_project_structure.py
  tests/providers/amazon/aws/executors/batch/__init__.py
  tests/providers/amazon/aws/executors/batch/test_batch_executor.py
Labels: provider:amazon-aws, area:providers, kind:documentation, area:production-image

#37917 Don't overwrite .Values.airflowPodAnnotations
  chart/templates/workers/worker-deployment.yaml
Labels: area:helm-chart

#37883 Refactored GCS system tests
  docs/apache-airflow-providers-google/operators/transfer/s3_to_gcs.rst
  tests/system/providers/google/cloud/gcs/example_gcs_acl.py
  tests/system/providers/google/cloud/gcs/example_gcs_copy_delete.py
  tests/system/providers/google/cloud/gcs/example_gcs_sensor.py
  tests/system/providers/google/cloud/gcs/example_gcs_to_gdrive.py
  tests/system/providers/google/cloud/gcs/example_gcs_transform.py
  tests/system/providers/google/cloud/gcs/example_gcs_transform_timespan.py
  tests/system/providers/google/cloud/gcs/example_gdrive_to_gcs.py
  tests/system/providers/google/cloud/gcs/example_s3_to_gcs.py
  tests/system/providers/google/cloud/gcs/example_s3_to_gcs_async.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#37787 Upgrade google-ads version
  airflow/providers/google/ads/hooks/ads.py
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Labels: provider:google, area:providers

#37880 Fix D105 checks for ES provider
  airflow/providers/elasticsearch/log/es_response.py
  pyproject.toml
Labels: area:providers, area:logging, provider:elasticsearch

#37598 Add GKEListJobsOperator and GKEDescribeJobOperator
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/google/cloud/links/kubernetes_engine.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/kubernetes_engine.rst
  docs/spelling_wordlist.txt
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/system/providers/google/cloud/kubernetes_engine/example_kubernetes_engine_job.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation, provider:cncf-kubernetes

#37904 Use `next` when redirecting
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  tests/providers/fab/auth_manager/test_fab_auth_manager.py
  tests/www/views/test_anonymous_as_admin_role.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, area:providers, provider:fab

#37889 Remove useless methods from security manager
  airflow/providers/fab/auth_manager/api_endpoints/role_and_permission_endpoint.py
  airflow/www/security_manager.py
Labels: area:webserver

#37905 Use SIGINT signal number instead of signal name
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#37920 Add Kubeconform pre-commit
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/pre_commit_kubeconform.py
Labels: area:dev-tools

#37818 Deferrable mode for CreateBatchPredictionJobOperator
  airflow/providers/google/cloud/hooks/vertex_ai/batch_prediction_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/hyperparameter_tuning_job.py
  airflow/providers/google/cloud/operators/vertex_ai/batch_prediction_job.py
  airflow/providers/google/cloud/triggers/vertex_ai.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/vertex_ai.rst
  generated/provider_dependencies.json
  pyproject.toml
  tests/providers/google/cloud/hooks/vertex_ai/test_batch_prediction_job.py
  tests/providers/google/cloud/hooks/vertex_ai/test_hyperparameter_tuning_job.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
  tests/providers/google/cloud/triggers/test_vertex_ai.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_batch_prediction_job.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#37873 Resolve G004: Logging statement uses f-string
  airflow/cli/commands/internal_api_command.py
  airflow/configuration.py
  airflow/operators/python.py
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  airflow/providers/amazon/aws/hooks/batch_client.py
  airflow/providers/amazon/aws/hooks/glue.py
  airflow/providers/amazon/aws/transfers/azure_blob_to_s3.py
  airflow/providers/amazon/aws/triggers/eks.py
  airflow/providers/apache/beam/triggers/beam.py
  airflow/providers/apache/kafka/operators/produce.py
  airflow/providers/fab/auth_manager/decorators/auth.py
  airflow/providers/ftp/operators/ftp.py
  airflow/providers/google/cloud/hooks/compute_ssh.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  airflow/providers/google/cloud/triggers/cloud_batch.py
  airflow/providers/google/marketing_platform/operators/analytics_admin.py
  airflow/providers/google/marketing_platform/sensors/display_video.py
  airflow/providers/openlineage/extractors/base.py
  airflow/providers/openlineage/plugins/listener.py
  airflow/providers/sftp/operators/sftp.py
  airflow/providers/snowflake/transfers/copy_into_snowflake.py
  airflow/providers_manager.py
  airflow/triggers/temporal.py
  airflow/www/auth.py
  airflow/www/views.py
  pyproject.toml
  tests/system/providers/amazon/aws/example_sagemaker.py
  tests/system/providers/apache/kafka/example_dag_hello_kafka.py
  tests/www/views/test_views_variable.py
Labels: provider:google, provider:amazon-aws, area:webserver, area:CLI, area:providers, area:system-tests, type:misc/internal, provider:snowflake, area:core-operators, area:Triggerer, provider:openlineage, provider:ftp, provider:apache-kafka, provider:apache-beam, provider:sftp, provider:fab

#37922 feat: update SnowflakeSqlApiHook to support OAuth
  airflow/providers/snowflake/hooks/snowflake.py
  airflow/providers/snowflake/hooks/snowflake_sql_api.py
  docs/apache-airflow-providers-snowflake/connections/snowflake.rst
  docs/apache-airflow-providers-snowflake/operators/snowflake.rst
  tests/providers/snowflake/hooks/test_snowflake_sql_api.py
Labels: area:providers, kind:documentation, provider:snowflake

#37924 Update UV to 0.1.15
  Dockerfile
  Dockerfile.ci
  pyproject.toml
Labels: area:dev-tools, area:production-image

#37865 Refactor and extract production image checks to separate workflows
  .github/actions/build-prod-images/action.yml
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/prod-image-extra-checks.yml
  scripts/ci/pre_commit/pre_commit_checkout_no_credentials.py
Labels: area:dev-tools, default versions only

#37914 Fix wrong assertion methods in `test_celery_executor`
  tests/providers/celery/executors/test_celery_executor.py
Labels: area:providers, changelog:skip, provider:celery

#37921 Neptune system test tweaks
  tests/system/providers/amazon/aws/example_neptune.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#37886 Reduce s3hook memory usage
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: provider:amazon-aws, area:providers

#37928 Make current working directory as templated field in BashOperator
  airflow/operators/bash.py
  tests/operators/test_bash.py
Labels: type:improvement, area:core-operators

#37943 Ensure Airbyte Provider is Compatible with Cloud and Config APIs
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/operators/airbyte.py
  airflow/providers/airbyte/sensors/airbyte.py
  airflow/providers/airbyte/triggers/airbyte.py
  docs/apache-airflow-providers-airbyte/connections.rst
  docs/apache-airflow-providers-airbyte/operators/airbyte.rst
  tests/providers/airbyte/triggers/test_airbyte.py
Labels: area:providers, kind:documentation, provider:airbyte

#37946 AWS auth manager CLI: persist the policy store description when doing updates
  airflow/providers/amazon/aws/auth_manager/cli/avp_commands.py
  tests/providers/amazon/aws/auth_manager/cli/test_avp_commands.py
Labels: provider:amazon-aws, area:providers

#37952 Revert "Make current working directory as templated field in BashOper…
  airflow/operators/bash.py
  tests/operators/test_bash.py
Labels: area:core-operators

#37786 ECS Executor - add support to adopt orphaned tasks.
  airflow/executors/base_executor.py
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  airflow/providers/amazon/aws/executors/ecs/utils.py
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
Labels: provider:amazon-aws, area:providers, area:Executors-core

#37955 Add timeout to wait_for_crawl sensor task in example_glue
  tests/system/providers/amazon/aws/example_glue.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#37909 Add calendar view to react
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useCalendarData.ts
  airflow/www/static/js/dag/details/dag/Calendar.tsx
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
Labels: area:webserver, area:UI

#37953 Make sure that Core and Serialization tests are run for bash changes
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#37944 fix: reduce irrelevant error logs for pod events.
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#37954 Gitignore prometheus container volume
  scripts/ci/docker-compose/.gitignore
Labels: area:dev-tools

#37968 Make current working directory as templated field in BashOperator
  airflow/operators/bash.py
  tests/models/test_renderedtifields.py
  tests/models/test_taskinstance.py
  tests/operators/test_bash.py
  tests/serialization/test_dag_serialization.py
Labels: area:serialization, full tests needed, area:core-operators

#37950 Improve output for `check-tests-unittest-testcase` check
  scripts/ci/pre_commit/pre_commit_unittest_testcase.py
Labels: area:dev-tools

#37918 Add TaskFail entries to Gantt chart
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useTaskFails.ts
  airflow/www/static/js/dag/details/gantt/Row.tsx
  airflow/www/static/js/dag/details/gantt/TaskFail.tsx
  airflow/www/static/js/dag/details/task/TaskDuration.tsx
  airflow/www/templates/airflow/dag.html
  airflow/www/views.py
Labels: area:webserver, area:UI

#37734 Add REST API events to Audit Log
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/endpoints/dataset_endpoint.py
  airflow/api_connexion/endpoints/pool_endpoint.py
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  airflow/migrations/versions/0135_2_9_0_add_run_id_to_audit_log_table_and_change_event_name_length.py
  airflow/models/log.py
  airflow/www/decorators.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  newsfragments/37734.significant.rst
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_dataset_endpoint.py
  tests/api_connexion/endpoints/test_pool_endpoint.py
  tests/api_connexion/endpoints/test_task_instance_endpoint.py
  tests/api_connexion/endpoints/test_variable_endpoint.py
Labels: area:webserver, area:API, kind:documentation

#37973 doc(celery): Explicit broker dependencies
  docs/apache-airflow-providers-celery/celery_executor.rst
Labels: area:providers, kind:documentation, provider:celery

#37938 Deprecate sync parameter for CreateHyperparameterTuningJobOperator
  airflow/providers/google/cloud/operators/vertex_ai/hyperparameter_tuning_job.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
Labels: provider:google, area:providers

#37964 Avoid to use some deprecated stuff in tests
  tests/models/test_baseoperator.py
  tests/system/providers/amazon/aws/example_glacier_to_gcs.py
  tests/system/providers/core/example_external_task_parent_deferrable.py
  tests/system/providers/dbt/cloud/example_dbt_cloud.py
  tests/system/providers/google/cloud/compute/example_compute_ssh_os_login.py
  tests/system/providers/google/cloud/compute/example_compute_ssh_parallel.py
  tests/system/providers/jdbc/example_jdbc_queries.py
  tests/system/providers/microsoft/azure/example_adf_run_pipeline.py
  tests/system/providers/microsoft/azure/example_synapse_run_pipeline.py
  tests/system/providers/microsoft/winrm/example_winrm.py
  tests/system/providers/pgvector/example_pgvector.py
  tests/system/providers/pgvector/example_pgvector_openai.py
  tests/system/providers/pinecone/example_pinecone_cohere.py
  tests/system/providers/pinecone/example_pinecone_openai.py
  tests/ti_deps/deps/test_trigger_rule_dep.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers, area:system-tests, changelog:skip, provider:jdbc, provider:microsoft-winrm, provider:dbt-cloud, provider:pinecone, provider:pgvector

#37972 Resolve PT015: assertion always fails, replace with `pytest.fail()`
  pyproject.toml
  tests/cli/commands/test_webserver_command.py
  tests/dags/test_mark_state.py
  tests/operators/test_bash.py
  tests/operators/test_python.py
  tests/providers/cncf/kubernetes/utils/test_k8s_resource_iterator.py
Labels: area:webserver, area:CLI, area:providers, changelog:skip, provider:cncf-kubernetes, area:core-operators

#37984 Minor security model update
  docs/apache-airflow/security/security_model.rst
Labels: kind:documentation

#37925 Restore delegate_to for Google Transfer Operators retrieving from Google Cloud.
  airflow/providers/google/suite/transfers/gcs_to_gdrive.py
  airflow/providers/google/suite/transfers/gcs_to_sheets.py
  newsfragments/37925.bugfix
  tests/providers/google/suite/transfers/test_gcs_to_gdrive.py
  tests/providers/google/suite/transfers/test_gcs_to_sheets.py
Labels: provider:google, area:providers

#37616 Add GKECreateCustomResourceOperator and GKEDeleteCustomResourceOperator operators
  airflow/providers/cncf/kubernetes/operators/resource.py
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  docs/apache-airflow-providers-google/operators/cloud/kubernetes_engine.rst
  tests/providers/cncf/kubernetes/operators/test_resource.py
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/system/providers/google/cloud/kubernetes_engine/example_kubernetes_engine_resource.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation, provider:cncf-kubernetes

#37940 doc: add a section about debugging in docker-compose with PyCharm
  docs/apache-airflow/howto/docker-compose/index.rst
  docs/apache-airflow/img/add_container_python_interpreter.png
Labels: kind:documentation

#37934 Avoid change attributes into the constructor in Apache Beam operators
  airflow/providers/apache/beam/operators/beam.py
  tests/providers/apache/beam/operators/test_beam.py
Labels: area:providers, provider:apache-beam

#37926 Fix celery command deprecation message with right version
  airflow/cli/commands/celery_command.py
Labels: area:CLI

#37826 Add the dataset_expression as part of DagModel and DAGDetailSchema
  airflow/api_connexion/schemas/dag_schema.py
  airflow/migrations/versions/0136_2_9_0_add_dataset_expression_in_dagmodel.py
  airflow/models/dag.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/schemas/test_dag_schema.py
  tests/models/test_dag.py
Labels: area:serialization, area:API

#37992 Fix a bug where scheduler heartrate parameter were not used
  airflow/jobs/job.py
  airflow/jobs/scheduler_job_runner.py
  tests/jobs/test_base_job.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler

#37996 Disable `uv` upgrade checks temporarily
  .github/workflows/ci.yml
  scripts/ci/pre_commit/pre_commit_update_installers.py
Labels: area:dev-tools

#37997 Add back methods in security manager
  airflow/www/security_manager.py
Labels: area:webserver

#38000 Fix regexp used to bump version of provider when preparing docs
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
Labels: area:dev-tools

#37947 Add system test to test the AWS auth manager
  airflow/providers/amazon/aws/auth_manager/views/auth.py
  tests/conftest.py
  tests/providers/amazon/aws/auth_manager/views/test_auth.py
  tests/system/providers/amazon/aws/tests/__init__.py
  tests/system/providers/amazon/aws/tests/test_aws_auth_manager.py
  tests/system/providers/amazon/aws/utils/__init__.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#37931 Add Multi-Tenant architecture diagram
  docs/apache-airflow/img/diagram_multitenant_airflow_architecture.md5sum
  docs/apache-airflow/img/diagram_multitenant_airflow_architecture.png
  docs/apache-airflow/img/diagram_multitenant_airflow_architecture.py
  docs/apache-airflow/img/diagram_multitenant_architecture.md5sum
  docs/diagrams/config_file.png
Labels: kind:documentation

#37985 Add color formatting for ANSI chars in logs from task executions
  airflow/example_dags/example_bash_operator.py
  airflow/www/jest.config.js
  airflow/www/package.json
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
  airflow/www/static/js/ti_log.js
  airflow/www/yarn.lock
Labels: area:webserver, type:new-feature, area:UI

#38004 Revert "Add system test to test the AWS auth manager (#37947)"
  airflow/providers/amazon/aws/auth_manager/views/auth.py
  tests/conftest.py
  tests/providers/amazon/aws/auth_manager/views/test_auth.py
  tests/system/providers/amazon/aws/tests/__init__.py
  tests/system/providers/amazon/aws/tests/test_aws_auth_manager.py
  tests/system/providers/amazon/aws/utils/__init__.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#37979 ECS Executor retry task bug fix
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
Labels: provider:amazon-aws, area:providers

#38011 Fix references to `mypy-airflow` in breeze developer tasks docs
  dev/breeze/doc/03_developer_tasks.rst
Labels: area:dev-tools

#38009 Updated version of the multi-tenant diagram
  docs/apache-airflow/img/diagram_multitenant_airflow_architecture.md5sum
  docs/apache-airflow/img/diagram_multitenant_airflow_architecture.png
  docs/apache-airflow/img/diagram_multitenant_airflow_architecture.py
Labels: kind:documentation

#38012 Workaround optional typing error detected by new typing-docutils
  docs/exts/substitution_extensions.py
Labels: kind:documentation

#37635 Introduce mechanism to support multiple executor configuration
  airflow/configuration.py
  airflow/executors/base_executor.py
  airflow/executors/executor_constants.py
  airflow/executors/executor_loader.py
  airflow/executors/executor_utils.py
  tests/cli/commands/test_celery_command.py
  tests/cli/commands/test_kubernetes_command.py
  tests/cli/commands/test_scheduler_command.py
  tests/cli/commands/test_standalone_command.py
  tests/cli/test_cli_parser.py
  tests/core/test_configuration.py
  tests/executors/test_executor_loader.py
  tests/executors/test_executor_utils.py
  tests/integration/cli/commands/test_celery_command.py
  tests/providers/celery/cli/test_celery_command.py
  tests/sensors/test_base.py
  tests/utils/test_log_handlers.py
Labels: area:Executors-core, AIP-61

#37930 Update ObjectStoragePath for universal_pathlib>=v0.2.2
  airflow/io/path.py
  airflow/providers/common/io/xcom/backend.py
  pyproject.toml
  tests/io/test_path.py
  tests/providers/common/io/xcom/test_backend.py
Labels: area:providers, provider:common-io

#38016 Fix D105 for mongo provider
  airflow/providers/mongo/hooks/mongo.py
  pyproject.toml
Labels: area:providers, provider:mongo

#38014 Fix bug in validate-operators-init pre-commit
  .pre-commit-config.yaml
  scripts/ci/pre_commit/pre_commit_validate_operators_init.py
Labels: area:dev-tools

#38019 Upgrade UV to 0.1.17
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.ci
  pyproject.toml
  scripts/ci/pre_commit/pre_commit_update_installers.py
Labels: area:dev-tools, area:production-image

#38020 Remove constraint caching from image build
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
Labels: area:dev-tools, area:production-image

#38013 Fix D105 checks for SSH provider
  airflow/providers/ssh/hooks/ssh.py
  pyproject.toml
Labels: area:providers, provider:ssh

#38024 Move `tests/core/test_impersonation_tests` into the Quarantined
  tests/core/test_impersonation_tests.py
Labels: changelog:skip

#38029 Improve suffix handling for provider-generated dependencies
  airflow/providers/fab/provider.yaml
  dev/breeze/src/airflow_breeze/utils/packages.py
  dev/breeze/tests/test_packages.py
  generated/provider_dependencies.json
Labels: area:providers, area:dev-tools, provider:fab

#38027 Get rid of deprecated `pytest.warns(None)` usage
  tests/providers/amazon/aws/hooks/test_emr.py
  tests/providers/amazon/aws/utils/test_connection_wrapper.py
  tests/www/test_init_views.py
Labels: provider:amazon-aws, area:webserver, area:providers, changelog:skip

#38042 Fix D105 for Apache Hive Provider
  airflow/providers/apache/hive/hooks/hive.py
  pyproject.toml
Labels: area:providers, provider:apache-hive

#38010 Use AwsLogsHook when fetching Glue job logs
  airflow/providers/amazon/aws/hooks/glue.py
  tests/providers/amazon/aws/hooks/test_glue.py
Labels: provider:amazon-aws, area:providers

#38036 Chart: Default airflow version to 2.8.3
  chart/Chart.yaml
  chart/newsfragments/38036.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#38050 Exclude Cassandra for Python 3.12
  airflow/providers/apache/cassandra/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Labels: area:providers, provider:apache-cassandra

#38046 Rename all `mypy-core` refs. to `mypy-airflow`
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#37718 Avoid use of `assert` outside of the tests
  .pre-commit-config.yaml
  airflow/cli/commands/task_command.py
  airflow/models/skipmixin.py
  airflow/models/taskinstance.py
  airflow/models/xcom_arg.py
  airflow/providers/alibaba/cloud/hooks/analyticdb_spark.py
  airflow/providers/alibaba/cloud/hooks/oss.py
  airflow/providers/amazon/aws/executors/batch/batch_executor_config.py
  airflow/providers/fab/auth_manager/security_manager/override.py
  airflow/providers/microsoft/psrp/hooks/psrp.py
  airflow/providers/openlineage/extractors/base.py
  airflow/providers/yandex/secrets/lockbox.py
  airflow/serialization/pydantic/job.py
  dev/breeze/src/airflow_breeze/commands/minor_release_command.py
  dev/perf/dags/elastic_dag.py
  pyproject.toml
  scripts/ci/pre_commit/pre_commit_sync_init_decorator.py
  scripts/in_container/run_migration_reference.py
Labels: area:CLI, area:providers, area:dev-tools, area:serialization, area:secrets, full tests needed, provider:openlineage, provider:microsoft-psrp, provider:alibaba, provider:yandex, provider:fab

#38055 Remove typo when determining if extra PROD image checks should be run
  .github/workflows/ci.yml
Labels: area:dev-tools, canary, default versions only

#38058 Fix casing of PYTHON when looping over python list in CI
  .github/workflows/ci.yml
Labels: canary, default versions only

#38070 Exclude Python 3.12 for Databricks provider
  airflow/providers/databricks/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Labels: area:providers, provider:databricks

#38044 Add back system test for AWS auth manager
  airflow/providers/amazon/aws/auth_manager/views/auth.py
  tests/conftest.py
  tests/providers/amazon/aws/auth_manager/views/test_auth.py
  tests/system/providers/amazon/aws/tests/__init__.py
  tests/system/providers/amazon/aws/tests/test_aws_auth_manager.py
  tests/system/providers/amazon/aws/utils/__init__.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#38077 Restore "iffy" solution for skipping tasks for in-workflow build
  .github/workflows/ci-image-build.yml
  .github/workflows/ci.yml
  .github/workflows/prod-image-build.yml
Labels: area:dev-tools

#38078 Replace "Role" by "Group" in AWS auth manager
  airflow/providers/amazon/aws/auth_manager/avp/entities.py
  airflow/providers/amazon/aws/auth_manager/avp/facade.py
  airflow/providers/amazon/aws/auth_manager/cli/schema.json
  tests/providers/amazon/aws/auth_manager/avp/test_facade.py
  tests/system/providers/amazon/aws/tests/test_aws_auth_manager.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#38085 Update documentation about recent image changes
  docs/docker-stack/changelog.rst
Labels: kind:documentation, area:production-image

#38074 Properly exclude providers from serialization tests
  pyproject.toml
  tests/providers/snowflake/operators/test_snowflake_sql.py
  tests/serialization/serializers/test_serializers.py
  tests/serialization/test_dag_serialization.py
  tests/serialization/test_serde.py
Labels: area:serialization, full tests needed, latest versions only

#38084 Fix graph task state border color
  airflow/www/static/js/dag/details/graph/DagNode.tsx
Labels: area:webserver, area:UI

#37855 Properly serialize TaskInstancePydantic and DagRunPydantic
  airflow/serialization/serialized_objects.py
  tests/serialization/test_serialized_objects.py
Labels: area:serialization

#38095 Limit importlib_resources as it breaks pytest_rewrites
  .github/workflows/ci-image-build.yml
  dev/breeze/README.md
  dev/breeze/pyproject.toml
  pyproject.toml
Labels: area:dev-tools

#38097 Add try number to mapped instance
  airflow/www/static/js/dag/details/task/TaskDuration.tsx
  airflow/www/static/js/dag/details/taskInstance/MappedInstances.tsx
Labels: area:webserver, area:UI

#38103 Skip pydantic model round-trip when AIP-44 is disabled
  tests/serialization/test_serialized_objects.py
Labels: area:serialization

#38110 Bumping minimum version of zenpy to 0.40
  airflow/providers/zendesk/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Labels: area:providers, provider:zendesk

#38096 Fix task instances list link
  airflow/www/utils.py
Labels: area:webserver, type:bug-fix

#38109 Get rid of lowest-direct resolution in no-constraint upgrades with uv
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
  scripts/docker/install_airflow.sh
  scripts/in_container/_in_container_utils.sh
Labels: area:dev-tools, area:production-image

#38121 Add dataset_expression to grid dag details
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/dag/details/dag/Dag.tsx
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, area:UI

#38021 Feature/add log grouping to UI
  airflow/example_dags/example_python_operator.py
  airflow/jobs/local_task_job_runner.py
  airflow/models/taskinstance.py
  airflow/www/static/js/dag/details/taskInstance/Logs/LogBlock.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/index.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.test.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
  airflow/www/static/js/ti_log.js
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
Labels: area:Scheduler, area:webserver, area:logging, kind:documentation, area:UI

#38129 Separate MyPy checks to a separate workflow
  .github/workflows/ci.yml
  .github/workflows/mypy.yml
Labels: area:dev-tools, default versions only

#38126 Separate Helm jobs to separate workflow
  .github/workflows/ci-image-build.yml
  .github/workflows/ci.yml
  .github/workflows/helm-tests.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/prod-image-extra-checks.yml
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
Labels: area:dev-tools, full tests needed, default versions only

#38080 Show if dag page filters are active
  airflow/www/static/js/dag/nav/FilterBar.tsx
  airflow/www/static/js/dag/useFilters.test.tsx
  airflow/www/static/js/dag/useFilters.tsx
Labels: area:webserver, area:UI

#38117 Fix Scheduler in daemon mode doesn't create PID at the specified location
  airflow/cli/commands/daemon_utils.py
  tests/cli/commands/test_celery_command.py
  tests/cli/commands/test_kerberos_command.py
Labels: area:CLI

#38132 Update uv to 0.1.19
  Dockerfile
  Dockerfile.ci
  pyproject.toml
Labels: area:dev-tools, area:production-image, default versions only

#38143 Fix Celery Provider `TestFlowerCommand::test_run_command_daemon`
  tests/providers/celery/cli/test_celery_command.py
Labels: area:providers, provider:celery

#38102 Fix GCS Anonymous user issue because none token
  airflow/providers/google/cloud/fs/gcs.py
Labels: provider:google, area:providers

#38149 Add starting docker service for ARM instances
  scripts/ci/images/initialize.sh
Labels: area:dev-tools

#38142 Fix XComObjectStoreBackend config var in docs
  airflow/providers/common/io/provider.yaml
  airflow/providers/common/io/xcom/backend.py
  docs/apache-airflow-providers-common-io/xcom_backend.rst
  docs/apache-airflow/core-concepts/xcoms.rst
  docs/spelling_wordlist.txt
Labels: area:providers, kind:documentation, provider:common-io

#38152 Better and more complete cleanup for CI jobs
  .github/actions/cleanup-docker/action.yml
  .github/workflows/build-images.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/ci.yml
  .github/workflows/helm-tests.yml
  .github/workflows/mypy.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/push-image-cache.yml
  .github/workflows/release_dockerhub_image.yml
Labels: area:dev-tools

#38123 Add dataset conditions to next run datasets modal
  airflow/www/static/js/datasetUtils.js
  airflow/www/templates/airflow/dataset_next_run_modal.html
  airflow/www/views.py
  tests/www/views/test_views_grid.py
Labels: area:webserver, area:UI

#38133 Allow to override concrete --postgres-version/--mysql-version
  .github/workflows/ci.yml
  Dockerfile.ci
  dev/breeze/doc/03_developer_tasks.rst
  dev/breeze/doc/images/output_setup_config.txt
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/doc/images/output_testing_db-tests.txt
  dev/breeze/doc/images/output_testing_integration-tests.txt
  dev/breeze/doc/images/output_testing_tests.txt
  dev/breeze/doc/images/version_information.png
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/utils/custom_param_types.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/src/airflow_breeze/utils/visuals.py
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#38162 Remove unnecessary cache for MyPy jobs
  .github/workflows/mypy.yml
  scripts/ci/pre_commit/pre_commit_mypy_folder.py
Labels: area:dev-tools

#38034 Airflow 2.8.3 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/reproducible_build.yaml
  docs/apache-airflow/installation/supported-versions.rst
  docs/docker-stack/changelog.rst
  generated/PYPI_README.md
  newsfragments/37713.significant.rst
  scripts/ci/pre_commit/pre_commit_supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#38175 Limit azure-cosmos<4.6.0
  airflow/providers/microsoft/azure/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Labels: provider:microsoft-azure, area:providers

#37821 Add `ADLSCreateObjectOperator`
  airflow/providers/microsoft/azure/operators/adls.py
  docs/apache-airflow-providers-microsoft-azure/operators/adls.rst
  tests/providers/microsoft/azure/operators/test_adls_create.py
  tests/providers/microsoft/azure/transfers/test_local_to_adls.py
  tests/system/providers/microsoft/azure/example_adls_create.py
  tests/system/providers/microsoft/azure/example_adls_list.py
Labels: provider:microsoft-azure, area:providers, area:system-tests, kind:documentation

#38048 Rename `DeleteCustomTrainingJobOperator`'s fields' names to comply with templated fields validation
  .pre-commit-config.yaml
  airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
Labels: provider:google, area:providers, area:dev-tools

#36935 Adding ability to automatically set DAG to off after X times it failed sequentially
  airflow/api_connexion/schemas/dag_schema.py
  airflow/cli/commands/dag_command.py
  airflow/config_templates/config.yml
  airflow/migrations/versions/0137_2_9_0_adding_adding_max_failure_runs_column_.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/serialization/pydantic/dag.py
  airflow/serialization/schema.json
  docs/apache-airflow/core-concepts/dags.rst
  docs/apache-airflow/migrations-ref.rst
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/schemas/test_dag_schema.py
  tests/models/test_dag.py
Labels: area:CLI, area:serialization, area:API, type:new-feature

#38049 Rename Vertex AI AutoML operators fields' names to comply with templated fields validation
  .pre-commit-config.yaml
  airflow/providers/google/cloud/operators/vertex_ai/auto_ml.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
Labels: provider:google, area:providers, area:dev-tools

#37915 Make the method `BaseAuthManager.is_authorized_custom_view` abstract
  airflow/api_connexion/security.py
  airflow/auth/managers/base_auth_manager.py
  airflow/providers/amazon/aws/auth_manager/avp/entities.py
  airflow/providers/amazon/aws/auth_manager/aws_auth_manager.py
  airflow/providers/amazon/aws/auth_manager/cli/schema.json
  airflow/providers/fab/auth_manager/api_endpoints/role_and_permission_endpoint.py
  airflow/providers/fab/auth_manager/api_endpoints/user_endpoint.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/www/security_manager.py
  docs/apache-airflow/core-concepts/auth-manager.rst
  newsfragments/37915.significant.rst
  tests/auth/managers/test_base_auth_manager.py
  tests/providers/amazon/aws/auth_manager/test_aws_auth_manager.py
  tests/providers/fab/auth_manager/test_fab_auth_manager.py
  tests/providers/fab/auth_manager/test_security.py
Labels: provider:amazon-aws, area:webserver, area:providers, area:API, provider:fab

#38053 Rename `MLEngine` operators' fields' names to comply with templated fields validation
  .pre-commit-config.yaml
  airflow/providers/google/cloud/operators/mlengine.py
  tests/providers/google/cloud/operators/test_mlengine.py
  tests/providers/google/cloud/utils/test_mlengine_operator_utils.py
Labels: provider:google, area:providers, area:dev-tools
