Repository apache/airflow, pull requests merged in 2024-07, with the labels that each got.

#40510 Add RNHTTR to committers in global_constants.py
  .asf.yaml
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/apache-airflow/project.rst
Labels: area:dev-tools

#40345 Fix dag (un)pausing won't work on environment where dag files are missing
  airflow/cli/commands/dag_command.py
  tests/cli/commands/test_dag_command.py
Labels: area:CLI, type:bug-fix

#40517 fix weaviate system tests
  tests/system/providers/weaviate/example_weaviate_dynamic_mapping_dag.py
  tests/system/providers/weaviate/example_weaviate_openai.py
  tests/system/providers/weaviate/example_weaviate_vectorizer_dag.py
  tests/system/providers/weaviate/example_weaviate_without_vectorizer_dag.py
Labels: area:providers, area:system-tests, provider:weaviate

#40519 Add notes about passing secrets via environment variables
  docs/apache-airflow-providers-cncf-kubernetes/operators.rst
  docs/apache-airflow/security/secrets/mask-sensitive-values.rst
Labels: area:providers, area:secrets, kind:documentation, provider:cncf-kubernetes

#40458 Fix calendar view scroll
  airflow/www/static/js/dag/details/dag/Calendar.tsx
  airflow/www/static/js/dag/details/index.tsx
Labels: area:webserver, type:bug-fix, area:UI

#40521 fix OpenLineage extraction for GCP deferrable operators
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  tests/providers/google/cloud/transfers/test_bigquery_to_gcs.py
  tests/providers/google/cloud/transfers/test_gcs_to_bigquery.py
Labels: provider:google, area:providers

#40529 Update to latest pre-commit
  .pre-commit-config.yaml
  contributing-docs/testing/k8s_tests.rst
  docs/spelling_wordlist.txt
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
  tests/providers/google/cloud/hooks/test_vision.py
  tests/utils/test_cli_util.py
Labels: provider:google, area:providers, area:dev-tools, kind:documentation, provider:cncf-kubernetes

#40491 Resolve secrets manager backend deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/amazon/aws/secrets/test_secrets_manager.py
Labels: provider:amazon-aws, area:providers, area:secrets

#40530 Increase code coverage of sequential_executors.py in core
  tests/executors/test_sequential_executor.py
Labels: area:Executors-core

#40534 extract collection_name from system tests and make them unique
  tests/system/providers/weaviate/example_weaviate_cohere.py
  tests/system/providers/weaviate/example_weaviate_dynamic_mapping_dag.py
  tests/system/providers/weaviate/example_weaviate_openai.py
  tests/system/providers/weaviate/example_weaviate_operator.py
  tests/system/providers/weaviate/example_weaviate_using_hook.py
  tests/system/providers/weaviate/example_weaviate_vectorizer_dag.py
  tests/system/providers/weaviate/example_weaviate_without_vectorizer_dag.py
Labels: area:providers, area:system-tests, provider:weaviate

#40540 Update example_cloud_run system test
  tests/system/providers/google/cloud/cloud_run/example_cloud_run.py
Labels: provider:google, area:providers, area:system-tests

#40457 fix BigQueryInsertJobOperator's return value and openlineage extraction in deferrable mode
  airflow/providers/google/cloud/openlineage/mixins.py
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#40544 Update Breeze docs to handle bad interpreter error
  dev/breeze/doc/04_troubleshooting.rst
Labels: area:dev-tools

#40541 Add a note and an example clarifying the usage of DAG-level params
  docs/apache-airflow/core-concepts/params.rst
Labels: kind:documentation

#40548 Resolve google secret manager deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/google/cloud/secrets/test_secret_manager.py
Labels: provider:google, area:providers, area:secrets

#40551 Update docs for RC2 openlineage provider
  airflow/providers/openlineage/CHANGELOG.rst
  docs/apache-airflow-providers-openlineage/commits.rst
Labels: area:providers, kind:documentation, provider:openlineage

#40504 Use base aws classes in AWS Glue Crawlers Operators/Sensors/Triggers
  airflow/providers/amazon/aws/operators/glue_crawler.py
  airflow/providers/amazon/aws/sensors/glue_crawler.py
  airflow/providers/amazon/aws/triggers/glue_crawler.py
  docs/apache-airflow-providers-amazon/operators/glue.rst
  tests/providers/amazon/aws/operators/test_glue_crawler.py
  tests/providers/amazon/aws/sensors/test_glue_crawler.py
  tests/providers/amazon/aws/triggers/test_glue_crawler.py
Labels: provider:amazon-aws, area:providers, kind:documentation

#40492 Use base aws classes in AWS Glue Data Catalog Sensors
  airflow/providers/amazon/aws/sensors/glue_catalog_partition.py
  airflow/providers/amazon/aws/triggers/glue.py
  docs/apache-airflow-providers-amazon/operators/glue.rst
  tests/always/test_project_structure.py
  tests/providers/amazon/aws/sensors/test_glue_catalog_partition.py
  tests/providers/amazon/aws/triggers/test_glue.py
  tests/system/providers/amazon/aws/example_glue.py
Labels: provider:amazon-aws, area:providers, area:system-tests, kind:documentation

#40518 Be able to remove ACL in S3 hook's copy_object
  airflow/providers/amazon/aws/hooks/s3.py
  tests/providers/amazon/aws/hooks/test_s3.py
Labels: provider:amazon-aws, area:providers

#40560 40559: fix add project_id to submit_batch_job hook
  airflow/providers/google/cloud/operators/cloud_batch.py
  tests/providers/google/cloud/operators/test_cloud_batch.py
Labels: provider:google, area:providers

#40323 Add parameter for the last number of queries to the DB to the logs
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  tests/dag_processing/test_job_runner.py
  tests/dag_processing/test_processor.py
  tests/dags/test_dag_for_db_queries_counter.py
  tests/test_utils/asserts.py
Labels: area:Scheduler

#40505 Update best-practices.rst example phrase.
  docs/apache-airflow/best-practices.rst
Labels: kind:documentation

#40509 Added support of Teradata Compute Cluster Provision, Decommission, Suspend and Resume operations
  airflow/providers/teradata/operators/teradata_compute_cluster.py
  airflow/providers/teradata/provider.yaml
  airflow/providers/teradata/triggers/__init__.py
  airflow/providers/teradata/triggers/teradata_compute_cluster.py
  airflow/providers/teradata/utils/__init__.py
  airflow/providers/teradata/utils/constants.py
  docs/apache-airflow-providers-teradata/operators/compute_cluster.rst
  tests/providers/teradata/operators/test_teradata_compute_cluster.py
  tests/providers/teradata/triggers/__init__.py
  tests/providers/teradata/triggers/test_teradata_compute_cluster.py
  tests/providers/teradata/utils/__init__.py
  tests/providers/teradata/utils/test_constants.py
  tests/system/providers/teradata/example_teradata_compute_cluster.py
Labels: area:providers, area:system-tests, kind:documentation, provider:teradata

#40446 Remove logging for "blocked" events
  airflow/www/views.py
Labels: area:webserver

#40563 Fix bug in `SchedulerJobRunner._process_executor_events`
  airflow/jobs/scheduler_job_runner.py
Labels: area:Scheduler

#40558 Add support for query parameters to BigQueryCheckOperator (#40556)
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#40577 Revert "Fix `GCSToGCSOperator` behavior difference for moving single object (#40162)"
  airflow/providers/google/cloud/transfers/gcs_to_gcs.py
  tests/providers/google/cloud/transfers/test_gcs_to_gcs.py
Labels: provider:google, area:providers

#40579 Add notes about reverting the change in GCSToGCSOperator
  airflow/providers/google/CHANGELOG.rst
Labels: provider:google, area:providers

#40506 Resolve google vertex ai deprecations in tests
  airflow/providers/google/cloud/operators/vertex_ai/auto_ml.py
  airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
  tests/deprecations_ignore.yml
  tests/providers/google/cloud/operators/test_vertex_ai.py
Labels: provider:google, area:providers

#40545 Fix OpenLineage extraction for deferrable AthenaOperator
  airflow/providers/amazon/aws/operators/athena.py
  tests/providers/amazon/aws/operators/test_athena.py
Labels: provider:amazon-aws, area:providers

#40249 Resolve deprecations in `API` tests
  airflow/api_connexion/endpoints/task_instance_endpoint.py
  tests/api_connexion/endpoints/test_connection_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/api_connexion/schemas/test_connection_schema.py
  tests/deprecations_ignore.yml
  tests/test_utils/mock_operators.py
Labels: area:API

#40599 uv version bump 0.2.21
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#40584 DataflowStartFlexTemplateOperator. Check for Dataflow job type each check cycle.
  airflow/providers/google/cloud/hooks/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
Labels: provider:google, area:providers

#40601 Fix import statement in DatasetOrTimetable example
  docs/apache-airflow/authoring-and-scheduling/timetable.rst
Labels: kind:documentation

#40592 Extend list of folders which are not forced to be a subpackage to templates
  scripts/ci/pre_commit/check_providers_subpackages_all_have_init.py
Labels: area:dev-tools

#40588 Add exit clause suggesting --clean-build if toctree contains nonexisting _api/* reference
  docs/build_docs.py
Labels: kind:documentation

#40597 Update serializers.rst to mention that bytes are not supported
  docs/apache-airflow/authoring-and-scheduling/serializers.rst
Labels: kind:documentation

#40552 Enhancing changelog generation for provider releases
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
  dev/breeze/tests/test_provider_documentation.py
Labels: area:dev-tools

#40484 Update Google Cloud Generative Model Hooks/Operators to bring parity with Vertex AI API
  airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  airflow/providers/google/cloud/operators/vertex_ai/generative_model.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/vertex_ai.rst
  generated/provider_dependencies.json
  tests/always/test_project_structure.py
  tests/deprecations_ignore.yml
  tests/providers/google/cloud/hooks/vertex_ai/test_generative_model.py
  tests/providers/google/cloud/operators/vertex_ai/test_generative_model.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_generative_model.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#40610 Add tests to prevent changing in main GCSToGCSOperator behavior
  tests/providers/google/cloud/transfers/test_gcs_to_gcs.py
  tests/system/providers/google/cloud/gcs/example_gcs_to_gcs.py
Labels: provider:google, area:providers, area:system-tests

#40612 Fix Glue system test
  tests/system/providers/amazon/aws/example_glue.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#39408 Warn user about unused replace parameter in insert_rows (OracleHook)
  airflow/providers/oracle/hooks/oracle.py
Labels: area:providers, provider:oracle

#40614 Add missing usePgbouncer from values.yaml for triggerer
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_core/test_triggerer.py
  helm_tests/airflow_core/test_worker.py
Labels: area:helm-chart

#40618 Updating airflow download links to CDN based links
  docs/apache-airflow/installation/index.rst
  docs/apache-airflow/installation/installing-from-sources.rst
  docs/exts/includes/installing-providers-from-sources.rst
  docs/helm-chart/installing-helm-chart-from-sources.rst
Labels: area:helm-chart, kind:documentation

#40621 openlineage: fix parsing dag tree with MappedOperator
  airflow/providers/openlineage/utils/utils.py
  tests/providers/openlineage/utils/test_utils.py
Labels: area:providers, provider:openlineage

#40615 FIX: DbApiHook.insert_rows unnecessarily restarting connections
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/common/sql/hooks/sql.pyi
  tests/providers/common/sql/hooks/test_dbapi.py
  tests/providers/common/sql/hooks/test_sql.py
  tests/providers/common/sql/test_utils.py
Labels: area:providers, provider:common-sql

#40578 Skip checking subdagslist if taskinstance state is skipped
  airflow/api/common/mark_tasks.py
Labels: area:API

#40625 Resolve deprecations in `serialization` tests
  tests/deprecations_ignore.yml
  tests/serialization/test_dag_serialization.py
Labels: area:serialization

#40628 Resolve google vertex ai deprecations in tests
  tests/deprecations_ignore.yml
  tests/providers/google/cloud/operators/vertex_ai/test_generative_model.py
Labels: provider:google, area:providers

#40627 Do not dynamically determine op links for emr serverless start job operator
  airflow/providers/amazon/aws/operators/emr.py
  docs/apache-airflow-providers-amazon/operators/emr/emr_serverless.rst
  tests/providers/amazon/aws/operators/test_emr_serverless.py
Labels: provider:amazon-aws, area:providers, kind:documentation

#40634 Fix classifying of changes for multiple providers
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
Labels: area:dev-tools

#40626 Fix class instance vs. class type in validate_database_executor_compatibility() call
  airflow/cli/commands/scheduler_command.py
  tests/cli/commands/test_scheduler_command.py
Labels: area:CLI, type:bug-fix

#40636 Fix case when release manager does not accept version change
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
  dev/breeze/src/airflow_breeze/utils/packages.py
Labels: area:dev-tools

#40629 Resolve google deprecations in tests
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/providers/google/cloud/transfers/bigquery_to_postgres.py
  tests/deprecations_ignore.yml
Labels: provider:google, area:providers

#40642 Solve failing KPO task with task decorator and imported typing elements
  airflow/providers/cncf/kubernetes/python_kubernetes_script.jinja2
Labels: area:providers, provider:cncf-kubernetes

#40641 uv version bump 0.2.22
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#40647 Update `pip` to just released 24.1.2
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#40646 Restructuring PR classification for providers with misc changes
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
  dev/breeze/tests/test_provider_documentation.py
Labels: area:dev-tools

#40652 Selectively ask version confirmation during provider doc prep
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
Labels: area:dev-tools

#40654 Fix typo in condition that caused provider tests to be run v2 branch
  .github/workflows/ci.yml
Labels: area:dev-tools

#40511 S3 to wasb
  airflow/providers/microsoft/azure/provider.yaml
  airflow/providers/microsoft/azure/transfers/s3_to_wasb.py
  docs/apache-airflow-providers-microsoft-azure/transfer/s3_to_wasb.rst
  generated/provider_dependencies.json
  tests/providers/microsoft/azure/transfers/test_s3_to_wasb.py
  tests/system/providers/microsoft/azure/example_s3_to_wasb.py
Labels: provider:microsoft-azure, area:providers, area:system-tests, kind:documentation

#40643 DataprocCreateBatchOperator - Link for asynchronous mode
  airflow/providers/google/cloud/operators/dataproc.py
Labels: provider:google, area:providers

#40658 Share data loader to across asyncio boto sessions
  airflow/providers/amazon/aws/hooks/base_aws.py
Labels: provider:amazon-aws, area:providers

#40660 Render changelog sections only if they contain content
  dev/breeze/src/airflow_breeze/templates/CHANGELOG_TEMPLATE.rst.jinja2
Labels: area:dev-tools

#40663 Fix weaviate changelog to bring back 1.4.2
  airflow/providers/weaviate/CHANGELOG.rst
Labels: area:providers, provider:weaviate

#40662 Add warning about the PostgresOperator being deprecated
  docs/apache-airflow/tutorial/pipeline.rst
Labels: kind:documentation

#40616 Added priority to Azure Container Instances
  airflow/providers/microsoft/azure/operators/container_instances.py
  tests/providers/microsoft/azure/operators/test_container_instances.py
Labels: provider:microsoft-azure, area:providers

#40639 Attempt to add ReactJSON view to rendered templates
  airflow/www/static/js/api/useGridData.test.ts
  airflow/www/static/js/components/RenderedJsonField.tsx
  airflow/www/static/js/dag/details/dagRun/Details.tsx
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
  airflow/www/static/js/dag/grid/dagRuns/index.test.tsx
  airflow/www/static/js/dag/grid/index.test.tsx
  airflow/www/static/js/types/index.ts
  airflow/www/static/js/utils/index.test.ts
Labels: area:webserver, area:UI

#40670 Tiny PR: Fix two typos in Weaviate provider code
  airflow/providers/weaviate/CHANGELOG.rst
  airflow/providers/weaviate/hooks/weaviate.py
Labels: area:providers, provider:weaviate

#40659 Add serialization opt to s3 operator
  airflow/providers/amazon/aws/operators/s3.py
  tests/providers/amazon/aws/operators/test_s3.py
Labels: provider:amazon-aws, area:providers

#40671 Update multi-team diagram proposal after Airflow 3 discussions
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture.md5sum
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture.png
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture.py
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_with_grpc_api.md5sum
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_with_grpc_api.png
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_with_grpc_api.py
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_without_grpc_api.md5sum
  docs/apache-airflow/img/diagram_multi_team_airflow_architecture_without_grpc_api.png
Labels: kind:documentation

#40635 Enhance User Experience by Opening external UI Links in new Tab on browser.
  airflow/www/templates/airflow/providers.html
  airflow/www/templates/appbuilder/navbar_menu.html
  airflow/www/views.py
  chart/values.yaml
  tests/www/views/test_views.py
Labels: area:webserver, area:helm-chart, area:UI

#40554 fix: duplicated keys in annotations caused by airfowPodAnnotations value being overwritten by safeToEvict value of worker
  chart/files/pod-template-file.kubernetes-helm-yaml
  helm_tests/airflow_aux/test_pod_template_file.py
Labels: area:helm-chart

#40153 Add DatabricksWorkflowPlugin
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/databricks/operators/databricks_workflow.py
  airflow/providers/databricks/plugins/__init__.py
  airflow/providers/databricks/plugins/databricks_workflow.py
  airflow/providers/databricks/provider.yaml
  docs/apache-airflow-providers-databricks/img/workflow_plugin_launch_task.png
  docs/apache-airflow-providers-databricks/img/workflow_plugin_single_task.png
  docs/apache-airflow-providers-databricks/index.rst
  docs/apache-airflow-providers-databricks/plugins/index.rst
  docs/apache-airflow-providers-databricks/plugins/workflow.rst
  generated/provider_dependencies.json
  tests/plugins/test_plugins_manager.py
  tests/providers/databricks/plugins/__init__.py
  tests/providers/databricks/plugins/test_databricks_workflow.py
Labels: area:providers, provider:databricks

#40681 openlineage: remove deprecated parentRun facet key
  airflow/providers/openlineage/plugins/adapter.py
  tests/providers/openlineage/plugins/test_adapter.py
Labels: area:providers, provider:openlineage

#40682 openlineage: add deferrable information to task info in airflowRunFacet
  airflow/providers/openlineage/utils/utils.py
Labels: area:providers, provider:openlineage

#40664 Fix behavior for reattach_state parameter in BigQueryInsertJobOperator
  airflow/providers/google/cloud/operators/bigquery.py
  tests/providers/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#40686 feat(aws): provide the context to check_fn in S3 sensor
  airflow/providers/amazon/aws/sensors/s3.py
  tests/system/providers/amazon/aws/example_s3.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#40683 updating pgvector to !=0.3.0 to avoid recent issue in latest releases(0.3.0)
  airflow/providers/pgvector/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, provider:pgvector

#40690 Make `AwsAuthManager` compatible with only Airflow >= 2.9
  airflow/providers/amazon/aws/auth_manager/aws_auth_manager.py
  tests/providers/amazon/aws/auth_manager/test_aws_auth_manager.py
  tests/providers/amazon/aws/auth_manager/views/test_auth.py
Labels: provider:amazon-aws, area:providers

#40691 Chart: add git-sync-ssh secret template to dagprocessor
  chart/templates/dag-processor/dag-processor-deployment.yaml
  helm_tests/airflow_core/test_dag_processor.py
Labels: area:helm-chart

#40694 Add the ability to toggle the unfurl behavior for slack notifier
  airflow/providers/slack/notifications/slack.py
  tests/providers/slack/notifications/test_slack.py
Labels: area:providers, provider:slack

#40468 Send important executor logs to task logs
  airflow/executors/base_executor.py
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  airflow/utils/log/file_task_handler.py
  airflow/utils/log/task_context_logger.py
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
  tests/test_utils/mock_executor.py
  tests/utils/log/test_task_context_logger.py
Labels: provider:amazon-aws, area:providers, area:logging, area:Executors-core

#40017 AIP-61 - Scheduler job: main loop and event processing for multi executors
  airflow/executors/base_executor.py
  airflow/jobs/scheduler_job_runner.py
  tests/executors/test_base_executor.py
  tests/jobs/test_scheduler_job.py
  tests/test_utils/mock_executor.py
Labels: area:Scheduler, area:Executors-core, AIP-61

#40472 Support hybrid executors in backfill jobs
  airflow/exceptions.py
  airflow/executors/executor_loader.py
  airflow/jobs/backfill_job_runner.py
  airflow/models/dag.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
Labels: area:Scheduler, area:Executors-core, AIP-61

#40700 Use correct unknown executor exception in scheduler job
  airflow/jobs/scheduler_job_runner.py
Labels: area:Scheduler

#40702 Use latest EMR release label in `example_emr`
  tests/system/providers/amazon/aws/example_emr.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#39825 Use sentinel to mark dag as removed on reserialization
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/utils/types.py
  tests/models/test_taskinstance.py
  tests/providers/postgres/operators/test_postgres.py
  tests/serialization/test_dag_serialization.py
  tests/serialization/test_pydantic_models.py
  tests/serialization/test_serialized_objects.py
Labels: area:serialization

#40714 Revert "Add DatabricksWorkflowPlugin"
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/databricks/operators/databricks_workflow.py
  airflow/providers/databricks/plugins/__init__.py
  airflow/providers/databricks/plugins/databricks_workflow.py
  airflow/providers/databricks/provider.yaml
  docs/apache-airflow-providers-databricks/img/workflow_plugin_launch_task.png
  docs/apache-airflow-providers-databricks/img/workflow_plugin_single_task.png
  docs/apache-airflow-providers-databricks/index.rst
  docs/apache-airflow-providers-databricks/plugins/index.rst
  docs/apache-airflow-providers-databricks/plugins/workflow.rst
  generated/provider_dependencies.json
  tests/plugins/test_plugins_manager.py
  tests/providers/databricks/plugins/__init__.py
  tests/providers/databricks/plugins/test_databricks_workflow.py
Labels: area:providers, area:plugins, kind:documentation, provider:databricks

#40706 Fix deferrable AWS SageMaker operators
  airflow/providers/amazon/aws/operators/sagemaker.py
Labels: provider:amazon-aws, area:providers

#40716 Implemented Query Band Support for the Teradata provider
  airflow/providers/teradata/hooks/teradata.py
  docs/apache-airflow-providers-teradata/connections/teradata.rst
  tests/providers/teradata/hooks/test_teradata.py
Labels: area:providers, kind:documentation, provider:teradata

#40709 Add newly added unfurl args to the docstring of SlackNotifier
  airflow/providers/slack/notifications/slack.py
Labels: area:providers, provider:slack

#40631 ydb provider: add bulk upsert support
  airflow/providers/ydb/hooks/ydb.py
  tests/integration/providers/ydb/operators/test_ydb.py
  tests/providers/ydb/operators/test_ydb.py
Labels: area:providers, provider:ydb

#40732 Fix/spark submit pod name has driver
  airflow/providers/apache/spark/hooks/spark_submit.py
  tests/providers/apache/spark/hooks/test_spark_submit.py
Labels: area:providers, provider:apache-spark

#40698 Send important executor logs to task logs in `AwsBatchExecutor`
  airflow/providers/amazon/aws/executors/batch/batch_executor.py
  tests/providers/amazon/aws/executors/batch/test_batch_executor.py
Labels: provider:amazon-aws, area:providers

#40712 docs: set otel_on to True in example airflow.cfg OpenTelemetry documentation
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
  docs/apache-airflow/administration-and-deployment/logging-monitoring/traces.rst
Labels: kind:documentation

#40725 openlineage: fix / add some task attributes in AirflowRunFacet
  airflow/providers/openlineage/extractors/manager.py
  airflow/providers/openlineage/utils/utils.py
  tests/providers/openlineage/extractors/test_manager.py
Labels: area:providers, provider:openlineage

#40668 Upgrade Helm in our tests to latest version available
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#40719 chore(core): stop deferring TimeDeltaSensorAsync task when the target_dttm is in the past
  airflow/sensors/time_delta.py
  tests/sensors/test_time_delta.py
Labels: type:improvement, area:core-operators

#40750 Prepare Providers docs RC2 1st wave July 2024
  airflow/providers/amazon/CHANGELOG.rst
  airflow/providers/weaviate/CHANGELOG.rst
  docs/apache-airflow-providers-amazon/commits.rst
  docs/apache-airflow-providers-weaviate/commits.rst
Labels: provider:amazon-aws, area:providers, kind:documentation, provider:weaviate

#39999 Load Example Plugins with Example DAGs
  airflow/example_dags/example_workday_timetable.py
  airflow/plugins_manager.py
  tests/cli/commands/test_dag_command.py
  tests/plugins/test_plugins_manager.py
  tests/plugins/workday.py
Labels: area:plugins, type:improvement

#40724 Add DatabricksWorkflowPlugin
  airflow/providers/databricks/operators/databricks.py
  airflow/providers/databricks/operators/databricks_workflow.py
  airflow/providers/databricks/plugins/__init__.py
  airflow/providers/databricks/plugins/databricks_workflow.py
  airflow/providers/databricks/provider.yaml
  docs/apache-airflow-providers-databricks/img/workflow_plugin_launch_task.png
  docs/apache-airflow-providers-databricks/img/workflow_plugin_single_task.png
  docs/apache-airflow-providers-databricks/index.rst
  docs/apache-airflow-providers-databricks/plugins/index.rst
  docs/apache-airflow-providers-databricks/plugins/workflow.rst
  generated/provider_dependencies.json
  tests/plugins/test_plugins_manager.py
  tests/providers/databricks/plugins/__init__.py
  tests/providers/databricks/plugins/test_databricks_workflow.py
Labels: area:providers, area:plugins, kind:documentation, provider:databricks

#40762 Hybrid-ize tasks run_task executor entrypoint
  airflow/cli/commands/task_command.py
  tests/cli/commands/test_task_command.py
Labels: area:CLI

#40758 Rotate fernet key optimisation
  airflow/cli/commands/rotate_fernet_key_command.py
Labels: area:CLI

#40764 Fix and adjust URL generation for UI grid and older runs
  airflow/models/taskinstance.py
  tests/models/test_taskinstance.py
Labels: type:bug-fix, area:UI

#40685 Fix Custom Training Job operators to accept results without a model in def mode
  airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_container.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job_python_package.py
Labels: provider:google, area:providers, area:system-tests

#40767 Bump minimum version for azure containerinstance.
  airflow/providers/microsoft/azure/provider.yaml
  generated/provider_dependencies.json
Labels: provider:microsoft-azure, area:providers

#40769 Revert "Rotate fernet key optimisation (#40758)"
  airflow/cli/commands/rotate_fernet_key_command.py
Labels: area:CLI

#40768 Move lowest-dependencies test to separate workflow
  .github/workflows/ci.yml
  .github/workflows/special-tests.yml
Labels: area:dev-tools

#40776 Do not trigger provider tests on core changes
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#40777 Clarify PMC members vs PMCs
  COMMITTERS.rst
  RELEASE_NOTES.rst
  airflow/reproducible_build.yaml
  chart/dockerfiles/README.md
  contributing-docs/01_roles_in_airflow_project.rst
  dev/README.md
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/README_RELEASE_PYTHON_CLIENT.md
  dev/WHAT_GOES_INTO_THE_NEXT_RELEASE.md
  docs/apache-airflow/howto/set-up-database.rst
Labels: area:dev-tools, area:helm-chart, kind:documentation

#40766 Attempt to fix async sensor test flakiness
  tests/sensors/test_time_delta.py
Labels: area:core-operators

#40753 Add `kubernetes_application_id` to `SparkSubmitHook`
  airflow/providers/apache/spark/hooks/spark_submit.py
  tests/providers/apache/spark/hooks/test_spark_submit.py
Labels: area:providers, provider:apache-spark

#40723 Link dataset event to dataset alias
  airflow/datasets/manager.py
  airflow/migrations/versions/0148_2_10_0_dataset_alias_dataset_event.py
  airflow/models/dataset.py
  airflow/models/taskinstance.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/models/test_taskinstance.py
Labels: area:serialization, kind:documentation, area:db-migrations

#40783 Fix (TM) to (R) in Airflow repository
  docs/apache-airflow/core-concepts/index.rst
  docs/apache-airflow/index.rst
  docs/apache-airflow/installation/setting-up-the-database.rst
  docs/apache-airflow/installation/supported-versions.rst
  docs/apache-airflow/installation/upgrading.rst
  docs/apache-airflow/security/index.rst
  docs/apache-airflow/security/releasing_security_patches.rst
  tests/providers/slack/transfers/test_sql_to_slack_webhook.py
  tests/system/providers/slack/example_slack.py
  tests/system/providers/slack/example_slack_webhook.py
Labels: area:providers, area:system-tests, kind:documentation, provider:slack

#40784 Bump version checked by FAB provider on logout CSRF protection to 2.10.0
  airflow/providers/fab/auth_manager/security_manager/override.py
Labels: area:providers, provider:fab

#40797 Add log_url to OpenLineage AirflowRunFacet
  airflow/providers/openlineage/facets/AirflowRunFacet.json
  airflow/providers/openlineage/utils/utils.py
Labels: area:providers, provider:openlineage

#40770 Prevent NoneType Error at plugin loading with database isolation mode
  airflow/www/views.py
Labels: area:webserver, type:bug-fix

#40779 Support LazySelectSequence in serialization for AIP-44
  airflow/serialization/serialized_objects.py
  tests/serialization/test_serialized_objects.py
Labels: area:serialization

#40335 AIP-62: Add HookLineageCollector
  airflow/lineage/hook.py
  airflow/plugins_manager.py
  airflow/provider.yaml.schema.json
  airflow/providers_manager.py
  docs/apache-airflow/administration-and-deployment/lineage.rst
  tests/lineage/test_hook.py
  tests/test_utils/mock_plugins.py
Labels: area:lineage, AIP-62

#40589 openlineage: add config to include 'full' task info based on conf setting
  airflow/providers/openlineage/conf.py
  airflow/providers/openlineage/provider.yaml
  airflow/providers/openlineage/utils/utils.py
  docs/apache-airflow-providers-openlineage/guides/user.rst
  tests/providers/openlineage/plugins/test_utils.py
  tests/providers/openlineage/test_conf.py
Labels: area:providers, provider:openlineage

#40801 docs: Add `filesystems` and `dataset-uris` items in create your own provider page
  docs/apache-airflow-providers/howto/create-custom-providers.rst
Labels: kind:documentation

#40645 Update default value for job_name in DataflowConfiguration
  airflow/providers/apache/beam/operators/beam.py
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/apache/beam/operators/test_beam.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_native_java.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_native_python.py
Labels: provider:google, area:providers, area:system-tests

#40790 openlineage: use airflow provided getters in conf
  airflow/providers/openlineage/conf.py
  tests/providers/openlineage/test_conf.py
Labels: area:providers, provider:openlineage

#40813 Fix flaky async sensor test
  tests/sensors/test_time_delta.py
Labels: area:core-operators

#40817 AIP-62: add file dataset type support into common.io provider
  airflow/providers/common/io/datasets/__init__.py
  airflow/providers/common/io/datasets/file.py
  airflow/providers/common/io/provider.yaml
  tests/providers/common/io/datasets/__init__.py
  tests/providers/common/io/datasets/test_file.py
Labels: area:providers, provider:common-io, AIP-62

#40222 Add error handling for encoding the dag runs
  .editorconfig
  airflow/www/static/js/api/useGridData.ts
  airflow/www/static/js/dag/grid/index.test.tsx
  airflow/www/utils.py
  airflow/www/views.py
  tests/www/test_utils.py
  tests/www/views/test_views_grid.py
Labels: area:webserver, area:UI

#40821 openlineage: fix failing OL test on main that normalizes sql
  tests/providers/openlineage/test_sqlparser.py
Labels: area:providers, provider:openlineage

#40816 Chart: Default airflow version to 2.9.3
  chart/Chart.yaml
  chart/newsfragments/40816.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#40824 Fix typo deffer -> defer
  tests/sensors/test_time_delta.py
Labels: area:core-operators

#40803 Simplify _auth_manager_is_authorized_map function
  airflow/www/security_manager.py
Labels: area:webserver

#40826 openlineage: tests: do not check whitespace in returned SQL statement after splitting it
  tests/providers/openlineage/test_sqlparser.py
Labels: area:providers, full tests needed, provider:openlineage

#40812 AIP-62: add method to common.compat to not force hooks to try/except every time
  .pre-commit-config.yaml
  airflow/providers/common/compat/lineage/__init__.py
  airflow/providers/common/compat/lineage/hook.py
  airflow/providers/openlineage/sqlparser.py
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output-commands.svg
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  tests/providers/common/compat/lineage/__init__.py
  tests/providers/common/compat/lineage/test_hook.py
Labels: area:providers, area:dev-tools, AIP-62

#39298 Set parallelism log messages to warning level for better visiblity
  airflow/executors/base_executor.py
Labels: stale, area:Scheduler, area:Executors-core

#40823 Deregister the ECS task definition in the system test `example_batch`
  tests/system/providers/amazon/aws/example_batch.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#40833 Add gauge metric for 'last_num_of_db_queries' parameter
  airflow/dag_processing/manager.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Labels: area:Scheduler, kind:documentation

#40786 Fernet-key-rotation-optimisation
  airflow/cli/commands/rotate_fernet_key_command.py
Labels: area:CLI, full tests needed

#40701 Add documentation for hybrid executor and ungate the feature
  airflow/executors/executor_loader.py
  airflow/models/baseoperator.py
  docs/apache-airflow/core-concepts/executor/index.rst
  newsfragments/40701.feature.rst
  tests/executors/test_executor_loader.py
Labels: kind:documentation, area:Executors-core, AIP-61

#40771 Prevent SubdagOperator to fail when Database Isolation is enabled
  airflow/operators/subdag.py
Labels: type:bug-fix, area:core-operators

#40739 Add try_number to log table
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/event_log_schema.py
  airflow/migrations/versions/0149_2_10_0_add_try_number_to_audit_log.py
  airflow/models/log.py
  airflow/utils/db.py
  airflow/www/static/js/types/api-generated.ts
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/api_connexion/endpoints/test_event_log_endpoint.py
  tests/api_connexion/schemas/test_event_log_schema.py
Labels: type:new-feature, area:db-migrations

#40844 Fixed static checks resulted from merging a non-rebased PR
  airflow/cli/commands/rotate_fernet_key_command.py
Labels: area:CLI

#40772 Improve handling for params serialization for AIP-44
  airflow/serialization/serialized_objects.py
Labels: area:serialization

#40845 Add try_number and map_index as params for log event endpoint
  airflow/api_connexion/endpoints/event_log_endpoint.py
Labels: area:API

#40834 Resolve google cloud sql deprecation in tests
  airflow/providers/google/cloud/hooks/cloud_sql.py
  tests/deprecations_ignore.yml
Labels: provider:google, area:providers

#40857 Add changelog for airflow python client 2.9.3
  clients/python/CHANGELOG.md
  clients/python/version.txt
Labels: area:API

#40638 feat: support rendering ObjectStoragePath value
  airflow/template/templater.py
  tests/template/test_templater.py
Labels: type:improvement

#40860 Switch still some remaining places in Airflow docs with TM to (R)
  docs/apache-airflow/index.rst
  docs/apache-airflow/installation/index.rst
  docs/apache-airflow/installation/installing-from-pypi.rst
  docs/apache-airflow/installation/installing-from-sources.rst
  docs/apache-airflow/installation/prerequisites.rst
  docs/apache-airflow/installation/upgrading.rst
Labels: kind:documentation

#40848 fix: fix code blocks and outdated flag name in contributing unit_tests doc
  contributing-docs/testing/unit_tests.rst
Labels: area:dev-tools

#40862 Resolve microsoft psrp hook deprecation in tests
  tests/deprecations_ignore.yml
  tests/providers/microsoft/psrp/hooks/test_psrp.py
Labels: area:providers, provider:microsoft-psrp

#40869 Mark db tests for tests introduced in PR #40724 for the Databricks Plugin
  tests/providers/databricks/plugins/test_databricks_workflow.py
Labels: area:providers, provider:databricks
