Repository apache/airflow, pull requests merged in 2024-10, with the labels that each got.

#42231 FIX: Doc update - Airflow local settings no longer importable from dags folder
  docs/apache-airflow/howto/set-config.rst
Labels: kind:documentation

#41811 add flexibility for redis service
  chart/templates/redis/redis-service.yaml
  chart/values.schema.json
  chart/values.yaml
  helm_tests/other/test_redis.py
Labels: area:helm-chart

#42588 Update fastapi operation ids
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/public/__init__.py
  airflow/api_fastapi/views/public/dags.py
  airflow/api_fastapi/views/router.py
  airflow/api_fastapi/views/ui/__init__.py
  airflow/api_fastapi/views/ui/assets.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/ui/package.json
  airflow/ui/src/App.test.tsx
  airflow/ui/src/pages/DagsList.tsx
Labels: area:UI, AIP-84

#42603 Doc update - Airflow local settings no longer importable from dags folder (apache#42231)
  docs/apache-airflow/howto/set-config.rst
Labels: area:CLI, area:dev-tools, area:API, area:production-image

#42601 Limit build-images workflow to main and v2-10 branches
  .github/workflows/build-images.yml
Labels: area:dev-tools

#42554 openlineage: add unit test for listener hooks on dag run state changes and task instance failure
  tests/dags/test_openlineage_execution.py
  tests/providers/openlineage/plugins/test_execution.py
  tests/providers/openlineage/plugins/test_listener.py
Labels: area:providers, provider:openlineage

#42609 Prevent redirect loop on /home with tags/lastrun filters (#42607)
  airflow/www/views.py
  tests/www/views/test_views_home.py
Labels: area:webserver, type:bug-fix

#42627 Remove `AIRFLOW_V_2_7_PLUS` constant
  contributing-docs/testing/unit_tests.rst
  tests/test_utils/compat.py
Labels: area:dev-tools

#42506 Move FSHook/PackageIndexHook/SubprocessHook to standard provider
  airflow/operators/bash.py
  airflow/providers/standard/hooks/__init__.py
  airflow/providers/standard/hooks/filesystem.py
  airflow/providers/standard/hooks/package_index.py
  airflow/providers/standard/hooks/subprocess.py
  airflow/providers/standard/provider.yaml
  airflow/providers_manager.py
  airflow/sensors/filesystem.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/errors.rst
  docs/apache-airflow/operators-and-hooks-ref.rst
  tests/providers/standard/hooks/__init__.py
  tests/providers/standard/hooks/test_filesystem.py
  tests/providers/standard/hooks/test_package_index.py
  tests/providers/standard/hooks/test_subprocess.py
  tests/sensors/test_filesystem.py
Labels: area:providers, kind:documentation, area:core-operators, provider:standard

#42630 send notification to internal-ci-cd channel
  .github/workflows/ci.yml
Labels: area:dev-tools

#42398 Add heartbeat metric for DAG processor
  airflow/jobs/dag_processor_job_runner.py
  chart/files/statsd-mappings.yml
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Labels: area:Scheduler

#42219 Stabilize the order of tasks during serialization
  airflow/serialization/serialized_objects.py
Labels: area:serialization

#41870 Remove state sync during celery task processing
  airflow/providers/celery/executors/celery_executor.py
Labels: area:providers, provider:celery

#41832 fix: rm `skip_if` and `run_if` in python source
  airflow/utils/decorators.py
  tests/utils/test_decorators.py
Labels: type:bug-fix

#41323 Adds new `triggerer.capacity_left[.<hostname>]` metric
  airflow/jobs/triggerer_job_runner.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Labels: area:Scheduler, kind:documentation, area:Triggerer

#42460 [HELM] - Add guide how to PgBouncer with Kubernetes Secret
  docs/helm-chart/production-guide.rst
Labels: area:helm-chart, kind:documentation

#42529 Add dag run creation logic for backfill
  airflow/api_connexion/endpoints/backfill_endpoint.py
  airflow/models/backfill.py
  airflow/utils/types.py
  tests/api_connexion/endpoints/test_backfill_endpoint.py
  tests/models/test_backfill.py
Labels: area:API

#41904 All executors should inherit from BaseExecutor
  airflow/providers/celery/executors/celery_kubernetes_executor.py
  airflow/providers/cncf/kubernetes/executors/local_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes, provider:celery, area:Executors-core

#42646 Revert "Fix the order of tasks during serialization (#42219)"
  airflow/serialization/serialized_objects.py
Labels: area:serialization

#39724 Raise error upon DAG import instead of DAG trigger for incorrect pool_slots value in mapped tasks using partial()
  airflow/decorators/base.py
  airflow/models/baseoperator.py
  tests/models/test_mappedoperator.py
Labels: type:bug-fix

#41429 Add retry logic in the scheduler for updating trigger timeouts in case of deadlocks.
  airflow/jobs/scheduler_job_runner.py
  newsfragments/41429.improvement.rst
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler

#42080 Fix consistent return response from PubSubPullSensor
  airflow/providers/google/cloud/sensors/pubsub.py
  airflow/providers/google/cloud/triggers/pubsub.py
  tests/providers/google/cloud/sensors/test_pubsub.py
  tests/providers/google/cloud/triggers/test_pubsub.py
Labels: provider:google, area:providers

#42628 Prevent redirect loop on /home with tags/lastrun filters (#42607) (#42609)
  airflow/www/views.py
  tests/www/views/test_views_home.py
Labels: area:webserver

#42656 Fix type-ignore comment for typing changes
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler

#42571 AIP-84 Migrate delete a connection to FastAPI API
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/public/__init__.py
  airflow/api_fastapi/views/public/connections.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/views/public/test_connections.py
Labels: area:API, area:UI

#42635 Limit branches for pull request target workflow
  .github/workflows/build-images.yml
Labels: area:dev-tools

#42621 Add is_paused toggle
  airflow/ui/package.json
  airflow/ui/pnpm-lock.yaml
  airflow/ui/rules/react.js
  airflow/ui/src/components/DataTable/DataTable.tsx
  airflow/ui/src/components/TogglePause.tsx
  airflow/ui/src/pages/DagsList/DagsFilters.tsx
  airflow/ui/src/pages/DagsList/DagsList.tsx
  airflow/ui/src/pages/DagsList/index.tsx
Labels: area:UI

#38782 Correctly select task in DAG Graph View when clicking on its name
  airflow/www/static/js/dag/details/graph/DagNode.test.tsx
  airflow/www/static/js/dag/details/graph/DagNode.tsx
Labels: area:webserver, area:UI

#42659 Revert "Move FSHook/PackageIndexHook/SubprocessHook to standard provider"
  airflow/hooks/filesystem.py
  airflow/hooks/package_index.py
  airflow/hooks/subprocess.py
  airflow/operators/bash.py
  airflow/providers/standard/hooks/__init__.py
  airflow/providers/standard/provider.yaml
  airflow/providers_manager.py
  airflow/sensors/filesystem.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/errors.rst
  docs/apache-airflow/operators-and-hooks-ref.rst
  tests/hooks/test_package_index.py
  tests/hooks/test_subprocess.py
  tests/providers/standard/hooks/__init__.py
  tests/providers/standard/hooks/test_filesystem.py
  tests/sensors/test_filesystem.py
Labels: area:providers, kind:documentation, area:core-operators, provider:standard

#42530 Add backfill cancellation logic
  airflow/api_connexion/endpoints/backfill_endpoint.py
  airflow/models/backfill.py
  tests/models/test_backfill.py
Labels: area:API

#42622 Use FAB auth manager in `test_google_openid`
  tests/providers/google/common/auth_backend/test_google_openid.py
Labels: provider:google, area:providers

#42666 Remove "project" from log path in callback docs
  docs/apache-airflow/administration-and-deployment/logging-monitoring/callbacks.rst
Labels: kind:documentation

#42655 Fix invalid path in lineage.rst
  docs/apache-airflow/administration-and-deployment/lineage.rst
Labels: kind:documentation, area:lineage, type:doc-only

#42644 Add support for PostgreSQL 17 in Breeze
  README.md
  dev/breeze/doc/images/output-commands.svg
  dev/breeze/doc/images/output_setup_config.svg
  dev/breeze/doc/images/output_setup_config.txt
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/doc/images/output_testing_db-tests.svg
  dev/breeze/doc/images/output_testing_db-tests.txt
  dev/breeze/doc/images/output_testing_integration-tests.svg
  dev/breeze/doc/images/output_testing_integration-tests.txt
  dev/breeze/doc/images/output_testing_tests.svg
  dev/breeze/doc/images/output_testing_tests.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/tests/test_selective_checks.py
  generated/PYPI_README.md
Labels: area:dev-tools

#42669 Update AWS system test `example_emr_serverless`
  tests/system/providers/amazon/aws/example_emr_serverless.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#42667 Rename wrongly named test
  contributing-docs/testing/unit_tests.rst
Labels: area:dev-tools

#42651 [BACKPORT] Add retry logic in the scheduler for updating trigger timeouts in case of deadlocks. (#41429)
  airflow/jobs/scheduler_job_runner.py
  newsfragments/41429.improvement.rst
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler

#42649 Make `private_key_content` a sensitive field in Snowflake connection
  airflow/providers/snowflake/hooks/snowflake.py
Labels: area:providers, provider:snowflake

#42657 Ignore peformance directory in mypy-airflow pre-commit
  .pre-commit-config.yaml
Labels: area:dev-tools

#42602 add gopidesupavan to triage team
  .asf.yaml
Labels: area:dev-tools

#42680 Temporarily disable branch protection for older v2-* branches
  .asf.yaml
Labels: area:dev-tools

#42660 Removed deprecated concurrency field from dag details schema
  airflow/api_connexion/schemas/dag_schema.py
  newsfragments/42660.significant.rst
  tests/api_connexion/endpoints/test_dag_endpoint.py
  tests/api_connexion/schemas/test_dag_schema.py
Labels: area:API, airflow3.0:candidate, airflow3.0:breaking

#42457 Add Snowpark operator and decorator
  airflow/providers/snowflake/decorators/__init__.py
  airflow/providers/snowflake/decorators/snowpark.py
  airflow/providers/snowflake/hooks/snowflake.py
  airflow/providers/snowflake/operators/snowpark.py
  airflow/providers/snowflake/provider.yaml
  airflow/providers/snowflake/utils/snowpark.py
  docs/apache-airflow-providers-snowflake/decorators/index.rst
  docs/apache-airflow-providers-snowflake/decorators/snowpark.rst
  docs/apache-airflow-providers-snowflake/index.rst
  docs/apache-airflow-providers-snowflake/operators/snowpark.rst
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  tests/providers/snowflake/decorators/__init__.py
  tests/providers/snowflake/decorators/test_snowpark.py
  tests/providers/snowflake/hooks/test_snowflake.py
  tests/providers/snowflake/operators/test_snowpark.py
  tests/providers/snowflake/utils/test_snowpark.py
  tests/system/providers/snowflake/example_snowpark_decorator.py
  tests/system/providers/snowflake/example_snowpark_operator.py
Labels: area:providers, area:system-tests, kind:documentation, provider:snowflake

#42678 Remove special handling of backfills in scheduler
  airflow/jobs/scheduler_job_runner.py
  airflow/models/dagrun.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler

#42676 Add standard provider to preinstalled providers.
  hatch_build.py
Labels: full tests needed, all versions

#42631 AIP-84 Migrate the public endpoint DAG Details to FastAPI
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/serializers/dags.py
  airflow/api_fastapi/views/public/dags.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/views/public/test_dags.py
Labels: area:API, AIP-84

#42049 AIP-69: Add API and Plugin to Edge Provider
  airflow/providers/edge/api_endpoints/__init__.py
  airflow/providers/edge/api_endpoints/health_endpoint.py
  airflow/providers/edge/api_endpoints/rpc_api_endpoint.py
  airflow/providers/edge/openapi/__init__.py
  airflow/providers/edge/openapi/edge_worker_api_v1.yaml
  airflow/providers/edge/plugins/__init__.py
  airflow/providers/edge/plugins/edge_executor_plugin.py
  airflow/providers/edge/plugins/templates/edge_worker_hosts.html
  airflow/providers/edge/plugins/templates/edge_worker_jobs.html
  airflow/providers/edge/provider.yaml
  generated/provider_dependencies.json
  tests/plugins/test_plugins_manager.py
  tests/providers/edge/api_endpoints/__init__.py
  tests/providers/edge/api_endpoints/test_health_endpoint.py
  tests/providers/edge/api_endpoints/test_rpc_api_endpoint.py
  tests/providers/edge/plugins/__init__.py
  tests/providers/edge/plugins/test_edge_executor_plugin.py
Labels: area:providers, area:dev-tools, AIP-69

#42694 Update min version of Pydantic to 2.6.4
  airflow/providers/edge/provider.yaml
  generated/provider_dependencies.json
  hatch_build.py
  newsfragments/41857.significant.rst
Labels: area:providers

#42115 Add `on_kill` to Databricks Workflow Operator
  airflow/providers/databricks/operators/databricks_workflow.py
  tests/providers/databricks/operators/test_databricks_workflow.py
Labels: area:providers, provider:databricks

#42697 Correctly select task in DAG Graph View when clicking on its name
  airflow/www/static/js/dag/details/graph/DagNode.test.tsx
  airflow/www/static/js/dag/details/graph/DagNode.tsx
Labels: area:webserver, area:UI

#42663 AIP-84 Serve new UI from FastAPI API
  airflow/api_fastapi/app.py
  airflow/ui/.env.example
  airflow/ui/src/App.tsx
  airflow/ui/src/layouts/Nav/DocsButton.tsx
  airflow/ui/src/layouts/Nav/Nav.tsx
  airflow/ui/src/main.tsx
  airflow/ui/src/vite-env.d.ts
  airflow/ui/vite.config.ts
  airflow/www/app.py
  airflow/www/extensions/init_react_ui.py
  airflow/www/templates/airflow/main.html
  contributing-docs/14_node_environment_setup.rst
  scripts/in_container/run_update_fastapi_api_spec.py
Labels: area:webserver, area:dev-tools, area:UI, AIP-84

#42710 Mention in simple auth manager doc how to read/update passwords directly form file
  docs/apache-airflow/core-concepts/auth-manager/simple.rst
Labels: kind:documentation

#42707 Update tensorflow image uris for VertexAI system tests
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_container.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_job_python_package.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_model_service.py
Labels: provider:google, area:providers, area:system-tests

#42671 Fix gcp_conn_id in PubsubPullTrigger
  airflow/providers/google/cloud/triggers/pubsub.py
  tests/providers/google/cloud/triggers/test_pubsub.py
Labels: provider:google, area:providers

#42579 Rename dataset endpoints as asset endpoints
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/asset_schema.py
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/ui/assets.py
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/api/useAsset.ts
  airflow/www/static/js/api/useAssetDependencies.ts
  airflow/www/static/js/api/useAssetEvents.ts
  airflow/www/static/js/api/useAssets.ts
  airflow/www/static/js/api/useAssetsSummary.ts
  airflow/www/static/js/api/useCreateAssetEvent.ts
  airflow/www/static/js/api/useUpstreamAssetEvents.ts
  airflow/www/static/js/components/DatasetEventCard.tsx
  airflow/www/static/js/components/SourceTaskInstance.tsx
  airflow/www/static/js/dag/details/dagRun/DatasetTriggerEvents.tsx
  airflow/www/static/js/dag/details/graph/DatasetNode.tsx
  airflow/www/static/js/dag/details/graph/Node.tsx
  airflow/www/static/js/dag/details/graph/index.tsx
  airflow/www/static/js/dag/details/graph/utils.ts
  airflow/www/static/js/dag/details/taskInstance/DatasetUpdateEvents.tsx
  airflow/www/static/js/datasetUtils.js
  airflow/www/static/js/datasets/AssetDetails.tsx
  airflow/www/static/js/datasets/AssetEvents.tsx
  airflow/www/static/js/datasets/AssetList.test.tsx
  airflow/www/static/js/datasets/AssetsList.tsx
  airflow/www/static/js/datasets/CreateAssetEvent.tsx
  airflow/www/static/js/datasets/Graph/index.tsx
  airflow/www/static/js/datasets/Main.tsx
  airflow/www/static/js/datasets/SearchBar.tsx
  airflow/www/static/js/types/api-generated.ts
  airflow/www/static/js/types/index.ts
  airflow/www/templates/airflow/dag.html
  airflow/www/templates/airflow/datasets.html
  airflow/www/templates/airflow/grid.html
  clients/python/README.md
  docs/apache-airflow-providers-fab/auth-manager/access-control.rst
  newsfragments/42579.significant.rst
  tests/api_connexion/endpoints/test_asset_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/schemas/test_dataset_schema.py
  tests/api_fastapi/views/ui/test_assets.py
Labels: area:Scheduler, area:API, AIP-74

#42721 Improve startup of K8S tests
  kubernetes_tests/test_base.py
Labels: provider:cncf-kubernetes

#42719 Fixes: SnowflakeSqlApiOperator not resolving parameters in SQL
  airflow/providers/snowflake/hooks/snowflake_sql_api.py
  tests/providers/snowflake/hooks/test_snowflake_sql_api.py
Labels: area:providers, provider:snowflake

#42625 option to enable ipv6 ipaddress resolve support for statsd host
  airflow/config_templates/config.yml
  airflow/metrics/statsd_logger.py
  docs/helm-chart/production-guide.rst
  docs/spelling_wordlist.txt
Labels: area:helm-chart, kind:documentation

#42311 Add an ability to use scan queries via new YDB operator
  airflow/providers/ydb/hooks/_vendor/dbapi/connection.py
  airflow/providers/ydb/hooks/_vendor/dbapi/cursor.py
  airflow/providers/ydb/hooks/_vendor/readme.md
  airflow/providers/ydb/hooks/ydb.py
  airflow/providers/ydb/operators/ydb.py
  docs/apache-airflow-providers-ydb/index.rst
  docs/apache-airflow-providers-ydb/operators/ydb_operator_howto_guide.rst
  tests/system/providers/ydb/example_ydb.py
Labels: area:providers, provider:ydb

#42658 Changing dag_id to a positional argument in the 'dags list-runs' CLI command
  airflow/cli/cli_config.py
  newsfragments/42658.significant.rst
  tests/cli/commands/test_dag_command.py
Labels: area:CLI, airflow3.0:candidate, airflow3.0:breaking

#42504 Added unit tests and restructred `await_xcom_sidecar_container_start` method.
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  tests/providers/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#42674 AIP-84 Migrate GET connection to FastAPI API
  airflow/api_connexion/endpoints/connection_endpoint.py
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/serializers/connections.py
  airflow/api_fastapi/views/public/connections.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/views/public/test_connections.py
Labels: area:providers, area:API, area:UI, provider:standard

#42727 Typo correction in 07_local_virtualenv.rst
  contributing-docs/07_local_virtualenv.rst
Labels: area:dev-tools

#39982 Don't pass auth to opensearch client with empty login and password
  airflow/providers/opensearch/hooks/opensearch.py
  tests/providers/opensearch/hooks/test_opensearch.py
Labels: area:providers, provider:opensearch

#42744 Fix main Branch Test Failures
  tests/providers/fab/auth_manager/api_endpoints/test_asset_endpoint.py
Labels: area:providers, provider:fab

#42740 API-84 Add fastapi subapps to plugin system
  airflow/api_connexion/openapi/v1.yaml
  airflow/api_connexion/schemas/plugin_schema.py
  airflow/api_fastapi/app.py
  airflow/plugins_manager.py
  airflow/www/static/js/types/api-generated.ts
  airflow/www/views.py
  docs/apache-airflow/authoring-and-scheduling/plugins.rst
  tests/api_connexion/endpoints/test_plugin_endpoint.py
  tests/api_connexion/schemas/test_plugin_schema.py
  tests/cli/commands/test_plugins_command.py
  tests/plugins/test_plugin.py
  tests/test_utils/mock_plugins.py
Labels: area:webserver, area:CLI, area:plugins, area:API, kind:documentation, area:UI, AIP-84

#41153 Publish Dataproc Serverless Batch link after it starts if batch_id was provided
  airflow/providers/google/cloud/operators/dataproc.py
Labels: provider:google, area:providers

#42750 Fix broken compat test after PR 42740
  tests/test_utils/mock_plugins.py
Labels: full tests needed

#42736 feat(providers/common/sql): add warning to connection setter
  airflow/providers/common/sql/hooks/sql.py
Labels: area:providers, provider:common-sql

#42751 Remove airflow_version from k8s executor pod selector
  airflow/providers/cncf/kubernetes/pod_generator.py
  tests/providers/cncf/kubernetes/test_pod_generator.py
Labels: area:providers, provider:cncf-kubernetes

#42703 Add 'retry_if_resource_not_ready' logic for DataprocCreateClusterOperator and DataprocCreateBatchOperator
  airflow/providers/google/cloud/hooks/dataproc.py
  airflow/providers/google/cloud/operators/dataproc.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_batch.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_batch_deferrable.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_batch_persistent.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_create_existing_stopped_cluster.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_deferrable.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_diagnose.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_generator.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_start_stop.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_cluster_update.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_flink.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_gke.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_hadoop.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_hive.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_pig.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_presto.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_pyspark.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark_async.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark_deferrable.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_spark_sql.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_sparkr.py
  tests/system/providers/google/cloud/dataproc/example_dataproc_trino.py
Labels: provider:google, area:providers, area:system-tests

#42758 Include Selective Check to Ping Maintainer about Legacy WWW and API Changes
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Labels: area:dev-tools

#42613 Minor changes in the SparkKubernetesOperator documentation.
  docs/apache-airflow-providers-cncf-kubernetes/operators.rst
Labels: area:providers, kind:documentation, provider:cncf-kubernetes

#42752 Add "tests/test_utils" folder to the list of files triggering full tests
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Labels: area:dev-tools

#42741 Update celery_executor.rst
  docs/apache-airflow-providers-celery/celery_executor.rst
Labels: area:providers, kind:documentation, provider:celery

#42686 Schedule backfills in the scheduler
  airflow/jobs/scheduler_job_runner.py
  airflow/migrations/versions/0036_3_0_0_add_backfill_to_dag_run_model.py
  airflow/models/backfill.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler, kind:documentation, area:db-migrations

#42772 Fix failing tests for test log handler attempt 3
  tests/providers/celery/log_handlers/__init__.py
  tests/providers/celery/log_handlers/test_log_handlers.py
  tests/providers/cncf/kubernetes/log_handlers/__init__.py
  tests/providers/cncf/kubernetes/log_handlers/test_log_handlers.py
  tests/providers/common/sql/hooks/test_dbapi.py
  tests/providers/common/sql/hooks/test_sql.py
  tests/utils/test_log_handlers.py
Labels: area:providers, provider:cncf-kubernetes, provider:common-sql, provider:celery

#42647 Removed deprectaed extras dict from hatch build
  hatch_build.py
  newsfragments/42647.significant.rst
Labels: airflow3.0:candidate, airflow3.0:breaking

#42764 Removed conditional check for task context logging in airflow version 2.8.0 and above
  airflow/providers/amazon/aws/log/s3_task_handler.py
  airflow/providers/elasticsearch/log/es_task_handler.py
  airflow/providers/google/cloud/log/gcs_task_handler.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/providers/opensearch/log/os_task_handler.py
Labels: provider:google, provider:microsoft-azure, provider:amazon-aws, area:providers, area:logging, provider:elasticsearch, provider:opensearch

#42773 Fix canary build test test_cli_internal_api_background process termination
  tests/cli/commands/test_internal_api_command.py
Labels: area:CLI

#42781 Fix canary build test test_cli_fastapi_api_background process termination
  tests/cli/commands/_common_cli_classes.py
  tests/cli/commands/test_fastapi_api_command.py
  tests/cli/commands/test_internal_api_command.py
Labels: area:CLI

#42791 Fix: update Breeze to print correct FastAPI API port
  dev/breeze/src/airflow_breeze/utils/visuals.py
Labels: area:dev-tools

#42760 Add standard provider to chicken-egg-providers
  dev/breeze/src/airflow_breeze/global_constants.py
  prod_image_installed_providers.txt
Labels: area:dev-tools

#42795 Remove burdensome eslint rules
  airflow/ui/.prettierignore
  airflow/ui/eslint.config.js
  airflow/ui/rules/core.js
  airflow/ui/rules/react.js
  airflow/ui/src/App.test.tsx
  airflow/ui/src/components/DataTable/DataTable.tsx
  airflow/ui/src/pages/DagsList/DagsList.tsx
Labels: area:UI

#41220 kubernetes executor cleanup_stuck_queued_tasks optimization
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/cncf/kubernetes/provider.yaml
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes

#42705 FIX: Only pass connection to sqlalchemy engine in JdbcHook
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/jdbc/hooks/jdbc.py
  tests/providers/jdbc/hooks/test_jdbc.py
Labels: area:providers, provider:common-sql, provider:jdbc

#42777 The spark hook resolve_kerberos_principal function code update when airflow version 2.8.0 and above
  airflow/providers/apache/spark/hooks/spark_submit.py
Labels: area:providers, provider:apache-spark

#42799 AIP-84 Simplify route definition
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/public/connections.py
  airflow/api_fastapi/views/public/dags.py
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Labels: area:UI

#42735 fix(assets/managers): fix error handling file loc when asset alias resolved into new assets
  airflow/assets/manager.py
  tests/assets/test_manager.py
Labels: type:bug-fix, area:datasets, airflow3.0:candidate

#42733 fix(datasets/managers): fix error handling file loc when dataset alias resolved into new datasets
  airflow/datasets/manager.py
  tests/datasets/test_manager.py
Labels: type:bug-fix, area:datasets

#42798 AIP-84 Delete Variable
  airflow/api_connexion/endpoints/variable_endpoint.py
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/views/public/__init__.py
  airflow/api_fastapi/views/public/variables.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/views/public/test_variables.py
Labels: area:API, area:UI, AIP-84, legacy api

#42819 Remove more burdensome eslint rules
  airflow/ui/rules/core.js
  airflow/ui/src/components/DataTable/searchParams.ts
Labels: area:UI

#42809 Updating pre-commit hook and prometheus statsd exporter versions from failed dependency check
  .pre-commit-config.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:dev-tools, area:helm-chart

#42673 feat: allow customizing podManagementPolicy
  chart/templates/workers/worker-deployment.yaml
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#42828 Fix import sequencing of backfill and dagrun models
  airflow/models/backfill.py
  airflow/models/dagrun.py
  tests/cli/conftest.py
  tests/conftest.py
Labels: area:CLI

#42813 Add warning log in`DatabricksTaskBaseOperator` when task_key>100
  airflow/providers/databricks/operators/databricks.py
Labels: area:providers, provider:databricks

#42836 Switch `kuberenetes_tests` to run with `uv run`
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
Labels: area:dev-tools

#42767 CI providers discovery update when airflow min 2.7.0
  scripts/in_container/verify_providers.py
Labels: area:dev-tools

#42838 Make Scarf details more prominent in 2.10 release notes
  RELEASE_NOTES.rst
  airflow/reproducible_build.yaml
  docs/apache-airflow/faq.rst
Labels: kind:documentation

#42737 Add ability to provide proxy for dbt Cloud connection
  airflow/providers/dbt/cloud/hooks/dbt.py
  docs/apache-airflow-providers-dbt-cloud/connections.rst
  tests/providers/dbt/cloud/hooks/test_dbt.py
Labels: area:providers, kind:documentation, provider:dbt-cloud

#42839 Update CODEOWNERS to update Kaxil's entry
  .github/CODEOWNERS
Labels: area:dev-tools

#42832 better docs can save time
  docs/apache-airflow-providers-amazon/img/aws-secrets-manager-gcp.png
  docs/apache-airflow-providers-amazon/secrets-backends/aws-secrets-manager.rst
Labels: provider:amazon-aws, area:providers, kind:documentation

#42830 Remove `sqlalchemy-redshift` dependency from Amazon provider
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/index.rst
  generated/provider_dependencies.json
Labels: area:providers

#42840 Simplify code for recent dbt provider change
  airflow/providers/dbt/cloud/hooks/dbt.py
Labels: area:providers, provider:dbt-cloud

#42629 AIP-84 Migrate views /object/historical_metrics_data to Fast API
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/parameters.py
  airflow/api_fastapi/serializers/dashboard.py
  airflow/api_fastapi/views/ui/__init__.py
  airflow/api_fastapi/views/ui/dashboard.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/www/views.py
  tests/api_fastapi/views/ui/test_dashboard.py
Labels: area:UI

#42779 Add support to filter by last dagrun state in UI.
  airflow/ui/src/pages/DagsList/DagsFilters.tsx
  airflow/ui/src/pages/DagsList/DagsList.tsx
Labels: area:UI

#41814 feat(datasets): make strict_dataset_uri_validation default to True
  airflow/assets/__init__.py
  airflow/config_templates/config.yml
  docs/apache-airflow/authoring-and-scheduling/assets.rst
  newsfragments/41814.significant.rst
  tests/assets/tests_asset.py
  tests/io/test_path.py
Labels: airflow3.0:breaking

#42815 Fix mark as success when pod fails while fetching log
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#42855 Fix spelling; `Airlfow` -> `Airflow`
  airflow/providers/elasticsearch/CHANGELOG.rst
Labels: area:providers, provider:elasticsearch

#42847 Docs: Add Template field related info for python operators
  docs/apache-airflow/howto/operator/python.rst
Labels: kind:documentation, area:core-operators

#42834 AIP-84 Get Variable
  airflow/api_connexion/endpoints/variable_endpoint.py
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/serializers/variables.py
  airflow/api_fastapi/views/public/variables.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/views/public/test_variables.py
Labels: AIP-84, legacy api

#42845 Move test of DagRun.update_state to better place
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagrun.py
Labels: area:Scheduler

#42864 Revert "Remove `sqlalchemy-redshift` dependency from Amazon provider"
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/index.rst
  generated/provider_dependencies.json
Labels: provider:amazon-aws, area:providers, kind:documentation

#42841 fix PyDocStyle checks
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_cluster_activity.py
  tests/www/views/test_views_connection.py
  tests/www/views/test_views_dagrun.py
  tests/www/views/test_views_dataset.py
  tests/www/views/test_views_decorators.py
  tests/www/views/test_views_extra_links.py
  tests/www/views/test_views_grid.py
  tests/www/views/test_views_home.py
  tests/www/views/test_views_log.py
  tests/www/views/test_views_pool.py
  tests/www/views/test_views_rendered.py
Labels: area:webserver

#42867 Revert Asset to Dataset for Core Extension Doc
  docs/apache-airflow-providers/core-extensions/asset-schemes.rst
  docs/apache-airflow-providers/howto/create-custom-providers.rst
  docs/exts/operators_and_hooks_ref.py
Labels: kind:documentation

#42872 Fix deprecated stage names for Pre-commit
  .pre-commit-config.yaml
Labels: area:dev-tools

#42854 Fix ui lint pre-commit interactive mode
  scripts/ci/pre_commit/compile_ui_assets.py
  scripts/ci/pre_commit/compile_ui_assets_dev.py
  scripts/ci/pre_commit/lint_ui.py
Labels: area:dev-tools

#42871 Fix retry configuration in k8s tests
  kubernetes_tests/test_base.py
Labels: provider:cncf-kubernetes

#42880 Bump `blacken-docs` pre-commit
  .pre-commit-config.yaml
Labels: area:dev-tools

#42873 Exclude "not-ready" providers when building docs
  docs/apache-airflow/authoring-and-scheduling/datasets.rst
  docs/apache-airflow/authoring-and-scheduling/index.rst
  docs/apache-airflow/templates-ref.rst
  docs/exts/provider_yaml_utils.py
Labels: kind:documentation

#42794 Move Hooks to Standard provider
  airflow/providers_manager.py
  airflow/sensors/filesystem.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/errors.rst
  docs/apache-airflow/operators-and-hooks-ref.rst
  providers/src/airflow/providers/standard/hooks/__init__.py
  providers/src/airflow/providers/standard/hooks/filesystem.py
  providers/src/airflow/providers/standard/hooks/package_index.py
  providers/src/airflow/providers/standard/hooks/subprocess.py
  providers/src/airflow/providers/standard/operators/bash.py
  providers/src/airflow/providers/standard/provider.yaml
  providers/tests/standard/hooks/__init__.py
  providers/tests/standard/hooks/test_filesystem.py
  providers/tests/standard/hooks/test_package_index.py
  providers/tests/standard/hooks/test_subprocess.py
  tests/sensors/test_filesystem.py
Labels: area:providers, area:dev-tools, kind:documentation, area:core-operators, provider:standard

#42858 Fix dag warning documentation
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, type:bug-fix, area:UI, legacy ui, legacy api

#42883 Fix issue generation for providers
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#42848 AIP-84 Migrate the public endpoint Get DAG to FastAPI
  airflow/api_fastapi/openapi/v1-generated.yaml
  airflow/api_fastapi/serializers/dags.py
  airflow/api_fastapi/views/public/dags.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/views/public/test_dags.py
Labels: area:UI

#42888 Fix dag warning documentation (#42858)
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
Labels: area:webserver, area:API, type:bug-fix, area:UI

#42878 Move the session auth backend to FAB auth manager
  providers/src/airflow/providers/fab/auth_manager/api/auth/backend/session.py
  providers/tests/fab/auth_manager/api/auth/backend/test_session.py
Labels: area:providers, provider:fab

#42869 Move user and roles schemas to fab provider
  providers/src/airflow/providers/fab/auth_manager/api_endpoints/role_and_permission_endpoint.py
  providers/src/airflow/providers/fab/auth_manager/api_endpoints/user_endpoint.py
  providers/src/airflow/providers/fab/auth_manager/schemas/__init__.py
  providers/src/airflow/providers/fab/auth_manager/schemas/role_and_permission_schema.py
  providers/src/airflow/providers/fab/auth_manager/schemas/user_schema.py
  providers/tests/fab/auth_manager/schemas/__init__.py
  providers/tests/fab/auth_manager/schemas/test_role_and_permission_schema.py
  providers/tests/fab/auth_manager/schemas/test_user_schema.py
Labels: area:providers, provider:fab, legacy api

#42915 Improving validation of task retries to handle None values (#42532)
  airflow/models/baseoperator.py
Labels: type:bug-fix, area:core

#42916 Mark TestGKEStartKueueInsideClusterOperator tests with flaky decorator
  providers/tests/google/cloud/operators/test_kubernetes_engine.py
Labels: provider:google, area:providers

#42761 Remove dag.run() method
  airflow/executors/executor_loader.py
  airflow/models/dag.py
  contributing-docs/quick-start-ide/contributors_quick_start_pycharm.rst
  contributing-docs/quick-start-ide/contributors_quick_start_vscode.rst
  contributing-docs/quick-start-ide/images/pycharm_add_configuration.png
  contributing-docs/quick-start-ide/images/pycharm_add_env_variable.png
  contributing-docs/testing/dag_testing.rst
  dev/tests_common/test_utils/system_tests.py
  dev/tests_common/test_utils/system_tests_class.py
  docs/apache-airflow/core-concepts/debug.rst
  providers/src/airflow/providers/google/marketing_platform/example_dags/example_display_video.py
  providers/tests/google/cloud/operators/test_dataprep_system.py
  providers/tests/google/cloud/operators/test_datastore_system.py
  providers/tests/google/cloud/transfers/test_facebook_ads_to_gcs_system.py
  providers/tests/google/cloud/transfers/test_salesforce_to_gcs_system.py
  providers/tests/google/marketing_platform/operators/test_display_video_system.py
  providers/tests/system/google/cloud/dataprep/example_dataprep.py
  tests/cli/commands/test_dag_command.py
  tests/core/test_example_dags_system.py
  tests/dags/test_future_start_date.py
  tests/dags/test_issue_1225.py
  tests/jobs/test_backfill_job.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_xcom_arg.py
Labels: provider:google, area:providers, area:dev-tools, kind:documentation, area:Executors-core

#42837 Add test for behavior for paused backfill
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler

#42785 Use url_from_endpoint inside HttpHook.
  providers/src/airflow/providers/http/hooks/http.py
Labels: area:providers, provider:http

#42919 Fix typo in Breeze
  dev/breeze/doc/images/output_testing.svg
  dev/breeze/doc/images/output_testing.txt
  dev/breeze/doc/images/output_testing_non-db-tests.svg
  dev/breeze/doc/images/output_testing_non-db-tests.txt
  dev/breeze/doc/images/output_testing_tests.svg
  dev/breeze/doc/images/output_testing_tests.txt
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
Labels: area:dev-tools, changelog:skip

#42887 Docs: Add templating info to TaskFlow tutorial
  airflow/example_dags/sql/tutorial_taskflow_template.sql
  airflow/example_dags/tutorial_taskflow_templates.py
  docs/apache-airflow/tutorial/taskflow.rst
Labels: kind:documentation

#42793 Add possibility to override the conn type for Druid
  providers/src/airflow/providers/apache/druid/hooks/druid.py
  providers/tests/apache/druid/hooks/test_druid.py
Labels: area:providers, provider:apache-druid

#42925 fix: HttpSensorTrigger to include `method` when serializing
  providers/src/airflow/providers/http/triggers/http.py
  providers/tests/http/triggers/test_http.py
Labels: area:providers, provider:http

#42863 AIP-84 Fix dag display name search
  airflow/models/dag.py
  tests/api_fastapi/views/public/test_dags.py
Labels: AIP-84

#42936 Allow python 3.12 for the breeze release commands
  dev/breeze/src/airflow_breeze/utils/python_versions.py
Labels: area:dev-tools

#42897 Render errors when getting a list of dags
  airflow/ui/.prettierignore
  airflow/ui/pnpm-lock.yaml
  airflow/ui/src/components/DataTable/DataTable.tsx
  airflow/ui/src/components/ErrorAlert.tsx
  airflow/ui/src/main.tsx
  airflow/ui/src/pages/DagsList/DagsList.tsx
Labels: area:UI

#42901 Remove the referrer from Webserver to Scarf
  airflow/www/templates/airflow/dags.html
  docs/apache-airflow/faq.rst
Labels: area:webserver, area:UI

#42624 [KubernetesExecutor] Don't skip succeeded status
  providers/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  providers/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
  providers/tests/cncf/kubernetes/executors/test_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes

#42942 Remove the referrer from Webserver to Scarf (#42901)
  airflow/www/templates/airflow/dags.html
Labels: area:webserver, area:UI

#42940 Increase backoff_factor and add try/catch in k8s tests
  kubernetes_tests/test_base.py
Labels: provider:cncf-kubernetes

#42944 Consistent python version checks and troubleshooting
  dev/breeze/doc/04_troubleshooting.rst
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/python_versions.py
  providers/src/airflow/providers/apache/beam/provider.yaml
Labels: area:providers, area:dev-tools, provider:apache-beam

#42941 Update README.rst
  docs/README.rst
Labels: kind:documentation

#42922 Add a "backfill create" command
  airflow/cli/cli_config.py
  airflow/cli/commands/backfill_command.py
  airflow/cli/commands/dag_command.py
  airflow/executors/executor_loader.py
  airflow/models/dag.py
  tests/cli/commands/test_backfill_command.py
  tests/cli/commands/test_dag_command.py
  tests/jobs/test_backfill_job.py
Labels: area:CLI, area:API, area:Executors-core, legacy api

#42952 Fix SNOWFLAKE_CONN_ID and DAG_ID in Snowpark system tests
  providers/tests/system/snowflake/example_snowpark_decorator.py
  providers/tests/system/snowflake/example_snowpark_operator.py
Labels: area:providers, provider:snowflake

#42958 Fix broken links in Release Management docs
  dev/breeze/doc/09_release_management_tasks.rst
Labels: changelog:skip

#42954 Restrict looker-sdk version 24.18.0 and microsoft-kiota-http 1.3.4
  generated/provider_dependencies.json
  providers/src/airflow/providers/amazon/aws/hooks/appflow.py
  providers/src/airflow/providers/google/provider.yaml
  providers/src/airflow/providers/microsoft/azure/provider.yaml
Labels: provider:google, area:providers

#42946 Chart: Fix VCT for scheduler in local and persistent mode
  chart/templates/scheduler/scheduler-deployment.yaml
Labels: area:helm-chart
