Repository apache/airflow, pull requests merged in 2024-12, with the labels that each got.

#44527 Revert "Remove AIP-44 from airflow/sensors/base.py"
  airflow/sensors/base.py
Labels: area:core-operators

#44528 Remove mypy errors from semantic merge problems due to Internal API removal
  providers/src/airflow/providers/edge/models/edge_logs.py
  providers/src/airflow/providers/edge/worker_api/routes/_v2_routes.py
  providers/src/airflow/providers/edge/worker_api/routes/logs.py
Labels: area:providers, provider:edge

#44279 BigQueryInsertJobOperator: log transient error and check job state before marking task as success
  providers/src/airflow/providers/google/cloud/operators/bigquery.py
  providers/tests/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#44433 Migrate Edge calls for Worker to FastAPI part 3 - Jobs routes
  providers/src/airflow/providers/edge/CHANGELOG.rst
  providers/src/airflow/providers/edge/__init__.py
  providers/src/airflow/providers/edge/cli/api_client.py
  providers/src/airflow/providers/edge/cli/edge_command.py
  providers/src/airflow/providers/edge/openapi/edge_worker_api_v1.yaml
  providers/src/airflow/providers/edge/provider.yaml
  providers/src/airflow/providers/edge/worker_api/app.py
  providers/src/airflow/providers/edge/worker_api/datamodels.py
  providers/src/airflow/providers/edge/worker_api/routes/_v2_routes.py
  providers/src/airflow/providers/edge/worker_api/routes/jobs.py
  providers/tests/edge/cli/test_edge_command.py
Labels: area:providers, area:API, kind:documentation, AIP-69, provider:edge

#44434 Migrate Edge calls for Worker to FastAPI part 4 - Cleanup
  providers/src/airflow/providers/edge/CHANGELOG.rst
  providers/src/airflow/providers/edge/__init__.py
  providers/src/airflow/providers/edge/cli/api_client.py
  providers/src/airflow/providers/edge/models/edge_job.py
  providers/src/airflow/providers/edge/models/edge_logs.py
  providers/src/airflow/providers/edge/models/edge_worker.py
  providers/src/airflow/providers/edge/openapi/edge_worker_api_v1.yaml
  providers/src/airflow/providers/edge/provider.yaml
  providers/src/airflow/providers/edge/worker_api/routes/_v2_routes.py
  providers/src/airflow/providers/edge/worker_api/routes/jobs.py
  providers/tests/edge/models/test_edge_job.py
Labels: area:providers, kind:documentation, AIP-69, provider:edge

#44530 Remove AIP-44 from task_sdk/src/airflow/sdk/definitions/asset/__init__.py
  task_sdk/src/airflow/sdk/definitions/asset/__init__.py
Labels: area:task-sdk

#44532 Remove AIP-44 from airflow/dag_processing/processor.py
  airflow/dag_processing/processor.py
Labels: area:Scheduler, full tests needed

#44529 Remove AIP-44 from airflow/sensors/base.py (2nd Attempt)
  airflow/sensors/base.py
Labels: full tests needed, area:core-operators

#44531 AIP-81 Implement POST/Insert Multiple Connections in REST API (FastAPI)
  airflow/api_fastapi/core_api/datamodels/connections.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/connections.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_connections.py
Labels: area:API, area:UI

#44540 Remove AIP-44 from taskinstance
  airflow/cli/commands/task_command.py
  airflow/jobs/local_task_job_runner.py
  airflow/models/renderedtifields.py
  airflow/models/skipmixin.py
  airflow/models/taskinstance.py
  airflow/models/taskinstancehistory.py
  airflow/models/taskmap.py
  airflow/models/taskreschedule.py
  airflow/operators/branch.py
  airflow/sensors/base.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/utils/context.pyi
  airflow/utils/log/file_task_handler.py
  providers/src/airflow/providers/amazon/aws/transfers/google_api_to_s3.py
  providers/src/airflow/providers/standard/operators/bash.py
Labels: provider:amazon-aws, area:Scheduler, area:CLI, area:providers, area:logging, area:serialization, full tests needed, area:core-operators, provider:standard

#44535 Update social accounts links
  README.md
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  dev/breeze/src/airflow_breeze/templates/pyproject_TEMPLATE.toml.jinja2
  generated/PYPI_README.md
  pyproject.toml
Labels: area:dev-tools

#44546 Remove AIP-44 code from renderedtifields.py
  airflow/models/renderedtifields.py
  providers/src/airflow/providers/standard/operators/bash.py
Labels: area:providers, provider:standard

#44545 Add core operators/sensors/triggers module deprecations
  airflow/operators/__init__.py
  airflow/sensors/__init__.py
  airflow/triggers/__init__.py
Labels: area:core-operators

#44541 Remove Provider Deprecations in Standard
  airflow/decorators/__init__.pyi
  providers/src/airflow/providers/standard/operators/bash.py
  providers/src/airflow/providers/standard/operators/python.py
  providers/tests/standard/operators/test_python.py
  providers/tests/standard/utils/test_python_virtualenv.py
  providers/tests/system/docker/example_taskflow_api_docker_virtualenv.py
  tests/decorators/test_python_virtualenv.py
  tests/utils/test_preexisting_python_virtualenv_decorator.py
Labels: area:providers, full tests needed, provider:standard

#44549 Removes AIP-44 from dag processing manager and internal_api_call
  airflow/api_internal/internal_api_call.py
  airflow/dag_processing/manager.py
Labels: area:Scheduler

#44221 Fix ORM vs migration files inconsistencies
  airflow/migrations/versions/0010_2_9_0_add_run_id_to_audit_log_table_and_change_event_name_length.py
  airflow/migrations/versions/0028_3_0_0_drop_ab_user_id_foreign_key.py
  airflow/migrations/versions/0032_3_0_0_drop_execution_date_unique.py
  airflow/migrations/versions/0033_3_0_0_add_tables_for_backfill.py
  airflow/migrations/versions/0036_3_0_0_add_name_field_to_dataset_model.py
  airflow/migrations/versions/0040_3_0_0_add_exception_reason_and_logical_date_.py
  airflow/migrations/versions/0041_3_0_0_rename_dataset_as_asset.py
  airflow/migrations/versions/0042_3_0_0_add_uuid_primary_key_to_task_instance_.py
  airflow/migrations/versions/0049_3_0_0_remove_pickled_data_from_xcom_table.py
  airflow/models/__init__.py
  airflow/models/asset.py
  docs/apache-airflow/img/airflow_erd.sha256
  scripts/in_container/run_generate_migration.sh
  tests/utils/test_db.py
  tests/utils/test_db_cleanup.py
  tests_common/test_utils/db.py
Labels: area:dev-tools, kind:documentation, full tests needed, area:db-migrations

#44551 Remove all remnants of "internal_api_call"
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  docs/conf.py
  providers/src/airflow/providers/edge/cli/edge_command.py
  scripts/cov/restapi_coverage.py
Labels: area:providers, area:dev-tools, kind:documentation, provider:edge

#44550 Revert Edge Datamodelling for Pydantic problems in Py3.9
  providers/src/airflow/providers/edge/worker_api/datamodels.py
Labels: area:providers, type:bug-fix, full tests needed, all versions, provider:edge

#44469 Handle downloading github raw files gracefully for 403 status code
  dev/breeze/src/airflow_breeze/utils/github.py
Labels: area:dev-tools

#43774 Add missing attribute "name" and "group" for Asset and "group" for AssetAlias in serialization, api and methods
  airflow/api_connexion/endpoints/asset_endpoint.py
  airflow/api_connexion/schemas/asset_schema.py
  airflow/api_fastapi/core_api/datamodels/assets.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/assets.py
  airflow/assets/manager.py
  airflow/lineage/hook.py
  airflow/serialization/serialized_objects.py
  airflow/timetables/base.py
  airflow/timetables/simple.py
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  newsfragments/43774.significant.rst
  providers/tests/openlineage/plugins/test_utils.py
  task_sdk/src/airflow/sdk/definitions/asset/__init__.py
  task_sdk/tests/defintions/test_asset.py
  tests/api_connexion/endpoints/test_asset_endpoint.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/schemas/test_asset_schema.py
  tests/api_connexion/schemas/test_dag_schema.py
  tests/api_fastapi/core_api/routes/public/test_assets.py
  tests/api_fastapi/core_api/routes/ui/test_assets.py
  tests/assets/test_manager.py
  tests/dags/test_assets.py
  tests/dags/test_only_empty_tasks.py
  tests/decorators/test_python.py
  tests/io/test_path.py
  tests/jobs/test_scheduler_job.py
  tests/lineage/test_hook.py
  tests/listeners/test_asset_listener.py
  tests/models/test_dag.py
  tests/models/test_serialized_dag.py
  tests/serialization/test_dag_serialization.py
  tests/serialization/test_serde.py
  tests/serialization/test_serialized_objects.py
  tests/timetables/test_assets_timetable.py
  tests/utils/test_json.py
  tests/www/views/test_views_asset.py
  tests/www/views/test_views_grid.py
Labels: area:webserver, area:serialization, AIP-74, legacy api

#44563 Avoid lambda assignments
  airflow/serialization/serialized_objects.py
Labels: area:serialization

#44459 AIP-84 Graph Data update datamodel
  airflow/api_fastapi/core_api/datamodels/ui/structure.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/ui/__init__.py
  airflow/api_fastapi/core_api/routes/ui/structure.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/utils/task_group.py
  airflow/www/views.py
  task_sdk/src/airflow/sdk/definitions/taskgroup.py
  tests/api_fastapi/core_api/routes/ui/test_graph.py
  tests/api_fastapi/core_api/routes/ui/test_structure.py
  tests/utils/test_task_group.py
Labels: area:webserver, area:UI, AIP-84, area:task-sdk

#44574 Versionless bundles return None vs raising
  airflow/dag_processing/bundles/base.py
  airflow/dag_processing/bundles/local.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:Scheduler, AIP-66: DAG Bundle/Manifest

#44579 AIP-72: Improve handling of `deferred` state in Supervisor
  task_sdk/src/airflow/sdk/execution_time/supervisor.py
  task_sdk/src/airflow/sdk/execution_time/task_runner.py
  task_sdk/tests/execution_time/test_supervisor.py
Labels: area:task-execution-interface-aip72, area:task-sdk

#44580 Add fallback during `[core] dag_bundle_storage_path` retrieval
  airflow/dag_processing/bundles/base.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:Scheduler, AIP-66: DAG Bundle/Manifest

#44581 Add missing changelog to breaking change for Standard provider breaking changes
  providers/src/airflow/providers/standard/CHANGELOG.rst
Labels: area:providers, provider:standard

#44542 Remove Provider Deprecations in HTTP
  providers/src/airflow/providers/http/CHANGELOG.rst
  providers/src/airflow/providers/http/operators/http.py
Labels: area:providers, provider:http

#44544 Remove Provider Deprecations in SSH
  providers/src/airflow/providers/ssh/CHANGELOG.rst
  providers/src/airflow/providers/ssh/hooks/ssh.py
  providers/src/airflow/providers/ssh/operators/ssh.py
  providers/tests/ssh/hooks/test_ssh.py
Labels: area:providers, provider:ssh

#44583 Remove Provider Deprecations in Docker
  providers/src/airflow/providers/docker/CHANGELOG.rst
  providers/src/airflow/providers/docker/decorators/docker.py
  providers/src/airflow/providers/docker/operators/docker.py
  providers/tests/docker/decorators/test_docker.py
  providers/tests/docker/operators/test_docker.py
Labels: area:providers, provider:docker

#44582 Add support for a subdir in GitDagBundle
  airflow/dag_processing/bundles/git.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:Scheduler, AIP-66: DAG Bundle/Manifest

#44561 Add mTLS support to WebHDFSHook
  docs/apache-airflow-providers-apache-hdfs/connections.rst
  docs/spelling_wordlist.txt
  providers/src/airflow/providers/apache/hdfs/hooks/webhdfs.py
  providers/tests/apache/hdfs/hooks/test_webhdfs.py
Labels: area:providers, kind:documentation, provider:apache-hdfs

#44560 Small refactoring of example_cloud_sql_iam and example_composer system tests
  providers/tests/system/google/cloud/cloud_sql/example_cloud_sql_query_iam.py
  providers/tests/system/google/cloud/composer/example_cloud_composer.py
Labels: provider:google, area:providers

#44505 Fix tests badge in README.md
  README.md
  generated/PYPI_README.md
Labels: backport-to-v2-10-test

#44588 Remove comment about removing eval type backport
  hatch_build.py
Labels: area:dev-tools, area:API, area:production-image

#43978 Fix: ensure `bool(check_query_exists)` returns `True` or `False`
  airflow/utils/db.py
  tests/utils/test_db.py
Labels: type:bug-fix, backport-to-v2-10-test

#44591 Bump `ruff` to `0.8.1`
  .pre-commit-config.yaml
  hatch_build.py
Labels: area:dev-tools

#44558 Add 'airflow assets materialize'
  airflow/api/common/trigger_dag.py
  airflow/cli/cli_config.py
  airflow/cli/commands/asset_command.py
  tests/cli/commands/test_asset_command.py
Labels: area:CLI, area:API, AIP-75

#44565 Add host_proxy_cmd parameter to SSHHook and SFTPHook
  providers/src/airflow/providers/sftp/hooks/sftp.py
  providers/src/airflow/providers/ssh/hooks/ssh.py
  providers/tests/sftp/hooks/test_sftp.py
  providers/tests/ssh/hooks/test_ssh.py
Labels: area:providers, provider:ssh, provider:sftp

#44302 [Providers/HTTP] Add adapter parameter to HttpHook to allow custom requests adapters
  providers/src/airflow/providers/http/hooks/http.py
  providers/tests/http/hooks/test_http.py
Labels: area:providers, provider:http

#44602 Revert "Add 'airflow assets materialize' (#44558)"
  airflow/api/common/trigger_dag.py
  airflow/cli/cli_config.py
  airflow/cli/commands/asset_command.py
  tests/cli/commands/test_asset_command.py
Labels: area:CLI, area:API

#44457 Fix wrong display of multiline messages in the log after filtering
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.test.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
  airflow/www/static/js/utils/index.test.ts
  airflow/www/static/js/utils/index.ts
Labels: area:webserver, area:UI

#44603 Add 'airflow assets materialize' (again)
  airflow/api/common/trigger_dag.py
  airflow/cli/cli_config.py
  airflow/cli/commands/asset_command.py
  tests/cli/commands/test_asset_command.py
Labels: area:CLI, area:API, full tests needed

#44589 Add back `eval-type-backport` to entrypoint_ci.sh as pydantic workaround
  Dockerfile.ci
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools

#44611 Fix SQLite condition for detecting pickled data
  airflow/migrations/versions/0049_3_0_0_remove_pickled_data_from_xcom_table.py
  docs/apache-airflow/img/airflow_erd.sha256
Labels: kind:documentation, area:db-migrations

#44590 AIP-72: Port task success overtime to the Supervisor
  task_sdk/src/airflow/sdk/execution_time/comms.py
  task_sdk/src/airflow/sdk/execution_time/supervisor.py
  task_sdk/src/airflow/sdk/execution_time/task_runner.py
  task_sdk/tests/execution_time/test_supervisor.py
  task_sdk/tests/execution_time/test_task_runner.py
Labels: area:task-execution-interface-aip72, area:task-sdk

#43947 AIP-84 Refactor Filter Query Parameters
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/assets.py
  airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow/api_fastapi/core_api/routes/public/dag_stats.py
  airflow/api_fastapi/core_api/routes/public/dag_warning.py
  airflow/api_fastapi/core_api/routes/public/event_logs.py
  airflow/api_fastapi/core_api/routes/public/job.py
  airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
Labels: area:UI

#44586 Add DAG bundles model
  airflow/migrations/versions/0050_3_0_0_add_dagbundlemodel.py
  airflow/models/__init__.py
  airflow/models/dag.py
  airflow/models/dagbundle.py
  airflow/utils/db.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/utils/test_db_cleanup.py
Labels: kind:documentation, area:db-migrations, AIP-66: DAG Bundle/Manifest

#44622 Advise using pre-commit-uv when installing pre-commit with uv
  dev/breeze/src/airflow_breeze/utils/run_utils.py
Labels: area:dev-tools

#33718 Deferrable sensors can implement sensor timeout
  airflow/exceptions.py
  airflow/jobs/scheduler_job_runner.py
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/models/trigger.py
  airflow/sensors/base.py
  providers/src/airflow/providers/standard/sensors/time_delta.py
  tests/models/test_baseoperator.py
  tests/sensors/test_base.py
Labels: area:Scheduler, area:core-operators

#44585 Rename `head` to `tracking_ref` in `GitDagBundle`
  airflow/dag_processing/bundles/git.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:Scheduler, AIP-66: DAG Bundle/Manifest

#44630 Remove Provider Deprecations in Jenkins
  providers/src/airflow/providers/jenkins/CHANGELOG.rst
  providers/src/airflow/providers/jenkins/operators/jenkins_job_trigger.py
Labels: area:providers, provider:jenkins

#44631 Remove Provider Deprecations in Apache Livy
  providers/src/airflow/providers/apache/livy/CHANGELOG.rst
  providers/src/airflow/providers/apache/livy/operators/livy.py
  providers/tests/apache/livy/operators/test_livy.py
Labels: area:providers, provider:apache-livy

#44632 Remove Provider Deprecations in Mongo
  providers/src/airflow/providers/mongo/CHANGELOG.rst
  providers/src/airflow/providers/mongo/hooks/mongo.py
  providers/tests/mongo/hooks/test_mongo.py
Labels: area:providers, provider:mongo

#44623 Fix a couple comments
  airflow/dag_processing/processor.py
Labels: area:Scheduler

#44599 AIP-84 structure_data endpoint 404 not found for missing dag
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/ui/structure.py
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/ui/test_structure.py
Labels: area:UI, AIP-84

#44608 AIP-84 De-nest Dag Tags endpoint
  airflow/api_fastapi/core_api/datamodels/dag_tags.py
  airflow/api_fastapi/core_api/datamodels/dags.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/__init__.py
  airflow/api_fastapi/core_api/routes/public/dag_tags.py
  airflow/api_fastapi/core_api/routes/public/dags.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_dag_tags.py
  tests/api_fastapi/core_api/routes/public/test_dags.py
Labels: area:UI, AIP-84

#44572 AIP-38 Plug Graph on backend endpoint
  airflow/api_fastapi/core_api/datamodels/ui/structure.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/ui/src/pages/DagsList/Dag/DagVizModal.tsx
  airflow/ui/src/pages/DagsList/Dag/Graph/Graph.tsx
  airflow/ui/src/pages/DagsList/Dag/Graph/TaskName.tsx
  airflow/ui/src/pages/DagsList/Dag/Graph/data.ts
  airflow/ui/src/pages/DagsList/Dag/Graph/reactflowUtils.ts
  airflow/ui/src/pages/DagsList/Dag/Graph/useGraphLayout.ts
  airflow/ui/src/pages/DagsList/Dag/Tabs.tsx
  airflow/utils/task_group.py
  tests/utils/test_task_group.py
Labels: area:webserver, area:UI, AIP-38, area:task-sdk

#44369 AIP-82 Send asset change event when trigger fires
  airflow/jobs/triggerer_job_runner.py
  airflow/models/trigger.py
  tests/models/test_trigger.py
Labels: area:Scheduler, area:Triggerer

#44651 AIP-84 Add operator name field to structure data endpoint response
  airflow/api_fastapi/core_api/datamodels/ui/structure.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/utils/task_group.py
  tests/api_fastapi/core_api/routes/ui/test_structure.py
  tests/utils/test_task_group.py
Labels: AIP-84

#44655 AIP-38 Add operator name and type to graph
  airflow/ui/src/pages/DagsList/Dag/Graph/TaskNode.tsx
  airflow/ui/src/pages/DagsList/Dag/Graph/reactflowUtils.ts
  airflow/ui/src/pages/DagsList/Dag/Graph/useGraphLayout.ts
Labels: area:UI, AIP-38

#44657 AIP-84 Remove sensor from structure node type and rename attribute
  airflow/api_fastapi/core_api/datamodels/ui/structure.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/utils/task_group.py
Labels: area:UI, AIP-84

#44584 Revert "Revert Edge Datamodelling for Pydantic problems in Py3.9"
  providers/src/airflow/providers/edge/worker_api/datamodels.py
Labels: area:providers, full tests needed, include success outputs, all versions, provider:edge

#44566 Remove deprecations from Databricks Provider
  providers/src/airflow/providers/databricks/CHANGELOG.rst
  providers/src/airflow/providers/databricks/hooks/databricks_sql.py
  providers/src/airflow/providers/databricks/operators/databricks.py
  providers/src/airflow/providers/databricks/operators/databricks_sql.py
  providers/tests/databricks/hooks/test_databricks_sql.py
  providers/tests/databricks/operators/test_databricks_sql.py
  providers/tests/databricks/sensors/test_databricks_partition.py
  providers/tests/databricks/sensors/test_databricks_sql.py
Labels: area:providers, provider:databricks

#44577 Remove deprecated code from Airbyte provider
  providers/src/airflow/providers/airbyte/CHANGELOG.rst
  providers/src/airflow/providers/airbyte/sensors/airbyte.py
  providers/tests/airbyte/sensors/test_airbyte.py
Labels: area:providers, provider:airbyte

#44661 Include .ssh dir when --forward-credentials
  scripts/ci/docker-compose/forward-credentials.yml
Labels: area:dev-tools

#44660 Add basic tmux for dummies section
  dev/breeze/doc/02_customizing.rst
Labels: area:dev-tools

#44595 Show alises with assets 'list' and 'details' CLI
  airflow/cli/cli_config.py
  airflow/cli/commands/remote_commands/asset_command.py
  tests/cli/commands/remote_commands/test_asset_command.py
Labels: area:CLI

#44666 Remove hash on GitDagBundle
  airflow/dag_processing/bundles/git.py
Labels: area:Scheduler

#44680 Fix name of private function in compat provider
  providers/src/airflow/providers/common/compat/lineage/hook.py
Labels: area:providers, provider:common-compat

#44562 AIP-72: Adding support to Set an Airflow Variable from Task SDK
  airflow/api_fastapi/execution_api/datamodels/variable.py
  task_sdk/src/airflow/sdk/api/client.py
  task_sdk/src/airflow/sdk/api/datamodels/_generated.py
  task_sdk/src/airflow/sdk/execution_time/comms.py
  task_sdk/src/airflow/sdk/execution_time/supervisor.py
  task_sdk/tests/api/test_client.py
  task_sdk/tests/execution_time/test_supervisor.py
  tests/api_fastapi/execution_api/routes/test_variables.py
Labels: area:task-execution-interface-aip72, area:task-sdk

#44681 fix(providers/common/compat): add back add_input_dataset and add_output_dataset to NoOpCollector
  providers/src/airflow/providers/common/compat/lineage/hook.py
  providers/tests/common/compat/lineage/test_hook.py
Labels: area:providers, provider:common-compat

#44684 Bump uv to 0.5.6
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  scripts/ci/install_breeze.sh
  scripts/tools/setup_breeze
Labels: area:dev-tools, area:production-image

#44702 AIP-38 Fix Graph not updating
  airflow/ui/src/pages/DagsList/Dag/Graph/Graph.tsx
  airflow/ui/src/pages/DagsList/Dag/Graph/useGraphLayout.ts
Labels: area:UI, AIP-38

#44659 Correct new changelog breaking changes header
  providers/src/airflow/providers/docker/CHANGELOG.rst
  providers/src/airflow/providers/http/CHANGELOG.rst
  providers/src/airflow/providers/ssh/CHANGELOG.rst
  providers/src/airflow/providers/standard/CHANGELOG.rst
Labels: area:providers, provider:docker, provider:http, provider:ssh, provider:standard

#44645 Remove Provider Deprecations in Common SQL
  providers/src/airflow/providers/common/sql/CHANGELOG.rst
  providers/src/airflow/providers/common/sql/hooks/sql.py
  providers/tests/common/sql/hooks/test_sql.py
  scripts/ci/pre_commit/check_common_sql_dependency.py
Labels: area:providers, area:dev-tools, provider:common-sql

#44644 Remove Provider Deprecations in Atlassian Jira
  providers/src/airflow/providers/atlassian/jira/CHANGELOG.rst
  providers/src/airflow/providers/atlassian/jira/hooks/jira.py
  providers/tests/atlassian/jira/hooks/test_jira.py
Labels: area:providers, provider:atlassian-jira

#44699 Add DagFolderDagBundle to expose the DAG folder as a bundle
  airflow/dag_processing/bundles/dagfolder.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:Scheduler, AIP-66: DAG Bundle/Manifest

#44690 Fix accidental db tests in Task SDK
  airflow/dag_processing/collection.py
  airflow/models/asset.py
  airflow/models/dag.py
  airflow/utils/context.py
  providers/src/airflow/providers/common/compat/assets/__init__.py
  task_sdk/src/airflow/sdk/definitions/asset/__init__.py
  task_sdk/src/airflow/sdk/definitions/asset/decorators.py
  task_sdk/tests/conftest.py
  task_sdk/tests/defintions/test_asset.py
  task_sdk/tests/defintions/test_asset_decorators.py
  task_sdk/tests/defintions/test_baseoperator.py
  tests/models/test_asset.py
  tests/timetables/test_assets_timetable.py
Labels: area:providers, provider:common-compat, area:task-sdk

#44708 Get rid of AssetAliasCondition
  airflow/serialization/serialized_objects.py
  airflow/timetables/simple.py
  providers/tests/openlineage/plugins/test_utils.py
  task_sdk/src/airflow/sdk/definitions/asset/__init__.py
  task_sdk/tests/defintions/test_asset.py
  tests/models/test_dag.py
  tests/timetables/test_assets_timetable.py
Labels: area:serialization, area:task-sdk

#44709 Make AssetAliasEvent a class context.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/utils/context.py
  airflow/utils/context.pyi
  providers/src/airflow/providers/common/compat/assets/__init__.py
  task_sdk/src/airflow/sdk/definitions/asset/__init__.py
  tests/serialization/test_serialized_objects.py
  tests/utils/test_context.py
Labels: area:providers, area:serialization, provider:common-compat, area:task-sdk

#44679 Fixing cli test failure in CI
  tests/cli/test_cli_parser.py
Labels: area:CLI

#44625 feat: retrieve sftp file attrs onces instead multiple time
  providers/src/airflow/providers/sftp/hooks/sftp.py
  providers/tests/sftp/hooks/test_sftp.py
Labels: area:providers, provider:sftp

#44637 Remove Provider Deprecations in SendGrid
  providers/src/airflow/providers/sendgrid/CHANGELOG.rst
  providers/src/airflow/providers/sendgrid/utils/emailer.py
Labels: area:providers

#44716 [Edge] Make edge executor db access multi instance save
  providers/src/airflow/providers/edge/CHANGELOG.rst
  providers/src/airflow/providers/edge/__init__.py
  providers/src/airflow/providers/edge/executors/edge_executor.py
  providers/src/airflow/providers/edge/provider.yaml
Labels: area:providers, provider:edge

#44714 Remove unnecessary compatibility code in S3 asset import
  dev/breeze/src/airflow_breeze/global_constants.py
  generated/provider_dependencies.json
  providers/src/airflow/providers/amazon/aws/assets/s3.py
  providers/src/airflow/providers/amazon/provider.yaml
  providers/src/airflow/providers/common/compat/provider.yaml
Labels: provider:amazon-aws, area:providers, area:dev-tools, provider:common-compat

#44629 Remove Provider Deprecations in Elasticsearch
  providers/src/airflow/providers/elasticsearch/CHANGELOG.rst
  providers/src/airflow/providers/elasticsearch/hooks/elasticsearch.py
  providers/src/airflow/providers/elasticsearch/log/es_task_handler.py
  providers/src/airflow/providers/elasticsearch/provider.yaml
  providers/tests/elasticsearch/hooks/test_elasticsearch.py
  tests/always/test_project_structure.py
Labels: area:providers, area:logging, provider:elasticsearch

#44676 Added the ArangoDBCollectionOperator that executes collection operations in a ArangoDB database
  providers/src/airflow/providers/arangodb/hooks/arangodb.py
  providers/src/airflow/providers/arangodb/operators/arangodb.py
  providers/tests/arangodb/hooks/test_arangodb.py
  providers/tests/arangodb/operators/test_arangodb.py
Labels: area:providers, provider:arangodb

#44700 Removed deprecated code from provider Apach.beam
  providers/src/airflow/providers/apache/beam/CHANGELOG.rst
  providers/src/airflow/providers/apache/beam/triggers/beam.py
Labels: area:providers, provider:apache-beam

#44719 Deprecate VertexAI PaLM text generative model
  docs/apache-airflow-providers-google/operators/cloud/vertex_ai.rst
  providers/src/airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  providers/src/airflow/providers/google/cloud/operators/vertex_ai/generative_model.py
  providers/tests/google/cloud/hooks/vertex_ai/test_generative_model.py
  providers/tests/google/cloud/operators/vertex_ai/test_generative_model.py
  providers/tests/system/google/cloud/vertex_ai/example_vertex_ai_generative_model.py
  tests/always/test_project_structure.py
Labels: provider:google, area:providers, kind:documentation

#44627 Introduce gcp advance (V3) API translate native models operators
  docs/apache-airflow-providers-google/operators/cloud/translate.rst
  docs/spelling_wordlist.txt
  providers/src/airflow/providers/google/cloud/hooks/translate.py
  providers/src/airflow/providers/google/cloud/links/translate.py
  providers/src/airflow/providers/google/cloud/operators/translate.py
  providers/src/airflow/providers/google/provider.yaml
  providers/tests/google/cloud/operators/test_translate.py
  providers/tests/system/google/cloud/translate/example_translate_model.py
Labels: provider:google, area:providers, kind:documentation

#44638 Remove Provider Deprecations in DBT
  providers/src/airflow/providers/dbt/cloud/CHANGELOG.rst
  providers/src/airflow/providers/dbt/cloud/sensors/dbt.py
  providers/tests/dbt/cloud/sensors/test_dbt.py
Labels: area:providers, provider:dbt-cloud

#44728 Bumping common compat to 1.3.0
  providers/src/airflow/providers/common/compat/__init__.py
Labels: area:providers, provider:common-compat

#44711 Implement asset.multi
  task_sdk/src/airflow/sdk/definitions/asset/decorators.py
  task_sdk/tests/defintions/test_asset_decorators.py
Labels: AIP-75, area:task-sdk

#44729 Fix system test for Dataform operators
  docs/apache-airflow-providers-google/operators/cloud/dataform.rst
  providers/tests/system/google/cloud/dataform/example_dataform.py
Labels: provider:google, area:providers, kind:documentation

#44604 Implement card view for tasks view of a dag
  airflow/ui/src/components/TaskInstanceTooltip.tsx
  airflow/ui/src/pages/DagsList/Dag/Tasks/TaskCard.tsx
  airflow/ui/src/pages/DagsList/Dag/Tasks/TaskRecentRuns.tsx
  airflow/ui/src/pages/DagsList/Dag/Tasks/Tasks.tsx
  airflow/ui/src/pages/DagsList/Dag/Tasks/index.ts
  airflow/ui/src/router.tsx
Labels: area:UI

#44665 Remove Provider Deprecations in MySQL
  docs/apache-airflow-providers-mysql/operators.rst
  providers/src/airflow/providers/mysql/CHANGELOG.rst
  providers/src/airflow/providers/mysql/operators/__init__.py
  providers/src/airflow/providers/mysql/operators/mysql.py
  providers/src/airflow/providers/mysql/provider.yaml
  providers/tests/mysql/operators/__init__.py
  providers/tests/mysql/operators/test_mysql.py
Labels: area:providers, provider:mysql

#44720 Add information about chicken-egg providers in contributing docs
  contributing-docs/11_provider_packages.rst
  dev/README_RELEASE_PROVIDER_PACKAGES.md
Labels: area:dev-tools

#44677 Show version in new UI sidebar
  airflow/ui/src/layouts/Nav/Nav.tsx
Labels: area:UI

#44605 AIP-72: Adding support to Set an XCom from Task SDK
  task_sdk/src/airflow/sdk/api/client.py
  task_sdk/src/airflow/sdk/execution_time/comms.py
  task_sdk/src/airflow/sdk/execution_time/supervisor.py
  task_sdk/tests/api/test_client.py
  task_sdk/tests/execution_time/test_supervisor.py
Labels: area:task-execution-interface-aip72, area:task-sdk

#44456 AIP-82 Handle paused DAGs
  airflow/dag_processing/collection.py
  tests/dag_processing/test_collection.py
  tests/models/test_dag.py
  tests_common/test_utils/db.py
Labels: area:Scheduler

#44705 Remove Provider Deprecations in Postgres
  docs/apache-airflow-providers-postgres/operators/postgres_operator_howto_guide.rst
  docs/spelling_wordlist.txt
  providers/src/airflow/providers/postgres/CHANGELOG.rst
  providers/src/airflow/providers/postgres/hooks/postgres.py
  providers/src/airflow/providers/postgres/operators/__init__.py
  providers/src/airflow/providers/postgres/operators/postgres.py
  providers/src/airflow/providers/postgres/provider.yaml
  providers/tests/postgres/hooks/test_postgres.py
  providers/tests/postgres/operators/__init__.py
  providers/tests/postgres/operators/test_postgres.py
Labels: area:providers, provider:postgres

#44693 Remove deprecations from Slack Provider
  providers/src/airflow/providers/slack/CHANGELOG.rst
  providers/src/airflow/providers/slack/hooks/slack.py
  providers/src/airflow/providers/slack/notifications/slack_notifier.py
  providers/src/airflow/providers/slack/operators/slack.py
  providers/src/airflow/providers/slack/transfers/sql_to_slack.py
  providers/src/airflow/providers/slack/transfers/sql_to_slack_webhook.py
  providers/tests/slack/hooks/test_slack.py
  providers/tests/slack/operators/test_slack.py
  providers/tests/slack/transfers/test_sql_to_slack.py
  providers/tests/slack/transfers/test_sql_to_slack_webhook.py
Labels: area:providers, provider:slack

#44598 Removed deprecated code from hashicorp provider
  providers/src/airflow/providers/hashicorp/CHANGELOG.rst
  providers/src/airflow/providers/hashicorp/hooks/vault.py
  providers/src/airflow/providers/hashicorp/secrets/vault.py
  providers/tests/hashicorp/secrets/test_vault.py
Labels: area:providers, provider:hashicorp

#44704 Remove Provider Deprecations in Oracle
  docs/apache-airflow-providers-oracle/operators/index.rst
  providers/src/airflow/providers/oracle/CHANGELOG.rst
  providers/src/airflow/providers/oracle/example_dags/example_oracle.py
  providers/src/airflow/providers/oracle/hooks/oracle.py
  providers/src/airflow/providers/oracle/operators/oracle.py
  providers/tests/oracle/operators/test_oracle.py
Labels: area:providers, full tests needed, provider:oracle

#44633 Remove Provider Deprecations in Redis
  providers/src/airflow/providers/redis/CHANGELOG.rst
  providers/src/airflow/providers/redis/hooks/redis.py
  providers/tests/redis/hooks/test_redis.py
Labels: area:providers, provider:redis

#44715 Remove deprecations from Apache hive Provider
  providers/src/airflow/providers/apache/hive/CHANGELOG.rst
  providers/src/airflow/providers/apache/hive/hooks/hive.py
Labels: area:providers, provider:apache-hive

#44748 Remove Provider Deprecations in Vertica
  providers/src/airflow/providers/vertica/CHANGELOG.rst
  providers/src/airflow/providers/vertica/operators/__init__.py
  providers/src/airflow/providers/vertica/operators/vertica.py
  providers/src/airflow/providers/vertica/provider.yaml
  providers/tests/vertica/operators/__init__.py
  providers/tests/vertica/operators/test_vertica.py
Labels: area:providers, provider:vertica

#44746 Remove deprecations from Teradata Provider
  providers/src/airflow/providers/teradata/CHANGELOG.rst
  providers/src/airflow/providers/teradata/hooks/teradata.py
  providers/src/airflow/providers/teradata/transfers/teradata_to_teradata.py
  providers/tests/teradata/hooks/test_teradata.py
  providers/tests/teradata/transfers/test_teradata_to_teradata.py
Labels: area:providers, provider:teradata

#44635 feat(datasets): add backward compat for DatasetAll, DatasetAny, expand_alias_to_datasets and DatasetAliasEvent
  airflow/datasets/__init__.py
  tests/datasets/test_dataset.py
Labels: area:datasets, AIP-74

#44745 Remove deprecations from Weaviate Provider
  providers/src/airflow/providers/weaviate/CHANGELOG.rst
  providers/src/airflow/providers/weaviate/operators/weaviate.py
  providers/tests/weaviate/operators/test_weaviate.py
Labels: area:providers, provider:weaviate

#44740 Remove deprecations from SFTP Provider
  providers/src/airflow/providers/sftp/CHANGELOG.rst
  providers/src/airflow/providers/sftp/hooks/sftp.py
  providers/src/airflow/providers/sftp/operators/sftp.py
  providers/tests/sftp/hooks/test_sftp.py
  providers/tests/sftp/operators/test_sftp.py
Labels: area:providers, full tests needed, provider:sftp

#44750 Random doc typos
  contributing-docs/testing/unit_tests.rst
Labels: area:dev-tools, backport-to-v2-10-test

#44707 Remove Provider Deprecations in Sqlite
  docs/apache-airflow-providers-sqlite/operators.rst
  providers/src/airflow/providers/sqlite/CHANGELOG.rst
  providers/src/airflow/providers/sqlite/operators/__init__.py
  providers/src/airflow/providers/sqlite/operators/sqlite.py
  providers/src/airflow/providers/sqlite/provider.yaml
  providers/tests/sqlite/operators/__init__.py
  providers/tests/sqlite/operators/test_sqlite.py
Labels: area:providers, full tests needed, provider:sqlite

#44756 Remove deprecations from Snowflake Provider
  providers/src/airflow/providers/snowflake/CHANGELOG.rst
  providers/src/airflow/providers/snowflake/hooks/snowflake.py
  providers/src/airflow/providers/snowflake/operators/snowflake.py
Labels: area:providers, provider:snowflake

#44757 Remove deprecations from Tableau Provider
  providers/src/airflow/providers/tableau/CHANGELOG.rst
  providers/src/airflow/providers/tableau/hooks/tableau.py
  providers/tests/tableau/hooks/test_tableau.py
Labels: area:providers, provider:tableau

#44760 Fix flaky supervisor conflict test
  task_sdk/tests/execution_time/test_supervisor.py
Labels: area:task-sdk

#44761 Remove Provider Deprecations in Microsoft-PSRP
  providers/src/airflow/providers/microsoft/psrp/CHANGELOG.rst
  providers/src/airflow/providers/microsoft/psrp/hooks/psrp.py
  providers/tests/microsoft/psrp/hooks/test_psrp.py
Labels: area:providers, provider:microsoft-psrp

#44754 Remove Provider Deprecations in Yandex provider
  providers/src/airflow/providers/yandex/CHANGELOG.rst
  providers/src/airflow/providers/yandex/hooks/yandex.py
  providers/src/airflow/providers/yandex/hooks/yandexcloud_dataproc.py
  providers/src/airflow/providers/yandex/operators/dataproc.py
  providers/src/airflow/providers/yandex/operators/yandexcloud_dataproc.py
  providers/tests/yandex/hooks/test_yandex.py
Labels: area:providers, provider:yandex

#44762 Remove Provider Deprecations in Microsoft-MSSQL
  docs/apache-airflow-providers-microsoft-mssql/operators.rst
  providers/src/airflow/providers/microsoft/mssql/CHANGELOG.rst
  providers/src/airflow/providers/microsoft/mssql/operators/__init__.py
  providers/src/airflow/providers/microsoft/mssql/operators/mssql.py
  providers/src/airflow/providers/microsoft/mssql/provider.yaml
  providers/tests/microsoft/mssql/operators/__init__.py
  providers/tests/microsoft/mssql/operators/test_mssql.py
Labels: area:providers, kind:documentation, provider:microsoft-mssql

#44765 Remove provider deprecations in Apache Druid
  providers/src/airflow/providers/apache/druid/CHANGELOG.rst
  providers/src/airflow/providers/apache/druid/operators/druid_check.py
  providers/src/airflow/providers/apache/druid/provider.yaml
Labels: area:providers, provider:apache-druid

#44751 Prevent using `trigger_rule=TriggerRule.ALWAYS` in a task-generated mapping within bare tasks
  airflow/decorators/base.py
  docs/apache-airflow/authoring-and-scheduling/dynamic-task-mapping.rst
  newsfragments/44751.bugfix.rst
  task_sdk/src/airflow/sdk/definitions/taskgroup.py
  tests/decorators/test_mapped.py
  tests/decorators/test_task_group.py
Labels: kind:documentation, type:bug-fix, area:core, area:dynamic-task-mapping, area:task-sdk

#44767 Ensure that we don't try sending any more heartbeat messages once the process has exited.
  task_sdk/src/airflow/sdk/execution_time/supervisor.py
  task_sdk/tests/execution_time/test_supervisor.py
Labels: area:task-sdk

#44764 Remove Provider Deprecations in Apprise
  providers/src/airflow/providers/apprise/CHANGELOG.rst
  providers/src/airflow/providers/apprise/hooks/apprise.py
  providers/src/airflow/providers/apprise/notifications/apprise.py
  providers/tests/apprise/hooks/test_apprise.py
  providers/tests/apprise/notifications/test_apprise.py
Labels: area:providers, full tests needed, provider:apprise

#44653 Remove deprecated code from Pagerduty provider
  providers/src/airflow/providers/pagerduty/CHANGELOG.rst
  providers/src/airflow/providers/pagerduty/hooks/pagerduty.py
  providers/src/airflow/providers/pagerduty/hooks/pagerduty_events.py
  providers/tests/pagerduty/hooks/test_pagerduty.py
  providers/tests/pagerduty/hooks/test_pagerduty_events.py
Labels: area:providers, provider:pagerduty

#44763 Remove Provider Deprecations in Microsoft-AZURE
  docs/apache-airflow-providers-microsoft-azure/transfer/azure_blob_to_gcs.rst
  generated/provider_dependencies.json
  providers/src/airflow/providers/microsoft/azure/CHANGELOG.rst
  providers/src/airflow/providers/microsoft/azure/hooks/adx.py
  providers/src/airflow/providers/microsoft/azure/hooks/base_azure.py
  providers/src/airflow/providers/microsoft/azure/hooks/container_instance.py
  providers/src/airflow/providers/microsoft/azure/hooks/data_factory.py
  providers/src/airflow/providers/microsoft/azure/hooks/synapse.py
  providers/src/airflow/providers/microsoft/azure/operators/adx.py
  providers/src/airflow/providers/microsoft/azure/operators/batch.py
  providers/src/airflow/providers/microsoft/azure/provider.yaml
  providers/src/airflow/providers/microsoft/azure/secrets/key_vault.py
  providers/src/airflow/providers/microsoft/azure/sensors/wasb.py
  providers/src/airflow/providers/microsoft/azure/transfers/azure_blob_to_gcs.py
  providers/tests/microsoft/azure/secrets/test_key_vault.py
Labels: provider:microsoft-azure, area:providers, area:secrets

#44769 [BACKPORT (modified)] Prevent using `trigger_rule=TriggerRule.ALWAYS` in a task-generated mapping within bare tasks (#44751)
  airflow/decorators/base.py
  airflow/utils/task_group.py
  docs/apache-airflow/authoring-and-scheduling/dynamic-task-mapping.rst
  newsfragments/44751.bugfix.rst
  tests/decorators/test_mapped.py
  tests/decorators/test_task_group.py
Labels: kind:documentation, type:bug-fix, area:core, area:dynamic-task-mapping

#44772 Add timeout on total pytest execution time in parallel tests
  .github/workflows/run-unit-tests.yml
  dev/breeze/doc/images/output_testing_core-tests.svg
  dev/breeze/doc/images/output_testing_core-tests.txt
  dev/breeze/doc/images/output_testing_providers-tests.svg
  dev/breeze/doc/images/output_testing_providers-tests.txt
  dev/breeze/doc/images/output_testing_task-sdk-tests.svg
  dev/breeze/doc/images/output_testing_task-sdk-tests.txt
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
Labels: area:dev-tools

#44776 Fix flaky task_sdk test by comparing the list in unordered fashion
  hatch_build.py
  task_sdk/pyproject.toml
  task_sdk/tests/execution_time/test_supervisor.py
Labels: area:task-sdk

#44692 AIP-72: Adding Endpoint to set rendered task instance fields
  airflow/api_fastapi/execution_api/datamodels/taskinstance.py
  airflow/api_fastapi/execution_api/routes/task_instances.py
  task_sdk/src/airflow/sdk/api/client.py
  task_sdk/tests/api/test_client.py
  tests/api_fastapi/execution_api/routes/test_task_instances.py
Labels: area:task-execution-interface-aip72

#44723 AIP-72: Adding client tests for all task instance operations
  task_sdk/tests/api/test_client.py
Labels: area:task-execution-interface-aip72, area:task-sdk

#44575 Remove provider deprecations in Apache Drill
  providers/src/airflow/providers/apache/drill/CHANGELOG.rst
  providers/src/airflow/providers/apache/drill/operators/drill.py
  providers/src/airflow/providers/apache/drill/provider.yaml
Labels: area:providers, provider:apache-drill

#44784 Adding back the XCOM client tests
  task_sdk/tests/api/test_client.py
Labels: area:task-sdk

#44788 Switch test_views_home.py from parsing files directly to using fixtures
  tests/www/views/test_views_home.py
  tests_common/pytest_plugin.py
Labels: area:webserver

#43063 Double-check TaskInstance state if it differs from the Executor state.
  airflow/jobs/backfill_job_runner.py
Labels: type:bug-fix, area:backfill

#44224 List Variables
  airflow/api_fastapi/core_api/routes/public/variables.py
  airflow/ui/src/layouts/Nav/AdminButton.tsx
  airflow/ui/src/layouts/Nav/Nav.tsx
  airflow/ui/src/pages/Variables/Variables.tsx
  airflow/ui/src/pages/Variables/index.tsx
  airflow/ui/src/router.tsx
Labels: area:UI

#44787 Added documentation for the SqlThresholdCheckOperator
  docs/apache-airflow-providers-common-sql/operators.rst
  providers/src/airflow/providers/common/sql/operators/sql.py
  providers/tests/system/common/sql/example_sql_threshold_check.py
Labels: area:providers, kind:documentation, provider:common-sql

#44796 AIP-82 Optimize/simplify query to fetch active assets
  airflow/dag_processing/collection.py
Labels: area:Scheduler

#44732 [Edge] Fix edge worker api support none default base api url
  providers/src/airflow/providers/edge/CHANGELOG.rst
  providers/src/airflow/providers/edge/__init__.py
  providers/src/airflow/providers/edge/cli/api_client.py
  providers/src/airflow/providers/edge/provider.yaml
  providers/src/airflow/providers/edge/worker_api/auth.py
Labels: area:providers, provider:edge

#44777 Implement asset alias list endpoint in FastAPI
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/datamodels/assets.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/assets.py
  airflow/cli/commands/remote_commands/asset_command.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_assets.py
Labels: area:CLI, area:UI

#44778 Change default asset alias group to 'asset'
  airflow/migrations/versions/0036_3_0_0_add_name_field_to_dataset_model.py
  airflow/migrations/versions/0039_3_0_0_tweak_assetaliasmodel_to_match_asset.py
  docs/apache-airflow/img/airflow_erd.sha256
  providers/tests/openlineage/plugins/test_utils.py
  task_sdk/src/airflow/sdk/definitions/asset/__init__.py
Labels: kind:documentation, area:db-migrations, area:task-sdk

#44781 Added output_processor parameter to SQLQueryOperator and fixed bug with return_single_query_results handler when None is passed as split_statements
  providers/src/airflow/providers/common/sql/hooks/handlers.py
  providers/src/airflow/providers/common/sql/hooks/sql.py
  providers/src/airflow/providers/common/sql/operators/sql.py
  providers/src/airflow/providers/common/sql/operators/sql.pyi
  providers/tests/common/sql/hooks/test_handlers.py
  providers/tests/common/sql/operators/test_sql.py
Labels: area:providers, provider:common-sql

#44717 Remove Provider Deprecations in Trino
  providers/src/airflow/providers/trino/CHANGELOG.rst
  providers/src/airflow/providers/trino/operators/__init__.py
  providers/src/airflow/providers/trino/operators/trino.py
  providers/src/airflow/providers/trino/provider.yaml
  providers/tests/integration/trino/hooks/test_trino.py
  providers/tests/trino/operators/__init__.py
  providers/tests/trino/operators/test_trino.py
Labels: area:providers, provider:trino

#44806 [Backport] Fixing cli test failure in CI (#44679)
  tests/cli/test_cli_parser.py
Labels: area:CLI

#44786 AIP-72: Handling skipped tasks in task_sdk
  task_sdk/src/airflow/sdk/execution_time/task_runner.py
  task_sdk/tests/dags/basic_skipped.py
  task_sdk/tests/execution_time/test_supervisor.py
  task_sdk/tests/execution_time/test_task_runner.py
Labels: area:task-sdk

#44783 feat: add OpenLineage support for BigQuery Create Table operators
  providers/src/airflow/providers/google/cloud/openlineage/utils.py
  providers/src/airflow/providers/google/cloud/operators/bigquery.py
  providers/tests/google/cloud/openlineage/test_utils.py
  providers/tests/google/cloud/operators/test_bigquery.py
Labels: provider:google, area:providers

#44791 Raise deprecation warning when accessing metadata through str
  airflow/datasets/metadata.py
Labels: area:dev-tools, area:API, area:production-image

#44802 Adjust Timeout Action in Breeze Testing Command
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
Labels: area:dev-tools

#44725 AIP-72: Scaffold task instance RTIF API calls during task startup
  task_sdk/src/airflow/sdk/execution_time/comms.py
  task_sdk/src/airflow/sdk/execution_time/task_runner.py
  task_sdk/tests/dags/basic_templated_dag.py
  task_sdk/tests/execution_time/test_task_runner.py
Labels: area:task-sdk

#44803 Add asset alias detail route
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/assets.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_assets.py
Labels: area:UI

#44650 Fix failing OpenLineage emition for InsertBigQueryOperator
  providers/src/airflow/providers/google/cloud/openlineage/mixins.py
  providers/tests/google/cloud/openlineage/test_mixins.py
Labels: provider:google, area:providers
