Repository apache/airflow, pull requests merged in 2024-02, with the labels that each got.

#37127 Switch instance type to m7g
  scripts/ci/images/ci_start_arm_instance_and_connect_to_docker.sh
Labels: area:dev-tools

#36710 Introduce `DatasetOrTimeSchedule`
  airflow/example_dags/example_datasets.py
  airflow/models/dag.py
  airflow/serialization/serialized_objects.py
  airflow/timetables/datasets.py
  airflow/timetables/simple.py
  docs/apache-airflow/authoring-and-scheduling/datasets.rst
  docs/apache-airflow/authoring-and-scheduling/timetable.rst
  tests/models/test_taskinstance.py
  tests/timetables/test_datasets_timetable.py
Labels: area:serialization

#37125 Updates to ECS Executor Docs
  airflow/providers/amazon/aws/executors/ecs/Dockerfile
  docs/apache-airflow-providers-amazon/executors/ecs-executor.rst
Labels: provider:amazon-aws, area:providers, kind:documentation, area:production-image

#37076 fix: using endpoint from connection if not specified
  airflow/providers/yandex/secrets/lockbox.py
  docs/apache-airflow-providers-yandex/secrets-backends/yandex-cloud-lockbox-secret-backend.rst
  tests/providers/yandex/secrets/test_lockbox.py
Labels: area:providers, area:secrets, kind:documentation, provider:yandex

#37141 Add clarification about DAG author capabilities to security model
  docs/apache-airflow/security/security_model.rst
Labels: kind:documentation

#37134 Switch instance type to m7g for ARM image building
  scripts/ci/images/ci_start_arm_instance_and_connect_to_docker.sh
Labels: area:dev-tools

#37058 AIP-58: Add object storage backend for xcom
  airflow/models/xcom.py
  airflow/provider.yaml.schema.json
  airflow/providers/common/io/provider.yaml
  airflow/providers/common/io/xcom/__init__.py
  airflow/providers/common/io/xcom/backend.py
  docs/apache-airflow-providers-common-io/configurations-ref.rst
  docs/apache-airflow-providers-common-io/index.rst
  docs/apache-airflow-providers-common-io/xcom_backend.rst
  docs/apache-airflow/core-concepts/xcoms.rst
  docs/spelling_wordlist.txt
  tests/models/test_xcom.py
  tests/providers/common/io/xcom/__init__.py
  tests/providers/common/io/xcom/test_backend.py
Labels: kind:documentation, area:core, provider:common-io, AIP-58

#37157 Temporary limit `pytest` to `<8.0`
  dev/breeze/README.md
  dev/breeze/pyproject.toml
  docker_tests/requirements.txt
  pyproject.toml
Labels: area:dev-tools, area:production-image, type:misc/internal

#37160 Avoid `pendulum.from_timestamp` usage
  airflow/providers/elasticsearch/log/es_json_formatter.py
  airflow/serialization/serialized_objects.py
  airflow/utils/log/timezone_aware.py
  airflow/utils/timezone.py
  pyproject.toml
  tests/utils/test_timezone.py
Labels: area:providers, area:logging, area:serialization, provider:elasticsearch

#35379 Fixed the hardcoded default namespace value for GCP Data Fusion links.
  airflow/providers/google/cloud/links/datafusion.py
  airflow/providers/google/cloud/operators/datafusion.py
Labels: provider:google, area:providers

#37117 Add deferrable param in SFTPSensor
  airflow/providers/sftp/hooks/sftp.py
  airflow/providers/sftp/provider.yaml
  airflow/providers/sftp/sensors/sftp.py
  airflow/providers/sftp/triggers/__init__.py
  airflow/providers/sftp/triggers/sftp.py
  docs/apache-airflow-providers-sftp/sensors/sftp_sensor.rst
  generated/provider_dependencies.json
  pyproject.toml
  tests/providers/sftp/hooks/test_sftp.py
  tests/providers/sftp/triggers/__init__.py
  tests/providers/sftp/triggers/test_sftp.py
  tests/system/providers/sftp/example_sftp_sensor.py
Labels: area:providers, area:system-tests, kind:documentation, provider:sftp

#37140 Remove SCHEDULED_DEPS which is no longer used anywhere since 2.0.0
  airflow/ti_deps/dependencies_deps.py
Labels: area:Scheduler, type:misc/internal, area:core

#37043 Simplify hive client connection
  airflow/providers/apache/hive/CHANGELOG.rst
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/hive/operators/hive.py
  airflow/providers/apache/hive/provider.yaml
  docs/apache-airflow-providers-apache-hive/connections/hive_cli.rst
  tests/providers/apache/hive/hooks/test_hive.py
Labels: area:providers, kind:documentation, provider:apache-hive

#36909 Fix assignment of template field in `__init__` in `CloudDataTransferServiceCreateJobOperator`
  .pre-commit-config.yaml
  airflow/providers/google/cloud/operators/cloud_storage_transfer_service.py
  tests/providers/google/cloud/operators/test_cloud_storage_transfer_service.py
Labels: provider:google, area:providers

#36685 check sagemaker training job status before deferring SageMakerTrainingOperator
  airflow/providers/amazon/aws/hooks/logs.py
  airflow/providers/amazon/aws/hooks/sagemaker.py
  airflow/providers/amazon/aws/operators/sagemaker.py
  airflow/providers/amazon/aws/triggers/sagemaker.py
  tests/providers/amazon/aws/operators/test_sagemaker_training.py
  tests/www/views/test_views_rendered.py
Labels: provider:amazon-aws, area:providers

#37069 Fix location requirement in DataflowTemplatedJobStartOperator
  airflow/providers/google/cloud/operators/dataflow.py
  tests/providers/google/cloud/operators/test_dataflow.py
Labels: provider:google, area:providers

#37179 [Doc]: cncf provider fix spark operator doc link
  docs/apache-airflow-providers-cncf-kubernetes/operators.rst
Labels: area:providers, kind:documentation, provider:cncf-kubernetes

#36991 Added ability to enable/disable scheduler and webserver
  chart/templates/scheduler/scheduler-deployment.yaml
  chart/templates/scheduler/scheduler-networkpolicy.yaml
  chart/templates/scheduler/scheduler-poddisruptionbudget.yaml
  chart/templates/scheduler/scheduler-service.yaml
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  chart/templates/webserver/webserver-deployment.yaml
  chart/templates/webserver/webserver-ingress.yaml
  chart/templates/webserver/webserver-networkpolicy.yaml
  chart/templates/webserver/webserver-poddisruptionbudget.yaml
  chart/templates/webserver/webserver-service.yaml
  chart/templates/webserver/webserver-serviceaccount.yaml
  chart/values.schema.json
  chart/values.yaml
  docs/helm-chart/production-guide.rst
  helm_tests/airflow_core/test_scheduler.py
  helm_tests/webserver/test_webserver.py
Labels: area:helm-chart

#37177 Add airflow version substitution into Docker Compose Howto
  docs/apache-airflow/howto/docker-compose/index.rst
  docs/conf.py
Labels: kind:documentation, type:doc-only

#37010 Fix assignment of template field in `__init__` in `KubernetesPodOperator`
  .pre-commit-config.yaml
  airflow/providers/cncf/kubernetes/operators/pod.py
Labels: area:providers, provider:cncf-kubernetes

#37109 ECS Executor - Add backoff on failed task retry
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  airflow/providers/amazon/aws/executors/ecs/utils.py
  airflow/providers/amazon/aws/executors/utils/exponential_backoff_retry.py
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
  tests/providers/amazon/aws/executors/utils/test_exponential_backoff_retry.py
Labels: provider:amazon-aws, area:providers

#37066 Add `task_acks_late` configuration to Celery Executor
  airflow/providers/celery/executors/default_celery.py
  airflow/providers/celery/provider.yaml
  docs/spelling_wordlist.txt
  tests/providers/celery/executors/test_celery_executor.py
Labels: area:providers, provider:celery

#37187 Update supplementary chart images
  chart/values.schema.json
  chart/values.yaml
  contributing-docs/testing/integration_tests.rst
  scripts/ci/docker-compose/integration-statsd.yml
Labels: area:dev-tools, area:helm-chart

#37172 Affixing exit summary to publish-docs command
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/docs_publisher.py
Labels: area:dev-tools

#37189 Update version of statsd image automatically in canary run
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/pre_commit_update_chart_dependencies.py
Labels: area:dev-tools, area:helm-chart

#37188 Update ruff to v0.2.1
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  tests/www/views/test_views_rendered.py
Labels: area:webserver, area:dev-tools, kind:documentation

#37159 bump: kind 0.21.0
  dev/breeze/doc/images/output_k8s_configure-cluster.svg
  dev/breeze/doc/images/output_k8s_configure-cluster.txt
  dev/breeze/doc/images/output_k8s_create-cluster.svg
  dev/breeze/doc/images/output_k8s_create-cluster.txt
  dev/breeze/doc/images/output_k8s_delete-cluster.svg
  dev/breeze/doc/images/output_k8s_delete-cluster.txt
  dev/breeze/doc/images/output_k8s_deploy-airflow.svg
  dev/breeze/doc/images/output_k8s_deploy-airflow.txt
  dev/breeze/doc/images/output_k8s_k9s.svg
  dev/breeze/doc/images/output_k8s_k9s.txt
  dev/breeze/doc/images/output_k8s_logs.svg
  dev/breeze/doc/images/output_k8s_logs.txt
  dev/breeze/doc/images/output_k8s_run-complete-tests.svg
  dev/breeze/doc/images/output_k8s_run-complete-tests.txt
  dev/breeze/doc/images/output_k8s_shell.svg
  dev/breeze/doc/images/output_k8s_shell.txt
  dev/breeze/doc/images/output_k8s_status.svg
  dev/breeze/doc/images/output_k8s_status.txt
  dev/breeze/doc/images/output_k8s_tests.svg
  dev/breeze/doc/images/output_k8s_tests.txt
  dev/breeze/doc/images/output_k8s_upload-k8s-image.svg
  dev/breeze/doc/images/output_k8s_upload-k8s-image.txt
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#37195 feature: S3ToRedshiftOperator templating aws_conn_id
  airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  tests/providers/amazon/aws/transfers/test_s3_to_redshift.py
Labels: provider:amazon-aws, area:providers

#37196 Limit docs publishing tests to canary run
  .github/workflows/ci.yml
  dev/breeze/doc/ci/05_workflows.md
Labels: area:dev-tools

#37193 Reorder settings in `pyproject.toml`
  pyproject.toml
Labels: type:misc/internal

#37199 Upgrade artifacts upload action to v4
  .github/actions/build-ci-images/action.yml
  .github/actions/build-prod-images/action.yml
  .github/actions/post_tests_failure/action.yml
  .github/actions/post_tests_success/action.yml
  .github/workflows/ci.yml
  tests/providers/amazon/aws/hooks/test_hooks_signature.py
Labels: area:dev-tools

#37207 Adjust graph node layout
  airflow/www/static/js/components/Graph/Edge.tsx
  airflow/www/static/js/dag/details/graph/Node.test.tsx
  airflow/www/static/js/dag/details/graph/Node.tsx
  airflow/www/static/js/dag/details/graph/index.tsx
  airflow/www/static/js/dag/details/graph/utils.ts
  airflow/www/static/js/types/index.ts
Labels: area:webserver, area:UI

#36917 Release notes for helm chart 1.12.0
  chart/RELEASE_NOTES.rst
  chart/newsfragments/34817.significant.rst
  chart/newsfragments/36907.significant.rst
  chart/reproducible_build.yaml
  docs/spelling_wordlist.txt
Labels: area:helm-chart, kind:documentation

#37206 Resolve handler close race condition at triggerer shutdown
  airflow/utils/log/trigger_handler.py
Labels: area:logging

#37205 Fix collapsed grid width and match selected row between grid/gantt
  airflow/www/static/js/dag/Main.tsx
  airflow/www/static/js/dag/details/Header.tsx
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/grid/dagRuns/index.tsx
  airflow/www/static/js/dag/grid/index.tsx
  airflow/www/static/js/dag/grid/renderTaskRows.tsx
Labels: area:webserver, area:UI

#37208 Update artifacthubs changelog for chart 1.12.0
  chart/Chart.yaml
Labels: area:helm-chart

#37211 Remove info log from amazon provider-> S3 Hook -> download_file
  airflow/providers/amazon/aws/hooks/s3.py
Labels: provider:amazon-aws, area:providers

#37047 Fix KPO docs argument precedence
  docs/apache-airflow-providers-cncf-kubernetes/operators.rst
Labels: area:providers, kind:documentation, provider:cncf-kubernetes

#37210 ECS Executor doc fix
  docs/apache-airflow-providers-amazon/executors/ecs-executor.rst
Labels: provider:amazon-aws, area:providers, kind:documentation

#37218 Fix signature check into the `test_expected_thin_hooks` test
  tests/providers/amazon/aws/hooks/test_hooks_signature.py
Labels: provider:amazon-aws, area:providers, type:misc/internal

#37203 Summarise publish-docs irrespective of --include-success-output
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#36789 Fix assignment of template field in `__init__` in `custom_job`
  .pre-commit-config.yaml
  airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
Labels: provider:google, area:providers

#37165 fix: PythonVirtualenvOperator crashes if any python_callable function is defined in the same source as DAG
  airflow/models/dagbag.py
  airflow/operators/python.py
  airflow/utils/file.py
  airflow/utils/python_virtualenv_script.jinja2
Labels: type:bug-fix, area:core-operators

#37225 Use `next_url` instead of `next`
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  tests/providers/fab/auth_manager/test_fab_auth_manager.py
  tests/www/views/test_anonymous_as_admin_role.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, area:providers, provider:fab

#37222 Avoid log-groomer container failures when log persistence is enabled
  Dockerfile
  scripts/docker/clean-logs.sh
Labels: area:dev-tools, area:production-image

#37192 Fix metadata override for ComputeEngineSSHHook
  airflow/providers/google/cloud/hooks/compute_ssh.py
  tests/providers/google/cloud/hooks/test_compute_ssh.py
Labels: provider:google, area:providers

#37231 Fix upgrade docs to reflect true cli flags available
  docs/apache-airflow/installation/upgrading.rst
Labels: kind:documentation

#37233 Upgrade to FAB 4.3.11
  airflow/providers/fab/auth_manager/security_manager/override.py
  airflow/providers/fab/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Labels: area:providers, provider:fab

#37234 Update default value for `BatchSensor`
  airflow/providers/amazon/aws/sensors/batch.py
Labels: provider:amazon-aws, area:providers

#37232 Remove legacy dag details page and redirect to grid
  airflow/www/templates/airflow/dag_details.html
  airflow/www/views.py
  tests/www/views/test_views_acl.py
  tests/www/views/test_views_tasks.py
Labels: area:webserver, area:UI

#36428 Upgrade mypy to 1.8.0
  .pre-commit-config.yaml
  airflow/models/dagrun.py
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/utils/connection_wrapper.py
  airflow/providers/google/cloud/triggers/cloud_storage_transfer_service.py
  airflow/providers/http/hooks/http.py
  pyproject.toml
Labels: area:dev-tools

#37235 Chart: bump version for 1.12.0
  chart/Chart.yaml
  chart/RELEASE_NOTES.rst
  chart/reproducible_build.yaml
Labels: area:helm-chart

#37236 Upgrade to just released `pip 24.0`
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/docker-stack/build-arg-ref.rst
  scripts/ci/install_breeze.sh
  scripts/docker/common.sh
Labels: area:dev-tools, kind:documentation, area:production-image

#37238 Remove validate-operators-init from v2-* static check branches
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#37239 Add description about breaking changes and bumping min dep versions
  contributing-docs/11_provider_packages.rst
Labels: area:dev-tools

#37214 Adding certificate validation for ssl in mongo hook
  airflow/providers/mongo/CHANGELOG.rst
  airflow/providers/mongo/hooks/mongo.py
Labels: area:providers, provider:mongo

#37230 Change docs type in insert_many to list of dicts
  airflow/providers/mongo/hooks/mongo.py
Labels: area:providers, provider:mongo

#37253 Trims leading `./` from filenames when repackaging reproducible packages
  dev/breeze/src/airflow_breeze/utils/reproducible.py
Labels: area:dev-tools

#37250 Fixing the version for mongo provider
  airflow/providers/mongo/CHANGELOG.rst
  airflow/providers/mongo/provider.yaml
Labels: area:providers, type:misc/internal, provider:mongo

#37265 fix broken links in Athena provider docs
  docs/apache-airflow-providers-amazon/connections/athena.rst
  docs/apache-airflow-providers-amazon/operators/athena/athena_sql.rst
Labels: provider:amazon-aws, area:providers, kind:documentation

#37202 Simplified configuration parsing in Apprise Connection
  airflow/providers/apprise/hooks/apprise.py
  docs/apache-airflow-providers-apprise/connections.rst
  tests/providers/apprise/hooks/test_apprise.py
Labels: area:providers, kind:documentation, provider:apprise

#37258 D401 Support in Providers (simple)
  airflow/providers/apache/hive/hooks/hive.py
  airflow/providers/apache/spark/hooks/spark_connect.py
  airflow/providers/apache/spark/hooks/spark_sql.py
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/atlassian/jira/hooks/jira.py
  airflow/providers/discord/hooks/discord_webhook.py
  airflow/providers/grpc/hooks/grpc.py
  airflow/providers/jenkins/hooks/jenkins.py
  airflow/providers/microsoft/mssql/hooks/mssql.py
  airflow/providers/odbc/hooks/odbc.py
  airflow/providers/opsgenie/hooks/opsgenie.py
  airflow/providers/redis/hooks/redis.py
  airflow/providers/sqlite/hooks/sqlite.py
  airflow/providers/ssh/hooks/ssh.py
  airflow/providers/tabular/hooks/tabular.py
  airflow/providers/yandex/hooks/yandex.py
  pyproject.toml
Labels: area:providers, provider:redis, provider:hashicorp, provider:discord, provider:opsgenie, provider:ssh, provider:atlassian-jira, provider:jenkins, provider:odbc, provider:apache-hive, provider:apache-spark, provider:microsoft-mssql, provider:grpc, provider:yandex, provider:sqlite, provider:tabular

#37254 Improve task names in graph view
  airflow/www/static/js/dag/TaskName.test.tsx
  airflow/www/static/js/dag/TaskName.tsx
  airflow/www/static/js/dag/details/graph/Node.test.tsx
  airflow/www/static/js/dag/details/graph/Node.tsx
  airflow/www/static/js/dag/grid/TaskName.tsx
  airflow/www/static/js/dag/grid/index.test.tsx
  airflow/www/static/js/dag/grid/renderTaskRows.tsx
  airflow/www/static/js/utils/graph.ts
Labels: area:webserver, area:UI

#37271 Fix rendering `SparkKubernetesOperator.template_body`
  airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
  tests/providers/cncf/kubernetes/operators/test_spark_kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#37272 fix: update broken hyperlink in contributing docs.
  contributing-docs/06_development_environments.rst
Labels: area:dev-tools

#36144 Fix the bug that affected the DAG end date.
  airflow/api/common/mark_tasks.py
  airflow/models/dagrun.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_experimental/client/test_local_client.py
  tests/api_experimental/common/test_mark_tasks.py
  tests/models/test_cleartasks.py
Labels: area:API, type:bug-fix

#37277 The fix-ownership command missed --rm flag and left dangling containers
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools

#37274 fix: D401 lint issues in airflow core
  airflow/auth/managers/utils/fab.py
  airflow/decorators/bash.py
  airflow/executors/debug_executor.py
  airflow/models/baseoperator.py
  airflow/models/dagrun.py
  airflow/models/taskinstance.py
  airflow/operators/python.py
  airflow/plugins_manager.py
  airflow/providers_manager.py
  airflow/serialization/serde.py
  airflow/utils/file.py
  airflow/utils/log/task_context_logger.py
  airflow/utils/sqlalchemy.py
  airflow/www/auth.py
  airflow/www/blueprints.py
  airflow/www/views.py
  pyproject.toml
Labels: area:webserver, area:logging, area:serialization, area:core-operators, area:Executors-core

#37270 fix: D401 fixes in Pinecone provider
  airflow/providers/pinecone/hooks/pinecone.py
  pyproject.toml
Labels: area:providers, provider:pinecone

#37137 Merge all ECS executor configs following recursive python dict update
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  docs/apache-airflow-providers-amazon/executors/ecs-executor.rst
  tests/providers/amazon/aws/executors/ecs/test_ecs_executor.py
Labels: provider:amazon-aws, area:providers

#37283 D401 support in fab provider
  airflow/providers/fab/auth_manager/decorators/auth.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  airflow/providers/fab/auth_manager/security_manager/override.py
  pyproject.toml
Labels: area:providers, provider:fab

#37285 Fix the value of `dateTimeAttrFormat` constant
  airflow/www/static/js/datetime_utils.js
Labels: area:webserver, type:bug-fix, area:UI

#37290 Fix permission check on DAGs when `access_entity` is specified
  airflow/api_connexion/security.py
Labels: area:API

#37294 Typo in the URL
  contributing-docs/03_contributors_quick_start.rst
Labels: area:dev-tools

#37292 Move `IMPORT_ERROR` from DAG related permissions to view related permissions
  airflow/api_connexion/endpoints/import_error_endpoint.py
  airflow/auth/managers/models/resource_details.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
Labels: area:providers, area:API, provider:fab

#37275 D401 support to amazon provider
  airflow/providers/amazon/aws/auth_manager/cli/avp_commands.py
  airflow/providers/amazon/aws/auth_manager/views/auth.py
  airflow/providers/amazon/aws/executors/ecs/boto_schema.py
  airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  airflow/providers/amazon/aws/executors/ecs/utils.py
  airflow/providers/amazon/aws/hooks/logs.py
  airflow/providers/amazon/aws/hooks/redshift_sql.py
  airflow/providers/amazon/aws/triggers/redshift_cluster.py
  airflow/providers/amazon/aws/triggers/redshift_data.py
  airflow/providers/amazon/aws/triggers/sagemaker.py
  pyproject.toml
Labels: provider:amazon-aws, area:providers

#37300 Fix hanging KPO on deferrable task with do_xcom_push
  airflow/providers/cncf/kubernetes/operators/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#37299 Added D401 support to snowflake provider
  airflow/providers/snowflake/hooks/snowflake.py
  airflow/providers/snowflake/hooks/snowflake_sql_api.py
  airflow/providers/snowflake/operators/snowflake.py
  airflow/providers/snowflake/transfers/copy_into_snowflake.py
  airflow/providers/snowflake/triggers/snowflake_trigger.py
  airflow/providers/snowflake/utils/sql_api_generate_jwt.py
  pyproject.toml
Labels: area:providers, provider:snowflake

#37304 D401 lint fixes for google provider
  airflow/providers/google/cloud/transfers/cassandra_to_gcs.py
  airflow/providers/google/cloud/transfers/gcs_to_sftp.py
  airflow/providers/google/cloud/transfers/mssql_to_gcs.py
  airflow/providers/google/cloud/transfers/mysql_to_gcs.py
  airflow/providers/google/cloud/transfers/oracle_to_gcs.py
  airflow/providers/google/cloud/transfers/postgres_to_gcs.py
  airflow/providers/google/cloud/transfers/presto_to_gcs.py
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
  airflow/providers/google/cloud/transfers/sftp_to_gcs.py
  airflow/providers/google/cloud/transfers/sql_to_gcs.py
  airflow/providers/google/cloud/transfers/trino_to_gcs.py
  airflow/providers/google/cloud/triggers/bigquery.py
  airflow/providers/google/cloud/triggers/bigquery_dts.py
  airflow/providers/google/cloud/triggers/cloud_batch.py
  airflow/providers/google/cloud/triggers/cloud_build.py
  airflow/providers/google/cloud/triggers/cloud_run.py
  airflow/providers/google/cloud/triggers/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/triggers/dataflow.py
  airflow/providers/google/cloud/triggers/datafusion.py
  airflow/providers/google/cloud/triggers/dataplex.py
  airflow/providers/google/cloud/triggers/dataproc.py
  airflow/providers/google/cloud/triggers/gcs.py
  airflow/providers/google/cloud/triggers/kubernetes_engine.py
  airflow/providers/google/cloud/triggers/mlengine.py
  airflow/providers/google/cloud/triggers/pubsub.py
  airflow/providers/google/cloud/utils/bigquery.py
  airflow/providers/google/cloud/utils/credentials_provider.py
  airflow/providers/google/cloud/utils/dataform.py
  airflow/providers/google/cloud/utils/field_validator.py
  airflow/providers/google/cloud/utils/helpers.py
  airflow/providers/google/cloud/utils/mlengine_operator_utils.py
  airflow/providers/google/cloud/utils/mlengine_prediction_summary.py
  airflow/providers/google/common/auth_backend/google_openid.py
  airflow/providers/google/common/hooks/base_google.py
  airflow/providers/google/common/hooks/discovery_api.py
  airflow/providers/google/common/utils/id_token_credentials.py
  airflow/providers/google/firebase/hooks/firestore.py
  airflow/providers/google/leveldb/hooks/leveldb.py
  airflow/providers/google/marketing_platform/hooks/analytics.py
  airflow/providers/google/marketing_platform/hooks/campaign_manager.py
  airflow/providers/google/marketing_platform/hooks/display_video.py
  airflow/providers/google/marketing_platform/hooks/search_ads.py
  airflow/providers/google/suite/hooks/calendar.py
  airflow/providers/google/suite/hooks/drive.py
  airflow/providers/google/suite/hooks/sheets.py
  pyproject.toml
Labels: provider:google, area:providers, provider:cncf-kubernetes

#37305 Optimize CI builds for unimportant pyproject.toml changes
  .github/workflows/ci.yml
  dev/breeze/README.md
  dev/breeze/pyproject.toml
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#37308 Optimize CI jobs when for example only pre-commits change in scripts
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#37306 fix how GKEPodAsyncHook.service_file_as_context is used
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
Labels: provider:google, area:providers, provider:cncf-kubernetes

#37310 Fix permissions of parent folders for log file handler
  airflow/utils/log/file_task_handler.py
  tests/utils/test_log_handlers.py
Labels: area:logging

#37313 Add missing header into `opensearch` changelog
  airflow/providers/opensearch/CHANGELOG.rst
Labels: area:providers, provider:opensearch

#37314 Make PRs changing pyproject.toml neutral for breeze tests
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#37246 Enhancement: Performance enhancement for insert_rows method DbApiHook with fast executemany + SAP Hana support
  airflow/providers/common/sql/hooks/sql.py
  tests/providers/common/sql/hooks/test_dbapi.py
Labels: area:providers, provider:common-sql

#36882 The task is stuck in a queued state forever in case of pod launch errors
  airflow/providers/cncf/kubernetes/CHANGELOG.rst
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/cncf/kubernetes/provider.yaml
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes

#37318 Fix occasional attr-undefined for the python_kubernetes_script
  airflow/providers/cncf/kubernetes/python_kubernetes_script.py
Labels: area:providers, provider:cncf-kubernetes

#37312 Follow D401 style in openlineage, slack, and tableau providers
  airflow/providers/openlineage/plugins/adapter.py
  airflow/providers/openlineage/sqlparser.py
  airflow/providers/openlineage/utils/sql.py
  airflow/providers/slack/hooks/slack.py
  airflow/providers/slack/hooks/slack_webhook.py
  airflow/providers/slack/operators/slack.py
  airflow/providers/tableau/hooks/tableau.py
  airflow/providers/tableau/operators/tableau.py
  pyproject.toml
Labels: area:providers, provider:openlineage

#37324 Remove extra package headers in provider indexes
  docs/apache-airflow-providers-apprise/index.rst
  docs/apache-airflow-providers-cohere/index.rst
  docs/apache-airflow-providers-fab/index.rst
  docs/apache-airflow-providers-github/index.rst
  docs/apache-airflow-providers-influxdb/index.rst
  docs/apache-airflow-providers-openai/index.rst
  docs/apache-airflow-providers-pgvector/index.rst
  docs/apache-airflow-providers-pinecone/index.rst
  docs/apache-airflow-providers-sftp/index.rst
  docs/apache-airflow-providers-weaviate/index.rst
Labels: area:providers, kind:documentation, provider:apprise, provider:github, provider:sftp, provider:influxdb, provider:weaviate, provider:openai, provider:cohere, provider:fab, provider:pinecone, provider:pgvector

#37296 D401 lint fixes for all hooks in google provider
  airflow/providers/google/cloud/hooks/automl.py
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/bigquery_dts.py
  airflow/providers/google/cloud/hooks/bigtable.py
  airflow/providers/google/cloud/hooks/cloud_batch.py
  airflow/providers/google/cloud/hooks/cloud_build.py
  airflow/providers/google/cloud/hooks/cloud_composer.py
  airflow/providers/google/cloud/hooks/cloud_memorystore.py
  airflow/providers/google/cloud/hooks/cloud_run.py
  airflow/providers/google/cloud/hooks/cloud_sql.py
  airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/hooks/compute.py
  airflow/providers/google/cloud/hooks/datacatalog.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/hooks/dataform.py
  airflow/providers/google/cloud/hooks/datafusion.py
  airflow/providers/google/cloud/hooks/datapipeline.py
  airflow/providers/google/cloud/hooks/dataplex.py
  airflow/providers/google/cloud/hooks/dataprep.py
  airflow/providers/google/cloud/hooks/dataproc_metastore.py
  airflow/providers/google/cloud/hooks/datastore.py
  airflow/providers/google/cloud/hooks/dlp.py
  airflow/providers/google/cloud/hooks/gcs.py
  airflow/providers/google/cloud/hooks/gdm.py
  airflow/providers/google/cloud/hooks/kms.py
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/hooks/life_sciences.py
  airflow/providers/google/cloud/hooks/looker.py
  airflow/providers/google/cloud/hooks/mlengine.py
  airflow/providers/google/cloud/hooks/natural_language.py
  airflow/providers/google/cloud/hooks/os_login.py
  airflow/providers/google/cloud/hooks/pubsub.py
  airflow/providers/google/cloud/hooks/secret_manager.py
  airflow/providers/google/cloud/hooks/spanner.py
  airflow/providers/google/cloud/hooks/speech_to_text.py
  airflow/providers/google/cloud/hooks/stackdriver.py
  airflow/providers/google/cloud/hooks/tasks.py
  airflow/providers/google/cloud/hooks/text_to_speech.py
  airflow/providers/google/cloud/hooks/translate.py
  airflow/providers/google/cloud/hooks/vertex_ai/auto_ml.py
  airflow/providers/google/cloud/hooks/vertex_ai/batch_prediction_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/dataset.py
  airflow/providers/google/cloud/hooks/vertex_ai/endpoint_service.py
  airflow/providers/google/cloud/hooks/vertex_ai/hyperparameter_tuning_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/model_service.py
  airflow/providers/google/cloud/hooks/vertex_ai/pipeline_job.py
  airflow/providers/google/cloud/hooks/video_intelligence.py
  airflow/providers/google/cloud/hooks/vision.py
  airflow/providers/google/cloud/hooks/workflows.py
  airflow/providers/google/cloud/operators/pubsub.py
  pyproject.toml
Labels: provider:google, area:providers, provider:cncf-kubernetes

#37325 Ignore occasional GPG error exists when generating key
  .github/workflows/ci.yml
Labels: area:dev-tools

#37322 Add better diagnostics when provider.yaml check fails
  scripts/ci/pre_commit/pre_commit_check_provider_yaml_files.py
Labels: area:dev-tools

#37323 Fix pyhive hive_pure_sasl extra name
  airflow/providers/apache/hive/provider.yaml
  docs/apache-airflow-providers-apache-hive/index.rst
  generated/provider_dependencies.json
  pyproject.toml
Labels: area:providers, kind:documentation, provider:apache-hive

#37315 Optimize caching installed packages in CI build
  Dockerfile
  Dockerfile.ci
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
Labels: area:dev-tools, area:production-image

#37330 Fix index for qdrant provider
  airflow/providers/qdrant/__init__.py
  docs/apache-airflow-providers-qdrant/changelog.rst
  docs/apache-airflow-providers-qdrant/commits.rst
  docs/apache-airflow-providers-qdrant/index.rst
Labels: area:providers, kind:documentation, provider:qdrant

#37334 Get rid of pytest-httpx as dependency
  Dockerfile
  Dockerfile.ci
  airflow/providers/databricks/provider.yaml
  airflow/providers/http/provider.yaml
  airflow/providers/influxdb/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
  tests/cli/commands/test_info_command.py
Labels: area:CLI

#37337 feat(hashicorp): Add `VAULT_TOKEN` support
  airflow/providers/hashicorp/_internal_client/vault_client.py
  tests/providers/hashicorp/_internal_client/test_vault_client.py
Labels: area:providers

#37340 Fix remote installation from git
  .dockerignore
  Dockerfile.ci
  hatch_build.py
  pyproject.toml
Labels: area:dev-tools

#37341 Follow up after moving hatch_build.py to source root
  .dockerignore
  .github/actions/build-prod-images/action.yml
  .github/workflows/ci.yml
  Dockerfile.ci
  airflow_pre_installed_providers.txt
  dev/README_RELEASE_AIRFLOW.md
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  dev/refresh_images.sh
  docker_tests/test_prod_image.py
  hatch_build.py
  prod_image_installed_providers.txt
  scripts/ci/docker-compose/local.yml
  scripts/ci/pre_commit/pre_commit_sort_installed_providers.py
Labels: area:dev-tools, area:production-image

#37342 Swtich to standard way of specifying package extra for github URL
  Dockerfile
  Dockerfile.ci
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
Labels: area:dev-tools, area:production-image

#37345 Add "devel-ci" extra with all possible dependencies to wheel
  Dockerfile
  Dockerfile.ci
  docs/apache-airflow/extra-packages-ref.rst
  hatch_build.py
  pyproject.toml
  scripts/docker/install_airflow_dependencies_from_branch_tip.sh
Labels: area:dev-tools, area:production-image

#37346 Trigger full cache rebuild with new EPOCH values
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#37350 Typo fix in changelog for mongo provider
  airflow/providers/mongo/CHANGELOG.rst
Labels: area:providers, provider:mongo

#37279 Modify KPO to log container log periodically
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/triggers/pod.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
  docs/apache-airflow-providers-cncf-kubernetes/operators.rst
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/cncf/kubernetes/triggers/test_pod.py
  tests/providers/google/cloud/triggers/test_kubernetes_engine.py
  tests/system/providers/cncf/kubernetes/example_kubernetes_async.py
Labels: area:providers, provider:cncf-kubernetes

#37297 Support multiple XCom output in the BaseOperator
  airflow/decorators/base.py
  airflow/decorators/sensor.py
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  docs/apache-airflow/core-concepts/xcoms.rst
  scripts/ci/pre_commit/pre_commit_base_operator_partial_arguments.py
  tests/models/test_taskinstance.py
  tests/serialization/test_dag_serialization.py
Labels: area:dev-tools, kind:documentation, type:new-feature, area:core

#37145 Use hook.wait_for_operation in DataprocInstantiateInlineWorkflowTemplateOperator
  airflow/providers/google/cloud/operators/dataproc.py
  tests/providers/google/cloud/operators/test_dataproc.py
Labels: provider:google, area:providers

#37282 Support location for BigQueryInsertJobOperator in deferrable mode
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  airflow/providers/google/cloud/triggers/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/triggers/test_bigquery.py
Labels: provider:google, area:providers

#37348 Fix: D401 lint issues in google provider
  airflow/providers/google/cloud/links/vertex_ai.py
  airflow/providers/google/cloud/log/stackdriver_task_handler.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/bigquery_dts.py
  airflow/providers/google/cloud/operators/cloud_base.py
  airflow/providers/google/cloud/operators/cloud_build.py
  airflow/providers/google/cloud/operators/cloud_sql.py
  airflow/providers/google/cloud/operators/cloud_storage_transfer_service.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/google/cloud/operators/dataplex.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/functions.py
  airflow/providers/google/cloud/operators/gcs.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/google/cloud/operators/spanner.py
  airflow/providers/google/cloud/operators/vertex_ai/auto_ml.py
  airflow/providers/google/cloud/operators/vertex_ai/batch_prediction_job.py
  airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
  airflow/providers/google/cloud/operators/vertex_ai/hyperparameter_tuning_job.py
  airflow/providers/google/cloud/operators/vertex_ai/pipeline_job.py
  airflow/providers/google/cloud/sensors/bigquery.py
  airflow/providers/google/cloud/sensors/cloud_composer.py
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/providers/google/cloud/sensors/pubsub.py
  airflow/providers/google/cloud/transfers/bigquery_to_gcs.py
  airflow/providers/google/cloud/transfers/bigquery_to_sql.py
  airflow/providers/google/cloud/transfers/cassandra_to_gcs.py
  airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
  airflow/providers/google/cloud/transfers/gcs_to_gcs.py
  airflow/providers/google/cloud/transfers/local_to_gcs.py
  airflow/providers/google/cloud/transfers/s3_to_gcs.py
  airflow/providers/google/common/auth_backend/google_openid.py
  pyproject.toml
Labels: provider:google, area:providers, area:logging, provider:cncf-kubernetes

#37339 removing additional .* that prevents proper metric mapping to airflow_dagrun_dependency_check
  chart/files/statsd-mappings.yml
Labels: area:helm-chart

#37327 D401 Support in Microsoft azure and psrp providers
  airflow/providers/microsoft/azure/hooks/adx.py
  airflow/providers/microsoft/azure/hooks/asb.py
  airflow/providers/microsoft/azure/hooks/base_azure.py
  airflow/providers/microsoft/azure/hooks/batch.py
  airflow/providers/microsoft/azure/hooks/container_instance.py
  airflow/providers/microsoft/azure/hooks/container_registry.py
  airflow/providers/microsoft/azure/hooks/container_volume.py
  airflow/providers/microsoft/azure/hooks/cosmos.py
  airflow/providers/microsoft/azure/hooks/data_factory.py
  airflow/providers/microsoft/azure/hooks/data_lake.py
  airflow/providers/microsoft/azure/hooks/fileshare.py
  airflow/providers/microsoft/azure/hooks/synapse.py
  airflow/providers/microsoft/azure/hooks/wasb.py
  airflow/providers/microsoft/azure/log/wasb_task_handler.py
  airflow/providers/microsoft/azure/operators/adx.py
  airflow/providers/microsoft/azure/operators/asb.py
  airflow/providers/microsoft/azure/operators/data_factory.py
  airflow/providers/microsoft/azure/operators/synapse.py
  airflow/providers/microsoft/azure/sensors/data_factory.py
  airflow/providers/microsoft/azure/sensors/wasb.py
  airflow/providers/microsoft/azure/transfers/sftp_to_wasb.py
  airflow/providers/microsoft/azure/triggers/data_factory.py
  airflow/providers/microsoft/azure/triggers/wasb.py
  airflow/providers/microsoft/psrp/hooks/psrp.py
  pyproject.toml
Labels: provider:microsoft-azure, area:providers, area:logging, provider:microsoft-psrp

#37354 Clarify docs around --package-filter flags in docs breeze commands
  airflow/providers/MANAGING_PROVIDERS_LIFECYCLE.rst
  contributing-docs/07_local_virtualenv.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_HELM_CHART.md
  dev/breeze/doc/03_developer_tasks.rst
  dev/breeze/doc/09_release_management_tasks.rst
  dev/breeze/doc/images/output_build-docs.svg
  dev/breeze/doc/images/output_build-docs.txt
  dev/breeze/doc/images/output_release-management_publish-docs.svg
  dev/breeze/doc/images/output_release-management_publish-docs.txt
  dev/breeze/doc/images/output_sbom_update-sbom-information.svg
  dev/breeze/doc/images/output_sbom_update-sbom-information.txt
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
  docs/build_docs.py
Labels: area:providers, area:dev-tools, kind:documentation

#37356 remove duplicate ports key in webserver-service.yaml
  chart/templates/webserver/webserver-service.yaml
Labels: area:helm-chart

#37359 Add more-itertools as dependency of common-sql
  airflow/providers/common/sql/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Labels: area:providers, provider:common-sql

#37349 Helm char 1.12.0 has been released
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  chart/Chart.yaml
Labels: area:dev-tools, area:helm-chart

#35393 confirmation dialog box for DAG run actions
  airflow/www/static/js/dag/details/dagRun/ClearRun.tsx
  airflow/www/static/js/dag/details/dagRun/ConfirmationModal.tsx
  airflow/www/static/js/dag/details/dagRun/MarkRunAs.tsx
Labels: area:webserver, area:UI

#37367 Fix typo in deferring.rst
  docs/apache-airflow/authoring-and-scheduling/deferring.rst
Labels: kind:documentation

#37361 Fix rendering `LivyOperator.spark_params`
  airflow/providers/apache/livy/operators/livy.py
  tests/providers/apache/livy/operators/test_livy.py
Labels: area:providers, provider:apache-livy

#37360 Improve speed of regular upgrades when dependencies change.
  Dockerfile.ci
Labels: area:dev-tools

#37319 Remove unused pageSize method.
  airflow/www/static/js/dags.js
Labels: area:webserver, area:UI

#37320 Turn Pydantic into an optional dependency
  .github/workflows/ci.yml
  Dockerfile.ci
  INSTALL
  airflow/providers/apache/hdfs/sensors/hdfs.py
  airflow/providers/papermill/hooks/kernel.py
  airflow/providers_manager.py
  airflow/serialization/pydantic/dag.py
  airflow/serialization/pydantic/dag_run.py
  airflow/serialization/pydantic/dataset.py
  airflow/serialization/pydantic/job.py
  airflow/serialization/pydantic/taskinstance.py
  airflow/serialization/pydantic/tasklog.py
  airflow/serialization/serialized_objects.py
  airflow/utils/pydantic.py
  contributing-docs/12_airflow_dependencies_and_extras.rst
  contributing-docs/testing/unit_tests.rst
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_testing_db-tests.svg
  dev/breeze/doc/images/output_testing_db-tests.txt
  dev/breeze/doc/images/output_testing_non-db-tests.svg
  dev/breeze/doc/images/output_testing_non-db-tests.txt
  dev/breeze/doc/images/output_testing_tests.svg
  dev/breeze/doc/images/output_testing_tests.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  docs/apache-airflow/extra-packages-ref.rst
  pyproject.toml
  scripts/ci/docker-compose/devcontainer.env
  scripts/docker/entrypoint_ci.sh
  tests/always/test_example_dags.py
  tests/api/common/test_airflow_health.py
  tests/api_internal/endpoints/test_rpc_api_endpoint.py
  tests/api_internal/test_internal_api_call.py
  tests/conftest.py
  tests/core/test_configuration.py
  tests/core/test_settings.py
  tests/providers/openai/hooks/test_openai.py
  tests/providers/openai/operators/test_openai.py
  tests/providers/qdrant/hooks/test_qdrant.py
  tests/providers/qdrant/operators/test_qdrant.py
  tests/serialization/serializers/test_serializers.py
  tests/serialization/test_pydantic_models.py
  tests/serialization/test_serde.py
  tests/serialization/test_serialized_objects.py
  tests/system/providers/google/cloud/storage_transfer/example_cloud_storage_transfer_service_aws.py
Labels: provider:google, area:providers, area:serialization, area:system-tests, kind:documentation, provider:papermill

#37371 Fallback to locally installed k9s on ARM architecture
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
Labels: area:dev-tools

#37370 Applied D401 to airbyte files.
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/operators/airbyte.py
  airflow/providers/airbyte/sensors/airbyte.py
  airflow/providers/airbyte/triggers/airbyte.py
  pyproject.toml
Labels: area:providers, provider:airbyte

#34225 Add extra operator links for EMR Serverless
  airflow/providers/amazon/aws/links/emr.py
  airflow/providers/amazon/aws/operators/emr.py
  airflow/providers/amazon/provider.yaml
  docs/apache-airflow-providers-amazon/operators/emr/emr_serverless.rst
  tests/providers/amazon/aws/links/test_emr.py
  tests/providers/amazon/aws/operators/test_emr_serverless.py
Labels: provider:amazon-aws, area:providers

#37383 Enable PT014: Checks for duplicate test cases in `pytest.mark.parametrize`
  dev/breeze/tests/test_docker_command_utils.py
  dev/breeze/tests/test_packages.py
  dev/breeze/tests/test_provider_documentation.py
  pyproject.toml
  tests/always/test_secrets_local_filesystem.py
  tests/models/test_dagrun.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
  tests/providers/databricks/operators/test_databricks_sql.py
  tests/providers/fab/auth_manager/test_fab_auth_manager.py
  tests/providers/google/cloud/hooks/test_cloud_storage_transfer_service.py
  tests/providers/presto/hooks/test_presto.py
  tests/providers/trino/hooks/test_trino.py
  tests/www/views/test_views.py
Labels: provider:google, area:webserver, area:providers, type:misc/internal, provider:cncf-kubernetes, provider:databricks, provider:trino, provider:presto, provider:fab

#37397 Standardize use of get_app with flask appbuilder
  airflow/providers/fab/auth_manager/security_manager/override.py
Labels: area:providers, provider:fab

#37384 Add redirect for deprecated page
  docs/apache-airflow/redirects.txt
Labels: kind:documentation, type:doc-only

#37391 fix: Signature of "insert_rows" incompatible with supertype "DbApiHook"
  airflow/providers/google/cloud/hooks/bigquery.py
Labels: provider:google, area:providers

#37394 Add more task details from rest api
  airflow/www/static/js/api/useTaskInstance.ts
  airflow/www/static/js/dag/details/index.tsx
  airflow/www/static/js/dag/details/taskInstance/Details.tsx
  airflow/www/static/js/dag/details/taskInstance/ExtraLinks.tsx
  airflow/www/static/js/dag/details/taskInstance/index.tsx
Labels: area:webserver, area:UI

#37396 Remove `markdown` from core dependencies
  pyproject.toml
Labels: area:dev-tools, area:production-image

#37403 Fix intermittent failures coming from buildkit parallel builds
  .github/workflows/ci.yml
Labels: area:dev-tools

#37404 Add Python 3.12 exclusions in providers/pyproject.toml
  airflow/providers/apache/beam/provider.yaml
  airflow/providers/papermill/provider.yaml
  generated/provider_dependencies.json
  pyproject.toml
Labels: area:providers, provider:papermill, provider:apache-beam

#37408 Add capability of testing canary CI runs by apache/airflow PR
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/doc/ci/07_debugging.md
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
Labels: area:dev-tools, canary

#37405 Convert Kubernetes ApiException status code to string to ensure it's correctly checked
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/cncf/kubernetes/operators/custom_object_launcher.py
  airflow/providers/cncf/kubernetes/pod_launcher_deprecated.py
  airflow/providers/cncf/kubernetes/utils/pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#37409 Speedup determine installed airflow version in `ExternalPythonOperator`
  airflow/operators/python.py
  tests/operators/test_python.py
Labels: area:core-operators

#37401 Force Python 3.9+ version when building reproducible packages
  .github/actions/breeze/action.yml
  .github/actions/prepare_breeze_and_image/action.yml
  .github/workflows/build-images.yml
  .github/workflows/ci.yml
  dev/breeze/doc/01_installation.rst
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/kubernetes_utils.py
  dev/breeze/src/airflow_breeze/utils/python_versions.py
  dev/breeze/src/airflow_breeze/utils/reproducible.py
  scripts/ci/install_breeze.sh
Labels: area:dev-tools, non committer build

#37362 Mark FAB provider as ready
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.ci
  airflow/providers/fab/provider.yaml
  dev/breeze/doc/images/output_release-management_generate-issue-content-providers.svg
  dev/breeze/doc/images/output_release-management_generate-issue-content-providers.txt
  dev/breeze/doc/images/output_release-management_prepare-provider-documentation.svg
  dev/breeze/doc/images/output_release-management_prepare-provider-documentation.txt
  dev/breeze/doc/images/output_release-management_prepare-provider-packages.svg
  dev/breeze/doc/images/output_release-management_prepare-provider-packages.txt
  dev/breeze/doc/images/output_release-management_verify-provider-packages.svg
  dev/breeze/doc/images/output_release-management_verify-provider-packages.txt
  dev/breeze/src/airflow_breeze/commands/common_package_installation_options.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  generated/provider_dependencies.json
  scripts/docker/install_airflow.sh
  scripts/in_container/install_airflow_and_providers.py
Labels: area:providers, area:dev-tools, provider:fab

#37411 Use Python 3.9 (reproducibility) in relase branch PROD builds
  .github/workflows/ci.yml
Labels: area:dev-tools, canary

#37414 Avoid side-effects for providers-manager related tests
  tests/always/test_providers_manager.py
  tests/api_connexion/endpoints/test_provider_endpoint.py
  tests/cli/commands/test_info_command.py
  tests/conftest.py
Labels: area:CLI, area:API, changelog:skip

#37392 [OpenLineage] Check for disabled operators in DefaultExtractor.extract_on_complete
  airflow/providers/openlineage/extractors/base.py
  tests/providers/openlineage/extractors/test_base.py
  tests/providers/openlineage/extractors/test_bash.py
  tests/providers/openlineage/extractors/test_python.py
Labels: area:providers, provider:openlineage

#37075 Add doc page with providers deprecations
  airflow/providers/amazon/aws/hooks/base_aws.py
  airflow/providers/amazon/aws/hooks/redshift_cluster.py
  docs/README.rst
  docs/apache-airflow-providers/core-extensions/deprecations.rst
  docs/exts/docs_build/errors.py
  docs/exts/docs_build/spelling_checks.py
  docs/exts/operators_and_hooks_ref.py
  docs/exts/templates/deprecations.rst.jinja2
Labels: kind:documentation

#37395 Fix bug with clicking url-unsafe tags
  airflow/www/templates/airflow/dags.html
Labels: area:webserver, type:bug-fix, area:UI

#37421 Until we release 2.9.0, we keep airflow >= 2.9.0.dev0 for FAB provider
  airflow/providers/fab/provider.yaml
  dev/README_RELEASE_PROVIDER_PACKAGES.md
  generated/provider_dependencies.json
Labels: area:providers, area:dev-tools, provider:fab

#37425 Make datasets list/graph width adjustable
  airflow/www/static/js/datasets/List.tsx
  airflow/www/static/js/datasets/Main.tsx
  airflow/www/static/js/datasets/index.tsx
Labels: area:webserver, area:UI

#37363 KPO Maintain backward compatibility for execute_complete and trigger run method
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/triggers/pod.py
  tests/providers/cncf/kubernetes/operators/test_pod.py
  tests/providers/cncf/kubernetes/triggers/test_pod.py
  tests/providers/google/cloud/triggers/test_kubernetes_engine.py
Labels: provider:google, area:providers, provider:cncf-kubernetes

#37407 Create CLI commands for AWS auth manager to create AWS Identity Center related resources
  airflow/providers/amazon/aws/auth_manager/cli/avp_commands.py
  airflow/providers/amazon/aws/auth_manager/cli/definition.py
  airflow/providers/amazon/aws/auth_manager/cli/idc_commands.py
  tests/providers/amazon/aws/auth_manager/cli/test_definition.py
  tests/providers/amazon/aws/auth_manager/cli/test_idc_commands.py
Labels: provider:amazon-aws, area:providers

#37426 Add retry configuration in `EmrContainerOperator`
  airflow/providers/amazon/aws/hooks/emr.py
  airflow/providers/amazon/aws/operators/emr.py
  tests/providers/amazon/aws/operators/test_emr_containers.py
  tests/system/providers/amazon/aws/example_emr_eks.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#37428 Fix typo (copy&paste victim) introduced in twine fix
  .github/workflows/ci.yml
Labels: area:dev-tools, canary

#37429 Use more recent release label in `example_emr_eks` system test
  tests/system/providers/amazon/aws/example_emr_eks.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#37072 Add GKEStartKueueInsideClusterOperator to support Kueue inside clusters
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  docs/apache-airflow-providers-google/operators/cloud/kubernetes_engine.rst
  docs/spelling_wordlist.txt
  tests/providers/google/cloud/hooks/test_kubernetes_engine.py
  tests/providers/google/cloud/operators/test_kubernetes_engine.py
  tests/system/providers/google/cloud/kubernetes_engine/example_kubernetes_engine_kueue.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation, provider:cncf-kubernetes
