Repository apache/airflow, pull requests merged in 2024-09, with the labels that each got.

#41871 Fix ElasticSearch SQLClient deprecation warning
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  tests/providers/elasticsearch/hooks/test_elasticsearch.py
Labels: area:providers, provider:elasticsearch

#41637 Enforce deprecation message format with EOL for google provider package
  .pre-commit-config.yaml
  airflow/providers/google/cloud/hooks/bigquery.py
  airflow/providers/google/cloud/hooks/cloud_build.py
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/hooks/datapipeline.py
  airflow/providers/google/cloud/hooks/kubernetes_engine.py
  airflow/providers/google/cloud/hooks/life_sciences.py
  airflow/providers/google/cloud/hooks/secret_manager.py
  airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  airflow/providers/google/cloud/links/automl.py
  airflow/providers/google/cloud/operators/bigquery.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/operators/datafusion.py
  airflow/providers/google/cloud/operators/datapipeline.py
  airflow/providers/google/cloud/operators/dataproc.py
  airflow/providers/google/cloud/operators/kubernetes_engine.py
  airflow/providers/google/cloud/operators/life_sciences.py
  airflow/providers/google/cloud/operators/mlengine.py
  airflow/providers/google/cloud/operators/vertex_ai/auto_ml.py
  airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
  airflow/providers/google/cloud/operators/vertex_ai/generative_model.py
  airflow/providers/google/cloud/secrets/secret_manager.py
  airflow/providers/google/cloud/sensors/bigquery.py
  airflow/providers/google/cloud/sensors/cloud_composer.py
  airflow/providers/google/cloud/sensors/gcs.py
  airflow/providers/google/common/deprecated.py
  airflow/providers/google/common/hooks/base_google.py
  airflow/providers/google/marketing_platform/hooks/analytics.py
  airflow/providers/google/marketing_platform/operators/analytics.py
  scripts/ci/pre_commit/check_deprecations.py
  tests/providers/google/cloud/hooks/test_bigquery.py
  tests/providers/google/cloud/hooks/test_cloud_build.py
  tests/providers/google/cloud/hooks/test_dataflow.py
  tests/providers/google/cloud/hooks/test_secret_manager.py
  tests/providers/google/cloud/operators/test_bigquery.py
  tests/providers/google/cloud/operators/test_mlengine.py
  tests/providers/google/cloud/operators/vertex_ai/test_generative_model.py
  tests/providers/google/cloud/sensors/test_bigquery.py
  tests/providers/google/cloud/sensors/test_cloud_composer.py
  tests/providers/google/cloud/sensors/test_gcs.py
  tests/providers/google/cloud/utils/test_mlengine_operator_utils.py
  tests/providers/google/common/test_deprecated.py
  tests/providers/google/marketing_platform/hooks/test_analytics.py
  tests/providers/google/marketing_platform/operators/test_analytics.py
Labels: provider:google, area:providers, area:dev-tools, area:secrets, provider:cncf-kubernetes

#41794 update pattern for dataflow job id extraction
  airflow/providers/google/cloud/hooks/dataflow.py
  tests/providers/google/cloud/hooks/test_dataflow.py
Labels: provider:google, area:providers

#41909 Removed deprecation warning catching in test_db_cleanup
  tests/utils/test_db_cleanup.py
Labels: area:MetaDB, upgrade-check

#41907 Update release command for Airflow 2
  .github/workflows/basic-tests.yml
  dev/README_RELEASE_AIRFLOW.md
  dev/breeze/doc/images/output_release-management_start-rc-process.svg
  dev/breeze/doc/images/output_release-management_start-rc-process.txt
  dev/breeze/src/airflow_breeze/commands/release_candidate_command.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
Labels: area:dev-tools

#41924 ci: improve check_deferrable_default script to cover positional variables
  scripts/ci/pre_commit/check_deferrable_default.py
Labels: area:dev-tools

#41925 Upgrade UV to 0.4.1
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#41926 Upgrade UV to 0.4.1 (#41925)
  Dockerfile
  Dockerfile.ci
Labels: area:dev-tools, area:production-image

#41906 Backcompat for non inheriting executors
  airflow/jobs/scheduler_job_runner.py
Labels: area:Scheduler, area:dev-tools, area:API, area:production-image, area:Executors-core, all versions

#41927 Add backcompat check for executors that don't inherit BaseExecutor (#…
  airflow/jobs/scheduler_job_runner.py
Labels: area:Scheduler

#41923 [Task] add UT for rotate log setting in worker task
  docs/apache-airflow/administration-and-deployment/logging-monitoring/advanced-logging-configuration.rst
  tests/utils/test_log_handlers.py
Labels: kind:documentation

#41803 airflow.models.xcom deprecations removed
  airflow/models/baseoperator.py
  airflow/models/taskinstance.py
  airflow/models/xcom.py
  airflow/serialization/pydantic/taskinstance.py
  tests/models/test_xcom.py
  tests/providers/amazon/aws/links/test_base_aws.py
  tests/providers/google/cloud/operators/test_bigquery_dts.py
  tests/providers/google/cloud/operators/test_dataproc.py
  tests/providers/microsoft/conftest.py
  tests/providers/yandex/links/test_yq.py
  tests/providers/yandex/operators/test_yq.py
  tests/test_utils/compat.py
Labels: area:providers

#41712 Fix poll_interval in GKEJobTrigger
  airflow/providers/google/cloud/triggers/kubernetes_engine.py
  tests/providers/google/cloud/triggers/test_kubernetes_engine.py
Labels: provider:google, area:providers, provider:cncf-kubernetes

#41908 Add CountTokensOperator for Google Generative AI CountTokensAPI
  airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  airflow/providers/google/cloud/operators/vertex_ai/generative_model.py
  docs/apache-airflow-providers-google/operators/cloud/vertex_ai.rst
  tests/providers/google/cloud/hooks/vertex_ai/test_generative_model.py
  tests/providers/google/cloud/operators/vertex_ai/test_generative_model.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_generative_model.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#41921 Protect against None components of universal pathlib xcom backend
  airflow/io/path.py
  airflow/providers/common/io/xcom/backend.py
  hatch_build.py
Labels: area:providers, provider:common-io

#41938 Protect against None components of universal pathlib xcom backend (#4…
  airflow/io/path.py
  airflow/providers/common/io/xcom/backend.py
  hatch_build.py
Labels: area:providers, provider:common-io

#41942 ci: improve check_deferrable_default script to cover positional variables
  scripts/ci/pre_commit/check_deferrable_default.py
Labels: area:dev-tools

#41946 Remove system test for deprecated Google analytics operators
  airflow/providers/google/marketing_platform/operators/analytics.py
  docs/apache-airflow-providers-google/operators/marketing_platform/analytics.rst
  tests/always/test_example_dags.py
  tests/always/test_project_structure.py
  tests/system/providers/google/marketing_platform/example_analytics.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#41940 Add RunEvaluationOperator for Google Vertex AI Rapid Evaluation API
  airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  airflow/providers/google/cloud/operators/vertex_ai/generative_model.py
  airflow/providers/google/provider.yaml
  docs/apache-airflow-providers-google/operators/cloud/vertex_ai.rst
  generated/provider_dependencies.json
  tests/providers/google/cloud/hooks/vertex_ai/test_generative_model.py
  tests/providers/google/cloud/operators/vertex_ai/test_generative_model.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_generative_model.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#41786 fix: revert behavior of flattening lists in OpenLineage's InfoJsonEncodable
  airflow/providers/openlineage/utils/utils.py
  tests/providers/openlineage/plugins/test_adapter.py
  tests/providers/openlineage/plugins/test_utils.py
  tests/providers/openlineage/utils/test_utils.py
Labels: area:providers, provider:openlineage

#41929 Docstring update in AsyncKubernetesHook
  airflow/providers/cncf/kubernetes/hooks/kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#41889 move to dag_run.logical_date from execution date in OpenLineage provider
  airflow/providers/openlineage/plugins/adapter.py
  airflow/providers/openlineage/plugins/listener.py
  tests/providers/openlineage/plugins/test_adapter.py
  tests/providers/openlineage/plugins/test_listener.py
Labels: area:providers, provider:openlineage

#41950 chore: Update Marquez version in openlineage integration
  scripts/ci/docker-compose/integration-openlineage.yml
Labels: area:dev-tools

#41690 feat: notify about potential serialization failures when sending DagRun, don't serialize unnecessary params, guard listener for exceptions
  airflow/providers/openlineage/plugins/adapter.py
  airflow/providers/openlineage/plugins/listener.py
  airflow/providers/openlineage/utils/utils.py
  tests/providers/openlineage/plugins/test_adapter.py
  tests/providers/openlineage/plugins/test_listener.py
Labels: area:providers, provider:openlineage

#41928 [Fix #41763]: Redundant forward slash in SFTPToGCSOperator when destination_path is not specified or have default value
  airflow/providers/google/cloud/transfers/sftp_to_gcs.py
  tests/providers/google/cloud/transfers/test_sftp_to_gcs.py
Labels: provider:google, area:providers

#41952 Fix tests/models/test_variable.py for database isolation mode (#41414)
  airflow/api_internal/endpoints/rpc_api_endpoint.py
  airflow/api_internal/internal_api_call.py
  airflow/models/variable.py
  airflow/serialization/enums.py
  airflow/serialization/serialized_objects.py
  tests/models/test_variable.py
Labels: area:serialization

#41576 Add DataflowStartYamlJobOperator
  airflow/providers/google/cloud/hooks/dataflow.py
  airflow/providers/google/cloud/operators/dataflow.py
  airflow/providers/google/cloud/triggers/dataflow.py
  docs/apache-airflow-providers-google/operators/cloud/dataflow.rst
  tests/always/test_example_dags.py
  tests/providers/google/cloud/operators/test_dataflow.py
  tests/providers/google/cloud/triggers/test_dataflow.py
  tests/system/providers/google/cloud/dataflow/example_dataflow_yaml.py
Labels: provider:google, area:providers, area:system-tests, kind:documentation

#41951 Skipping tests for db isolation because similar tests were skipped (#…
  tests/sensors/test_external_task_sensor.py
Labels: area:core-operators

#41960 Revert "Provider fab auth manager deprecated methods removed (#41720)"
  airflow/providers/fab/auth_manager/security_manager/override.py
  newsfragments/41720.significant.rst
  tests/providers/fab/auth_manager/test_security.py
Labels: area:providers, provider:fab

#41959 Switch to using emulation for image building
  .github/workflows/release_dockerhub_image.yml
Labels: area:dev-tools

#41963 Add TODOs in providers code for Subdag code removal
  airflow/providers/cncf/kubernetes/operators/pod.py
  airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
  airflow/providers/fab/auth_manager/security_manager/override.py
Labels: area:providers, provider:cncf-kubernetes, provider:fab

#41964 Remove `--tree` flag from `airflow tasks list` command
  airflow/cli/cli_config.py
  airflow/cli/commands/task_command.py
  airflow/models/dag.py
  newsfragments/41964.significant.rst
  tests/cli/commands/test_task_command.py
  tests/models/test_dag.py
Labels: area:CLI, airflow3.0:breaking

#41965 Deprecate ``--tree`` flag for ``tasks list`` cli command
  airflow/cli/cli_config.py
  airflow/models/dag.py
  tests/models/test_dag.py
Labels: area:CLI

#41966 Add warning that listeners can be dangerous
  docs/apache-airflow/administration-and-deployment/listeners.rst
Labels: kind:documentation

#41968 Add warning that listeners can be dangerous
  docs/apache-airflow/administration-and-deployment/listeners.rst
Labels: kind:documentation, type:doc-only

#41962 Switch to using emulation for image building (#41959)
  .github/workflows/release_dockerhub_image.yml
Labels: area:dev-tools

#41967 Fix `--ignore`-related clobbering when breeze tests providers
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/tests/test_run_test_args.py
Labels: area:dev-tools

#41957 UI API Add views tests
  airflow/api_ui/views/datasets.py
  contributing-docs/testing/unit_tests.rst
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_pytest_args_for_test_types.py
  dev/breeze/tests/test_selective_checks.py
  scripts/ci/pre_commit/check_tests_in_right_folders.py
  tests/api_ui/__init__.py
  tests/api_ui/conftest.py
  tests/api_ui/views/__init__.py
  tests/api_ui/views/test_datasets.py
Labels: AIP-84

#41930 Move projects metadata for SBOM export to Google Spreadsheet
  dev/breeze/doc/images/output_sbom_export-dependency-information.svg
  dev/breeze/doc/images/output_sbom_export-dependency-information.txt
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
  dev/breeze/src/airflow_breeze/commands/sbom_commands_config.py
  dev/breeze/src/airflow_breeze/utils/cdxgen.py
  dev/breeze/src/airflow_breeze/utils/projects_google_spreadsheet.py
Labels: area:dev-tools

#41899 Correct scheduled slots documentation and missing open telemetry span
  airflow/jobs/scheduler_job_runner.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Labels: area:Scheduler, kind:documentation

#41985 Correct scheduled slots documentation and missing open telemetry span (#41899)
  airflow/jobs/scheduler_job_runner.py
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Labels: area:Scheduler, kind:documentation

#40751 Generalize caching of connection in DbApiHook to improve performance
  airflow/providers/common/sql/CHANGELOG.rst
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/common/sql/hooks/sql.pyi
  airflow/providers/common/sql/provider.yaml
  airflow/providers/elasticsearch/hooks/elasticsearch.py
  airflow/providers/elasticsearch/provider.yaml
  airflow/providers/jdbc/hooks/jdbc.py
  airflow/providers/jdbc/provider.yaml
  airflow/providers/microsoft/mssql/hooks/mssql.py
  airflow/providers/microsoft/mssql/provider.yaml
  airflow/providers/mysql/hooks/mysql.py
  airflow/providers/mysql/provider.yaml
  airflow/providers/odbc/hooks/odbc.py
  airflow/providers/odbc/provider.yaml
  airflow/providers/postgres/hooks/postgres.py
  airflow/providers/postgres/provider.yaml
  dev/breeze/tests/test_packages.py
  generated/provider_dependencies.json
Labels: area:providers, provider:common-sql, provider:jdbc, provider:odbc

#41788 Add ENV_ID for job_name in Cloud Run system tests
  tests/system/providers/google/cloud/cloud_run/example_cloud_run.py
Labels: provider:google, area:providers, area:system-tests

#41818 Drop execution_date unique constraint on DagRun
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/migrations/versions/0006_3_0_0_drop_execution_date_unique.py
  airflow/models/dagrun.py
  airflow/utils/db.py
  airflow/www/utils.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/models/test_dag.py
Labels: kind:documentation, area:db-migrations, AIP-83

#41941 Validate aws service exceptions in waiters
  airflow/providers/amazon/aws/utils/waiter_with_logging.py
  airflow/providers/amazon/aws/waiters/stepfunctions.json
  tests/providers/amazon/aws/utils/test_waiter_with_logging.py
Labels: provider:amazon-aws, area:providers

#42001 Fix issue generation failing after deleting a PR
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#41905 Implement pagination for the new home page.
  airflow/ui/src/app.tsx
  airflow/ui/src/dagsList.tsx
Labels: area:UI

#41995 Handle relative paths when sanitizing URLs
  airflow/www/static/js/dag/details/taskInstance/ExtraLinks.tsx
Labels: area:webserver, area:UI

#41991 Automate exclusion of providers in lowest-dependency tests
  .github/workflows/ci.yml
  .github/workflows/run-unit-tests.yml
  .github/workflows/special-tests.yml
  Dockerfile.ci
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_testing_db-tests.svg
  dev/breeze/doc/images/output_testing_db-tests.txt
  dev/breeze/doc/images/output_testing_non-db-tests.svg
  dev/breeze/doc/images/output_testing_non-db-tests.txt
  dev/breeze/doc/images/output_testing_tests.svg
  dev/breeze/doc/images/output_testing_tests.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_pytest_args_for_test_types.py
  dev/breeze/tests/test_selective_checks.py
  scripts/docker/entrypoint_ci.sh
  scripts/in_container/is_provider_excluded.py
Labels: area:dev-tools, full tests needed, include success outputs, all versions

#42010 Add codeowners for new UI
  .github/CODEOWNERS
Labels: area:dev-tools

#41658 bugfix/livy-set-base-url
  airflow/providers/apache/livy/hooks/livy.py
  tests/providers/apache/livy/hooks/test_livy.py
Labels: area:providers, provider:apache-livy

#42011 Exclude google-cloud-spanner 3.49.0
  airflow/providers/google/provider.yaml
  generated/provider_dependencies.json
Labels: provider:google, area:providers

#41601 Add callback to process Azure Service Bus message contents
  airflow/providers/microsoft/azure/hooks/asb.py
  airflow/providers/microsoft/azure/operators/asb.py
  tests/providers/microsoft/azure/hooks/test_asb.py
  tests/providers/microsoft/azure/operators/test_asb.py
Labels: provider:microsoft-azure, area:providers

#42012 Improve docs on markdown docs in DAGs
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation

#42022 Mark test_listener_logs_failed_serialization as flaky
  tests/providers/openlineage/plugins/test_listener.py
Labels: area:providers, provider:openlineage

#41331 Allow custom api versions in MSGraphAsyncOperator
  airflow/providers/microsoft/azure/hooks/msgraph.py
  airflow/providers/microsoft/azure/operators/msgraph.py
  airflow/providers/microsoft/azure/operators/powerbi.py
  airflow/providers/microsoft/azure/sensors/msgraph.py
  airflow/providers/microsoft/azure/triggers/msgraph.py
  airflow/providers/microsoft/azure/triggers/powerbi.py
  docs/apache-airflow-providers-microsoft-azure/operators/msgraph.rst
  tests/providers/microsoft/azure/hooks/test_msgraph.py
  tests/providers/microsoft/azure/hooks/test_powerbi.py
  tests/providers/microsoft/azure/operators/test_powerbi.py
  tests/providers/microsoft/azure/triggers/test_powerbi.py
  tests/providers/microsoft/conftest.py
  tests/system/providers/microsoft/azure/example_msfabric.py
Labels: provider:microsoft-azure, area:providers

#41999 Fix level of a section in the DAGs documentation
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation, type:doc-only

#40171 feat: log client db messages for provider postgres
  airflow/providers/common/sql/hooks/sql.py
  airflow/providers/common/sql/hooks/sql.pyi
  airflow/providers/postgres/hooks/postgres.py
  docs/apache-airflow-providers-postgres/operators/postgres_operator_howto_guide.rst
  tests/providers/common/sql/hooks/test_dbapi.py
  tests/providers/postgres/hooks/test_postgres.py
Labels: area:providers, kind:documentation, provider:common-sql, provider:postgres

#42030 Fix mock assertion in Livy test, for real this time
  tests/providers/apache/livy/hooks/test_livy.py
Labels: area:providers, provider:apache-livy

#42036 Fix dev_mode check in init_react_ui
  airflow/www/extensions/init_react_ui.py
Labels: area:webserver

#42026 Update dags.rst (#41999)
  docs/apache-airflow/core-concepts/dags.rst
Labels: kind:documentation

#42028 test: make flaky OL test wait for future callback done
  tests/providers/openlineage/plugins/test_listener.py
Labels: area:providers, provider:openlineage

#42045 Add note about dataclasses and attrs to XComs page
  docs/apache-airflow/core-concepts/taskflow.rst
  docs/apache-airflow/core-concepts/xcoms.rst
Labels: kind:documentation

#42056 Add note about dataclasses and attrs to XComs page (#42045)
  docs/apache-airflow/core-concepts/taskflow.rst
  docs/apache-airflow/core-concepts/xcoms.rst
Labels: kind:documentation

#41555 Switch cloudant provider from cloudant library to ibmcloudant library
  .github/workflows/check-providers.yml
  airflow/providers/cloudant/CHANGELOG.rst
  airflow/providers/cloudant/cloudant_fake.py
  airflow/providers/cloudant/hooks/cloudant.py
  airflow/providers/cloudant/provider.yaml
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  docs/spelling_wordlist.txt
  generated/provider_dependencies.json
  tests/always/test_project_structure.py
  tests/providers/cloudant/hooks/test_cloudant.py
Labels: area:providers, provider:cloudant, all versions

#42065 Revert "Try to make dataset objects totally unhashable (#42054)"
  airflow/datasets/__init__.py
  airflow/lineage/hook.py
  airflow/models/dag.py
  newsfragments/42054.significant.rst
  tests/datasets/test_dataset.py
  tests/lineage/test_hook.py
  tests/timetables/test_datasets_timetable.py
Labels: full tests needed, area:lineage

#41984 ci: auto fix default_deferrable value with LibCST
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/check_deferrable_default.py
Labels: area:dev-tools

#42073 Fix GlueDataBrewStartJobOperator template fields
  airflow/providers/amazon/aws/operators/glue_databrew.py
Labels: provider:amazon-aws, area:providers

#42062 airflow 3 deprecations removed from trigger_dagrun operator and serialized_objects
  airflow/operators/trigger_dagrun.py
  airflow/serialization/serialized_objects.py
Labels: area:serialization, area:core-operators, airflow3.0:candidate

#42076 Using dedent in the Sagemaker system test
  tests/system/providers/amazon/aws/example_sagemaker.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#42069 Chart: Default airflow version to 2.10.1
  chart/Chart.yaml
  chart/newsfragments/41529.significant.rst
  chart/newsfragments/42069.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#42077 Rename `--extras` to `--airflow-extras` from `breeze prod-image build` command
  dev/breeze/doc/ci/02_images.md
Labels: area:dev-tools

#42066 Try to make dataset objects totally unhashable, redux
  airflow/datasets/__init__.py
  airflow/models/dag.py
  newsfragments/42054.significant.rst
  tests/datasets/test_dataset.py
  tests/lineage/test_hook.py
  tests/timetables/test_datasets_timetable.py
Labels: full tests needed, area:lineage

#42057 Update security_model.rst to clear unauthenticated endpoints exceptions
  docs/apache-airflow/security/security_model.rst
Labels: kind:documentation

#42084 Change compat tests to use new Airflow 2.10.1
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#42085 Update security_model.rst to clear unauthenticated endpoints exceptions (#42057)
  docs/apache-airflow/security/security_model.rst
Labels: kind:documentation

#42083 ci(pre-commit): lower minimum libcst version to 1.1.0 for python 3.8 support
  .pre-commit-config.yaml
Labels: area:dev-tools

#42089 Autofix default deferrable with LibCST
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/check_deferrable_default.py
Labels: area:dev-tools

#42043 Retry Test Airflow Release Step Multiple Times
  .github/workflows/basic-tests.yml
  scripts/ci/testing/run_breeze_command_with_retries.sh
Labels: area:dev-tools

#42098 Add openapi generation hook for UI API
  .pre-commit-config.yaml
  .rat-excludes
  airflow/api_ui/openapi/v1-generated.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/update_ui_api_spec.py
  scripts/in_container/run_update_ui_api_spec.py
Labels: area:dev-tools

#41986 add missing unit tests for mongo providers
  tests/always/test_project_structure.py
  tests/providers/mongo/sensors/test_mongo.py
Labels: area:providers, provider:mongo

#42099 Fix the system test: `dataflow_native_java`
  tests/system/providers/google/cloud/dataflow/example_dataflow_native_java.py
Labels: provider:google, area:providers, area:system-tests

#42091 Add parent_model param in `UploadModelOperator`
  airflow/providers/google/cloud/hooks/vertex_ai/model_service.py
  airflow/providers/google/cloud/operators/vertex_ai/model_service.py
  tests/providers/google/cloud/hooks/vertex_ai/test_model_service.py
  tests/providers/google/cloud/operators/test_vertex_ai.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_model_service.py
Labels: provider:google, area:providers, area:system-tests

#42106 Fix typo in plugins.rst
  docs/apache-airflow/authoring-and-scheduling/plugins.rst
Labels: area:plugins, kind:documentation

#42088 Deprecated metrics configuration removed
  airflow/configuration.py
  newsfragments/42088.significant.rst
Labels: area:metrics, airflow3.0:candidate, airflow3.0:breaking

#42060 Deprecated configuration stalled_task_timeout, task_adoption_timeout and worker_pods_pending_timeout removed
  airflow/configuration.py
  airflow/jobs/scheduler_job_runner.py
  docs/conf.py
  newsfragments/42060.significant.rst
Labels: area:Scheduler, kind:documentation, airflow3.0:candidate, airflow3.0:breaking

#42110 fix indentation for unit test contribution docs
  contributing-docs/testing/unit_tests.rst
Labels: area:dev-tools

#42104 Fix details tab log url detection
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.test.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
Labels: area:webserver, type:bug-fix, area:UI

#42108 Fix typo in plugins.rst (#42106)
  docs/apache-airflow/authoring-and-scheduling/plugins.rst
Labels: area:Scheduler, area:CLI, area:dev-tools, area:API, area:production-image

#41842 Add return_immediately parameter to PubSubPullSensor class
  airflow/providers/google/cloud/sensors/pubsub.py
Labels: provider:google, area:providers

#42114 Fix details tab log url detection (#42104)
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.test.tsx
  airflow/www/static/js/dag/details/taskInstance/Logs/utils.ts
Labels: type:bug-fix, area:UI

#42095 Move DAGs table to a reusable DataTable component
  airflow/ui/src/components/DataTable.test.tsx
  airflow/ui/src/components/DataTable.tsx
  airflow/ui/src/dagsList.tsx
Labels: area:UI

#42113 Fix failing compatibility test: importing missing saml for old airflows
  pyproject.toml
  tests/system/providers/amazon/aws/tests/test_aws_auth_manager.py
Labels: provider:amazon-aws, area:providers, area:system-tests

#42092 AWS executors docs update
  docs/apache-airflow-providers-amazon/executors/general.rst
Labels: provider:amazon-aws, area:providers, kind:documentation

#42059 chore: bump OL provider dependencies versions
  airflow/providers/openlineage/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, full tests needed, provider:openlineage

#42131 Fix typo in tableau.rst
  docs/apache-airflow-providers-tableau/connections/tableau.rst
Labels: area:providers, kind:documentation, provider:tableau

#42137 Make SAML a required dependency of Amazon provider
  INSTALL
  airflow/providers/papermill/provider.yaml
  contributing-docs/12_airflow_dependencies_and_extras.rst
  generated/provider_dependencies.json
  hatch_build.py
  newsfragments/42137.significant.rst
  pyproject.toml
  tests/providers/amazon/aws/auth_manager/security_manager/test_aws_security_manager_override.py
  tests/providers/amazon/aws/auth_manager/test_aws_auth_manager.py
  tests/providers/amazon/aws/auth_manager/views/test_auth.py
  tests/system/providers/amazon/aws/tests/test_aws_auth_manager.py
Labels: provider:amazon-aws, area:providers, area:dev-tools, area:system-tests, provider:papermill

#42058 Fix simple typo in the documentation.
  docs/apache-airflow/howto/custom-operator.rst
Labels: kind:documentation, type:doc-only

#40414 Support multiline input for Params of type string in trigger UI form
  airflow/example_dags/example_params_ui_tutorial.py
  airflow/www/templates/airflow/trigger.html
  docs/apache-airflow/core-concepts/params.rst
Labels: area:webserver, area:UI

#42138 Fix task_instance and dag_run links from list views
  airflow/www/utils.py
  airflow/www/views.py
Labels: area:webserver, type:bug-fix

#42139 Support multiline input for Params of type string in trigger UI form (#40414)
  airflow/example_dags/example_params_ui_tutorial.py
  airflow/www/templates/airflow/trigger.html
  docs/apache-airflow/core-concepts/params.rst
Labels: area:webserver, kind:documentation, area:UI

#42143 Fix task_instance and dag_run links from list views (#42138)
  airflow/www/utils.py
  airflow/www/views.py
Labels: area:webserver

#42150 Add Ryan Hamilton as ui codeowner
  .github/CODEOWNERS
Labels: area:dev-tools

#42148 Actually move saml to amazon provider (mistakenly added in papermill)
  airflow/providers/amazon/provider.yaml
  airflow/providers/papermill/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, full tests needed, provider:papermill, all versions

#42155 Pin airbyte-api to 0.51.0 (#42154)
  airflow/providers/airbyte/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, provider:airbyte

#42153 Fix vertex AI system tests
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_batch_prediction_job.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_custom_container.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_model_service.py
  tests/system/providers/google/cloud/vertex_ai/example_vertex_ai_pipeline_job.py
Labels: provider:google, area:providers, area:system-tests

#42130 Exclude partition from BigQuery table name
  airflow/providers/google/cloud/hooks/bigquery.py
  tests/providers/google/cloud/hooks/test_bigquery.py
Labels: provider:google, area:providers

#41457 Add Airflow 3 development readme
  dev/README_AIRFLOW3_DEV.md
Labels: area:dev-tools

#42170 Fix wrong casing in airbyte hook.
  airflow/providers/airbyte/hooks/airbyte.py
  airflow/providers/airbyte/provider.yaml
  generated/provider_dependencies.json
Labels: area:providers, provider:airbyte

#42087 Adding support for volume configurations in ECSRunTaskOperator
  airflow/providers/amazon/aws/operators/ecs.py
  tests/providers/amazon/aws/operators/test_ecs.py
Labels: provider:amazon-aws, area:providers

#42068 Airflow 2.10.1 has been released
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow/reproducible_build.yaml
  docs/apache-airflow/installation/supported-versions.rst
  generated/PYPI_README.md
  scripts/ci/pre_commit/supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#39908 Align timers and timing metrics (ms) across all metrics loggers
  airflow/config_templates/config.yml
  airflow/metrics/datadog_logger.py
  airflow/metrics/otel_logger.py
  airflow/metrics/protocols.py
  airflow/models/taskinstance.py
  newsfragments/39908.significant.rst
  tests/_internals/forbidden_warnings.py
  tests/core/test_otel_logger.py
  tests/core/test_stats.py
Labels: kind:documentation, area:metrics, telemetry, airflow3.0:candidate, airflow3.0:breaking

#42046 AIP-69: Adding Empty Edge Provider Package
  .github/ISSUE_TEMPLATE/airflow_providers_bug_report.yml
  INSTALL
  airflow/providers/edge/CHANGELOG.rst
  airflow/providers/edge/__init__.py
  airflow/providers/edge/provider.yaml
  contributing-docs/12_airflow_dependencies_and_extras.rst
  dev/breeze/doc/images/output_build-docs.svg
  dev/breeze/doc/images/output_build-docs.txt
  dev/breeze/doc/images/output_release-management_add-back-references.svg
  dev/breeze/doc/images/output_release-management_add-back-references.txt
  dev/breeze/doc/images/output_release-management_publish-docs.svg
  dev/breeze/doc/images/output_release-management_publish-docs.txt
  dev/breeze/doc/images/output_sbom_generate-providers-requirements.svg
  dev/breeze/doc/images/output_sbom_generate-providers-requirements.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  docs/apache-airflow-providers-edge/changelog.rst
  docs/apache-airflow-providers-edge/commits.rst
  docs/apache-airflow-providers-edge/configurations-ref.rst
  docs/apache-airflow-providers-edge/index.rst
  docs/apache-airflow-providers-edge/installing-providers-from-sources.rst
  docs/apache-airflow-providers-edge/security.rst
  docs/apache-airflow/extra-packages-ref.rst
  generated/provider_dependencies.json
  pyproject.toml
  tests/providers/edge/__init__.py
Labels: area:providers, area:dev-tools, kind:documentation, AIP-69

#42182 do not camelcase xcom entries
  airflow/www/static/js/api/index.ts
Labels: area:webserver, area:UI

#42100 Logging deprecated configuration removed
  airflow/configuration.py
  newsfragments/42100.significant.rst
  tests/core/test_configuration.py
Labels: area:logging, airflow3.0:candidate, airflow3.0:breaking

#42187 do not camelcase xcom entries (#42182)
  airflow/www/static/js/api/index.ts
Labels: area:webserver, area:UI

#42183 Add template field tests to AWS operators part1
  tests/providers/amazon/aws/operators/test_athena.py
  tests/providers/amazon/aws/operators/test_bedrock.py
  tests/providers/amazon/aws/operators/test_cloud_formation.py
  tests/providers/amazon/aws/operators/test_comprehend.py
  tests/providers/amazon/aws/operators/test_datasync.py
  tests/providers/amazon/aws/operators/test_dms.py
  tests/providers/amazon/aws/operators/test_ec2.py
  tests/providers/amazon/aws/operators/test_ecs.py
  tests/providers/amazon/aws/operators/test_eks.py
  tests/providers/amazon/aws/operators/test_emr_add_steps.py
  tests/providers/amazon/aws/operators/test_emr_containers.py
  tests/providers/amazon/aws/operators/test_emr_create_job_flow.py
  tests/providers/amazon/aws/operators/test_emr_modify_cluster.py
  tests/providers/amazon/aws/operators/test_emr_notebook_execution.py
  tests/providers/amazon/aws/operators/test_emr_serverless.py
  tests/providers/amazon/aws/operators/test_emr_terminate_job_flow.py
  tests/providers/amazon/aws/utils/test_template_fields.py
Labels: provider:amazon-aws, area:providers

#42190 Add Jens Scheffler for UI as contributor
  .github/CODEOWNERS
Labels: area:dev-tools

#42193 Revert "Handle Example dags case when checking for missing files"
  airflow/dag_processing/manager.py
  tests/dag_processing/test_job_runner.py
Labels: area:Scheduler

#42197 Revert "Fix: DAGs are not marked as stale if the dags folder change
  airflow/dag_processing/manager.py
  tests/dag_processing/test_job_runner.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler

#42204 Fix problem, skip tests if only not compatible providers are tested a…
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/tests/test_run_test_args.py
Labels: area:dev-tools

#42206 Add extra and renderedTemplates as keys to skip camelCasing
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/components/DatasetEventCard.tsx
  airflow/www/static/js/dag/details/graph/DatasetNode.tsx
Labels: area:webserver, area:UI

#42208 Add extra and renderedTemplates as keys to skip camelCasing (#42206)
  airflow/www/static/js/api/index.ts
  airflow/www/static/js/components/DatasetEventCard.tsx
  airflow/www/static/js/dag/details/graph/DatasetNode.tsx
Labels: area:webserver, area:UI

#42199 Fix: render non-null falsy XCom entries correctly in UI
  airflow/www/static/js/dag/details/taskInstance/Xcom/XcomEntry.tsx
Labels: area:webserver, area:UI

#42213 fix: only treat null/undefined as falsy when rendering XComEntry (#42…
  airflow/www/static/js/dag/details/taskInstance/Xcom/XcomEntry.tsx
Labels: type:bug-fix

#42152 Display tryNumber for failed and completed tasks in grid
  airflow/www/static/js/dag/StatusBox.tsx
Labels: area:webserver, area:UI

#42211 Fix require_confirmation_dag_change (#42063)
  airflow/www/static/js/dag.js
  airflow/www/templates/airflow/dag.html
Labels: area:webserver, area:UI

#42217 Revert "Handle Example dags case when checking for missing files (#41856) (#41874)"
  airflow/dag_processing/manager.py
  tests/dag_processing/test_job_runner.py
Labels: area:Scheduler

#42185 Page routing in new UI
  airflow/ui/src/App.test.tsx
  airflow/ui/src/App.tsx
  airflow/ui/src/Main.tsx
  airflow/ui/src/layouts/BaseLayout.tsx
  airflow/ui/src/layouts/Nav.tsx
  airflow/ui/src/layouts/NavButton.tsx
  airflow/ui/src/pages/DagsList.tsx
  airflow/www/extensions/init_react_ui.py
Labels: area:webserver, area:UI

#42220 Revert "Fix: DAGs are not marked as stale if the dags folder change" (41433) (#41829) (#41893) 41829
  airflow/dag_processing/manager.py
  tests/dag_processing/test_job_runner.py
  tests/jobs/test_scheduler_job.py
Labels: area:Scheduler

#42227 Fix MyPy Checks introduced by newer version of InfluxDB
  airflow/providers/influxdb/hooks/influxdb.py
Labels: area:providers, provider:influxdb

#42147 Fix documentation for cpu and memory usage metrics
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Labels: kind:documentation

#41759 Feature/add pgbouncer and statsd ingress
  chart/templates/pgbouncer/pgbouncer-ingress.yaml
  chart/templates/pgbouncer/pgbouncer-service.yaml
  chart/templates/statsd/statsd-ingress.yaml
  chart/values.schema.json
  chart/values.yaml
  helm_tests/other/test_pgbouncer.py
  helm_tests/other/test_statsd.py
Labels: area:helm-chart

#42202 Add template fields tests to AWS operators (2)
  tests/providers/amazon/aws/operators/test_eventbridge.py
  tests/providers/amazon/aws/operators/test_glacier.py
  tests/providers/amazon/aws/operators/test_glue.py
  tests/providers/amazon/aws/operators/test_glue_crawler.py
  tests/providers/amazon/aws/operators/test_glue_databrew.py
  tests/providers/amazon/aws/operators/test_kinesis_analytics.py
  tests/providers/amazon/aws/operators/test_lambda_function.py
  tests/providers/amazon/aws/operators/test_neptune.py
  tests/providers/amazon/aws/operators/test_quicksight.py
  tests/providers/amazon/aws/operators/test_rds.py
  tests/providers/amazon/aws/operators/test_redshift_cluster.py
  tests/providers/amazon/aws/operators/test_redshift_data.py
  tests/providers/amazon/aws/operators/test_s3.py
  tests/providers/amazon/aws/operators/test_sagemaker_base.py
  tests/providers/amazon/aws/operators/test_sagemaker_endpoint.py
  tests/providers/amazon/aws/operators/test_sagemaker_endpoint_config.py
  tests/providers/amazon/aws/operators/test_sagemaker_model.py
  tests/providers/amazon/aws/operators/test_sagemaker_notebook.py
  tests/providers/amazon/aws/operators/test_sagemaker_pipeline.py
  tests/providers/amazon/aws/operators/test_sagemaker_processing.py
  tests/providers/amazon/aws/operators/test_sagemaker_training.py
  tests/providers/amazon/aws/operators/test_sagemaker_transform.py
  tests/providers/amazon/aws/operators/test_sagemaker_tuning.py
  tests/providers/amazon/aws/operators/test_sns.py
  tests/providers/amazon/aws/operators/test_sqs.py
  tests/providers/amazon/aws/operators/test_step_function.py
Labels: provider:amazon-aws, area:providers

#42228 ECS Exec: Drop params that aren't compatible with EC2
  airflow/providers/amazon/aws/executors/ecs/ecs_executor_config.py
  airflow/providers/amazon/aws/executors/ecs/utils.py
Labels: provider:amazon-aws, area:providers

#42189 allow dataset alias to add more than one dataset events
  airflow/datasets/__init__.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/utils/context.py
  airflow/utils/context.pyi
  tests/serialization/test_serialized_objects.py
  tests/utils/test_context.py
Labels: area:serialization

#42247 allow dataset alias to add more than one dataset events (#42189)
  airflow/datasets/__init__.py
  airflow/models/taskinstance.py
  airflow/serialization/serialized_objects.py
  airflow/utils/context.py
  airflow/utils/context.pyi
  tests/serialization/test_serialized_objects.py
  tests/utils/test_context.py
Labels: area:serialization

#42198 Add fastapi migration done marker
  airflow/api_connexion/endpoints/dag_endpoint.py
  airflow/utils/api_migration.py
  airflow/www/views.py
  contributing-docs/17_adding_api_endpoints.rst
Labels: area:webserver, area:API, AIP-84

#42129 Deprecated configuration removed
  airflow/configuration.py
  airflow/providers/cncf/kubernetes/executors/kubernetes_executor.py
  airflow/providers/fab/auth_manager/fab_auth_manager.py
  newsfragments/42129.significant.rst
  tests/core/test_configuration.py
  tests/providers/cncf/kubernetes/executors/test_kubernetes_executor.py
  tests/providers/cncf/kubernetes/test_client.py
Labels: area:providers, provider:fab, airflow3.0:candidate, airflow3.0:breaking

#42216 Update api endpoint documentation
  contributing-docs/17_adding_api_endpoints.rst
  docs/spelling_wordlist.txt
Labels: area:webserver, area:dev-tools, area:API, kind:documentation, AIP-84

#42256 Fix documentation for cpu and memory usage (#42147)
  docs/apache-airflow/administration-and-deployment/logging-monitoring/metrics.rst
Labels: kind:documentation

#42047 AIP-69: Adding Edge Provider DB Models
  airflow/providers/edge/example_dags/__init__.py
  airflow/providers/edge/example_dags/integration_test.py
  airflow/providers/edge/models/__init__.py
  airflow/providers/edge/models/edge_job.py
  airflow/providers/edge/models/edge_logs.py
  airflow/providers/edge/models/edge_worker.py
  tests/providers/edge/models/__init__.py
  tests/providers/edge/models/test_edge_job.py
  tests/providers/edge/models/test_edge_logs.py
  tests/providers/edge/models/test_edge_worker.py
Labels: area:providers, area:dev-tools, kind:documentation, AIP-69

#41693 Deprecated kerberos auth removed
  airflow/api/auth/backend/kerberos_auth.py
  airflow/auth/managers/fab/api/auth/backend/kerberos_auth.py
  airflow/providers/fab/auth_manager/api/auth/backend/kerberos_auth.py
  docs/apache-airflow-providers-fab/auth-manager/api-authentication.rst
  newsfragments/41693.significant.rst
  tests/providers/fab/auth_manager/api/auth/backend/test_kerberos_auth.py
Labels: area:providers, area:API, kind:documentation, provider:fab, airflow3.0:candidate, airflow3.0:breaking

#40757 Add kerberos related connection fields(principal, keytab) on SparkSubmitHook
  airflow/providers/apache/spark/hooks/spark_submit.py
  airflow/providers/apache/spark/operators/spark_submit.py
  tests/providers/apache/spark/hooks/test_spark_submit.py
Labels: area:providers, provider:apache-spark

#42268 fix(helm): render global volumes and volume mounts into cleanup job (#40191)
  chart/templates/cleanup/cleanup-cronjob.yaml
  helm_tests/airflow_aux/test_cleanup_pods.py
Labels: area:helm-chart

#42264 Update StatsD Image Tag from failed dependencies check
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#42270 Bump dompurify from 2.2.9 to 2.5.6 in /airflow/www (#42263)
  airflow/www/yarn.lock
Labels: area:webserver, area:UI

#42004 Implement `SimpleAuthManager`
  airflow/auth/managers/simple/__init__.py
  airflow/auth/managers/simple/simple_auth_manager.py
  airflow/auth/managers/simple/user.py
  airflow/auth/managers/simple/views/__init__.py
  airflow/auth/managers/simple/views/auth.py
  airflow/config_templates/default_webserver_config.py
  airflow/www/app.py
  airflow/www/extensions/init_auth_manager.py
  airflow/www/static/js/login/Form.tsx
  airflow/www/static/js/login/index.test.tsx
  airflow/www/static/js/login/index.tsx
  airflow/www/templates/airflow/login.html
  airflow/www/templates/appbuilder/navbar.html
  airflow/www/webpack.config.js
  tests/auth/managers/simple/__init__.py
  tests/auth/managers/simple/test_simple_auth_manager.py
  tests/auth/managers/simple/test_user.py
  tests/auth/managers/simple/views/__init__.py
  tests/auth/managers/simple/views/test_auth.py
Labels: area:webserver, area:UI

#42181 Adding How to commit to Contributor Quickstart
  contributing-docs/10_working_with_git.rst
Labels: area:dev-tools

#41975 Metrics basic deprecated validators removed in favor of pattern matching
  airflow/config_templates/config.yml
  airflow/metrics/datadog_logger.py
  airflow/metrics/otel_logger.py
  airflow/metrics/statsd_logger.py
  airflow/metrics/validators.py
  newsfragments/41975.significant.rst
  tests/core/test_stats.py
Labels: area:metrics, airflow3.0:candidate, airflow3.0:breaking
