Repository apache/airflow, pull requests merged in 2025-09, with the labels that each got.

#55022 feat(hitl): update url generating utility
  providers/standard/src/airflow/providers/standard/operators/hitl.py
  providers/standard/tests/unit/standard/operators/test_hitl.py
Labels: area:providers, provider:standard

#55114 Implements pattern search functionality for the Event Logs API endpoint to enable partial matching instead of exact string matches
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/event_logs.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/pages/Events/Events.tsx
Labels: area:API, area:UI

#54593 Fix timezone conversion in datetime trigger parameters
  airflow-core/src/airflow/ui/src/components/DateTimeInput.tsx
  airflow-core/src/airflow/ui/src/components/FlexibleForm/FieldDateTime.tsx
Labels: area:UI, backport-to-v3-0-test

#55093 Add options_mapping support to HITLBranchOperator
  providers/standard/src/airflow/providers/standard/operators/hitl.py
  providers/standard/tests/unit/standard/operators/test_hitl.py
Labels: area:providers, provider:standard

#55145 Fix test_external_python tests setup
  providers/standard/tests/unit/standard/decorators/test_external_python.py
Labels: area:providers, provider:standard

#55153 Correctly restore logging state after StreamCaptureManager exits
  devel-common/src/tests_common/test_utils/stream_capture_manager.py
Labels: full tests needed

#55124 Complete Arabic gaps 2025-09-01
  airflow-core/src/airflow/ui/public/i18n/locales/ar/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/hitl.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/tasks.json
Labels: area:UI, area:translations, translation:ar

#55151 Fix, cleanup and refactor adding apt dependencies when building image
  Dockerfile
  Dockerfile.ci
  docker-stack-docs/changelog.rst
  scripts/docker/install_os_dependencies.sh
Labels: area:dev-tools, kind:documentation, area:production-image, all versions

#55135 Accept start_date as string in default_args when start_date is defined in dag constructor.
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/tests/task_sdk/definitions/test_dag.py
Labels: area:task-sdk

#49164 Improve dag error handling
  airflow-core/src/airflow/api_fastapi/common/exceptions.py
  airflow-core/src/airflow/api_fastapi/core_api/app.py
  airflow-core/src/airflow/exceptions.py
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/api_fastapi/common/test_exceptions.py
Labels: area:API

#55184 added DBT job run id to XCom in DbtCloudRunJobOperator
  providers/dbt/cloud/src/airflow/providers/dbt/cloud/operators/dbt.py
Labels: area:providers, provider:dbt-cloud

#55041 Add pendingActions onto ui/dags
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/ui/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/dags.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/public/i18n/locales/en/_freeze_exemptions.json
  airflow-core/src/airflow/ui/public/i18n/locales/en/hitl.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/_freeze_exemptions.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/hitl.json
  airflow-core/src/airflow/ui/src/components/NeedsReviewBadge.tsx
  airflow-core/src/airflow/ui/src/components/NeedsReviewButton.tsx
  airflow-core/src/airflow/ui/src/constants/searchParams.ts
  airflow-core/src/airflow/ui/src/mocks/handlers/dags.ts
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/Overview.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/DagCard.test.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/DagCard.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsFilters/DagsFilters.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsFilters/StateFilters.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsList.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/RecentRuns.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/Stats.tsx
  airflow-core/src/airflow/ui/src/pages/Task/Overview/Overview.tsx
  airflow-core/src/airflow/ui/src/queries/useDags.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_dags.py
Labels: area:API, area:UI, area:translations, translation:default

#52325 Remove Legacy Query Object Usage from airflow-models
  .pre-commit-config.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/xcom.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/dag_run.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/xcoms.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/models/deadline.py
  airflow-core/src/airflow/models/serialized_dag.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/src/airflow/models/xcom.py
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_xcoms.py
  airflow-core/tests/unit/models/test_deadline.py
  airflow-core/tests/unit/models/test_trigger.py
  airflow-core/tests/unit/models/test_xcom.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/operators/test_pod.py
  providers/common/io/tests/unit/common/io/xcom/test_backend.py
Labels: area:providers, area:serialization, area:API, area:Triggerer, provider:common-io

#55019 refactor(hitl): rename HITLDetail.user_id as HITLDetail.responded_user_id and add HITLDetail.responded_user_name
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/docs/img/airflow_erd.svg
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/hitl.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/hitl.py
  airflow-core/src/airflow/api_fastapi/execution_api/datamodels/hitl.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/hitl.py
  airflow-core/src/airflow/migrations/versions/0076_3_1_0_add_human_in_the_loop_response.py
  airflow-core/src/airflow/models/hitl.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_hitl.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_hitl.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  providers/standard/src/airflow/providers/standard/triggers/hitl.py
  providers/standard/tests/unit/standard/operators/test_hitl.py
  providers/standard/tests/unit/standard/triggers/test_hitl.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
  task-sdk/tests/task_sdk/api/test_client.py
  task-sdk/tests/task_sdk/execution_time/test_hitl.py
Labels: area:providers, area:API, kind:documentation, area:UI, area:Triggerer, area:db-migrations, provider:standard, area:task-sdk, area:airflow-ctl

#55197 Improve DAG deserialization error handling
  airflow-core/src/airflow/exceptions.py
  airflow-core/src/airflow/serialization/serialized_objects.py
Labels: area:serialization

#55186 Improve state handling UI for pending required actions
  airflow-core/src/airflow/ui/src/pages/HITLTaskInstances/HITLResponseForm.tsx
  airflow-core/src/airflow/ui/src/pages/HITLTaskInstances/HITLTaskInstances.tsx
Labels: area:UI

#55188 [v3-0-test] Don't create audit log for API calls with dry_run=True. (#55116)
  airflow-core/src/airflow/api_fastapi/logging/decorators.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_run.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
Labels: area:API

#55202 Update HITL test to use new column name for HITLdetail table
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_dags.py
Labels: area:API

#55204 Fix HITL related UI schema generated my prek hooks
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
Labels: area:API

#55168 feature: Add OpenLineage support for BigQueryToMsSqlOperator
  providers/google/src/airflow/providers/google/cloud/openlineage/utils.py
  providers/google/src/airflow/providers/google/cloud/transfers/bigquery_to_mssql.py
  providers/google/src/airflow/providers/google/cloud/transfers/bigquery_to_sql.py
  providers/google/tests/unit/google/cloud/transfers/test_bigquery_to_mssql.py
Labels: provider:google, area:providers

#55112 Add hyperlink to triggering user name in DAG run header
  airflow-core/src/airflow/ui/src/pages/Run/Header.tsx
Labels: area:UI

#55191 Persist TI tabs in dag view for Gantt bar click
  airflow-core/src/airflow/ui/src/layouts/Details/Gantt/Gantt.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Gantt/utils.ts
Labels: area:UI

#55218 refactor(ui): Replace hardcoded query parameter strings with SearchParamsKeys constants
  airflow-core/src/airflow/ui/src/components/NeedsReviewBadge.tsx
  airflow-core/src/airflow/ui/src/components/PoolBar.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/Overview.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/DagTags.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/HistoricalMetrics/DagRunMetrics.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/HistoricalMetrics/MetricSection.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/HistoricalMetrics/TaskInstanceMetrics.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Header.tsx
  airflow-core/src/airflow/ui/src/pages/Task/Overview/Overview.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Details.tsx
Labels: area:UI

#54884 Nuke `patched_secrets_masker` fixture and its usages
  task-sdk/tests/conftest.py
  task-sdk/tests/task_sdk/definitions/test_connections.py
  task-sdk/tests/task_sdk/definitions/test_variables.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Labels: area:task-sdk

#55195 Fix connection management for EKS token generation
  providers/amazon/src/airflow/providers/amazon/aws/hooks/eks.py
  providers/amazon/src/airflow/providers/amazon/aws/operators/eks.py
  providers/amazon/src/airflow/providers/amazon/aws/utils/eks_get_token.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_eks.py
  providers/amazon/tests/unit/amazon/aws/operators/test_eks.py
  providers/amazon/tests/unit/amazon/aws/utils/test_eks_get_token.py
Labels: provider:amazon, area:providers

#55232 Doc: Add DAG bundles triggerer limitation
  RELEASE_NOTES.rst
  airflow-core/docs/administration-and-deployment/dag-bundles.rst
  reproducible_build.yaml
Labels: kind:documentation, backport-to-v3-0-test

#55196 Validate Dataproc batch labels max 63 characters
  providers/google/src/airflow/providers/google/cloud/operators/dataproc.py
  providers/google/tests/unit/google/cloud/operators/test_dataproc.py
Labels: provider:google, area:providers

#55229 Update models used in bedrock system tests
  providers/amazon/tests/system/amazon/aws/example_bedrock_batch_inference.py
  providers/amazon/tests/system/amazon/aws/example_bedrock_retrieve_and_generate.py
Labels: provider:amazon, area:providers

#55221 Fix external_links for plugins, url_route undefined
  airflow-core/src/airflow/plugins_manager.py
  airflow-core/tests/unit/plugins/test_plugins_manager.py
Labels: area:plugins

#54377 Add collapsible failed task logs to prevent React error 185
  airflow-core/src/airflow/ui/public/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/TaskLogPreview.tsx
  airflow-core/src/airflow/ui/src/queries/useLogs.tsx
Labels: area:UI, backport-to-v3-0-test, area:translations, translation:default

#55217 feat(hitl): allow order_by run_after, rendered_map_index, task_instance_operator for get hitl details endpoints
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/hitl.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_hitl.py
Labels: area:API

#55127 Add ability to return number of affected rows to SpannerQueryDatabaseInstanceOperator
  providers/google/src/airflow/providers/google/cloud/hooks/spanner.py
  providers/google/src/airflow/providers/google/cloud/operators/spanner.py
  providers/google/tests/unit/google/cloud/hooks/test_spanner.py
  providers/google/tests/unit/google/cloud/operators/test_spanner.py
Labels: provider:google, area:providers

#55193 Pass team name to `is_authorized_connection`, `is_authorized_variable` and `is_authorized_pool` in Airflow API
  airflow-core/src/airflow/api_fastapi/auth/managers/models/resource_details.py
  airflow-core/src/airflow/api_fastapi/core_api/security.py
  airflow-core/src/airflow/models/connection.py
  airflow-core/src/airflow/models/pool.py
  airflow-core/src/airflow/models/variable.py
  airflow-core/tests/unit/api_fastapi/core_api/test_security.py
  airflow-core/tests/unit/models/test_connection.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/models/test_pool.py
  airflow-core/tests/unit/models/test_variable.py
  devel-common/src/tests_common/pytest_plugin.py
Labels: area:API

#52649 Support system theme
  airflow-core/src/airflow/ui/public/i18n/locales/ar/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/fr/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/common.json
  airflow-core/src/airflow/ui/src/context/colorMode/useColorMode.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/UserSettingsButton.tsx
  dev/react-plugin-tools/react_plugin_template/src/context/colorMode/useColorMode.tsx
  dev/react-plugin-tools/react_plugin_template/src/pages/HomePage.tsx
Labels: type:bug-fix, area:UI

#55260 refactor(hitl): remove unnecessary helper functions and reduce one call through joinedload
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/hitl.py
Labels: area:API

#55243 HITL: Resolve Conflict 409 in API server when user actions at nearly timeout
  providers/standard/src/airflow/providers/standard/triggers/hitl.py
  providers/standard/tests/unit/standard/triggers/test_hitl.py
Labels: area:providers, area:Triggerer, provider:standard

#55269 Clear ti_summaries cache for a dagrun when a task instance is deleted to fetch updated summary.
  airflow-core/src/airflow/ui/src/queries/useDeleteTaskInstance.ts
Labels: area:UI

#55278 Fix bulk operation permissions for connection, pool and variable
  airflow-core/docs/core-concepts/auth-manager/index.rst
  airflow-core/src/airflow/api_fastapi/auth/managers/base_auth_manager.py
  airflow-core/src/airflow/api_fastapi/auth/managers/models/batch_apis.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/connections.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/pools.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/variables.py
  airflow-core/src/airflow/api_fastapi/core_api/security.py
  airflow-core/tests/unit/api_fastapi/auth/managers/test_base_auth_manager.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_connections.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_pools.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_variables.py
  airflow-core/tests/unit/api_fastapi/core_api/test_security.py
Labels: area:API, kind:documentation

#55288 Remove python_callable as string from mapped operator in serialized Dag
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
Labels: area:serialization

#55290 Fixed rows_processor in SQLInsertRowsOperator
  providers/common/sql/src/airflow/providers/common/sql/operators/sql.py
  providers/common/sql/tests/unit/common/sql/operators/test_sql.py
Labels: area:providers, provider:common-sql

#55293 Fix PL translation gaps - 2025-09-05
  airflow-core/src/airflow/ui/public/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dag.json
Labels: area:UI, area:translations, translation:pl

#51692 EcsRunTaskOperator fails when no containers are provided in the response
  providers/amazon/src/airflow/providers/amazon/aws/operators/ecs.py
  providers/amazon/tests/unit/amazon/aws/operators/test_ecs.py
Labels: stale, provider:amazon, area:providers

#55316 🩹 fix: Use GoogleBaseAsyncHook
  providers/google/src/airflow/providers/google/cloud/hooks/cloud_run.py
Labels: provider:google, area:providers

#55311 Remove duplicate TI.next_method from the select statement
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
Labels: area:API

#55312 Complete Arabic translation 2025-09-06
  airflow-core/src/airflow/ui/public/i18n/locales/ar/_freeze_exemptions.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ar/hitl.json
Labels: area:UI, area:translations, translation:ar

#54976 Change CloudComposerAsyncHook to inherit from GoogleBaseAsyncHook instead of GoogleBaseHook.
  providers/google/src/airflow/providers/google/cloud/hooks/cloud_composer.py
  providers/google/src/airflow/providers/google/cloud/triggers/cloud_composer.py
  providers/google/tests/unit/google/cloud/hooks/test_cloud_composer.py
Labels: provider:google, area:providers

#55152 modify asset ui doc
  dev/breeze/doc/03_developer_tasks.rst
Labels: area:dev-tools, backport-to-v3-0-test

#55321 Fix Cloud Run async hooks (inc. unit tests)
  providers/google/src/airflow/providers/google/cloud/hooks/cloud_run.py
  providers/google/tests/unit/google/cloud/hooks/test_cloud_run.py
Labels: provider:google, area:providers

#55329 Fix typo introduced in #55125
  Dockerfile
  Dockerfile.ci
  scripts/docker/install_airflow_when_building_images.sh
Labels: area:dev-tools, area:production-image, backport-to-v3-0-test

#55327 Check if plural forms are correct for languages.
  .github/workflows/basic-tests.yml
  .pre-commit-config.yaml
  airflow-core/src/airflow/ui/public/i18n/README.md
  airflow-core/src/airflow/ui/rules/i18n.js
  dev/i18n/check_translations_completeness.py
Labels: area:dev-tools, area:UI, backport-to-v3-0-test, area:translations

#54643 Fix https access token repo url
  providers/git/src/airflow/providers/git/bundles/git.py
  providers/git/tests/unit/git/bundles/test_git.py
Labels: area:providers, provider:git

#53533 fix: Add api-server support for k8s pod template
  chart/files/pod-template-file.kubernetes-helm-yaml
  chart/templates/_helpers.yaml
  helm-tests/tests/helm_tests/airflow_aux/test_pod_template_file.py
Labels: area:helm-chart

#55330 Update minimum size for Gantt
  airflow-core/src/airflow/ui/src/layouts/Details/DetailsLayout.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Gantt/Gantt.tsx
Labels: type:bug-fix, area:UI

#55341 Bring back check translation completeness
  .github/workflows/basic-tests.yml
Labels: area:dev-tools, backport-to-v3-0-test

#55343 [v3-0-test] Improve cache usage for prek hooks (#55328)
  .github/actions/install-prek/action.yml
  .github/workflows/basic-tests.yml
  .github/workflows/ci-amd.yml
  .github/workflows/ci-arm.yml
  .github/workflows/ci-image-checks.yml
Labels: area:dev-tools, backport-to-v3-0-test

#55346 [v3-0-test] Octopin should save its own cache (#55340)
  .github/workflows/ci-amd.yml
Labels: area:dev-tools, backport-to-v3-0-test

#55342 Improve check translation completeness script:
  dev/i18n/check_translations_completeness.py
Labels: area:dev-tools

#55345 Speed up cleanup of runner
  .github/actions/prepare_breeze_and_image/action.yml
  .github/workflows/additional-ci-image-checks.yml
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/airflow-distributions-tests.yml
  .github/workflows/basic-tests.yml
  .github/workflows/ci-amd.yml
  .github/workflows/ci-arm.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/ci-image-checks.yml
  .github/workflows/finalize-tests.yml
  .github/workflows/generate-constraints.yml
  .github/workflows/helm-tests.yml
  .github/workflows/integration-system-tests.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/publish-docs-to-s3.yml
  .github/workflows/push-image-cache.yml
  .github/workflows/release_dockerhub_image.yml
  .github/workflows/release_single_dockerhub_image.yml
  .github/workflows/run-unit-tests.yml
  .github/workflows/test-providers.yml
  scripts/ci/make_mnt_writeable.sh
  scripts/ci/move_docker_to_mnt.sh
Labels: area:dev-tools, full tests needed, all versions, backport-to-v3-0-test

#55331 Add _two form for the Hebrew translation
  airflow-core/src/airflow/ui/public/i18n/locales/he/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/hitl.json
Labels: area:UI, area:translations, translation:he

#55337 Close Dutch translation gaps (2025-09-06)
  airflow-core/src/airflow/ui/public/i18n/locales/nl/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/hitl.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/tasks.json
Labels: area:UI, area:translations, translation:nl

#55301 Add worker maintenance mode functionality to Edge3 provider UI
  providers/edge3/src/airflow/providers/edge3/openapi/v2-edge-generated.yaml
  providers/edge3/src/airflow/providers/edge3/plugins/www/dist/main.umd.cjs
  providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/queries/common.ts
  providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/queries/queries.ts
  providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/requests/schemas.gen.ts
  providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/requests/services.gen.ts
  providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/requests/types.gen.ts
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/components/OperationsCell.tsx
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/pages/WorkerPage.tsx
  providers/edge3/src/airflow/providers/edge3/worker_api/datamodels_ui.py
  providers/edge3/src/airflow/providers/edge3/worker_api/routes/ui.py
  providers/edge3/www-hash.txt
Labels: area:providers, provider:edge

#55350 Upgrade to latest versions of important deps and improve the script
  .github/actions/install-prek/action.yml
  .github/workflows/basic-tests.yml
  .github/workflows/release_dockerhub_image.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.ci
  airflow-core/docs/best-practices.rst
  dev/breeze/README.md
  dev/breeze/doc/ci/02_images.md
  dev/breeze/pyproject.toml
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/uv.lock
  devel-common/pyproject.toml
  pyproject.toml
  scripts/ci/install_breeze.sh
  scripts/ci/prek/check_imports_in_providers.py
  scripts/ci/prek/common_prek_utils.py
  scripts/ci/prek/ruff_format.py
  scripts/ci/prek/upgrade_important_versions.py
  scripts/tools/setup_breeze
Labels: area:dev-tools, area:production-image, backport-to-v3-0-test

#55359 feat(i18n): Turkish translation fill gaps and remove extras
  airflow-core/src/airflow/ui/public/i18n/locales/tr/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/hitl.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/tasks.json
Labels: area:UI, area:translations, translation:tr

#55280 README optional dependencies template
  dev/breeze/src/airflow_breeze/templates/PROVIDER_README_TEMPLATE.rst.jinja2
  dev/breeze/src/airflow_breeze/utils/packages.py
  providers/amazon/README.rst
Labels: provider:amazon, area:providers, area:dev-tools, backport-to-v3-0-test

#55353 Close gap in Spanish translations
  airflow-core/src/airflow/ui/public/i18n/locales/es/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/hitl.json
Labels: area:UI, area:translations, translation:es

#55264 Fix plugin resgistration for invalid objects
  airflow-core/src/airflow/plugins_manager.py
  airflow-core/tests/unit/plugins/test_plugins_manager.py
Labels: area:plugins, log exception

#55367 modify python path to sys executable
  scripts/in_container/run_check_imports_in_providers.py
Labels: area:dev-tools, backport-to-v3-0-test

#55395 Close German translation gaps for full UI translation 2025-09-08
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
Labels: area:UI, area:translations, translation:de

#55086 Allow attachment of multiple deadlines to a DAG
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/serialization/schema.json
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/models/test_dag.py
  task-sdk/src/airflow/sdk/definitions/dag.py
Labels: area:serialization, area:task-sdk

#55334 Optimize Gantt group expansion with debouncing and deferred rendering
  airflow-core/src/airflow/ui/src/context/openGroups/OpenGroupsProvider.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Gantt/Gantt.tsx
Labels: area:UI

#55012 Fix graph export cropping when view is partial
  airflow-core/src/airflow/ui/src/components/Graph/DownloadButton.tsx
Labels: area:UI, backport-to-v3-0-test

#55435 Complete Arabic translation 2025-09-09
  airflow-core/src/airflow/ui/public/i18n/locales/ar/common.json
Labels: area:UI, area:translations, translation:ar

#55122 [I18N] Add Simplified Chinese (zh-CN) UI Translation
  .github/CODEOWNERS
  .github/boring-cyborg.yml
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/hitl.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/tasks.json
  airflow-core/src/airflow/ui/src/i18n/config.ts
  dev/i18n/check_translations_completeness.py
Labels: area:dev-tools, area:UI, area:translations

#55431 Fixup to structlog migration - logging folder not being created correctly.
  airflow-core/src/airflow/logging_config.py
  shared/logging/src/airflow_shared/logging/__init__.py
  shared/logging/src/airflow_shared/logging/structlog.py
  task-sdk/src/airflow/sdk/log.py
Labels: area:logging, changelog:skip, area:task-sdk

#55441 CI: Fix static checks in boring-cyborg.yml
  .github/boring-cyborg.yml
Labels: area:dev-tools

#55415 chore(ui): add bottom padding dag list
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsList.tsx
Labels: area:UI

#55424 feat(i18n): Fill Turkish translation gaps
  airflow-core/src/airflow/ui/public/i18n/locales/tr/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/dag.json
Labels: area:UI, area:translations, translation:tr

#55428 docs(pre-commit): remove redundant comment
  .pre-commit-config.yaml
Labels: area:dev-tools

#55450 Make /mnt writeable in publish-docs workflow back
  .github/workflows/publish-docs-to-s3.yml
Labels: area:dev-tools, backport-to-v3-0-test

#55383 Complete Hebrew translation 2025-09-09
  airflow-core/src/airflow/ui/public/i18n/locales/he/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dag.json
Labels: area:UI, area:translations, translation:he

#55379 i18n(ko): add missing translations(Sep 09)
  airflow-core/src/airflow/ui/public/i18n/locales/ko/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/hitl.json
Labels: area:UI, area:translations, translation:ko

#55437 Make `apply_function` optional in `AwaitMessageTrigger`
  providers/apache/kafka/src/airflow/providers/apache/kafka/triggers/await_message.py
  providers/apache/kafka/tests/unit/apache/kafka/triggers/test_await_message.py
Labels: area:providers, provider:apache-kafka

#55438 Add section in doc about using message payload
  providers/common/messaging/docs/triggers.rst
Labels: area:providers, kind:documentation, provider:common-messaging

#55451 Add react-dom to default plugin external libraries
  dev/react-plugin-tools/react_plugin_template/vite.config.ts
Labels: area:dev-tools, backport-to-v3-0-test

#55429 Update templating support in Deadline Alert docs
  airflow-core/docs/core-concepts/dags.rst
  airflow-core/docs/howto/deadline-alerts.rst
Labels: kind:documentation

#55283 AIP-67 - Multi-team: CLI commands for multi team
  airflow-core/src/airflow/cli/cli_config.py
  airflow-core/src/airflow/cli/commands/team_command.py
  airflow-core/src/airflow/models/team.py
  airflow-core/tests/unit/cli/commands/test_team_command.py
Labels: area:CLI

#55485 Adjust Edge color scheme after merge of PR #53981
  providers/edge3/src/airflow/providers/edge3/plugins/www/dist/main.umd.cjs
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/context/colorMode/useColorMode.tsx
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/theme.ts
  providers/edge3/www-hash.txt
Labels: area:providers, provider:edge

#55535 refactor(hitl): rename response_at to responded_at
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/docs/img/airflow_erd.svg
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/hitl.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/hitl.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/dags.py
  airflow-core/src/airflow/api_fastapi/execution_api/datamodels/hitl.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/hitl.py
  airflow-core/src/airflow/migrations/versions/0076_3_1_0_add_human_in_the_loop_response.py
  airflow-core/src/airflow/models/hitl.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/pages/HITLTaskInstances/HITLResponseForm.tsx
  airflow-core/src/airflow/ui/src/pages/HITLTaskInstances/HITLTaskInstances.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_hitl.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_dags.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_hitl.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  providers/standard/src/airflow/providers/standard/operators/hitl.py
  providers/standard/src/airflow/providers/standard/triggers/hitl.py
  providers/standard/tests/unit/standard/operators/test_hitl.py
  providers/standard/tests/unit/standard/triggers/test_hitl.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
  task-sdk/tests/task_sdk/api/test_client.py
  task-sdk/tests/task_sdk/execution_time/test_hitl.py
Labels: area:providers, area:API, kind:documentation, area:UI, area:Triggerer, area:db-migrations, provider:standard, area:task-sdk, area:airflow-ctl

#55600 switch dependabot from v3-0-test to v3-1-test
  .github/dependabot.yml
Labels: area:dev-tools

#55598 Bump React and React-DOM
  airflow-core/src/airflow/ui/package.json
  airflow-core/src/airflow/ui/pnpm-lock.yaml
  airflow-core/src/airflow/ui/src/context/colorMode/ColorModeProvider.tsx
  dev/react-plugin-tools/react_plugin_template/package.json
  dev/react-plugin-tools/react_plugin_template/src/context/colorMode/ColorModeProvider.tsx
  providers/edge3/src/airflow/providers/edge3/plugins/www/dist/main.umd.cjs
  providers/edge3/src/airflow/providers/edge3/plugins/www/package.json
  providers/edge3/src/airflow/providers/edge3/plugins/www/pnpm-lock.yaml
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/context/colorMode/ColorModeProvider.tsx
  providers/edge3/www-hash.txt
Labels: area:providers, area:dev-tools, area:UI, provider:edge

#55618 CI: Bump zizmor hook
  .github/workflows/ci-image-build.yml
  .github/workflows/prod-image-build.yml
  .pre-commit-config.yaml
Labels: area:dev-tools

#55624 Remove db dependency from test_wasb trigger tests
  providers/microsoft/azure/tests/unit/microsoft/azure/triggers/test_wasb.py
Labels: provider:microsoft-azure, area:providers

#55621 Fix Dag/TI states names in Hebrew
  airflow-core/src/airflow/ui/public/i18n/locales/he/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dashboard.json
Labels: area:UI, area:translations, translation:he

#55547 Add Worker Maintenance Comment Change to React UI
  providers/edge3/src/airflow/providers/edge3/models/edge_worker.py
  providers/edge3/src/airflow/providers/edge3/openapi/v2-edge-generated.yaml
  providers/edge3/src/airflow/providers/edge3/plugins/www/dist/main.umd.cjs
  providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/queries/common.ts
  providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/queries/queries.ts
  providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/requests/services.gen.ts
  providers/edge3/src/airflow/providers/edge3/plugins/www/openapi-gen/requests/types.gen.ts
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/components/MaintenanceEditCommentButton.tsx
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/components/WorkerOperations.tsx
  providers/edge3/src/airflow/providers/edge3/worker_api/routes/ui.py
  providers/edge3/www-hash.txt
Labels: area:providers, provider:edge

#55533 refactor(airflowctl): command names for backfill and dag operations same as the airflow CLI
  airflow-ctl/docs/howto/index.rst
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_backfill.svg
  airflow-ctl/docs/images/output_backfills.svg
  airflow-ctl/docs/images/output_dag.svg
  airflow-ctl/docs/images/output_dags.svg
  airflow-ctl/docs/images/output_main.svg
  airflow-ctl/src/airflowctl/api/client.py
  airflow-ctl/src/airflowctl/api/operations.py
  scripts/in_container/run_capture_airflowctl_help.py
Labels: area:dev-tools, kind:documentation, area:airflow-ctl

#55559 Fix KEDA query for Kubernetes Executor
  chart/values.schema.json
  chart/values.yaml
  helm-tests/tests/helm_tests/other/test_keda.py
Labels: area:helm-chart

#54050 Add `localstack` Breeze integration
  Dockerfile.ci
  contributing-docs/testing/integration_tests.rst
  dev/breeze/doc/03_developer_tasks.rst
  dev/breeze/doc/images/output-commands.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/doc/images/output_testing_providers-integration-tests.svg
  dev/breeze/doc/images/output_testing_providers-integration-tests.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  scripts/ci/docker-compose/integration-localstack.yml
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools, backport-to-v3-0-test

#55324 fix: allow slash in variable key when retrieving variable value with task-sdk
  airflow-core/src/airflow/api_fastapi/execution_api/routes/variables.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_variables.py
Labels: area:API

#55631 Add yellow hover background to enter maintenance icon
  providers/edge3/src/airflow/providers/edge3/plugins/www/dist/main.umd.cjs
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/components/MaintenanceEnterButton.tsx
  providers/edge3/www-hash.txt
Labels: area:providers, provider:edge

#55626 Add shutdown-all-workers command to Edge CLI
  providers/edge3/docs/deployment.rst
  providers/edge3/src/airflow/providers/edge3/cli/edge_command.py
Labels: area:providers, provider:edge

#55629 Update i18n policy and related instructions for Release Managers (2025-09-13)
  airflow-core/src/airflow/ui/public/i18n/README.md
  dev/README_RELEASE_AIRFLOW.md
Labels: area:UI, area:translations

#54617 examples(oracle): add tutorial DAG using OracleHook to fetch/sample rows
  providers/src/airflow/providers/oracle/example_dags/example_oracle_fetch.py
Labels: area:providers, provider:oracle

#55640 Restrict google-ads 28.0.0.post2
  providers/google/pyproject.toml
Labels: provider:google, area:providers

#55637 Add Color Scheme to all Operations Buttons in Edge React UI
  providers/edge3/src/airflow/providers/edge3/plugins/www/dist/main.umd.cjs
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/components/MaintenanceEditCommentButton.tsx
  providers/edge3/src/airflow/providers/edge3/plugins/www/src/components/MaintenanceExitButton.tsx
  providers/edge3/www-hash.txt
Labels: area:providers, provider:edge

#55377 Update operators.rst: Improved documentation for the context parameter
  airflow-core/docs/core-concepts/operators.rst
Labels: kind:documentation, type:doc-only

#55601 Removed unused config: dag_stale_not_seen_duration
  airflow-core/docs/faq.rst
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
Labels: area:Scheduler, kind:documentation, area:ConfigTemplates

#55646 Upgrade important versions of dependencies
  .github/actions/install-prek/action.yml
  Dockerfile.ci
  dev/breeze/README.md
  dev/breeze/doc/ci/02_images.md
  dev/breeze/pyproject.toml
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/uv.lock
Labels: area:dev-tools

#54615 Separate GoLang precommit after prek supports monorepo setup
  .github/actions/install-prek/action.yml
  .github/workflows/ci-amd.yml
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/.pre-commit-config.yaml
  go-sdk/.pre-commit-config.yaml
  scripts/ci/prek/upgrade_important_versions.py
Labels: area:dev-tools, area:go-sdk

#55639 "Extra devel is not defined" error during dev setup.
  scripts/tools/initialize_virtualenv.py
Labels: area:dev-tools

#55420 docs(contributing-docs): avoid raise AirflowException directly
  contributing-docs/05_pull_requests.rst
Labels: area:dev-tools

#55668 Disable dummy request when no runId
  airflow-core/src/airflow/ui/src/layouts/Details/Gantt/Gantt.tsx
Labels: area:UI

#55298 List only connections, pools and variables the user has access to
  airflow-core/docs/core-concepts/auth-manager/index.rst
  airflow-core/src/airflow/api_fastapi/auth/managers/base_auth_manager.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/connections.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/pools.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/variables.py
  airflow-core/src/airflow/api_fastapi/core_api/security.py
  airflow-core/tests/unit/api_fastapi/auth/managers/test_base_auth_manager.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_connections.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dags.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_pools.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_variables.py
  providers/amazon/src/airflow/providers/amazon/aws/auth_manager/aws_auth_manager.py
Labels: area:API, kind:documentation

#55654 Update Edge3 Docs for new Airflow 3.1 UI Plugins
  providers/edge3/docs/architecture.rst
  providers/edge3/docs/deployment.rst
  providers/edge3/docs/edge_executor.rst
  providers/edge3/docs/img/worker_hosts.png
  providers/edge3/docs/img/worker_maintenance.png
  providers/edge3/docs/install_on_windows.rst
  providers/edge3/docs/ui_plugin.rst
Labels: area:providers, kind:documentation, provider:edge

#55560 Add EdgeExecutor to KEDA query
  chart/values.schema.json
  chart/values.yaml
  helm-tests/tests/helm_tests/other/test_keda.py
Labels: area:helm-chart

#55676 Move `example_oracle_fetch.py` to its provider
  providers/oracle/src/airflow/providers/oracle/example_dags/example_oracle_fetch.py
Labels: area:providers, provider:oracle

#55614 Add map_index filter to TaskInstance API queries
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/layouts/Details/Gantt/Gantt.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
Labels: area:API, area:UI

#55130 #55020 gantt view is not getting updatedin realtime
  airflow-core/src/airflow/ui/src/layouts/Details/Gantt/Gantt.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Gantt/utils.ts
Labels: area:UI

#55701 Dev: Fix another Python 3.13 compat for Prod image tests
  docker-tests/tests/docker_tests/test_prod_image.py
Labels: area:production-image, area:docker-tests

#55710 Upgrade prek to fix `invalid option: --no-pager` on CI failure
  .github/actions/install-prek/action.yml
  Dockerfile.ci
  dev/breeze/README.md
  dev/breeze/doc/ci/02_images.md
  dev/breeze/pyproject.toml
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/uv.lock
Labels: area:dev-tools, changelog:skip

#55525 Add HITLDetail.created_at
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/docs/img/airflow_erd.svg
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/hitl.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/hitl.py
  airflow-core/src/airflow/migrations/versions/0076_3_1_0_add_human_in_the_loop_response.py
  airflow-core/src/airflow/models/hitl.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_hitl.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_dags.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Labels: area:providers, area:API, kind:documentation, area:UI, area:Triggerer, area:db-migrations, provider:standard, area:task-sdk, area:airflow-ctl

#55662 Add SELinux/AppArmor note for creating airflow.cfg
  airflow-core/docs/howto/docker-compose/index.rst
Labels: kind:documentation

#54986 helm: statsd deployment volume mount without subpath for live reloading
  chart/templates/statsd/statsd-deployment.yaml
  helm-tests/tests/helm_tests/other/test_statsd.py
Labels: area:helm-chart

#55705 improve logging in SqsSensorTrigger
  providers/amazon/src/airflow/providers/amazon/aws/triggers/sqs.py
Labels: provider:amazon, area:providers

#55681 Remove no-longer-needed execution interface hacks
  airflow-core/src/airflow/api/common/mark_tasks.py
  airflow-core/src/airflow/cli/commands/task_command.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/src/airflow/utils/cli.py
  airflow-core/tests/unit/models/test_cleartasks.py
  airflow-core/tests/unit/models/test_taskinstance.py
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/src/airflow/sdk/types.py
Labels: area:CLI, area:serialization, area:API

#55722 Improve Airflow 3 import deprecation documentation
  airflow-core/docs/installation/upgrading_to_airflow3.rst
Labels: kind:documentation

#55719 Fix dag import error modal pagination
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/import_error.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/DAGImportErrors.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/DAGImportErrorsModal.tsx
Labels: area:API, type:bug-fix, area:UI

#55620 Add filter for HITL TaskInstances page
  airflow-core/src/airflow/ui/src/components/FilterBar/FilterBar.tsx
  airflow-core/src/airflow/ui/src/components/FilterBar/FilterPill.tsx
  airflow-core/src/airflow/ui/src/components/FilterBar/defaultIcons.tsx
  airflow-core/src/airflow/ui/src/components/FilterBar/filters/SelectFilter.tsx
  airflow-core/src/airflow/ui/src/components/FilterBar/types.ts
  airflow-core/src/airflow/ui/src/components/ui/Select/Trigger.tsx
  airflow-core/src/airflow/ui/src/constants/filterConfigs.tsx
  airflow-core/src/airflow/ui/src/pages/HITLTaskInstances/HITLFilters.tsx
  airflow-core/src/airflow/ui/src/pages/HITLTaskInstances/HITLTaskInstances.tsx
  airflow-core/src/airflow/ui/src/utils/useFiltersHandler.ts
Labels: area:UI

#54972 fix unintended print of dag not found in serialised_dag table
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
Labels: area:Scheduler

#55683 Remove deprecated from the google provider scheduled for September 2025
  airflow-core/tests/unit/always/test_project_structure.py
  providers/google/docs/changelog.rst
  providers/google/docs/operators/marketing_platform/display_video.rst
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/auto_ml.py
  providers/google/src/airflow/providers/google/marketing_platform/hooks/display_video.py
  providers/google/src/airflow/providers/google/marketing_platform/operators/display_video.py
  providers/google/src/airflow/providers/google/marketing_platform/sensors/display_video.py
  providers/google/tests/deprecations_ignore.yml
  providers/google/tests/unit/google/marketing_platform/hooks/test_display_video.py
  providers/google/tests/unit/google/marketing_platform/operators/test_display_video.py
  providers/google/tests/unit/google/marketing_platform/sensors/test_display_video.py
Labels: provider:google, area:providers, kind:documentation

#55648 Add hyperlinks to dag_id column in Dag Runs and Task Instances pages
  airflow-core/src/airflow/ui/src/pages/DagRuns.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstances/TaskInstances.tsx
Labels: area:UI

#55740 Add quotas section in lambda executor docs
  providers/amazon/docs/executors/lambda-executor.rst
Labels: provider:amazon, area:providers, kind:documentation

#55706 Enable pt011 rule 1
  providers/weaviate/tests/unit/weaviate/hooks/test_weaviate.py
  providers/yandex/tests/unit/yandex/utils/test_fields.py
  shared/timezones/tests/timezones/test_timezone.py
  task-sdk/tests/task_sdk/bases/test_operator.py
  task-sdk/tests/task_sdk/bases/test_sensor.py
Labels: area:providers, provider:yandex, provider:weaviate, area:task-sdk

#55763 refactor(hitl): remove AirflowException from HITLTriggerEventError inheritance
  providers/standard/src/airflow/providers/standard/exceptions.py
Labels: area:providers, provider:standard

#55794 Fix mapIndex type validation error
  airflow-core/src/airflow/ui/src/hooks/useSelectedVersion.ts
  airflow-core/src/airflow/ui/src/layouts/Details/DagBreadcrumb.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Details.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/Logs.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/TaskInstance.tsx
Labels: area:UI

#55807 Fix image name check in e2e tests
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
Labels: area:dev-tools

#55760 fix(HITL): timeout error handling
  providers/standard/src/airflow/providers/standard/operators/hitl.py
  providers/standard/tests/unit/standard/operators/test_hitl.py
Labels: area:providers, provider:standard

#55800 [v3-1-test] Fix trigger job log tests (#55563)
  airflow-core/tests/unit/jobs/test_triggerer_job.py
Labels: area:Triggerer

#55743 SLA-to-Deadlines migration guide and minor Deadlines-related docs updates
  airflow-core/docs/howto/deadline-alerts.rst
  airflow-core/docs/howto/index.rst
  airflow-core/docs/howto/sla-to-deadlines.rst
  airflow-core/docs/installation/upgrading_to_airflow3.rst
  task-sdk/src/airflow/sdk/definitions/dag.py
Labels: kind:documentation, area:task-sdk

#55808 Move rtl logic to react
  airflow-core/src/airflow/ui/src/layouts/BaseLayout.tsx
  airflow-core/src/airflow/ui/src/main.tsx
Labels: area:UI

#55809 Fix circular import error when Kubernetes executors are dynamically loaded with Sentry
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/operators/job.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/operators/kueue.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/operators/pod.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/operators/resource.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/sensors/spark_kubernetes.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/version_compat.py
Labels: area:providers, provider:cncf-kubernetes

#55814 Remove `kaxil` from `airflowctl` codeowner
  .github/CODEOWNERS
Labels: area:dev-tools

#55765 fix: prevent user facets from overriding OL facets
  providers/openlineage/src/airflow/providers/openlineage/plugins/listener.py
  providers/openlineage/tests/unit/openlineage/plugins/test_listener.py
Labels: area:providers, provider:openlineage

#55776 feat(hitl): add map_index filter to get_hitl_details endpoint
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/hitl.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_hitl.py
Labels: area:API

#55777 fix(hitl): missing responded_user renames
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/hitl.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_hitl.py
  providers/standard/tests/unit/standard/triggers/test_hitl.py
Labels: area:providers, area:API, area:Triggerer, provider:standard

#55824 Respect old logging format if given so logs don't change unexpectedly.
  airflow-core/src/airflow/logging_config.py
  shared/logging/src/airflow_shared/logging/_config.py
  shared/logging/src/airflow_shared/logging/percent_formatter.py
Labels: area:logging

#55673 Validate plugins in /plugins API and skip invalid ones with warnings
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/plugins.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_plugins.py
  airflow-core/tests/unit/plugins/test_plugin.py
  airflow-core/tests/unit/plugins/test_plugins_manager.py
Labels: area:API

#55070 Reducing memory footprint for synchronous `S3KeySensor`
  providers/amazon/src/airflow/providers/amazon/aws/hooks/s3.py
  providers/amazon/src/airflow/providers/amazon/aws/sensors/s3.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_s3.py
  providers/amazon/tests/unit/amazon/aws/sensors/test_s3.py
Labels: provider:amazon, area:providers

#55836 Bump DAG Serialization version to 3
  airflow-core/docs/administration-and-deployment/dag-serialization.rst
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
Labels: area:serialization, kind:documentation

#55839 Set default html lang and dir
  airflow-core/src/airflow/ui/dev/index.html
  airflow-core/src/airflow/ui/index.html
Labels: area:UI

#55696 Add delete button for dag runs in more options menu
  airflow-core/src/airflow/ui/src/pages/DeleteRunButton.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Header.tsx
Labels: area:UI
