Repository apache/airflow, pull requests merged in 2025-02, with the labels that each got.

#45811 Add `endpoint_prefix` to `LivyHook`
  providers/apache/livy/src/airflow/providers/apache/livy/hooks/livy.py
  providers/apache/livy/src/airflow/providers/apache/livy/operators/livy.py
  providers/apache/livy/src/airflow/providers/apache/livy/sensors/livy.py
  providers/apache/livy/src/airflow/providers/apache/livy/triggers/livy.py
  providers/apache/livy/tests/provider_tests/apache/livy/hooks/test_livy.py
Labels: area:providers, provider:apache-livy

#46301 Move salesforce provider to new structure
  .github/boring-cyborg.yml
  docs/.gitignore
  docs/apache-airflow-providers-salesforce/changelog.rst
  providers/salesforce/README.rst
  providers/salesforce/docs/.latest-doc-only-change.txt
  providers/salesforce/docs/changelog.rst
  providers/salesforce/docs/commits.rst
  providers/salesforce/docs/connections/salesforce.rst
  providers/salesforce/docs/index.rst
  providers/salesforce/docs/installing-providers-from-sources.rst
  providers/salesforce/docs/integration-logos/Salesforce.png
  providers/salesforce/docs/operators/bulk.rst
  providers/salesforce/docs/operators/index.rst
  providers/salesforce/docs/operators/salesforce_apex_rest.rst
  providers/salesforce/docs/redirects.txt
  providers/salesforce/docs/security.rst
  providers/salesforce/provider.yaml
  providers/salesforce/pyproject.toml
  providers/salesforce/src/airflow/providers/salesforce/LICENSE
  providers/salesforce/src/airflow/providers/salesforce/__init__.py
  providers/salesforce/src/airflow/providers/salesforce/get_provider_info.py
  providers/salesforce/src/airflow/providers/salesforce/hooks/__init__.py
  providers/salesforce/src/airflow/providers/salesforce/hooks/salesforce.py
  providers/salesforce/src/airflow/providers/salesforce/operators/__init__.py
  providers/salesforce/src/airflow/providers/salesforce/operators/bulk.py
  providers/salesforce/src/airflow/providers/salesforce/operators/salesforce_apex_rest.py
  providers/salesforce/tests/conftest.py
  providers/salesforce/tests/provider_tests/__init__.py
  providers/salesforce/tests/provider_tests/salesforce/__init__.py
  providers/salesforce/tests/provider_tests/salesforce/hooks/__init__.py
  providers/salesforce/tests/provider_tests/salesforce/hooks/test_salesforce.py
  providers/salesforce/tests/provider_tests/salesforce/operators/__init__.py
  providers/salesforce/tests/provider_tests/salesforce/operators/test_bulk.py
  providers/salesforce/tests/provider_tests/salesforce/operators/test_salesforce_apex_rest.py
  providers/salesforce/tests/system/salesforce/__init__.py
  providers/salesforce/tests/system/salesforce/example_bulk.py
  providers/salesforce/tests/system/salesforce/example_salesforce_apex_rest.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
Labels: area:providers, area:dev-tools, kind:documentation, provider:salesforce

#46166 Move GRPC provider to new provider structure
  .github/boring-cyborg.yml
  docs/.gitignore
  docs/apache-airflow-providers-grpc/changelog.rst
  providers/grpc/README.rst
  providers/grpc/docs/.latest-doc-only-change.txt
  providers/grpc/docs/changelog.rst
  providers/grpc/docs/commits.rst
  providers/grpc/docs/connections/grpc.rst
  providers/grpc/docs/connections/index.rst
  providers/grpc/docs/index.rst
  providers/grpc/docs/installing-providers-from-sources.rst
  providers/grpc/docs/redirects.txt
  providers/grpc/docs/security.rst
  providers/grpc/provider.yaml
  providers/grpc/pyproject.toml
  providers/grpc/src/airflow/providers/grpc/LICENSE
  providers/grpc/src/airflow/providers/grpc/__init__.py
  providers/grpc/src/airflow/providers/grpc/get_provider_info.py
  providers/grpc/src/airflow/providers/grpc/hooks/__init__.py
  providers/grpc/src/airflow/providers/grpc/hooks/grpc.py
  providers/grpc/src/airflow/providers/grpc/operators/__init__.py
  providers/grpc/src/airflow/providers/grpc/operators/grpc.py
  providers/grpc/tests/conftest.py
  providers/grpc/tests/provider_tests/__init__.py
  providers/grpc/tests/provider_tests/grpc/__init__.py
  providers/grpc/tests/provider_tests/grpc/hooks/__init__.py
  providers/grpc/tests/provider_tests/grpc/hooks/test_grpc.py
  providers/grpc/tests/provider_tests/grpc/operators/__init__.py
  providers/grpc/tests/provider_tests/grpc/operators/test_grpc.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
Labels: area:providers, area:dev-tools, kind:documentation, provider:grpc

#46341 Make var naming a little more consistent in dag processor
  airflow/dag_processing/manager.py
  tests/dag_processing/test_manager.py
Labels: full tests needed, area:DAG-processing

#46240 Add new Dataplex Catalog Aspect Type operators
  docs/apache-airflow-providers-google/operators/cloud/dataplex.rst
  docs/spelling_wordlist.txt
  providers/src/airflow/providers/google/cloud/hooks/dataplex.py
  providers/src/airflow/providers/google/cloud/links/dataplex.py
  providers/src/airflow/providers/google/cloud/operators/dataplex.py
  providers/src/airflow/providers/google/provider.yaml
  providers/tests/google/cloud/hooks/test_dataplex.py
  providers/tests/google/cloud/links/test_dataplex.py
  providers/tests/google/cloud/operators/test_dataplex.py
  providers/tests/system/google/cloud/dataplex/example_dataplex_catalog.py
Labels: provider:google, area:providers, kind:documentation

#45754 Add deferrable mode to google cloud storage transfer sensor and operators
  docs/spelling_wordlist.txt
  providers/src/airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py
  providers/src/airflow/providers/google/cloud/operators/cloud_storage_transfer_service.py
  providers/src/airflow/providers/google/cloud/sensors/cloud_storage_transfer_service.py
  providers/src/airflow/providers/google/cloud/triggers/cloud_storage_transfer_service.py
  providers/tests/google/cloud/hooks/test_cloud_storage_transfer_service_async.py
  providers/tests/google/cloud/operators/test_cloud_storage_transfer_service.py
  providers/tests/google/cloud/sensors/test_cloud_storage_transfer_service.py
  providers/tests/google/cloud/triggers/test_cloud_storage_transfer_service.py
  providers/tests/system/google/cloud/storage_transfer/example_cloud_storage_transfer_service_gcp.py
  providers/tests/system/google/cloud/storage_transfer/example_cloud_storage_transfer_service_gcs_to_gcs.py
Labels: provider:google, area:providers

#46322 Remove Alembic migration autogenerated comment
  airflow/migrations/versions/0057_3_0_0_add_new_task_instance_field_scheduled_.py
  docs/apache-airflow/img/airflow_erd.sha256
Labels: area:db-migrations

#46268 Expand KPO template_fields, fix Spark k8s operator tests
  kubernetes_tests/test_kubernetes_pod_operator.py
  providers/src/airflow/providers/cncf/kubernetes/operators/pod.py
  providers/tests/cncf/kubernetes/operators/test_pod.py
  providers/tests/cncf/kubernetes/operators/test_spark_kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#46269 Move JDBC Provider to the New Structure
  .github/boring-cyborg.yml
  docs/.gitignore
  docs/apache-airflow-providers-jdbc/changelog.rst
  providers/jdbc/README.rst
  providers/jdbc/docs/.latest-doc-only-change.txt
  providers/jdbc/docs/changelog.rst
  providers/jdbc/docs/commits.rst
  providers/jdbc/docs/configurations-ref.rst
  providers/jdbc/docs/connections/jdbc.rst
  providers/jdbc/docs/index.rst
  providers/jdbc/docs/installing-providers-from-sources.rst
  providers/jdbc/docs/integration-logos/JDBC.png
  providers/jdbc/docs/operators.rst
  providers/jdbc/docs/redirects.txt
  providers/jdbc/docs/security.rst
  providers/jdbc/provider.yaml
  providers/jdbc/pyproject.toml
  providers/jdbc/src/airflow/providers/jdbc/LICENSE
  providers/jdbc/src/airflow/providers/jdbc/__init__.py
  providers/jdbc/src/airflow/providers/jdbc/get_provider_info.py
  providers/jdbc/src/airflow/providers/jdbc/hooks/__init__.py
  providers/jdbc/src/airflow/providers/jdbc/hooks/jdbc.py
  providers/jdbc/tests/conftest.py
  providers/jdbc/tests/provider_tests/__init__.py
  providers/jdbc/tests/provider_tests/jdbc/__init__.py
  providers/jdbc/tests/provider_tests/jdbc/hooks/__init__.py
  providers/jdbc/tests/provider_tests/jdbc/hooks/test_jdbc.py
  providers/jdbc/tests/system/jdbc/__init__.py
  providers/jdbc/tests/system/jdbc/example_jdbc_queries.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
Labels: area:providers, area:dev-tools, kind:documentation, provider:jdbc

#46343 Fix DAGs being deactivated as "deleted"
  airflow/dag_processing/manager.py
  tests/dag_processing/test_manager.py
Labels: full tests needed, area:DAG-processing, AIP-66: DAG Bundle/Manifest

#46350 Reducing dedent to fix doc building issues in CI
  docs/apache-airflow-providers-google/operators/cloud/bigquery.rst
Labels: provider:google, area:providers, kind:documentation

#46323 AIP-65 Fix version_number in grid endpoint
  airflow/api_fastapi/core_api/datamodels/ui/grid.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/ui/grid.py
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
Labels: area:UI, AIP-84, AIP-65: DAG history in UI

#46333 add gyli to triage team
  .asf.yaml
Labels: area:dev-tools

#46347 Upgrade to latest uv
  .github/actions/install-pre-commit/action.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  scripts/ci/install_breeze.sh
  scripts/tools/setup_breeze
Labels: area:dev-tools, area:production-image

#46345 Allow specifying repo_url in GitDagBundle kwargs
  airflow/dag_processing/bundles/git.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:DAG-processing

#46355 Fix `dag reserialize` not calling bundle initialize
  airflow/cli/commands/remote_commands/dag_command.py
Labels: area:CLI, AIP-66: DAG Bundle/Manifest

#46352 Improve example docs around SQLExecuteQueryOperator in Postgres/Oracle/Presto/Vertica/ODBC
  providers/odbc/docs/index.rst
  providers/odbc/docs/operators.rst
  providers/odbc/tests/system/odbc/example_odbc.py
  providers/oracle/docs/index.rst
  providers/oracle/docs/operators.rst
  providers/oracle/docs/operators/index.rst
  providers/oracle/tests/system/oracle/__init__.py
  providers/oracle/tests/system/oracle/example_oracle.py
  providers/postgres/docs/index.rst
  providers/postgres/docs/operators.rst
  providers/presto/docs/gcs_to_presto.rst
  providers/presto/docs/index.rst
  providers/presto/docs/operators.rst
  providers/presto/tests/system/presto/example_presto.py
  providers/vertica/docs/index.rst
  providers/vertica/docs/operators.rst
  providers/vertica/tests/system/vertica/example_vertica.py
Labels: provider:presto, provider:odbc, provider:postgres, provider:vertica, provider:oracle

#46145 fix: `KiotaRequestAdapterHook` make sure proxy config parameter is parsed correctly, even if it's a string or json
  providers/src/airflow/providers/microsoft/azure/hooks/msgraph.py
  providers/tests/microsoft/azure/hooks/test_msgraph.py
  providers/tests/microsoft/conftest.py
Labels: provider:microsoft-azure, area:providers

#46306 Removing feature: send context in venv operators (using `use_airflow_context`)
  airflow/decorators/__init__.pyi
  airflow/example_dags/example_python_context_decorator.py
  airflow/example_dags/example_python_context_operator.py
  providers/standard/docs/operators/python.rst
  providers/standard/src/airflow/providers/standard/operators/python.py
  providers/standard/src/airflow/providers/standard/utils/python_virtualenv_script.jinja2
  providers/standard/tests/provider_tests/standard/operators/test_python.py
Labels: provider:standard

#46337 Add map_index parameter to extra links API for Airflow 2.10
  airflow/api_connexion/endpoints/extra_link_endpoint.py
  airflow/api_connexion/openapi/v1.yaml
  airflow/www/static/js/types/api-generated.ts
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/test_utils/mock_operators.py
Labels: area:webserver, area:API, type:bug-fix, area:UI, legacy ui, legacy api

#46358 Fix disk space issues on github runners
  .github/actions/prepare_all_ci_images/action.yml
  .github/actions/prepare_breeze_and_image/action.yml
  .github/workflows/additional-ci-image-checks.yml
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/basic-tests.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/ci-image-checks.yml
  .github/workflows/ci.yml
  .github/workflows/finalize-tests.yml
  .github/workflows/generate-constraints.yml
  .github/workflows/helm-tests.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/push-image-cache.yml
  .github/workflows/release_dockerhub_image.yml
  scripts/ci/cleanup_docker.sh
Labels: area:dev-tools, full tests needed, all versions

#45958 [EDGE]Enable edge worker maintenance mode
  providers/edge/README.rst
  providers/edge/docs/changelog.rst
  providers/edge/provider.yaml
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/__init__.py
  providers/edge/src/airflow/providers/edge/cli/api_client.py
  providers/edge/src/airflow/providers/edge/cli/edge_command.py
  providers/edge/src/airflow/providers/edge/get_provider_info.py
  providers/edge/src/airflow/providers/edge/models/edge_worker.py
  providers/edge/src/airflow/providers/edge/openapi/edge_worker_api_v1.yaml
  providers/edge/src/airflow/providers/edge/plugins/edge_executor_plugin.py
  providers/edge/src/airflow/providers/edge/plugins/templates/edge_worker_hosts.html
  providers/edge/src/airflow/providers/edge/worker_api/datamodels.py
  providers/edge/src/airflow/providers/edge/worker_api/routes/_v2_routes.py
  providers/edge/src/airflow/providers/edge/worker_api/routes/worker.py
  providers/edge/tests/provider_tests/edge/cli/test_edge_command.py
  providers/edge/tests/provider_tests/edge/worker_api/routes/test_worker.py
Labels: area:providers, type:new-feature, AIP-69, provider:edge

#45732 Add run_after column to DagRun model
  airflow/api/common/trigger_dag.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow/api_fastapi/execution_api/datamodels/taskinstance.py
  airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow/cli/commands/remote_commands/task_command.py
  airflow/jobs/scheduler_job_runner.py
  airflow/migrations/versions/0058_3_0_0_add_dagrun_run_after.py
  airflow/models/backfill.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/utils/db.py
  airflow/www/views.py
  dev/perf/scheduler_dag_execution_timing.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  providers/apache/kylin/tests/provider_tests/apache/kylin/operators/test_kylin_cube.py
  providers/apache/spark/tests/provider_tests/apache/spark/operators/test_spark_submit.py
  providers/common/sql/tests/provider_tests/common/sql/operators/test_sql.py
  providers/fab/tests/provider_tests/fab/auth_manager/api_endpoints/test_dag_run_endpoint.py
  providers/fab/tests/provider_tests/fab/auth_manager/api_endpoints/test_task_instance_endpoint.py
  providers/fab/tests/provider_tests/fab/auth_manager/api_endpoints/test_xcom_endpoint.py
  providers/fab/tests/provider_tests/fab/www/views/test_views_acl.py
  providers/openlineage/tests/provider_tests/openlineage/plugins/test_execution.py
  providers/openlineage/tests/provider_tests/openlineage/plugins/test_listener.py
  providers/openlineage/tests/provider_tests/openlineage/plugins/test_utils.py
  providers/redis/tests/provider_tests/redis/log/test_redis_task_handler.py
  providers/standard/tests/provider_tests/standard/decorators/test_python.py
  providers/tests/cncf/kubernetes/log_handlers/test_log_handlers.py
  providers/tests/cncf/kubernetes/operators/test_pod.py
  tests/api_connexion/endpoints/test_extra_link_endpoint.py
  tests/api_fastapi/common/test_exceptions.py
  tests/api_fastapi/core_api/routes/public/test_extra_links.py
  tests/api_fastapi/execution_api/routes/test_task_instances.py
  tests/cli/commands/remote_commands/test_task_command.py
  tests/dag_processing/test_processor.py
  tests/jobs/test_local_task_job.py
  tests/jobs/test_scheduler_job.py
  tests/jobs/test_triggerer_job.py
  tests/models/test_cleartasks.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
  tests/models/test_xcom.py
  tests/operators/test_trigger_dagrun.py
  tests/sensors/test_external_task_sensor.py
  tests/task/test_standard_task_runner.py
  tests/ti_deps/deps/test_prev_dagrun_dep.py
  tests/utils/test_sqlalchemy.py
  tests/utils/test_state.py
  tests/www/views/test_views_dagrun.py
  tests/www/views/test_views_decorators.py
  tests/www/views/test_views_extra_links.py
  tests/www/views/test_views_log.py
  tests/www/views/test_views_rendered.py
  tests/www/views/test_views_tasks.py
  tests_common/pytest_plugin.py
Labels: area:Scheduler, area:CLI, area:API, kind:documentation, area:db-migrations, legacy api

#46007 ci(github-actions): add a script to check significant newsfragments
  .github/workflows/news-fragment.yml
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  newsfragments/43774.significant.rst
  newsfragments/43902.significant.rst
  newsfragments/43915.significant.rst
  newsfragments/43943.significant.rst
  newsfragments/43975.significant.rst
  newsfragments/44475.significant.rst
  newsfragments/aip-66.significant.rst
  newsfragments/aip-72.significant.rst
  scripts/ci/pre_commit/significant_newsfragments_checker.py
Labels: area:dev-tools

#46368 Revert "Improve example docs around SQLExecuteQueryOperator in Postgres/Oracle/Presto/Vertica/ODBC (#46352)"
  providers/odbc/docs/index.rst
  providers/odbc/docs/operators.rst
  providers/odbc/tests/system/odbc/example_odbc.py
  providers/oracle/docs/index.rst
  providers/oracle/docs/operators.rst
  providers/oracle/docs/operators/index.rst
  providers/oracle/tests/system/oracle/__init__.py
  providers/oracle/tests/system/oracle/example_oracle.py
  providers/postgres/docs/index.rst
  providers/postgres/docs/operators/postgres_operator_howto_guide.rst
  providers/presto/docs/index.rst
  providers/presto/docs/operators.rst
  providers/presto/docs/operators/transfer/gcs_to_presto.rst
  providers/presto/tests/system/presto/example_presto.py
  providers/vertica/docs/index.rst
  providers/vertica/docs/operators.rst
  providers/vertica/tests/system/vertica/example_vertica.py
Labels: provider:presto, provider:odbc, provider:postgres, provider:vertica, provider:oracle

#46287 Add info that delete_local_logs also works for HDFS remote logging
  airflow/config_templates/config.yml
  docs/apache-airflow/administration-and-deployment/logging-monitoring/logging-tasks.rst
Labels: area:logging, kind:documentation

#46253 Handle some git exceptions when initializing GitDagBundle
  airflow/dag_processing/bundles/git.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:DAG-processing

#46283 feat: Add ProcessingEngineRunFacet to all OL events
  providers/openlineage/src/airflow/providers/openlineage/plugins/adapter.py
  providers/openlineage/tests/provider_tests/openlineage/plugins/test_adapter.py
Labels: provider:openlineage

#46366 fix: OL sql parsing add try-except for sqlalchemy engine
  providers/common/compat/src/airflow/providers/common/compat/openlineage/utils/sql.py
  providers/openlineage/src/airflow/providers/openlineage/sqlparser.py
Labels: provider:openlineage, provider:common-compat

#46107 Add map_index parameter to extra links API
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/extra_links.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_extra_links.py
  tests_common/test_utils/mock_operators.py
Labels: area:UI

#46384 Use different default algorithms for different werkzeug versions
  providers/fab/src/airflow/providers/fab/auth_manager/security_manager/override.py
Labels: provider:fab, backport-to-providers-fab/v1-5

#46396 Fix poolbar icon and colour post Stateicon changes
  airflow/ui/src/pages/Pools/PoolBar.tsx
Labels: area:UI

#46261 Call `get_current_version` less often in bundle refresh loop
  airflow/dag_processing/manager.py
  tests/dag_processing/test_manager.py
Labels: full tests needed, area:DAG-processing, AIP-66: DAG Bundle/Manifest

#46394 Fix attribute error on accessing Gitbundle.repo_url
  airflow/dag_processing/bundles/git.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:DAG-processing, AIP-66: DAG Bundle/Manifest

#46382 Remove dag details requests from dag list page
  airflow/ui/src/pages/DagsList/DagCard.tsx
  airflow/ui/src/utils/query.ts
Labels: area:UI

#45860 AIP-66: Make DAG callbacks bundle aware
  airflow/callbacks/callback_requests.py
  airflow/dag_processing/manager.py
  airflow/dag_processing/processor.py
  airflow/jobs/scheduler_job_runner.py
  airflow/models/dagrun.py
  airflow/triggers/base.py
  providers/celery/tests/provider_tests/celery/executors/test_celery_kubernetes_executor.py
  providers/tests/cncf/kubernetes/executors/test_local_kubernetes_executor.py
  tests/callbacks/test_callback_requests.py
  tests/dag_processing/test_manager.py
  tests/dag_processing/test_processor.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dagrun.py
  tests_common/pytest_plugin.py
Labels: area:Scheduler, full tests needed, AIP-66: DAG Bundle/Manifest

#46369 Account for None logical date in API
  airflow/api/common/mark_tasks.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/models/dag.py
Labels: area:API, AIP-83, legacy api

#46404 ci(github-actions): relax docutils version to support python 3.8
  scripts/ci/pre_commit/significant_newsfragments_checker.py
Labels: area:dev-tools

#46413 Add `3.0.0a1` tag in airflow_bug_report.yml
  .github/ISSUE_TEMPLATE/airflow_bug_report.yml
Labels: area:dev-tools

#46420 AIP-72: Enhancing task SDK to support nested tuples in template fields
  airflow/serialization/helpers.py
  task_sdk/tests/execution_time/test_task_runner.py
Labels: area:serialization, area:task-sdk

#46397 Add Pool name search in get pools API
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/pools.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_pools.py
Labels: area:UI

#45634 New Optional dbt Cloud Job Operator Params
  providers/dbt/cloud/docs/operators.rst
  providers/dbt/cloud/src/airflow/providers/dbt/cloud/hooks/dbt.py
  providers/dbt/cloud/src/airflow/providers/dbt/cloud/operators/dbt.py
  providers/dbt/cloud/tests/provider_tests/dbt/cloud/hooks/test_dbt.py
  providers/dbt/cloud/tests/provider_tests/dbt/cloud/operators/test_dbt.py
  providers/dbt/cloud/tests/system/dbt/cloud/example_dbt_cloud.py
Labels: area:providers, kind:documentation, provider:dbt-cloud

#46428 Fix ownership of files that docker uses in mounted directories
  .github/actions/prepare_all_ci_images/action.yml
  .github/actions/prepare_breeze_and_image/action.yml
  .github/actions/prepare_single_ci_image/action.yml
  .github/workflows/additional-ci-image-checks.yml
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/basic-tests.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/ci-image-checks.yml
  .github/workflows/ci.yml
  .github/workflows/finalize-tests.yml
  .github/workflows/generate-constraints.yml
  .github/workflows/helm-tests.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/push-image-cache.yml
  .github/workflows/release_dockerhub_image.yml
  scripts/ci/cleanup_docker.sh
Labels: area:dev-tools

#46320 AIP-65 Add DagVersion to TaskInstanceResponse Serializer
  airflow/api_fastapi/common/parameters.py
  airflow/api_fastapi/core_api/datamodels/dag_versions.py
  airflow/api_fastapi/core_api/datamodels/task_instances.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow/api_fastapi/core_api/routes/ui/structure.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/conftest.py
  tests/api_fastapi/core_api/routes/public/test_task_instances.py
  tests/api_fastapi/core_api/routes/ui/test_structure.py
Labels: area:UI, AIP-65: DAG history in UI

#46431 Bump psycopg2 to 2.9.9 to possibly avoid crash on Python 3.12
  dev/breeze/tests/test_packages.py
  generated/provider_dependencies.json
  providers/postgres/README.rst
  providers/postgres/pyproject.toml
  providers/postgres/src/airflow/providers/postgres/get_provider_info.py
Labels: area:dev-tools, provider:postgres

#46416 [EDGE] worker remembers maintenance on restart
  providers/edge/README.rst
  providers/edge/docs/changelog.rst
  providers/edge/provider.yaml
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/__init__.py
  providers/edge/src/airflow/providers/edge/cli/edge_command.py
  providers/edge/src/airflow/providers/edge/executors/edge_executor.py
  providers/edge/src/airflow/providers/edge/get_provider_info.py
  providers/edge/src/airflow/providers/edge/models/edge_worker.py
  providers/edge/src/airflow/providers/edge/openapi/edge_worker_api_v1.yaml
  providers/edge/src/airflow/providers/edge/plugins/templates/edge_worker_hosts.html
  providers/edge/src/airflow/providers/edge/worker_api/routes/worker.py
  providers/edge/tests/provider_tests/edge/executors/test_edge_executor.py
  providers/edge/tests/provider_tests/edge/worker_api/routes/test_worker.py
Labels: provider:edge

#46152 Allow to pass container_name parameter to EcsRunTaskOperator
  providers/src/airflow/providers/amazon/aws/operators/ecs.py
  providers/tests/amazon/aws/operators/test_ecs.py
Labels: provider:amazon, area:providers

#46433 AIP 65 Add task instance version name
  airflow/ui/src/pages/TaskInstance/Header.tsx
Labels: area:UI, AIP-38, AIP-65: DAG history in UI

#46437 Add search bar for pools page
  airflow/ui/src/pages/Pools/Pools.tsx
Labels: area:UI

#46438 Prepare documentation for FAB provider 1.5.3 release
  docs/apache-airflow-providers-fab/commits.rst
  docs/apache-airflow-providers-fab/index.rst
  providers/src/airflow/providers/fab/CHANGELOG.rst
  providers/src/airflow/providers/fab/__init__.py
  providers/src/airflow/providers/fab/provider.yaml
Labels: area:providers, kind:documentation

#46408 Use LoggingMixin for DagProcessorManager
  airflow/cli/commands/remote_commands/config_command.py
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/dag_processing/manager.py
  newsfragments/46408.significant.rst
Labels: area:CLI, full tests needed, area:DAG-processing, AIP-66: DAG Bundle/Manifest

#46446 Limiting retryhttp to not use 1.3.0 to fix CI mypy checks
  generated/provider_dependencies.json
  providers/edge/README.rst
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/get_provider_info.py
  task_sdk/pyproject.toml
Labels: area:task-sdk, provider:edge

#46375 AIP-72: Move Secrets Masker to task SDK
  .pre-commit-config.yaml
  airflow/api_connexion/schemas/connection_schema.py
  airflow/api_fastapi/core_api/datamodels/assets.py
  airflow/api_fastapi/core_api/datamodels/connections.py
  airflow/api_fastapi/core_api/datamodels/variables.py
  airflow/api_fastapi/logging/decorators.py
  airflow/cli/commands/remote_commands/task_command.py
  airflow/config_templates/airflow_local_settings.py
  airflow/config_templates/config.yml
  airflow/configuration.py
  airflow/models/connection.py
  airflow/models/renderedtifields.py
  airflow/models/taskinstance.py
  airflow/models/variable.py
  airflow/serialization/helpers.py
  airflow/settings.py
  airflow/utils/cli.py
  airflow/www/decorators.py
  airflow/www/views.py
  docs/apache-airflow/security/secrets/mask-sensitive-values.rst
  newsfragments/46375.significant.rst
  providers/openlineage/src/airflow/providers/openlineage/plugins/adapter.py
  providers/openlineage/src/airflow/providers/openlineage/utils/utils.py
  providers/openlineage/tests/provider_tests/openlineage/plugins/test_utils.py
  providers/src/airflow/providers/amazon/aws/hooks/base_aws.py
  providers/src/airflow/providers/amazon/aws/hooks/ecr.py
  providers/src/airflow/providers/amazon/aws/hooks/ssm.py
  providers/tests/cncf/kubernetes/test_template_rendering.py
  task_sdk/src/airflow/sdk/execution_time/secrets_masker.py
  task_sdk/tests/definitions/test_secrets_masker.py
  tests/core/test_configuration.py
  tests/models/test_renderedtifields.py
  tests/models/test_variable.py
  tests_common/pytest_plugin.py
Labels: provider:amazon, area:webserver, area:CLI, area:providers, area:dev-tools, area:serialization, area:secrets, area:API, kind:documentation, provider:cncf-kubernetes, provider:openlineage, airflow3.0:breaking, legacy api, area:task-sdk

#46452 Implement worker deletion and proper CSRF handling
  providers/edge/README.rst
  providers/edge/docs/changelog.rst
  providers/edge/provider.yaml
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/__init__.py
  providers/edge/src/airflow/providers/edge/get_provider_info.py
  providers/edge/src/airflow/providers/edge/models/edge_worker.py
  providers/edge/src/airflow/providers/edge/plugins/edge_executor_plugin.py
  providers/edge/src/airflow/providers/edge/plugins/templates/edge_worker_hosts.html
Labels: provider:edge

#46453 Bugfix/edge worker restarts on version mismatch
  providers/edge/README.rst
  providers/edge/docs/changelog.rst
  providers/edge/provider.yaml
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/__init__.py
  providers/edge/src/airflow/providers/edge/cli/api_client.py
  providers/edge/src/airflow/providers/edge/get_provider_info.py
Labels: provider:edge

#46074 Add triggerer info and extra links section to task instance details tab.
  airflow/ui/src/pages/Run/Details.tsx
  airflow/ui/src/pages/TaskInstance/Details.tsx
  airflow/ui/src/pages/TaskInstance/ExtraLinks.tsx
  airflow/ui/src/pages/TaskInstance/TriggererInfo.tsx
Labels: area:UI

#46467 Fix case in releasing images where chicken-egg-providers are empty
  .github/workflows/release_dockerhub_image.yml
Labels: area:dev-tools, backport-to-v2-10-test

#46470 Undoing the retryhttp limitation (<1.3.0)
  generated/provider_dependencies.json
  providers/edge/README.rst
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/get_provider_info.py
  task_sdk/pyproject.toml
Labels: area:task-sdk, provider:edge

#46181 Enable to add inline ssh key in GitHook
  airflow/dag_processing/bundles/git.py
  tests/dag_processing/test_dag_bundles.py
Labels: area:DAG-processing, AIP-66: DAG Bundle/Manifest

#46463 Add hotkey shortcut for search component.
  airflow/ui/src/components/SearchBar.tsx
Labels: area:UI

#46379 tests: Add more information to check in OL system test
  providers/openlineage/tests/system/openlineage/example_openlineage.json
  providers/openlineage/tests/system/openlineage/example_openlineage.py
  providers/openlineage/tests/system/openlineage/example_openlineage_mapped_sensor.py
Labels: provider:openlineage

#46441 Update Kubernetes version used in the system test `example_emr_eks`
  providers/tests/system/amazon/aws/example_emr_eks.py
Labels: provider:amazon, area:providers

#45977 Invalidate task instance query on marking dagrun state to refetch task instance states.
  airflow/ui/src/queries/usePatchDagRun.ts
Labels: area:UI

#46427 fix: variable typo Update variable.rst
  docs/apache-airflow/howto/variable.rst
Labels: kind:documentation

#46380 Fixed generated SQL MSSQL dialect when all columns are also primary keys
  providers/microsoft/mssql/src/airflow/providers/microsoft/mssql/dialects/mssql.py
  providers/microsoft/mssql/tests/provider_tests/microsoft/mssql/dialects/test_mssql.py
  tests_common/pytest_plugin.py
Labels: area:providers, provider:microsoft-mssql

#44247 Also allow passing buffer instead of path for retrieve_file and store_file methods in SFTPHook
  providers/sftp/src/airflow/providers/sftp/hooks/sftp.py
  providers/sftp/tests/provider_tests/sftp/hooks/test_sftp.py
Labels: area:providers, provider:sftp

#46439 Implemented cursor for ElasticsearchSQLHook so it can be used through SQLExecuteQueryOperator
  providers/elasticsearch/src/airflow/providers/elasticsearch/hooks/elasticsearch.py
  providers/elasticsearch/tests/provider_tests/elasticsearch/hooks/test_elasticsearch.py
Labels: provider:elasticsearch

#46335 #46316 Issue: Update start.rst
  docs/apache-airflow/start.rst
Labels: kind:documentation

#46489 AIP-65: Add DagVersion to TaskInstanceHistory RESTAPI Response
  airflow/api_fastapi/core_api/datamodels/task_instances.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow/models/taskinstancehistory.py
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_task_instances.py
Labels: area:UI, AIP-84, AIP-65: DAG history in UI

#46476 [snowflake] Add ocsp_fail_open setting for SnowflakeHook
  providers/snowflake/docs/connections/snowflake.rst
  providers/snowflake/src/airflow/providers/snowflake/hooks/snowflake.py
  providers/snowflake/tests/provider_tests/snowflake/hooks/test_snowflake.py
Labels: provider:snowflake

#45353 fix: spark operator label
  providers/src/airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py
  providers/tests/cncf/kubernetes/operators/test_spark_kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#46492 Adding `run_after` field in task SDK datamodels
  task_sdk/src/airflow/sdk/api/datamodels/_generated.py
  task_sdk/tests/conftest.py
  task_sdk/tests/execution_time/conftest.py
  task_sdk/tests/execution_time/test_supervisor.py
  task_sdk/tests/execution_time/test_task_runner.py
Labels: full tests needed, area:task-sdk

#46451 Timetable that runs on multiple cron expressions
  airflow/timetables/trigger.py
  docs/apache-airflow/authoring-and-scheduling/timetable.rst
  tests/timetables/test_trigger_timetable.py
Labels: type:new-feature

#46497 Update `create_emr_on_eks_cluster` method to try when "cluster is not reachable as its connection is currently being updated"
  providers/src/airflow/providers/amazon/aws/hooks/emr.py
  providers/tests/system/amazon/aws/example_emr_eks.py
Labels: provider:amazon, area:providers

#46233 Add DELETE operation in SFTPOperator
  providers/sftp/src/airflow/providers/sftp/hooks/sftp.py
  providers/sftp/src/airflow/providers/sftp/operators/sftp.py
  providers/sftp/tests/provider_tests/sftp/hooks/test_sftp.py
  providers/sftp/tests/provider_tests/sftp/operators/test_sftp.py
Labels: provider:sftp

#46481 Chart: be consisent with denoting templated params
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#46502 Fix k8s flaky test - test_integration_run_dag_with_scheduler_failure
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
  kubernetes_tests/test_base.py
  kubernetes_tests/test_kubernetes_executor.py
Labels: area:dev-tools, provider:cncf-kubernetes

#46295 AIP-83: Restore Uniqueness Constraint on Logical Date, Make It Nullable
  airflow/migrations/versions/0032_3_0_0_rename_execution_date_to_logical_date_and_nullable.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
  tests/api_fastapi/conftest.py
  tests/api_fastapi/core_api/routes/public/test_assets.py
  tests/api_fastapi/core_api/routes/public/test_dag_run.py
  tests/api_fastapi/core_api/routes/public/test_task_instances.py
  tests/models/test_backfill.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
  tests/www/views/test_views_tasks.py
Labels: kind:documentation, area:db-migrations, AIP-83

#45864 Allow passing empty labels in the spark kubernetes driver config
  providers/src/airflow/providers/cncf/kubernetes/operators/custom_object_launcher.py
  providers/tests/cncf/kubernetes/operators/test_custom_object_launcher.py
Labels: area:providers, provider:cncf-kubernetes

#46422 SnowflakeSqlApiOperator: add snowflake_conn_id to template_fields
  providers/snowflake/src/airflow/providers/snowflake/operators/snowflake.py
Labels: provider:snowflake

#46219 BREAKING CHANGE: replace Airflow config by conx extras in SMTP provider
  providers/src/airflow/providers/smtp/CHANGELOG.rst
  providers/src/airflow/providers/smtp/hooks/smtp.py
  providers/src/airflow/providers/smtp/notifications/smtp.py
  providers/src/airflow/providers/smtp/provider.yaml
  providers/tests/smtp/hooks/test_smtp.py
  providers/tests/smtp/notifications/test_smtp.py
  tests_common/test_utils/version_compat.py
Labels: area:providers, area:dev-tools, provider:smtp

#46511 Integrate the SimpleAuthManager UI in dev mode
  airflow/auth/managers/simple/ui/dev/index.html
  airflow/auth/managers/simple/ui/package.json
  scripts/ci/pre_commit/compile_ui_assets_dev.py
Labels: area:dev-tools, AIP-38

#46328 AIP-84 Remove unecessary datamodels config and from_attributes
  airflow/api_fastapi/core_api/datamodels/dag_tags.py
  airflow/api_fastapi/core_api/datamodels/event_logs.py
  airflow/api_fastapi/core_api/datamodels/import_error.py
  airflow/api_fastapi/core_api/datamodels/pools.py
  airflow/api_fastapi/core_api/datamodels/task_instances.py
  airflow/api_fastapi/core_api/datamodels/variables.py
  airflow/api_fastapi/core_api/routes/public/job.py
  airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow/api_fastapi/execution_api/routes/task_instances.py
Labels: AIP-84

#46486 Fix scheduler ServiceAccount automount for multi-executor
  chart/templates/scheduler/scheduler-serviceaccount.yaml
  helm_tests/airflow_core/test_scheduler.py
Labels: area:helm-chart

#46457 Add update XCom endpoint in RestAPI
  airflow/api_fastapi/core_api/datamodels/xcom.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/xcom.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  tests/api_fastapi/core_api/routes/public/test_xcom.py
Labels: type:new-feature, area:UI

#46521 Fix missing logical_date in DagRun for DMS operator tests
  providers/tests/amazon/aws/operators/test_dms.py
Labels: provider:amazon, area:providers, full tests needed

#46381 Update AWS auth manager to use Fastapi instead of Flask
  airflow/config_templates/config.yml
  providers/src/airflow/providers/amazon/aws/auth_manager/aws_auth_manager.py
  providers/src/airflow/providers/amazon/aws/auth_manager/router/__init__.py
  providers/src/airflow/providers/amazon/aws/auth_manager/router/login.py
  providers/src/airflow/providers/amazon/aws/auth_manager/views/auth.py
  providers/tests/amazon/aws/auth_manager/router/__init__.py
  providers/tests/amazon/aws/auth_manager/router/test_login.py
  providers/tests/amazon/aws/auth_manager/test_aws_auth_manager.py
Labels: provider:amazon, area:providers

#46480 Rename apiServer to _apiServer to preserve it in beta until v3 release (#46477)
  chart/templates/_helpers.yaml
  chart/templates/api-server/api-server-deployment.yaml
  chart/templates/api-server/api-server-networkpolicy.yaml
  chart/templates/api-server/api-server-poddisruptionbudget.yaml
  chart/templates/api-server/api-server-service.yaml
  chart/templates/api-server/api-server-serviceaccount.yaml
  chart/templates/configmaps/configmap.yaml
  chart/values.schema.json
  chart/values.yaml
  helm_tests/airflow_core/test_api_server.py
  helm_tests/security/test_rbac.py
Labels: area:helm-chart

#46522 Remove `ds`/`ts` etc from Template/run context when no logical date is defined
  airflow/api_fastapi/execution_api/datamodels/taskinstance.py
  airflow/models/dagrun.py
  docs/apache-airflow/templates-ref.rst
  newsfragments/42404.significant.rst
  scripts/ci/pre_commit/template_context_key_sync.py
  task_sdk/src/airflow/sdk/api/datamodels/_generated.py
  task_sdk/src/airflow/sdk/execution_time/task_runner.py
  task_sdk/src/airflow/sdk/types.py
  task_sdk/tests/execution_time/test_task_runner.py
Labels: AIP-83, area:task-sdk

#46524 Fix task sdk client dry-run mode
  task_sdk/src/airflow/sdk/api/client.py
  task_sdk/tests/api/test_client.py
Labels: area:task-sdk

#46469 Move microsoft winrm to new provider structure
  .github/boring-cyborg.yml
  .pre-commit-config.yaml
  docs/.gitignore
  docs/apache-airflow-providers-microsoft-winrm/changelog.rst
  providers/microsoft/winrm/README.rst
  providers/microsoft/winrm/docs/.latest-doc-only-change.txt
  providers/microsoft/winrm/docs/changelog.rst
  providers/microsoft/winrm/docs/commits.rst
  providers/microsoft/winrm/docs/index.rst
  providers/microsoft/winrm/docs/installing-providers-from-sources.rst
  providers/microsoft/winrm/docs/integration-logos/WinRM.png
  providers/microsoft/winrm/docs/operators.rst
  providers/microsoft/winrm/docs/security.rst
  providers/microsoft/winrm/provider.yaml
  providers/microsoft/winrm/pyproject.toml
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/LICENSE
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/__init__.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/get_provider_info.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/__init__.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/hooks/winrm.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/operators/__init__.py
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/operators/winrm.py
  providers/microsoft/winrm/tests/conftest.py
  providers/microsoft/winrm/tests/provider_tests/__init__.py
  providers/microsoft/winrm/tests/provider_tests/microsoft/__init__.py
  providers/microsoft/winrm/tests/provider_tests/microsoft/winrm/__init__.py
  providers/microsoft/winrm/tests/provider_tests/microsoft/winrm/hooks/__init__.py
  providers/microsoft/winrm/tests/provider_tests/microsoft/winrm/hooks/test_winrm.py
  providers/microsoft/winrm/tests/provider_tests/microsoft/winrm/operators/__init__.py
  providers/microsoft/winrm/tests/provider_tests/microsoft/winrm/operators/test_winrm.py
  providers/microsoft/winrm/tests/system/microsoft/winrm/__init__.py
  providers/microsoft/winrm/tests/system/microsoft/winrm/example_winrm.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
Labels: area:providers, area:dev-tools, kind:documentation, provider:microsoft-winrm

#46340 Adding extra links for EC2
  providers/src/airflow/providers/amazon/aws/links/ec2.py
  providers/src/airflow/providers/amazon/aws/operators/ec2.py
  providers/src/airflow/providers/amazon/provider.yaml
  providers/tests/amazon/aws/links/test_ec2.py
Labels: provider:amazon, area:providers

#46465 Add state filter to task page.
  airflow/ui/src/constants/stateOptions.ts
  airflow/ui/src/pages/Dag/Runs/Runs.tsx
  airflow/ui/src/pages/Run/TaskInstances.tsx
  airflow/ui/src/pages/Task/Instances.tsx
Labels: area:UI

#46485 Fix bug in query invalidation and remove custom predicate logic
  airflow/ui/src/queries/useTrigger.ts
  airflow/ui/src/utils/query.ts
Labels: area:UI

#46132 Move Apache Flink to new provider structure
  .github/boring-cyborg.yml
  docs/.gitignore
  docs/apache-airflow-providers-apache-flink/changelog.rst
  providers/apache/flink/README.rst
  providers/apache/flink/docs/.latest-doc-only-change.txt
  providers/apache/flink/docs/changelog.rst
  providers/apache/flink/docs/commits.rst
  providers/apache/flink/docs/index.rst
  providers/apache/flink/docs/installing-providers-from-sources.rst
  providers/apache/flink/docs/integration-logos/FlinkOnK8s.png
  providers/apache/flink/docs/operators.rst
  providers/apache/flink/docs/security.rst
  providers/apache/flink/provider.yaml
  providers/apache/flink/pyproject.toml
  providers/apache/flink/src/airflow/providers/apache/flink/LICENSE
  providers/apache/flink/src/airflow/providers/apache/flink/__init__.py
  providers/apache/flink/src/airflow/providers/apache/flink/get_provider_info.py
  providers/apache/flink/src/airflow/providers/apache/flink/hooks/__init__.py
  providers/apache/flink/src/airflow/providers/apache/flink/operators/__init__.py
  providers/apache/flink/src/airflow/providers/apache/flink/operators/flink_kubernetes.py
  providers/apache/flink/src/airflow/providers/apache/flink/sensors/__init__.py
  providers/apache/flink/src/airflow/providers/apache/flink/sensors/flink_kubernetes.py
  providers/apache/flink/tests/conftest.py
  providers/apache/flink/tests/provider_tests/__init__.py
  providers/apache/flink/tests/provider_tests/apache/__init__.py
  providers/apache/flink/tests/provider_tests/apache/flink/__init__.py
  providers/apache/flink/tests/provider_tests/apache/flink/operators/__init__.py
  providers/apache/flink/tests/provider_tests/apache/flink/operators/test_flink_kubernetes.py
  providers/apache/flink/tests/provider_tests/apache/flink/sensors/__init__.py
  providers/apache/flink/tests/provider_tests/apache/flink/sensors/test_flink_kubernetes.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
Labels: area:providers, area:dev-tools, kind:documentation, provider:apache-flink

#45066 Added job_clusters as a templated parameter to CreateDatabricksWorkflowOperator
  providers/src/airflow/providers/databricks/operators/databricks_workflow.py
Labels: stale, area:providers, provider:databricks

#46532 Move apache.impala provider to a new structure
  .github/boring-cyborg.yml
  docs/.gitignore
  docs/apache-airflow-providers-apache-impala/changelog.rst
  providers/apache/impala/README.rst
  providers/apache/impala/docs/.latest-doc-only-change.txt
  providers/apache/impala/docs/changelog.rst
  providers/apache/impala/docs/commits.rst
  providers/apache/impala/docs/connections/impala.rst
  providers/apache/impala/docs/index.rst
  providers/apache/impala/docs/installing-providers-from-sources.rst
  providers/apache/impala/docs/security.rst
  providers/apache/impala/provider.yaml
  providers/apache/impala/pyproject.toml
  providers/apache/impala/src/airflow/providers/apache/impala/LICENSE
  providers/apache/impala/src/airflow/providers/apache/impala/__init__.py
  providers/apache/impala/src/airflow/providers/apache/impala/get_provider_info.py
  providers/apache/impala/src/airflow/providers/apache/impala/hooks/__init__.py
  providers/apache/impala/src/airflow/providers/apache/impala/hooks/impala.py
  providers/apache/impala/tests/conftest.py
  providers/apache/impala/tests/provider_tests/__init__.py
  providers/apache/impala/tests/provider_tests/apache/__init__.py
  providers/apache/impala/tests/provider_tests/apache/impala/__init__.py
  providers/apache/impala/tests/provider_tests/apache/impala/hooks/__init__.py
  providers/apache/impala/tests/provider_tests/apache/impala/hooks/test_impala.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
Labels: area:providers, area:dev-tools, kind:documentation, provider:apache-impala

#46387 Moving Arangodb provider to new structure
  .github/boring-cyborg.yml
  docs/.gitignore
  docs/apache-airflow-providers-arangodb/changelog.rst
  providers/arangodb/README.rst
  providers/arangodb/docs/.latest-doc-only-change.txt
  providers/arangodb/docs/changelog.rst
  providers/arangodb/docs/commits.rst
  providers/arangodb/docs/connections/arangodb.rst
  providers/arangodb/docs/index.rst
  providers/arangodb/docs/installing-providers-from-sources.rst
  providers/arangodb/docs/operators/index.rst
  providers/arangodb/docs/security.rst
  providers/arangodb/provider.yaml
  providers/arangodb/pyproject.toml
  providers/arangodb/src/airflow/providers/arangodb/LICENSE
  providers/arangodb/src/airflow/providers/arangodb/__init__.py
  providers/arangodb/src/airflow/providers/arangodb/example_dags/__init__.py
  providers/arangodb/src/airflow/providers/arangodb/example_dags/example_arangodb.py
  providers/arangodb/src/airflow/providers/arangodb/get_provider_info.py
  providers/arangodb/src/airflow/providers/arangodb/hooks/__init__.py
  providers/arangodb/src/airflow/providers/arangodb/hooks/arangodb.py
  providers/arangodb/src/airflow/providers/arangodb/operators/__init__.py
  providers/arangodb/src/airflow/providers/arangodb/operators/arangodb.py
  providers/arangodb/src/airflow/providers/arangodb/sensors/__init__.py
  providers/arangodb/src/airflow/providers/arangodb/sensors/arangodb.py
  providers/arangodb/tests/conftest.py
  providers/arangodb/tests/provider_tests/__init__.py
  providers/arangodb/tests/provider_tests/arangodb/__init__.py
  providers/arangodb/tests/provider_tests/arangodb/hooks/__init__.py
  providers/arangodb/tests/provider_tests/arangodb/hooks/test_arangodb.py
  providers/arangodb/tests/provider_tests/arangodb/operators/__init__.py
  providers/arangodb/tests/provider_tests/arangodb/operators/test_arangodb.py
  providers/arangodb/tests/provider_tests/arangodb/sensors/__init__.py
  providers/arangodb/tests/provider_tests/arangodb/sensors/test_arangodb.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
Labels: area:providers, area:dev-tools, kind:documentation, provider:arangodb

#46527 Update FAB auth manager `get_url_login` method to handle `Flask` and `Fastapi`
  airflow/www/extensions/init_appbuilder.py
  providers/fab/src/airflow/providers/fab/auth_manager/fab_auth_manager.py
  providers/fab/tests/provider_tests/fab/auth_manager/test_fab_auth_manager.py
Labels: area:webserver, provider:fab

#46537 Add documentation about ulimit use on MacOS for `uv sync`
  contributing-docs/07_local_virtualenv.rst
Labels: area:dev-tools

#46538 Fix CODEOWNERS after providers have been moved
  .github/CODEOWNERS
Labels: area:dev-tools

#46539 Replace caplog with mocking log methods in wasb tests.
  providers/tests/microsoft/azure/hooks/test_wasb.py
Labels: provider:microsoft-azure, area:providers

#46534 Add expected_return_code parameter to WinRMOperator
  providers/microsoft/winrm/src/airflow/providers/microsoft/winrm/operators/winrm.py
  providers/microsoft/winrm/tests/provider_tests/microsoft/winrm/operators/test_winrm.py
Labels: provider:microsoft-winrm

#46531 Update system test `test_aws_auth_manager`
  providers/tests/amazon/aws/auth_manager/test_aws_auth_manager.py
  providers/tests/system/amazon/aws/tests/test_aws_auth_manager.py
Labels: provider:amazon, area:providers

#46540 Split dag bundle tests into separate files
  tests/dag_processing/bundles/test_base.py
  tests/dag_processing/bundles/test_git.py
  tests/dag_processing/bundles/test_local.py
Labels: area:DAG-processing, AIP-66: DAG Bundle/Manifest

#46053 fix(XCom): /xcom/list got exception when applying filter on the value column
  airflow/www/utils.py
  tests/www/test_utils.py
Labels: area:webserver, type:bug-fix

#46248 AIP-83 amendment -- update backfill
  airflow/models/backfill.py
Labels: AIP-83

#46541 Use factory for dag_file_processor_timeout in DagFileProcessorManager
  airflow/cli/commands/local_commands/dag_processor_command.py
Labels: area:CLI, AIP-66: DAG Bundle/Manifest

#45571 fix: kpo async kube_config_path
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  providers/cncf/kubernetes/tests/provider_tests/cncf/kubernetes/hooks/test_kubernetes.py
Labels: area:providers, provider:cncf-kubernetes

#46556 Move smtp provider to the new structure
  .github/boring-cyborg.yml
  docs/.gitignore
  docs/apache-airflow-providers-smtp/changelog.rst
  providers/smtp/README.rst
  providers/smtp/docs/.latest-doc-only-change.txt
  providers/smtp/docs/changelog.rst
  providers/smtp/docs/commits.rst
  providers/smtp/docs/configurations-ref.rst
  providers/smtp/docs/connections/smtp.rst
  providers/smtp/docs/index.rst
  providers/smtp/docs/installing-providers-from-sources.rst
  providers/smtp/docs/integration-logos/SMTP.png
  providers/smtp/docs/notifications/smtp_notifier_howto_guide.rst
  providers/smtp/docs/security.rst
  providers/smtp/provider.yaml
  providers/smtp/pyproject.toml
  providers/smtp/src/airflow/providers/smtp/LICENSE
  providers/smtp/src/airflow/providers/smtp/__init__.py
  providers/smtp/src/airflow/providers/smtp/get_provider_info.py
  providers/smtp/src/airflow/providers/smtp/hooks/__init__.py
  providers/smtp/src/airflow/providers/smtp/hooks/smtp.py
  providers/smtp/src/airflow/providers/smtp/notifications/__init__.py
  providers/smtp/src/airflow/providers/smtp/notifications/smtp.py
  providers/smtp/src/airflow/providers/smtp/notifications/templates/__init__.py
  providers/smtp/src/airflow/providers/smtp/notifications/templates/email.html
  providers/smtp/src/airflow/providers/smtp/notifications/templates/email_subject.jinja2
  providers/smtp/src/airflow/providers/smtp/operators/__init__.py
  providers/smtp/src/airflow/providers/smtp/operators/smtp.py
  providers/smtp/tests/conftest.py
  providers/smtp/tests/provider_tests/__init__.py
  providers/smtp/tests/provider_tests/smtp/__init__.py
  providers/smtp/tests/provider_tests/smtp/hooks/__init__.py
  providers/smtp/tests/provider_tests/smtp/hooks/test_smtp.py
  providers/smtp/tests/provider_tests/smtp/notifications/__init__.py
  providers/smtp/tests/provider_tests/smtp/notifications/test_smtp.py
  providers/smtp/tests/provider_tests/smtp/operators/__init__.py
  providers/smtp/tests/provider_tests/smtp/operators/test_smtp.py
  pyproject.toml
  scripts/ci/docker-compose/remove-sources.yml
  scripts/ci/docker-compose/tests-sources.yml
Labels: area:providers, area:dev-tools, kind:documentation, provider:smtp

#40460 Fix pre-mature evaluation of tasks in mapped task group
  airflow/ti_deps/deps/trigger_rule_dep.py
  tests/models/test_mappedoperator.py
Labels: type:bug-fix, area:core, area:dynamic-task-mapping

#46559 AIP-38 Reword Trigger Section for Runs
  airflow/ui/src/pages/Run/Details.tsx
Labels: area:UI, AIP-38

#46558 AIP-38 JWT Flow in the UI
  airflow/ui/src/layouts/BaseLayout.test.tsx
  airflow/ui/src/layouts/BaseLayout.tsx
  airflow/ui/src/main.tsx
Labels: area:UI

#46567 Fix `compile-ui-assets` to not exit after generating main UI assets
  scripts/ci/pre_commit/compile_ui_assets.py
Labels: area:dev-tools

#46562 Increase retries in `EmrContainerHook.create_emr_on_eks_cluster`
  providers/src/airflow/providers/amazon/aws/hooks/emr.py
Labels: provider:amazon, area:providers

#46561 fix: Dataproc operators fail to import without OpenLineage
  providers/google/src/airflow/providers/google/cloud/openlineage/facets.py
  providers/google/src/airflow/providers/google/cloud/openlineage/mixins.py
  providers/google/src/airflow/providers/google/cloud/openlineage/utils.py
  providers/google/src/airflow/providers/google/cloud/operators/dataproc.py
  providers/google/tests/provider_tests/google/cloud/openlineage/test_facets.py
  providers/google/tests/provider_tests/google/cloud/openlineage/test_mixins.py
Labels: provider:google

#46443 Refactor dag processor for code clarity
  airflow/dag_processing/manager.py
  airflow/models/dag.py
  tests/dag_processing/test_manager.py
  tests/models/test_dag.py
Labels: full tests needed, area:DAG-processing, AIP-66: DAG Bundle/Manifest

#46571 Allow passing more then one `--bundle-name` to reserialize command
  airflow/cli/cli_config.py
  airflow/cli/commands/remote_commands/dag_command.py
  airflow/utils/cli.py
  tests/cli/commands/remote_commands/test_dag_command.py
  tests/conftest.py
  tests/utils/test_cli_util.py
Labels: area:CLI, full tests needed, AIP-66: DAG Bundle/Manifest

#46574 chore(kubernetes): reduce redundant code
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/hooks/kubernetes.py
Labels: provider:cncf-kubernetes

#46577 Remove the `--subdir` arg from the dags pause/unpause command
  airflow/cli/cli_config.py
  newsfragments/aip-66.significant.rst
Labels: area:CLI, AIP-66: DAG Bundle/Manifest

#46536 Taking out experimental tag from ObjectStorage
  docs/apache-airflow/core-concepts/objectstorage.rst
Labels: kind:documentation

#46583 Update k8s test Document for non LocalExecutor
  contributing-docs/testing/k8s_tests.rst
Labels: area:dev-tools

#46588 Correct some CODEOWNER entries
  .github/CODEOWNERS
Labels: area:dev-tools

#46535 More meaningful `@task.kubernetes` pod naming
  airflow/decorators/__init__.pyi
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/decorators/kubernetes.py
  providers/cncf/kubernetes/tests/provider_tests/cncf/kubernetes/decorators/test_kubernetes.py
Labels: provider:cncf-kubernetes

#46587 Remove overlooked `pod_generator_deprecated.py`
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/pod_generator_deprecated.py
  tests/always/test_project_structure.py
Labels: provider:cncf-kubernetes

#46586 Fix Legacy UI Button Navigation Issue
  airflow/ui/.env.example
  airflow/ui/src/layouts/Nav/Nav.tsx
Labels: area:UI

#46573 BREAKING_CHANGE: remove airflow.operators.email.EmailOperator in favor of SMTP provider operator
  airflow/example_dags/example_dag_decorator.py
  airflow/operators/email.py
  docs/apache-airflow/core-concepts/operators.rst
  docs/apache-airflow/core-concepts/taskflow.rst
  docs/apache-airflow/operators-and-hooks-ref.rst
  newsfragments/46572.significant.rst
  tests/operators/test_email.py
Labels: kind:documentation, area:core-operators

#44616 Add basic Airflow error guide
  dev/AIRFLOW_ERROR_GUIDE.md
Labels: area:dev-tools

#46592 Update Metadata Database Doc for Resolving Conflict
  contributing-docs/13_metadata_database_updates.rst
Labels: area:dev-tools

#46598 Clarify that you should modify startup scripts until `uv` fixes ulimits
  contributing-docs/07_local_virtualenv.rst
Labels: area:dev-tools

#46599 Remove Airflow 3 Deprecation Warning in Google Provider, Move to Private Warning
  providers/google/src/airflow/providers/google/cloud/log/stackdriver_task_handler.py
Labels: provider:google, area:logging, full tests needed

#46603 Adjust pre-commit config to new provider package path structure
  .pre-commit-config.yaml
Labels: area:dev-tools

#46604 Cleanup committed zip file in tests/dags
  .gitignore
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/check_init_in_tests.py
  tests/conftest.py
  tests/dag_processing/test_manager.py
  tests/dags/test_dag_warnings.zip
  tests/dags/test_zip.zip
  tests/dags/test_zip/file_no_airflow_dag.py
  tests/dags/test_zip/test_zip.py
  tests/dags/test_zip/test_zip_module/__init__.py
  tests/dags/test_zip/test_zip_module/test.py
  tests/models/test_dagbag.py
  tests/utils/test_file.py
Labels: area:DAG-processing

#46519 Feature/enable comment on maintenance mode
  providers/edge/README.rst
  providers/edge/docs/changelog.rst
  providers/edge/provider.yaml
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/__init__.py
  providers/edge/src/airflow/providers/edge/executors/edge_executor.py
  providers/edge/src/airflow/providers/edge/get_provider_info.py
  providers/edge/src/airflow/providers/edge/models/edge_worker.py
  providers/edge/src/airflow/providers/edge/plugins/edge_executor_plugin.py
  providers/edge/src/airflow/providers/edge/plugins/templates/edge_worker_hosts.html
Labels: provider:edge

#46504 Add recent runs duration chart.
  airflow/ui/package.json
  airflow/ui/pnpm-lock.yaml
  airflow/ui/src/pages/Dag/Overview/Overview.tsx
  airflow/ui/src/pages/Dag/Overview/RunDuration.tsx
Labels: area:UI, AIP-38

#46620 Bugfix/fix sql query in edge executor
  providers/edge/README.rst
  providers/edge/docs/changelog.rst
  providers/edge/provider.yaml
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/__init__.py
  providers/edge/src/airflow/providers/edge/executors/edge_executor.py
  providers/edge/src/airflow/providers/edge/get_provider_info.py
Labels: provider:edge

#46624 Chart: Default airflow version to 2.10.5
  chart/Chart.yaml
  chart/newsfragments/44959.significant.rst
  chart/newsfragments/46624.significant.rst
  chart/values.schema.json
  chart/values.yaml
Labels: area:helm-chart

#46390 AIP-83 Logical date should be required field when triggering run via API
  airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/ui/src/queries/useTrigger.ts
  tests/api_fastapi/core_api/routes/public/test_dag_run.py
  tests/models/test_dagrun.py
Labels: area:webserver, kind:documentation, area:UI, area:db-migrations, AIP-83

#46625 Fix schema path in AWS auth manager system test due to restructure
  providers/amazon/tests/system/amazon/aws/tests/test_aws_auth_manager.py
Labels: provider:amazon

#46601 Remove AirflowContextDeprecationWarning as all context should be clean for Airflow 3
  airflow/utils/context.py
  contributing-docs/testing/unit_tests.rst
  providers/openlineage/src/airflow/providers/openlineage/utils/utils.py
  providers/standard/tests/provider_tests/standard/operators/test_python.py
  pyproject.toml
  scripts/ci/pre_commit/check_deprecations.py
  scripts/ci/testing/summarize_captured_warnings.py
  tests/cli/commands/remote_commands/test_task_command.py
Labels: area:CLI, area:dev-tools, full tests needed, provider:standard

#46634 Add missing migration for renaming execution_date to logical_date to log table
  airflow/migrations/versions/0032_3_0_0_rename_execution_date_to_logical_date_and_nullable.py
  docs/apache-airflow/img/airflow_erd.sha256
  docs/apache-airflow/img/airflow_erd.svg
  docs/apache-airflow/migrations-ref.rst
Labels: kind:documentation, area:db-migrations, AIP-83

#46636 Disallow pymongo: 4.11.1 to fix CI tests
  generated/provider_dependencies.json
  providers/mongo/README.rst
  providers/mongo/pyproject.toml
  providers/mongo/src/airflow/providers/mongo/get_provider_info.py
Labels: provider:mongo

#46615 Handle logical_date=None rows when downgrading db
  airflow/migrations/versions/0032_3_0_0_rename_execution_date_to_logical_date_and_nullable.py
  docs/apache-airflow/img/airflow_erd.sha256
Labels: kind:documentation, area:db-migrations

#45294 AIP-72: Task SDK support for on_task_instance_* listeners, make OpenLineage compatible
  airflow/api_fastapi/execution_api/datamodels/taskinstance.py
  airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow/example_dags/plugins/event_listener.py
  airflow/listeners/listener.py
  airflow/listeners/spec/taskinstance.py
  airflow/models/taskinstance.py
  airflow/utils/context.py
  docs/apache-airflow/administration-and-deployment/listeners.rst
  docs/apache-airflow/templates-ref.rst
  providers/edge/tests/provider_tests/edge/cli/test_edge_command.py
  providers/edge/tests/provider_tests/edge/executors/test_edge_executor.py
  providers/openlineage/src/airflow/providers/openlineage/plugins/listener.py
  providers/openlineage/src/airflow/providers/openlineage/utils/selective_enable.py
  providers/openlineage/src/airflow/providers/openlineage/utils/utils.py
  providers/openlineage/tests/provider_tests/openlineage/extractors/test_manager.py
  providers/openlineage/tests/provider_tests/openlineage/plugins/test_execution.py
  providers/openlineage/tests/provider_tests/openlineage/plugins/test_listener.py
  providers/standard/src/airflow/providers/standard/operators/python.py
  scripts/ci/pre_commit/template_context_key_sync.py
  task_sdk/src/airflow/sdk/api/datamodels/_generated.py
  task_sdk/src/airflow/sdk/definitions/context.py
  task_sdk/src/airflow/sdk/execution_time/comms.py
  task_sdk/src/airflow/sdk/execution_time/supervisor.py
  task_sdk/src/airflow/sdk/execution_time/task_runner.py
  task_sdk/tests/conftest.py
  task_sdk/tests/execution_time/test_supervisor.py
  task_sdk/tests/execution_time/test_task_runner.py
  tests/api_fastapi/execution_api/routes/test_task_instances.py
  tests/callbacks/test_callback_requests.py
  tests/executors/test_local_executor.py
  tests/jobs/test_scheduler_job.py
  tests/listeners/class_listener.py
  tests/listeners/empty_listener.py
  tests/listeners/file_write_listener.py
  tests/listeners/full_listener.py
  tests/listeners/partial_listener.py
  tests/listeners/slow_listener.py
  tests/listeners/throwing_listener.py
  tests/listeners/very_slow_listener.py
  tests/listeners/xcom_listener.py
  tests/plugins/test_plugins_manager.py
  tests/utils/test_cli_util.py
  tests_common/test_utils/compat.py
Labels: area:Scheduler, area:providers, provider:openlineage, area:Executors-core, area:task-sdk

#46616 AIP-83 amendment: Add logic for generating run_id when logical date is None.
  airflow/api/common/trigger_dag.py
  airflow/api_connexion/endpoints/dag_run_endpoint.py
  airflow/api_connexion/schemas/dag_run_schema.py
  airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow/jobs/scheduler_job_runner.py
  airflow/models/backfill.py
  airflow/models/baseoperator.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/timetables/base.py
  airflow/timetables/simple.py
  airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/utils/types.py
  airflow/www/views.py
  docker_tests/test_docker_compose_quick_start.py
  kubernetes_tests/test_base.py
  kubernetes_tests/test_kubernetes_pod_operator.py
  providers/cncf/kubernetes/tests/provider_tests/cncf/kubernetes/operators/test_job.py
  providers/cncf/kubernetes/tests/provider_tests/cncf/kubernetes/operators/test_pod.py
  providers/cncf/kubernetes/tests/provider_tests/cncf/kubernetes/operators/test_spark_kubernetes.py
  providers/fab/tests/provider_tests/fab/auth_manager/api_endpoints/test_dag_run_endpoint.py
  providers/fab/tests/provider_tests/fab/auth_manager/api_endpoints/test_xcom_endpoint.py
  providers/microsoft/azure/tests/provider_tests/microsoft/azure/operators/test_data_factory.py
  providers/microsoft/azure/tests/provider_tests/microsoft/azure/sensors/test_wasb.py
  providers/snowflake/tests/provider_tests/snowflake/operators/test_snowflake.py
  providers/standard/src/airflow/providers/standard/operators/trigger_dagrun.py
  tests/api_connexion/endpoints/test_dag_run_endpoint.py
  tests/api_connexion/endpoints/test_xcom_endpoint.py
  tests/api_connexion/schemas/test_dag_run_schema.py
  tests/api_fastapi/core_api/routes/public/test_xcom.py
  tests/jobs/test_scheduler_job.py
  tests/models/test_dag.py
  tests/models/test_dagrun.py
  tests/models/test_taskinstance.py
  tests/models/test_xcom.py
  tests/operators/test_trigger_dagrun.py
  tests/sensors/test_external_task_sensor.py
  tests/timetables/test_assets_timetable.py
  tests/utils/test_state.py
  tests_common/pytest_plugin.py
Labels: area:Scheduler, area:webserver, area:API, area:UI, area:core-operators, AIP-83, legacy api

#46627 AIP-84 Add login endpoint to the public url
  airflow/api_fastapi/app.py
  airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow/api_fastapi/core_api/routes/public/__init__.py
  airflow/api_fastapi/core_api/routes/public/login.py
  airflow/ui/openapi-gen/queries/common.ts
  airflow/ui/openapi-gen/queries/prefetch.ts
  airflow/ui/openapi-gen/queries/queries.ts
  airflow/ui/openapi-gen/queries/suspense.ts
  airflow/ui/openapi-gen/requests/services.gen.ts
  airflow/ui/openapi-gen/requests/types.gen.ts
  airflow/ui/src/main.tsx
  tests/api_fastapi/core_api/routes/public/test_login.py
  tests/api_fastapi/core_api/routes/test_routes.py
Labels: area:UI, AIP-38, AIP-84

#46653 Adding uuid6 as a dependency for openlineage
  generated/provider_dependencies.json
  providers/openlineage/README.rst
  providers/openlineage/pyproject.toml
  providers/openlineage/src/airflow/providers/openlineage/get_provider_info.py
Labels: provider:openlineage

#46651 AIP-84 Add back extra invalid tests
  tests/api_fastapi/core_api/routes/public/test_dag_run.py
Labels: AIP-84

#46663 Remove 'allow_trigger_in_future' config
  airflow/config_templates/config.yml
  airflow/jobs/scheduler_job_runner.py
  airflow/models/dag.py
  airflow/models/dagrun.py
  airflow/settings.py
  airflow/ti_deps/deps/runnable_exec_date_dep.py
  docs/apache-airflow/administration-and-deployment/scheduler.rst
  newsfragments/46663.significant.rst
  task_sdk/src/airflow/sdk/definitions/dag.py
  tests/ti_deps/deps/test_runnable_exec_date_dep.py
Labels: area:Scheduler, kind:documentation, airflow3.0:breaking, area:task-sdk

#46591 Remove minimum height on elements in Flexible Form
  airflow/ui/src/components/FlexibleForm/FieldRow.tsx
  airflow/ui/src/components/TriggerDag/useParamStore.ts
  airflow/ui/src/queries/useDagParams.ts
Labels: area:UI
