Repository apache/airflow, pull requests merged in 2025-10, with the labels that each got.

#55939 Update system tests in google provider
  providers/google/tests/system/google/ads/example_ads.py
  providers/google/tests/system/google/cloud/cloud_logging_sink/example_cloud_logging_sink.py
  providers/google/tests/system/google/cloud/vertex_ai/example_vertex_ai_feature_store.py
  providers/google/tests/system/google/marketing_platform/example_display_video.py
Labels: provider:google, area:providers

#56240 Add revoke_task implementation to EdgeExecutor for task queued timeout support
  providers/edge3/src/airflow/providers/edge3/executors/edge_executor.py
  providers/edge3/tests/unit/edge3/executors/test_edge_executor.py
Labels: area:providers, provider:edge

#56280 Don't import from test code in the Lambda executor
  providers/amazon/src/airflow/providers/amazon/aws/executors/aws_lambda/lambda_executor.py
Labels: provider:amazon, area:providers

#56241 Prepare fab and amazon providers to release (September 2025)
  providers/amazon/README.rst
  providers/amazon/docs/changelog.rst
  providers/amazon/docs/index.rst
  providers/amazon/provider.yaml
  providers/amazon/pyproject.toml
  providers/amazon/src/airflow/providers/amazon/__init__.py
  providers/fab/README.rst
  providers/fab/docs/changelog.rst
  providers/fab/docs/index.rst
  providers/fab/provider.yaml
  providers/fab/pyproject.toml
  providers/fab/src/airflow/providers/fab/__init__.py
Labels: area:providers, kind:documentation, provider:fab

#56083 UI: Add Expand/Collapse all to XComs page
  airflow-core/src/airflow/ui/src/pages/XCom/XCom.tsx
  airflow-core/src/airflow/ui/src/pages/XCom/XComEntry.tsx
Labels: area:UI

#56238 Fix multi-line drag selection in task log view
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/TaskLogContent.tsx
Labels: area:UI, backport-to-v3-1-test

#56274 I18n: Add calendar translation keys and remove fallback
  airflow-core/src/airflow/ui/public/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/dag.json
  airflow-core/src/airflow/ui/src/pages/Dag/Calendar/CalendarTooltip.tsx
Labels: area:UI, area:translations, translation:default, translation:zh-TW

#56277 Enable PT011 rule to prvoider tests
  providers/edge3/tests/unit/edge3/executors/test_edge_executor.py
  providers/elasticsearch/tests/unit/elasticsearch/log/test_es_task_handler.py
  providers/exasol/tests/unit/exasol/hooks/test_exasol.py
  providers/exasol/tests/unit/exasol/hooks/test_sql.py
  providers/ftp/tests/unit/ftp/operators/test_ftp.py
Labels: area:providers, area:logging, provider:elasticsearch, provider:ftp, provider:exasol, provider:edge

#56301 Fix FAB provider name in auth manager section of release notes
  RELEASE_NOTES.rst
  reproducible_build.yaml
Labels: backport-to-v3-1-test

#56302 nit: Bump required OL client to 1.38 for Openlineage provider
  providers/dbt/cloud/tests/unit/dbt/cloud/utils/test_openlineage.py
  providers/openlineage/pyproject.toml
Labels: area:providers, provider:openlineage

#56320 Enable PT011 rule to prvoider tests
  providers/databricks/tests/unit/databricks/hooks/test_databricks.py
  providers/databricks/tests/unit/databricks/hooks/test_databricks_sql.py
  providers/databricks/tests/unit/databricks/operators/test_databricks.py
  providers/dbt/cloud/tests/unit/dbt/cloud/hooks/test_dbt.py
  providers/dingding/tests/unit/dingding/hooks/test_dingding.py
Labels: area:providers, provider:databricks, provider:dbt-cloud, provider:dingding

#56310 Use TI duration from db instead of UI calculated
  airflow-core/src/airflow/ui/src/components/TaskInstanceTooltip.tsx
  airflow-core/src/airflow/ui/src/pages/DagsList/RecentRuns.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Details.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Header.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstances/TaskInstances.tsx
  airflow-core/src/airflow/ui/src/utils/datetimeUtils.test.ts
  airflow-core/src/airflow/ui/src/utils/datetimeUtils.ts
Labels: area:UI, backport-to-v3-1-test

#56314 Update recent runs bar chart and improve responsiveness
  airflow-core/src/airflow/ui/src/pages/DagsList/RecentRuns.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/FavoriteDags/FavoriteDagCard.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/FavoriteDags/FavoriteDags.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/Stats.tsx
Labels: area:UI

#56328 Add if_not_exists to index creation in migrations
  providers/fab/src/airflow/providers/fab/migrations/versions/0001_1_4_0_create_ab_tables_if_missing.py
Labels: area:providers, provider:fab

#56286 Fix Dataflow Java system test and link inside the operator
  providers/apache/beam/src/airflow/providers/apache/beam/operators/beam.py
  providers/apache/beam/src/airflow/providers/apache/beam/triggers/beam.py
  providers/apache/beam/tests/unit/apache/beam/operators/test_beam.py
  providers/apache/beam/tests/unit/apache/beam/triggers/test_beam.py
  providers/google/tests/system/google/cloud/dataflow/example_dataflow_native_java.py
Labels: provider:google, area:providers, provider:apache-beam

#56355 Bump ruff to 0.13.3 and prek to 0.2.3
  .github/actions/install-prek/action.yml
  .pre-commit-config.yaml
  Dockerfile.ci
  airflow-core/docs/best-practices.rst
  dev/breeze/README.md
  dev/breeze/doc/ci/02_images.md
  dev/breeze/pyproject.toml
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/uv.lock
  devel-common/pyproject.toml
  scripts/ci/prek/check_imports_in_providers.py
  scripts/ci/prek/ruff_format.py
Labels: area:dev-tools, kind:documentation, backport-to-v3-1-test

#56245 Chart gitsync vars
  chart/templates/_helpers.yaml
  chart/values.yaml
  helm-tests/tests/helm_tests/airflow_aux/test_pod_template_file.py
  helm-tests/tests/helm_tests/other/test_git_sync_scheduler.py
Labels: area:helm-chart

#56211 Fix install_java.sh script to correctly clear /files/bin folder before reinstalling java
  scripts/in_container/bin/install_java.sh
Labels: provider:google, area:providers, area:dev-tools, provider:apache-beam, backport-to-v3-1-test

#56359 Add new PL translations.
  airflow-core/src/airflow/ui/public/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dag.json
Labels: area:UI, area:translations, translation:pl

#55946 feature: Add OpenLineage support for CloudDataTransferServiceS3ToGCSOperator
  providers/google/src/airflow/providers/google/cloud/openlineage/CloudStorageTransferJobFacet.json
  providers/google/src/airflow/providers/google/cloud/openlineage/CloudStorageTransferRunFacet.json
  providers/google/src/airflow/providers/google/cloud/openlineage/facets.py
  providers/google/src/airflow/providers/google/cloud/operators/cloud_storage_transfer_service.py
  providers/google/tests/unit/google/cloud/openlineage/test_facets.py
  providers/google/tests/unit/google/cloud/operators/test_cloud_storage_transfer_service.py
Labels: provider:google, area:providers

#52634 Update _helpers.yaml to support custom apiServerConfigConfigMapName
  helm-tests/tests/helm_tests/apiserver/test_apiserver.py
Labels: area:helm-chart

#55984 Replace livy connection type in docs
  providers/apache/livy/docs/connections.rst
Labels: area:providers, kind:documentation, provider:apache-livy

#55948 Prefer BigQueryInsertJobOperator's project_id over hook's project_id for openlineage
  providers/google/src/airflow/providers/google/cloud/openlineage/mixins.py
  providers/google/tests/unit/google/cloud/openlineage/test_mixins.py
Labels: provider:google, area:providers

#56378 modify grid view min width for task names
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/Grid.tsx
Labels: area:UI

#56384 Prepare fab provider rc2 to release (October 2025)
  providers/fab/docs/changelog.rst
Labels: area:providers, kind:documentation, provider:fab

#56385 Fix providers release manager docs
  dev/README_RELEASE_PROVIDERS.md
Labels: area:dev-tools, changelog:skip

#56383 include task instance id in log printed by supervisor
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Labels: area:task-sdk

#56392 Make Dag Run ID visible in Dag Header Card
  airflow-core/src/airflow/ui/src/layouts/Details/DagBreadcrumb.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Header.tsx
Labels: type:bug-fix, area:UI, backport-to-v3-1-test

#56393 Use Task Display Name in Grid if existing
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/grid.py
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/task_group.py
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Header.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_grid.py
Labels: area:API, type:bug-fix, area:UI, backport-to-v3-1-test

#56403 fix: show appropriate time units in grid view
  airflow-core/src/airflow/ui/public/i18n/locales/ar/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ca/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/es/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/fr/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/hi/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/hu/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/it/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/pt/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/tr/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-CN/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/common.json
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/DurationTick.tsx
Labels: type:bug-fix, area:UI, backport-to-v3-1-test

#56415 Close German translation gaps for full UI translation 2025-10-05
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dag.json
Labels: area:UI, area:translations, translation:de

#54494 AIP-82: implement Google Pub/Sub message queue provider
  dev/breeze/tests/test_selective_checks.py
  providers/google/docs/index.rst
  providers/google/docs/message-queues/index.rst
  providers/google/provider.yaml
  providers/google/pyproject.toml
  providers/google/src/airflow/providers/google/cloud/queues/__init__.py
  providers/google/src/airflow/providers/google/cloud/queues/pubsub.py
  providers/google/src/airflow/providers/google/get_provider_info.py
  providers/google/tests/system/google/cloud/pubsub/example_pubsub_message_queue_trigger.py
  providers/google/tests/unit/google/cloud/queues/__init__.py
  providers/google/tests/unit/google/cloud/queues/test_pubsub.py
Labels: provider:google, area:providers, kind:documentation

#56464 Bump uv version to 0.8.24 and prek to 0.2.4
  .github/actions/install-prek/action.yml
  .github/workflows/basic-tests.yml
  .github/workflows/release_dockerhub_image.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/README.md
  dev/breeze/doc/ci/02_images.md
  dev/breeze/pyproject.toml
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/uv.lock
  pyproject.toml
  scripts/ci/install_breeze.sh
  scripts/tools/setup_breeze
Labels: area:dev-tools, area:production-image, backport-to-v3-1-test

#56467 Bump uv version to 0.9.0 and ruff to 0.14.0
  .github/actions/install-prek/action.yml
  .github/workflows/basic-tests.yml
  .github/workflows/release_dockerhub_image.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.ci
  airflow-core/docs/best-practices.rst
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  devel-common/pyproject.toml
  pyproject.toml
  scripts/ci/install_breeze.sh
  scripts/ci/prek/check_imports_in_providers.py
  scripts/ci/prek/ruff_format.py
  scripts/tools/setup_breeze
Labels: area:dev-tools, kind:documentation, area:production-image, backport-to-v3-1-test
