Repository apache/airflow, pull requests merged in 2025-05, with the labels that each got.

#50059 Add packages-metadata generation functions to S3 Docs publishing
  dev/breeze/README.md
  dev/breeze/pyproject.toml
  dev/breeze/src/airflow_breeze/utils/publish_docs_to_s3.py
Labels: area:dev-tools

#49872 Separate out Airflow UI and SAM UI directory in dependabot config
  .github/dependabot.yml
Labels: area:dev-tools

#50030 Fix Kubernetes duplicated version
  README.md
  generated/PYPI_README.md
Labels: backport-to-v3-0-test

#49362 Make Xcom compatible with AF2 in system tests in google provider
  providers/google/tests/system/google/cloud/bigquery/example_bigquery_queries.py
  providers/google/tests/system/google/cloud/cloud_batch/example_cloud_batch.py
  providers/google/tests/system/google/cloud/cloud_run/example_cloud_run.py
  providers/google/tests/system/google/cloud/gcs/example_gcs_to_gcs.py
  providers/google/tests/system/google/cloud/kubernetes_engine/example_kubernetes_engine.py
  providers/google/tests/system/google/cloud/kubernetes_engine/example_kubernetes_engine_async.py
  providers/google/tests/system/google/cloud/translate/example_translate.py
Labels: provider:google, area:providers

#50047 Update graph node styling
  airflow-core/src/airflow/ui/src/components/Graph/AliasNode.tsx
  airflow-core/src/airflow/ui/src/components/Graph/AssetNode.tsx
  airflow-core/src/airflow/ui/src/components/Graph/DagNode.tsx
  airflow-core/src/airflow/ui/src/components/Graph/Edge.tsx
  airflow-core/src/airflow/ui/src/components/Graph/TaskNode.tsx
Labels: area:UI

#50066 Fix contribute documentation (golang-docker-credential-helpers instead of golang-docker-credential-helper)
  contributing-docs/03_contributors_quick_start.rst
Labels: area:dev-tools

#49890 fix: add default args to dag details
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-rest-api-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/pages/Dag/Details.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dags.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Labels: area:API, area:UI, area:airflow-ctl

#50075 Add lower-binding for types-protobuf
  providers/google/pyproject.toml
Labels: provider:google, area:providers, backport-to-v3-0-test

#50076 Bump min versions of crucial providers
  .pre-commit-config.yaml
  dev/breeze/src/airflow_breeze/utils/packages.py
  pyproject.toml
  scripts/ci/pre_commit/update_airflow_pyproject_toml.py
Labels: area:dev-tools, backport-to-v3-0-test

#50063 [v3-0-test] Allow non-string valid JSON values in Variable import. (#49844)
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/variables.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-rest-api-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/pages/Variables/ImportVariablesForm.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_variables.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/tests/airflow_ctl/api/test_operations.py
Labels: area:API, area:UI, area:airflow-ctl

#50055 Remove external icon for Manage Pools link
  airflow-core/src/airflow/ui/src/pages/Dashboard/PoolSummary/PoolSummary.tsx
Labels: area:UI

#50050 Restore hover+selection crosshairs to grid view
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/Grid.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/GridTI.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/TaskNames.tsx
Labels: area:UI

#50082 Fix links to source examples in Airflow docs
  devel-common/src/sphinx_exts/exampleinclude.py
Labels: backport-to-v3-0-test

#49804 Refactor connection creation in system tests to use REST API instead
  devel-common/src/tests_common/test_utils/api_client_helpers.py
  providers/amazon/tests/system/amazon/aws/example_google_api_youtube_to_s3.py
  providers/amazon/tests/system/amazon/aws/example_s3_to_sql.py
  providers/amazon/tests/system/amazon/aws/example_sql_to_s3.py
Labels: provider:amazon, area:providers

#50086 Fix date range field alignment
  airflow-core/src/airflow/ui/src/components/DagActions/RunBackfillForm.tsx
Labels: area:UI

#50088 Add auto-refresh for `Stats` and fix `PoolBar` layout
  airflow-core/src/airflow/ui/src/components/PoolBar.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/Stats.tsx
Labels: area:UI

#50098 Fix `ResolutionTooDeep` error on pip 25.1
  providers/google/pyproject.toml
Labels: provider:google, area:providers, all versions, backport-to-v3-0-test

#50099 Fix version of common.messaging to 1.0.1
  providers/common/messaging/provider.yaml
  providers/common/messaging/pyproject.toml
  providers/common/messaging/src/airflow/providers/common/messaging/__init__.py
Labels: area:providers, full tests needed, provider:common-messaging, backport-to-v3-0-test

#50031 Add `state` attribute to `RuntimeTaskInstance`
  airflow-core/src/airflow/api_fastapi/execution_api/app.py
  devel-common/src/tests_common/pytest_plugin.py
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
  task-sdk/src/airflow/sdk/execution_time/comms.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/definitions/test_mappedoperator.py
  task-sdk/tests/task_sdk/definitions/test_xcom_arg.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Labels: area:API, area:task-sdk, backport-to-v3-0-test

#50095 Fix node selections
  airflow-core/src/airflow/ui/src/components/Graph/DagNode.tsx
  airflow-core/src/airflow/ui/src/components/Graph/DefaultNode.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Graph/Graph.tsx
  airflow-core/src/airflow/ui/src/pages/Asset/AssetGraph.tsx
Labels: area:UI

#50094 Fix duration charts
  airflow-core/src/airflow/ui/src/components/DurationChart.tsx
Labels: area:UI

#50106 docs(unit_tests.rst): correct DAG test path after 3.0 move
  contributing-docs/testing/unit_tests.rst
Labels: area:dev-tools

#50110 [v3-0-test] Avoid pushing images in test canary runs (#49950)
  .github/workflows/additional-ci-image-checks.yml
  .github/workflows/ci-image-checks.yml
  .github/workflows/finalize-tests.yml
Labels: area:dev-tools

#50111 [v3-0-test] Prepare documentation to release common.compat 1.6.1 (#49…
  providers/common/compat/README.rst
  providers/common/compat/docs/changelog.rst
  providers/common/compat/docs/commits.rst
  providers/common/compat/docs/index.rst
  providers/common/compat/provider.yaml
  providers/common/compat/pyproject.toml
  providers/common/compat/src/airflow/providers/common/compat/__init__.py
Labels: area:providers, kind:documentation, provider:common-compat

#49458 Add `columnNameCharacterMap` option to `GCSToBigQueryOperator`
  providers/google/src/airflow/providers/google/cloud/transfers/gcs_to_bigquery.py
Labels: provider:google, area:providers

#49935 fix import path for BashSensor
  airflow-core/src/airflow/sensors/__init__.py
Labels: type:bug-fix, area:core-operators, backport-to-v3-0-test

#50109 [v3-0-test] Replace chicken-egg providers with automated use of unrel…
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/ci-image-checks.yml
  .github/workflows/ci.yml
  .github/workflows/generate-constraints.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/prod-image-extra-checks.yml
  .github/workflows/release_dockerhub_image.yml
  Dockerfile
  Dockerfile.ci
  contributing-docs/12_provider_distributions.rst
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_PROVIDERS.md
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/doc/images/output_release-management_generate-constraints.svg
  dev/breeze/doc/images/output_release-management_generate-constraints.txt
  dev/breeze/doc/images/output_release-management_release-prod-images.svg
  dev/breeze/doc/images/output_release-management_release-prod-images.txt
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  providers/MANAGING_PROVIDERS_LIFECYCLE.rst
  providers/amazon/pyproject.toml
  providers/apprise/pyproject.toml
  providers/atlassian/jira/pyproject.toml
  providers/discord/pyproject.toml
  providers/opsgenie/pyproject.toml
  providers/pagerduty/pyproject.toml
  providers/slack/pyproject.toml
  providers/smtp/pyproject.toml
  scripts/docker/common.sh
  scripts/in_container/run_generate_constraints.py
Labels: provider:amazon, area:providers, area:dev-tools, area:production-image, provider:slack, provider:discord, provider:opsgenie, provider:apprise, provider:atlassian-jira, provider:pagerduty

#50114 [v3-0-test] Fix error on pip 25.1 (#50098)
  providers/google/README.rst
  providers/google/docs/changelog.rst
  providers/google/docs/commits.rst
  providers/google/docs/index.rst
  providers/google/provider.yaml
  providers/google/pyproject.toml
  providers/google/src/airflow/providers/google/__init__.py
Labels: provider:google, area:providers, kind:documentation

#50119 fix react ui datetime utils and time component test
  airflow-core/src/airflow/ui/src/components/Time.test.tsx
  airflow-core/src/airflow/ui/src/utils/datetimeUtils.ts
Labels: area:UI

#50118 [v3-0-test] Remove special case for building PROD image in non-main b…
  .github/workflows/additional-ci-image-checks.yml
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/ci-image-checks.yml
  .github/workflows/ci.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/prod-image-extra-checks.yml
  .github/workflows/push-image-cache.yml
Labels: area:dev-tools

#50116 Fix datetime validation
  airflow-core/src/airflow/ui/src/components/DagActions/RunBackfillForm.tsx
  airflow-core/src/airflow/ui/src/components/DateTimeInput.tsx
  airflow-core/src/airflow/ui/src/components/FlexibleForm/FlexibleForm.tsx
Labels: area:UI

#50121 [v3-0-test] Fix version of common.messaging to 1.0.1 (#50099)
  providers/common/messaging/provider.yaml
  providers/common/messaging/pyproject.toml
  providers/common/messaging/src/airflow/providers/common/messaging/__init__.py
Labels: area:providers, provider:common-messaging

#50070 Migrate `Hive` provider to use `get_df`
  providers/apache/druid/pyproject.toml
  providers/apache/hive/README.rst
  providers/apache/hive/pyproject.toml
  providers/apache/hive/src/airflow/providers/apache/hive/hooks/hive.py
  providers/apache/hive/tests/unit/apache/hive/hooks/test_hive.py
Labels: area:providers, provider:apache-hive

#50123 Migrate `PrestoHook` and `TrinoHook` to use `get_df`
  providers/presto/README.rst
  providers/presto/pyproject.toml
  providers/presto/src/airflow/providers/presto/hooks/presto.py
  providers/presto/tests/unit/presto/hooks/test_presto.py
  providers/trino/README.rst
  providers/trino/pyproject.toml
  providers/trino/src/airflow/providers/trino/hooks/trino.py
  providers/trino/tests/unit/trino/hooks/test_trino.py
Labels: area:providers, provider:trino, provider:presto

#50120 Execution API: Improve task instance logging with structlog context
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
Labels: area:API, backport-to-v3-0-test

#50130 Properly calculate location of the constraints for Airflow 3
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
Labels: area:dev-tools, area:production-image

#50133 [v3-0-test] Properly calculate location of the constraints for Airflo…
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
Labels: area:dev-tools, area:production-image

#49915 Extend Edge Worker CLI commands operate on remote edge workers
  providers/edge3/src/airflow/providers/edge3/cli/edge_command.py
  providers/edge3/src/airflow/providers/edge3/models/edge_worker.py
  providers/edge3/tests/unit/edge3/cli/test_edge_command.py
Labels: area:providers, provider:edge

#50085 Add TIs tab to mapped task details
  airflow-core/src/airflow/ui/src/pages/MappedTaskInstance/MappedTaskInstance.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/TaskInstance.tsx
Labels: area:UI

#50125 Add focus view for grid and graph on second click
  airflow-core/src/airflow/ui/src/layouts/Details/DetailsLayout.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/PanelButtons.tsx
Labels: area:UI

#49418 Apply task group sorting based on webserver config in grid structure response
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/grid.py
  airflow-core/src/airflow/utils/task_group.py
  airflow-core/tests/unit/utils/test_task_group.py
Labels: backport-to-v3-0-test

#50127 Fixes validation error and adds error indicator
  airflow-core/src/airflow/ui/src/components/FlexibleForm/FlexibleForm.tsx
Labels: area:UI

#50136 Fix broken main - update tool versions
  .github/actions/install-pre-commit/action.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  pyproject.toml
  scripts/ci/install_breeze.sh
  scripts/tools/setup_breeze
Labels: area:dev-tools, area:production-image, full tests needed, backport-to-v3-0-test

#50135 fix (airflowctl): api_url cannot be loaded due to credentials not loaded
  airflow-ctl/src/airflowctl/api/client.py
Labels: area:airflow-ctl

#50137 Add docs stable version redirects part of S3 Docs publishing
  dev/breeze/src/airflow_breeze/utils/publish_docs_to_s3.py
Labels: area:dev-tools

#49951 Revert "Limit Celery to not include 5.5.2 (#49940)"
  providers/celery/pyproject.toml
Labels: area:providers, full tests needed, provider:celery, canary

#50001 feat(provider/azure): Add Power BI triggers, operators and tests for dataset and workspace operations
  providers/microsoft/azure/docs/operators/powerbi.rst
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/hooks/powerbi.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/powerbi.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/triggers/powerbi.py
  providers/microsoft/azure/tests/system/microsoft/azure/example_powerbi_dataset_list.py
  providers/microsoft/azure/tests/system/microsoft/azure/example_powerbi_workspace_list.py
  providers/microsoft/azure/tests/unit/microsoft/azure/operators/test_powerbi_list.py
  providers/microsoft/azure/tests/unit/microsoft/azure/triggers/test_powerbi.py
Labels: provider:microsoft-azure, area:providers

#50124 Add formatted extra to asset events
  airflow-core/src/airflow/ui/src/components/Assets/AssetEvent.tsx
  airflow-core/src/airflow/ui/src/components/Assets/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/components/RenderedJsonField.tsx
  airflow-core/src/airflow/ui/src/pages/Asset/Asset.tsx
Labels: area:UI

#50144 Better diagnostics and easier use of release dockerhub image workflow
  .github/workflows/release_dockerhub_image.yml
  dev/README_RELEASE_AIRFLOW.md
  dev/images/release_prod_image.png
  scripts/ci/airflow_version_check.py
Labels: area:dev-tools, backport-to-v3-0-test

#50148 Bump lower-bind on Python-Jenkins (to 1.8.0)
  providers/jenkins/pyproject.toml
Labels: area:providers, provider:jenkins

#50150 Filter out locally built packages from PyPI constraints
  scripts/in_container/run_generate_constraints.py
Labels: area:dev-tools, backport-to-v3-0-test

#50153 [v3-0-test] - fixing handle of null or undefined dates in datetimeUti…
  airflow-core/src/airflow/ui/src/components/Time.test.tsx
  airflow-core/src/airflow/ui/src/utils/datetimeUtils.ts
Labels: area:UI

#50149 fix (airflowctl): generalise excluded fields to prevent help/documentation problems
  airflow-ctl/src/airflowctl/ctl/cli_config.py
Labels: area:airflow-ctl

#50155 Better condition for constraint push
  .github/workflows/finalize-tests.yml
Labels: area:dev-tools, backport-to-v3-0-test

#50154 Turn releasing images in two stages - AMD only first and AMD/ARM second
  .github/workflows/release_dockerhub_image.yml
Labels: area:dev-tools, backport-to-v3-0-test

#50161 Refine type overload for `common-sql`
  providers/common/sql/src/airflow/providers/common/sql/hooks/sql.pyi
Labels: area:providers, provider:common-sql

#50163 Set proper task-sdk limits for main
  airflow-core/pyproject.toml
  task-sdk/pyproject.toml
Labels: area:task-sdk

#50164 [v3-0-test] Set proper limits for task-sdk in v3-0-test branch
  task-sdk/pyproject.toml
Labels: area:task-sdk

#50167 Additional validation of whether constraints are available for images
  scripts/ci/airflow_version_check.py
Labels: area:dev-tools, backport-to-v3-0-test

#50169 Bugfix for un versioned docs S3 publishing
  .github/workflows/publish-docs-to-s3.yml
  dev/breeze/src/airflow_breeze/utils/publish_docs_to_s3.py
Labels: area:dev-tools

#50173 fix: wrap overflowing texts of asset events
  airflow-core/src/airflow/ui/src/components/Assets/AssetEvent.tsx
Labels: area:UI

#50100 Add audit log extra to table and improve UX
  airflow-core/src/airflow/ui/src/pages/Events/Events.tsx
Labels: area:UI

#50176 Separate building release images to separate hardware
  .github/workflows/release_dockerhub_image.yml
  dev/MANUALLY_BUILDING_IMAGES.md
  dev/breeze/doc/09_release_management_tasks.rst
  dev/breeze/doc/images/output_prod-image_verify.svg
  dev/breeze/doc/images/output_prod-image_verify.txt
  dev/breeze/doc/images/output_release-management.svg
  dev/breeze/doc/images/output_release-management.txt
  dev/breeze/doc/images/output_release-management_merge-prod-images.svg
  dev/breeze/doc/images/output_release-management_merge-prod-images.txt
  dev/breeze/doc/images/output_release-management_release-prod-images.svg
  dev/breeze/doc/images/output_release-management_release-prod-images.txt
  dev/breeze/doc/images/output_setup_check-all-params-in-groups.svg
  dev/breeze/doc/images/output_setup_check-all-params-in-groups.txt
  dev/breeze/doc/images/output_setup_regenerate-command-images.svg
  dev/breeze/doc/images/output_setup_regenerate-command-images.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands_config.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  scripts/ci/airflow_version_check.py
Labels: area:dev-tools, backport-to-v3-0-test

#50180 [v3-0-test] Separate building release images to separate hardware (#5…
  .github/workflows/release_dockerhub_image.yml
  dev/MANUALLY_BUILDING_IMAGES.md
  dev/breeze/doc/09_release_management_tasks.rst
  dev/breeze/doc/images/output_prod-image_verify.svg
  dev/breeze/doc/images/output_prod-image_verify.txt
  dev/breeze/doc/images/output_release-management.svg
  dev/breeze/doc/images/output_release-management.txt
  dev/breeze/doc/images/output_release-management_merge-prod-images.svg
  dev/breeze/doc/images/output_release-management_merge-prod-images.txt
  dev/breeze/doc/images/output_release-management_release-prod-images.svg
  dev/breeze/doc/images/output_release-management_release-prod-images.txt
  dev/breeze/doc/images/output_setup_check-all-params-in-groups.svg
  dev/breeze/doc/images/output_setup_check-all-params-in-groups.txt
  dev/breeze/doc/images/output_setup_regenerate-command-images.svg
  dev/breeze/doc/images/output_setup_regenerate-command-images.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands.py
  dev/breeze/src/airflow_breeze/commands/production_image_commands_config.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  scripts/ci/airflow_version_check.py
Labels: area:dev-tools

#50166 Prepare ad hoc release for providers May 2025
  providers/amazon/README.rst
  providers/amazon/docs/changelog.rst
  providers/amazon/docs/commits.rst
  providers/amazon/docs/index.rst
  providers/apache/tinkerpop/docs/commits.rst
  providers/apache/tinkerpop/docs/index.rst
  providers/common/messaging/README.rst
  providers/common/messaging/docs/changelog.rst
  providers/common/messaging/docs/commits.rst
  providers/common/messaging/docs/index.rst
  providers/common/sql/README.rst
  providers/common/sql/docs/changelog.rst
  providers/common/sql/docs/commits.rst
  providers/common/sql/docs/index.rst
  providers/common/sql/provider.yaml
  providers/common/sql/pyproject.toml
  providers/common/sql/src/airflow/providers/common/sql/__init__.py
  providers/snowflake/README.rst
  providers/snowflake/docs/changelog.rst
  providers/snowflake/docs/commits.rst
  providers/snowflake/docs/index.rst
  providers/snowflake/provider.yaml
  providers/snowflake/pyproject.toml
  providers/snowflake/src/airflow/providers/snowflake/__init__.py
Labels: area:providers, kind:documentation, provider:snowflake, provider:common-sql, provider:apache-tinkerpop

#49779 Port cache classes: `SecretCache` to Task SDK
  airflow-core/newsfragments/49779.significant.rst
  airflow-core/src/airflow/dag_processing/manager.py
  airflow-core/src/airflow/models/connection.py
  airflow-core/src/airflow/models/variable.py
  airflow-core/src/airflow/secrets/cache.py
  airflow-core/tests/unit/always/test_secrets.py
  airflow-core/tests/unit/models/test_variable.py
  airflow-core/tests/unit/secrets/test_cache.py
  task-sdk/src/airflow/sdk/__init__.py
  task-sdk/src/airflow/sdk/execution_time/cache.py
Labels: area:secrets, area:task-sdk

#50190 Fix PR number in changelog of apache-tinkerpop
  providers/apache/tinkerpop/docs/changelog.rst
Labels: area:providers, kind:documentation, provider:apache-tinkerpop

#50195 Use top-level imports in docs if possible
  airflow-core/docs/authoring-and-scheduling/assets.rst
Labels: kind:documentation, type:doc-only

#50181 Simplify runs-on conditions to only differentiate AMD/ARM
  .github/workflows/additional-ci-image-checks.yml
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/airflow-distributions-tests.yml
  .github/workflows/basic-tests.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/ci-image-checks.yml
  .github/workflows/ci.yml
  .github/workflows/finalize-tests.yml
  .github/workflows/generate-constraints.yml
  .github/workflows/helm-tests.yml
  .github/workflows/integration-system-tests.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/prod-image-extra-checks.yml
  .github/workflows/publish-docs-to-s3.yml
  .github/workflows/push-image-cache.yml
  .github/workflows/release_dockerhub_image.yml
  .github/workflows/run-unit-tests.yml
  .github/workflows/special-tests.yml
  .github/workflows/test-providers.yml
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_pr_info.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools, canary

#50196 [v3-0-test] Simplify runs-on conditions to only differentiate AMD/ARM (#50181)
  .github/workflows/additional-ci-image-checks.yml
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/airflow-distributions-tests.yml
  .github/workflows/basic-tests.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/ci-image-checks.yml
  .github/workflows/ci.yml
  .github/workflows/finalize-tests.yml
  .github/workflows/generate-constraints.yml
  .github/workflows/helm-tests.yml
  .github/workflows/integration-system-tests.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/prod-image-extra-checks.yml
  .github/workflows/publish-docs-to-s3.yml
  .github/workflows/push-image-cache.yml
  .github/workflows/release_dockerhub_image.yml
  .github/workflows/run-unit-tests.yml
  .github/workflows/special-tests.yml
  .github/workflows/test-providers.yml
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/src/airflow_breeze/commands/ci_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_pr_info.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#50129 AIP-84: alias `dag_display_name` for `dag_source`, `log`
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_sources.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/event_logs.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_sources.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/log.py
  airflow-core/src/airflow/models/log.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_sources.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_event_logs.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Labels: area:API, area:UI, area:airflow-ctl

#50199 Prioritize min airflow bump over bugfix during provider doc prep
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
Labels: area:dev-tools

#50201 Fix platform retrieval using matrix and not input
  .github/workflows/release_dockerhub_image.yml
Labels: area:dev-tools, backport-to-v3-0-test

#50200 Add test for `common-sql` overload
  providers/common/sql/tests/unit/common/sql/hooks/test_sql.py
Labels: area:providers, provider:common-sql

#50205 Lower bind pyspark and pydruid to relatively new versions
  providers/apache/druid/pyproject.toml
  providers/apache/spark/pyproject.toml
Labels: area:providers, provider:apache-druid, provider:apache-spark, backport-to-v3-0-test

#49996 Handle MappedTaskGroup map indexes
  airflow-core/src/airflow/api_fastapi/execution_api/datamodels/taskinstance.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
  devel-common/src/tests_common/pytest_plugin.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
  task-sdk/src/airflow/sdk/definitions/xcom_arg.py
  task-sdk/tests/task_sdk/definitions/test_mappedoperator.py
Labels: area:API, area:task-sdk

#50165 Add TI deletion endpoint
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
Labels: area:API, area:UI

#50213 [v3-0-test] Introduce lower bind to lxml as 5.4.0 (#49612)
  providers/amazon/pyproject.toml
Labels: provider:amazon, area:providers

#50065 AIP-84: alias `dag_display_name` for `Job` and `Xcom`
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/job.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/xcom.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/job.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/xcom.py
  airflow-core/src/airflow/jobs/job.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_job.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_xcom.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Labels: area:API, area:UI, area:airflow-ctl

#50219 feat (airflowctl): update method that will be deprecated from Pydantic
  airflow-ctl/src/airflowctl/ctl/cli_config.py
Labels: area:airflow-ctl

#50211 Refine type overload for `HiveServer2Hook`
  providers/apache/hive/src/airflow/providers/apache/hive/hooks/hive.py
  providers/apache/hive/tests/unit/apache/hive/hooks/test_hive.py
Labels: area:providers, provider:apache-hive

#49237 add root parent information to OpenLineage events
  providers/amazon/pyproject.toml
  providers/apache/livy/tests/unit/apache/livy/operators/test_livy.py
  providers/apache/spark/tests/unit/apache/spark/operators/test_spark_submit.py
  providers/dbt/cloud/pyproject.toml
  providers/dbt/cloud/src/airflow/providers/dbt/cloud/utils/openlineage.py
  providers/dbt/cloud/tests/unit/dbt/cloud/utils/test_openlineage.py
  providers/google/tests/unit/google/cloud/openlineage/test_utils.py
  providers/google/tests/unit/google/cloud/operators/test_dataproc.py
  providers/openlineage/src/airflow/providers/openlineage/plugins/adapter.py
  providers/openlineage/src/airflow/providers/openlineage/plugins/listener.py
  providers/openlineage/src/airflow/providers/openlineage/plugins/macros.py
  providers/openlineage/src/airflow/providers/openlineage/utils/spark.py
  providers/openlineage/src/airflow/providers/openlineage/utils/utils.py
  providers/openlineage/tests/unit/openlineage/dags/__init__.py
  providers/openlineage/tests/unit/openlineage/dags/test_openlineage_execution.py
  providers/openlineage/tests/unit/openlineage/plugins/test_adapter.py
  providers/openlineage/tests/unit/openlineage/plugins/test_execution.py
  providers/openlineage/tests/unit/openlineage/plugins/test_listener.py
  providers/openlineage/tests/unit/openlineage/utils/test_spark.py
  providers/snowflake/pyproject.toml
  providers/snowflake/src/airflow/providers/snowflake/utils/openlineage.py
  providers/snowflake/tests/unit/snowflake/hooks/test_snowflake.py
  providers/snowflake/tests/unit/snowflake/utils/test_openlineage.py
  pyproject.toml
  scripts/ci/pre_commit/update_airflow_pyproject_toml.py
Labels: provider:google, provider:amazon, area:providers, area:dev-tools, kind:documentation, provider:snowflake, provider:openlineage, provider:dbt-cloud, provider:apache-spark, provider:apache-livy

#50212 Assets now fit graph
  airflow-core/src/airflow/ui/src/pages/Asset/Asset.tsx
  airflow-core/src/airflow/ui/src/pages/Asset/AssetLayout.tsx
Labels: area:UI

#50230 Bump openlineage provider
  providers/openlineage/provider.yaml
  providers/openlineage/pyproject.toml
  providers/openlineage/src/airflow/providers/openlineage/__init__.py
Labels: area:providers, provider:openlineage

#50224 Cleaning the visual for classifying commits
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
Labels: area:dev-tools

#50209 Move webserver expose_config to api section
  Dockerfile.ci
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/config.py
  airflow-core/src/airflow/cli/commands/config_command.py
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/configuration.py
  airflow-core/tests/unit/api_fastapi/auth/managers/simple/test_middleware.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_config.py
  chart/docs/airflow-configuration.rst
  clients/python/README.md
  dev/README_RELEASE_PYTHON_CLIENT.md
  scripts/docker/entrypoint_ci.sh
Labels: area:CLI, area:dev-tools, area:API, area:helm-chart, kind:documentation, area:ConfigTemplates

#50232 docs(ruff): fix outdated content and add airflow rule list, ruff configuration links
  airflow-core/docs/best-practices.rst
  airflow-core/docs/installation/upgrading_to_airflow3.rst
Labels: kind:documentation

#50060 Added `last_asset_event_id` and `last_asset_event_timestamp` to the `AssetResponse`
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/assets.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/assets.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_assets.py
  airflow-core/tests/unit/cli/commands/test_asset_command.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Labels: area:API, area:UI, area:airflow-ctl

#49873 Do not use introspection in DB migration
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/src/airflow/migrations/versions/0028_3_0_0_drop_ab_user_id_foreign_key.py
Labels: kind:documentation, full tests needed, area:db-migrations

#50238 Restore operator extra links for mapped tasks
  airflow-core/src/airflow/models/mappedoperator.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
Labels: backport-to-v3-0-test

#50229 Update type to follow newest typing spec
  providers/common/sql/src/airflow/providers/common/sql/hooks/sql.py
  providers/common/sql/src/airflow/providers/common/sql/hooks/sql.pyi
Labels: area:providers, provider:common-sql

#50237 Add PLATFORM variables missing in CI after ARM adding
  .github/workflows/prod-image-build.yml
  .github/workflows/run-unit-tests.yml
Labels: area:dev-tools, backport-to-v3-0-test

#50243 Fix ErrorAlert white space
  airflow-core/src/airflow/ui/src/components/ErrorAlert.tsx
Labels: type:bug-fix, area:UI, backport-to-v3-0-test

#50249 Fix backfill and Trigger Forms
  airflow-core/src/airflow/ui/src/components/DagActions/RunBackfillForm.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
Labels: type:bug-fix, area:UI

#50239 Normalize --platform parameter
  dev/breeze/doc/images/output_ci-image_build.svg
  dev/breeze/doc/images/output_ci-image_build.txt
  dev/breeze/doc/images/output_ci-image_load.svg
  dev/breeze/doc/images/output_ci-image_load.txt
  dev/breeze/doc/images/output_ci-image_save.svg
  dev/breeze/doc/images/output_ci-image_save.txt
  dev/breeze/doc/images/output_prod-image_build.svg
  dev/breeze/doc/images/output_prod-image_build.txt
  dev/breeze/doc/images/output_prod-image_load.svg
  dev/breeze/doc/images/output_prod-image_load.txt
  dev/breeze/doc/images/output_prod-image_save.svg
  dev/breeze/doc/images/output_prod-image_save.txt
  dev/breeze/doc/images/output_release-management_release-prod-images.svg
  dev/breeze/doc/images/output_release-management_release-prod-images.txt
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools, backport-to-v3-0-test

#50251 Add more tests for both regular and slim image
  docker-tests/tests/docker_tests/test_prod_image.py
Labels: area:production-image, backport-to-v3-0-test, area:docker-tests

#50222 start.rst: fix backfill command
  airflow-core/docs/start.rst
Labels: kind:documentation, type:doc-only, backport-to-v3-0-test

#50250 Update operators-and-hooks-ref.rst
  airflow-core/docs/operators-and-hooks-ref.rst
Labels: kind:documentation, area:core-operators, backport-to-v3-0-test

#50257 [v3-0-test] Normalize --platform parameter (#50239)
  dev/breeze/doc/images/output_ci-image_build.svg
  dev/breeze/doc/images/output_ci-image_build.txt
  dev/breeze/doc/images/output_ci-image_load.svg
  dev/breeze/doc/images/output_ci-image_load.txt
  dev/breeze/doc/images/output_ci-image_save.svg
  dev/breeze/doc/images/output_ci-image_save.txt
  dev/breeze/doc/images/output_prod-image_build.svg
  dev/breeze/doc/images/output_prod-image_build.txt
  dev/breeze/doc/images/output_prod-image_load.svg
  dev/breeze/doc/images/output_prod-image_load.txt
  dev/breeze/doc/images/output_prod-image_save.svg
  dev/breeze/doc/images/output_prod-image_save.txt
  dev/breeze/doc/images/output_release-management_release-prod-images.svg
  dev/breeze/doc/images/output_release-management_release-prod-images.txt
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#50254 Fix backfill form (#50249)
  airflow-core/src/airflow/ui/src/components/DagActions/RunBackfillForm.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
Labels: type:bug-fix, area:UI

#50235 Add TI deletion UI
  airflow-core/src/airflow/ui/src/pages/TaskInstances/DeleteTaskInstanceButton.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstances/TaskInstances.tsx
  airflow-core/src/airflow/ui/src/queries/useDeleteTaskInstance.ts
Labels: area:UI

#50256 Pass mapIndex to clear the relevant task instances similar to dry run.
  airflow-core/src/airflow/ui/src/components/Clear/TaskInstance/ClearTaskInstanceDialog.tsx
  airflow-core/src/airflow/ui/src/queries/useClearTaskInstances.ts
Labels: area:UI, backport-to-v3-0-test

#50253 Ignore typing error that might occur for internal import in ray
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/ray.py
Labels: provider:google, area:providers

#50252 Fix operator overflow in graph
  airflow-core/src/airflow/ui/src/components/Graph/TaskNode.tsx
Labels: area:UI, backport-to-v3-0-test

#50261 Remove experimental ARM support from container images
  docker-stack-docs/changelog.rst
  docker-stack-docs/index.rst
Labels: kind:documentation, area:production-image, backport-to-v3-0-test

#50264 Doc: Add REST API v2 (``api/v2``) entry in Release Notes
  RELEASE_NOTES.rst
  airflow-core/docs/installation/upgrading_to_airflow3.rst
  docs/spelling_wordlist.txt
  reproducible_build.yaml
Labels: kind:documentation, backport-to-v3-0-test

#50262 Fix build_docs typo
  devel-common/src/docs/build_docs.py
Labels: kind:documentation

#50183 Always Show Trendcount in Dag Overview
  airflow-core/src/airflow/ui/src/components/Assets/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/components/TrendCountButton.tsx
  airflow-core/src/airflow/ui/src/components/TrendCountChart.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/Overview.tsx
  airflow-core/src/airflow/ui/src/pages/Task/Overview/Overview.tsx
Labels: area:UI

#50277 Add basic json check to variable value
  airflow-core/src/airflow/ui/src/pages/Variables/ManageVariable/VariableForm.tsx
Labels: area:UI

#50280 CI fix publish docs runs-on config
  .github/workflows/ci-image-checks.yml
Labels: area:dev-tools, backport-to-v3-0-test

#50283 [v3-0-test] Fix publish docs runs-on config (#50280)
  .github/workflows/ci-image-checks.yml
Labels: area:dev-tools

#50289 Fixing indent while setting finalize tests action
  .github/workflows/finalize-tests.yml
Labels: area:dev-tools, backport-to-v3-0-test

#50197 Updating operator extra links doc for AF3
  airflow-core/docs/howto/define-extra-link.rst
  airflow-core/docs/img/operator_extra_link.png
Labels: kind:documentation, backport-to-v3-0-test

#50290 Minor typo-fix in doc
  airflow-core/src/airflow/cli/commands/daemon_utils.py
Labels: area:CLI

#50294 Adding a retry mechanism for install_mysql CI script
  Dockerfile
  Dockerfile.ci
  scripts/docker/install_mysql.sh
Labels: area:dev-tools, area:production-image

#50282 Bump minor and patch package json dependencies
  airflow-core/src/airflow/ui/package.json
  airflow-core/src/airflow/ui/pnpm-lock.yaml
Labels: area:UI, backport-to-v3-0-test

#50234 tests: Fix clearing Variables for OpenLineage system tests
  providers/openlineage/tests/system/openlineage/example_openlineage.json
  providers/openlineage/tests/system/openlineage/example_openlineage_defer.json
  providers/openlineage/tests/system/openlineage/example_openlineage_defer.py
  providers/openlineage/tests/system/openlineage/example_openlineage_mapped_sensor.json
  providers/openlineage/tests/system/openlineage/operator.py
  providers/openlineage/tests/system/openlineage/transport/variable.py
Labels: area:providers, provider:openlineage

#50304 Add a link to the Airflow logo in Nav
  airflow-core/src/airflow/ui/src/layouts/Nav/Nav.tsx
Labels: area:UI, backport-to-v3-0-test

#50308 Bump Pyspark to even higher version
  providers/apache/spark/pyproject.toml
Labels: area:providers, provider:apache-spark, backport-to-v3-0-test

#50177 feat (airflowctl): add backfill operations to conform all API endpoints
  airflow-ctl/src/airflowctl/api/operations.py
  airflow-ctl/tests/airflow_ctl/api/test_operations.py
Labels: area:airflow-ctl

#50318 update recommendation for Airflow 3 upgrade
  airflow-core/docs/installation/upgrading_to_airflow3.rst
Labels: kind:documentation, type:doc-only

#50323 fix(breeze): delete duplicate variable
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
Labels: area:dev-tools

#50305 Use dag_display_name aliases when possible in the UI
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGModal.tsx
  airflow-core/src/airflow/ui/src/pages/DagRuns.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstances/TaskInstances.tsx
  airflow-core/src/airflow/ui/src/pages/XCom/XCom.tsx
Labels: area:UI

#50320 Split release image into per-python independent matrix of workflows
  .github/workflows/release_dockerhub_image.yml
  .github/workflows/release_single_dockerhub_image.yml
Labels: area:dev-tools, backport-to-v3-0-test

#50126 Migrate `HiveToDynamoDBOperator` and `SqlToS3Operator` to use `get_df`
  providers/amazon/README.rst
  providers/amazon/pyproject.toml
  providers/amazon/src/airflow/providers/amazon/aws/transfers/hive_to_dynamodb.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/sql_to_s3.py
  providers/amazon/tests/unit/amazon/aws/transfers/test_hive_to_dynamodb.py
  providers/amazon/tests/unit/amazon/aws/transfers/test_sql_to_s3.py
Labels: provider:amazon, area:providers, provider:common-sql

#50326 fix(ci): Apache Tinkerpop integration test
  scripts/in_container/check_environment.sh
Labels: area:dev-tools, backport-to-v3-0-test

#50143 Migrate `BaseSqlToSlackOperator` to use `get_df`
  providers/slack/README.rst
  providers/slack/pyproject.toml
  providers/slack/src/airflow/providers/slack/transfers/base_sql_to_slack.py
  providers/slack/tests/unit/slack/transfers/test_base_sql_to_slack.py
  providers/slack/tests/unit/slack/transfers/test_sql_to_slack_webhook.py
Labels: area:providers, provider:slack

#50336 Addressing open comments on #50326
  scripts/in_container/check_environment.sh
Labels: area:dev-tools, changelog:skip

#50273 docs: add docs for custom alert messages
  airflow-core/docs/howto/customize-ui.rst
  airflow-core/docs/img/ui-alert-message-markdown.png
  airflow-core/docs/img/ui-alert-message.png
Labels: kind:documentation, type:doc-only

#50275 Update deprecated functions to use stable functions
  providers/common/sql/src/airflow/providers/common/sql/hooks/sql.py
  providers/common/sql/tests/unit/common/sql/hooks/test_sql.py
Labels: area:providers, provider:common-sql

#50302 Move map index column
  airflow-core/src/airflow/ui/src/layouts/Details/DagBreadcrumb.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstances/TaskInstances.tsx
Labels: area:UI, backport-to-v3-0-test

#49859 Enhance Edge3 Provider docs
  .pre-commit-config.yaml
  providers/edge3/docs/architecture.rst
  providers/edge3/docs/deployment.rst
  providers/edge3/docs/edge_executor.rst
  providers/edge3/docs/img/distributed_architecture.svg
  providers/edge3/docs/img/edge_package.svg
  providers/edge3/docs/index.rst
  providers/edge3/docs/install_on_windows.rst
  providers/edge3/docs/ui_plugin.rst
  providers/edge3/docs/why_edge.rst
  providers/edge3/provider.yaml
  providers/edge3/src/airflow/providers/edge3/get_provider_info.py
Labels: area:providers, area:dev-tools, kind:documentation, provider:edge

#50346 fix: adjust dag_run extraction for Airflow 3 in OL utils
  providers/dbt/cloud/src/airflow/providers/dbt/cloud/utils/openlineage.py
  providers/snowflake/src/airflow/providers/snowflake/utils/openlineage.py
  providers/snowflake/tests/unit/snowflake/utils/test_openlineage.py
Labels: area:providers, provider:snowflake, provider:dbt-cloud

#50338 Edge worker maintenance state is remembered if worker crashes
  providers/edge3/src/airflow/providers/edge3/executors/edge_executor.py
  providers/edge3/src/airflow/providers/edge3/worker_api/routes/worker.py
  providers/edge3/tests/unit/edge3/worker_api/routes/test_worker.py
Labels: area:providers, type:bug-fix, provider:edge

#50342 Change Tinkerpop Integration server host
  scripts/ci/docker-compose/gremlin/gremlin-server.yaml
Labels: area:dev-tools

#50343 Raise exception if downgrade can't proceed due to no `ab_user` table
  .github/actions/migration_tests/action.yml
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/docs/img/airflow_erd.svg
  airflow-core/src/airflow/migrations/versions/0042_3_0_0_add_uuid_primary_key_to_task_instance_.py
  airflow-core/src/airflow/utils/db.py
  airflow-core/tests/unit/utils/test_db.py
Labels: area:dev-tools, backport-to-v3-0-test

#50352 Prepare ad hoc release for providers May 2025 RC2
  providers/amazon/docs/changelog.rst
  providers/amazon/docs/index.rst
  providers/snowflake/docs/changelog.rst
Labels: provider:amazon, area:providers, kind:documentation, provider:snowflake

#50309 Add task group detail for dag run selected case
  airflow-core/src/airflow/ui/src/components/Graph/TaskLink.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/GridTI.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/TaskNames.tsx
  airflow-core/src/airflow/ui/src/pages/GroupTaskInstance/GroupTaskInstance.tsx
  airflow-core/src/airflow/ui/src/pages/GroupTaskInstance/Header.tsx
  airflow-core/src/airflow/ui/src/pages/GroupTaskInstance/index.ts
  airflow-core/src/airflow/ui/src/pages/TaskInstances/TaskInstances.tsx
  airflow-core/src/airflow/ui/src/router.tsx
Labels: area:UI

#50358 Docs: Add Airflow Version in Page Title
  airflow-core/docs/conf.py
Labels: kind:documentation

#50345 Mark sendgrid provider as ready
  dev/breeze/doc/images/output_release-management_generate-issue-content-providers.svg
  dev/breeze/doc/images/output_release-management_generate-issue-content-providers.txt
  dev/breeze/doc/images/output_release-management_prepare-provider-distributions.svg
  dev/breeze/doc/images/output_release-management_prepare-provider-distributions.txt
  dev/breeze/doc/images/output_release-management_prepare-provider-documentation.svg
  dev/breeze/doc/images/output_release-management_prepare-provider-documentation.txt
  providers/sendgrid/provider.yaml
  providers/sendgrid/pyproject.toml
Labels: area:providers, provider:sendgrid

#50366 Doc fix: remove extra package name text in tinkerpop index.rst
  providers/apache/tinkerpop/docs/index.rst
Labels: area:providers, kind:documentation, provider:apache-tinkerpop

#50316 Fixes DagProcessor stats log | process duration changed to use time.monotonic
  airflow-core/src/airflow/dag_processing/manager.py
Labels: type:bug-fix, area:DAG-processing, backport-to-v3-0-test

#50365 Update s3 docs publishing workflow description and remove selective check
  .github/workflows/publish-docs-to-s3.yml
  dev/breeze/src/airflow_breeze/utils/publish_docs_to_s3.py
Labels: area:dev-tools

#50377 Fix callbacks docs
  airflow-core/docs/administration-and-deployment/logging-monitoring/callbacks.rst
Labels: kind:documentation, backport-to-v3-0-test

#50372 Replace DagBag from global app state to with FastAPI dependency
  airflow-core/src/airflow/api_fastapi/app.py
  airflow-core/src/airflow/api_fastapi/common/deps.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/assets.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_versions.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/extra_links.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/log.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/tasks.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/xcom.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/assets.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/grid.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_extra_links.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_log.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_tasks.py
Labels: area:API

#50350 nit: Remove duplicate warning when no OL metadata returned
  providers/openlineage/src/airflow/providers/openlineage/extractors/base.py
Labels: area:providers, provider:openlineage

#50380 fix: Adjust OpenLineage task state check for Airflow 3
  providers/snowflake/src/airflow/providers/snowflake/utils/openlineage.py
Labels: area:providers, provider:snowflake

#50340 Adding backcompat shim for BaseNotifier
  airflow-core/src/airflow/notifications/__init__.py
  task-sdk/src/airflow/sdk/__init__.py
Labels: area:task-sdk, backport-to-v3-0-test

#50301 Adding deprecation notice for get_current_context in std provider
  providers/standard/src/airflow/providers/standard/operators/python.py
  providers/standard/tests/unit/standard/operators/test_python.py
Labels: area:providers, provider:standard

#50040 Use latest bundle version when clearing / re-running dag
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/models/baseoperator.py
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_log.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
  airflow-core/tests/unit/models/test_backfill.py
  airflow-core/tests/unit/models/test_cleartasks.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/models/test_mappedoperator.py
  airflow-core/tests/unit/models/test_taskinstance.py
  airflow-core/tests/unit/models/test_trigger.py
  providers/standard/tests/unit/standard/operators/test_python.py
  providers/standard/tests/unit/standard/sensors/test_external_task_sensor.py
Labels: type:bug-fix, full tests needed
