Repository apache/airflow, pull requests merged in 2025-08, with the labels that each got.

#53960 feat(hitl): add HITLBranchOperator
  providers/standard/src/airflow/providers/standard/operators/hitl.py
  providers/standard/tests/unit/standard/operators/test_hitl.py
Labels: area:providers, provider:standard

#53959 Add ALL_DONE_MIN_ONE_SUCCESS trigger rule
  airflow-core/docs/core-concepts/dags.rst
  airflow-core/src/airflow/ti_deps/deps/trigger_rule_dep.py
  airflow-core/src/airflow/utils/trigger_rule.py
  airflow-core/tests/unit/ti_deps/deps/test_trigger_rule_dep.py
  airflow-core/tests/unit/utils/test_trigger_rule.py
Labels: kind:documentation, type:new-feature

#54009 build(pre-commit): upgrade node version to 22.18.0 and flynt 1.0.6
  .pre-commit-config.yaml
Labels: area:dev-tools

#54014 Google provider RayHook to proto compatibility
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/ray.py
  providers/google/src/airflow/providers/google/cloud/operators/vertex_ai/ray.py
  providers/google/tests/unit/google/cloud/hooks/vertex_ai/test_ray.py
Labels: provider:google, area:providers

#53942 Conn docs extra fix
  providers/airbyte/docs/connections.rst
  providers/apache/livy/docs/connections.rst
  providers/discord/docs/connections/discord-webhook.rst
  providers/http/docs/connections/http.rst
Labels: area:providers, kind:documentation, provider:discord, provider:http, provider:airbyte, provider:apache-livy

#54020 [v3-0-test] fix(diagrams): update labels from "Webserver(s)" to "API Server(s)" i…
  airflow-core/docs/img/diagram_basic_airflow_architecture.md5sum
  airflow-core/docs/img/diagram_basic_airflow_architecture.png
  airflow-core/docs/img/diagram_basic_airflow_architecture.py
  airflow-core/docs/img/diagram_dag_processor_airflow_architecture.md5sum
  airflow-core/docs/img/diagram_dag_processor_airflow_architecture.png
  airflow-core/docs/img/diagram_dag_processor_airflow_architecture.py
  airflow-core/docs/img/diagram_distributed_airflow_architecture.md5sum
  airflow-core/docs/img/diagram_distributed_airflow_architecture.png
  airflow-core/docs/img/diagram_distributed_airflow_architecture.py
  airflow-core/docs/img/diagram_multi_team_airflow_architecture.md5sum
  airflow-core/docs/img/diagram_multi_team_airflow_architecture.png
  airflow-core/docs/img/diagram_multi_team_airflow_architecture.py
Labels: kind:documentation

#53950 docs: Update DAG author as Dag author (#53857)
  airflow-core/docs/administration-and-deployment/listeners.rst
  airflow-core/docs/authoring-and-scheduling/deferring.rst
  airflow-core/docs/authoring-and-scheduling/dynamic-task-mapping.rst
  airflow-core/docs/best-practices.rst
  airflow-core/docs/core-concepts/overview.rst
  airflow-core/docs/core-concepts/params.rst
  airflow-core/docs/installation/index.rst
  airflow-core/docs/installation/upgrading_to_airflow3.rst
  airflow-core/docs/public-airflow-interface.rst
  airflow-core/docs/security/security_model.rst
  airflow-core/docs/tutorial/pipeline.rst
  contributing-docs/05_pull_requests.rst
  task-sdk/docs/concepts.rst
  task-sdk/docs/index.rst
Labels: area:dev-tools, kind:documentation, area:task-sdk, backport-to-v3-0-test

#54021 [v3-0-test] build: update uv to 0.8.4 and pip to 25.2 (#53954)
  .github/actions/install-pre-commit/action.yml
  .github/workflows/ci-amd.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  pyproject.toml
  scripts/ci/install_breeze.sh
  scripts/tools/setup_breeze
Labels: area:dev-tools, area:production-image, backport-to-v3-0-test

#54001 Fix flaky test test_alias
  task-sdk/tests/task_sdk/io/test_path.py
Labels: area:task-sdk

#53542 fix: Add missing security settings for session cookie
  airflow-core/src/airflow/cli/commands/config_command.py
  providers/fab/src/airflow/providers/fab/www/app.py
  providers/fab/www-hash.txt
Labels: area:providers, provider:fab

#54002 Revert "[v3-0-test] Remove gunicorn daemonize for api-server (#52860) (#53372)"
  airflow-core/newsfragments/52860.significant.rst
  airflow-core/src/airflow/cli/cli_config.py
  airflow-core/src/airflow/cli/commands/api_server_command.py
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/configuration.py
  airflow-core/tests/unit/cli/commands/_common_cli_classes.py
  airflow-core/tests/unit/cli/commands/test_api_server_command.py
  docs/spelling_wordlist.txt
Labels: area:CLI, full tests needed, area:ConfigTemplates

#53991 i18n(tw): Add missing translations
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/dags.json
Labels: area:UI, area:translations, translation:zh-TW

#53307 auto-sync change of TaskInstance note without manual refresh
  airflow-core/src/airflow/ui/src/components/EditableMarkdownButton.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Header.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Header.tsx
Labels: area:UI, backport-to-v3-0-test

#54025 [v3-0-test] Unmount dialog & add onOpen (#53307)
  airflow-core/src/airflow/ui/src/components/EditableMarkdownButton.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Header.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Header.tsx
Labels: area:UI

#53528 Fill translation gap in PL - 19.07.2025
  airflow-core/src/airflow/ui/public/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dags.json
Labels: area:UI, area:translations, translation:pl

#54026 Upgrade ruff to 0.12.7
  .pre-commit-config.yaml
  devel-common/pyproject.toml
  task-sdk/pyproject.toml
Labels: area:dev-tools, backport-to-v3-0-test

#54031 Fix ray to be imported conditionally (tests is skipped on Python 3.13)
  providers/google/tests/unit/google/cloud/hooks/vertex_ai/test_ray.py
Labels: provider:google, area:providers, all versions

#54013 Fix Helm Chart Linting Return Code Check
  scripts/ci/pre_commit/lint_helm.py
Labels: area:dev-tools

#53597 Change logic in auth with swagger ui
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/openapi/v2-simple-auth-manager-generated.yaml
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/routes/login.py
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/utils.py
  airflow-core/src/airflow/api_fastapi/common/headers.py
  airflow-core/src/airflow/api_fastapi/common/types.py
  airflow-core/tests/unit/api_fastapi/auth/managers/simple/routes/test_login.py
Labels: area:API

#54032 Flexible form use ReactMarkdown instead of default Markdown component
  airflow-core/src/airflow/ui/src/components/FlexibleForm/FieldRow.tsx
Labels: area:UI, backport-to-v3-0-test

#54027 Upgrade datamodel-code-generator to 0.32.0
  airflow-ctl/pyproject.toml
  airflow-ctl/src/airflowctl/api/datamodels/auth_generated.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  task-sdk/pyproject.toml
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
Labels: area:task-sdk, area:airflow-ctl

#54040 [v3-0-test] Flexible form use ReactMarkdown instead of default Markdo…
  airflow-core/src/airflow/ui/src/components/FlexibleForm/FieldRow.tsx
Labels: area:UI

#53855 Fix `_extract_template_fields` mypy error
  scripts/ci/pre_commit/validate_operators_init.py
Labels: area:dev-tools, backport-to-v3-0-test

#54046 Make log redaction safer in edge case when redaction has an error
  task-sdk/src/airflow/sdk/execution_time/secrets_masker.py
Labels: area:task-sdk, backport-to-v3-0-test

#54052 Add mongo client timeouts to mongo tests
  providers/mongo/tests/unit/mongo/hooks/test_mongo.py
Labels: area:providers, provider:mongo

#54055 Re-introduce TypeGuard to SecretsMasker
  task-sdk/src/airflow/sdk/execution_time/secrets_masker.py
  task-sdk/tests/task_sdk/definitions/test_secrets_masker.py
Labels: area:task-sdk

#54056 Inconsistent capitalisation of Operator name in Graph view (UI nit)
  airflow-core/src/airflow/ui/src/components/Graph/TaskNode.tsx
Labels: area:UI

#54066 bump qdrant_client>=1.15.1
  providers/qdrant/pyproject.toml
Labels: area:providers, provider:qdrant

#54062 Fix the link of gopher-celery in `go-sdk/README.md`
  go-sdk/README.md
Labels: area:go-sdk

#54070 Simplify installing airflow from GitHub repo in breeze
  dev/breeze/doc/images/output_ci-image.svg
  dev/breeze/doc/images/output_release-management_install-provider-distributions.svg
  dev/breeze/doc/images/output_release-management_install-provider-distributions.txt
  dev/breeze/doc/images/output_release-management_verify-provider-distributions.svg
  dev/breeze/doc/images/output_release-management_verify-provider-distributions.txt
  dev/breeze/doc/images/output_setup.svg
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/doc/images/output_testing_core-tests.svg
  dev/breeze/doc/images/output_testing_core-tests.txt
  dev/breeze/doc/images/output_testing_providers-tests.svg
  dev/breeze/doc/images/output_testing_providers-tests.txt
  dev/breeze/doc/images/output_testing_system-tests.svg
  dev/breeze/doc/images/output_testing_system-tests.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/custom_param_types.py
  scripts/in_container/install_airflow_and_providers.py
Labels: area:dev-tools, backport-to-v3-0-test

#54059 feat: persist Dag search query across navigation
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsList.tsx
Labels: area:UI

#54074 feat: persist Asset search query across navigation
  airflow-core/src/airflow/ui/src/pages/AssetsList/AssetsList.tsx
Labels: area:UI

#54076 [v3-0-test] Simplify installing airflow from GitHub repo in breeze (#54070)
  dev/breeze/doc/images/output_ci-image.svg
  dev/breeze/doc/images/output_release-management_install-provider-distributions.svg
  dev/breeze/doc/images/output_release-management_install-provider-distributions.txt
  dev/breeze/doc/images/output_release-management_verify-provider-distributions.svg
  dev/breeze/doc/images/output_release-management_verify-provider-distributions.txt
  dev/breeze/doc/images/output_setup.svg
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/doc/images/output_testing_core-tests.svg
  dev/breeze/doc/images/output_testing_core-tests.txt
  dev/breeze/doc/images/output_testing_providers-tests.svg
  dev/breeze/doc/images/output_testing_providers-tests.txt
  dev/breeze/doc/images/output_testing_system-tests.svg
  dev/breeze/doc/images/output_testing_system-tests.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/custom_param_types.py
  scripts/in_container/install_airflow_and_providers.py
Labels: area:dev-tools, backport-to-v3-0-test

#54078 Limit paramiko to `< 4.0.0` till we remove DSS support
  providers/sftp/pyproject.toml
  providers/ssh/pyproject.toml
Labels: area:providers, provider:ssh, provider:sftp

#53962 refactor(hitl): replace timezone usage with airflow.sdk.timezone
  providers/standard/src/airflow/providers/standard/operators/hitl.py
  providers/standard/src/airflow/providers/standard/triggers/hitl.py
Labels: area:providers, area:Triggerer, provider:standard

#54080 Bump slack-sdk to 3.36.0
  providers/slack/pyproject.toml
Labels: area:providers, provider:slack

#54004 Add Filtering by DAG Bundle Name and Version to Public and UI API Routes
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/dags.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dags.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_dags.py
Labels: area:API, area:UI

#53977 Allow secrets redact function to have different redaction than `***`
  devel-common/src/tests_common/pytest_plugin.py
  providers/openlineage/src/airflow/providers/openlineage/utils/utils.py
  task-sdk/src/airflow/sdk/execution_time/secrets_masker.py
  task-sdk/tests/task_sdk/definitions/test_secrets_masker.py
Labels: area:task-sdk

#54109 Bump gremlinpython to 3.7.3
  providers/apache/tinkerpop/pyproject.toml
Labels: area:providers, provider:apache-tinkerpop

#54108 Bump deltalake to 1.1.3
  providers/databricks/pyproject.toml
Labels: area:providers, provider:databricks

#54043 Create HITL specific permission for core-API
  airflow-core/src/airflow/api_fastapi/auth/managers/models/resource_details.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/hitl.py
  providers/fab/src/airflow/providers/fab/auth_manager/fab_auth_manager.py
  providers/fab/tests/unit/fab/auth_manager/test_fab_auth_manager.py
Labels: area:providers, area:API, provider:fab

#54061 Remove deprecated method check send_file usage from slack operators
  providers/slack/src/airflow/providers/slack/hooks/slack.py
  providers/slack/src/airflow/providers/slack/operators/slack.py
  providers/slack/src/airflow/providers/slack/transfers/sql_to_slack.py
  providers/slack/tests/system/slack/example_slack.py
  providers/slack/tests/unit/slack/hooks/test_slack.py
  providers/slack/tests/unit/slack/operators/test_slack.py
  providers/slack/tests/unit/slack/transfers/test_sql_to_slack.py
Labels: area:providers, provider:slack

#53134 Added functionality to only allow one auth method simultaneously in the TrinoHook
  providers/trino/docs/changelog.rst
  providers/trino/src/airflow/providers/trino/hooks/trino.py
  providers/trino/tests/unit/trino/hooks/test_trino.py
Labels: area:providers, provider:trino

#54121 fix count of versions behind in constraints-version-check
  dev/breeze/src/airflow_breeze/utils/constraints_version_check.py
Labels: area:dev-tools, changelog:skip

#53969 Import and use ArgNotSet and NOTSET from sdk in sdk
  task-sdk/src/airflow/sdk/definitions/param.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Labels: area:task-sdk

#50218 add readiness and liveliness support for git sync relay sidecars
  chart/templates/_helpers.yaml
  chart/values.schema.json
  chart/values.yaml
  helm-tests/tests/helm_tests/other/test_git_sync_scheduler.py
  helm-tests/tests/helm_tests/other/test_git_sync_triggerer.py
  helm-tests/tests/helm_tests/other/test_git_sync_webserver.py
  helm-tests/tests/helm_tests/other/test_git_sync_worker.py
Labels: stale, area:helm-chart

#53965 404 Not Found for EmptyOperator docs for version 2.7+ #52643
  airflow-core/docs/redirects.txt
Labels: kind:documentation

#51719 Add MwaaTaskSensor to Amazon Provider Package
  providers/amazon/docs/operators/mwaa.rst
  providers/amazon/src/airflow/providers/amazon/aws/sensors/mwaa.py
  providers/amazon/src/airflow/providers/amazon/aws/triggers/base.py
  providers/amazon/src/airflow/providers/amazon/aws/triggers/mwaa.py
  providers/amazon/src/airflow/providers/amazon/aws/waiters/mwaa.json
  providers/amazon/tests/system/amazon/aws/example_mwaa.py
  providers/amazon/tests/unit/amazon/aws/sensors/test_mwaa.py
  providers/amazon/tests/unit/amazon/aws/triggers/test_mwaa.py
Labels: provider:amazon, area:providers, kind:documentation

#53897 Close German translation gaps for full UI translation 2025-07-29
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dags.json
Labels: area:UI, area:translations, translation:de

#54110 Add FAQ entry about testing connections and "Canary" Dag
  airflow-core/docs/faq.rst
Labels: backport-to-v3-0-test

#53903 AIP-86 - Scheduler loop checks for any missed Deadlines and hands them off to be executed
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/models/deadline.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Labels: area:Scheduler

#54028 Add missing PL translations - 01.08.2025
  airflow-core/src/airflow/ui/public/i18n/locales/pl/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/hitl.json
Labels: area:UI, area:translations, translation:pl

#54144 AIP-68 Fix multiple react app plugins
  airflow-core/src/airflow/ui/src/pages/ReactPlugin.tsx
Labels: area:UI

#54168 Silence mypy warnings for microsoft azure WasbAsyncHook
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/hooks/wasb.py
Labels: provider:microsoft-azure, area:providers

#53726 feat(cli): add YAML/ENV support to `airflow variables import`
  airflow-core/src/airflow/cli/commands/variable_command.py
  airflow-core/src/airflow/exceptions.py
  airflow-core/src/airflow/secrets/local_filesystem.py
  airflow-core/tests/unit/always/test_secrets_local_filesystem.py
  airflow-core/tests/unit/cli/commands/test_variable_command.py
Labels: area:CLI, area:secrets

#53929 Replace airflow.utils.helpers imports with better alternatives in task SDK
  airflow-core/src/airflow/models/mappedoperator.py
  airflow-core/src/airflow/utils/helpers.py
  task-sdk/src/airflow/sdk/bases/decorator.py
  task-sdk/src/airflow/sdk/definitions/_internal/templater.py
  task-sdk/src/airflow/sdk/definitions/context.py
  task-sdk/src/airflow/sdk/definitions/decorators/task_group.py
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
Labels: area:task-sdk

#54170 Add Private Service Connect interface support to VertexAI operators
  providers/google/docs/operators/cloud/vertex_ai.rst
  providers/google/pyproject.toml
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/custom_job.py
  providers/google/src/airflow/providers/google/cloud/operators/vertex_ai/custom_job.py
  providers/google/tests/unit/google/cloud/operators/test_vertex_ai.py
Labels: provider:google, area:providers, kind:documentation

#51784 Navigate Grid view via keyboard
  airflow-core/src/airflow/ui/public/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/dag.json
  airflow-core/src/airflow/ui/src/hooks/navigation/index.ts
  airflow-core/src/airflow/ui/src/hooks/navigation/types.ts
  airflow-core/src/airflow/ui/src/hooks/navigation/useKeyboardNavigation.ts
  airflow-core/src/airflow/ui/src/hooks/navigation/useNavigation.ts
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/Bar.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/Grid.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/GridTI.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/TaskInstancesColumn.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/TaskNames.tsx
Labels: area:UI, area:translations, translation:default

#54038 SageMaker Unified Studios System Tests Update
  providers/amazon/tests/system/amazon/aws/example_sagemaker_unified_studio.py
Labels: provider:amazon, area:providers

#54073 bugfix(airflowctl): support primitive and datamodel in operation parameters and fix trigger DagRun
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-ctl/src/airflowctl/api/operations.py
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/tests/airflow_ctl/api/test_operations.py
Labels: area:airflow-ctl

#54188 Fix `HITLResponseForm` display issue
  airflow-core/src/airflow/ui/src/pages/HITLTaskInstances/HITLResponseForm.tsx
Labels: area:UI

#54211 Handling auto classification correctly for provider ids with dots
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
  dev/breeze/tests/test_provider_documentation.py
Labels: area:dev-tools, backport-to-v3-0-test

#54126 Fix: Apply DAG permission filter to dashboard (closes #53938)
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/dashboard.py
Labels: area:API, backport-to-v3-0-test

#54213 Add get_secret function to the common/utils in google provider
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  providers/google/src/airflow/providers/google/cloud/operators/vertex_ai/generative_model.py
  providers/google/src/airflow/providers/google/common/utils/get_secret.py
  providers/google/tests/system/google/cloud/vertex_ai/example_vertex_ai_generative_model.py
  providers/google/tests/system/google/cloud/vertex_ai/example_vertex_ai_generative_model_tuning.py
  providers/google/tests/system/google/marketing_platform/example_analytics_admin.py
  providers/google/tests/system/google/marketing_platform/example_campaign_manager.py
  providers/google/tests/system/google/marketing_platform/example_display_video.py
  providers/google/tests/unit/google/common/utils/test_get_secret.py
Labels: provider:google, area:providers

#54220 Update Vertex AI dataset system test
  providers/google/tests/system/google/cloud/vertex_ai/example_vertex_ai_dataset.py
Labels: provider:google, area:providers

#54235 [v3-0-test] Fix: Validate and handle invalid `extra` field in connections UI and …
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/connections.py
  airflow-core/src/airflow/api_fastapi/logging/decorators.py
  airflow-core/src/airflow/ui/src/pages/Connections/ConnectionForm.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_connections.py
Labels: area:API, area:UI

#54198 Fix HITL Translation usage
  airflow-core/src/airflow/ui/public/i18n/locales/en/hitl.json
  airflow-core/src/airflow/ui/src/pages/HITLTaskInstances/HITLTaskInstances.tsx
Labels: area:UI, area:translations, translation:default

#54240 Complete Hebrew translation 2025-08-07
  airflow-core/src/airflow/ui/public/i18n/locales/he/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/hitl.json
Labels: area:UI, area:translations, translation:he

#54154 Close German translation gaps for full UI translation 2025-08-04
  airflow-core/src/airflow/ui/public/i18n/locales/de/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/de/hitl.json
Labels: area:UI, area:translations, translation:de

#54149 i18n(Ko): add missing translations
  airflow-core/src/airflow/ui/public/i18n/locales/ko/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/hitl.json
Labels: area:UI, area:translations, translation:ko

#54245 Correctly detect system dark mode in RenderedJsonField
  airflow-core/src/airflow/ui/src/components/RenderedJsonField.tsx
Labels: area:UI

#54077 Add a note to edgeexecutor doc regarding multiple executors
  providers/edge3/docs/edge_executor.rst
Labels: area:providers, kind:documentation, provider:edge

#54238 Fix redirects
  airflow-core/docs/redirects.txt
  devel-common/src/sphinx_exts/redirects.py
Labels: kind:documentation, backport-to-v3-0-test

#54164 Add triggering user name to DagRun header stats
  airflow-core/src/airflow/ui/src/pages/Run/Header.tsx
Labels: area:UI

#54262 Add a warning about python interpreter using with uv
  providers/standard/src/airflow/providers/standard/utils/python_virtualenv.py
Labels: area:providers, provider:standard

#54264 Fix reproducibility issue for tarballs with symlink
  dev/breeze/src/airflow_breeze/utils/reproducible.py
Labels: area:dev-tools, backport-to-v3-0-test

#54206 Fetch from remote before performing reproducible package checks for PMCs
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools, backport-to-v3-0-test

#54272 Validate publish documentation versions
  .github/workflows/ci-image-checks.yml
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/docs_version_validation.py
  dev/breeze/src/airflow_breeze/utils/publish_docs_to_s3.py
  dev/breeze/tests/test_docs_version_validation.py
Labels: area:dev-tools, backport-to-v3-0-test

#54276 Fix `get_authorized_dag_ids` in `FabAuthManager`
  providers/fab/src/airflow/providers/fab/auth_manager/fab_auth_manager.py
  providers/fab/tests/unit/fab/auth_manager/test_fab_auth_manager.py
Labels: area:providers, provider:fab

#54246 Create initial documentation for `KeycloakAuthManager`
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  devel-common/src/docs/provider_conf.py
  providers/keycloak/docs/api-ref/token-api-ref.rst
  providers/keycloak/docs/auth-manager/index.rst
  providers/keycloak/docs/auth-manager/manage/permissions.rst
  providers/keycloak/docs/auth-manager/manage/users.rst
  providers/keycloak/docs/auth-manager/setup/config.rst
  providers/keycloak/docs/auth-manager/setup/env.rst
  providers/keycloak/docs/auth-manager/token.rst
  providers/keycloak/docs/index.rst
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/openapi/__init__.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/openapi/v2-keycloak-auth-manager-generated.yaml
  scripts/ci/pre_commit/generate_openapi_spec_keycloak.py
  scripts/in_container/run_generate_openapi_spec_keycloak.py
Labels: area:providers, area:dev-tools, kind:documentation, backport-to-v3-0-test, provider:keycloak

#54287 Fix cherry-pick detection in airflow-github script
  dev/airflow-github
Labels: area:dev-tools, backport-to-v3-0-test

#54292 Massively optimize airflow-github script performance (96% faster)
  dev/airflow-github
Labels: area:dev-tools, backport-to-v3-0-test

#54294 Update main with Airflow 3.0.4 release details
  .github/ISSUE_TEMPLATE/1-airflow_bug_report.yml
  Dockerfile
  README.md
  RELEASE_NOTES.rst
  airflow-core/docs/installation/supported-versions.rst
  dev/breeze/src/airflow_breeze/global_constants.py
  generated/PYPI_README.md
  providers/redis/tests/unit/redis/log/test_redis_task_handler.py
  reproducible_build.yaml
  scripts/ci/pre_commit/supported_versions.py
Labels: area:dev-tools, kind:documentation, area:production-image

#54304 CI: Bump uv, pre-commit and golang versions
  .github/actions/install-pre-commit/action.yml
  .github/workflows/ci-amd.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  pyproject.toml
  scripts/ci/install_breeze.sh
  scripts/tools/setup_breeze
Labels: area:dev-tools, area:production-image, backport-to-v3-0-test

#54307 Add notification workflow to send slack alerts for v3 branch
  .github/workflows/ci-notification.yml
  dev/breeze/src/airflow_breeze/utils/workflow_status.py
Labels: area:dev-tools, backport-to-v3-0-test

#54261 Use env var connections instead of mocks in kube system tests
  kubernetes-tests/tests/kubernetes_tests/conftest.py
  kubernetes-tests/tests/kubernetes_tests/test_kubernetes_pod_operator.py
Labels: area:kubernetes-tests

#54295 Fix Typehints in Task SDK
  task-sdk/src/airflow/sdk/bases/operatorlink.py
  task-sdk/src/airflow/sdk/definitions/_internal/templater.py
  task-sdk/src/airflow/sdk/definitions/context.py
Labels: area:task-sdk

#54310 Add exact match filters for dag_id and task_id in HITL details endpoint
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/hitl.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_hitl.py
Labels: area:API, area:UI

#54317 Bump ruff to 0.12.8 everywhere
  .pre-commit-config.yaml
  devel-common/pyproject.toml
  task-sdk/pyproject.toml
Labels: area:dev-tools, area:task-sdk, backport-to-v3-0-test

#54321 Fix type errors in operator link calls
  airflow-core/src/airflow/models/mappedoperator.py
  airflow-core/src/airflow/serialization/serialized_objects.py
Labels: area:serialization

#52233 Add CI support for SQLAlchemy 2.0
  .github/workflows/run-unit-tests.yml
  .github/workflows/special-tests.yml
  Dockerfile.ci
  airflow-core/pyproject.toml
  airflow-core/src/airflow/utils/db.py
  airflow-core/tests/unit/always/test_example_dags.py
  airflow-core/tests/unit/always/test_providers_manager.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_plugins.py
  airflow-core/tests/unit/plugins/test_plugins_manager.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
  airflow-core/tests/unit/utils/test_db.py
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/tests/test_docker_command_utils.py
  devel-common/pyproject.toml
  providers/amazon/tests/unit/amazon/aws/hooks/test_athena_sql.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_redshift_sql.py
  providers/databricks/tests/unit/databricks/sensors/test_databricks.py
  providers/google/tests/unit/google/cloud/utils/test_validators.py
  providers/jdbc/tests/unit/jdbc/hooks/test_jdbc.py
  providers/microsoft/azure/pyproject.toml
  providers/microsoft/azure/tests/unit/microsoft/azure/test_utils.py
  providers/mysql/pyproject.toml
  providers/postgres/tests/unit/postgres/hooks/test_postgres.py
  scripts/ci/docker-compose/backend-mysql.yml
  scripts/ci/docker-compose/backend-postgres.yml
  scripts/ci/docker-compose/integration-cassandra.yml
  scripts/ci/docker-compose/integration-celery.yml
  scripts/ci/docker-compose/integration-kerberos.yml
  scripts/ci/docker-compose/integration-keycloak.yml
  scripts/ci/docker-compose/integration-mongo.yml
  scripts/ci/docker-compose/integration-openlineage.yml
  scripts/ci/docker-compose/integration-pinot.yml
  scripts/ci/docker-compose/integration-redis.yml
  scripts/ci/docker-compose/integration-trino.yml
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools, all versions

#54325 Convert auth manager into cachable flag and configure it for more commands
  dev/breeze/doc/images/output-commands.svg
  dev/breeze/doc/images/output_setup_config.svg
  dev/breeze/doc/images/output_setup_config.txt
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/main_command.py
  dev/breeze/src/airflow_breeze/commands/setup_commands.py
  dev/breeze/src/airflow_breeze/commands/setup_commands_config.py
Labels: area:dev-tools, backport-to-v3-0-test

#54326 Update v3-0-test branch failure notification frequency
  .github/workflows/ci-notification.yml
Labels: area:dev-tools, backport-to-v3-0-test

#54328 [v3-0-test] Bump uv and pre-commit versions (#54304)
  .github/actions/install-pre-commit/action.yml
  .github/workflows/ci-amd.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  pyproject.toml
  scripts/ci/install_breeze.sh
  scripts/tools/setup_breeze
Labels: area:dev-tools, area:production-image

#54044 Support encoding parameter in FTP/FTPS connection extra
  providers/ftp/docs/connections/ftp.rst
  providers/ftp/src/airflow/providers/ftp/hooks/ftp.py
  providers/ftp/tests/unit/ftp/hooks/test_ftp.py
Labels: area:providers, kind:documentation, provider:ftp

#54334 Prevent `DetachedInstanceError` when processing executor event
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
Labels: area:Scheduler, backport-to-v3-0-test

#54309 Alias `dag_display_name` for `dag_stats`
  airflow-core/src/airflow/api_fastapi/common/db/dag_runs.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_stats.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_stats.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_stats.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  airflow-ctl/tests/airflow_ctl/api/test_operations.py
Labels: area:API, area:UI, area:airflow-ctl

#54305 Fix handling of dark icons for plugins in nav
  airflow-core/src/airflow/ui/src/layouts/Nav/PluginMenuItem.tsx
Labels: type:bug-fix, area:UI

#54231 Allow downgrading to 2.11 from 3.x
  airflow-core/src/airflow/cli/commands/db_command.py
  airflow-core/src/airflow/utils/db.py
  airflow-core/src/airflow/utils/db_manager.py
  airflow-core/tests/unit/cli/commands/test_db_command.py
  airflow-core/tests/unit/utils/test_db.py
  devel-common/src/tests_common/test_utils/db.py
  providers/fab/src/airflow/providers/fab/auth_manager/models/db.py
  providers/fab/tests/unit/fab/db_manager/test_fab_db_manager.py
Labels: area:CLI, area:providers, provider:fab, backport-to-v3-0-test

#53600 Move some items in `airflow.utils.context` to appropriate places
  airflow-core/src/airflow/models/taskinstance.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/decorators/kubernetes_cmd.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/version_compat.py
  providers/standard/src/airflow/providers/standard/decorators/bash.py
  providers/standard/src/airflow/providers/standard/operators/python.py
  providers/standard/src/airflow/providers/standard/sensors/python.py
  providers/standard/src/airflow/providers/standard/version_compat.py
  task-sdk/src/airflow/sdk/bases/decorator.py
  task-sdk/src/airflow/sdk/bases/notifier.py
  task-sdk/src/airflow/sdk/definitions/context.py
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
Labels: area:providers, area:serialization, provider:cncf-kubernetes, provider:standard, area:task-sdk

#54362 Fix `DetachedInstanceError` when accessing `DagRun.created_dag_version`
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/models/dagbag.py
Labels: area:Scheduler, backport-to-v3-0-test

#51233 Add missing Dags translations and update common translations for Dutch
  airflow-core/src/airflow/ui/public/i18n/locales/nl/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/dashboard.json
  airflow-core/src/airflow/ui/public/i18n/locales/nl/hitl.json
Labels: area:UI

#54367 Revert "Allow downgrading to 2.11 from 3.x"
  airflow-core/src/airflow/cli/commands/db_command.py
  airflow-core/src/airflow/utils/db.py
  airflow-core/src/airflow/utils/db_manager.py
  airflow-core/tests/unit/cli/commands/test_db_command.py
  airflow-core/tests/unit/utils/test_db.py
  devel-common/src/tests_common/test_utils/db.py
  providers/fab/src/airflow/providers/fab/auth_manager/models/db.py
  providers/fab/tests/unit/fab/db_manager/test_fab_db_manager.py
Labels: area:CLI, area:providers, provider:fab

#54346 Fail upgrade pre-commit when pre-commits need to be updated
  .github/workflows/basic-tests.yml
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
Labels: area:dev-tools, backport-to-v3-0-test

#54373 [v3-0-test] Fail upgrade pre-commit when pre-commits need to be updat…
  .github/workflows/basic-tests.yml
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
Labels: area:dev-tools, backport-to-v3-0-test

#54347 Update link to filter by pending required actions from dashboard.
  airflow-core/src/airflow/ui/src/constants/searchParams.ts
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/Stats.tsx
  airflow-core/src/airflow/ui/src/pages/HITLTaskInstances/HITLTaskInstances.tsx
Labels: area:UI

#54299 Unify error handling when connection is not found in aws hook
  providers/amazon/src/airflow/providers/amazon/aws/hooks/base_aws.py
Labels: provider:amazon, area:providers

#54371 Allow downgrading to 2.11 from 3.x
  airflow-core/src/airflow/cli/commands/db_command.py
  airflow-core/src/airflow/utils/db.py
  airflow-core/src/airflow/utils/db_manager.py
  airflow-core/tests/unit/cli/commands/test_db_command.py
  airflow-core/tests/unit/utils/test_db.py
  devel-common/src/tests_common/test_utils/db.py
  providers/fab/src/airflow/providers/fab/auth_manager/models/db.py
  providers/fab/tests/unit/fab/db_manager/test_fab_db_manager.py
Labels: area:CLI, area:providers, full tests needed, provider:fab, affected_version:3.0, priority:upgrade_to_airflow3

#54385 Use env var connections instead of actual db connections in kube systests
  kubernetes-tests/tests/kubernetes_tests/test_kubernetes_pod_operator.py
Labels: backport-to-v3-0-test, area:kubernetes-tests

#54296 (airflowctl): remove import/export connections
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_connections.svg
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/commands/connection_command.py
  airflow-ctl/tests/airflow_ctl/ctl/commands/test_connections_command.py
Labels: area:airflow-ctl

#54366 Partially revert #50825 on database level
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/docs/img/airflow_erd.svg
  airflow-core/docs/migrations-ref.rst
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/migrations/versions/0076_3_1_0_add_human_in_the_loop_response.py
  airflow-core/src/airflow/migrations/versions/0076_3_1_0_make_dag_version_id_non_nullable_in_.py
  airflow-core/src/airflow/migrations/versions/0077_3_1_0_add_trigger_id_to_deadline.py
  airflow-core/src/airflow/migrations/versions/0078_3_1_0_add_callback_state_to_deadline.py
  airflow-core/src/airflow/migrations/versions/0079_3_1_0_add_url_and_template_params_to_dagbundle_model.py
  airflow-core/src/airflow/migrations/versions/0080_3_1_0_modify_deadline_callback_schema.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/components/Clear/TaskInstance/ClearTaskInstanceDialog.tsx
  airflow-core/src/airflow/ui/src/hooks/useSelectedVersion.ts
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Labels: area:API, kind:documentation, area:UI, area:db-migrations, area:airflow-ctl

#54336 Switch to the triggered dagrun on manual trigger.
  airflow-core/src/airflow/ui/src/queries/useTrigger.ts
Labels: area:UI, backport-to-v3-0-test

#54393 Move grid focus state to store
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/Grid.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/useGridStore.ts
Labels: area:UI

#54420 Revert "Remove support for re-serializing a Serialized Operator (#536…
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/serialization/test_serialized_objects.py
Labels: area:serialization

#54423 Update selective checks to run core tests when serialization files changes
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools, backport-to-v3-0-test

#53223 Remove SDK BaseOperator in TaskInstance
  airflow-core/src/airflow/api/common/mark_tasks.py
  airflow-core/src/airflow/cli/commands/task_command.py
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/src/airflow/models/taskmap.py
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/src/airflow/ti_deps/dep_context.py
  airflow-core/src/airflow/ti_deps/deps/trigger_rule_dep.py
  airflow-core/src/airflow/utils/dag_edges.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
  airflow-core/tests/unit/decorators/test_mapped.py
  airflow-core/tests/unit/models/test_backfill.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/models/test_dagrun.py
  airflow-core/tests/unit/models/test_mappedoperator.py
  airflow-core/tests/unit/models/test_renderedtifields.py
  airflow-core/tests/unit/models/test_taskinstance.py
  airflow-core/tests/unit/models/test_xcom_arg.py
  airflow-core/tests/unit/serialization/test_serialized_objects.py
  airflow-core/tests/unit/ti_deps/deps/test_trigger_rule_dep.py
  devel-common/src/tests_common/pytest_plugin.py
  devel-common/src/tests_common/test_utils/mapping.py
  providers/openlineage/tests/unit/openlineage/plugins/test_listener.py
  providers/standard/tests/unit/standard/decorators/test_python.py
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
Labels: area:serialization

#54222 docs(cli): update variables import help to include YAML and ENV support
  airflow-core/src/airflow/cli/cli_config.py
  airflow-core/src/airflow/secrets/local_filesystem.py
  airflow-core/tests/unit/cli/test_cli_parser.py
Labels: area:CLI

#54428 Remove support for re-serializing a Serialized Operator
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/serialization/test_serialized_objects.py
Labels: area:Scheduler, area:serialization, full tests needed

#54227 Create FAB's user/role tables on migration, not only on initdb
  providers/fab/docs/migrations-ref.rst
  providers/fab/src/airflow/providers/fab/migrations/versions/0001_1_4_0_create_ab_tables_if_missing.py
  providers/fab/src/airflow/providers/fab/migrations/versions/0001_1_4_0_placeholder_migration.py
Labels: area:providers, provider:fab, backport-to-v3-0-test

#54432 [v3-0-test] Fix Certain DAG import errors ("role does not exist") don…
  airflow-core/src/airflow/dag_processing/collection.py
  airflow-core/tests/unit/dag_processing/test_collection.py
Labels: area:DAG-processing

#54249 fix map_index is null dynamic task mapping bug
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
Labels: area:API, backport-to-v3-0-test

#54457 Hide individual Public Interface subsections from sidebar navigation
  airflow-core/docs/index.rst
  airflow-core/docs/public-airflow-interface.rst
Labels: kind:documentation, backport-to-v3-0-test

#54468 Bump `zizmor` pre-commit to fix static checks
  .pre-commit-config.yaml
Labels: area:dev-tools, backport-to-v3-0-test

#54480 Fix celery visibility timeout (set to 23.5h instead of the intended 24h)
  providers/celery/src/airflow/providers/celery/executors/default_celery.py
Labels: area:providers, provider:celery

#54436 i18n(Ko): add missing translations
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/hitl.json
Labels: area:UI, area:translations, translation:ko

#53696 Remove MappedOperator inheritance
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/grid.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/models/expandinput.py
  airflow-core/src/airflow/models/mappedoperator.py
  airflow-core/src/airflow/models/referencemixin.py
  airflow-core/src/airflow/models/serialized_dag.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/src/airflow/models/xcom_arg.py
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/src/airflow/ti_deps/deps/mapped_task_upstream_dep.py
  airflow-core/src/airflow/ti_deps/deps/prev_dagrun_dep.py
  airflow-core/src/airflow/ti_deps/deps/trigger_rule_dep.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
  providers/celery/src/airflow/providers/celery/version_compat.py
  providers/google/src/airflow/providers/google/version_compat.py
  providers/openlineage/src/airflow/providers/openlineage/version_compat.py
  providers/standard/src/airflow/providers/standard/utils/skipmixin.py
  providers/standard/tests/unit/standard/decorators/test_python.py
  providers/standard/tests/unit/standard/utils/test_skipmixin.py
  scripts/ci/pre_commit/check_base_operator_partial_arguments.py
  task-sdk/src/airflow/sdk/bases/decorator.py
  task-sdk/src/airflow/sdk/bases/operator.py
  task-sdk/src/airflow/sdk/definitions/_internal/abstractoperator.py
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
  task-sdk/src/airflow/sdk/definitions/taskgroup.py
  task-sdk/src/airflow/sdk/definitions/xcom_arg.py
Labels: area:serialization, area:API, area:task-sdk

#54478 Fix Databricks sqlalchemy URL construction
  providers/databricks/src/airflow/providers/databricks/hooks/databricks_sql.py
  providers/databricks/tests/unit/databricks/hooks/test_databricks_sql.py
Labels: area:providers, provider:databricks

#54435 Refactor DagList search persistence to use URL instead of sessionStorage
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsList.tsx
Labels: area:UI

#54499 Fix triggerer job tests failing due to missing DagBundle foreign key
  airflow-core/tests/unit/jobs/test_triggerer_job.py
Labels: area:Triggerer

#53122 Fix `setproctitle` usage
  airflow-core/src/airflow/executors/local_executor.py
  providers/celery/src/airflow/providers/celery/executors/celery_executor_utils.py
  providers/edge3/src/airflow/providers/edge3/cli/worker.py
  providers/openlineage/src/airflow/providers/openlineage/plugins/listener.py
Labels: area:CLI, area:providers, provider:openlineage, provider:celery, area:Executors-core, area:task-sdk, provider:edge

#54524 Adjust grid tooltip position+arrow
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/GridTI.tsx
Labels: area:UI

#54049 Add filters to Browse XComs
  airflow-core/src/airflow/api_fastapi/common/parameters.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/xcom.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/zh-TW/common.json
  airflow-core/src/airflow/ui/src/constants/searchParams.ts
  airflow-core/src/airflow/ui/src/pages/XCom/XCom.tsx
  airflow-core/src/airflow/ui/src/pages/XCom/XComFilters.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_xcom.py
Labels: area:UI, area:translations, translation:default

#54521 docs: Guide for resolving UI TemplateNotFound in Breeze setup
  contributing-docs/03_contributors_quick_start.rst
Labels: area:dev-tools, backport-to-v3-0-test

#54105 Add cluster_tier flag support to Dataproc ClusterGenerator
  providers/google/README.rst
  providers/google/docs/index.rst
  providers/google/pyproject.toml
  providers/google/src/airflow/providers/google/cloud/operators/dataproc.py
  providers/google/tests/system/google/cloud/dataproc/example_dataproc_cluster_generator.py
  providers/google/tests/system/google/cloud/dataproc/example_dataproc_hive.py
  providers/google/tests/system/google/cloud/dataproc/example_dataproc_pig.py
  providers/google/tests/system/google/cloud/dataproc/example_dataproc_pyspark.py
  providers/google/tests/unit/google/cloud/operators/test_dataproc.py
Labels: provider:google, area:providers

#54490 FIX reference
  airflow-core/docs/administration-and-deployment/listeners.rst
Labels: kind:documentation

#54538 CI fix: Bump zizmor
  .pre-commit-config.yaml
Labels: area:dev-tools, backport-to-v3-0-test

#54392 Alias `dag_display_name` for `DagTagResponse`
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_tags.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/pages/DagsList/DagCard.test.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dags.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Labels: area:API, area:UI, area:airflow-ctl

#54542 Fix speed of test_rtif_deletion_stale_data_error test
  airflow-core/tests/unit/models/test_renderedtifields.py
Labels: backport-to-v3-0-test

#54543 Don't attempt HTTP retries when using the InProcess API client
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Labels: area:task-sdk

#54537 docs(hitl): fix typo in example_hitl_operator
  providers/standard/src/airflow/providers/standard/example_dags/example_hitl_operator.py
Labels: area:providers, provider:standard

#54492 fix(messaging): improve MessageQueueTrigger logging and add tests
  providers/common/messaging/src/airflow/providers/common/messaging/triggers/msg_queue.py
  providers/common/messaging/tests/unit/common/messaging/triggers/test_msg_queue.py
Labels: area:providers, provider:common-messaging

#54531 Remove end_from_trigger attribute in MwaaTaskSensor trigger
  providers/amazon/src/airflow/providers/amazon/aws/sensors/mwaa.py
Labels: provider:amazon, area:providers

#54485 Remove redundant exception handling in AWS hook
  providers/amazon/src/airflow/providers/amazon/aws/hooks/base_aws.py
Labels: provider:amazon, area:providers

#54548 test: Add comprehensive variable import tests and refactor with…
  airflow-core/tests/unit/cli/commands/test_variable_command.py
Labels: area:CLI

#54557 Typo in 11_documentation_building.rst
  contributing-docs/11_documentation_building.rst
Labels: area:dev-tools, backport-to-v3-0-test

#54512 Update Missing translation for Polish 14 of August
  airflow-core/src/airflow/ui/public/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/hitl.json
Labels: area:UI, area:translations, translation:pl

#54526 Close German translation gaps for full UI translation 2025-08-14
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
Labels: area:UI, area:translations, translation:de

#54573 Fix windows path joining in sambahook
  providers/samba/src/airflow/providers/samba/hooks/samba.py
Labels: area:providers, full tests needed, provider:samba, all versions

#54575 Make psgenie hook tests db independent
  providers/opsgenie/tests/unit/opsgenie/hooks/test_opsgenie.py
Labels: area:providers, provider:opsgenie

#54576 Mock AWS during Athena tests
  providers/amazon/tests/unit/amazon/aws/hooks/test_athena.py
  providers/amazon/tests/unit/amazon/aws/operators/test_athena.py
  providers/amazon/tests/unit/amazon/aws/sensors/test_athena.py
Labels: provider:amazon, area:providers
