Repository apache/airflow, pull requests merged in 2025-07, with the labels that each got.

#52583 Provider Migration: Replace `BaseSensorOperator` to Task SDK for `datadog`
  providers/datadog/src/airflow/providers/datadog/sensors/datadog.py
  providers/datadog/src/airflow/providers/datadog/version_compat.py
Labels: area:providers, provider:datadog

#52612 Fix symlink handling for static assets when installed in editable mode with uv
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/simple_auth_manager.py
  airflow-core/src/airflow/api_fastapi/core_api/app.py
Labels: area:API

#52347 Replace models.BaseOperator to Task SDK one for Slack Provider
  providers/slack/src/airflow/providers/slack/operators/slack.py
  providers/slack/src/airflow/providers/slack/operators/slack_webhook.py
  providers/slack/src/airflow/providers/slack/transfers/base_sql_to_slack.py
  providers/slack/src/airflow/providers/slack/version_compat.py
  providers/slack/tests/unit/slack/transfers/test_sql_to_slack_webhook.py
Labels: area:providers, provider:slack

#52606 Add more dependency reports
  .github/workflows/finalize-tests.yml
  dev/constraints-updated-version-check.py
Labels: area:dev-tools, upgrade to newer dependencies, backport-to-v3-0-test

#52600 Update BaseOperator and BaseSensorOperator imports for Airflow 3.0 compatibility in qdrant provider
  providers/qdrant/src/airflow/providers/qdrant/operators/qdrant.py
  providers/qdrant/src/airflow/providers/qdrant/version_compat.py
Labels: area:providers, provider:qdrant

#51556 Ensuring XCom return value can be mapped for dynamically-mapped `@task_group`'s
  task-sdk/src/airflow/sdk/definitions/decorators/task_group.py
  task-sdk/tests/task_sdk/definitions/decorators/test_task_group.py
Labels: area:task-sdk

#52603 Update grpc BaseOperator imports for Airflow 3.0 compatibility
  providers/grpc/src/airflow/providers/grpc/operators/grpc.py
  providers/grpc/src/airflow/providers/grpc/version_compat.py
Labels: area:providers, provider:grpc

#52602 Update influxdb BaseOperator imports for Airflow 3.0 compatibility
  providers/influxdb/src/airflow/providers/influxdb/operators/influxdb.py
  providers/influxdb/src/airflow/providers/influxdb/version_compat.py
Labels: area:providers, provider:influxdb

#52564 Replace `models.BaseOperator` to Task SDK one for OpsGenie
  providers/opsgenie/src/airflow/providers/opsgenie/operators/opsgenie.py
  providers/opsgenie/src/airflow/providers/opsgenie/version_compat.py
Labels: area:providers, provider:opsgenie

#52619 Improve dependency report and uppgrading
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  dev/constraints-updated-version-check.py
Labels: area:dev-tools, upgrade to newer dependencies, backport-to-v3-0-test

#52287 Honor `index_urls` when venv is created with `uv` in `PythonVirtualenvOperator`
  providers/standard/docs/operators/python.rst
  providers/standard/src/airflow/providers/standard/utils/python_virtualenv.py
  providers/standard/tests/unit/standard/operators/test_python.py
  providers/standard/tests/unit/standard/utils/test_python_virtualenv.py
Labels: area:providers, provider:standard

#52647 Mocked time.sleep in tableau test
  providers/tableau/tests/unit/tableau/hooks/test_tableau.py
Labels: area:providers, provider:tableau

#52597 Update BaseOperator and BaseSensorOperator imports for Airflow 3.0 compatibility in redis provider
  providers/redis/src/airflow/providers/redis/operators/redis_publish.py
  providers/redis/src/airflow/providers/redis/sensors/redis_key.py
  providers/redis/src/airflow/providers/redis/sensors/redis_pub_sub.py
  providers/redis/src/airflow/providers/redis/version_compat.py
Labels: area:providers, provider:redis

#51738 Add tracking of triggering user to Dag runs
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/docs/img/airflow_erd.svg
  airflow-core/docs/migrations-ref.rst
  airflow-core/src/airflow/api/client/local_client.py
  airflow-core/src/airflow/api/common/trigger_dag.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/assets.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/backfills.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow-core/src/airflow/cli/commands/asset_command.py
  airflow-core/src/airflow/cli/commands/backfill_command.py
  airflow-core/src/airflow/cli/commands/dag_command.py
  airflow-core/src/airflow/cli/commands/task_command.py
  airflow-core/src/airflow/migrations/versions/0074_3_1_0_add_triggering_user_to_dag_run.py
  airflow-core/src/airflow/models/backfill.py
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/public/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/src/pages/Run/Details.tsx
  airflow-core/src/airflow/utils/db.py
  airflow-core/tests/unit/api_fastapi/common/test_exceptions.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_assets.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_backfills.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_run.py
  airflow-core/tests/unit/cli/commands/test_asset_command.py
  airflow-core/tests/unit/cli/commands/test_backfill_command.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/models/test_backfill.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  task-sdk/src/airflow/sdk/definitions/dag.py
Labels: area:CLI, area:API, kind:documentation, area:UI, area:db-migrations, area:airflow-ctl, area:translations, translation:default, translation:de

#52629 Provider Migration: Update Snowflake provider for Airflow 3.0 compatibility
  providers/snowflake/src/airflow/providers/snowflake/transfers/copy_into_snowflake.py
  providers/snowflake/src/airflow/providers/snowflake/version_compat.py
Labels: area:providers, provider:snowflake

#52288 Add support for `PackageIndex` connections in `PythonVirtualenvOperator`
  providers/standard/docs/operators/python.rst
  providers/standard/src/airflow/providers/standard/operators/python.py
  providers/standard/tests/unit/standard/operators/test_python.py
Labels: area:providers, provider:standard

#52667 Replace `models.BaseOperator` to Task SDK one for Amazon Provider
  providers/amazon/src/airflow/providers/amazon/aws/links/base_aws.py
  providers/amazon/src/airflow/providers/amazon/aws/operators/base_aws.py
  providers/amazon/src/airflow/providers/amazon/aws/operators/ecs.py
  providers/amazon/src/airflow/providers/amazon/aws/operators/redshift_data.py
  providers/amazon/src/airflow/providers/amazon/aws/operators/sagemaker_unified_studio.py
  providers/amazon/src/airflow/providers/amazon/aws/sensors/base_aws.py
  providers/amazon/src/airflow/providers/amazon/aws/sensors/sagemaker_unified_studio.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/azure_blob_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/base.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/exasol_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/ftp_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/gcs_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/glacier_to_gcs.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/google_api_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/hive_to_dynamodb.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/http_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/imap_attachment_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/local_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/mongo_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/redshift_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/s3_to_dynamodb.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/s3_to_ftp.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/s3_to_redshift.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/s3_to_sftp.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/s3_to_sql.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/salesforce_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/sftp_to_s3.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/sql_to_s3.py
  providers/amazon/src/airflow/providers/amazon/version_compat.py
  providers/amazon/tests/unit/amazon/aws/links/test_base_aws.py
  providers/amazon/tests/unit/amazon/aws/operators/test_ecs.py
Labels: provider:amazon, area:providers, full tests needed

#52618 Provider Migration: Update azure for Airflow 3.0 compatibility
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/adls.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/adx.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/asb.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/batch.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/container_instances.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/cosmos.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/data_factory.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/msgraph.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/powerbi.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/synapse.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/wasb_delete_blob.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/transfers/local_to_adls.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/transfers/local_to_wasb.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/transfers/oracle_to_azure_data_lake.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/transfers/s3_to_wasb.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/transfers/sftp_to_wasb.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/version_compat.py
Labels: provider:microsoft-azure, area:providers

#52671 Remove language flags
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/layouts/Nav/LanguageSelector.tsx
Labels: area:UI

#51701 Move return statement so that the rest of the function is reachable
  airflow-core/src/airflow/models/mappedoperator.py
Labels: backport-to-v3-0-test

#52641 bugfix: removed cache for proxycommand in SFTPHook
  providers/sftp/src/airflow/providers/sftp/hooks/sftp.py
  providers/sftp/tests/unit/sftp/hooks/test_sftp.py
Labels: area:providers, provider:sftp

#52673 Fix connection retrieval in triggerer for schema field, use by_alias=True for ConnectionResult
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  airflow-core/tests/unit/jobs/test_triggerer_job.py
Labels: area:Triggerer, backport-to-v3-0-test

#52631 Add http-only warning in documentation
  airflow-core/docs/howto/run-behind-proxy.rst
Labels: kind:documentation, backport-to-v3-0-test

#52682 Backport Docs setup for the Task SDK (#51153)
  airflow-core/docs/index.rst
  airflow-core/src/airflow/example_dags/example_asset_alias.py
  airflow-core/src/airflow/example_dags/example_assets.py
  airflow-core/src/airflow/example_dags/example_dag_decorator.py
  airflow-core/src/airflow/example_dags/example_dynamic_task_mapping.py
  airflow-core/src/airflow/example_dags/example_setup_teardown_taskflow.py
  airflow-core/src/airflow/example_dags/example_simplest_dag.py
  airflow-core/src/airflow/example_dags/example_task_group_decorator.py
  airflow-core/src/airflow/example_dags/example_xcomargs.py
  dev/README_RELEASE_AIRFLOW.md
  devel-common/src/sphinx_exts/docs_build/docs_builder.py
  devel-common/src/sphinx_exts/docs_build/spelling_checks.py
  devel-common/src/sphinx_exts/exampleinclude.py
  docs/README.md
  docs/spelling_wordlist.txt
  task-sdk/docs/.gitignore
  task-sdk/docs/api.rst
  task-sdk/docs/conf.py
  task-sdk/docs/examples.rst
  task-sdk/docs/index.rst
  task-sdk/pyproject.toml
  task-sdk/src/airflow/sdk/__init__.pyi
  task-sdk/src/airflow/sdk/definitions/context.py
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/src/airflow/sdk/io/path.py
  task-sdk/tests/test_docs_inventory.py
  task-sdk/tests/test_public_api.py
Labels: area:dev-tools, kind:documentation, area:task-sdk, backport-to-v3-0-test

#52582 [AIP-68] Support pluginv2 views
  airflow-core/src/airflow/ui/public/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/src/layouts/Nav/PluginMenuItem.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/PluginMenus.tsx
  airflow-core/src/airflow/ui/src/pages/Iframe.tsx
  providers/fab/src/airflow/providers/fab/version_compat.py
  providers/fab/src/airflow/providers/fab/www/extensions/init_views.py
  providers/fab/www-hash.txt
Labels: area:providers, area:UI, provider:fab, area:translations, translation:default

#52709 [v3-0-test] docs: streamline TaskFlow examples, link to core tutorial (#51827)
  task-sdk/docs/examples.rst
  task-sdk/docs/index.rst
Labels: area:task-sdk

#52714 Add infinite scroll on tag search (#50732)
  airflow-core/src/airflow/ui/openapi-gen/queries/useDagsInfinite.ts
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsFilters.tsx
Labels: area:UI

#52695 [AIP-68] Update plugin documentation
  airflow-core/docs/administration-and-deployment/plugins.rst
  airflow-core/docs/installation/upgrading_to_airflow3.rst
Labels: area:plugins, kind:documentation, backport-to-v3-0-test

#52283 Add keycloak example with PKCE for airflow 3.0+ api authentication
  providers/fab/docs/auth-manager/api-authentication.rst
Labels: area:providers, kind:documentation, provider:fab

#52718 [v3-0-test] Cherry pick Grid view optimization (#51805)
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/ui/common.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/ui/grid.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/grid.py
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/grid.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/components/DurationChart.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/DagRunSelect.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/Bar.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/Grid.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/TaskInstancesColumn.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/utils.ts
  airflow-core/src/airflow/ui/src/layouts/Details/ToggleGroups.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/Overview.tsx
  airflow-core/src/airflow/ui/src/pages/DagRuns.tsx
  airflow-core/src/airflow/ui/src/queries/useGrid.ts
  airflow-core/src/airflow/ui/src/queries/useGridRuns.ts
  airflow-core/src/airflow/ui/src/queries/useGridStructure.ts
  airflow-core/src/airflow/ui/src/queries/useGridTISummaries.ts
  airflow-core/src/airflow/ui/src/queries/useRefreshOnNewDagRuns.ts
  airflow-core/src/airflow/utils/task_group.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_grid.py
Labels: area:API, area:UI

#52734 Fix broken main on release commands constraints
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools, full tests needed, all versions, backport-to-v3-0-test

#51683 Update Google Ads API version to v20
  providers/google/src/airflow/providers/google/ads/hooks/ads.py
  providers/google/tests/system/google/ads/example_ads.py
Labels: provider:google, area:providers

#52739 Add missing scheduledDags i18n key
  airflow-core/src/airflow/ui/public/i18n/locales/en/assets.json
Labels: area:UI, area:translations, translation:default

#52742 Do not print error code at output when runnign uv symc for dep check
  dev/breeze/src/airflow_breeze/utils/constraints_version_check.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
Labels: area:dev-tools, backport-to-v3-0-test

#52745 Include commits depends on the reference used
  .github/workflows/publish-docs-to-s3.yml
Labels: area:dev-tools, backport-to-v3-0-test

#52740 Improve PR candidate finder performance by 90x
  dev/stats/get_important_pr_candidates.py
Labels: area:dev-tools, backport-to-v3-0-test

#52751 Dev: Fix KeyError in release issue content generation
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools, backport-to-v3-0-test

#49180 OpenTelemetry traces implementation cleanup
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/dag_processing/manager.py
  airflow-core/src/airflow/executors/base_executor.py
  airflow-core/src/airflow/executors/workloads.py
  airflow-core/src/airflow/jobs/job.py
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/traces/tracer.py
  airflow-core/tests/integration/otel/test_otel.py
  airflow-core/tests/unit/core/test_otel_tracer.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/models/test_dagrun.py
  dev/breeze/doc/images/output-commands.svg
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/doc/images/output_testing_core-integration-tests.svg
  dev/breeze/doc/images/output_testing_core-integration-tests.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/tests/test_selective_checks.py
  devel-common/src/tests_common/pytest_plugin.py
  providers/celery/tests/integration/celery/test_celery_executor.py
Labels: area:Scheduler, area:providers, area:dev-tools, area:Triggerer, area:DAG-processing, area:Executors-core, provider:edge

#52737 [AIP-68] Add external view plugin categories to admin, browse, docs, user
  airflow-core/src/airflow/ui/src/layouts/Nav/AdminButton.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/BrowseButton.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/DocsButton.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/Nav.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/PluginMenuItem.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/PluginMenus.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/TimezoneMenuItem.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/UserSettingsButton.tsx
  airflow-core/src/airflow/ui/src/pages/Iframe.tsx
Labels: area:UI, AIP-68

#52794 [v3-0-test] Fix extra white spaces in task-sdk docs (#52773)
  task-sdk/docs/conf.py
Labels: area:task-sdk

#52774 [v3-0-test] docs(task-sdk): reorganize landing page into six core sections (#52196)
  airflow-core/docs/img/airflow-2-arch.png
  airflow-core/docs/img/airflow-3-arch.png
  airflow-core/docs/installation/upgrading_to_airflow3.rst
  docs/spelling_wordlist.txt
  task-sdk/docs/concepts.rst
  task-sdk/docs/examples.rst
  task-sdk/docs/img/airflow-2-approach.png
  task-sdk/docs/img/airflow-2-arch.png
  task-sdk/docs/img/airflow-3-arch.png
  task-sdk/docs/img/airflow-3-task-sdk.png
  task-sdk/docs/index.rst
Labels: kind:documentation, area:task-sdk

#52827 Fix links to SBOMS to be versioned
  airflow-core/docs/conf.py
  airflow-core/docs/security/sbom.rst
Labels: kind:documentation, backport-to-v3-0-test

#52360 Re-create PR for Enable Serde for Pydantic BaseModel and Subclasses
  airflow-core/src/airflow/serialization/serde.py
  airflow-core/src/airflow/serialization/serializers/bignum.py
  airflow-core/src/airflow/serialization/serializers/builtin.py
  airflow-core/src/airflow/serialization/serializers/datetime.py
  airflow-core/src/airflow/serialization/serializers/deltalake.py
  airflow-core/src/airflow/serialization/serializers/iceberg.py
  airflow-core/src/airflow/serialization/serializers/numpy.py
  airflow-core/src/airflow/serialization/serializers/pandas.py
  airflow-core/src/airflow/serialization/serializers/pydantic.py
  airflow-core/src/airflow/serialization/serializers/timezone.py
  airflow-core/src/airflow/serialization/typing.py
  airflow-core/tests/unit/serialization/serializers/test_serializers.py
  airflow-core/tests/unit/serialization/test_serde.py
Labels: area:serialization, full tests needed, all versions

#52833 Pass github_token to URL downloading when generating SBOM
  dev/breeze/src/airflow_breeze/utils/cdxgen.py
Labels: area:dev-tools, backport-to-v3-0-test

#52836 Fix SBOM generation env variables and parameters:
  .github/workflows/publish-docs-to-s3.yml
Labels: area:dev-tools, backport-to-v3-0-test

#52823 Helm chart 1.18.0 release notes
  chart/Chart.yaml
  chart/RELEASE_NOTES.rst
  chart/reproducible_build.yaml
Labels: area:helm-chart

#52683 Replace `BaseHook` to Task SDK for `apache/spark`
  providers/apache/spark/src/airflow/providers/apache/spark/hooks/spark_connect.py
  providers/apache/spark/src/airflow/providers/apache/spark/hooks/spark_sql.py
  providers/apache/spark/src/airflow/providers/apache/spark/hooks/spark_submit.py
  providers/apache/spark/src/airflow/providers/apache/spark/version_compat.py
Labels: area:providers, provider:apache-spark

#52685 Replace `BaseHook` to Task SDK for `apache/hive`
  providers/apache/hive/src/airflow/providers/apache/hive/hooks/hive.py
  providers/apache/hive/src/airflow/providers/apache/hive/version_compat.py
Labels: area:providers, provider:apache-hive

#52684 Replace `BaseHook` to Task SDK for `apache/hdfs`
  providers/apache/hdfs/src/airflow/providers/apache/hdfs/hooks/webhdfs.py
  providers/apache/hdfs/src/airflow/providers/apache/hdfs/version_compat.py
Labels: area:providers, provider:apache-hdfs

#52687 Replace `BaseHook` to Task SDK for `apache/pig`
  providers/apache/pig/src/airflow/providers/apache/pig/hooks/pig.py
  providers/apache/pig/src/airflow/providers/apache/pig/version_compat.py
Labels: area:providers, provider:apache-pig

#52689 Replace `BaseHook` to Task SDK for `apache/cassandra`
  providers/apache/cassandra/src/airflow/providers/apache/cassandra/hooks/cassandra.py
  providers/apache/cassandra/src/airflow/providers/apache/cassandra/version_compat.py
Labels: area:providers, provider:apache-cassandra

#52781 Replace `BaseHook` to Task SDK for `apache/beam`
  providers/apache/beam/src/airflow/providers/apache/beam/hooks/beam.py
  providers/apache/beam/src/airflow/providers/apache/beam/version_compat.py
Labels: area:providers, provider:apache-beam

#52783 Replace `BaseHook` to Task SDK for `apache/iceberg`
  providers/apache/iceberg/src/airflow/providers/apache/iceberg/hooks/iceberg.py
  providers/apache/iceberg/src/airflow/providers/apache/iceberg/version_compat.py
Labels: area:providers, provider:apache-iceberg

#52776 Move all BaseHook usages to version_compat in airbyte
  providers/airbyte/src/airflow/providers/airbyte/hooks/airbyte.py
  providers/airbyte/src/airflow/providers/airbyte/version_compat.py
Labels: area:providers, provider:airbyte

#52778 Move all BaseHook usages to version_compat in Telegram
  providers/telegram/src/airflow/providers/telegram/hooks/telegram.py
  providers/telegram/src/airflow/providers/telegram/version_compat.py
Labels: area:providers, provider:telegram

#52780 Move all BaseHook usages to version_compat in ssh
  providers/ssh/src/airflow/providers/ssh/hooks/ssh.py
  providers/ssh/src/airflow/providers/ssh/version_compat.py
Labels: area:providers, provider:ssh

#52690 Replace `BaseHook` to Task SDK for `apache/druid`
  providers/apache/druid/src/airflow/providers/apache/druid/hooks/druid.py
  providers/apache/druid/src/airflow/providers/apache/druid/version_compat.py
Labels: area:providers, provider:apache-druid

#52015 Add validation for commit_cadence in Kafka ConsumeFromTopicOperator
  providers/apache/kafka/docs/operators/index.rst
  providers/apache/kafka/src/airflow/providers/apache/kafka/operators/consume.py
  providers/apache/kafka/tests/unit/apache/kafka/operators/test_consume.py
Labels: area:providers, kind:documentation, provider:apache-kafka

#52001 feature: Added support for Google cloud log sink management via google provider
  docs/spelling_wordlist.txt
  providers/google/docs/integration-logos/Cloud-Logging-Sink.png
  providers/google/docs/operators/cloud/cloud_logging_sink.rst
  providers/google/provider.yaml
  providers/google/src/airflow/providers/google/cloud/hooks/cloud_logging.py
  providers/google/src/airflow/providers/google/cloud/operators/cloud_logging_sink.py
  providers/google/src/airflow/providers/google/get_provider_info.py
  providers/google/tests/system/google/cloud/cloud_logging_sink/__init__.py
  providers/google/tests/system/google/cloud/cloud_logging_sink/example_cloud_logging_sink.py
  providers/google/tests/unit/google/cloud/hooks/test_cloud_logging.py
  providers/google/tests/unit/google/cloud/operators/test_cloud_logging_sink.py
Labels: provider:google, area:providers, kind:documentation

#52842 Replace `BaseHook` to Task SDK for `apache/pyspark`
  providers/apache/spark/src/airflow/providers/apache/spark/decorators/pyspark.py
  providers/apache/spark/src/airflow/providers/apache/spark/version_compat.py
Labels: area:providers, provider:apache-spark

#52782 Move all BaseHook usages to version_compat in apprise
  providers/apprise/src/airflow/providers/apprise/hooks/apprise.py
  providers/apprise/src/airflow/providers/apprise/version_compat.py
Labels: area:providers, provider:apprise

#52798 Move all BaseHook usages to version_compat in cncf
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/hooks/kubernetes.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/version_compat.py
Labels: area:providers, provider:cncf-kubernetes

#52800 Move all BaseHook and BaseSensorOperator usages to version_compat in Common SQL
  providers/common/sql/src/airflow/providers/common/sql/hooks/sql.py
  providers/common/sql/src/airflow/providers/common/sql/operators/generic_transfer.py
  providers/common/sql/src/airflow/providers/common/sql/operators/sql.py
  providers/common/sql/src/airflow/providers/common/sql/sensors/sql.py
  providers/common/sql/src/airflow/providers/common/sql/triggers/sql.py
  providers/common/sql/src/airflow/providers/common/sql/version_compat.py
  providers/common/sql/tests/unit/common/sql/hooks/test_dbapi.py
Labels: area:providers, provider:common-sql

#52816 Move all BaseHook and BaseSensorOperator usages to version_compat in IMAP
  providers/imap/src/airflow/providers/imap/hooks/imap.py
  providers/imap/src/airflow/providers/imap/sensors/imap_attachment.py
  providers/imap/src/airflow/providers/imap/version_compat.py
Labels: area:providers, provider:imap

#52811 Move all BaseHook usages to version_compat in gRPC
  providers/grpc/src/airflow/providers/grpc/hooks/grpc.py
  providers/grpc/src/airflow/providers/grpc/version_compat.py
Labels: area:providers, provider:grpc

#52858 Move all BaseHook usages to version_compat in teradata provider
  providers/teradata/src/airflow/providers/teradata/hooks/ttu.py
  providers/teradata/src/airflow/providers/teradata/version_compat.py
Labels: area:providers, provider:teradata

#52857 Move all BaseHook usages to version_compat in MongoDB
  providers/mongo/src/airflow/providers/mongo/hooks/mongo.py
  providers/mongo/src/airflow/providers/mongo/version_compat.py
Labels: area:providers, provider:mongo

#52867 [v3-0-test] Fix SBOM commands to be suitable for running in CI (#52849)
  .github/workflows/publish-docs-to-s3.yml
  dev/breeze/doc/images/output_release-management_generate-providers-metadata.svg
  dev/breeze/doc/images/output_release-management_generate-providers-metadata.txt
  dev/breeze/doc/images/output_sbom_build-all-airflow-images.svg
  dev/breeze/doc/images/output_sbom_build-all-airflow-images.txt
  dev/breeze/doc/images/output_sbom_generate-providers-requirements.svg
  dev/breeze/doc/images/output_sbom_generate-providers-requirements.txt
  dev/breeze/doc/images/output_sbom_update-sbom-information.svg
  dev/breeze/doc/images/output_sbom_update-sbom-information.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
  dev/breeze/src/airflow_breeze/commands/sbom_commands_config.py
  dev/breeze/src/airflow_breeze/utils/cdxgen.py
  dev/breeze/src/airflow_breeze/utils/github.py
Labels: area:dev-tools, backport-to-v3-0-test

#52870 Fix index generation destination
  dev/breeze/src/airflow_breeze/commands/sbom_commands.py
Labels: area:dev-tools, backport-to-v3-0-test

#52875 Make the link to SBOM relative to the sbom documentation
  airflow-core/docs/security/sbom.rst
Labels: kind:documentation, backport-to-v3-0-test

#52854 Move all BaseHook usages to version_compat in Microsoft PSRP
  providers/microsoft/psrp/src/airflow/providers/microsoft/psrp/hooks/psrp.py
  providers/microsoft/psrp/src/airflow/providers/microsoft/psrp/version_compat.py
Labels: area:providers, provider:microsoft-psrp, provider:jenkins

#52887 Fix static failures on main
  airflow-ctl/src/airflowctl/ctl/cli_config.py
Labels: area:airflow-ctl

#52871 Fix task configuration defaults for AbstractOperator
  airflow-core/src/airflow/models/__init__.py
  airflow-core/src/airflow/models/abstractoperator.py
  airflow-core/tests/unit/serialization/test_dag_serialization.py
  providers/edge3/src/airflow/providers/edge3/executors/edge_executor.py
  task-sdk/src/airflow/sdk/definitions/_internal/abstractoperator.py
  task-sdk/src/airflow/sdk/definitions/decorators/__init__.pyi
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
Labels: area:providers, area:task-sdk, provider:edge, backport-to-v3-0-test

#52838 More robust handling of `BaseHook.get_connection`'s `CONNECTION_NOT_FOUND` Task SDK exception
  providers/amazon/src/airflow/providers/amazon/aws/hooks/base_aws.py
Labels: provider:amazon, area:providers

#52888 Remove legacy methods on `models.BaseOperator`
  airflow-core/src/airflow/models/baseoperator.py
  airflow-core/tests/unit/models/test_cleartasks.py
  airflow-core/tests/unit/models/test_taskinstance.py
  airflow-core/tests/unit/ti_deps/deps/test_trigger_rule_dep.py
Labels: full tests needed

#52784 Replace `BaseHook` to Task SDK for `apache/kafka`
  providers/apache/kafka/src/airflow/providers/apache/kafka/hooks/base.py
  providers/apache/kafka/src/airflow/providers/apache/kafka/version_compat.py
Labels: area:providers, provider:apache-kafka

#52787 Imported BaseHook from version_compat in Tableau
  providers/tableau/src/airflow/providers/tableau/hooks/tableau.py
  providers/tableau/src/airflow/providers/tableau/version_compat.py
Labels: area:providers, provider:tableau

#52844 Replace `BaseHook` to Task SDK for `apache/tinkerpop`
  providers/apache/tinkerpop/src/airflow/providers/apache/tinkerpop/hooks/gremlin.py
  providers/apache/tinkerpop/src/airflow/providers/apache/tinkerpop/version_compat.py
Labels: area:providers, provider:apache-tinkerpop

#52859 Move all BaseHook usages to version_compat in opsgenie
  providers/opsgenie/src/airflow/providers/opsgenie/hooks/opsgenie.py
  providers/opsgenie/src/airflow/providers/opsgenie/version_compat.py
Labels: area:providers, provider:opsgenie

#52863 Move all BaseHook usages to version_compat in Weaviate provider
  providers/weaviate/src/airflow/providers/weaviate/hooks/weaviate.py
  providers/weaviate/src/airflow/providers/weaviate/version_compat.py
Labels: area:providers, provider:weaviate

#52894 Move all BaseHook usages to version_compat in SFTP
  providers/sftp/src/airflow/providers/sftp/hooks/sftp.py
  providers/sftp/src/airflow/providers/sftp/version_compat.py
Labels: area:providers, provider:sftp

#52898 Add pre-commit hook to check provider uses its own version_compat import
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  scripts/ci/pre_commit/check_provider_version_compat.py
Labels: area:dev-tools, backport-to-v3-0-test

#52265 Build python from source for CI
  .dockerignore
  .github/workflows/basic-tests.yml
  .pre-commit-config.yaml
  Dockerfile.ci
  scripts/ci/pre_commit/update_installers_and_pre_commit.py
  scripts/docker/entrypoint_ci.sh
  scripts/docker/install_os_dependencies_ci.sh
Labels: area:dev-tools, backport-to-v3-0-test

#52900 Revert "Build python from source for CI (#52265)"
  .dockerignore
  .github/workflows/basic-tests.yml
  .pre-commit-config.yaml
  Dockerfile.ci
  scripts/ci/pre_commit/update_installers_and_pre_commit.py
  scripts/docker/entrypoint_ci.sh
  scripts/docker/install_os_dependencies_ci.sh
Labels: area:dev-tools, backport-to-v3-0-test

#52890 i18n(Ko): add missing translations
  airflow-core/src/airflow/ui/public/i18n/locales/ko/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/ko/dag.json
Labels: area:UI, area:translations, translation:ko

#52814 Move all BaseHook usages to version_compat in HTTP
  providers/http/src/airflow/providers/http/hooks/http.py
  providers/http/src/airflow/providers/http/operators/http.py
  providers/http/src/airflow/providers/http/version_compat.py
Labels: area:providers, provider:http

#52918 Reset grid dagrun query cache on trigger so that the new dagrun is fetched,
  airflow-core/src/airflow/ui/src/queries/useTrigger.ts
Labels: area:UI, backport-to-v3-0-test

#52902 Advanced auto classification for provider documentation
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
  dev/breeze/tests/test_provider_documentation.py
Labels: area:dev-tools, backport-to-v3-0-test

#52924 [v3-0-test] Slightly speed up package preparation and upgrade latest …
  .github/actions/install-pre-commit/action.yml
  .github/workflows/basic-tests.yml
  .github/workflows/ci-amd.yml
  Dockerfile
  Dockerfile.ci
  dev/breeze/doc/ci/02_images.md
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/global_constants.py
  pyproject.toml
  scripts/ci/install_breeze.sh
  scripts/ci/pre_commit/update_installers_and_pre_commit.py
  scripts/tools/setup_breeze
Labels: area:dev-tools, area:production-image, backport-to-v3-0-test

#52911 Moving BaseHook usages to version_compat for pinecone
  providers/pinecone/src/airflow/providers/pinecone/hooks/pinecone.py
  providers/pinecone/src/airflow/providers/pinecone/version_compat.py
Labels: area:providers, provider:pinecone

#52912 Moving BaseHook usages to version_compat for salesforce
  providers/salesforce/src/airflow/providers/salesforce/hooks/salesforce.py
  providers/salesforce/src/airflow/providers/salesforce/version_compat.py
Labels: area:providers, provider:salesforce

#51794 docs: Correct TaskFlow capitalization in documentation
  airflow-core/docs/best-practices.rst
  airflow-core/docs/tutorial/fundamentals.rst
  airflow-core/docs/tutorial/objectstorage.rst
  providers/docker/docs/changelog.rst
  providers/sftp/docs/sensors/sftp_sensor.rst
  providers/standard/docs/changelog.rst
Labels: area:providers, kind:documentation, provider:docker, provider:sftp, provider:standard

#52935 Fix sbom conditions in publish workflow
  .github/workflows/publish-docs-to-s3.yml
Labels: area:dev-tools, backport-to-v3-0-test

#52934 Add clarification for using short names with --exclude-docs
  dev/breeze/doc/images/output_workflow-run_publish-docs.svg
  dev/breeze/doc/images/output_workflow-run_publish-docs.txt
  dev/breeze/src/airflow_breeze/commands/workflow_commands.py
Labels: area:dev-tools

#52933 Use appropriate namespace in translation key.
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
Labels: area:UI

#52931 Workaround the need to use latest version on Lucas pre-commit's
  .github/actions/migration_tests/action.yml
  .github/workflows/basic-tests.yml
  .pre-commit-config.yaml
Labels: area:dev-tools, backport-to-v3-0-test

#52941 [v3-0-test] Make sure generate providers metadata is done with default python (#5…
  dev/breeze/doc/images/output_release-management_generate-providers-metadata.svg
  dev/breeze/doc/images/output_release-management_generate-providers-metadata.txt
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
Labels: area:dev-tools, backport-to-v3-0-test

#52801 Move all BaseHook usages to version_compat in Datadog
  providers/datadog/src/airflow/providers/datadog/hooks/datadog.py
  providers/datadog/src/airflow/providers/datadog/version_compat.py
Labels: area:providers, provider:datadog

#52809 Replace BaseHook to Task SDK for google
  providers/google/src/airflow/providers/google/ads/hooks/ads.py
  providers/google/src/airflow/providers/google/cloud/hooks/cloud_sql.py
  providers/google/src/airflow/providers/google/cloud/hooks/dataprep.py
  providers/google/src/airflow/providers/google/cloud/hooks/looker.py
  providers/google/src/airflow/providers/google/cloud/operators/cloud_sql.py
  providers/google/src/airflow/providers/google/common/hooks/base_google.py
  providers/google/src/airflow/providers/google/leveldb/hooks/leveldb.py
  providers/google/src/airflow/providers/google/version_compat.py
Labels: provider:google, area:providers

#52799 Move all BaseHook usages to version_compat in cohere
  providers/cohere/src/airflow/providers/cohere/hooks/cohere.py
  providers/cohere/src/airflow/providers/cohere/version_compat.py
Labels: area:providers, provider:cohere

#52812 Move all BaseHook usages to version_compat in HashiCorp
  providers/hashicorp/src/airflow/providers/hashicorp/hooks/vault.py
  providers/hashicorp/src/airflow/providers/hashicorp/version_compat.py
Labels: area:providers, provider:hashicorp

#52942 [v3-0-test] Workaround the need to use latest version on Lucas pre-commit's (#52931)
  .github/actions/migration_tests/action.yml
  .github/workflows/basic-tests.yml
  .pre-commit-config.yaml
Labels: area:dev-tools, backport-to-v3-0-test

#52954 Remove deprecation in Edge for DEFAULT_QUEUE
  providers/edge3/src/airflow/providers/edge3/executors/edge_executor.py
Labels: area:providers, provider:edge

#52956 Fix example dag example_external_task_parent_deferrable.py imports
  providers/standard/src/airflow/providers/standard/example_dags/example_external_task_parent_deferrable.py
Labels: area:providers, provider:standard, backport-to-v3-0-test

#52950 Moving BaseHook usages to version_compat for smtp
  providers/smtp/src/airflow/providers/smtp/hooks/smtp.py
  providers/smtp/src/airflow/providers/smtp/version_compat.py
Labels: area:providers, provider:smtp

#52945 Moving BaseHook usages to version_compat for openfaas
  providers/openfaas/src/airflow/providers/openfaas/hooks/openfaas.py
  providers/openfaas/src/airflow/providers/openfaas/version_compat.py
Labels: area:providers, provider:openfaas

#52949 Moving BaseHook usages to version_compat for slack
  providers/slack/src/airflow/providers/slack/hooks/slack.py
  providers/slack/src/airflow/providers/slack/hooks/slack_webhook.py
  providers/slack/src/airflow/providers/slack/transfers/base_sql_to_slack.py
  providers/slack/src/airflow/providers/slack/version_compat.py
Labels: area:providers, provider:slack

#52947 Moving BaseHook usages to version_compat for papermill
  providers/papermill/src/airflow/providers/papermill/hooks/kernel.py
  providers/papermill/src/airflow/providers/papermill/version_compat.py
Labels: area:providers, provider:papermill

#52915 Moving BaseHook usages to version_compat for sendgrid
  providers/sendgrid/src/airflow/providers/sendgrid/utils/emailer.py
  providers/sendgrid/src/airflow/providers/sendgrid/version_compat.py
Labels: area:providers, provider:sendgrid

#52944 Moving BaseHook usages to version_compat for git
  providers/git/src/airflow/providers/git/hooks/git.py
  providers/git/src/airflow/providers/git/version_compat.py
Labels: area:providers, provider:git

#52960 Make the update_installer_and_pre_commit script more resilient to re matches
  scripts/ci/pre_commit/update_installers_and_pre_commit.py
Labels: area:dev-tools, backport-to-v3-0-test

#52966 Move BaseHook to version_compat for zendesk
  providers/zendesk/src/airflow/providers/zendesk/hooks/zendesk.py
  providers/zendesk/src/airflow/providers/zendesk/version_compat.py
Labels: area:providers, provider:zendesk

#52963 Moving BaseHook usages to version_compat for yandex
  providers/yandex/src/airflow/providers/yandex/hooks/yandex.py
  providers/yandex/src/airflow/providers/yandex/version_compat.py
Labels: area:providers, provider:yandex

#52777 Move Base imports to `version_compat` for Alibaba provider Airflow 3.0 compatibility
  providers/alibaba/src/airflow/providers/alibaba/cloud/hooks/analyticdb_spark.py
  providers/alibaba/src/airflow/providers/alibaba/cloud/hooks/base_alibaba.py
  providers/alibaba/src/airflow/providers/alibaba/cloud/hooks/oss.py
  providers/alibaba/src/airflow/providers/alibaba/cloud/links/maxcompute.py
  providers/alibaba/src/airflow/providers/alibaba/cloud/operators/analyticdb_spark.py
  providers/alibaba/src/airflow/providers/alibaba/cloud/operators/maxcompute.py
  providers/alibaba/src/airflow/providers/alibaba/cloud/operators/oss.py
  providers/alibaba/src/airflow/providers/alibaba/cloud/sensors/analyticdb_spark.py
  providers/alibaba/src/airflow/providers/alibaba/cloud/sensors/oss_key.py
  providers/alibaba/src/airflow/providers/alibaba/version_compat.py
Labels: area:providers, provider:alibaba

#52971 fix: Adjust OL system test to latest changes
  providers/openlineage/tests/system/openlineage/example_openlineage_base_complex_dag.py
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_complex_dag__af3.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_schedule_timetable_dag__af3.json
Labels: area:providers, provider:openlineage

#52831 Fix Confirmation dialog for DagRun MarkAs and Clear Actions
  airflow/www/static/js/dag/details/dagRun/ClearRun.tsx
  airflow/www/static/js/dag/details/dagRun/MarkRunAs.tsx
Labels: legacy ui

#52748 Add DAG calendar view endpoint
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/ui/calendar.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/__init__.py
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/calendar.py
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/calendar.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_calendar.py
Labels: area:API

#52586 Update auth manager documentation to reflect Airflow 3 changes
  airflow-core/docs/core-concepts/auth-manager/index.rst
Labels: kind:documentation

#52731 Remove `MENU` from `ResourceMethod` in auth manager
  airflow-core/src/airflow/api_fastapi/auth/managers/base_auth_manager.py
  providers/amazon/src/airflow/providers/amazon/aws/auth_manager/avp/facade.py
  providers/fab/src/airflow/providers/fab/auth_manager/fab_auth_manager.py
  providers/fab/src/airflow/providers/fab/www/utils.py
  providers/fab/www-hash.txt
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/cli/commands.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/keycloak_auth_manager.py
Labels: provider:amazon, area:providers, area:API, provider:fab, provider:keycloak

#52668 Fix Dag list filtering to include QUEUED DagRuns with null start_date
  airflow-core/src/airflow/api_fastapi/common/db/dags.py
  airflow-core/tests/unit/api_fastapi/common/db/__init__.py
  airflow-core/tests/unit/api_fastapi/common/db/test_dags.py
Labels: area:API, backport-to-v3-0-test

#52964 Add new operators for Experiment and Experiment run entities for Vertex AI in google provider
  airflow-core/tests/unit/always/test_project_structure.py
  providers/google/docs/operators/cloud/vertex_ai.rst
  providers/google/provider.yaml
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/experiment_service.py
  providers/google/src/airflow/providers/google/cloud/hooks/vertex_ai/generative_model.py
  providers/google/src/airflow/providers/google/cloud/operators/vertex_ai/experiment_service.py
  providers/google/src/airflow/providers/google/cloud/operators/vertex_ai/generative_model.py
  providers/google/src/airflow/providers/google/get_provider_info.py
  providers/google/tests/system/google/cloud/vertex_ai/example_vertex_ai_experiment_service.py
  providers/google/tests/system/google/cloud/vertex_ai/example_vertex_ai_generative_model.py
  providers/google/tests/unit/google/cloud/hooks/vertex_ai/test_experiment_service.py
  providers/google/tests/unit/google/cloud/operators/vertex_ai/test_experiment_service.py
  providers/google/tests/unit/google/cloud/operators/vertex_ai/test_generative_model.py
Labels: provider:google, area:providers, kind:documentation

#52860 Remove gunicorn daemonize for api-server
  airflow-core/newsfragments/52860.significant.rst
  airflow-core/src/airflow/cli/cli_config.py
  airflow-core/src/airflow/cli/commands/api_server_command.py
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/configuration.py
  airflow-core/tests/unit/cli/commands/_common_cli_classes.py
  airflow-core/tests/unit/cli/commands/test_api_server_command.py
Labels: area:CLI, area:API

#52978 Remove `MAX_XCOM_SIZE` hardcoded constant from Airflow core
  airflow-core/src/airflow/models/xcom.py
  airflow-core/src/airflow/utils/xcom.py
  providers/amazon/src/airflow/providers/amazon/aws/transfers/google_api_to_s3.py
  providers/amazon/tests/unit/amazon/aws/transfers/test_google_api_to_s3.py
  providers/google/src/airflow/providers/google/cloud/transfers/gcs_to_local.py
  providers/google/tests/unit/google/cloud/transfers/test_gcs_to_local.py
Labels: provider:google, provider:amazon, area:providers

#52895 Add new translations to Polish
  airflow-core/src/airflow/ui/public/i18n/locales/pl/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/browse.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/components.json
Labels: area:UI, area:translations, translation:pl

#52985 Remove remnants of ~= used in requires-python.
  airflow-core/pyproject.toml
  chart/pyproject.toml
  clients/python/pyproject.toml
  dev/pyproject.toml
  docker-stack-docs/pyproject.toml
  docker-tests/pyproject.toml
  helm-tests/pyproject.toml
  kubernetes-tests/pyproject.toml
  providers-summary-docs/pyproject.toml
  pyproject.toml
  scripts/ci/airflow_version_check.py
Labels: area:dev-tools, area:API, area:helm-chart, kind:documentation, area:production-image, backport-to-v3-0-test, area:kubernetes-tests, area:docker-tests

#52986 Fix DagRun list
  airflow-core/src/airflow/ui/src/pages/DagRuns.tsx
Labels: area:UI, backport-to-v3-0-test

#52992 Removed unnecessary shebangs from test files
  providers/google/tests/unit/google/cloud/transfers/test_gcs_to_sftp.py
  providers/google/tests/unit/google/cloud/transfers/test_http_to_gcs.py
  providers/google/tests/unit/google/cloud/transfers/test_sftp_to_gcs.py
  providers/samba/tests/unit/samba/transfers/test_gcs_to_samba.py
Labels: provider:google, area:providers, provider:samba

#52905 mocking definition order FIX
  providers/dbt/cloud/tests/unit/dbt/cloud/hooks/test_dbt.py
Labels: area:providers, provider:dbt-cloud

#52982 Fix db downgrade check condition
  airflow-core/src/airflow/utils/db.py
Labels: backport-to-v3-0-test

#52930 i18n(Ko): add missing translations
  airflow-core/src/airflow/ui/public/i18n/locales/ko/common.json
Labels: area:UI, area:translations, translation:ko

#52297 docs: refresh Public Interface & align how-to guides for Airflow 3.0+
  airflow-core/docs/conf.py
  airflow-core/docs/core-concepts/params.rst
  airflow-core/docs/core-concepts/variables.rst
  airflow-core/docs/core-concepts/xcoms.rst
  airflow-core/docs/howto/connection.rst
  airflow-core/docs/howto/custom-operator.rst
  airflow-core/docs/public-airflow-interface.rst
Labels: kind:documentation, backport-to-v3-0-test

#53008 Close gap on Hebrew translation July 8th 2025
  airflow-core/src/airflow/ui/public/i18n/locales/he/admin.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/assets.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/common.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/components.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dag.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/he/dashboard.json
Labels: area:UI, area:translations, translation:he

#53003 Prepare release for July 2025 1st provider wave - ad hoc Amazon
  providers/amazon/README.rst
  providers/amazon/docs/changelog.rst
  providers/amazon/docs/index.rst
  providers/amazon/provider.yaml
  providers/amazon/pyproject.toml
  providers/amazon/src/airflow/providers/amazon/__init__.py
Labels: provider:amazon, area:providers, kind:documentation

#53014 Close translation gap in Polish 08.07.2025
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dags.json
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dashboard.json
Labels: area:UI, area:translations, translation:pl

#53024 Fix log for skipped tasks
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/log.py
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/Logs.tsx
  airflow-core/src/airflow/utils/log/file_task_handler.py
  airflow-core/tests/unit/utils/test_log_handlers.py
Labels: area:logging, area:API, area:UI, backport-to-v3-0-test

#53012 Remove commented include_prior_dates in runtime TI protocol
  task-sdk/src/airflow/sdk/types.py
Labels: area:task-sdk

#53026 Fix error re <a> cannot appear as descedent of <a>
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/TaskNames.tsx
Labels: area:UI

#53023 Fix translation for favourites
  airflow-core/src/airflow/ui/public/i18n/locales/pl/dags.json
Labels: area:UI, area:translations, translation:pl

#52437 Add run_id_pattern search for Dag Run API.
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/public/i18n/locales/en/dags.json
  airflow-core/src/airflow/ui/src/constants/searchParams.ts
  airflow-core/src/airflow/ui/src/pages/DagRuns.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_run.py
Labels: area:API, area:UI

#51638 AIP-86 - Calculate and store the dagrun Deadline
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/models/deadline.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/models/test_dagrun.py
  airflow-core/tests/unit/models/test_deadline.py
  task-sdk/src/airflow/sdk/definitions/deadline.py
  task-sdk/tests/task_sdk/definitions/test_deadline.py
Labels: area:API, area:task-sdk

#51920 Add endpoint to watch dag run until finish
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/dag_run.py
  airflow-core/src/airflow/settings.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_run.py
Labels: area:API, area:UI

#53072 Update precommit provider-version-compat to be portable across CI and systems
  .pre-commit-config.yaml
Labels: area:dev-tools, backport-to-v3-0-test

#53058 Run Task failure callbacks on DAG Processor when task is externally killed
  airflow-core/src/airflow/api_fastapi/execution_api/datamodels/taskinstance.py
  airflow-core/src/airflow/callbacks/callback_requests.py
  airflow-core/src/airflow/dag_processing/processor.py
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/callbacks/test_callback_requests.py
  airflow-core/tests/unit/dag_processing/test_processor.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
Labels: area:Scheduler, area:API, area:DAG-processing, area:task-sdk, backport-to-v3-0-test

#53073 Bump packaging>=25.0
  airflow-core/pyproject.toml
  dev/breeze/pyproject.toml
  dev/pyproject.toml
Labels: area:dev-tools, backport-to-v3-0-test

#52972 AIP-68 Add loading validation to React App and External Views
  airflow-core/src/airflow/api_fastapi/app.py
  airflow-core/src/airflow/api_fastapi/core_api/app.py
  airflow-core/src/airflow/plugins_manager.py
  airflow-core/tests/unit/plugins/test_plugins_manager.py
Labels: area:plugins, area:API, log exception

#53087 Fix no_status and duration for grid summaries
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/ui/common.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/ui/grid.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/grid.py
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/grid.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_grid.py
Labels: area:API, backport-to-v3-0-test

#53027 Deprecate old DV360 operator and modify system test
  airflow-core/tests/unit/always/test_project_structure.py
  providers/google/docs/operators/marketing_platform/display_video.rst
  providers/google/src/airflow/providers/google/marketing_platform/hooks/display_video.py
  providers/google/src/airflow/providers/google/marketing_platform/operators/display_video.py
  providers/google/src/airflow/providers/google/marketing_platform/sensors/display_video.py
  providers/google/tests/deprecations_ignore.yml
  providers/google/tests/system/google/marketing_platform/example_display_video.py
  providers/google/tests/unit/google/marketing_platform/hooks/test_display_video.py
  providers/google/tests/unit/google/marketing_platform/operators/test_display_video.py
  providers/google/tests/unit/google/marketing_platform/sensors/test_display_video.py
Labels: provider:google, area:providers, kind:documentation

#53068 Some minor corrections to PMC instructions for provider release
  dev/README_RELEASE_PROVIDERS.md
Labels: area:dev-tools, backport-to-v3-0-test

#52968 Unify connection not found exceptions between AF2 and AF3
  airflow-core/src/airflow/models/connection.py
  airflow-core/tests/unit/dag_processing/test_processor.py
  task-sdk/src/airflow/sdk/definitions/connection.py
  task-sdk/src/airflow/sdk/execution_time/context.py
  task-sdk/tests/task_sdk/bases/test_hook.py
  task-sdk/tests/task_sdk/definitions/test_connections.py
Labels: area:task-sdk, backport-to-v3-0-test

#53090 Clean up in Google provider
  providers/google/tests/unit/google/cloud/hooks/test_bigquery_system.py
  providers/google/tests/unit/google/cloud/hooks/test_secret_manager_system.py
  providers/google/tests/unit/google/cloud/log/test_gcs_task_handler_system.py
  providers/google/tests/unit/google/cloud/log/test_stackdriver_task_handler_system.py
  providers/google/tests/unit/google/cloud/operators/test_dataprep_system.py
  providers/google/tests/unit/google/cloud/operators/test_datastore_system.py
  providers/google/tests/unit/google/cloud/secrets/test_secret_manager_system.py
Labels: provider:google, area:providers, area:logging, area:secrets
