Repository apache/airflow, pull requests merged in 2025-06, with the labels that each got.

#51271 Fix outdated translation keys in PL locale
  airflow-core/src/airflow/ui/src/i18n/locales/pl/dags.json
Labels: area:UI

#51257 Enhance Celery CLI with Worker and Queue Management Features
  providers/celery/src/airflow/providers/celery/cli/celery_command.py
  providers/celery/src/airflow/providers/celery/executors/celery_executor.py
  providers/celery/tests/unit/celery/cli/test_celery_command.py
Labels: area:providers, provider:celery

#51218 Add worker_umask to celery provider.yaml
  providers/celery/provider.yaml
  providers/celery/src/airflow/providers/celery/get_provider_info.py
Labels: area:providers, provider:celery

#51273 Add missing Polish translations
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/connections.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/dags.json
Labels: area:UI

#51089 fix(airflowctl): not cascading remote url to auth command
  airflow-ctl/src/airflowctl/api/client.py
Labels: area:airflow-ctl

#51275 [v3-0-test] Move example_dags in standard provider to example_dags in…
  airflow-core/docs/tutorial/taskflow.rst
  airflow-core/src/airflow/example_dags/standard
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  devel-common/src/docs/provider_conf.py
  docs/spelling_wordlist.txt
  providers/arangodb/docs/index.rst
  providers/edge3/docs/index.rst
  providers/edge3/src/airflow/providers/edge3/example_dags/win_notepad.py
  providers/oracle/docs/index.rst
  providers/standard/docs/index.rst
  providers/standard/docs/operators/bash.rst
  providers/standard/docs/operators/datetime.rst
  providers/standard/docs/operators/latest_only.rst
  providers/standard/docs/operators/python.rst
  providers/standard/docs/operators/trigger_dag_run.rst
  providers/standard/docs/sensors/bash.rst
  providers/standard/docs/sensors/datetime.rst
  providers/standard/docs/sensors/external_task_sensor.rst
  providers/standard/docs/sensors/file.rst
  providers/standard/docs/sensors/python.rst
  providers/standard/src/airflow/providers/standard/example_dags/__init__.py
  providers/standard/src/airflow/providers/standard/example_dags/example_bash_decorator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_bash_operator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_branch_datetime_operator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_branch_day_of_week_operator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_branch_operator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_branch_operator_decorator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_external_task_child_deferrable.py
  providers/standard/src/airflow/providers/standard/example_dags/example_external_task_marker_dag.py
  providers/standard/src/airflow/providers/standard/example_dags/example_external_task_parent_deferrable.py
  providers/standard/src/airflow/providers/standard/example_dags/example_latest_only.py
  providers/standard/src/airflow/providers/standard/example_dags/example_python_decorator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_python_operator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_sensor_decorator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_sensors.py
  providers/standard/src/airflow/providers/standard/example_dags/example_short_circuit_decorator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_short_circuit_operator.py
  providers/standard/src/airflow/providers/standard/example_dags/example_trigger_controller_dag.py
  providers/standard/src/airflow/providers/standard/example_dags/sql/__init__.py
  providers/standard/src/airflow/providers/standard/example_dags/sql/sample.sql
  providers/standard/tests/system/__init__.py
Labels: area:Scheduler, area:providers, kind:documentation, provider:arangodb, provider:oracle, provider:standard, provider:edge

#51276 Close German Translation Gap
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/connections.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/dags.json
Labels: area:UI

#49987 Add "disappearing DAGs" section on FAQ doc
  airflow-core/docs/faq.rst
Labels: kind:documentation, backport-to-v3-0-test

#51277 Fix building PROD images with uv
  .github/workflows/additional-prod-image-tests.yml
  .github/workflows/prod-image-build.yml
  .github/workflows/prod-image-extra-checks.yml
  Dockerfile
  Dockerfile.ci
  scripts/docker/common.sh
Labels: area:dev-tools, area:production-image, canary, backport-to-v3-0-test

#51237 Automatically classify test changes as SKIPPED while preparing providers
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
Labels: area:dev-tools

#51286 [v3-0-test] Backport gh docs publish breeze workflows
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_PROVIDERS.md
  dev/breeze/doc/09_release_management_tasks.rst
  dev/breeze/doc/images/output-commands.svg
  dev/breeze/doc/images/output_setup_check-all-params-in-groups.svg
  dev/breeze/doc/images/output_setup_check-all-params-in-groups.txt
  dev/breeze/doc/images/output_setup_regenerate-command-images.svg
  dev/breeze/doc/images/output_setup_regenerate-command-images.txt
  dev/breeze/doc/images/output_workflow-run.svg
  dev/breeze/doc/images/output_workflow-run.txt
  dev/breeze/doc/images/output_workflow-run_publish-docs.svg
  dev/breeze/doc/images/output_workflow-run_publish-docs.txt
  dev/breeze/src/airflow_breeze/breeze.py
  dev/breeze/src/airflow_breeze/commands/workflow_commands.py
  dev/breeze/src/airflow_breeze/commands/workflow_commands_config.py
  dev/breeze/src/airflow_breeze/configure_rich_click.py
  dev/breeze/src/airflow_breeze/utils/gh_workflow_utils.py
Labels: area:dev-tools

#51293 Fix doubel quote mtime in airflow-core/docs/faq.rst
  airflow-core/docs/faq.rst
Labels: kind:documentation

#50657 Add `airflow db-manager` CLI for managing external databases
  airflow-core/src/airflow/cli/cli_config.py
  airflow-core/src/airflow/cli/commands/db_manager_command.py
  airflow-core/src/airflow/utils/db_manager.py
  airflow-core/tests/unit/cli/commands/test_db_manager_command.py
  providers/fab/src/airflow/providers/fab/auth_manager/models/db.py
Labels: area:CLI, area:providers, provider:fab

#51168 Fix widget error for core hooks
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/connections.py
Labels: area:API, backport-to-v3-0-test

#51319 Add Jake Roach to triage team
  .asf.yaml
Labels: area:dev-tools

#51270 Add conf column into Dag Runs page
  airflow-core/src/airflow/ui/src/i18n/locales/en/dags.json
  airflow-core/src/airflow/ui/src/pages/DagRuns.tsx
Labels: area:UI

#51272 bugfix(breeze/selective-checks): Not Mocked Caplog Warning
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
Labels: area:dev-tools

#51327 CI fix: Remove PytestReturnNotNoneWarning
  airflow-ctl/pyproject.toml
  pyproject.toml
  task-sdk/pyproject.toml
Labels: full tests needed, area:task-sdk, area:airflow-ctl, backport-to-v3-0-test

#51338 Restrict PyTest 8.4.0
  dev/breeze/README.md
  dev/breeze/pyproject.toml
  devel-common/pyproject.toml
Labels: area:dev-tools, backport-to-v3-0-test

#51336 fix(migrations): from 2.7.0 to 3.0.0 for SQLite
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/src/airflow/migrations/utils.py
  airflow-core/src/airflow/migrations/versions/0017_2_9_2_fix_inconsistency_between_ORM_and_migration_files.py
  airflow-core/src/airflow/migrations/versions/0047_3_0_0_add_dag_versioning.py
Labels: area:db-migrations

#51318 Add bundle path to sys.path in task runner
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Labels: type:bug-fix, area:task-sdk, backport-to-v3-0-test

#51295 feat(task_instances): guard ti update state and set task to fail if exception encountered
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
  task-sdk/src/airflow/sdk/api/client.py
Labels: area:API, area:task-sdk

#51347 [v3-0-test] Remove filtering by last dag run state in patch dags endpoint (#51176)
  airflow-core/src/airflow/api_fastapi/common/db/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dags.py
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dags.py
Labels: area:API, type:bug-fix, area:UI

#51357 [v3-0-test] Fix OpenAPI schema for `get_log` API (#50547)
  airflow-core/src/airflow/api_fastapi/common/headers.py
  airflow-core/src/airflow/api_fastapi/common/types.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/log.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_log.py
Labels: area:API, type:bug-fix, area:UI

#51305 fix: Use task owner for TASK level Ownership facet
  providers/openlineage/src/airflow/providers/openlineage/plugins/adapter.py
  providers/openlineage/src/airflow/providers/openlineage/plugins/listener.py
  providers/openlineage/tests/unit/openlineage/plugins/test_adapter.py
  providers/openlineage/tests/unit/openlineage/plugins/test_listener.py
Labels: area:providers, provider:openlineage

#51331 Add missing translations for PL
  airflow-core/src/airflow/ui/src/i18n/locales/pl/dags.json
Labels: area:UI

#51333 Fix EKS token generation
  providers/amazon/src/airflow/providers/amazon/aws/hooks/eks.py
Labels: provider:amazon, area:providers

#51379 Exclude `sqlalchemy-spanner` 1.12.0
  providers/google/README.rst
  providers/google/docs/index.rst
  providers/google/pyproject.toml
Labels: provider:google, area:providers, kind:documentation

#51380 Small corrections to the release proces for documentation publishing
  dev/README_RELEASE_AIRFLOW.md
  dev/README_RELEASE_PROVIDERS.md
Labels: area:dev-tools

#51388 Remove go test parallelism to fix ci
  go-sdk/worker/runner_test.go
Labels: area:go-sdk

#51394 tests: Adjust OL system test after ownership facet changes
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_complex_dag__af2.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_complex_dag__af3.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_simple_dag__af2.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_simple_dag__af3.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_trigger_dag.json
Labels: area:providers, provider:openlineage

#51386 Skip bot users when collecting PR authors while prepping release
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#51407 fix typo in pl translation
  airflow-core/src/airflow/ui/src/i18n/locales/pl/common.json
Labels: area:UI

#51404 feat: Add NominalTimeRunFacet to all OL events
  providers/openlineage/src/airflow/providers/openlineage/plugins/adapter.py
  providers/openlineage/src/airflow/providers/openlineage/plugins/listener.py
  providers/openlineage/tests/system/openlineage/example_openlineage_base_complex_dag.py
  providers/openlineage/tests/system/openlineage/example_openlineage_trigger_dag.py
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_complex_dag__af2.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_complex_dag__af3.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_simple_dag__af2.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_base_simple_dag__af3.json
  providers/openlineage/tests/system/openlineage/expected_events/openlineage_trigger_dag.json
  providers/openlineage/tests/unit/openlineage/plugins/test_adapter.py
  providers/openlineage/tests/unit/openlineage/plugins/test_listener.py
Labels: area:providers, provider:openlineage

#51413 Fix `example_bedrock_batch_inference`
  providers/amazon/tests/system/amazon/aws/example_bedrock_batch_inference.py
Labels: provider:amazon, area:providers

#51363 Refactor(i18n): Modify filter reset key & update zh-TW files
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/connections.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/dags.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/dashboard.json
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsFilters/ResetButton.tsx
Labels: area:UI

#51417 Add more Polish translations
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/components.json
Labels: area:UI

#51418 Handle case where there is no translation file created yet
  airflow-core/src/airflow/ui/src/i18n/check_translations_completeness.py
Labels: area:UI

#51401 Structure endpoint attach downstream asset to task level
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/structure.py
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/structure.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_structure.py
Labels: area:API, backport-to-v3-0-test

#51435 [v2-11-test] Fix automated switching of breeze for Airflow 2 (#51430)
  dev/breeze/src/airflow_breeze/utils/path_utils.py
Labels: area:dev-tools

#51437 [v3-0-test] Fix automated switching of breeze for Airflow 2 (#51430)
  dev/breeze/src/airflow_breeze/utils/path_utils.py
Labels: area:dev-tools

#51438 [v3-0-test] Exclude `sqlalchemy-spanner` 1.12.0 (#51379)
  providers/google/README.rst
  providers/google/docs/index.rst
  providers/google/pyproject.toml
Labels: provider:google, area:providers, kind:documentation

#51446 Fix fab asset compilation hashing script
  .pre-commit-config.yaml
  providers/fab/src/airflow/providers/fab/www/static/dist/743.365a1eb58dd47776b82f.js
  providers/fab/src/airflow/providers/fab/www/static/dist/743.365a1eb58dd47776b82f.js.LICENSE.txt
  providers/fab/src/airflow/providers/fab/www/static/dist/airflowDefaultTheme.ad8dda5568e05025b227.css
  providers/fab/src/airflow/providers/fab/www/static/dist/airflowDefaultTheme.ad8dda5568e05025b227.js
  providers/fab/src/airflow/providers/fab/www/static/dist/flash.b79fc1a41842edaebd1e.css
  providers/fab/src/airflow/providers/fab/www/static/dist/flash.b79fc1a41842edaebd1e.js
  providers/fab/src/airflow/providers/fab/www/static/dist/loadingDots.e0e7d08bf05145b507f1.css
  providers/fab/src/airflow/providers/fab/www/static/dist/loadingDots.e0e7d08bf05145b507f1.js
  providers/fab/src/airflow/providers/fab/www/static/dist/main.86c51bce5f9ddc8b144c.css
  providers/fab/src/airflow/providers/fab/www/static/dist/main.86c51bce5f9ddc8b144c.js
  providers/fab/src/airflow/providers/fab/www/static/dist/main.86c51bce5f9ddc8b144c.js.LICENSE.txt
  providers/fab/src/airflow/providers/fab/www/static/dist/manifest.json
  providers/fab/src/airflow/providers/fab/www/static/dist/materialIcons.64ecd8081995e8cc1b62.css
  providers/fab/src/airflow/providers/fab/www/static/dist/materialIcons.64ecd8081995e8cc1b62.js
  providers/fab/src/airflow/providers/fab/www/static/dist/moment.4dc2e04c449ec8a3b41c.js
  providers/fab/src/airflow/providers/fab/www/static/dist/runtime.086dc01132a20c74861a.js
  providers/fab/www-hash.txt
  scripts/ci/pre_commit/compile_fab_assets.py
Labels: area:providers, area:dev-tools, provider:fab

#51449 [v3-0-test] Remove sqlalchemy-spanner exclusion after it's been yanke…
  scripts/in_container/run_generate_constraints.py
Labels: area:dev-tools

#51441 Automatically classify example dag changes as SKIPPED while preparing providers
  dev/breeze/src/airflow_breeze/prepare_providers/provider_documentation.py
Labels: area:dev-tools

#51399 Add missing COLOR_GREEN variable and correct providers tests success message color
  scripts/ci/testing/run_unit_tests.sh
Labels: area:dev-tools

#51396 Make Cohere provider AF3 compatible
  providers/cohere/src/airflow/providers/cohere/hooks/cohere.py
  providers/cohere/src/airflow/providers/cohere/operators/embedding.py
  providers/cohere/tests/unit/cohere/operators/test_embedding.py
Labels: area:providers, provider:weaviate, provider:cohere, provider:pinecone

#51445 Fix Go cache path to use go-sdk/go.sum
  .github/workflows/ci-amd.yml
  .github/workflows/ci-arm.yml
Labels: area:dev-tools

#51443 Fix http exception when ti not found for extra links API
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/extra_links.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_extra_links.py
Labels: area:API, backport-to-v3-0-test

#51144 [KubernetesPodOperator] Add xcom sidecar terminated detection
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/utils/pod_manager.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, provider:cncf-kubernetes

#51464 Remove logical_date check when validate inlets and outlets
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
Labels: area:API, backport-to-v3-0-test

#51158 [KubernetesPodOperator] Added detection of terminated pod during reattach
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/operators/pod.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/operators/test_pod.py
Labels: area:providers, provider:cncf-kubernetes

#51297 Bring back mapped task extra links test
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_extra_links.py
  devel-common/src/tests_common/test_utils/mock_operators.py
Labels: area:API, backport-to-v3-0-test

#51440 Switch to upstream `Lucas-C/pre-commit-hooks`
  .pre-commit-config.yaml
Labels: area:dev-tools

#51467 Fix Weaviate Cohere Integration System Tests
  providers/weaviate/tests/system/weaviate/example_weaviate_cohere.py
Labels: area:providers, provider:weaviate

#51476 Make ``dag.test`` consistent with ``airflow dags test`` CLI command
  task-sdk/src/airflow/sdk/definitions/dag.py
Labels: area:task-sdk

#51461 Keycloak auth manager. Handle invalid resource
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/keycloak_auth_manager.py
  providers/keycloak/tests/unit/keycloak/auth_manager/test_keycloak_auth_manager.py
Labels: area:providers

#50715 Stop streaming task logs if end of log mark is missing
  airflow-core/src/airflow/utils/log/log_reader.py
  airflow-core/tests/unit/utils/log/test_log_reader.py
Labels: area:logging, type:bug-fix, backport-to-v3-0-test

#51466 Fix Pinecone Cohere Integration System Test
  providers/pinecone/tests/system/pinecone/example_pinecone_cohere.py
Labels: area:providers, provider:pinecone

#51474 docs: Add missing RoleArn in aws authentication section
  providers/hashicorp/docs/secrets-backends/hashicorp-vault.rst
Labels: area:providers, kind:documentation, provider:hashicorp

#51485 Fix redirects for back-references that caused bad generated links
  airflow-core/docs/redirects.txt
Labels: kind:documentation

#51484 Fix structure edges
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/structure.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_structure.py
Labels: area:API, type:bug-fix, backport-to-v3-0-test

#51383 Add `MessageDeduplicationId` support to `SnsPublishOperator`
  providers/amazon/src/airflow/providers/amazon/aws/hooks/sns.py
  providers/amazon/src/airflow/providers/amazon/aws/operators/sns.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_sns.py
  providers/amazon/tests/unit/amazon/aws/operators/test_sns.py
Labels: provider:amazon, area:providers

#51412 Fix ECS reattach
  providers/amazon/src/airflow/providers/amazon/aws/operators/ecs.py
  providers/amazon/tests/system/amazon/aws/example_ecs.py
  providers/amazon/tests/unit/amazon/aws/operators/test_ecs.py
Labels: provider:amazon, area:providers

#51479 Fix Airflow V2 incompatibility in ExternalTaskSensor
  providers/standard/src/airflow/providers/standard/sensors/external_task.py
  providers/standard/tests/unit/standard/sensors/test_external_task_sensor.py
Labels: area:providers, provider:standard

#51497 Update Webserver health check endpoint in document
  airflow-core/docs/administration-and-deployment/logging-monitoring/check-health.rst
Labels: kind:documentation

#51506 Allow pre-release versions when using `--use-airflow-version"
  dev/breeze/doc/images/output_release-management_install-provider-distributions.svg
  dev/breeze/doc/images/output_release-management_install-provider-distributions.txt
  dev/breeze/doc/images/output_release-management_verify-provider-distributions.svg
  dev/breeze/doc/images/output_release-management_verify-provider-distributions.txt
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/doc/images/output_testing_core-tests.svg
  dev/breeze/doc/images/output_testing_core-tests.txt
  dev/breeze/doc/images/output_testing_providers-tests.svg
  dev/breeze/doc/images/output_testing_providers-tests.txt
  dev/breeze/doc/images/output_testing_system-tests.svg
  dev/breeze/doc/images/output_testing_system-tests.txt
  dev/breeze/src/airflow_breeze/commands/common_options.py
  dev/breeze/src/airflow_breeze/commands/developer_commands.py
  dev/breeze/src/airflow_breeze/commands/developer_commands_config.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/commands/release_management_commands_config.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/commands/testing_commands_config.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  scripts/in_container/install_airflow_and_providers.py
Labels: area:dev-tools

#51495 Make duration in 'List Dag Run' page sortable
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_run.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/pages/DagRuns.tsx
  airflow-core/src/airflow/ui/src/utils/datetimeUtils.ts
  airflow-core/src/airflow/ui/src/utils/index.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_assets.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_run.py
  airflow-core/tests/unit/cli/commands/test_asset_command.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  providers/openlineage/tests/unit/openlineage/utils/test_utils.py
Labels: area:API, area:UI

#49906 Support cert and proxies in Vault client session setup
  providers/hashicorp/src/airflow/providers/hashicorp/_internal_client/vault_client.py
  providers/hashicorp/tests/unit/hashicorp/_internal_client/test_vault_client.py
Labels: area:providers, provider:hashicorp

#51498 Add Dag Pages to German
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/de/README.md
  airflow-core/src/airflow/ui/src/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/components.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/dag.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/dags.json
Labels: area:UI

#51515 Bump minimal Kubernetes version to 1.30 in the Helm chart
  airflow-core/tests/unit/charts/helm_template_generator.py
  chart/README.md
  chart/docs/index.rst
  chart/docs/quick-start.rst
  helm-tests/tests/chart_utils/helm_template_generator.py
Labels: area:helm-chart, kind:documentation

#51507 Automatically invalidate cloudfront cache when publishing docs
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
  dev/breeze/src/airflow_breeze/utils/publish_docs_to_s3.py
Labels: area:dev-tools

#51527 Update xcom_pull usage for google system tests
  providers/google/tests/system/google/cloud/cloud_batch/example_cloud_batch.py
  providers/google/tests/system/google/cloud/cloud_run/example_cloud_run.py
  providers/google/tests/system/google/cloud/gcs/example_gcs_to_gcs.py
Labels: provider:google, area:providers

#51343 Add extra fields and hide unnecessary fields for LevelDB
  providers/google/src/airflow/providers/google/leveldb/hooks/leveldb.py
Labels: provider:google, area:providers

#51528 Refactor `patch_task_instance` logic
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/task_instances.py
  airflow-core/src/airflow/api_fastapi/core_api/services/public/task_instances.py
Labels: area:API

#51038 AIP-38 feat: add Hebrew language UI
  .github/CODEOWNERS
  .pre-commit-config.yaml
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/he/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/he/dashboard.json
Labels: area:dev-tools, area:UI

#51539 Dont render empty run config
  airflow-core/src/airflow/ui/src/pages/DagRuns.tsx
Labels: area:UI

#51543 Update `Time` as always LTR
  airflow-core/src/airflow/ui/src/components/Assets/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/components/Time.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/HistoricalMetrics/HistoricalMetrics.tsx
Labels: type:misc/internal, area:UI

#51540 Add missing PL translation files.
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/components.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/dag.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/dashboard.json
Labels: area:UI

#51329 Tooling to automatically generate mocks for the Go SDK
  .pre-commit-config.yaml
  .rat-excludes
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  go-sdk/.mockery.yml
  go-sdk/go.mod
  go-sdk/go.sum
  go-sdk/pkg/api/mocks/AssetEventsClient.go
  go-sdk/pkg/api/mocks/AssetsClient.go
  go-sdk/pkg/api/mocks/ClientInterface.go
  go-sdk/pkg/api/mocks/ConnectionsClient.go
  go-sdk/pkg/api/mocks/DagRunsClient.go
  go-sdk/pkg/api/mocks/TaskInstancesClient.go
  go-sdk/pkg/api/mocks/TaskReschedulesClient.go
  go-sdk/pkg/api/mocks/VariablesClient.go
  go-sdk/pkg/api/mocks/XcomsClient.go
  go-sdk/worker/mocks/Registry.go
  go-sdk/worker/mocks/Task.go
  go-sdk/worker/mocks/Worker.go
  go-sdk/worker/runner_test.go
Labels: area:dev-tools, area:go-sdk

#51536 Sync python client readme
  clients/python/README.md
Labels: area:API, backport-to-v3-0-test

#50192 [KubernetesPodOperator] Reads Kubernetes events and writes them into log
  kubernetes-tests/tests/kubernetes_tests/test_kubernetes_pod_operator.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/operators/pod.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/utils/pod_manager.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/decorators/test_kubernetes.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/decorators/test_kubernetes_cmd.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/decorators/test_kubernetes_commons.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/operators/test_pod.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/operators/test_spark_kubernetes.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/utils/test_pod_manager.py
Labels: area:providers, provider:cncf-kubernetes, log exception

#51509 Add config setting to control exposing stacktraces
  airflow-core/src/airflow/api_fastapi/common/exceptions.py
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/tests/unit/api_fastapi/common/test_exceptions.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_connections.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dag_run.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_pools.py
Labels: area:API, area:ConfigTemplates

#51481 Structure endpoint task level resolved aliases
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/structure.py
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/structure.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_structure.py
Labels: area:API, type:new-feature, backport-to-v3-0-test

#51516 Fix bad width w/no options in multi-select DAG parameter
  airflow/www/static/js/trigger.js
Labels: legacy ui, backport-to-v2-11-test

#51577 Pass dag_run_conf form value to backfill payload.
  airflow-core/src/airflow/ui/src/queries/useCreateBackfill.ts
Labels: backport-to-v3-0-test

#49587 Minor fixes in `docs/authoring-and-scheduling/timetable.rst`
  airflow-core/docs/authoring-and-scheduling/timetable.rst
Labels: kind:documentation

#51606 Exclude libcst 1.8.1 for Python 3.9
  .pre-commit-config.yaml
  airflow-core/pyproject.toml
Labels: backport-to-v3-0-test

#51599 Use Connection Hook Names for Dropdown instead of connection IDs
  airflow-core/src/airflow/ui/src/pages/Connections/ConnectionForm.tsx
  airflow-core/src/airflow/ui/src/queries/useConnectionTypeMeta.ts
Labels: area:UI, backport-to-v3-0-test

#51542 fix: make query_ids in SnowflakeSqlApiOperator in deferrable mode consistent
  providers/snowflake/src/airflow/providers/snowflake/hooks/snowflake_sql_api.py
  providers/snowflake/src/airflow/providers/snowflake/operators/snowflake.py
  providers/snowflake/src/airflow/providers/snowflake/triggers/snowflake_trigger.py
  providers/snowflake/tests/unit/snowflake/hooks/test_snowflake_sql_api.py
  providers/snowflake/tests/unit/snowflake/operators/test_snowflake.py
  providers/snowflake/tests/unit/snowflake/triggers/test_snowflake.py
Labels: area:providers, provider:snowflake

#51153 Docs setup for the Task SDK
  airflow-core/docs/index.rst
  airflow-core/src/airflow/example_dags/example_asset_alias.py
  airflow-core/src/airflow/example_dags/example_assets.py
  airflow-core/src/airflow/example_dags/example_dag_decorator.py
  airflow-core/src/airflow/example_dags/example_dynamic_task_mapping.py
  airflow-core/src/airflow/example_dags/example_setup_teardown_taskflow.py
  airflow-core/src/airflow/example_dags/example_simplest_dag.py
  airflow-core/src/airflow/example_dags/example_task_group_decorator.py
  airflow-core/src/airflow/example_dags/example_xcomargs.py
  dev/README_RELEASE_AIRFLOW.md
  dev/breeze/doc/03_developer_tasks.rst
  dev/breeze/doc/images/output_build-docs.svg
  dev/breeze/doc/images/output_build-docs.txt
  dev/breeze/doc/images/output_release-management_add-back-references.svg
  dev/breeze/doc/images/output_release-management_add-back-references.txt
  dev/breeze/doc/images/output_release-management_publish-docs.svg
  dev/breeze/doc/images/output_release-management_publish-docs.txt
  dev/breeze/doc/images/output_setup.svg
  dev/breeze/doc/images/output_workflow-run_publish-docs.svg
  dev/breeze/doc/images/output_workflow-run_publish-docs.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  devel-common/src/sphinx_exts/docs_build/docs_builder.py
  devel-common/src/sphinx_exts/docs_build/spelling_checks.py
  devel-common/src/sphinx_exts/exampleinclude.py
  docs/README.md
  docs/spelling_wordlist.txt
  task-sdk/docs/.gitignore
  task-sdk/docs/api.rst
  task-sdk/docs/conf.py
  task-sdk/docs/examples.rst
  task-sdk/docs/index.rst
  task-sdk/pyproject.toml
  task-sdk/src/airflow/sdk/__init__.pyi
  task-sdk/src/airflow/sdk/definitions/context.py
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/src/airflow/sdk/io/path.py
  task-sdk/tests/test_docs_inventory.py
  task-sdk/tests/test_public_api.py
Labels: area:dev-tools, kind:documentation, area:task-sdk

#51567 Refactor `structuredLog` structure and layout
  airflow-core/src/airflow/ui/src/components/renderStructuredLog.tsx
Labels: area:UI, backport-to-v3-0-test

#51558 i18n: Add translations for Assets, Browse, and Admin pages
  airflow-core/src/airflow/ui/src/components/FlexibleForm/index.tsx
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/de/admin.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/connections.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/admin.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/assets.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/browse.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/connections.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/admin.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/connections.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/admin.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/assets.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/browse.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/connections.json
  airflow-core/src/airflow/ui/src/pages/AssetsList/AssetsList.tsx
  airflow-core/src/airflow/ui/src/pages/AssetsList/DependencyPopover.tsx
  airflow-core/src/airflow/ui/src/pages/Configs/Configs.tsx
  airflow-core/src/airflow/ui/src/pages/Connections/AddConnectionButton.tsx
  airflow-core/src/airflow/ui/src/pages/Connections/ConnectionForm.tsx
  airflow-core/src/airflow/ui/src/pages/Connections/Connections.tsx
  airflow-core/src/airflow/ui/src/pages/Connections/DeleteConnectionButton.tsx
  airflow-core/src/airflow/ui/src/pages/Connections/DeleteConnectionsButton.tsx
  airflow-core/src/airflow/ui/src/pages/Connections/EditConnectionButton.tsx
  airflow-core/src/airflow/ui/src/pages/Connections/TestConnectionButton.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/PluginImportErrors.tsx
  airflow-core/src/airflow/ui/src/pages/Dashboard/Stats/PluginImportErrorsModal.tsx
  airflow-core/src/airflow/ui/src/pages/Events/Events.tsx
  airflow-core/src/airflow/ui/src/pages/Plugins.tsx
  airflow-core/src/airflow/ui/src/pages/Pools/AddPoolButton.tsx
  airflow-core/src/airflow/ui/src/pages/Pools/DeletePoolButton.tsx
  airflow-core/src/airflow/ui/src/pages/Pools/EditPoolButton.tsx
  airflow-core/src/airflow/ui/src/pages/Pools/PoolBarCard.tsx
  airflow-core/src/airflow/ui/src/pages/Pools/PoolForm.tsx
  airflow-core/src/airflow/ui/src/pages/Pools/Pools.tsx
  airflow-core/src/airflow/ui/src/pages/Providers.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/DeleteVariablesButton.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/ImportVariablesButton.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/ImportVariablesForm.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/ManageVariable/AddVariableButton.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/ManageVariable/DeleteVariableButton.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/ManageVariable/EditVariableButton.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/ManageVariable/VariableForm.tsx
  airflow-core/src/airflow/ui/src/pages/Variables/Variables.tsx
  airflow-core/src/airflow/ui/src/pages/XCom/XCom.tsx
Labels: area:UI, area:translations, translation:default, translation:de, translation:pl, translation:zh-TW

#51514 airflowctl: convert to `BulkResponse` in variables.import
  airflow-ctl/src/airflowctl/api/operations.py
  airflow-ctl/src/airflowctl/ctl/commands/variable_command.py
  airflow-ctl/tests/airflow_ctl/api/test_operations.py
  airflow-ctl/tests/airflow_ctl/ctl/commands/test_variable_command.py
Labels: area:airflow-ctl

#51494 Fix serialization of DeadlineAlert and add unit tests to prevent regr…
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/models/deadline.py
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/src/airflow/utils/decorators.py
  airflow-core/tests/unit/models/test_dagrun.py
  airflow-core/tests/unit/models/test_deadline.py
  airflow-core/tests/unit/serialization/test_serialized_objects.py
  task-sdk/src/airflow/sdk/definitions/deadline.py
  task-sdk/tests/task_sdk/definitions/test_deadline.py
Labels: area:serialization, area:task-sdk

#51565 Move import error deletion migration to separate file
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/docs/migrations-ref.rst
  airflow-core/src/airflow/migrations/versions/0050_3_0_0_add_dagbundlemodel.py
  airflow-core/src/airflow/migrations/versions/0069_3_0_3_delete_import_errors.py
  airflow-core/src/airflow/migrations/versions/0070_3_1_0_add_deadline_to_dag.py
  airflow-core/src/airflow/migrations/versions/0071_3_1_0_change_deadline_to_utc.py
  airflow-core/src/airflow/migrations/versions/0072_3_1_0_change_ti_dag_version_fk_to_restrict.py
  airflow-core/src/airflow/utils/db.py
Labels: kind:documentation, area:db-migrations

#51637 Fix PR number on 3.0.2 release note entry
  RELEASE_NOTES.rst
  reproducible_build.yaml
Labels: changelog:skip, backport-to-v3-0-test

#51532 Upgrade ruff to latest version and fix check_import_in_providers
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  devel-common/pyproject.toml
  scripts/ci/pre_commit/check_imports_in_providers.py
  scripts/in_container/in_container_utils.py
  scripts/in_container/run_check_imports_in_providers.py
  task-sdk/pyproject.toml
Labels: area:dev-tools, area:task-sdk

#51643 Remove unused code from ci-image-commands
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
Labels: area:dev-tools

#51292 Introduce internationalization (i18n) policy
  airflow-core/src/airflow/ui/src/i18n/README.md
  dev/README_RELEASE_AIRFLOW.md
Labels: area:dev-tools, area:UI

#51627 Explicitly close log file descriptor in the supervise function
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
Labels: affected_version:3.0

#51625 Move asset events to its own tab
  airflow-core/src/airflow/ui/src/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/src/pages/Run/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Details.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Run.tsx
  airflow-core/src/airflow/ui/src/pages/Task/Task.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Details.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/TaskInstance.tsx
  airflow-core/src/airflow/ui/src/router.tsx
Labels: backport-to-v3-0-test

#51655 [v3-0-test] Move asset events to its own tab (#51625)
  airflow-core/src/airflow/ui/src/pages/Run/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Details.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Run.tsx
  airflow-core/src/airflow/ui/src/pages/Task/Task.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Details.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/TaskInstance.tsx
  airflow-core/src/airflow/ui/src/router.tsx
Labels: area:UI

#51656 Fix docs publishing for task-sdk
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/docs_publisher.py
  dev/breeze/src/airflow_breeze/utils/path_utils.py
Labels: area:dev-tools

#51658 Fix asset events table title
  airflow-core/src/airflow/ui/src/components/Assets/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/Overview.tsx
  airflow-core/src/airflow/ui/src/pages/Run/AssetEvents.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/AssetEvents.tsx
Labels: area:UI

#51674 Fix translations for toasts
  airflow-core/src/airflow/ui/src/components/Clear/Run/ClearRunButton.tsx
  airflow-core/src/airflow/ui/src/components/Clear/Run/ClearRunDialog.tsx
  airflow-core/src/airflow/ui/src/components/Clear/TaskInstance/ClearTaskInstanceButton.tsx
  airflow-core/src/airflow/ui/src/components/Clear/TaskInstance/ClearTaskInstanceDialog.tsx
  airflow-core/src/airflow/ui/src/components/DeleteDialog.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/Run/MarkRunAsButton.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/Run/MarkRunAsDialog.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkTaskInstanceAsButton.tsx
  airflow-core/src/airflow/ui/src/components/MarkAs/TaskInstance/MarkTaskInstanceAsDialog.tsx
  airflow-core/src/airflow/ui/src/i18n/locales/en/admin.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/components.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/dag.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/dags.json
  airflow-core/src/airflow/ui/src/pages/DeleteRunButton.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstances/DeleteTaskInstanceButton.tsx
  airflow-core/src/airflow/ui/src/queries/useAddConnection.ts
  airflow-core/src/airflow/ui/src/queries/useAddPool.ts
  airflow-core/src/airflow/ui/src/queries/useAddVariable.ts
  airflow-core/src/airflow/ui/src/queries/useBulkDeleteConnections.tsx
  airflow-core/src/airflow/ui/src/queries/useBulkDeleteVariables.ts
  airflow-core/src/airflow/ui/src/queries/useClearRun.ts
  airflow-core/src/airflow/ui/src/queries/useClearTaskInstances.ts
  airflow-core/src/airflow/ui/src/queries/useConnectionTypeMeta.ts
  airflow-core/src/airflow/ui/src/queries/useCreateBackfill.ts
  airflow-core/src/airflow/ui/src/queries/useDagParams.ts
  airflow-core/src/airflow/ui/src/queries/useDagParsing.ts
  airflow-core/src/airflow/ui/src/queries/useDeleteConnection.ts
  airflow-core/src/airflow/ui/src/queries/useDeleteDag.ts
  airflow-core/src/airflow/ui/src/queries/useDeleteDagRun.ts
  airflow-core/src/airflow/ui/src/queries/useDeletePool.ts
  airflow-core/src/airflow/ui/src/queries/useDeleteTaskInstance.ts
  airflow-core/src/airflow/ui/src/queries/useDeleteVariable.ts
  airflow-core/src/airflow/ui/src/queries/useEditConnection.tsx
  airflow-core/src/airflow/ui/src/queries/useEditPool.ts
  airflow-core/src/airflow/ui/src/queries/useEditVariable.ts
  airflow-core/src/airflow/ui/src/queries/useImportVariables.ts
  airflow-core/src/airflow/ui/src/queries/usePatchDagRun.ts
  airflow-core/src/airflow/ui/src/queries/usePatchTaskInstance.ts
  airflow-core/src/airflow/ui/src/queries/useTrigger.ts
Labels: area:UI, area:translations, translation:default

#51669 Allow creation of empty files on GCS
  providers/google/src/airflow/providers/google/cloud/hooks/gcs.py
  providers/google/tests/unit/google/cloud/hooks/test_gcs.py
Labels: provider:google, area:providers

#51678 docs: Fix grammar in task-sdk-tests command description
  dev/breeze/doc/05_test_commands.rst
Labels: area:dev-tools

#51679 Add Hebrew translation for browse.json
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/he/browse.json
Labels: area:UI, area:translations, translation:he

#51691 KeycloakAuthManager - Create CLI to create resources in KeyCloak
  .pre-commit-config.yaml
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/cli/__init__.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/cli/commands.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/cli/definition.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/constants.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/keycloak_auth_manager.py
  providers/keycloak/src/airflow/providers/keycloak/auth_manager/routes/login.py
  providers/keycloak/tests/unit/keycloak/auth_manager/cli/__init__.py
  providers/keycloak/tests/unit/keycloak/auth_manager/cli/test_commands.py
  providers/keycloak/tests/unit/keycloak/auth_manager/cli/test_definition.py
  providers/keycloak/tests/unit/keycloak/auth_manager/routes/test_login.py
  providers/keycloak/tests/unit/keycloak/auth_manager/test_constants.py
  providers/keycloak/tests/unit/keycloak/auth_manager/test_keycloak_auth_manager.py
Labels: provider:amazon, area:providers, area:dev-tools, area:API, provider:keycloak

#51335 Add TJaniF to German Translation as Owner
  .github/CODEOWNERS
Labels: area:dev-tools, translation:de

#51715 Update doc to highlight the statically coded hybrid executors are no longer supported in Airflow 3.0.0+
  airflow-core/docs/core-concepts/executor/index.rst
  providers/celery/docs/celery_kubernetes_executor.rst
  providers/cncf/kubernetes/docs/local_kubernetes_executor.rst
Labels: area:providers, kind:documentation, provider:cncf-kubernetes, provider:celery, area:Executors-core

#50556 Transition of `lint` airflowctl config command
  airflow-ctl/docs/images/command_hashes.txt
  airflow-ctl/docs/images/output_config.svg
  airflow-ctl/src/airflowctl/ctl/cli_config.py
  airflow-ctl/src/airflowctl/ctl/commands/config_command.py
  airflow-ctl/tests/airflow_ctl/ctl/commands/test_config_command.py
Labels: area:airflow-ctl

#51720 Edge list worker cli command to list active job metrics
  providers/edge3/src/airflow/providers/edge3/cli/edge_command.py
  providers/edge3/tests/unit/edge3/cli/test_worker.py
Labels: area:providers, provider:edge

#51725 Optimize ui lint pre-commits
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  scripts/ci/pre_commit/common_precommit_utils.py
  scripts/ci/pre_commit/compile_lint_ui.py
  scripts/ci/pre_commit/ts_compile_lint_simple_auth_manager_ui.py
  scripts/ci/pre_commit/ts_compile_lint_ui.py
Labels: area:dev-tools, backport-to-v3-0-test

#51717 Fix: Remove asChild from <Link> to prevent children error in DagOwners
  airflow-core/src/airflow/ui/src/pages/DagsList/DagOwners.tsx
Labels: area:UI

#51729 [v3-0-test] Optimize ui lint pre-commits (#51725)
  .pre-commit-config.yaml
  contributing-docs/08_static_code_checks.rst
  dev/breeze/doc/images/output_static-checks.svg
  dev/breeze/doc/images/output_static-checks.txt
  dev/breeze/src/airflow_breeze/pre_commit_ids.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
  scripts/ci/pre_commit/common_precommit_utils.py
  scripts/ci/pre_commit/compile_lint_ui.py
  scripts/ci/pre_commit/ts_compile_lint_simple_auth_manager_ui.py
  scripts/ci/pre_commit/ts_compile_lint_ui.py
Labels: area:dev-tools

#51722 Replace "Directly" with "Manually" in assets.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/assets.json
Labels: area:UI, area:translations, translation:default

#51716 Extend command column in the edge_job table to accomodate more chars
  providers/edge3/src/airflow/providers/edge3/executors/edge_executor.py
  providers/edge3/src/airflow/providers/edge3/models/edge_job.py
Labels: area:providers, provider:edge

#51733 Prevent legacy hybrid executors to be running in Airflow 3
  providers/celery/src/airflow/providers/celery/executors/celery_kubernetes_executor.py
  providers/celery/tests/unit/celery/executors/test_celery_kubernetes_executor.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/local_kubernetes_executor.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/executors/test_local_kubernetes_executor.py
Labels: area:providers, provider:cncf-kubernetes, provider:celery

#51734 Do not allow semicolons in `CopyFromExternalStageToSnowflakeOperator` fields
  providers/snowflake/src/airflow/providers/snowflake/transfers/copy_into_snowflake.py
  providers/snowflake/tests/unit/snowflake/transfers/test_copy_into_snowflake.py
Labels: area:providers, provider:snowflake

#51740 Fix typos in `contributing-docs/11_documentation_building.rst`
  contributing-docs/11_documentation_building.rst
Labels: area:dev-tools

#51743 Complete i18n assets.json in Hebrew
  airflow-core/src/airflow/ui/src/i18n/locales/he/assets.json
Labels: area:UI, area:translations, translation:he

#51745 Complete i18n admin.json in Hebrew
  airflow-core/src/airflow/ui/src/i18n/locales/he/admin.json
Labels: area:UI, area:translations, translation:he

#51755 Do not modify openapi-gen generated files by pre-commits
  .pre-commit-config.yaml
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/index.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/infiniteQueries.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/index.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/infiniteQueries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  scripts/ci/pre_commit/ts_compile_lint_simple_auth_manager_ui.py
  scripts/ci/pre_commit/ts_compile_lint_ui.py
Labels: area:dev-tools, area:API, area:UI, backport-to-v3-0-test

#51753 UI(i18n): Modify tw translations
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/common.json
Labels: area:UI, area:translations, translation:zh-TW

#51698 AIP-86: Add `deadline` to `DagResponse`
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/deadline.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/_private_ui.yaml
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v2-rest-api-generated.yaml
  airflow-core/src/airflow/cli/commands/dag_command.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/pages/DagsList/DagCard.test.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_dags.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
Labels: area:API, area:UI, area:airflow-ctl

#51765 Remove "INCLUDE_NOT_READY_PROVIDERS" from publishing to s3
  .github/workflows/publish-docs-to-s3.yml
Labels: area:dev-tools

#51764 Make notes in UI visible directly in header
  airflow-core/src/airflow/ui/src/components/EditableMarkdownArea.tsx
  airflow-core/src/airflow/ui/src/components/EditableMarkdownButton.tsx
  airflow-core/src/airflow/ui/src/pages/Run/Header.tsx
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Header.tsx
Labels: area:UI

#51766 Fix Edge Worker label in tmux
  scripts/in_container/bin/run_tmux
Labels: area:dev-tools

#51757 [v3-0-test] Do not modify openapi-gen generated files by pre-commits …
  .pre-commit-config.yaml
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/index.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/infiniteQueries.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/index.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/infiniteQueries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  scripts/ci/pre_commit/ts_compile_lint_simple_auth_manager_ui.py
  scripts/ci/pre_commit/ts_compile_lint_ui.py
Labels: area:dev-tools, area:API, area:UI

#51308 Update airflow core path in contribution docs
  airflow-core/docs/core-concepts/debug.rst
  contributing-docs/14_metadata_database_updates.rst
Labels: area:dev-tools, kind:documentation

#51752 Mocked time.sleep to avoid actual sleep time
  providers/amazon/tests/unit/amazon/aws/hooks/test_elasticache_replication_group.py
Labels: provider:amazon, area:providers

#51767 docs: Correct TaskFlow capitalization in tutorial documentation
  airflow-core/docs/tutorial/taskflow.rst
Labels: kind:documentation

#51769 Minor pre-commit fixes
  providers/common/sql/src/airflow/providers/common/sql/hooks/sql.py
  providers/common/sql/src/airflow/providers/common/sql/hooks/sql.pyi
  providers/git/docs/bundles/index.rst
Labels: area:providers, kind:documentation, provider:common-sql, provider:git

#51776 Correctly assert `callCount` in go tests
  go-sdk/worker/runner_test.go
Labels: area:go-sdk

#51774 Move MESSAGE_QUEUE_PROVIDERS array to where it belongs - to msq_queue
  providers/common/messaging/src/airflow/providers/common/messaging/providers/__init__.py
  providers/common/messaging/src/airflow/providers/common/messaging/triggers/msg_queue.py
  providers/common/messaging/tests/unit/common/messaging/triggers/test_msg_queue.py
Labels: area:providers, provider:common-messaging

#51746 Enable extra_options even when extra not defined for HttpHook.run
  providers/http/src/airflow/providers/http/hooks/http.py
  providers/http/tests/unit/http/hooks/test_http.py
  providers/http/tests/unit/http/operators/test_http.py
  providers/http/tests/unit/http/sensors/test_http.py
Labels: area:providers, provider:http

#51782 Remove outdated code comments from task runner
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
Labels: area:task-sdk, backport-to-v3-0-test

#51799 Chart: Always deploy jwt secret
  chart/templates/_helpers.yaml
  chart/templates/secrets/jwt-secret.yaml
  helm-tests/tests/helm_tests/airflow_aux/test_basic_helm_chart.py
  helm-tests/tests/helm_tests/security/test_rbac.py
Labels: area:helm-chart

#51796 Use constant for offset param
  airflow-core/src/airflow/ui/src/pages/DagsList/DagsFilters/DagsFilters.tsx
Labels: area:UI

#51773 Fix type import to AbstractOperator
  providers/openlineage/src/airflow/providers/openlineage/utils/utils.py
  task-sdk/src/airflow/sdk/definitions/_internal/node.py
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/src/airflow/sdk/definitions/taskgroup.py
Labels: area:task-sdk

#51454 fix: Helm execution_api_server_url when base_url has a subpath
  chart/templates/configmaps/configmap.yaml
  helm-tests/tests/helm_tests/airflow_aux/test_configmap.py
Labels: area:helm-chart

#50182 Propagate AssetEvent through context when Consumer DAG triggering on AssetAlias
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
Labels: area:Scheduler

#51822 Set proper version of the default images in the docs
  docker-stack-docs/build.rst
Labels: backport-to-v3-0-test

#51786 Remove unnecessary logs while retrieving connections / variables
  task-sdk/src/airflow/sdk/execution_time/context.py
Labels: area:task-sdk, backport-to-v3-0-test

#51790 Modify log info translation & Small fix for i18n imports
  airflow-core/src/airflow/ui/src/components/Clear/TaskInstance/ClearTaskInstanceButton.tsx
  airflow-core/src/airflow/ui/src/components/renderStructuredLog.tsx
  airflow-core/src/airflow/ui/src/i18n/locales/de/components.json
  airflow-core/src/airflow/ui/src/i18n/locales/en/components.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/components.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/zh-TW/components.json
  airflow-core/src/airflow/ui/src/pages/Dag/Code/Code.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/FailedLogs.tsx
Labels: area:UI, area:translations, translation:default, translation:de, translation:pl, translation:zh-TW

#51842 Add Github client setup step to release manager guide
  dev/README.md
Labels: area:dev-tools

#51713 Close German translation gaps for full UI translation
  airflow-core/src/airflow/ui/src/i18n/config.ts
  airflow-core/src/airflow/ui/src/i18n/locales/de/admin.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/assets.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/browse.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/components.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/dag.json
  airflow-core/src/airflow/ui/src/i18n/locales/de/dags.json
Labels: area:UI, area:translations, translation:de

#51797 Add more missing PL translations
  airflow-core/src/airflow/ui/src/i18n/locales/pl/admin.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/common.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/components.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/dag.json
  airflow-core/src/airflow/ui/src/i18n/locales/pl/dags.json
Labels: area:UI, area:translations, translation:pl
