Repository apache/airflow, pull requests merged in 2025-04, with the labels that each got.

#48604 Exclude 2.3.3 of pymssql
  generated/provider_dependencies.json
  providers/microsoft/mssql/README.rst
  providers/microsoft/mssql/pyproject.toml
  providers/microsoft/mssql/src/airflow/providers/microsoft/mssql/get_provider_info.py
Labels: area:providers, provider:microsoft-mssql

#48602 Remove outdated comment
  airflow-core/tests/unit/api_fastapi/execution_api/conftest.py
Labels: area:API

#40795 Fix _get_count in sensor_helper.py
  providers/standard/src/airflow/providers/standard/utils/sensor_helper.py
  providers/tests/standard/utils/test_sensor_helper.py
Labels: area:providers, provider:standard

#48603 Document that the triggerer does not load dag bundles
  airflow-core/docs/authoring-and-scheduling/deferring.rst
  airflow-core/newsfragments/aip-66.significant.rst
Labels: AIP-66: DAG Bundle/Manifest

#48528 Nuking SequentialExecutor from the in-tree executors
  airflow-core/docs/administration-and-deployment/logging-monitoring/logging-tasks.rst
  airflow-core/docs/administration-and-deployment/plugins.rst
  airflow-core/docs/administration-and-deployment/production-deployment.rst
  airflow-core/docs/core-concepts/executor/index.rst
  airflow-core/docs/core-concepts/executor/local.rst
  airflow-core/docs/core-concepts/executor/sequential.rst
  airflow-core/docs/howto/set-config.rst
  airflow-core/docs/howto/set-up-database.rst
  airflow-core/docs/redirects.txt
  airflow-core/docs/start.rst
  airflow-core/src/airflow/cli/commands/standalone_command.py
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/executors/executor_constants.py
  airflow-core/src/airflow/executors/executor_loader.py
  airflow-core/src/airflow/executors/sequential_executor.py
  airflow-core/tests/unit/cli/commands/test_scheduler_command.py
  airflow-core/tests/unit/cli/commands/test_standalone_command.py
  airflow-core/tests/unit/cli/test_cli_parser.py
  airflow-core/tests/unit/core/test_configuration.py
  airflow-core/tests/unit/executors/test_base_executor.py
  airflow-core/tests/unit/executors/test_sequential_executor.py
  airflow-core/tests/unit/jobs/test_base_job.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  dev/breeze/doc/images/output_k8s_deploy-airflow.svg
  dev/breeze/doc/images/output_k8s_deploy-airflow.txt
  dev/breeze/doc/images/output_k8s_run-complete-tests.svg
  dev/breeze/doc/images/output_k8s_run-complete-tests.txt
  dev/breeze/doc/images/output_k8s_shell.svg
  dev/breeze/doc/images/output_k8s_shell.txt
  dev/breeze/doc/images/output_k8s_tests.svg
  dev/breeze/doc/images/output_k8s_tests.txt
  dev/breeze/doc/images/output_shell.svg
  dev/breeze/doc/images/output_shell.txt
  dev/breeze/doc/images/output_start-airflow.svg
  dev/breeze/doc/images/output_start-airflow.txt
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/docker_command_utils.py
  helm_tests/airflow_aux/test_basic_helm_chart.py
  scripts/ci/pre_commit/common_precommit_utils.py
Labels: area:Scheduler, area:dev-tools, area:logging, area:Executors-core

#48600 Add basic dag-bundles docs; webserver->api server in security model
  airflow-core/docs/administration-and-deployment/dag-bundles.rst
  airflow-core/docs/administration-and-deployment/index.rst
  airflow-core/docs/core-concepts/dags.rst
  airflow-core/docs/security/security_model.rst
Labels: AIP-66: DAG Bundle/Manifest

#48606 don't delete `.vscode/` when running `breeze doctor`
  dev/breeze/src/airflow_breeze/commands/main_command.py
Labels: area:dev-tools

#48613 Validate dag_id and group_id in sdk
  airflow-core/tests/unit/models/test_backfill.py
  task-sdk/src/airflow/sdk/definitions/_internal/node.py
  task-sdk/src/airflow/sdk/definitions/dag.py
  task-sdk/src/airflow/sdk/definitions/taskgroup.py
  task-sdk/tests/task_sdk/definitions/test_dag.py
  task-sdk/tests/task_sdk/definitions/test_taskgroup.py
Labels: area:task-sdk

#48572 Add `select_from` to the min serialize check query
  airflow-core/src/airflow/models/serialized_dag.py
  airflow-core/tests/unit/models/test_serialized_dag.py
Labels: area:serialization

#48597 Issue refrehsed Execution API JWT to tasks if their current token is expiring
  airflow-core/src/airflow/api_fastapi/auth/tokens.py
  airflow-core/src/airflow/api_fastapi/execution_api/app.py
  airflow-core/src/airflow/api_fastapi/execution_api/deps.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/__init__.py
  airflow-core/tests/unit/api_fastapi/conftest.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_router.py
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/tests/task_sdk/api/test_client.py
Labels: area:API, area:task-sdk

#48610 Introducing worker configs for task sdk
  airflow-core/src/airflow/config_templates/config.yml
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
Labels: area:task-sdk

#48625 Mark the connection_and_xcom test as xfail until we have time to fix it
  airflow-core/tests/unit/jobs/test_triggerer_job.py
Labels: area:Triggerer

#48620 Update description for integration tests
  contributing-docs/testing/integration_tests.rst
Labels: area:dev-tools

#48614 Ensure that jwt token is redacted in executor logs
  task-sdk/src/airflow/sdk/log.py
  task-sdk/tests/task_sdk/log/test_log.py
Labels: area:task-sdk

#48626 Change default dependencies to tasks only
  airflow-core/src/airflow/ui/src/layouts/Details/Graph/Graph.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/PanelButtons.tsx
Labels: area:UI

#48450 UI Alerts on Dashboard
  airflow-core/src/airflow/api_fastapi/common/types.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/ui/config.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/config.py
  airflow-core/src/airflow/settings.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/pages/Dashboard/Dashboard.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_config.py
Labels: area:API, area:UI

#48616 test(k8s): remove duplicate args in pytest runs of 'kubernetes_tests'
  dev/breeze/src/airflow_breeze/commands/kubernetes_commands.py
Labels: area:dev-tools

#48030 docs(deferring): Example of deferring multiple times
  airflow-core/docs/authoring-and-scheduling/deferring.rst
Labels: kind:documentation

#43777 Update min version of Celery library to 5.5.0
  generated/provider_dependencies.json
  providers/celery/README.rst
  providers/celery/pyproject.toml
  providers/celery/src/airflow/providers/celery/get_provider_info.py
Labels: area:providers, provider:celery

#48245 Fix #47919: get_uri() is not implemented in task sdk
  task-sdk/src/airflow/sdk/definitions/connection.py
  task-sdk/tests/task_sdk/definitions/test_connections.py
Labels: area:task-sdk

#47736 feat: Send dedicated OpenLineage events for each Snowflake query_id
  airflow-core/tests/unit/always/test_project_structure.py
  generated/provider_dependencies.json
  providers/snowflake/README.rst
  providers/snowflake/pyproject.toml
  providers/snowflake/src/airflow/providers/snowflake/get_provider_info.py
  providers/snowflake/src/airflow/providers/snowflake/hooks/snowflake.py
  providers/snowflake/src/airflow/providers/snowflake/utils/openlineage.py
  providers/snowflake/src/airflow/providers/snowflake/version_compat.py
  providers/snowflake/tests/unit/snowflake/hooks/test_snowflake.py
  providers/snowflake/tests/unit/snowflake/utils/test_openlineage.py
Labels: area:providers, provider:snowflake

#48638 Fix 0 of 0 assets bug
  airflow-core/src/airflow/ui/src/pages/DagsList/AssetSchedule.tsx
Labels: area:UI

#48592 Make datetime objects in Context as Pendulum objects
  airflow-core/tests/unit/models/test_taskinstance.py
  providers/openlineage/tests/unit/openlineage/plugins/test_listener.py
  providers/standard/src/airflow/providers/standard/operators/datetime.py
  providers/standard/src/airflow/providers/standard/operators/weekday.py
  task-sdk/pyproject.toml
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
  task-sdk/src/airflow/sdk/bases/notifier.py
  task-sdk/src/airflow/sdk/definitions/context.py
  task-sdk/src/airflow/sdk/execution_time/comms.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/src/airflow/sdk/types.py
  task-sdk/tests/task_sdk/execution_time/test_context.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Labels: area:task-sdk

#48107 Streaming option in SFTPToGCSOperator
  providers/google/src/airflow/providers/google/cloud/hooks/gcs.py
  providers/google/src/airflow/providers/google/cloud/transfers/sftp_to_gcs.py
  providers/google/tests/unit/google/cloud/hooks/test_gcs.py
  providers/google/tests/unit/google/cloud/transfers/test_sftp_to_gcs.py
Labels: provider:google, area:providers

#48642 Fix css warnings and rearrange backfills column order
  airflow-core/src/airflow/ui/src/components/DataTable/TableList.tsx
  airflow-core/src/airflow/ui/src/layouts/Nav/PluginMenus.tsx
  airflow-core/src/airflow/ui/src/pages/Dag/Backfills/Backfills.tsx
Labels: area:UI

#48647 Fix missing change from task dependency default change
  airflow-core/src/airflow/ui/src/layouts/Details/PanelButtons.tsx
Labels: area:UI

#48637 Correct status code validation in `ServerResponseError.from_response`
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/tests/task_sdk/api/test_client.py
Labels: priority:low, area:task-sdk, affected_version:3.0.0beta

#48467 Fix mapped task xcom push
  airflow-core/src/airflow/example_dags/example_dynamic_task_mapping.py
  kubernetes_tests/test_kubernetes_executor.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
Labels: area:task-sdk

#46997 Add requires_result_fetch Configuration to SQLExecuteQueryOperator
  providers/common/sql/src/airflow/providers/common/sql/operators/sql.py
  providers/common/sql/tests/unit/common/sql/operators/test_sql.py
  providers/trino/tests/system/trino/example_trino.py
Labels: provider:common-sql

#48649 Remove change_sensor_mode_to_reschedule from base executor
  airflow-core/docs/core-concepts/executor/index.rst
  airflow-core/src/airflow/executors/base_executor.py
  airflow-core/src/airflow/ti_deps/deps/ready_to_reschedule.py
  providers/celery/src/airflow/providers/celery/executors/celery_kubernetes_executor.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/local_kubernetes_executor.py
  task-sdk/src/airflow/sdk/bases/sensor.py
Labels: area:Executors-core, area:task-sdk

#48654 Update helm chart release docs
  dev/README_RELEASE_HELM_CHART.md
Labels: area:dev-tools

#48653 Helm chart 1.16.0 has been released
  .github/ISSUE_TEMPLATE/airflow_helmchart_bug_report.yml
  chart/Chart.yaml
Labels: area:dev-tools, area:helm-chart

#48645 Move task count to title of mapped task summary header card
  airflow-core/src/airflow/ui/src/pages/MappedTaskInstance/Header.tsx
Labels: area:UI

#48655 Fix clearing of mapped task run
  airflow-core/src/airflow/api_fastapi/execution_api/routes/xcoms.py
Labels: area:API

#48632 Check for task concurrency parameters inside encoded object.
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/serialization/test_serialized_objects.py
Labels: area:serialization

#48641 breeze(doc/ci): fix spelling in Markdown
  dev/breeze/doc/ci/07_running_ci_locally.md
Labels: area:dev-tools

#48662 Correctly handle callback args in mapped operator
  task-sdk/src/airflow/sdk/bases/operator.py
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
  task-sdk/tests/task_sdk/definitions/test_mappedoperator.py
Labels: area:task-sdk

#48671 Tell mypy that pymssql.BINARY, etc have a .value
  providers/apache/hive/src/airflow/providers/apache/hive/transfers/mssql_to_hive.py
Labels: area:providers, provider:apache-hive

#48669 Fix local running of backcompat tests after we switched to UV
  scripts/ci/docker-compose/providers-and-tests-sources.yml
  scripts/in_container/install_airflow_and_providers.py
Labels: area:dev-tools

#48668 docs: Add recently supported Spark operators to OpenLineage docs
  devel-common/src/sphinx_exts/templates/openlineage.rst.jinja2
Labels: kind:documentation

#48656 Use localstorage to store the dag run limit between page refresh.
  airflow-core/src/airflow/ui/src/layouts/Details/DetailsLayout.tsx
  airflow-core/src/airflow/ui/src/layouts/Details/PanelButtons.tsx
Labels: area:UI

#48679 Fix datamodel codegen for airflow-ctl
  airflow-ctl/pyproject.toml
Labels: area:airflow-ctl

#48686 Fix MyPy failing on mssql Cursor
  providers/apache/hive/src/airflow/providers/apache/hive/transfers/mssql_to_hive.py
Labels: area:providers, provider:apache-hive

#48070 Remove FAB db manager as an `external_db_managers` default
  .github/actions/migration_tests/action.yml
  airflow-core/docs/img/airflow_erd.svg
  airflow-core/src/airflow/config_templates/config.yml
  airflow-core/src/airflow/dag_processing/collection.py
  airflow-core/src/airflow/utils/db.py
  airflow-core/src/airflow/utils/db_manager.py
  airflow-core/tests/unit/dag_processing/test_collection.py
  airflow-core/tests/unit/utils/test_db.py
  airflow-core/tests/unit/utils/test_db_manager.py
  dev/breeze/src/airflow_breeze/params/shell_params.py
  devel-common/src/tests_common/pytest_plugin.py
  devel-common/src/tests_common/test_utils/db.py
Labels: area:dev-tools, area:helm-chart

#48691 breeze: remove less user files when running breeze cleanup
  dev/breeze/src/airflow_breeze/commands/main_command.py
Labels: area:dev-tools

#48234 Update migration so we don't delete serialized dag from Airflow 2
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/docs/img/airflow_erd.svg
  airflow-core/src/airflow/migrations/versions/0047_3_0_0_add_dag_versioning.py
  airflow-core/src/airflow/migrations/versions/0050_3_0_0_add_dagbundlemodel.py
  airflow-core/src/airflow/models/dag_version.py
  airflow-core/src/airflow/models/dagcode.py
Labels: area:db-migrations

#48695 Optimize prettier config for SAM
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/.prettierignore
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/.prettierrc
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/requests/core/ApiError.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/requests/core/ApiRequestOptions.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/requests/core/OpenAPI.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/requests/core/request.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/package-lock.json
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/package.json
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/pnpm-lock.yaml
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/rules/core.js
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/rules/off.js
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/rules/perfectionist.js
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/rules/prettier.js
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/rules/react.js
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/rules/stylistic.js
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/rules/typescript.js
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/rules/unicorn.js
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/alert/Alert.tsx
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/alert/ErrorAlert.tsx
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/login/Login.test.tsx
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/login/Login.tsx
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/login/LoginForm.tsx
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/main.tsx
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/queries/useCreateToken.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/queryClient.ts
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/router.tsx
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/src/test-utils.tsx
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/tsconfig.app.json
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/tsconfig.dev.json
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/tsconfig.json
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/tsconfig.node.json
  airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/vite.config.ts
Labels: area:API

#48690 Default logical date in dag run trigger form
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
Labels: area:UI

#48704 Sort failed tasks in dag overview page
  airflow-core/src/airflow/ui/src/pages/Dag/Overview/Overview.tsx
Labels: area:UI

#48693 Make triggered_by nullable
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dag_run.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
Labels: area:API, area:UI

#48707 Fix git has_version check
  providers/git/src/airflow/providers/git/bundles/git.py
Labels: area:providers

#48702 add rahul vats to committers
  .asf.yaml
  airflow-core/docs/project.rst
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools, kind:documentation

#48708 Add minWidth to TruncatedText component
  airflow-core/src/airflow/ui/src/components/TruncatedText.tsx
Labels: area:UI

#48715 Fix case when no suffix is passed when building packages
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#48716 Make updated pyproject.toml output only on verbose/dry_run and fold
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#48723 Fixing some typos in airflow config command
  airflow-core/src/airflow/cli/commands/config_command.py
Labels: area:CLI

#48718 log ti_id when we get back a 404 or 409 on task heartbeat
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
Labels: area:task-sdk

#48726 Update .gitignore to exclude doc build generated files
  .gitignore
Labels: changelog:skip

#48403 Add a CLI command `airflow config update` to update the config changes from airflow 2.x to 3.
  airflow-core/src/airflow/cli/cli_config.py
  airflow-core/src/airflow/cli/commands/config_command.py
  airflow-core/src/airflow/configuration.py
  airflow-core/tests/unit/cli/commands/test_config_command.py
Labels: area:CLI

#48725 bring back pin_100.png that was mistakenly removed
  airflow-core/src/airflow/ui/public/pin_100.png
Labels: area:UI

#48688 refactor: logs SQL before execution in `ExasolHook`
  providers/exasol/src/airflow/providers/exasol/hooks/exasol.py
Labels: area:providers, provider:exasol

#48651 Make `ExternalTaskSensor` work with Task SDK
  airflow-core/src/airflow/api_fastapi/execution_api/routes/dag_runs.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/tests/conftest.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_dag_runs.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
  devel-common/src/tests_common/pytest_plugin.py
  providers/standard/src/airflow/providers/standard/sensors/external_task.py
  providers/standard/src/airflow/providers/standard/utils/sensor_helper.py
  providers/standard/tests/unit/standard/sensors/test_external_task_sensor.py
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/src/airflow/sdk/execution_time/comms.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/src/airflow/sdk/types.py
  task-sdk/tests/task_sdk/api/test_client.py
  task-sdk/tests/task_sdk/execution_time/test_supervisor.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Labels: area:providers, area:API, provider:standard, area:task-sdk

#48728 Allow quick manual runs without providing a logical date
  airflow-core/src/airflow/ui/src/components/TriggerDag/TriggerDAGForm.tsx
Labels: area:UI

#48705 Fix spacing and naming in AssetNode
  airflow-core/src/airflow/ui/src/components/Graph/AssetNode.tsx
Labels: area:UI

#48709 add baseurl to docs link
  airflow-core/src/airflow/ui/src/layouts/Nav/DocsButton.tsx
Labels: area:UI

#48717 Remove standard provider from chicken-egg providers
  dev/breeze/src/airflow_breeze/global_constants.py
Labels: area:dev-tools

#48507 Add DatabricksSQLStatementsOperator
  providers/databricks/docs/operators/sql_statements.rst
  providers/databricks/src/airflow/providers/databricks/hooks/databricks.py
  providers/databricks/src/airflow/providers/databricks/operators/databricks.py
  providers/databricks/src/airflow/providers/databricks/triggers/databricks.py
  providers/databricks/tests/system/databricks/example_databricks.py
  providers/databricks/tests/unit/databricks/hooks/test_databricks.py
  providers/databricks/tests/unit/databricks/operators/test_databricks.py
  providers/databricks/tests/unit/databricks/triggers/test_databricks.py
Labels: area:providers, provider:databricks

#48650 Implement triggering_asset_events in task sdk
  airflow-core/src/airflow/api_fastapi/execution_api/datamodels/taskinstance.py
  airflow-core/src/airflow/api_fastapi/execution_api/routes/task_instances.py
  airflow-core/src/airflow/models/asset.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/tests/unit/api_fastapi/execution_api/versions/head/test_task_instances.py
  devel-common/src/tests_common/pytest_plugin.py
  providers/openlineage/tests/unit/openlineage/extractors/test_manager.py
  providers/openlineage/tests/unit/openlineage/plugins/test_listener.py
  scripts/ci/pre_commit/check_template_context_variable_in_sync.py
  task-sdk/src/airflow/sdk/api/client.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
  task-sdk/src/airflow/sdk/execution_time/context.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/tests/conftest.py
  task-sdk/tests/task_sdk/api/test_client.py
  task-sdk/tests/task_sdk/execution_time/test_context.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Labels: area:API, area:task-execution-interface-aip72, area:task-sdk

#48743 Make zIndex of select to be greater than modal in fullscreen mode to display options.
  airflow-core/src/airflow/ui/src/pages/TaskInstance/Logs/TaskLogHeader.tsx
Labels: area:UI

#48742 Also update core version == in pyproject.toml when updating version
  scripts/ci/pre_commit/update_versions.py
Labels: area:dev-tools

#48745 Prepare documentation for FAB 2.0.0rc2 release
  dev/README_RELEASE_PROVIDERS.md
  providers/fab/docs/changelog.rst
  providers/fab/docs/commits.rst
  providers/fab/docs/index.rst
Labels: area:providers, area:dev-tools, kind:documentation, provider:fab

#48714 Fix deepcopy of read-only properties in BaseOperator
  task-sdk/src/airflow/sdk/bases/operator.py
Labels: area:task-sdk

#48652 Clarify the Redshift delete cluster operator messaging.
  providers/amazon/src/airflow/providers/amazon/aws/hooks/redshift_cluster.py
  providers/amazon/src/airflow/providers/amazon/aws/operators/redshift_cluster.py
  providers/amazon/tests/unit/amazon/aws/hooks/test_redshift_cluster.py
  providers/amazon/tests/unit/amazon/aws/operators/test_redshift_cluster.py
Labels: provider:amazon, area:providers

#48748 Allow writing Task SDK DAG in `serialized_dag` table
  airflow-core/src/airflow/models/serialized_dag.py
  airflow-core/tests/unit/models/test_serialized_dag.py
Labels: area:serialization

#48750 Add check to updating dag dependencies queryData
  airflow-core/src/airflow/ui/src/queries/useDependencyGraph.ts
Labels: area:UI

#48739 Remove print statement
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/assets.py
Labels: area:API

#48761 Fix grid when older cleared runs have removed TIs
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/grid.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_grid.py
Labels: area:API

#48763 Bump standard provider to 0.3.0
  providers/standard/README.rst
  providers/standard/docs/changelog.rst
  providers/standard/docs/commits.rst
  providers/standard/docs/index.rst
  providers/standard/provider.yaml
  providers/standard/pyproject.toml
  providers/standard/src/airflow/providers/standard/__init__.py
  providers/standard/src/airflow/providers/standard/get_provider_info.py
Labels: area:providers, kind:documentation, provider:standard

#48744 Keep graph interactions with options panel open
  airflow-core/src/airflow/ui/src/layouts/Details/PanelButtons.tsx
Labels: area:UI

#48756 Set download graph zoom to viewport zoom
  airflow-core/src/airflow/ui/src/components/Graph/DownloadButton.tsx
Labels: area:UI

#48754 Handle user deletion while being logged in in FAB auth manager
  providers/fab/src/airflow/providers/fab/auth_manager/fab_auth_manager.py
Labels: area:providers, provider:fab

#48766 Add fields missing from task_instance_history
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/src/airflow/migrations/versions/0065_3_0_0_add_new_otel_span_fields.py
Labels: kind:documentation, area:db-migrations, affected_version:3.0.0rc

#48771 Improve Grid endpoint response time
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/grid.py
Labels: area:API

#48751 scripts(python): fix spelling
  scripts/ci/pre_commit/check_deferrable_default.py
  scripts/ci/pre_commit/check_integrations_list.py
  scripts/ci/pre_commit/check_lazy_logging.py
  scripts/in_container/run_generate_constraints.py
  scripts/in_container/run_resource_check.py
Labels: area:dev-tools

#48779 Allow bundle_name and relative_fileloc to be None API response
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/dags.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
Labels: area:API, area:UI

#48778 Handle when existing TIs have no DagVersion
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/grid.py
  airflow-core/src/airflow/api_fastapi/core_api/services/ui/grid.py
Labels: area:API

#48776 Provide a helpful error message when unexpected serdag structure
  airflow-core/src/airflow/serialization/serialized_objects.py
Labels: area:serialization

#48783 [Edge] Edge worker reports hostname as task runner
  providers/edge/README.rst
  providers/edge/docs/changelog.rst
  providers/edge/provider.yaml
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/__init__.py
  providers/edge/src/airflow/providers/edge/cli/edge_command.py
  providers/edge/src/airflow/providers/edge/get_provider_info.py
Labels: area:providers, kind:documentation, provider:edge

#48678 Support root middleware from plugins
  airflow-core/docs/administration-and-deployment/plugins.rst
  airflow-core/src/airflow/api_fastapi/app.py
  airflow-core/src/airflow/api_fastapi/core_api/app.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/plugins.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow-core/src/airflow/plugins_manager.py
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/cli/commands/test_plugins_command.py
  airflow-core/tests/unit/plugins/test_plugin.py
  airflow-ctl/src/airflowctl/api/datamodels/generated.py
  airflow-ctl/tests/airflow_ctl/api/test_operations.py
  devel-common/src/tests_common/test_utils/mock_plugins.py
Labels: area:CLI, area:plugins, area:API, kind:documentation, area:UI, area:airflow-ctl

#48792 fix: remove use of get_inlet_defs and get_outlet_defs from OpenLineage
  providers/openlineage/src/airflow/providers/openlineage/extractors/manager.py
  providers/openlineage/tests/unit/openlineage/extractors/test_manager.py
Labels: area:providers, provider:openlineage

#48777 Fix the defaults for OTEL dag_run and task_instance attrs
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/src/airflow/migrations/versions/0065_3_0_0_add_new_otel_span_fields.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/src/airflow/models/taskinstancehistory.py
  airflow-core/tests/unit/api_fastapi/common/test_exceptions.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/models/test_dagrun.py
Labels: kind:documentation, area:db-migrations

#48770 Dev: Auto-update Airflow core version in release mgmt command
  dev/breeze/src/airflow_breeze/commands/release_management_commands.py
Labels: area:dev-tools

#48731 Remove extra slash character from file URI formation in `MetastoreHivePartitionSensor.poke` method.
  providers/google/src/airflow/providers/google/cloud/sensors/dataproc_metastore.py
  providers/google/tests/unit/google/cloud/sensors/test_dataproc_metastore.py
Labels: provider:google, area:providers

#48807 Fix bug in retrieving Connections from DB
  airflow-core/src/airflow/models/connection.py
  airflow-core/tests/unit/models/test_connection.py
Labels: affected_version:3.0.0rc

#48804 Add `ti` to the RemoteLogIO read and upload methods
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  airflow-core/src/airflow/logging/remote.py
  airflow-core/src/airflow/utils/log/file_task_handler.py
  providers/alibaba/src/airflow/providers/alibaba/cloud/log/oss_task_handler.py
  providers/amazon/src/airflow/providers/amazon/aws/log/cloudwatch_task_handler.py
  providers/amazon/src/airflow/providers/amazon/aws/log/s3_task_handler.py
  providers/google/src/airflow/providers/google/cloud/log/gcs_task_handler.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/log/wasb_task_handler.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/src/airflow/sdk/log.py
Labels: provider:google, provider:microsoft-azure, provider:amazon, area:providers, area:logging, provider:alibaba

#48808 Fix OL tests due to decorators move to std provider
  providers/openlineage/tests/unit/openlineage/utils/test_utils.py
Labels: area:providers, provider:openlineage

#48810 Update import in docs to use Task SDK objects
  airflow-core/docs/administration-and-deployment/logging-monitoring/callbacks.rst
  airflow-core/docs/authoring-and-scheduling/cron.rst
  airflow-core/docs/authoring-and-scheduling/deferring.rst
  airflow-core/docs/authoring-and-scheduling/dynamic-task-mapping.rst
  airflow-core/docs/authoring-and-scheduling/event-scheduling.rst
  airflow-core/docs/best-practices.rst
  airflow-core/docs/core-concepts/dag-run.rst
  airflow-core/docs/core-concepts/dags.rst
  airflow-core/docs/core-concepts/operators.rst
  airflow-core/docs/core-concepts/params.rst
  airflow-core/docs/core-concepts/variables.rst
  airflow-core/docs/faq.rst
  airflow-core/docs/howto/connection.rst
  airflow-core/docs/howto/custom-operator.rst
  airflow-core/docs/howto/define-extra-link.rst
  airflow-core/docs/howto/dynamic-dag-generation.rst
  airflow-core/docs/howto/notifications.rst
  airflow-core/docs/howto/timetable.rst
  airflow-core/docs/howto/variable.rst
  airflow-core/docs/index.rst
Labels: kind:documentation

#48813 Cleanup redundant hostname lookup and migrate to core hostname function.
  providers/edge/README.rst
  providers/edge/docs/changelog.rst
  providers/edge/provider.yaml
  providers/edge/pyproject.toml
  providers/edge/src/airflow/providers/edge/__init__.py
  providers/edge/src/airflow/providers/edge/cli/edge_command.py
  providers/edge/src/airflow/providers/edge/get_provider_info.py
Labels: area:providers, kind:documentation, provider:edge

#48803 Handle when dag code record is missing
  airflow-core/src/airflow/api_fastapi/core_api/routes/public/dag_sources.py
  airflow-core/src/airflow/models/dagcode.py
  airflow-core/src/airflow/ui/src/pages/Dag/Code/Code.tsx
  airflow-core/tests/unit/core/test_configuration.py
Labels: area:API

#48822 Docs: Use `BaseSensorOperator` from Task SDK
  airflow-core/docs/authoring-and-scheduling/deferring.rst
  airflow-core/docs/tutorial/taskflow.rst
  airflow-core/src/airflow/example_dags/example_sensor_decorator.py
  airflow-core/tests/unit/models/test_taskinstance.py
  task-sdk/src/airflow/sdk/__init__.py
Labels: kind:documentation, area:task-sdk

#48790 Use dag details response for schedule since recent dagruns returns empty response for dag with no dagrun
  airflow-core/src/airflow/ui/src/pages/Dag/Dag.tsx
Labels: area:UI

#48648 Fix bug where op_args was not being serialized to lists for Python operators
  airflow-core/src/airflow/serialization/helpers.py
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_task_instances.py
  airflow-core/tests/unit/models/test_renderedtifields.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Labels: area:serialization

#48812 Remove remnants of backtracking timeout/candidates
  dev/breeze/doc/images/output_ci-image_build.svg
  dev/breeze/doc/images/output_ci-image_build.txt
  dev/breeze/src/airflow_breeze/commands/ci_image_commands.py
  dev/breeze/src/airflow_breeze/commands/ci_image_commands_config.py
Labels: area:dev-tools

#48817 Cleanup: Remove redundant code
  airflow-core/src/airflow/utils/api_migration.py
  airflow-core/src/airflow/utils/cli.py
  airflow-core/src/airflow/utils/configuration.py
  airflow-core/src/airflow/utils/db.py
  airflow-core/src/airflow/utils/docs.py
  airflow-core/src/airflow/utils/helpers.py
  airflow-core/src/airflow/utils/mixins.py
  airflow-core/src/airflow/utils/sqlalchemy.py
  airflow-core/src/airflow/utils/task_group.py
  airflow-core/tests/unit/utils/test_helpers.py
  airflow-core/tests/unit/utils/test_task_group.py
  task-sdk/src/airflow/sdk/definitions/dag.py
Labels: area:core-operators, area:task-sdk

#48589 Updated msgraph-core and kiota libraries
  providers/microsoft/azure/README.rst
  providers/microsoft/azure/pyproject.toml
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/get_provider_info.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/hooks/msgraph.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/operators/msgraph.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/sensors/msgraph.py
  providers/microsoft/azure/src/airflow/providers/microsoft/azure/triggers/msgraph.py
  providers/microsoft/azure/tests/unit/microsoft/azure/hooks/test_msgraph.py
Labels: provider:microsoft-azure, area:providers

#48826 No need to exclude executor_config specifically for KE
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
Labels: area:providers, provider:cncf-kubernetes

#48830 Remove old comment about excluding `executor_config`
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
Labels: area:providers, provider:cncf-kubernetes

#48831 Clarifying procedure for adding new triage team members
  .asf.yaml
  ISSUE_TRIAGE_PROCESS.rst
Labels: area:dev-tools

#48794 Allow bundle_name to be None API response
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/import_error.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/tests/unit/api_fastapi/core_api/routes/public/test_import_error.py
Labels: area:API, area:UI

#48814 Update Edge Provider docs prior 1.0.0 release
  providers/edge/docs/edge_executor.rst
  providers/edge/docs/img/worker_hosts.png
  providers/edge/docs/img/worker_maintenance.png
  providers/edge/docs/install_on_windows.rst
Labels: area:providers, kind:documentation, provider:edge

#48815 fix path of `Building documentation`
  contributing-docs/README.rst
Labels: area:dev-tools

#48818 Remove `AbstractOperator` from `airflow/models`
  airflow-core/src/airflow/models/abstractoperator.py
  airflow-core/src/airflow/models/baseoperator.py
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/models/dagrun.py
  airflow-core/src/airflow/models/mappedoperator.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/src/airflow/ti_deps/deps/trigger_rule_dep.py
  airflow-core/tests/unit/models/test_baseoperator.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/models/test_mappedoperator.py
  airflow-core/tests/unit/models/test_taskinstance.py
  task-sdk/src/airflow/sdk/definitions/_internal/abstractoperator.py
  task-sdk/src/airflow/sdk/definitions/_internal/node.py
  task-sdk/src/airflow/sdk/definitions/_internal/types.py
  task-sdk/src/airflow/sdk/definitions/mappedoperator.py
  task-sdk/src/airflow/sdk/definitions/taskgroup.py
Labels: area:task-sdk

#48821 fix: use pydantic model for edge worker registration response
  providers/edge/src/airflow/providers/edge/cli/api_client.py
  providers/edge/src/airflow/providers/edge/cli/edge_command.py
  providers/edge/src/airflow/providers/edge/openapi/edge_worker_api_v1.yaml
  providers/edge/src/airflow/providers/edge/worker_api/datamodels.py
  providers/edge/src/airflow/providers/edge/worker_api/routes/_v2_routes.py
  providers/edge/src/airflow/providers/edge/worker_api/routes/worker.py
  providers/edge/tests/unit/edge/cli/test_edge_command.py
Labels: area:providers, provider:edge

#48829 Having the entire stacktrace can be confusing
  airflow-ctl/src/airflowctl/api/client.py
Labels: area:airflow-ctl

#48840 Fix missing namespace check for providers __init__.py
  scripts/ci/pre_commit/check_providers_subpackages_all_have_init.py
Labels: area:dev-tools

#48834 Mask sensitive values from conn & variables in task runner & DAG parsing
  airflow-core/src/airflow/models/connection.py
  airflow-core/src/airflow/models/variable.py
  airflow-core/tests/unit/hooks/test_base.py
  airflow-core/tests/unit/models/test_connection.py
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
Labels: area:task-sdk

#48680 Fix discord and slack provider icon url
  providers/discord/src/airflow/providers/discord/notifications/discord.py
  providers/slack/src/airflow/providers/slack/notifications/slack.py
  providers/slack/src/airflow/providers/slack/operators/slack.py
  providers/slack/tests/system/slack/example_slack.py
  providers/slack/tests/system/slack/example_slack_webhook.py
  providers/slack/tests/unit/slack/notifications/test_slack.py
  providers/slack/tests/unit/slack/operators/test_slack.py
Labels: area:providers, provider:slack, provider:discord

#48839 Migration to update dag_run.run_type value to 'asset_triggered'
  airflow-core/docs/img/airflow_erd.sha256
  airflow-core/docs/migrations-ref.rst
  airflow-core/src/airflow/migrations/versions/0066_3_0_0_rename_dataset_triggered_to_asset_triggered.py
  airflow-core/src/airflow/utils/db.py
Labels: kind:documentation, area:db-migrations

#48843 Change provider-specific dependencies to refer to providers
  airflow-core/pyproject.toml
  providers/amazon/README.rst
  providers/amazon/pyproject.toml
  providers/amazon/src/airflow/providers/amazon/get_provider_info.py
Labels: provider:amazon, area:providers, canary

#48846 Remove accidentally added print
  airflow-core/tests/unit/hooks/test_base.py
Labels: area:core-operators

#48848 Fixing the react ternary for UI not displaying DAG code
  airflow-core/src/airflow/ui/src/pages/Dag/Code/Code.tsx
Labels: area:UI

#48847 Update tests to not use hard-coded autoinc ID values
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/jobs/test_triggerer_job.py
  airflow-core/tests/unit/models/test_trigger.py
Labels: area:Scheduler, area:Triggerer

#48736 Cleanup of the updated test-type workflows
  .github/workflows/ci.yml
  .github/workflows/special-tests.yml
  dev/breeze/doc/ci/04_selective_checks.md
  dev/breeze/src/airflow_breeze/global_constants.py
  dev/breeze/src/airflow_breeze/utils/selective_checks.py
  dev/breeze/tests/test_selective_checks.py
Labels: area:dev-tools

#48851 Fix headers in contribution documentation about docs building
  contributing-docs/11_documentation_building.rst
Labels: area:dev-tools

#48700 Bump helm version in docs due to break statement
  chart/docs/index.rst
Labels: area:helm-chart, kind:documentation

#48644 Implements configs page
  airflow-core/src/airflow/ui/src/layouts/Nav/AdminButton.tsx
  airflow-core/src/airflow/ui/src/pages/Configs/Configs.tsx
  airflow-core/src/airflow/ui/src/pages/Configs/index.ts
  airflow-core/src/airflow/ui/src/router.tsx
Labels: area:UI

#48797 [Edge][Metrics] Removed state metric and added maintenance and connected metric
  providers/edge/src/airflow/providers/edge/models/edge_worker.py
Labels: area:providers, provider:edge

#47602 Switch asset decorator to use the DAG class in SDK
  task-sdk/src/airflow/sdk/definitions/asset/decorators.py
  task-sdk/tests/task_sdk/definitions/test_asset_decorators.py
Labels: area:task-sdk

#48873 fix(ui): fix broken input field string
  airflow-core/src/airflow/ui/src/components/FlexibleForm/FieldString.tsx
Labels: area:UI

#48762 Add single endpoint to retrieve menu information
  airflow-core/src/airflow/api_fastapi/common/types.py
  airflow-core/src/airflow/api_fastapi/core_api/datamodels/ui/auth.py
  airflow-core/src/airflow/api_fastapi/core_api/openapi/v1-generated.yaml
  airflow-core/src/airflow/api_fastapi/core_api/routes/ui/auth.py
  airflow-core/src/airflow/ui/openapi-gen/queries/common.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/ensureQueryData.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/prefetch.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/queries.ts
  airflow-core/src/airflow/ui/openapi-gen/queries/suspense.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/schemas.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/services.gen.ts
  airflow-core/src/airflow/ui/openapi-gen/requests/types.gen.ts
  airflow-core/src/airflow/ui/src/layouts/Nav/SecurityButton.tsx
  airflow-core/src/airflow/ui/src/pages/Security.tsx
  airflow-core/tests/unit/api_fastapi/core_api/routes/ui/test_auth.py
  providers/fab/src/airflow/providers/fab/auth_manager/fab_auth_manager.py
  providers/fab/tests/unit/fab/auth_manager/test_fab_auth_manager.py
Labels: area:API, area:UI

#48872 Update Amazon RDS Operators and Sensors to inherit AWS Base classes
  providers/amazon/docs/operators/rds.rst
  providers/amazon/src/airflow/providers/amazon/aws/operators/rds.py
  providers/amazon/src/airflow/providers/amazon/aws/sensors/rds.py
  providers/amazon/tests/unit/amazon/aws/operators/test_rds.py
  providers/amazon/tests/unit/amazon/aws/sensors/test_rds.py
Labels: provider:amazon, area:providers, kind:documentation

#48883 Fix/broken UI inputs
  airflow-core/src/airflow/ui/src/components/FlexibleForm/FieldDateTime.tsx
  airflow-core/src/airflow/ui/src/components/FlexibleForm/FieldNumber.tsx
Labels: area:UI

#48699 Enable task sdk for system tests
  Dockerfile.ci
  airflow-core/src/airflow/executors/workloads.py
  airflow-core/src/airflow/models/dag.py
  dev/breeze/src/airflow_breeze/commands/testing_commands.py
  dev/breeze/src/airflow_breeze/utils/run_tests.py
  devel-common/src/tests_common/pytest_plugin.py
  scripts/docker/entrypoint_ci.sh
Labels: area:dev-tools, area:Executors-core

#48513 Update ECS executor to support Task SDK
  providers/amazon/src/airflow/providers/amazon/aws/executors/ecs/ecs_executor.py
  providers/amazon/tests/unit/amazon/aws/executors/ecs/test_ecs_executor.py
  providers/cncf/kubernetes/src/airflow/providers/cncf/kubernetes/executors/kubernetes_executor_utils.py
  providers/cncf/kubernetes/tests/unit/cncf/kubernetes/test_pod_generator.py
  task-sdk/src/airflow/sdk/execution_time/execute_workload.py
Labels: provider:amazon, area:providers, provider:cncf-kubernetes, area:task-sdk

#48880 Change Trigger<->Supervisor communication to avoid stalls
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  airflow-core/tests/unit/jobs/test_triggerer_job.py
  task-sdk/pyproject.toml
  task-sdk/src/airflow/sdk/execution_time/supervisor.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
Labels: area:Triggerer, area:task-execution-interface-aip72, area:task-sdk, affected_version:3.0.0rc

#48889 Fix too big size of fab provider
  dev/breeze/src/airflow_breeze/prepare_providers/provider_distributions.py
Labels: area:dev-tools

#48733 docs: fix typo in breeze shell command
  contributing-docs/testing/unit_tests.rst
Labels: area:dev-tools

#48894 Make "TaskInstance" we send between executor and workers resilient to change
  airflow-core/src/airflow/api_fastapi/execution_api/datamodels/taskinstance.py
  task-sdk/src/airflow/sdk/api/datamodels/_generated.py
Labels: area:API, area:task-sdk, affected_version:3.0.0rc

#48468 Add Bedrock Batch Inference Operator and accompanying parts
  providers/amazon/docs/operators/bedrock.rst
  providers/amazon/src/airflow/providers/amazon/aws/operators/bedrock.py
  providers/amazon/src/airflow/providers/amazon/aws/sensors/bedrock.py
  providers/amazon/src/airflow/providers/amazon/aws/triggers/bedrock.py
  providers/amazon/src/airflow/providers/amazon/aws/waiters/bedrock.json
  providers/amazon/tests/system/amazon/aws/example_bedrock_batch_inference.py
  providers/amazon/tests/unit/amazon/aws/operators/test_bedrock.py
  providers/amazon/tests/unit/amazon/aws/sensors/test_bedrock.py
  providers/amazon/tests/unit/amazon/aws/triggers/test_bedrock.py
  providers/amazon/tests/unit/amazon/aws/waiters/test_bedrock.py
Labels: provider:amazon, area:providers

#48884 Grid collapse/expand all
  airflow-core/src/airflow/ui/src/layouts/Details/Grid/Grid.tsx
Labels: area:UI

#48898 Apply configuration defined in `webserver_config.py` to Flask config
  providers/fab/src/airflow/providers/fab/www/app.py
Labels: area:providers, provider:fab

#48899 docs: update screenshots, improve clarity and flow (home page)
  airflow-core/docs/img/demo_dag_overview_with_failed_tasks.png
  airflow-core/docs/img/demo_graph_and_code_view.png
  airflow-core/docs/img/demo_graph_view.png
  airflow-core/docs/img/demo_grid_view.png
  airflow-core/docs/img/demo_grid_view_with_task_logs.png
  airflow-core/docs/index.rst
Labels: kind:documentation

#48867 Optimistically activate assets on addition
  airflow-core/src/airflow/dag_processing/collection.py
  airflow-core/src/airflow/jobs/scheduler_job_runner.py
  airflow-core/src/airflow/models/dag.py
  airflow-core/src/airflow/serialization/serialized_objects.py
  airflow-core/tests/unit/dag_processing/test_collection.py
  airflow-core/tests/unit/jobs/test_scheduler_job.py
  airflow-core/tests/unit/models/test_dag.py
  airflow-core/tests/unit/models/test_taskinstance.py
Labels: area:Scheduler, area:DAG-processing

#48706 fix: overwrite `get-uri` for `MySQL`
  providers/mysql/src/airflow/providers/mysql/hooks/mysql.py
  providers/mysql/tests/unit/mysql/hooks/test_mysql.py
Labels: area:providers, provider:mysql

#48908 Call class-level pre_ and post_execute
  airflow-core/src/airflow/models/baseoperator.py
  airflow-core/src/airflow/models/taskinstance.py
  airflow-core/tests/unit/models/test_baseoperator.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
Labels: area:task-sdk

#48795 fix(serialized_dag): skip asset dag dep when the asset ref cannot be resolved into a valid asset
  airflow-core/src/airflow/models/serialized_dag.py
Labels: area:serialization

#48747 Fix dagstate trigger to work with TaskSDK
  airflow-core/src/airflow/exceptions.py
  airflow-core/src/airflow/jobs/triggerer_job_runner.py
  airflow-core/tests/unit/jobs/test_triggerer_job.py
  providers/standard/src/airflow/providers/standard/operators/trigger_dagrun.py
  providers/standard/src/airflow/providers/standard/triggers/external_task.py
  providers/standard/tests/unit/standard/operators/test_trigger_dagrun.py
  providers/standard/tests/unit/standard/triggers/test_external_task.py
  task-sdk/src/airflow/sdk/execution_time/task_runner.py
  task-sdk/src/airflow/sdk/types.py
  task-sdk/tests/task_sdk/execution_time/test_task_runner.py
Labels: area:providers, area:Triggerer, provider:standard, area:task-sdk

#48861 Small fixes for system tests in google-provider
  providers/google/tests/system/google/cloud/cloud_build/example_cloud_build.py
  providers/google/tests/system/google/cloud/dataflow/example_dataflow_native_java.py
  providers/google/tests/system/google/cloud/dataplex/example_dataplex_catalog.py
Labels: provider:google, area:providers

#48895 Workaround the problem with flit not excluding ignored files
  dev/breeze/src/airflow_breeze/prepare_providers/provider_distributions.py
Labels: area:dev-tools

#48925 Un-skip `test_mapped_xcom_push_skipped_tasks` test
  task-sdk/tests/task_sdk/definitions/test_mappedoperator.py
Labels: area:task-sdk
